<?php require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>
<head>
    <meta charset="UTF-8">
    <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php'); ?>
    <link rel="stylesheet" type="text/css" href="/utils/reports.css">
    <link rel="stylesheet" href="/utils/bootstrap-3.3.6-dist/css/bootstrap.min.css" />
    <script src="/utils/bootstrap-3.3.6-dist/js/bootstrap.min.js" ></script>
    <link rel="stylesheet" href="/utils/font-awesome-4.7.0/css/font-awesome.css" />
    <!--<link rel="stylesheet" type="text/css" href="/utils/reports.css">
    <link rel="stylesheet" type="text/css" href="/utils/jquery/css/chosen/chosen.css">-->
</head>
<div id="content">
    <div id="right">
        <center><h1>Caixa Fixo</h1></center>
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title pull-left" style="padding-top: 7.5px;">
                    <i class="fa fa-search" aria-hidden="true"></i>
                    Pesquisar Contas.
                </h3>
                <?php if(isset($_SESSION['permissoes']['financeiro']['financeiro_conta_pagar_receber']['financeiro_conta_pagar_receber_caixa_fixo']['financeiro_conta_pagar_receber_caixa_fixo_nova']) || $_SESSION['adm_user'] == 1) { ?>
                <div class="btn-group pull-right">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Nova Conta
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="/financeiros/caixa-fixo/?action=caixa-fixo-criar-conta&tipo=S" target="_blank">Saída</a></li>
                        <li><a href="/financeiros/caixa-fixo/?action=caixa-fixo-criar-conta&tipo=E" target="_blank">Entrada</a></li>
                    </ul>
                </div>
                <?php }?>
            </div>
            <div class="panel-body" id="div-pesquisar-caixa-fixo">
                <form method="POST" action="/financeiros/caixa-fixo/?action=pesquisar-caixa-fixo">
                    <div class="row">
                        <div class="col-xs-6">
                            <label for="fornecedor">Fornecedor:</label>
                            <select name="fornecedor" id="fornecedor" class="form-control OBG_CHOSEN chosen-select" >
                                <option value="" selected>Selecione...</option>
                                <?php foreach($fornecedores as $fornecedor): $inativo = $fornecedor['ATIVO'] == "N" ? '(INATIVO)': '';
                                 $inativo = $fornecedor['ATIVO'] == "N" ? '(INATIVO)': '';
                                $styleInativo = $fornecedor['ATIVO'] == "N" ? 'red': '';
                                $cpfCnpjFornecedor = $fornecedor['FISICA_JURIDICA'] == 1 ? $fornecedor['cnpj'] : $fornecedor['CPF'];
                                
                            ?>
                                   <option <?= isset($filtros['fornecedor']) && $filtros['fornecedor'] == $fornecedor['idFornecedores'] ? "selected" : "" ?> value="<?= $fornecedor['idFornecedores'] ?>" style="color:<?=$styleInativo?>"><?= $inativo.' '.$cpfCnpjFornecedor.'-'.strtoupper($fornecedor['nome']) ?></option>
                                <?php endforeach; ?>
                            </select>
                        </div>
                        <div class="col-xs-6">
                            <label for="tipo-documento-financeiro">Tipo:</label>
                            <select name="tipo_documento" id="tipo-documento-financeiro" class="form-control OBG_CHOSEN chosen-select">
                                <option value="" selected>Selecione...</option>
                                <?php foreach($tiposDocumentoFinanceiro as $tipoDocFin): ?>
                                    <option <?= isset($filtros['tipo_documento_financeiro']) && $filtros['tipo_documento_financeiro'] == $tipoDocFin['id'] ? "selected" : "" ?> value="<?= $tipoDocFin['id'] ?>"><?= strtoupper($tipoDocFin['sigla']) ?> - <?= strtoupper($tipoDocFin['descricao']) ?> </option>
                                <?php endforeach; ?>
                            </select>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label for="inicio">Emissão Inicio:</label>
                                <input name="inicio" id="inicio" type="date" class="form-control " value='<?= isset($filtros['inicio'])  ? $filtros['inicio'] : "" ?>' >
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label for="fim">Emissão Fim:</label>
                                <input name="fim"  id="fim" type="date" class="form-control " value='<?= isset($filtros['fim'])  ? $filtros['fim'] : "" ?>' >
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <label for="">Pagamento de</label>
                            <input id='inicioPagamento' type='date' name='inicioPagamento' class="form-control"  value='<?= isset($filtros['inicioPagamento'])  ? $filtros['inicioPagamento'] : "" ?>' />
                        </div>
                        <div class="col-xs-3">
                            <label for="">Pagamento até</label>
                            <input id='fimPagamento' type='date' name='fimPagamento' class="form-control"  value='<?= isset($filtros['fimPagamento'])  ? $filtros['fimPagamento'] : "" ?>' />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <label>TR:</label>
                            <input type='text' name='tr' id='tr' class="form-control"   value='<?= isset($filtros['tr'])  ? $filtros['tr'] : "" ?>' />
                        </div>
                        <div class="col-xs-6">
                            <label>Histórico contém:</label>
                            <input type='text' name='descricaoNota' id='descricaoNota' class="form-control"  value='<?= isset($filtros['descricaoNota'])  ? $filtros['descricaoNota'] : "" ?>'  />
                        </div>   
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label for="competencia-inicio">Competência Inicio:</label>
                                <input name="competencia_inicio" id="competencia-inicio" type="text" class="form-control mes-ano" value='<?= isset($filtros['competencia_inicio'])  ? $filtros['competencia_inicio'] : "" ?>'>
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label for="competencia-fim">Competência Fim:</label>
                                <input name="competencia_fim"  id="competencia-fim" type="text" class="form-control mes-ano" value='<?= isset($filtros['competencia_fim'])  ? $filtros['competencia_fim'] : "" ?>'>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-xs-12 text-center row">
                            <button type="submit" class="btn btn-primary" id="pesquisar-caixa-fixo">
                                <span class='ui-button-text'>Pesquisar</span>
                            </button>
                            &nbsp;&nbsp;
                            <a  href="/financeiros"
                                style="color: white;"
                                class='btn btn-warning' >
                                Voltar
                            </a>
                        </div>
                    </div>
                </form>
                <br>

            </div>
        </div>

        <div class="row">
            <?php if(!empty($response)): ?>
                <div class="col-xs-12">
                    <div class="caixa-fixo-container-busca" style="overflow-x: auto">
                        <table class='table table-striped table-bordered' width='100%'>
                            <thead>
                            <tr>  
                                <th>TR</th>
                                <th>N°</th>
                                <th>Fornecedor</th>
                                <th>Valor</th>
                                <th>Emissão</th>
                                <th>Pagamento</th>                               
                                <th>Natureza</th>
                                <th>Tipo</th>
                                <th>Tipo Documento</th>
                                <th>Empresa</th>
                                <th>Status</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody id="tbody-fatura-nota">
                            <?php foreach($response as $resp): ?>
                                <tr>
                                    <td><?= $resp['trNota'] ?></td>
                                    <td><?= $resp['codigo'] ?></td>
                                    <td><?= $resp['nome_fornecedor'] ?></td>
                                    <td><?= number_format($resp['valor'], 2, ',', '.') ?></td>                                    
                                    <td><?= $resp['data_emissao'] ?></td>
                                    <td><?= $resp['data_pg'] ?></td>
                                    <td><?= $resp['N4'] ?></td>
                                    <td><?= $resp['tipo_NF'] ?></td>
                                    <td><?= $resp['sigla'] ?></td>
                                    <td><?= $resp['ur'] ?></td>
                                    <td><?= $resp['status'] ?></td>
                                    <td>
                                        <div class="dropdown">
                                            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                                                Opções
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-right">
                                                <li>
                                                    <a href="/financeiros/caixa-fixo/?action=caixa-fixo-visualizar-conta&id=<?= $resp['trNota'] ?>" target="_blank">
                                                        <i class='fa fa-list'></i>
                                                        Visualizar 
                                                    </a>
                                                </li>
                                                <?php 
                                                $dataFechamento = new \DateTime($data_fechamento);
                                                $entrada = new \DateTime($rep['dataEntrada']);
                                                
                                                
                                                if($resp['CONCILIADO'] != 'S' && $dataFechamento < $entrada  && $resp['status'] != 'Cancelada'  ){ ?>
                                                     <?php                                                      
                                                      
                                                        if(isset($_SESSION['permissoes']['financeiro']['financeiro_conta_pagar_receber']['financeiro_conta_pagar_receber_caixa_fixo']['financeiro_conta_pagar_receber_caixa_fixo_editar']) || $_SESSION['adm_user'] == 1) { ?>
                                                            <li>
                                                                <a href="/financeiros/caixa-fixo/?action=caixa-fixo-editar-conta&id=<?= $resp['trNota'] ?>" target="_blank" >
                                                                    <i class='fa fa-edit'></i>
                                                                    Editar
                                                                </a>
                                                            </li>
                                                        <?php }?>
                                                        <?php if(isset($_SESSION['permissoes']['financeiro']
                                                                    ['financeiro_conta_pagar_receber']['financeiro_conta_pagar_receber_caixa_fixo']
                                                                    ['financeiro_conta_pagar_receber_caixa_fixo_cancelar']) || $_SESSION['adm_user'] == 1) { ?>
                                                        <li>
                                                            <a href="#" class="caixa-fixo-cancelar-nota" id-nota="<?= $resp['trNota'] ?>"> 
                                                                <i class='fa fa-times'></i>
                                                                Cancelar
                                                            </a>
                                                        </li>
                                                    <?php }
                                                         ?>      
                                                                                                 
                                                    
                                                    
                                                    <?php } ?>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            <?php endforeach; ?>
                            </tbody>
                        </table>
                    </div>
                </div>
                <?php require __DIR__ . '/modal-dados-baixa.phtml' ?>
                <?php require __DIR__ . '/modal-cancelar-notas.phtml' ?>
            <?php else:?>
                <div class="col-xs-12 ">
                    <div class="text-center alert alert-danger">
                        Nenhuma Conta encontrada para os filtros escolhidos.
                    </div>
                </div>
            <?php endif; ?>
        </div>
    </div>
    <div id="left">
        <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
    </div>
</div>
<script type="text/javascript" src="/financeiros/caixa-fixo/js/main.js?v=1.4"></script>
<script type="text/javascript" src="/utils/bower_components/moment/moment.js"></script>
<script type="text/javascript" src="/utils/jquery/js/chosen.jquery.min.js"></script>
<script type="text/javascript" src="/utils/jquery/js/voltar.js"></script>
<script type="text/javascript" src="/utils/jquery/js/validar_campos.js"></script>

</body>
</html>