<!-- Modal -->
<?php
$fechamento_caixa = \App\Controllers\FechamentoCaixa::getFechamentoCaixa();
$interval = new \DateInterval('P1D');
$data_fechamento_obj = \DateTime::createFromFormat('Y-m-d', $fechamento_caixa['data_fechamento'])->add($interval);
$data_fechamento = $data_fechamento_obj->format('Y-m-d');
?>
<div class="modal fade" id="modal-baixar-nota" tabindex="-1" role="dialog" aria-labelledby="modalBaixarNotaLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="modalBaixarNotaLabel">Dados da Baixa</h4>
            </div>
            <div class="modal-body form-horizontal">
                <form id="form-dados-baixa">
                    <div id="div-dados-baixa">
                        <input type="hidden" id="data-fechamento" name ="data_fechamento" value="<?= $data_fechamento ?>">
                        <input type="hidden" id="nota-id-baixa" name ="nota_id_baixa"  value="">
                        <input type="hidden" id="parcela-id-baixa" name ="parcela_id_baixa"  value="">
                        <input type="hidden" id="valor-maximo-baixar" name ="valor_maximo_baixar" value="">
                        <div class="row">
                        <div class="col-md-6">
                                <label for="">Valor Conta:</label>                        
                                <span id="valor-conta"></span>
                            </div>
                            <div class="col-md-6">
                                <label for="">Valor Compensado:</label>  
                                <span id="valor-compensado"></span>                     
                                
                            </div>
                        </div>
                        
                        <div class="row">
                        <div class="col-md-6">
                                <label for="">Valor:</label>                        
                                <input type="text" name="valor"   class="form-control OBG valor" value="">
                            </div>
                            <div class="col-md-6">
                                <label for="">Data Pagamento</label>                        
                                <input type="date" name="data_pagamento" min="<?= $data_fechamento ?>" id="data-pagamento" class="form-control OBG" value="<?= $hoje ?>">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="origem">Origem:</label>
                                <select name="origem" id="origem" class="form-control chosen-select OBG_CHOSEN" >
                                    <option value="" selected>Selecione...</option>
                                    <?php foreach($origens as $origem): ?>
                                        <option <?= isset($response['origem']) && $response['origem'] == $origem['id']  ? "selected": "" ?> value="<?= $origem['id'] ?>"><?= strtoupper($origem['nome_conta']) ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>  
                            <div class="col-md-6">
                                <label for="forma_pagamento">Forma Pagamento:</label>
                                <select name="forma_pagamento" id="forma_pagamento" class="form-control chosen-select OBG_CHOSEN" >
                                    <option value="" selected>Selecione...</option>
                                    <?php foreach($aplicacoes as $aplicacao): ?>
                                        <option <?= isset($response['aplicacao']) && $response['aplicacao'] == $aplicacao['id']  ? "selected": "" ?> value="<?= $aplicacao['id'] ?>"><?= mb_strtoupper($aplicacao['forma'],'UTF-8') ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>                        
                        </div> 
                        <div class="row"> 
                            <div class="col-md-6">                          
                                <label for="">Nº Documento</label>                        
                                <input type="text" name="numero_documento" id="numero-nota" class="form-control ">
                            </div>            
                            
                            
                        </div>
                        
                        
                        <div class="row">
                            <div class="col-md-12">
                                <label for="">Descrição</label>                        
                                <textarea name="descricao" style="text-transform: uppercase" id="descricao" cols="10" rows="3" class="form-control OBG"></textarea>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-12 text-center">
                                    <button type="button" class="btn btn-success" id="salvar-baixa-conta-antecipada">Salvar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning " data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
