<!-- Modal -->
<style>
    .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
        background-color: #eee;
    }
</style>
<div class="modal fade" id="modal-cancelar-nota" tabindex="-1" role="dialog" aria-labelledby="modalCancelarNotaLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="modalCancelarNotaLabel">Cancelar Conta Antecipação</h4>
            </div>
            <div class="modal-body">
                <div class="row" id="div-modal-cancelar-nota">
                    <form id='form-cancelar-nota'>
                        <div class="form-group col-md-12">
                            <label for="">Motivo:</label>   
                            <input type='hidden' value="" id='id-nota-cancelar' name='id_nota_cancelar'>                     
                            <textarea name="motivo" id="motivo" cols="10" rows="3"  class="form-control OBG" required></textarea>                    
                            
                        </div>
                    </form>
                    <div class="col-lg-12 text-center">
                        <button type="button" class="btn btn-success" data-dismiss="modal" id="salvar-cancelamento-nota" >Salvar</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
