<head>
    <meta charset="UTF-8">    
    
    <script src="/utils/bootstrap-3.3.6-dist/js/bootstrap.min.js" ></script>
    
</head>

<table border=1 cellspacing=0 cellpadding=2 bordercolor="666633" width='100%'>
    <tr bgcolor='#EEEEEE'>
        <td colspan='9' style = "font-size:20px"><b>Relatório Fluxo de Caixa</b></td>
    </tr>
    <tr>
        <td colspan='3'><b>Período de:</b> <?= $inicio?> até <?= $fim?></td>        
        <td colspan='3'><b>Tipo:</b> <?= $tipo?></td>   
        <td colspan='3'><b>Status:</b> <?= strtoupper($status)?></td> </td>       
    </tr>
    <tr>
    
    <tr>        
        <td colspan='6'><b>Emitido por:</b> <?= $emitidoPor?></td>
        <td colspan='3'><b>Emitido em:</b> <?= $emitidoEm?></td>
    </tr> 
   
    
</table>
<br>
<br>
<table>
<?php foreach ($saldosTipoConta as $saldo): ?>
                    <tr>
                        <td><?=$saldo['nome']?></td>
                        <td> R$ <?= number_format($saldo['saldo_entrada'] - $saldo['saldo_saida'], 2, ',', '.') ?></td>
                    </tr>
                <?php endforeach; ?>
<tr>
    <td colspan='2' >Saldo acumulado: <?= number_format($saldoAcumulado, 2, ',', '.') ?></td>
</tr>
</table>
<br>

<table border=1 cellspacing=0 cellpadding=2 bordercolor="666633" width='100%'>
<thead>
    
</thead>
<tbody id="tbody-bordero">
<?php 

foreach($responseArray as $key => $r):
    $cont = 0;
    ?>
    <tr bgcolor='#cccccc'>
    <th><?= $data['tipo'] == 'diario' ? 'Dia' : 'Mês' ?></th>
    <th>Entrada</th>
    <th>Saida</th>
    <th>Saldo do <?= $data['tipo'] == 'diario' ? 'Dia' : 'Mês' ?></th>
    <th>Saldo acumulado</th>                                  
    </tr>
<tr  bgcolor='#cccccc'>  
    <td> <?= $key ?></td>
    <td>
        <?= number_format($r['saldo_entrada'], 2, ',', '.') ?>
    </td>
    <td>
        <?= number_format($r['saldo_saida'], 2, ',', '.') ?>
    </td>
    <td>
        <?= number_format($r['saldo_dia'], 2, ',', '.') ?>
    </td>
    <td>
        <?= number_format($r['saldo_acumulado'], 2, ',', '.') ?>
        <i fluxo="<?= $key ?>" style="cursor: pointer;"
            class="fa fa-caret-square-o-down show-fluxo-caixa pull-right"></i>
    </td>
</tr>
<tr>
    <td colspan="5">
    <table class='table ' width='100%'>
    <thead>
        <tr bgcolor='#cccccc'>
            <th>Status</th>
            <th>Tipo</th>
            <?php if($data['tipo'] == 'mensal'):?>
                <th>Data</th>
            <?php endif;?>
            <th>Empresa</th>
            <th>TR</th>
            <th>Cod Nota</th>
            <th>Tipo Doc.</th>                                                                
            <th>Fornecedor</th>
            <th>Valor</th>                                    
            <th>Natureza</th>
        </tr>
    </thead>
    <tbody>
    <?php foreach ($r['entrada'] as $k => $entrada):
        if( $cont % 2 == 0 ){
            $cor = '';
        }else{
            $cor="bgcolor='#EEEEEE'";
        } 
        $cont++;
        ?>      

    <tr <?=$cor?>>
    <td><?= $entrada['status_item'] ?></td>
        <td>Entrada</td>
        <?php if($data['tipo'] == 'mensal'):?>
                <td><?=$entrada['vencimento_br']?></td>
            <?php endif;?>
        <td><?= $entrada['empresa'] ?></td>
        <td><?= $entrada['tr'] ?></td>
        <td><?= $entrada['cod_nota'] ?></td>
        <td><?= $entrada['tipo_documento'] ?></td>
        <td><?=$entrada['cpf_cnpj'] .' '. $entrada['fornecedor'] ?></td>
        <td><?=  number_format($entrada['valor'], 2, ',', '.') ?></td>
        <td><?= $entrada['natureza'] ?></td>                                    
    </tr>
    <?php endforeach; 
    foreach ($r['saida'] as $k => $saida):
        if( $cont % 2 == 0 ){
            $cor = '';
        }else{
            $cor="bgcolor='#EEEEEE'";
        } 
        $cont++;
    ?> 
    <tr <?=$cor?>>
    <td><?= $entrada['status_item'] ?></td>
    <td>Saída</td>
    <?php if($data['tipo'] == 'mensal'):?>
                <td><?=$entrada['vencimento_br']?></td>
            <?php endif;?>
        <td><?= $saida['empresa'] ?></td>
        <td><?= $saida['tr'] ?></td>
        <td><?= $saida['cod_nota'] ?></td>
        <td><?= $saida['tipo_documento'] ?></td>
        <td><?=$saida['cpf_cnpj'] .' '. $saida['fornecedor'] ?></td>
        <td><?=  number_format($saida['valor'], 2, ',', '.') ?></td>
        <td><?= $saida['natureza'] ?></td>                                    
</tr>
<?php endforeach; ?>

    </tbody>
    </table>
    </td>
</tr>
<?php endforeach; ?>
    <tr>
        <td><b>Total</b></td>
        <td><b><?=number_format($entradasPeriodo, 2, ',', '.')?></b></td>
        <td><b><?=number_format($saidasPeriodo, 2, ',', '.')?></b></td>
        <td colspan ='3'></td>
    </tr>
</tbody>
</table>