<?php require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>
<head>
    <meta charset="UTF-8">
    <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php'); ?>
    <!-- <link rel="stylesheet" type="text/css" href="/utils/reports.css"> -->
    <link rel="stylesheet" href="/utils/bootstrap-3.3.6-dist/css/bootstrap.min.css" />
    <script src="/utils/bootstrap-3.3.6-dist/js/bootstrap.min.js" ></script>
    <link rel="stylesheet" href="/utils/font-awesome-4.7.0/css/font-awesome.css" />
</head>
<div id="content">
    <div id="right">
        <center><h1>Relatório de Juros e Desconto baixados no período</h1></center>
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title pull-left" style="padding-top: 7.5px;">
                    <i class="fa fa-search" aria-hidden="true"></i>
                    Filtrar
                </h3>
            </div>
            <div class="panel-body" id="div-pesquisar-juros-desconto">
                <form method="post" id="form-pesquisar-juros-desconto" action="/financeiros/relatorios/?action=pesquisar-juros-desconto">
                    <div class="row">
                    <div class="col-xs-4">
                            <div class="form-group">
                                <label for="">Tipo nota:</label>
                                <select class="form-control" name = 'tipo_nota'>
                                    <option  value = ''></option>
                                    <option <?= isset($data['tipo_nota']) && $data['tipo_nota'] == 1 ? 'selected' : '' ?> value = '1' >Desembolso</option>
                                    <option <?= isset($data['tipo_nota']) && $data['tipo_nota'] == '0' ? 'selected' : '' ?> value = '0' >Recebimento</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="">Data Pagamento de:</label>
                                <input name="inicio" id="inicio" type="date" required class="form-control OBG col-xs-6" value='<?= isset($data['inicio']) ? $data['inicio'] : '' ?>'>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="">Data Pagamento até:</label>
                                <input name="fim" id="fim" type="date"  required class="form-control OBG col-xs-6" value='<?= isset($data['fim']) ? $data['fim'] : '' ?>'>
                            </div>
                        </div>
                    </div>
                    <br>

                    <div class="col-xs-12 text-center">
                        <button type="submit" id="pesquisar-juros-desconto" class="btn btn-primary" >
                            <span class='ui-button-text'>Pesquisar</span>
                        </button>
                        &nbsp;&nbsp;
                        <a  href="/financeiros"
                            style="color: white;"
                            class='btn btn-warning' >
                            Voltar
                        </a>
                    </div>
                </form>
                <br>
            </div>
        </div>
        <style>
            .textpx10 {
                font-size: 10px;
                }
        </style>
       

        <div class="row">
            <?php if(!empty($parcelas)): ?>
                <div class="col-xs-12 text-right">
                        <a  href="/financeiros/relatorios/?action=excel-relatorio-juros-desconto&inicio=<?= $data['inicio'] ?>&fim=<?= $data['fim'] ?>&tipo_nota=<?= $data['tipo_nota'] ?>"
                            target="_blank"
                            style="position: relative; float: right;"
                            class='btn btn-success'>
                            <i class="fa fa-file-excel-o"></i> Exportar Excel
                        </a>
                    </div>
                
                    <div class="col-xs-12 div-notas-emitidas" style="overflow: auto; height: 500px !important;">

                    <table class='table table-striped table-bordered' width='100%'>
                        <thead>
                        <tr>
                            <th>TR</th>
                            <th>Tipo</th>
                            <th>Juros</th>
                            <th>Encargos Financeiro.</th>
                            <th>Tarifas Adicionais</th>
                            <th>Desconto</th>
                            <th>Data Pagamento</th>
                            <th>Fornecedor</th>
                            <th>Natureza Principal</th>
                            <th>Empresa Principal</th>
                            <th>Setor</th>
                            
                        </tr>
                        </thead>
                        <tbody id="tbody-bordero">
                        <?php
                        $total = 0;
                        foreach($parcelas as $p):
                           
                            ?>
                            <tr>
                                <td>
                                    <?=$p['TR']?>                                   
                                </td>
                                <td class='textpx10' >
                                    
                               <span class="label <?=$p['label']?>"><?=$p['tipo_nota']?></span>                             
                                </td>
                                <td>
                                     <?=number_format($p['juros'], 2, ',', '.')?>                                    
                                </td>
                                <td>
                                     <?=number_format($p['encargos'], 2, ',', '.')?>                                    
                                </td>
                                <td>
                                     <?=number_format($p['tarifas'], 2, ',', '.')?>                                    
                                </td>
                                <td>
                                     <?=number_format($p['desconto'], 2, ',', '.')?>                                    
                                </td>
                                <td>
                                     <?=$p['data_processada']?>                                    
                                </td>
                                <td class='textpx10' > 
                                     <?=$p['fornecedor']?>                                   
                                </td>
                                <td class='textpx10'>
                                     <?=$p['natureza_principal']?>                                    
                                </td>
                                <td class='textpx10'>
                                    <?=$p['empresa_nota']?>
                                </td>
                                <td class='textpx10'>
                                    <?=implode('<br>',$p['setor_empresa'])?>
                                </td>
                                
                            </tr>
                           
                        <?php endforeach; ?>
                        
                        </tbody>
                    </table>
                </div>
            <?php else:?>
                <div class="col-xs-12 text-center">
                    <div class="alert alert-warning">
                        <b>Nenhum parcela encontrada para os filtros escolhidos.</b>
                    </div>
                </div>
            <?php endif; ?>
        </div>
    </div>
    <div id="left">
        <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
    </div>
</div>
<script type="text/javascript" src="/utils/jquery/js/chosen.jquery.min.js"></script>
<script type="text/javascript" src="/financeiros/relatorios/templates/posicao-fornecedores/js/main.js?v=1"></script>
</body>
</html>