<?php require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php';
function dateFormatBR($source, $tipo)
{
    if ($tipo == 'diario')
        return \DateTime::createFromFormat('Y-m-d', $source)->format('d/m/Y');
     else
        return \DateTime::createFromFormat('Y-m', $source)->format('m/Y');
}

?>


<head>
    <meta charset="UTF-8">
    <!-- Adicione nosso componente React. -->


    <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php');
    ?>
    <!-- <link rel="stylesheet" type="text/css" href="/utils/reports.css"> -->
    <link rel="stylesheet" href="/utils/bootstrap-3.3.6-dist/css/bootstrap.min.css"/>
    <script src="/utils/bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/utils/font-awesome-4.7.0/css/font-awesome.css"/>



</head>
<div id="content">
    <div id="right">
        <center><h1>Relatório de Fluxo de Caixa Projetado</h1></center>

        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title pull-left" style="padding-top: 7.5px;">
                    <i class="fa fa-search" aria-hidden="true"></i>
                    Filtrar
                </h3>

            </div>




            <div id="like_button_container"></div>
            <div class="panel-body" id="div-pesquisar-juros-desconto">
                <form method="POST" id="form-pesquisar-juros-desconto"
                      action="/financeiros/relatorios/?action=pesquisar-relatorio-fluxo-caixa">

                    <div class="row">
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label for="tipo">Tipo</label>
                                <select name="tipo" id="tipo" required class="form-control">
                                    <option <?= isset($data['tipo']) && $data['tipo'] == 'diario' ? 'selected' : '' ?>
                                            value="diario">Diário
                                    </option>
                                    <option <?= isset($data['tipo']) && $data['tipo'] == 'mensal' ? 'selected' : '' ?>
                                            value="mensal">Mensal
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <label for="contas">Filiais:</label>
                            <select name="filiais[]" id="filiais" multiple class="form-control chosen-select"
                                    data-placeholder="Selecione uma ou mais filial...">
                                <?php foreach ($unidades as $unidade): ?>
                                    <option <?= isset($filtros['filiais']) && in_array($unidade['id'], $filtros['filiais']) ? "selected" : "" ?>
                                            value="<?= $unidade['id'] ?>">
                                        <?= strtoupper($unidade['nome']) ?>
                                    </option>
                                <?php endforeach; ?>
                            </select>
                        </div>
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label for="data_inicio">Início:</label>
                                <input name="data_inicio" min="<?= date("Y-m-d") ?>" disabled id="indata_inicioicio"
                                       type="date" required class="form-control OBG col-xs-6"
                                       value='<?= isset($data['inicio']) ? $data['inicio'] : date("Y-m-d") ?>'>
                                <input type="hidden" name="inicio" value="<?= date("Y-m-d") ?>">
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label for="">Fim:</label>
                                <input name="fim" id="fim" min="<?= date("Y-m-d") ?>" type="date" required
                                       class="form-control OBG col-xs-6"
                                       value='<?= isset($data['fim']) ? $data['fim'] : date("Y-m-d") ?>'>
                            </div>
                        </div>


                    </div>
                    <br>
                    <div class="col-xs-12 text-center">
                        <button type="submit" id="pesquisar-juros-desconto" class="btn btn-primary">
                            <span class='ui-button-text'>Pesquisar</span>
                        </button>
                        &nbsp;&nbsp;
                        <a href="/financeiros"
                           style="color: white;"
                           class='btn btn-warning'>
                            Voltar
                        </a>
                    </div>
                </form>
                <br>
            </div>
        </div>
        <style>
            .textpx10 {
                font-size: 10px;
            }
        </style>


        <div class="row">
            <?php if (!empty($responseArray)): ?>
                <div class="col-xs-9 text-left">
                <table class='table table-striped table-bordered' width='100%'>
                        <thead>
                        <tr>
                            <th>Tipo</th>
                            <th>Saldo</th>
                        </tr>
                        <thead>
                <?php foreach ($saldosTipoConta as $saldo): ?>
                    <tr>
                        <td><?=$saldo['nome']?></td>
                        <td> R$ <?= number_format($saldo['saldo_entrada'] - $saldo['saldo_saida'], 2, ',', '.') ?></td>
                    </tr>
                <?php endforeach; ?>
               
                </table>
                    <div>
                        <h4>Saldo Total Acumulado: R$ <?= number_format($saldoAcumulado, 2, ',', '.') ?></h4>
                    </div>
                </div>
                <div class="col-xs-3 text-right">
                    <a href="/financeiros/relatorios/?action=excel-relatorio-fluxo-caixa&inicio=<?= $data['inicio'] ?>&fim=<?= $data['fim'] ?>&tipo=<?= $data['tipo'] ?>&filiais=<?= implode('+', $filtros['filiais']) ?>"
                       target="_blank"
                       style="position: relative; float: right;"
                       class='btn btn-success'>
                        <i class="fa fa-file-excel-o"></i> Exportar Excel
                    </a>
                </div>

                <div class="col-xs-12 div-notas-emitidas" style="overflow: auto; height: 500px !important;">


                    <table class='table table-striped table-bordered' width='100%'>
                        <thead>
                        <tr>
                            <th><?= $data['tipo'] == 'diario' ? 'Dia' : 'Mês' ?></th>
                            <th>Entrada</th>
                            <th>Saida</th>
                            <th>Saldo do <?= $data['tipo'] == 'diario' ? 'Dia' : 'Mês' ?></th>
                            <th>Saldo acumulado</th>
                            <th>Ação</th>

                        </tr>
                        </thead>
                        <tbody id="tbody-bordero">
                        <?php
                        $total = 0;
                        foreach ($responseArray as $key => $r):
                            $auxEntrada = 0;
                            $auxSaida = 0;

                            ?>
                            <tr>
                                <td> <?= dateFormatBR($key, $data['tipo']) ?></td>
                                <td>
                                    <?= number_format($r['saldo_entrada'], 2, ',', '.') ?>
                                </td>
                                <td>
                                    <?= number_format($r['saldo_saida'], 2, ',', '.') ?>
                                </td>
                                <td>
                                    <?= number_format($r['saldo_dia'], 2, ',', '.') ?>
                                </td>
                                <td>
                                    <?= number_format($r['saldo_acumulado'], 2, ',', '.') ?>
                                </td>
                                <td>

                                    <div class="btn-group btn-group-xs text-center">
                                        <?php if (isset($r['entrada']) && count($r['entrada']) > 0): ?>
                                            <button type="button" data-key="<?= $key ?>"
                                                    class="btn btn-xs btn-primary show-fluxo-caixa mostrar-dados-entrada">
                                                Entrada
                                            </button>
                                        <?php endif ?>
                                        <?php if (isset($r['saida']) && count($r['saida']) > 0): ?>
                                            <button type="button" data-key="<?= $key ?>"
                                                    class="btn btn-xs btn-default show-fluxo-caixa mostrar-dados-saida">
                                                Saída
                                            </button>
                                        <?php endif ?>
                                        <button type="button" data-key="<?= $key ?>"
                                                class="btn btn-xs btn-default esconder esconder-<?= $key ?>">
                                            <i fluxo="<?= $key ?>" style="cursor: pointer;"
                                               class="fa fa-caret-square-o-up"></i>
                                        </button>
                                    </div>

                                    <!--                            <i fluxo="--><? //= $key
                                    ?><!--" style="cursor: pointer;"-->
                                    <!--                               class="fa fa-caret-square-o-down show-fluxo-caixa pull-right"></i>-->
                                </td>

                            </tr>


                            <tr class="fluxo-<?= $key ?>" style="display: none;">
                                <td colspan="6">
                                    <?php if (count($r['entrada']) > 0): ?>
                                        <div class="entrada-<?= $key ?>" style="display: none">
                                            <div><h4>Entrada</h4></div>
                                            <table class='table table-striped table-bordered' width='100%'>
                                                <thead>
                                                <tr>
                                                    <th>Empresa</th>
                                                    <th>TR</th>
                                                    <th>Cod Nota</th>
                                                    <th>Tipo</th>
                                                    <th>Fornecedor</th>
                                                    <th>Valor</th>
                                                    <th>Natureza</th>
                                                </tr>
                                                </thead>
                                                <tbody>

                                                <?php foreach ($r['entrada'] as $k => $entrada): ?>
                                                    <tr>
                                                        <td><?= $entrada['empresa'] ?></td>
                                                        <td><?= $entrada['tr'] ?></td>
                                                        <td><?= $entrada['cod_nota'] ?></td>
                                                        <td><?= $entrada['tipo_documento'] ?></td>
                                                        <td><?= $entrada['cpf_cnpj'] . ' ' . $entrada['fornecedor'] ?></td>
                                                        <td><?= number_format($entrada['valor'], 2, ',', '.') ?></td>
                                                        <td><?= $entrada['natureza'] ?></td>
                                                    </tr>

                                                <?php endforeach; ?>
                                                </tbody>
                                            </table>
                                        </div>
                                    <?php endif; ?>
                                    <?php if (count($r['saida']) > 0): ?>
                                        <div class="saida-<?= $key ?>" style="display: none">
                                            <div><h4>Saída</h4></div>
                                            <table class='table table-striped table-bordered' width='100%'>
                                                <thead>
                                                <tr>
                                                    <th>Empresa</th>
                                                    <th>TR</th>
                                                    <th>Cod Nota</th>
                                                    <th>Tipo</th>
                                                    <th>Fornecedor</th>
                                                    <th>Valor</th>
                                                    <th>Natureza</th>
                                                </tr>
                                                </thead>
                                                <tbody>

                                                <?php foreach ($r['saida'] as $k => $saida): ?>
                                                    <tr>
                                                        <td><?= $saida['empresa'] ?></td>
                                                        <td><?= $saida['tr'] ?></td>
                                                        <td><?= $saida['cod_nota'] ?></td>
                                                        <td><?= $saida['tipo_documento'] ?></td>
                                                        <td><?= $saida['cpf_cnpj'] . ' ' . $saida['fornecedor'] ?></td>
                                                        <td><?= number_format($saida['valor'], 2, ',', '.') ?></td>
                                                        <td><?= $saida['natureza'] ?></td>
                                                    </tr>

                                                <?php endforeach; ?>
                                                </tbody>
                                            </table>
                                        </div>
                                    <?php endif; ?>
                                </td>
                            </tr>


                        <?php endforeach; ?>
                        <tr>
                        <td><b>Total</b></td>
                        <td><b><?=number_format($entradasPeriodo, 2, ',', '.')?></b></td>
                        <td><b><?=number_format($saidasPeriodo, 2, ',', '.')?></b></td>
                        <td colspan ='3'></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            <?php else: ?>
                <div class="col-xs-12 text-center">
                    <div class="alert alert-warning">
                        <b>Nenhum parcela encontrada para os filtros escolhidos.</b>
                    </div>
                </div>
            <?php endif; ?>
        </div>
    </div>
    <div id="left">
        <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
    </div>
</div>

<script type="text/javascript" src="/utils/jquery/js/chosen.jquery.min.js"></script>
<script type="text/javascript" src="/financeiros/relatorios/templates/fluxo-de-caixa/js/main.js?v=1"></script>

<style type="text/css">
    .mostrar-row-table {
        display: table-row;
    }
</style>
</body>
</html>