.table-managerial-values .mvtable .level-1,
.table-managerial-values .mvtable .level-2,
.table-managerial-values .mvtable .level-3 {
  height: 39px;
}

.table-managerial-values .mvtable .level-1_green {
  background: #accdae;

}
.table-managerial-values .mvtable .level-1_blue {
  background:#9abedd;
}
.table-managerial-values .mvtable .level-1_yellow {
  background: #ffcc5c;
}

#containerDiv.table-managerial-values.full-screen {
  padding-top:0;
  padding-left:0;
}

#containerDiv.table-managerial-values.not-full-screen {
  height: 60vh; 
}

#MVTableHead,#MVTableHead > th#MvTableHeadMonth,th#MvTableHeadButtons {
  background-color: #FFF;
  position: sticky;
  top:0;
}
#MVTableHead,#MvTableHead > th#MvTableHeadMonth {
  z-index: 1;
}
th#MvTableHeadButtons {
  z-index: 2;
  left: 0;
}

.table-managerial-values {
  overflow-x: auto;
  .mvfirst-column {
    width: 300px;
  }
  p {
    margin: 0;
  }
  .mvtable {
    tbody {
      tr {
        td {
          vertical-align: inherit;
          //padding: 0 8px;
        }
        td.mvheadcol.cell-one {
          position: sticky;
          left: 0;
        }
      }
    }
  }

  .tr-th-mvheader.mvheadcol,
  .mvheadcol.cell-one {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  th.mvfirst-column.tr-th-mvheader.mvheadcol {
    width: 400px;
  }

  .mvheadcol {
    width: 400px;
    border-top: 1px solid #79a26d;

    .head__col-box {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      .head__col-name {
        width: calc(100% - 20px);
        text-align: left;
        padding-left: 20px;
      }

      div:first-child {
        width: 20px;
      }
    }
    &.mvfirst-column-level-one {
      div:first-child {
        position: relative;
        left: -8px;
      }
    }
  }
}

/* style.css*/
@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  animation-name: zoomIn;
}

@keyframes zoomOut {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  to {
    opacity: 0;
  }
}
