@charset "utf-8";


#main_container {
	width:100%;
	background-color:#ffffff; /* DO NOT REMOVE THIS; or you'll have issue w/ the scrollbar, when the mouse pointer is on a white space */
	overflow-x: hidden;
	overflow-y: scroll;
	height:100%;	/* this will make sure that the height will extend at the bottom */
	position:absolute; /* container div must be absolute, for our fixed bar to work */
}