.table-financial-budget .table .level-1,
.table-financial-budget .table .level-2,
.table-financial-budget .table .level-3 {
  height: 39px;
}

.table-financial-budget .table .level-1_green {
  background: #accdae;

}
.table-financial-budget .table .level-1_blue {
  background:#9abedd;
}
.table-financial-budget .table .level-1_yellow {
  background: #ffcc5c;
}

#outerdiv.table-financial-budget.full-screen {
  padding-top:0;
  padding-left:0;
  
  
}
#outerdiv.table-financial-budget.not-full-screen {
  height: 60vh;
  .headcol {
    left: 0;   
  }
  
}

#FinancialTableHead,#FinancialTableHead > th#FinancialTableHeadMonth,th#FinancialTableHeadButtons {
  background-color: #FFF;
  position: sticky;
  top:0;
}
#FinancialTableHead,#FinancialTableHead > th#FinancialTableHeadMonth {
  z-index: 1;
}
th#FinancialTableHeadButtons {
  z-index: 2;
  left: 0;
}

.table-financial-budget {
  overflow: auto;
  .first-column {
    width: 300px;
  }
  p {
    margin: 0;
  }
  .table {
    tbody {
      tr {
        td {
          vertical-align: inherit;
          
          //padding: 0 8px;
        }
        td.headcol.cell-one {
          position: sticky;
          left: 0;
        }
      }
    }
  }

  .tr-th-header.headcol,
  .headcol.cell-one {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  th.first-column.tr-th-header.headcol {
    width: 400px;
  }

  .headcol {
    position: absolute;
    width: 400px;
    top: auto;
    border-top: 1px solid #79a26d;

    .head__col-box {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      .head__col-name {
        width: calc(100% - 20px);
        text-align: left;
        padding-left: 20px;
      }

      div:first-child {
        width: 20px;
      }
    }
    &.first-column-level-one {
      div:first-child {
        position: relative;
        left: -8px;
      }
    }
  }
}


/* style.css*/
@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  animation-name: zoomIn;
}

@keyframes zoomOut {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  to {
    opacity: 0;
  }
}
