<?php require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>
<head>
    <meta charset="UTF-8">
    <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php'); ?>
    <link rel="stylesheet" type="text/css" href="/utils/reports.css">
    <link rel="stylesheet" href="/utils/bootstrap-3.3.6-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/utils/font-awesome-4.7.0/css/font-awesome.css" />
</head>
<div id="content">
    <div id="right">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title pull-left" style="padding-top: 7.5px;">
                    <i class="fa fa-search" aria-hidden="true"></i> Buscar Saídas Internas
                </h3>
            </div>
            <div class="panel-body">
                <form method="post" action="/logistica/relatorios/?action=relatorio-saida-interna">
                    <?php

                    if($_SESSION['empresa_principal'] == '1'): ?>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for="periodo">UR:</label>
                                <select name="ur[]" data-placeholder="Escolha as URs..." class="form-control chosen-select" multiple style="width: 100%;">
                                    <option value="">TODOS</option>
                                    <?php foreach($urs as $ur): ?>
                                        <option <?= isset($urBusca) && in_array($ur['id'], $urBusca) ? "selected" : "" ?> value="<?= $ur['id'] ?>"><?= strtoupper($ur['nome']) ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </div>
                    </div>
                    <?php endif; ?>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for="periodo">Filtrar por:</label>
                                <select name="filtrarPor" class="form-control" style="width: 100%;">
                                    <option <?= isset($filtrarPor) && $filtrarPor == 'VD' ? 'selected' : '' ?> value="VD">VENCIDOS/DESCARTE</option>
                                    <option <?= isset($filtrarPor) && $filtrarPor == 'SC' ? 'selected' : '' ?> value="SC">SAÍDA PARA A COLABORADORES</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="periodo">Inicio:</label>
                                <input name="inicio" type="date" class="form-control" value='<?= isset($inicio)  ? $inicio : "" ?>' required>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="periodo">Fim:</label>
                                <input name="fim" type="date" class="form-control" value='<?= isset($fim) ? $fim : "" ?>' required>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <div class="form-group">
                                <button type="submit" class='ui-button ui-widget ui-corner-all ui-button-text-only ui-state-hover' >
                                    <span class='ui-button-text'>Pesquisar</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-12">
                <?php
                if(isset($response)):
                    if(empty($response)):
                        ?>
                        <h4 class="text-center">Nenhum resultado encontrado.</h4>
                        <?php
                    else:
                        ?>
                        <h5 style="color: darkred;"><strong>* O relatório é ordenado pela data de saída mais recente.</strong></h5>
                        <a href="/logistica/relatorios/?action=excel-relatorio-saida-interna&inicio=<?= $inicio ?>&fim=<?= $fim ?>&ur=<?= implode('+', $urBusca) ?>&filtrarpor=<?= $filtrarPor ?>"
                           target="_blank"
                           style="float: right;"
                           title="Exportar para Planilha Excel">
                            <img src="/utils/new-icons/excel-2013.ico" width="32">
                        </a>
                        <table class='table table-striped'>
                            <thead>
                            <tr>
                                <th width="<?= $filtrarPor == 'VD' ? '50%' : '30%' ?>">Item</th>
                                <th>Data Saída</th>
                                <th>Quantidade</th>

                                    <th>UR</th>
                                <?php

                                if($filtrarPor == 'VD'): ?>
                                    <th>Vencimento Em</th>

                                <?php else: ?>
                                    <th>Colaborador</th>

                                <?php endif; ?>
                                <th>Custo Uni.</th>
                                <th>Custo Tot.</th>
                            </tr>
                            </thead>
                            <tbody>
                            <?php
                            $total = 0;
                            foreach($response as $row):
                                $total += $row['custo']*$row['qtd'];
                                ?>
                                <tr>
                                    <td><?= $row['item'] ?></td>
                                    <td><?= \DateTime::createFromFormat('Y-m-d', $row['dataSaida'])->format('d/m/Y') ?></td>
                                    <td><?= $row['qtd'] ?></td>

                                        <td><?= $row['ur'] ?></td>
                                        <?php

                                    if($filtrarPor == 'VD'): ?>
                                        <td><?= \DateTime::createFromFormat('Y-m-d', $row['vencimento'])->format('d/m/Y') ?></td>

                                    <?php else: ?>
                                        <td><?= strtoupper($row['colaborador']) ?></td>

                                    <?php endif; ?>
                                    <td><?= \App\Helpers\StringHelper::currencyFormat($row['custo']) ?></td>
                                    <td><?= \App\Helpers\StringHelper::currencyFormat($row['custo']*$row['qtd']) ?></td>
                                </tr>
                                <?php
                            endforeach;
                            ?>
                            <tr>
                                <td colspan="6" align="right" ><b>Custo Total dos Itens:</b></td>
                                <td><b><?= \App\Helpers\StringHelper::currencyFormat($total) ?></b></td>

                            </tr>
                            </tbody>
                        </table>
                        <?php
                    endif;
                endif;
                ?>
            </div>
        </div>
    </div>

    <div id="left">
        <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
    </div>
</div>
<script type="text/javascript" src="/remocao/js/main.js?v=2.1"></script>
</body>
</html>