<?php
if(isset($response)):
    if(empty($response)):
        ?>
        <h4 class="text-center">Nenhum resultado encontrado.</h4>
        <?php
    else:
        ?>
<table border="1px" bordercolor="#0000">
    <thead>
    <tr >
        <th colspan="7" >
            Sa&iacute;das Internas de
            <?= $inicio->format('d/m/Y') ?> &agrave;
            <?= $fim->format('d/m/Y') ?>
        </th>
    </tr>
    <tr>
        <th width="<?= $filtrarPor == 'VD' ? '50%' : '30%' ?>">Item</th>
        <th>Data Sa&iacute;da</th>
        <th>Quantidade</th>

            <th>UR</th>
            <?php

        if($filtrarPor == 'VD'): ?>
            <th>Vencimento Em</th>
        <?php else: ?>
            <th>Colaborador</th>
        <?php endif; ?>
        <th>Custo Uni.</th>
        <th>Custo Tot.</th>
    </tr>
    </thead>
    <tbody>
    <?php
    $total = 0;
    foreach($response as $row):
        $total += $row['custo']*$row['qtd'];
        ?>
        <tr>
            <td><?= htmlentities(strip_tags($row['item'])) ?></td>
            <td><?= \DateTime::createFromFormat('Y-m-d', $row['dataSaida'])->format('d/m/Y') ?></td>
            <td><?= $row['qtd'] ?></td>
                <td><?= htmlentities($row['ur']) ?></td>
            <?php  if($filtrarPor == 'VD'): ?>
                <td><?= \DateTime::createFromFormat('Y-m-d', $row['vencimento'])->format('d/m/Y') ?></td>
            <?php else: ?>
                <td><?= htmlentities(strtoupper($row['colaborador'])) ?></td>

            <?php endif; ?>
            <td><?= \App\Helpers\StringHelper::currencyFormat($row['custo']) ?></td>
            <td><?= \App\Helpers\StringHelper::currencyFormat($row['custo']*$row['qtd']) ?></td>
        </tr>
        <?php
    endforeach;
    ?>
    <tr>
        <td colspan="6" align="right" ><b>Custo Total dos Itens:</b></td>
        <td><b><?= \App\Helpers\StringHelper::currencyFormat($total) ?></b></td>

    </tr>
    </tbody>
</table>
<?php
    endif;
endif;