<?php require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>
<head>

    <meta charset="UTF-8">
    <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php'); ?>
    <link rel="stylesheet" type="text/css" href="/utils/reports.css">
    <link rel="stylesheet" href="/utils/bootstrap-3.3.6-dist/css/bootstrap.min.css" />
    <script src="/utils/bootstrap-3.3.6-dist/js/bootstrap.min.js" ></script>
    <link rel="stylesheet" href="/utils/font-awesome-4.7.0/css/font-awesome.css" />


</head>
<div id="content">
    <div id="right">
        <legend> Pedidos com itens enviados e ainda não confirmados.</legend>
        <form method="post" enctype="multipart/form-data"  action="/logistica/PedidosInternos/?action=buscarPedidosEnviadosENaoConfirmados">
            <div id="busca">
                 <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group col-lg-6">
                            <label class="control-label" for="empresa">Unidade Regional:</label>
                            <select name="empresa" id="empresa" class="form-control chosen-select OBG_CHOSEN ">
                                <option selected disabled value="">Selecione...</option>
                                <?php  foreach($empresas as $ur): ?>
                                    <option <?= isset($empresaId) && $empresaId == $ur['id'] ? 'selected': '' ?> value="<?= $ur['id'] ?>" > <?= mb_strtoupper($ur['nome'],'UTF-8') ?></option>
                                <?php endforeach; ?>
                            </select>
                        </div>

                    </div>
                </div>
                <div id="row">
                    <div class="col-lg-12 text-center">
                        <button type="submit" id="buscar-pedidos-enviados-nao-confirmados" class='btn btn-primary' >
                           Buscar
                        </button>
                    </div>
                </div>
            </div>
        </form>
        <br>
        <?php
            if(isset($empresaId) && isset($pedidos) ){     ?>
                <br>
                <hr>
                <? if(empty($pedidos)){ ?>
                    <div class="alert alert-warning" role="alert">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        Nenhum pedido encontrado para essa Unidade Regional.
                    </div>
                <?}else { ?>
                    <? foreach ($pedidos as $row) {
                        if($row)
                        ?>

                        <div
                            style='border:1px solid #fff;width:240px;display:table;float:left;margin:0 auto;padding:15px; font-size:12px;'>
                            <table width='100%'>
                                <tr>
                                    <td>
                                        <center>
                                            <form method="GET" target="_blank"
                                                action="/logistica/PedidosInternos/">
                        <input type="hidden" name="action" value="formCancelarItensNaoConfirmados">
                        <input type="hidden" name="pedido_id" value="<?= $row['ID'] ?>">
                                                <button type="submit" class='entrada_pedido' p='<?= $row['ID'] ?>'></button>
                                            </form>
                                        </center>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <center><b> PEDIDO N&deg;<?= strtoUpper($row['ID']) ?></b></center>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <center style='font-size:9px;'>(<?= strtoUpper($row['nome']) ?>)</center>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <center><?= $row['DATA'] ?></center>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <center style='font-size:9px;'><?= $row['hora'] ?></center>
                                    </td>
                                </tr>
                                </tr>
                                <tr>
                                    <td>
                                        <?= utf8_encode("<center style='color:red;'>&iacute;tens (" . $row['itens'] . ")</center>") ?>
                                    </td>
                                </tr>
                            </table>
                        </div>


                        <?
                    }
                }
            }
          ?>


    </div>
</div>
    <div id="left">
        <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
    </div>
</div>

<script type="text/javascript" src="/logistica/PedidosInternos/js/main.js?v=2"></script>

</body>
</html>