<?php require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>
<head>

    <meta charset="UTF-8">
<!--    <meta http-equiv="cache-control" content="max-age=0" />-->
<!--    <meta http-equiv="cache-control" content="no-cache" />-->
<!--    <meta http-equiv="cache-control" content="post-check=0" />-->
<!--    <meta http-equiv="cache-control" content="pre-check=0" />-->
<!--    <meta http-equiv="expires" content="0" />-->
<!--    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />-->
<!--    <meta http-equiv="pragma" content="no-cache" />-->
    <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php'); ?>
    <link rel="stylesheet" type="text/css" href="/utils/reports.css">
    <link rel="stylesheet" href="/utils/bootstrap-3.3.6-dist/css/bootstrap.min.css" />
    <script src="/utils/bootstrap-3.3.6-dist/js/bootstrap.min.js" ></script>
    <link rel="stylesheet" href="/utils/font-awesome-4.7.0/css/font-awesome.css" />
</head>

<div id="content">
    <div id="right">
        <legend> Cancelar itens enviados do pedido <strong>N° <?=$pedidoId?></strong></legend>
        
        <div class="alert alert-info ">
            <strong class="glyphicon-info-sign glyphicon"></strong>
            Você pode cancelar apenas a quantidade que ainda não foi confirmada pela Unidade Regional.

        </div>
        <?php if(isset($msg) && !empty($msg)){ ?>

            <div class="alert alert-<?=$classInfoMsg?> ">
                <strong class="glyphicon-info-sign glyphicon"></strong>
                <?=$msg?>
            </div>

        <? } ?>
        <form method="post" novalidate="novalidate" action="/logistica/PedidosInternos/?action=cancelarPedidosEnviadosENaoConfirmados">
            <input type="hidden" name="time" value="<?= time()?>" \>
            <input type="hidden" name="acao" value="<?=$var?>" \>
            <input type="hidden" name="pedido-id" value="<?=$pedidoId?>" \>

            <div id="busca">
            <? foreach($itensPedidos as $itens){          ?>
                <div class="panel panel-default">
                    <div class="panel-heading col-lg-12">
                        <div class="  col-lg-6">
                            <b><?=$itens['descricaoTipo']?>: </b><?= $itens['principio']. " ".$itens['apresentacao']?> <br> <b>LAB:</b> <?= $itens['lab_desc']?>
                        </div>
                        <div class=" col-lg-4">
                            <b>Pedidos: </b><?= $itens['QTD']?>
                            /
                            <b>Enviados: </b><?= $itens['ENVIADO']?>
                        </div>
                        <div class=" col-lg-2">
                            <b>Confirmados: </b><?= $itens['CONFIRMADO']?>
                        </div>

                    </div>

                    <table class="table">
                        <thead>
                            <tr class="bg-info">
                                <th width="60%">
                                    <b>Itens enviados pela Matriz </b>
                                </th>
                                <th>
                                    <b>Enviados</b>
                                </th>
                                <th align='center'  >
                                    <b>Confirmados </b>
                                </th>
                                <th>
                                    <b>Cancelar</b>
                                </th>

                            </tr>
                        </thead>


                    <? foreach($itensSaida[$itens['ID']] as $saida){ ?>
                        <tr>
                            <td width="60%">
                                <b><?=$itens['descricaoTipo']?>: </b> <?=$saida['item']?>	<b>LAB:</b>  <?$saida['lab_desc']?>
                                <br>
                                <b>Enviado em: </b> <?=$saida['data_br']?> |
                                <b>Quantidade: </b> <?=$saida['quantidade']?> |
                                <b>Lote: </b> <?=$saida['LOTE']?>

                            </td>
                            <td >
                                 <?=$saida['quantidade']?>
                                <br>
                                <b> Lote:</b>  <?=$saida['LOTE']?>
                            </td>
                            <td align="center" >
                                 <?=$saida['confirmacao_pedidointerno']?>
                            </td>
                            <td >
                                <input type='number' class="max-value form-control" name="item[<?=$saida['idSaida']?>][cancelar]" value="0"
                                       min="0" max="<?=$saida['quantidade'] - $saida['confirmacao_pedidointerno']?>"/>
                                <input type='hidden' name="item[<?=$saida['idSaida']?>][itens-pedido-id]" value="<?=$saida['ITENSPEDIDOSINTERNOS_ID']?>"/>
                                <input type='hidden' name="item[<?=$saida['idSaida']?>][saida-id]" value="<?=$saida['idSaida']?>"/>
                                <input type='hidden' name="item[<?=$saida['idSaida']?>][catalogo-id]" value="<?=$saida['CATALOGO_ID']?>"/>
                                <input type='hidden' name="item[<?=$saida['idSaida']?>][tipo]" value="<?=$saida['tipo']?>"/>
                                <input type='hidden' name="item[<?=$saida['idSaida']?>][pedido-id]" value="<?=$pedidoId?>"/>

                            </td>
                        </tr>
                        <?}?>
                    </table>

                </div>
            <?}?>

            </div>
            <br>
            <div class="text-center">
                <button
                    id='cancelar-item-enviado-nao-confirmado'
                    class='btn-primary btn'
                    >
                    Salvar
                </button>
            </div>


        </form>


    </div>
</div>
    <div id="left">
        <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
    </div>
</div>

<script type="text/javascript" src="/logistica/PedidosInternos/js/main.js?v=2"></script>

</body>
</html>