<div id="container-grupo-medicamento">
    <div class='row'>
        <div class='col-xs-12'>
            <label>Regra Primária:</label>
            <select name="regra_primaria" container-target="container-grupo-medicamento" class="form-control regra-primaria">
                <option value="1">
                    <strong>LIBERAR</strong> todos os itens, com exceção de...
                </option>
                <option value="2">
                    <strong>BLOQUEAR</strong> todos os itens, com exceção de...
                </option>
            </select>
        </div>
    </div>
    <br>
    <!--FORMULARIO DE ADIÇÃO DE REGRAS-->
    <div class="row">
        <div class="col-xs-9">
            <label>Item</label>
            <input type="text" name="buscar_item" opcao="1" tipo="0" class="form-control col-xs-12 buscar-item">
        </div>
        <div class="col-xs-3">
            <label>Caráter</label>
            <select name="carater" class="form-control carater">
                <option value="1">Todos</option>
                <option value="2">Periódica</option>
                <option value="3">Aditivo</option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-3">
            <label>Tipo de Validação</label>
            <select name="tipo_validacao" container-target="container-grupo-medicamento" class="form-control tipo-validacao">
                <option value="">-</option>
                <option value="1">Binária</option>
                <option value="2">Condicional</option>
            </select>
        </div>
        <div class="col-xs-3">
            <label>Campo</label>
            <select name="campo" container-target="container-grupo-medicamento" disabled class="form-control campo">
                <option value="">-</option>
                <option value="1">Preço</option>
                <option value="2">Quantidade</option>
                <!--<option value="3">Custo</option>-->
            </select>
        </div>
        <div class="col-xs-3">
            <label>Operador</label>
            <select name="operador" disabled class="form-control operador">
                <option value="">-</option>
                <option value="1">=</option>
                <option value="2">></option>
                <option value="3">>=</option>
                <option value="4"><</option>
                <option value="5"><=</option>
            </select>
        </div>
        <div class="col-xs-3">
            <label>Valor de Referência</label>
            <input type="text" name="valor_referencia" disabled class="form-control numeric valor-referencia">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-xs-12 text-center">
            <button type="button" class="btn btn-primary add-regra" container-target="container-grupo-medicamento" title="Adicionar regra">
                <i class="fa fa-plus-circle"></i> Adicionar Regra
            </button>
        </div>
    </div>

    <br>

    <form id="form-regras-fluxo">
        <div class='row'>
            <div class='col-xs-12'>
                <table class='table table-bordered table-responsive regras-fluxo' container-target="container-grupo-medicamento">
                    <thead>
                    <tr>
                        <th class="text-center">
                            <input type="checkbox" class="marcar-todos" container-target="container-grupo-medicamento" title="Marcar todos">
                        </th>
                        <th>Item</th>
                        <th>Caráter</th>
                        <th>Campo</th>
                        <th>Operador</th>
                        <th>Valor de Referência</th>
                        <th class="text-center">
                            <button type="button" class="btn btn-danger remover-regra-selecionados" container-target="container-grupo-medicamento" title="Remover Selecionados">
                                <i class="fa fa-times-circle"></i>
                            </button>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr align="center" class="nenhuma-regra">
                        <td colspan="10">
                            <strong>Nenhuma regra adicionada.</strong>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </form>
</div>