<?php require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>
<head>
    <meta charset="UTF-8">
    <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php'); ?>
    <link rel="stylesheet" type="text/css" href="/utils/reports.css">
    <link rel="stylesheet" href="/utils/bootstrap-3.3.6-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/utils/font-awesome-4.7.0/css/font-awesome.css" />
</head>
<div id="content">
    <div id="right">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title pull-left" style="padding-top: 7.5px;">
                    <i class="fa fa-search" aria-hidden="true"></i> Buscar Ajustes de Estoque
                </h3>
            </div>
            <div class="panel-body">
                <form method="post" action="/logistica/relatorios/?action=relatorioAjusteEstoque">
                    <?php if($_SESSION['empresa_principal'] == '1'){ ?>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for="periodo">UR:</label>
                                <select name="ur"  class="form-control chosen-select" style="width: 100%;">
                                    <option value="">TODAS</option>
                                    <option value="1">Central</option>
                                    <?php foreach($urs as $ur): ?>
                                        <option <?= isset($urBusca) && in_array($ur['id'], $urBusca) ? "selected" : "" ?> value="<?= $ur['id'] ?>"><?= strtoupper($ur['nome']) ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </div>
                    </div>
                    <?php }else{ ?>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                               <input name="ur" type="hidden" value="<?php echo $_SESSION['empresa_principal']?>" >
                            </div>
                        </div>
                    </div>
                    <?php } ?>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="periodo">Inicio:</label>
                                <input name="inicio" type="date" max='<?= date('Y-m-d')?>' class="form-control OBG" value='<?= isset($inicio)  ? $inicio : "" ?>' required>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="periodo">Fim:</label>
                                <input name="fim" type="date" max='<?= date('Y-m-d')?>' class="form-control OBG" value='<?= isset($fim) ? $fim : "" ?>' required>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary" id="pesquisar-ajuste-estoque">
                                    <span class='ui-button-text'>Pesquisar</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <br>
        <?php if(!empty($erro)){?>
        <div class="row ">
            <div  class="col-lg-12">
                <div class="alert alert-danger  ">
                    <strong class="glyphicon-info-sign glyphicon"></strong>
                    <?php echo $erro;?>
                </div>
            </div>
        </div>
        <?php } ?>
        <div class="row">
            <div class="col-lg-12">
                <?php
                if(isset($response)):
                    if(empty($response)):
                        ?>
                        <h4 class="text-center">Nenhum resultado encontrado.</h4>
                        <?php
                    else:
                        ?>
                        <div class="col-lg-12">
                            <label><?=$quantidade?> regitstro(s) encontrado(s).</label>

                        </div>

                        <table class='table table-striped'>
                            <thead>
                            <tr>
                                <th class="text-center">Itens</th>
<!--                                <th>Tipo</th>-->
<!--                                <th width="15%">Modificação</th>-->
<!--                                <th width="20%">Dados</th>-->
<!--                                <th width="20%">Justificativa</th>-->

                            </tr>
                            </thead>
                            <tbody>
                            <?php
                            foreach($response as $row):
                                $labelLab = empty($row['laboratorio']) ? '' : "    (<b>LAB: {$row['laboratorio']})</b>"
                                ?>
                                <tr>
                                    <td class="col-md-12">
                                        <div class="col-md-2">
                                            <span class="label label-primary"><?php echo $row['tipoItem'] ?></span>
                                        </div>
                                        <div class="col-md-10">
                                            <label>Item: </label> <?php echo   $row['item']; echo $labelLab?>
                                        </div>

                                        <div class="col-md-2">
                                            <b>Era(m): </b><?php echo $row['quantidade_anterior'] ?>
                                        </div>
                                        <div class="col-md-2">
                                            <b>Modificou para: </b><?php echo $row['quantidade_modificada'] ?>
                                        </div>
                                        <div class="col-md-4" >
                                            <b>Modificado por: </b><?php echo $row['nomeUsuario'] ?></b>
                                        </div>
                                        <div class="col-md-2" >
                                            <b>Em: </b><?php echo $row['ptBr'] ?>
                                        </div>
                                        <div class="col-md-2" >
                                            <span class="label label-primary"><?php echo $row['nomeEmpresa'] ?></span>
                                        </div>

                                        <div class="col-md-12" >
                                            <b>Justificativa: </b><?php echo $row['justificativa'] ?>
                                        </div>
                                    </td>
                                </tr>

                                <?php
                            endforeach;
                            ?>
                            </tbody>
                        </table>
                        <?php
                    endif;
                endif;
                ?>
            </div>
        </div>
    </div>

    <div id="left">
        <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
    </div>
</div>
<script type="text/javascript" src="/remocao/js/main.js?v=2.1"></script>
</body>
</html>