<?php
if(isset($response)):
    if(empty($response)):
        ?>
        <h4 class="text-center">Nenhum resultado encontrado.</h4>
        <?php
    else:
        ?>
<table class='table table-striped'>
    <thead>
    <tr>
        <th colspan="7">
            Sa&iacute;das Internas de
            <?= $inicio->format('d/m/Y') ?> &agrave;
            <?= $fim->format('d/m/Y') ?>
        </th>
    </tr>
    <tr>
        <th width="<?= $filtrarPor == 'VD' ? '50%' : '30%' ?>">Item</th>
        <th>Data Sa&iacute;da</th>
        <th>Quantidade</th>
        <?php if($_SESSION['empresa_principal'] == '1'): ?>
            <th>UR</th>
            <?php
        endif;
        if($filtrarPor == 'VD'): ?>
            <th>Vencimento Em</th>
        <?php else: ?>
            <th>Colaborador</th>
            <th>Custo</th>
        <?php endif; ?>
    </tr>
    </thead>
    <tbody>
    <?php
    foreach($response as $row):
        ?>
        <tr>
            <td><?= htmlentities(strip_tags($row['item'])) ?></td>
            <td><?= \DateTime::createFromFormat('Y-m-d', $row['dataSaida'])->format('d/m/Y') ?></td>
            <td><?= $row['qtd'] ?></td>
            <?php if($_SESSION['empresa_principal'] == '1'): ?>
                <td><?= htmlentities($row['ur']) ?></td>
                <?php
            endif;
            if($filtrarPor == 'VD'): ?>
                <td><?= \DateTime::createFromFormat('Y-m-d', $row['vencimento'])->format('d/m/Y') ?></td>
            <?php else: ?>
                <td><?= htmlentities(strtoupper($row['colaborador'])) ?></td>
                <td><?= \App\Helpers\StringHelper::currencyFormat($row['custo']) ?></td>
            <?php endif; ?>
            <td></td>
        </tr>
        <?php
    endforeach;
    ?>
    </tbody>
</table>
<?php
    endif;
endif;