<?php require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>
<head>
    <meta charset="UTF-8">
    <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php'); ?>
    <link rel="stylesheet" type="text/css" href="/utils/reports.css">
    <link rel="stylesheet" href="/utils/bootstrap-3.3.6-dist/css/bootstrap.min.css" />
    <script src="/utils/bootstrap-3.3.6-dist/js/bootstrap.min.js" ></script>
    <link rel="stylesheet" href="/utils/font-awesome-4.7.0/css/font-awesome.css" />
    <!--    <link rel="stylesheet" type="text/css" href="/utils/reports.css">-->
    <!--    <link rel="stylesheet" type="text/css" href="/utils/jquery/css/chosen/chosen.css">-->
</head>
<div id="content">
    <div id="right">
        <center><h1>Informe de Programação das Faturas</h1></center>
        <br>
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title pull-left" style="padding-top: 7.5px;">
                    <i class="fa fa-search" aria-hidden="true"></i> Pesquisar Faturas com Previsão de Recebimento Pendentes.</b>
                </h3>

            </div>
            <div class="panel-body" id="div-pesquisar-faturas-previsao-cadastrada">
                <form id="form-pesquisa-previsoes-pendentes">
                    <div class="row col-md-12">
                        <div class="col-md-8">
                            <label for="paciente">Paciente:</label><br>
                            <select name="paciente" id="paciente" class="form-control" style="width: 400px;">
                                <option value="">Selecione...</option>
                                <?php foreach($pacientes as $paciente): ?>
                                    <option <?= isset($pacienteBusca) && $pacienteBusca === $paciente['idClientes'] ? "selected" : "" ?> value="<?= $paciente['idClientes'] ?>">(<?= $paciente['codigo'] ?>) <?= strtoupper($paciente['nome']) ?></option>
                                <?php endforeach; ?>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label for="ur">UR:</label><br>
                            <select name="ur" id="ur" class="form-control"style="width: 300px;">
                                <option value="">Selecione...</option>
                                <?php foreach($urs as $ur): ?>
                                    <option <?= isset($urBusca) && $urBusca === $ur['id'] ? "selected" : "" ?> value="<?= $ur['id'] ?>"><?= strtoupper($ur['nome']) ?></option>
                                <?php endforeach; ?>
                            </select>
                        </div>
                    </div>
                    <div class="row col-md-12">
                        <div class="col-md-4">
                            <label for="plano">Planos:</label><br>
                            <select name="plano" id="plano" class="form-control" style="width: 300px;">
                                <option value="">Selecione...</option>
                                <?php foreach($planos as $plano): ?>
                                    <option <?= isset($planoBusca) && $planoBusca === $plano['id'] ? "selected" : "" ?> value="<?= $plano['id'] ?>"><?= strtoupper($plano['nome']) ?></option>
                                <?php endforeach; ?>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="inicio">Inicio Fatura:</label>
                                <input name="inicio" id="inicio" type="date" class="form-control OBG" value='<?= isset($inicio)  ? $inicio : "" ?>' required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="fim">Fim Fatura:</label>
                                <input name="fim"  id="fim" type="date" class="form-control OBG" value='<?= isset($fim)  ? $fim : "" ?>' required>
                            </div>
                        </div>
                        <div class=" row col-md-12">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Ordenar por:</label><br>
                                    <input type="radio" id="ordenar-por-paciente" checked <?= isset($ordenarPor) && $ordenarPor == 'paciente' ? "checked" : "" ?> name="ordenar_por" value="paciente"> <label for="ordenar-por-paciente">Paciente</label>
                                    <!--                    <input type="radio" id="ordenar-por-auditor" --><?//= isset($ordenarPor) && $ordenarPor == 'auditor' ? "checked" : "" ?><!-- name="ordenar_por" value="auditor"> <label for="ordenar-por-auditor">Auditor(a)/Faturista</label>-->
                                    <input type="radio" id="ordenar-por-ur" <?= isset($ordenarPor) && $ordenarPor == 'ur' ? "checked" : "" ?> name="ordenar_por" value="ur"> <label for="ordenar-por-ur">UR</label>
                                    <input type="radio" id="ordenar-por-envio" <?= isset($ordenarPor) && $ordenarPor == 'dataEnvio' ? "checked" : "" ?> name="ordenar_por" value="dataEnvio"> <label for="ordenar-por-envio">Data do Envio</label>
                                    <input type="radio" id="ordenar-por-plano" <?= isset($ordenarPor) && $ordenarPor == 'convenio' ? "checked" : "" ?> name="ordenar_por" value="convenio"> <label for="ordenar-por-plano">Plano</label>
                                    <input type="hidden" name="data-previsao-anterior[<?= $data['ID']?>]" value="<?=$data['ID']?>">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 text-center">
                            <div  class="btn btn-primary" id="pesquisar-previsao-recebimento-pendentes">
                                <span class='ui-button-text'>Buscar</span>
                            </div>
                            &nbsp;&nbsp;
                            <button id='' type='button' class='voltar_ btn btn-warning'
                                    role='button' aria-disabled='false' >
                                <span class='ui-button-text'>Voltar</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!--        Modal que vai trazer as faturas da pesquisa.  -->
        <?php require __DIR__ . '/modal-faturas.phtml' ?>
        <hr id="separator">
        <br>
        <div class="form-group col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title pull-left" style="padding-top: 7.5px;">
                        <i class="fa fa-search" aria-hidden="true"></i> Gerar Nota Fiscal de Recebimento</b>
                    </h3>

                </div>
                <div class="panel-body" id="pre-nota">
                    <form id="form-salvar-informe-recebimento">
                        <div class="row col-md-12">
                            <div class="col-md-4">
                                <label for="tipo_documento">Tipo Documento:</label><br>
                                <input type="text" class="form-control OBG" name="tipo_documento" id="tipo_documento" required>
                            </div>
                            <div class="col-md-4">
                                <label for="numero_nota">Número:</label><br>
                                <input type="text" class="form-control OBG" name="numero_nota" id="numero_nota" required>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="data_emissao">Data Emissão:</label>
                                    <input name="data_emissao" id="data_emissao" type="date" class="form-control OBG" value='' required>
                                </div>
                            </div>

                        </div>
                        <div class="row col-md-12">
                            <div class="col-md-8">
                                <label for="fornecedor">Fornecedor:</label><br>
                                <select name="fornecedor" id="fornecedor" class="form-control OBG_CHOSEN chosen-select" >
                                    <option value="" selected>Selecione...</option>
                                    <?php foreach($fornecedores as $fornecedor): ?>
                                        <option value="<?= $fornecedor['idFornecedores'] ?>"><?= strtoupper($fornecedor['nome']) ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="valor_servico">Valor Serviços:</label>
                                    <input name="valor_servico" id="valor_servico" type="text" class="form-control valor OBG" value='' required>
                                </div>
                            </div>
                        </div>
                        <div class="row col-md-12">
                            <div class="col-md-12 form-group ">
                                <label for="tipo_documento">Descrição:</label><br>
                                <input type="text" class="form-control OBG" name="descricao" id="descricao" required>
                            </div>
                        </div>
                        <div class="row col-md-12">
                            <div class="col-md-6 form-group">
                                <label for="porcentagem-assistencia">% Assistência Domiciliar:</label><br>
                                <input type="text" class="form-control OBG valor" name="porcentagem_assistencia" id="porcentagem-assistencia" value="0,00" required>
                            </div>
                            <div class="col-md-6 form-group">
                                <label for="porcentagem-remocao">% Remoção:</label><br>
                                <input type="text" class="form-control OBG valor" name="porcentagem_remocao" id="porcentagem-remocao" value="0,00" required>
                            </div>
                        </div>
                        <br>
                        <br>
                        <div class="row col-md-12">
                            <div class="form-group col-md-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading clearfix">
                                        <h3 class="panel-title pull-left" style="padding-top: 7.5px;">
                                            <i class="fa fa-clipboard" aria-hidden="true"></i> <b>Faturas</b>
                                        </h3>
                                    </div>
                                    <div class="panel-body" id="pre-nota">
                                        <div id="response"  class="col-md-12" style="overflow: auto">
                                            <table class='table table-striped  table-bordered ' width='100%' >
                                                <thead>
                                                <tr>
                                                    <th></th>
                                                    <th>PACIENTE</th>
                                                    <th>CONVÊNIO</th>
                                                    <th>UR</th>
                                                    <th align="center">PERÍODO DA FATURA</th>
                                                    <th>VALOR FATURADO</th>
                                                    <th>ENCARGOS %</th>
                                                    <th>VALOR LÍQUIDO</th>
                                                    <th style='width:250px; overflow: auto; !important;'>VALOR PROGRAMADO</th>
                                                    <th align="center">MODALIDADE</th>
                                                </tr>
                                                </thead>
                                                <tbody id="tbody-fatura-nota">
                                                </tbody>
                                            </table>
                                        </div>

                                        <div class="col-md-12 text-center">
                                            <div  class="btn btn-primary" id="salvar-informe-recebimento">
                                                <span class='ui-button-text'>Salvar</span>
                                            </div>                                              &nbsp;&nbsp;
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="left">
    <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
</div>
</div>
<script type="text/javascript" src="/financeiros/faturamento-controle-recebimento/js/main.js?v=2"></script>
<!--<script type="text/javascript" src="/utils/jquery/js/chosen.jquery.min.js"></script>-->
<script type="text/javascript" src="/utils/jquery/js/voltar.js"></script>
<script type="text/javascript" src="/utils/jquery/js/validar_campos.js"></script>

</body>
</html>