<?php require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>
<head>
    <meta charset="UTF-8">
    <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php'); ?>
    <link rel="stylesheet" type="text/css" href="/utils/reports.css">
    <link rel="stylesheet" href="/utils/bootstrap-3.3.6-dist/css/bootstrap.min.css" />
    <script src="/utils/bootstrap-3.3.6-dist/js/bootstrap.min.js" ></script>
    <link rel="stylesheet" href="/utils/font-awesome-4.7.0/css/font-awesome.css" />
    <!--    <link rel="stylesheet" type="text/css" href="/utils/reports.css">-->
    <!--    <link rel="stylesheet" type="text/css" href="/utils/jquery/css/chosen/chosen.css">-->
</head>
<div id="content">
    <div id="right">
        <center><h1>Adicionar Previsão de Recebimento as Faturas</h1></center>
        <br>
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title pull-left" style="padding-top: 7.5px;">
                    <i class="fa fa-search" aria-hidden="true"></i> Pesquisar faturas enviadas ao plano.</b>
                </h3>

            </div>
            <div class="panel-body" id="div-pesquisar-faturas-enviadas">
                <form method="post" action="/financeiros/faturamento-controle-recebimento/?action=pesquisarFaturamentoEnviado">
                    <div class="row col-md-12">
                        <div class="col-md-8">
                            <label for="paciente">Paciente:</label><br>
                            <select name="paciente" id="paciente" class="form-control" style="width: 400px;">
                                <option value="">Selecione...</option>
                                <?php foreach($pacientes as $paciente): ?>
                                    <option <?= isset($pacienteBusca) && $pacienteBusca === $paciente['idClientes'] ? "selected" : "" ?> value="<?= $paciente['idClientes'] ?>">(<?= $paciente['codigo'] ?>) <?= strtoupper($paciente['nome']) ?></option>
                                <?php endforeach; ?>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label for="ur">UR:</label><br>
                            <select name="ur" id="ur" class="form-control"style="width: 300px;">
                                <option value="">Selecione...</option>
                                <?php foreach($urs as $ur): ?>
                                    <option <?= isset($urBusca) && $urBusca === $ur['id'] ? "selected" : "" ?> value="<?= $ur['id'] ?>"><?= strtoupper($ur['nome']) ?></option>
                                <?php endforeach; ?>
                            </select>
                        </div>
                    </div>
                    <div class="row col-md-12">
                        <div class="col-md-4">
                            <label for="plano">Planos:</label><br>
                            <select name="plano" id="plano" class="form-control" style="width: 300px;">
                                <option value="">Selecione...</option>
                                <?php foreach($planos as $plano): ?>
                                    <option <?= isset($planoBusca) && $planoBusca === $plano['id'] ? "selected" : "" ?> value="<?= $plano['id'] ?>"><?= strtoupper($plano['nome']) ?></option>
                                <?php endforeach; ?>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="inicio">Inicio Envio Plano:</label>
                                <input name="inicio" id="inicio" type="date" class="form-control OBG" value='<?= isset($inicio)  ? $inicio : "" ?>' required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="fim">Fim Envio Plano:</label>
                                <input name="fim"  id="fim" type="date" class="form-control OBG" value='<?= isset($fim)  ? $fim : "" ?>' required>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <label>Ordenar por:</label><br>
                            <input type="radio" id="ordenar-por-paciente" checked <?= isset($ordenarPor) && $ordenarPor == 'paciente' ? "checked" : "" ?> name="ordenar_por" value="paciente"> <label for="ordenar-por-paciente">Paciente</label>
                            <!--                    <input type="radio" id="ordenar-por-auditor" --><?//= isset($ordenarPor) && $ordenarPor == 'auditor' ? "checked" : "" ?><!-- name="ordenar_por" value="auditor"> <label for="ordenar-por-auditor">Auditor(a)/Faturista</label>-->
                            <input type="radio" id="ordenar-por-ur" <?= isset($ordenarPor) && $ordenarPor == 'ur' ? "checked" : "" ?> name="ordenar_por" value="ur"> <label for="ordenar-por-ur">UR</label>
                            <input type="radio" id="ordenar-por-envio" <?= isset($ordenarPor) && $ordenarPor == 'dataEnvio' ? "checked" : "" ?> name="ordenar_por" value="dataEnvio"> <label for="ordenar-por-envio">Data do Envio</label>
                            <input type="radio" id="ordenar-por-plano" <?= isset($ordenarPor) && $ordenarPor == 'convenio' ? "checked" : "" ?> name="ordenar_por" value="convenio"> <label for="ordenar-por-plano">Plano</label>
                            <input type="hidden" name="data-previsao-anterior[<?= $data['ID']?>]" value="<?=$data['ID']?>">
                        </div>
                        <div class="col-md-12 text-center">
                            <button type="submit" class="btn btn-primary" id="buscar-faturas-enviadas">
                                <span class='ui-button-text'>Buscar</span>
                            </button>
                            &nbsp;&nbsp;
                            <button id='' type='button' class='voltar_ btn btn-warning'
                                    role='button' aria-disabled='false' >
                                <span class='ui-button-text'>Voltar</span>
                            </button>

                        </div>

                    </div>

                </form>
            </div>
        </div>

        <?php
        if(isset($response)):
        ?>
        <div class="col-md-12">
            <label style="float: left; padding-top: 20px;">
                Total de <b><?= $count ?></b> faturas encontradas.
            </label>
            <!--                <a  href="/auditoria/relatorios?action=excel-relatorio-faturamento-enviado&inicio=--><?//= $periodoInicio ?><!--&fim=--><?//= $periodoFim ?><!--&auditor=--><?//= $auditorBusca ?><!--&paciente=--><?//= $pacienteBusca ?><!--&ur=--><?//= $urBusca ?><!--&plano=--><?//= $planoBusca ?><!--&ordenarpor=--><?//= $ordenarPor ?><!--"-->
            <!--                    target="_blank"-->
            <!--                    style="position: relative; float: right;"-->
            <!--                    class='btn btn-primary'-->
            <!--                    id="buscar">-->
            <!--                    <span class='ui-button-text'>Exportar para Excel</span>-->
            <!--                </a>-->
        </div>

        <hr id="separator">

        <?php if($count > 0){ ?>

            <div class="row">
                <div class="col-md-12">
                    <div class="btn btn-primary col-md-12" id="visualizar-regras-pagamento" visualizar="0">
                        <div class="fa-angle-down fa" id="icone" ></div>
                        Clique aqui para ver as regras de pagamento das Operadoras.
                    </div>
                    <div class="alert alert-info " id="regras-pagamento">
                        <?php
                        foreach ($regraPagamentoConvenio as $regra){
                            $texto = empty($regra['regra_pagamento']) ? 'Regra não cadastrada' : $regra['regra_pagamento']; ?>
                            <li><?=$regra['operadora']?> - <?=$texto?></li>
                        <? } ?>
                    </div>
                </div>
            </div>
            <br>
            <div class="col-md-12 row">
                <div class="alert alert-info ">
                    <strong class="glyphicon-info-sign glyphicon"></strong>
                    Para adicionar uma data e o percentual de desconto em varias faturas você deve selecionar as
                    faturas informar a data e o valor do desconto nos campos Data e Encargos em % e clicar em +Adicionar.
                    <br>
                    OBS: O percentual do encargos informado é o valor percentual de impostos  retido na NF que será paga pelo convênio.
                </div>
            </div>
            <br>
            <div class="col-md-12 form-inline">
                <div class="" id="div-add-data">
                    <label for="add-data" >Data:</label>
                    <input name="" type="date"  id="data-add" class="OBG form-control"/>
                    <label for="add-desconto" >Encargos em %:</label>
                    <input name="" type="text"  id="add-desconto" class="OBG form-control valor"/>
                    <button class="btn btn-primary" id="adicionar-data">+Adicionar</button>
                </div>
            </div>
        <?}?>

        <div class="form-group col-md-12">
            <form id="form-previsao-recebimento">

                <div id="response"  class="col-md-12" style="overflow: auto">
                    <table class='table table-striped  table-bordered ' width='100%' >
                        <thead>
                        <tr>
                            <th><input type="checkbox" id="checkbox-add-data-todos" value="<?= $data['id']?>"/></th>
                            <th>PACIENTE</th>
                            <th>CONVÊNIO</th>
                            <th>UR</th>
                            <th align="center">PERÍODO DA FATURA</th>
                            <th align="center">DATA DO ENVIO</th>
                            <th>VALOR FATURADO</th>
                            <th>PREVISÃO RECEBIMENTO</th>
                            <th>ENCARGOS %</th>
                            <th align="center">PROT. ENVIO</th>
                            <th align="center">MODALIDADE</th>
                            <th>USUÁRIO</th>
                        </tr>
                        </thead>
                        <tbody>
                        <?php
                        if($count > 0):
                            $total = 0;
                            foreach($response as $data):
                                $total += $data['valor'];
                                $dataEnvio = DateTime::createFromFormat('Y-m-d H:i:s', $data['dataEnvio'])->format('d/m/Y');
                                ?>
                                <tr>
                                    <td>
                                        <input type="checkbox" class="checkbox-add-data" value="<?= $data['id']?>"/>
                                    </td>
                                    <td><?= $data['paciente'] ?></td>
                                    <td><?= $data['convenio'] ?></td>
                                    <td><?= $data['ur'] ?></td>
                                    <td align="center"><?= $data['inicio'] . ' À ' . $data['fim'] ?></td>
                                    <td align="center"><?= $dataEnvio ?></td>

                                    <td align="right">R$ <?= number_format($data['valor'], 2, ',', '.') ?></td>
                                    <td>
                                        <input name="data_previsao_recebimento[<?= $data['ID']?>]"   type="date" class="form-control data-previsao" value='<?= $data['dataPrevisao']?>' >
                                        <input type="hidden" name="valor_atual[<?= $data['ID']?>]" value="<?=$data['valor']?>">
                                        <input type="hidden" name="valor_faturado_anterior[<?= $data['ID']?>]" value="<?=$data['valor_faturado_anterior']?>">
                                        <input type="hidden" name="id_previsao_anterior[<?= $data['ID']?>]" value="<?=$data['idPrevisao']?>">
                                        <input type="hidden" name="usuario_anterior[<?= $data['ID']?>]" value="<?=$data['usuarioPrevisao']?>">
                                        <input type="hidden" name="data_anterior[<?= $data['ID']?>]" value="<?=$data['dataPrevisao']?>">
                                        <input type="hidden" name="data_sistema_anterior[<?= $data['ID']?>]" value="<?=$data['dataSistemaPrevisao']?>">
                                        <input type="hidden" name="modalidade_fatura[<?= $data['ID']?>]" value="<?= $data['remocao'] == "S" ? "REMOCAO" : $data['modalidade'] ?>">
                                        <input type="hidden" name="modalidade_fatura_anterior[<?= $data['ID']?>]" value="<?= $data['modalidade_fatura']?>">
                                    </td>
                                    <td>
                                        <input name="desconto_percentual[<?= $data['ID']?>]" type="text" value='<?= number_format($data['desconto_percentual_anterior'], 2, ',', '.') ?>' class="form-control valor percentual-desconto"/>
                                        <input name="desconto_percentual_anterior[<?= $data['ID']?>]" type="hidden" value="<?=$data['desconto_percentual_anterior']?>">
                                    </td>

                                    <td align="center"><?= $data['protocolo_envio']?></td>
                                    <td align="center"><?= $data['remocao'] == "S" ? "Remoção" : $data['modalidade'] ?></td>
                                    <td><?= $data['auditor'] ?></td>

                                </tr>
                            <?php endforeach; ?>
                            <tr style="border-top: 1px solid #000">
                                <td colspan="7" align="right"><strong>Total:</strong></td>
                                <td colspan="4" align="left"><strong>R$ <?= number_format($total, 2, ',', '.') ?></strong></td>
                            </tr>
                        <?php else: ?>
                            <tr>
                                <td colspan="11" align="center"><strong>Nenhum resultado foi encontrado!</strong></td>
                            </tr>
                        <?php endif; ?>
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
        <br>
        <div class="col-sm-12 text-center container">
            <button class="btn btn-primary" id="salvar-previsao-recebimento">Salvar</button>
        </div>
    </div>
    <?php
    endif;
    ?>
</div>
<div id="left">
    <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
</div>
</div>
<script type="text/javascript" src="/financeiros/faturamento-controle-recebimento/js/main.js?v=2"></script>
<!--<script type="text/javascript" src="/utils/jquery/js/chosen.jquery.min.js"></script>-->
<script type="text/javascript" src="/utils/jquery/js/voltar.js"></script>
<script type="text/javascript" src="/utils/jquery/js/validar_campos.js"></script>

</body>
</html>