<?php require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>
<head>
    <meta charset="UTF-8">
    <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php'); ?>
    <link rel="stylesheet" type="text/css" href="/utils/reports.css">
    <link rel="stylesheet" href="/utils/bootstrap-3.3.6-dist/css/bootstrap.min.css" />
    <script src="/utils/bootstrap-3.3.6-dist/js/bootstrap.min.js" ></script>
    <link rel="stylesheet" href="/utils/font-awesome-4.7.0/css/font-awesome.css" />
    <!--    <link rel="stylesheet" type="text/css" href="/utils/reports.css">-->
    <!--    <link rel="stylesheet" type="text/css" href="/utils/jquery/css/chosen/chosen.css">-->
</head>
<div id="content">
    <div id="right">
        <center><h1>Associar Fatura a NF de Recebimento</h1></center>
        <br>
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title pull-left" style="padding-top: 7.5px;">
                    <i class="fa fa-search" aria-hidden="true"></i> Pesquisar NFs</b>
                </h3>
            </div>
            <div class="panel-body" id="div-pesquisar-nf-rascunho">
                <form method="post" action="/financeiros/faturamento-controle-recebimento/?action=pesquisar-fatura-nf-recebimento">
                    <div class="row col-md-12">
                        <div class="col-md-6">
                            <label for="cliente">Clientes:</label><br>
                            <select name="cliente" id="cliente" class="form-control" style="width: 400px;">
                                <option value="">Selecione...</option>
                                <?php foreach($clientes as $cliente): ?>
                                    <option <?= isset($clienteBusca) && $clienteBusca == $cliente['idFornecedores'] ? "selected" : "" ?> value="<?= $cliente['idFornecedores'] ?>"><?= strtoupper($cliente['nome']) ?></option>
                                <?php endforeach; ?>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label for="ur">UR:</label><br>
                            <select name="ur" id="ur" class="form-control" style="width: 300px;">
                                <option value="">Selecione...</option>
                                <?php foreach($urs as $ur): ?>
                                    <option <?= isset($urBusca) && $urBusca == $ur['id'] ? "selected" : "" ?> value="<?= $ur['id'] ?>"><?= strtoupper($ur['nome']) ?></option>
                                <?php endforeach; ?>
                            </select>
                        </div>
                    </div>
                    <div class="row col-md-12">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="inicio-emissao">Inicio Data da Emissão:</label>
                                <input name="inicio" id="inicio-emissao" type="date" class="form-control OBG" value='<?= isset($inicio)  ? $inicio : "" ?>' required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="fim-emissao">Fim Data da Emissão:</label>
                                <input name="fim"  id="fim-emissao" type="date" class="form-control OBG" value='<?= isset($fim)  ? $fim : "" ?>' required>
                            </div>
                        </div>
                        <div class="col-md-12 text-center">
                            <button type="submit" class="btn btn-primary" id="buscar-faturas-enviadas">
                                <span class='ui-button-text'>Buscar</span>
                            </button>
                            <button id='' type='button' class='voltar_ btn btn-warning'
                                    role='button' aria-disabled='false' >
                                <span class='ui-button-text'>Voltar</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <?php
        if(isset($response)):
        ?>
        <div class="col-md-12">
            <label style="float: left; padding-top: 20px;">
                Total de <b><?= $count ?></b> notas encontradas.
            </label>
        </div>

        <?php require __DIR__ . '/modal-associar-fatura.phtml' ?>
        <hr id="separator">

        <div class="form-group col-md-12">
                <div id="response"  class="col-md-12" style="overflow: auto">
                    <table class='table table-striped  table-bordered ' width='100%' >
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>NUMERO NOTA</th>
                            <th width="50%">CLIENTE</th>
                            <th align="center">DATA DA EMISSÃO</th>
                            <th>UR</th>
                            <th>CRIADO POR</th>
                            <th width="20%">VALOR TOTAL</th>
                            <th width="5%"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <?php
                        if($count > 0):
                            $total = 0;
                            foreach($response as $data):
                                $total += $data['valor'];
                                $dataEntrada = DateTime::createFromFormat('Y-m-d', $data['dataEntrada'])->format('d/m/Y');
                                ?>
                                <tr>
                                    <td><?= $data['id'] ?></td>
                                    <td><?= $data['codigo'] ?></td>
                                    <td><?= $data['cliente'] ?></td>
                                    <td><?= $dataEntrada ?></td>
                                    <td><?= $data['ur'] ?></td>
                                    <td><?= $data['criadoPor'] ?></td>
                                    <td>R$ <?= number_format($data['valor'], 2, ',', '.') ?></td>
                                    <td align="center" valign="middle">
                                        <button class="btn btn-sm btn-primary associar-fatura"
                                                title="Associar uma fatura a esta NF"
                                                nota-id="<?= $data['id'] ?>"
                                                previsao-recebimento="<?= $data['dataEntrada'] ?>">
                                            <i class="fa fa-dollar"></i>
                                        </button>
                                    </td>
                                </tr>
                            <?php endforeach; ?>
                            <tr style="border-top: 1px solid #000">
                                <td colspan="6" align="right"><strong>Total:</strong></td>
                                <td colspan="2" align="left"><strong>R$ <?= number_format($total, 2, ',', '.') ?></strong></td>
                            </tr>
                        <?php else: ?>
                            <tr>
                                <td colspan="11" align="center"><strong>Nenhum resultado foi encontrado!</strong></td>
                            </tr>
                        <?php endif; ?>
                        </tbody>
                    </table>
                </div>
        </div>
        <br>
        <!-- <div class="col-sm-12 text-center container">
            <button class="btn btn-primary" id="salvar-previsao-recebimento">Salvar</button>
        </div> -->
    </div>
    <?php
    endif;
    ?>
</div>
<div id="left">
    <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
</div>
</div>
<script type="text/javascript" src="/financeiros/faturamento-controle-recebimento/js/main.js?v=2"></script>
<!--<script type="text/javascript" src="/utils/jquery/js/chosen.jquery.min.js"></script>-->
<script type="text/javascript" src="/utils/jquery/js/voltar.js"></script>
<script type="text/javascript" src="/utils/jquery/js/validar_campos.js"></script>

</body>
</html>