<!-- Modal -->
<div class="modal fade" id="modal-add-fatura-nf" tabindex="-1" role="dialog" aria-labelledby="modalAddItemLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="modalAddItemLabel">Associar fatura a NF <span id="id-nota"></span></h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-info">
                    <i class="fa fa-info-circle"></i>
                    Preencha os campos abaixo para buscar as faturas que deseja associar
                </div>
                <form id="form-pesquisa-previsoes-pendentes">
                    <div id="div-pesquisar-faturas-previsao-cadastrada">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="paciente">Paciente:</label>
                                <select name="paciente" id="paciente" class="form-control" style="width: 400px;">
                                    <option value="">Selecione...</option>
                                    <?php foreach($pacientes as $paciente): ?>
                                        <option <?= isset($pacienteBusca) && $pacienteBusca === $paciente['idClientes'] ? "selected" : "" ?> value="<?= $paciente['idClientes'] ?>">(<?= $paciente['codigo'] ?>) <?= strtoupper($paciente['nome']) ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label for="plano">Planos:</label><br>
                                <select name="plano" id="plano" class="form-control" style="width: 300px;">
                                    <option value="">Selecione...</option>
                                    <?php foreach($planos as $plano): ?>
                                        <option <?= isset($planoBusca) && $planoBusca === $plano['id'] ? "selected" : "" ?> value="<?= $plano['id'] ?>"><?= strtoupper($plano['nome']) ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="inicio">Inicio Data da Emissão:</label>
                                    <input name="inicio" id="inicio" type="date" class="form-control OBG" required>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="fim">Fim Data da Emissão:</label>
                                    <input name="fim" id="fim" type="date" class="form-control OBG" required>
                                    <input name="previsao_recebimento" id="previsao-recebimento" type="hidden">
                                    <input name="nota_recebimento" id="id-nota-recebimento" type="hidden">
                                    <input name="ur" id="ur-teste" type="hidden">
                                    <input id="ordenar-por-paciente" checked="" name="ordenar_por" value="paciente" type="hidden">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <button class="btn btn-primary" id="pesquisar-previsao-recebimento-pendentes-associar">
                            <i class="fa fa-search"></i> Buscar
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <div id="response" class="col-md-12" style="overflow: auto">
                            <table class='table table-striped table-bordered' width='100%' >
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>PACIENTE</th>
                                    <th>CONVÊNIO</th>
                                    <th>UR</th>
                                    <th align="center">PERÍODO DA FATURA</th>
                                    <th>VALOR FATURADO</th>
                                    <th>% ENCARGOS</th>
                                    <th>VALOR LIQUIDO</th>
                                    <th>VALOR RECEBIDO</th>
                                    <th>PREVISÃO RECEBIMENTO</th>
                                    <th align="center">DATA DO ENVIO</th>
                                    <th align="center">PROT. ENVIO</th>
                                    <th align="center">MODALIDADE</th>
                                </tr>
                                </thead>
                                <tbody id="tbody-fatura-result">
                                <tr><td colspan="11"></td></tr>

                                </tbody>
                            </table>
                        </div>
                    </div>

                    <!--                </div>-->
                    <!--                <div class="row">-->
                    <div class="col-lg-12 text-center">
                        <button type="button" class="btn btn-success" id="finalizar-associar-fatura">Associar</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>