<!-- Modal -->
<div class="modal fade" id="modal-informar-recebimento-fatura" tabindex="-1" role="dialog" aria-labelledby="modalAddItemLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="modalAddItemLabel">Informe o valor recebido para a fatura <span id="id-fatura-header"></span></h4>
            </div>
            <div class="modal-body">
                <form id="form-informar-recebimento-fatura">
                    <div id="div-informar-recebimento-fatura">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <input type="text" name="valor_recebido" id="valor-recebido" class="form-control valor" value="0,00">
                                    <input type="hidden" name="fatura_id" id="fatura-id" value="">
                                </div>
                                <div class="col-md-6">
                                    <button class="btn btn-success" type="button" role="button" id="salvar-recebimento-fatura">
                                        Salvar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>