<!-- Modal -->
<div class="modal fade" id="modal-add-fatura" tabindex="-1" role="dialog" aria-labelledby="modalAddItemLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="modalAddItemLabel">Adicionar faturas pendentes a NF</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-md-12">
                            <div id="response"  class="col-md-12" style="overflow: auto">
                                <table class='table table-striped  table-bordered ' width='100%' >
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th>PACIENTE</th>
                                        <th>CONVÊNIO</th>
                                        <th>UR</th>
                                        <th align="center">PERÍODO DA FATURA</th>
                                        <th>VALOR FATURADO</th>
                                        <th>% ENCARGOS</th>
                                        <th>VALOR LIQUIDO</th>
                                        <th>PREVISÃO RECEBIMENTO</th>
                                        <th align="center">DATA DO ENVIO</th>
                                        <th align="center">PROT. ENVIO</th>
                                        <th align="center">MODALIDADE</th>
                                    </tr>
                                    </thead>
                                    <tbody id="tbody-fatura-result">
                                    <tr><td colspan="11"></td></tr>

                                    </tbody>
                                </table>
                            </div>
                    </div>

                    <!--                </div>-->
                    <!--                <div class="row">-->
                    <div class="col-lg-12 text-center">
                        <button type="button" class="btn btn-success" id="adicionar-fatura">Adicionar Fatura +</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Pronto!</button>
            </div>
        </div>
    </div>
</div>