<?php require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>
<head>
    <meta charset="UTF-8">
    <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php'); ?>
    <link rel="stylesheet" type="text/css" href="/utils/reports.css">
    <link rel="stylesheet" href="/utils/bootstrap-3.3.6-dist/css/bootstrap.min.css" />
    <script src="/utils/bootstrap-3.3.6-dist/js/bootstrap.min.js" ></script>
    <link rel="stylesheet" href="/utils/font-awesome-4.7.0/css/font-awesome.css" />
    <!--    <link rel="stylesheet" type="text/css" href="/utils/reports.css">-->
    <!--    <link rel="stylesheet" type="text/css" href="/utils/jquery/css/chosen/chosen.css">-->
</head>
<div id="content">
    <div id="right">
        <center><h1>Relatório Controle de Recebimento de Faturas</h1></center>
        <br>
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title pull-left" style="padding-top: 7.5px;">
                    <i class="fa fa-search" aria-hidden="true"></i> Pesquisar Faturas com Previsão/Recebimento Cadastradas.</b>
                </h3>
            </div>
            <div class="panel-body" id="div-pesquisar-faturas-previsao-cadastrada">
                <form method="post" action="/financeiros/faturamento-controle-recebimento/?action=pesquisarRelatorioPrevisaoRecebimento">
                    <div class="row col-md-12">
                        <div class="col-md-8">
                            <label for="paciente">Paciente:</label><br>
                            <select name="paciente" id="paciente" class="form-control" style="width: 400px;">
                                <option value="">Selecione...</option>
                                <?php foreach($pacientes as $paciente): ?>
                                    <option <?= isset($pacienteBusca) && $pacienteBusca === $paciente['idClientes'] ? "selected" : "" ?> value="<?= $paciente['idClientes'] ?>">(<?= $paciente['codigo'] ?>) <?= strtoupper($paciente['nome']) ?></option>
                                <?php endforeach; ?>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label for="ur">UR:</label><br>
                            <select name="ur" id="ur" class="form-control"style="width: 300px;">
                                <option value="">Selecione...</option>
                                <?php foreach($urs as $ur): ?>
                                    <option <?= isset($urBusca) && $urBusca === $ur['id'] ? "selected" : "" ?> value="<?= $ur['id'] ?>"><?= strtoupper($ur['nome']) ?></option>
                                <?php endforeach; ?>
                            </select>
                        </div>
                    </div>
                    <div class="row col-md-12">
                        <div class="col-md-4">
                            <label for="plano">Planos:</label><br>
                            <select name="plano" id="plano" class="form-control" style="width: 300px;">
                                <option value="">Selecione...</option>
                                <?php foreach($planos as $plano): ?>
                                    <option <?= isset($planoBusca) && $planoBusca === $plano['id'] ? "selected" : "" ?> value="<?= $plano['id'] ?>"><?= strtoupper($plano['nome']) ?></option>
                                <?php endforeach; ?>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="inicio">Inicio Previsão:</label>
                                <input name="inicio" id="inicio" type="date" class="form-control OBG" value='<?= isset($inicio)  ? $inicio : "" ?>' required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="fim">Fim Previsão:</label>
                                <input name="fim"  id="fim" type="date" class="form-control OBG" value='<?= isset($fim)  ? $fim : "" ?>' required>
                            </div>
                        </div>
                        <div class=" row col-md-12">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="status">Status Recebimento:</label>
                                    <select class="form-control" id="status" name="status">
                                        <option value="" >Selecione</option>
                                        <option <?= isset($status) && $status == "PENDENTE" ? "selected" : "" ?> value="PENDENTE">Pendente</option>
                                        <option <?= isset($status) && $status == "PROGRAMADO" ? "selected" : "" ?> value="PROGRAMADO">Programado</option>
                                        <option <?= isset($status) && $status == "RECEBIDO" ? "selected" : "" ?> value="RECEBIDO">Recebido</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label>Ordenar por:</label><br>
                                    <input type="radio" id="ordenar-por-paciente" checked <?= isset($ordenarPor) && $ordenarPor == 'paciente' ? "checked" : "" ?> name="ordenar_por" value="paciente"> <label for="ordenar-por-paciente">Paciente</label>
                                    <!--                    <input type="radio" id="ordenar-por-auditor" --><?//= isset($ordenarPor) && $ordenarPor == 'auditor' ? "checked" : "" ?><!-- name="ordenar_por" value="auditor"> <label for="ordenar-por-auditor">Auditor(a)/Faturista</label>-->
                                    <input type="radio" id="ordenar-por-ur" <?= isset($ordenarPor) && $ordenarPor == 'ur' ? "checked" : "" ?> name="ordenar_por" value="ur"> <label for="ordenar-por-ur">UR</label>
                                    <input type="radio" id="ordenar-por-envio" <?= isset($ordenarPor) && $ordenarPor == 'dataEnvio' ? "checked" : "" ?> name="ordenar_por" value="dataEnvio"> <label for="ordenar-por-envio">Data do Envio</label>
                                    <input type="radio" id="ordenar-por-plano" <?= isset($ordenarPor) && $ordenarPor == 'convenio' ? "checked" : "" ?> name="ordenar_por" value="convenio"> <label for="ordenar-por-plano">Plano</label>
                                    <input type="hidden" name="data-previsao-anterior[<?= $data['ID']?>]" value="<?=$data['ID']?>">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 text-center">
                            <button type="submit" class="btn btn-primary" id="buscar-faturas-enviadas">
                                <span class='ui-button-text'>Buscar</span>
                            </button>
                            &nbsp;&nbsp;
                            <button id='' type='button' class='voltar_ btn btn-warning'
                                    role='button' aria-disabled='false' >
                                <span class='ui-button-text'>Voltar</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <?php
        if(isset($response)):
        ?>
        <div class="col-md-12">
            <label style="float: left; padding-top: 20px;">
                Total de <b><?= $count ?></b> faturas encontradas.
            </label>
        </div>

        <?php require __DIR__ . '/modal-informar-valor-recebido.phtml' ?>
        <hr id="separator">

        <div class="form-group col-md-12">
            <form id="">

                <div id="response"  class="col-md-12" style="overflow: auto">
                    <table class='table table-striped  table-bordered ' width='100%' >
                        <thead>
                        <tr>
                            <th>PACIENTE</th>
                            <th>CONVÊNIO</th>
                            <th>UR</th>
                            <th align="center">PERÍODO DA FATURA</th>
                            <th>VALOR FATURADO</th>
                            <th>PREVISÃO RECEBIMENTO</th>
                            <th>ENCARGOS %</th>
                            <th>VAL. LIQUIDO</th>
                            <th>STATUS RECEBIMENTO</th>
                            <th>VALOR PROGRAMADO / RECEBIDO</th>
                            <th>TR</th>
                            <th align="center">MODALIDADE</th>
                            <th align="center">DATA DO ENVIO</th>
                            <th align="center">PROT. ENVIO</th>
                            <th>USUÁRIO</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <?php
                        if($count > 0):
                            $total = 0;
                            foreach($response as $data):
                                $total += $data['valor_faturado'];
                                $dataEnvio = DateTime::createFromFormat('Y-m-d H:i:s', $data['dataEnvio'])->format('d/m/Y');
                                $dataPrevisao = DateTime::createFromFormat('Y-m-d', $data['previsao_recebimento'])->format('d/m/Y');
                                $valor_receb_prog = $data['status'] == 'PROGRAMADO' ?
                                    number_format($data['valor_programado'], 2, ',', '.') :
                                    number_format($data['valor_recebido'], 2, ',', '.');
                                ?>
                                <tr>
                                    <td><?= $data['paciente'] ?></td>
                                    <td><?= $data['convenio'] ?></td>
                                    <td><?= $data['ur'] ?></td>
                                    <td align="center"><?= $data['inicio'] . ' À ' . $data['fim'] ?></td>
                                    <td align="right">R$ <?= number_format($data['valor_faturado'], 2, ',', '.') ?></td>
                                    <td>
                                        <?=$dataPrevisao?>
                                        <input type="hidden" name="valor_atual[<?= $data['ID']?>]" value="<?=$data['valor']?>">
                                        <input type="hidden" name="valor_faturado_anterior[<?= $data['ID']?>]" value="<?=$data['valor_faturado_anterior']?>">
                                        <input type="hidden" name="id_previsao_anterior[<?= $data['ID']?>]" value="<?=$data['idPrevisao']?>">
                                        <input type="hidden" name="usuario_anterior[<?= $data['ID']?>]" value="<?=$data['usuarioPrevisao']?>">
                                        <input type="hidden" name="data_anterior[<?= $data['ID']?>]" value="<?=$data['dataPrevisao']?>">
                                        <input type="hidden" name="data_sistema_anterior[<?= $data['ID']?>]" value="<?=$data['dataSistemaPrevisao']?>">
                                        <input type="hidden" name="modalidade_fatura[<?= $data['ID']?>]" value="<?= $data['remocao'] == "S" ? "REMOCAO" : $data['modalidade'] ?>">
                                        <input type="hidden" name="modalidade_fatura_anterior[<?= $data['ID']?>]" value="<?= $data['modalidade_fatura']?>">
                                    </td>
                                    <td align="right"><?= number_format($data['percentual_desconto_imposto'], 2, ',', '.') ?> %</td>
                                    <td align="right">R$ <?= number_format($data['valor_liquido'], 2, ',', '.') ?></td>
                                    <td id="status-<?= $data['ID'] ?>"><?= $data['status'] ?></td>
                                    <td id="valor-recebido-<?= $data['ID'] ?>" align="right">R$ <?= $valor_receb_prog ?></td>
                                    <td align="center"><?=$data['tr'] ?></td>
                                    <td align="center"><?=$data['modalidade_fatura'] ?></td>
                                    <td align="center"><?= $dataEnvio ?></td>
                                    <td align="center"><?= $data['protocolo_envio']?></td>
                                    <td><?= $data['auditor'] ?></td>
                                    <td id="informar-<?= $data['ID'] ?>">
                                        <?php if($data['status'] == 'PROGRAMADO'): ?>
                                            <button class="btn btn-sm btn-primary informar-valor-recebido" role="button" type="button" title="Informar valor recebido" nome-paciente="<?= $data['paciente'] ?>" fatura-id="<?= $data['ID'] ?>">
                                                <i class="fa fa-dollar"></i>
                                            </button>
                                        <?php endif; ?>
                                    </td>
                                </tr>
                            <?php endforeach; ?>
                            <!--                            <tr style="border-top: 1px solid #000">-->
                            <!--                                <td colspan="7" align="right"><strong>Total:</strong></td>-->
                            <!--                                <td colspan="4" align="left"><strong>R$ --><?//= number_format($total, 2, ',', '.') ?><!--</strong></td>-->
                            <!--                            </tr>-->
                        <?php else: ?>
                            <tr>
                                <td colspan="11" align="center"><strong>Nenhum resultado foi encontrado!</strong></td>
                            </tr>
                        <?php endif; ?>
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
        <br>

    </div>
    <?php
    endif;
    ?>
</div>
<div id="left">
    <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
</div>
</div>
<script type="text/javascript" src="/financeiros/faturamento-controle-recebimento/js/main.js?v=2"></script>
<!--<script type="text/javascript" src="/utils/jquery/js/chosen.jquery.min.js"></script>-->
<script type="text/javascript" src="/utils/jquery/js/voltar.js"></script>
<script type="text/javascript" src="/utils/jquery/js/validar_campos.js"></script>

</body>
</html>