<?php require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>
<head>
    <meta charset="UTF-8">
    <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php'); ?>
    <link rel="stylesheet" type="text/css" href="/utils/reports.css">
    <link rel="stylesheet" href="/utils/bootstrap-3.3.6-dist/css/bootstrap.min.css" />
    <script src="/utils/bootstrap-3.3.6-dist/js/bootstrap.min.js" ></script>
    <link rel="stylesheet" href="/utils/font-awesome-4.7.0/css/font-awesome.css" />
</head>
<div id="content">
    <div id="right">
        <center><h1>Orçamento Gerencial</h1></center>
        <br>
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title pull-left" style="padding-top: 7.5px;">
                 <i class="fa  fa-file-invoice-dollar" aria-hidden="true"></i> Orçamento Gerencial 2020
                </h3>
            </div>           
            <div class="panel-body" id="div-form-conta-antecipada"> 
                <table class="table">
                    <tr>
                        <td>
                            <div class='col-md-4 '></div>
                            <div class='col-md-2'><b>Alíquota</b></div>
                            <div class='col-md-3'><b>Anual</b></div>
                            <div class='col-md-2'><b>Mensal</b></div>
                            <div class='col-md-1' ></div>
                        </td>
                    </tr>
                </table>
            <?php foreach($data as $topico){
                $collapse = !empty($topico['filhos']); ?>
                 
                <div class="panel panel-<?=$cores['panel'][$topico['cor']]?>">
                    <div class="panel-heading clearfix"  >                        
                            <div class='col-md-1' ><b><?=$topico['letra']?></b></div>
                            <div class='col-md-3' ><b><?=$topico['descricao']?></b></div>
                            <div class='col-md-2' ><b><?=number_format(round($valoresTopicos[$topico['id']]['aliquota'],2), 2, ',', '.')?> %</b></div>
                            <div class='col-md-3' ><b><?=number_format($valoresTopicos[$topico['id']]['valor_anual'], 2, ',', '.')?></b></div>
                            <div class='col-md-2' ><b><?=number_format($valoresTopicos[$topico['id']]['valor_mensal'], 2, ',', '.')?></b></div>
                            <div  style ="height:15px;padding:0px !important " class="col-md-1 panel-tabela-cadastro" data-toggle="collapse" data-target="#div-topico-<?=$topico['id']?>" >                                  
                            <?php if($collapse){?>    
                            <i class="fa fa-caret-square-o-up pull-right switch-plus-minus" aria-hidden="true"></i>                                                             
                            <?php } ?>  
                            </div> 
                        
                    </div>         
                <div  class='collapse panel-body' id="div-topico-<?=$topico['id']?>">
                <?php foreach( $topico['filhos'] as $filho ){ ?>
                
                    <div class="panel panel-<?=$cores['panel'][$filho['cor']]?>">
                    <div class="panel-heading clearfix">
                        <div class='col-md-1' ><b><?=$topico['letra']?>.<?=$filho['ordem']?></b></div>
                        <div class='col-md-3' ><?=$filho['descricao']?></div>
                        <div class='col-md-2' ><?=number_format(round($valoresTopicos[$filho['id']]['aliquota'],2), 2, ',', '.')?> %</div>
                        <div class='col-md-3' ><?=number_format($valoresTopicos[$filho['id']]['valor_anual'], 2, ',', '.')?></div>
                        <div class='col-md-2' ><?=number_format($valoresTopicos[$filho['id']]['valor_mensal'], 2, ',', '.')?></div>
                        <div  style ="height:15px;padding:0px !important" class="col-md-1 panel-tabela-cadastro" data-toggle="collapse" data-target="#div-topico-<?=$filho['id']?>" >                                  
                            <i class="fa fa-caret-square-o-up pull-right switch-plus-minus" aria-hidden="true"></i>                                                             
                        </div>
                    </div>
                <div  class='collapse panel-body' id="div-topico-<?=$filho['id']?>">
                <table class="table table-striped">
                <?php foreach( $valoresPlanoContas[$filho['id']] as $plano ){ ?>                    
                    <tr>
                        <td>
                            
                            <div class='col-md-4' style="font-size: 10px;"><?=$plano['COD_N4']?> <?=$plano['N4']?></div>
                            <div class='col-md-2' ><?=number_format(round($plano['aliquota'],2), 2, ',', '.')?> %</div>
                            <div class='col-md-3' ><?=number_format($plano['valor_anual'], 2, ',', '.')?></div>
                            <div class='col-md-2' ><?=number_format($plano['valor_mensal'], 2, ',', '.')?></div>
                            <div class='col-md-1' ></div>
                        </td>
                    </tr>
                    <?php }?>
                </table>
                   
                        <?php foreach( $filho['filhos'] as $neto ){
                            $collapse = !empty($valoresPlanoContas[$neto['id']]); ?>  
                            <div class="panel panel-<?=$cores['panel'][$neto['cor']]?>">
                                <div class="panel-heading clearfix">                  
                                    <div class='col-md-1' ><b><?=$topico['letra']?>.<?=$filho['ordem']?>.<?=$neto['ordem']?></b></div>
                                    <div class='col-md-3' ><?=$neto['descricao']?></div>
                                    <div class='col-md-2' ><?=number_format(round($valoresTopicos[$neto['id']]['aliquota'],2), 2, ',', '.')?> %</div>
                                    <div class='col-md-3' ><?=number_format($valoresTopicos[$neto['id']]['valor_anual'], 2, ',', '.')?></div>
                                    <div class='col-md-2' ><?=number_format($valoresTopicos[$neto['id']]['valor_mensal'], 2, ',', '.')?></div>
                                    <div  style ="height:15px;padding:0px !important " class="col-md-1 panel-tabela-cadastro" data-toggle="collapse" data-target="#div-topico-<?=$neto['id']?>" >                                  
                                        <?php if($collapse){?>
                                            <i class="fa fa-caret-square-o-up pull-right switch-plus-minus" aria-hidden="true"></i> 
                                        <?php }?>                                                             
                                    </div>
                                </div>
                            <div  class='collapse panel-body' id="div-topico-<?=$neto['id']?>">
                            <table class="table table-striped">
                            <?php foreach( $valoresPlanoContas[$neto['id']] as $plano ){ ?>                    
                                <tr>
                                    <td>                                    
                                    <div class='col-md-4' ><?=$plano['COD_N4']?> <?=$plano['N4']?></div>
                                    <div class='col-md-2' ><?=number_format(round($plano['aliquota'],2), 2, ',', '.')?> %</div>
                                    <div class='col-md-3' ><?=number_format($plano['valor_anual'], 2, ',', '.')?></div>
                                    <div class='col-md-2' ><?=number_format($plano['valor_mensal'], 2, ',', '.')?></div>
                                    <div class='col-md-1' ></div>
                                    </td>
                                </tr>
                            <?php }?>
                            </table>
                            </div>
                            </div>
                        <?php }?>
                        
                            </div>
                            </div>
                    <?php }?>
                   
                    </div>
                </div>
                
            <?php } ?> 
                                
            </div>     
        </div>
    </div>
    <div id="left">
        <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
    </div>
</div>
<script type="text/javascript" src="/financeiros/orcamento-gerencial/js/main.js?v=1.4"></script>
<script type="text/javascript" src="/utils/jquery/js/chosen.jquery.min.js"></script>
<script type="text/javascript" src="/utils/jquery/js/voltar.js"></script>
<script type="text/javascript" src="/utils/jquery/js/validar_campos.js"></script>
<script type="text/javascript" src="/utils/bower_components/moment/moment.js"></script>
<script type="text/javascript" src="/utils/jquery/js/validar_vencimento_real.js?v=1"></script>


</body>
</html>