<?php require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>
<head>
  <meta charset="UTF-8">
  <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php'); ?>
  <link rel="stylesheet" href="/utils/global.css"/>
</head>
  <div id="content">
    <div id="right">
      <center><h1>Plano de Contas Contábil</h1></center>
      <br>
      <div class="opcoes">
        <a href="?action=ipcc-form" class='ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only
        ui-state-hover'>
          <span class='ui-button-text'>Novo Item</span>
        </a>
        &nbsp;&nbsp;
        <button id='' type = 'button' class=' voltar_ ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only ui-state-hover' role='button' aria-disabled='false' ><span class='ui-button-text'>Voltar</span></button>

      </div>
      <br><br>
      <?php
        $editar = isset($_GET['level']) && isset($_GET['match']) ? true : false;
        $display = "none";
        if(isset($_GET['msg']) && !empty($_GET['msg'])) {
          $msg = base64_decode($_GET['msg']);
          if ($_GET['type'] === 's') {
            $display = "block";
            $class = "success";
          } else {
            $display = "block";
            $class = "failed";
          }
        }
      ?>
      <div style="display:<?= $display ?>" class="msg <?= $class ?>">
        <strong><?= $msg ?></strong>
      </div>
      <br><br>
      <ul class="tree">
        <?php
					foreach($contas as $nivel1 => $nivel2):
						switch(substr($nivel1,0,1)){
							case '1':
								$tipoConta = 'income';
								break;
							case '2':
								$tipoConta = 'blue';
								break;
							case '3':
								$tipoConta = 'purple';
								break;
                            case '4':
                                $tipoConta = 'expense';
                                break;
                            case '5':
                                $tipoConta = 'purple';
                                break;
                            case '6':
                                $tipoConta = 'green';
                                break;
                            case '7':
                                $tipoConta = 'orange';
                                break;
							case '8':
								$tipoConta = 'yellow';
								break;
						}
				?>
        <li class="<?= $tipoConta ?>">
          <span href="#" class="tooltips">
            <?= $nivel1 ?>
          <ul>
            <?php foreach($nivel2 as $n2 => $nivel3): ?>
            <li>
              <span href="#" class="tooltips">
                <?= $n2 ?>
                   <!-- <span class="tips">
                  <a href="?action=ipcc-editar&level=2&match=<?/*= substr($n2,0,3) */?>" >
                    Editar
                  </a>
                  |
                  <a href="javascript:if(confirm('Deseja realmente excluir esse item?')) location.href='?action=ipcc-excluir&level=2&match=<?/*= substr($n2,0,3) */?>';" >
                    Excluir
                  </a>
                </span>-->
              </span>
              <ul>
                <?php foreach($nivel3 as $n3 => $nivel4): ?>
                <li>
                  <span href="#" class="tooltips">
                    <?= $n3 ?>
                    <!--<span class="tips">
                      <a href="?action=ipcc-editar&level=3&match=<?/*= substr($n3,0,6) */?>" >
                        Editar
                      </a>
                      |
                      <a href="javascript:if(confirm('Deseja realmente excluir esse item?')) location.href='?action=ipcc-excluir&level=3&match=<?/*= substr($n3,0,6) */?>';">
                        Excluir
                      </a>
                    </span>-->
                  </span>
                  <ul>
                    <?php foreach($nivel4 as $n4 => $nivel5): ?>
                    <li>
                      <span href="#" class="tooltips">
                        <?= $n4 ?>
                        <!--<span class="tips">
                          <a href="?action=ipcc-editar&level=4&match=<?/*= substr($n4,0,9) */?>" >
                            Editar
                          </a>
                          |
                          <a href="javascript:if(confirm('Deseja realmente excluir esse item?')) location.href='?action=ipcc-excluir&level=4&match=<?/*= substr($n4,0,9) */?>';" >
                            Excluir
                          </a>
                        </span>-->
                      </span>
											<ul>
												<?php foreach($nivel5 as $n5): ?>
												<li>
													<span href="#" class="tooltips">
														<?= $n5 ?>
														<!--<span class="tips">
															<a href="?action=ipcc-editar&level=5&match=<?/*= substr($n5,0,13) */?>" >
																Editar
															</a>
															|
															<a href="javascript:if(confirm('Deseja realmente excluir esse item?')) location.href='?action=ipcc-excluir&level=5&match=<?/*= substr($n5,0,13) */?>';" >
																Excluir
															</a>
														</span>-->
													</span>
												</li>
												<?php endforeach; ?>
											</ul>
                    </li>
                    <?php endforeach; ?>
                  </ul>
                </li>
                <?php endforeach; ?>
              </ul>
            </li>
            <?php endforeach; ?>
          </ul>
        </li>
        <?php endforeach; ?>
      </ul>
    </div>
    <div id="left">
      <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
    </div>
    <script type="text/javascript" src="/utils/jquery/js/voltar.js"></script>
  </div>

  </body>
  </html>