<?php require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>
<head>
    <meta charset="UTF-8">
    <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php'); ?>
    <link rel="stylesheet" href="/utils/global.css"/>
</head>
<div id="content">
    <div id="right">
        <center><h1>Novo Item do Plano de Contas Contábil</h1></center>
        <br>
        <div class="opcoes">
            <a href="index.php?action=ipcc" class='ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only
        ui-state-hover'>
                <span class='ui-button-text'>Listar Itens</span>
            </a>
        </div>
        <br><br>
        <?php
        $editar = isset($_GET['level']) && isset($_GET['match']) ? true : false;
        $display = "none";

        if(isset($response['msg']) && !empty($response['msg'])) {
            if (array_key_exists("success", $response['msg'])) {
                $msg = $response['msg']['success'];
                $display = "block";
                $class = "success";
            } else {
                $msg = $response['msg']['failed'];
                $display = "block";
                $class = "failed";
            }
        }
        if($editar) {
            switch ($data['N1']) {
                case 'A' :
                    $nivel1 = '1 - ATIVO';
                    break;
                case 'P' :
                    $nivel1 = '2 - PASSIVO';
                    break;
                case 'CRR' :
                    $nivel1 = '3 - CONTAS DE RESULTADO - RECEITAS';
                    break;
                case 'C' :
                    $nivel1 = '4 - CUSTOS';
                    break;
                case 'DO' :
                    $nivel1 = '5 - DESPESAS OPERACIONAIS';
                    break;
                case 'RF' :
                    $nivel1 = '6 - RESULTADO FINANCEIRO';
                    break;
                case 'OR' :
                    $nivel1 = '7 - OUTRAS RECEITAS';
                    break;
                case 'PRO' :
                    $nivel1 = '8 - PROVISÃO DE IRPJ E CSLL';
                    break;
            }
        }
        ?>
        <div style="display:<?= $display ?>" class="msg <?= $class ?>">
            <strong><?= $msg ?></strong>
        </div>
        <br><br>
        <div class="cabecalho-nivel">
            <span>Código</span>
            <span class="descricao-nivel">Descrição</span>
        </div>
        <form method="post" onsubmit="javascript: return validarCodigos();" action="?action=<?= $editar ? 'ipcc-atualizar' : 'ipcc-salvar' ?>">
            <ul class="tree">
                <li>
                    Nível 1
                    <?php if($editar): ?>
                        <input type="hidden" name="ipcc[nivel1][codigo]" value="<?= $data['N1'] ?>">
                    <?php endif; ?>
                    <select name="ipcc[nivel1][codigo]" id="codigo1" required="required" style="width: 650px;" <?= (isset($_GET['level']) && ($_GET['level'] == '2' || $_GET['level'] == '3' || $_GET['level'] == '4' || $_GET['level'] == '5') ? 'disabled' : '') ?>>
                        <option value="">SELECIONE...</option>
                        <option <?= $editar ? ($data['N1'] == 'A' ? 'selected' : '') : "" ?> value="A">1 - ATIVO</option>
                        <option <?= $editar ? ($data['N1'] == 'P' ? 'selected' : '') : "" ?> value="P">2 - PASSIVO</option>
                        <option <?= $editar ? ($data['N1'] == 'CRR' ? 'selected' : '') : "" ?> value="CRR">3 - CONTAS DE RESULTADO - RECEITAS</option>
                        <option <?= $editar ? ($data['N1'] == 'C' ? 'selected' : '') : "" ?> value="C">4 - CUSTOS</option>
                        <option <?= $editar ? ($data['N1'] == 'DO' ? 'selected' : '') : "" ?> value="DO">5 - DESPESAS OPERACIONAIS</option>
                        <option <?= $editar ? ($data['N1'] == 'RF' ? 'selected' : '') : "" ?> value="RF">6 - RESULTADO FINANCEIRO</option>
                        <option <?= $editar ? ($data['N1'] == 'OR' ? 'selected' : '') : "" ?> value="OR">7 - OUTRAS RECEITAS</option>
                        <option <?= $editar ? ($data['N1'] == 'PRO' ? 'selected' : '') : "" ?> value="PRO">8 - PROVISÃO DE IRPJ E CSLL</option>
                    </select>
                    <!--<input type="text"
                   id="codigo1"
                   required="required"
                   <?/*= (isset($_GET['level']) && ($_GET['level'] == '2' || $_GET['level'] == '3' || $_GET['level'] == '4' || $_GET['level'] == '5') ? 'disabled' : '') */?>
                   name="ipcc[nivel1][codigo]"
                   size="2"
                   required="required"
                   maxlength="1"
                   value="<?/*= $editar ? ($data['N1'] == 'D' ? '2' : '1') : "" */?>"> -
            <input type="text"
                   id="descricao1"
                   required="required"
                   <?/*= (isset($_GET['level']) && ($_GET['level'] == '2' || $_GET['level'] == '3' || $_GET['level'] == '4' || $_GET['level'] == '5') ? 'disabled' : '') */?>
                   name="ipcc[nivel1][descricao]"
                   size="50"
                   required="required"
                   maxlength="100"
                   class="buscar-ipcc"
                   nivel="1"
                   value="<?/*= $editar ? $nivel1 : "" */?>">-->
                    <?php
                    if(!$editar || ($editar && isset($_GET['level']) && $_GET['level'] > '1')):
                    ?>
                    <ul>
                        <li>
                            Nível 2
                            <?php if($editar): ?>
                                <input type="hidden" name="ipcc[nivel2][codigo]" value="<?= $data['COD_N2'] ?>">
                                <input type="hidden" name="ipcc[nivel2][descricao]" value="<?= $data['N2'] ?>">
                            <?php endif; ?>
                            <input type="text"
                                   id="codigo2"
                                <?= (isset($_GET['level']) && ($_GET['level'] == '3' || $_GET['level'] == '4' || $_GET['level'] == '5') ? 'disabled' : '') ?>
                                   name="ipcc[nivel2][codigo]"
                                   size="5"
                                   required="required"
                                   maxlength="7"
                                   value="<?= isset($data['COD_N2']) && !empty($data['COD_N2']) ? $data['COD_N2'] : "" ?>"> -
                            <input type="text"
                                   id="descricao2"
                                <?= (isset($_GET['level']) && ($_GET['level'] == '3' || $_GET['level'] == '4' || $_GET['level'] == '5') ? 'disabled' : '') ?>
                                   name="ipcc[nivel2][descricao]"
                                   size="50"
                                   required="required"
                                   maxlength="200"
                                   class="buscar-ipcc"
                                   nivel="2"
                                   value="<?= isset($data['N2']) && !empty($data['N2']) ? $data['N2'] : "" ?>">
                            <?php
                            endif;
                            if(!$editar || ($editar && isset($_GET['level']) && $_GET['level'] > '2')):
                            ?>
                            <ul>
                                <li>
                                    Nível 3
                                    <?php if($editar): ?>
                                        <input type="hidden" name="ipcc[nivel3][codigo]" value="<?= $data['COD_N3'] ?>">
                                        <input type="hidden" name="ipcc[nivel3][descricao]" value="<?= $data['N3'] ?>">
                                    <?php endif; ?>
                                    <input type="text"
                                           id="codigo3"
                                        <?= (isset($_GET['level']) && ($_GET['level'] == '4'  || $_GET['level'] == '5') ? 'disabled' : '') ?>
                                           name="ipcc[nivel3][codigo]"
                                           size="6"
                                           required="required"
                                           maxlength="10"
                                           value="<?= isset($data['COD_N3']) && !empty($data['COD_N3']) ? $data['COD_N3'] : "" ?>"> -
                                    <input type="text"
                                           id="descricao3"
                                        <?= (isset($_GET['level']) && ($_GET['level'] == '4'  || $_GET['level'] == '5') ? 'disabled' : '') ?>
                                           name="ipcc[nivel3][descricao]"
                                           size="50"
                                           required="required"
                                           maxlength="200"
                                           class="buscar-ipcc"
                                           nivel="3"
                                           value="<?= isset($data['N3']) && !empty($data['N3']) ? $data['N3'] : "" ?>">
                                    <?php
                                    endif;
                                    if(!$editar || ($editar && isset($_GET['level']) && $_GET['level'] > '3')):
                                    ?>
                                    <ul>
                                        <li>
                                            Nível 4
                                            <?php if($editar): ?>
                                                <input type="hidden" name="ipcc[nivel4][codigo]" value="<?= $data['COD_N4'] ?>">
                                                <input type="hidden" name="ipcc[nivel4][descricao]" value="<?= $data['N4'] ?>">
                                            <?php endif; ?>
                                            <input type="text"
                                                   id="codigo4"
                                                <?= (isset($_GET['level']) && $_GET['level'] == '5' ? 'disabled' : '') ?>
                                                   required="required"
                                                   name="ipcc[nivel4][codigo]"
                                                   size="9"
                                                   maxlength="13"
                                                   value="<?= isset($data['COD_N4']) && !empty($data['COD_N4']) ? $data['COD_N4'] : "" ?>"> -
                                            <input type="text"
                                                   id="descricao4"
                                                <?= (isset($_GET['level']) && $_GET['level'] == '5' ? 'disabled' : '') ?>
                                                   required="required"
                                                   name="ipcc[nivel4][descricao]"
                                                   size="50"
                                                   maxlength="200"
                                                   class="buscar-ipcc"
                                                   nivel="4"
                                                   value="<?= isset($data['N4']) && !empty($data['N4']) ? $data['N4'] : "" ?>">
                                            <?php
                                            endif;
                                            if(!$editar || ($editar && isset($_GET['level']) && $_GET['level'] == '5')):
                                                ?>
                                                <ul>
                                                    <li>
                                                        Nível 5
                                                        <input type="text"
                                                               id="codigo5"
                                                               required="required"
                                                               name="ipcc[nivel5][codigo]"
                                                               size="13"
                                                               maxlength="17"
                                                               value="<?= isset($data['COD_N5']) && !empty($data['COD_N5']) ? $data['COD_N5'] : "" ?>"> -
                                                        <input type="text"
                                                               id="descricao5"
                                                               required="required"
                                                               name="ipcc[nivel5][descricao]"
                                                               size="50"
                                                               maxlength="200"
                                                               class="buscar-ipcc"
                                                               nivel="5"
                                                               value="<?= isset($data['N5']) && !empty($data['N5']) ? $data['N5'] : "" ?>"> -
                                                        <input type="text"
                                                               id="codigo_dominio"
                                                               required="required"
                                                               name="ipcc[nivel5][codigo_dominio]"
                                                               size="10"
                                                               maxlength="10"
                                                               value="<?= isset($data['CODIGO_DOMINIO']) && !empty($data['CODIGO_DOMINIO']) ? $data['CODIGO_DOMINIO'] : "" ?>">
                                                        * Código no Sistema da Domínio
                                                    </li>
                                                </ul>
                                            <?php endif; ?>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
            <br>
            <div class="local-msg failed">

            </div>
            <?php
            if($editar):
                ?>
                <input type="hidden" name="ipccAntigo[nivel1][codigo]" value="<?= $data['N1'] ?>">
                <input type="hidden" name="ipccAntigo[nivel2][codigo]" value="<?= $data['COD_N2'] ?>">
                <input type="hidden" name="ipccAntigo[nivel2][descricao]" value="<?= $data['N2'] ?>">
                <input type="hidden" name="ipccAntigo[nivel3][codigo]" value="<?= $data['COD_N3'] ?>">
                <input type="hidden" name="ipccAntigo[nivel3][descricao]" value="<?= $data['N3'] ?>">
                <input type="hidden" name="ipccAntigo[nivel4][codigo]" value="<?= $data['COD_N4'] ?>">
                <input type="hidden" name="ipccAntigo[nivel4][descricao]" value="<?= $data['N4'] ?>">
                <input type="hidden" name="ipccAntigo[nivel5][codigo]" value="<?= $data['COD_N5'] ?>">
                <input type="hidden" name="ipccAntigo[nivel5][codigo_dominio]" value="<?= $data['codigo_dominio'] ?>">
                <input type="hidden" name="ipccAntigo[nivel5][descricao]" value="<?= $data['N5'] ?>">
                <input type="hidden" id="nivel" name="extras[nivel]" value="<?= $_GET['level'] ?>">
            <?php endif; ?>
            <div>
                <button type="submit" class='ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only
        ui-state-hover' id="salvar">
                    <span class='ui-button-text'><?= ($editar ? 'Atualizar' : 'Salvar') ?></span>
                </button>
                &nbsp;&nbsp;
                <button id='' type = 'button' class=' voltar_ ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only ui-state-hover' role='button' aria-disabled='false' ><span class='ui-button-text'>Voltar</span></button>

            </div>
        </form>
    </div>
    <div id="left">
        <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
    </div>
</div>
<script type="text/javascript" src="/utils/jquery/js/voltar.js"></script>
<script type="text/javascript">
    function validarCodigos() {
        var codigoN1 = $('#codigo1').val();
        switch(codigoN1) {
            case 'A' :
                codigoN1 = '1';
                break;
            case 'P' :
                codigoN1 = '2';
                break;
            case 'CRR' :
                codigoN1 = '3';
                break;
            case 'C' :
                codigoN1 = '4';
                break;
            case 'DO' :
                codigoN1 = '5';
                break;
            case 'RF' :
                codigoN1 = '6';
                break;
            case 'OR' :
                codigoN1 = '7';
                break;
            case 'PRO' :
                codigoN1 = '8';
                break;
        }
        var codigoN2 = $('#codigo2').val();
        var codigoN3 = $('#codigo3').val();
        var codigoN4 = $('#codigo4').val();
        var codigoN5 = $('#codigo5').val();
        var erros = '<br><b>ERROS:</b><ul>';

        var cod2split = codigoN2.split('.');
        if (cod2split.length != 2) {
            erros += '<li>O código do nível 2 está incorreto! (Ex.: 1.1) </li>';
        }
        if (cod2split[0] != codigoN1) {
            erros += '<li>A herança do código de nível 2 não é coerente!</li>';
        }

        var cod3split = codigoN3.split('.');
        if (cod3split.length != 3) {
            erros += '<li>O código do nível 3 está incorreto! (Ex.: 1.1.1) </li>';
        }
        if ((cod3split[0] + '.' + cod3split[1]) != codigoN2) {
            erros += '<li>A herança do código de nível 3 não é coerente!</li>';
        }

        var cod4split = codigoN4.split('.');
        if (cod4split.length != 4) {
            erros += '<li>O código do nível 4 está incorreto! (Ex.: 1.1.1.11) </li>';
        }
        if ((cod4split[0] + '.' + cod4split[1] + '.' + cod4split[2]) != codigoN3) {
            erros += '<li>A herança do código de nível 4 não é coerente!</li>';
        }

        var cod5split = codigoN5.split('.');
        if (cod5split.length != 5) {
            erros += '<li>O código do nível 5 está incorreto! (Ex.: 1.1.11.11.111) </li>';
        }
        if ((cod5split[0] + '.' + cod5split[1] + '.' + cod5split[2] + '.' + cod5split[3]) != codigoN4) {
            erros += '<li>A herança do código de nível 5 não é coerente!</li>';
        }

        if (erros !== '<br><b>ERROS:</b><ul>') {
            $('.local-msg').html(erros + '</ul>');
            return false;
        } else {
            return true;
        }
    }

    $(function($){
        $(".buscar-ipcc").keydown(function(){
            var nivel = $(this).attr('nivel');
            $(".buscar-ipcc").autocomplete({
                source: function(request, response) {
                    $.getJSON('index.php', {
                        term  : request.term,
                        action: "ipcc-getjson",
                        nivel : nivel
                    }, response);
                },
                minLength: 3,
                select: function( event, ui ) {
                    $('#codigo'+nivel).val(ui.item.value);
                    
                    
                    $('#descricao'+nivel).val(ui.item.labelSelected);
                    return false;
                }
            });
        });
    });
</script>
</body>
</html>