<?php require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>
<head>
    <meta charset="UTF-8">
    <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php'); ?>
    <link rel="stylesheet" type="text/css" href="/utils/reports.css">
    <link rel="stylesheet" href="/utils/bootstrap-3.3.6-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/utils/bootstrap-3.3.6-dist/css/chosen.bootstrap.min.css" />
    <link rel="stylesheet" href="/utils/font-awesome-4.7.0/css/font-awesome.css" />
</head>
<div id="content">
    <div id="right">
        <?php
        $editar = isset($_GET['level']) && isset($_GET['match']) ? true : false;
        $display = "none";

        if(isset($response['msg']) && !empty($response['msg'])) {
            if (array_key_exists("success", $response['msg'])) {
                $msg = $response['msg']['success'];
                $display = "block";
                $class = "alert-success";
            } else {
                $msg = $response['msg']['failed'];
                $display = "block";
                $class = "alert-failed";
            }
        }
        ?>
        <div style="display:<?= $display ?>" class="msg alert <?= $class ?>">
            <strong><?= $msg ?></strong>
        </div>
        <form method="post" onsubmit="javascript: return validarCodigos();" action="?action=<?= $editar ? 'ipcf-atualizar' : 'ipcf-salvar' ?>">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title pull-left" style="padding-top: 7.5px;">
                        <i class="fa fa-list" aria-hidden="true"></i>
                        Novo Item do Plano de Contas Financeiro
                    </h3>
                    <a class="btn btn-primary pull-right" style="color: white;" href="index.php?action=ipcf">
                        <i class="fa fa-list" aria-hidden="true"></i> Listar Itens
                    </a>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-6">
                            <label>Código</label>
                        </div>
                        <div class="col-xs-6">
                            <label>Descrição</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <label for="codigo1">Nível 1</label>
                            <?php if($editar): ?>
                                <input type="hidden" name="ipcf[nivel1][codigo]" value="<?= $data['N1'] ?>">
                            <?php endif; ?>
                            <select name="ipcf[nivel1][codigo]" id="codigo1" required="required" class="form-control" <?= (isset($_GET['level']) && ($_GET['level'] == '2' || $_GET['level'] == '3' || $_GET['level'] == '4') ? 'disabled' : '') ?>>
                                <option value="">SELECIONE...</option>
                                <option <?= $editar ? ($data['N1'] == 'E' ? 'selected' : '') : "" ?> value="E">1 - ENTRADA</option>
                                <option <?= $editar ? ($data['N1'] == 'S' ? 'selected' : '') : "" ?> value="S">2 - SAÍDA</option>
                            </select>
                        </div>
                    </div>
                    <?php
                    if(!$editar || ($editar && isset($_GET['level']) && $_GET['level'] > '1')):
                        ?>
                        <div class="row">
                            <div class="col-xs-3">
                                <label for="codigo1">Nível 2</label>
                                <?php if($editar): ?>
                                    <input type="hidden" name="ipcf[nivel2][codigo]" value="<?= $data['COD_N2'] ?>">
                                    <input type="hidden" name="ipcf[nivel2][descricao]" value="<?= $data['N2'] ?>">
                                <?php endif; ?>
                                <input type="text"
                                       class="form-control"
                                       id="codigo2"
                                    <?= (isset($_GET['level']) && ($_GET['level'] == '3' || $_GET['level'] == '4') ? 'disabled' : '') ?>
                                       name="ipcf[nivel2][codigo]"
                                       size="5"
                                       required="required"
                                       maxlength="5"
                                       value="<?= isset($data['COD_N2']) && !empty($data['COD_N2']) ? $data['COD_N2'] : "" ?>">
                            </div>
                            <div class="col-xs-9">
                                <label for="">&nbsp;</label>
                                <input type="text"
                                       id="descricao2"
                                    <?= (isset($_GET['level']) && ($_GET['level'] == '3' || $_GET['level'] == '4') ? 'disabled' : '') ?>
                                       name="ipcf[nivel2][descricao]"
                                       size="50"
                                       required="required"
                                       maxlength="200"
                                       class="form-control buscar-ipcf"
                                       nivel="2"
                                       value="<?= isset($data['N2']) && !empty($data['N2']) ? $data['N2'] : "" ?>">
                            </div>
                        </div>
                    <?php
                    endif;
                    if(!$editar || ($editar && isset($_GET['level']) && $_GET['level'] > '2')):
                        ?>
                        <div class="row">
                            <div class="col-xs-offset-1 col-xs-3">
                                <label for="codigo1">Nível 3</label>
                                <?php if($editar): ?>
                                    <input type="hidden" name="ipcf[nivel3][codigo]" value="<?= $data['COD_N3'] ?>">
                                    <input type="hidden" name="ipcf[nivel3][descricao]" value="<?= $data['N3'] ?>">
                                <?php endif; ?>
                                <input type="text"
                                       id="codigo3"
                                       class="form-control"
                                    <?= (isset($_GET['level']) && $_GET['level'] == '4' ? 'disabled' : '') ?>
                                       name="ipcf[nivel3][codigo]"
                                       size="9"
                                       required="required"
                                       maxlength="9"
                                       value="<?= isset($data['COD_N3']) && !empty($data['COD_N3']) ? $data['COD_N3'] : "" ?>">
                            </div>
                            <div class="col-xs-8">
                                <label for="">&nbsp;</label>
                                <input type="text"
                                       id="descricao3"
                                    <?= (isset($_GET['level']) && $_GET['level'] == '4' ? 'disabled' : '') ?>
                                       name="ipcf[nivel3][descricao]"
                                       required="required"
                                       maxlength="200"
                                       class="form-control buscar-ipcf"
                                       nivel="3"
                                       value="<?= isset($data['N3']) && !empty($data['N3']) ? $data['N3'] : "" ?>">
                            </div>
                        </div>

                    <?php
                    endif;
                    if(!$editar || ($editar && isset($_GET['level']) && $_GET['level'] == '4')):
                        ?>
                        <div class="row">
                            <div class="col-xs-offset-2 col-xs-3">
                                <label for="codigo1">Nível 4</label>
                                <input type="text"
                                       id="codigo4"
                                       required="required"
                                       <?= $editar ? 'disabled' : '' ?>
                                       name="ipcf[nivel4][codigo]"
                                       size="8"
                                       maxlength="11"
                                       class="form-control"
                                       value="<?= isset($data['COD_N4']) && !empty($data['COD_N4']) ? $data['COD_N4'] : "" ?>">
                            </div>
                            <div class="col-xs-7">
                                <label for="">&nbsp;</label>
                                <input type="text"
                                       id="descricao4"
                                       required="required"
                                    <?= $editar ? 'disabled' : '' ?>
                                       name="ipcf[nivel4][descricao]"
                                       maxlength="200"
                                       class="form-control buscar-ipcf"
                                       nivel="4"
                                       value="<?= isset($data['N4']) && !empty($data['N4']) ? $data['N4'] : "" ?>">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-offset-2 col-xs-3">
                                <label for="">IPCC</label>
                                <input type="text"
                                       id="codigoipcc"
                                       name="ipcf[ipcc][codigo]"
                                       readonly="readonly"
                                       size="8"
                                       maxlength="13"
                                       class="form-control"
                                       value="<?= isset($data['COD_IPCC']) && !empty($data['COD_IPCC']) ? $data['COD_IPCC'] : "" ?>">
                            </div>
                            <div class="col-xs-7">
                                <label for="">&nbsp;</label>
                                <input type="text"
                                       id="descricaoipcc"
                                       <?= isset($data['COD_IPCC']) && !empty($data['COD_IPCC']) ? 'readonly="readonly"' : "" ?>
                                       name="ipcf[ipcc][descricao]"
                                       size="50"
                                       maxlength="200"
                                       class="form-control buscar-ipcc"
                                       value="<?= isset($data['IPCC']) && !empty($data['IPCC']) ? $data['IPCC'] : "" ?>">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-xs-offset-2 col-xs-10">
                                <label for="provisiona">
                                <input type="checkbox"
                                       id="provisiona"
                                       name="ipcf[nivel4][provisiona]"
                                    <?= isset($data['PROVISIONA']) && !empty($data['PROVISIONA']) && $data['PROVISIONA'] === 's' ? "checked" : "" ?>
                                       value="s">
                                    Provisiona?
                                </label>
                            </div>
                        </div>
                    <?php endif; ?>
                    <div class="row">
                        <div class="col-xs-12">
                            <label>Possui retenções?</label>
                            <select name="ipcf[nivel4][possui_retencoes]" class="form-control" id="possui-retencoes">
                                <option <?= isset($data['POSSUI_RETENCOES']) && $data['POSSUI_RETENCOES'] == '2' ? 'selected' : "" ?> value="2">Não</option>
                                <option <?= isset($data['POSSUI_RETENCOES']) && $data['POSSUI_RETENCOES'] == '1' ? 'selected' : "" ?> value="1">Sim</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="local-msg failed">

            </div>
            <?php
            if($editar):
                ?>
                <input type="hidden" name="ipcfAntigo[nivel1][codigo]" value="<?= $data['N1'] ?>">
                <input type="hidden" name="ipcfAntigo[nivel2][codigo]" value="<?= $data['COD_N2'] ?>">
                <input type="hidden" name="ipcfAntigo[nivel2][descricao]" value="<?= $data['N2'] ?>">
                <input type="hidden" name="ipcfAntigo[nivel3][codigo]" value="<?= $data['COD_N3'] ?>">
                <input type="hidden" name="ipcfAntigo[nivel3][descricao]" value="<?= $data['N3'] ?>">
                <input type="hidden" name="ipcfAntigo[nivel4][codigo]" value="<?= $data['COD_N4'] ?>">
                <input type="hidden" name="ipcfAntigo[nivel4][descricao]" value="<?= $data['N4'] ?>">
                <input type="hidden" name="ipcfAntigo[nivel4][provisiona]" value="<?= $data['PROVISIONA'] ?>">
                <input type="hidden" name="ipcfAntigo[ipcc][codigo]" value="<?= $data['COD_IPCC'] ?>">
                <input type="hidden" name="ipcfAntigo[ipcc][descricao]" value="<?= $data['IPCC'] ?>">
                <input type="hidden" id="nivel" name="extras[nivel]" value="<?= $_GET['level'] ?>">
            <?php endif; ?>

            <div class="panel panel-default retencoes" style="display: <?= $data['POSSUI_RETENCOES'] == '1' ? 'block' : "none" ?>;">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title pull-left">
                        <i class="fa fa-percent" aria-hidden="true"></i> Retenções
                    </h3>
                </div>
                <div class="panel-body">
                    <?php
                        $iss = $editar ? number_format($data['ISS'], 2, ',', '.') : '0,00';
                        $ir = $editar ? number_format($data['IR'], 2, ',', '.') : '0,00';
                        $pis = $editar ? number_format($data['PIS'], 2, ',', '.') : '0,00';
                        $cofins = $editar ? number_format($data['COFINS'], 2, ',', '.') : '0,00';
                        $csll = $editar ? number_format($data['CSLL'], 2, ',', '.') : '0,00';
                        $icms = $editar ? number_format($data['ICMS'], 2, ',', '.') : '0,00';
                        $pcc = $editar ? number_format($data['PCC'], 2, ',', '.') : '0,00';
                        $ipi = $editar ? number_format($data['IPI'], 2, ',', '.') : '0,00';
                        $inss = $editar ? number_format($data['INSS'], 2, ',', '.') : '0,00';
                    ?>
                    <div class="row">
                        <div class="col-xs-4">
                            <label><b>ISS:</b> </label>
                            <input name="retencoes[iss]" type="text" id="iss" class="form-control valor" value="<?= $iss ?>">
                        </div>
                        <div class="col-xs-4">
                            <label><b>IR:</b> </label>
                            <input name="retencoes[ir]" type="text" id="ir" class="form-control valor" value="<?= $ir ?>">
                        </div>
                        <div class="col-xs-4">
                            <label><b>PIS:</b> </label>
                            <input name="retencoes[pis]" id="pis" type="text" class="form-control valor" value="<?= $pis ?>">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <label><b>COFINS:</b> </label>
                            <input name="retencoes[cofins]" type="text" id="cofins" class="form-control valor" value="<?= $cofins ?>">
                        </div>
                        <div class="col-xs-4">
                            <label><b>CSLL:</b> </label>
                            <input name="retencoes[csll]" type="text" id="csll" class="form-control valor" value="<?= $csll ?>">
                        </div>
                        <div class="col-xs-4">
                            <label><b>ICMS:</b> </label>
                            <input name="retencoes[icms]" type="text" id="icms" class="form-control valor" value="<?= $icms ?>">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <label><b>PCC:</b> </label>
                            <input name="retencoes[pcc]" type="text" id="pcc" class="form-control valor" value="<?= $pcc ?>">
                        </div>
                        <div class="col-xs-4">
                            <label><b>IPI:</b> </label>
                            <input name="retencoes[ipi]" type="text" id="ipi" class="form-control valor" value="<?= $ipi ?>">
                        </div>
                        <div class="col-xs-4">
                            <label><b>INSS:</b> </label>
                            <input name="retencoes[inss]" type="text" id="inss" class="form-control valor" value="<?= $inss ?>">
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="text-center">
                <button type="submit" class='btn btn-success' id="salvar">
                    <?= ($editar ? 'Atualizar' : 'Salvar') ?>
                </button>
                &nbsp;&nbsp;
                <button id='' type='button' class='voltar_ btn btn-primary' role='button' aria-disabled='false' >
                    Voltar
                </button>

            </div>
        </form>
    </div>
    <div id="left">
        <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
    </div>
</div>
<script type="text/javascript" src="/utils/jquery/js/voltar.js"></script>
<script type="text/javascript">
    function validarCodigos(){
        var codigoN1  = $('#codigo1').val() == 'E' ? 1 : 2;
        var codigoN2  = $('#codigo2').val();
        var codigoN3  = $('#codigo3').val();
        var codigoN4  = $('#codigo4').val();
        var codigoIPCC  = $('#codigoipcc').val();
        var erros     = '<br><b>ERROS:</b><ul>';

        var cod2split = codigoN2.split('.');
        if(cod2split.length != 2) {
            erros += '<li>O código do nível 2 está incorreto! (Ex.: 1.1) </li>';
        }
        if(cod2split[0] != codigoN1) {
            erros += '<li>A herança do código de nível 2 não é coerente!</li>';
        }

        var cod3split = codigoN3.split('.');
        if(cod3split.length != 3) {
            erros += '<li>O código do nível 3 está incorreto! (Ex.: 1.1.1) </li>';
        }
        if((cod3split[0] + '.' + cod3split[1]) != codigoN2) {
            erros += '<li>A herança do código de nível 3 não é coerente!</li>';
        }

        var cod4split = codigoN4.split('.');
        if(cod4split.length != 4) {
            erros += '<li>O código do nível 4 está incorreto! (Ex.: 1.1.1.11) </li>';
        }
        if((cod4split[0] + '.' + cod4split[1] + '.' + cod4split[2]) != codigoN3) {
            erros += '<li>A herança do código de nível 4 não é coerente!</li>';
        }

        var codIPCCsplit = codigoIPCC.split('.');
        if(codigoIPCC != '' && codIPCCsplit.length != 5) {
            erros += '<li>O código IPCC está incorreto! (Ex.: 1.1.1.11) </li>';
        }

        if(erros !== '<br><b>ERROS:</b><ul>') {
            $('.local-msg').html(erros + '</ul>');
            return false;
        }else{
            return true;
        }
    }

    $(function($){
        $(".valor").priceFormat({
            prefix: '',
            centsSeparator: ',',
            thousandsSeparator: '.'
        });

        $(".buscar-ipcf").keydown(function(){
            var nivel = $(this).attr('nivel');
            $(".buscar-ipcf").autocomplete({
                source: function(request, response) {
                    $.getJSON('index.php', {
                        term  : request.term,
                        action: "ipcf-getjson",
                        nivel : nivel
                    }, response);
                },
                minLength: 3,
                select: function( event, ui ) {
                    $('#codigo'+nivel).val(ui.item.value);
                    $('#descricao'+nivel).val(ui.item.labelSelected);
                    return false;
                }
            });
        });
        $(".buscar-ipcc").keydown(function(){
            var nivel = $(this).attr('nivel');
            $(".buscar-ipcc").autocomplete({
                source: function(request, response) {
                    $.getJSON('index.php', {
                        term  : request.term,
                        action: "ipcc-getjson",
                        nivel : 5
                    }, response);
                },
                minLength: 3,
                select: function( event, ui ) {
                    $('#codigoipcc').val(ui.item.value);
                    var labelSelected = ui.item.labelSelected;                   

                    $('#descricaoipcc').val(labelSelected);
                    return false;
                }
            });
        });

        $("#possui-retencoes").change(function () {
            if($(this).val() == '1') {
                $(".retencoes").show();
            } else {
                $(".retencoes").hide();
                $(".retencoes input").each(function () {
                    $(this).val("0,00");
                });
                $(".valor").priceFormat({
                    prefix: '',
                    centsSeparator: ',',
                    thousandsSeparator: '.'
                });
            }
        });
    });
</script>
</body>
</html>