<?php require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>
<head>
  <meta charset="UTF-8">
  <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php'); ?>
  <link rel="stylesheet" href="/utils/global.css"/>
</head>
  <div id="content">
    <div id="right">
      <center><h1>Plano de Contas Financeiro</h1></center>
      <br>
      <div class="opcoes">
        <a href="?action=ipcf-form" class='ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only
        ui-state-hover'>
          <span class='ui-button-text'>Novo Item</span>
        </a>
        &nbsp;&nbsp;<button id='' type = 'button' class=' voltar_ ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only ui-state-hover' role='button' aria-disabled='false' ><span class='ui-button-text'>Voltar</span></button>

      </div>

      <br><br>
      <?php
        $editar = isset($_GET['level']) && isset($_GET['match']) ? true : false;
        $display = "none";
        if(isset($_GET['msg']) && !empty($_GET['msg'])) {
          $msg = base64_decode($_GET['msg']);
          if ($_GET['type'] === 's') {
            $display = "block";
            $class = "success";
          } else {
            $display = "block";
            $class = "failed";
          }
        }
      ?>
      <div style="display:<?= $display ?>" class="msg <?= $class ?>">
        <strong><?= $msg ?></strong>
      </div>
      <br><br>
      <ul class="tree">
        <?php foreach($contas as $nivel1 => $nivel2): ?>
        <li class="<?= (substr($nivel1,0,1) == '1' ? 'income' : 'expense') ?>">
          <span href="#" class="tooltips">
            <?= $nivel1 ?>
          <ul>
            <?php foreach($nivel2 as $n2 => $nivel3): ?>
            <li>
              <span href="#" class="tooltips">
                <?= $n2 ?>
                    <!--<span class="tips">
                  <a href="?action=ipcf-editar&level=2&match=<?/*= substr($n2,0,3) */?>" >
                    Editar
                  </a>
                  |
                  <a href="javascript:if(confirm('Deseja realmente excluir esse item?')) location.href='?action=ipcf-excluir&level=2&match=<?/*= substr($n2,0,3) */?>';" >
                    Excluir
                  </a>
                </span>-->
              </span>
              <ul>
                <?php foreach($nivel3 as $n3 => $nivel4): ?>
                <li>
                  <span href="#" class="tooltips">
                    <?= $n3 ?>
                    <!--<span class="tips">
                      <a href="?action=ipcf-editar&level=3&match=<?/*= substr($n3,0,5) */?>" >
                        Editar
                      </a>
                      |
                      <a href="javascript:if(confirm('Deseja realmente excluir esse item?')) location.href='?action=ipcf-excluir&level=3&match=<?/*= substr($n3,0,5) */?>';">
                        Excluir
                      </a>
                    </span>-->
                  </span>
                  <ul>
                    <?php foreach($nivel4 as $dados): ?>
                    <li>
                      <span href="#" class="tooltips">
                        <?= $dados['desc'] ?>
                        <span class="tips">
                          <a href="?action=ipcf-editar&level=4&match=<?= $dados['codigo'] ?>" >
                            Editar
                          </a>
                          <!--|
                          <a href="javascript:if(confirm('Deseja realmente excluir esse item?')) location.href='?action=ipcf-excluir&level=4&match=<?/*= substr($n4,0,8) */?>';" >
                            Excluir
                          </a>-->
                        </span>
                      </span>
                    </li>
                    <?php endforeach; ?>
                  </ul>
                </li>
                <?php endforeach; ?>
              </ul>
            </li>
            <?php endforeach; ?>
          </ul>
        </li>
        <?php endforeach; ?>
      </ul>
    </div>
    <div id="left">
      <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
    </div>
    <script type="text/javascript" src="/utils/jquery/js/voltar.js"></script>
  </div>

  </body>
  </html>