<?php require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>
<head>
    <meta charset="UTF-8">
    <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php'); ?>
    <link rel="stylesheet" type="text/css" href="/utils/reports.css">
    <link rel="stylesheet" type="text/css" href="/utils/jquery/css/chosen/chosen.css">
</head>
<div id="content">
    <div id="right">
        <center><h1>Relatório de Pedidos Liberados</h1></center>
        <br><br><br>
        <form method="post" action="/auditoria/relatorios/?action=form-relatorio-pedidos-liberados">
            <p>
                <strong>Período:</strong><br>
                <input type="date" required name="periodo_inicio" value="<?= isset($periodoInicio) && !empty($periodoInicio) ? $periodoInicio : "" ?>"> -
                <input type="date" required name="periodo_fim" value="<?= isset($periodoFim) && !empty($periodoFim) ? $periodoFim : "" ?>">
            </p>
            <p>
                <strong>Auditor(a):</strong><br>
                <select name="auditor" id="auditores" style="width: 300px;">
                    <option value="">Selecione...</option>
                    <?php foreach($auditores as $auditor): ?>
                        <option <?= isset($auditorBusca) && $auditorBusca === $auditor['idUsuarios'] ? "selected" : "" ?> value="<?= $auditor['idUsuarios'] ?>"><?= strtoupper($auditor['nome']) ?></option>
                    <?php endforeach; ?>
                </select>
            </p>
            <p>
                <strong>Paciente:</strong><br>
                <select name="paciente" id="pacientes" style="width: 400px;">
                    <option value="">Selecione...</option>
                    <?php foreach($pacientes as $paciente): ?>
                        <option <?= isset($pacienteBusca) && $pacienteBusca === $paciente['idClientes'] ? "selected" : "" ?> value="<?= $paciente['idClientes'] ?>">(<?= $paciente['codigo'] ?>) <?= strtoupper($paciente['nome']) ?></option>
                    <?php endforeach; ?>
                </select>
            </p>
            <p>
                <strong>Ordenar por:</strong><br>
                <input type="radio" id="ordenar-por-paciente" checked <?= isset($ordenarPor) && $ordenarPor == 'paciente' ? "checked" : "" ?> name="ordenar_por" value="paciente"> <label for="ordenar-por-paciente">Paciente</label> -
                <input type="radio" id="ordenar-por-auditor" <?= isset($ordenarPor) && $ordenarPor == 'auditor' ? "checked" : "" ?> name="ordenar_por" value="auditor"> <label for="ordenar-por-auditor">Auditor(a)</label>
                <input type="radio" id="ordenar-por-liberacao" <?= isset($ordenarPor) && $ordenarPor == 'dataLiberacao' ? "checked" : "" ?> name="ordenar_por" value="dataLiberacao"> <label for="ordenar-por-liberacao">Data da Liberação</label>
            </p>
            <p>
                <strong>Tipo:</strong><br>
                <input type="radio" id="tipo-relatorio-analitico" checked <?= isset($tipoRelatorio) && $tipoRelatorio == 'analitico' ? "checked" : "" ?> name="tipo_relatorio" value="analitico"> <label for="tipo-relatorio-analitico">Analítico</label> -
                <!--<input type="radio" id="tipo-relatorio-sintetico" <?/*= isset($tipoRelatorio) && $tipoRelatorio == 'sintetico' ? "checked" : "" */?> name="tipo_relatorio" value="sintetico"> <label for="tipo-relatorio-sintetico">Sintético</label>-->
            </p>
            <div style="position: relative; float: left; width: 100%; margin-top: 10px;">
                <button type="submit" class='ui-button ui-widget ui-corner-all ui-button-text-only ui-state-hover' id="buscar">
                    <span class='ui-button-text'>Buscar</span>
                </button>
            </div>
        </form>
        <?php
        if(isset($response)):
            ?>
            <label style="float: left; padding-top: 20px;">
                Total de <b><?= $count ?></b> pedidos liberados.
            </label>
            <a  href="/auditoria/relatorios/?action=excel-relatorio-pedidos-liberados&inicio=<?= $periodoInicio ?>&fim=<?= $periodoFim ?>&auditor=<?= $auditorBusca ?>&paciente=<?= $pacienteBusca ?>&tiporelatorio=<?= $tipoRelatorio ?>&ordenarpor=<?= $ordenarPor ?>"
                target="_blank"
                style="position: relative; float: right;"
                class='ui-button ui-widget ui-corner-all ui-button-text-only ui-state-hover'
                id="buscar">
                <span class='ui-button-text'>Exportar para Excel</span>
            </a>
            <hr id="separator">
            <div id="response">
                <table class='mytable' width='100%' >
                    <thead>
                    <tr>
                        <th>AUDITOR(A)</th>
                        <th>PACIENTE</th>
                        <?php if($tipoRelatorio == 'analitico'): ?>
                            <th>NOME DO ITEM</th>
                        <?php endif ?>
                        <th>QUANTIDADE</th>
                        <th align="center">DATA DA SOLICITAÇÃO</th>
                        <th align="center">DATA DA LIBERAÇÃO</th>
                        <?php if($tipoRelatorio == 'analitico'): ?>
                            <th align="center">TEMPO DE LIBERAÇÃO</th>
                        <?php endif ?>
                        <th align="center">TIPO SOLICITAÇÃO</th>
                    </tr>
                    </thead>
                    <tbody>
                    <?php
                    if($count > 0):
                        foreach($response as $data):
                            $dataSolicitacao = DateTime::createFromFormat('Y-m-d H:i:s', $data['dataSolicitacao']);
                            if($tipoRelatorio == 'analitico') {
                                $dataLiberacao = DateTime::createFromFormat('Y-m-d H:i:s', $data['dataLiberacao']);
                                $diffLiberacao = $dataSolicitacao->diff($dataLiberacao);
                                $tempoLiberacao = $diffLiberacao->days . " dia(s)";
                                if($diffLiberacao->days == 0) {
                                    $tempoLiberacao = $diffLiberacao->h . " hora(s)";
                                    if($diffLiberacao->h == 0) {
                                        $tempoLiberacao = $diffLiberacao->i . " minutos(s)";
                                    }
                                }
                                $dataLiberacao = $dataLiberacao->format('d/m/Y à\s H:i:s');
                            } else {
                                $dataLiberacao = $data['dataLiberacao'];
                            }
                            ?>
                            <tr>
                                <td><?= $data['auditor'] ?></td>
                                <td><?= $data['paciente'] ?></td>
                                <?php if($tipoRelatorio == 'analitico'): ?>
                                    <th><?= $data['nomeItem'] ?></th>
                                <?php endif ?>
                                <td><?= $data['autorizado'] ?></td>
                                <td align="center"><?= $dataSolicitacao->format('d/m/Y à\s H:i:s') ?></td>
                                <td align="center"><?= $dataLiberacao ?></td>
                                <?php if($tipoRelatorio == 'analitico'): ?>
                                    <th align="center"><?= $tempoLiberacao ?></th>
                                <?php endif ?>
                                <td align="center"><?= $data['tipoSolicitacao'] ?> <?= $data['imediata']?></td>
                            </tr>
                        <?php endforeach; ?>
                    <?php else: ?>
                        <tr>
                            <td colspan="8" align="center"><strong>Nenhum resultado foi encontrado!</strong></td>
                        </tr>
                    <?php endif; ?>
                    </tbody>
                </table>
            </div>
            <?php
        endif;
        ?>
    </div>
    <div id="left">
        <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
    </div>
</div>
<script type="text/javascript" src="/utils/jquery/js/chosen.jquery.min.js"></script>
<script type="text/javascript">
    $(function($){
        $('#auditores, #pacientes').chosen();
    });
</script>
</body>
</html>