<table class='mytable' width='100%' >
    <thead>
    <tr>
        <th colspan="8"><h2>Relat&oacute;rio de Pedidos Liberados - Per&iacute;odo: <?= $inicio->format('d/m/Y') ?> &agrave; <?= $fim->format('d/m/Y') ?></h2></th>
    </tr>
    <tr>
        <th>AUDITOR(A)</th>
        <th>PACIENTE</th>
        <?php if($tipoRelatorio == 'analitico'): ?>
            <th>NOME DO ITEM</th>
        <?php endif ?>
        <th>QUANTIDADE</th>
        <th align="center">DATA DA SOLICITA&Ccedil;&Atilde;O</th>
        <th align="center">DATA DA LIBERA&Ccedil;&Atilde;O</th>
        <?php if($tipoRelatorio == 'analitico'): ?>
            <th align="center">TEMPO DE LIBERA&Ccedil;&Atilde;O</th>
        <?php endif ?>
        <th align="center">TIPO SOLICITA&Ccedil;&Atilde;O</th>
    </tr>
    </thead>
    <tbody>
    <?php
    if($count > 0):
        foreach($response as $data):
            $dataSolicitacao = DateTime::createFromFormat('Y-m-d H:i:s', $data['dataSolicitacao']);
            if($tipoRelatorio == 'analitico') {
                $dataLiberacao = DateTime::createFromFormat('Y-m-d H:i:s', $data['dataLiberacao']);
                $diffLiberacao = $dataSolicitacao->diff($dataLiberacao);
                $tempoLiberacao = $diffLiberacao->days . " dia(s)";
                if($diffLiberacao->days == 0) {
                    $tempoLiberacao = $diffLiberacao->h . " hora(s)";
                    if($diffLiberacao->h == 0) {
                        $tempoLiberacao = $diffLiberacao->i . " minutos(s)";
                    }
                }
                $dataLiberacao = $dataLiberacao->format('d/m/Y \a\s H:i:s');
            } else {
                $dataLiberacao = $data['dataLiberacao'];
            }
            ?>
            <tr>
                <td><?= htmlentities(strtoupper($data['auditor'])) ?></td>
                <td><?= htmlentities(strtoupper($data['paciente'])) ?></td>
                <?php if($tipoRelatorio == 'analitico'): ?>
                    <th><?= htmlentities(strtoupper($data['nomeItem'])) ?></th>
                <?php endif ?>
                <td><?= $data['autorizado'] ?></td>
                <td align="center"><?= $dataSolicitacao->format('d/m/Y \a\s H:i:s') ?></td>
                <td align="center"><?= $dataLiberacao ?></td>
                <?php if($tipoRelatorio == 'analitico'): ?>
                    <th align="center"><?= $tempoLiberacao ?></th>
                <?php endif ?>
                <td align="center"><?= $data['tipoSolicitacao'] ?> <?= $data['imediata']?></td>
            </tr>
        <?php endforeach; ?>
    <?php else: ?>
        <tr>
            <td colspan="8" align="center"><strong>Nenhum resultado foi encontrado!</strong></td>
        </tr>
    <?php endif; ?>
    </tbody>
</table>