<?php require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php';
function dateFormatBR($source, $tipo)
{
    if ($tipo == 'diario')
        return \DateTime::createFromFormat('Y-m-d', $source)->format('d/m/Y');
     else
        return \DateTime::createFromFormat('Y-m', $source)->format('m/Y');
}

?>


<head>
    <meta charset="UTF-8">
    <!-- Adicione nosso componente React. -->


    <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php');
    ?>
    <!-- <link rel="stylesheet" type="text/css" href="/utils/reports.css"> -->
    <link rel="stylesheet" href="/utils/bootstrap-3.3.6-dist/css/bootstrap.min.css"/>
    <script src="/utils/bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/utils/font-awesome-4.7.0/css/font-awesome.css"/>
    <script type="text/javascript" src="/financeiros/orcamento-financeiro/js/main.js?v=1"></script>



</head>
<div id="content">
    <div id="right">
        <center><h1>Orçamento Financeiro</h1></center>

        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title pull-left" style="padding-top: 7.5px;">
                
                     <i class="fa fa-list" aria-hidden="true"></i>
                    Lista de Orçamentos
                    </h3> 
               
                
                    
                
                <?php
                    if(isset($_SESSION['permissoes']['financeiro']['financeiro_orcamento_financeiro']['financeiro_orcamento_financeiro_criar']) || $_SESSION['adm_user'] == 1){
                        ?>
                        <div class='pull-right'>
                           
                    <a href="#"
                    id='atualizar-cron'
                       style="position: relative; float: right;"
                       class='btn btn-default'>
                        <i class="fa fa-refresh"></i> Atualizar
                    </a>
                    &nbsp;&nbsp;&nbsp;
                    <a href="/financeiros/orcamento-financeiro/?action=orcamento-financeiro"
                       target="_blank"
                       style="position: relative; float: right;"
                       class='btn btn-success'>
                        <i class="fa fa-plus"></i> Novo
                    </a>
                    </div>
                
                    <?php } ?>
           
            

            </div>




            <div id="like_button_container"></div>
            <div class="panel-body" id="">
            <div class="row">
            <?php if (!empty($responseArray)): ?>
                
                   
                

                <div class="col-xs-12 div-notas-emitidas" style="overflow: auto; height: 500px !important;">


                    <table class='table table-striped table-bordered' width='100%'>
                        <thead>
                        <tr>
                            <th>Versão</th>
                            <th>Início</th>
                            <th>Fim</th>  
                            <th>Criado</th>                          
                            <th>Ação</th>
                        </tr>
                        </thead>
                        <tbody >
                        <?php
                       
                        foreach ($responseArray as  $r):
                            

                            ?>
                            <tr>
                                <td> Versão #<?=$r['id']?></td>
                                <td>
                                    <?=  \DateTime::createFromFormat('Y-m', $r['inicio'])->format('m/Y')?>
                                </td>
                                <td>
                                 <?= \DateTime::createFromFormat('Y-m', $r['fim'])->format('m/Y')?>
                                </td>
                                <td>
                                <b>Criado em: </b>  <?= \DateTime::createFromFormat('Y-m-d', $r['criado_em'])->format('d/m/Y')?>
                                <br>
                                <b>Criado por: </b>  <?=$r['usuario']?>
                                </td>
                               
                                <td>
                                <div class="dropdown">
                                            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                                                Opções
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-right">
                                            <?php if(isset($_SESSION['permissoes']['financeiro']['financeiro_orcamento_financeiro']['financeiro_orcamento_financeiro_editar']) || $_SESSION['adm_user'] == 1 && $r['id'] <> 1){
                                            ?>
                                                <li>
                                                    <a href="/financeiros/orcamento-financeiro/?action=orcamento-financeiro&id=<?=$r['id']?>&type=editar"  target="_blank">
                                                        <i class='fa fa-edit'></i>
                                                        Editar Orçamento 
                                                    </a>                                                    
                                                </li>
                                                <li>
                                                    <a href="/financeiros/orcamento-financeiro/?action=cadastrar-valores-gerenciais&id=<?=$r['id']?>&type=editar"  target="_blank">
                                                        <i class='fa  fa-edit'></i>
                                                        Cadastrar Valores Gerenciais 
                                                    </a>                                                    
                                                </li>
                                                <?php  } ?>
                                                <?php if(isset($_SESSION['permissoes']['financeiro']['financeiro_orcamento_financeiro']['financeiro_orcamento_financeiro_relatorio']) || $_SESSION['adm_user'] == 1){
                                                ?>
                                                <li>
                                                    <a href="/financeiros/orcamento-financeiro/?action=relatorio-orcamento-financeiro&id=<?=$r['id']?>&type=relatorio" target="_blank">
                                                        <i class='fa fa-list'></i>
                                                        Relatório Modelo Realizado 
                                                    </a>                                                    
                                                </li>
                                                <?php if($r['id'] <> 1){?>
                                                <li>
                                                    <a  href="/financeiros/orcamento-financeiro/?action=relatorio-gerencial-orcamento-financeiro&id=<?=$r['id']?>&type=relatorio-gerencial" target="_blank">
                                                        <i class='fa fa-list'></i>
                                                        Relatório Modelo  Gerencial Contabilidade
                                                    </a>                                                    
                                                </li>
                                                <li>
                                                    <a  href="/financeiros/orcamento-financeiro/?action=relatorio-gerencial-orcamento-financeiro&id=<?=$r['id']?>&type=relatorio-gerencial-automatico"  target="_blank">
                                                        <i class='fa fa-cog'></i>
                                                        Relatório Modelo Gerencial Automático 
                                                    </a>                                                    
                                                </li>
                                            <?php } } ?>
                                            </ul>
                                </div>
                                   
                                <!-- <?php if(isset($_SESSION['permissoes']['financeiro']['financeiro_orcamento_financeiro']['financeiro_orcamento_financeiro_editar']) || $_SESSION['adm_user'] == 1){
                                        ?>
                                        <a class="btn btn-warning" 
                                        href="/financeiros/orcamento-financeiro/?action=orcamento-financeiro&id=<?=$r['id']?>&type=editar" 
                                        target = "_blank"
                                         role="button" title='Editar'><i class="fa fa-edit" title='Editar'></i> </a>
                                    <?php  } ?>

                                    <?php if(isset($_SESSION['permissoes']['financeiro']['financeiro_orcamento_financeiro']['financeiro_orcamento_financeiro_relatorio']) || $_SESSION['adm_user'] == 1){
                                    ?>
                                    <a class="btn btn-primary"
                                       href="/financeiros/orcamento-financeiro/?action=relatorio-orcamento-financeiro&id=<?=$r['id']?>&type=relatorio"
                                       target = "_blank"
                                       role="button" title='Relatório Modelo Financeiro'><i class="fa fa-file" title='Relatório Modelo Financeiro'></i> </a>
                                    <?php  } ?>
                                    <?php if((isset($_SESSION['permissoes']['financeiro']['financeiro_orcamento_financeiro']['financeiro_orcamento_financeiro_relatorio']) || $_SESSION['adm_user'] == 1) && $r['id'] <> 1){
                                    ?>
                                    <a class="btn btn-success"
                                       href="/financeiros/orcamento-financeiro/?action=relatorio-gerencial-orcamento-financeiro&id=<?=$r['id']?>&type=relatorio-gerencial"
                                       target = "_blank"
                                       role="button" title='Relatório Modelo Gerencial'><i class="fa fa-align-justify" title='Relatório Modelo Gerencial'></i>
                                     </a>
                                     <a class="btn btn-success"
                                       href="/financeiros/orcamento-financeiro/?action=relatorio-gerencial-orcamento-financeiro&id=<?=$r['id']?>&type=relatorio-gerencial-automatico"
                                       target = "_blank"
                                       role="button" title='Relatório Modelo Gerencial'><i class="fa fa-align-justify" title='Relatório Modelo Gerencial'></i>
                                     </a>
                                    <?php  } ?>
                                    <?php if(isset($_SESSION['permissoes']['financeiro']['financeiro_orcamento_financeiro']['financeiro_orcamento_financeiro_editar']) || $_SESSION['adm_user'] == 1){
                                        ?>
                                        <a class="btn btn-default" 
                                        href="/financeiros/orcamento-financeiro/?action=cadastrar-valores-gerenciais&id=<?=$r['id']?>&type=editar" 
                                        target = "_blank"
                                         role="button" title='Editar'><i class="fa fa-edit" title='Cadastrar Valores'></i> </a>
                                    <?php  } ?> -->

                                 </td>

                            </tr>                        


                        <?php endforeach; ?>
                        </tbody>
                    </table>
                </div>
            <?php else: ?>
                <div class="col-xs-12 text-center">
                    <div class="alert alert-warning">
                        <b>Nenhum Orçamento encontrado.</b>
                    </div>
                </div>
            <?php endif; ?>
        </div>
             
                <br>
            </div>
        </div>
        


        
    </div>
    <div id="left">
        <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
    </div>
</div>




<style type="text/css">
    .mostrar-row-table {
        display: table-row;
    }
</style>
</body>
</html>