<?php if(!empty($response)): ?>
    <table width='100%'>
        <tr>
            <td colspan="3">
                <h3>Posi&ccedil;&atilde;o de Fornecedores/Clientes</h3>
            </td>
        </tr>
        <tr bgcolor='#cccccc'>
            <td><?= $tipoBusca == 'F' ? 'Fornecedor' : 'Cliente' ?></td>
            <td>CPF/CNPJ</td>
            <td>Saldo <?= $tipoBusca == 'F' ? 'a Pagar' : 'a Receber' ?></td>
        </tr>
        <?php
        $total = 0;
        foreach($response['saldos'] as $resp):
            $total += $resp['saldo'];
            ?>
            <tr>
                <td align="left">
                    <b><?= mb_strtoupper($resp['nome_fornecedor'], 'UTF-8') ?></b>
                </td>
                <td>
                    <b><?= $resp['cnpj'] != '' ? $mask($resp['cnpj'], '##.###.###/####-##') : $mask($resp['CPF'], '###.###.###-##') ?></b>
                </td>
                <td align="right">
                    R$ <?= number_format($resp['saldo'], 2, ',', '.') ?>
                </td>
            </tr>
            <?php
            if($modo == 'a'):
                foreach($response['notas'][$resp['codFornecedor']] as $idEmissao => $parcelas):
                    list($emissao, $idNota) = explode('|', $idEmissao);
                    $emissao = \DateTime::createFromFormat('Y-m-d', $emissao)->format('d/m/Y');
                    ?>
                    <tr>
                        <td colspan="3">
                            <table width='100%'>
                                <tr bgcolor='#cccccc'>
                                    <td colspan="5" class="text-center">Nota TR <?= $idNota ?> emitida em <?= $emissao ?></td>
                                </tr>
                                <tr bgcolor='#cccccc'>
                                    <td>Num. Nota</td>
                                    <td>Filial</td>
                                    <td>Valor</td>
                                    <td>Vencimento Real</td>
                                    <td>Natureza</td>
                                </tr>
                                <?php
                                foreach($parcelas as $parcela):
                                    $vencimento_real = $parcela['vencimento_real'] != '' ? \DateTime::createFromFormat('Y-m-d', $parcela['vencimento_real'])->format('d/m/Y') : '';
                                    ?>
                                    <tr>
                                        <td><?= $parcela['codigo'] ?></td>
                                        <td><?= $parcela['filial'] ?></td>
                                        <td>R$ <?= number_format($parcela['valor_parcela'], 2, ',', '.') ?></td>
                                        <td><?= $vencimento_real ?></td>
                                        <td><?= mb_strtoupper($parcela['natureza'], 'UTF-8') ?></td>
                                    </tr>
                                <?php endforeach; ?>
                            </table>
                        </td>
                    </tr>
                <?php endforeach; ?>
            <?php endif; ?>
        <?php endforeach; ?>
        <tr>
            <td colspan="2" class="text-right"><b>Saldo Total:</b></td>
            <td>R$ <?= number_format($total, 2, ',', '.') ?></td>
        </tr>
    </table>
<?php else:?>
    <b>Nenhum saldo encontrado para os filtros escolhidos.</b>
<?php endif; ?>