<?php require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>
<head>
    <meta charset="UTF-8">
    <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php'); ?>
    <link rel="stylesheet" type="text/css" href="/utils/reports.css">
    <link rel="stylesheet" href="/utils/bootstrap-3.3.6-dist/css/bootstrap.min.css" />
    <script src="/utils/bootstrap-3.3.6-dist/js/bootstrap.min.js" ></script>
    <link rel="stylesheet" href="/utils/font-awesome-4.7.0/css/font-awesome.css" />
</head>
<div id="content">
    <div id="right">
        <center><h1>Relatório de Posição de Fornecedores/Clientes</h1></center>
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title pull-left" style="padding-top: 7.5px;">
                    <i class="fa fa-search" aria-hidden="true"></i>
                    Filtrar
                </h3>
            </div>
            <div class="panel-body" id="div-pesquisar-posicao-fornecedores">
                <form method="post" id="form-pesquisa-posicao-fornecedores" action="/financeiros/relatorios/?action=posicao-fornecedores">
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label for="inicio">Buscar Por:</label>
                                <select name="tipo_busca" id="tipo-busca" class="form-control">
                                    <option <?= isset($tipoBusca) && $tipoBusca == 'F' ? 'selected' : '' ?> value="F">Fornecedor</option>
                                    <option <?= isset($tipoBusca) && $tipoBusca == 'C' ? 'selected' : '' ?> value="C">Cliente</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-9">
                            <label for="contas">Fornecedores/Clientes:</label>
                            <select name="fornecedores_clientes[]" id="fornecedores-clientes" multiple class="form-control chosen-select" data-placeholder="Selecione um ou mais fornecedores/clientes..." >
                                <?php foreach($fornecedores as $fornecedor): ?>
                                    <option <?= isset($filtros['fornecedores_clientes']) && in_array($fornecedor['idFornecedores'], $filtros['fornecedores_clientes']) ? "selected" : "" ?> value="<?= $fornecedor['idFornecedores'] ?>">
                                        <?= strtoupper($fornecedor['fornecedor']) ?>
                                    </option>
                                <?php endforeach; ?>
                            </select>
                        </div>
                    </div>
                    <br>

                    <div class="col-xs-12 text-center">
                        <button type="submit" id="pesquisar-posicao-fornecedores" class="btn btn-primary" >
                            <span class='ui-button-text'>Pesquisar</span>
                        </button>
                        &nbsp;&nbsp;
                        <a  href="/financeiros"
                            style="color: white;"
                            class='btn btn-warning' >
                            Voltar
                        </a>
                    </div>
                </form>
                <br>
            </div>
        </div>

        <div class="row">
            <?php if(!empty($response)): ?>
                <div class="col-xs-12">
                    <div class="col-xs-6 pull-left">
                        <b>Total de <?= count($response['saldos']) ?> registros encontrados.</b>
                    </div>
                    <div class="col-xs-6">
                        <a  href="/financeiros/relatorios/?action=excel-posicao-fornecedores&tipo_busca=<?= $tipoBusca ?>&fornecedores_clientes=<?= implode('+', $fornecedoresClientes) ?>&modo=a"
                            target="_blank"
                            style="color: white; margin-bottom: 10px;"
                            class='btn btn-success pull-right'>
                            <i class="fa fa-file-excel-o"></i> Analítico
                        </a>
                        <a  href="/financeiros/relatorios/?action=excel-posicao-fornecedores&tipo_busca=<?= $tipoBusca ?>&fornecedores_clientes=<?= implode('+', $fornecedoresClientes) ?>&modo=s"
                            target="_blank"
                            style="color: white; margin-bottom: 10px;"
                            class='btn btn-success pull-right'>
                            <i class="fa fa-file-excel-o"></i> Sintético
                        </a>
                    </div>
                </div>
                <br>
                <div class="col-xs-12">
                    <table class='table table-striped table-bordered' width='100%'>
                        <thead>
                        <tr>
                            <th><?= $tipoBusca == 'F' ? 'Fornecedor' : 'Cliente' ?></th>
                            <th>CPF/CNPJ</th>
                            <th>Saldo <?= $tipoBusca == 'F' ? 'a Pagar' : 'a Receber' ?></th>
                        </tr>
                        </thead>
                        <tbody id="tbody-bordero">
                        <?php
                        $total = 0;
                        foreach($response['saldos'] as $resp):
                            $total += $resp['saldo'];
                            ?>
                            <tr>
                                <td>
                                    <b><?= $resp['nome_fornecedor'] ?></b>
                                </td>
                                <td>
                                    <b><?= $resp['cnpj'] != '' ? $mask($resp['cnpj'], '##.###.###/####-##') : $mask($resp['CPF'], '###.###.###-##') ?></b>
                                </td>
                                <td>
                                    R$ <?= number_format($resp['saldo'], 2, ',', '.') ?>
                                    <i fornecedor="<?= $resp['codFornecedor'] ?>" style="cursor: pointer;" class="fa fa-caret-square-o-down show-notas pull-right"></i>
                                </td>
                            </tr>
                            <?php
                            foreach($response['notas'][$resp['codFornecedor']] as $idEmissao => $parcelas):
                                list($emissao, $idNota) = explode('|', $idEmissao);
                                $emissao = \DateTime::createFromFormat('Y-m-d', $emissao)->format('d/m/Y');
                                ?>
                                <tr class="notas-<?= $resp['codFornecedor'] ?>" style="display: none;">
                                    <td colspan="3">
                                        <table class='table table-striped table-bordered' width='100%'>
                                            <thead>
                                            <tr>
                                                <th colspan="5" class="text-center">Nota TR <?= $idNota ?> emitida em <?= $emissao ?></th>
                                            </tr>
                                            <tr>
                                                <th>Num. Nota</th>
                                                <th>Filial</th>
                                                <th>Valor</th>
                                                <th>Vencimento Real</th>
                                                <th>Natureza</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <?php
                                            foreach($parcelas as $parcela):
                                                $vencimento_real = $parcela['vencimento_real'] != '' ? \DateTime::createFromFormat('Y-m-d', $parcela['vencimento_real'])->format('d/m/Y') : '';
                                                ?>
                                                <tr>
                                                    <td><?= $parcela['codigo'] ?></td>
                                                    <td><?= $parcela['filial'] ?></td>
                                                    <td>R$ <?= number_format($parcela['valor_parcela'], 2, ',', '.') ?></td>
                                                    <td><?= $vencimento_real ?></td>
                                                    <td><?= $parcela['natureza'] ?></td>
                                                </tr>
                                            <?php endforeach; ?>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            <?php endforeach; ?>
                        <?php endforeach; ?>
                        <tr>
                            <td colspan="2" class="text-right"><b>Saldo Total:</b></td>
                            <td>R$ <?= number_format($total, 2, ',', '.') ?></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            <?php else:?>
                <div class="col-xs-12 text-center">
                    <div class="alert alert-warning">
                        <b>Nenhum saldo encontrado para os filtros escolhidos.</b>
                    </div>
                </div>
            <?php endif; ?>
        </div>
    </div>
    <div id="left">
        <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
    </div>
</div>
<script type="text/javascript" src="/utils/jquery/js/chosen.jquery.min.js"></script>
<script type="text/javascript" src="/financeiros/relatorios/templates/posicao-fornecedores/js/main.js?v=1"></script>
</body>
</html>