<br>
<div class="row">
    <div class="col-xs-12">
        <button id='add-item-plano' class='btn btn-primary'>Adicionar +</button>
    </div>
</div>
<br>
<div class="row">
    <div class="col-xs-12">
        <table class='table table-bordered table-striped' id='tabela-item-plano' width=100% >
            <thead>
            <tr>
                <th></th>
                <th><b>Item</b></th>
                <th><b>Item Tabela Mederi</b></th>
                <th><b>Cód. Plano</b></th>
                <th><b>Valor (R$)</b></th>
            </tr>
            </thead>
            <tr class='odd'>
                <td class='contador' cont='1'>
                    <img align='right' class='rem-item'  src='../utils/delete_16x16.png' title='Remover' border='0'>
                </td>
                <td>
                    <input name='item' class='OBG form-control' style='font-size:10px;' size='40%' />
                </td>
                <td>
                    <?= $this->item_cobrancaplanos(1) ?>
                </td>
                <td>
                    <input type='text' class='form-control' name='cod_plano'  style='font-size:10px;'  />
                </td>
                <td>
                    <input type='text'  class='valor item form-control' value='0,00' style='font-size:10px;'  />
                </td>
            </tr>
        </table>
    </div>
</div>