<div class='row'>
    <div class='col-xs-6'>
        <label for='plano'>Nome do plano:</label>
        <input type='text' name='plano' id='plano' class='OBG form-control' />
    </div>
    <div class='col-xs-3'>
        <label for='registro_ans'>Registro ANS:</label>
        <input type='text' name='registro_ans' id='registro_ans' class=' form-control' />
    </div>
    <div class='col-xs-3'>
        <label for='ano_contrato'>Ano de contrato:</label>
        <input type='text' name='ano_contrato' id='ano_contrato' class='OBG ano form-control' />
    </div>
</div>
<div class='row'>
    <div class='col-xs-6'>
        <?= $this->operadoras(null, null, "COMBO_OBG") ?>
    </div>
    <div class='col-xs-3'>
        <label for='iss'>Imposto ISS:</label>
        <input type='text' class='valor OBG form-control'  name='iss' id='iss' size='4'/>
    </div>
    <div class='col-xs-3'>
        <label for='tipo_medicamento'>Utilizar medicamento: </label>
        <select name='tipo_medicamento' id='tipo_medicamento' class='OBG form-control'>
            <option value='' >Selecione</option>
            <option value='T' >Todos</option>
            <option value='G' >Genérico</option>
        </select>
    </div>
</div>