<?php require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>
<head>
    <meta charset="UTF-8">
    <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php'); ?>
    <link rel="stylesheet" type="text/css" href="/utils/reports.css">
    <link rel="stylesheet" href="/utils/bootstrap-3.3.6-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/utils/font-awesome-4.7.0/css/font-awesome.css" />
    <link rel="stylesheet" href="/utils/jquery/css/toggle/toggle.css" />
    <link rel="stylesheet" href="/utils/bootstrap-3.3.6-dist/css/chosen.bootstrap.min.css" />
    <script src="/utils/bootstrap-3.3.6-dist/js/bootstrap.min.js" ></script>







</head>
<div id="content">
    <div id="right">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title pull-left" style="padding-top: 7.5px;">
                    <i class="fa fa-search" aria-hidden="true"></i> Buscar Remoções Realizadas
                </h3>
            </div>
            <div class="panel-body">
                <form method="post" action="/remocao/?action=relatorio-remocoes-realizadas&from=<?= $_GET['from'] ?>">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="periodo">Filtrar Por:</label>
                                <select name="filtrar_por" class="form-control">
                                    <option <?= ($filtrarPor == 'P' ? 'selected' : '') ?> value="P">Particular</option>
                                    <option <?= ($filtrarPor == 'C' ? 'selected' : '') ?> value="C">Conveniados</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="exibir_nao_cobrada">Exibir remoção que não vai ser cobrada? </label>
                                <select name="exibir_nao_cobrada" id= "exibir_cobrada" class="form-control">
                                    <option <?= ((isset($exibirNaoCobrada) && $exibirNaoCobrada== 'N') ? 'selected' : '') ?> value="N">Não</option>
                                    <option <?= ((isset($exibirNaoCobrada) && $exibirNaoCobrada == 'S') ? 'selected' : '') ?> value="S">Sim</option>

                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <?php if($_GET['from'] != 'financeiro'){ ?>

                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="paciente">Paciente:</label>
                                <select name="paciente" class="chosen-select form-control" id='paciente-convenio-form' >
                                    <option value="">Selecione...</option>
                                    <?php foreach($pacientes as $paciente): ?>
                                        <option <?= isset($pacienteId) && $pacienteId === $paciente['idClientes'] ? "selected" : "" ?> value="<?= $paciente['idClientes'] ?>">(<?= $paciente['codigo'] ?>) <?= strtoupper($paciente['nome']) ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </div>
                        <?php } else{ ?>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="control-label" for="fornecedor-cliente">Cliente:</label>
                                <select class="form-control chosen-select " name="fornecedor_cliente" id="fornecedor-cliente">
                                    <option  selected value="">Selecione...</option>
                                    <?php  foreach($fornecedores as $fornecedor):
                                    $cpfCnpj = $fornecedor['FISICA_JURIDICA'] == 1 ? $fornecedor['cnpj']: $fornecedor['CPF'];

                                    ?>
                                    <option <?= isset($fornecedorCliente) && $fornecedorCliente === $fornecedor['idFornecedores'] ? "selected" : "" ?>  value="<?= $fornecedor['idFornecedores'] ?>"> <?= $cpfCnpj.' '.strtoupper($fornecedor['nome']) ?></option>
                                 <?php endforeach; ?>
                                </select>
                             </div>
                        </div>

                       <?php } ?>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="control-label" for="empresa">Unidade Regional:</label>
                                <select name="empresa" class="form-control chosen-select ">
                                    <option selected  value="">Selecione...</option>
                                    <?php  foreach($empresas as $ur): ?>
                                        <option <?= isset($empresaId) && $empresaId == $ur['id']  ? "selected" : "" ?>  value="<?= $ur['id'] ?>" > <?= mb_strtoupper($ur['nome'],'UTF-8') ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="periodo">Inicio:</label>
                                <input name="inicio" type="date" class="form-control" value='<?= isset($inicio)  ? $inicio : "" ?>' required>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="periodo">Fim:</label>
                                <input name="fim" type="date" class="form-control" value='<?= isset($fim) ? $fim : "" ?>' required>
                            </div>
                        </div>
                        <div class="col-lg-12 text-center">
                            <div class="form-group">
                                <button type="submit" class='ui-button ui-widget ui-corner-all ui-button-text-only ui-state-hover' >
                                    <span class='ui-button-text'>Pesquisar</span>
                                </button>
                                &nbsp;&nbsp;
                                <button id='' type='button' class='voltar_ ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only ui-state-hover'
                                        role='button' aria-disabled='false' >
                                    <span class='ui-button-text'>Voltar</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="from" value="<?= $_GET['from'] ?>">
                </form>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-12">
                <?php
                if(isset($remocoes)):
                    if(empty($remocoes)) :
                        ?>
                        <h4 class="text-center">Nenhuma remoção encontrada.</h4>
                        <?php
                    else:
                        ?>
                        <a href="/remocao/?action=excel-relatorio-remocoes-realizadas&from=<?= $_GET['from'] ?>&inicio=<?= $inicio ?>&fim=<?= $fim ?>&filtrarpor=<?= $filtrarPor ?>&paciente=<?= $pacienteId?>&empresa=<?=$empresaId?>&fornecedor_cliente=<?=$fornecedorCliente?>"
                           target="_blank"
                           style="float: right;"
                           title="Exportar para Planilha Excel">
                            <img src="/utils/new-icons/excel-2013.ico" width="32">
                        </a>





                            <table class='table table-striped table-bordered table-hover'>
                            <thead>
                            <tr>
                                <th>Informações da Remoção</th>
                            </tr>
                            </thead>
                            <?php
                            foreach($remocoes as $remocao):
                            $encoding = 'UTF-8';
                            $labelCPFCNPJ = "CPF";
                            $labelNome = "CLIENTE";
                            $labelRazaoApelido = "APELIDO";
                            $labelIncEstRG = "RG";
                            $CPFCNPJ = $remocao['CPF'];
                            $contaBancaria= '';
                            if(!empty($remocao['conta_recebido'])){
                                $contaBancaria = \App\Models\Financeiro\ContaBancaria::getById($remocao['conta_recebido']);
                            }

                            if($remocao['FISICA_JURIDICA'] == '1'):
                                $labelCPFCNPJ = "CNPJ";
                                $labelNome = "NOME FANTASIA";
                                $labelRazaoApelido = "RAZÃO SOCIAL";
                                $labelIncEstRG = "INSCRIÇÃO ESTADUAL";
                                $CPFCNPJ = $remocao['CNPJ'];
                            endif;
                                ?>
                                <tbody>
                                <tr>
                                    <td width="100%">
                                        <div class="panel-group" id="accordion-<?= $remocao['id'] ?>">
                                            <div class="panel">
                                                <div class="panel-heading ocorrencias bg-primary" style="cursor: pointer;">
                                                    <h4 data-toggle="collapse"
                                                        title="Clique para visualizar mais informações"
                                                        data-parent="#accordion-<?= $remocao['id'] ?>"
                                                        data-target="#ocorrencia-<?= $remocao['id'] ?>"
                                                        class="panel-title"
                                                        style="font-size: 85%;">
                                                        <div class="col-md-4" style="padding-bottom:5px !important;">
                                                            <b>PACIENTE:</b> <?= mb_strtoupper($remocao['paciente'], $encoding) ?>
                                                        </div>
                                                        <div class="col-md-3" style="padding-bottom:5px !important;">
                                                            <b>CONVÊNIO:</b> <?= mb_strtoupper($remocao['convenio'], $encoding) ?>
                                                        </div>

                                                        <b>REALIZADA EM:</b> <?= \DateTime::createFromFormat('Y-m-d', $remocao['data_saida'])->format('d/m/Y') ?>

                                                        <div class="pull-right">
                                                            <span class="fa fa-caret-square-o-up switch-plus-minus col-md-offset-10"></span>
                                                        </div>
                                                        <?php if($_GET['from'] == 'financeiro'){ ?>
                                                        <div class="col-md-12" style="padding-bottom:5px !important;">
                                                                <b>CLIENTE:</b>
                                                                 <?= mb_strtoupper($remocao['nomeCliente'], $encoding) ?>
                                                        </div>
                                                        <?php }?>

                                                    </h4>
                                                    <br>
                                                </div>
                                                <div id="ocorrencia-<?= $remocao['id']  ?>" class="panel-collapse collapse">
                                                    <div class="panel-body">


                                        <?php if(!is_null($remocao['edited_at']) && $remocao['tipo_remocao'] == 'C'){ ?>

                                        <div class="col-lg-12" style="padding-bottom:5px !important;">
                                            <p><strong>Remoção foi editada em: </strong>
                                                <i class="fa fa-calendar"></i>
                                                <em>
                                                <?= DateTime::createFromFormat('Y-m-d H:i:s', $remocao['edited_at'])->format('d/m/Y H:i:s') ?>
                                                </em>
                                            </p>
                                        </div>

                                        <?php }?>
                                            <div class="col-lg-6" style="padding-bottom:5px !important;">
                                                <b>UNIDADE REGIONAL: </b>
                                                <br>
                                                <em><?= mb_strtoupper($remocao['unidade_regional'],'UTF-8') ?></em>
                                            </div>

                                            <?php if($_GET['from'] == 'financeiro'): ?>
                                                <div class="col-lg-6" style="padding-bottom:5px !important;">

                                                    <b>Tipo de Ambulância:</b>
                                                    <br>
                                                    <em>
                                                        <?= $tipoAmbulanciaList[$remocao['tipo_ambulancia']] ?>
                                                    </em>
                                                </div>

                                                <div class="col-lg-6" style="padding-bottom:5px !important;">
                                                    <b>KM PERCORRIDO:</b>
                                                    <br>
                                                    <em>
                                                        <?= strtoupper($remocao['km']) ?> KM
                                                    </em>
                                                </div>
                                                <div class="col-lg-6" style="padding-bottom:5px !important;">
                                                    <b>LOCAL/ENDEREÇO DE ORIGEM:</b>
                                                    <br>
                                                    <em>
                                                    <?= mb_strtoupper($remocao['origem'], $encoding) ?>. <?= mb_strtoupper($remocao['endereco_origem'], $encoding) ?>
                                                    </em>
                                                </div>
                                               <div class="col-lg-6" style="padding-bottom:5px !important;">
                                                   <b>LOCAL/ENDEREÇO DE DESTINO:</b>
                                                   <br>
                                                   <em>
                                                     <?= mb_strtoupper($remocao['destino'], $encoding) ?>. <?= mb_strtoupper($remocao['endereco_destino'], $encoding) ?>
                                                   </em>
                                               </div>

                                                <div class="col-lg-6" style="padding-bottom:5px !important;">
                                                    <b>COM RETORNO?</b>
                                                    <br>
                                                    <em>
                                                    <?= mb_strtoupper($simNao[$remocao['retorno']], $encoding) ?>
                                                    </em>
                                                </div>
                                                <div class="col-lg-6" style="padding-bottom:5px !important;">
                                                    <b>VALOR BRUTO:</b>
                                                    <br>
                                                    <em>
                                                    <?= \App\Helpers\StringHelper::currencyFormat($remocao['valor_remocao']) ?>
                                                    </em>
                                                </div>
                                                <div class="col-lg-6" style="padding-bottom:5px !important;">
                                                    <b>RECEBIDO?</b>
                                                    <br>
                                                    <em>
                                                    <?= mb_strtoupper($simNao[$remocao['recebido']], $encoding) ?>
                                                    </em>
                                                </div>
                                            <?php else: ?>
                                                <div class="col-lg-6" style="padding-bottom:5px !important;">
                                                    <b>SOLICITADO EM:</b>
                                                    <br>
                                                    <em>
                                                    <?= \DateTime::createFromFormat('Y-m-d', $remocao['data_solicitacao'])->format('d/m/Y') ?>
                                                    </em>
                                                </div>
                                                <div class="col-lg-6" style="padding-bottom:5px !important;">
                                                    <b>ORIGEM:</b>
                                                    <br>
                                                    <em>
                                                    <?= mb_strtoupper($remocao['origem'], $encoding) ?>
                                                    </em>
                                                </div>
                                                <div class="col-lg-6" style="padding-bottom:5px !important;">
                                                    <b>DESTINO:</b>
                                                    <br>
                                                    <em>
                                                    <?= mb_strtoupper($remocao['destino'], $encoding) ?>
                                                    </em>
                                                </div>
                                                <div class="col-lg-6" style="padding-bottom:5px !important;">
                                                    <b>MÉDICO:</b>
                                                    <br>
                                                    <em>
                                                    <?= mb_strtoupper($remocao['medico'], $encoding) ?>
                                                    </em>
                                                </div>
                                               <div class="col-lg-6" style="padding-bottom:5px !important;">
                                                   <b>TÉCNICO:</b>
                                                   <br>
                                                   <em>
                                                   <?= mb_strtoupper($remocao['tecnico'], $encoding) ?>
                                                   </em>
                                               </div>
                                                <div class="col-lg-6" style="padding-bottom:5px !important;">
                                                    <b>CONDUTOR:</b>
                                                    <br>
                                                    <em>
                                                    <?= mb_strtoupper($remocao['condutor'], $encoding) ?>
                                                    </em>
                                                </div>
                                                <div class="col-lg-12" style="padding-bottom:5px !important;">
                                                    <b>OBSERVAÇÃO:</b>
                                                    <br>
                                                    <em>
                                                        <?= mb_strtoupper($remocao['observacao'], $encoding) ?>
                                                    </em>
                                                </div>

                                            <?php endif; ?>


                                    <?php if($_GET['from'] == 'financeiro'): ?>
                                        <?php if(!empty($remocao['conta_recebido'])){ ?>
                                            <div class="col-lg-6" style="padding-bottom:5px !important;">
                                                <b>CONTA RECEBIDA:</b>
                                                <br>
                                                <em>
                                                <?= mb_strtoupper( $contaBancaria['nome_conta'], $encoding) ?>
                                                </em>
                                            </div>
                                            <div class="col-lg-6" style="padding-bottom:5px !important;">
                                                <b>RECEBIDO EM: </b>
                                                <br>
                                                <em>
                                                <?= !empty($remocao['recebido_em']) ? \DateTime::createFromFormat('Y-m-d', $remocao['recebido_em'])->format('d/m/Y') : '';?>
                                                </em>
                                            </div>

                                        <?php }?>
                                        <div class="col-lg-12" style="padding-bottom:5px !important;">
                                            <b>OBSERVAÇÃO:</b>
                                            <br>
                                            <em>
                                                <?= mb_strtoupper($remocao['observacao'], $encoding) ?>
                                            </em>
                                        </div>

                                                    <div class="col-lg-12 negrito text-center bg-info" style="padding-bottom:5px !important;"> DADOS DO CLIENTE PARA GERAR NOTA FISCAL</div>
                                                   <div class="col-lg-6">
                                                       <b><?= $labelNome ?>:</b>
                                                       <br>
                                                       <em>
                                                       <?= mb_strtoupper($remocao['nomeCliente'], $encoding) ?>
                                                       </em>
                                                   </div>
                                                    <div class="col-lg-6" style="padding-bottom:5px !important;">
                                                        <b><?= $labelRazaoApelido ?>:</b>
                                                        <br>
                                                        <em>
                                                        <?= mb_strtoupper($remocao['razaoSocial'], $encoding) ?>
                                                        </em>
                                                    </div>
                                                    <div class="col-lg-6" style="padding-bottom:5px !important;">
                                                        <b><?= $labelCPFCNPJ ?>:</b>
                                                        <br>
                                                        <em>
                                                        <?= $CPFCNPJ ?>
                                                        </em>
                                                    </div>
                                                    <div class="col-lg-6" style="padding-bottom:5px !important;">
                                                        <b><?= $labelIncEstRG ?>:</b>
                                                        <br>
                                                        <em>
                                                        <?= $remocao['IMRG'] ?>
                                                        </em>
                                                    </div>
                                                    <div class="col-lg-6" style="padding-bottom:5px !important;">
                                                        <b>INSC. MUNICIPAL:</b>
                                                        <br>
                                                        <em>
                                                        <?= $remocao['IES'] ?>
                                                        </em>
                                                    </div>
                                                    <div class="col-lg-6" style="padding-bottom:5px !important;">
                                                        <b>ENDEREÇO:</b> <br>
                                                        <em>
                                                        <?= mb_strtoupper($remocao['enderecoCliente'], $encoding) ?>. <?= mb_strtoupper($remocao['cidade'], $encoding) ?> - <?= $remocao['UF'] ?>
                                                        </em>
                                                    </div>
                                                    <div class="col-lg-6" style="padding-bottom:5px !important;">
                                                        <b>CONTATO/TELEFONE:</b>
                                                        <br>
                                                        <em>
                                                        <?= mb_strtoupper($remocao['contatoCliente'], $encoding) ?> - <?= $remocao['telefoneCliente'] ?>
                                                        </em>
                                                    </div>
                                                    <div class="col-lg-6" style="padding-bottom:5px !important;">
                                                        <b>EMAIL:</b>
                                                        <br>
                                                        <em>
                                                        <?= strtolower($remocao['emailCliente']) ?>
                                                        </em>
                                                    </div>
                                    <?php endif; ?>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            <?php endforeach; ?>
                                </tbody>
                        </table>
                        <?php
                    endif;
                endif;
                ?>
            </div>
        </div>
    </div>

    <div id="left">
        <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
    </div>
</div>
<script type="text/javascript" src="/remocao/js/main.js?v=2.1"></script>
<script type="text/javascript" src="/utils/jquery/js/voltar.js"></script>
<script type="text/javascript" src="/utils/jquery/js/bootstrap-toggle.min.js"></script>
<script type="text/javascript" src="/utils/bower_components/moment/moment.js"></script>

<script type="text/javascript">
    $(document).ready(function(){
        $(".panel-group .collapse.in").each(function(){
            $(this)
                .siblings(".panel-heading")
                .find(".fa.switch-plus-minus")
                .addClass("fa-caret-square-o-down")
                .removeClass("fa-caret-square-o-up");
        });

        $(".panel-group .collapse").on('show.bs.collapse', function(){
            $(this)
                .parent()
                .find(".fa.switch-plus-minus")
                .removeClass("fa-caret-square-o-up")
                .addClass("fa-caret-square-o-down");
        }).on('hide.bs.collapse', function(){
            $(this)
                .parent()
                .find(".fa.switch-plus-minus")
                .removeClass("fa-caret-square-o-down")
                .addClass("fa-caret-square-o-up");
        });
    });
</script>
</body>
</html>