<?php
if(isset($remocoes)):
    if(empty($remocoes)) :
        ?>
        <h4 class="text-center">Nenhuma remo&ccedil;&atilde;o encontrada.</h4>
        <?php
    else:
        ?>
        <table>
            <tr><td></td></tr>
        </table>
        <br>
        <table  border="1px" bordercolor="#000000" style='width:100%;'>

            <tr bgcolor="#cccccc">
                <td colspan="9" style="text-align:center;">
                    <strong>
                        Remo&ccedil;&otilde;es Realizadas de
                        <?= $inicio->format('d/m/Y') ?> &agrave;
                        <?= $fim->format('d/m/Y') ?>
                    </strong>
                </td>
            </tr>
            <tr bgcolor='#cccccc'>
                <th>Paciente</th>
                <?php if($_GET['from'] != 'financeiro'): ?>
                <th>Data</th>
                <th>Tipo Remo&ccedil;&atilde;o</th>
                <th>Origem</th>
                <th>Destino</th>
                <th>M&eacute;dico</th>
                <th>T&eacute;cnico</th>
                <th>Condutor</th>
                <th>Conv&ecirc;nio</th>
                <?php else: ?>
                    <th>Data</th>
                    <th>Cliente</th>
                    <th>Valor Bruto</th>
                  <th>Conta Recebido</th>
                    <th>Recebido em</th>
                <?php endif; ?>
                <th>Unidade Regional</th>
            </tr>

            <?php foreach($remocoes as $remocao):
                $contaBancaria= '';
                if(!empty($remocao['conta_recebido'])){
                    $contaBancaria = \App\Models\Financeiro\ContaBancaria::getById($remocao['conta_recebido']);
                }
                ?>
                <tr>
                    <td><?= htmlentities($remocao['paciente']) ?></td>
                    <?php if($_GET['from'] != 'financeiro'): ?>
                        <td><?= \DateTime::createFromFormat('Y-m-d', $remocao['data_solicitacao'])->format('d/m/Y') ?></td>
                        <td><?= htmlentities($tipoAmbulanciaList[$remocao['tipo_ambulancia']]) ?></td>
                        <td><?= htmlentities($remocao['origem']) ?></td>
                        <td><?= htmlentities($remocao['destino']) ?></td>
                        <td><?= htmlentities($remocao['medico']) ?></td>
                        <td><?= htmlentities($remocao['tecnico']) ?></td>
                        <td><?= htmlentities($remocao['condutor']) ?></td>
                        <td><?= htmlentities($remocao['convenio']) ?></td>
                    <?php else: ?>
                        <td><?= \DateTime::createFromFormat('Y-m-d', $remocao['data_saida'])->format('d/m/Y') ?></td>
                        <td><?= htmlentities(($remocao['nomeCliente'] != '' ? $remocao['nomeCliente'] : $remocao['razaoSocial'])) ?></td>
                        <td><?= $remocao['valor_remocao'] ?></td>
                        <td><?= $contaBancaria['nome_conta'] ?></td>
                        <td>
                            <?= !empty($remocao['recebido_em']) ? \DateTime::createFromFormat('Y-m-d', $remocao['recebido_em'])->format('d/m/Y') : '';?>
                        </td>
                    <?php endif; ?>
                    <td><?= mb_strtoupper($remocao['unidade_regional'],'UTF-8') ?></td>
                </tr>
            <?php endforeach; ?>
        </table>
        <?php
    endif;
endif;
?>