html,
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

.long {
  background: yellow;
  letter-spacing: 1em;
}

.report {
  .headcol {
    /* position: relative; */

    border-top: 1px solid #79a26d;

    .head__col-box {
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      .head__col-name {
        width: calc(100% - 20px);

        text-align: left;
        padding-left: 20px;
      }
      .head__col-name__blue {
        background: red;
      }

      div:first-child {
        width: 20px;
      }
    }
  }

  .report__header-column-1 {
    .report__head-th-1 {
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      border-bottom: none;
      background: #fff;
      text-align: left;
    }

    background: #00a189;

    th {
      text-align: center;
    }
  }

  .report__header-column-2 {
    .report__head-th-2 {
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      border-top: none;
      background: #fff;
      height: 39px;
      text-align: left;
    }

    background: #0b559b;

    th {
      color: #fff;
      text-align: center;
    }
  }
  .report__level-one_blue {
    background:#9abedd;
  }
  .report__level-one_green {
    background: #accdae;
  }
  .report__level-one_yellow {
    background:#ffcc5c;
  }
  .line_0 {
    background: #9abedd;
  }

  /* .body-tr-td.body-row-1-cell-1.headcol.headcol__one.headcol__one_0 {
    background: #9abedd;
  } */
  .headcol__one_blue {
    background-color:#9abedd;
  }
  .headcol__one_green {
    background-color:#accdae;
  }
  .headcol__one_yellow {
    background-color:#ffcc5c;
  }
  .headcol__one {
    background: #accdae;
  }
  .headcol__tow {
    background: #e4e4e4;
  }
  .headcol__tree {
    background: #f3f3f3;
  }
  .headcol__four  {
    background:#F5F5DC ;
  }
 

  .report__level-tow {
    background: #e4e4e4;

    .body-row-level-tow {
      padding-left: 25px;
    }
  }

  .report__level-tree {
    background: #f3f3f3;

    .body-row-level-tre {
      padding-left: 80px;
    }
  }
  .report__level-four {
    background:#F5F5DC ;
  }

  .report__header-column-1 {
    th:first-child {
    }

    .report__head-th-1 {
    }
  }

  .report__body-line-1-column-1 {
    td:first-child {
      width: 400px;
    }
  }

  .hidden-line {
    display: none;
  }
  .color__red {
    color: #862b2b;
  }
  .color__blue {
    color: #0b559b;
  }
}
.select__filial {
  position: relative;
  height: 100px;

  .filial__child {
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 55%;
    right: 0;
  }
}
div.css-yk16xz-control {
  max-width: 400px;
}

.selectButtom {
  position: relative;
  height: 40px;
  padding: 5px 5px;
  margin: 22px 0px 22px 10px;
  font-weight: bold;
  outline: none;
  border: none;
  background: #00a189;
}

.report__header-column-1{
  height: 41px;
  position: sticky;
  margin: 0;
  top: 0;
  z-index: 1;
}
.report__header-column-1 > th.monthHeader {
  background-color: #00a189;
  color:#fff;
}
.report__header-column-2 {
  height: 41px;
  position: sticky;
  top: 40px;
  z-index: 1;
}
.report__header-column-2 > th.actionHeader {
  background-color: #0b559b;
  color:#fff;
}
th.report__head-th-1 {
  position: sticky;
  width: 400px;
  top: 0;
  z-index: 1;
  left: 0;
}
th.report__head-th-2 {
  position: sticky;
  color: black !important;
  width: 400px;
  z-index: 1;
  left: 0;
}

#dropDonwTableMenu {
  display: inline-block;
  position: sticky;
  left: 0;
  width: 400px;
  z-index: 0;
}
#outerdivReport {
  height: 60vh;
  overflow: auto;
}

#outerdivReport.full-screen.report {
  padding: 0px;
  height: 100%;
  left: 0;
  th.monthHeader {
    border-right: 2px solid white;
  }
  th.actionHeader {
    border-right: 2px solid white;
  }
}

