<?php require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>
<head>
    <meta charset="UTF-8">
    <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php'); ?>
    <link rel="stylesheet" type="text/css" href="/utils/reports.css">
    <link rel="stylesheet" href="/utils/bootstrap-3.3.6-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/utils/font-awesome-4.7.0/css/font-awesome.css" />
    <link rel="stylesheet" href="/utils/jquery/css/toggle/toggle.css" />
    <link rel="stylesheet" href="/utils/bootstrap-3.3.6-dist/css/chosen.bootstrap.min.css" />
    <script src="/utils/bootstrap-3.3.6-dist/js/bootstrap.min.js" ></script>
</head>
<div id="content">
    <div id="right">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title pull-left" style="padding-top: 7.5px;">
                    <i class="fa fa-search" aria-hidden="true"></i> Buscar Eventos/APH Realizados
                </h3>
            </div>
            <div class="panel-body">
                <form method="post" action="/eventos_aph/?action=relatorio-eventos-aph-realizados">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label class="control-label" for="fornecedor-cliente">Cliente:</label>
                                <select class="form-control chosen-select " name="fornecedor_cliente" id="fornecedor-cliente">
                                    <option  selected value="">Selecione...</option>
                                    <?php  foreach($fornecedores as $fornecedor):
                                        $cpfCnpj = $fornecedor['FISICA_JURIDICA'] == 1 ? $fornecedor['cnpj']: $fornecedor['CPF'];

                                        ?>
                                        <option <?= isset($fornecedorCliente) && $fornecedorCliente === $fornecedor['idFornecedores'] ? "selected" : "" ?>  value="<?= $fornecedor['idFornecedores'] ?>"> <?= $cpfCnpj.' '.strtoupper($fornecedor['nome']) ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="control-label" for="empresa">Unidade Regional:</label>
                                <select name="empresa" class="form-control chosen-select ">
                                    <option selected  value="">Selecione...</option>
                                    <?php  foreach($empresas as $ur): ?>
                                        <option <?= isset($empresaId) && $empresaId == $ur['id']  ? "selected" : "" ?>  value="<?= $ur['id'] ?>" > <?= mb_strtoupper($ur['nome'],'UTF-8') ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="tipo-servico">Tipo do serviço:</label>
                                <select id="tipo-servico" style="background-color:transparent;" name="tipo-servico" class=" form-control" >
                                    <option value="" selected >SELECIONE</option>
                                    <option <?= isset($tipoServico) && $tipoServico === 'EV' ? "selected" : "" ?> value="EV">EVENTOS</option>
                                    <option <?= isset($tipoServico) && $tipoServico === 'APH' ? "selected" : "" ?> value="APH">APH</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="periodo">Inicio:</label>
                                <input name="inicio" type="text" class="form-control data-evento" value='<?= isset($inicio)  ? $inicio : "" ?>' required>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="periodo">Fim:</label>
                                <input name="fim" type="text" class="form-control data-evento" value='<?= isset($fim) ? $fim : "" ?>' required>
                            </div>
                        </div>
                        <div class="col-lg-12 text-center">
                            <div class="form-group">
                                <button type="submit" class='ui-button ui-widget ui-corner-all ui-button-text-only ui-state-hover' >
                                    <span class='ui-button-text'>Pesquisar</span>
                                </button>
                                &nbsp;&nbsp;
                                <button id='' type='button' class='voltar_ ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only ui-state-hover'
                                        role='button' aria-disabled='false' >
                                    <span class='ui-button-text'>Voltar</span>
                                </button>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-12">
                <?php
                if(isset($dados)) {
                    if (empty($dados)) {
                        ?>
                        <h4 class="text-center">Nenhum Evento/APH encontrado.</h4>
                        <?php
                    } else {
                        ?>
                        <a href="/eventos_aph/?action=excel-relatorio-eventos-aph-realizados&inicio=<?= $inicio_BD ?>&fim=<?= $fim_BD ?>&empresa=<?=$empresaId?>&fornecedor_cliente=<?=$fornecedorCliente?>&tipo-servico=<?=$tipoServico?>"
                           target="_blank"
                           style="float: right;"
                           title="Exportar para Planilha Excel">
                            <img src="/utils/new-icons/excel-2013.ico" width="32">
                        </a>
                        <table class='table table-striped'>
                        <thead>
                        <tr>
                            <th>Informações do Evento/APH</th>
                            <?php if ($_GET['from'] == 'financeiro'): ?>
                                <th>Informações do Cliente</th>
                            <?php endif; ?>
                        </tr>
                        </thead>
                        <tbody>
                        <?php
                        foreach ($dados as $d) {
                            $encoding = 'UTF-8';
                            $labelCPFCNPJ = "CPF";
                            $labelNome = "CLIENTE";
                            $labelRazaoApelido = "APELIDO";
                            $labelIncEstRG = "RG";
                            $CPFCNPJ = $d['CPF'];
                            if ($d['FISICA_JURIDICA'] == '1') {
                                $labelCPFCNPJ = "CNPJ";
                                $labelNome = "NOME FANTASIA";
                                $labelRazaoApelido = "RAZÃO SOCIAL";
                                $labelIncEstRG = "INSCRIÇÃO ESTADUAL";
                                $CPFCNPJ = $d['CNPJ'];
                            }
                            $contaBancaria= '';
                            if(!empty($d['conta_recebido'])){
                                $contaBancaria = \App\Models\Financeiro\ContaBancaria::getById($d['conta_recebido']);
                            }

                            ?>
                            <tr>
                                <td width="100%">
                                    <div class="panel-group" id="accordion-<?= $d['id'] ?>">
                                        <div class="panel">
                                            <div class="panel-heading ocorrencias bg-primary" style="cursor: pointer;">
                                                <h4 data-toggle="collapse"
                                                    title="Clique para visualizar mais informações"
                                                    data-parent="#accordion-<?= $d['id'] ?>"
                                                    data-target="#ocorrencia-<?= $d['id'] ?>"
                                                    class="panel-title"
                                                    style="font-size: 85%;">
                                                    <div class="col-md-5" style="padding-bottom:5px !important;">
                                                        <b>CLIENTE:</b>
                                                        <?= mb_strtoupper($d['nomeCliente'], $encoding) ?>
                                                    </div>

                                                    <div class="col-md-2" style="padding-bottom:5px !important;">
                                                        <b>TIPO:</b> <?= mb_strtoupper($lists['tipo_servico'][$d['tipo_servico']], $encoding) ?><br>

                                                    </div>

                                                    <b>REALIZADA EM:</b>
                                                    <?= \DateTime::createFromFormat('Y-m-d', $d['data'])->format('d/m/Y') ?> <?= $d['hora'] ?>

                                                    <div class="pull-right">
                                                        <span class="fa fa-caret-square-o-up switch-plus-minus col-md-offset-10"></span>
                                                    </div>
                                                    <div class="col-md-12" style="padding-bottom:5px !important;">
                                                        <b>SOLICITANTE:</b> <?= mb_strtoupper($d['solicitante'], $encoding) ?>
                                                    </div>
                                                </h4>
                                                <br>
                                            </div>
                                            <div id="ocorrencia-<?= $d['id']  ?>" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <div class="col-lg-6" style="padding-bottom:5px !important;">
                                                        <b>UNIDADE REGIONAL: </b>
                                                        <br>
                                                        <em><?= mb_strtoupper($d['unidade_regional'],'UTF-8') ?></em>
                                                    </div>
                                                    <div class="col-lg-6" style="padding-bottom:5px !important;">
                                                        <b>PÚBLICO ALVO:</b>
                                                            <br>
                                                            <em>
                                                                <?= mb_strtoupper($lists['publico_alvo'][$d['publico_alvo']], $encoding) ?><br>
                                                            </em>
                                                        </div>
                                                        <div class="col-lg-6" style="padding-bottom:5px !important;">
                                                            <b>VALOR:</b>
                                                            <br>
                                                            <em>
                                                                <?= \App\Helpers\StringHelper::currencyFormat($d['valor']) ?><br>
                                                            </em>
                                                        </div>

                                                        <div class="col-lg-6" style="padding-bottom:5px !important;">
                                                            <b>TERMINADO EM:</b>
                                                            <br>
                                                            <em>
                                                                <?= \DateTime::createFromFormat('Y-m-d', $d['data_termino'])->format('d/m/Y') ?> <?= $d['hora_termino'] ?>
                                                            </em>
                                                        </div>


                                                        <div class="col-lg-6" style="padding-bottom:5px !important;">
                                                            <b>RECEBIDO?</b>
                                                            <br>
                                                            <em>
                                                                <?= mb_strtoupper($lists['sim_nao'][$d['recebido']], $encoding) ?>
                                                            </em>
                                                        </div>
                                                        <?php if(!empty($d['conta_recebido'])){ ?>
                                                            <div class="col-lg-6" style="padding-bottom:5px !important;">
                                                                <b>CONTA RECEBIDA:</b>
                                                                <br>
                                                                <em>
                                                                    <?= mb_strtoupper( $contaBancaria['nome_conta'], $encoding) ?>
                                                                </em>
                                                            </div>
                                                            <div class="col-lg-6" style="padding-bottom:5px !important;">
                                                                <b>RECEBIDO EM: </b>
                                                                <br>
                                                                <em>
                                                                    <?= !empty($d['recebido_em']) ? \DateTime::createFromFormat('Y-m-d', $d['recebido_em'])->format('d/m/Y') : '';?>
                                                                </em>
                                                            </div>

                                                        <?php }?>

                                                        <div class="col-lg-6" style="padding-bottom:5px !important;">
                                                            <b>OBSERVAÇÃO:</b>
                                                            <br>
                                                            <em>
                                                                <?= mb_strtoupper($d['observacao'], $encoding) ?>
                                                            </em>
                                                        </div>

                                                        <div class="col-lg-6" style="padding-bottom:5px !important;">
                                                            <b>OBSERVAÇÃO FINAL:</b>
                                                            <br>
                                                            <em>
                                                                <?= mb_strtoupper($d['observacao_final'], $encoding) ?>
                                                            </em>
                                                        </div>

                                                        <div class="col-lg-12 negrito text-center bg-info" style="padding-bottom:5px !important;"> DADOS DO CLIENTE PARA GERAR NOTA FISCAL</div>
                                                        <div class="col-lg-6">
                                                            <b><?= $labelNome ?>:</b>
                                                            <br>
                                                            <em>
                                                                <?= mb_strtoupper($d['nomeCliente'], $encoding) ?>
                                                            </em>
                                                        </div>
                                                        <div class="col-lg-6" style="padding-bottom:5px !important;">
                                                            <b><?= $labelRazaoApelido ?>:</b>
                                                            <br>
                                                            <em>
                                                                <?= mb_strtoupper($d['razaoSocial'], $encoding) ?>
                                                            </em>
                                                        </div>
                                                        <div class="col-lg-6" style="padding-bottom:5px !important;">
                                                            <b><?= $labelCPFCNPJ ?>:</b>
                                                            <br>
                                                            <em>
                                                                <?= $CPFCNPJ ?>
                                                            </em>
                                                        </div>
                                                        <div class="col-lg-6" style="padding-bottom:5px !important;">
                                                            <b><?= $labelIncEstRG ?>:</b>
                                                            <br>
                                                            <em>
                                                                <?= $d['IMRG'] ?>
                                                            </em>
                                                        </div>
                                                        <div class="col-lg-6" style="padding-bottom:5px !important;">
                                                            <b>INSC. MUNICIPAL:</b>
                                                            <br>
                                                            <em>
                                                                <?= $d['IES'] ?>
                                                            </em>
                                                        </div>
                                                        <div class="col-lg-6" style="padding-bottom:5px !important;">
                                                            <b>ENDEREÇO:</b> <br>
                                                            <em>
                                                                <?= mb_strtoupper($d['enderecoCliente'], $encoding) ?>. <?= mb_strtoupper($d['cidade'], $encoding) ?> - <?= $d['UF'] ?>
                                                            </em>
                                                        </div>
                                                        <div class="col-lg-6" style="padding-bottom:5px !important;">
                                                            <b>CONTATO/TELEFONE:</b>
                                                            <br>
                                                            <em>
                                                                <?= mb_strtoupper($d['contatoCliente'], $encoding) ?> - <?= $d['telefoneCliente'] ?>
                                                            </em>
                                                        </div>
                                                        <div class="col-lg-6" style="padding-bottom:5px !important;">
                                                            <b>EMAIL:</b>
                                                            <br>
                                                            <em>
                                                                <?= strtolower($d['emailCliente']) ?>
                                                            </em>
                                                        </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>

<!--                            <tr>-->
<!--                                <td width="50%">-->
<!--                                    <p class="padding-inter-lines">-->
<!--                                        <b>SOLICITANTE:</b> --><?//= mb_strtoupper($d['solicitante'], $encoding) ?><!-- <br>-->
<!--                                        <b>TIPO:</b> --><?//= mb_strtoupper($lists['tipo_servico'][$d['tipo_servico']], $encoding) ?><!--<br>-->
<!--                                        <b>PÚBLICO ALVO:</b> --><?//= mb_strtoupper($lists['publico_alvo'][$d['publico_alvo']], $encoding) ?><!--<br>-->
<!--                                        <b>VALOR:</b>--><?//= \App\Helpers\StringHelper::currencyFormat($d['valor']) ?><!--<br>-->
<!--                                        <b>RECEBIDO?</b> --><?//= mb_strtoupper($lists['sim_nao'][$d['recebido']], $encoding) ?><!-- <br>-->
<!---->
<!---->
<!--                                        <b>TERMINADO-->
<!--                                            EM:</b> --><?//= \DateTime::createFromFormat('Y-m-d', $d['data_termino'])->format('d/m/Y') ?><!-- --><?//= $d['hora_termino'] ?>
<!--                                        <br>-->
<!--                                        <b>UNIDADE REGIONAL: </b> --><?//= mb_strtoupper($d['unidade_regional'], 'UTF-8') ?>
<!--                                    </p>-->
<!--                                </td>-->
<!---->
<!--                                <td width="50%">-->
<!--                                    <p class="padding-inter-lines">-->
<!---->
<!--                                        <b>--><?//= $labelCPFCNPJ ?><!--:</b> --><?//= $CPFCNPJ ?><!-- <br>-->
<!--                                        <b>--><?//= $labelNome ?><!--:</b> --><?//= mb_strtoupper($d['nomeCliente'], $encoding) ?>
<!--                                        <br>-->
<!--                                        <b>--><?//= $labelRazaoApelido ?>
<!--                                            :</b> --><?//= mb_strtoupper($d['razaoSocial'], $encoding) ?><!-- <br>-->
<!--                                        <b>--><?//= $labelIncEstRG ?><!--:</b> --><?//= $d['IMRG'] ?><!-- <br>-->
<!--                                        <b>INSC. MUNICIPAL:</b> --><?//= $d['IES'] ?><!-- <br>-->
<!--                                        <b>ENDEREÇO:</b>-->
<!--                                        --><?//= mb_strtoupper($d['enderecoCliente'], $encoding) ?>
<!--                                        . --><?//= mb_strtoupper($d['cidade'], $encoding) ?><!-- - --><?//= $d['UF'] ?><!-- <br>-->
<!--                                        <b>CONTATO/TELEFONE:</b> --><?//= mb_strtoupper($d['contatoCliente'], $encoding) ?>
<!--                                        - --><?//= $d['telefoneCliente'] ?><!-- <br>-->
<!--                                        <b>EMAIL:</b> --><?//= strtolower($d['emailCliente']) ?><!--<br>-->
<!---->
<!--                                    </p>-->
<!--                                </td>-->
<!---->
<!--                            </tr>-->
                        <?php }
                    } ?>
                    </tbody>
                    </table>
                    <?php
                }

                ?>
            </div>
        </div>
    </div>

    <div id="left">
        <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
    </div>
</div>
<script type="text/javascript" src="/eventos_aph/js/main.js?v=2.1"></script>
<script type="text/javascript" src="/utils/jquery/js/voltar.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $(".panel-group .collapse.in").each(function(){
            $(this)
                .siblings(".panel-heading")
                .find(".fa.switch-plus-minus")
                .addClass("fa-caret-square-o-down")
                .removeClass("fa-caret-square-o-up");
        });

        $(".panel-group .collapse").on('show.bs.collapse', function(){
            $(this)
                .parent()
                .find(".fa.switch-plus-minus")
                .removeClass("fa-caret-square-o-up")
                .addClass("fa-caret-square-o-down");
        }).on('hide.bs.collapse', function(){
            $(this)
                .parent()
                .find(".fa.switch-plus-minus")
                .removeClass("fa-caret-square-o-down")
                .addClass("fa-caret-square-o-up");
        });
    });
</script>
</body>
</html>