<?php
if(isset($dados)):
    if(empty($dados)) :
        ?>
        <h4 class="text-center">Nenhum Evento/APH encontrado.</h4>
        <?php
    else:
        ?>
        <table border="1px">
            <tr bgcolor="#d3d3d3" style="text-align: center" >
                <td colspan="4"><b>FILTROS UTILIZADOS NA BUSCA</b></td>
            </tr>
            <tr>
                <td colspan="3"><b>CLIENTE: </b><?=htmlentities(mb_strtoupper($filterFornecedorCliente,'UTF-8'))?></td>
                <td><b><?=htmlentities('TIPO SERVIÇO:')?> </b><?=$filterTipoServico?></td>
            </tr>
            <tr>

                <td colspan="2"><b>UNIDADE REGIONAL: </b><?=mb_strtoupper($filterEmpresa,'UTF-8')?></td>
                <td><b>INICIO: </b><?=$inicio->format('d/m/Y')?></td>
                <td><b>FIM: </b><?=$fim->format('d/m/Y')?></td>
            </tr>
        </table>
        <br>
        <table class='table' border="1px">
            <thead>
            <tr>
                <th colspan="8">
                    Evento/APH  Realizados de
                    <?= $inicio->format('d/m/Y') ?> &agrave;
                    <?= $fim->format('d/m/Y') ?>
                </th>
            </tr>
            <tr >
                <th bgcolor="#d3d3d3" >Cliente</th>
                <th bgcolor="#d3d3d3" >Valor</th>
                <th bgcolor="#d3d3d3" >Unidade Regional</th>
                <th bgcolor="#d3d3d3" >Recebido</th>
                <th bgcolor="#d3d3d3" >Conta Recebido</th>
                <th bgcolor="#d3d3d3" >Recebido em:</th>
                <th bgcolor="#d3d3d3" >Solicitante</th>
                <th bgcolor="#d3d3d3" >Tipo</th>
                <th bgcolor="#d3d3d3" ><?= htmlentities('Público Alvo')?></th>
                <th bgcolor="#d3d3d3" >Inicio</th>
                <th bgcolor="#d3d3d3" >Fim</th>
                <th bgcolor="#d3d3d3" ><?= htmlentities('Observação Final')?></th>
            </tr>
            </thead>
            <?php foreach($dados as $d):
                $contaBancaria= '';
                if(!empty($d['conta_recebido'])){
                    $contaBancaria = \App\Models\Financeiro\ContaBancaria::getById($d['conta_recebido']);
                }
                $recebidoEm = !empty($d['recebido_em']) ? \DateTime::createFromFormat('Y-m-d', $d['recebido_em'])->format('d/m/Y') : '';

                ?>
                <tr>
                    <td><?= htmlentities(($d['nomeCliente'] != '' ? $d['nomeCliente'] : $d['razaoSocial'])) ?></td>
                    <td><?= \App\Helpers\StringHelper::currencyFormat($d['valor']) ?></td>
                    <td><?= htmlentities(mb_strtoupper($d['unidade_regional'],'UTF-8')) ?></td>
                    <td><?= htmlentities(mb_strtoupper($lists['sim_nao'][$d['recebido']],'UTF-8')) ?></td>
                    <td><?= htmlentities(mb_strtoupper($contaBancaria['nome_conta'],'UTF-8')) ?></td>
                    <td><?=$recebidoEm?></td>
                    <td><?= htmlentities($d['solicitante']) ?></td>
                    <td><?= htmlentities($lists['tipo_servico'][$d['tipo_servico']]) ?></td>
                    <td><?= htmlentities($lists['publico_alvo'][$d['publico_alvo']]) ?></td>
                    <td><?= \DateTime::createFromFormat('Y-m-d', $d['data'])->format('d/m/Y').' '.$d['hora'] ?></td>
                    <td><?= \DateTime::createFromFormat('Y-m-d', $d['data_termino'])->format('d/m/Y').' '.$d['hora_termino'] ?></td>
                    <td><?= htmlentities(mb_strtoupper($d['observacao_final'],'UTF-8')) ?></td>
                </tr>
            <?php endforeach; ?>
        </table>
        <?php
    endif;
endif;
?>