<?php require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>
<head>
    <meta charset="UTF-8">
    <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php'); ?>
    <link rel="stylesheet" type="text/css" href="/utils/reports.css">
    <link rel="stylesheet" href="/utils/bootstrap-3.3.6-dist/css/bootstrap.min.css" />
    <script src="/utils/bootstrap-3.3.6-dist/js/bootstrap.min.js" ></script>
    <link rel="stylesheet" href="/utils/font-awesome-4.7.0/css/font-awesome.css" />
</head>
<div id="content">
    <div id="right">
        <center><h1>Previsões</h1></center>
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title pull-left" style="padding-top: 7.5px;">
                    <i class="fa fa-search" aria-hidden="true"></i>
                    Pesquisar Parcelas de Previsão
                </h3>               
            </div>
            <div class="panel-body" id="div-pesquisar-parcelas-previsao">
                <form method="post" id="form-pesquisa-parcela-previsao" action="/financeiros/previsao/?action=pesquisar-parcela-previsao">
                    <div class="row">                        
                        <div class="col-xs-3">
                            <label for="contas">Tipo documento: </label>  
                            PR                          
                        </div>
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label for="inicio">Vencimento Real de:</label>
                                <input name="inicio" id="inicio" type="date" class="form-control OBG" value='<?= isset($filtros['inicio'])  ? $filtros['inicio'] : "" ?>'>
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label for="fim"> até:</label>
                                <input name="fim"  id="fim" type="date" class="form-control OBG" value='<?= isset($filtros['fim'])  ? $filtros['fim'] : "" ?>'>
                            </div>
                        </div>
                        
                    </div>
                    <div class="row"> 
                        <div class="col-xs-8">
                                <label for="contas">Natureza Principal:</label>
                                <select name="natureza-principal" id="conta"  class="form-control chosen-select" data-placeholder="Selecione uma natureza..." >
                                <option value='' >Selecione</option>   
                                <?php foreach($naturezaPrincipal as $natureza): ?>
                                        <option <?= isset($filtros['natureza-principal']) && $natureza['ID'] == $filtros['natureza-principal'] ? "selected" : "" ?> value="<?= $natureza['ID'] ?>">
                                            <?= $natureza['COD_N4'] ?> - <?= $natureza['N4'] ?> 
                                        </option>
                                    <?php endforeach; ?>
                                </select>
                            </div>                    
                            
                        </div>
                    <br>

                    <div class="col-xs-12 text-center">
                        <button type="subimit" id="pesquisar-parcelas-previsao" class="btn btn-primary" >
                            <span class='ui-button-text'>Pesquisar</span>
                        </button>
                        &nbsp;&nbsp;
                        <a  href="/financeiros"
                            style="color: white;"
                            class='btn btn-warning' >
                            Voltar
                        </a>
                    </div>
                </form>
                <br>
            </div>
        </div>

        <div class="row">
            <?php if(!empty($response)): ?>
                <div class="col-xs-12">
                    <div>
                        <table class='table table-striped table-bordered' width='100%'>
                            <thead>
                            <tr>
                                <th> <input type="checkbox" class="marcar-todos" title="Marcar todos"></th>
                                <th>TR</th>
                                <th>Nat. Principal</th>
                                <th>Vencimento</th>
                                <th>Valor</th>                                
                                <th></th>
                            </tr>
                            </thead>
                            <tbody id="tbody-bordero">
                            <?php
                            foreach($response as $resp):
                                
                                ?>
                                <tr>
                                    <td><input type= 'checkbox' class='cancelar-parcela' name="parcelas[<?=$resp['id']?>]" value="<?=$resp['valor']?>"></td>
                                    <td><?= $resp['tr'] ?></td>
                                    <td><?= $resp['natureza_principal'] ?></td>
                                    <td><?= $resp['venc_ptbr']?></td>
                                    <td>R$ <?= number_format($resp['valor'], 2, ',', '.') ?></td>
                                    <td><div class='btn btn-primary pesquisar-parcelas-notas' id-parcela="<?=$resp['id']?>" > Baixar</div></td>
                                    
                                </tr>
                            <?php endforeach; ?>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-xs-12 text-center">
                        <button  id="cancelar-parcelas-previsao" class="btn btn-danger" >
                           Cancelar
                        </button>
                       
                    </div>
                <?php require __DIR__ . '/modal-associar-parcelas.phtml' ?>
            <?php else:?>
                <div class="col-xs-12 text-center">
                    <div class="alert alert-warning">
                        <b>Nenhuma parcela do tipo PR foi encontrado para os filtros escolhidos.</b>
                    </div>
                </div>
            <?php endif; ?>
        </div>
    </div>
    <div id="left">
        <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
    </div>
</div>
<script type="text/javascript" src="/financeiros/previsao/js/main.js?v=1.10"></script>
<script type="text/javascript" src="/utils/jquery/js/chosen.jquery.min.js"></script>
<script type="text/javascript" src="/utils/jquery/js/voltar.js"></script>
<script type="text/javascript" src="/utils/jquery/js/validar_campos.js"></script>

</body>
</html>