<?php require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>

<head>
    <meta charset="UTF-8">
    <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php'); ?>
    <link rel="stylesheet" type="text/css" href="/utils/reports.css">
</head>
<div id="content">
    <div id="right">
<?php
$sexo = $responsePaciente['sexo'] == 0 ? 'Masculino' : 'Feminino';

$idade = join("/", array_reverse(
            explode("-", $responsePaciente['nascimento'])
        )
    )."(" . $responsePaciente['idade'] . " anos)";

if ($idade == "00/00/0000( anos)") {
    $idade = '';
}
?>
<table width='100%'>
    <tr bgcolor='#EEEEEE'>
        <td  style='width:60%;'><b>PACIENTE:</b></td>
        <td style='width:20%;' ><b>SEXO </b></td>
        <td style='width:30%;'><b>IDADE:</b></td>
    </tr>

    <tr>
        <td style='width:60%;'><?=$responsePaciente['nome']?></td>
        <td style='width:20%;'><?=$sexo?></td>
        <td style='width:30%;'><?=$idade?></td>
    </tr>

    <tr bgcolor='#EEEEEE'>
        <td style='width:60%;'><b>UNIDADE REGIONAL:</b></td>
        <td style='width:20%;'><b>CONV&Ecirc;NIO </b></td>
        <td style='width:30%;'><b>MATR&Iacute;CULA </b></td>
    </tr>

    <tr>
        <td style='width:60%;'><?=$responsePaciente['ur']?></td>
        <td style='width:20%;'><?=strtoupper($responsePaciente['nomeplano'])?></td>
        <td style='width:30%;'><?=strtoupper($responsePaciente['NUM_MATRICULA_CONVENIO'])?></td>
    </tr>

    <tr>

        <td colspan = '3'>
            <fieldset style='width:550px;'>
                <legend><b>Per&iacute;odo da Fatura</b></legend> DE
                <input type='text' name='inicio' id='inicio_fatura' value='<?=join("/", array_reverse(explode("-", $inicio)))?>' maxlength='10' size='15' class='OBG  inicio-periodo-editar periodo-editar'  />
                AT&Eacute; <input type='text' name='fim' id='fim_fatura' value='<?=join("/", array_reverse(explode("-", $fim)))?>' maxlength='10' size='15' class='OBG  fim-periodo-editar periodo-editar'  />
            </fieldset>

            <!-- </tr>
                    <td style='width:60%;'><?=$responsePaciente['usuario']?></td>
                    <td style='width:20%;'><?=join("/", array_reverse(explode("-", $responsePaciente['DATA'])))?></td>
                    <td style='width:30%;'> . " at&eacute; " . join("/", array_reverse(explode("-", $fim))) ?></td> -->
    </tr>
</table>
<?php
echo "<div id='dialog-zerados-salvar-fatura' style='display: none;' lote='' title='Salvar Fatura'   dados= ''	 inicio= ''	  fim= ''	  cod= ''	  av= ''	 plano= ''  cap=''    obs= '' >
            <p><b>Deseja salvar fatura com  itens zerados?</b></p></div>";
echo "<div id='dialog-formulario' title='Formul&aacute;rio' tipo-documento='' tipo='' tipo_medicamento='' classe='' cod='' plano='' empresa=''>";
echo alerta();
echo "<div id='msg-generico'></div>";
echo "<center><div id='tipos'>
            <input type='radio' id='bmed' name='tipos' checked='checked' value='med' /><label for='bmed'>Medicamentos</label>
            <input type='radio' id='bdie' name='tipos' value='die' /><label for='bdie'>Dieta</label>
            <input type='radio' id='bmat' name='tipos' value='mat' /><label for='bmat'>Materiais</label>
            <input type='radio' id='bserv' name='tipos' value='serv' /><label for='bserv'>Servi&ccedil;os</label>
            <input type='radio' id='bgas' name='tipos'  value='gas' /><label for='bgas'>Gasoterapia</label>
            <input type='radio' id='bequip' name='tipos' value='eqp' /><label for='bequip'>Equipamento</label>
            <input type='radio' id='bextra' name='tipos' value='ext' /><label for='bextra'>Extras</label>
            <input type='radio' id='bkit' name='tipos' value='kit' /><label for='bkit'> Kits</label>
        
            </div></center>";
echo "<p><b>Busca:</b><br/><input type='text' name='busca' id='busca-item' />";
echo "<div id='opcoes-kits'></div>";
echo "<input type='hidden' name='cod' id='cod' value='-1' />";
echo "<input type='hidden' name='tipo' id='tipo' value='0' />";
echo "<input type='hidden' name='catalogo_id' id='catalogo_id' value='-1' />";
echo "<input type='hidden' name='apresentacao' id='apresentacao' value='-1' />";
echo "<input type='hidden' name='custo' id='custo' value='-1' />";
echo "<input type='hidden' name='valor_plano' id='valor_plano' value='-1' />";
echo "<input type='hidden' name='inicio' id='inicio' value='-1' />";
echo "<input type='hidden' name='fim' id='fim' value='-1' />";
echo "<input type='hidden' name='paciente' id='paciente' value='-1' />";
echo "<input type='hidden' name='contador' id='contador' value='-1' />";
echo "<input type='hidden' name='tuss' id='tuss' value='-1' />";
echo "<input type='hidden' name='tabela_cobranca_id' id='tabela_cobranca_id' value='-1' />";
echo "<input type='hidden' name='codigo_proprio' id='codigo_proprio' value='' />";
echo "<input type='hidden' name='nome_item' id='nome_item' value='' />";
echo "<input type='hidden' name='tabela_origem' id='tabela_origem' value='-1' />";
echo "<p><b>Nome:</b><input type='text' name='nome' id='nome' class='OBG' />";

echo "<b>Quantidade:</b> <input type='text' id='qtd' name='qtd' class='numerico OBG' size='3'/>";
echo "<button id='add-item' tipo='' >+</button></div>";




if (!empty($devolucoes)) {
    $htmlDevolucaoEnvio = "<table class='mytable mostrar-devolucao' width='100%'>
                                <thead>
                                    <tr>
                                        <th colspan='8'><center>Devoluções entre {$inicioBr} até {$fimBr} </center></th>
                                    </tr>
                                </thead>
                                <tbody id='tbody-devolucao' class='ocultar-devolucao'>
                                    <tr style='background-color:grey' >
                                        <td colspan='4'>ITEM</td>
                                        <td>TIPO</td>
                                        <td>QUANTIDADE</td>
                                        <td>LOTE</td>
                                        <td>DATA</td>
                                    </tr>";
    foreach ($devolucoes as $d) {
        $htmlDevolucaoEnvio .= "<tr>
                                        <td colspan='4'>{$d['nome']}</td>
                                        <td>{$d['nomeTipo']}</td>
                                        <td>{$d['qtd']}</td>
                                        <td>{$d['LOTE']}</td>
                                        <td>".implode('/', array_reverse(explode('-', $d['DATA_DEVOLUCAO'])))."</td>
                                    </tr>";
    }
    $htmlDevolucaoEnvio .= "</tbody>
                            </table><br>";
}

if (!empty($envios)) {
    $htmlDevolucaoEnvio .= "<table class='mytable mostrar-envio' width='100%'>
                                <thead>
                                    <tr>
                                        <th colspan='8'><center>Equipamentos enviados entre {$inicioBr} até {$fimBr}</center> </th>
                                    </tr>
                                </thead>
                                <tbody id='tbody-envio' class='ocultar-envio'>
                                    <tr style='background-color:grey'>
                                        <td colspan='4'>ITEM</td>
                                        <td>TIPO</td>
                                        <td>QUANTIDADE</td>
                                        <td>LOTE</td>
                                        <td>DATA</td>
                                    </tr>";

    foreach ($envios as $e) {
        $htmlDevolucaoEnvio .= "<tr>
                                        <td colspan='4'>{$e['nome']}</td>
                                        <td>Equipamento</td>
                                        <td>{$e['qtd']}</td>
                                        <td>{$e['LOTE']}</td>
                                        <td>".implode('/', array_reverse(explode('-', $e['data'])))."</td>
                                    </tr>";
    }
    $htmlDevolucaoEnvio .= "</tbody>
                        </table><br>";
}
if (!empty($equipamentoAtivos)) {
    $htmlDevolucaoEnvio .= "<table class='mytable mostrar-equipamento-ativo' width='100%'>
                                <thead>
                                    <tr>
                                        <th colspan='8'><center>Equipamentos ativos.</center> </th>
                                    </tr>
                                </thead>
                                <tbody id='tbody-equipamento-ativo' class='ocultar-equipamento-ativo'>
                                    <tr style='background-color:grey'>
                                        <td>Equipamento</td>
                                        <td>Data Envio</td>
                                    </tr>";

    foreach ($equipamentoAtivos as $ativos) {
        $htmlDevolucaoEnvio .= "<tr>
                                        <td>{$ativos['item']}</td>
                                        <td>{$ativos['datapt']}</td>
                                </tr>";
    }
    $htmlDevolucaoEnvio .= "</tbody>
                        </table><br>";
}

if ($resultado != 0) {

    echo "</br>
          <table width=100% style='border:2px dashed;'>
                <tr><td><center><b>OBSERVA&Ccedil;&Otilde;ES</b></center></td></tr>
                <tr><td>Na coluna TAXA deve se colocar o percentual se for desconto colocar como negativo ex: -1,00. Caso seja acrescimo positivo ex: 1,00 </td></tr>
                <tr><td>Na coluna deve-se marcar os itens que não vão ser cobrados porque fazem parte do Pacote</td></tr>
          </table>
          </br>";

    echo "<center><h2>{$label_tipo}</h2></center><br/>";

    $total=0.00;
    $cont=0;
    $nome_titulo='';
    $subtotal=0.00;
    $cod_ident = $cod;

    foreach ($itensPadronizados as $row ) {

        $total +=$row['quantidade']*$row['valor'];

        if ($nome_titulo != $row['nome']) {
            $subtotal=0.00;
            $subtotal_equipamento=0.00;
            $subtotal_material=0.00;
            $subtotal_medicamento=0.00;
            $subtotal_dieta=0.00;
            $subtotal_servico=0.00;
            $subtotal_gasoterapia=0.00;
            $tipo_medicamento = $row['tipo_medicamento'];
            $nomeplano = $row['nomeplano'];
            $plano = $row['Plano'];

            $cod_ident =$row['Paciente'];


            echo"<div class='container-fatura' id ='div_{$cod_ident}' >";
            //echo "<button id='{$cod_ident}' style='float:left;' inicio='{$inicio}'  fim='{$fim}' class='ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only ui-state-hover add-item-fatura' role='button' aria-disabled='false' ><span class='ui-button-text'>+</span></button>";
            echo "<br/>
                    {$htmlDevolucaoEnvio}
                    <table class='mytable' width=100%  >";
            echo "<a>
                    <thead idpaciente='{$cod_ident}'>
                    <tr>
                        <th colspan='5' style='background-color:#ccc;'>
                            <center width='70%' style='vertical-align:middle;'>
                                <b>{$responsePaciente['nome']}</b>
                            </center>
                        </th>
                    </tr>
                    </thead>
                  </a>";
            echo"</table>
                <table  width=100% class=' mytable ocultar' id='tabela_{$cod_ident}'>";
            echo "<tr>
                        <th>Item</th>
                        <th>Tipo</th>
                        <th>Unidade</th>
                        <th>Qtd</th>
                        <th>Pre&ccedil;o Unit.</th>
                        <th>Pre&ccedil;o Total</th>
                        <th>Taxa</th>
                        <th>Pacote</th>
                    </tr>

                    <tr>
                        <td colspan='4'>
                            <b><input type='checkbox' class='selecionar-todos' paciente='{$cod_ident}'>Selecionar todos para serem removidos</b>
                        </td>
                        <td colspan='4' align='right' style='padding-right: 25px;'>
                            <b>Selecionar todos para pacote <input type='checkbox' class='selecionar-todos-pacote' paciente='{$cod_ident}'></b>
                        </td>
                    </tr>
                    ";
            $nome_titulo = $row['nome'];
        }

        $subtotal +=$row['quantidade']*$row['valor'];
        if ($row['tipo'] == '1') {
            $subtotal_material +=$row['quantidade']*$row['valor'];
        }
        if ($row['tipo'] == '0') {
            $subtotal_medicamento +=$row['quantidade']*$row['valor'];
        }
        if ($row['tipo'] == '2') {
            $subtotal_servico +=$row['quantidade']*$row['valor'];
        }
        if ($row['tipo'] == '3') {
            $subtotal_dieta +=$row['quantidade']*$row['valor'];
        }
        if ($row['tipo'] == '5') {
            $subtotal_equipamento +=$row['quantidade']*$row['valor'];
        }

        $botoes = "<br><input type='checkbox' class=' excluir-item excluir-item-paciente-{$cod_ident}'/> <b> Excluir</b>";

        $codigoitem =$row['cod'];
        //////2014-01-16
        ///////// se for material coloca a descrição igual do Simpro que vai ser para fatura porque o principio é um ‘nome genérico’ que as enfermeiras usam.

        $nomeitem = $row['principio'];
        if ($plano == 80) {
            $checked="checked='checked'";
        } else {
            $checked="";
        }

        $label_item = preg_replace('/[^A-Za-z0-9]/', '', $row['catalogo_id']);
        $quantidade = $row['quantidade'] == '' ? 0 : $row['quantidade'];


        if ($row['TABELA_ORIGEM'] != 'historico') {
            echo "<tr  class='itens_fatura {$cod_ident}' >
            <td width='50%'>";
            if(empty($row['codigo_proprio'])){
                echo "<label id='label-novo-codigo-{$label_item}' style='display:none;'>
                        <button cod='{$label_item}' class='ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only ui-state-hover usar_tiss'>
                            <span class='ui-button-text'>
                                Usar Tiss
                            </span>
                        </button>
                        <input type='text' id='codigo-proprio-{$label_item}' maxlength='11' name='codigo-proprio'>
                    </label>
                <button id='bt-novo-codigo-{$label_item}' cod='{$label_item}' class='ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only ui-state-hover bt_novo_codigo'>
                    <span class='ui-button-text'>
                        C&oacute;digo Pr&oacute;prio
                        </span>
                    </button>";
            }else{
                echo "<label id='label-novo-codigo-{$label_item}'  style='display:show;'>
                        <button cod='{$label_item}' class='ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only ui-state-hover usar_tiss'>
                            <span class='ui-button-text'>
                                Usar Tiss
                            </span>
                        </button>
                        <input type='text' id='codigo-proprio-{$label_item}' value='{$row['codigo_proprio']}' maxlength='11' name='codigo-proprio'>
                    </label>
                <button id='bt-novo-codigo-{$label_item}' cod='{$label_item}' style='display:none;' class='ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only ui-state-hover bt_novo_codigo'>
                    <span class='ui-button-text'>
                        C&oacute;digo Pr&oacute;prio
                        </span>
                    </button>";
            }

            echo" TUSS-" . $row['codTuss'] . " N-{$codigoitem} {$nomeitem}{$botoes}
                </td>
            <td>{$row['apresentacao']}</td>
            <td>
                <select name='unidade'  class='unidade'>
                <option value='-1' selected='selected'>SELECIONE</option>";
            foreach ($responseUnidadesFatura as $unidade) {
                echo "<option value='{$unidade['ID']}'>" . strtoupper($unidade['UNIDADE']) . "</option>";

            }
            echo " </select>
            </td>
            <td><input class='qtd ' size='7' value='{$quantidade}' paciente='{$row['Paciente']}'/></td>
            <td>R$<input type='text' name='valor_plano' size='10' class='valor_plano valor OBG' tiss='{$row['cod']}' tuss='{$row['codTuss']}' 
                    label-item='{$label_item}' tabela_origem='{$row['TABELA_ORIGEM']}' 
                    catalogo_id='{$row['catalogo_id']}' qtd='{$quantidade}' 
                    paciente='{$row['Paciente']}' solicitacao='{$row['idSolicitacoes']}'
                     tipo='{$row['tipo']}' inicio='{$inicio}' fim='{$fim}' 
                     custo = '{$row['custo']}' usuario='{$_SESSION["id_user"]}' 
                     ord = {$cont} flag='{$row['flag']}' tabela_cobranca_id = '{$row['tabela_cobranca_id']}'
                     nome_item = '{$row['principio']}'
                      value='" . number_format($row['valor'], 2, ',', '.') . "'></td>
            <td><span style='float:right;' id='val_total{$cont}'><b>R$  <span nome='val_linha'>" . number_format($row['valor'] * $row['quantidade'], 2, ',', '.') . "</span></b></span></td>
            <td><input type='text' name='taxa' size='10' value='0,00' class='taxa OBG'></td>
                    <td><input type='checkbox' $checked name='incluso_pacote' size='10' class='incluso_pacote incluso-pacote-{$cod_ident} OBG'></td>
            </tr>";
            $cont++;
        }

        $empresa=$row['empresa'];
    }

    echo "</table>";
    echo "<button id='{$cod_ident}' contador=0 plano='{$plano}' style='float:left;' tipo_medicamento='{$tipo_medicamento}' nomeplano='{$nomeplano}' empresa='{$empresa}' operadora-id='{$operadoraId}' inicio='{$inicio}'  fim='{$fim}' tipo-documento=0 class='ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only ui-state-hover add-item-fatura' role='button' aria-disabled='false' ><span class='ui-button-text'>+</span></button>";
    echo "<button  cod='{$cod_ident}'  plano='{$plano}' presc_av='0' nome='$nome_titulo' class='ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only ui-state-hover excluir-todos ' role='button' aria-disabled='false' ><span class='ui-button-text'>Excluir Itens</span></button>";
    echo "<button  cod='{$cod_ident}'  plano='{$plano}' nome='{$nome_titulo}' empresa='{$empresa}' presc_av='0' id-fatura='0' id='salvar-paciente-{$cod_ident}'  class='ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only ui-state-hover salvar_fatura' role='button' aria-disabled='false' ><span class='ui-button-text'>Salvar Rascunho</span></button>";
    echo "<button  cod='{$cod_ident}' plano='{$plano}'  presc_av='0' id-fatura='0' id='finalizar-paciente-{$cod_ident}'  class='ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only ui-state-hover faturar' role='button' aria-disabled='false' ><span class='ui-button-text'>Faturar</span></button>";
    echo "<button paciente='{$cod_ident}' style='float:left;' inicio='{$inicio}'  fim='{$fim}' class='ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only ui-state-hover obs' role='button' aria-disabled='false' ><span class='ui-button-text'>OBSERVA&Ccedil;&Atilde;O</span></button>";

    echo "<table class='mytable' width=100% id='lista-itens'>";
    echo "<tr><td colspan='5' style='font-size:8px;'><span style='float:right;' class='sub_quipamento_".$cod_ident."'><b>SUBTOTAL EQUIPAMENTO: R$</b> <b><i id='equipamento_".$cod_ident."'>".number_format($subtotal_equipamento, 2, ',', '.')."</i></b></span></td></tr>";
    echo "<tr><td colspan='5' style='font-size:8px;'><span style='float:right;' class='sub_servico_".$cod_ident."'><b>SUBTOTAL SERVI&Ccedil;O: R$</b> <b><i id='servico_".$cod_ident."'>".number_format($subtotal_servico, 2, ',', '.')."</i></b></span></td></tr>";
    echo "<tr><td colspan='5' style='font-size:8px;'><span style='float:right;' class='sub_material_".$cod_ident."'><b>SUBTOTAL MATERIAL: R$</b> <b><i id='material_".$cod_ident."'>".number_format($subtotal_material, 2, ',', '.')."</i></b></span></td></tr>";
    echo "<tr><td colspan='5' style='font-size:8px;'><span style='float:right;' class='sub_medicamento_".$cod_ident."'><b>SUBTOTAL MEDICAMENTO: R$</b> <b><i id='medicamento_".$cod_ident."'>".number_format($subtotal_medicamento, 2, ',', '.')."</i></b></span></td></tr>";
    echo "<tr><td colspan='5' style='font-size:8px;'><span style='float:right;' class='sub_dieta_".$cod_ident."'><b>SUBTOTAL DIETA: R$</b> <b><i id='dieta_".$cod_ident."'>".number_format($subtotal_dieta, 2, ',', '.')."</i></b></span></td></tr>";
    echo "<tr><td colspan='5' style='font-size:8px;'><span style='float:right;' class='sub_gasoterapia_".$cod_ident."'><b>SUBTOTAL GASOTERAPIA</b> <b><i id='gasoterapia_".$cod_ident."'>".number_format($subtotal_gasoterapia, 2, ',', '.')."</i></b></span></td></tr>";

    echo "<tr><td colspan='5' style='font-size:12px;'><span style='float:right;' class='sub_fatura_".$cod_ident."'><b>TOTAL PACIENTE: R$</b> <b><i>".number_format($subtotal, 2, ',', '.')."</i></b></span></td></tr>";
    echo "<tr><td colspan='6' id='obs_".$cod_ident."'><span id='span_{$cod_ident}' class='span_obs'><b>OBSERVA&Ccedil;&Atilde;O:</b></br><textarea cols=120 rows=5 {$acesso} name='obs' class='OBG' id='text_{$cod_ident}'></textarea></span></td></tr>";

    echo"</table>
    </div>
    <table class='mytable' width=100% >";
    echo "<tr><td colspan='5' style='font-size:12px;'><span style='float:right;' cont='{$cont}' cont1='0' id='total_fatura'><b>TOTAL: R$</b> <b><i>".number_format($total, 2, ',', '.')."</i></b></span></td></tr>";
    echo "</table>";
} else {
    $sql = <<<SQL
SELECT 
clientes.nome, 
planosdesaude.nome AS nomeplano,
clientes.convenio AS Plano,
planosdesaude.tipo_medicamento,
clientes.empresa
FROM 
clientes 
INNER JOIN planosdesaude ON clientes.convenio = planosdesaude.id
WHERE
clientes.idClientes = '{$cod}' 
SQL;
    $rs = mysql_query($sql);
    $rowPaciente = mysql_fetch_array($rs);
    $cont=0;
    $cod_ident = $cod;
    $subtotal=0.00;
    $subtotal_equipamento=0.00;
    $subtotal_material=0.00;
    $subtotal_medicamento=0.00;
    $subtotal_dieta=0.00;
    $subtotal_servico=0.00;
    $subtotal_gasoterapia=0.00;
    $nome_titulo = $rowPaciente['nome'];
    $tipo_medicamento = $rowPaciente['tipo_medicamento'];
    $nomeplano = $rowPaciente['nomeplano'];
    $plano = $rowPaciente['Plano'];
    $empresa = $rowPaciente['empresa'];
    echo"<div class='container-fatura' id='div_{$cod_ident}' >";
    echo "</br>
          <table width=100% style='border:2px dashed;'>
                <tr><td><center><b>OBSERVA&Ccedil;&Otilde;ES</b></center></td></tr>
                <tr><td>Na coluna TAXA deve se colocar o percentual se for desconto colocar como negativo ex: -1,00. Caso seja acrescimo positivo ex: 1,00 </td></tr>
                <tr><td>Na coluna deve-se marcar os itens que não vão ser cobrados porque fazem parte do Pacote</td></tr>
          </table>
          </br>";

    echo "<center><h2>{$label_tipo}</h2></center><br/>";
    echo "<br/><table class='mytable' width=100%  >";
    echo "<a><thead idpaciente='{$cod_ident}'>
            <tr>
                <th colspan='5' style='background-color:#ccc;'>
                    <center width='70%' style='vertical-align:middle;'>
                        <b>ITENS DA FATURA</b>
                    </center>
                </th>
            </tr>
            </thead>
         </a>";
    echo"</table>
         <table  width=100% class='mytable' id='tabela_{$cod_ident}'>";
    echo "<tr>
            <th>Item</th>
            <th>Tipo</th>
            <th>Unidade</th>
            <th>Qtd</th>
            <th>Pre&ccedil;o Unit.</th>
            <th>Pre&ccedil;o Total</th>
            <th>Taxa</th>
                <th>Pacote</th>
          </tr>
            <tr>
                <td colspan='4'>
                    <b><input type='checkbox' class='selecionar-todos' paciente='{$cod_ident}'>Selecionar todos para serem removidos</b>
                </td>
                <td colspan='4' align='right' style='padding-right: 25px;'>
                    <b>Selecionar todos para pacote <input type='checkbox' class='selecionar-todos-pacote' paciente='{$cod_ident}'></b>
                </td>
            </tr>
        </table>";
    echo "<button id='{$cod_ident}' contador=0 plano='{$plano}' operadora-id='{$operadoraId}' style='float:left;' tipo_medicamento='{$tipo_medicamento}' nomeplano='{$nomeplano}' empresa='{$empresa}' inicio='{$inicio}'  fim='{$fim}' tipo-documento=0 class='ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only ui-state-hover add-item-fatura' role='button' aria-disabled='false' ><span class='ui-button-text'>+</span></button>";
    echo "<button  cod='{$cod_ident}'  plano='{$plano}' presc_av='0' nome='$nome_titulo' class='ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only ui-state-hover excluir-todos ' role='button' aria-disabled='false' ><span class='ui-button-text'>Excluir Itens</span></button>";
    echo "<button  cod='{$cod_ident}'  plano='{$plano}' nome='{$nome_titulo}' empresa='{$empresa}' presc_av='0' id-fatura='0' id='salvar-paciente-{$cod_ident}'  class='ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only ui-state-hover salvar_fatura' role='button' aria-disabled='false' ><span class='ui-button-text'>Salvar Rascunho</span></button>";
    echo "<button  cod='{$cod_ident}' plano='{$plano}'  presc_av='0' id-fatura='0' id='finalizar-paciente-{$cod_ident}'  class='ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only ui-state-hover faturar' role='button' aria-disabled='false' ><span class='ui-button-text'>Faturar</span></button>";

    echo "<table class='mytable' width=100% id='lista-itens'>";
    echo "<tr><td colspan='5' style='font-size:8px;'><span style='float:right;' class='sub_quipamento_".$cod_ident."'><b>SUBTOTAL EQUIPAMENTO: R$</b> <b><i id='equipamento_".$cod_ident."'>".number_format($subtotal_equipamento, 2, ',', '.')."</i></b></span></td></tr>";
    echo "<tr><td colspan='5' style='font-size:8px;'><span style='float:right;' class='sub_servico_".$cod_ident."'><b>SUBTOTAL SERVI&Ccedil;O: R$</b> <b><i id='servico_".$cod_ident."'>".number_format($subtotal_servico, 2, ',', '.')."</i></b></span></td></tr>";
    echo "<tr><td colspan='5' style='font-size:8px;'><span style='float:right;' class='sub_material_".$cod_ident."'><b>SUBTOTAL MATERIAL: R$</b> <b><i id='material_".$cod_ident."'>".number_format($subtotal_material, 2, ',', '.')."</i></b></span></td></tr>";
    echo "<tr><td colspan='5' style='font-size:8px;'><span style='float:right;' class='sub_medicamento_".$cod_ident."'><b>SUBTOTAL MEDICAMENTO: R$</b> <b><i id='medicamento_".$cod_ident."'>".number_format($subtotal_medicamento, 2, ',', '.')."</i></b></span></td></tr>";
    echo "<tr><td colspan='5' style='font-size:8px;'><span style='float:right;' class='sub_dieta_".$cod_ident."'><b>SUBTOTAL DIETA: R$</b> <b><i id='dieta_".$cod_ident."'>".number_format($subtotal_dieta, 2, ',', '.')."</i></b></span></td></tr>";
    echo "<tr><td colspan='5' style='font-size:8px;'><span style='float:right;' class='sub_gasoterapia_".$cod_ident."'><b>SUBTOTAL GASOTERAPIA</b> <b><i id='gasoterapia_".$cod_ident."'>".number_format($subtotal_gasoterapia, 2, ',', '.')."</i></b></span></td></tr>";

    echo "<tr><td colspan='5' style='font-size:12px;'><span style='float:right;' class='sub_fatura_".$cod_ident."'><b>TOTAL PACIENTE: R$</b> <b><i>".number_format($subtotal, 2, ',', '.')."</i></b></span></td></tr>";
    echo "<tr><td colspan='6' id='obs_".$cod_ident."'><span id='span_{$cod_ident}' class='span_obs'><b>OBSERVA&Ccedil;&Atilde;O:</b></br><textarea cols=120 rows=5 {$acesso} name='obs' class='OBG' id='text_{$cod_ident}'></textarea></span></td></tr>";

    echo"</table>
         <table class='mytable' width=100% >";
    echo "<tr><td colspan='5' style='font-size:12px;'><span style='float:right;' cont='{$cont}' cont1='0' id='total_fatura'><b>TOTAL: R$</b> <b><i>".number_format($total, 2, ',', '.')."</i></b></span></td></tr>";
    echo "</table>";
    echo "</div>";
}

?>
</div>
</div>
<div id="left">
    <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
</div>
<script type="text/javascript" src="/utils/jquery/js/validar_campos.js"></script>
<script src="/faturamento/faturar-por-paciente/js/main.js" type="text/javascript"></script>
</body>
</html>
        
