<?php require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>

<head>
    <meta charset="UTF-8">
    <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php'); ?>
    <link rel="stylesheet" type="text/css" href="/utils/reports.css">
    <link rel="stylesheet" href="/utils/bootstrap-3.3.6-dist/css/bootstrap.min.css" />
    <script src="/utils/bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/utils/font-awesome-4.7.0/css/font-awesome.css" />
</head>
<div id="content">
    <div id="right">
     
     <?php
     if ($responseFaturasSalvas) {
         ?>
     <div class="panel panel-primary panel-group">
            <div data-toggle="collapse"
                 title="Clique para visualizar as faturas salvas."
                 href="#faturas-salvas" class="panel-heading clearfix"
                 style="cursor: pointer;">
                <h3 class="panel-title pull-left" style="padding-top: 7.5px;">
                    <i class="fa fa-save text-center" aria-hidden="true"></i> Faturas salvas.
                </h3>
                <h5>
                    <i class="fa fa-caret-square-o-up pull-right switch-plus-minus" aria-hidden="true"></i>
                </h5>
            </div>
            <div class="panel-body panel-collapse collapse" id="faturas-salvas">
                <div class='row'>
                <?php
foreach ($responseFaturasSalvas as $row) {
    $inicio = \DateTime::createFromFormat('Y-m-d', $row['inicio'])->format('d/m/Y');
    $fim = \DateTime::createFromFormat('Y-m-d', $row['fim'])->format('d/m/Y');
    $dataHora = \DateTime::createFromFormat('Y-m-d H:i:s', $row['data_hora_salva'])->format('d/m/Y à\s H:i:s');
    $usuario = $row['usuario'];
    if ($cont % 2 == 0 && $cont !=0) {
        echo "</tr>";
        echo "<tr>";
    }
    if($quantidadeItensSalvos == ($cont + 1) && $quantidadeItensSalvos % 2 != 0){
        $colspan = 2;
    }
?>
                    <div class='col-md-4 text-center panel panel-default'>                    
                        <a class='btn btn-primary' style='visited:none !important' role='button'
                        href='/faturamento/?view=edt_fatura&id=<?=$row['ID']?>&av=0' tipo='0' id_paciente='<?=$row['paciente']?>' fatura='<?=$row['ID']?>'>
                            <b><?= strtoupper($row['paciente']) ?></b>
                            <br>
                            <?=$usuario?>
                            <br>
                            Período: <?=$inicio.' - '.$fim?>
                            <br>
                            <?=$dataHora?>
                        </a>
                        <br>
                        <span>
                            <button class='excluir-documento-salvo btn btn-sm btn-danger' idFatura='<?=$row['ID']?>'  title='Excluir' border='0'>
                                <i class="fa fa-times-circle" aria-hidden="true"></i>
                            </button>
                        </span>                
                    </div>
<?php } ?>
                </div>
             </div>
    </div>   
    <?php 
        }
    ?>
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title pull-left" style="padding-top: 7.5px;">
                    <i class="fa fa-search" aria-hidden="true"></i> Pesquisar Paciente a Faturar</b>
                </h3>
            </div>
            <div class="panel-body">
                <form method="post" action="/faturamento/faturar-por-paciente/?action=buscar-pacientes-faturar">
                    <div class="row" id="div-buscar-pacientes-faturar">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label class="control-label" for="operadora">Operadora:</label>
                                <select name="operadora[]" id="operadora" multiple data-placeholder="Selecione uma ou mais operadoras..."
                                    class="form-control chosen-select ">
                                    <?php  foreach($operadoras as $p): ?>
                                    <option <?=isset($data['operadora']) && in_array($p['ID'],
                                        $data['operadora']) ? 'selected' : '' ?> value="
                                        <?= $p['ID'] ?>" >
                                        <?= mb_strtoupper($p['NOME'],'UTF-8') ?>
                                    </option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label class="control-label" for="operadora">Unidade Regional:</label>
                                <select name="unidade[]" id="unidade" multiple data-placeholder="Selecione uma ou mais unidades..."
                                    class="form-control chosen-select ">
                                    <?php  foreach($unidades as $p): ?>
                                    <option <?=isset($data['unidade']) && in_array($p['id'],
                                        $data['unidade']) ? 'selected' : '' ?> value="
                                        <?= $p['id'] ?>" >
                                        <?= mb_strtoupper($p['nome'],'UTF-8') ?>
                                    </option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label class="control-label" for="paciente">Paciente:</label>
                                <select name="paciente" id="paciente" class="form-control chosen-select">
                                    <option value="">Selecione...</option>
                                    <?php foreach($pacientes as $paciente): ?>
                                        <option <?= isset($pacienteBusca) && $pacienteBusca === $paciente['idClientes'] ? "selected" : "" ?> value="<?= $paciente['idClientes'] ?>">(<?= $paciente['codigo'] ?>) <?= strtoupper($paciente['nome']) ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="periodo">Inicio:</label>
                                <input name="inicio" id="inicio" type="date" class="form-control OBG" value='<?= isset($data['inicio']) ? $data['inicio'] : "" ?>' required>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="periodo">Fim:</label>
                                <input name="fim" id="fim" type="date" class="form-control OBG" value='<?= isset($data['fim']) ? $data['fim'] : "" ?>' required>
                            </div>
                        </div>

                        <div class="col-xs-12 text-center">
                            <div class="form-group">
                                <button type="button" id="limpar-form" class='btn btn-default'>
                                    Limpar
                                </button>
                                <button type="submit" id="buscar-pacientes-faturar" class='btn btn-primary'>
                                    Buscar
                                </button>
                                <button type="button" id="faturar-paciente" style="display: none;" class='btn btn-primary'>
                                    Faturar Paciente
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <br>
        <?php if(isset($response)): ?>
        <br>
        <hr>
        <? if(empty($response)): ?>
        <div class="alert alert-warning" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign"></span>
            Nenhum paciente foi encontrado.
        </div>
        <? else: ?>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th align="center" class="col-md-4">Paciente</th>
                    <th align="center" class="col-md-2">Convênio</th>
                    <th align="center" class="col-md-2">UR</th>
                    <th align="center" class="col-md-2">Período</th>
                    <th align="center" class="col-md-2">Faturar</th>
                </tr>
            </thead>
            <tbody>
                <?php foreach($response as $r): ?>
                <tr>
                    <td>
                        <?= mb_strtoupper($r['nome'], 'UTF8') ?>
                    </td>
                    <td>
                        <?= mb_strtoupper($r['nomeplano'], 'UTF8') ?>
                    </td>
                    <td class="text">
                        <?= mb_strtoupper($r['nome_empresa'], 'UTF8') ?>
                    </td>
                    <td class="text">
                        <?
                        $inicio =  DateTime::createFromFormat('Y-m-d', $data['inicio'])->format('d/m/Y');
                        $fim =  DateTime::createFromFormat('Y-m-d', $data['fim'])->format('d/m/Y');
                        echo $inicio.' - '.$fim;
                        ?>
                    </td>
                    <td class="text">
                        <div class='btn btn-primary iniciar-fatura' 
                        inicio = "<?=$data['inicio']?>" 
                        fim = "<?=$data['fim']?>" 
                        paciente-id = "<?=$r['paciente']?>"
                        operadora = "<?=$r['operadora_id']?>"
                        plano = "<?=$r['plano_id']?>" >
                            Faturar
                        </div>
                    </td>
                </tr>
                <?php endforeach; ?>
            </tbody>
        </table>
        <?php endif;
        endif;
        ?>
    </div>
</div>
<div id="left">
    <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
</div>
</div>

<script type="text/javascript" src="/faturamento/faturar-por-paciente/js/main.js?v=1"></script>
<script type="text/javascript" src="/utils/jquery/js/validar_campos.js"></script>


</body>

</html>