<table class='mytable' width='100%' >
    <thead>
    <tr>
        <th colspan="4"><h2>Relat&oacute;rio de Faturas Liberadas - Per&iacute;odo: <?= $inicio->format('d/m/Y') ?> &agrave; <?= $fim->format('d/m/Y') ?></h2></th>
    </tr>
    <tr>
        <th>AUDITOR(A)</th>
        <th>PACIENTE</th>
        <th align="center">PER&Iacute;ODO DA FATURA</th>
        <th align="center">DATA DA LIBERA&Ccedil;&Atilde;O</th>
    </tr>
    </thead>
    <tbody>
    <?php
    if($count > 0):
        foreach($response as $data):
            $periodoFatura = sprintf(
                "De %s a %s",
                DateTime::createFromFormat('Y-m-d', $data['inicio'])->format('d/m/Y'),
                DateTime::createFromFormat('Y-m-d', $data['fim'])->format('d/m/Y')
            );
            $dataLiberacao = DateTime::createFromFormat('Y-m-d H:i:s', $data['dataLiberacao'])->format('d/m/Y à\s H:i:s');
            ?>
            <tr>
                <td><?= $data['auditor'] ?></td>
                <td><?= $data['paciente'] ?></td>
                <td align="center"><?= $periodoFatura ?></td>
                <td align="center"><?= $dataLiberacao ?></td>
            </tr>
        <?php endforeach; ?>
    <?php else: ?>
        <tr>
            <td colspan="13" align="center"><strong>Nenhum resultado foi encontrado!</strong></td>
        </tr>
    <?php endif; ?>
    </tbody>
</table>