<?php require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>
<head>
    <meta charset="UTF-8">
    <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php'); ?>
    <link rel="stylesheet" type="text/css" href="/utils/reports.css">
    <link rel="stylesheet" type="text/css" href="/utils/jquery/css/chosen/chosen.css">
</head>
<div id="content">
    <div id="right">
        <center><h1>Relatório de Faturas Liberadas</h1></center>
        <br><br><br>
        <form method="post" action="/auditoria/relatorios/?action=form-relatorio-faturas-liberadas">
            <p>
                <strong>Período:</strong><br>
                <input type="date" required name="periodo_inicio" value="<?= isset($periodoInicio) && !empty($periodoInicio) ? $periodoInicio : "" ?>"> -
                <input type="date" required name="periodo_fim" value="<?= isset($periodoFim) && !empty($periodoFim) ? $periodoFim : "" ?>">
            </p>
            <p>
                <strong>Auditor(a):</strong><br>
                <select name="auditor" id="auditores" style="width: 300px;">
                    <option value="">Selecione...</option>
                    <?php foreach($auditores as $auditor): ?>
                        <option <?= isset($auditorBusca) && $auditorBusca === $auditor['idUsuarios'] ? "selected" : "" ?> value="<?= $auditor['idUsuarios'] ?>"><?= strtoupper($auditor['nome']) ?></option>
                    <?php endforeach; ?>
                </select>
            </p>
            <p>
                <strong>Ordenar por:</strong><br>
                <input type="radio" id="ordenar-por-paciente" checked <?= isset($ordenarPor) && $ordenarPor == 'paciente' ? "checked" : "" ?> name="ordenar_por" value="paciente"> <label for="ordenar-por-paciente">Paciente</label> -
                <input type="radio" id="ordenar-por-auditor" <?= isset($ordenarPor) && $ordenarPor == 'auditor' ? "checked" : "" ?> name="ordenar_por" value="auditor"> <label for="ordenar-por-auditor">Auditor(a)</label>
                <input type="radio" id="ordenar-por-liberacao" <?= isset($ordenarPor) && $ordenarPor == 'dataLiberacao' ? "checked" : "" ?> name="ordenar_por" value="dataLiberacao"> <label for="ordenar-por-liberacao">Data da Liberação</label>
            </p>
            <div style="position: relative; float: left; width: 100%; margin-top: 10px;">
                <button type="submit" class='ui-button ui-widget ui-corner-all ui-button-text-only ui-state-hover' id="buscar">
                    <span class='ui-button-text'>Buscar</span>
                </button>
            </div>
        </form>
        <?php
        if(isset($response)):
            ?>
            <label style="float: left; padding-top: 20px;">
                Total de <b><?= $count ?></b> faturas liberadas.
            </label>
            <a  href="/auditoria/relatorios/?action=excel-relatorio-faturas-liberadas&inicio=<?= $periodoInicio ?>&fim=<?= $periodoFim ?>&auditor=<?= $auditorBusca ?>&ordenarpor=<?= $ordenarPor ?>"
                target="_blank"
                style="position: relative; float: right;"
                class='ui-button ui-widget ui-corner-all ui-button-text-only ui-state-hover'
                id="buscar">
                <span class='ui-button-text'>Exportar para Excel</span>
            </a>
            <hr id="separator">
            <div id="response">
                <table class='mytable' width='100%' >
                    <thead>
                    <tr>
                        <th>AUDITOR(A)</th>
                        <th>PACIENTE</th>
                        <th align="center">PERÍODO DA FATURA</th>
                        <th align="center">DATA DA LIBERAÇÃO</th>
                        <!--<th align="center">VISUALIZAR FATURA</th>-->
                    </tr>
                    </thead>
                    <tbody>
                    <?php
                    if($count > 0):
                        foreach($response as $data):
                            $periodoFatura = sprintf(
                                "De %s a %s",
                                DateTime::createFromFormat('Y-m-d', $data['inicio'])->format('d/m/Y'),
                                DateTime::createFromFormat('Y-m-d', $data['fim'])->format('d/m/Y')
                            );
                            $dataLiberacao = DateTime::createFromFormat('Y-m-d H:i:s', $data['dataLiberacao'])->format('d/m/Y à\s H:i:s');
                            ?>
                            <tr>
                                <td><?= $data['auditor'] ?></td>
                                <td><?= $data['paciente'] ?></td>
                                <td align="center"><?= $periodoFatura ?></td>
                                <td align="center"><?= $dataLiberacao ?></td>
                                <!--<td align="center">
                                    <a href="/faturamento/imprimir_fatura2.php?id=<?/*= $data['ID'] */?>&av=<?/*= $data['ORCAMENTO'] */?>&zerados=0&modelo=1&diarias=0&observacao=0" target="_blank">
                                        <img width="16" src="/utils/fichas_24x24.png">
                                    </a>
                                </td>-->
                            </tr>
                        <?php endforeach; ?>
                    <?php else: ?>
                        <tr>
                            <td colspan="13" align="center"><strong>Nenhum resultado foi encontrado!</strong></td>
                        </tr>
                    <?php endif; ?>
                    </tbody>
                </table>
            </div>
            <?php
        endif;
        ?>
    </div>
    <div id="left">
        <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
    </div>
</div>
<script type="text/javascript" src="/utils/jquery/js/chosen.jquery.min.js"></script>
<script type="text/javascript">
    $(function($){
        $('#auditores').chosen();
    });
</script>
</body>
</html>