<?php require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>
<head>
    <meta charset="UTF-8">
    <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php'); ?>
    <link rel="stylesheet" type="text/css" href="/utils/reports.css">
    <link rel="stylesheet" href="/utils/bootstrap-3.3.6-dist/css/bootstrap.min.css" />
    <script src="/utils/bootstrap-3.3.6-dist/js/bootstrap.min.js" ></script>
    <link rel="stylesheet" href="/utils/font-awesome-4.7.0/css/font-awesome.css" />

</head>
<div id="content">
    <div id="right">

        <legend>
            Autorizar Pedido de Devolução Interna
        </legend>
        <table class="table table-striped table-hover">
            <tr>
                <td><b>Pedido:</b> #<?=$devolucaoInternaId?></td>
                <td><b>Unidade Solicitante:</b> <?php echo $pedido[0]['empresa'] ?></td>
                <td><b>Status:</b> <?php echo $pedido[0]['status'] ?></td>
            </tr>
            <tr>
                <td><b>Solicitado Por:</b> <?php echo $pedido[0]['usuario'] ?></td>
                <td><b>Solicitado Em: </b><?php echo  DateTime::createFromFormat('Y-m-d H:i:s', $pedido[0]['created_at'])->format('d/m/Y H:i:s') ?></td>
                <td></td>
            </tr>

        </table>

        <div class="alert alert-info ">
            <strong class="glyphicon-info-sign glyphicon"></strong>
            O pedido deve ser liberado por inteiro, caso queira autorizar tudo automaticamente clique na opção autorizar tudo.
        </div>
        <div class="col-md-12">
            <input type="checkbox" id="autorizar-todos" /> <b>Autorizar todos.</b>
        </div>
        <form id="form-autorizar-solicitacao">
            <input type="hidden" name="pedido_id" value="<?=$devolucaoInternaId?>" />
            <input type="hidden" name="ur_origem" value="<?=$pedido[0]['ur_origem']?>" />
            <div id="div-autorizar-solicitacao">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Itens Solicitados</th>
                            <th>Quantidade</th>
                            <th>Autorizar</th>
                        </tr>
                    </thead>
                    <?php foreach($arrayItensPedidos as $i){
                        $labelTipo =0;
                        if($i['tipo'] == 0){
                            $labelTipo = 'Medicamento';
                        }else if($i['tipo'] == 1){
                            $labelTipo = 'Material';

                        }else if($i['tipo'] == 3){
                            $labelTipo = 'Dieta';

                        }else if($i['tipo'] == 5){
                            $labelTipo = 'Equipamento';
                        }
                        ?>
                        <tr>
                            <td class="col-md-10">
                                <div class="col-md-2">
                                    <span class="label label-primary"><?php echo $labelTipo?></span>
                                </div>
                                <div class="col-md-10">
                                    <label>Item: </label> <?php echo $i['item']?>
                                </div>
                                <div class="col-md-3">
                                    <label>Vencimento: </label> <?php echo  DateTime::createFromFormat('Y-m-d',  $i['vencimento'])->format('d/m/Y') ?>
                                </div>
                                <div class="col-md-3">
                                    <label>Lote: </label> <?php echo $i['lote']?>
                                </div>

                                <div class="col-md-6">
                                    <label>Motivo: </label> <?php echo $i['motivo']?>
                                </div>
                                <div class="col-md-6">
                                    <label>Observação: </label> <?php echo $i['observacao']?>
                                </div>
                            </td>
                            <td class="text-center col-md-1"><?php echo $i['quantidade']?></td>
                            <td class="col-md-1">
                                <input type="number" name="quantidade_autorizada[]" min="0" max="<?php echo $i['quantidade']?>"
                                       class="form-control quantidade-autorizada OBG" value=""/>
                                <input type="hidden" name="devolucao_interna_item[]"  value="<?php echo $i['id']?>"/>
                            </td>

                        </tr>
                    <?php } ?>

                </table>
            </div>
            <div class="col-lg-12 text-center">
                <div class="form-group">
                    <button  id="salvar-autorizar-solicitacao" class='btn btn-primary' >
                        Salvar
                    </button>
                </div>
            </div>
        </form>



    </div>
</div>
    <div id="left">
        <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
    </div>
</div>

<script type="text/javascript" src="/logistica/DevolucaoInterna/js/main.js?v=2"></script>
<script type="text/javascript" src="/utils/jquery/js/validar_campos.js"></script>


</body>
</html>