<?php require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>
<head>
    <meta charset="UTF-8">
    <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php'); ?>
    <link rel="stylesheet" type="text/css" href="/utils/reports.css">
    <link rel="stylesheet" href="/utils/bootstrap-3.3.6-dist/css/bootstrap.min.css" />
    <script src="/utils/bootstrap-3.3.6-dist/js/bootstrap.min.js" ></script>
    <link rel="stylesheet" href="/utils/font-awesome-4.7.0/css/font-awesome.css" />

</head>
<div id="content">
    <div id="right">

        <legend>
            Enviar Pedido de Devolução Interna
        </legend>
        <table class="table table-striped table-hover">
            <tr>
                <td><b>Pedido:</b> #<?=$devolucaoInternaId?></td>
                <td><b>Unidade Solicitante:</b> <?php echo $pedido[0]['empresa'] ?></td>
                <td><b>Status:</b> <?php echo $pedido[0]['status'] ?></td>
            </tr>
            <tr>
                <td colspan="2" class="col-md-6"><b>Solicitado Por:</b> <?php echo $pedido[0]['usuario'] ?> <b>em</b> <?php echo  DateTime::createFromFormat('Y-m-d H:i:s', $pedido[0]['created_at'])->format('d/m/Y H:i:s') ?> </td>
                <td class="col-md-6"><b>Autorizado Por:</b> <?php echo $pedido[0]['usuarioQueAceitou'] ?> <b>em</b> </b><?php echo  DateTime::createFromFormat('Y-m-d H:i:s', $pedido[0]['accepted_at'])->format('d/m/Y H:i:s') ?></td>

            </tr>

        </table>

        <div class="alert alert-info ">
            <strong class="glyphicon-info-sign glyphicon"></strong>
            O pedido deve ser enviado por inteiro, caso queira enviar tudo automaticamente clique na opção enviar tudo.
            Caso a coluna Autorizado seja igual a zero, nenhum item deve ser enviado, a quantidade de envio <b>não pode </b> ser
            maior que a autorizada.
        </div>
        <div class="col-md-12">
            <input type="checkbox" id="enviar-todos" /> <b>Enviar todos.</b>
        </div>
        <form id="form-enviar-solicitacao">
            <input type="hidden" name="pedido_id" value="<?=$devolucaoInternaId?>" />
            <input type="hidden" name="ur_origem" value="<?=$pedido[0]['ur_origem']?>" />
            <input type="hidden" name="ur_destino" value="<?=$pedido[0]['ur_destino']?>" />

            <div id="div-enviar-solicitacao">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Itens Solicitados</th>
                            <th>Autorizado</th>
                            <th>Enviar</th>
                        </tr>
                    </thead>
                    <?php foreach($arrayItensPedidos as $i){
                        $labelTipo =0;
                        if($i['tipo'] == 0){
                            $labelTipo = 'Medicamento';
                        }else if($i['tipo'] == 1){
                            $labelTipo = 'Material';

                        }else if($i['tipo'] == 3){
                            $labelTipo = 'Dieta';

                        }else if($i['tipo'] == 5){
                            $labelTipo = 'Equipamento';
                        }
                        ?>
                        <tr>
                            <td class="col-md-10">
                                <div class="col-md-2">
                                    <span class="label label-primary"><?php echo $labelTipo?></span>
                                </div>
                                <div class="col-md-10">
                                    <label>Item: </label> <?php echo $i['item']?>
                                </div>
                                <div class="col-md-4">
                                    <label>Vencimento: </label> <?php echo  DateTime::createFromFormat('Y-m-d',  $i['vencimento'])->format('d/m/Y') ?>
                                </div>
                                <div class="col-md-4">
                                    <label>Lote: </label> <?php echo $i['lote']?>
                                </div>
                                <div class="col-md-4">
                                    <label>Quantidade: </label> <?php echo $i['quantidade']?>
                                </div>
                                <div class="col-md-6">
                                    <label>Motivo: </label> <?php echo $i['motivo']?>
                                </div>
                                <div class="col-md-6">
                                    <label>Observação: </label> <?php echo $i['observacao']?>
                                </div>
                            </td>
                            <td class="text-center col-md-1"><?php echo $i['autorizado']?></td>
                            <td class="col-md-1">
                                <?php if($i['autorizado'] > 0) {?>
                                <input type="number" name="quantidade_enviada[]" min="0" max="<?php echo $i['autorizado']?>"
                                       class="form-control quantidade-enviar OBG" value=""/>
                                    <input type="hidden" name="devolucao_interna_item[]"  value="<?php echo $i['id']?>"/>
                                    <input type="hidden" name="devolucao_interna_item_tipo[]"  value="<?php echo $i['tipo']?>"/>
                                    <input type="hidden" name="devolucao_interna_item_catalogo[]"  value="<?php echo $i['catalogo_id']?>"/>
                                <?php } ?>
                            </td>

                        </tr>
                    <?php } ?>

                </table>
            </div>
            <div class="col-lg-12 text-center">
                <div class="form-group">
                    <button  id="salvar-envio-solicitacao" class='btn btn-primary' >
                        Salvar
                    </button>
                </div>
            </div>
        </form>



    </div>
</div>
    <div id="left">
        <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
    </div>
</div>

<script type="text/javascript" src="/logistica/DevolucaoInterna/js/main.js?v=2"></script>
<script type="text/javascript" src="/utils/jquery/js/validar_campos.js"></script>


</body>
</html>