<?php require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php';
ini_set('display_errors',1);?>
<head>
    <meta charset="UTF-8">
    <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php'); ?>
    <link rel="stylesheet" type="text/css" href="/utils/reports.css">
    <link rel="stylesheet" href="/utils/bootstrap-3.3.6-dist/css/bootstrap.min.css" />
    <script src="/utils/bootstrap-3.3.6-dist/js/bootstrap.min.js" ></script>
    <link rel="stylesheet" href="/utils/font-awesome-4.7.0/css/font-awesome.css" />
    <?php require '../../components/add-item-logistica-devolucao-interna/add-item-css.phtml' ?>
</head>
<div id="content">
    <div id="right">
        <legend>Fazer solicitação de devolução de itens.</legend>
        <div class="alert alert-info ">
            <strong class="glyphicon-info-sign glyphicon"></strong>
            Adicione os itens que você gostaria de enviar para Mederi Central.
            O item inserido deve ser o mesmo que o físico que você deseja enviar.
        </div>
        <form id ="form-itens-para-devolucao">
            <fieldset style='width:95%;'>
                <?php require  '../../components/add-item-logistica-devolucao-interna/add-item-modal.phtml' ?>
                <?php require '../../components/add-item-logistica-devolucao-interna/add-item-button.phtml' ?>
                <div id="tabela-itens-devolucao">
                    <?php require  '../../components/add-item-logistica-devolucao-interna/add-item-table.phtml' ?>
                </div>
            </fieldset>
        </form>

        <div class="col-lg-12 text-center">
            <button type="button" class="btn btn-primary" id="salvar-solicitacao-devolucao">
                Salvar
            </button>
        </div>







    </div>
</div>
    <div id="left">
        <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
    </div>
</div>

<script type="text/javascript" src="/logistica/DevolucaoInterna/js/main.js?v=4"></script>
<script type="text/javascript" src="/utils/jquery/js/validar_campos.js"></script>
<?php require  '../../components/add-item-logistica-devolucao-interna/add-item-js.phtml' ?>

</body>
</html>