<?php require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>
<head>

    <meta charset="UTF-8">
    <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php');

    ?>
    <link rel="stylesheet" type="text/css" href="/utils/reports.css">
    <link rel="stylesheet" href="/utils/bootstrap-3.3.6-dist/css/bootstrap.min.css" />
    <script src="/utils/bootstrap-3.3.6-dist/js/bootstrap.min.js" ></script>
    <link rel="stylesheet" href="/utils/font-awesome-4.7.0/css/font-awesome.css" />


</head>
<div id="content">
    <div id="right">


        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title pull-left" style="padding-top: 7.5px;">
                    <i class="fa fa-search" aria-hidden="true"></i> Pesquisar devoluções internas.</b>
                </h3>
                <?php if($_SESSION['empresa_principal'] != 1){ ?>
                <div class="btn-group pull-right">
                    <form method="get" target="_blank" action="/logistica/DevolucaoInterna/">
                        <input name="action" value="formSolicitarDevolucaoInterna" type="hidden">
                        <button class="btn btn-success " type="submit">
                             + Nova Solicitação
                        </button>
                    </form>
                </div>
                <?php }?>
            </div>
            <div class="panel-body">
                <form method="post" action="/logistica/DevolucaoInterna/?action=pesquisarSolicitacaoDevolucaoInterna">
                    <div class="row">

                        <div class="col-lg-12">
                            <div class="form-group">
                                <?php if($_SESSION['empresa_principal'] == 1){ ?>
                                <label class="control-label" for="empresa">Unidade Regional:</label>
                                <select name="empresa" id="empresa" class="form-control chosen-select  ">
                                    <option selected  value="">TODAS</option>
                                    <?php  foreach($empresas as $ur): ?>
                                        <option <?= isset($empresaId) && $empresaId == $ur['id'] ? 'selected': '' ?> value="<?= $ur['id'] ?>" > <?= mb_strtoupper($ur['nome'],'UTF-8') ?></option>
                                    <?php endforeach; ?>
                                </select>
                                <?php }else{ ?>
                                    <input  name="empresa" type="hidden" value="<?php echo $_SESSION['empresa_principal']?>">
                                <?php } ?>
                            </div>
                        </div>


                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="periodo">Inicio:</label>
                                <input name="inicio" type="date" class="form-control" value='<?= isset($inicio)  ? $inicio : "" ?>' required>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="periodo">Fim:</label>
                                <input name="fim" type="date" class="form-control" value='<?= isset($fim)  ? $fim : "" ?>' required>
                            </div>
                        </div>

                        <div class="col-lg-12 text-center">
                            <div class="form-group">
                                <button type="submit"  class='btn btn-primary' >
                                    Pesquisar
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <br>
        <?php
            if( isset($solicitacoes) ){    ?>

                <br>
                <hr>
                <? if(empty($solicitacoes)){ ?>
                    <div class="alert alert-warning" role="alert">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        Nenhuma solicitação de devolução foi encontrada.
                    </div>
                <?}else { ?>

<!--                    Modal cancelar-->
                    <div class="modal fade" id="modal-cancelar-pedido" tabindex="-1" role="dialog" aria-labelledby="modalAddItemLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title" id="modalAddItemLabel">Cancelar Pedido</h4>
                                </div>
                                <div class="modal-body">
                                    <form id="form-cancelar-pedido">
                                        <div class="row" id="div-cancelar-pedido">
                                            <input type="hidden" id="input-pedido-id" name="pedido-id" value=""/>
                                            <div class="col-lg-12">
                                                <label>Justificativa</label>
                                                <textarea id="justificativa-cancelar" name="justificativa-cancelar" class="form-control OBG"></textarea>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-lg-12 text-center">
                                                <button type="button" class="btn btn-danger" id="salvar-cancelar-pedido">Salvar</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">

                                </div>
                            </div>
                        </div>
                    </div>
<!--                    Fim modal cancelar-->

                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th align="center" class="col-md-10">Pedidos</th>
                                <th  align="center" class="col-md-2">Ação</th>
                            </tr>
                        </thead>
                        <tbody>
                        <?php foreach($solicitacoes as $s){
                            $labelStatus = $s['status'] == "CANCELADO" ? 'label-danger':'label-primary'?>
                            <tr>
                                <td class="col-md-10">
                                    <div class="col-md-6">
                                    <b>Pedido:</b> #<?= $s['id']?>
                                    <br>
                                    <b>Solicitado por:</b> <?= $s['usuario']?>
                                    <br>
                                    <b>Solicitado em:</b>
                                    <?= DateTime::createFromFormat('Y-m-d H:i:s', $s['created_at'])->format('d/m/Y H:i:s') ?>
                                    </div>
                                    <div class="col-md-6">
                                        <b>Origem:</b> <?= $s['empresa']?>
                                        <br>
                                        <span style="width: 160px !important" class="label <?php echo $labelStatus?>"><?= $s['status']?></span>
                                    </div>

                                </td>


                                <td>
                                    <a target="_blank" href="/logistica/DevolucaoInterna/?action=visualizarSolicitacaoDevolucaoInterna&id=<?=$s['id'] ?>"
                                       style="width: 120px;color: white !important;" class="btn  btn-primary" title="Visualizar Solicitação de Devolução">
                                        <i class="glyphicon glyphicon-list-alt"></i>
                                        Visualizar
                                    </a>
                                    <?php if( $s['status'] == 'PENDENTE' || $s['status'] == 'AUTORIZADO' ) { ?>
                                        <br>

                                        <button
                                            type="button"
                                           style="width: 120px;color: white !important;" class="btn btn-danger cancelar-pedido " pedido-id ="<?=$s['id'] ?>" title="Cancelar Solicitação de Devolução"
                                           data-toggle="modal" data-target="#modal-cancelar-pedido" >
                                            <i class="glyphicon glyphicon-remove"></i>
                                            Cancelar
                                        </button>
                                    <?php }?>

                                    <br>

                                    <?php if( $s['status'] == 'PENDENTE' && $_SESSION['empresa_principal'] == 1) { ?>
                                    <a target="_blank" href="/logistica/DevolucaoInterna/?action=autorizarSolicitacaoDevolucaoInterna&id=<?=$s['id'] ?>"
                                       style="width: 120px;color: white !important;" class="btn btn-success " title="Autorizar Solicitação de Devolução">
                                        <i class="glyphicon glyphicon-thumbs-up"></i>
                                        Autorizar
                                    </a>
                                 <?php }else if( $s['status'] == 'AUTORIZADO' && $_SESSION['empresa_principal'] != 1){ ?>
                                        <a target="_blank" href="/logistica/DevolucaoInterna/?action=enviarItensSolicitacaoDevolucaoInterna&id=<?=$s['id'] ?>"
                                           style="width: 120px;color: white !important;" class="btn btn-success " title="Enviar itens da Solicitação de Devolução">
                                            <i class="glyphicon glyphicon-send"></i>
                                            Enviar
                                        </a>
                            <?php }else if( ($s['status'] == 'ENVIADO' || $s['status'] == 'CONFIRMADO PARCIALMENTE' )  && $_SESSION['empresa_principal'] == 1){ ?>
                                        <a target="_blank" href="/logistica/DevolucaoInterna/?action=confirmarEntregaItensSolicitacaoDevolucaoInterna&id=<?=$s['id'] ?>"
                                           style="width: 120px;color: white !important;" class="btn btn-success " title="Confirmar entraga de itens da Solicitação de Devolução">
                                            <i class="glyphicon glyphicon-ok"></i>
                                            Confirmar
                                        </a>
                                    <?php }?>
                                    
                                </td>
                            </tr>

                            <?php }?>
                        </tbody>
                    </table>



               <?php }
            }
          ?>


    </div>
</div>
    <div id="left">
        <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
    </div>
</div>

<script type="text/javascript" src="/logistica/DevolucaoInterna/js/main.js?v=3"></script>
<script type="text/javascript" src="/utils/jquery/js/validar_campos.js"></script>

</body>
</html>