<?php require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>
<head>
    <meta charset="UTF-8">
    <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php'); ?>
    <link rel="stylesheet" type="text/css" href="/utils/reports.css">
    <link rel="stylesheet" href="/utils/bootstrap-3.3.6-dist/css/bootstrap.min.css" />
    <script src="/utils/bootstrap-3.3.6-dist/js/bootstrap.min.js" ></script>
    <link rel="stylesheet" href="/utils/font-awesome-4.7.0/css/font-awesome.css" />
    <?php require '../../components/add-item-logistica-devolucao-interna/add-item-css.phtml' ?>
</head>
<div id="content">
    <div id="right">

        <legend>
            Visualizar Pedido de Devolução Interna
        </legend>
        <table class="table table-striped table-hover">
            <tr>
                <td><b>Pedido:</b> #<?=$devolucaoInternaId?></td>
                <td><b>Unidade Solicitante:</b> <?php echo $pedido[0]['empresa'] ?></td>
                <td><b>Status:</b> <?php echo $pedido[0]['status'] ?></td>
            </tr>
            <?php if( $pedido[0]['status'] == 'PENDENTE'){ ?>
            <tr>
                <td><b>Solicitado Por:</b> <?php echo $pedido[0]['usuario'] ?></td>
                <td><b>Solicitado Em: </b><?php echo  DateTime::createFromFormat('Y-m-d H:i:s', $pedido[0]['created_at'])->format('d/m/Y H:i:s') ?></td>
                <td></td>
            </tr>
            <?php }elseif( $pedido[0]['status'] == 'AUTORIZADO'){ ?>
            <tr>
                <td colspan="2" class="col-md-6"><b>Solicitado Por:</b> <?php echo $pedido[0]['usuario'] ?> <b>em</b> <?php echo  DateTime::createFromFormat('Y-m-d H:i:s', $pedido[0]['created_at'])->format('d/m/Y H:i:s') ?> </td>
                <td class="col-md-6"><b>Autorizado Por:</b> <?php echo $pedido[0]['usuarioQueAceitou'] ?> <b>em</b> </b><?php echo  DateTime::createFromFormat('Y-m-d H:i:s', $pedido[0]['accepted_at'])->format('d/m/Y H:i:s') ?></td>

            </tr>
            <?php } elseif( $pedido[0]['status'] == 'ENVIADO'){ ?>
                <tr>
                    <td colspan="2" class="col-md-6"><b>Solicitado Por:</b> <?php echo $pedido[0]['usuario'] ?> <b>em</b> <?php echo  DateTime::createFromFormat('Y-m-d H:i:s', $pedido[0]['created_at'])->format('d/m/Y H:i:s') ?> </td>
                    <td class="col-md-6"><b>Autorizado Por:</b> <?php echo $pedido[0]['usuarioQueAceitou'] ?> <b>em</b> </b><?php echo  DateTime::createFromFormat('Y-m-d H:i:s', $pedido[0]['accepted_at'])->format('d/m/Y H:i:s') ?></td>

                </tr>
                <tr>
                    <td colspan="3" class="col-md-12"><b>Enviado Por:</b> <?php echo $pedido[0]['usuarioQueEnviou'] ?> <b>em</b> <?php echo  DateTime::createFromFormat('Y-m-d H:i:s', $pedido[0]['sent_at'])->format('d/m/Y H:i:s') ?> </td>

                </tr>
            <?php } elseif( $pedido[0]['status'] == 'FINALIZADO' || $pedido[0]['status'] == 'CONFIRMADO PARCIALMENTE'){ ?>
                <tr>
                    <td colspan="2" class="col-md-6"><b>Solicitado Por:</b> <?php echo $pedido[0]['usuario'] ?> <b>em</b> <?php echo  DateTime::createFromFormat('Y-m-d H:i:s', $pedido[0]['created_at'])->format('d/m/Y H:i:s') ?> </td>
                    <td class="col-md-6"><b>Autorizado Por:</b> <?php echo $pedido[0]['usuarioQueAceitou'] ?> <b>em</b> </b><?php echo  DateTime::createFromFormat('Y-m-d H:i:s', $pedido[0]['accepted_at'])->format('d/m/Y H:i:s') ?></td>
                </tr>
                <tr>
                    <td colspan="2" class="col-md-6"><b>Enviado Por:</b> <?php echo $pedido[0]['usuarioQueEnviou'] ?> <b>em</b> <?php echo  DateTime::createFromFormat('Y-m-d H:i:s', $pedido[0]['sent_at'])->format('d/m/Y H:i:s') ?> </td>
                    <td colspan="" class="col-md-6"><b>Confirmado Por:</b> <?php echo $pedido[0]['usuarioQueConfirmou'] ?> <b>em</b> <?php echo  DateTime::createFromFormat('Y-m-d H:i:s', $pedido[0]['confirmed_at'])->format('d/m/Y H:i:s') ?> </td>


                </tr>
            <?php } ?>

        </table>

        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Itens Solicitados</th>
                </tr>
            </thead>
            <?php foreach($arrayItensPedidos as $i){
                $labelTipo =0;
                if($i['tipo'] == 0){
                    $labelTipo = 'Medicamento';
                }else if($i['tipo'] == 1){
                    $labelTipo = 'Material';

                }else if($i['tipo'] == 3){
                    $labelTipo = 'Dieta';

                }else if($i['tipo'] == 5){
                    $labelTipo = 'Equipamento';
                }
                ?>
                <tr>
                    <td class="col-md-12">
                        <div class="col-md-2">
                            <label>Tipo: </label>  <?php echo $labelTipo?>
                        </div>
                        <div class="col-md-10">
                            <label>Item: </label> <?php echo $i['item']?>
                        </div>
                        <?php if( $pedido[0]['status'] == 'PENDENTE'){ ?>
                        <div class="col-md-3">
                            <label>Vencimento: </label> <?php echo  DateTime::createFromFormat('Y-m-d',  $i['vencimento'])->format('d/m/Y') ?>
                        </div>
                        <div class="col-md-2">
                            <label>Lote: </label> <?php echo $i['lote']?>
                        </div>
                        <div class="col-md-2">
                            <label>Quantidade: </label> <?php echo $i['quantidade']?>
                        </div>
                        <div class="col-md-5">
                            <label>Motivo: </label> <?php echo $i['motivo']?>
                        </div>
                        <div class="col-md-6">
                            <label>Observação: </label> <?php echo $i['observacao']?>
                        </div>
            <?php }elseif( $pedido[0]['status'] == 'AUTORIZADO'){ ?>
                            <div class="col-md-3">
                                <label>Vencimento: </label> <?php echo  DateTime::createFromFormat('Y-m-d',  $i['vencimento'])->format('d/m/Y') ?>
                            </div>
                            <div class="col-md-3">
                                <label>Lote: </label> <?php echo $i['lote']?>
                            </div>
                            <div class="col-md-3">
                                <label>Quantidade: </label> <?php echo $i['quantidade']?>
                            </div>
                            <div class="col-md-3">
                                <label>Autorizado: </label> <?php echo $i['autorizado']?>
                            </div>
                            <div class="col-md-6">
                                <label>Motivo: </label> <?php echo $i['motivo']?>
                            </div>
                            <div class="col-md-6">
                                <label>Observação: </label> <?php echo $i['observacao']?>
                            </div>
            <?php } elseif( $pedido[0]['status'] == 'ENVIADO'){ ?>
                        <div class="col-md-3">
                            <label>Vencimento: </label> <?php echo  DateTime::createFromFormat('Y-m-d',  $i['vencimento'])->format('d/m/Y') ?>
                        </div>
                        <div class="col-md-3">
                            <label>Lote: </label> <?php echo $i['lote']?>
                        </div>
                        <div class="col-md-2">
                            <label>Quantidade: </label> <?php echo $i['quantidade']?>
                        </div>
                        <div class="col-md-2">
                            <label>Autorizado: </label> <?php echo $i['autorizado']?>
                        </div>
                            <div class="col-md-2">
                                <label>Enviado: </label> <?php echo $i['enviado']?>
                            </div>
                        <div class="col-md-6">
                            <label>Motivo: </label> <?php echo $i['motivo']?>
                        </div>
                        <div class="col-md-6">
                            <label>Observação: </label> <?php echo $i['observacao']?>
                        </div>
                        <?php } elseif( $pedido[0]['status'] == 'FINALIZADO' || $pedido[0]['status'] == 'CONFIRMADO PARCIALMENTE'){ ?>
                            <div class="col-md-3">
                                <label>Vencimento: </label> <?php echo  DateTime::createFromFormat('Y-m-d',  $i['vencimento'])->format('d/m/Y') ?>
                            </div>
                            <div class="col-md-3">
                                <label>Lote: </label> <?php echo $i['lote']?>
                            </div>

                            <div class="col-md-6">
                                <label>Motivo: </label> <?php echo $i['motivo']?>
                            </div>
                            <div class="col-md-3">
                                <label>Quantidade: </label> <?php echo $i['quantidade']?>
                            </div>
                            <div class="col-md-3">
                                <label>Autorizado: </label> <?php echo $i['autorizado']?>
                            </div>
                            <div class="col-md-3">
                                <label>Enviado: </label> <?php echo $i['enviado'] == 0 ? 'Nenhum': $i['enviado'] ?>
                            </div>
                            <div class="col-md-3">
                                <label>Confirmado: </label> <?php echo $i['confirmado'] == 0 ? 'Nenhum': $i['confirmado'] ?>
                            </div>
                            <div class="col-md-12">
                                <label>Observação: </label> <?php echo $i['observacao']?>
                            </div>
                        <?php } ?>

                    </td>

                </tr>
            <?php } ?>


        </table>



    </div>
</div>
    <div id="left">
        <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
    </div>
</div>

<script type="text/javascript" src="/logistica/DevolucaoInterna/js/main.js?v=2"></script>
<script type="text/javascript" src="/utils/jquery/js/validar_campos.js"></script>
<?php require  '../../components/add-item-logistica-devolucao-interna/add-item-js.phtml' ?>

</body>
</html>