<!-- Modal -->
<?php
require $_SERVER['DOCUMENT_ROOT'] . '/vendor/autoload.php';

use \App\Models\Logistica\DevolucaoInterna as ModelDevolucaoInterna;

$motivos = ModelDevolucaoInterna::getMotivos();

?>
<div class="modal fade" id="modal-add-item" tabindex="-1" role="dialog" aria-labelledby="modalAddItemLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>

                <h4 class="modal-title" id="modalAddItemLabel">Adicionar Itens</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label class="control-label" for="tipo-item">Tipo:</label>
                            <select id="tipo-item" name="tipo_item" class="form-control">
                                <option selected value="0">Medicamento</option>
                                <option value="1">Material</option>
                                <option value="3">Dieta</option>
                                <option value="5">Equipamento</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label class="control-label" for="buscar-item">Buscar:</label>
                            <input name="buscar_item" id="buscar-item" class="form-control" size="80" type="text">
                        </div>
                    </div>
                </div>
                <div class="row">
                        <div class=" col-lg-4 form-group">
                            <label class="control-label" for="qtd-item">Quantidade:</label>
                            <input name="qtd_item" id="qtd-item"  min='0' max="5" required class="form-control" type="number">
                        </div>
                        <div class="col-lg-4 form-group">
                            <label class="control-label" for="qtd-item">Validade:</label>
                            <input name="validade_item" id="validade-item" class="form-control"  required type="date">
                        </div>
                        <div class="col-lg-4 form-group">
                            <label class="control-label" for="lote-item">Lote:</label>
                            <input name="lote_item" id="lote-item" class="form-control" required type="text">
                        </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group" id="div-select-motivo">
                            <label class="control-label" for="selct-motivo">Motivo:</label>
                            <select  name="nome-motivo-item" id = 'select-motivo' required class="form-control COMBO_OBG">
                                <option  value="-1">Selecione</option>
                                <?php foreach($motivos as $m){?>
                                    <option value="<?=$m['id']?>"><?=$m['motivo']?></option>
                                <?}?>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label class="control-label" for="observacao-item">Observação:</label>
                            <textarea class="form-control" required rows="2" id="observacao-item"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <button type="button" class="btn btn-success" id="adicionar-item">Adicionar Item +</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Pronto!</button>
            </div>
        </div>
    </div>
</div>