<div id="row">
    <div class="col-lg-12 text-center">
        <button type="button"  class="btn btn-primary" id="adicionar-iten" data-toggle="modal" data-target="#modal-add-item">
            Adicionar Itens +
        </button>
    </div>
</div>
