<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th class="col-md-12">Item</th>

        </tr>
    </thead>
    <tbody id="body-0">
    </tbody>
    <tbody id="body-1">
    </tbody>
    <tbody id="body-3">
    </tbody>
    <tbody id="body-5">
    </tbody>
</table>