<?php require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>
<head>
    <meta charset="UTF-8">
    <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php'); ?>
    <link rel="stylesheet" type="text/css" href="/utils/reports.css">
    <link rel="stylesheet" href="/utils/bootstrap-3.3.6-dist/css/bootstrap.min.css" />
    <script src="/utils/bootstrap-3.3.6-dist/js/bootstrap.min.js" ></script>
    <link rel="stylesheet" href="/utils/font-awesome-4.7.0/css/font-awesome.css" />
</head>
<div id="content">
    <div id="right">
        <center><h1>Compensar Parcelas <?= $tipo_antecipada ?> <?= $tipo_titulo ?></h1></center>
        <br>
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title pull-left" style="padding-top: 7.5px;">
                 <i class="fa  fa-file-invoice-dollar" aria-hidden="true"></i> <?=$acaoTitulo?> Dados da Parcela
                </h3>
            </div>           
            <div class="panel-body" id="div-form-conta-antecipada">             
                    
                    <div class="row">    
                    <div class="col-md-3">
                            <label >TR</label>                        
                            <?=$response['idNota']?> - <?=$response['TR']?>
                        </div>                    
                        <div class="col-md-3">
                            <label >Nº da Nota:</label>                        
                            <?=$response['codigo']?> 
                        </div>                        
                        <div class="col-md-3">                            
                                <label for="valor">Valor:</label>
                                <?=$response['valorBR']?>                           
                        </div> 
                        <div class="col-md-3">
                            <label for="">Tipo do Doc.:</label>     
                            <?=$response['sigla']?>                  
                            
                        </div>                       
                    </div>
                    <div class="row"> 
                        <div class="col-md-6">
                            <label for="fornecedor">Fornecedor:</label>
                            <?=$response['nome_fornecedor']?> 
                        </div>                        
                        <div class="col-md-3">                            
                            <label for="data-emissao">Vencimento Real:</label>
                            <?=$response['vencimento_real_parcela']?>                        
                        </div>  
                        <div class="col-md-3">
                            <label for="">Unidade Regional:</label>                       
                            <?=$response['ur']?> 
                        </div>                                         
                        
                    </div>
                    <div class="row">
                        <div class="col-md-3">                            
                            <label for="data-emissao">Compensada:</label>
                            <?=$response['compensada']?>                        
                        </div>
                        <div class="col-md-3">                            
                            <label for="data-emissao">Valor Compensado:</label>
                            <?=$response['valor_compensadaBR']?>                        
                        </div>  
                        <div class="col-md-3">                            
                            <label for="data-emissao">Valor a Compensar:</label>
                            <?=$response['valor_a_compensarBR']?>                        
                        </div>                                          
                    </div> 
                                                     
                                 
                </div>
            </div>
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title pull-left" style="padding-top: 7.5px;">
                    <i class="fa fa-search" aria-hidden="true"></i> Pesquisar Parcelas Pendentes
                </h3>
            </div>
            <div class="panel-body" id="div-pesquisar-parcelas">
                <form id="form-pesquisar-parcelas">
                    <input type="hidden" id="tipo-nota" value="<?= $response['tipo'] ?>">
                    <input type="hidden" name="nota_antecipada" id="nota-antecipada" value="<?= $response['nota_adiantamento'] ?>">
                    <div class="row">
                        <div class="col-xs-6">
                            <label for="fornecedor">Fornecedor:</label>
                            <select name="fornecedor" id="fornecedor" class="form-control chosen-select" >
                                <option value="" selected>Selecione...</option>
                                <?php foreach($fornecedores as $fornecedor): ?>
                                    <option value="<?= $fornecedor['idFornecedores'] ?>"><?= strtoupper($fornecedor['fornecedor']) ?></option>
                                <?php endforeach; ?>
                            </select>
                        </div>
                        <div class="col-xs-6">
                            <label for="tipo-documento-financeiro">Tipo:</label>
                            <select name="tipo_documento_financeiro" id="tipo-documento-financeiro" class="form-control chosen-select">
                                <option value="" selected>Selecione...</option>
                                <?php foreach($tiposDocumentoFinanceiro as $tipoDocFin): ?>
                                    <option value="<?= $tipoDocFin['id'] ?>"><?= strtoupper($tipoDocFin['sigla']) ?> - <?= strtoupper($tipoDocFin['descricao']) ?> </option>
                                <?php endforeach; ?>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <label for="tr-parcela">TR:</label>
                            <input type="number" name="tr_parcela" id="tr-parcela" class="form-control">
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="inicio">Vencimento Real Inicio:</label>
                                <input name="inicio" id="inicio" type="date" class="form-control OBG" value='<?= isset($inicio)  ? $inicio : "" ?>' required>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="fim">Vencimento Real Fim:</label>
                                <input name="fim"  id="fim" type="date" class="form-control OBG" value='<?= isset($fim)  ? $fim : "" ?>' required>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 text-center">
                        <div  class="btn btn-primary" id="pesquisar-parcelas">
                            <span class='ui-button-text'>Buscar</span>
                        </div>
                        &nbsp;&nbsp;
                        <a  href="/financeiros/?op=notas&act=buscar"
                            style="color: white;"
                            class='btn btn-warning' >
                            Voltar
                        </a>
                    </div>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <form id="form-finalizar-compensar-parcelas">
                <div class='row'>
                    
                    <input type="hidden" name="parcelaCompensar[idParcela]" value="<?= $response['id'] ?>" />
                    <input type="hidden" name="parcelaCompensar[adiantamento]" value="<?= $response['nota_adiantamento'] ?>" />
                    <input type="hidden" name="parcelaCompensar[valor]" id="parcela-compensar-valor" value="<?= $response['valor'] ?>" />
                    <input type="hidden" name="parcelaCompensar[valorACompensar]" value="<?= $response['valor_a_compensar'] ?>" />
                    <input type="hidden" name="parcelaCompensar[idNota]" value="<?= $response['idNota'] ?>" />
             </div>  
                <table class='table table-striped table-bordered' width='100%' >
                    <thead>
                    <tr>
                        <th></th>
                        <th>N° Documento</th>
                        <th>Fornecedor</th>
                        <th>Vencimento</th>
                        <th>Vencimento Real</th>
                        <th align="center">Tipo</th>
                        <th>Valor</th>
                    </tr>
                    </thead>
                    <tbody id="tbody-compensar-parcela">
                       
                    <tr>
                        <td id="info-fatura-nota" colspan="7" style="text-align: center">
                            Use a <b>Busca</b> para encontrar as parcelas que deseja aglutinar na fatura!
                        </td>
                    </tr>
                    </tbody>
                    <tfooter>
                        <tr>
                            <td colspan="6" style="text-align: right">
                                <input type="hidden" id="valor-total" value="0.00">
                                Total:
                            </td>
                            <td style="text-align: left" id="valor-total-text">
                                R$ 0,00
                            </td>
                        </tr>
                        <tr>
                            <td colspan="7" style="text-align: center">
                                <button class="btn btn-success" id="finalizar-compensar-parcela" role="button" type="button">
                                    Finalizar
                                </button>
                            </td>
                        </tr>
                    </tfooter>
                </table>
                </form>
            </div>
        </div>

        <hr id="separator">
        <?php require __DIR__ . '/modal-compensar-parcela.phtml' ?>
        <hr id="separator">
    </div>
    <div id="left">
        <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
    </div>
</div>
<script type="text/javascript" src="/financeiros/compensacao/js/main.js?v=1.4"></script>
<script type="text/javascript" src="/utils/jquery/js/chosen.jquery.min.js"></script>
<script type="text/javascript" src="/utils/jquery/js/voltar.js"></script>
<script type="text/javascript" src="/utils/jquery/js/validar_campos.js"></script>
<script type="text/javascript" src="/utils/bower_components/moment/moment.js"></script>
<script type="text/javascript" src="/utils/jquery/js/validar_vencimento_real.js?v=1.4"></script>


</body>
</html>