<?php require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>
<head>
    <meta charset="UTF-8">
    <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php'); ?>
    <link rel="stylesheet" type="text/css" href="/utils/reports.css">
    <link rel="stylesheet" type="text/css" href="/utils/jquery/css/chosen/chosen.css">
</head>
<div id="content">
    <div id="right">
        <center><h1>Procedimentos em Gastrostomia</h1></center>
        <br>
        <?php if(!empty($cabecalho)): ?>
            <table width=100% style='border:2px dashed;'>
                <tr>
                    <td colspan='2'><label style='font-size:14px;color:#8B0000'><b><center> INFORMA&Ccedil;&Otilde;ES DO PACIENTE </center></b></label></td>
                </tr>
                <tr style='background-color:#EEEEEE;'>
                    <td width='70%'><label><b>PACIENTE </b></label></td>
                    <td><label><b>SEXO </b></label></td>
                </tr>
                <tr>
                    <td><?php echo $cabecalho['paciente'] ?></td>
                    <td><?php echo $cabecalho['sexo'] ?></td>
                </tr>

                <tr style='background-color:#EEEEEE;'>
                    <td width='70%'><label><b>IDADE </b></label></td>
                    <td><label><b>UNIDADE REGIONAL </b></label></td>
                </tr>
                <tr>
                    <td><?php echo $cabecalho['nascimento'] ?> <?php echo $cabecalho['idade'] ?> Anos</td>
                    <td><?php echo $cabecalho['empresa'] ?></td>
                </tr>

                <tr style='background-color:#EEEEEE;'>
                    <td width='70%'><label><b>CONV&Ecirc;NIO </b></label></td>
                    <td><label><b>MATR&Iacute;CULA </b></label></td>
                </tr>
                <tr>
                    <td><?php echo $cabecalho['convenio'] ?></td>
                    <td><?php echo $cabecalho['matricula'] ?></td>
                </tr>
            </table>
            <?php
        endif;
        if(isset($response)):
            ?>
            <hr id="separator">
            <div id="response">
                <?php foreach ($response as $data): ?>
                <table class='mytable' width='100%' >
                    <thead>
                    <th colspan="4" align="center">INFORMAÇÕES SOBRE O PROCEDIMENTO</th>
                    </thead>
                    <tbody>
                    <?php
                        $dataTroca = DateTime::createFromFormat('Y-m-d', $data['data_troca'])->format('d/m/Y');
                    ?>
                    <tr>
                        <td width="20%">ITEM: </td>
                        <td width="80%"><?= $data['item'] ?></td>
                    </tr>
                    <tr>
                        <td width="20%">DATA DA TROCA:</td>
                        <td width="80%"><?= $dataTroca ?></td>
                    </tr>
                    <tr>
                        <td width="20%">TIPO:</td>
                        <td width="80%"><?= $tipos[$data['tipo']] ?></td>
                    </tr>
                    <?php if($data['tipo'] == '1'): ?>
                        <tr>
                            <td width="20%">FURO:</td>
                            <td width="80%"><?= $data['furo'] ?></td>
                        </tr>
                        <tr>
                            <td width="20%">CM:</td>
                            <td width="80%"><?= $data['cm'] ?></td>
                        </tr>
                    <?php else: ?>
                        <tr>
                            <td width="20%">FR:</td>
                            <td width="80%"><?= $data['fr'] ?></td>
                        </tr>
                    <?php endif; ?>
                    <tr>
                        <td width="20%">MARCA DO PRODUTO DANIFICADO:</td>
                        <td width="80%"><?= $data['marca'] ?></td>
                    </tr>
                    <tr>
                        <td width="20%">DESCRIÇÃO DO DANO:</td>
                        <td width="80%"><?= $data['dano'] ?></td>
                    </tr>
                    <tr>
                        <td width="20%">ORIGEM DO DANO:</td>
                        <td width="80%"><?= $motivos[$data['origem_dano']] ?></td>
                    </tr>
                    <tr>
                        <td width="20%">DETALHES DA ORIGEM DO DANO:</td>
                        <td width="80%"><?= $data['descricao_origem_dano'] ?></td>
                    </tr>
                    </tbody>
                </table>
                <?php endforeach; ?>
            </div>
            <div style="position: relative; float: left; width: 100%; margin-top: 10px;">
                <a class='ui-button ui-widget ui-corner-all ui-button-text-only ui-state-hover'
                   href="/enfermagem/relatorios/?action=procedimentos-gtm-edit&id=<?= $data['prescricao_id'] ?>">
                    <span class='ui-button-text'>Editar</span>
                </a>
                <form method="get" action="/enfermagem/imprimir_procedimentos_gtm.php" target="_blank">
                    <input type="hidden" name="id" value="<?= $data['prescricao_id'] ?>">
                    <button type="submit" class='ui-button ui-widget ui-corner-all ui-button-text-only ui-state-hover'>
                        <span class='ui-button-text'>Imprimir</span>
                    </button>
                </form>
            </div>
            <?php
        endif;
        ?>
    </div>
    <div id="left">
        <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
    </div>
</div>
</body>
</html>