<?php require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>
<head>
    <meta charset="UTF-8">
    <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php'); ?>
    <link rel="stylesheet" type="text/css" href="/utils/reports.css">
    <link rel="stylesheet" type="text/css" href="/utils/jquery/css/chosen/chosen.css">
</head>
<div id="content">
    <div id="right">
        <center><h1>Procedimentos em Gastrostomia</h1></center>
        <br>
        <?php if(!empty($cabecalho)): ?>
            <table width=100% style='border:2px dashed;'>
                <tr>
                    <td colspan='2'><label style='font-size:14px;color:#8B0000'><b><center> INFORMA&Ccedil;&Otilde;ES DO PACIENTE </center></b></label></td>
                </tr>
                <tr style='background-color:#EEEEEE;'>
                    <td width='70%'><label><b>PACIENTE </b></label></td>
                    <td><label><b>SEXO </b></label></td>
                </tr>
                <tr>
                    <td><?php echo $cabecalho['paciente'] ?></td>
                    <td><?php echo $cabecalho['sexo'] ?></td>
                </tr>

                <tr style='background-color:#EEEEEE;'>
                    <td width='70%'><label><b>IDADE </b></label></td>
                    <td><label><b>UNIDADE REGIONAL </b></label></td>
                </tr>
                <tr>
                    <td><?php echo $cabecalho['nascimento'] ?> <?php echo $cabecalho['idade'] ?> Anos</td>
                    <td><?php echo $cabecalho['empresa'] ?></td>
                </tr>

                <tr style='background-color:#EEEEEE;'>
                    <td width='70%'><label><b>CONV&Ecirc;NIO </b></label></td>
                    <td><label><b>MATR&Iacute;CULA </b></label></td>
                </tr>
                <tr>
                    <td><?php echo $cabecalho['convenio'] ?></td>
                    <td><?php echo $cabecalho['matricula'] ?></td>
                </tr>
            </table>
            <?php
                endif;
                if(isset($response)):
            ?>
            <hr id="separator">
            <form method="post" action="/enfermagem/relatorios/?action=procedimentos-gtm-edit">
                <?php foreach($response as $data): ?>
                <div class="response">
                    <input type="hidden" name="id[<?= $data['id'] ?>]" class="id-proc" value="<?= $data['id'] ?>">
                    <input type="hidden" name="paciente[<?= $data['id'] ?>]" value="<?= $data['paciente'] ?>">
                    <input type="hidden" name="furo[<?= $data['id'] ?>]" value="">
                    <input type="hidden" name="cm[<?= $data['id'] ?>]" value="">
                    <input type="hidden" name="fr[<?= $data['id'] ?>]" value="">
                    <table class='mytable' width='100%' >
                        <thead>
                        <th colspan="4" align="center">INFORMAÇÕES SOBRE O PROCEDIMENTO</th>
                        </thead>
                        <tbody>
                        <tr>
                            <td width="20%">ITEM: </td>
                            <td width="80%"><?= $data['item'] ?></td>
                        </tr>
                        <tr>
                            <td width="20%">DATA DA TROCA:</td>
                            <td width="80%"><input type="date" required name="data_troca[<?= $data['id'] ?>]" value="<?= $data['data_troca'] ?>"></td>
                        </tr>
                        <tr>
                            <td width="20%">TIPO:</td>
                            <td width="80%">
                                <select name="tipo[<?= $data['id'] ?>]" class="tipo-gtm">
                                    <option <?= $data['tipo'] == '1' ? 'selected' : '' ?> value="1">BUTTON</option>
                                    <option <?= $data['tipo'] == '2' ? 'selected' : '' ?> value="2">SONDA DE FOLEY</option>
                                    <option <?= $data['tipo'] == '3' ? 'selected' : '' ?> value="3">SONDA DE GTM</option>
                                </select>
                            </td>
                        </tr>
                        <?php if($data['tipo'] == '1'): ?>
                            <tr>
                                <td width="20%">FURO:</td>
                                <td width="80%"><input type="text" class="furo" required size="4" name="furo[<?= $data['id'] ?>]" value="<?= $data['furo'] ?>"></td>
                            </tr>
                            <tr>
                                <td width="20%">CM:</td>
                                <td width="80%"><input type="text" class="cm" required size="4" name="cm[<?= $data['id'] ?>]" value="<?= $data['cm'] ?>"></td>
                            </tr>
                        <?php else: ?>
                            <tr>
                                <td width="20%">FR:</td>
                                <td width="80%"><input type="text" class="fr" required size="4" name="fr[<?= $data['id'] ?>]" value="<?= $data['fr'] ?>"></td>
                            </tr>
                        <?php endif; ?>
                        <tr>
                            <td width="20%">MARCA DO PRODUTO DANIFICADO:</td>
                            <td width="80%"><input type="text" required size="51" name="marca[<?= $data['id'] ?>]" value="<?= $data['marca'] ?>"></td>
                        </tr>
                        <tr>
                            <td width="20%">DESCRIÇÃO DO DANO:</td>
                            <td width="80%"><textarea name="dano[<?= $data['id'] ?>]" required cols="50" rows="3"><?= $data['dano'] ?></textarea></td>
                        </tr>
                        <tr>
                            <td width="20%">ORIGEM DO DANO:</td>
                            <td width="80%">
                                <select name="origem_dano[<?= $data['id'] ?>]" required>
                                    <option <?= $data['origem_dano'] == '1' ? 'selected' : '' ?> value="1">MANUSEIO INDEVIDO</option>
                                    <option <?= $data['origem_dano'] == '2' ? 'selected' : '' ?> value="2">ALTERAÇÃO CLÍNICA DO PACIENTE</option>
                                    <option <?= $data['origem_dano'] == '3' ? 'selected' : '' ?> value="3">TRAÇÃO</option>
                                    <option <?= $data['origem_dano'] == '4' ? 'selected' : '' ?> value="4">OUTRO</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td width="20%">DETALHES DA ORIGEM DO DANO:</td>
                            <td width="80%"><textarea name="descricao_origem_dano[<?= $data['id'] ?>]" required cols="50" rows="3"><?= $data['descricao_origem_dano'] ?></textarea></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <?php endforeach; ?>
                <div style="position: relative; float: left; width: 100%; margin-top: 10px;">
                    <button type="submit" class='ui-button ui-widget ui-corner-all ui-button-text-only ui-state-hover'>
                        <span class='ui-button-text'>Salvar</span>
                    </button>
                </div>
            </form>
            <?php
        endif;
        ?>
    </div>
    <div id="left">
        <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
    </div>
</div>
<script type="text/javascript" src="/enfermagem/relatorios/templates/procedimentos-gtm/js/edit.js?v=2"></script>
</body>
</html>