<?php require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>
<head>
    <meta charset="UTF-8">
    <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php'); ?>
    <link rel="stylesheet" href="/utils/global.css"/>
    <link rel="stylesheet" type="text/css" href="/utils/jquery/css/chosen/chosen.css">
</head>
<div id="content">
    <div id="right">
        <center><h1>Procedimentos em Gastrostomia</h1></center>
        <br>
        <?php if(!empty($cabecalho)): ?>
            <table width=100% style='border:2px dashed;'>
                <tr>
                    <td colspan='2'><label style='font-size:14px;color:#8B0000'><b><center> INFORMA&Ccedil;&Otilde;ES DO PACIENTE </center></b></label></td>
                </tr>
                <tr style='background-color:#EEEEEE;'>
                    <td width='70%'><label><b>PACIENTE </b></label></td>
                    <td><label><b>SEXO </b></label></td>
                </tr>
                <tr>
                    <td><?php echo $cabecalho['paciente'] ?></td>
                    <td><?php echo $cabecalho['sexo'] ?></td>
                </tr>

                <tr style='background-color:#EEEEEE;'>
                    <td width='70%'><label><b>IDADE </b></label></td>
                    <td><label><b>UNIDADE REGIONAL </b></label></td>
                </tr>
                <tr>
                    <td><?php echo $cabecalho['nascimento'] ?> <?php echo $cabecalho['idade'] ?> Anos</td>
                    <td><?php echo $cabecalho['empresa'] ?></td>
                </tr>

                <tr style='background-color:#EEEEEE;'>
                    <td width='70%'><label><b>CONV&Ecirc;NIO </b></label></td>
                    <td><label><b>MATR&Iacute;CULA </b></label></td>
                </tr>
                <tr>
                    <td><?php echo $cabecalho['convenio'] ?></td>
                    <td><?php echo $cabecalho['matricula'] ?></td>
                </tr>
            </table>
        <?php
            endif;
            if(isset($response)):
        ?>
            <hr id="separator">
            <?php
            $display = "none";
            $class = "";
            if(isset($_GET['msg']) && !empty($_GET['msg'])) {
                $msg = base64_decode($_GET['msg']);
                $type = $_GET['type'];
                if ($type === 's') {
                    $display = "block";
                    $class = "success";
                } else {
                    $display = "block";
                    $class = "failed";
                }
            }
            ?>
            <div style="display:<?= $display ?>" class="msg <?= $class ?>">
                <strong><?= $msg ?></strong>
            </div>
            <div id="response">
                <table class='mytable' width='100%' >
                    <thead>
                    <tr>
                        <th>USUÁRIO</th>
                        <th align="center">DATA SISTEMA</th>
                        <th align="center">DATA DA TROCA</th>
                        <th align="center">OPÇÕES</th>
                    </tr>
                    </thead>
                    <tbody>
                    <?php
                    if($count > 0):
                        foreach($response as $data):
                            $compTipo = $data['conselho_regional'];

                            $dataSistema = DateTime::createFromFormat('Y-m-d H:i:s', $data['dataSistema'])->format('d/m/Y à\s H:i:s');
                            $dataTroca = DateTime::createFromFormat('Y-m-d', $data['dataTroca'])->format('d/m/Y');
                            ?>
                            <tr>
                                <td><?= $data['usuario'] . $compTipo ?></td>
                                <td align="center"><?= $dataSistema ?></td>
                                <td align="center"><?= $dataTroca ?></td>
                                <td align="center">
                                    <a href="/enfermagem/relatorios/?action=procedimentos-gtm-view&id=<?= $data['prescricao_id'] ?>" target="_blank">
                                        <img width="16" src="/utils/fichas_24x24.png" title="Visualizar">
                                    </a>
                                    <?php if($_SESSION['adm_user'] == '1' || $_SESSION['adm_ur'] == '1' || $_SESSION['modmed'] == '1'): ?>
                                    <a href="/enfermagem/relatorios/?action=procedimentos-gtm-edit&id=<?= $data['prescricao_id'] ?>" target="_blank">
                                        <img width="16" src="/utils/edit_24x24.png" title="Editar">
                                    </a>
                                    <?php endif; ?>
                                </td>
                            </tr>
                        <?php endforeach; ?>
                    <?php else: ?>
                        <tr>
                            <td colspan="13" align="center"><strong>Nenhum resultado foi encontrado!</strong></td>
                        </tr>
                    <?php endif; ?>
                    </tbody>
                </table>
            </div>
            <?php
        endif;
        ?>
    </div>
    <div id="left">
        <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
    </div>
</div>
<script type="text/javascript" src="/utils/jquery/js/chosen.jquery.min.js"></script>
<script type="text/javascript">
    $(function($){
        if($('#urs').length == 1) {
            $('#urs').chosen();
        }
    });
</script>
</body>
</html>