<?php require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>
<head>
    <meta charset="UTF-8">
    <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php'); ?>
    <link rel="stylesheet" type="text/css" href="/utils/reports.css">
</head>
<div id="content">
    <div id="right">
        <div>
            <center><h1>SAC</h1></center>		
        </div>
        <p>
            <a href='/remocao/?action=menu'>Remoções</a>
        </p>
        <p>
            <a href='/eventos_aph/?action=menu'>Evento/APH</a>
        </p>
        <p>
            <a href='/sac/?action=encaminhamento-listar'>Encaminhamento SAC-Médico</a>
        </p>
        <p>
            <a href='/faturamento/?view=faturaavulsa'>Orçamento Avulso</a>
        </p>
    </div>
    <div id="left">
        <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
    </div>
</div>
</body>
</html>