<?php require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>
<head>
    <meta charset="UTF-8">
    <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php'); ?>
    <link rel="stylesheet" type="text/css" href="/utils/reports.css">
    <link rel="stylesheet" type="text/css" href="/utils/jquery/css/chosen/chosen.css">
</head>
<div id="content">
    <div id="right">
        <center><h1>Relatório de Faturamento Enviado</h1></center>
        <br><br><br>
        <form method="post" action="/auditoria/relatorios/?action=form-relatorio-faturamento-enviado">
            <p>
                <strong>Período:</strong><br>
                <input type="date" required name="periodo_inicio" value="<?= isset($periodoInicio) && !empty($periodoInicio) ? $periodoInicio : "" ?>"> -
                <input type="date" required name="periodo_fim" value="<?= isset($periodoFim) && !empty($periodoFim) ? $periodoFim : "" ?>">
            </p>
            <p>
                <strong>Auditor(a)/Faturista:</strong><br>
                <select name="auditor" id="auditores" style="width: 300px;">
                    <option value="">Selecione...</option>
                    <?php foreach($auditores as $auditor): ?>
                        <option <?= isset($auditorBusca) && $auditorBusca === $auditor['idUsuarios'] ? "selected" : "" ?> value="<?= $auditor['idUsuarios'] ?>"><?= strtoupper($auditor['nome']) ?></option>
                    <?php endforeach; ?>
                </select>
            </p>
            <p>
                <strong>Paciente:</strong><br>
                <select name="paciente" id="pacientes" style="width: 400px;">
                    <option value="">Selecione...</option>
                    <?php foreach($pacientes as $paciente): ?>
                        <option <?= isset($pacienteBusca) && $pacienteBusca === $paciente['idClientes'] ? "selected" : "" ?> value="<?= $paciente['idClientes'] ?>">(<?= $paciente['codigo'] ?>) <?= strtoupper($paciente['nome']) ?></option>
                    <?php endforeach; ?>
                </select>
            </p>
            <p>
                <strong>UR:</strong><br>
                <select name="ur" id="urs" style="width: 300px;">
                    <option value="">Selecione...</option>
                    <?php foreach($urs as $ur): ?>
                        <option <?= isset($urBusca) && $urBusca === $ur['id'] ? "selected" : "" ?> value="<?= $ur['id'] ?>"><?= strtoupper($ur['nome']) ?></option>
                    <?php endforeach; ?>
                </select>
            </p>
            <p>
                <strong>Planos:</strong><br>
                <select name="plano" id="plano" style="width: 300px;">
                    <option value="">Selecione...</option>
                    <?php foreach($planos as $plano): ?>
                        <option <?= isset($planoBusca) && $planoBusca === $plano['id'] ? "selected" : "" ?> value="<?= $plano['id'] ?>"><?= strtoupper($plano['nome']) ?></option>
                    <?php endforeach; ?>
                </select>
            </p>

            <p>
                <strong>Ordenar por:</strong><br>
                <input type="radio" id="ordenar-por-paciente" checked <?= isset($ordenarPor) && $ordenarPor == 'paciente' ? "checked" : "" ?> name="ordenar_por" value="paciente"> <label for="ordenar-por-paciente">Paciente</label> -
                <input type="radio" id="ordenar-por-auditor" <?= isset($ordenarPor) && $ordenarPor == 'auditor' ? "checked" : "" ?> name="ordenar_por" value="auditor"> <label for="ordenar-por-auditor">Auditor(a)/Faturista</label>
                <input type="radio" id="ordenar-por-ur" <?= isset($ordenarPor) && $ordenarPor == 'ur' ? "checked" : "" ?> name="ordenar_por" value="ur"> <label for="ordenar-por-ur">UR</label>
                <input type="radio" id="ordenar-por-envio" <?= isset($ordenarPor) && $ordenarPor == 'dataEnvio' ? "checked" : "" ?> name="ordenar_por" value="dataEnvio"> <label for="ordenar-por-envio">Data do Envio</label>
                <input type="radio" id="ordenar-por-plano" <?= isset($ordenarPor) && $ordenarPor == 'convenio' ? "checked" : "" ?> name="ordenar_por" value="convenio"> <label for="ordenar-por-plano">Plano</label>
            </p>
            <div style="position: relative; float: left; width: 100%; margin-top: 10px;">
                <button type="submit" class='ui-button ui-widget ui-corner-all ui-button-text-only ui-state-hover' id="buscar">
                    <span class='ui-button-text'>Buscar</span>
                </button>
                &nbsp;&nbsp;
                <button id='' type='button' class='voltar_ ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only ui-state-hover'
                        role='button' aria-disabled='false' >
                    <span class='ui-button-text'>Voltar</span>
                </button>

            </div>
        </form>
        <?php
        if(isset($response)):
            ?>
            <label style="float: left; padding-top: 20px;">
                Total de <b><?= $count ?></b> faturas enviadas.
            </label>
            <a  href="/auditoria/relatorios/?action=excel-relatorio-faturamento-enviado&inicio=<?= $periodoInicio ?>&fim=<?= $periodoFim ?>&auditor=<?= $auditorBusca ?>&paciente=<?= $pacienteBusca ?>&ur=<?= $urBusca ?>&plano=<?= $planoBusca ?>&ordenarpor=<?= $ordenarPor ?>"
                target="_blank"
                style="position: relative; float: right;"
                class='ui-button ui-widget ui-corner-all ui-button-text-only ui-state-hover'
                id="buscar">
                <span class='ui-button-text'>Exportar para Excel</span>
            </a>
            <hr id="separator">
            <div id="response">
                <table class='mytable' width='100%' >
                    <thead>
                    <tr>
                        <th>USUÁRIO</th>
                        <th>PACIENTE</th>
                        <th>CONVENIO</th>
                        <th>UR</th>
                        <th align="center">PERÍODO DA FATURA</th>
                        <th align="center">DATA DO ENVIO</th>
                        <th align="center">PROT. ENVIO</th>
                        <th align="center">MODALIDADE</th>
                        <th>VALOR FATURADO</th>
                    </tr>
                    </thead>
                    <tbody>
                    <?php
                    if($count > 0):
                        $total = 0;
                        foreach($response as $data):
                            $total += $data['valor'];
                            $dataEnvio = DateTime::createFromFormat('Y-m-d H:i:s', $data['dataEnvio'])->format('d/m/Y');
                            ?>
                            
                            <tr>
                                <td><?= $data['auditor'] ?></td>
                                <td><?= $data['paciente'] ?></td>
                                <td><?= $data['convenio'] ?></td>
                                <td><?= $data['ur'] ?></td>
                                <td align="center"><?= $data['inicio'] . ' À ' . $data['fim'] ?></td>
                                <td align="center"><?= $dataEnvio ?></td>
                                <td align="center"><?= $data['protocolo_envio']?></td>
                                <td align="center"><?= $data['remocao'] == "S" ? "Remoção" : $data['modalidade'] ?></td>
                                <td align="right">R$ <?= number_format($data['valor'], 2, ',', '.') ?></td>
                            </tr>
                        <?php endforeach; ?>
                        <tr style="border-top: 1px solid #000">
                            <td colspan="8" align="right"><strong>Total:</strong></td>
                            <td align="right"><strong>R$ <?= number_format($total, 2, ',', '.') ?></strong></td>
                        </tr>
                    <?php else: ?>
                        <tr>
                            <td colspan="13" align="center"><strong>Nenhum resultado foi encontrado!</strong></td>
                        </tr>
                    <?php endif; ?>
                    </tbody>
                </table>
            </div>
            <?php
        endif;
        ?>
    </div>
    <div id="left">
        <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
    </div>
</div>
<script type="text/javascript" src="/utils/jquery/js/chosen.jquery.min.js"></script>
<script type="text/javascript" src="/utils/jquery/js/voltar.js"></script>
<script type="text/javascript">
    $(function($){
        $('#auditores, #pacientes, #urs, #plano').chosen();
    });
</script>
</body>
</html>