<?php
if(isset($result)):
    if(empty($result)):
        ?>
        <h4 class="text-center">Nenhum resultado encontrado.</h4>
    <?php
    else:
        ?>
        <table class='table table-striped'>
            <thead>
            <tr>
                SA&Iacute;DAS
            </tr>
            <tr>
                <th>Paciente</th>
                <?php
                if($resultado == 'a')
                {
                    echo "<th valign='top'>Data</th>";
                }
                ?>
                <th>Item</th>
                <th>Quantidade</th>
                <th>Lote</th>
                <th><?= htmlentities('Custo Unitário')?></th>
                <th>Subtotal</th>
            </tr>
            </thead>
            <tbody>
            <?php
            while($row = mysql_fetch_array($result)):
                $f = false;
                foreach($row AS $key => $value)
                {
                    $row[$key] = stripslashes($value);
                }
                $subtotal = round($row['valor'], 2) * $row['qtd'];
                $totalItens += $row['qtd'];
                $totalCusto += $subtotal;
                ?>
                <tr>
                    <td><?= $row['paciente'] ?></td>
                    <?php
                    if($resultado == 'a')
                    {
                        $data = implode("/",array_reverse(explode("-",$row['data'])));
                        echo "<td valign='top'>{$data}</td>";
                    }
                    ?>
                    <td><?= htmlentities("{$row['nome']}") ?></td>
                    <td><?= $row['qtd'] ?></td>
                    <td><?= $row['LOTE']?></td>
                    <td><?= number_format($row['valor'], 2, '.', '') ?></td>
                    <td><?= number_format($subtotal, 2, '.', '')?></td>
                </tr>
            <?php
            endwhile;
            ?>
            <tr>
                <td colspan="<?= $colspan ?>" style='text-align: right;'>
                    <b>Total de Itens:</b>
                </td>
                <td><?= $totalItens ?></td>
                <td>&nbsp;</td>
                <td style='text-align: right;'> <b>Custo Total:</b></td>
                <td><?= number_format($totalCusto, 2, '.', '')?></td>
            </tr>
            </tbody>
        </table>
    <?php
    endif;
endif;