<?php
if(isset($response)):
    if(empty($response)):
        ?>
        <h4 class="text-center">Nenhum resultado encontrado.</h4>
        <?php
    else:
        ?>


        <table class='table table-striped'>
            <thead>
            <tr>
                <th>ID</th>
                <th >Item</th>
                <th>Total</th>
                <th>Tipo</th>
                <th><?= htmlentities('Laboratório')?></th>
                <th><?= htmlentities('Princípio')?></th>
                <th><?= htmlentities('TAG')?></th>
                <? if($_SESSION['empresa_principal'] == 1 ){?>
                    <th>Custo Uni.</th>
                    <th>Custo Tot.</th>
                <?}?>

            </tr>
            </thead>
            <tbody>
            <?php
            foreach($response as $row):
                ?>
                <tr>
                    <td><?= $row['CATALOGO_ID'] ?></td>
                    <td><?= htmlentities("{$row['nome']}") ?></td>
                    <td><?= $row['qtd'] ?></td>
                    <td><?= $row['tipo']?></td>
                    <td><?= htmlentities("{$row['Laboratorio']}")?></td>
                    <td><?= htmlentities("{$row['principio']}")?></td>
                    <td><?= htmlentities("{$row['tag']}")?></td>
                    <? if($_SESSION['empresa_principal'] == 1 ){?>
                        <td><?=\App\Helpers\StringHelper::currencyFormat($row['custo'])?></td>
                        <th><?=\App\Helpers\StringHelper::currencyFormat($row['custo']*$row['qtd'])?></th>
                    <?}?>
                </tr>
                <?php
            endforeach;
            ?>
            </tbody>
        </table>
<?php
    endif;
endif;