<?php require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>
<head>
    <meta charset="UTF-8">
    <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php'); ?>
    <link rel="stylesheet" type="text/css" href="/utils/reports.css">
    <link rel="stylesheet" href="/utils/bootstrap-3.3.6-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/utils/font-awesome-4.7.0/css/font-awesome.css" />
</head>
<div id="content">
    <div id="right">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title pull-left" style="padding-top: 7.5px;">
                    <i class="fa fa-search" aria-hidden="true"></i> Buscar Saídas Condesada.
                </h3>
            </div>
            <div class="panel-body">
                <form method="post" action="/logistica/relatorios/?action=relatorio-saida-condensada">
                    <?php if($_SESSION['empresa_principal'] == '1'): ?>
<!--                    <div class="row">-->
<!--                        <div class="col-lg-12">-->
<!--                            <div class="form-group">-->
<!--                                <label for="periodo">UR:</label>-->
<!--                                <select name="ur[]" data-placeholder="Escolha as URs..." class="form-control chosen-select" multiple style="width: 100%;">-->
<!--                                    <option value="T" selected>TODOS</option>-->
<!--                                    --><?php //foreach($urs as $ur): ?>
<!--                                        <option --><?//= isset($urBusca) && in_array($ur['id'], $urBusca) ? "selected" : "" ?><!-- value="--><?//= $ur['id'] ?><!--">--><?//= strtoupper($ur['nome']) ?><!--</option>-->
<!--                                    --><?php //endforeach; ?>
<!--                                </select>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
                    <?php endif; ?>



                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="periodo">Inicio:</label>
                                <input name="inicio" type="date" class="form-control" value='<?= isset($inicio)  ? $inicio : "" ?>' required>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="periodo">Fim:</label>
                                <input name="fim" type="date" class="form-control" value='<?= isset($fim) ? $fim : "" ?>' required>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <div class="form-group">
                                <button type="submit" class='ui-button ui-widget ui-corner-all ui-button-text-only ui-state-hover' >
                                    <span class='ui-button-text'>Pesquisar</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-12">
                <?php
                if(isset($response)):
                    if(empty($response)):
                        ?>
                        <h4 class="text-center">Nenhum resultado encontrado.</h4>
                        <?php
                    else:
                        ?>
                        <h5 style="color: darkred;"><strong>* O relatório traz todos os itens que tiveram saída no período solicitado.
                            <br>* Os itens medicamentos estão ordenados pelo princípio ativo para facilitar encontrar o
                                mesmo item só que de laboratório diferentes.
                            <br>* Os itens dos outros tipos estão ordenados pelo nome do item. </strong></h5>
                        <a href="/logistica/relatorios/?action=excel-relatorio-saida-condensada&inicio=<?= $inicio ?>&fim=<?= $fim ?>"
                           target="_blank"
                           style="float: right;"
                           title="Exportar para Planilha Excel">
                            <img src="/utils/new-icons/excel-2013.ico" width="32">
                        </a>
                        <table class='table table-striped'>
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th >Item</th>
                                <th>Total</th>
                                <th>Tipo</th>
                                <th>Laboratório</th>
                                <th>Princípio</th>
                                <th></th>


                            </tr>
                            </thead>
                            <tbody>
                            <?php
                            foreach($response as $row):
                                ?>
                                <tr>
                                    <td><?= $row['CATALOGO_ID'] ?></td>
                                    <td><?= $row['nome'] ?></td>
                                    <td><?= $row['qtd'] ?></td>
                                    <td><?= $row['tipo']?></td>
                                    <td><?= $row['Laboratorio']?></td>
                                    <td><?echo $row['principio']?></td>
                                    <td></td>

                                </tr>
                                <?php
                            endforeach;
                            ?>
                            </tbody>
                        </table>
                        <?php
                    endif;
                endif;
                ?>
            </div>
        </div>
    </div>

    <div id="left">
        <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
    </div>
</div>
<script type="text/javascript" src="/remocao/js/main.js?v=2.1"></script>
</body>
</html>