<?php require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>
<head>

    <meta charset="UTF-8">
    <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php');

    ?>
    <link rel="stylesheet" type="text/css" href="/utils/reports.css">
    <link rel="stylesheet" href="/utils/bootstrap-3.3.6-dist/css/bootstrap.min.css" />
    <script src="/utils/bootstrap-3.3.6-dist/js/bootstrap.min.js" ></script>
    <link rel="stylesheet" href="/utils/font-awesome-4.7.0/css/font-awesome.css" />
    <?php require __DIR__ . '/../../modal-add-item-faturamento/add-item-css.phtml' ?>


</head>
<div id="content">
    <div id="right">


        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title pull-left" style="padding-top: 7.5px;">
                    <i class="fa fa-handshake-o" aria-hidden="true"></i> Fazer consenso da Fatura #<?=$idFatura?>.</b>
                </h3>
            </div>
            <div class="panel-body">
                <table class="table table-striped table-hover">

                    <tbody>
                    <tr>
                        <td><label>Paciente:</label> <?=$cabecalhoFatura[0]['paciente']?></td>
                        <td><label>Unidade:</label> <?=$cabecalhoFatura[0]['empresa']?></td>
                    </tr>
                    <tr>
                        <td><label>Plano:</label> <?=$cabecalhoFatura[0]['nomeConvenio']?></td>
                        <td><label>N° Carteira:</label> <?=$cabecalhoFatura[0]['NUM_MATRICULA_CONVENIO']?></td>
                    </tr>
                    <tr>
                        <td><label>Faturista:</label> <?=$cabecalhoFatura[0]['usuario']?></td>
                        <td><label>Período:</label> <?=$cabecalhoFatura[0]['inicio']?> até <?=$cabecalhoFatura[0]['fim']?></td>
                    </tr>

                    </tbody>
                </table>


            </div>
        </div>

        <br>
        <?php
        if( isset($itensFatura) ){    ?>


            <hr>
            <? if(empty($itensFatura)){ ?>
                <div class="alert alert-warning" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" ></span>
                    Nenhuma solicitação de devolução foi encontrada.
                </div>
            <?}else { ?>
                <div class="row ">
                    <div class="col-lg-12 ">

                        <div>
                            <input type="hidden" id="ur-id" value="<?=$cabecalhoFatura[0]['UR']?>">
                            <input type="hidden" id="plano-id" value="<?=$cabecalhoFatura[0]['PLANO_ID']?>">
                        </div>
                        <?php require __DIR__ . '/../../modal-add-item-faturamento/add-item-modal.phtml' ?>
                    </div>
                </div>
<!--                -->
                <div id="option-unidade" class="hidden" disabled>

                        <option value='' selected='selected'>SELECIONE</option>
                        <? foreach ($unidadeMedida as $unidade){
                            ?>
                            <option value="<?=$unidade['ID']?>" >
                                <?=  $unidade['UNIDADE'] ?>
                            </option>
                        <? } ?>

                </div>

        <form id="form-consenso" >
<!--            <input type="hidden" class="" name="action" value="salvarConsensoFatura"/>-->
            <div class="row">
                <div class="col-lg-12">
                    <label for="auditora-externa">Auditora externa responsável:</label><br>
                    <input type="text" class="form-control" name="auditora-externa"/>
                </div>
                <input type="hidden" name="fatura-id" value="<?=$cabecalhoFatura[0]['ID']?>">
                <input type="hidden" name="paciente-id" value="<?=$cabecalhoFatura[0]['PACIENTE_ID']?>">
            </div>
            <br>
            <div id="row">
                <div class="col-lg-12 text-right">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-add-item">
                        Adicionar Itens +
                    </button>
                </div>
            </div>
                <table class="table table-striped table-hover" id="itens-fatura">
                    <thead>
                    <tr>
                        <th >Itens cobrados na fatura.</th>

                    </tr>
                    </thead>
                    <tbody>
                    <?php foreach($itensFatura as $f){?>
                        <tr>
                            <td>
                                <div class="row">
                                    <div class="col-lg-2">
                                        <label >Editar</label>
                                        <br>
                                        <select class="form-control editar-consenso" faturamento-id = "<?=$f['ID']?>" name="editar[<?=$f['ID']?>]">
                                            <option selected value="N">Não</option>
                                            <option value="S">Sim</option>

                                        </select>
                                    </div>

                                    <div class="col-lg-8">
                                        <label >Item</label>
                                        <br>
                                        <?

                                        $codigo = $f['CODIGO_PROPRIO'] != 0 ? "Código Próprio: " . $f['CODIGO_PROPRIO'] : '';

                                        $tuss = " TUSS-" . $f['TUSS'] . "  N-" . $f['NUMERO_TISS'] .
                                            $laboratorio = '';
                                        if($f['TIPO'] == 0){
                                            $laboratorio ="<b>(".$f['lab'].")</b>";
                                        }
                                        echo $codigo." ".$tuss." ".$f['principio']." ".$laboratorio;
                                        ?>
                                    </div>
                                    <div class="col-lg-2" >
                                        <label>Tipo</label>
                                        <br>
                                        <?= $f['apresentacao']?>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-lg-3">
                                        <label>Unidade</label>
                                        <select class="form-control habilitar" disabled name="unidade[<?=$f['ID']?>]" valor-antigo=" <?=$f['UNIDADE_FATURA']?>">
                                            <option value='' selected='selected'>SELECIONE</option>
                                            <? foreach ($unidadeMedida as $unidade){
                                                ?>
                                                <option value="<?=$unidade['ID']?>"  <?= isset($f['UNIDADE_FATURA']) && $f['UNIDADE_FATURA'] == $unidade['ID'] ? 'selected': '' ?> >
                                                    <?=  $unidade['UNIDADE'] ?>
                                                </option>";
                                            <? } ?>
                                        </select>
                                    </div>
                                    <div class="col-lg-2">
                                        <label>Quantidade</label>
                                        <input type="number" valor-antigo=" <?= $f['QUANTIDADE'];?>" disabled name="quantidade[<?=$f['ID']?>]" class="form-control col-lg-1 habilitar" value="<?= $f['QUANTIDADE'];?>" />
                                    </div>
                                    <div class="col-lg-3">
                                        <label>Valor</label>
                                        <input type="text" disabled name="valor[<?=$f['ID']?>]"  class="form-control valor habilitar" value="<?= number_format($row['VALOR_FATURA'] * $row['QUANTIDADE'], 2, ',', '.') ;?>" />

                                    </div>
                                    <div class="col-lg-2" >
                                        <label>Taxa</label>
                                        <input type="text" disabled name="taxa[<?=$f['ID']?>]" class="form-control valor habilitar" value="<?= number_format($row['DESCONTO_ACRESCIMO'], 2, ',', '.');?>" />
                                    </div>
                                    <div class="col-lg-2" >
                                        <label>Motivo</label>
                                        <select disabled class="form-control habilitar" name="motivo[<?=$f['ID']?>]">
                                            <option value='' selected='selected'>SELECIONE</option>
                                            <? foreach ($motivosGlosa as $motivo){
                                                ?>
                                                <option value="<?=$motivo['id']?>"  <?= isset($f['MOTIVO_GLOSA']) && $f['MOTIVO_GLOSA'] == $motivo['id'] ? 'selected': '' ?> >
                                                    <?=  $motivo['motivo'] ?>
                                                </option>";
                                            <? } ?>
                                        </select>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <input type="hidden" name="id_faturamento[<?=$f['ID']?>]"  value="<?=$f['ID']?>"/>
                                    </div>
                                </div>

                            </td>
                        </tr>

                    <?php }?>
                    </tbody>
                </table>




            <div class="col-lg-12 text-center">
                <div class="form-group">
                    <div   class='btn btn-primary'  id="salvar-consenso-faturamento">
                        Salvar
                    </div>
                </div>
            </div>
        </form>



            <?php }
        }
        ?>


    </div>
</div>
<div id="left">
    <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
</div>
</div>

<script type="text/javascript" src="/faturamento/consenso/js/main.js?v=3.1"></script>
<script type="text/javascript" src="/utils/jquery/js/validar_campos.js"></script>
<?php require __DIR__ . '/../../modal-add-item-faturamento/add-item-js.phtml' ?>


</body>
</html>