<?php require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>
<head>

    <meta charset="UTF-8">
    <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php');

    ?>
    <link rel="stylesheet" type="text/css" href="/utils/reports.css">
    <link rel="stylesheet" href="/utils/bootstrap-3.3.6-dist/css/bootstrap.min.css" />
    <script src="/utils/bootstrap-3.3.6-dist/js/bootstrap.min.js" ></script>
    <link rel="stylesheet" href="/utils/font-awesome-4.7.0/css/font-awesome.css" />


</head>
<div id="content">
    <div id="right">
        <div class="alert alert-info ">
            <strong class="glyphicon-info-sign glyphicon"></strong>
                Essa busca só traz documentos do tipo Fatura e que o status seja igual a Faturado.
        </div>


        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title pull-left" style="padding-top: 7.5px;">
                    <i class="fa fa-search" aria-hidden="true"></i> Pesquisar Faturas.</b>
                </h3>
            </div>
            <div class="panel-body">
                <form method="post" action="/faturamento/consenso/?action=consensoPesquisarFatura">
                    <div class="row" id="div-pesquisar-fatura">

                        <div class="col-lg-12">
                            <div class="form-group">

                                    <label class="control-label" for="paciente">Paciente:</label>
                                    <select name="paciente" id="paciente" class="form-control chosen-select OBG_CHOSEN ">
                                        <option value="">Selecione</option>

                                        <?php  foreach($pacientes as $p): ?>

                                            <option <?= isset($pacienteId) && $pacienteId == $p['idClientes'] ? 'selected': '' ?> value="<?= $p['idClientes'] ?>" > <?= mb_strtoupper($p['nome'],'UTF-8') ?></option>
                                        <?php endforeach; ?>
                                    </select>

                            </div>
                        </div>


                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="periodo">Inicio:</label>
                                <input name="inicio" type="date" class="form-control OBG" value='<?= isset($inicio)  ? $inicio : "" ?>' required>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="periodo">Fim:</label>
                                <input name="fim" type="date" class="form-control OBG" value='<?= isset($fim)  ? $fim : "" ?>' required>
                            </div>
                        </div>

                        <div class="col-lg-12 text-center">
                            <div class="form-group">
                                <button type="submit"  class='btn btn-primary'  id="consenso-pesquisar-fatura">
                                    Pesquisar
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <br>
        <?php
        if( isset($faturas) ){    ?>

            <br>
            <hr>
            <? if(empty($faturas)){ ?>
                <div class="alert alert-warning" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" ></span>
                    Nenhuma solicitação de devolução foi encontrada.
                </div>
            <?}else { ?>

                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th align="center" class="col-md-6">Paciente</th>
                        <th align="center" class="col-md-3">Período</th>
                        <th align="center" class="col-md-2">Plano</th>
                        <th  align="center" class="col-md-1">Ação</th>
                    </tr>
                    </thead>
                    <tbody>
                    <?php foreach($faturas as $f){
                        $labelStatus = $s['status'] == "CANCELADO" ? 'label-danger':'label-primary'?>
                        <tr>
                            <td >
                                <?= $f['paciente'];?>
                            </td>
                            <td class="text-lowercase">
                                <?= $f['inicio'];?> - <?= $f['fim'];?>
                            </td>
                            <td class="text">
                                <?= $f['plano'];?>
                            </td>
                            <td>
                               <div class="btn btn-success criar-consenso" id-fatura="<?= $f['ID'];?> ">
                                   <i class="fa fa-handshake-o" ></i>
                                   Concenso
                               </div>
                            </td>

                        </tr>

                    <?php }?>
                    </tbody>
                </table>



            <?php }
        }
        ?>


    </div>
</div>
<div id="left">
    <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
</div>
</div>

<script type="text/javascript" src="/faturamento/consenso/js/main.js?v=3"></script>
<script type="text/javascript" src="/utils/jquery/js/validar_campos.js"></script>


</body>
</html>