<?php require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>
<head>
    <meta charset="UTF-8">
    <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php'); ?>
    <link rel="stylesheet" type="text/css" href="/utils/reports.css">
    <link rel="stylesheet" href="/utils/bootstrap-3.3.6-dist/css/bootstrap.min.css" />
    <script src="/utils/bootstrap-3.3.6-dist/js/bootstrap.min.js" ></script>
    <link rel="stylesheet" href="/utils/font-awesome-4.7.0/css/font-awesome.css" />
</head>
<div id="content">
    <div id="right">
        <center><h1>Criar Bordero <?=$title?></h1></center>
        <br>
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title pull-left" style="padding-top: 7.5px;">
                    <i class="fa fa-search" aria-hidden="true"></i> Tipo do Bordero
                </h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12">
                        <label for="tipo_bordero">Tipo:</label>
                        <select name="tipo_bordero" id="tipo-bordero" class="form-control chosen-select" >
                            <option value="" selected>Selecione...</option>
                            <?php foreach($tipos_bordero as $tipo_bordero): ?>
                                <option value="<?= $tipo_bordero['id'] ?>"><?= '0' . $tipo_bordero['id'] . ' - ' . strtoupper($tipo_bordero['descricao_tipo']) ?></option>
                            <?php endforeach; ?>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title pull-left" style="padding-top: 7.5px;">
                    <i class="fa fa-search" aria-hidden="true"></i> Pesquisar Parcelas
                </h3>
            </div>
            <div class="panel-body" id="div-pesquisar-parcelas">
                <form id="form-parcelas">
                    <input type="hidden" id="tipo-nota" value="<?= $tipo ?>">
                    <input type="hidden" id="cod-banco" value="<?= $banco ?>">
                    <div class="row">
                        <div class="col-xs-7">
                            <label for="fornecedor">Fornecedor:</label>
                            <select name="fornecedor" id="fornecedor" class="form-control chosen-select" >
                                <option value="" selected>Selecione...</option>
                                <?php foreach($fornecedores as $fornecedor):
                                    $cpfCnpjFornecedor = $fornecedor['FISICA_JURIDICA'] == 1 ? $fornecedor['cnpj'] : $fornecedor['CPF'];?>
                                    <option value="<?= $fornecedor['idFornecedores'] ?>"><?=$cpfCnpjFornecedor.' - '.strtoupper($fornecedor['fornecedor']) ?></option>
                                <?php endforeach; ?>
                            </select>
                        </div>
                        <div class="col-xs-5">
                            <label for="tipo-documento-financeiro">Tipo:</label>
                            <select name="tipo_documento_financeiro" id="tipo-documento-financeiro" class="form-control chosen-select">
                                <option value="" selected>Selecione...</option>
                                <?php foreach($tiposDocumentoFinanceiro as $tipoDocFin):
                                    if($tipoDocFin['id'] <> 25): ?>
                                    <option value="<?= $tipoDocFin['id'] ?>"><?= strtoupper($tipoDocFin['sigla']) ?> - <?= strtoupper($tipoDocFin['descricao']) ?> </option>
                                    <?php endif;
                            endforeach; ?>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <label for="tr-parcela">TR:</label>
                            <input type="number" name="tr_parcela" id="tr-parcela" class="form-control">
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="inicio">Venc. Real Inicio:</label>
                                <input name="inicio" id="inicio" type="date" class="form-control" value='<?= isset($inicio)  ? $inicio : "" ?>' required>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="fim">Venc. Real Fim:</label>
                                <input name="fim"  id="fim" type="date" class="form-control" value='<?= isset($fim)  ? $fim : "" ?>' required>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 text-center">
                        <div  class="btn btn-primary" id="pesquisar-parcelas">
                            <span class='ui-button-text'>Buscar</span>
                        </div>
                        &nbsp;&nbsp;
                        <a  href="/financeiros/cnab/?action=index-bordero"
                            style="color: white;"
                            class='btn btn-warning' >
                            Voltar
                        </a>
                    </div>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <table class='table table-striped table-bordered' width='100%' >
                    <thead>
                    <tr>
                        <th></th>
                        <th>N° Documento</th>
                        <th>Fornecedor</th>
                        <th>Vencimento Real</th>
                        <th align="center">Tipo</th>
                        <th colspan='1'>Valor</th>
                        <th colspan='1'>Total Individual </th>
                    </tr>
                    </thead>
                    <tbody id="tbody-bordero">
                    <tr>
                        <td id="info-bordero" colspan="7" style="text-align: center">
                            Use a <b>Busca</b> para encontrar as parcelas que deseja adicionar ao bordero!
                        </td>
                    </tr>
                    </tbody>
                    <tfooter>
                        <tr>
                            <td colspan="5" style="text-align: right">
                                <input type="hidden" id="valor-total" value="0.00">
                                <b>Total:</b>
                            </td>
                            <td colspan="5" style="text-align: left" id="valor-total-text">
                                <b>R$ 0,00</b>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="7" style="text-align: center">
                                <button class="btn btn-success" id="dados-bordero" role="button" type="button">
                                    Finalizar
                                </button>
                            </td>
                        </tr>
                    </tfooter>
                </table>
            </div>
        </div>

        <hr id="separator">
        <?php require __DIR__ . '/modal-associar-parcelas.phtml' ?>
        <?php require __DIR__ . '/modal-dados-bordero.phtml' ?>
        <hr id="separator">
    </div>
    <div id="left">
        <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
    </div>
</div>
<script type="text/javascript" src="/financeiros/cnab/js/main.js?v=2.5"></script>
<script type="text/javascript" src="/utils/jquery/js/chosen.jquery.min.js"></script>
<script type="text/javascript" src="/utils/jquery/js/validar_campos.js"></script>

</body>
</html>