<?php require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>
<head>
    <meta charset="UTF-8">
    <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php'); ?>
    <link rel="stylesheet" type="text/css" href="/utils/reports.css">
    <link rel="stylesheet" href="/utils/bootstrap-3.3.6-dist/css/bootstrap.min.css" />
    <script src="/utils/bootstrap-3.3.6-dist/js/bootstrap.min.js" ></script>
    <link rel="stylesheet" href="/utils/font-awesome-4.7.0/css/font-awesome.css" />
</head>
<div id="content">
    <div id="right">
        <center><h1>Editar Bordero <?=$title?></h1></center>
        <br>
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title pull-left" style="padding-top: 7.5px;">
                    <i class="fa fa-search" aria-hidden="true"></i> Tipo do Bordero
                </h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12">
                        <label for="tipo_bordero">Tipo:</label>
                        <select name="tipo_bordero" id="tipo-bordero" class="form-control chosen-select" >
                            <option value="" selected>Selecione...</option>
                            <?php foreach($tipos_bordero as $tipo_bordero): ?>
                                <option <?= ($bordero['dados']['bordero_tipo_id'] == $tipo_bordero['id'] ? 'selected' : '') ?> value="<?= $tipo_bordero['id'] ?>"><?= '0' . $tipo_bordero['id'] . ' - ' . strtoupper($tipo_bordero['descricao_tipo']) ?></option>
                            <?php endforeach; ?>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title pull-left" style="padding-top: 7.5px;">
                    <i class="fa fa-search" aria-hidden="true"></i> Pesquisar Parcelas
                </h3>
            </div>
            <div class="panel-body" id="div-pesquisar-parcelas">
                <form id="form-parcelas">
                    <input type="hidden" id="tipo-nota" value="<?= $tipo ?>">
                    <input type="hidden" id="cod-banco" value="<?= $banco ?>">
                    <div class="row">
                        <div class="col-xs-7">
                            <label for="fornecedor">Fornecedor:</label>
                            <select name="fornecedor" id="fornecedor" class="form-control chosen-select" >
                                <option value="" selected>Selecione...</option>
                                <?php foreach($fornecedores as $fornecedor): ?>
                                    <option value="<?= $fornecedor['idFornecedores'] ?>"><?= strtoupper($fornecedor['fornecedor']) ?></option>
                                <?php endforeach; ?>
                            </select>
                        </div>
                        <div class="col-xs-5">
                            <label for="tipo-documento-financeiro">Tipo:</label>
                            <select name="tipo_documento_financeiro" id="tipo-documento-financeiro" class="form-control chosen-select">
                                <option value="" selected>Selecione...</option>
                                <?php foreach($tiposDocumentoFinanceiro as $tipoDocFin): ?>
                                    <option value="<?= $tipoDocFin['id'] ?>"><?= strtoupper($tipoDocFin['sigla']) ?> - <?= strtoupper($tipoDocFin['descricao']) ?> </option>
                                <?php endforeach; ?>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <label for="tr-parcela">TR:</label>
                            <input type="number" name="tr_parcela" id="tr-parcela" class="form-control">
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="inicio">Vencimento Real Inicio:</label>
                                <input name="inicio" id="inicio" type="date" class="form-control OBG" value='<?= isset($inicio)  ? $inicio : "" ?>' required>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="fim">Vencimento Real Fim:</label>
                                <input name="fim"  id="fim" type="date" class="form-control OBG" value='<?= isset($fim)  ? $fim : "" ?>' required>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 text-center">
                        <div  class="btn btn-primary" id="pesquisar-parcelas">
                            <span class='ui-button-text'>Buscar</span>
                        </div>
                        &nbsp;&nbsp;
                        <a  href="/financeiros/cnab/?action=index-bordero"
                            style="color: white;"
                            class='btn btn-warning' >
                            Voltar
                        </a>
                    </div>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <input type="hidden" name="bordero_id" id="bordero-id" value="<?= $bordero['dados']['id'] ?>">
                <table class='table table-striped table-bordered' width='100%' >
                    <thead>
                    <tr>
                        <th></th>
                        <th>N° Documento</th>
                        <th>Fornecedor</th>
                        <th>Vencimento Real</th>
                        <th align="center">Tipo</th>
                        <th colspan='1'>Valor</th>
                        <th colspan='1'>Total Individual</th>
                    </tr>
                    </thead>
                    <tbody id="tbody-bordero">
                    <?php
                    $total = 0.00;
                    foreach ($bordero['parcelas'] as $row):
                        $total += ($row['valor_pagar'] + $row['JurosMulta'] + $row['OUTROS_ACRESCIMOS']) - $row['desconto'];
                        $totalParcela = ($row['valor_pagar'] + $row['JurosMulta'] + $row['OUTROS_ACRESCIMOS']) - $row['desconto'];
                        ?>
                        <tr class="tr-parcela-bordero">
                            <td>
                                <button title="Remover Parcela" type="button" role="button"
                                        class="btn btn-danger remover-parcela">
                                    <i class="fa fa-times"></i>
                                </button>
                                <input type="hidden" valor-parcela="<?= $row['valor_pagar'] ?>" name="parcelas[<?= $row['idNota'] ?>][]"
                                       class="parcelas-bordero" value="<?= $row['parcela_id'] ?>" />
                            </td>
                            <td><?= $row['codigo'] ?></td>
                            <td><?= $row['nome_fornecedor'] ?></td>
                            <td><input type="date" class="form-control vencimentos" name="vencimentos[<?= $row['parcela_id'] ?>]" value="<?= $row['vencimento_parcela'] ?>"></td>
                            <td><?= $row['sigla'] ?></td>
                            <td class='valor_real'>
                                R$ <?= number_format($row['valor_pagar'],2, ',', '.') ?>
                                <input type='hidden' name='valores_parcelas[<?= $row['parcela_id'] ?>]' class='valores_parcelas' value='<?= number_format($row['valor_pagar'],2, ',', '.') ?>'>
                            </td>
                            <td class='total_individual' total-individual = '<?=$totalParcela?>' style='vertical-align: middle'>R$ <?= number_format($totalParcela,2, ',', '.') ?></td>
                        </tr>
                        <tr class='tr-parcela-codigo-barra'>
                            <td style='vertical-align: middle' colspan='3'><b>Código de Barras: <br> <?= $row['codBarras'] ?></b></td>
                            <td><b>Juros (R$):</b> <input type='text' class='form-control valor juros' name='juros[<?= $row['parcela_id'] ?>]' value='<?= number_format($row['JurosMulta'],2, ',', '.') ?>'></td>
                            <td><b>Desconto (R$):</b> <input type='text' class='form-control valor descontos' name='descontos[<?= $row['parcela_id'] ?>]' value='<?= number_format($row['desconto'],2, ',', '.') ?>'></td>
                            <td><b>Adicionais (R$):</b> <input type='text' class='form-control valor adicionais' name='tarifas_adicionais[<?= $row['parcela_id'] ?>]' value='<?= number_format($row['OUTROS_ACRESCIMOS'],2, ',', '.') ?>'></td>
                        </tr>
                    <?php endforeach; ?>
                    </tbody>
                    <tfooter>
                        <tr>
                            <td colspan="5" style="text-align: right">
                                <input type="hidden" id="valor-total" value="<?= $total ?>">
                                Total:
                            </td>
                            <td colspan="5" style="text-align: left" id="valor-total-text">
                                R$ <?= number_format($total, 2, ',', '.') ?>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="7" style="text-align: center">
                                <button class="btn btn-success" id="dados-bordero" role="button" type="button">
                                    Atualizar
                                </button>
                            </td>
                        </tr>
                    </tfooter>
                </table>
            </div>
        </div>

        <hr id="separator">
        <?php require __DIR__ . '/modal-associar-parcelas.phtml' ?>
        <?php require __DIR__ . '/modal-dados-bordero.phtml' ?>
        <hr id="separator">
    </div>
    <div id="left">
        <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
    </div>
</div>
<script type="text/javascript" src="/financeiros/cnab/js/main.js?v=2.3"></script>
<script type="text/javascript" src="/utils/jquery/js/chosen.jquery.min.js"></script>
<script type="text/javascript" src="/utils/jquery/js/validar_campos.js"></script>

</body>
</html>