<?php require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>
<head>
    <meta charset="UTF-8">
    <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php'); ?>
    <link rel="stylesheet" type="text/css" href="/utils/reports.css">
    <link rel="stylesheet" href="/utils/bootstrap-3.3.6-dist/css/bootstrap.min.css" />
    <script src="/utils/bootstrap-3.3.6-dist/js/bootstrap.min.js" ></script>
    <link rel="stylesheet" href="/utils/font-awesome-4.7.0/css/font-awesome.css" />
</head>
<div id="content">
    <div id="right">
        <center><h1>Importar Retorno Cnab</h1></center>
        <br>
        <?php
        $display = "none";
        if (isset($_GET['msg']) && !empty($_GET['msg'])) {
            $msg = base64_decode($_GET['msg']);
            $display = "block";
            $class = "alert-danger";
            if (isset($_GET['type']) && $_GET['type'] == 's') {
                $class = "alert-success";
            }
        }
        ?>

        <div style="display:<?= $display ?> " class="alert <?= $class ?>">
            <strong><?= $msg ?></strong>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title pull-left" style="padding-top: 7.5px;">
                    <i class="fa fa-search" aria-hidden="true"></i> Arquivo de retorno
                </h3>
            </div>
            <div class="panel-body" id="div-upload-retorno">
                <form id="form-upload-retorno" method="post" enctype="multipart/form-data" action="/financeiros/cnab/?action=upload-retorno-cnab" class="form-horizontal">
                    <div class="form-group">
                        <div class="col-xs-1">
                            <label for="arquivo-retorno">Arquivo:</label>
                        </div>
                        <div class="col-xs-6">
                            <input type="file" name="arquivo_retorno" id="arquivo-retorno" value="">
                        </div>
                    </div>

                    <div class="col-md-12 text-center">
                        <button type="submit" class="btn btn-primary">
                            <span class='ui-button-text'>Processar</span>
                        </button>
                        &nbsp;&nbsp;
                        <a  href="/financeiros/cnab/?action=index-bordero"
                            style="color: white;"
                            class='btn btn-warning' >
                            Voltar
                        </a>
                    </div>
                </form>
            </div>
        </div>
        <?php //echo '<pre>'; die(print_r($response)); ?>
        <div class="row">
            <div class="col-xs-12">
                <?php if(isset($response) && !empty($response)): ?>
                    <div id="response" class="col-md-12" style="overflow: auto">
                        <?php
                        if(!empty($response['erros'])):
                            ?>
                        <div class="alert alert-warning">
                            <ul>
                                <?php foreach ($response['erros'] as $erro): ?>
                                    <li><?= utf8_decode($erro); ?></li>
                                <?php endforeach; ?>
                            </ul>
                        </div>
                        <?php endif; ?>
                        <form action="?action=baixar-parcelas-retorno" method="post">
                            <input type="hidden" name="banco" value="<?= $result['banco'] ?>">
                            <input type="hidden" name="agencia" value="<?= $result['agencia'] ?>">
                            <input type="hidden" name="conta" value="<?= $result['conta'] ?>">
                            <table class='table table-bordered table-striped table-parcelas-retorno' width='100%' >
                                <thead>
                                <tr>
                                    <th>
                                        <input style='width: 1.3em; height: 1.3em;' type="checkbox" checked class="marcar-todos" title="Marcar todos">
                                    </th>
                                    <th class="text-center">Tipo Transação</th>
                                    <th class="text-center">N° Doc.</th>
                                    <th class="text-center">TR</th>
                                    <th class="text-center">Parcela N°</th>
                                    <th class="text-center">Tipo Doc.</th>
                                    <th class="text-center">UR</th>
                                    <th class="text-center">Fornecedor</th>
                                    <th class="text-center">Venc. Real</th>
                                    <th class="text-center">Data Pagto.</th>
                                    <th class="text-center">Valor Pago</th>
                                </tr>
                                </thead>
                                <tbody id="tbody-parcelas-result">
                                <?php
                                $total = 0.00;
                                foreach ($response as $row):
                                    $total += (float) $row['valorPago'];
                                    $dataPagto = \DateTime::createFromFormat('Y-m-d', $row['dataPagamento']);
                                    $json = [
                                        'segmento' => $row['segmento'],
                                        'codigoTransacao' => $row['codigoTransacao'],
                                        'dataPagamento' => $row['dataPagamento'],
                                        'valorPago' => $row['valorPago'],
                                    ];
                                    $json = json_encode($json);
                                    switch ($row['segmento']) {
                                        case 'A':
                                            $tipoTransacao = 'TED';
                                            break;
                                        case 'J':
                                            $tipoTransacao = 'TÍTULO BANCÁRIO';
                                            break;
                                        case 'N':
                                            $tipoTransacao = 'TRIBUTO';
                                            break;
                                        case 'O':
                                            $tipoTransacao = 'CONCESSIONÁRIA';
                                            break;
                                    }
                                   

                                    $bgColor = count($row['parcelasBD']) == 0 ? 'style="background-color: #ff7f50 !important;"' : '';
                                    $checked = !empty($row['parcelasBD']) ? 'checked' : '';
                                    $idNota = isset($row['parcelasBD']['idNota']) ? $row['parcelasBD']['idNota'] : '';
                                    $tr = isset($row['parcelasBD']['TR']) ? $row['parcelasBD']['TR'] : '';
                                    $tipoDoc = isset($row['parcelasBD']['tipo_doc']) ? $row['parcelasBD']['tipo_doc'] : '';
                                    $ur = isset($row['parcelasBD']['ur']) ? $row['parcelasBD']['ur'] : '';
                                    $fornecedor = isset($row['parcelasBD']['nomeFornecedor']) ? $row['parcelasBD']['nomeFornecedor'] : '';
                                    $vencimento = isset($row['parcelasBD']['vencimento_real']) ?
                                        \DateTime::createFromFormat('Y-m-d', $row['parcelasBD']['vencimento_real'])->format('d/m/Y') :
                                        '';
                                    $checkbox = "<input style='width: 1.3em; height: 1.3em;' type='checkbox' {$checked} name='parcelas[{$row['codigoSistema']}]' value='{$json}'>";
                                    $dataFechamento = \DateTime::createFromFormat('Y-m-d', $fechamento_caixa['data_fechamento']);
                                    if($dataPagto <= $dataFechamento) {
                                        $title = "Data do pagamento menor ou igual a data do fechamento do período! Não será possível realizar a baixa";
                                        $checkbox = "<i title='{$title}' style='color: red' class='fa fa-warning'></i>";
                                    }
                                    $title = '';
                                    if(count($row['parcelasBD']) == 0) {
                                        //$checkbox = '<i class="fa fa-warning" title="Parcela não encontrada no sistema!"></i>';
                                        $checkbox = '';
                                        $title = "Parcela não encontrada no sistema!";
                                    } else {
                                        if ($row['parcelasBD']['status'] == 'Processada' || $row['parcelasBD']['CONCILIADO'] == 'S') {
                                            $checkbox = '<i class="fa fa-warning" ></i>';
                                           // $checkbox = '';
                                            $title = "Parcela processada e/ou conciliada no sistema!";
                                        }
                                    }
                                    if($result['banco'] == 341){
                                        
                                        if(!array_key_exists('00', $row['ocorrencia'])){
                                            $checkbox = '<i class="fa fa-warning" ></i>';
                                            $bgColor = 'style="background-color: #ff7f50 !important;"'; 
                                            $title = "Pagamento não foi processado no banco! Não foi encontrado cod 00 no retorno.";
                                        }

                                    }
                                    ?>
                                    <tr class="tr-parcelas-retorno" title="<?= $title ?>" <?= $bgColor ?>>
                                        <td valign="middle">
                                            <?= $checkbox ?>
                                        </td>
                                        <td><?= $tipoTransacao ?></td>
                                        <td><?= $row['codigoTransacao'] ?></td>
                                        <td><?= $idNota ?></td>
                                        <td><?= $tr ?>º</td>
                                        <td><?= $tipoDoc ?></td>
                                        <td><?= $ur ?></td>
                                        <td><?= $fornecedor ?></td>
                                        <td><?= $vencimento ?></td>
                                        <td><?= $dataPagto->format('d/m/Y') ?></td>
                                        <td>R$ <?= number_format($row['valorPago'], 2, ',', '.') ?></td>
                                    </tr>
                                <?php endforeach; ?>
                                </tbody>
                                <tfooter>
                                    <tr>
                                        <td colspan="9" style="text-align: right">
                                            <input type="hidden" id="valor-total" value="0.00">
                                            <b>Total:</b>
                                        </td>
                                        <td colspan="2" style="text-align: right" id="valor-total-text">
                                            <b>R$ <?= number_format($total, 2, ',', '.') ?></b>
                                        </td>
                                    </tr>
                                </tfooter>
                            </table>

                            <div class="col-md-12 text-center">
                                <button type="submit" class="btn btn-success">
                                    <span class='ui-button-text'>Baixar Selecionados</span>
                                </button>
                            </div>
                        </form>
                    </div>
                <?php endif; ?>
            </div>
        </div>
    </div>
    <div id="left">
        <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
    </div>
</div>
<script type="text/javascript" src="/financeiros/cnab/js/main.js?v=1.1"></script>
<script type="text/javascript" src="/utils/jquery/js/chosen.jquery.min.js"></script>
<script type="text/javascript" src="/utils/jquery/js/validar_campos.js"></script>

</body>
</html>