<?php

use App\Helpers\StringHelper;

 require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>
<head>
    <meta charset="UTF-8">
    <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php'); ?>
    <link rel="stylesheet" type="text/css" href="/utils/reports.css">
    <link rel="stylesheet" href="/utils/bootstrap-3.3.6-dist/css/bootstrap.min.css" />
    <script src="/utils/bootstrap-3.3.6-dist/js/bootstrap.min.js" ></script>
    <link rel="stylesheet" href="/utils/font-awesome-4.7.0/css/font-awesome.css" />
</head>
<div id="content">
    <div id="right">
        <center><h1>Importar Varredura Cnab Itaú</h1></center>
        <br>
        <?php
        $display = "none";
        if (isset($_GET['msg']) && !empty($_GET['msg'])) {
            $msg = base64_decode($_GET['msg']);
            $display = "block";
            $class = "alert-danger";
            if (isset($_GET['type']) && $_GET['type'] == 's') {
                $class = "alert-success";
            }
        }
        ?>

        <div style="display:<?= $display ?> " class="alert <?= $class ?>">
            <strong><?= $msg ?></strong>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title pull-left" style="padding-top: 7.5px;">
                    <i class="fa fa-search" aria-hidden="true"></i> Arquivo de Varredura
                </h3>
            </div>
            <div class="panel-body" id="div-upload-retorno">
                <form id="form-upload-retorno" method="post" enctype="multipart/form-data" action="/financeiros/cnab/?action=upload-varredura-cnab" class="form-horizontal">
                    <div class="form-group">
                        <div class="col-xs-1">
                            <label for="arquivo-varredura">Arquivo:</label>
                        </div>
                        <div class="col-xs-6">
                            <input type="file" name="arquivo_varredura" id="arquivo-varredura" value="">
                        </div>
                    </div>

                    <div class="col-md-12 text-center">
                        <button type="submit" class="btn btn-primary">
                            <span class='ui-button-text'>Processar</span>
                        </button>
                        &nbsp;&nbsp;
                        <a  href="/financeiros/cnab/?action=index-bordero"
                            style="color: white;"
                            class='btn btn-warning' >
                            Voltar
                        </a>
                    </div>
                </form>
            </div>
        </div>
        <?php //echo '<pre>'; die(print_r($response)); ?>
        <div class="row">
            <div class="col-xs-12">
                <?php if(isset($response) && !empty($response)): ?>
                    <div id="response" class="col-md-12" style="overflow: auto">
                        <?php
                        if(!empty($response['erros'])):
                            ?>
                        <div class="alert alert-warning">
                            <ul>
                                <?php foreach ($response['erros'] as $erro): ?>
                                    <li><?= utf8_decode($erro); ?></li>
                                <?php endforeach; ?>
                            </ul>
                        </div>
                        <?php endif; ?>
                        <form action="?action=associar-varredura-parcela" method="post">
                            
                            <table class='table table-bordered table-striped table-parcelas-retorno' width='100%' >
                                <thead>
                                <tr>                                   
                                    <th class="text-center">Fornecedor</th>
                                    <th class="text-center">Vencimento</th>
                                    <th class="text-center">Valor</th>
                                    <th class="text-center">Cod Barras</th>                                    
                                </tr>
                                </thead>
                                <tbody >
                                    <?php 
                                     
                                    foreach ($response as $rowFornecedor):
                                        foreach($rowFornecedor as $rowVencimento):
                                            foreach($rowVencimento as $rowValor):
                                                foreach($rowValor as  $row):
                                                    
                                                    if(isset($row['valorFormatado'])):
                                                 
                                                    $vencimentoVarredura = $row['vencimento']->format('d/m/Y');
                                                    $fornecedorVarredura = $row['fornecedor'];          
                                                    $codBarrasVarredura = $row['codBarras'];
                                                    $cpfCnpjVarredura = $row['cpfCnpjFormatado'];
                                                    $valorVarredura = $row['valorFormatado'];
                                                ?>
                                                    <tr>
                                                        <td><?= $cpfCnpjVarredura.' '.$fornecedorVarredura ?></td>
                                                        <td><?= $vencimentoVarredura ?></td>
                                                        <td>R$ <?= number_format($valorVarredura, 2, ',', '.') ?></td>                                        
                                                        <td><?= $codBarrasVarredura ?></td> 
                                                                                                          
                                                                                             
                                                    </tr>
                                                    <?php  if(isset($rowValor['parcela'])):?>
                                                        <tr style="background-color: coral;">
                                                            <td colspan='4'>
                                                                <table class='table table-striped table-bordered' width='100%'>
                                                                    <thead>
                                                                        <tr>
                                                                            <th class="text-center">TR</th>     
                                                                            <th class="text-center">Status</th>                           
                                                                            <th class="text-center">Fornecedor</th>
                                                                            <th class="text-center">Vencimento</th>
                                                                            <th class="text-center">Valor</th>
                                                                            <th class="text-center">Cod Barras</th>                                    
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                    <?php foreach($rowValor['parcela'] as $p):?>
                                                                    <tr>
                                                                            <td><?=$p['tr'].'-'.$p['sequencia']?></td>
                                                                            <td><?=$p['status']?></td>
                                                                            <td><?=$p['cpfCnpj'].' '.$p['fornecedor']?></td>
                                                                            <td><?=$p['vencimento']?></td>
                                                                            <td><?=$p['valor']?></td>                                        
                                                                            <td><?=$p['codBarras']?></td>                                                                                                         
                                                                        </tr>                                                        
                                                                        <? endforeach ?>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    <?
                                                        endif;
                                                    endif;
                                                endforeach;
                                            endforeach;
                                        endforeach;
                                    endforeach;                                        
                                      
                                                    
                                    ?>                               
                                
                                </tbody>
                                
                            </table>

                            <!-- <div class="col-md-12 text-center">
                                <button type="submit" class="btn btn-success">
                                    <span class='ui-button-text'>Baixar Selecionados</span>
                                </button>
                            </div> -->
                        </form>
                    </div>
                <?php endif; ?>
            </div>
        </div>
    </div>
    <div id="left">
        <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
    </div>
</div>
<script type="text/javascript" src="/financeiros/cnab/js/main.js?v=1.1"></script>
<script type="text/javascript" src="/utils/jquery/js/chosen.jquery.min.js"></script>
<script type="text/javascript" src="/utils/jquery/js/validar_campos.js"></script>

</body>
</html>