<?php require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>
<head>
    <meta charset="UTF-8">
    <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php'); ?>
    <link rel="stylesheet" type="text/css" href="/utils/reports.css">
    <link rel="stylesheet" href="/utils/bootstrap-3.3.6-dist/css/bootstrap.min.css" />
    <script src="/utils/bootstrap-3.3.6-dist/js/bootstrap.min.js" ></script>
    <link rel="stylesheet" href="/utils/font-awesome-4.7.0/css/font-awesome.css" />
</head>
<div id="content">
    <div id="right">
        <center><h1>Bordero</h1></center>
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title pull-left" style="padding-top: 7.5px;">
                    <i class="fa fa-search" aria-hidden="true"></i>
                    Pesquisar Borderos
                </h3>
                <?php if(isset($_SESSION['permissoes']['financeiro']['financeiro_conta_pagar_receber']['financeiro_conta_pagar_receber_fatura_aglutinacao']['financeiro_conta_pagar_receber_fatura_aglutinacao_nova']) || $_SESSION['adm_user'] == 1) { ?>

                <div class="btn-group pull-right">
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                            Novo Bordero
                            <span class="caret"></span>
                        </button>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>   
                                    <a class="dropdown-item" href="/financeiros/cnab/?action=criar-bordero&banco=33">Santander</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/financeiros/cnab/?action=criar-bordero&banco=341">Itaú</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/financeiros/cnab/?action=criar-bordero&banco=237">Bradesco</a>
                                </li>
                            </ul>
                    </div>
                </div>
                <?php } ?>
                <?php if(isset($_SESSION['permissoes']['financeiro']['financeiro_conta_pagar_receber']['financeiro_conta_pagar_receber_fatura_aglutinacao']['financeiro_conta_pagar_receber_fatura_aglutinacao_nova']) || $_SESSION['adm_user'] == 1) { ?>
                    <div class="btn-group pull-right">
                        <a class="btn btn-default" href="/financeiros/cnab/?action=importar-varredura-cnab" style="color: #000000;">
                            Importar Varredura Cnab
                        </a>
                    </div>
                    <div class="btn-group pull-right">
                        <a class="btn btn-default" href="/financeiros/cnab/?action=importar-retorno-cnab" style="color: #000000;">
                            Importar Retorno Cnab
                        </a>
                    </div>
                <?php } ?>
            </div>
            <div class="panel-body" id="div-pesquisar-faturas-previsao-cadastrada">
                <form method="post" id="form-pesquisa-bordero" action="/financeiros/cnab/?action=index-bordero">
                    <div class="row">
                        <div class="col-xs-6">
                            <label for="contas">Código Bordero:</label>
                            <input type="number" name="codigo_bordero" id="codigo-bordero" class="form-control" value="<?= isset($filtros['codigo_bordero'])  ? $filtros['codigo_bordero'] : "" ?>">
                        </div>
                        <div class="col-xs-6">
                            <label for="contas">Conta(s):</label>
                            <select name="contas[]" id="conta" multiple class="form-control chosen-select" data-placeholder="Selecione uma ou mais contas..." >
                                <?php foreach($contas as $conta): ?>
                                    <option <?= isset($filtros['contas']) && in_array($conta['id'], $filtros['contas']) ? "selected" : "" ?> value="<?= $conta['id'] ?>">
                                        <?= $conta['forma'] ?> - <?= $conta['abreviacao'] ?> - <?= $conta['agencia'] ?> - <?= $conta['conta'] ?> - <?= $conta['ur'] ?>
                                    </option>
                                <?php endforeach; ?>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <label for="bancos">Banco(s):</label>
                            <select name="bancos[]" id="bancos" multiple class="form-control OBG_CHOSEN chosen-select" data-placeholder="Selecione um ou mais bancos..." >
                                <?php foreach($bancos as $banco): ?>
                                    <option <?= isset($filtros['bancos']) && in_array($banco['id'], $filtros['bancos']) ? "selected" : "" ?> value="<?= $banco['id'] ?>">
                                        <?= \App\Helpers\StringHelper::stringPad($banco['COD_BANCO'], 3) ?> - <?= $banco['forma'] ?>
                                    </option>
                                <?php endforeach; ?>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label for="inicio">Emissão Inicio:</label>
                                <input name="inicio" id="inicio" type="date" class="form-control OBG" value='<?= isset($filtros['inicio'])  ? $filtros['inicio'] : "" ?>'>
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label for="fim">Emissão Fim:</label>
                                <input name="fim"  id="fim" type="date" class="form-control OBG" value='<?= isset($filtros['fim'])  ? $filtros['fim'] : "" ?>'>
                            </div>
                        </div>
                    </div>
                    <br>

                    <div class="col-xs-12 text-center">
                        <button type="button" id="pesquisar-bordero" class="btn btn-primary" >
                            <span class='ui-button-text'>Pesquisar</span>
                        </button>
                        &nbsp;&nbsp;
                        <a  href="/financeiros"
                            style="color: white;"
                            class='btn btn-warning' >
                            Voltar
                        </a>
                    </div>
                </form>
                <br>
            </div>
        </div>

        <div class="row">
            <?php if(!empty($response)): ?>
                <div class="col-xs-12">
                    <div>
                        <table class='table table-striped table-bordered' width='100%'>
                            <thead>
                            <tr>
                                <th>Código</th>
                                <th>Tipo</th>
                                <th>Banco/Conta</th>
                                <th>Total a Pagar</th>
                                <th>Criado Em</th>
                                <th>Criado Por</th>
                                <th>Cnab Válido</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody id="tbody-bordero">
                            <?php
                            foreach($response as $resp):
                                $situacao_text = \App\Models\Financeiro\Bordero::getSituacaoCnab($resp['id']);
                                $situacao = is_bool($situacao_text) ? true : false;
                                ?>
                                <tr title="<?= $situacao_text != false ? $situacao_text : '' ?>" class="<?= (!$resp['has_processadas'] && $situacao ? 'success' : 'danger') ?>">
                                    <td><?= $resp['id'] ?></td>
                                    <td><?= $resp['bordero_tipo_id'] ?> - <?= $resp['descricao_tipo'] ?></td>
                                    <td><?= \App\Helpers\StringHelper::stringPad($resp['cod_banco'], 3) ?> - <?= $resp['conta'] ?></td>
                                    <td>R$ <?= number_format(\App\Models\Financeiro\Bordero::getTotalAPagarBordero($resp['id'])['total'], 2, ',', '.') ?></td>
                                    <td><?= $resp['criado_em'] ?></td>
                                    <td><?= $resp['criado_por'] ?></td>
                                    <td><?= (!$resp['has_processadas'] && $situacao ? 'Sim' : 'Não') ?></td>
                                    <td>
                                        <div class="dropdown">
                                            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                                                Opções
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-right">
                                                <li>
                                                    <a href="#" id="visualizar-parcelas-bordero" id-bordero="<?= $resp['id'] ?>">
                                                        <i class='fa fa-list'></i>
                                                        Detalhamento
                                                    </a>
                                                </li>
                                                <li>
                                                    <a target="_blank" href="/financeiros/cnab/?action=imprimir-bordero&bordero=<?= $resp['id'] ?>">
                                                        <i class='fa fa-print'></i>
                                                        Imprimir
                                                    </a>
                                                </li>
                                                
                                                <li>
                                                    <a href="/financeiros/cnab/?action=editar-bordero&bordero=<?= $resp['id'] ?>&banco=<?php echo \App\Helpers\StringHelper::stringPad($resp['cod_banco'], 3)?>" target="_blank">
                                                        <i class='fa fa-edit'></i>
                                                        Editar
                                                    </a>
                                                </li>
                                               
                                                <?php if(!$resp['has_processadas'] && $situacao): ?>
                                                    <li>
                                                        <a href="/financeiros/cnab/?action=gerar-cnab&bordero=<?= $resp['id'] ?>" id="gerar-cnab" target="_blank">
                                                            <i class='fa fa-file'></i>
                                                            Gerar CNAB
                                                        </a>
                                                    </li>
                                                <?php endif; ?>
                                                <?php if(!$resp['has_processadas']): ?>
                                                <li>
                                                    <?php //if(isset($_SESSION['permissoes']['financeiro']['financeiro_conta_pagar_receber']['financeiro_conta_pagar_receber_fatura_aglutinacao']['financeiro_conta_pagar_receber_fatura_aglutinacao_excluir']) || $_SESSION['adm_user'] == 1): ?>
                                                        <a href="#" id="desfazer-bordero" id-bordero="<?= $resp['id'] ?>">
                                                            <i class='fa fa-times'></i>
                                                            Desfazer Bordero
                                                        </a>
                                                   
                                                </li>
                                                <?php endif; ?>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            <?php endforeach; ?>
                            </tbody>
                        </table>
                    </div>
                </div>
                <?php require __DIR__ . '/modal-visualizar-parcelas.phtml' ?>
            <?php else:?>
                <div class="col-xs-12 text-center">
                    <div class="alert alert-warning">
                        <b>Nenhum bordero encontrado para os filtros escolhidos.</b>
                    </div>
                </div>
            <?php endif; ?>
        </div>
    </div>
    <div id="left">
        <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
    </div>
</div>
<script type="text/javascript" src="/financeiros/cnab/js/main.js?v=1.8"></script>
<script type="text/javascript" src="/utils/jquery/js/chosen.jquery.min.js"></script>
<script type="text/javascript" src="/utils/jquery/js/voltar.js"></script>
<script type="text/javascript" src="/utils/jquery/js/validar_campos.js"></script>

</body>
</html>