<!-- Modal -->
<style>
    .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
        background-color: #eee;
    }
</style>
<div class="modal fade" id="modal-add-parcelas" tabindex="-1" role="dialog" aria-labelledby="modalAddItemLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header" style="color: #">
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="modalAddItemLabel">Adicionar parcelas ao Bordero</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-md-12">
                        <div id="response"  class="col-md-12" style="overflow: auto">
                            <table class='table table-striped table-hover table-bordered table-parcelas-buscar' width='100%' >
                                <thead>
                                <tr>
                                    <th>
                                        <input type="checkbox" class="marcar-todos" title="Marcar todos">
                                    </th>
                                    <th class="text-center">Tr</th>
                                    <th class="text-center">N° Documento</th>
                                    <th class="text-center">Parcela N°</th>
                                    <th class="text-center">UR</th>
                                    <th class="text-center">Fornecedor</th>
                                    <th class="text-center">Data da Emissão</th>
                                    <th class="text-center">Venc. Real</th>
                                    <th class="text-center">Valor</th>
                                    <th class="text-center">Tipo</th>
                                    <th class="text-center">Forma</th>
                                </tr>
                                </thead>
                                <tbody id="tbody-parcelas-result">
                                <tr class="tr-parcelas-buscar">
                                    <td colspan="12"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-lg-12 text-center">
                        <button type="button" class="btn btn-success" data-dismiss="modal" id="adicionar-parcela">Adicionar Parcela +</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
