<!-- Modal -->
<div class="modal fade" id="modal-dados-bordero" tabindex="-1" role="dialog" aria-labelledby="modalDadosBorderoLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="modalDadosNotaLabel">Dados do Bordero</h4>
            </div>
            <div class="modal-body form-horizontal">
                <div id="div-dados-bordero">
                    <div class="form-group">
                        <div class="col-md-2">
                            <label for="">Conta</label>
                        </div>
                        <div class="col-md-10">
                            <select name="conta" id="conta" class="form-control OBG_CHOSEN chosen-select">
                                <option value="" selected disabled>Selecione uma conta...</option>
                                <?php foreach($contas as $conta): ?>
                                    <option <?= (isset($bordero['dados']) && $bordero['dados']['conta_id'] == $conta['id'] ? 'selected' : '') ?> value="<?= $conta['id'] ?>">
                                        <?= $conta['forma'] ?> - <?= $conta['abreviacao'] ?> - <?= $conta['agencia'] ?> - <?= $conta['conta'] ?> - <?= $conta['ur'] ?>
                                    </option>
                                <?php endforeach; ?>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2">
                            <label for="">Descrição</label>
                        </div>
                        <div class="col-md-10">
                            <textarea name="descricao" id="descricao" cols="10" rows="3" class="form-control"><?= (isset($bordero['dados']['descricao']) ? $bordero['dados']['descricao'] : '' ) ?></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12 text-center">
                            <button type="button" class="btn btn-success" id="<?= !isset($bordero['dados']) ? 'criar-bordero' : 'atualizar-bordero' ?>">Salvar</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning cancelar-dados-bordero" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
