<?php require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>
<head>
  <meta charset="UTF-8">
</head>
  <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php'); ?>
  <link rel="stylesheet" href="/utils/tiss-xml-form.css"/>
  <div id="content">
    <div id="right">
      <center><h1>Listar Guias</h1></center>
      <table class="mytable" width="100%">
        <thead>
          <th>Cód. Guia</th>
          <th>Data de Emissão</th>
          <th>Plano de Saúde</th>
          <th></th>
        </thead>
        <?php foreach ($guias as $guia): ?>
          <tr>
            <td><?= $guia['guiaId'] ?></td>
            <td><?= (isset($guia['data_emissao_guia']) && $guia['data_emissao_guia'] !== '' ? \DateTime::createFromFormat('Y-m-d', $guia['data_emissao_guia'])->format('d/m/Y') : '')  ?></td>
            <td><?= $guia['planoSaude']['nome'] ?></td>
            <td>
              <?php if($guia['tipo_guia'] === 'spsadt'){ ?>
              <a target="_blank" href="/faturamento/tissxml/index.php?action=imprimir-guia-sp-sadt&guiaId=<?= $guia['guiaId'] ?>">Imprimir SP/SADT</a>
              &nbsp;|&nbsp;
              <a target="_blank" href="/faturamento/tissxml/index.php?action=imprimir-outras-despesas&guiaId=<?= $guia['guiaId'] ?>">Imprimir Outras Despesas</a>
              <?php } else { ?>
              <a target="_blank" href="/faturamento/tissxml/index.php?action=imprimir-guia-internacao&guiaId=<?= $guia['guiaId'] ?>">Imprimir Guia do Resumo de Internação</a>
              &nbsp;|&nbsp;
              <a target="_blank" href="/faturamento/tissxml/index.php?action=imprimir-outras-despesas&guiaId=<?= $guia['guiaId'] ?>">Imprimir Outras Despesas</a>
              <?php } ?>
            </td>
          </tr>
        <?php endforeach ?>
      </table>
    </div>
    <div id="left">
      <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
    </div>
</div>

</body>
</html>