<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="initial-scale: 1">
  <title></title>
</head>
<body>
  <?php foreach ($data['guias'] as $guiaSPSADT):  ?>
  <table style="border-width:0px;empty-cells:show;width:1083px;height:742px;background-color:transparent;" cellpadding="0" cellspacing="0" border="0" class="DXRResetStyle">
  <tbody><tr style="vertical-align:top;">
    <td style="width:0px;height:6px;"></td>
    <td style="width:2px;"></td>
    <td style="width:16px;"></td>
    <td style="width:3px;"></td>
    <td style="width:56px;"></td>
    <td style="width:8px;"></td>
    <td style="width:50px;"></td>
    <td style="width:1px;"></td>
    <td style="width:9px;"></td>
    <td style="width:5px;"></td>
    <td style="width:16px;"></td>
    <td style="width:28px;"></td>
    <td style="width:10px;"></td>
    <td style="width:2px;"></td>
    <td style="width:25px;"></td>
    <td style="width:15px;"></td>
    <td style="width:2px;"></td>
    <td style="width:56px;"></td>
    <td style="width:4px;"></td>
    <td style="width:2px;"></td>
    <td style="width:28px;"></td>
    <td style="width:3px;"></td>
    <td style="width:1px;"></td>
    <td style="width:81px;"></td>
    <td style="width:35px;"></td>
    <td style="width:8px;"></td>
    <td style="width:66px;"></td>
    <td style="width:118px;"></td>
    <td style="width:14px;"></td>
    <td style="width:25px;"></td>
    <td style="width:6px;"></td>
    <td style="width:39px;"></td>
    <td style="width:32px;"></td>
    <td style="width:5px;"></td>
    <td style="width:11px;"></td>
    <td style="width:14px;"></td>
    <td style="width:10px;"></td>
    <td style="width:46px;"></td>
    <td style="width:6px;"></td>
    <td style="width:4px;"></td>
    <td style="width:17px;"></td>
    <td style="width:11px;"></td>
    <td style="width:79px;"></td>
    <td style="width:13px;"></td>
    <td style="width:22px;"></td>
    <td style="width:73px;"></td>
    <td style="width:4px;"></td>
    <td style="width:1px;"></td>
    <td style="width:1px;"></td>
  </tr>
  <tr style="vertical-align:top;">
    <td style="width:0px;height:3px;"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="cs54E32FD5" style="width:474px;height:66px;text-align:center;vertical-align:top;" colspan="17" rowspan="6">GUIA&nbsp;DE&nbsp;SERVIÇO&nbsp;PROFISSIONAL&nbsp;/&nbsp;SERVIÇO&nbsp;AUXILIAR&nbsp;DE
      <br>DIAGNÓSTICO&nbsp;E&nbsp;TERAPIA&nbsp;-&nbsp;SP/SADT</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr style="vertical-align:top;">
    <td style="width:0px;height:1px;"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="cs54E32FD5" style="width:183px;height:25px;vertical-align:middle;padding-top: 10px;" colspan="4" rowspan="3"><?= $guiaSPSADT['numeroGuiaPrestador'] ?></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr style="vertical-align:top;">
    <td style="width:0px;height:4px;"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="cs554E966" style="width:90px;height:24px;text-align:center;vertical-align:middle;" colspan="6" rowspan="2">2-&nbsp;Nº&nbsp;Guia&nbsp;no<br>Prestador</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr style="vertical-align:top;">
    <td style="width:0px;height:20px;"><a href=""></a></td>
    <td></td>
    <td></td>
    <td class="cs208FB680" style="width:148px;height:32px;text-align:left;vertical-align:top;" colspan="8" rowspan="2"><div style="overflow:hidden;width:148px;height:32px;"><!--img title="Logo do Plano" src="logo.jpg" alt="" width="112" height="32" style="margin-left:18px;"--></div></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr style="vertical-align:top;">
    <td style="width:0px;height:12px;"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr style="vertical-align:top;">
    <td style="width:0px;height:16px;"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr style="vertical-align:top;">
    <td style="width:0px;height:14px;"></td>
    <td></td>
    <td class="cs947348AE" style="width:138px;height:13px;text-align:left;vertical-align:top;" colspan="7">1-&nbsp;Registro&nbsp;ANS</td>
    <td class="csE21F4C2E" style="width:187px;height:13px;text-align:left;vertical-align:top;" colspan="12">3-&nbsp;Número&nbsp;da&nbsp;&nbsp;Guia&nbsp;Principal</td>
    <td></td>
    <td></td>
    <td class="cs947348AE" style="width:111px;height:13px;text-align:left;vertical-align:top;" colspan="2">4-&nbsp;Data&nbsp;da&nbsp;Autorização</td>
    <td class="cs947348AE" style="width:201px;height:13px;text-align:left;vertical-align:top;" colspan="4">5-&nbsp;Senha</td>
    <td class="cs41852B4F" style="width:189px;height:13px;text-align:left;vertical-align:top;" colspan="10">6-&nbsp;Data&nbsp;de&nbsp;Validade&nbsp;da&nbsp;Senha</td>
    <td class="csD3D512F4" style="width:218px;height:13px;text-align:left;vertical-align:top;" colspan="9">7-&nbsp;Número&nbsp;da&nbsp;Guia&nbsp;Atribuído&nbsp;pela&nbsp;Operadora</td>
    <td></td>
  </tr>
  <tr style="vertical-align:top;">
    <td style="width:0px;height:13px;"></td>
    <td></td>
    <td class="csF827C61" style="width:138px;height:12px;text-align:left;vertical-align:top;" colspan="7"><?= $data['destino']['registroANS'] ?></td> <!-- Registro ANS -->
    <td class="csD0E5441" style="width:187px;height:12px;text-align:left;vertical-align:top;" colspan="12"><?= $guiaSPSADT['numeroGuiaPrestador'] ?></td> <!-- Número da  Guia Principal -->
    <td></td>
    <td></td>
    <?php $dataAutorizacao = \DateTime::createFromFormat('Y-m-d', $guiaSPSADT['dadosAutorizacao']['dataAutorizacao']); ?>
    <?php if (false !== $dataAutorizacao): ?>
    <td class="csF827C61" style="width:111px;height:12px;text-align:left;vertical-align:top;" colspan="2"><?= $dataAutorizacao->format('d/m/Y') ?></td> <!-- Número da  Guia Principal -->
    <?php endif ?>
    <td class="csF827C61" style="width:201px;height:12px;text-align:left;vertical-align:top;" colspan="4"><?= $guiaSPSADT['dadosAutorizacao']['senhaAutorizacao'] ?></td><!-- Senha Autorizacao -->
    <td class="csBDD0554F" style="width:189px;height:12px;text-align:left;vertical-align:top;" colspan="10"><?= \DateTime::createFromFormat('Y-m-d', $guiaSPSADT['dadosAutorizacao']['validadeSenha'])->format('d/m/Y') ?></td> <!-- Validade Senha -->
    <td class="cs93BFCAE4" style="width:218px;height:12px;text-align:left;vertical-align:top;" colspan="9"><?= $guiaSPSADT['numeroGuiaOperadora'] ?></td>
    <td></td>
  </tr>
  <tr style="vertical-align:top;">
    <td style="width:0px;height:3px;"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr style="vertical-align:top;">
    <td style="width:0px;height:12px;"></td>
    <td class="cs64938C37" style="width:1079px;height:12px;text-align:left;vertical-align:top;" colspan="48">Dados&nbsp;do&nbsp;Beneficiário</td>
  </tr>
  <tr style="vertical-align:top;">
    <td style="width:0px;height:3px;"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr style="vertical-align:top;">
    <td style="width:0px;height:24px;"></td>
    <td></td>
    <td class="cs947348AE" style="width:199px;height:23px;text-align:left;vertical-align:top;" colspan="12">8-&nbsp;Número&nbsp;da&nbsp;Carteira</td>
    <td class="cs947348AE" style="width:99px;height:23px;text-align:left;vertical-align:top;" colspan="6">9-&nbsp;Validade&nbsp;da&nbsp;Carteira</td>
    <td class="csE21F4C2E" style="width:546px;height:23px;text-align:left;vertical-align:top;" colspan="20">10-&nbsp;Nome</td>
    <td class="csD4C450D3" style="width:116px;height:23px;text-align:left;vertical-align:top;" colspan="4">11-&nbsp;Cartão&nbsp;Nacional&nbsp;de<br>Saúde</td>
    <td class="csD3D512F4" style="width:93px;height:23px;text-align:left;vertical-align:top;" colspan="3">12-&nbsp;Atendimento&nbsp;a&nbsp;RN</td>
    <td></td>
    <td></td>
  </tr>
  <tr style="vertical-align:top;">
    <td style="width:0px;height:13px;"></td>
    <td></td>
    <td class="csF827C61" style="width:199px;height:12px;text-align:left;vertical-align:top;" colspan="12"><?= $guiaSPSADT['dadosBeneficiario']['numeroCarteira'] ?></td>
    <td class="csF827C61" style="width:99px;height:12px;text-align:left;vertical-align:top;" colspan="6"></td>
    <td class="csD0E5441" style="width:546px;height:12px;text-align:left;vertical-align:top;" colspan="20"><?= $guiaSPSADT['dadosBeneficiario']['nomeBeneficiario'] ?></td>
    <td class="csB4F91DA5" style="width:116px;height:12px;text-align:left;vertical-align:top;" colspan="4">&nbsp;</td>
    <td class="cs93BFCAE4" style="width:93px;height:12px;text-align:center;vertical-align:top;" colspan="3"><?= $guiaSPSADT['dadosBeneficiario']['atendimentoRN'] ?></td>
    <td></td>
    <td></td>
  </tr>
  <tr style="vertical-align:top;">
    <td style="width:0px;height:1px;"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr style="vertical-align:top;">
    <td style="width:0px;height:13px;"></td>
    <td class="cs64938C37" style="width:1079px;height:13px;text-align:left;vertical-align:top;" colspan="48">Dados&nbsp;do&nbsp;Solicitante</td>
  </tr>
  <tr style="vertical-align:top;">
    <td style="width:0px;height:2px;"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr style="vertical-align:top;">
    <td style="width:0px;height:13px;"></td>
    <td></td>
    <td class="cs947348AE" style="width:197px;height:12px;text-align:left;vertical-align:top;" colspan="11">13-&nbsp;Código&nbsp;na&nbsp;Operadora</td>
    <td class="csE21F4C2E" style="width:871px;height:12px;text-align:left;vertical-align:top;" colspan="34">14-&nbsp;Nome&nbsp;do&nbsp;Contratado</td>
    <td></td>
    <td></td>
  </tr>
  <tr style="vertical-align:top;">
    <td style="width:0px;height:13px;"></td>
    <td></td>
    <td class="csF827C61" style="width:197px;height:12px;text-align:left;vertical-align:top;" colspan="11"><?= $guiaSPSADT['contratadoSolicitante']['cnpjFormatado'] ?></td>
    <td class="csD0E5441" style="width:871px;height:12px;text-align:left;vertical-align:top;" colspan="34"><?= $guiaSPSADT['contratadoSolicitante']['nomeContratado'] ?></td>
    <td></td>
    <td></td>
  </tr>
  <tr style="vertical-align:top;">
    <td style="width:0px;height:2px;"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr style="vertical-align:top;">
    <td style="width:0px;height:23px;"></td>
    <td></td>
    <td class="csD3D512F4" style="width:415px;height:22px;text-align:left;vertical-align:top;" colspan="22">15-&nbsp;Nome&nbsp;do&nbsp;Profissional&nbsp;Solicitante</td>
    <td class="cs9D4FA285" style="width:104px;height:22px;text-align:left;vertical-align:top;" colspan="3">16-&nbsp;Conselho<br>Profissional</td>
    <td class="cs9D4FA285" style="width:113px;height:22px;text-align:left;vertical-align:top;">17-&nbsp;&nbsp;Número&nbsp;no&nbsp;Conselho</td>
    <td class="csD4C450D3" style="width:35px;height:22px;text-align:left;vertical-align:top;" colspan="2">18-&nbsp;UF</td>
    <td class="csD3D512F4" style="width:71px;height:22px;text-align:left;vertical-align:top;" colspan="3">19-&nbsp;Código&nbsp;CBO</td>
    <td class="cs9D4FA285" style="width:310px;height:22px;text-align:left;vertical-align:top;" colspan="14">20-&nbsp;Assinatura&nbsp;do&nbsp;Profissional&nbsp;Solicitante</td>
    <td></td>
    <td></td>
  </tr>
  <tr style="vertical-align:top;">
    <td style="width:0px;height:14px;"></td>
    <td></td>
    <td class="cs93BFCAE4" style="width:415px;height:13px;text-align:left;vertical-align:top;" colspan="22"><?= $guiaSPSADT['profissionalSolicitante']['profissionalSolicitante'] ?></td>
    <td class="cs5FE4555B" style="width:104px;height:13px;text-align:left;vertical-align:top;" colspan="3"><?= $guiaSPSADT['profissionalSolicitante']['siglaConselho'] ?></td>
    <td class="cs5FE4555B" style="width:113px;height:13px;text-align:left;vertical-align:top;"><?= $guiaSPSADT['profissionalSolicitante']['numeroConselhoProfissional'] ?></td>
    <td class="csB4F91DA5" style="width:35px;height:13px;text-align:left;vertical-align:top;" colspan="2"><?= $guiaSPSADT['profissionalSolicitante']['estadoUF'] ?></td>
    <td class="cs93BFCAE4" style="width:71px;height:13px;text-align:left;vertical-align:top;" colspan="3"><?= $guiaSPSADT['profissionalSolicitante']['CBOS'] ?></td>
    <td class="cs5B44DE7E" style="width:314px;height:13px;text-align:left;vertical-align:top;" colspan="14">&nbsp;</td>
    <td></td>
    <td></td>
  </tr>
  <tr style="vertical-align:top;">
    <td style="width:0px;height:1px;"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr style="vertical-align:top;">
    <td style="width:0px;height:11px;"></td>
    <td class="cs64938C37" style="width:1079px;height:11px;text-align:left;vertical-align:top;" colspan="48">Dados&nbsp;da&nbsp;Solicitação&nbsp;/&nbsp;Procedimentos&nbsp;e&nbsp;Exames&nbsp;Solicitados</td>
  </tr>
  <tr style="vertical-align:top;">
    <td style="width:0px;height:2px;"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr style="vertical-align:top;">
    <td style="width:0px;height:23px;"></td>
    <td></td>
    <td class="cs947348AE" style="width:128px;height:22px;text-align:left;vertical-align:top;" colspan="5">21-&nbsp;Caráter&nbsp;Atendimento</td>
    <td class="cs947348AE" style="width:91px;height:22px;text-align:left;vertical-align:top;" colspan="8">22-&nbsp;Data&nbsp;da<br>Solicitação</td>
    <td class="csE21F4C2E" style="width:844px;height:22px;text-align:left;vertical-align:top;" colspan="32">23-&nbsp;Indicação&nbsp;Clínica</td>
    <td></td>
    <td></td>
  </tr>
  <tr style="vertical-align:top;">
    <td style="width:0px;height:14px;"></td>
    <td></td>
    <td class="csF827C61" style="width:128px;height:13px;text-align:left;vertical-align:top;" colspan="5"><?= $guiaSPSADT['caraterAtendimento'] ?></td>
    <td class="csF827C61" style="width:91px;height:13px;text-align:left;vertical-align:top;" colspan="8">&nbsp;</td>
    <td class="csD0E5441" style="width:844px;height:13px;text-align:left;vertical-align:top;" colspan="32">&nbsp;</td>
    <td></td>
    <td></td>
  </tr>
  <tr style="vertical-align:top;">
    <td style="width:0px;height:1px;"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr style="vertical-align:top;">
    <td style="width:0px;height:14px;"></td>
    <td></td>
    <td class="csF743A0B3" style="width:77px;height:12px;text-align:left;vertical-align:top;" colspan="4">24-Tabela</td>
    <td class="cs77952A5E" style="width:156px;height:12px;text-align:left;vertical-align:top;" colspan="10">25-Código&nbsp;do&nbsp;Procedimento</td>
    <td class="csC51DC3BD" style="width:601px;height:12px;text-align:left;vertical-align:top;" colspan="22">26-&nbsp;Descrição</td>
    <td class="cs77952A5E" style="width:112px;height:12px;text-align:left;vertical-align:top;" colspan="5">27-Qtde.&nbsp;Solic.</td>
    <td class="csC51DC3BD" style="width:107px;height:12px;text-align:left;vertical-align:top;" colspan="4">28-&nbsp;Qtde.&nbsp;Aut.</td>
    <td></td>
    <td></td>
  </tr>
  <?php foreach ($guiaSPSADT['procedimentos'] as $procedimento): ?>
  <tr style="vertical-align:top;">
    <td style="width:0px;height:12px;"></td>
    <td></td>
    <td class="csC61762F1" style="width:81px;height:11px;text-align:left;vertical-align:top;" colspan="4"><?= $procedimento['codigoTabela'] ?></td>
    <td class="cs159B8C66" style="width:160px;height:11px;text-align:left;vertical-align:top;" colspan="10"><?= $procedimento['codigoProcedimento'] ?></td>
    <td class="cs159B8C66" style="width:605px;height:11px;text-align:left;vertical-align:top;" colspan="22"><?= $procedimento['descricaoProcedimento'] ?></td>
    <td class="cs159B8C66" style="width:116px;height:11px;text-align:left;vertical-align:top;" colspan="5"><?= $procedimento['quantidadeExecutada'] ?></td>
    <td class="cs159B8C66" style="width:111px;height:11px;text-align:left;vertical-align:top;" colspan="4"><?= $procedimento['quantidadeExecutada'] ?></td>
    <td></td>
    <td></td>
  </tr>
  <?php endforeach ?>
  <tr style="vertical-align:top;">
    <td style="width:0px;height:2px;"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr style="vertical-align:top;">
    <td style="width:0px;height:12px;"></td>
    <td class="cs64938C37" style="width:1079px;height:12px;text-align:left;vertical-align:top;" colspan="48">Dados&nbsp;do&nbsp;Contratado&nbsp;Executante</td>
  </tr>
  <tr style="vertical-align:top;">
    <td style="width:0px;height:2px;"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr style="vertical-align:top;">
    <td style="width:0px;height:24px;"></td>
    <td></td>
    <td class="cs947348AE" style="width:197px;height:23px;text-align:left;vertical-align:top;" colspan="11">29-&nbsp;Código&nbsp;na&nbsp;Operadora</td>
    <td class="csE21F4C2E" style="width:794px;height:23px;text-align:left;vertical-align:top;" colspan="25">30-&nbsp;Nome&nbsp;do&nbsp;Contratado</td>
    <td class="cs9D4FA285" style="width:72px;height:23px;text-align:left;vertical-align:top;" colspan="9">31-&nbsp;Código CNES</td>
    <td></td>
    <td></td>
  </tr>
  <tr style="vertical-align:top;">
    <td style="width:0px;height:13px;"></td>
    <td></td>
    <td class="csF827C61" style="width:197px;height:12px;text-align:left;vertical-align:top;" colspan="11"><?= $guiaSPSADT['contratadoSolicitante']['cnpjFormatado'] ?></td>
    <td class="csD0E5441" style="width:794px;height:12px;text-align:left;vertical-align:top;" colspan="25"><?= $guiaSPSADT['contratadoSolicitante']['nomeContratado'] ?></td>
    <td class="cs5FE4555B" style="width:72px;height:12px;text-align:left;vertical-align:top;" colspan="9"><?= $guiaSPSADT['contratadoSolicitante']['numeroCNES'] ?></td>
    <td></td>
    <td></td>
  </tr>
  <tr style="vertical-align:top;">
    <td style="width:0px;height:2px;"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr style="vertical-align:top;">
    <td style="width:0px;height:11px;"></td>
    <td class="cs64938C37" style="width:1079px;height:11px;text-align:left;vertical-align:top;" colspan="48">Dados&nbsp;do&nbsp;Atendimento</td>
  </tr>
  <tr style="vertical-align:top;">
    <td style="width:0px;height:2px;"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr style="vertical-align:top;">
    <td style="width:0px;height:13px;"></td>
    <td></td>
    <td class="cs947348AE" style="width:143px;height:12px;text-align:left;vertical-align:top;" colspan="8">32-&nbsp;Tipo&nbsp;de&nbsp;Atendimento</td>
    <td class="cs947348AE" style="width:153px;height:12px;text-align:left;vertical-align:top;" colspan="9">33-&nbsp;Indicação&nbsp;de&nbsp;Acidente</td>
    <td class="cs41852B4F" style="width:153px;height:12px;text-align:left;vertical-align:top;" colspan="7">34-&nbsp;Tipo&nbsp;de&nbsp;Consulta</td>
    <td class="csD3D512F4" style="width:609px;height:12px;text-align:left;vertical-align:top;" colspan="21">35-&nbsp;Motivo&nbsp;de&nbsp;Encerramento&nbsp;do&nbsp;Atendimento</td>
    <td></td>
    <td></td>
  </tr>
  <tr style="vertical-align:top;">
    <td style="width:0px;height:14px;"></td>
    <td></td>
    <td class="csF827C61" style="width:143px;height:13px;text-align:left;vertical-align:top;" colspan="8"><?= $guiaSPSADT['dadosAtendimento']['tipoAtendimento'] ?></td>
    <td class="csF827C61" style="width:153px;height:13px;text-align:left;vertical-align:top;" colspan="9"><?= $guiaSPSADT['dadosAtendimento']['indicacaoAcidente'] ?></td>
    <td class="csBDD0554F" style="width:153px;height:13px;text-align:left;vertical-align:top;" colspan="7">0</td>
    <td class="cs93BFCAE4" style="width:609px;height:13px;text-align:left;vertical-align:top;" colspan="21">0</td>
    <td></td>
    <td></td>
  </tr>
  <tr style="vertical-align:top;">
    <td style="width:0px;height:2px;"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr style="vertical-align:top;">
    <td style="width:0px;height:12px;"></td>
    <td class="cs64938C37" style="width:1079px;height:12px;text-align:left;vertical-align:top;" colspan="48">Dados&nbsp;da&nbsp;Execução&nbsp;/&nbsp;Procedimentos&nbsp;e&nbsp;Exames&nbsp;Realizados</td>
  </tr>
  <tr style="vertical-align:top;">
    <td style="width:0px;height:2px;"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr style="vertical-align:top;">
    <td style="width:0px;height:25px;"></td>
    <td></td>
    <td class="cs39B500D8" style="width:16px;height:23px;text-align:left;vertical-align:top;" colspan="2">Seq</td>
    <td class="csF743A0B3" style="width:50px;height:23px;text-align:left;vertical-align:top;">36-&nbsp;Data</td>
    <td class="csC51DC3BD" style="width:54px;height:23px;text-align:left;vertical-align:top;" colspan="3">37-Hora<br>Inicial</td>
    <td class="csC51DC3BD" style="width:53px;height:23px;text-align:left;vertical-align:top;" colspan="4">38-Hora<br>Final</td>
    <td class="cs77952A5E" style="width:49px;height:23px;text-align:left;vertical-align:top;" colspan="5">39-Tabela</td>
    <td class="cs77952A5E" style="width:88px;height:23px;text-align:left;vertical-align:top;" colspan="5">40-Cód.<br>Procedimento</td>
    <td class="csC51DC3BD" style="width:349px;height:23px;text-align:left;vertical-align:top;" colspan="9">41-&nbsp;Descrição</td>
    <td class="cs77952A5E" style="width:34px;height:23px;text-align:left;vertical-align:top;">42-<br>Qtde.</td>
    <td class="csC51DC3BD" style="width:32px;height:23px;text-align:left;vertical-align:top;" colspan="2">43-Via</td>
    <td class="csC51DC3BD" style="width:30px;height:23px;text-align:left;vertical-align:top;" colspan="3">44-<br>Tec.</td>
    <td class="csC51DC3BD" style="width:68px;height:23px;text-align:left;vertical-align:top;" colspan="4">45-%&nbsp;Red.<br>Acresc.</td>
    <td class="csC51DC3BD" style="width:85px;height:23px;text-align:left;vertical-align:top;" colspan="2">46-&nbsp;Valor&nbsp;Unitário&nbsp;-<br>R$</td>
    <td class="csC51DC3BD" style="width:107px;height:23px;text-align:left;vertical-align:top;" colspan="4">47-&nbsp;Valor&nbsp;Total&nbsp;-&nbsp;R$</td>
    <td></td>
    <td></td>
  </tr>
  <?php
    $seqs = [];
    foreach ($guiaSPSADT['procedimentos'] as $seqProc => $procedimento):
        ++$seqProc;
        if (isset($procedimento['profissionalExecutante']) && !empty($procedimento['profissionalExecutante']))
            $seqs[] = $seqProc;
  ?>
  <tr style="vertical-align:top;">
    <td style="width:0px;height:13px;"></td>
    <td></td>
    <td class="cs86CE6D4B" style="width:14px;height:11px;text-align:left;vertical-align:top;" colspan="2"><?= $seqProc ?></td>
    <td class="csD0E5441" style="width:50px;height:12px;text-align:left;vertical-align:top;"><?= $procedimento['dataExecucaoImpressao'] ?></td>
    <td class="cs2A34AD55" style="width:54px;height:12px;text-align:center;vertical-align:top;" colspan="3">00:00</td>
    <td class="cs2A34AD55" style="width:53px;height:12px;text-align:center;vertical-align:top;" colspan="4">00:00</td>
    <td class="cs5FE4555B" style="width:49px;height:12px;text-align:center;vertical-align:top;" colspan="5"><?= $procedimento['codigoTabela'] ?></td>
    <td class="cs5FE4555B" style="width:88px;height:12px;text-align:left;vertical-align:top;" colspan="5"><?= $procedimento['codigoProcedimento'] ?></td>
    <td class="cs2A34AD55" style="width:349px;height:12px;text-align:left;vertical-align:top;" colspan="9"><?= $procedimento['descricaoProcedimento'] ?></td>
    <td class="cs5FE4555B" style="width:34px;height:12px;text-align:right;vertical-align:top;"><?= $procedimento['quantidadeExecutada'] ?></td>
    <td class="cs2A34AD55" style="width:32px;height:12px;text-align:center;vertical-align:top;" colspan="2">0</td>
    <td class="cs2A34AD55" style="width:30px;height:12px;text-align:center;vertical-align:top;" colspan="3">0</td>
    <td class="cs2A34AD55" style="width:68px;height:12px;text-align:right;vertical-align:top;" colspan="4"><?= $procedimento['reducaoAcrescimo'] ?></td>
    <td class="cs2A34AD55" style="width:85px;height:12px;text-align:right;vertical-align:top;" colspan="2"><?= $procedimento['valorUnitario'] ?></td>
    <td class="cs2A34AD55" style="width:107px;height:12px;text-align:right;vertical-align:top;" colspan="4"><?= $procedimento['valorTotal'] ?></td>
    <td></td>
    <td></td>
  </tr>
  <?php endforeach ?>
  <tr style="vertical-align:top;">
    <td style="width:0px;height:12px;"></td>
    <td class="cs64938C37" style="width:1079px;height:12px;text-align:left;vertical-align:top;" colspan="48">Identificação&nbsp;do(s)&nbsp;Profissional(is)&nbsp;Executante(s)</td>
  </tr>
  <tr style="vertical-align:top;">
    <td style="width:0px;height:2px;"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr style="vertical-align:top;">
    <td></td>
    <td></td>
    <td class="cs39B500D8" style="width:16px;height:23px;text-align:left;vertical-align:top;" colspan="2">48-Seq.Ref</td>
    <td class="csF743A0B3" style="width:50px;height:23px;text-align:left;vertical-align:top;" colspan="2">49-Grau Part.</td>
    <td class="cs77952A5E" style="width:88px;height:23px;text-align:left;vertical-align:top;" colspan="5">50-Cód. na Operadora/CPF</td>
    <td class="csC51DC3BD" style="width:349px;height:23px;text-align:left;vertical-align:top;" colspan="20">51-&nbsp;Nome do Profissional</td>
    <td class="cs77952A5E" style="width:34px;height:23px;text-align:left;vertical-align:top;" colspan="5">52-Conselho<br/>Profissinal</td>
    <td class="csC51DC3BD" style="height:23px;text-align:left;vertical-align:top;" colspan="7">53-Número no Conselho</td>
    <td class="csC51DC3BD" style="width:85px;height:23px;text-align:left;vertical-align:top;" colspan="2">54-UF</td>
    <td class="csC51DC3BD" style="width:107px;height:23px;text-align:left;vertical-align:top;" colspan="2">55-Código CBO</td>
  </tr>
  <?php foreach ($guiaSPSADT['profissionaisExecutantes'] as $seqRed => $profissionalExecutante): ?>
      <tr style="vertical-align:top;">
        <td style="width:0px;height:13px;"></td>
        <td></td>
        <td class="cs86CE6D4B" style="width:14px;height:11px;text-align:left;vertical-align:top;" colspan="2"><?= $seqs[$seqRed] ?></td>
        <td class="csD0E5441" style="width:50px;height:12px;text-align:left;vertical-align:top;" colspan="2"></td>
        <td class="cs5FE4555B" style="width:88px;height:12px;text-align:left;vertical-align:top;" colspan="5"><?= $profissionalExecutante['cpfFormatado'] ?></td>
        <td class="cs2A34AD55" style="width:349px;height:12px;text-align:left;vertical-align:top;" colspan="20"><?= $profissionalExecutante['profissionalSolicitante'] ?></td>
        <td class="cs5FE4555B" style="width:34px;height:12px;text-align:left;vertical-align:top;" colspan="5"><?= $profissionalExecutante['conselhoProfissional'] ?></td>
        <td class="cs2A34AD55" style="width:68px;height:12px;text-align:left;vertical-align:top;" colspan="7"><?= $profissionalExecutante['numeroConselhoProfissional'] ?></td>
        <td class="cs2A34AD55" style="width:85px;height:12px;text-align:left;vertical-align:top;" colspan="2"><?= $profissionalExecutante['estadoUF'] ?></td>
        <td class="cs2A34AD55" style="width:107px;height:12px;text-align:left;vertical-align:top;" colspan="2"><?= $profissionalExecutante['CBOS'] ?></td>
      </tr>
  <?php endforeach ?>
  <tr style="vertical-align:top;">
    <td style="width:0px;height:2px;"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td colspan="46" class="csF743A0B3">
      <table>
        <tr colspan="10" class="">56-Data de Realização de Procedimentos em Série / 57-Assinatura do Beneficiário ou Responsável</tr>
        <tr colspan="10" style="height: 2px;"></tr>
        <tr class="">
          <td style="width: 100px;">1 - ___/___/___</td>
          <td style="width: 128px;">_________________</td>
          <td style="width: 100px;">3 - ___/___/___</td>
          <td style="width: 128px;">_________________</td>
          <td style="width: 100px;">5 - ___/___/___</td>
          <td style="width: 128px;">_________________</td>
          <td style="width: 100px;">7 - ___/___/___</td>
          <td style="width: 128px;">_________________</td>
          <td style="width: 100px;">9 - ___/___/___</td>
          <td style="width: 128px;">_________________</td>
        </tr>
        <tr>
          <td style="width: 100px;">2 - ___/___/___</td>
          <td style="width: 128px;">_________________</td>
          <td style="width: 100px;">4 - ___/___/___</td>
          <td style="width: 128px;">_________________</td>
          <td style="width: 100px;">6 - ___/___/___</td>
          <td style="width: 128px;">_________________</td>
          <td style="width: 100px;">8 - ___/___/___</td>
          <td style="width: 128px;">_________________</td>
          <td style="width: 100px;">10 - ___/___/___</td>
          <td style="width: 128px;">_________________</td>
        </tr>
        <tr colspan="10" style="height: 4px;"></tr>
      </table>
    </td>
  </tr>
  <tr style="height: 2px">
    <td colspan="48"></td>
  </tr>
  <tr style="height: 50px;">
    <td></td>
    <td></td>
    <td class="csF743A0B3" colspan="48">58 - Observação / Justificativa</td>
  </tr>
  <tr style="height: 2px">
    <td colspan="48"></td>
  </tr>
  <tr>
    <td colspan="48">
      <table>
        <tr>
          <td></td>
          <td class="cs39B500D8" style="width: 182px; height:12px;text-align:left;vertical-align:top;">59 - Total de Procedimentos (R$)<br><br><?= $guiaSPSADT['valorProcedimentosFormatado'] ?></td>
          <td class="csF743A0B3" style="width: 182px; height:12px;text-align:left;vertical-align:top;">60 - Total de Taxas e Aluguéis (R$)<br><br><?= $guiaSPSADT['valorTaxasAlugueisFormatado'] ?></td>
          <td class="cs77952A5E" style="width: 182px; height:12px;text-align:left;vertical-align:top;">61 - Total de Materiais<br><br><?= $guiaSPSADT['valorMateriaisFormatado'] ?></td>
          <td class="cs77952A5E" style="width: 182px; height:12px;text-align:left;vertical-align:top;">62 - Total de OPME (R$)<br><br><?= $guiaSPSADT['valorMedicamentosFormatado'] ?></td>
          <td class="cs77952A5E" style="width: 182px; height:12px;text-align:left;vertical-align:top;">63 - Total de Medicamentos (R$)<br><br><?= $guiaSPSADT['valorOPMEFormatado'] ?></td>
          <td class="cs77952A5E" style="width: 182px; height:12px;text-align:left;vertical-align:top;">64 - Total de Gases Medicinais (R$)<br><br><?= $guiaSPSADT['valorGasesMedicinaisFormatado'] ?></td>
          <td class="cs77952A5E" style="width: 182px; height:12px;text-align:left;vertical-align:top;">65 - Total Geral (R$)<br><br><?= $guiaSPSADT['valorTotalGeralFormatado'] ?></td>
        </tr>
      </table>
    </td>
  </tr>
  <tr style="height: 2px">
    <td colspan="48"></td>
  </tr>
  <tr>
    <td colspan="48">
      <table>
        <tr>
          <td></td>
          <td class="cs39B500D8">66 - Assinatura do Responsável pela Autorização</td>
          <td class="csF743A0B3">67 - Assinatura do Beneficiário ou Responsável</td>
          <td class="cs77952A5E">68 - Assinatura do Contratado</td>
        </tr>
        <tr style="height: 40px;">
          <td></td>
          <td class="cs86CE6D4B" style="width: 426px;"></td>
          <td class="csD0E5441" style="width: 426px;"></td>
          <td class="cs2A34AD55" style="width: 426px;"></td>
        </tr>
      </table>
    </td>
  </tr>
  </tbody>
  </table>
<?php endforeach ?>

<style type="text/css">
* {
  font-size: 8pt;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  border-color: gray;
}
table tr td {
  font-family:microsoft sans serif;
  font-size:8pt;
  vertical-align:top;
}
@page
{
  size: auto;   /* auto is the initial value */
}
.cs64938C37 {color:#000000;background-color:#E0E0E0;border-left-style: none;border-top-style: none;border-right-style: none;border-bottom-style: none;font-family:microsoft sans serif; font-size:8pt; font-weight:bold; font-style:normal; padding-left:2px;padding-right:2px;}
.csD3D512F4 {color:#000000;background-color:#FFFFFF;border-left:#000000 1px solid;border-top:#000000 1px solid;border-right:#000000 1px solid;border-bottom-style: none;font-family:microsoft sans serif; font-size:8pt; font-weight:bold; font-style:normal; padding-left:2px;padding-right:2px;}
.cs41852B4F {color:#000000;background-color:#FFFFFF;border-left:#000000 1px solid;border-top:#000000 1px solid;border-right-style: none;border-bottom-style: none;font-family:microsoft sans serif; font-size:8pt; font-weight:bold; font-style:normal; padding-left:2px;padding-right:2px;}
.cs93BFCAE4 {color:#000000;background-color:#FFFFFF;border-left:#000000 1px solid;border-top-style: none;border-right:#000000 1px solid;border-bottom:#000000 1px solid;font-family:microsoft sans serif; font-size:8pt; font-weight:normal; font-style:normal; padding-left:2px;padding-right:2px;}
.csBDD0554F {color:#000000;background-color:#FFFFFF;border-left:#000000 1px solid;border-top-style: none;border-right-style: none;border-bottom:#000000 1px solid;font-family:microsoft sans serif; font-size:8pt; font-weight:normal; font-style:normal; padding-left:2px;padding-right:2px;}
.csC51DC3BD {color:#000000;background-color:#FFFFFF;border-left-style: none;border-top:#000000 1px solid;border-right:#000000 1px solid;border-bottom:#000000 1px solid;font-family:microsoft sans serif; font-size:8pt; font-weight:bold; font-style:normal; padding-left:2px;padding-right:2px;}
.cs2A34AD55 {color:#000000;background-color:#FFFFFF;border-left-style: none;border-top-style: none;border-right:#000000 1px solid;border-bottom:#000000 1px solid;font-family:microsoft sans serif; font-size:8pt; font-weight:normal; font-style:normal; padding-left:2px;padding-right:2px;}
.csF743A0B3 {color:#000000;background-color:transparent;border-left:#000000 1px solid;border-top:#000000 1px solid;border-right:#000000 1px solid;border-bottom:#000000 1px solid;font-family:microsoft sans serif; font-size:8pt; font-weight:bold; font-style:normal; padding-left:2px;padding-right:2px;}
.csE21F4C2E {color:#000000;background-color:transparent;border-left:#000000 1px solid;border-top:#000000 1px solid;border-right:#000000 1px solid;border-bottom-style: none;font-family:microsoft sans serif; font-size:8pt; font-weight:bold; font-style:normal; padding-left:2px;padding-right:2px;}
.cs39B500D8 {color:#000000;background-color:transparent;border-left:#000000 1px solid;border-top:#000000 1px solid;border-right-style: none;border-bottom:#000000 1px solid;font-family:microsoft sans serif; font-size:8pt; font-weight:bold; font-style:normal; padding-left:2px;}
.cs947348AE {color:#000000;background-color:transparent;border-left:#000000 1px solid;border-top:#000000 1px solid;border-right-style: none;border-bottom-style: none;font-family:microsoft sans serif; font-size:8pt; font-weight:bold; font-style:normal; padding-left:2px;padding-right:2px;}
.csD0E5441 {color:#000000;background-color:transparent;border-left:#000000 1px solid;border-top-style: none;border-right:#000000 1px solid;border-bottom:#000000 1px solid;font-family:microsoft sans serif; font-size:8pt; font-weight:normal; font-style:normal; padding-left:2px;padding-right:2px;}
.csC61762F1 {color:#000000;background-color:transparent;border-left:#000000 1px solid;border-top-style: none;border-right:#000000 1px solid;border-bottom:#000000 1px solid;font-family:microsoft sans serif; font-size:8pt; font-weight:normal; font-style:normal; }
.csF827C61 {color:#000000;background-color:transparent;border-left:#000000 1px solid;border-top-style: none;border-right-style: none;border-bottom:#000000 1px solid;font-family:microsoft sans serif; font-size:8pt; font-weight:normal; font-style:normal; padding-left:2px;padding-right:2px;}
.cs86CE6D4B {color:#000000;background-color:transparent;border-left:#000000 1px solid;border-top-style: none;border-right-style: none;border-bottom:#000000 1px solid;font-family:microsoft sans serif; font-size:8pt; font-weight:normal; font-style:normal; padding-top:1px;padding-left:2px;padding-right:2px;}
.cs77952A5E {color:#000000;background-color:transparent;border-left-style: none;border-top:#000000 1px solid;border-right:#000000 1px solid;border-bottom:#000000 1px solid;font-family:microsoft sans serif; font-size:8pt; font-weight:bold; font-style:normal; padding-left:2px;padding-right:2px;}
.cs9D4FA285 {color:#000000;background-color:transparent;border-left-style: none;border-top:#000000 1px solid;border-right:#000000 1px solid;border-bottom-style: none;font-family:microsoft sans serif; font-size:8pt; font-weight:bold; font-style:normal; padding-left:2px;padding-right:2px;}
.csD4C450D3 {color:#000000;background-color:transparent;border-left-style: none;border-top:#000000 1px solid;border-right-style: none;border-bottom-style: none;font-family:microsoft sans serif; font-size:8pt; font-weight:bold; font-style:normal; padding-left:2px;padding-right:2px;}
.cs5B44DE7E {color:#000000;background-color:transparent;border-left-style: none;border-top-style: none;border-right:#000000 1px solid;border-bottom:#000000 1px solid;font-family:microsoft sans serif; font-size:8pt; font-weight:normal; font-style:normal; }
.cs5FE4555B {color:#000000;background-color:transparent;border-left-style: none;border-top-style: none;border-right:#000000 1px solid;border-bottom:#000000 1px solid;font-family:microsoft sans serif; font-size:8pt; font-weight:normal; font-style:normal; padding-left:2px;padding-right:2px;}
.cs159B8C66 {color:#000000;background-color:transparent;border-left-style: none;border-top-style: none;border-right:#000000 1px solid;border-bottom:#000000 1px solid;font-family:microsoft sans serif; font-size:8pt; font-weight:normal; font-style:normal; }
.csB4F91DA5 {color:#000000;background-color:transparent;border-left-style: none;border-top-style: none;border-right-style: none;border-bottom:#000000 1px solid;font-family:microsoft sans serif; font-size:8pt; font-weight:normal; font-style:normal; padding-left:2px;padding-right:2px;}
.cs54E32FD5 {color:#000000;background-color:transparent;border-left-style: none;border-top-style: none;border-right-style: none;border-bottom-style: none;font-family:microsoft sans serif; font-size:14pt; font-weight:bold; font-style:normal; padding-left:2px;padding-right:2px;}
.cs554E966 {color:#000000;background-color:transparent;border-left-style: none;border-top-style: none;border-right-style: none;border-bottom-style: none;font-family:microsoft sans serif; font-size:8pt; font-weight:normal; font-style:normal; padding-left:2px;padding-right:2px;}
.cs208FB680 {color:#000000;background-color:transparent;border-left-style: none;border-top-style: none;border-right-style: none;border-bottom-style: none;font-family:times new roman; font-size:9pt; font-weight:normal; font-style:normal; }
.csF7D3565D {height:0px;width:0px;overflow:hidden;font-size:0px;line-height:0px;}
</style>

  <script type="text/javascript">
      window.resizeTo((screen.width), (screen.availHeight));
  </script>
</body>
</html>