<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Guia Tiss XML</title>
</head>
  <body>

    <div class="content">
    <form action="gerarxml.php" method="POST">
    <h2>Contratado</h2>
    <div class="field">
      <label for="guiaxml[contratado][numeroCNES]">Número CNES</label>
      <input type="text" id="guiaxml[contratado][numeroCNES]" name="guiaxml[contratado][numeroCNES]" value="3795160" />
    </div class="field">
    <div class="field">
      <label for="guiaxml[contratado][cnpj]">CNPJ</label>
      <input type="text" id="guiaxml[contratado][cnpj]" name="guiaxml[contratado][cnpj]" value="07072541000174" />
    </div class="field">
    <div class="field">
      <label for="guiaxml[contratado][razaosocial]">Razão Social</label>
      <input type="text" id="guiaxml[contratado][razaosocial]" name="guiaxml[contratado][razaosocial]" value="MEDERI SAUDE DOMICILIAR LTDA" />
    </div class="field">
    <div class="field">
      <label for="guiaxml[contratado][tipoLogradouro]">Tipo de Logradouro</label>
      <select name="guiaxml[contratado][tipoLogradouro]" id="guiaxml[contratado][tipoLogradouro]">
        <option value="081" selected="selected">Rua</option>
      </select>
    </div class="field">
    <div class="field">
      <label for="guiaxml[contratado][endereco][logradouro]">Logradouro</label>
      <input type="text" id="guiaxml[contratado][endereco][logradouro]" name="guiaxml[contratado][endereco][logradouro]" value="ARISTON JOSE DE CERQUEIRA" />
    </div class="field">
    <div class="field">
      <label for="guiaxml[contratado][endereco][numero]">Número</label>
      <input type="text" id="guiaxml[contratado][endereco][numero]" name="guiaxml[contratado][endereco][numero]" value="393" />
    </div class="field">
    <div class="field">
      <label for="guiaxml[contratado][endereco][codigoIBGEMunicipio]">Código IBGE Município</label>
      <input type="text" id="guiaxml[contratado][endereco][codigoIBGEMunicipio]" name="guiaxml[contratado][endereco][codigoIBGEMunicipio]" value="5454545" />
    </div class="field">
    <div class="field">
      <label for="guiaxml[contratado][endereco][municipio]">Município</label>
      <input type="text" id="guiaxml[contratado][endereco][municipio]" name="guiaxml[contratado][endereco][municipio]" value="FEIRA DE SANTANA" />
    </div class="field">
    <div class="field">
      <label for="guiaxml[contratado][endereco][codigoUF]">Código UF</label>
      <input type="text" id="guiaxml[contratado][endereco][codigoUF]" name="guiaxml[contratado][endereco][codigoUF]" value="BA" />
    </div class="field">
    <div class="field">
      <label for="guiaxml[contratado][endereco][cep]">CEP</label>
      <input type="text" id="guiaxml[contratado][endereco][cep]" name="guiaxml[contratado][endereco][cep]" value="44100000" />
    </div class="field">
    <h2>Profissional Responsável</h2>
    <div class="field">
      <label for="guiaxml[profissional][nome]">Nome</label>
      <input type="text" id="guiaxml[profissional][nome]" name="guiaxml[profissional][nome]" value="LUCIO COUTO O. JUNIOR" />
    </div>
    <div class="field">
      <label for="guiaxml[profissional][siglaConselho]">Sigla Conselho</label>
      <select name="guiaxml[profissional][siglaConselho]" id="guiaxml[profissional][siglaConselho]">
        <option value="">--</option>
        <option selected="selected" value="CRM">CRM</option>
      </select>
    </div>
    <div class="field">
      <label for="guiaxml[profissional][numeroConselho]">Número Conselho</label>
      <input type="text" id="guiaxml[profissional][numeroConselho]" name="guiaxml[profissional][numeroConselho]" value="15847" />
    </div>
    <div class="field">
      <label for="guiaxml[profissional][ufConselho]">UF Conselho</label>
      <input type="text" id="guiaxml[profissional][ufConselho]" name="guiaxml[profissional][ufConselho]" value="BA" />
    </div>
    <div class="field">
    <label for="guiaxml[profissional][cbos]">CBOS (Especialidade)</label>
    <select name="guiaxml[profissional][cbos]" id="guiaxml[profissional][cbos]">
    <option value="">--</option>
    <option value="10413">Acompanhante de idosos (5162.10)</option>
    <option value="10304">Acupunturista (3221.05)</option>
    <option value="10300">Administrador (2521.05)</option>
    <option value="10010">Administrador de ambulatório (1312.10)</option>
    <option value="10381">Agente de saneamento (3522.10)</option>
    <option value="10395">Agente de saúde (5151.05)</option>
    <option value="10382">Agente de saúde pública (3522.10)</option>
    <option value="10197">Andrologista (2231.57)</option>
    <option value="10035">Anestesiologista (2231.04)</option>
    <option value="10036">Anestesista (2231.04)</option>
    <option value="10039">Angiologista (2231.05)</option>
    <option value="10383">Assistente administrativo (4110.10)</option>
    <option value="10407">Assistente de parto (5151.15)</option>
    <option value="10299">Assistente social (2516.05)</option>
    <option value="10384">Assistente técnico - no serviço público (4110.10)</option>
    <option value="10385">Assistente técnico administrativo (4110.10)</option>
    <option value="10389">Atendente de ambulatório (4221.10)</option>
    <option value="10398">Atendente de berçário (5151.10)</option>
    <option value="10399">Atendente de centro cirúrgico (5151.10)</option>
    <option value="10353">Atendente de clínica dentária (3224.15)</option>
    <option value="10390">Atendente de clínica médica (4221.10)</option>
    <option value="10387">Atendente de clínica veterinária (4221.05)</option>
    <option value="10354">Atendente de Consultório Dentário (3224.15)</option>
    <option value="10391">Atendente de consultório médico (4221.10)</option>
    <option value="10388">Atendente de consultório veterinário (4221.05)</option>
    <option value="10400">Atendente de enfermagem (5151.10)</option>
    <option value="10401">Atendente de enfermagem no serviço doméstico (5151.10)</option>
    <option value="10418">Atendente de farmácia - balconista (5211.30)</option>
    <option value="10355">Atendente de gabinete dentário (3224.15)</option>
    <option value="10402">Atendente de hospital (5151.10)</option>
    <option value="10392">Atendente de seguro saúde (4221.15)</option>
    <option value="10403">Atendente de serviço de saúde (5151.10)</option>
    <option value="10404">Atendente de serviço médico (5151.10)</option>
    <option value="10356">Atendente de serviço odontológico (3224.15)</option>
    <option value="10405">Atendente hospitalar (5151.10)</option>
    <option value="10357">Atendente odontológico (3224.15)</option>
    <option value="10406">Atendente-enfermeiro (5151.10)</option>
    <option value="10358">Auxiliar de dentista (3224.15)</option>
    <option value="10272">Auxiliar de dietista (2237.05)</option>
    <option value="10327">Auxiliar de enfermagem (3222.30)</option>
    <option value="10328">Auxiliar de enfermagem de central de material esterilizado (CME) (3222.30)</option>
    <option value="10329">Auxiliar de enfermagem de centro cirúrgico (3222.30)</option>
    <option value="10330">Auxiliar de enfermagem de clínica médica (3222.30)</option>
    <option value="10331">Auxiliar de enfermagem de hospital (3222.30)</option>
    <option value="10332">Auxiliar de enfermagem de saúde pública (3222.30)</option>
    <option value="10343">Auxiliar de enfermagem do trabalho (3222.35)</option>
    <option value="10333">Auxiliar de enfermagem em hemodiálise (3222.30)</option>
    <option value="10334">Auxiliar de enfermagem em homeácare (3222.30)</option>
    <option value="10335">Auxiliar de enfermagem em nefrologia (3222.30)</option>
    <option value="10336">Auxiliar de enfermagem em saúde mental (3222.30)</option>
    <option value="10344">Auxiliar de enfermagem em saúde ocupacional (3222.35)</option>
    <option value="10345">Auxiliar de enfermagem ocupacional (3222.35)</option>
    <option value="10337">Auxiliar de enfermagem socorrista (3222.30)</option>
    <option value="10415">Auxiliar de enfermagem veterinária (5193.05)</option>
    <option value="10411">Auxiliar de estética (5161.15)</option>
    <option value="10410">Auxiliar de farmácia de manipulação (5152.10)</option>
    <option value="10338">Auxiliar de ginecologia (3222.30)</option>
    <option value="10339">Auxiliar de hipodermia (3222.30)</option>
    <option value="10419">Auxiliar de incubação (6233.15)</option>
    <option value="10273">Auxiliar de nutrição e dietética (2237.05)</option>
    <option value="10340">Auxiliar de obstetrícia (3222.30)</option>
    <option value="10341">Auxiliar de oftalmologia (3222.30)</option>
    <option value="10359">Auxiliar de Prótese Dentária (3224.20)</option>
    <option value="10422">Auxiliar de radiologia (revelação fotográfica) (7664.20)</option>
    <option value="10408">Auxiliar de sanitarista (5151.20)</option>
    <option value="10346">Auxiliar de saúde (Navegação marítima) (3222.40)</option>
    <option value="10347">Auxiliar de saúde marítima (3222.40)</option>
    <option value="10416">Auxiliar de veterinário (5193.05)</option>
    <option value="10342">Auxiliar em hemotransfusão (3222.30)</option>
    <option value="10375">Auxiliar técnico de laboratório de análises clínicas (3242.10)</option>
    <option value="10377">Auxiliar técnico em laboratório de farmácia (3251.05)</option>
    <option value="10376">Auxiliar técnico em patologia clínica (3242.10)</option>
    <option value="10277">Avaliador físico (2241.05)</option>
    <option value="10020">Bacteriologista (2030.15)</option>
    <option value="10027">Biologista (2211.05)</option>
    <option value="10028">Biomédico (2211.05)</option>
    <option value="10041">Cardiologista (2231.06)</option>
    <option value="10044">Cirurgião cardiovascular (2231.07)</option>
    <option value="10046">Cirurgião de cabeça e pescoço (2231.08)</option>
    <option value="10128">Cirurgião de mama (2231.38)</option>
    <option value="10152">Cirurgião de mão (2231.46)</option>
    <option value="10202">Cirurgião dentista - auditor (2232.04)</option>
    <option value="10203">Cirurgião dentista - clínico geral (2232.08)</option>
    <option value="10207">Cirurgião dentista - endodontista (2232.12)</option>
    <option value="10209">Cirurgião dentista - epidemiologista (2232.16)</option>
    <option value="10210">Cirurgião dentista - estomatologista (2232.20)</option>
    <option value="10211">Cirurgião dentista - implantodontista (2232.24)</option>
    <option value="10212">Cirurgião dentista - odontogeriatra (2232.28)</option>
    <option value="10215">Cirurgião dentista - odontologista legal (2232.32)</option>
    <option value="10216">Cirurgião dentista - odontopediatra (2232.36)</option>
    <option value="10219">Cirurgião dentista - ortopedista e ortodontista (2232.40)</option>
    <option value="10224">Cirurgião dentista - patologista bucal (2232.44)</option>
    <option value="10225">Cirurgião dentista - periodontista (2232.48)</option>
    <option value="10228">Cirurgião dentista - protesiólogo bucomaxilofacial (2232.52)</option>
    <option value="10230">Cirurgião dentista - protesista (2232.56)</option>
    <option value="10233">Cirurgião dentista - radiologista (2232.60)</option>
    <option value="10235">Cirurgião dentista - reabilitador oral (2232.64)</option>
    <option value="10236">Cirurgião dentista - traumatologista bucomaxilofacial (2232.68)</option>
    <option value="10239">Cirurgião dentista de saúde coletiva (2232.72)</option>
    <option value="10048">Cirurgião do aparelho digestivo (2231.09)</option>
    <option value="10049">Cirurgião gastroenterológico (2231.09)</option>
    <option selected="selected" value="2231.10">Cirurgião geral (2231.10)</option>
    <option value="10112">Cirurgião ginecológico (2231.32)</option>
    <option value="10129">Cirurgião mastologista (2231.38)</option>
    <option value="10146">Cirurgião oftalmológico (2231.44)</option>
    <option value="10237">Cirurgião oral e maxilofacial (2232.68)</option>
    <option value="10153">Cirurgião ortopedista (2231.46)</option>
    <option value="10162">Cirurgião otorrinolaringologista (2231.47)</option>
    <option value="10054">Cirurgião pediátrico (2231.11)</option>
    <option value="10056">Cirurgião plástico (2231.12)</option>
    <option value="10180">Cirurgião proctologista (2231.52)</option>
    <option value="10058">Cirurgião torácico (2231.13)</option>
    <option value="10154">Cirurgião traumatologista (2231.46)</option>
    <option value="10198">Cirurgião urológico (2231.57)</option>
    <option value="10199">Cirurgião urologista (2231.57)</option>
    <option value="10061">Clínico geral (2231.15)</option>
    <option value="10394">Copeiro de hospital (5134.30)</option>
    <option value="10393">Cozinheiro de hospital (5132.20)</option>
    <option value="10204">Dentista (2232.08)</option>
    <option value="10220">Dentista de aparelho (2232.40)</option>
    <option value="10217">Dentista de criança (2232.36)</option>
    <option value="10226">Dentista de gengivas (2232.48)</option>
    <option value="10213">Dentista de idosos (2232.28)</option>
    <option value="10240">Dentista de saúde coletiva (2232.72)</option>
    <option value="10214">Dentista de terceira idade (2232.28)</option>
    <option value="10070">Dermatologista (2231.17)</option>
    <option value="10001">Diretor clínico (1312.05)</option>
    <option value="10002">Diretor de departamento de saúde (1312.05)</option>
    <option value="10003">Diretor de divisão médica (1312.05)</option>
    <option value="10004">Diretor de serviços de saúde (1312.05)</option>
    <option value="10005">Diretor de serviços médicos (1312.05)</option>
    <option value="10006">Diretor de unidade assistencial (1312.05)</option>
    <option value="10007">Diretor de unidade de saúde (1312.05)</option>
    <option value="10008">Diretor de unidade hospitalar (1312.05)</option>
    <option value="10009">Diretor médico-hospitalar (1312.05)</option>
    <option value="10261">Enfermeira parteira (2235.45)</option>
    <option value="10250">Enfermeiro (2235.05)</option>
    <option value="10251">Enfermeiro auditor (2235.10)</option>
    <option value="10259">Enfermeiro de berçário (2235.40)</option>
    <option value="10252">Enfermeiro de bordo (2235.15)</option>
    <option value="10253">Enfermeiro de centro cirúrgico (2235.20)</option>
    <option value="10265">Enfermeiro de saúde publica (2235.60)</option>
    <option value="10255">Enfermeiro de terapia intensiva (2235.25)</option>
    <option value="10257">Enfermeiro do trabalho (2235.30)</option>
    <option value="10256">Enfermeiro intensivista (2235.25)</option>
    <option value="10258">Enfermeiro nefrologista (2235.35)</option>
    <option value="10260">Enfermeiro neonatologista (2235.40)</option>
    <option value="10262">Enfermeiro obstétrico (2235.45)</option>
    <option value="10263">Enfermeiro psiquiátrico (2235.50)</option>
    <option value="10264">Enfermeiro puericultor e pediátrico (2235.55)</option>
    <option value="10266">Enfermeiro sanitarista (2235.60)</option>
    <option value="10417">Enfermeiro veterinário (5193.05)</option>
    <option value="10016">Entomologista (2030.10)</option>
    <option value="10017">Entomólogo (2030.10)</option>
    <option value="10192">Epidemiologista (2231.56)</option>
    <option value="10247">Farmacêutico (2234.05)</option>
    <option value="10248">Farmacêutico homeopata (2234.05)</option>
    <option value="10249">Farmacêutico hospitalar (2234.05)</option>
    <option value="10022">Fenologista (2030.25)</option>
    <option value="10098">Fisiatra (2231.26)</option>
    <option value="10025">Físico hospitalar (2131.50)</option>
    <option value="10026">Físico médico (2131.50)</option>
    <option value="10021">Fisiologista (exceto médico) (2030.20)</option>
    <option value="10267">Fisioterapeuta (2236.05)</option>
    <option value="10268">Fisioterapeuta acupunturista (2236.05)</option>
    <option value="10386">Fitotecário (4151.20)</option>
    <option value="10305">Fitoterapeuta (3221.05)</option>
    <option value="10100">Foniatra (2231.27)</option>
    <option value="10276">Fonoaudiólogo (2238.10)</option>
    <option value="10015">Geneticista (2011.15)</option>
    <option value="10011">Gerente de ambulatório (1312.10)</option>
    <option value="10012">Gerente de enfermagem (1312.10)</option>
    <option value="10013">Gerente de nutrição em unidades de saúde (1312.10)</option>
    <option value="10014">Gerente de serviços de saúde (1312.10)</option>
    <option value="10000">Gerente de serviços sociais (1311.20)</option>
    <option value="10108">Geriatra (2231.31)</option>
    <option value="10109">Gerontologista (2231.31)</option>
    <option value="10110">Gerontólogo (2231.31)</option>
    <option value="10113">Ginecologista (2231.32)</option>
    <option value="10071">Hansenólogo (2231.17)</option>
    <option value="10118">Hematologista (2231.33)</option>
    <option value="10120">Hemoterapeuta (2231.34)</option>
    <option value="10308">Homeopata (exceto médico) (3221.15)</option>
    <option value="10083">Imagenologista (2231.24)</option>
    <option value="10409">Imunizador (5151.20)</option>
    <option value="10124">Infectologista (2231.36)</option>
    <option value="10324">Instrumentador cirúrgico (3222.25)</option>
    <option value="10254">Instrumentador cirúrgico (enfermeiro) (2235.20)</option>
    <option value="10325">Instrumentador em cirurgia (3222.25)</option>
    <option value="10326">Instrumentadora cirúrgica (3222.25)</option>
    <option value="10424">Instrumentista de laboratório (manutenção) (9151.05)</option>
    <option value="10421">Instrumentista de precisão (7411.05)</option>
    <option value="10079">Intensivista (2231.22)</option>
    <option value="10301">Laboratorista - exclusive análises clínicas (3011.05)</option>
    <option value="10412">Massoterapeuta (5161.35)</option>
    <option value="10130">Mastologista (2231.38)</option>
    <option value="10029">Médico acupunturista (2231.01)</option>
    <option value="10030">Médico alergista (2231.02)</option>
    <option value="10031">Médico alergista e imunologista (2231.02)</option>
    <option value="10103">Médico alopata (2231.29)</option>
    <option value="10033">Médico anatomopatologista (2231.03)</option>
    <option value="10037">Médico anestesiologista (2231.04)</option>
    <option value="10038">Médico anestesista (2231.04)</option>
    <option value="10040">Médico angiologista (2231.05)</option>
    <option value="10084">Médico angioradiologista (2231.24)</option>
    <option value="10149">Médico cancerologista (2231.45)</option>
    <option value="22315">Médico Cancerologista Cirurgico (2231-F5)</option>
    <option value="22316">Médico Cancerologista Clínico (2231-F6)</option>
    <option value="22314">Médico Cancerologista Pediátrico (2231-F4)</option>
    <option value="10042">Médico cardiologista (2231.06)</option>
    <option value="10052">Médico Cirurgião (2231.10)</option>
    <option value="10045">Médico Cirurgião cardiovascular (2231.07)</option>
    <option value="10047">Médico Cirurgião de cabeça e pescoço (2231.08)</option>
    <option value="10155">Médico Cirurgião de Mão (2231.46)</option>
    <option value="10050">Médico Cirurgião do aparelho digestivo (2231.09)</option>
    <option value="10053">Médico Cirurgião geral (2231.10)</option>
    <option value="10055">Médico Cirurgião pediátrico (2231.11)</option>
    <option value="10057">Médico Cirurgião plástico (2231.12)</option>
    <option value="10059">Médico Cirurgião torácico (2231.13)</option>
    <option value="2231">Médico Cirurgião Vascular (2231-F3)</option>
    <option value="10060">Médico citopatologista (2231.14)</option>
    <option value="10062">Médico clínico (2231.15)</option>
    <option value="10063">Médico clínico geral (2231.15)</option>
    <option value="10067">Médico comunitário (2231.16)</option>
    <option value="10068">Médico de (2231.16)</option>
    <option value="10170">Médico de criança (2231.49)</option>
    <option value="10125">Médico de doenças infecciosas e parasitárias (2231.36)</option>
    <option value="10156">Médico de medicina esportiva (2231.46)</option>
    <option value="10114">Médico de mulheres (2231.32)</option>
    <option value="10069">Médico de saúde da família (2231.16)</option>
    <option value="10193">Médico de saúde pública (2231.56)</option>
    <option value="10085">Médico densitometrista (2231.24)</option>
    <option value="10072">Médico dermatologista (2231.17)</option>
    <option value="10043">Médico do Coração (2231.06)</option>
    <option value="10073">Médico do trabalho (2231.18)</option>
    <option value="10077">Médico do tráfego (2231.21)</option>
    <option value="10086">Médico em diagnóstico por imagem (2231.24)</option>
    <option value="10074">Médico em eletroencefalografia (2231.19)</option>
    <option value="10075">Médico em endoscopia (2231.20)</option>
    <option value="10121">Médico em hemoterapia (2231.34)</option>
    <option value="22317">Médico em Medicina de Família e comunidade (2231-F7)</option>
    <option value="10078">Médico em medicina de tráfego (2231.21)</option>
    <option value="10080">Médico em medicina intensiva (2231.22)</option>
    <option value="10104">Médico em medicina interna (2231.29)</option>
    <option value="10081">Médico em medicina nuclear (2231.23)</option>
    <option value="22318">Médico em Medicina Preventiva e Social (2231-F8)</option>
    <option value="10087">Médico em radiologia e diagnóstico por imagem (2231.24)</option>
    <option value="10188">Médico em radioterapia (2231.54)</option>
    <option value="10093">Médico endocrinologista (2231.25)</option>
    <option value="10094">Médico endocrinologista e metabologista (2231.25)</option>
    <option value="10076">Médico endoscopista (2231.20)</option>
    <option value="10194">Médico epidemiologista (2231.56)</option>
    <option value="10064">Médico especialista em clínica médica (2231.15)</option>
    <option value="10065">Médico especialista em medicina interna (2231.15)</option>
    <option value="10099">Médico fisiatra (2231.26)</option>
    <option value="10101">Médico foniatra (2231.27)</option>
    <option value="10102">Médico gastroenterologista (2231.28)</option>
    <option value="10105">Médico generalista (2231.29)</option>
    <option value="10107">Médico geneticista (2231.30)</option>
    <option value="10111">Médico geriatra (2231.31)</option>
    <option value="10115">Médico ginecologista (2231.32)</option>
    <option value="10116">Médico ginecologista e obstetra (2231.32)</option>
    <option value="10119">Médico hematologista (2231.33)</option>
    <option value="10122">Médico hemoterapeuta (2231.34)</option>
    <option value="10195">Médico higienista (2231.56)</option>
    <option value="10123">Médico homeopata (2231.35)</option>
    <option value="10032">Médico imunologista (2231.02)</option>
    <option value="10126">Médico infectologista (2231.36)</option>
    <option value="10066">Médico internista (2231.15)</option>
    <option value="10166">Médico laboratorista (2231.48)</option>
    <option value="10127">Médico legista (2231.37)</option>
    <option value="10131">Médico mastologista (2231.38)</option>
    <option value="10095">Médico metabolista (2231.25)</option>
    <option value="10106">Médico militar (2231.29)</option>
    <option value="10132">Médico nefrologista (2231.39)</option>
    <option value="10133">Médico neurocirurgião (2231.40)</option>
    <option value="10134">Médico neurocirurgião pediátrico (2231.40)</option>
    <option value="10137">Médico neurofisiologista (2231.41)</option>
    <option value="10139">Médico neurologista (2231.42)</option>
    <option value="10140">Médico neuropediatra (2231.42)</option>
    <option value="10088">Médico neuroradiologista (2231.24)</option>
    <option value="10082">Médico nuclear (2231.23)</option>
    <option value="10143">Médico nutrologista (2231.43)</option>
    <option value="10144">Médico nutrólogo (2231.43)</option>
    <option value="10117">Médico obstetra (2231.32)</option>
    <option value="10147">Médico oftalmologista (2231.44)</option>
    <option value="10150">Médico oncologista (2231.45)</option>
    <option value="10157">Médico ortopedista (2231.46)</option>
    <option value="10158">Médico ortopedista e traumatologista (2231.46)</option>
    <option value="10163">Médico otorrinolaringologista (2231.47)</option>
    <option value="10167">Médico patologista (2231.48)</option>
    <option value="10168">Médico patologista clínico (2231.48)</option>
    <option value="10171">Médico pediatra (2231.49)</option>
    <option value="10174">Médico perito (2231.50)</option>
    <option value="10175">Médico pneumologista (2231.51)</option>
    <option value="10176">Médico pneumotisiologista (2231.51)</option>
    <option value="10181">Médico proctologista (2231.52)</option>
    <option value="10183">Médico psicanalista (2231.53)</option>
    <option value="10184">Médico psicoterapeuta (2231.53)</option>
    <option value="10185">Médico psiquiatra (2231.53)</option>
    <option value="10089">Médico radiologista (2231.24)</option>
    <option value="10090">Médico radiologista intervencionista (2231.24)</option>
    <option value="10189">Médico radioterapeuta (2231.54)</option>
    <option value="10190">Médico reumatologista (2231.55)</option>
    <option value="10196">Médico sanitarista (2231.56)</option>
    <option value="10159">Médico traumatologista (2231.46)</option>
    <option value="10200">Médico urologista (2231.57)</option>
    <option value="10244">Médico veterinário (2233.05)</option>
    <option value="10245">Médico veterinário de saúde pública (2233.05)</option>
    <option value="10246">Médico veterinário sanitarista (2233.05)</option>
    <option value="10096">Metabolista (2231.25)</option>
    <option value="10097">Metabologista (2231.25)</option>
    <option value="10423">Motorista de ambulância (7823.10)</option>
    <option value="10172">Neonatologista (2231.49)</option>
    <option value="10135">Neurocirurgião (2231.40)</option>
    <option value="10136">Neurocirurgião pediátrico (2231.40)</option>
    <option value="10138">Neurofisiologista (2231.41)</option>
    <option value="10141">Neurologista (2231.42)</option>
    <option value="10142">Neuropediatra (2231.42)</option>
    <option value="10297">Neuropsicólogo (2515.45)</option>
    <option value="10186">Neuropsiquiatra (2231.53)</option>
    <option value="10274">Nutricionista (2237.10)</option>
    <option value="10275">Nutricionista (saúde pública) (2237.10)</option>
    <option value="10145">Nutrologista (2231.43)</option>
    <option value="10205">Odontologista (2232.08)</option>
    <option value="10241">Odontologista social (2232.72)</option>
    <option value="10206">Odontólogo (2232.08)</option>
    <option value="10238">Odontólogo (cirurgia e traumatologia bucomaxilofacial) (2232.68)</option>
    <option value="10242">Odontólogo de saúde coletiva (2232.72)</option>
    <option value="10243">Odontólogo de saúde pública (2232.72)</option>
    <option value="10231">Odontólogo protesista (2232.56)</option>
    <option value="10208">Odontólogo-endodontista (2232.12)</option>
    <option value="10218">Odontopediatra (2232.36)</option>
    <option value="10234">Odontoradiologista (2232.60)</option>
    <option value="10018">Ofiologista (2030.10)</option>
    <option value="10148">Oftalmologista (2231.44)</option>
    <option value="10151">Oncologista (2231.45)</option>
    <option value="10365">Operador de eletrocardiógrafo (3241.10)</option>
    <option value="10364">Operador de eletroencefalógrafo (3241.05)</option>
    <option value="10420">Operador de incubadora (6233.15)</option>
    <option value="10348">Óptico oftálmico (3223.05)</option>
    <option value="10349">óptico optometrista (3223.05)</option>
    <option value="10350">óptico protesista (3223.05)</option>
    <option value="10019">Ornitólogo (2030.10)</option>
    <option value="10221">Ortodontista (2232.40)</option>
    <option value="10222">Ortodontólogo (2232.40)</option>
    <option value="10160">Ortopedista (2231.46)</option>
    <option value="10223">Ortopedista maxilar (2232.40)</option>
    <option value="10269">Ortoptista (2236.15)</option>
    <option value="10164">Otorrino (2231.47)</option>
    <option value="10165">Otorrinolaringologista (2231.47)</option>
    <option value="10034">Patologista (2231.03)</option>
    <option value="10169">Patologista clínico (2231.48)</option>
    <option value="10173">Pediatra (2231.49)</option>
    <option value="10227">Periodontista (2232.48)</option>
    <option value="10270">Peripatologista (2236.20)</option>
    <option value="10023">Pesquisador de clínica médica (2033.05)</option>
    <option value="10024">Pesquisador de medicina básica (2033.10)</option>
    <option value="10177">Pneumologista (2231.51)</option>
    <option value="10178">Pneumotisiologista (2231.51)</option>
    <option value="10182">Proctologista (2231.52)</option>
    <option value="10232">Protesista (2232.56)</option>
    <option value="10360">Protesista (técnico) (3225.05)</option>
    <option value="10229">Protesista bucomaxilofacial (2232.52)</option>
    <option value="10352">Protético dentário (3224.10)</option>
    <option value="10298">Psicanalista (2515.50)</option>
    <option value="10282">Psicólogo acupunturista (2515.10)</option>
    <option value="10283">Psicólogo clínico (2515.10)</option>
    <option value="10290">Psicólogo criminal (2515.25)</option>
    <option value="10279">Psicólogo da educação (2515.05)</option>
    <option value="10284">Psicólogo da saúde (2515.10)</option>
    <option value="10287">Psicólogo desportivo (2515.15)</option>
    <option value="10288">Psicólogo do esporte (2515.15)</option>
    <option value="10295">Psicólogo do trabalho (2515.40)</option>
    <option value="10294">Psicólogo do trânsito (2515.35)</option>
    <option value="10280">Psicólogo educacional (2515.05)</option>
    <option value="10281">Psicólogo escolar (2515.05)</option>
    <option value="10291">Psicólogo forense (2515.25)</option>
    <option value="10289">Psicólogo hospitalar (2515.20)</option>
    <option value="10292">Psicólogo jurídico (2515.25)</option>
    <option value="10296">Psicólogo organizacional (2515.40)</option>
    <option value="10293">Psicólogo social (2515.30)</option>
    <option value="10278">Psicopedagogo (2394.25)</option>
    <option value="10285">Psicoterapeuta (2515.10)</option>
    <option value="10187">Psiquiatra (2231.53)</option>
    <option value="10414">Radioestesista (5168.05)</option>
    <option value="10091">Radiologista (2231.24)</option>
    <option value="10191">Reumatologista (2231.55)</option>
    <option value="3222">Socorrista habilitado (3222-B3)</option>
    <option value="10313">Técnico de enfermagem (3222.05)</option>
    <option value="10316">Técnico de enfermagem de terapia intensiva (3222.10)</option>
    <option value="10319">Técnico de enfermagem do trabalho (3222.15)</option>
    <option value="10322">Técnico de enfermagem em saúde mental (3222.20)</option>
    <option value="10320">Técnico de enfermagem em saúde ocupacional (3222.15)</option>
    <option value="10321">Técnico de enfermagem ocupacional (3222.15)</option>
    <option value="10323">Técnico de enfermagem psiquiátrica (3222.20)</option>
    <option value="10314">Técnico de enfermagem socorrista (3222.05)</option>
    <option value="10373">Técnico de laboratório de análises clínicas (3242.05)</option>
    <option value="10379">Técnico em Farmácia (3251.15)</option>
    <option value="10317">Técnico em hemodiálise (3222.10)</option>
    <option value="10366">Técnico em hemodinâmica (3241.15)</option>
    <option value="10315">Técnico em hemotransfusão (3222.05)</option>
    <option value="10351">Técnico em higiene dental (3224.05)</option>
    <option value="10362">Técnico em imobilizações do aparelho locomotor (3226.05)</option>
    <option value="10363">Técnico em imobilizações gessadas (3226.05)</option>
    <option value="10380">Técnico em imunobiológicos (3253.10)</option>
    <option value="10302">Técnico em instrumentação (3134.10)</option>
    <option value="10378">Técnico em laboratório de farmácia (3251.10)</option>
    <option value="10303">Técnico em laboratório óptico (3135.05)</option>
    <option value="10367">Técnico em mamografia (3241.15)</option>
    <option value="10425">Técnico em manutenção de equipamentos e instrumentos médico-hospitalares (9153.05)</option>
    <option value="10374">Técnico em patologia clínica (3242.05)</option>
    <option value="10368">Técnico em radiologia (3241.15)</option>
    <option value="10369">Técnico em radiologia e imagenologia (3241.15)</option>
    <option value="10370">Técnico em radiologia médica (3241.15)</option>
    <option value="10371">Técnico em radiologia odontológica (3241.15)</option>
    <option value="10372">Técnico em tomografia (3241.15)</option>
    <option value="10318">Técnico em UTI (3222.10)</option>
    <option value="10361">Técnico ortopédico (3225.05)</option>
    <option value="10286">Terapeuta (2515.10)</option>
    <option value="10309">Terapeuta crâneo-sacral (3221.15)</option>
    <option value="10310">Terapeuta holístico (3221.15)</option>
    <option value="10311">Terapeuta manual (3221.15)</option>
    <option value="10312">Terapeuta mio-facial (3221.15)</option>
    <option value="10306">Terapeuta naturalista (3221.05)</option>
    <option value="10271">Terapeuta ocupacional (2236.20)</option>
    <option value="10307">Terapeuta oriental (3221.05)</option>
    <option value="10179">Tisiologista (2231.51)</option>
    <option value="10161">Traumatologista (2231.46)</option>
    <option value="10092">Ultra-sonografista (2231.24)</option>
    <option value="10201">Urologista (2231.57)</option>
    <option value="10396">Visitador de saúde (5151.05)</option>
    <option value="10397">Visitador de saúde em domicílio (5151.05)</option>
    </select>
    </div>
    <div class="field">
      <label for="guiaxml[profissional][cpf]">CPF</label>
      <input type="text" id="guiaxml[profissional][cpf]" name="guiaxml[profissional][cpf]" value="90855469587" />
    </div>
    <h2>Origem (Prestador)</h2>
    <div class="field">
      <label for="guiaxml[origem][cpnj]">CNPJ</label>
      <input type="text" id="guiaxml[origem][cnpj]" name="guiaxml[origem][cnpj]" value="07072541000174" />
    </div>
    <h2>Destino (Operadora ou Plano de Saúde)</h2>
    <div class="field">
      <label for="guiaxml[destino][registroANS]">Registro ANS</label>
      <input type="text" id="guiaxml[destino][registroANS]" name="guiaxml[destino][registroANS]" value="324477" />
    </div>
    <h2>Identificação Guia SADT SP</h2>
    <div class="field">
      <label for="guiaxml[idGuiaSADTSP][registroANS]">Fonte Pagadora – Registro ANS</label>
      <input type="text" id="guiaxml[idGuiaSADTSP][registroANS]" name="guiaxml[idGuiaSADTSP][registroANS]" value="324477" />
    </div>
    <div class="field">
      <label for="guiaxml[idGuiaSADTSP][numeroGuia]">Número da Guia</label>
      <input id="guiaxml[idGuiaSADTSP][numeroGuia]" name="guiaxml[idGuiaSADTSP][numeroGuia]" value="002" />
    </div>
    <div class="field">
      <label for="guiaxml[idGuiaSADTSP][numeroGuiaPrincipal]">Número da Guia Principal</label>
      <input id="guiaxml[idGuiaSADTSP][numeroGuiaPrincipal]" name="guiaxml[idGuiaSADTSP][numeroGuiaPrincipal]" value="002" />
    </div>
    <div class="field">
      <label for="guiaxml[idGuiaSADTSP][dataEmissaoGuia]">Data de Emissão da Guia</label>
      <input type="date" id="guiaxml[idGuiaSADTSP][dataEmissaoGuia]" name="guiaxml[idGuiaSADTSP][dataEmissaoGuia]" value="2014-04-07" />
    </div>
    <div class="field">
      <label for="guiaxml[idGuiaSADTSP][numeroGuiaPrestador]">Número Guia Prestador</label>
      <input type="text" id="guiaxml[idGuiaSADTSP][numeroGuiaPrestador]" name="guiaxml[idGuiaSADTSP][numeroGuiaPrestador]" value="122" />
    </div>
    <div class="field">
      <label for="guiaxml[idGuiaSADTSP][numeroGuiaOperadora]">Número Guia Operadora</label>
      <input type="text" id="guiaxml[idGuiaSADTSP][numeroGuiaOperadora]" name="guiaxml[idGuiaSADTSP][numeroGuiaOperadora]" value="122" />
    </div>
    <h2>Dados da Autorização</h2>
    <div class="field">
      <label for="guiaxml[dadosAutorizacao][dataAutorizacao]">Data da Autorização</label>
      <input type="date" id="guiaxml[dadosAutorizacao][dataAutorizacao]" name="guiaxml[dadosAutorizacao][dataAutorizacao]" value="2014-02-27" />
    </div>
    <div class="field">
      <label for="guiaxml[dadosAutorizacao][senhaAutorizacao]">Senha</label>
      <input type="text" id="guiaxml[dadosAutorizacao][senhaAutorizacao]" name="guiaxml[dadosAutorizacao][senhaAutorizacao]" value="04345298" />
    </div>
    <div class="field">
      <label for="guiaxml[dadosAutorizacao][validadeSenha]">Validade da Senha</label>
      <input type="date" id="guiaxml[dadosAutorizacao][validadeSenha]" name="guiaxml[dadosAutorizacao][validadeSenha]" value="2014-04-30" />
    </div>
    <h2>Dados do Beneficiário</h2>
    <div class="field">
      <label for="guiaxml[dadosBeneficiario][numeroCarteira]">Número da Carteira</label>
      <input id="guiaxml[dadosAutorizacao][numeroCarteira]" name="guiaxml[dadosBeneficiario][numeroCarteira]" value="021546800" />
    </div>
    <div class="field">
      <label for="guiaxml[dadosBeneficiario][nomeBeneficiario]">Nome do Beneficiário</label>
      <input id="guiaxml[dadosBeneficiario][nomeBeneficiario]" name="guiaxml[dadosBeneficiario][nomeBeneficiario]" value="FRANCISCO NILTON ALENCAR" />
    </div>
    <div class="field">
      <label for="guiaxml[dadosBeneficiario][nomePlano]">Nome do Plano</label>
      <select name="guiaxml[dadosBeneficiario][nomePlano]" id="guiaxml[dadosBeneficiario][nomePlano]" />
      <option value="BASICO" selected="selected">Básico</option>
      </select>
    </div>
    <h2>Atendimento</h2>
    <div class="field">
      <label for="guiaxml[atendimento][data]">Data do Atendimento</label>
      <input type="date" id="guiaxml[atendimento][data]" name="guiaxml[atendimento][data]" value="2014-04-14" />
    </div>
    <div class="field">
      <label for="guiaxml[atendimento][cid]">Código CID</label>
      <input id="guiaxml[atendimento][cid]" name="guiaxml[atendimento][cid]" value="S82.1" />
    </div>
    <div class="field">
      <label for="guiaxml[atendimento][descricaoDiagnostico]">Descrição do Diagnóstico</label>
      <input id="guiaxml[atendimento][descricaoDiagnostico]" name="guiaxml[atendimento][descricaoDiagnostico]" value="Fratura da extremidade proximal da tíbia" />
    </div>
    <div class="field">
      <label for="guiaxml[atendimento][carater]">Caráter de Atendimento</label>
      <select name="guiaxml[atendimento][carater]" id="guiaxml[atendimento][carater]">
        <option value="">--</option>
        <option value="E" selected="selected">ELETIVA</option>
        <option value="U">URGÊNCIA</option>
      </select>
    </div>
    <div class="field">
      <label for="guiaxml[atendimento][atendimento]">Atendimento</label>
      <select name="guiaxml[atendimento][atendimento]" id="guiaxml[atendimento][atendimento]">
        <option value="01">01-Remoção</option>
        <option value="02">02-Pequena Cirurgia</option>
        <option value="03">03-Terapias</option>
        <option value="04">04-Consulta</option>
        <option value="05">05-Exame</option>
        <option value="06" selected="selected">06-Atendimento Domiciliar</option>
        <option value="07">07-SADT Internado</option>
        <option value="08">08-Quimioterapia</option>
        <option value="09">09-Radioterapia</option>
        <option value="10">10-TRS - Terapia Renal Substitutiva</option>
      </select>
    </div>
    <div class="field">
      <label for="guiaxml[atendimento][indicadorAcidente]">Indicador Acidente</label>
      <select name="guiaxml[atendimento][indicadorAcidente]" id="guiaxml[atendimento][indicadorAcidente]">
        <option value="0">0-Acidente ou doença relac. a trabalho</option>
        <option value="1">1-Acidente ou doença relac. a trânsito</option>
        <option selected="selected" value="2">2-Outros Acidentes</option>
        <option value="9">9-Não Acidentes</option>
      </select>
    </div>
    <div class="field">
      <label for="guiaxml[atendimento][tipoSaida]">Tipo de Saída</label>
      <select name="guiaxml[atendimento][tipoSaida]" id="guiaxml[atendimento][tipoSaida]">
        <option value="1">1-Retorno</option>
        <option value="2" selected="selected">2-Retorno SADT</option>
        <option value="3">3-Referência</option>
        <option value="4">4-Internação</option>
        <option value="5">5-Alta</option>
        <option value="6">6-Óbito</option>
      </select>
    </div>
    <div class="field">
      <label for="guiaxml[atendimento][tipoDoenca]">Tipo de Doença</label>
      <select name="guiaxml[atendimento][tipoDoenca]" id="guiaxml[atendimento][tipoDoenca]">
        <option>--</option>
        <option value="A" selected="selected">Agudo</option>
        <option value="C">Crônico</option>
      </select>
    </div>
    <h2>Procedimentos e Exames Realizados</h2>
    <table>
      <tr>
        <th></th>
        <th>Data</th>
        <th>Tabela</th>
        <th>Cód. Proced.</th>
        <th>Descrição Proc.</th>
        <th>Quant.</th>
        <th>Valor Unit.</th>
      </tr>
      <tr>
        <td></td>
        <td>
          <input type="date" value="2014-05-01" id="guiaxml[procedimentos][0][data]" name="guiaxml[procedimentos][0][data]" />
        </td>
        <td>
          <select name="guiaxml[procedimentos][0][tabela]" id="guiaxml[procedimentos][0][tabela]">
            <option value="">--</option>
            <option selected="selected" value="98">Própria Pacotes</option>
          </select>
        </td>
        <td><input type="text" id="guiaxml[procedimentos][0][codigo]" name="guiaxml[procedimentos][0][codigo]"  value="98014692" /></td>
        <td><input type="text" id="guiaxml[procedimentos][0][descricao]" name="guiaxml[procedimentos][0][descricao]" value="DIARIA DE ASSSITENCIA 06 HORAS" /></td>
        <td><input type="text" id="guiaxml[procedimentos][0][quantidade]" name="guiaxml[procedimentos][0][quantidade]" value="9" /></td>
        <td><input type="text" id="guiaxml[procedimentos][0][valorUnitario]" name="guiaxml[procedimentos][0][valorUnitario]" value="120" /></td>
      </tr>
      <tr>
        <td></td>
        <td><input type="date" value="2014-05-01" id="guiaxml[procedimentos][1][data]" name="guiaxml[procedimentos][1][data]" /></td>
        <td>
          <select name="guiaxml[procedimentos][1][tabela]" id="guiaxml[procedimentos][1][tabela]">
            <option value="">--</option>
            <option selected="selected" value="98">Propria Pacotes</option>
          </select>
        </td>
        <td><input type="text" id="guiaxml[procedimentos][1][codigo]" name="guiaxml[procedimentos][1][codigo]" value="98014706" /></td>
        <td><input type="text" id="guiaxml[procedimentos][1][descricao]" name="guiaxml[procedimentos][1][descricao]" value="DIARIA DE ASSISTENCIA 24 HORAS SEM RESPIRADOR" /></td>
        <td><input type="text" id="guiaxml[procedimentos][1][quantidade]" name="guiaxml[procedimentos][1][quantidade]" value="22" /></td>
        <td><input type="text" id="guiaxml[procedimentos][1][valorUnitario]" name="guiaxml[procedimentos][1][valorUnitario]" value="320" /></td>
      </tr>
      <tr>
        <td></td>
        <td><input type="date" id="guiaxml[procedimentos][2][data]" name="guiaxml[procedimentos][2][data]" value="2014-05-01" /></td>
        <td>
          <select name="guiaxml[procedimentos][2][tabela]" id="guiaxml[procedimentos][2][tabela]">
            <option value="">--</option>
            <option selected="selected" value="98">Propria Pacotes</option>
          </select>
        </td>
        <td><input type="text" id="guiaxml[procedimentos][2][codigo]" name="guiaxml[procedimentos][2][codigo]" value="90020057" /></td>
        <td><input type="text" id="guiaxml[procedimentos][2][descricao]" name="guiaxml[procedimentos][2][descricao]" value="FISIOTERAPIA MOTORA E RESPIRATORIA POR SESSAO" /></td>
        <td><input type="text" id="guiaxml[procedimentos][2][quantidade]" name="guiaxml[procedimentos][2][quantidade]" value="13" /></td>
        <td><input type="text" id="guiaxml[procedimentos][2][valorUnitario]" name="guiaxml[procedimentos][2][valorUnitario]" value="60" /></td>
      </tr>
      <tr>
        <td></td>
        <td><input type="date" value="" id="guiaxml[procedimentos][3][data]" name="guiaxml[procedimentos][3][data]" /></td>
        <td>
          <select name="guiaxml[procedimentos][3][tabela]" id="guiaxml[procedimentos][3][tabela]">
            <option value="">--</option>
            <option value="98">Propria Pacotes</option>
          </select>
        </td>
        <td><input type="text" id="guiaxml[procedimentos][3][codigo]" name="guiaxml[procedimentos][3][codigo]" /></td>
        <td><input type="text" id="guiaxml[procedimentos][3][descricao]" name="guiaxml[procedimentos][3][descricao]" /></td>
        <td><input type="text" id="guiaxml[procedimentos][3][quantidade]" name="guiaxml[procedimentos][3][quantidade]" /></td>
        <td><input type="text" id="guiaxml[procedimentos][3][valorUnitario]" name="guiaxml[procedimentos][3][valorUnitario]" /></td>
      </tr>
      <tr>
        <td></td>
        <td><input type="date" value="" id="guiaxml[procedimentos][4][data]" name="guiaxml[procedimentos][4][data]" /></td>
        <td>
          <select name="guiaxml[procedimentos][4][tabela]" id="guiaxml[procedimentos][4][tabela]">
            <option value="">--</option>
            <option value="98">Propria Pacotes</option>
          </select>
        </td>
        <td><input type="text" id="guiaxml[procedimentos][4][codigo]" name="guiaxml[procedimentos][4][codigo]" /></td>
        <td><input type="text" id="guiaxml[procedimentos][4][descricao]" name="guiaxml[procedimentos][4][descricao]" /></td>
        <td><input type="text" id="guiaxml[procedimentos][4][quantidade]" name="guiaxml[procedimentos][4][quantidade]" /></td>
        <td><input type="text" id="guiaxml[procedimentos][4][valorUnitario]" name="guiaxml[procedimentos][4][valorUnitario]" /></td>
      </tr>
      <tr>
        <td></td>
        <td><input type="date" value="" id="guiaxml[procedimentos][5][data]" name="guiaxml[procedimentos][5][data]" /></td>
        <td>
          <select name="guiaxml[procedimentos][5][tabela]" id="guiaxml[procedimentos][5][tabela]">
            <option value="">--</option>
            <option value="98">Propria Pacotes</option>
          </select>
        </td>
        <td><input type="text" id="guiaxml[procedimentos][5][codigo]" name="guiaxml[procedimentos][5][codigo]" /></td>
        <td><input type="text" id="guiaxml[procedimentos][5][descricao]" name="guiaxml[procedimentos][5][descricao]" /></td>
        <td><input type="text" id="guiaxml[procedimentos][5][quantidade]" name="guiaxml[procedimentos][5][quantidade]" /></td>
        <td><input type="text" id="guiaxml[procedimentos][5][valorUnitario]" name="guiaxml[procedimentos][5][valorUnitario]" /></td>
      </tr>
    </table>
    <h2>Outras Despesas</h2>
    <table>
      <tr>
        <th>Tipo</th>
        <th>Data</th>
        <th>Tabela</th>
        <th>Código</th>
        <th>Descrição</th>
        <th>Quantidade</th>
        <th>Valor Unitário</th>
      </tr>
      <tr>
        <td>
          <select name="guiaxml[outrasDespesas][0][tipo]">
            <option value="">--</option>
            <option value="1">1-Gases Medicinais</option>
            <option value="2">2-Medicamentos</option>
            <option value="3">3-Materiais</option>
            <option value="4">4-Taxas Diversas</option>
            <option value="5">5-Diárias</option>
            <option value="6" selected="selected">6-Aluguéis</option>
          </select>
        </td>
        <td><input type="date" name="guiaxml[outrasDespesas][0][data]" value="2014-05-01" /></td>
        <td>
          <select name="guiaxml[outrasDespesas][0][tabela]">
            <option value="">--</option>
            <option value="00" selected="selected">Tabela Própria</option>
            <option value="05">Brasindice</option>
            <option value="12">SIMPRO</option>
          </select>
        </td>
        <td><input type="text" name="guiaxml[outrasDespesas][0][codigo]" value="001" /></td>
        <td><input type="text" name="guiaxml[outrasDespesas][0][descricao]" value="CAMA HOSPITALAR" /></td>
        <td><input type="text" name="guiaxml[outrasDespesas][0][quantidade]" value="31" /></td>
        <td><input type="text" name="guiaxml[outrasDespesas][0][valorUnitario]" value="6" /></td>
      </tr>
      <tr>
        <td>
          <select name="guiaxml[outrasDespesas][1][tipo]"">
          <option value="">--</option>
          <option value="1">1-Gases Medicinais</option>
          <option value="2" selected="selected">2-Medicamentos</option>
          <option value="3">3-Materiais</option>
          <option value="4">4-Taxas Diversas</option>
          <option value="5">5-Diárias</option>
          <option value="6">6-Aluguéis</option>
          </select>
        </td>
        <td><input type="date" name="guiaxml[outrasDespesas][1][data]" value="2014-07-01" /></td>
        <td>
          <select name="guiaxml[outrasDespesas][1][tabela]">
            <option value="">--</option>
            <option value="00" selected="selected">Tabela Própria</option>
            <option value="05">Brasindice</option>
            <option value="12">SIMPRO</option>
          </select>
        </td>
        <td><input type="text" name="guiaxml[outrasDespesas][1][codigo]" value="003" /></td>
        <td><input type="text" name="guiaxml[outrasDespesas][1][descricao]" value="EPREX - 4.000 UI/0,4 ML" /></td>
        <td><input type="text" name="guiaxml[outrasDespesas][1][quantidade]" value="13" /></td>
        <td><input type="text" name="guiaxml[outrasDespesas][1][valorUnitario]" value="137,95" /></td>
      </tr>
      <tr>
        <td>
          <select name="guiaxml[outrasDespesas][2][tipo]">
            <option value="">--</option>
            <option value="1">1-Gases Medicinais</option>
            <option value="2">2-Medicamentos</option>
            <option value="3">3-Materiais</option>
            <option value="4">4-Taxas Diversas</option>
            <option value="5">5-Diárias</option>
            <option value="6">6-Aluguéis</option>
          </select>
        </td>
        <td><input type="date" name="guiaxml[outrasDespesas][2][data]" /></td>
        <td>
          <select name="guiaxml[outrasDespesas][2][tabela]">
            <option value="">--</option>
            <option value="00">Tabela Própria</option>
            <option value="05">Brasindice</option>
            <option value="12">SIMPRO</option>
          </select>
        </td>
        <td><input type="text" name="guiaxml[outrasDespesas][2][codigo]" /></td>
        <td><input type="text" name="guiaxml[outrasDespesas][2][descricao]" /></td>
        <td><input type="text" name="guiaxml[outrasDespesas][2][quantidade]" /></td>
        <td><input type="text" name="guiaxml[outrasDespesas][2][valorUnitario]" /></td>
      </tr>
      <tr>
        <td>
          <select name="guiaxml[outrasDespesas][3][tipo]">
            <option value="">--</option>
            <option value="1">1-Gases Medicinais</option>
            <option value="2">2-Medicamentos</option>
            <option value="3">3-Materiais</option>
            <option value="4">4-Taxas Diversas</option>
            <option value="5">5-Diárias</option>
            <option value="6">6-Aluguéis</option>
          </select>
        </td>
        <td><input type="date" name="guiaxml[outrasDespesas][3][data]" /></td>
        <td>
          <select name="guiaxml[outrasDespesas][3][tabela]">
            <option value="">--</option>
            <option value="00">Tabela Própria</option>
            <option value="05">Brasindice</option>
            <option value="12">SIMPRO</option>
          </select>
        </td>
        <td><input type="text" name="guiaxml[outrasDespesas][3][codigo]" /></td>
        <td><input type="text" name="guiaxml[outrasDespesas][3][descricao]" /></td>
        <td><input type="text" name="guiaxml[outrasDespesas][3][quantidade]" /></td>
        <td><input type="text" name="guiaxml[outrasDespesas][3][valorUnitario]" /></td>
      </tr>
      <tr>
        <td>
          <select name="guiaxml[outrasDespesas][4][tipo]">
            <option value="">--</option>
            <option value="1">1-Gases Medicinais</option>
            <option value="2">2-Medicamentos</option>
            <option value="3">3-Materiais</option>
            <option value="4">4-Taxas Diversas</option>
            <option value="5">5-Diárias</option>
            <option value="6">6-Aluguéis</option>
          </select>
        </td>
        <td><input type="date" name="guiaxml[outrasDespesas][4][data]" /></td>
        <td>
          <select name="guiaxml[outrasDespesas][4][tabela]">
            <option value="">--</option>
            <option value="00">Tabela Própria</option>
            <option value="05">Brasindice</option>
            <option value="12">SIMPRO</option>
          </select>
        </td>
        <td><input type="text" name="guiaxml[outrasDespesas][4][codigo]" /></td>
        <td><input type="text" name="guiaxml[outrasDespesas][4][descricao]" /></td>
        <td><input type="text" name="guiaxml[outrasDespesas][4][quantidade]" /></td>
        <td><input type="text" name="guiaxml[outrasDespesas][4][valorUnitario]" /></td>
      </tr>
      <tr>
        <td>
          <select name="guiaxml[outrasDespesas][5][tipo]">
            <option value="">--</option>
            <option value="1">1-Gases Medicinais</option>
            <option value="2">2-Medicamentos</option>
            <option value="3">3-Materiais</option>
            <option value="4">4-Taxas Diversas</option>
            <option value="5">5-Diárias</option>
            <option value="6">6-Aluguéis</option>
          </select>
        </td>
        <td><input type="date" name="guiaxml[outrasDespesas][5][data]" /></td>
        <td>
          <select name="guiaxml[outrasDespesas][5][tabela]">
            <option value="">--</option>
            <option value="00">Tabela Própria</option>
            <option value="05">Brasindice</option>
            <option value="12">SIMPRO</option>
          </select>
        </td>
        <td><input type="text" name="guiaxml[outrasDespesas][5][codigo]" /></td>
        <td><input type="text" name="guiaxml[outrasDespesas][5][descricao]" /></td>
        <td><input type="text" name="guiaxml[outrasDespesas][5][quantidade]" /></td>
        <td><input type="text" name="guiaxml[outrasDespesas][5][valorUnitario]" /></td>
      </tr>
      <tr>
        <td>
          <select name="guiaxml[outrasDespesas][6][tipo]">
            <option value="">--</option>
            <option value="1">1-Gases Medicinais</option>
            <option value="2">2-Medicamentos</option>
            <option value="3">3-Materiais</option>
            <option value="4">4-Taxas Diversas</option>
            <option value="5">5-Diárias</option>
            <option value="6">6-Aluguéis</option>
          </select>
        </td>
        <td><input type="date" name="guiaxml[outrasDespesas][6][data]" /></td>
        <td>
          <select name="guiaxml[outrasDespesas][6][tabela]">
            <option value="">--</option>
            <option value="00">Tabela Própria</option>
            <option value="05">Brasindice</option>
            <option value="12">SIMPRO</option>
          </select>
        </td>
        <td><input type="text" name="guiaxml[outrasDespesas][6][codigo]" /></td>
        <td><input type="text" name="guiaxml[outrasDespesas][6][descricao]" /></td>
        <td><input type="text" name="guiaxml[outrasDespesas][6][quantidade]" /></td>
        <td><input type="text" name="guiaxml[outrasDespesas][6][valorUnitario]" /></td>
      </tr>
    </table>
    <hr />
    <input type="submit" value="Gerar XML" />
    </form>
    </div>

  </body>
</html>