<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="initial-scale: 1">
  <title></title>
</head>
<body>
  <?php foreach ($data['guias'] as $guiaInternacao):  ?>
  <table style="border-width:0px;empty-cells:show;width:1098px;height:362px;background-color:transparent;" cellpadding="0" cellspacing="0" border="0" class="DXRResetStyle">
	<tbody><tr style="vertical-align:top;">
		<td style="width:0px;height:2px;"></td>
		<td style="width:2px;"></td>
		<td style="width:66px;"></td>
		<td style="width:20px;"></td>
		<td style="width:8px;"></td>
		<td style="width:6px;"></td>
		<td style="width:32px;"></td>
		<td style="width:2px;"></td>
		<td style="width:14px;"></td>
		<td style="width:14px;"></td>
		<td style="width:28px;"></td>
		<td style="width:6px;"></td>
		<td style="width:6px;"></td>
		<td style="width:53px;"></td>
		<td style="width:3px;"></td>
		<td style="width:8px;"></td>
		<td style="width:6px;"></td>
		<td style="width:6px;"></td>
		<td style="width:34px;"></td>
		<td style="width:8px;"></td>
		<td style="width:12px;"></td>
		<td style="width:34px;"></td>
		<td style="width:14px;"></td>
		<td style="width:12px;"></td>
		<td style="width:16px;"></td>
		<td style="width:4px;"></td>
		<td style="width:84px;"></td>
		<td style="width:22px;"></td>
		<td style="width:44px;"></td>
		<td style="width:26px;"></td>
		<td style="width:50px;"></td>
		<td style="width:10px;"></td>
		<td style="width:31px;"></td>
		<td style="width:1px;"></td>
		<td style="width:2px;"></td>
		<td style="width:6px;"></td>
		<td style="width:33px;"></td>
		<td style="width:1px;"></td>
		<td style="width:2px;"></td>
		<td style="width:2px;"></td>
		<td style="width:2px;"></td>
		<td style="width:20px;"></td>
		<td style="width:10px;"></td>
		<td style="width:4px;"></td>
		<td style="width:20px;"></td>
		<td style="width:22px;"></td>
		<td style="width:2px;"></td>
		<td style="width:26px;"></td>
		<td style="width:4px;"></td>
		<td style="width:12px;"></td>
		<td style="width:2px;"></td>
		<td style="width:29px;"></td>
		<td style="width:1px;"></td>
		<td style="width:49px;"></td>
		<td style="width:9px;"></td>
		<td style="width:18px;"></td>
		<td style="width:37px;"></td>
		<td style="width:1px;"></td>
		<td style="width:100px;"></td>
		<td style="width:2px;"></td>
	</tr>
	<tr style="vertical-align:top;">
		<td style="width:0px;height:4px;"></td>
		<td></td>
		<td class="cs208FB680" style="width:148px;height:32px;text-align:left;vertical-align:top;" colspan="7" rowspan="7"><div style="overflow:hidden;width:148px;height:32px;"></div></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr style="vertical-align:top;">
		<td style="width:0px;height:4px;"></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td class="cs7696D58C" style="width:244px;height:24px;text-align:left;vertical-align:middle;" colspan="10" rowspan="5"><?= $guiaInternacao['numeroGuiaPrestador'] ?></td>
	</tr>
	<tr style="vertical-align:top;">
		<td style="width:0px;height:2px;"></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td class="csD836AC49" style="width:272px;height:19px;text-align:center;vertical-align:middle;" colspan="10" rowspan="3">GUIA&nbsp;&nbsp;RESUMO&nbsp;DE&nbsp;INTERNAÇÃO</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr style="vertical-align:top;">
		<td style="width:0px;height:16px;"></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td class="cs554E966" style="width:118px;height:16px;text-align:left;vertical-align:top;" colspan="10">2-&nbsp;Nº&nbsp;Guia&nbsp;no&nbsp;Prestador</td>
	</tr>
	<tr style="vertical-align:top;">
		<td style="width:0px;height:1px;"></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr style="vertical-align:top;">
		<td style="width:0px;height:1px;"></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr style="vertical-align:top;">
		<td style="width:0px;height:4px;"></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr style="vertical-align:top;">
		<td style="width:0px;height:2px;"></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr style="vertical-align:top;">
		<td style="width:0px;height:11px;"></td>
		<td class="cs16FCFC82" style="width:96px;height:10px;text-align:left;vertical-align:top;" colspan="5">1&nbsp;-&nbsp;Registro&nbsp;ANS</td>
		<td class="cs252DC8DB" style="width:173px;height:10px;text-align:left;vertical-align:top;" colspan="12">3&nbsp;-&nbsp;Número&nbsp;da&nbsp;Guia&nbsp;de&nbsp;Solicitação&nbsp;de&nbsp;Internação</td>
                <td class="cs16FCFC82" style="width:82px;height:10px;text-align:left;vertical-align:top;" colspan="3">4&nbsp;-&nbsp;Data&nbsp;da&nbsp;Autorização</td>
		<td class="cs252DC8DB" style="width:105px;height:10px;text-align:left;vertical-align:top;" colspan="8">5-Senha</td>
                <td class="cs252DC8DB" style="width:165px;height:10px;text-align:left;vertical-align:top;" colspan="10">6&nbsp;-&nbsp;Data&nbsp;Validade&nbsp;da&nbsp;Senha</td>
		<td class="cs252DC8DB" style="width:377px;height:10px;text-align:left;vertical-align:middle;" colspan="21">7&nbsp;-&nbsp;Nº&nbsp;Guia&nbsp;Atribuido&nbsp;pela&nbsp;Operadora</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr style="vertical-align:top;">
		<td style="width:0px;height:10px;"></td>
		<td class="csA0BF9027" style="width:96px;height:10px;text-align:left;vertical-align:middle;" colspan="5"><?= $data['destino']['registroANS'] ?></td>
		<td class="cs5088C77A" style="width:173px;height:10px;text-align:left;vertical-align:middle;" colspan="12"><?= $guiaInternacao['numeroGuiaPrestador'] ?></td>
                <?php $dataAutorizacao = \DateTime::createFromFormat('Y-m-d', $guiaInternacao['dadosAutorizacao']['dataAutorizacao']); ?>
                <?php if (false !== $dataAutorizacao): ?>
                <td class="csA0BF9027" style="width:82px;height:10px;text-align:left;vertical-align:middle;" colspan="3"><?= $dataAutorizacao->format('d/m/Y') ?></td>
                <?php endif ?>
		<td class="cs5088C77A" style="width:105px;height:10px;text-align:left;vertical-align:middle;" colspan="8"><?= $guiaInternacao['dadosAutorizacao']['senhaAutorizacao'] ?></td>
                <td class="cs5088C77A" style="width:165px;height:10px;text-align:left;vertical-align:middle;" colspan="10"><?= $guiaInternacao['dadosAutorizacao']['validadeSenhaFormatado'] ?></td>
		<td class="cs5088C77A" style="width:377px;height:10px;text-align:left;vertical-align:middle;" colspan="21"><?= $guiaInternacao['numeroGuiaOperadora'] ?></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr style="vertical-align:top;">
		<td style="width:0px;height:12px;"></td>
		<td class="cs64938C37" style="width:1094px;height:12px;text-align:left;vertical-align:middle;" colspan="59">Dados&nbsp;do&nbsp;Beneficiário</td>
	</tr>
	<tr style="vertical-align:top;">
		<td style="width:0px;height:19px;"></td>
		<td class="cs16FCFC82" style="width:128px;height:18px;text-align:left;vertical-align:top;" colspan="6">8&nbsp;-&nbsp;Número&nbsp;da&nbsp;Carteira</td>
		<td class="cs252DC8DB" style="width:135px;height:18px;text-align:left;vertical-align:top;" colspan="10">9&nbsp;-&nbsp;Validade&nbsp;da&nbsp;Carteira</td>
		<td class="cs252DC8DB" style="width:361px;height:18px;text-align:left;vertical-align:middle;" colspan="14">10&nbsp;-&nbsp;Nome</td>
		<td class="cs252DC8DB" style="width:115px;height:18px;text-align:left;vertical-align:middle;" colspan="12">11&nbsp;-&nbsp;Cartão&nbsp;Nacional&nbsp;de&nbsp;Saúde</td>
		<td class="cs252DC8DB" style="width:73px;height:18px;text-align:left;vertical-align:middle;" colspan="17">12&nbsp;-&nbsp;Atendimento&nbsp;a<br>RN</td>
	</tr>
	<tr style="vertical-align:top;">
		<td style="width:0px;height:12px;"></td>
		<td class="csA0BF9027" style="width:128px;height:11px;text-align:left;vertical-align:middle;" colspan="6"><?= $guiaInternacao['dadosBeneficiario']['numeroCarteira'] ?></td>
		<td class="cs5088C77A" style="width:135px;height:11px;text-align:left;vertical-align:middle;" colspan="10">&nbsp;</td>
		<td class="cs5088C77A" style="width:361px;height:11px;text-align:left;vertical-align:top;" colspan="14"><?= $guiaInternacao['dadosBeneficiario']['nomeBeneficiario'] ?></td>
		<td class="cs5088C77A" style="width:115px;height:11px;text-align:left;vertical-align:middle;" colspan="12">&nbsp;</td>
		<td class="cs5088C77A" style="width:73px;height:11px;text-align:left;vertical-align:top;" colspan="17"><?= $guiaInternacao['dadosBeneficiario']['atendimentoRN'] ?></td>
	</tr>
	<tr style="vertical-align:top;">
		<td style="width:0px;height:2px;"></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr style="vertical-align:top;">
		<td style="width:0px;height:12px;"></td>
		<td class="cs64938C37" style="width:1094px;height:12px;text-align:left;vertical-align:top;" colspan="59">Dados&nbsp;do&nbsp;Contratado&nbsp;Executante</td>
	</tr>
	<tr style="vertical-align:top;">
		<td style="width:0px;height:11px;"></td>
		<td class="cs16FCFC82" style="width:328px;height:10px;text-align:left;vertical-align:top;" colspan="20">13&nbsp;-&nbsp;Código&nbsp;na&nbsp;Operadora</td>
		<td class="cs252DC8DB" style="width:387px;height:10px;text-align:left;vertical-align:top;" colspan="18">14&nbsp;-&nbsp;Nome&nbsp;do&nbsp;Contratado</td>
		<td class="cs252DC8DB" style="width:121px;height:10px;text-align:left;vertical-align:top;" colspan="21">15-&nbsp;Código&nbsp;CNES</td>
	</tr>
	<tr style="vertical-align:top;">
		<td style="width:0px;height:11px;"></td>
		<td class="csA0BF9027" style="width:328px;height:10px;text-align:left;vertical-align:middle;" colspan="20"><?= $guiaInternacao['contratadoSolicitante']['cnpjFormatado'] ?></td>
		<td class="cs5088C77A" style="width:387px;height:10px;text-align:left;vertical-align:middle;" colspan="18"><?= $guiaInternacao['contratadoSolicitante']['nomeContratado'] ?></td>
		<td class="cs5088C77A" style="width:121px;height:10px;text-align:left;vertical-align:middle;" colspan="21"><?= $guiaInternacao['contratadoSolicitante']['numeroCNES'] ?></td>
	</tr>
	<tr style="vertical-align:top;">
		<td style="width:0px;height:1px;"></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr style="vertical-align:top;">
		<td style="width:0px;height:11px;"></td>
		<td class="cs64938C37" style="width:1094px;height:11px;text-align:left;vertical-align:top;" colspan="59">Dados&nbsp;da&nbsp;Internação</td>
	</tr>
	<tr style="vertical-align:top;">
		<td style="width:0px;height:11px;"></td>
		<td class="cs238ECCD7" style="width:129px;height:10px;text-align:left;vertical-align:top;" colspan="6">16&nbsp;-&nbsp;Caráter&nbsp;do&nbsp;Atendimento</td>
		<td class="cs238ECCD7" style="width:129px;height:10px;text-align:left;vertical-align:top;" colspan="9">17&nbsp;-&nbsp;Tipo&nbsp;de&nbsp;Faturamento</td>
		<td class="cs238ECCD7" style="width:121px;height:10px;text-align:left;vertical-align:top;" colspan="8">18&nbsp;-&nbsp;Data&nbsp;do&nbsp;Início&nbsp;do&nbsp;Faturamento</td>
		<td class="cs238ECCD7" style="width:121px;height:10px;text-align:left;vertical-align:top;" colspan="4">19&nbsp;-&nbsp;Hora&nbsp;do&nbsp;Início&nbsp;do&nbsp;Faturamento</td>
		<td class="cs238ECCD7" style="width:125px;height:10px;text-align:left;vertical-align:top;" colspan="4">20&nbsp;-&nbsp;Data&nbsp;do&nbsp;Fim&nbsp;de&nbsp;Faturamento</td>
		<td class="cs238ECCD7" style="width:129px;height:10px;text-align:left;vertical-align:top;" colspan="13">21&nbsp;-&nbsp;Hora&nbsp;do&nbsp;Fim&nbsp;de&nbsp;Faturamento</td>
		<td class="cs238ECCD7" style="width:142px;height:10px;text-align:left;vertical-align:top;" colspan="9">22&nbsp;-&nbsp;Tipo&nbsp;de&nbsp;Internação</td>
		<td class="cs16FCFC82" style="width:159px;height:10px;text-align:left;vertical-align:top;" colspan="6">23&nbsp;-&nbsp;Regime&nbsp;de&nbsp;Internação</td>
		<td class="csDE61D2B3" style="width:-2px;height:11px;text-align:left;vertical-align:top;">&nbsp;</td>
	</tr>
	<tr style="vertical-align:top;">
		<td style="width:0px;height:11px;"></td>
                <?php
                    $dataInicioFaturamento = $guiaInternacao['dataHoraInicioFaturamento'];
                    $dataFimFaturamento = $guiaInternacao['dataHoraFinalFaturamento'];
                ?>
		<td class="csE5ECC915" style="width:129px;height:10px;text-align:left;vertical-align:top;" colspan="6"><?= ($guiaInternacao['caraterAtendimento'] == 1 ? 'E' : 'U') ?></td>
		<td class="csE5ECC915" style="width:129px;height:10px;text-align:left;vertical-align:top;" colspan="9"><?= $guiaInternacao['tipoFaturamento'] ?></td>
		<td class="csE5ECC915" style="width:121px;height:10px;text-align:left;vertical-align:top;" colspan="8"><?= $dataInicioFaturamento->format('d/m/Y') ?></td>
		<td class="csE5ECC915" style="width:121px;height:10px;text-align:left;vertical-align:top;" colspan="4"><?= $dataInicioFaturamento->format('H:i') ?></td>
		<td class="csE5ECC915" style="width:125px;height:10px;text-align:left;vertical-align:top;" colspan="4"><?= $dataFimFaturamento->format('d/m/Y') ?></td>
		<td class="csE5ECC915" style="width:129px;height:10px;text-align:left;vertical-align:top;" colspan="13"><?= $dataFimFaturamento->format('H:i') ?></td>
		<td class="csE5ECC915" style="width:142px;height:10px;text-align:left;vertical-align:top;" colspan="9"><?= $guiaInternacao['tipoInternacao'] ?></td>
		<td class="csA0BF9027" style="width:159px;height:10px;text-align:left;vertical-align:top;" colspan="6"><?= $guiaInternacao['regimeInternacao'] ?></td>
		<td class="cs6D0ED001" style="width:-2px;height:11px;text-align:left;vertical-align:top;">&nbsp;</td>
	</tr>
	<tr style="vertical-align:top;">
		<td style="width:0px;height:11px;"></td>
		<td class="cs58BC5924" style="width:91px;height:11px;text-align:left;vertical-align:top;" colspan="4">24&nbsp;-&nbsp;CID&nbsp;10&nbsp;Principal</td>
		<td class="cs58BC5924" style="width:91px;height:11px;text-align:left;vertical-align:top;" colspan="6">25&nbsp;-&nbsp;CID&nbsp;10&nbsp;(2)</td>
		<td class="cs58BC5924" style="width:63px;height:11px;text-align:left;vertical-align:top;" colspan="4">26&nbsp;-&nbsp;CID&nbsp;10&nbsp;(3)</td>
		<td class="cs58BC5924" style="width:49px;height:11px;text-align:left;vertical-align:top;" colspan="4">27&nbsp;-&nbsp;CID&nbsp;10&nbsp;(4)</td>
		<td class="cs58BC5924" style="width:91px;height:11px;text-align:left;vertical-align:top;" colspan="6">28&nbsp;-&nbsp;Indicação&nbsp;de&nbsp;Acidente</td>
		<td class="cs58BC5924" style="width:149px;height:11px;text-align:left;vertical-align:top;" colspan="4">29&nbsp;-&nbsp;Motivo&nbsp;de&nbsp;Encerramento&nbsp;da&nbsp;Internação</td>
		<td class="cs58BC5924" style="width:161px;height:11px;text-align:left;vertical-align:top;" colspan="12">30&nbsp;-&nbsp;Nº&nbsp;Declaração&nbsp;de&nbsp;Nascido&nbsp;Vivo</td>
		<td class="cs58BC5924" style="width:99px;height:11px;text-align:left;vertical-align:top;" colspan="7">31&nbsp;-&nbsp;CID&nbsp;10&nbsp;Óbito</td>
		<td class="cs58BC5924" style="width:101px;height:11px;text-align:left;vertical-align:top;" colspan="7">32&nbsp;-&nbsp;Nº&nbsp;Declaração&nbsp;de&nbsp;Óbito</td>
		<td class="cs42111F63" style="width:152px;height:11px;text-align:left;vertical-align:top;" colspan="5">33&nbsp;-&nbsp;Indicador&nbsp;D.O.&nbsp;de&nbsp;RN</td>
	</tr>
	<tr style="vertical-align:top;">
		<td style="width:0px;height:11px;"></td>
		<td class="csE5ECC915" style="width:91px;height:10px;text-align:left;vertical-align:top;" colspan="4">&nbsp;</td>
		<td class="csE5ECC915" style="width:91px;height:10px;text-align:justify;text-justify:auto;" colspan="6">&nbsp;</td>
		<td class="csE5ECC915" style="width:63px;height:10px;text-align:left;vertical-align:top;" colspan="4">&nbsp;</td>
		<td class="csE5ECC915" style="width:49px;height:10px;text-align:left;vertical-align:top;" colspan="4">&nbsp;</td>
		<td class="csE5ECC915" style="width:91px;height:10px;text-align:left;vertical-align:top;" colspan="6"><?= $guiaInternacao['indicadorAcidente'] ?></td>
		<td class="csE5ECC915" style="width:149px;height:10px;text-align:left;vertical-align:top;" colspan="4"><?= $guiaInternacao['motivoEncerramento'] ?></td>
		<td class="csE5ECC915" style="width:161px;height:10px;text-align:left;vertical-align:top;" colspan="12">&nbsp;</td>
		<td class="csE5ECC915" style="width:99px;height:10px;text-align:left;vertical-align:top;" colspan="7">&nbsp;</td>
		<td class="csE5ECC915" style="width:101px;height:10px;text-align:left;vertical-align:top;" colspan="7">&nbsp;</td>
		<td class="csA0BF9027" style="width:152px;height:10px;text-align:left;vertical-align:top;" colspan="5">&nbsp;</td>
	</tr>
	<tr style="vertical-align:top;">
		<td style="width:0px;height:2px;"></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr style="vertical-align:top;">
		<td style="width:0px;height:12px;"></td>
		<td class="cs64938C37" style="width:1094px;height:12px;text-align:left;vertical-align:top;" colspan="59">Procedimentos&nbsp;e&nbsp;Exames&nbsp;Realizados</td>
	</tr>
	<tr style="vertical-align:top;">
		<td style="width:0px;height:11px;"></td>
		<td class="cs238ECCD7" style="width:63px;height:10px;text-align:left;vertical-align:top;" colspan="2">34&nbsp;-&nbsp;Data</td>
		<td class="cs238ECCD7" style="width:63px;height:10px;text-align:left;vertical-align:top;" colspan="5">35&nbsp;-&nbsp;Hora&nbsp;Inicial</td>
		<td class="cs238ECCD7" style="width:63px;height:10px;text-align:left;vertical-align:top;" colspan="5">36&nbsp;-&nbsp;Hora&nbsp;Final</td>
		<td class="cs238ECCD7" style="width:48px;height:10px;text-align:left;vertical-align:top;">37&nbsp;-&nbsp;Tabela</td>
		<td class="cs238ECCD7" style="width:120px;height:10px;text-align:left;vertical-align:top;" colspan="9">38&nbsp;-&nbsp;Código&nbsp;do&nbsp;Procedimento</td>
		<td class="cs238ECCD7" style="width:295px;height:10px;text-align:left;vertical-align:top;" colspan="11">39&nbsp;-Descrição</td>
		<td class="cs238ECCD7" style="width:37px;height:10px;text-align:left;vertical-align:top;" colspan="4">40&nbsp;-&nbsp;Qtde.</td>
		<td class="cs238ECCD7" style="width:35px;height:10px;text-align:left;vertical-align:top;" colspan="6">41&nbsp;-&nbsp;Via</td>
		<td class="cs238ECCD7" style="width:39px;height:10px;text-align:left;vertical-align:top;" colspan="3">42&nbsp;-&nbsp;Tec.</td>
		<td class="cs238ECCD7" style="width:69px;height:10px;text-align:left;vertical-align:top;" colspan="6">43&nbsp;-&nbsp;%&nbsp;Red./Acrésc.</td>
		<td class="cs238ECCD7" style="width:109px;height:10px;text-align:left;vertical-align:top;" colspan="5">44&nbsp;-&nbsp;Valor&nbsp;Unitário&nbsp;-&nbsp;R$</td>
		<td class="cs16FCFC82" style="width:96px;height:10px;text-align:left;vertical-align:top;" colspan="2">45&nbsp;-&nbsp;Valor&nbsp;Total&nbsp;-&nbsp;R$</td>
	</tr>
        <?php
            $seqs = [];
            foreach ($guiaInternacao['procedimentos'] as $seqProc => $procedimento):
                ++$seqProc;
                if (isset($procedimento['profissionalExecutante']) &&!empty($procedimento['profissionalExecutante']))
                    $seqs[] = $seqProc;
        ?>
	<tr style="vertical-align:top;">
		<td style="width:0px;height:10px;"></td>
		<td class="csE5ECC915" style="width:63px;height:9px;text-align:left;vertical-align:middle;" colspan="2"><?= $procedimento['dataExecucaoImpressao'] ?></td>
		<td class="csE5ECC915" style="width:63px;height:9px;text-align:left;vertical-align:middle;" colspan="5">00:00</td>
		<td class="csE5ECC915" style="width:63px;height:9px;text-align:left;vertical-align:middle;" colspan="5">00:00</td>
		<td class="csE5ECC915" style="width:48px;height:9px;text-align:left;vertical-align:middle;"><?= $procedimento['codigoTabela'] ?></td>
		<td class="csE5ECC915" style="width:120px;height:9px;text-align:left;vertical-align:middle;" colspan="9"><?= $procedimento['codigoProcedimento'] ?></td>
		<td class="csE5ECC915" style="width:294px;height:9px;text-align:left;vertical-align:middle;" colspan="11"><?= $procedimento['descricaoProcedimento'] ?></td>
		<td class="csE5ECC915" style="width:37px;height:9px;text-align:left;vertical-align:middle;" colspan="4"><?= $procedimento['quantidadeExecutada'] ?></td>
		<td class="csE5ECC915" style="width:36px;height:9px;text-align:left;vertical-align:middle;" colspan="6">&nbsp;</td>
		<td class="csE5ECC915" style="width:37px;height:9px;text-align:left;vertical-align:middle;" colspan="3">&nbsp;</td>
		<td class="csE5ECC915" style="width:70px;height:9px;text-align:left;vertical-align:middle;" colspan="6"><?= $procedimento['reducaoAcrescimo'] ?></td>
		<td class="csE5ECC915" style="width:109px;height:9px;text-align:left;vertical-align:middle;" colspan="5"><?= $procedimento['valorUnitario'] ?></td>
		<td class="csA0BF9027" style="width:97px;height:9px;text-align:left;vertical-align:middle;" colspan="2"><?= $procedimento['valorTotal'] ?></td>
	</tr>
        <?php endforeach ?>
	<tr style="vertical-align:top;">
		<td style="width:0px;height:11px;"></td>
		<td class="cs64938C37" style="width:1094px;height:11px;text-align:left;vertical-align:top;" colspan="59">Identificação&nbsp;da&nbsp;Equipe</td>
	</tr>
	<tr style="vertical-align:top;">
		<td style="width:0px;height:12px;"></td>
		<td class="csA5384778" style="width:63px;height:10px;text-align:left;vertical-align:top;" colspan="2">46&nbsp;-&nbsp;Seq.&nbsp;Ref.</td>
		<td class="csA5384778" style="width:63px;height:10px;text-align:left;vertical-align:top;" colspan="5">47&nbsp;-&nbsp;Gr.&nbsp;Part.</td>
		<td class="csA5384778" style="width:241px;height:10px;text-align:left;vertical-align:top;" colspan="15">48&nbsp;-&nbsp;Cód.&nbsp;na&nbsp;Operadora/CPF</td>
		<td class="csA5384778" style="width:295px;height:10px;text-align:left;vertical-align:top;" colspan="11">49&nbsp;-&nbsp;Nome&nbsp;do&nbsp;profissional</td>
		<td class="csA5384778" style="width:121px;height:10px;text-align:left;vertical-align:top;" colspan="13">50&nbsp;-&nbsp;Conselho&nbsp;Prof.</td>
		<td class="csA5384778" style="width:145px;height:10px;text-align:left;vertical-align:top;" colspan="9">51&nbsp;-&nbsp;Nº&nbsp;Conselho</td>
		<td class="csA5384778" style="width:33px;height:10px;text-align:left;vertical-align:top;" colspan="2">52&nbsp;-&nbsp;UF</td>
		<td class="csB69EC745" style="width:96px;height:10px;text-align:left;vertical-align:top;" colspan="2">53&nbsp;-&nbsp;Cod.CBO</td>
	</tr>
        <?php foreach ($guiaInternacao['profissionaisExecutantes'] as $seqRed => $profissionalExecutante): ?>
	<tr style="vertical-align:top;">
		<td style="width:0px;height:11px;"></td>
		<td class="csE5ECC915" style="width:63px;height:10px;text-align:left;vertical-align:top;" colspan="2"><?= $seqs[$seqRed] ?></td>
		<td class="csE5ECC915" style="width:63px;height:10px;text-align:left;vertical-align:top;" colspan="5">&nbsp;</td>
		<td class="csE5ECC915" style="width:241px;height:10px;text-align:left;vertical-align:top;" colspan="15"><?= $profissionalExecutante['cpfFormatado'] ?></td>
		<td class="csE5ECC915" style="width:295px;height:10px;text-align:left;vertical-align:top;" colspan="11"><?= $profissionalExecutante['profissionalSolicitante'] ?></td>
		<td class="csE5ECC915" style="width:121px;height:10px;text-align:left;vertical-align:top;" colspan="13"><?= $profissionalExecutante['conselhoProfissional'] ?></td>
		<td class="csE5ECC915" style="width:145px;height:10px;text-align:left;vertical-align:top;" colspan="9"><?= $profissionalExecutante['numeroConselhoProfissional'] ?></td>
		<td class="csE5ECC915" style="width:33px;height:10px;text-align:left;vertical-align:top;" colspan="2"><?= $profissionalExecutante['estadoUF'] ?></td>
		<td class="csA0BF9027" style="width:96px;height:10px;text-align:left;vertical-align:top;" colspan="2"><?= $profissionalExecutante['CBOS'] ?></td>
	</tr>
        <?php endforeach ?>
	<tr style="vertical-align:top;">
		<td style="width:0px;height:11px;"></td>
		<td class="cs58BC5924" style="width:252px;height:11px;text-align:left;vertical-align:top;" colspan="13">54&nbsp;-&nbsp;Total&nbsp;Procedimentos</td>
		<td class="cs58BC5924" style="width:60px;height:11px;text-align:left;vertical-align:top;" colspan="6">55&nbsp;-&nbsp;Total&nbsp;Diárias</td>
		<td class="cs58BC5924" style="width:171px;height:11px;text-align:left;vertical-align:top;" colspan="7">56&nbsp;-&nbsp;Total&nbsp;Taxas&nbsp;e&nbsp;Aluguéis&nbsp;R$</td>
		<td class="cs58BC5924" style="width:87px;height:11px;text-align:left;vertical-align:top;" colspan="3">57&nbsp;-&nbsp;Total&nbsp;Materiais&nbsp;R$</td>
		<td class="cs58BC5924" style="width:87px;height:11px;text-align:left;vertical-align:top;" colspan="4">58&nbsp;-&nbsp;Total&nbsp;de&nbsp;&nbsp;OPME(R$)</td>
		<td class="cs58BC5924" style="width:121px;height:11px;text-align:left;vertical-align:top;" colspan="13">59&nbsp;-&nbsp;Total&nbsp;Medicamentos&nbsp;R$</td>
		<td class="cs58BC5924" style="width:145px;height:11px;text-align:left;vertical-align:top;" colspan="9">60&nbsp;-&nbsp;Total&nbsp;Gases&nbsp;Medicinais&nbsp;R$</td>
		<td class="cs42111F63" style="width:134px;height:11px;text-align:left;vertical-align:top;" colspan="4">61&nbsp;-&nbsp;Total&nbsp;Geral&nbsp;R$</td>
	</tr>
	<tr style="vertical-align:top;">
		<td style="width:0px;height:10px;"></td>
		<td class="csE5ECC915" style="width:252px;height:9px;text-align:left;vertical-align:top;" colspan="13"><?= $guiaInternacao['valorProcedimentosFormatado'] ?></td>
		<td class="csE5ECC915" style="width:60px;height:9px;text-align:left;vertical-align:top;" colspan="6">0,00</td>
		<td class="csE5ECC915" style="width:171px;height:9px;text-align:left;vertical-align:top;" colspan="7"><?= $guiaInternacao['valorTaxasAlugueisFormatado'] ?></td>
		<td class="csE5ECC915" style="width:87px;height:9px;text-align:left;vertical-align:top;" colspan="3"><?= $guiaInternacao['valorMateriaisFormatado'] ?></td>
		<td class="csA0BF9027" style="width:87px;height:9px;text-align:left;vertical-align:top;" colspan="4"><?= $guiaInternacao['valorOPMEFormatado'] ?></td>
		<td class="cs9563BE8D" style="width:121px;height:9px;text-align:left;vertical-align:top;" colspan="13"><?= $guiaInternacao['valorMedicamentosFormatado'] ?></td>
		<td class="csE5ECC915" style="width:145px;height:9px;text-align:left;vertical-align:top;" colspan="9"><?= $guiaInternacao['valorGasesMedicinaisFormatado'] ?></td>
		<td class="csA0BF9027" style="width:134px;height:9px;text-align:left;vertical-align:top;" colspan="4"><?= $guiaInternacao['valorTotalGeralFormatado'] ?></td>
	</tr>
	<tr style="vertical-align:top;">
		<td style="width:0px;height:11px;"></td>
		<td class="cs42111F63" style="width:158px;height:11px;text-align:left;vertical-align:top;" colspan="9">62&nbsp;-&nbsp;Data&nbsp;da&nbsp;assinatura&nbsp;do&nbsp;Contratado</td>
		<td class="csFDEF0BF5" style="width:515px;height:11px;text-align:left;vertical-align:top;" colspan="25">63&nbsp;-&nbsp;Assinatura&nbsp;do&nbsp;Contratado</td>
		<td class="csFDEF0BF5" style="width:409px;height:11px;text-align:left;vertical-align:top;" colspan="25">64&nbsp;-&nbsp;Assinatura&nbsp;do(s)&nbsp;Auditor(es)&nbsp;da&nbsp;Operadora</td>
	</tr>
	<tr style="vertical-align:top;">
		<td style="width:0px;height:11px;"></td>
		<td class="csA0BF9027" style="width:158px;height:10px;text-align:left;vertical-align:top;" colspan="9">&nbsp;</td>
		<td class="cs5088C77A" style="width:515px;height:10px;text-align:left;vertical-align:top;" colspan="25">&nbsp;</td>
		<td class="cs5088C77A" style="width:409px;height:10px;text-align:left;vertical-align:top;" colspan="25">&nbsp;</td>
	</tr>
	<tr style="vertical-align:top;">
		<td style="width:0px;height:12px;"></td>
		<td class="csE4FAEEA9" style="width:1092px;height:12px;text-align:left;vertical-align:top;" colspan="59">65&nbsp;-&nbsp;Observações&nbsp;/&nbsp;Justificativa</td>
	</tr>
	<tr style="vertical-align:top;">
		<td style="width:0px;height:11px;"></td>
		<td class="csD0E5441" style="width:1092px;height:10px;text-align:left;vertical-align:top;" colspan="59">&nbsp;</td>
	</tr>
</tbody></table>
<?php endforeach ?>

<style type="text/css">
* {
  font-size: 8pt !important;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  border-color: gray;
}
table tr td {
  font-family:microsoft sans serif;
  font-size:8pt;
  vertical-align:top;
}
@page
{
  size: auto;   /* auto is the initial value */
}
.cs64938C37 {color:#000000;background-color:#e0e0e0;border-left-style: none;border-top-style: none;border-right-style: none;border-bottom-style: none;font-family:microsoft sans serif; font-size:6pt; font-weight:bold; font-style:normal; padding-left:2px;padding-right:2px;}
.csB69EC745 {color:#000000;background-color:transparent;border-left:#000000 1px solid;border-top:#000000 1px solid;border-right:#000000 1px solid;border-bottom:#000000 1px solid;font-family:microsoft sans serif; font-size:5pt; font-weight:bold; font-style:normal; padding-left:2px;padding-right:2px;}
.cs16FCFC82 {color:#000000;background-color:transparent;border-left:#000000 1px solid;border-top:#000000 1px solid;border-right:#000000 1px solid;border-bottom-style: none;font-family:microsoft sans serif; font-size:5pt; font-weight:bold; font-style:normal; padding-left:2px;padding-right:2px;}
.csA5384778 {color:#000000;background-color:transparent;border-left:#000000 1px solid;border-top:#000000 1px solid;border-right-style: none;border-bottom:#000000 1px solid;font-family:microsoft sans serif; font-size:5pt; font-weight:bold; font-style:normal; padding-left:2px;padding-right:2px;}
.cs238ECCD7 {color:#000000;background-color:transparent;border-left:#000000 1px solid;border-top:#000000 1px solid;border-right-style: none;border-bottom-style: none;font-family:microsoft sans serif; font-size:5pt; font-weight:bold; font-style:normal; padding-left:2px;padding-right:2px;}
.csA0BF9027 {color:#000000;background-color:transparent;border-left:#000000 1px solid;border-top-style: none;border-right:#000000 1px solid;border-bottom:#000000 1px solid;font-family:microsoft sans serif; font-size:5pt; font-weight:normal; font-style:normal; padding-left:2px;padding-right:2px;}
.csD0E5441 {color:#000000;background-color:transparent;border-left:#000000 1px solid;border-top-style: none;border-right:#000000 1px solid;border-bottom:#000000 1px solid;font-family:microsoft sans serif; font-size:6pt; font-weight:normal; font-style:normal; padding-left:2px;padding-right:2px;}
.cs42111F63 {color:#000000;background-color:transparent;border-left:#000000 1px solid;border-top-style: none;border-right:#000000 1px solid;border-bottom-style: none;font-family:microsoft sans serif; font-size:5pt; font-weight:bold; font-style:normal; padding-left:2px;padding-right:2px;}
.cs693EBF76 {color:#000000;background-color:transparent;border-left:#000000 1px solid;border-top-style: none;border-right:#000000 1px solid;border-bottom-style: none;font-family:microsoft sans serif; font-size:5pt; font-weight:normal; font-style:normal; padding-left:2px;padding-right:2px;}
.csE4FAEEA9 {color:#000000;background-color:transparent;border-left:#000000 1px solid;border-top-style: none;border-right:#000000 1px solid;border-bottom-style: none;font-family:microsoft sans serif; font-size:6pt; font-weight:bold; font-style:normal; padding-left:2px;padding-right:2px;}
.csE5ECC915 {color:#000000;background-color:transparent;border-left:#000000 1px solid;border-top-style: none;border-right-style: none;border-bottom:#000000 1px solid;font-family:microsoft sans serif; font-size:5pt; font-weight:normal; font-style:normal; padding-left:2px;padding-right:2px;}
.cs58BC5924 {color:#000000;background-color:transparent;border-left:#000000 1px solid;border-top-style: none;border-right-style: none;border-bottom-style: none;font-family:microsoft sans serif; font-size:5pt; font-weight:bold; font-style:normal; padding-left:2px;padding-right:2px;}
.cs252DC8DB {color:#000000;background-color:transparent;border-left-style: none;border-top:#000000 1px solid;border-right:#000000 1px solid;border-bottom-style: none;font-family:microsoft sans serif; font-size:5pt; font-weight:bold; font-style:normal; padding-left:2px;padding-right:2px;}
.cs5088C77A {color:#000000;background-color:transparent;border-left-style: none;border-top-style: none;border-right:#000000 1px solid;border-bottom:#000000 1px solid;font-family:microsoft sans serif; font-size:5pt; font-weight:normal; font-style:normal; padding-left:2px;padding-right:2px;}
.csFDEF0BF5 {color:#000000;background-color:transparent;border-left-style: none;border-top-style: none;border-right:#000000 1px solid;border-bottom-style: none;font-family:microsoft sans serif; font-size:5pt; font-weight:bold; font-style:normal; padding-left:2px;padding-right:2px;}
.cs3E74D9F1 {color:#000000;background-color:transparent;border-left-style: none;border-top-style: none;border-right:#000000 1px solid;border-bottom-style: none;font-family:microsoft sans serif; font-size:5pt; font-weight:normal; font-style:normal; padding-left:2px;padding-right:2px;}
.cs9563BE8D {color:#000000;background-color:transparent;border-left-style: none;border-top-style: none;border-right-style: none;border-bottom:#000000 1px solid;font-family:microsoft sans serif; font-size:5pt; font-weight:normal; font-style:normal; padding-left:2px;padding-right:2px;}
.csD836AC49 {color:#000000;background-color:transparent;border-left-style: none;border-top-style: none;border-right-style: none;border-bottom-style: none;font-family:microsoft sans serif; font-size:20pt !important; font-weight:bold; font-style:normal; padding-left:2px;padding-right:2px;}
.cs7696D58C {color:#000000;background-color:transparent;border-left-style: none;border-top-style: none;border-right-style: none;border-bottom-style: none;font-family:microsoft sans serif; font-size:12pt; font-weight:bold; font-style:normal; padding-left:2px;padding-right:2px;}
.cs6D0ED001 {color:#000000;background-color:transparent;border-left-style: none;border-top-style: none;border-right-style: none;border-bottom-style: none;font-family:microsoft sans serif; font-size:5pt; font-weight:normal; font-style:normal; padding-left:2px;padding-right:2px;}
.csF9CCD4DB {color:#000000;background-color:transparent;border-left-style: none;border-top-style: none;border-right-style: none;border-bottom-style: none;font-family:microsoft sans serif; font-size:6pt; font-weight:bold; font-style:normal; padding-left:2px;padding-right:2px;}
.cs554E966 {color:#000000;background-color:transparent;border-left-style: none;border-top-style: none;border-right-style: none;border-bottom-style: none;font-family:microsoft sans serif; font-size:6pt; font-weight:normal; font-style:normal; padding-left:2px;padding-right:2px;}
.csE39A4CD4 {color:#000000;background-color:transparent;border-left-style: none;border-top-style: none;border-right-style: none;border-bottom-style: none;font-family:microsoft sans serif; font-size:8pt; font-weight:bold; font-style:normal; padding-left:2px;padding-right:2px;}
.csC1749C36 {color:#000000;background-color:transparent;border-left-style: none;border-top-style: none;border-right-style: none;border-bottom-style: none;font-family:microsoft sans serif; font-size:8pt; font-weight:normal; font-style:normal; padding-left:2px;padding-right:2px;}
.csCB7018AD {color:#000000;background-color:transparent;border-left-style: none;border-top-style: none;border-right-style: none;border-bottom-style: none;font-family:times new roman; font-size:8pt; font-weight:normal; font-style:normal; padding-left:2px;padding-right:2px;}
.cs208FB680 {color:#000000;background-color:transparent;border-left-style: none;border-top-style: none;border-right-style: none;border-bottom-style: none;font-family:times new roman; font-size:9pt; font-weight:normal; font-style:normal; }
.csDE61D2B3 {color:#000000;background-color:transparent;border-left-style: none;border-top-style: none;border-right-style: none;border-bottom-style: none;font-family:times new roman; font-size:9pt; font-weight:normal; font-style:normal; padding-left:2px;padding-right:2px;}
.csF7D3565D {height:0px;width:0px;overflow:hidden;font-size:0px;line-height:0px;}
</style>

  <script type="text/javascript">
      window.resizeTo((screen.width), (screen.availHeight));
  </script>
</body>
</html>