<?php require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>
<head>
  <meta charset="UTF-8">
</head>
  <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php'); ?>
  <link rel="stylesheet" href="/utils/tiss-xml-form.css"/>
  <div id="content">
    <div id="right">
      <h1>Nova Guia TISS<?= $tipoTitulo ?></h1>
        <p>* Campo obrigatório</p>
<!--        <p>Evitar colocar a hora 00:00 no campo Hora fim do faturamento, alguns planos não aceitam essa hora.</p>-->
      <hr/>
      <form action="index.php?action=salvar-guia&capalote=<?= $capaLote ?>" method="POST">
        <input type="hidden" value="<?= $capaLote ?>" name="guiaxml[numeroLote]"/>
        <input type="hidden" value="<?= $tipoSelected ?>" name="guiaxml[tipoGuia]"/>

        <style>
          table.form select, input {
            width: 229px;
          }
          table.form tr td:first-child {
            width: 148px;
            text-align: right;
          }
        </style>

        <table class="form">
          <tr>
            <td><label for="guiaxml[versao]">Versão*</label></td>
            <td>
              <select name="guiaxml[versao]" id="guiaxml[versao]" required="required">
                <option value="3.03.03">v3.03.03 (Mais recente)</option>
                <option value="3.03.02">v3.03.02</option>
                <option selected value="3.03.01">v3.03.01 </option>
                <option value="3.03.00">v3.03.00</option>
                <option value="3.02.00">v3.02.00</option>
              </select>
            </td>
          </tr>
          <tr>
            <td><label for="guiaxml[tipo_identificacao]">Tipo de Identificação*</label></td>
            <td>
              <select name="guiaxml[tipo_identificacao]" id="guiaxml[tipo_identificacao]" required="required">
                <option value="cnpj">CNPJ</option>
                <option value="num_contratado">Número do Contratado</option>
              </select>
            </td>
          </tr>
          <tr>
            <td class="label"><label for="guiaxml[contratado]">Contratado*</label></td>
            <td>
              <select name="guiaxml[contratado]" id="guiaxml[contratado]" required="required">
                <option value="">--</option>
                <?php foreach($contratados as $contratado): ?>
                  <option value="<?= $contratado['id']; ?>"><?= $contratado['razao_social']; ?></option>
                <?php endforeach ?>
              </select>
            </td>
          </tr>
          <tr>
            <td class="label"><label for="guiaxml[profissional]">Profissional Solicitante</label></td>
            <td>
              <select name="guiaxml[profissional]" id="guiaxml[profissional]" required="required">
                <option value="">--</option>
                <?php foreach($profissionais as $profissional): ?>
                  <option value="<?= $profissional['id']; ?>">
                    <?= sprintf('%s - %s: %s', $profissional['nome_completo'], $profissional['sigla_conselho'], $profissional['numero_conselho']); ?>
                  </option>
                <?php endforeach ?>
              </select>
            </td>
          </tr>
          <tr>
            <td><label for="guiaxml[destino]">Plano de Saúde*</label></td>
            <td>
              <select name="guiaxml[destino]" id="guiaxml[destino]" required="required">
                <option value="">--</option>
                <?php foreach($planos as $plano): ?>
                  <option value="<?= $plano['id']; ?>">
                    <?= sprintf('%s - Registro ANS: %s', $plano['nome'], $plano['registro_ans']); ?>
                  </option>
                <?php endforeach ?>
              </select>
            </td>
          </tr>
        </table>
        <p style="font-size: 0.8em;">Obs: Se a operadora ou plano não estiver disponível, então significa que o Registro ANS dela não está preenchido no cadastro. <br/> Por favor, contacte a equipe de suporte técnico para que o mesmo seja realizado corretamente.</p>

        <?php foreach ($itens as $faturaId => $itensFatura): ?>

          <div class="fatura-box">
            <h1>Fatura ID #<?= $faturaId ?></h1>

            <h3>Dados da Autorização</h3>
            <table class="form">
              <tr>
                <td><label for="guiaxml[faturas][<?= $faturaId ?>][dadosAutorizacao][dataAutorizacao]">Data da Autorização*</label></td>
                <td><input type="date" id="guiaxml[faturas][<?= $faturaId ?>][dadosAutorizacao][dataAutorizacao]" name="guiaxml[faturas][<?= $faturaId ?>][dadosAutorizacao][dataAutorizacao]" required="required" /></td>
              </tr>
              <tr>
                <td><label for="guiaxml[faturas][<?= $faturaId ?>][dadosAutorizacao][senhaAutorizacao]">Senha*</label></td>
                <td><input type="text" id="guiaxml[faturas][<?= $faturaId ?>][dadosAutorizacao][senhaAutorizacao]" name="guiaxml[faturas][<?= $faturaId ?>][dadosAutorizacao][senhaAutorizacao]" required="required" maxlength="20" /></td>
              </tr>
              <?php if ($tipoSelected == SP_SADT){ ?>
                <tr>
                  <td><label for="guiaxml[faturas][<?= $faturaId ?>][dadosAutorizacao][validadeSenha]">Validade da Senha*</label></td>
                  <td><input type="date" id="guiaxml[faturas][<?= $faturaId ?>][dadosAutorizacao][validadeSenha]" name="guiaxml[faturas][<?= $faturaId ?>][dadosAutorizacao][validadeSenha]" required="required" /></td>
                </tr>
                <br/>
              <?php } elseif($tipoSelected == RESUMO_INTERNACAO) { ?>
                <tr>
                  <td><label for="guiaxml[faturas][<?= $faturaId ?>][dadosAutorizacao][validadeSenha]">Validade da Senha</label></td>
                  <td><input type="date" id="guiaxml[faturas][<?= $faturaId ?>][dadosAutorizacao][validadeSenha]" name="guiaxml[faturas][<?= $faturaId ?>][dadosAutorizacao][validadeSenha]" /></td>
                </tr>
                <br/>
              <? } ?>
            </table>

            <?php if ($tipoSelected == SP_SADT): ?>
              <h3>Identificação Guia SADT SP</h3>
              <table class="form">
                <tr>
                  <td><label for="guiaxml[faturas][<?= $faturaId ?>][idGuiaSADTSP][numeroGuiaOperadora]">Número Guia na Operadora*</label></td>
                  <td><input type="text" id="guiaxml[faturas][<?= $faturaId ?>][idGuiaSADTSP][numeroGuiaOperadora]" name="guiaxml[faturas][<?= $faturaId ?>][idGuiaSADTSP][numeroGuiaOperadora]" placeholder="ABC12345" required="required" maxlength="20" /></td>
                </tr>
              </table>
            <?php endif ?>

            <?php if ($tipoSelected == RESUMO_INTERNACAO): ?>
              <table class="form">
                <tr>
                  <td><label for="guiaxml[faturas][<?= $faturaId ?>][idGuiaSADTSP][numeroGuiaOperadora]">Número Guia na Operadora</label></td>
                  <td><input type="text" id="guiaxml[faturas][<?= $faturaId ?>][idGuiaSADTSP][numeroGuiaOperadora]" name="guiaxml[faturas][<?= $faturaId ?>][idGuiaSADTSP][numeroGuiaOperadora]" placeholder="Ex. 122" /></td>
                </tr>
                <tr>
                  <td><label for="guiaxml[faturas][<?= $faturaId ?>][dataInicioFaturamento]">Início do Faturamento*</label></td>
                  <td><input type="date" id="guiaxml[faturas][<?= $faturaId ?>][dataInicioFaturamento]" name="guiaxml[faturas][<?= $faturaId ?>][dataInicioFaturamento]" required="required" /></td>
                </tr>
<!--                  <tr>-->
<!--                      <td><label for="guiaxml[faturas][--><?//= $faturaId ?><!--][horaInicioFaturamento]">Hora início do Faturamento*</label></td>-->
<!--                      <td><input type="time"  id="guiaxml[faturas][--><?//= $faturaId ?><!--][horaInicioFaturamento]" name="guiaxml[faturas][--><?//= $faturaId ?><!--][horaInicioFaturamento]" required="required" /></td>-->
<!--                  </tr>-->
                <tr>
                  <td><label for="guiaxml[faturas][<?= $faturaId ?>][dataFimFaturamento]">Fim do Faturamento*</label></td>
                  <td><input type="date" id="guiaxml[faturas][<?= $faturaId ?>][dataFimFaturamento]" name="guiaxml[faturas][<?= $faturaId ?>][dataFimFaturamento]" required="required" value=""/></td>
                </tr>
<!--                  <tr>-->
<!--                      <td><label for="guiaxml[faturas][--><?//= $faturaId ?><!--][horaFimFaturamento]">Hora fim do Faturamento*</label></td>-->
<!--                      <td><input type="time" id="guiaxml[faturas][--><?//= $faturaId ?><!--][horaFimFaturamento]" name="guiaxml[faturas][--><?//= $faturaId ?><!--][horaFimFaturamento]" required="required" value="23:00"/></td>-->
<!--                  </tr>-->
              </table>
            <?php endif ?>

            <h3>Dados do Beneficiário</h3>
            <input type="hidden" value="<?= $itensFatura['fatura']['idClientes'] ?>" name="guiaxml[faturas][<?= $faturaId ?>][dadosBeneficiario][pacienteId]" required="required" />
            <table class="form">
              <tr>
                <td><label for="guiaxml[faturas][<?= $faturaId ?>][dadosBeneficiario][numeroCarteira]">Número da Carteira*</label></td>
                <td><input id="guiaxml[faturas][<?= $faturaId ?>][dadosBeneficiario][numeroCarteira]" name="guiaxml[faturas][<?= $faturaId ?>][dadosBeneficiario][numeroCarteira]" value="<?= $itensFatura['fatura']['NUM_MATRICULA_CONVENIO'] ?>" required="required" /></td>
              </tr>
              <tr>
                <td><label for="guiaxml[faturas][faturas][<?= $faturaId ?>][dadosBeneficiario][nomeBeneficiario]">Nome do Beneficiário*</label></td>
                <td><input id="guiaxml[faturas][faturas][<?= $faturaId ?>][dadosBeneficiario][nomeBeneficiario]" name="guiaxml[faturas][<?= $faturaId ?>][dadosBeneficiario][nomeBeneficiario]" value="<?= $itensFatura['fatura']['nomePaciente'] ?>" required="required" /></td>
              </tr>
              <tr>
                <td><label for="guiaxml[faturas][<?= $faturaId ?>][dadosBeneficiario][nomePlano]">Nome do Plano*</label></td>
                <td><input type="text" name="guiaxml[faturas][<?= $faturaId ?>][dadosBeneficiario][nomePlano]" id="guiaxml[faturas][<?= $faturaId ?>][dadosBeneficiario][nomePlano]" value="<?= $itensFatura['fatura']['NOME_PLANO_CONVENIO']  ?>" required="required" /></td>
              </tr>
            </table>

            <h3>Atendimento</h3>

            <?php if ($tipoSelected == RESUMO_INTERNACAO): ?>
              <table class="form">
                <tr>
                  <td><label for="guiaxml[faturas][<?= $faturaId ?>][acomodacao]">Tipo de Acomodação*</label></td>
                  <td>
                    <select name="guiaxml[faturas][<?= $faturaId ?>][acomodacao]" required="required">
                      <option value="">--</option>
                      <?php foreach ($acomodacoes as $acomodacao): ?>
                        <option value="<?= $acomodacao['id'] ?>">
                          <?= $acomodacao['descricao'] ?>
                        </option>
                      <?php endforeach ?>
                    </select>
                  </td>
                </tr>
              </table>
            <?php endif ?>

            <table class="form">
              <?php if ($tipoSelected == SP_SADT): ?>
                <tr>
                  <td><label for="guiaxml[faturas][<?= $faturaId ?>][atendimento][data]">Data do Atendimento*</label></td>
                  <td><input type="date" id="guiaxml[faturas][<?= $faturaId ?>][atendimento][data]" name="guiaxml[faturas][<?= $faturaId ?>][atendimento][data]" required="required" /></td>
                </tr>
                <?php if ($tipoSelected == RESUMO_INTERNACAO): ?>
                  <tr>
                    <td><label for="guiaxml[faturas][<?= $faturaId ?>][dataHoraInternacao]">Data/Hora da Internação*</label></td>
                    <td><input type="date" id="guiaxml[faturas][<?= $faturaId ?>][dataHoraInternacao]" name="guiaxml[faturas][<?= $faturaId ?>][dataHoraInternacao]" required="required" /></td>
                  </tr>
                <?php endif ?>
              <?php endif ?>

              <?php if ($tipoSelected == RESUMO_INTERNACAO): ?>
                <tr>
                  <td><label for="guiaxml[faturas][<?= $faturaId ?>][tipoInternacao]">Tipo de Internação*</label></td>
                  <td>
                    <select name="guiaxml[faturas][<?= $faturaId ?>][tipoInternacao]" id="guiaxml[faturas][<?= $faturaId ?>][tipoInternacao]" required="required">
                      <option value="">--</option>
                      <?php foreach ($tiposInternacao as $tipoInternacao): ?>
                        <option value="<?= $tipoInternacao['id'] ?>">
                          <?= $tipoInternacao['descricao'] ?>
                        </option>
                      <?php endforeach ?>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td><label for="guiaxml[faturas][<?= $faturaId ?>][regimeInternacao]">Regime de Internação*</label></td>
                  <td>
                    <select name="guiaxml[faturas][<?= $faturaId ?>][regimeInternacao]" id="guiaxml[faturas][<?= $faturaId ?>][regimeInternacao]" required="required">
                      <option value="">--</option>
                      <?php foreach ($regimesInternacao as $regimeInternacao): ?>
                        <option value="<?= $regimeInternacao['id'] ?>">
                          <?= $regimeInternacao['descricao'] ?>
                        </option>
                      <?php endforeach ?>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td><label for="guiaxml[faturas][<?= $faturaId ?>][motivoSaidaInternacao]">Motivo da Saída de Internação*</label></td>
                  <td>
                    <select name="guiaxml[faturas][<?= $faturaId ?>][motivoSaidaInternacao]" id="guiaxml[faturas][<?= $faturaId ?>][motivoSaidaInternacao]" required="required">
                      <option value="">--</option>
                      <?php foreach ($motivosSaidaInternacao as $motivoSaida): ?>
                        <option value="<?= $motivoSaida['id'] ?>">
                          <?= $motivoSaida['descricao'] ?>
                        </option>
                      <?php endforeach ?>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td><label for="guiaxml[faturas][<?= $faturaId ?>][tipoFaturamento]">Tipo de Faturamento*</label></td>
                  <td>
                    <select name="guiaxml[faturas][<?= $faturaId ?>][tipoFaturamento]" id="guiaxml[faturas][<?= $faturaId ?>][tipoFaturamento]" required="required">
                      <option value="">--</option>
                      <?php foreach ($tiposFaturamento as $tipoFaturamento): ?>
                        <option value="<?= $tipoFaturamento['id'] ?>">
                          <?= $tipoFaturamento['descricao'] ?>
                        </option>
                      <?php endforeach ?>
                    </select>
                  </td>
                </tr>
              <?php endif ?>

              <?php if ($tipoSelected == SP_SADT): ?>
                <tr>
                  <td><label for="guiaxml[faturas][<?= $faturaId ?>][atendimento][cid]">Código CID*</label></td>
                  <td><input name="guiaxml[faturas][<?= $faturaId ?>][atendimento][cid]" id="guiaxml[faturas][<?= $faturaId ?>][atendimento][cid]" value="<?= $itensFatura['fatura']['diagnostico'] ?>" required="required" /></td>
                </tr>
              <?php endif ?>

              <?php if ($tipoSelected == RESUMO_INTERNACAO): ?>
                <tr>
                  <td><label for="guiaxml[faturas][<?= $faturaId ?>][internacao][carater]">Caráter de Internação*</label></td>
                  <td>
                    <select name="guiaxml[faturas][<?= $faturaId ?>][internacao][carater]" id="guiaxml[faturas][<?= $faturaId ?>][internacao][carater]" required="required" >
                      <option value="">--</option>
                      <option value="1">ELETIVA</option>
                      <option value="2">URGÊNCIA</option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td><label for="guiaxml[faturas][<?= $faturaId ?>][atendimento][indicadorAcidente]">Indicador Acidente*</label></td>
                  <td>
                    <select name="guiaxml[faturas][<?= $faturaId ?>][atendimento][indicadorAcidente]" id="guiaxml[faturas][<?= $faturaId ?>][atendimento][indicadorAcidente]" required="required">
                      <option value="">--</option>
                      <?php foreach ($indicadoresAcidente as $indicadorAcidente): ?>
                        <option value="<?= $indicadorAcidente['id'] ?>">
                          <?= $indicadorAcidente['tiss_codigo'] . '-' . $indicadorAcidente['descricao'] ?>
                        </option>
                      <?php endforeach ?>
                    </select>
                  </td>
                </tr>
              <?php endif ?>

            </table>


            <table class="form">
              <?php if ($tipoSelected == SP_SADT): ?>
                <tr>
                  <td><label for="guiaxml[faturas][<?= $faturaId ?>][atendimento][carater]">Caráter de Atendimento*</label></td>
                  <td>
                    <select name="guiaxml[faturas][<?= $faturaId ?>][atendimento][carater]" id="guiaxml[faturas][<?= $faturaId ?>][atendimento][carater]" required="required" >
                      <option value="">--</option>
                      <option value="E">ELETIVA</option>
                      <option value="U">URGÊNCIA</option>
                    </select>
                  </td>
                </tr>
              <?php endif ?>

              <?php if ($tipoSelected == SP_SADT): ?>
                <tr>
                  <td><label for="guiaxml[faturas][<?= $faturaId ?>][atendimento][atendimento]">Atendimento*</label></td>
                  <td>
                    <select name="guiaxml[faturas][<?= $faturaId ?>][atendimento][atendimento]" id="guiaxml[faturas][<?= $faturaId ?>][atendimento][atendimento]" required="required">
                      <option value="">--</option>
                      <?php foreach ($tiposAtendimento as $tipoAtendimento): ?>
                        <option value="<?= $tipoAtendimento['id'] ?>">
                          <?= $tipoAtendimento['tiss_codigo'] . '-' . $tipoAtendimento['descricao'] ?>
                        </option>
                      <?php endforeach ?>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td><label for="guiaxml[faturas][<?= $faturaId ?>][atendimento][indicadorAcidente]">Indicador Acidente*</label></td>
                  <td>
                    <select name="guiaxml[faturas][<?= $faturaId ?>][atendimento][indicadorAcidente]" id="guiaxml[faturas][<?= $faturaId ?>][atendimento][indicadorAcidente]" required="required">
                      <option value="">--</option>
                      <?php foreach ($indicadoresAcidente as $indicadorAcidente): ?>
                        <option value="<?= $indicadorAcidente['id'] ?>">
                          <?= $indicadorAcidente['tiss_codigo'] . '-' . $indicadorAcidente['descricao'] ?>
                        </option>
                      <?php endforeach ?>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td><label for="guiaxml[faturas][<?= $faturaId ?>][atendimento][tipoSaida]">Tipo de Saída*</label></td>
                  <td>
                    <select name="guiaxml[faturas][<?= $faturaId ?>][atendimento][tipoSaida]" id="guiaxml[faturas][<?= $faturaId ?>][atendimento][tipoSaida]" required="required">
                      <option value="">--</option>
                      <?php foreach ($tiposSaida as $tipoSaida): ?>
                        <option value="<?= $tipoSaida['id'] ?>">
                          <?= $tipoSaida['tiss_codigo'] . '-' . $tipoSaida['descricao'] ?>
                        </option>
                      <?php endforeach ?>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td><label for="guiaxml[faturas][<?= $faturaId ?>][atendimento][tipoDoenca]">Tipo de Doença*</label></td>
                  <td>
                    <select name="guiaxml[faturas][<?= $faturaId ?>][atendimento][tipoDoenca]" id="guiaxml[faturas][<?= $faturaId ?>][atendimento][tipoDoenca]" required="required">
                      <option value="">--</option>
                      <option value="A">Agudo</option>
                      <option value="C">Crônico</option>
                    </select>
                  </td>
                </tr>
              <?php endif ?>
            </table>

            <?php if (isset($itensFatura['procedimentosRealizados']) && !empty($itensFatura['procedimentosRealizados'])): ?>
              <h3>Procedimentos e Exames Realizados* (<?= sizeof($itensFatura['procedimentosRealizados']) ?>)</h3>
              <table class="procedimentos">
                <tr>
                  <th>Incluir?</th>
                  <th class="tipo">Tipo</th>
                  <th class="prof-executante">Profissional Executante</th>
                  <th class="data">Data</th>
                  <th class="tabela">Tabela</th>
                  <th class="codigo">Código</th>
                  <th class="descricao">Descrição</th>
                  <th class="quantidade">Unidade</th>
                  <th class="quantidade">Qtd.</th>
                  <th class="valor-unitario">Valor Unit. (R$)</th>
                </tr>
                <?php foreach ($itensFatura['procedimentosRealizados'] as $key => $procedimento): ?>
                  <tr>
                    <td><input type="checkbox" <?= $procedimento['incluido'] ? "checked" : "" ?> onchange="incluirItem(this)"  name="incluir" /></td>
                    <td>
                      <select name="guiaxml[faturas][<?= $faturaId ?>][procedimentos][<?= $key ?>][tipo]" required="required" <?= $procedimento['incluido'] ? "" : "disabled" ?> >
                        <option value="0">Serviço</option>
                        <?php foreach ($tipoOutrasDespesas as $tipo): ?>
                          <option value="<?= $tipo['id'] ?>"><?= $tipo['tiss_codigo'].' - '.$tipo['descricao'] ?></option>
                        <?php endforeach ?>
                      </select>
                    </td>
                    <td>
                      <select name="guiaxml[faturas][<?= $faturaId ?>][procedimentos][<?= $key ?>][profexecutante]" <?= $procedimento['incluido'] ? "" : "disabled" ?> >
                        <option value=""> -- </option>
                        <?php foreach($profissionais as $profissional): ?>
                          <option value="<?= $profissional['id']; ?>">
                            <?= sprintf('%s - %s: %s', $profissional['nome_completo'], $profissional['sigla_conselho_profissional'], $profissional['numero_conselho']); ?>
                          </option>
                        <?php endforeach ?>
                      </select>
                    </td>
                    <td>
                      <input type="date" value="<?= $procedimento['tiss_data']->format('Y-m-d') ?>" name="guiaxml[faturas][<?= $faturaId ?>][procedimentos][<?= $key ?>][data]" id="guiaxml[faturas][<?= $faturaId ?>][procedimentos][<?= $key ?>][data]" required="required" <?= $procedimento['incluido'] ? "" : "disabled" ?> />
                    </td>
                    <td>
                      <select name="guiaxml[faturas][<?= $faturaId ?>][procedimentos][<?= $key ?>][tabela]" required="required" <?= $procedimento['incluido'] ? "" : "disabled" ?> >
                        <option value="">--</option>
                        <?php foreach ($tabelasOutrasDespesas as $tabela): ?>
                          <option value="<?= $tabela['id'] ?>" <?= $tabela['id'] == $procedimento['tiss_tabela'] ? 'selected="selected"' : '' ?>><?= $tabela['tiss_codigo'].' - '.$tabela['descricao'] ?></option>
                        <?php endforeach ?>
                      </select>
                    </td>
                    <td><input type="text" name="guiaxml[faturas][<?= $faturaId ?>][procedimentos][<?= $key ?>][codigo]" maxlength="10" value="<?= $procedimento['CODIGO_PROPRIO'] == '0' ? $procedimento['NUMERO_TISS'] : $procedimento['CODIGO_PROPRIO'] ?>" required="required" <?= $procedimento['incluido'] ? "" : "disabled" ?>  /></td>
                    <td>
                      <input type="text" name="guiaxml[faturas][<?= $faturaId ?>][procedimentos][<?= $key ?>][descricao]" value="<?= $procedimento['principio'] ?>" required="required" maxlength="60" <?= $procedimento['incluido'] ? "" : "disabled" ?> />
                    </td>
                    <td>
                      <select name="guiaxml[faturas][<?= $faturaId ?>][procedimentos][<?= $key ?>][unidade-medida]" <?= $procedimento['incluido'] ? "" : "disabled" ?> >
                        <option value="">Serviço</option>
                        <?php foreach ($unidadesMedida as $unidade): ?>
                          <?= sprintf('<option value="%d">%s</option>', $unidade['ID'], $unidade['UNIDADE']) ?>
                        <?php endforeach ?>
                      </select>
                    </td>
                    <td><input type="text" name="guiaxml[faturas][<?= $faturaId ?>][procedimentos][<?= $key ?>][quantidade]" value="<?= $procedimento['QUANTIDADE'] ?>" required="required" <?= $procedimento['incluido'] ? "" : "disabled" ?> /></td>
                    <td><input type="text" name="guiaxml[faturas][<?= $faturaId ?>][procedimentos][<?= $key ?>][valorUnitario]" value="<?= $procedimento['valorFaturaComAcrescimoDesconto'] ?>" required="required" <?= $procedimento['incluido'] ? "" : "disabled" ?> /></td>
                  </tr>
                <?php endforeach ?>
              </table>
              <br/>
              <?php if ($itensFatura['valorTotal']['procedimentos'] != $itensFatura['valorTotal']['procedimentosComAcrescimoDesconto']): ?>
                <h2 style="color: rgb(106, 106, 106); text-align: right;">Total S/ Desconto ou Acréscimo: R$ <?= number_format($itensFatura['valorTotal']['procedimentos'], 2, ',', '.') ?></h2>
              <?php endif ?>
              <h2 style="color: rgb(106, 106, 106); text-align: right;">Total de Procedimentos: R$ <?= number_format($itensFatura['valorTotal']['procedimentosComAcrescimoDesconto'], 2, ',', '.') ?></h2>
            <?php endif ?>
            <?php if (isset($itensFatura['outrasDespesas']) && !empty($itensFatura['outrasDespesas'])): ?>
              <h3>Outras Despesas* (<?= sizeof($itensFatura['outrasDespesas']) ?>)</h3>
              <table class="outras-despesas">
                <tr>
                  <th>Incluir?</th>
                  <th class="tipo">Tipo</th>
                  <th class="data">Data</th>
                  <th class="tabela">Tabela</th>
                  <th class="codigo">Código</th>
                  <th class="descricao">Descrição</th>
                  <th class="quantidade">Unidade</th>
                  <th class="quantidade">Qtd.</th>
                  <th class="valor-unitario">Valor Unit. (R$)</th>
                </tr>
                <?php foreach ($itensFatura['outrasDespesas'] as $key => $outraDespesa): ?>
                  <tr>
                    <td><input type="checkbox" <?= $outraDespesa['incluido'] ? "checked" : "" ?> onchange="incluirItem(this)" name="incluir" /></td>
                    <td>
                      <select name="guiaxml[faturas][<?= $faturaId ?>][outrasDespesas][<?= $key ?>][tipo]" required="required" <?= $outraDespesa['incluido'] ? "" : "disabled" ?> >
                        <option value="">--</option>
                          <?= var_dump($tipoOutrasDespesas)?>
                        <?php foreach ($tipoOutrasDespesas as $tipo): ?>
                          <?php $tiss_tipo = current($outraDespesa['tiss_tipo']); ?>
                          <option <?= $tiss_tipo['tiss_outras_despesas_tipo_id'] == $tipo['id'] ? 'selected="selected"' : '' ?> value="<?= $tipo['id'] ?>"><?= $tipo['tiss_codigo'].' - '.$tipo['descricao'] ?></option>
                        <?php endforeach ?>
                      </select>
                    </td>
                    <td><input type="date" name="guiaxml[faturas][<?= $faturaId ?>][outrasDespesas][<?= $key ?>][data]" value="<?= $outraDespesa['tiss_data']->format('Y-m-d') ?>" style="width: 115px" required="required" <?= $outraDespesa['incluido'] ? "" : "disabled" ?> /></td>
                    <td>
                      <select name="guiaxml[faturas][<?= $faturaId ?>][outrasDespesas][<?= $key ?>][tabela]" style="width: 119px" required="required" <?= $outraDespesa['incluido'] ? "" : "disabled" ?> >
                        <option value="">--</option>
                        <?php foreach ($tabelasOutrasDespesas as $tabela): ?>
                          <option value="<?= $tabela['id'] ?>" <?= $tabela['id'] == $outraDespesa['tiss_tabela'] ? 'selected="selected"' : '' ?>><?= $tabela['tiss_codigo'].' - '.$tabela['descricao'] ?></option>
                        <?php endforeach ?>
                      </select>
                    </td>
                    <td><input type="text" name="guiaxml[faturas][<?= $faturaId ?>][outrasDespesas][<?= $key ?>][codigo]" maxlength="10" value="<?= $outraDespesa['CODIGO_PROPRIO'] == '0' ? $outraDespesa['NUMERO_TISS'] : $outraDespesa['CODIGO_PROPRIO'] ?>" required="required" <?= $outraDespesa['incluido'] ? "" : "disabled" ?> /></td>
                    <td>
                      <input type="text" name="guiaxml[faturas][<?= $faturaId ?>][outrasDespesas][<?= $key ?>][descricao]" value="<?= $outraDespesa['principio'] ?>" required="required" maxlength="60" <?= $outraDespesa['incluido'] ? "" : "disabled" ?> />
                    </td>
                    <td>
                      <select name="guiaxml[faturas][<?= $faturaId ?>][outrasDespesas][<?= $key ?>][unidade-medida]" required="required" <?= $outraDespesa['incluido'] ? "" : "disabled" ?> >
                        <option value="">--</option>
                        <?php foreach ($unidadesMedida as $unidade): $selected = $outraDespesa['UNIDADE_ID'] == $unidade['ID'] ? 'selected' : null; ?>
                          <?= sprintf('<option value="%d" %s>%s</option>', $unidade['ID'], $selected, $unidade['UNIDADE']) ?>
                        <?php endforeach ?>
                      </select>
                    </td>
                    <td><input type="number" name="guiaxml[faturas][<?= $faturaId ?>][outrasDespesas][<?= $key ?>][quantidade]" value="<?= $outraDespesa['QUANTIDADE'] ?>" required="required" <?= $outraDespesa['incluido'] ? "" : "disabled" ?> /></td>
                    <td><input type="text" name="guiaxml[faturas][<?= $faturaId ?>][outrasDespesas][<?= $key ?>][valorUnitario]" value="<?= $outraDespesa['valorFaturaComAcrescimoDesconto'] ?>" required="required" <?= $outraDespesa['incluido'] ? "" : "disabled" ?> /></td>
                  </tr>
                <?php endforeach ?>
              </table>
              <br/>
              <?php if ($itensFatura['valorTotal']['outrasDespesas'] != $itensFatura['valorTotal']['outrasDespesasComAcrescimoDesconto']): ?>
                <h2 style="color: rgb(106, 106, 106); text-align: right;">Total S/ Desconto ou Acréscimo: R$ <?= number_format($itensFatura['valorTotal']['outrasDespesas'], 2, ',', '.') ?></h2>
              <?php endif ?>
              <h2 style="color: rgb(106, 106, 106); text-align: right;">
                Total de Outras Despesas: R$ <?= number_format($itensFatura['valorTotal']['outrasDespesasComAcrescimoDesconto'], 2, ',', '.') ?>
              </h2>
            <?php endif ?>
          </div>
        <?php endforeach ?>
        <hr />
        <input type="submit" value="Salvar & Gerar XML" />
      </form>
    </div>
    <div id="left">
      <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
    </div>
  </div>
  <br/><br/><br/><br/><br/><br/>

  <script>
    function incluirItem(checkbox) {
      var inputs = $(checkbox).closest('tr').find('input, select').not('input[name=incluir]');
      if ($(checkbox).is(':checked')) {
        inputs.removeAttr('disabled');
      } else {
        inputs.attr('disabled', 'disabled');
      }
    }
  </script>
  </body>
  </html>