<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="initial-scale: 1">
  <title></title>
</head>
<body>
  <?php foreach ($data['guias'] as $guiaSPSADT):  ?>
  <table style="border-width:0px;empty-cells:show;width:1083px;background-color:transparent;" cellpadding="0" cellspacing="0" border="0" class="DXRResetStyle">
  <tbody><tr style="vertical-align:top;">
    <td style="width:0px;height:6px;"></td>
    <td style="width:2px;"></td>
    <td style="width:16px;"></td>
    <td style="width:3px;"></td>
    <td style="width:56px;"></td>
    <td style="width:8px;"></td>
    <td style="width:50px;"></td>
    <td style="width:1px;"></td>
    <td style="width:9px;"></td>
    <td style="width:5px;"></td>
    <td style="width:16px;"></td>
    <td style="width:28px;"></td>
    <td style="width:10px;"></td>
    <td style="width:2px;"></td>
    <td style="width:25px;"></td>
    <td style="width:15px;"></td>
    <td style="width:2px;"></td>
    <td style="width:56px;"></td>
    <td style="width:4px;"></td>
    <td style="width:2px;"></td>
    <td style="width:28px;"></td>
    <td style="width:3px;"></td>
    <td style="width:1px;"></td>
    <td style="width:81px;"></td>
    <td style="width:35px;"></td>
    <td style="width:8px;"></td>
    <td style="width:66px;"></td>
    <td style="width:118px;"></td>
    <td style="width:14px;"></td>
    <td style="width:25px;"></td>
    <td style="width:6px;"></td>
    <td style="width:39px;"></td>
    <td style="width:32px;"></td>
    <td style="width:5px;"></td>
    <td style="width:11px;"></td>
    <td style="width:14px;"></td>
    <td style="width:10px;"></td>
    <td style="width:46px;"></td>
    <td style="width:6px;"></td>
    <td style="width:4px;"></td>
    <td style="width:17px;"></td>
    <td style="width:11px;"></td>
    <td style="width:79px;"></td>
    <td style="width:13px;"></td>
    <td style="width:22px;"></td>
    <td style="width:73px;"></td>
    <td style="width:4px;"></td>
    <td style="width:1px;"></td>
    <td style="width:1px;"></td>
  </tr>
  <tr style="vertical-align:top;">
    <td style="width:0px;height:3px;"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="cs54E32FD5" style="width:474px;height:66px;text-align:center;vertical-align:top;" colspan="17" rowspan="6">ANEXO DE OUTRAS DESPESAS</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr style="vertical-align:top;">
    <td style="width:0px;height:20px;"><a href=""></a></td>
    <td></td>
    <td></td>
    <td class="cs208FB680" style="width:148px;height:32px;text-align:left;vertical-align:top;" colspan="8" rowspan="2"><div style="overflow:hidden;width:148px;height:32px;"><!--img title="Logo do Plano" src="logo.jpg" alt="" width="112" height="32" style="margin-left:18px;"--></div></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr style="vertical-align:top;">
    <td style="width:0px;height:12px;"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr style="vertical-align:top;">
    <td style="width:0px;height:16px;"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr style="vertical-align:top;">
    <td style="width:0px;height:14px;"></td>
    <td></td>
    <td class="cs947348AE" style="width:138px;height:13px;text-align:left;vertical-align:top;" colspan="7">1 - Registro ANS</td>
    <td class="csE21F4C2E" style="width:187px;height:13px;text-align:left;vertical-align:top;" colspan="40">2 - Número da  Guia Referenciada</td>
    <td></td>
    <td></td>
    <td style="width:111px;height:13px;text-align:left;vertical-align:top;" colspan="2"></td>
    <td style="width:201px;height:13px;text-align:left;vertical-align:top;" colspan="4"></td>
    <td style="width:189px;height:13px;text-align:left;vertical-align:top;" colspan="10"></td>
    <td style="width:218px;height:13px;text-align:left;vertical-align:top;" colspan="9"></td>
    <td></td>
  </tr>
  <tr style="vertical-align:top;">
    <td style="width:0px;height:13px;"></td>
    <td></td>
    <td class="csF827C61" style="width:138px;height:12px;text-align:left;vertical-align:top;" colspan="7"><?= $data['destino']['registroANS'] ?></td> <!-- Registro ANS -->
    <td class="csD0E5441" style="width:187px;height:12px;text-align:left;vertical-align:top;" colspan="41"><?= $guiaSPSADT['numeroGuiaPrestador'] ?></td> <!-- Número da  Guia Principal -->
    <td></td>
    <td></td>
    <td style="width:111px;height:12px;text-align:left;vertical-align:top;" colspan="2"></td> <!-- Número da  Guia Principal -->
    <td style="width:201px;height:12px;text-align:left;vertical-align:top;" colspan="4"></td><!-- Senha Autorizacao -->
    <td style="width:189px;height:12px;text-align:left;vertical-align:top;" colspan="10"></td> <!-- Validade Senha -->
    <td style="width:218px;height:12px;text-align:left;vertical-align:top;" colspan="9"></td>
    <td></td>
  </tr>
  <tr style="vertical-align:top;">
    <td style="width:0px;height:2px;"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr style="vertical-align:top;">
    <td style="width:0px;height:12px;"></td>
    <td class="cs64938C37" style="width:1079px;height:12px;text-align:left;vertical-align:top;" colspan="48">Dados do Contratado Executante</td>
  </tr>
  <tr style="vertical-align:top;">
    <td style="width:0px;height:2px;"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr style="vertical-align:top;">
    <td style="width:0px;height:24px;"></td>
    <td></td>
    <td class="cs947348AE" style="width:197px;height:23px;text-align:left;vertical-align:top;" colspan="11">3 - Código na Operadora</td>
    <td class="csE21F4C2E" style="width:794px;height:23px;text-align:left;vertical-align:top;" colspan="25">4 - Nome do Contratado</td>
    <td class="cs9D4FA285" style="width:72px;height:23px;text-align:left;vertical-align:top;" colspan="9">5 - Código CNES</td>
    <td></td>
    <td></td>
  </tr>
  <tr style="vertical-align:top;">
    <td style="width:0px;height:13px;"></td>
    <td></td>
    <td class="csF827C61" style="width:197px;height:12px;text-align:left;vertical-align:top;" colspan="11"><?= $guiaSPSADT['contratadoSolicitante']['cnpjFormatado'] ?></td>
    <td class="csD0E5441" style="width:794px;height:12px;text-align:left;vertical-align:top;" colspan="25"><?= $guiaSPSADT['contratadoSolicitante']['nomeContratado'] ?></td>
    <td class="cs5FE4555B" style="width:72px;height:12px;text-align:left;vertical-align:top;" colspan="9"><?= $guiaSPSADT['contratadoSolicitante']['numeroCNES'] ?></td>
    <td></td>
    <td></td>
  </tr>
  <tr style="vertical-align:top;">
    <td style="width:0px;height:2px;"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr style="vertical-align:top;">
    <td style="width:0px;height:12px;"></td>
    <td class="cs64938C37" style="width:1079px;height:12px;text-align:left;vertical-align:top;" colspan="48">Despesas Realizadas</td>
  </tr>
  <tr style="vertical-align:top;">
    <td style="width:0px;height:2px;"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr style="vertical-align:top;">
    <td style="width:0px;height:25px;"></td>
    <td class="cs39B500D8" style="width:16px;height:23px;text-align:left;vertical-align:top;" colspan="3">6-CD</td>
    <td class="csF743A0B3" style="width:50px;height:23px;text-align:left;vertical-align:top;">7-Data</td>
    <td class="csC51DC3BD" style="width:54px;height:23px;text-align:left;vertical-align:top;" colspan="3">8-Hora<br>Inicial</td>
    <td class="csC51DC3BD" style="width:53px;height:23px;text-align:left;vertical-align:top;" colspan="4">9-Hora<br>Final</td>
    <td class="cs77952A5E" style="width:49px;height:23px;text-align:left;vertical-align:top;" colspan="5">10-Tabela</td>
    <td class="cs77952A5E" style="width:88px;height:23px;text-align:left;vertical-align:top;" colspan="5">11-Cód.<br>do Item</td>
    <td class="cs77952A5E" style="width:34px;height:23px;text-align:left;vertical-align:top;">12-<br>Qtde.</td>
    <td class="csC51DC3BD" style="width:32px;height:23px;text-align:left;vertical-align:top;" colspan="2">13-Un. Medida</td>
    <td class="csC51DC3BD" style="width:68px;height:23px;text-align:left;vertical-align:top;" colspan="2">14 - % Red.<br>Acresc.</td>
    <td class="csC51DC3BD" style="width:85px;height:23px;text-align:left;vertical-align:top;" colspan="2">15-Valor Unitário<br>R$</td>
    <td class="csC51DC3BD" style="width:107px;height:23px;text-align:left;vertical-align:top;" colspan="4">16-Valor Total R$</td>
    <td class="csC51DC3BD" style="width:349px;height:23px;text-align:left;vertical-align:top;" colspan="14">20-Descrição</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <?php foreach ($guiaSPSADT['outrasDespesas'] as $despesa): ?>
  <tr style="vertical-align:top;">
    <td style="width:0px;height:13px;"></td>
    <td class="cs86CE6D4B" style="width:14px;height:11px;text-align:left;vertical-align:top;" colspan="3"><?= $despesa['codigoDespesa'] ?></td>
    <td class="csD0E5441" style="width:50px;height:12px;text-align:left;vertical-align:top;"><?= $despesa['dataExecucaoImpressao'] ?></td>
    <td class="cs2A34AD55" style="width:54px;height:12px;text-align:center;vertical-align:top;" colspan="3">00:00</td>
    <td class="cs2A34AD55" style="width:53px;height:12px;text-align:center;vertical-align:top;" colspan="4">00:00</td>
    <td class="cs5FE4555B" style="width:49px;height:12px;text-align:center;vertical-align:top;" colspan="5"><?= $despesa['codigoTabela'] ?></td>
    <td class="cs5FE4555B" style="width:88px;height:12px;text-align:left;vertical-align:top;" colspan="5"><?= $despesa['codigoProcedimento'] ?></td>
    <td class="cs5FE4555B" style="width:34px;height:12px;text-align:right;vertical-align:top;"><?= $despesa['quantidadeExecutada'] ?></td>
    <td class="cs2A34AD55" style="width:32px;height:12px;text-align:center;vertical-align:top;" colspan="2"><?= $despesa['unidadeMedida'] ?></td>
    <td class="cs2A34AD55" style="width:68px;height:12px;text-align:right;vertical-align:top;" colspan="2"><?= $despesa['reducaoAcrescimo'] ?></td>
    <td class="cs2A34AD55" style="width:85px;height:12px;text-align:right;vertical-align:top;" colspan="2"><?= $despesa['valorUnitario'] ?></td>
    <td class="cs2A34AD55" style="width:107px;height:12px;text-align:right;vertical-align:top;" colspan="4"><?= $despesa['valorTotal'] ?></td>
    <td class="cs2A34AD55" style="width:349px;height:12px;text-align:left;vertical-align:top;" colspan="14"><?= $despesa['descricaoProcedimento'] ?></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <?php endforeach ?>
  <tr style="height: 2px">
    <td colspan="48"></td>
  </tr>
  <tr style="height: 60px;">
    <td colspan="48">
      <table>
        <tr style="height: 40px">
          <td></td>
          <td class="cs947348AE" style="width: 182px; height:14px;text-align:left;vertical-align:top;">21 - Total de Procedimentos (R$)</td>
          <td class="cs947348AE" style="width: 182px; height:12px;text-align:left;vertical-align:top;">22 - Total de Taxas e Aluguéis (R$)</td>
          <td class="cs947348AE" style="width: 182px; height:12px;text-align:left;vertical-align:top;">23 - Total de Materiais</td>
          <td class="cs947348AE" style="width: 182px; height:12px;text-align:left;vertical-align:top;">24 - Total de OPME (R$)</td>
          <td class="cs947348AE" style="width: 182px; height:12px;text-align:left;vertical-align:top;">25 - Total de Medicamentos (R$)</td>
          <td class="cs947348AE" style="width: 182px; height:12px;text-align:left;vertical-align:top;">26 - Total de Gases Medicinais (R$)</td>
          <td class="cs947348AE border-right" style="width: 182px; height:12px;text-align:left;vertical-align:top;">27 - Total Geral (R$)</td>
        </tr>
        <tr>
          <td></td>
          <td class="csF827C61" style="width: 182px; height:12px;text-align:right;vertical-align:top;"><?= $guiaSPSADT['valorProcedimentosFormatado'] ?></td>
          <td class="csF827C61" style="width: 182px; height:12px;text-align:right;vertical-align:top;"><?= $guiaSPSADT['valorTaxasAlugueisFormatado'] ?></td>
          <td class="csF827C61" style="width: 182px; height:12px;text-align:right;vertical-align:top;"><?= $guiaSPSADT['valorMateriaisFormatado'] ?></td>
          <td class="csF827C61" style="width: 182px; height:12px;text-align:right;vertical-align:top;"><?= $guiaSPSADT['valorMedicamentosFormatado'] ?></td>
          <td class="csF827C61" style="width: 182px; height:12px;text-align:right;vertical-align:top;"><?= $guiaSPSADT['valorOPMEFormatado'] ?></td>
          <td class="csF827C61" style="width: 182px; height:12px;text-align:right;vertical-align:top;"><?= $guiaSPSADT['valorGasesMedicinaisFormatado'] ?></td>
          <td class="csF827C61 border-right" style="width: 182px; height:12px;text-align:right;vertical-align:top;"><?= $guiaSPSADT['valorTotalGeralFormatado'] ?></td>
        </tr>
      </table>
    </td>
  </tr>
  <tr style="height: 2px">
    <td colspan="48"></td>
  </tr>
  </tbody>
  </table>
<?php endforeach ?>

<style type="text/css">
* {
  font-size: 8pt;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  border-color: gray;
}
table tr td {
  font-family:microsoft sans serif;
  font-size:8pt;
  vertical-align:top;
}
@page
{
  size: auto;   /* auto is the initial value */
}
.cs64938C37 {color:#000000;background-color:#E0E0E0;border-left-style: none;border-top-style: none;border-right-style: none;border-bottom-style: none;font-family:microsoft sans serif; font-size:8pt; font-weight:bold; font-style:normal; padding-left:2px;padding-right:2px;}
.csD3D512F4 {color:#000000;background-color:#FFFFFF;border-left:#000000 1px solid;border-top:#000000 1px solid;border-right:#000000 1px solid;border-bottom-style: none;font-family:microsoft sans serif; font-size:8pt; font-weight:bold; font-style:normal; padding-left:2px;padding-right:2px;}
.cs41852B4F {color:#000000;background-color:#FFFFFF;border-left:#000000 1px solid;border-top:#000000 1px solid;border-right-style: none;border-bottom-style: none;font-family:microsoft sans serif; font-size:8pt; font-weight:bold; font-style:normal; padding-left:2px;padding-right:2px;}
.cs93BFCAE4 {color:#000000;background-color:#FFFFFF;border-left:#000000 1px solid;border-top-style: none;border-right:#000000 1px solid;border-bottom:#000000 1px solid;font-family:microsoft sans serif; font-size:8pt; font-weight:normal; font-style:normal; padding-left:2px;padding-right:2px;}
.csBDD0554F {color:#000000;background-color:#FFFFFF;border-left:#000000 1px solid;border-top-style: none;border-right-style: none;border-bottom:#000000 1px solid;font-family:microsoft sans serif; font-size:8pt; font-weight:normal; font-style:normal; padding-left:2px;padding-right:2px;}
.csC51DC3BD {color:#000000;background-color:#FFFFFF;border-left-style: none;border-top:#000000 1px solid;border-right:#000000 1px solid;border-bottom:#000000 1px solid;font-family:microsoft sans serif; font-size:8pt; font-weight:bold; font-style:normal; padding-left:2px;padding-right:2px;}
.cs2A34AD55 {color:#000000;background-color:#FFFFFF;border-left-style: none;border-top-style: none;border-right:#000000 1px solid;border-bottom:#000000 1px solid;font-family:microsoft sans serif; font-size:8pt; font-weight:normal; font-style:normal; padding-left:2px;padding-right:2px;}
.csF743A0B3 {color:#000000;background-color:transparent;border-left:#000000 1px solid;border-top:#000000 1px solid;border-right:#000000 1px solid;border-bottom:#000000 1px solid;font-family:microsoft sans serif; font-size:8pt; font-weight:bold; font-style:normal; padding-left:2px;padding-right:2px;}
.csE21F4C2E {color:#000000;background-color:transparent;border-left:#000000 1px solid;border-top:#000000 1px solid;border-right:#000000 1px solid;border-bottom-style: none;font-family:microsoft sans serif; font-size:8pt; font-weight:bold; font-style:normal; padding-left:2px;padding-right:2px;}
.cs39B500D8 {color:#000000;background-color:transparent;border-left:#000000 1px solid;border-top:#000000 1px solid;border-right-style: none;border-bottom:#000000 1px solid;font-family:microsoft sans serif; font-size:8pt; font-weight:bold; font-style:normal; padding-left:2px;}
.cs947348AE {color:#000000;background-color:transparent;border-left:#000000 1px solid;border-top:#000000 1px solid;border-right-style: none;border-bottom-style: none;font-family:microsoft sans serif; font-size:8pt; font-weight:bold; font-style:normal; padding-left:2px;padding-right:2px;}
.csD0E5441 {color:#000000;background-color:transparent;border-left:#000000 1px solid;border-top-style: none;border-right:#000000 1px solid;border-bottom:#000000 1px solid;font-family:microsoft sans serif; font-size:8pt; font-weight:normal; font-style:normal; padding-left:2px;padding-right:2px;}
.csC61762F1 {color:#000000;background-color:transparent;border-left:#000000 1px solid;border-top-style: none;border-right:#000000 1px solid;border-bottom:#000000 1px solid;font-family:microsoft sans serif; font-size:8pt; font-weight:normal; font-style:normal; }
.csF827C61 {color:#000000;background-color:transparent;border-left:#000000 1px solid;border-top-style: none;border-right-style: none;border-bottom:#000000 1px solid;font-family:microsoft sans serif; font-size:8pt; font-weight:normal; font-style:normal; padding-left:2px;padding-right:2px;}
.cs86CE6D4B {color:#000000;background-color:transparent;border-left:#000000 1px solid;border-top-style: none;border-right-style: none;border-bottom:#000000 1px solid;font-family:microsoft sans serif; font-size:8pt; font-weight:normal; font-style:normal; padding-top:1px;padding-left:2px;padding-right:2px;}
.cs77952A5E {color:#000000;background-color:transparent;border-left-style: none;border-top:#000000 1px solid;border-right:#000000 1px solid;border-bottom:#000000 1px solid;font-family:microsoft sans serif; font-size:8pt; font-weight:bold; font-style:normal; padding-left:2px;padding-right:2px;}
.cs9D4FA285 {color:#000000;background-color:transparent;border-left-style: none;border-top:#000000 1px solid;border-right:#000000 1px solid;border-bottom-style: none;font-family:microsoft sans serif; font-size:8pt; font-weight:bold; font-style:normal; padding-left:2px;padding-right:2px;}
.csD4C450D3 {color:#000000;background-color:transparent;border-left-style: none;border-top:#000000 1px solid;border-right-style: none;border-bottom-style: none;font-family:microsoft sans serif; font-size:8pt; font-weight:bold; font-style:normal; padding-left:2px;padding-right:2px;}
.cs5B44DE7E {color:#000000;background-color:transparent;border-left-style: none;border-top-style: none;border-right:#000000 1px solid;border-bottom:#000000 1px solid;font-family:microsoft sans serif; font-size:8pt; font-weight:normal; font-style:normal; }
.cs5FE4555B {color:#000000;background-color:transparent;border-left-style: none;border-top-style: none;border-right:#000000 1px solid;border-bottom:#000000 1px solid;font-family:microsoft sans serif; font-size:8pt; font-weight:normal; font-style:normal; padding-left:2px;padding-right:2px;}
.cs159B8C66 {color:#000000;background-color:transparent;border-left-style: none;border-top-style: none;border-right:#000000 1px solid;border-bottom:#000000 1px solid;font-family:microsoft sans serif; font-size:8pt; font-weight:normal; font-style:normal; }
.csB4F91DA5 {color:#000000;background-color:transparent;border-left-style: none;border-top-style: none;border-right-style: none;border-bottom:#000000 1px solid;font-family:microsoft sans serif; font-size:8pt; font-weight:normal; font-style:normal; padding-left:2px;padding-right:2px;}
.cs54E32FD5 {color:#000000;background-color:transparent;border-left-style: none;border-top-style: none;border-right-style: none;border-bottom-style: none;font-family:microsoft sans serif; font-size:14pt; font-weight:bold; font-style:normal; padding-left:2px;padding-right:2px;}
.cs554E966 {color:#000000;background-color:transparent;border-left-style: none;border-top-style: none;border-right-style: none;border-bottom-style: none;font-family:microsoft sans serif; font-size:8pt; font-weight:normal; font-style:normal; padding-left:2px;padding-right:2px;}
.cs208FB680 {color:#000000;background-color:transparent;border-left-style: none;border-top-style: none;border-right-style: none;border-bottom-style: none;font-family:times new roman; font-size:9pt; font-weight:normal; font-style:normal; }
.csF7D3565D {height:0px;width:0px;overflow:hidden;font-size:0px;line-height:0px;}
.border-right { border-right:#000000 1px solid; }
</style>

  <script type="text/javascript">
      window.resizeTo((screen.width), (screen.availHeight));
  </script>
</body>
</html>