<?php require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>
<head>
    <meta charset="UTF-8">
    <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php'); ?>
    <link rel="stylesheet" type="text/css" href="/utils/reports.css">
    <link rel="stylesheet" href="/utils/bootstrap-3.3.6-dist/css/bootstrap.min.css" />
    <script src="/utils/bootstrap-3.3.6-dist/js/bootstrap.min.js" ></script>
    <link rel="stylesheet" href="/utils/font-awesome-4.7.0/css/font-awesome.css" />
</head>
<div id="content">
    <div id="right">
        <?php
        $display = "none";
        if (isset($_GET['msg']) && !empty($_GET['msg'])) {
            $msg = base64_decode($_GET['msg']);
            $display = "block";
            $class = "alert-danger";
            if (isset($_GET['type']) && $_GET['type'] == 's') {
                $class = "alert-success";
            }
        }
        ?>

        <div style="display:<?= $display ?> " class="alert <?= $class ?>">
            <strong><?= $msg ?></strong>
            <?php if(   (isset($naoConciliadas) && count($naoConciliadas) > 0) ||
                        (isset($naoProcessadas) && count($naoProcessadas) > 0)): ?>
            <br>
            <br>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Não Processadas</th>
                    <th>Não Conciliadas</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <ul>
                            <?php foreach ($naoProcessadas as $naoProcessada): ?>
                                <li>TR <?= $naoProcessada['idNota'] ?></li>
                            <?php endforeach; ?>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <?php foreach ($naoConciliadas as $naoConciliada): ?>
                                <li>TR <?= $naoConciliada['idNota'] ?></li>
                            <?php endforeach; ?>
                        </ul>
                    </td>
                </tr>
                </tbody>
            </table>
            <?php endif; ?>
            
            <?php if(isset($transferenciaNaoConciliada) && count($transferenciaNaoConciliada) > 0): ?>
            <br>
            <br>
            <table class="table table-bordered">
                <thead>
                <tr>                    
                    <th colspan='4'>Transferências Não Conciliadas</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><b>Data</b></td>
                    <td><b>Origem</b></td>
                    <td><b>Destino</b></td>
                    <td><b>Valor</b></td>                   
                </tr>
                <?php foreach ($transferenciaNaoConciliada as $naoConciliada): ?>
                    <tr>
                        <td><?= $naoConciliada['data'] ?></td>
                        <td><?= $naoConciliada['origem'] ?></td>
                        <td><?= $naoConciliada['destino'] ?></td>
                        <td><?= number_format($naoConciliada['VALOR'] , 2, ',', '.') ?></td>
                    </tr>
                <?php endforeach; ?>
                </tbody>
            </table>
            <?php endif; ?>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title pull-left" style="padding-top: 7.5px;">
                    <i class="fa fa-search" aria-hidden="true"></i>
                    Fechamento de Caixa
                </h3>
            </div>
            <div class="panel-body" id="div-pesquisar-faturas-previsao-cadastrada">
                <form method="post" id="form-fechamento-caixa" action="/financeiros/fechamento-caixa/?action=fechamento-caixa">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="col-xs-4">
                                <label for="data-fechamento">Data do Fechamento:</label>
                                <input name="data_fechamento" id="data-fechamento" type="date" max="<?= (new \DateTime())->format('Y-m-d') ?>" class="form-control OBG" value='<?= isset($fechamento['data_fechamento'])  ? $fechamento['data_fechamento'] : "" ?>' required>
                                <input name="data_fechamento_anterior" id="data-fechamento-anterior" type="hidden" value='<?= isset($fechamento['data_fechamento'])  ? $fechamento['data_fechamento'] : "" ?>'>
                            </div>
                        </div>
                    </div>
                    <?php require __DIR__ . '/modal-justificativa-fechamento.phtml' ?>
                    <br>

                    <div class="col-xs-12 text-center">
                        <button type="button" id="atualizar-fechamento" class="btn btn-primary" >
                            <span class='ui-button-text'>Atualizar</span>
                        </button>
                        &nbsp;&nbsp;
                        <a  href="/financeiros"
                            style="color: white;"
                            class='btn btn-warning' >
                            Voltar
                        </a>
                    </div>
                </form>
                <br>

            </div>
        </div>

        <div class="row">
            <?php if(!empty($historicoFechamento)): ?>
                <div class="col-xs-12">
                    <div style="overflow: auto;">
                        <table class='table table-striped table-bordered' width='100%'>
                            <thead>
                            <tr>
                                <th>Data do Fechamento</th>
                                <th>Fechado Em</th>
                                <th>Fechado Por</th>
                                <th>Justificativa</th>
                            </tr>
                            </thead>
                            <tbody id="tbody-fatura-nota">
                            <?php
                            foreach($historicoFechamento as $resp):
                                $dataFechamento = \DateTime::createFromFormat('Y-m-d', $resp['data_fechamento'])->format('d/m/Y');
                                $fechadoEm = \DateTime::createFromFormat('Y-m-d H:i:s', $resp['created_at'])->format('d/m/Y à\s H:i:s');
                                ?>
                                <tr>
                                    <td><?= $dataFechamento ?></td>
                                    <td><?= $fechadoEm ?></td>
                                    <td><?= $resp['fechado_por'] ?></td>
                                    <td><?= $resp['justificativa'] ?></td>
                                </tr>
                            <?php endforeach; ?>
                            </tbody>
                        </table>
                    </div>
                </div>
            <?php else:?>
                <div class="col-xs-12 text-center">
                    <div class="alert alert-danger">
                        Nenhum histórico encontrado.
                    </div>
                </div>
            <?php endif; ?>
        </div>
    </div>
    <div id="left">
        <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
    </div>
</div>
<script type="text/javascript" src="/utils/bower_components/moment/moment.js"></script>
<script type="text/javascript" src="/financeiros/fechamento-caixa/js/main.js?v=1"></script>
<script type="text/javascript" src="/utils/jquery/js/validar_campos.js"></script>

</body>
</html>