<div class="div-quadro-feridas">
  <input type="hidden" name="id_ferida" value="<?= $id_ferida ?>" />
  <table class="mytable tabela_feridas" style="width:95%;">
    <thead>
      <tr>
        <th colspan="3">ACOMPANHAMENTO DA FERIDA <?= $deletar_ferida ?></th>
      </tr>
    </thead>
    <tbody>
      <?php if (isset($messageInfo) && !empty($messageInfo)): ?>
      <tr>
        <td colspan="3"><div class="ui-state-highlight"><span><?= $messageInfo ?></span></div></td>
      </tr>
      <?php endif ?>
      <tr>
        <td width="35%"><b>Local da ferida: </b></td><td colspan="2"><textarea rows="2" cols="70" name="local" <?= $readonly ?> ><?= $local ?></textarea></td>
      </tr>
      <tr>
        <td width="35%">
          <b>Caracter&iacute;stica da ferida atual: </b>
        </td>
        <td colspan="2">
          <textarea rows="2" cols="70" name="caracteristica"<?= $readonly ?>><?= $caracteristica ?></textarea>
        </td>
      </tr>
      <tr>
        <td width="35%">
          <b>Tipo do Curativo em uso: </b>
        </td>
        <td colspan="2">
          <textarea rows="2" cols="70" name="curativo" <?= $readonly ?> ><?= $curativo ?></textarea>
        </td>
      </tr>
      <tr>
        <td width="35%">
          <b>Prescri&ccedil;&atilde;o de cobertura para pr&oacute;ximo per&iacute;odo: </b>
        </td>
        <td colspan="2">
          <textarea rows="2" cols="70" name="prescricao" <?= $readonly ?> ><?= $prescricao ?></textarea>
        </td>
      </tr>
      <tr>
        <td><b>Imagem da Ferida (2MB): </b></td>
        <td colspan="2">
          <table class="table-ferida-imagem">
            <tr>
              <?= $display_ferida_imagem ?>
              <?php for ($i = 0; $i < $maxFormUpload; $i++): ?>
              <td><?= $form_upload_imagem ?></td>
              <?php endfor ?>
            </tr>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</div>