<?php require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>
<head>
    <meta charset="UTF-8">
    <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php'); ?>
    <link rel="stylesheet" type="text/css" href="/utils/reports.css">
    <link rel="stylesheet" href="/utils/bootstrap-3.3.6-dist/css/bootstrap.min.css" />
    <script src="/utils/bootstrap-3.3.6-dist/js/bootstrap.min.js" ></script>
    <link rel="stylesheet" href="/utils/font-awesome-4.7.0/css/font-awesome.css" />
    <?php require __DIR__ . '/../../components/add-item/add-item-css.phtml' ?>
</head>
<div id="content">
    <div id="right">
        <center><h2>Finalizar Remoção Interna</h2></center>

        <fieldset style='width:95%;'>
            <legend><i class="fa fa-handshake-o" aria-hidden="true"></i> Dados do Solicitante</legend>
            <div class="row">
                <div class="col-lg-2">
                    <div class="form-group">
                        <label class="control-label">Solicitante: </label>
                    </div>
                </div>
                <div class="col-lg-4">
                    <?= $remocao['solicitante'] ?>
                </div>
                <div class="col-lg-2">
                    <div class="form-group">
                        <label class="control-label">Telefone do Solicitante: </label>
                    </div>
                </div>
                <div class="col-lg-4">
                    <?= $remocao['telefone_solicitante'] ?>
                </div>
            </div>
        </fieldset>
        <fieldset style='width:95%;'>
            <legend><i class="fa fa-address-card-o" aria-hidden="true"></i> Dados do Paciente</legend>
            <div class="row">
                <div class="col-lg-2">
                    <div class="form-group">
                        <label class="control-label">Paciente: </label>
                    </div>
                </div>
                <div class="col-lg-4">
                    <?= $remocao['paciente'] ?>
                </div>
                <div class="col-lg-2">
                    <div class="form-group">
                        <label class="control-label">Matrícula: </label>
                    </div>
                </div>
                <div class="col-lg-4">
                    <?= $remocao['matricula'] ?>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2">
                    <div class="form-group">
                        <label class="control-label">CPF: </label>
                    </div>
                </div>
                <div class="col-lg-4">
                    <?= $remocao['cpf'] ?>
                </div>
                <div class="col-lg-2">
                    <div class="form-group">
                        <label class="control-label">Nascimento: </label>
                    </div>
                </div>
                <div class="col-lg-4">
                    <?= DateTime::createFromFormat('Y-m-d', $remocao['data_nascimento'])->format('d/m/Y') ?>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2">
                    <div class="form-group">
                        <label class="control-label">Telefone do Paciente: </label>
                    </div>
                </div>
                <div class="col-lg-4">
                    <?= $remocao['paciente_telefone'] ?>
                </div>
                <div class="col-lg-2">
                    <div class="form-group">
                        <label class="control-label">Convênio: </label>
                    </div>
                </div>
                <div class="col-lg-4">
                    <?= $remocao['nomeplano'] ?>
                </div>
            </div>
        </fieldset>

        <fieldset style='width:95%;'>
            <legend><i class="fa fa-ambulance" aria-hidden="true"></i> Dados da Remoção</legend>
            <div class="row">
                <div class="col-lg-2">
                    <div class="form-group">
                        <label class="control-label">Data da Solicitação: </label>
                    </div>
                </div>
                <div class="col-lg-4">
                    <?= DateTime::createFromFormat('Y-m-d', $remocao['data_solicitacao'])->format('d/m/Y') ?>
                </div>
                <div class="col-lg-2">
                    <div class="form-group">
                        <label class="control-label">Motivo da Remoção: </label>
                    </div>
                </div>
                <div class="col-lg-4">
                    <?= $lists['motivo_remocao'][$remocao['motivo_remocao']] ?>
                </div>

            </div>


            <div class="row">
                <div class="col-lg-2">
                    <div class="form-group">
                        <label class="control-label">Local de Origem: </label>
                    </div>
                </div>
                <div class="col-lg-4">
                    <?= $remocao['origem'] ?>
                </div>
                <div class="col-lg-2">
                    <div class="form-group">
                        <label class="control-label">Endereço da Origem: </label>
                    </div>
                </div>
                <div class="col-lg-4">
                    <?= $remocao['endereco_origem'] ?>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-2">
                    <div class="form-group">
                        <label class="control-label">Local de Destino: </label>
                    </div>
                </div>
                <div class="col-lg-4">
                    <?= $remocao['destino'] ?>
                </div>
                <div class="col-lg-2">
                    <div class="form-group">
                        <label class="control-label">Endereço do Destino: </label>
                    </div>
                </div>
                <div class="col-lg-4">
                    <?= $remocao['endereco_destino'] ?>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-2">
                    <div class="form-group">
                        <label class="control-label">Tipo de Ambulância: </label>
                    </div>
                </div>
                <div class="col-lg-4">
                    <?= $lists['tipo_ambulancia'][$remocao['tipo_ambulancia']] ?>
                </div>

                <div class="col-lg-2">
                    <div class="form-group">
                        <label class="control-label">Retorno: </label>
                    </div>
                </div>
                <div class="col-lg-4">

                    <?= $lists['sim_nao'][$remocao['retorno']] ?>
                </div>
            </div>
        </fieldset>
        <form>
            <div id="finalizar-remocao">
                <fieldset style='width:95%;'>
                    <div>
                        <input type="hidden" name="id" value="<?=$remocao['id'] ?>">
                    </div>
                    <legend><i class="fa fa-check-circle" aria-hidden="true"></i> Dados Finais</legend>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="control-label" for="autorizacao-convenio">A remoção foi autorizada?</label>
                                <select id="autorizacao-convenio" name="autorizacao" class="form-control OBG" required>
                                    <option value="">Selecione</option>
                                    <option value="S">Sim</option>
                                    <option value="N">Não</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="control-label" for="remocao-realizada">A remoção foi realizada?</label>
                                <select id="remocao-realizada" name="remocao-realizada" class="form-control OBG" required>
                                    <option value="">Selecione</option>
                                    <option value="S">Sim</option>
                                    <option value="N">Não</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div id="motivo-nao-realizada" class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label class="control-label" for="motivo">Motivo:</label>
                                <textarea id="motivo" class="form-control" name="motivo"></textarea>
                            </div>
                        </div>
                    </div>
                    <div id="span-remocao-finalizada-convenio">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="control-label" for="km">KM Percorrido</label>
                                    <input name="km" id='km' class="form-control" type="number">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="control-label" for="perimetro">Fora ou dentro do Perímetro Urbano?</label>
                                    <select id="perimetro" name="perimetro" class="form-control " >
                                        <option value="">Selecione</option>
                                        <option value="F">Fora</option>
                                        <option value="D">Dentro</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="control-label" for="tabela-propria">Tabela Própria?</label>
                                    <select id="tabela-propria" name="tabela-propria" class="form-control" >
                                        <option value="">Selecione</option>
                                        <option value="S">Sim</option>
                                        <option value="N">Não</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="control-label " for="remocao_sera_cobrada">Remoção será cobrada?</label>
                                    <select id="remocao_sera_cobrada" name="remocao_sera_cobrada" class="form-control " >
                                        <option value="">Selecione</option>
                                        <option value="S">Sim</option>
                                        <option value="N">Não</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="control-label" for="justificativa_nao_cobrar">Motivo para não cobrar:</label>
                                    <textarea name="justificativa_nao_cobrar" disabled id="justificativa_nao_cobrar" class="form-control"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="control-label" for="remocao-fatura">Item na Fatura:</label>
                                    <select name="remocao-fatura" class="form-control chosen-select ">
                                        <option selected disabled value="">Selecione...</option>
                                        <?php  foreach($tipoRemocaFatura as $tipo): ?>
                                            <option  value="<?= $tipo['id'] ?>" valor="<?= number_format($tipo['valor'], 2, ',', '.') ?>"> <?= strtoupper($tipo['item']) ?></option>
                                        <?php endforeach; ?>
                                    </select>
                                    <input type="hidden" name="tabela-origem-item-fatura"  id="tabela-origem-item-fatura" value="<?php echo $tabelaReferenciaFatura ?>">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6" style="padding-left: 0 !important;">
                                <div class="form-group">
                                    <label class="control-label col-lg-12" for="data-saida">Data e Hora da saída:</label>
                                    <div class="col-lg-8">
                                        <input name="data-saida" id='data-saida' type="date" class="form-control">
                                    </div>
                                    <div class="col-lg-4">
                                        <input name="hora-saida" id='hora-saida' type="time" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6" style="padding-left: 0 !important;">
                                <div class="form-group">
                                    <label class="control-label col-lg-12" for="data-chegada">Data e Hora da chegada:</label>
                                    <div class="col-lg-8">
                                        <input name="data-chegada" id='data-chegada' type="date" class="form-control">
                                    </div>
                                    <div class="col-lg-4">
                                        <input name="hora-chegada" id='hora-chegada' type="time" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6" style="padding-left: 15px !important; padding-top: 15px !important;">
                                <div class="form-group">
                                    <label class="control-label " for="valor-remocao">Valor da Remoção:</label>
                                    <div class="c">
                                        <input name="valor-remocao" id='valor-remocao' class="valor form-control " type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6" style="padding-left: 15px !important; padding-top: 15px !important;">
                                <div class="form-group">
                                    <label class="control-label " for="outras-despesas">Outras despesas:</label>
                                    <div class="">
                                        <input name="outras-despesas" id='outras-despesas' class="valor form-control" type="text">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6" style="padding-left: 15px !important; padding-top: 15px !important;">
                                <div class="form-group">
                                    <label class="control-label" for="medico">Médico(a):</label>
                                    <input name="medico" id='medico' class="form-control" type="text">
                                </div>
                            </div>
                            <div class="col-lg-6" style="padding-left: 15px !important; padding-top: 15px !important;">
                                <div class="form-group">
                                    <label class="control-label" for="valor-medico">Valor do Médico(a):</label>
                                    <input name="valor-medico" id='valor-medico' class="valor form-control" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="control-label" for="enfermeiro">Enfermeiro(a):</label>
                                    <input name="enfermeiro" id='enfermeiro' class="form-control" type="text">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="control-label" for="valor-enfermeiro">Valor do Enfermeiro(a):</label>
                                    <input name="valor-enfermeiro" id='valor-enfermeiro' class="valor form-control" type="text">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="control-label" for="tecnico">Técnico(a):</label>
                                    <input name="tecnico" id='tecnico' class="form-control" type="text">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="control-label" for="valor-tecnico">Valor do Técnico(a):</label>
                                    <input name="valor-tecnico" id='valor-tecnico' class="valor form-control" type="text">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="control-label" for="condutor">Condutor(a):</label>
                                    <input name="condutor" id='condutor' class="form-control" type="text">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="control-label" for="valor-condutor">Valor do Condutor(a):</label>
                                    <input name="valor-condutor" id='valor-condutor' class="valor form-control" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="control-label" for="empresa">Unidade Regional:</label>
                                    <select name="empresa" class="form-control chosen-select ">
                                        <option selected disabled value="">Selecione...</option>
                                        <?php  foreach($empresas as $ur): ?>
                                            <option  value="<?= $ur['id'] ?>" > <?= mb_strtoupper($ur['nome'],'UTF-8') ?></option>
                                        <?php endforeach; ?>
                                    </select>
                                </div>
                            </div>
                        </div>


                    </div>
                </fieldset>
                <br>
                <fieldset style='width:95%; display: none;' id="itens-remocao">
                    <legend><i class="fa fa-briefcase" aria-hidden="true"></i> Itens utilizados durante a remoção</legend>
                    <?php require __DIR__ . '/../../components/add-item/add-item-modal.phtml' ?>
                    <?php require __DIR__ . '/../../components/add-item/add-item-button.phtml' ?>
                    <?php require __DIR__ . '/../../components/add-item/add-item-table.phtml' ?>
                </fieldset>
            </div>
        </form>
        <div id="row">
            <div class="col-lg-12 text-center">
                <button type="button" id="finalizar-remocao-convenio" class='ui-button ui-widget ui-corner-all ui-button-text-only ui-state-hover' >
                    <span class='ui-button-text'>Salvar</span>
                </button>
            </div>
        </div>
    </div>
    <div id="left">
        <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
    </div>
</div>
<script type="text/javascript" src="/remocao/js/main.js?v=3.2"></script>
<?php require __DIR__ . '/../../components/add-item/add-item-js.phtml' ?>
</body>
</html>
