<?php require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>
<head>
    <meta charset="UTF-8">
    <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php'); ?>
    <link rel="stylesheet" type="text/css" href="/utils/reports.css">
    <link rel="stylesheet" href="/utils/bootstrap-3.3.6-dist/css/bootstrap.min.css" />
    <script src="/utils/bootstrap-3.3.6-dist/js/bootstrap.min.js" ></script>
    <link rel="stylesheet" href="/utils/font-awesome-4.7.0/css/font-awesome.css" />
    <?php require __DIR__ . '/../../components/add-item/add-item-css.phtml' ?>
</head>
<div id="content">
    <div id="right">
        <center><h2>Editar Remoção Interna</h2></center>
        <form>
            <div id="div-editar-remocao-interna">
                <fieldset style='width:95%;'>
                    <legend><i class="fa fa-handshake-o" aria-hidden="true"></i> Dados do Solicitante</legend>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="solicitante">Nome:</label>
                                <input id="solicitante" name="solicitante" class="OBG form-control" value="<?= $remocao['solicitante'] ?>" required="required" type="text">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="telefone-solicitante">Telefone:</label>
                                <input id="telefone-solicitante" name="telefone-solicitante" class="OBG telefone form-control" value="<?= $remocao['telefone_solicitante'] ?>" required type="text" maxlength="16">
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset style='width:95%;'>
                    <legend><i class="fa fa-address-card-o" aria-hidden="true"></i> Dados do Paciente</legend>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="paciente-convenio-form">Paciente:</label>
                                <select name="paciente" class="chosen-select OBG_CHOSEN form-control" id='paciente-convenio-form' style='width:95%;'required>
                                    <option value="">Selecione...</option>
                                    <?php foreach($pacientes as $paciente): ?>
                                        <option <?= isset($remocao['paciente_id'] ) && $remocao['paciente_id']  === $paciente['idClientes'] ? "selected" : "" ?> value="<?= $paciente['idClientes'] ?>">(<?= $paciente['codigo'] ?>) <?= strtoupper($paciente['nome']) ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="matricula">Matrícula:</label>
                                <input id="matricula" name="matricula" value=" <?= $remocao['matricula'] ?>" type="text" class="OBG form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="cpf">CPF:</label>
                                <input id="cpf" name="cpf" type="text" readonly  value="<?= $remocao['cpf'] ?>" class="form-control">
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="nascimento">Nascimento:</label>
                                <input id="nascimento" name="nascimento" readonly type="date" value="<?= $remocao['data_nascimento'] ?>" class="form-control">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="telefone-paciente">Telefone do Paciente:</label>
                                <input id="telefone-paciente" name="telefone-paciente" type="text" value="<?= $remocao['paciente_telefone'] ?>" class="telefone form-control">
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="convenio">Convênio:</label>
                                <select name="convenio" class="chosen-select OBG_CHOSEN form-control" id='convenio'  required>
                                    <option value="">Selecione...</option>
                                    <?php  foreach($planos as $plano): ?>
                                        <option <?= isset($remocao['convenio_id']) && $remocao['convenio_id'] === $plano['id'] ? "selected" : "" ?> value="<?= $plano['id'] ?>"> <?= strtoupper($plano['nome']) ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </div>
                    </div>

                </fieldset>

                <fieldset style='width:95%;'>
                    <legend><i class="fa fa-ambulance" aria-hidden="true"></i> Dados da Remoção</legend>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="nascimento">Data da Solicitação:</label>
                                <input id="data-solicitacao" name="data-solicitacao" class="OBG form-control" required="required" type="date" value="<?=$remocao['data_solicitacao']?>">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="motivo-remocao">Motivo da Remoção:</label>
                                <select id="motivo-remocao" style="background-color:transparent;" name="motivo-remocao" class="OBG form-control" required>
                                    <option value="">Selecione</option>
                                    <?php
                                    foreach ($lists['motivo_remocao'] as $key => $motivo){ ?>
                                        <option <?= isset($remocao['motivo_remocao']) && $remocao['motivo_remocao'] === $key ? "selected" : "" ?> value="<?=$key?>" ><?= $motivo?></option>

                                    <?php } ?>

                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="local-origem">Local de Origem:</label>
                                <input id="local-origem" name="local-origem" type="text" value="<?= $remocao['origem'] ?>" class="OBG form-control" required>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="endereco-origem">Endereço da Origem:</label>
                                <input id="endereco-origem" name="endereco-origem" type="text" value="<?= $remocao['endereco_origem'] ?>" class="OBG form-control" required>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="local-destino">Local de Destino:</label>
                                <input id="local-destino" name="local-destino" type="text" value="<?= $remocao['destino'] ?>" class="OBG form-control" required>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="endereco-destino">Endereço do Destino:</label>
                                <input id="endereco-destino" name="endereco-destino" type="text" value="<?= $remocao['endereco_destino'] ?>" class="OBG form-control" required>
                            </div>
                        </div>


                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="tipo-ambulancia"><strong>Tipo de Ambulância:</strong></label>
                                <select id="tipo-ambulancia" style="background-color:transparent;" name="tipo-ambulancia" class="OBG form-control" required>
                                    <option value="">Selecione</option>
                                    <option <?= isset($remocao['tipo_ambulancia']) && $remocao['tipo_ambulancia'] === 'S' ? "selected" : "" ?>  value="S">Simples</option>
                                    <option <?= isset($remocao['tipo_ambulancia']) && $remocao['tipo_ambulancia'] === 'U' ? "selected" : "" ?>  value="U">UTI</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="retorno"><strong>Retorno:</strong></label>
                                <select id="retorno"  style="background-color:transparent;" name="retorno" class="OBG form-control" required>
                                    <option value="">Selecione</option>
                                    <option  <?= isset($remocao['retorno']) && $remocao['retorno'] === 'S' ? "selected" : "" ?> value="S">Sim</option>
                                    <option  <?= isset($remocao['retorno']) && $remocao['retorno'] === 'N' ? "selected" : "" ?> value="N">Não</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <div>
                    <input type="hidden" name="id" value="<?=$remocao['id'] ?>">
                </div>
             <?php if($remocao['finalized_at'] <> '0000-00-00 00:00:00' && !empty($remocao['finalized_at']) ){?>

                <fieldset style='width:95%;'>

                    <legend><i class="fa fa-check-circle" aria-hidden="true"></i> Dados Finais</legend>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="control-label" for="autorizacao-convenio">A remoção foi autorizada?</label>
                                <select id="autorizacao-convenio" name="autorizacao" class="form-control OBG" required>
                                    <option value="">Selecione</option>
                                    <option <?= isset($remocao['autorizacao']) && $remocao['autorizacao'] === 'S' ? "selected" : "" ?> value="S">Sim</option>
                                    <option <?= isset($remocao['autorizacao']) && $remocao['autorizacao'] === 'N' ? "selected" : "" ?> value="N">Não</option>

                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="control-label" for="remocao-realizada">A remoção foi realizada?</label>
                                <select id="remocao-realizada" name="remocao-realizada" class="form-control OBG" required>
                                    <option value="">Selecione</option>
                                    <option <?= isset($remocao['remocao_realizada']) && $remocao['remocao_realizada'] === 'S' ? "selected" : "" ?> value="S">Sim</option>
                                    <option <?= isset($remocao['remocao_realizada']) && $remocao['remocao_realizada'] === 'N' ? "selected" : "" ?> value="N">Não</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div id="motivo-nao-realizada" class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label class="control-label" for="motivo">Motivo:</label>
                                <textarea id="motivo" class="form-control" name="motivo"></textarea>
                            </div>
                        </div>
                    </div>
                    <div id="span-remocao-finalizada-convenio">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="control-label" for="km">KM Percorrido</label>
                                    <input name="km" id='km' value="<?=$remocao['km']?>" class="form-control" type="number">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="control-label" for="perimetro">Fora ou dentro do Perímetro Urbano?</label>
                                    <select id="perimetro" name="perimetro" class="form-control " >
                                        <option value="">Selecione</option>
                                        <option <?= isset($remocao['perimetro']) && $remocao['perimetro'] === 'F' ? "selected" : "" ?> value="F">Fora</option>
                                        <option <?= isset($remocao['perimetro']) && $remocao['perimetro'] === 'D' ? "selected" : "" ?> value="D">Dentro</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="control-label" for="tabela-propria">Tabela Própria?</label>
                                    <select id="tabela-propria" name="tabela-propria" class="form-control" >
                                        <option value="">Selecione</option>
                                        <option <?= isset($remocao['tabela_propria']) && $remocao['tabela_propria'] === 'S' ? "selected" : "" ?> value="S">Sim</option>
                                        <option <?= isset($remocao['tabela_propria']) && $remocao['tabela_propria'] === 'N' ? "selected" : "" ?> value="N">Não</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="control-label " for="remocao_sera_cobrada">Remoção será cobrada?</label>
                                    <select id="remocao_sera_cobrada" name="remocao_sera_cobrada" class="form-control " >
                                        <option value="">Selecione</option>
                                        <option <?= isset($remocao['remocao_sera_cobrada']) && $remocao['remocao_sera_cobrada'] === 'S' ? "selected" : "" ?> value="S">Sim</option>
                                        <option <?= isset($remocao['remocao_sera_cobrada']) && $remocao['remocao_sera_cobrada'] === 'N' ? "selected" : "" ?> value="N">Não</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="control-label" for="justificativa_nao_cobrar">Motivo para não cobrar:</label>
                                    <textarea name="justificativa_nao_cobrar" disabled id="justificativa_nao_cobrar"  value="<?= $remocao['justificativa_nao_cobrar'] ?>" class="form-control"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="control-label" for="remocao-fatura">Item na Fatura:</label>
                                    <select name="remocao-fatura" class="form-control chosen-select ">
                                        <option selected disabled value="">Selecione...</option>
                                        <?php  foreach($tipoRemocaFatura as $tipo): ?>
                                            <option <?= isset($idRemocaFatura) && $idRemocaFatura == $tipo['id']  ? "selected" : "" ?>  value="<?= $tipo['id'] ?>" valor="<?= number_format($tipo['valor'], 2, ',', '.') ?>"> <?= strtoupper($tipo['item']) ?></option>
                                        <?php endforeach; ?>
                                    </select>
                                    <input type="hidden" name="tabela-origem-item-fatura"  id="tabela-origem-item-fatura" value="<?php echo $tabelaReferenciaFatura ?>">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6" style="padding-left: 0 !important;">
                                <div class="form-group">
                                    <label class="control-label col-lg-12" for="data-saida">Data e Hora da saída:</label>
                                    <div class="col-lg-8">
                                        <input name="data-saida" id='data-saida' type="date" value="<?=$remocao['data_saida']?>" class="form-control">
                                    </div>
                                    <div class="col-lg-4">
                                        <input name="hora-saida" id='hora-saida' type="time" value="<?=$remocao['hora_saida']?>"class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6" style="padding-left: 0 !important;">
                                <div class="form-group">
                                    <label class="control-label col-lg-12" for="data-chegada">Data e Hora da chegada:</label>
                                    <div class="col-lg-8">
                                        <input name="data-chegada" id='data-chegada' type="date" value="<?=$remocao['data_chegada']?>" class="form-control">
                                    </div>
                                    <div class="col-lg-4">
                                        <input name="hora-chegada" id='hora-chegada' type="time" value="<?=$remocao['hora_chegada']?>" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6" style="padding-left: 15px !important; padding-top: 15px !important;">
                                <div class="form-group">
                                    <label class="control-label " for="valor-remocao">Valor da Remoção:</label>
                                    <div class="c">
                                        <input name="valor-remocao" id='valor-remocao' class="valor form-control " value="<?=$remocao['valor_remocao']?>" type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6" style="padding-left: 15px !important; padding-top: 15px !important;">
                                <div class="form-group">
                                    <label class="control-label " for="outras-despesas">Outras despesas:</label>
                                    <div class="">
                                        <input name="outras-despesas" id='outras-despesas' class="valor form-control" value="<?=$remocao['outros_custos']?>" type="text">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6" style="padding-left: 15px !important; padding-top: 15px !important;">
                                <div class="form-group">
                                    <label class="control-label" for="medico">Médico(a):</label>
                                    <input name="medico" id='medico' class="form-control"  value="<?=$remocao['medico']?>"type="text">
                                </div>
                            </div>
                            <div class="col-lg-6" style="padding-left: 15px !important; padding-top: 15px !important;">
                                <div class="form-group">
                                    <label class="control-label" for="valor-medico">Valor do Médico(a):</label>
                                    <input name="valor-medico" id='valor-medico' class="valor form-control" value="<?=$remocao['valor_medico']?>" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="control-label" for="enfermeiro">Enfermeiro(a):</label>
                                    <input name="enfermeiro" id='enfermeiro' class="form-control" value="<?=$remocao['enfermeiro']?>" type="text">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="control-label" for="valor-enfermeiro">Valor do Enfermeiro(a):</label>
                                    <input name="valor-enfermeiro" id='valor-enfermeiro' class="valor form-control" value="<?=$remocao['valor_enfermeiro']?>" type="text">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="control-label" for="tecnico">Técnico(a):</label>
                                    <input name="tecnico" id='tecnico' class="form-control" value="<?=$remocao['tecnico']?>" type="text">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="control-label" for="valor-tecnico">Valor do Técnico(a):</label>
                                    <input name="valor-tecnico" id='valor-tecnico' class="valor form-control" value="<?=$remocao['valor_tecnico']?>" type="text">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="control-label" for="condutor">Condutor(a):</label>
                                    <input name="condutor" id='condutor' class="form-control" value="<?=$remocao['condutor']?>" type="text">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="control-label" for="valor-condutor">Valor do Condutor(a):</label>
                                    <input name="valor-condutor" id='valor-condutor' class="valor form-control" value="<?=$remocao['valor_condutor']?>" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="control-label" for="empresa">Unidade Regional:</label>
                                    <select name="empresa" class="form-control chosen-select ">
                                        <option selected disabled value="">Selecione...</option>
                                        <?php  foreach($empresas as $ur): ?>
                                            <option <?= isset($remocao['empresa_id']) && $remocao['empresa_id'] == $ur['id']  ? "selected" : "" ?> value="<?= $ur['id'] ?>" > <?= mb_strtoupper($ur['nome'],'UTF-8') ?></option>
                                        <?php endforeach; ?>
                                    </select>
                                </div>
                            </div>
                        </div>


                    </div>
                </fieldset>
                <br>
                <fieldset style='width:95%; display: none;' id="itens-remocao">
                    <legend><i class="fa fa-briefcase" aria-hidden="true"></i> Itens utilizados durante a remoção</legend>
                    <?php require __DIR__ . '/../../components/add-item/add-item-modal.phtml' ?>
                    <?php require __DIR__ . '/../../components/add-item/add-item-button.phtml' ?>
                    <?php require __DIR__ . '/../../components/add-item/add-item-table-preenchida.phtml' ?>
                </fieldset>
            <?}?>
            </div>
        </form>
        <?php if($remocao['finalized_at'] <> '0000-00-00 00:00:00' && !empty($remocao['finalized_at']) ){?>
        <div id="row">
            <div class="col-lg-12 text-center">
                <button type="button" id="editar-remocao-convenio-finalizada" class='ui-button ui-widget ui-corner-all ui-button-text-only ui-state-hover' >
                    <span class='ui-button-text'>Salvar</span>
                </button>
            </div>
        </div>
<?php }else{ ?>
        <div id="row">
            <div class="col-lg-12 text-center">
                <button type="button" id="editar-remocao-convenio-nao-finalizada" class='ui-button ui-widget ui-corner-all ui-button-text-only ui-state-hover' >
                    <span class='ui-button-text'>Salvar</span>
                </button>
            </div>
        </div>
        <?php } ?>
    </div>
    <div id="left">
        <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
    </div>
</div>
<script type="text/javascript" src="/remocao/js/main.js?v=3.2"></script>
<?php require __DIR__ . '/../../components/add-item/add-item-js.phtml' ?>
</body>
</html>
