<?php require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>
<head>
 <meta charset="UTF-8">
 <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php'); ?>
 <link rel="stylesheet" type="text/css" href="/utils/reports.css">
</head>
<div id="content">
 <div id="right">
    <div><center><h1>Remoções</h1></center></div>
   <p><a href='/remocao/?action=convenio-form'>Nova Remoção Interna</a></p>
   <p><a href='/remocao/?action=particular-form'>Nova Remoção Externa</a></p>
   <p>
         <a href='/remocao/?action=pesquisar-form'> Pesquisar Remoções</a>
     </p>

 </div>
 <div id="left">
  <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
 </div>
</div>
</body>
</html>