<?php require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>
<head>
    <meta charset="UTF-8">
    <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php'); ?>
    <link rel="stylesheet" type="text/css" href="/utils/reports.css">
    <link rel="stylesheet" href="/utils/bootstrap-3.3.6-dist/css/bootstrap.min.css" />
    <script src="/utils/bootstrap-3.3.6-dist/js/bootstrap.min.js" ></script>
    <link rel="stylesheet" href="/utils/font-awesome-4.7.0/css/font-awesome.css" />
    <?php require __DIR__ . '/../../components/add-item/add-item-css.phtml' ?>
</head>
<div id="content">
    <div id="right">
        <center><h2>Finalizar Remoção Externa</h2></center>
        <fieldset style='width:95%;'>
            <legend><i class="fa fa-exchange" aria-hidden="true"></i> Endereços</legend>
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label class="control-label">Origem: </label>
                    </div>
                </div>
                <div class="col-sm-4">
                    <?= $remocao['origem'] ?>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label class="control-label">Destino: </label>
                    </div>
                </div>
                <div class="col-sm-4">
                    <?= $remocao['destino'] ?>
                </div>
            </div>
        </fieldset>
        <fieldset style='width:95%;'>
            <legend><i class="fa fa-handshake-o" aria-hidden="true"></i> Dados do Solicitante</legend>
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label class="control-label">Solicitante: </label>
                    </div>
                </div>
                <div class="col-sm-4">
                    <?= $remocao['solicitante'] ?>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label class="control-label">Telefone do Solicitante: </label>
                    </div>
                </div>
                <div class="col-sm-4">
                    <?= $remocao['telefone_solicitante'] ?>
                </div>
            </div>
        </fieldset>
        <fieldset style='width:95%;'>
            <legend><i class="fa fa-address-card-o" aria-hidden="true"></i> Dados do Paciente</legend>
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label class="control-label">Paciente: </label>
                    </div>
                </div>
                <div class="col-sm-4">
                    <?= $remocao['paciente'] ?>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label class="control-label">Matrícula: </label>
                    </div>
                </div>
                <div class="col-sm-4">
                    <?= $remocao['matricula'] ?>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label class="control-label">CPF: </label>
                    </div>
                </div>
                <div class="col-sm-4">
                    <?= $remocao['cpf'] ?>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label class="control-label">Nascimento: </label>
                    </div>
                </div>
                <div class="col-sm-4">
                    <?= DateTime::createFromFormat('Y-m-d', $remocao['data_nascimento'])->format('d/m/Y') ?>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label class="control-label">Telefone do Paciente: </label>
                    </div>
                </div>
                <div class="col-sm-4">
                    <?= $remocao['paciente_telefone'] ?>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label class="control-label">Convênio: </label>
                    </div>
                </div>
                <div class="col-sm-4">
                    <?= $remocao['nomeplano'] ?>
                </div>
            </div>
        </fieldset>

        <fieldset style='width:95%;'>
            <legend><i class="fa fa-ambulance" aria-hidden="true"></i> Dados da Remoção</legend>
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label class="control-label">Data da Solicitação: </label>
                    </div>
                </div>
                <div class="col-sm-4">
                    <?= DateTime::createFromFormat('Y-m-d', $remocao['data_solicitacao'])->format('d/m/Y') ?>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label class="control-label">Local de Origem: </label>
                    </div>
                </div>
                <div class="col-sm-4">
                    <?= $remocao['origem'] ?>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label class="control-label">Endereço da Origem: </label>
                    </div>
                </div>
                <div class="col-sm-10">
                    <?= $remocao['endereco_origem'] ?>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label class="control-label">Local de Destino: </label>
                    </div>
                </div>
                <div class="col-sm-4">
                    <?= $remocao['destino'] ?>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label class="control-label">Endereço do  Destino: </label>
                    </div>
                </div>
                <div class="col-sm-4">
                    <?= $remocao['endereco_destino'] ?>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label class="control-label">Motivo da Remoção: </label>
                    </div>
                </div>
                <div class="col-sm-4">
                    <?= $lists['motivo_remocao'][$remocao['motivo_remocao']] ?>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label class="control-label">Tipo de Ambulância: </label>
                    </div>
                </div>
                <div class="col-sm-4">
                    <?= $lists['tipo_ambulancia'][$remocao['tipo_ambulancia']] ?>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label class="control-label">Retorno: </label>
                    </div>
                </div>
                <div class="col-sm-10">
                    <?= $lists['sim_nao'][$remocao['retorno']] ?>
                </div>
            </div>
        </fieldset>
        <form>
            <div id="finalizar-remocao">
                <fieldset style='width:95%;'>
                    <div>
                        <input type="hidden" name="id" value="<?= $remocao['id'] ?>">
                    </div>
                    <legend><i class="fa fa-check-circle" aria-hidden="true"></i> Dados Finais</legend>

                    <div id="fornecedor-cliente-existente" class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="control-label" for="remocao-realizada">O Cliente existe?</label><br>
                                <select class="form-control  OBG" name="cliente_existe" id="cliente_existe">
                                    <option selected value="">Selecione...</option>
                                    <option  value="S">SIM</option>
                                    <option  value="N">NÃO</option>

                                </select>

                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label" for="fornecedor-cliente">Cliente:</label>
                                <select class="form-control chosen-select OBG_CHOSEN" name="fornecedor_cliente" id="fornecedor-cliente">
                                    <option disabled selected value="">Selecione...</option>
                                    <?php  foreach($fornecedores as $fornecedor):
                                        $cpfCnpj = $fornecedor['FISICA_JURIDICA'] == 1 ? $fornecedor['cnpj']: $fornecedor['CPF'];

                                    ?>
                                        <option value="<?= $fornecedor['idFornecedores'] ?>"> <?= $cpfCnpj.' '.strtoupper($fornecedor['nome']) ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div id="fornecedor-cliente-nao-existe" style="display: none;">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <input name="fisica_juridica" id='fisica_juridica_0' class="fisica-juridica OBG_RADIO" type="radio" value="0">
                                    <label class="control-label" for="fisica_juridica_0">Física (CPF):</label>
                                    <input name="cpf" id='cpf' class="cpf  form-control" validar-receita="sim" type="text" maxlength="14">
<!--                                    <input name="cpf_receita_validado" id='cpf-receita-validado'type="hidden" value="0">-->
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <input name="fisica_juridica" id='fisica_juridica_1' class="fisica-juridica " type="radio" value="1">
                                    <label class="control-label" for="fisica_juridica_1">Jurídica (CNPJ):</label>
                                    <input name="cnpj" id='cnpj' disabled class="cnpj form-control" type="text" maxlength="18">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="control-label label-nome-fantasia" for="nome-fantasia">Nome:</label>
                                    <input name="nome_fantasia" id='nome-fantasia' class="form-control" type="text">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="control-label label-razao-social" for="razao-social">Apelido:</label>
                                    <input name="razao_social" id='razao-social' class="form-control" type="text">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="control-label label-ies-rg" for="ies-rg">RG:</label>
                                    <input name="ies_rg" id='ies-rg' class="form-control" type="text">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="control-label" for="im">Insc. Municipal:</label>
                                    <input name="im" id='im' disabled class="form-control" type="text">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="control-label" for="contato">Contato:</label>
                                    <input name="contato" id='contato' class="form-control" type="text">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="control-label" for="telefone">Telefone:</label>
                                    <input name="telefone" id='telefone' class="form-control" type="text">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="control-label" for="endereco">Endereço:</label>
                                    <input name="endereco" id='endereco' class="form-control" type="text">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="control-label" for="cidade_cliente">Cidade:</label>
                                    <input name="cidade_cliente" id='cidade_cliente' class="form-control" type="text">
                                    <input name="id_cidade_cliente" id='id_cidade_cliente' class="form-control" type="hidden">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="control-label" for="email">Email:</label>
                                    <input name="email" id='email' class="form-control" type="text">
                                </div>
                            </div>
                        </div>
                        <div id="row">
                            <div class="col-lg-12 text-center">
                                <button type="button" id="cancelar-novo" class='ui-button ui-widget ui-corner-all ui-button-text-only ui-state-hover' >
                                    <span class='ui-button-text'>
                                        Cancelar <br>
                                        <small>(Apagará todos os dados do cliente)</small>
                                    </span>
                                </button>
                            </div>
                        </div>
                        <br>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="control-label" for="km">KM Percorrido</label>
                                <input name="km" id='km' class="form-control OBG" type="number">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="control-label" for="perimetro">Fora ou dentro do Perímetro Urbano?</label>
                                <select id="perimetro" name="perimetro" class="form-control OBG" >
                                    <option value="">Selecione</option>
                                    <option value="F">Fora</option>
                                    <option value="D">Dentro</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label class="control-label" for="tabela-propria">Tabela Própria?</label>
                                <select id="tabela-propria" name="tabela-propria" class="form-control" >
                                    <option value="">Selecione</option>
                                    <option value="S">Sim</option>
                                    <option value="N">Não</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label class="control-label " for="remocao_sera_cobrada">Remoção será cobrada?</label>
                                <select id="remocao_sera_cobrada" name="remocao_sera_cobrada" class="form-control OBG" >
                                    <option value="">Selecione</option>
                                    <option value="S">Sim</option>
                                    <option value="N">Não</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label class="control-label" for="modo_cobranca">Modo de cobrança?</label>
                                <select id="modo_cobranca" name="modo_cobranca" disabled class="form-control" >
                                    <option value="">Selecione</option>
                                    <option value="NF">Nota Fiscal</option>
                                    <option value="F">Fatura</option>
                                </select>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label class="control-label" for="justificativa_nao_cobrar">Motivo para não cobrar:</label>
                                <textarea name="justificativa_nao_cobrar" disabled id="justificativa_nao_cobrar" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label class="control-label" for="remocao-fatura">Item na Fatura:</label>
                                <select name="remocao-fatura"  disabled class="form-control chosen-select ">
                                    <option selected disabled value="">Selecione...</option>
                                    <?php  foreach($tipoRemocaFatura as $tipo): ?>
                                        <option  value="<?= $tipo['id'] ?>" valor="<?= number_format($tipo['valor'], 2, ',', '.') ?>"> <?= strtoupper($tipo['item']) ?></option>
                                    <?php endforeach; ?>
                                </select>
                                <input type="hidden" name="tabela-origem-item-fatura"  id="tabela-origem-item-fatura" value="<?php echo $tabelaReferenciaFatura ?>">
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-lg-6" style="padding-left: 0 !important;">
                            <div class="form-group">
                                <label class="control-label col-lg-12" for="data-saida">Data e Hora da saída:</label>
                                <div class="col-lg-8">
                                    <input name="data-saida" id='data-saida' type="date" class="form-control OBG">
                                </div>
                                <div class="col-lg-4">
                                    <input name="hora-saida" id='hora-saida' type="time" class="form-control OBG">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6" style="padding-left: 0 !important;">
                            <div class="form-group">
                                <label class="control-label col-lg-12" for="data-chegada">Data e Hora da chegada:</label>
                                <div class="col-lg-8">
                                    <input name="data-chegada" id='data-chegada' type="date" class="form-control OBG">
                                </div>
                                <div class="col-lg-4">
                                    <input name="hora-chegada" id='hora-chegada' type="time" class="form-control OBG">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6" style="padding: 15px 0 0 15px !important;">
                            <div class="form-group">
                                <label class="control-label" for="valor-remocao">Valor da Remoção:</label>
                                <input name="valor-remocao" id='valor-remocao' class="valor form-control OBG" type="text">
                            </div>
                        </div>
                        <div class="col-lg-6" style="padding: 15px 0 0 15px !important;">
                            <div class="form-group">
                                <label class="control-label" for="outros-custos">Outros custos:</label>
                                <input name="outros_custos" id='outros-custos' class="valor form-control" type="text">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="control-label" for="medico">Médico(a):</label>
                                <input name="medico" id='medico' class="form-control" type="text">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="control-label" for="valor-medico">Valor do Médico(a):</label>
                                <input name="valor-medico" id='valor-medico' class="valor form-control" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="control-label" for="enfermeiro">Enfermeiro(a):</label>
                                <input name="enfermeiro" id='enfermeiro' class="form-control" type="text">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="control-label" for="valor-enfermeiro">Valor do Enfermeiro(a):</label>
                                <input name="valor-enfermeiro" id='valor-enfermeiro' class="valor form-control" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="control-label" for="tecnico">Técnico(a):</label>
                                <input name="tecnico" id='tecnico' class="form-control" type="text">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="control-label" for="valor-tecnico">Valor do Técnico(a):</label>
                                <input name="valor-tecnico" id='valor-tecnico' class="valor form-control" type="text">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="control-label" for="condutor">Condutor(a):</label>
                                <input name="condutor" id='condutor' class="form-control" type="text">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="control-label" for="valor-condutor">Valor do Condutor(a):</label>
                                <input name="valor-condutor" id='valor-condutor' class="valor form-control" type="text">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="control-label " for="recebido">Recebido?</label>
                                <select name="recebido" id='recebido' class="form-control OBG">
                                    <option selected disabled value="">Selecione...</option>
                                    <option  value="S">Sim</option>
                                    <option value="N">Não</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="control-label" for="forma-pagamento">Forma de Pagamento:</label>
                                <select name="forma_pagamento" id='forma-pagamento' class="form-control">
                                    <option selected disabled value="">Selecione...</option>
                                    <option value="DIN">Dinheiro</option>
                                    <option value="CHQ">Cheque</option>
                                    <option value="CRT">Cartão</option>
                                    <option value="TRB">Transação Bancária</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="control-label" for="conta-recebido">Conta recebido:</label>
                                <select name="conta_recebido" class="form-control chosen-select" id="conta-recebido">
                                    <option selected disabled value="">Selecione...</option>
                                    <?php  foreach($contasBancarias as $conta): ?>
                                        <option value="<?= $conta['id'] ?>" > <?= strtoupper($conta['nome_conta']) ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="control-label" for="recebido-em">Recebido em:</label>
                                <input class="form-control " type="date" name="recebido_em" id="recebido-em">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label class="control-label" for="observacao">Observação:</label>
                                <textarea name="observacao" disabled id="observacao" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label class="control-label " for="empresa">Unidade Regional:</label>
                                <select name="empresa"  class="form-control chosen-select OBG_CHOSEN ">
                                    <option selected disabled value="">Selecione...</option>
                                    <?php  foreach($empresas as $ur): ?>
                                        <option  value="<?= $ur['id'] ?>" > <?= mb_strtoupper($ur['nome'],'UTF-8') ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <br>
                <fieldset style='width:95%;'>
                    <legend><i class="fa fa-briefcase" aria-hidden="true"></i> Itens utilizados durante a remoção</legend>
                    <?php require __DIR__ . '/../../components/add-item/add-item-modal.phtml' ?>
                    <?php require __DIR__ . '/../../components/add-item/add-item-button.phtml' ?>
                    <?php require __DIR__ . '/../../components/add-item/add-item-table.phtml' ?>
                </fieldset>
            </div>
        </form>
        <div id="row">
            <div class="col-lg-12 text-center">
                <button type="button" id="finalizar-remocao-particular" class='ui-button ui-widget ui-corner-all ui-button-text-only ui-state-hover' >
                    <span class='ui-button-text'>Salvar</span>
                </button>
            </div>
        </div>
    </div>
    <div id="left">
        <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
    </div>
</div>
<script type="text/javascript" src="/remocao/js/jquery.mask.min.js"></script>
<script type="text/javascript" src="/utils/jquery/js/sweetalert.min.js"></script>
<script type="text/javascript" src="/remocao/js/particular.js?v=3.6"></script>
<?php require __DIR__ . '/../../components/add-item/add-item-js.phtml' ?>
</body>
</html>