<?php require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>
<head>
    <meta charset="UTF-8">
    <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php'); ?>
    <link rel="stylesheet" type="text/css" href="/utils/reports.css">
    <link rel="stylesheet" href="/utils/bootstrap-3.3.6-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/utils/font-awesome-4.7.0/css/font-awesome.css" />
</head>
<div id="content">
    <div id="right">
        <fieldset style='width:95%;'>
            <legend><i class="fa fa-handshake-o" aria-hidden="true"></i> Dados do Solicitante</legend>
            <div class="row">
                <div class="col-lg-2">
                    <div class="form-group">
                        <label class="control-label">Solicitante: </label>
                    </div>
                </div>
                <div class="col-lg-4">
                    <?= $remocao['solicitante'] ?>
                </div>
                <div class="col-lg-2">
                    <div class="form-group">
                        <label class="control-label">Telefone do Solicitante: </label>
                    </div>
                </div>
                <div class="col-lg-4">
                    <?= $remocao['telefone_solicitante'] ?>
                </div>
            </div>
        </fieldset>
        <fieldset style='width:95%;'>
            <legend><i class="fa fa-address-card-o" aria-hidden="true"></i> Dados do Paciente</legend>
            <div class="row">
                <div class="col-lg-2">
                    <div class="form-group">
                        <label class="control-label">Paciente: </label>
                    </div>
                </div>
                <div class="col-lg-4">
                    <?= $remocao['paciente'] ?>
                </div>
                <div class="col-lg-2">
                    <div class="form-group">
                        <label class="control-label">Matrícula: </label>
                    </div>
                </div>
                <div class="col-lg-4">
                    <?= $remocao['matricula'] ?>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2">
                    <div class="form-group">
                        <label class="control-label">CPF: </label>
                    </div>
                </div>
                <div class="col-lg-4">
                    <?= $remocao['cpf'] ?>
                </div>
                <div class="col-lg-2">
                    <div class="form-group">
                        <label class="control-label">Nascimento: </label>
                    </div>
                </div>
                <div class="col-lg-4">
                    <?= DateTime::createFromFormat('Y-m-d', $remocao['data_nascimento'])->format('d/m/Y') ?>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2">
                    <div class="form-group">
                        <label class="control-label">Telefone do Paciente: </label>
                    </div>
                </div>
                <div class="col-lg-4">
                    <?= $remocao['paciente_telefone'] ?>
                </div>
                <div class="col-lg-2">
                    <div class="form-group">
                        <label class="control-label">Convênio: </label>
                    </div>
                </div>
                <div class="col-lg-4">
                    <?= $remocao['nomeplano'] ?>
                </div>
            </div>
        </fieldset>

        <fieldset style='width:95%;'>
            <legend><i class="fa fa-ambulance" aria-hidden="true"></i> Dados da Remoção</legend>
            <div class="row">
                <div class="col-lg-2">
                    <div class="form-group">
                        <label class="control-label">Data da Solicitação: </label>
                    </div>
                </div>
                <div class="col-lg-4">
                    <?= DateTime::createFromFormat('Y-m-d', $remocao['data_solicitacao'])->format('d/m/Y') ?>
                </div>
                <div class="col-lg-2">
                    <div class="form-group">
                        <label class="control-label">Motivo da Remoção: </label>
                    </div>
                </div>
                <div class="col-lg-4">
                    <?= $lists['motivo_remocao'][$remocao['motivo_remocao']] ?>
                </div>

            </div>


            <div class="row">
                <div class="col-lg-2">
                    <div class="form-group">
                        <label class="control-label">Local de Origem: </label>
                    </div>
                </div>
                <div class="col-lg-4">
                    <?= $remocao['origem'] ?>
                </div>
                <div class="col-lg-2">
                    <div class="form-group">
                        <label class="control-label">Endereço da Origem: </label>
                    </div>
                </div>
                <div class="col-lg-4">
                    <?= $remocao['endereco_origem'] ?>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-2">
                    <div class="form-group">
                        <label class="control-label">Local de Destino: </label>
                    </div>
                </div>
                <div class="col-lg-4">
                    <?= $remocao['destino'] ?>
                </div>
                <div class="col-lg-2">
                    <div class="form-group">
                        <label class="control-label">Endereço do Destino: </label>
                    </div>
                </div>
                <div class="col-lg-4">
                    <?= $remocao['endereco_destino'] ?>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-2">
                    <div class="form-group">
                        <label class="control-label">Tipo de Ambulância: </label>
                    </div>
                </div>
                <div class="col-lg-4">
                    <?= $lists['tipo_ambulancia'][$remocao['tipo_ambulancia']] ?>
                </div>

                <div class="col-lg-2">
                    <div class="form-group">
                        <label class="control-label">Retorno: </label>
                    </div>
                </div>
                <div class="col-lg-4">

                    <?= $lists['sim_nao'][$remocao['retorno']] ?>
                </div>
            </div>
        </fieldset>

        <?php if(empty($remocao['finalized_by'])) {?>
            <div class="row col-lg-12">
                <span class="alert-danger col-lg-12 text-center">A Remoção ainda não foi finalizada!!!</span>
            </div>

        <? }else { ?>

        <div id="finalizar-remocao">
            <fieldset style='width:95%;'>
                <div>
                    <input type="hidden" name="id" value="<?= $remocao['id'] ?>">
                </div>
                <legend><i class="fa fa-check-circle" aria-hidden="true"></i> Dados Finais</legend>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label class="control-label" for="fornecedor-cliente">Cliente:</label>
                            <?= $cliente ?>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="control-label" for="km">KM Percorrido:</label>
                            <?= $remocao['km'] ?> km
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="control-label" for="perimetro">Dentro ou Fora do perímetro urbano?</label>
                            <?= $lists['dentro_fora'][$remocao['perimetro']] ?>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="control-label" for="tabela-propria">Tabela Própria?</label>
                            <?= $lists['sim_nao'][$remocao['tabela_propria']] ?>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="control-label" for="tabela-propria">Remoção será cobrada?</label>
                            <?= $lists['sim_nao'][$remocao['remocao_sera_cobrada']] ?>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="control-label" for="remocao-fatura">Modo Cobranca:</label>
                            <?php echo  $lists['modo_cobranca'][$remocao['modo_cobranca']]?>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="control-label" for="remocao-fatura">Unidade Regional:</label>
                            <?php echo $empresa['nome'] ?>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="control-label" for="data-saida">Data e Hora da saída:</label>
                            <?= \DateTime::createFromFormat('Y-m-d H:i:s', $remocao['data_saida'] . ' ' . $remocao['hora_saida'])->format('d/m/Y H:i:s') ?>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="control-label" for="data-chegada">Data e Hora da chegada:</label>
                            <?= \DateTime::createFromFormat('Y-m-d H:i:s', $remocao['data_chegada'] . ' ' . $remocao['hora_chegada'])->format('d/m/Y H:i:s') ?>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="control-label" for="valor-remocao">Valor da Remoção:</label>
                            <?= \App\Helpers\StringHelper::currencyFormat($remocao['valor_remocao']) ?>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="control-label" for="outros-custos">Outros custos:</label>
                            <?= \App\Helpers\StringHelper::currencyFormat($remocao['outros_custos']) ?>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="control-label" for="medico">Médico:</label>
                            <?= $remocao['medico'] ?>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="control-label" for="valor-medico">Valor do Médico:</label>
                            <?= \App\Helpers\StringHelper::currencyFormat($remocao['valor_medico']) ?>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6" style="padding-left: 15px !important; padding-top: 15px !important;">
                        <div class="form-group">
                            <label class="control-label" for="enfermeiro">Enfermeiro(a):</label>
                            <?= $remocao['enfermeiro'] ?>
                        </div>
                    </div>
                    <div class="col-lg-6" style="padding-left: 15px !important; padding-top: 15px !important;">
                        <div class="form-group">
                            <label class="control-label" for="valor-enfermeiro">Valor do Enfermeiro(a):</label>
                            R$ <?= number_format($remocao['valor_enfermeiro'],2,',','.') ?>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="control-label" for="tecnico">Técnico:</label>
                            <?= $remocao['tecnico'] ?>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="control-label" for="valor-tecnico">Valor do Técnico:</label>
                            <?= \App\Helpers\StringHelper::currencyFormat($remocao['valor_tecnico']) ?>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="control-label" for="condutor">Condutor:</label>
                            <?= $remocao['condutor'] ?>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="control-label" for="valor-condutor">Valor do Condutor:</label>
                            <?= \App\Helpers\StringHelper::currencyFormat($remocao['valor_condutor']) ?>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="control-label" for="recebido">Recebido?</label>
                            <?= $lists['sim_nao'][$remocao['recebido']] ?>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="control-label" for="forma-pagamento">Forma de Pagamento:</label>
                            <?= $remocao['recebido'] == 'S' ? $lists['forma_pagamento'][$remocao['forma_pagamento']] : 'Nenhuma' ?>
                        </div>
                    </div>
                </div>
                <?php if($remocao['recebido'] == 'S'){ ?>
                    <div class="row">
                        <div class="col-lg-6">
                            <label class=" control-label ">Conta Recebido: </label>

                                <?=$resultContaBancaria['nome_conta']?>

                        </div>
                        <div class="col-lg-6">
                            <label class="control-label">Recebido em: </label>
                              <?=$remocao['data_recebido_BR']?>
                        </div>
                    </div>
                <?php }?>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label class="control-label" for="recebido">Observação:</label>
                            <?= $remocao['observacao'] ?>
                        </div>
                    </div>
                </div>
                <?php if( $remocao['remocao_sera_cobrada'] == 'S' ){ ?>
                     <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label class="control-label" for="recebido">Motivo de não ser cobrado:</label>
                            <?= $remocao['justificativa_nao_cobrar'] ?>
                        </div>
                    </div>
                </div>
               <?php }  ?>

            </fieldset>
            <br>
            <fieldset style='width:95%;'>
                <legend><i class="fa fa-briefcase" aria-hidden="true"></i> Itens utilizados durante a remoção</legend>
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th width="20%" align="center">Tipo</th>
                        <th width="70%" align="center">Item</th>
                        <th width="10%" align="center">Quantidade</th>
                    </tr>
                    </thead>
                    <tbody class="itens-added">
                    <?php
                    if(count($itens) > 0):
                        foreach ($itens as $item):
                            ?>
                            <tr>
                                <td><?= $lists['tipo_item'][$item['tipo']] ?></td>
                                <td><?= $item['item'] ?></td>
                                <td><?= $item['qtd'] ?></td>
                            </tr>
                            <?php
                        endforeach;
                    else:
                        ?>
                        <tr>
                            <td colspan="3" align="center">Nenhum item foi utilizado na remoção!</td>
                        </tr>
                    <?php endif; ?>
                    </tbody>
                </table>
            </fieldset>
        </div>
    </div>
    <?php } ?>
</div>
<div id="left">
    <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
</div>
</div>
<script type="text/javascript" src="/remocao/js/main.js?v=2.1"></script>
</body>
</html>