<?php require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>
<head>
    <meta charset="UTF-8">
    <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php'); ?>
    <link rel="stylesheet" type="text/css" href="/utils/reports.css">
    <link rel="stylesheet" href="/utils/bootstrap-3.3.6-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/utils/font-awesome-4.7.0/css/font-awesome.css" />
</head>
<div id="content">
    <div id="right">
        <h2 class="text-center">Remoção Externa</h2>
        <form>
            <!-- DADOS DO SOLICITANTE-->
            <br>
            <fieldset>
                <legend><i class="fa fa-handshake-o" aria-hidden="true"></i> Dados do Solicitante</legend>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="solicitante">Nome:</label>
                            <input id="solicitante" name="solicitante" class="OBG form-control" required="required" type="text">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="telefone-solicitante">Telefone:</label>
                            <input id="telefone-solicitante" name="telefone-solicitante" class="OBG telefone form-control" required type="text">
                        </div>
                    </div>
                </div>
            </fieldset>
            <br>

            <fieldset>
                <legend><i class="fa fa-address-card-o" aria-hidden="true"></i> Dados do Paciente</legend>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="paciente-existe">Paciente existe?</label>
                            <select id="paciente-existe" style="background-color:transparent;" name="paciente-existe" class="OBG form-control" required>
                                <option value="">Selecione</option>
                                <option value="S">Sim</option>
                                <option value="N">Não</option>

                            </select>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="paciente">Paciente:</label>
                            <select name="paciente" class="chosen-select OBG_CHOSEN form-control paciente" id='paciente' style='width:95%;'required>
                                <option value="">Selecione...</option>
                                <?php foreach($pacientes as $paciente): ?>
                                    <option <?= isset($data['paciente']) && $data['paciente'] === $paciente['idClientes'] ? "selected" : "" ?> value="<?= $paciente['idClientes'] ?>">(<?= $paciente['codigo'] ?>)

                                        <?= strtoupper($paciente['nome']) ?> <br>
                                         <span>CPF: <?= $paciente['cpf'] ?></span><br>
                                        Nasc. <?= join('/',array_reverse(explode('-',$paciente['nascimento'])))?></option></option>
                                <?php endforeach; ?>
                            </select>
                        </div>
                    </div>


                </div>
                <div class="row cadastro-paciente">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="nome-paciente">Nome:</label>
                            <input id="nome-paciente" name="nome-paciente" disabled class=" form-control" required type="text">
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="cpf">CPF:</label>
                            <input name="cpf" type="text" disabled validar-receita="nao" tipo="paciente" class="cpf form-control">
                        </div>
                    </div>
                </div>
                <div class="row cadastro-paciente">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="nascimento">Nascimento:</label>
                            <input id="nascimento" name="nascimento" disabled type="date" min="1900-01-01" max="<?= date('Y-m-d') ?>" class="form-control">
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="sexo">Sexo:</label>
                            <select id="sexo" style="background-color:transparent;" name="sexo" class=" form-control" disabled>
                                <option value="">Selecione</option>
                                <option value="0">Masculino</option>
                                <option value="1">Feminino</option>

                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="convenio">Convênio:</label>
                            <select name="convenio" class="chosen-select OBG_CHOSEN form-control" id='convenio' required>
                                <option selected disabled value="">Selecione...</option>
                                <?php  foreach($planos as $plano): ?>
                                    <option <?= isset($data['plano']) && $data['plano'] === $plano['id'] ? "selected" : "" ?> value="<?= $plano['id'] ?>"> <?= strtoupper($plano['nome']) ?></option>
                                <?php endforeach; ?>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="matricula">Matrícula:</label>
                            <input id="matricula" name="matricula" type="text" class="OBG form-control">

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="telefone-paciente">Telefone do Paciente:</label>
                            <input id="telefone-paciente" name="telefone-paciente" type="text" class="telefone form-control">
                        </div>
                    </div>

                    <div class="col-lg-6">
                    </div>
                </div>
            </fieldset>
            <br>
            <fieldset>
                <legend><i class="fa fa-ambulance" aria-hidden="true"></i> Dados da Remoção</legend>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="nascimento">Data da Solicitação:</label>
                            <input id="data-solicitacao" name="data-solicitacao" class="OBG form-control" required="required" type="date">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="motivo-remocao">Motivo da Remoção:</label>
                            <select id="motivo-remocao" style="background-color:transparent;" name="motivo-remocao" class="OBG form-control" required>
                                <option value="">Selecione</option>
                                <option value="ADM">Admissão</option>
                                <option value="EXA">Exame</option>
                                <option value="INT">Intercorrência</option>
                                <option value="TRA">Transferência</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="endereco-origem">Endereço de Origem:</label>
                            <input id="endereco-origem" name="endereco-origem" type="text" class="OBG form-control" required>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="local-origem">Local de Origem:</label>
                            <input id="local-origem" name="local-origem" type="text" class="OBG form-control" required>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="endereco-destino">Endereço do Destino:</label>
                            <input id="endereco-destino" name="endereco-destino" type="text" class="OBG form-control" required>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="local-destino">Local de Destino:</label>
                            <input id="local-destino" name="local-destino" type="text" class="OBG form-control" required>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="tipo-ambulancia"><strong>Tipo de Ambulância:</strong></label>
                            <select id="tipo-ambulancia" style="background-color:transparent;" name="tipo-ambulancia" class="OBG form-control" required>
                                <option value="">Selecione</option>
                                <option value="S">Simples</option>
                                <option value="U">UTI</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="retorno"><strong>Retorno:</strong></label>
                            <select id="retorno"  style="background-color:transparent;" name="retorno" class="OBG form-control" required>
                                <option value="">Selecione</option>
                                <option value="S">Sim</option>
                                <option value="N">Não</option>
                            </select>
                        </div>
                    </div>
                </div>
            </fieldset>
            <div id="row">
                <div class="col-lg-12 text-center ">
                    <button type="button" id="salvar-remocao-particular" class='ui-button ui-widget ui-corner-all ui-button-text-only ui-state-hover' >
                        <span class='ui-button-text'>Salvar</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div id="left">
        <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
    </div>
</div>
<script type="text/javascript" src="/remocao/js/jquery.mask.min.js"></script>
<script type="text/javascript" src="/remocao/js/particular.js?v=3.2"></script>
</body>
</html>