<?php require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>
<head>
    <meta charset="UTF-8">
    <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php'); ?>
    <link rel="stylesheet" type="text/css" href="/utils/reports.css">
    <link rel="stylesheet" href="/utils/bootstrap-3.3.6-dist/css/bootstrap.min.css" />
    <script src="/utils/bootstrap-3.3.6-dist/js/bootstrap.min.js" ></script>
    <link rel="stylesheet" href="/utils/font-awesome-4.7.0/css/font-awesome.css" />
    <?php require __DIR__ . '/../../components/add-item/add-item-css.phtml' ?>
</head>
<div id="content">
    <div id="right">
        <center><h2>Editar Remoção Externa</h2></center>
        <form>
            <div id="div-editar-remocao-interna">
                <fieldset style='width:95%;'>
                    <legend><i class="fa fa-handshake-o" aria-hidden="true"></i> Dados do Solicitante</legend>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="solicitante">Nome:</label>
                                <input id="solicitante" name="solicitante" class="OBG form-control" value="<?= $remocao['solicitante'] ?>" required="required" type="text">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="telefone-solicitante">Telefone:</label>
                                <input id="telefone-solicitante" name="telefone-solicitante" class="OBG telefone form-control" value="<?= $remocao['telefone_solicitante'] ?>" required type="text" maxlength="16">
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend><i class="fa fa-address-card-o" aria-hidden="true"></i> Dados do Paciente</legend>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="paciente-existe">Paciente existe?</label>
                                <select id="paciente-existe" style="background-color:transparent;" name="paciente-existe" class="OBG form-control" required>
                                    <option value="">Selecione</option>
                                    <option value="S" selected>Sim</option>
                                    <option value="N">Não</option>

                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="paciente">Paciente:</label>
                                <select name="paciente" class="chosen-select OBG_CHOSEN form-control paciente" id='paciente' style='width:95%;'required>
                                    <option value="">Selecione...</option>
                                    <?php foreach($pacientes as $paciente): ?>
                                        <option <?= isset($remocao['paciente_id'] ) && $remocao['paciente_id']  === $paciente['idClientes'] ? "selected" : "" ?> value="<?= $paciente['idClientes'] ?>">(<?= $paciente['codigo'] ?>)

                                            <?= strtoupper($paciente['nome']) ?> <br>
                                            <span>CPF: <?= $paciente['cpf'] ?></span><br>
                                            Nasc. <?= join('/',array_reverse(explode('-',$paciente['nascimento'])))?></option></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </div>


                    </div>
                    <div class="row cadastro-paciente">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="nome-paciente">Nome:</label>
                                <input id="nome-paciente" name="nome-paciente" disabled class=" form-control" required type="text">
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="cpf">CPF:</label>
                                <input name="cpf" type="text" disabled validar-receita="nao" value="<?= $remocao['cpf'] ?>" tipo="paciente" class="cpf form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row cadastro-paciente">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="nascimento">Nascimento:</label>
                                <input id="nascimento" name="nascimento" disabled type="date" min="1900-01-01" max="<?= date('Y-m-d') ?>" class="form-control">
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="sexo">Sexo:</label>
                                <select id="sexo" style="background-color:transparent;" name="sexo" class=" form-control" disabled>
                                    <option value="">Selecione</option>
                                    <option value="0">Masculino</option>
                                    <option value="1">Feminino</option>

                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="convenio">Convênio:</label>
                                <select name="convenio" class="chosen-select OBG_CHOSEN form-control" id='convenio' required>
                                    <option selected disabled value="">Selecione...</option>
                                    <?php  foreach($planos as $plano): ?>
                                        <option <?= isset($remocao['convenio_id']) && $remocao['convenio_id'] === $plano['id'] ? "selected" : "" ?> value="<?= $plano['id'] ?>"> <?= strtoupper($plano['nome']) ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="matricula">Matrícula:</label>
                                <input id="matricula" name="matricula" type="text" value=" <?= $remocao['matricula'] ?>" class="OBG form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="telefone-paciente">Telefone do Paciente:</label>
                                <input id="telefone-paciente" name="telefone-paciente" type="text" value="<?= $remocao['paciente_telefone'] ?>" class="telefone form-control">
                            </div>
                        </div>

                        <div class="col-lg-6">
                        </div>
                    </div>
                </fieldset>

                <fieldset style='width:95%;'>
                    <legend><i class="fa fa-ambulance" aria-hidden="true"></i> Dados da Remoção</legend>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="nascimento">Data da Solicitação:</label>
                                <input id="data-solicitacao" name="data-solicitacao" class="OBG form-control" required="required" type="date" value="<?=$remocao['data_solicitacao']?>">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="motivo-remocao">Motivo da Remoção:</label>
                                <select id="motivo-remocao" style="background-color:transparent;" name="motivo-remocao" class="OBG form-control" required>
                                    <option value="">Selecione</option>
                                    <?php
                                    foreach ($lists['motivo_remocao'] as $key => $motivo){ ?>
                                        <option <?= isset($remocao['motivo_remocao']) && $remocao['motivo_remocao'] === $key ? "selected" : "" ?> value="<?=$key?>" ><?= $motivo?></option>

                                    <?php } ?>

                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="local-origem">Local de Origem:</label>
                                <input id="local-origem" name="local-origem" type="text" value="<?= $remocao['origem'] ?>" class="OBG form-control" required>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="endereco-origem">Endereço da Origem:</label>
                                <input id="endereco-origem" name="endereco-origem" type="text" value="<?= $remocao['endereco_origem'] ?>" class="OBG form-control" required>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="local-destino">Local de Destino:</label>
                                <input id="local-destino" name="local-destino" type="text" value="<?= $remocao['destino'] ?>" class="OBG form-control" required>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="endereco-destino">Endereço do Destino:</label>
                                <input id="endereco-destino" name="endereco-destino" type="text" value="<?= $remocao['endereco_destino'] ?>" class="OBG form-control" required>
                            </div>
                        </div>


                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="tipo-ambulancia"><strong>Tipo de Ambulância:</strong></label>
                                <select id="tipo-ambulancia" style="background-color:transparent;" name="tipo-ambulancia" class="OBG form-control" required>
                                    <option value="">Selecione</option>
                                    <option <?= isset($remocao['tipo_ambulancia']) && $remocao['tipo_ambulancia'] === 'S' ? "selected" : "" ?>  value="S">Simples</option>
                                    <option <?= isset($remocao['tipo_ambulancia']) && $remocao['tipo_ambulancia'] === 'U' ? "selected" : "" ?>  value="U">UTI</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="retorno"><strong>Retorno:</strong></label>
                                <select id="retorno"  style="background-color:transparent;" name="retorno" class="OBG form-control" required>
                                    <option value="">Selecione</option>
                                    <option  <?= isset($remocao['retorno']) && $remocao['retorno'] === 'S' ? "selected" : "" ?> value="S">Sim</option>
                                    <option  <?= isset($remocao['retorno']) && $remocao['retorno'] === 'N' ? "selected" : "" ?> value="N">Não</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <div>
                    <input type="hidden" name="id" value="<?=$remocao['id'] ?>">
                </div>
             <?php if($remocao['finalized_at'] <> '0000-00-00 00:00:00' && !empty($remocao['finalized_at']) ){?>

                <fieldset style='width:95%;'>

                    <legend><i class="fa fa-check-circle" aria-hidden="true"></i> Dados Finais</legend>
                    <div id="fornecedor-cliente-existente" class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="control-label" for="remocao-realizada">O Cliente existe?</label><br>
                                <select class="form-control  OBG" name="cliente_existe" id="cliente_existe">
                                    <option selected value="">Selecione...</option>
                                    <option  value="S" selected>SIM</option>
                                    <option  value="N">NÃO</option>

                                </select>

                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label" for="fornecedor-cliente">Cliente: </label>
                                <select class="form-control chosen-select OBG_CHOSEN" name="fornecedor_cliente" id="fornecedor-cliente">
                                    <option disabled selected value="">Selecione...</option>
                                    <?php  foreach($fornecedores as $fornecedor):
                                        $cpfCnpj = $fornecedor['FISICA_JURIDICA'] == 1 ? $fornecedor['cnpj']: $fornecedor['CPF'];

                                        ?>
                                        <option <?= isset($remocao['fornecedor_cliente']) && $remocao['fornecedor_cliente'] === $fornecedor['idFornecedores'] ? "selected" : "" ?> value="<?= $fornecedor['idFornecedores'] ?>"> <?= $cpfCnpj.' '.strtoupper($fornecedor['nome']) ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div id="fornecedor-cliente-nao-existe" style="display: none;">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <input name="fisica_juridica" id='fisica_juridica_0' class="fisica-juridica OBG_RADIO" type="radio" value="0">
                                    <label class="control-label" for="fisica_juridica_0">Física (CPF):</label>
                                    <input name="cpf" id='cpf' class="cpf  form-control" validar-receita="sim" type="text" maxlength="14">
<!--                                    <input name="cpf_receita_validado" id='cpf-receita-validado'type="hidden" value="0">-->
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <input name="fisica_juridica" id='fisica_juridica_1' class="fisica-juridica " type="radio" value="1">
                                    <label class="control-label" for="fisica_juridica_1">Jurídica (CNPJ):</label>
                                    <input name="cnpj" id='cnpj' disabled class="cnpj form-control" type="text" maxlength="18">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="control-label label-nome-fantasia" for="nome-fantasia">Nome:</label>
                                    <input name="nome_fantasia" id='nome-fantasia' class="form-control" type="text">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="control-label label-razao-social" for="razao-social">Apelido:</label>
                                    <input name="razao_social" id='razao-social' class="form-control" type="text">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="control-label label-ies-rg" for="ies-rg">RG:</label>
                                    <input name="ies_rg" id='ies-rg' class="form-control" type="text">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="control-label" for="im">Insc. Municipal:</label>
                                    <input name="im" id='im' disabled class="form-control" type="text">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="control-label" for="contato">Contato:</label>
                                    <input name="contato" id='contato' class="form-control" type="text">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="control-label" for="telefone">Telefone:</label>
                                    <input name="telefone" id='telefone' class="form-control" type="text">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="control-label" for="endereco">Endereço:</label>
                                    <input name="endereco" id='endereco' class="form-control" type="text">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="control-label" for="cidade_cliente">Cidade:</label>

                                    <input name="cidade_cliente" id='cidade_cliente' class="form-control" type="text">
                                    <input name="id_cidade_cliente" id='id_cidade_cliente' class="form-control" type="hidden">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="control-label" for="email">Email:</label>
                                    <input name="email" id='email' class="form-control" type="text">
                                </div>
                            </div>
                        </div>
                        <div id="row">
                            <div class="col-lg-12 text-center">
                                <button type="button" id="cancelar-novo" class='ui-button ui-widget ui-corner-all ui-button-text-only ui-state-hover' >
                                    <span class='ui-button-text'>
                                        Cancelar <br>
                                        <small>(Apagará todos os dados do cliente)</small>
                                    </span>
                                </button>
                            </div>
                        </div>
                        <br>
                    </div>
                    <div id="span-remocao-finalizada-convenio">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="control-label" for="km">KM Percorrido</label>
                                    <input name="km" id='km' value="<?=$remocao['km']?>" class="form-control" type="number">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="control-label" for="perimetro">Fora ou dentro do Perímetro Urbano?</label>
                                    <select id="perimetro" name="perimetro" class="form-control " >
                                        <option value="">Selecione</option>
                                        <option <?= isset($remocao['perimetro']) && $remocao['perimetro'] === 'F' ? "selected" : "" ?> value="F">Fora</option>
                                        <option <?= isset($remocao['perimetro']) && $remocao['perimetro'] === 'D' ? "selected" : "" ?> value="D">Dentro</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="control-label" for="tabela-propria">Tabela Própria?</label>
                                    <select id="tabela-propria" name="tabela-propria" class="form-control" >
                                        <option value="">Selecione</option>
                                        <option <?= isset($remocao['tabela_propria']) && $remocao['tabela_propria'] === 'S' ? "selected" : "" ?> value="S">Sim</option>
                                        <option <?= isset($remocao['tabela_propria']) && $remocao['tabela_propria'] === 'N' ? "selected" : "" ?> value="N">Não</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="control-label " for="remocao_sera_cobrada">Remoção será cobrada? </label>
                                    <select id="remocao_sera_cobrada" name="remocao_sera_cobrada" class="form-control OBG" >
                                        <option value="">Selecione</option>
                                        <option <?= isset($remocao['remocao_sera_cobrada']) && $remocao['remocao_sera_cobrada'] === 'S' ? "selected" : "" ?> value="S">Sim</option>
                                        <option <?= isset($remocao['remocao_sera_cobrada']) && $remocao['remocao_sera_cobrada'] === 'N' ? "selected" : "" ?> value="N">Não</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="control-label" for="modo_cobranca">Modo de cobrança?</label>
                                    <select id="modo_cobranca" name="modo_cobranca" disabled class="form-control" >
                                        <option value="">Selecione</option>
                                        <option <?= isset($remocao['modo_cobranca']) && $remocao['modo_cobranca'] === 'NF' ? "selected" : "" ?> value="NF">Nota Fiscal</option>
                                        <option <?= isset($remocao['modo_cobranca']) && $remocao['modo_cobranca'] === 'F' ? "selected" : "" ?> value="F">Fatura</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="control-label" for="justificativa_nao_cobrar">Motivo para não cobrar:</label>
                                    <textarea name="justificativa_nao_cobrar" disabled id="justificativa_nao_cobrar"   class="form-control"><?= $remocao['justificativa_nao_cobrar'] ?></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="control-label" for="remocao-fatura">Item na Fatura:</label>
                                    <select name="remocao-fatura" disabled class="form-control chosen-select ">
                                        <option selected disabled value="">Selecione...</option>
                                        <?php  foreach($tipoRemocaFatura as $tipo): ?>
                                            <option <?= isset($idRemocaFatura) && $idRemocaFatura == $tipo['id']  ? "selected" : "" ?>  value="<?= $tipo['id'] ?>" valor="<?= number_format($tipo['valor'], 2, ',', '.') ?>"> <?= strtoupper($tipo['item']) ?></option>
                                        <?php endforeach; ?>
                                    </select>
                                    <input type="hidden" name="tabela-origem-item-fatura"  id="tabela-origem-item-fatura" value="<?php echo $tabelaReferenciaFatura ?>">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6" style="padding-left: 0 !important;">
                                <div class="form-group">
                                    <label class="control-label col-lg-12" for="data-saida">Data e Hora da saída:</label>
                                    <div class="col-lg-8">
                                        <input name="data-saida" id='data-saida' type="date" value="<?=$remocao['data_saida']?>" class="form-control">
                                    </div>
                                    <div class="col-lg-4">
                                        <input name="hora-saida" id='hora-saida' type="time" value="<?=$remocao['hora_saida']?>"class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6" style="padding-left: 0 !important;">
                                <div class="form-group">
                                    <label class="control-label col-lg-12" for="data-chegada">Data e Hora da chegada:</label>
                                    <div class="col-lg-8">
                                        <input name="data-chegada" id='data-chegada' type="date" value="<?=$remocao['data_chegada']?>" class="form-control">
                                    </div>
                                    <div class="col-lg-4">
                                        <input name="hora-chegada" id='hora-chegada' type="time" value="<?=$remocao['hora_chegada']?>" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6" style="padding-left: 15px !important; padding-top: 15px !important;">
                                <div class="form-group">
                                    <label class="control-label " for="valor-remocao">Valor da Remoção:</label>
                                    <div class="c">
                                        <input name="valor-remocao" id='valor-remocao' class="valor form-control " value="<?=$remocao['valor_remocao']?>" type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6" style="padding-left: 15px !important; padding-top: 15px !important;">
                                <div class="form-group">
                                    <label class="control-label " for="outras-despesas">Outras despesas:</label>
                                    <div class="">
                                        <input name="outras-despesas" id='outras-despesas' class="valor form-control" value="<?=$remocao['outros_custos']?>" type="text">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6" style="padding-left: 15px !important; padding-top: 15px !important;">
                                <div class="form-group">
                                    <label class="control-label" for="medico">Médico(a):</label>
                                    <input name="medico" id='medico' class="form-control"  value="<?=$remocao['medico']?>"type="text">
                                </div>
                            </div>
                            <div class="col-lg-6" style="padding-left: 15px !important; padding-top: 15px !important;">
                                <div class="form-group">
                                    <label class="control-label" for="valor-medico">Valor do Médico(a):</label>
                                    <input name="valor-medico" id='valor-medico' class="valor form-control" value="<?=$remocao['valor_medico']?>" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="control-label" for="enfermeiro">Enfermeiro(a):</label>
                                    <input name="enfermeiro" id='enfermeiro' class="form-control" value="<?=$remocao['enfermeiro']?>" type="text">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="control-label" for="valor-enfermeiro">Valor do Enfermeiro(a):</label>
                                    <input name="valor-enfermeiro" id='valor-enfermeiro' class="valor form-control" value="<?=$remocao['valor_enfermeiro']?>" type="text">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="control-label" for="tecnico">Técnico(a):</label>
                                    <input name="tecnico" id='tecnico' class="form-control" value="<?=$remocao['tecnico']?>" type="text">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="control-label" for="valor-tecnico">Valor do Técnico(a):</label>
                                    <input name="valor-tecnico" id='valor-tecnico' class="valor form-control" value="<?=$remocao['valor_tecnico']?>" type="text">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="control-label" for="condutor">Condutor(a):</label>
                                    <input name="condutor" id='condutor' class="form-control" value="<?=$remocao['condutor']?>" type="text">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="control-label" for="valor-condutor">Valor do Condutor(a):</label>
                                    <input name="valor-condutor" id='valor-condutor' class="valor form-control" value="<?=$remocao['valor_condutor']?>" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="control-label" for="recebido">Recebido?</label>
                                    <select name="recebido" id='recebido' class="form-control">
                                        <option <?= isset($remocao['recebido']) && $remocao['recebido'] == 'S'  ? "selected" : "" ?> value="S">Sim</option>
                                        <option <?= isset($remocao['recebido']) && $remocao['recebido'] == 'N'  ? "selected" : "" ?> value="N">Não</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="control-label" for="forma-pagamento">Forma de Pagamento:</label>
                                    <select name="forma_pagamento" id='forma-pagamento' class="form-control">
                                        <option selected disabled value="">Selecione...</option>
                                        <option <?= isset($remocao['forma_pagamento']) && $remocao['forma_pagamento'] == 'DIN'  ? "selected" : "" ?>  value="DIN">Dinheiro</option>
                                        <option <?= isset($remocao['forma_pagamento']) && $remocao['forma_pagamento'] == 'CHQ'  ? "selected" : "" ?>  value="CHQ">Cheque</option>
                                        <option <?= isset($remocao['forma_pagamento']) && $remocao['forma_pagamento'] == 'CRT'  ? "selected" : "" ?>  value="CRT">Cartão</option>
                                        <option <?= isset($remocao['forma_pagamento']) && $remocao['forma_pagamento'] == 'TRB'  ? "selected" : "" ?>  value="TRB">Transação Bancária</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="control-label" for="conta-recebido">Conta recebido:</label>
                                    <select name="conta_recebido" class="form-control chosen-select" id="conta-recebido">
                                        <option selected disabled value="">Selecione...</option>
                                        <?php  foreach($contasBancarias as $conta): ?>
                                            <option <?= isset($remocao['conta_recebido']) && $remocao['conta_recebido'] == $conta['ID']  ? "selected" : "" ?>   value="<?= $conta['ID'] ?>" > <?= strtoupper($conta['nome_conta']) ?></option>
                                        <?php endforeach; ?>
                                    </select>
                                </div>
                            </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="control-label" for="recebido-em">Recebido em:</label>
                                        <input class="form-control " type="date" name="recebido_em" value="<?=$remocao['recebido_em']?>" id="recebido-em">
                                    </div>
                                </div>

                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="control-label" for="observacao">Observação:</label>
                                    <textarea name="observacao" id="observacao" class="form-control"><?=$remocao['observacao']?></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="control-label" for="empresa">Unidade Regional:</label>
                                    <select name="empresa" class="form-control chosen-select ">
                                        <option selected disabled value="">Selecione...</option>
                                        <?php  foreach($empresas as $ur): ?>
                                            <option <?= isset($remocao['empresa_id']) && $remocao['empresa_id'] == $ur['id']  ? "selected" : "" ?> value="<?= $ur['id'] ?>" > <?= mb_strtoupper($ur['nome'],'UTF-8') ?></option>
                                        <?php endforeach; ?>
                                    </select>
                                </div>
                            </div>
                        </div>


                    </div>
                </fieldset>
                <br>
                <fieldset style='width:95%; ' id="itens-remocao">
                    <legend><i class="fa fa-briefcase" aria-hidden="true"></i> Itens utilizados durante a remoção</legend>
                    <?php require __DIR__ . '/../../components/add-item/add-item-modal.phtml' ?>
                    <?php require __DIR__ . '/../../components/add-item/add-item-button.phtml' ?>
                    <?php require __DIR__ . '/../../components/add-item/add-item-table-preenchida.phtml' ?>
                </fieldset>
            <?}?>
            </div>
        </form>
        <?php if($remocao['finalized_at'] <> '0000-00-00 00:00:00' && !empty($remocao['finalized_at']) ){?>
        <div id="row">
            <div class="col-lg-12 text-center">
                <button type="button" id="editar-remocao-particular-finalizada" class='ui-button ui-widget ui-corner-all ui-button-text-only ui-state-hover' >
                    <span class='ui-button-text'>Salvar</span>
                </button>
            </div>
        </div>
<?php }else{ ?>
        <div id="row">
            <div class="col-lg-12 text-center">
                <button type="button" id="editar-remocao-particular-nao-finalizada" class='ui-button ui-widget ui-corner-all ui-button-text-only ui-state-hover' >
                    <span class='ui-button-text'>Salvar</span>
                </button>
            </div>
        </div>
        <?php } ?>
    </div>
    <div id="left">
        <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
    </div>
</div>
<script type="text/javascript" src="/remocao/js/particular.js?v=3.6"></script>
<?php require __DIR__ . '/../../components/add-item/add-item-js.phtml' ?>
</body>
</html>
