<?php require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>
<head>
 <meta charset="UTF-8">
 <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php'); ?>
 <link rel="stylesheet" type="text/css" href="/utils/reports.css">
 <link rel="stylesheet" href="/utils/bootstrap-3.3.6-dist/css/bootstrap.min.css" />
 <script src="/utils/bootstrap-3.3.6-dist/js/bootstrap.min.js" ></script>
 <link rel="stylesheet" href="/utils/font-awesome-4.7.0/css/font-awesome.css" />
</head>
<div id="content">
 <div id="right">
     <div class="panel panel-default">
         <div class="panel-heading clearfix">
             <h3 class="panel-title pull-left" style="padding-top: 7.5px;">
                 <i class="fa fa-search" aria-hidden="true"></i> Buscar Remoções
             </h3>
             <div class="btn-group pull-right">
                 <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                     + Nova Remoção
                     <span class="caret"></span>
                 </button>
                 <ul class="dropdown-menu label-success" aria-labelledby="dropdownMenu1">
                     <li><a href="?action=convenio-form" target="_blank">Interna</a></li>
                     <li><a href="?action=particular-form" target="_blank">Externa</a></li>
                 </ul>
             </div>
         </div>
         <div class="panel-body">
             <form method="post" action="/remocao/?action=pesquisar-remocao">
                 <div class="row">
                     <div class="col-lg-6">
                        <div class="form-group">
                            <label for="paciente">Paciente:</label>
                            <select name="paciente" class="chosen-select OBG_CHOSEN form-control" id='paciente'>
                                <option value="">Selecione...</option>
                                <?php foreach($pacientes as $paciente): ?>
                                    <option <?= isset($pacienteId) && $pacienteId === $paciente['idClientes'] ? "selected" : "" ?> value="<?= $paciente['idClientes'] ?>">(<?= $paciente['codigo'] ?>) <?= strtoupper($paciente['nome']) ?></option>
                                <?php endforeach; ?>
                            </select>
                        </div>

                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="tipo-remocao">Tipo Remoção:</label>
                            <select id="tipo-remocao" name="tipo-remocao" class="OBG form-control" >
                                <option selected <?= isset($tipoRemocao) && $tipoRemocao === 'C' ? "selected" : "" ?> value="C">INTERNA</option>
                                <option <?= isset($tipoRemocao) && $tipoRemocao === 'P' ? "selected" : "" ?> value="P">EXTERNA</option>
                            </select>
                        </div>
                    </div>

                     <div class="col-lg-6">
                         <div class="form-group">
                             <label for="periodo">Inicio:</label>
                             <input name="inicio" type="date" class="form-control" value='<?= isset($inicio)  ? $inicio : "" ?>' required>
                         </div>
                     </div>
                     <div class="col-lg-6">
                         <div class="form-group">
                             <label for="periodo">Fim:</label>
                             <input name="fim" type="date" class="form-control" value='<?= isset($fim)  ? $fim : "" ?>' required>
                         </div>
                     </div>

                     <div class="col-lg-12 text-center">
                         <div class="form-group">
                             <button type="submit"  class='ui-button ui-widget ui-corner-all ui-button-text-only ui-state-hover' >
                                 <span class='ui-button-text'>Pesquisar</span>
                             </button>
                         </div>
                     </div>
                 </div>
             </form>
         </div>
     </div>
     <br>
     <div class="row">
        <div class="col-lg-12">
            <?php
                if(isset($remocoes)):
                    if(empty($remocoes)) : ?>
                    <h4 class="text-center">Nenhuma remoção encontrada.</h4>
                <?php
                    else:
                        if(is_array($remocoes)): ?>
                        <table class='table'>
                            <thead>
                                <th colspan='2'>Remoção</th>
                                <th></th>
                            </thead>
                            <?php foreach($remocoes as $remocao): ?>
                                <tr>
                                    <td>
                                        <p><b>Solicitante: </b><?=$remocao['solicitante'] ?></p>
                                        <p><b>Paciente: </b><?=$remocao['paciente'] ?></p>
                                        <p><b>Origem: </b><?=$remocao['origem'] ?></p>
                                        <p><b>Destino: </b><?=$remocao['destino'] ?></p>
                                        <?php if(!is_null($remocao['edited_at']) ){ ?>
                                            <p class="badge">
                                                <b>Editada em: </b>
                                                <i class="fa fa-calendar"></i>
                                                <?= DateTime::createFromFormat('Y-m-d H:i:s', $remocao['edited_at'])->format('d/m/Y H:i:s') ?>
                                            </p>

                                        <?php }?>
                                    </td>
                                    <td>
                                        <p><b>Data da solicitação: </b><?=DateTime::createFromFormat('Y-m-d', $remocao['data_solicitacao'])->format('d/m/Y') ?></p>
                                        <p><b>Tipo: </b><?= $tipoRemocaoList[$remocao['tipo_remocao']] ?></p>
                                        <p><b>Cadastrado por: </b><?=$remocao['user'] ?></p>
                                        <p><b>Cadastrado em: </b><?=DateTime::createFromFormat('Y-m-d H:i:s', $remocao['created_at'])->format('d/m/Y H:i:s') ?></p>

                                        <?php if(!is_null($remocao['finalized_at'])): ?>
                                            <p class="badge">
                                                <b>Finalizada em: </b>
                                                <i class="fa fa-calendar"></i>
                                                <?= DateTime::createFromFormat('Y-m-d H:i:s', $remocao['finalized_at'])->format('d/m/Y H:i:s') ?>
                                            </p>
                                        <?php endif; ?>
                                    </td>
                                    <td>
                                        <?php if(is_null($remocao['finalized_at'])): ?>
                                        <p>
                                            <a href="/remocao/?action=finalizar-remocao-<?= $targetList[$remocao['tipo_remocao']] ?>-form&remocao=<?=$remocao['id'] ?>" style="width: 120px;color: white !important;" class="btn btn-success" title="Finalizar Remoção">
                                                <i class="fa fa-check"></i> Finalizar
                                            </a>
                                        </p>
                                        <?php endif; ?>

                                        <p>
                                            <a target="_blank" href="/remocao/?action=editar-remocao-<?= $targetList[$remocao['tipo_remocao']] ?>&remocao=<?=$remocao['id']?>" style="width: 120px;color: white !important;" class="btn btn-warning" title="Editar Remoção">
                                                <i class="glyphicon glyphicon-edit"></i>
                                                Editar
                                            </a>
                                        </p>

                                        <p>
                                            <a target="_blank" href="/remocao/?action=visualizar-remocao-<?= $targetList[$remocao['tipo_remocao']] ?>&remocao=<?=$remocao['id'] ?>" style="width: 120px;color: white !important;" class="btn btn-primary" title="Visualizar Remoção">
                                                <i class="glyphicon glyphicon-list-alt"></i>
                                                Visualizar
                                            </a>
                                        </p>
                                        <p>
                                            <button class="btn btn-danger cancelar" style="width: 120px"  id-remocao="<?=$remocao['id'] ?>">
                                                <i class="fa fa-close "></i>
                                                Cancelar
                                            </button>
                                        </p>
                                    </td>
                                </tr>
                            <?php endforeach; ?>
                        </table>
                    <?php else: ?>
                        <span class="text-center"><b><?=$remocoes ?></b></span>
                    <?php
                        endif;
                    endif;
                endif;
            ?>
        </div>
     </div>
 </div>

 <div id="left">
  <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
 </div>
</div>
<script type="text/javascript" src="/remocao/js/main.js?v=2.1"></script>
</body>
</html>