<?php require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>
<head>
  <meta charset="UTF-8">
  <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php'); ?>
  <link rel="stylesheet" href="/utils/global.css"/>
</head>
  <div id="content">
    <div id="right">
			<?php
				if(!isset($_GET['id']) && empty($_GET['id'])){
					$update 		= false;
					$labelTitle = "Nova";
				} else {
					$update 		= true;
					$labelTitle = "Atualizar";
				}
			?>
      <center><h1><?= $labelTitle ?> Operadora</h1></center>
			<br>
			<div class="opcoes">
				<a href="?action=operadoras" class='ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only
        ui-state-hover'>
					<span class='ui-button-text'>Listar Operadoras</span>
				</a>
			</div>
      <br><br><br>
			<?php
			$display = "none";
			if(isset($msg) && !empty($msg)) {
				if ($type === 's') {
					$display = "block";
					$class = "success";
				} else {
					$display = "block";
					$class = "failed";
				}
			}
			?>
			<div style="display:<?= $display ?>" class="msg <?= $class ?>">
				<strong><?= $msg ?></strong>
			</div>
			<form method="post" action="/adm/secmed/?action=operadoras-<?= (!$update ? 'salvar' : 'atualizar') ?>">
				<div class="form-input100" >
					<p><strong>Nome</strong></p>
					<input type="text" name="nome" size="100" maxlength="100" id="nome" value="<?= ($update ? $response['NOME'] : '') ?>" required="required">
				</div>
				<div class="form-input100" >
					<p><strong>Email</strong></p>
					<input  type="email" name="email" size="100" maxlength="100" id="email" value="<?= ($update ? $response['EMAIL'] : '') ?>">
				</div>
				<div class="form-input100" >
					<p><label for="data_pagamento"><strong >Data de pagamento do contrato:</strong></label></p>
					<input type="text" name="data_pagamento" size="100"  id="data_pagamento" value="<?= ($update ? $response['data_pagamento'] : '') ?>">
				</div>
				<div class="form-input100" >
					<p><label for="dia_maximo_envio_fatura"><strong  >Dia máximo para envio de faturamento:</strong></label></p>
					<input type="number" name="dia_maximo_envio_fatura" size="100" min="1" max="31" id="dia_maximo_envio_fatura" value="<?= ($update ? $response['dia_maximo_envio_fatura'] : '') ?>">
				</div>
				<br>

				<div>
					<table class="mytable">
						<thead>
						<th>Empresa</th>
						<th><?= htmlentities("Código na Operadora")?></th>
						</thead>
						<?php
						foreach($empresas as $empresa){ ?>
						<tr>
							<td> <?= utf8_encode($empresa['nome']) ?></td>
							<td><input type="text" name="codigo[<?= $empresa ['id']?>]" value="<?= $empresa ['codigo']?>"></td>
						</tr>
						<? } ?>
					</table>
				</div>

        <div class="form-input100" >
          <button type="submit" class='ui-button ui-widget ui-corner-all ui-button-text-only ui-state-hover' id="salvar-operadora">
            <span class='ui-button-text'>Salvar</span>
          </button>
        </div>
				<?php
					if($update):
				?>
						<input type="hidden" name="id" id="id" value="<?= ($response['ID']) ?>">
				<?
					endif;
				?>
      </form>
    </div>
    <div id="left">
      <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
    </div>
  </div>
  </body>
  </html>