<?php require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>
<head>
	<meta charset="UTF-8">
	<?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php'); ?>
	<link rel="stylesheet" href="/utils/global.css"/>
</head>
<div id="content">
	<div id="right">
		<center><h1>Operadoras</h1></center>
		<br>
		<div class="opcoes">
			<a href="?action=operadoras-nova" class='ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only
        ui-state-hover'>
				<span class='ui-button-text'>Nova Operadora</span>
			</a>
		</div>
		<br><br>
		<?php
		$display = "none";
		if(isset($_GET['msg']) && !empty($_GET['msg'])) {
			$msg = base64_decode ($_GET['msg']);
			if ($_GET['type'] === 's') {
				$display = "block";
				$class = "success";
			} elseif($_GET['type'] === 'f') {
				$display = "block";
				$class = "failed";
			} elseif($_GET['type'] === 'w'){
				$display = "block";
				$class = "warning";
			}
		}
		?>
		<div style="display:<?= $display ?>" class="msg <?= $class ?>">
			<strong><?= $msg ?></strong>
		</div>
		<br><br>
		<div id="response">
			<table class='mytable' width='100%' >
				<thead>
				<tr>
					<th width="">NOME</th>
					<th>EMAIL</th>
					<th>OPÇÕES</th>
				</tr>
				</thead>
				<tbody>
				<?php
				$count = count($response);
				if($count > 0){
					foreach($response as $data):
						?>
						<tr>
							<td><?= $data['NOME'] ?></td>
							<td><?= $data['EMAIL'] ?></td>
							<td>
								<a class="visualizar-planos" style="cursor: pointer;" id="<?= $data['ID'] ?>">
									Visualizar Planos Associados
								</a>
								|
								<a href="?action=operadoras-editar&id=<?= $data['ID'] ?>">
									Editar
								</a>
								|
								<a href="javascript:if(confirm('Deseja realmente excluir esse item?')) location.href='?action=operadoras-excluir&id=<?= $data['ID'] ?>';">
									Excluir
								</a>
							</td>
						</tr>
					<?php
					endforeach;
				}else{
					?>
					<tr>
						<td colspan="4" align="center"><strong>Nenhum resultado foi encontrado!</strong></td>
					</tr>
				<?php
				}
				?>
				</tbody>
			</table>
		</div>
		<div id="dialog-planos" title="teste" style="display:none;">
			<div class="wrap" style="font-size: 12pt;">
				<!-- AQUI APARECERÁ OS PLANOS ASSOCIADOS A x OPERADORA -->
			</div>
		</div>
	</div>
	<div id="left">
		<?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
	</div>
</div>

<script type="text/javascript">
	$(function($){
		$("#dialog-planos").dialog({
			autoOpen: false,
			modal: true,
			width: 500,
			buttons: {
				"Fechar": function () {
					$(this).dialog("close");
				}
			}
		});

		$(".visualizar-planos").click(function(){
			var operadora = $(this).attr('id'), i = 0;
			$("#dialog-planos .wrap").html('');
			$.ajax({
				type: "GET",
				url: "/adm/secmed/?action=operadoras-planos-buscar",
				data: {id: operadora},
				success: function (response) {
					response = JSON.parse(response);
					if (response.length > 0) {
						$.each(response, function(index, plano) {
							$("#dialog-planos").dialog("option", "title", 'Planos de Saúde associados a operadora ' + plano.operadora);
							$("#dialog-planos .wrap").append('<p>' + plano.plano + (plano.registro_ans !== null ? ' - ' + plano.registro_ans : '') + '</p>');
						});
					} else {
						$("#dialog-planos").dialog("option", "title", 'Aviso!');
						$("#dialog-planos .wrap").append('Não existem planos de saúde associados a essa operadora!');
					}
					$("#dialog-planos").dialog("open");
				}
			});
		});
	});
</script>

</body>
</html>