<?php require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>
<head>
    <meta charset="UTF-8">
    <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php'); ?>
    <link rel="stylesheet" href="/utils/global.css"/>
</head>
<div id="content">
    <div id="right">
        <center><h1>Prorrogação Planserv</h1></center>
        <br/>
        <center style="color: #9f2b1e">
            <b><?= isset($_GET['msg']) && !empty($_GET['msg']) ? base64_decode($_GET['msg']) : "" ?></b>
        </center>
        <?php if(!empty($cabecalho)) { ?>
        <table width=100% style='border:2px dashed;'>
            <tr>
                <td colspan='2'><label style='font-size:14px;color:#8B0000'><b><center> INFORMA&Ccedil;&Otilde;ES DO PACIENTE </center></b></label></td>
            </tr>
            <tr style='background-color:#EEEEEE;'>
                <td width='70%'><label><b>PACIENTE </b></label></td>
                <td><label><b>SEXO </b></label></td>
            </tr>
            <tr>
                <td><?php echo $cabecalho['paciente'] ?></td>
                <td><?php echo $cabecalho['sexo'] ?></td>
            </tr>

           <tr style='background-color:#EEEEEE;'>
                <td width='70%'><label><b>IDADE </b></label></td>
                <td><label><b>UNIDADE REGIONAL </b></label></td>
           </tr>
           <tr>
                <td><?php echo $cabecalho['nascimento'] ?> <?php echo $cabecalho['idade'] ?> Anos</td>
                <td><?php echo $cabecalho['empresa'] ?></td>
           </tr>

            <tr style='background-color:#EEEEEE;'>
                <td width='70%'><label><b>CONV&Ecirc;NIO </b></label></td>
                <td><label><b>MATR&Iacute;CULA </b></label></td>
            </tr>
            <tr>
                <td><?php echo $cabecalho['convenio'] ?></td>
                <td><?php echo $cabecalho['matricula'] ?></td>
            </tr>
            </table>
        <?php } else { ?>
            <span><?php echo $error ?></span>

        <?php } ?>
        <br>
        <button
            id='nova-ficha-prorrogacao-planserv'
            class='ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only'
            role='button'
            aria-disabled='false'>
            <span class='ui-button-text'>Novo</span>
        </button>
        <?php if(!empty($listaProrrogacao)) : ?>
            <table width=100% class='mytable'>
                <thead>
                    <th>Paciente</th>
                    <th>Profissional</th>
                    <th>Data</th>
                    <th>Período</th>
                    <th>Opções</th>
                </thead>

                <?php
                $countList = count($listaProrrogacao);
                $i = $countList;
                foreach($listaProrrogacao as $list) :
                    $inicio = \DateTime::createFromFormat('Y-m-d', $list['inicio'])->format('d/m/Y');
                    $fim = \DateTime::createFromFormat('Y-m-d', $list['fim'])->format('d/m/Y');
                    $data = \DateTime::createFromFormat('Y-m-d H:i:s', $list['data'])->format('d/m/Y à\s H:i:s');
                    $periodo = sprintf('%s a %s', $inicio, $fim);
                ?>
                    <tr>
                        <td><?= $list['paciente'] ?></td>
                        <td><?= $list['user'] ?></td>
                        <td><?= $data ?></td>
                        <td><?= $periodo ?></td>
                        <td>
                            <img src="/utils/fichas_24x24.png" width="16"
                                 style="cursor: pointer;"
                                 title="Visualizar essa Prorrogação"
                                 class="visualizar-prorrogacao-planserv"
                                 prorrogacao="<?php echo $list['id'] ?>"
                                 border="0">

                            <img src="/utils/word_24x24.png" width="16"
                                 style="cursor: pointer;"
                                 title="Gerar .doc dessa Prorrogação"
                                 class="gerar-doc-prorrogacao-planserv"
                                 prorrogacao="<?php echo $list['id'] ?>"
                                 border="0">

                            <img src="/utils/edit_24x24.png" width="16"
                                 style="cursor: pointer;"
                                 title="Editar essa Prorrogação"
                                 class="editar-prorrogacao-planserv"
                                 prorrogacao="<?php echo $list['id'] ?>"
                                 border="0">
                            <?php if($countList === $i) : ?>
                            <img src="/utils/nova_avaliacao_24x24.png" width="16"
                                 style="cursor: pointer;"
                                 title="Usar essa Prorrogação como Nova"
                                 class="usar-nova-prorrogacao-planserv"
                                 prorrogacao="<?php echo $list['id'] ?>"
                                 border="0">
                            <?php endif; $i--; ?>
                        </td>
                    </tr>
                <?php  endforeach; ?>
            </table>
        <?php
            else:
        ?>
        <table width=100% class='mytable'>
            <thead>
                <th>Paciente</th>
                <th>Profissional</th>
                <th>Data</th>
                <th>Período</th>
                <th>Opções</th>
            </thead>
            <tbody>
                <tr>
                    <td align="center" colspan="5"><?= $error ?></td>
                </tr>
            </tbody>
        </table>
        <?php endif; ?>

    </div>
    <div id="left">
        <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
    </div>
</div>
<div id="dialog-nova-prorrogacao" paciente="<?= $pacienteId ?>" title="Escolha o período da Prorrogação" style="display:none;">
    <div class="wrap" style="font-size: 12pt;">
        <p>
            <fieldset style="width:340px; text-align:center;">
                <legend>
                    <b>Per&iacute;odo</b></legend>
                DE
                <input type='text' name='inicio' value='' maxlength='10' size='10'  class='OBG inicio-periodo' />
                AT&Eacute; <input type='text' name='fim' value='' maxlength='10' size='10'  class='OBG fim-periodo' />
            </fieldset>
        </p>
    </div>
</div>


<script type="text/javascript">
    $(function($){
        $(".editar-prorrogacao-planserv").click(function(){
            var prorrogacao = $(this).attr('prorrogacao');
            window.location.href = '?action=form-prorrogacao-planserv&prorrogacao=' + prorrogacao + '&mode=edit';
        });

        $(".usar-nova-prorrogacao-planserv").click(function(){
            var prorrogacao = $(this).attr('prorrogacao');
            window.location.href = '?action=form-prorrogacao-planserv&prorrogacao=' + prorrogacao + '&mode=toNew';
        });

        $(".visualizar-prorrogacao-planserv").click(function(){
            var prorrogacao = $(this).attr('prorrogacao');
            window.location.href = '?action=visualizar-prorrogacao-planserv&prorrogacao=' + prorrogacao;
        });

        $(".gerar-doc-prorrogacao-planserv").click(function(){
            var prorrogacao = $(this).attr('prorrogacao');
            window.location.href = '?action=gerar-doc-prorrogacao-planserv&prorrogacao=' + prorrogacao;
        });

        $('#nova-ficha-prorrogacao-planserv').click(function(){
            $("#dialog-nova-prorrogacao").dialog('open');
        });

        $(".inicio-periodo").datepicker({
            defaultDate: "+1w",
            changeMonth: true,
            numberOfMonths: 1,
            onClose: function (selectedDate) {
                $(".fim-periodo").datepicker(
                    'option',
                    'minDate',
                    selectedDate
                )
            }
        });

        $(".fim-periodo").datepicker({
            minDate: $(".inicio-periodo").val(),
            defaultDate: "+1w",
            changeMonth: true,
            numberOfMonths: 1
        });

        $("#dialog-nova-prorrogacao").dialog({
            autoOpen: false,
            modal: true,
            width: 500,
            buttons: {
                "Ok": function () {
                    var paciente = $(this).attr('paciente');
                    var inicio   = $('.inicio-periodo').val();
                    var fim      = $('.fim-periodo').val();
                    window.location.href = '?action=form-prorrogacao-planserv&id=' + paciente + '&inicio=' + inicio + '&fim=' + fim;
                },
                "Cancelar": function () {
                    $(this).dialog("close");
                }
            }
        });
    });
</script>

</body>
</html>