<?php require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>
<head>
    <meta charset="UTF-8">
    <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php'); ?>
    <link rel="stylesheet" href="/utils/global.css"/>
    <style type='text/css'>
        .planserv {
            font-family: Times, "Times New Roman", sans-serif;
            font-size: 14px;
        }

        .planserv td {
            border: 1px solid rgb(84,141,212);
            font-family: Times, "Times New Roman", sans-serif;
            font-size: 14px;
            padding-left: 2px;
            padding-right: 2px;
        }

        .planserv tr {
            border: 0 !important;
        }

        .planserv input {
            margin-bottom: 5px;
            margin-top: -10px;
            border: 1.5px solid rgb(84,141,212);
        }

        .planserv textarea {
            margin-left: 2px;
            margin-top: 2px;
            border: 1.5px solid rgb(84,141,212);
        }

        .no-border-top {
            border-top: none !important;
            border-top-style: none !important;
        }

        .row-periodo {
            height: 20px;
            background-color: rgb(84,141,212);
        }

        .row-section {
            text-align: center;
            height: 20px;
            background-color: rgb(84,141,212);
            color: #ffffff;
        }

        .row-title {
            height: 80px;
        }

        .row-title td {
            border: 0px !important;
            font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
            font-size: 22px !important;
            color: rgb(84,141,212);
        }

        .collumn-description {
            height: 20px;
            background-color: rgb(219,229,241);
        }

        .label-especialidade {
            font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
            font-size: 16px !important;
            font-weight: bold;
            color: rgb(84,141,212);
        }

        #fonoterapia-qtd,
        #fisioterapia-qtd,
        #deambula-auxilio,
        #com-lesoes,
        #atb,
        #antifungico {
            display: none;
        }
    </style>
</head>
<div id="content">
    <div id="right">
        <form method="post" action="?action=salvar-prorrogacao-planserv">
            <input type="hidden" name="paciente" value="<?= $pacienteId ?>">
            <input type="hidden" name="inicio" value="<?= \DateTime::createFromFormat('d/m/Y', $inicio)->format('Y-m-d') ?>">
            <input type="hidden" name="fim" value="<?= \DateTime::createFromFormat('d/m/Y', $fim)->format('Y-m-d') ?>">
            <table class="planserv" cellspacing="0" cellpadding="0" align="center" width="765">
                <tbody>
                <tr>
                    <td colspan="12" valign="top" >
                        <table cellpadding="0" cellspacing="0" align="center" width="100%">
                            <tbody>
                            <tr class="row-title">
                                <td width="10%" rowspan="1" align="center" valign="middle">
                                    <img src="../../../utils/logo_ficha_curativo.jpg" width="60" height="60"/>
                                </td>
                                <td width="65%" rowspan="3" align="center" valign="middle">ATENÇÃO DOMICILIAR - PERMANÊNCIA</td>
                                <td width="25%" rowspan="3" align="center" valign="middle">
                                    <img src="../../../utils/logos/padrao_1.jpg" width="201" />
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>

                <!---------------------------------------------------------------------------------------->
                <tr>
                    <td class="row-periodo" colspan="8" valign="top" >
                        <b>PERÍODO:</b>
                        <?= $inicio ?>
                        a
                        <?= $fim ?>
                    </td>
                </tr>
                <tr>
                    <td colspan="6" valign="middle">
                        <p>Beneficiário</p>
                        <?= $cabecalho['paciente'] ?>
                    </td>
                    <td colspan="2" valign="top" >
                        <p>Matrícula</p>
                        <?= $cabecalho['matricula'] ?>
                    </td>
                </tr>
                <tr>
                    <td colspan="6" valign="top" >
                        <p>Diagnóstico</p>
                        <?= $cabecalho['diagnostico'] ?>
                    </td>
                    <td colspan="2" valign="top" >
                        <p>Idade</p>
                        <?= $cabecalho['idade'] ?> ano(s)
                    </td>
                </tr>
                <tr>
                    <td colspan="8" valign="top" >
                        <p>Admissão</p>
                        <input type="date"
                               value="<?= $admissao ?>"
                               size="10"
                               maxlength="10"
                               name="admissao">
                    </td>
                </tr>
                <tr>
                    <td colspan="8" valign="top" >
                        <p>Regime</p>
                        <input type="text"
                               value="<?= $modalidade['modalidade'] ?>"
                               size="80"
                               maxlength="80"
                               name="modalidade">
                    </td>
                </tr>
                <tr>
                    <td colspan="8" valign="top" >
                        <p>Critério Planserv para manutenção (Soma)</p>
                        <input type="number"
                               size="2"
                               maxlength="2"
                               name="criterio">
                    </td>
                </tr>

                <!---------------------------------------------------------------------------------------->

                <tr>
                    <td colspan="8" valign="top" ><p><b>TERAPIAS</b>:</p>
                        <p>
                            <input type="checkbox" name="terapias[fonoterapia]" id="fonoterapia"> FONOTERAPIA
                            <span id="fonoterapia-qtd">(<input type="number" name="terapias[fonoterapia][qtd]" value="0"> X/SEMANA)</span>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="checkbox" name="terapias[fisioterapia]" id="fisioterapia"> FISIOTERAPIA
                            <span id="fisioterapia-qtd">(<input type="number" name="terapias[fisioterapia][qtd]" value="0"> X/SEMANA)</span>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="hidden" name="terapias[o2]" value="n">
                            <input type="checkbox" name="terapias[o2]" value="s"> O2
                        </p>
                    </td>
                </tr>

                <!---------------------------------------------------------------------------------------->

                <tr>
                    <td colspan="2" valign="top" ><p><b>DIETA</b></p>
                        <input type="hidden" name="dieta" value="">
                        <p>
                            <input type="radio" name="dieta" value="art" id="dieta-0"> Artesanal
                            <input type="radio" name="dieta" value="ind" id="dieta-1"> Industrializada
                            <input type="radio" name="dieta" value="mis" id="dieta-2"> Mista
                        </p>
                    </td>
                    <td colspan="6" valign="top" ><p><b>VIA</b></p>
                        <input type="hidden" name="via" value="">
                        <p>
                            <input type="radio" name="via" value="oral" id="via-0"> Oral
                            <input type="radio" name="via" value="sne" id="via-1"> SNE
                            <input type="radio" name="via" value="gtm" id="via-2"> GTM
                            <input type="radio" name="via" value="jej" id="via-3"> JEJUNO
                            <input type="radio" name="via" value="bi" id="via-4"> BI
                            <input type="radio" name="via" value="grav" id="via-5"> Gravitacional
                        </p>
                    </td>
                </tr>

                <!---------------------------------------------------------------------------------------->

                <tr>
                    <td colspan="2" valign="top" align="left" ><p><b>DEAMBULA</b></p>
                        <input type="hidden" name="deambula" value="ss">
                        <p>
                            <input type="radio" name="deambula" value="ss" class="deambula" id="deambula-0"> SIM (sem auxílio)
                        </p>
                        <p>
                            <input type="radio" name="deambula" value="sc" class="deambula" id="deambula-1"> SIM <br>
                            <span id="deambula-auxilio"> (com auxílio de <input type="text" size="10" name="deambula_auxilio" value="">)</span>
                        </p>
                        <p>
                            <input type="radio" name="deambula" value="n" class="deambula" id="deambula-2"> NÃO
                        </p>
                    </td>
                    <td colspan="3" valign="top" ><p><b>DRENOS/CATETER/OSTOMIAS</b></p>
                        <input type="hidden" name="drenos" value="">
                        <p>
                            <input type="radio" name="drenos" value="n" id="drenos-0"> Ausentes
                        </p>
                        <p>
                            <input type="radio" name="drenos" value="s" id="drenos-1"> Presentes
                        </p>
                        <p>
                            FAMÍLIA APTA? <br>
                            <input type="hidden" name="familia_apta" value="">
                            <input type="radio" name="familia_apta" value="s" id="familia_apta-0"> SIM
                            <input type="radio" name="familia_apta" value="n" id="familia_apta-1"> NÃO
                        </p>
                    </td>
                    <td colspan="3" valign="top" ><p><b>INTEGRIDADE CUTÂNEA: </b></p>
                        <p>
                            <input type="radio" name="integridade_cultanea" value="n" class="itc" id="integridade_cultanea-0"> Íntegra
                        </p>
                        <p>
                            <input type="radio"
                                   paciente="<?= $pacienteId ?>"
                                   inicio="<?= \DateTime::createFromFormat('d/m/Y', $inicio)->format('Y-m-d') ?>"
                                   fim="<?= \DateTime::createFromFormat('d/m/Y', $fim)->format('Y-m-d') ?>"
                                   name="integridade_cultanea"
                                   value="s" class="itc"
                                   id="integridade_cultanea-1"> Com lesões: <br>
                            <span id="com-lesoes">
                               <textarea name="integridade_cultanea_lesoes" id="integridade-cultanea-lesoes" cols="22" rows="3"></textarea>
                            </span>
                        </p>
                    </td>
                </tr>

                <!---------------------------------------------------------------------------------------->

                <tr>
                    <td colspan="8" valign="top" >
                        <input type="hidden" name="atb" value="">
                        <p>
                            ATB:
                            <input type="radio" name="atb" value="n" class="atb" id="atb-0"> NÃO
                            <input type="radio" name="atb" value="s" class="atb" id="atb-1"> SIM
                            <span id="atb">
                                    <input type="text" name="atb_descricao" value="">
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    Previsão de término:
                                    <input type="date" name="previsao_termino_atb">
                                </span>
                        </p>
                        <input type="hidden" name="antifungico" value="">
                        <p>
                            ANTIFUNGICO:
                            <input type="radio" name="antifungico" value="n" class="antifungico" id="antifungico-0"> NÃO
                            <input type="radio" name="antifungico" value="s" class="antifungico" id="antifungico-1"> SIM
                            <span id="antifungico">
                                    <input type="text" name="antifungico_descricao" value="">
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    Previsão de término:
                                    <input type="date" name="previsao_termino_antifungico">
                                </span>
                        </p>
                    </td>
                </tr>

                <!---------------------------------------------------------------------------------------->

                <tr>
                    <td class="row-section" colspan="8" valign="top" ><p><b>AVALIAÇÃO CLÍNICA</b></p></td>
                </tr>

                <!---------------------------------------------------------------------------------------->

                <tr>
                    <td colspan="8" valign="top" ><p>Evolução <span class="label-especialidade">MÉDICA</span></p>
                        <input type="hidden" name="medico[relatorio]" value="<?= $just_med['ID'] ?>">
                        <?php
                        if($just_med['just_med'] != ''):
                            ?>
                            <span class="label-especialidade">JUSTIFICATIVA:</span> <br>
                            <textarea name="medico[evolucao]" cols="120" rows="3"><?= trim(strip_tags(stripslashes($just_med['justificativa']))) ?></textarea>
                            <?php
                        else:
                            ?>
                            <span class="label-especialidade">QUADRO CLÍNICO:</span> <br>
                            <textarea name="medico[quadro_clinico]" cols="120" rows="3"><?= trim(strip_tags(stripslashes($just_med['quadro_clinico']))) ?></textarea> <br>
                            <span class="label-especialidade">MODALIDADE DE ATENDIMENTO ATUAL:</span> <br>
                            <textarea name="medico[regime_atual]" cols="120" rows="3"><?= trim(strip_tags(stripslashes($just_med['regime_atual']))) ?></textarea> <br>
                            <span class="label-especialidade">INDICAÇÃO TÉCNICA ATUAL:</span> <br>
                            <textarea name="medico[indicacao_tecnica]" cols="120" rows="3"><?= trim(strip_tags(stripslashes($just_med['indicacao_tecnica']))) ?></textarea>
                        <?php endif; ?>
                    </td>
                </tr>
                <tr class="no-border-top">
                    <td class="no-border-top" colspan="3" valign="top" > </td>
                    <td valign="top" ><p>Data da Visita</p> <input type="date" name="medico[data_visita]"> </td>
                    <td colspan="3" valign="top" ><p>MÉDICO</p> <input type="text" name="medico[nome]" value="<?= $just_med['medico'] ?>"></td>
                    <td valign="top" ><p>CRM</p> <input type="text" name="medico[crm]" value="<?= $just_med['conselho_regional'] ?>"></td>
                </tr>

                <!---------------------------------------------------------------------------------------->

                <tr>
                    <td colspan="8" valign="top" ><p>Evolução <span class="label-especialidade">de ENFERMAGEM</span></p>
                        <input type="hidden" name="enfermagem[relatorio]" value="<?= $just_enf['ID'] ?>">
                        <textarea name="enfermagem[evolucao]" cols="120" rows="3"><?= trim(strip_tags(stripslashes($just_enf['EVOLUCAO_CLINICA']))) ?></textarea>
                    </td>
                </tr>
                <tr class="no-border-top" >
                    <td class="no-border-top" colspan="3" valign="top" > </td>
                    <td valign="top" ><p>Data da Visita</p><input type="date" name="enfermagem[data_visita]"></td>
                    <td colspan="3" valign="top" ><p>ENFERMEIRO</p><input type="text" name="enfermagem[nome]" value="<?= $just_enf['enfermeiro'] ?>"></td>
                    <td valign="top" ><p>COREN</p><input type="text" name="enfermagem[coren]"></td>
                </tr>

                <!---------------------------------------------------------------------------------------->

                <tr>
                    <td colspan="8" valign="top" ><p>Evolução <span class="label-especialidade">NUTRICIONAL</span></p>
                        <textarea name="nutricao[evolucao]" cols="120" rows="3"></textarea>
                    </td>
                </tr>
                <tr class="no-border-top">
                    <td class="no-border-top" colspan="3" valign="top" > </td>
                    <td valign="top" ><p>Data da Visita</p><input type="date" name="nutricao[data_visita]"></td>
                    <td colspan="3" valign="top" ><p>NUTRICIONISTA</p><input type="text" name="nutricao[nome]"></td>
                    <td valign="top" ><p>CRN</p><input type="text" name="nutricao[crn]"></td>
                </tr>

                <!---------------------------------------------------------------------------------------->

                <tr>
                    <td colspan="8" valign="top" ><p>Evolução <span class="label-especialidade">FISIOTERÁPICA</span></p>
                        <textarea name="fisioterapia[evolucao]" cols="120" rows="3"></textarea>
                    </td>
                </tr>
                <tr class="no-border-top">
                    <td class="no-border-top" colspan="3" valign="top" > </td>
                    <td valign="top" ><p>Data da Visita</p><input type="date" name="fisioterapia[data_visita]"></td>
                    <td colspan="3" valign="top" ><p>FISIOTERAPEUTA</p><input type="text" name="fisioterapia[nome]"></td>
                    <td valign="top" ><p>CREFITTO</p><input type="text" name="fisioterapia[crefitto]"></td>
                </tr>

                <!---------------------------------------------------------------------------------------->

                <tr>
                    <td colspan="8" valign="top" ><p>Evolução <span class="label-especialidade">FONOTERÁPICA</span></p>
                        <textarea name="fonoaudiologia[evolucao]" cols="123" rows="3"></textarea>
                    </td>
                </tr>
                <tr class="no-border-top">
                    <td class="no-border-top" colspan="3" valign="top" > </td>
                    <td valign="top" ><p>Data da Visita</p><input type="date" name="fonoaudiologia[data_visita]"></td>
                    <td colspan="3" valign="top" ><p>FONOAUDIÓLOGO</p><input type="text" name="fonoaudiologia[nome]"></td>
                    <td valign="top" ><p>CRFa</p><input type="text" name="fonoaudiologia[crfa]"></td>
                </tr>

                <!---------------------------------------------------------------------------------------->

                <tr>
                    <td class="row-section" colspan="8" valign="top" ><p><b>SOLICITAÇÕES PARA O PERÍODO</b></p></td>
                </tr>
                <tr >
                    <td class="collumn-description" valign="top" ><p>MODALIDADE</p></td>
                    <td colspan="2" valign="top" ><textarea name="solicitacoes[modalidade]" cols="30" rows="3"></textarea></td>
                    <td colspan="2" class="collumn-description" valign="top" ><p>FISIOTERAPIA</p></td>
                    <td colspan="4" valign="top" ><textarea name="solicitacoes[fisioterapia]" cols="30" rows="3"></textarea></td>
                </tr>
                <tr>
                    <td class="collumn-description" valign="top" ><p>FONOTERAPIA</p></td>
                    <td colspan="2" valign="top" ><textarea name="solicitacoes[fonoterapia]" cols="30" rows="3"></textarea></td>
                    <td colspan="2" class="collumn-description" valign="top" ><p>DIETAS/S.O.</p></td>
                    <td colspan="4" valign="top" ><textarea name="solicitacoes[dietas]" cols="30" rows="3"></textarea></td>
                </tr>
                <tr>
                    <td class="collumn-description" valign="top" ><p>CURATIVOS</p></td>
                    <td colspan="2" valign="top" ><textarea name="solicitacoes[curativos]" cols="30" rows="3"></textarea></td>
                    <td colspan="2" class="collumn-description" valign="top" ><p>OXIGENOTERAPIA</p></td>
                    <td colspan="4" valign="top" ><textarea name="solicitacoes[oxigenoterapia]" cols="30" rows="3"></textarea></td>
                </tr>
                <tr>
                    <td class="collumn-description" valign="top" ><p>EQUIPAMENTOS</p></td>
                    <td colspan="2" valign="top" ><textarea name="solicitacoes[equipamentos]" cols="30" rows="3"></textarea></td>
                    <td colspan="2" class="collumn-description" valign="top" ><p>ATB/MED ALTO CUSTO</p></td>
                    <td colspan="4" valign="top" ><textarea name="solicitacoes[atb_med]" cols="30" rows="3"></textarea></td>
                </tr>
                <tr>
                    <td class="collumn-description" valign="top" ><p>VISITA ENF.</p></td>
                    <td colspan="2" valign="top" ><textarea name="solicitacoes[enfermagem]" cols="30" rows="3"></textarea></td>
                    <td colspan="2" class="collumn-description" valign="top" ><p>VISITA NUTRICIONISTA</p></td>
                    <td colspan="4" valign="top" ><textarea name="solicitacoes[nutricao]" cols="30" rows="3"></textarea></td>
                </tr>
                <tr>
                    <td class="collumn-description" valign="top" ><p>VISITA MEDICO</p></td>
                    <td colspan="8" valign="top" ><textarea name="solicitacoes[medico]" cols="102" rows="3"></textarea></td>
                </tr>
                </tbody>
            </table>
            <br>
            <button
                    name="salvar-ficha-prorrogacao"
                    class='ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only'
                    role='button'
                    type="submit"
                    aria-disabled='false'>
                <span class='ui-button-text'>Salvar</span>
            </button>
        </form>
    </div>
    <div id="left">
        <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
    </div>
</div>

<!------------>

<div id="dialog-presenca-lesoes"
     title="Aviso!"
     style="display:none;">
    <div class="wrap" style="font-size: 12pt;">
        <p>
            Esse paciente possui uma prescrição de curativo para o mesmo período! <br/>
            O download da mesma será feito junto a essa prorrogação!
        </p>
    </div>
</div>

<!------------>

<div id="dialog-ausencia-lesoes"
     title="Aviso!"
     style="display:none;">
    <div class="wrap" style="font-size: 12pt;">
        <p>
            Esse paciente não possui uma prescrição de curativo para o mesmo período! <br/>
            Entre em contato com a equipe de enfermagem para providenciá-la! <br/>
            Não é necessário interromper o preenchimento dessa prorrogação,
            você poderá gerar a prescrição de curativo posteriormente.
        </p>
    </div>
</div>

<script type="text/javascript">
    $(function($){
        $("#fonoterapia").change(function(){
            if($(this).is(":checked")) {
                $("#fonoterapia-qtd").show();
            } else {
                $("#fonoterapia-qtd").children('input').val(0);
                $("#fonoterapia-qtd").hide();
            }
        });

        $("#fisioterapia").change(function(){
            if($(this).is(":checked")) {
                $("#fisioterapia-qtd").show();
            } else {
                $("#fisioterapia-qtd").children('input').val(0);
                $("#fisioterapia-qtd").hide();
            }
        });

        $(".deambula").change(function(){
            if($(this).val() == 'sc') {
                $("#deambula-auxilio").show();
            } else {
                $("#deambula-auxilio").children('input').val('');
                $("#deambula-auxilio").hide();
            }
        });

        $("#dialog-presenca-lesoes").dialog({
            autoOpen: false,
            modal: true,
            width: 750,
            buttons: {
                "Ok": function () {
                    $(this).dialog("close");
                    $("#com-lesoes").show();
                    $("#integridade-cultanea-lesoes").focus();
                }
            }
        });

        $("#dialog-ausencia-lesoes").dialog({
            autoOpen: false,
            modal: true,
            width: 750,
            buttons: {
                "Ok": function () {
                    $(this).dialog("close");
                    $("#com-lesoes").show();
                    $("#integridade-cultanea-lesoes").focus();
                }
            }
        });

        $(".itc").change(function(){
            var paciente = $(this).attr('paciente'),
                inicio = $(this).attr('inicio'),
                fim = $(this).attr('fim');

            if($(this).val() == 's') {
                $.ajax({
                    type: "GET",
                    url: "/adm/secmed/?action=buscar-prescricao-curativos-prorrogacao-planserv",
                    data: {paciente: paciente, inicio: inicio, fim: fim},
                    success: function (response) {
                        if(response === '1') {
                            $("#dialog-presenca-lesoes").dialog("open");
                        } else {
                            $("#dialog-ausencia-lesoes").dialog("open");
                        }
                    }
                });
            } else {
                $("#com-lesoes").children('textarea').val('');
                $("#com-lesoes").hide();
            }
        });

        $(".atb").change(function(){
            if($(this).val() == 's') {
                $("#atb").show();
            } else {
                $("#atb").children('input').val('');
                $("#atb").hide();
            }
        });

        $(".antifungico").change(function(){
            if($(this).val() == 's') {
                $("#antifungico").show();
            } else {
                $("#antifungico").children('input').val('');
                $("#antifungico").hide();
            }
        });
    });
</script>

</body>
</html>