<?php require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>
<head>
    <meta charset="UTF-8">
    <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php'); ?>
    <link rel="stylesheet" href="/utils/global.css"/>
    <style type='text/css'>
        .planserv {
            font-family: Times, "Times New Roman", sans-serif;
            font-size: 14px;
        }

            .planserv td {
                border: 1px solid rgb(84,141,212);
                font-family: Times, "Times New Roman", sans-serif;
                font-size: 14px;
                padding-left: 2px;
                padding-right: 2px;
            }

            .planserv tr {
                border: 0 !important;
            }

            .planserv input {
                margin-bottom: 5px;
                margin-top: -10px;
                border: 1.5px solid rgb(84,141,212);
            }

            .planserv textarea {
                margin-left: 2px;
                margin-top: 2px;
                border: 1.5px solid rgb(84,141,212);
            }

        .no-border-top {
            border-top: none !important;
            border-top-style: none !important;
        }

        .row-periodo {
            height: 20px;
            background-color: rgb(84,141,212);
        }

        .row-section {
            text-align: center;
            height: 20px;
            background-color: rgb(84,141,212);
            color: #ffffff;
        }

        .row-title {
            height: 80px;
        }

        .row-title td {
            border: 0px !important;
            font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
            font-size: 22px !important;
            color: rgb(84,141,212);
        }

        .collumn-description {
            height: 20px;
            background-color: rgb(219,229,241);
        }

        .label-especialidade {
            font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
            font-size: 16px !important;
            font-weight: bold;
            color: rgb(84,141,212);
        }

        #fonoterapia-qtd,
        #fisioterapia-qtd,
        #deambula-auxilio,
        #com-lesoes,
        #atb,
        #antifungico {
            display: none;
        }
    </style>
</head>
<div id="content">
    <div id="right">
        <form method="post" action="<?= $mode == 'edit' ? "?action=editar-prorrogacao-planserv" : "?action=salvar-prorrogacao-planserv" ?>">
            <input type="hidden" name="paciente" value="<?= $response['paciente_id'] ?>">
            <input type="hidden" name="prorrogacao" value="<?= $prorrogacaoId ?>">
            <input type="hidden" name="inicio" value="<?= $response['inicio'] ?>">
            <input type="hidden" name="fim" value="<?= $response['fim'] ?>">
            <table class="planserv" cellspacing="0" cellpadding="0" align="center" width="765">
                <tbody>
                <tr>
                    <td colspan="12" valign="top" >
                        <table cellpadding="0" cellspacing="0" align="center" width="100%">
                            <tbody>
                            <tr class="row-title">
                                <td width="10%" rowspan="1" align="center" valign="middle">
                                    <img src="../../../utils/logo_ficha_curativo.jpg" width="60" height="60"/>
                                </td>
                                <td width="65%" rowspan="3" align="center" valign="middle">ATENÇÃO DOMICILIAR - PERMANÊNCIA</td>
                                <td width="25%" rowspan="3" align="center" valign="middle">
                                    <img src="../../../utils/logos/padrao_1.jpg" width="201" />
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>

                <!---------------------------------------------------------------------------------------->
                <tr>
                    <td class="row-periodo" colspan="8" valign="top" >
                        <b>PERÍODO:</b>
                        <?php if($mode === 'toNew'): ?>
                        <input type="date" name="inicio" value="<?= $response['inicio'] ?>">
                        a
                        <input type="date" name="fim" value="<?= $response['fim']  ?>">
                        <?php else: ?>
                            <?= $inicio ?>
                            a
                            <?= $fim ?>
                        <?php endif; ?>
                    </td>
                </tr>
                <tr>
                    <td colspan="6" valign="middle">
                        <p>Beneficiário</p>
                        <?= $cabecalho['paciente'] ?>
                    </td>
                    <td colspan="2" valign="top" >
                        <p>Matrícula</p>
                        <?= $cabecalho['matricula'] ?>
                    </td>
                </tr>
                <tr>
                    <td colspan="6" valign="top" >
                        <p>Diagnóstico</p>
                        <?= $cabecalho['diagnostico'] ?>
                    </td>
                    <td colspan="2" valign="top" >
                        <p>Idade</p>
                        <?= $cabecalho['idade'] ?> ano(s)
                    </td>
                </tr>
                <tr>
                    <td colspan="8" valign="top" >
                        <p>Admissão</p>
                        <input type="date"
                               value="<?= $response['admissao'] ?>"
                               size="10"
                               maxlength="10"
                               name="admissao">
                    </td>
                </tr>
                <tr>
                    <td colspan="8" valign="top" >
                        <p>Regime</p>
                        <input type="text"
                               value="<?= $response['modalidade'] ?>"
                               size="80"
                               maxlength="80"
                               name="modalidade">
                    </td>
                </tr>
                <tr>
                    <td colspan="8" valign="top" >
                        <p>Critério Planserv para manutenção (Soma)</p>
                        <input type="number"
                               size="2"
                               value="<?= $response['criterio'] ?>"
                               maxlength="2"
                               name="criterio">
                    </td>
                </tr>

                <!---------------------------------------------------------------------------------------->

                <tr>
                    <td colspan="8" valign="top" ><p><b>TERAPIAS</b>:</p>
                        <p>
                            <input type="checkbox" <?= $response['terapia_fonoterapia'] != 0 ? "checked" : "" ?> name="terapias[fonoterapia]" id="fonoterapia"> FONOTERAPIA
                                <span id="fonoterapia-qtd" <?= $response['terapia_fonoterapia'] != 0 ? "style='display:block;'" : "" ?>>(<input type="number" name="terapias[fonoterapia][qtd]" value="<?= $response['terapia_fonoterapia'] ?>"> X/SEMANA)</span>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="checkbox" <?= $response['terapia_fisioterapia'] != 0 ? "checked" : "" ?> name="terapias[fisioterapia]" id="fisioterapia"> FISIOTERAPIA
                                <span id="fisioterapia-qtd" <?= $response['terapia_fisioterapia'] != 0 ? "style='display:block;'" : "" ?>>(<input type="number" name="terapias[fisioterapia][qtd]" value="<?= $response['terapia_fisioterapia'] ?>"> X/SEMANA)</span>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="hidden" name="terapias[o2]" value="n">
                            <input type="checkbox" <?= $response['terapia_o2'] == 's' ? "checked" : "" ?> name="terapias[o2]" value="s"> O2
                        </p>
                    </td>
                </tr>

                <!---------------------------------------------------------------------------------------->

                <tr>
                    <td colspan="2" valign="top" ><p><b>DIETA</b></p>
                        <input type="hidden" name="dieta" value="">
                        <p>
                            <input type="radio" <?= $response['dieta'] == 'art' ? "checked" : "" ?> name="dieta" value="art" id="dieta-0"> Artesanal
                            <input type="radio" <?= $response['dieta'] == 'ind' ? "checked" : "" ?> name="dieta" value="ind" id="dieta-1"> Industrializada
                            <input type="radio" <?= $response['dieta'] == 'mis' ? "checked" : "" ?> name="dieta" value="mis" id="dieta-2"> Mista
                        </p>
                    </td>
                    <td colspan="6" valign="top" ><p><b>VIA</b></p>
                        <input type="hidden" name="via" value="">
                        <p>
                            <input type="radio" <?= $response['via'] == 'oral' ? "checked" : "" ?> name="via" value="oral" id="via-0"> Oral
                            <input type="radio" <?= $response['via'] == 'sne' ? "checked" : "" ?> name="via" value="sne" id="via-1"> SNE
                            <input type="radio" <?= $response['via'] == 'gtm' ? "checked" : "" ?> name="via" value="gtm" id="via-2"> GTM
                            <input type="radio" <?= $response['via'] == 'jej' ? "checked" : "" ?> name="via" value="jej" id="via-3"> JEJUNO
                            <input type="radio" <?= $response['via'] == 'bi' ? "checked" : "" ?> name="via" value="bi" id="via-4"> BI
                            <input type="radio" <?= $response['via'] == 'grav' ? "checked" : "" ?> name="via" value="grav" id="via-5"> Gravitacional
                        </p>
                    </td>
                </tr>

                <!---------------------------------------------------------------------------------------->

                <tr>
                    <td colspan="2" valign="top" align="left" ><p><b>DEAMBULA</b></p>
                        <input type="hidden" name="deambula" value="">
                        <p>
                            <input type="radio" <?= $response['deambula'] == 'ss' ? "checked" : "" ?> name="deambula" value="ss" class="deambula" id="deambula-0"> SIM (sem auxílio)
                        </p>
                        <p>
                            <input type="radio" <?= $response['deambula'] == 'sc' ? "checked" : "" ?> name="deambula" value="sc" class="deambula" id="deambula-1"> SIM <br>
                            <span id="deambula-auxilio" <?= $response['deambula'] == 'sc' ? "style='display:block;'" : "" ?>> (com auxílio de <input type="text" size="10" name="deambula_auxilio" value="<?= $response['deambula_auxilio']?>">)</span>
                        </p>
                        <p>
                            <input type="radio" <?= $response['deambula'] == 'n' ? "checked" : "" ?> name="deambula" value="n" class="deambula" id="deambula-2"> NÃO
                        </p>
                    </td>
                    <td colspan="3" valign="top" ><p><b>DRENOS/CATETER/OSTOMIAS</b></p>
                        <input type="hidden" name="drenos" value="">
                        <p>
                            <input type="radio" <?= $response['drenos'] == 'n' ? "checked" : "" ?> name="drenos" value="n" id="drenos-0"> Ausentes
                        </p>
                        <p>
                            <input type="radio" <?= $response['drenos'] == 's' ? "checked" : "" ?> name="drenos" value="s" id="drenos-1"> Presentes
                        </p>
                        <p>
                            FAMÍLIA APTA? <br>
                            <input type="hidden" name="familia_apta" value="">
                            <input type="radio" <?= $response['familia_apta'] == 's' ? "checked" : "" ?> name="familia_apta" value="s" id="familia_apta-0"> SIM
                            <input type="radio" <?= $response['familia_apta'] == 'n' ? "checked" : "" ?> name="familia_apta" value="n" id="familia_apta-1"> NÃO
                        </p>
                    </td>
                    <td colspan="3" valign="top" ><p><b>INTEGRIDADE CUTÂNEA: </b></p>
                        <p>
                            <input type="radio" <?= $response['integridade_cultanea'] == 'n' ? "checked" : "" ?> name="integridade_cultanea" value="n" class="itc" id="integridade_cultanea-0"> Íntegra
                        </p>
                        <p>
                            <input type="radio" <?= $response['integridade_cultanea'] == 's' ? "checked" : "" ?> name="integridade_cultanea" value="s" class="itc" id="integridade_cultanea-1"> Com lesões: <br>
                            <span id="com-lesoes" <?= $response['integridade_cultanea'] == 's' ? "style='display:block;'" : "" ?>>
                               <textarea name="integridade_cultanea_lesoes" cols="22" rows="3"><?= strip_tags(stripslashes($response['lesoes'])) ?></textarea>
                            </span>
                        </p>
                    </td>
                </tr>

                <!---------------------------------------------------------------------------------------->

                <tr>
                    <td colspan="8" valign="top" >
                        <input type="hidden" name="atb" value="">
                        <p>
                            ATB:
                            <input type="radio" <?= $response['atb'] == 'n' ? "checked" : "" ?> name="atb" value="n" class="atb" id="atb-0"> NÃO
                            <input type="radio" <?= $response['atb'] == 's' ? "checked" : "" ?> name="atb" value="s" class="atb" id="atb-1"> SIM
                                <span id="atb" <?= $response['atb'] == 's' ? "style='display:block;'" : "" ?>>
                                    <input type="text" name="atb_descricao" value="<?= $response['atb_descricao'] ?>">
                                    Previsão de término:
                                    <input type="date" name="previsao_termino_atb" value="<?= $response['previsao_termino_atb'] ?>">
                                </span>
                        </p>
                        <input type="hidden" name="antifungico" value="">
                        <p>
                            ANTIFUNGICO:
                            <input type="radio" <?= $response['antifungico'] == 'n' ? "checked" : "" ?> name="antifungico" value="n" class="antifungico" id="antifungico-0"> NÃO
                            <input type="radio" <?= $response['antifungico'] == 's' ? "checked" : "" ?> name="antifungico" value="s" class="antifungico" id="antifungico-1"> SIM
                                <span id="antifungico" <?= $response['antifungico'] == 's' ? "style='display:block;'" : "" ?>>
                                    <input type="text" name="antifungico_descricao" value="<?= $response['antifungico_descricao'] ?>">
                                    Previsão de término:
                                    <input type="date" name="previsao_termino_antifungico" value="<?= $response['previsao_termino_antifungico'] ?>">
                                </span>
                        </p>
                    </td>
                </tr>

                <!---------------------------------------------------------------------------------------->

                <tr>
                    <td class="row-section" colspan="8" valign="top" ><p><b>AVALIAÇÃO CLÍNICA</b></p></td>
                </tr>

                <!---------------------------------------------------------------------------------------->

                <tr>
                    <td colspan="8" valign="top" ><p>Evolução <span class="label-especialidade">MÉDICA</span></p>
                        <input type="hidden" name="medico[relatorio]" value="<?= $response['prorrogacao_medica'] ?>">
                        <?php
                        if($response['evolucao_medica'] != ''):
                            ?>
                            <span class="label-especialidade">JUSTIFICATIVA:</span> <br>
                            <textarea name="medico[evolucao]" cols="120" rows="3"><?= strip_tags(stripslashes($response['evolucao_medica'])) ?></textarea>
                        <?php else: ?>
                            <span class="label-especialidade">QUADRO CLÍNICO:</span> <br>
                            <textarea name="medico[quadro_clinico]" cols="120" rows="3"><?= strip_tags(stripslashes($response['quadro_clinico'])) ?></textarea>
                            <span class="label-especialidade">MODALIDADE DE ATENDIMENTO ATUAL:</span> <br>
                            <textarea name="medico[regime_atual]" cols="120" rows="3"><?= strip_tags(stripslashes($response['regime_atual'])) ?></textarea>
                            <span class="label-especialidade">INDICAÇÃO TÉCNICA ATUAL:</span> <br>
                            <textarea name="medico[indicacao_tecnica]" cols="120" rows="3"><?= strip_tags(stripslashes($response['indicacao_tecnica'])) ?></textarea>
                        <?php endif; ?>
                    </td>
                </tr>
                <tr class="no-border-top">
                    <td class="no-border-top" colspan="3" valign="top" > </td>
                    <td valign="top" ><p>Data da Visita</p> <input type="date" name="medico[data_visita]" value="<?= $response['data_visita_medica'] ?>"> </td>
                    <td colspan="3" valign="top" ><p>MÉDICO</p> <input type="text" name="medico[nome]" value="<?= $response['medico'] ?>"></td>
                    <td valign="top" ><p>CRM</p> <input type="text" name="medico[crm]" value="<?= $response['crm'] ?>"></td>
                </tr>

                <!---------------------------------------------------------------------------------------->

                <tr>
                    <td colspan="8" valign="top" ><p>Evolução <span class="label-especialidade">de ENFERMAGEM</span></p>
                        <input type="hidden" name="enfermagem[relatorio]" value="<?= $response['prorrogacao_enfermagem'] ?>">
                        <textarea name="enfermagem[evolucao]" cols="120" rows="3"><?= strip_tags(stripslashes($response['evolucao_enfermagem'])) ?></textarea>
                    </td>
                </tr>
                <tr class="no-border-top" >
                    <td class="no-border-top" colspan="3" valign="top" > </td>
                    <td valign="top" ><p>Data da Visita</p><input type="date" name="enfermagem[data_visita]" value="<?= $response['data_visita_enfermagem'] ?>"></td>
                    <td colspan="3" valign="top" ><p>ENFERMEIRO</p><input type="text" name="enfermagem[nome]" value="<?= $response['enfermeiro'] ?>"></td>
                    <td valign="top" ><p>COREN</p><input type="text" name="enfermagem[coren]" value="<?= $response['coren'] ?>"></td>
                </tr>

                <!---------------------------------------------------------------------------------------->

                <tr>
                    <td colspan="8" valign="top" ><p>Evolução <span class="label-especialidade">NUTRICIONAL</span></p>
                        <input type="hidden" name="nutricao[relatorio]" value="<?= $response['prorrogacao_nutricao'] ?>">
                        <textarea name="nutricao[evolucao]" cols="120" rows="3"><?= strip_tags(stripslashes($response['evolucao_nutricao'])) ?></textarea>
                    </td>
                </tr>
                <tr class="no-border-top">
                    <td class="no-border-top" colspan="3" valign="top" > </td>
                    <td valign="top" ><p>Data da Visita</p><input type="date" name="nutricao[data_visita]" value="<?= $response['data_visita_nutricao'] ?>"></td>
                    <td colspan="3" valign="top" ><p>NUTRICIONISTA</p><input type="text" name="nutricao[nome]" value="<?= $response['nutricionista'] ?>"></td>
                    <td valign="top" ><p>CRN</p><input type="text" name="nutricao[crn]" value="<?= $response['crn'] ?>"></td>
                </tr>

                <!---------------------------------------------------------------------------------------->

                <tr>
                    <td colspan="8" valign="top" ><p>Evolução <span class="label-especialidade">FISIOTERÁPICA</span></p>
                        <input type="hidden" name="fisioterapia[relatorio]" value="<?= $response['prorrogacao_fisioterapia'] ?>">
                        <textarea name="fisioterapia[evolucao]" cols="120" rows="3"><?= strip_tags(stripslashes($response['evolucao_fisioterapia'])) ?></textarea>
                    </td>
                </tr>
                <tr class="no-border-top">
                    <td class="no-border-top" colspan="3" valign="top" > </td>
                    <td valign="top" ><p>Data da Visita</p><input type="date" name="fisioterapia[data_visita]" value="<?= $response['data_visita_fisioterapia'] ?>"></td>
                    <td colspan="3" valign="top" ><p>FISIOTERAPEUTA</p><input type="text" name="fisioterapia[nome]" value="<?= $response['fisioterapeuta'] ?>"></td>
                    <td valign="top" ><p>CREFITTO</p><input type="text" name="fisioterapia[crefitto]" value="<?= $response['crefitto'] ?>"></td>
                </tr>

                <!---------------------------------------------------------------------------------------->

                <tr>
                    <td colspan="8" valign="top" ><p>Evolução <span class="label-especialidade">FONOTERÁPICA</span></p>
                        <input type="hidden" name="fonoaudiologia[relatorio]" value="<?= $response['prorrogacao_fonoaudiologia'] ?>">
                        <textarea name="fonoaudiologia[evolucao]" cols="123" rows="3"><?= strip_tags(stripslashes($response['evolucao_fonoaudiologia'])) ?></textarea>
                    </td>
                </tr>
                <tr class="no-border-top">
                    <td class="no-border-top" colspan="3" valign="top" > </td>
                    <td valign="top" ><p>Data da Visita</p><input type="date" name="fonoaudiologia[data_visita]" value="<?= $response['data_visita_fonoaudiologia'] ?>"></td>
                    <td colspan="3" valign="top" ><p>FONOAUDIÓLOGO</p><input type="text" name="fonoaudiologia[nome]" value="<?= $response['fonoaudiologo'] ?>"></td>
                    <td valign="top" ><p>CRFa</p><input type="text" name="fonoaudiologia[crfa]" value="<?= $response['crfa'] ?>"></td>
                </tr>

                <!---------------------------------------------------------------------------------------->

                <tr>
                    <td class="row-section" colspan="8" valign="top" ><p><b>SOLICITAÇÕES PARA O PERÍODO</b></p></td>
                </tr>
                <tr >
                    <td class="collumn-description" valign="top" ><p>MODALIDADE</p></td>
                    <td colspan="2" valign="top" >
                        <textarea name="solicitacoes[modalidade]" cols="30" rows="3"><?= strip_tags(stripslashes($response['solicitacoes_modalidade'])) ?></textarea>
                    </td>
                    <td colspan="2" class="collumn-description" valign="top" ><p>FISIOTERAPIA</p></td>
                    <td colspan="4" valign="top" >
                        <textarea name="solicitacoes[fisioterapia]" cols="30" rows="3"><?= strip_tags(stripslashes($response['solicitacoes_fisioterapia'])) ?></textarea>
                    </td>
                </tr>
                <tr>
                    <td class="collumn-description" valign="top" ><p>FONOTERAPIA</p></td>
                    <td colspan="2" valign="top" >
                        <textarea name="solicitacoes[fonoterapia]" cols="30" rows="3"><?= strip_tags(stripslashes($response['solicitacoes_fonoterapia'])) ?></textarea>
                    </td>
                    <td colspan="2" class="collumn-description" valign="top" ><p>DIETAS/S.O.</p></td>
                    <td colspan="4" valign="top" >
                        <textarea name="solicitacoes[dietas]" cols="30" rows="3"><?= strip_tags(stripslashes($response['solicitacoes_dietas'])) ?></textarea>
                    </td>
                </tr>
                <tr>
                    <td class="collumn-description" valign="top" ><p>CURATIVOS</p></td>
                    <td colspan="2" valign="top" >
                        <textarea name="solicitacoes[curativos]" cols="30" rows="3"><?= strip_tags(stripslashes($response['solicitacoes_curativos'])) ?></textarea>
                    </td>
                    <td colspan="2" class="collumn-description" valign="top" ><p>OXIGENOTERAPIA</p></td>
                    <td colspan="4" valign="top" >
                        <textarea name="solicitacoes[oxigenoterapia]" cols="30" rows="3"><?= strip_tags(stripslashes($response['solicitacoes_oxigenoterapia'])) ?></textarea>
                    </td>
                </tr>
                <tr>
                    <td class="collumn-description" valign="top" ><p>EQUIPAMENTOS</p></td>
                    <td colspan="2" valign="top" >
                        <textarea name="solicitacoes[equipamentos]" cols="30" rows="3"><?= strip_tags(stripslashes($response['solicitacoes_equipamentos'])) ?></textarea>
                    </td>
                    <td colspan="2" class="collumn-description" valign="top" ><p>ATB/MED ALTO CUSTO</p></td>
                    <td colspan="4" valign="top" >
                        <textarea name="solicitacoes[atb_med]" cols="30" rows="3"><?= strip_tags(stripslashes($response['solicitacoes_atb_med'])) ?></textarea>
                    </td>
                </tr>
                <tr>
                    <td class="collumn-description" valign="top" ><p>VISITA ENF.</p></td>
                    <td colspan="2" valign="top" ><textarea name="solicitacoes[enfermagem]" cols="30" rows="3"><?= strip_tags(stripslashes($response['solicitacoes_enfermagem'])) ?></textarea></td>
                    <td colspan="2" class="collumn-description" valign="top" ><p>VISITA NUTRICIONISTA</p></td>
                    <td colspan="4" valign="top" ><textarea name="solicitacoes[nutricao]" cols="30" rows="3"><?= strip_tags(stripslashes($response['solicitacoes_nutricao'])) ?></textarea></td>
                </tr>
                <tr>
                    <td class="collumn-description" valign="top" ><p>VISITA MEDICO</p></td>
                    <td colspan="8" valign="top" ><textarea name="solicitacoes[medico]" cols="102" rows="3"><?= strip_tags(stripslashes($response['solicitacoes_medico'])) ?></textarea></td>
                </tr>
                </tbody>
            </table>
            <br>
            <button
                name="salvar-ficha-prorrogacao"
                class='ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only'
                role='button'
                type="submit"
                aria-disabled='false'>
                <span class='ui-button-text'>Salvar</span>
            </button>
        </form>
    </div>
    <div id="left">
        <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
    </div>
</div>

<?php if($mode == 'toNew'): ?>
<!------------>

<div id="dialog-presenca-lesoes"
     title="Aviso!"
     style="display:none;">
    <div class="wrap" style="font-size: 12pt;">
        <p>
            Esse paciente possui uma prescrição de curativo para o mesmo período! <br/>
            O download da mesma será feito junto a essa prorrogação!
        </p>
    </div>
</div>

<!------------>

<div id="dialog-ausencia-lesoes"
     title="Aviso!"
     style="display:none;">
    <div class="wrap" style="font-size: 12pt;">
        <p>
            Esse paciente não possui uma prescrição de curativo para o mesmo período! <br/>
            Entre em contato com a equipe de enfermagem para providenciá-la! <br/>
            Não é necessário interromper o preenchimento dessa prorrogação,
            você poderá gerar a prescrição de curativo posteriormente.
        </p>
    </div>
</div>
<?php endif; ?>

<script type="text/javascript">
    $(function($){
        $("#fonoterapia").change(function(){
            if($(this).is(":checked")) {
                $("#fonoterapia-qtd").show();
            } else {
                $("#fonoterapia-qtd").children('input').val(0);
                $("#fonoterapia-qtd").hide();
            }
        });

        $("#fisioterapia").change(function(){
            if($(this).is(":checked")) {
                $("#fisioterapia-qtd").show();
            } else {
                $("#fisioterapia-qtd").children('input').val(0);
                $("#fisioterapia-qtd").hide();
            }
        });

        $(".deambula").change(function(){
            if($(this).val() == 'sc') {
                $("#deambula-auxilio").show();
            } else {
                $("#deambula-auxilio").children('input').val('');
                $("#deambula-auxilio").hide();
            }
        });

        <?php if($mode == 'toNew'): ?>

        $("#dialog-presenca-lesoes").dialog({
            autoOpen: false,
            modal: true,
            width: 750,
            buttons: {
                "Ok": function () {
                    $(this).dialog("close");
                    $("#com-lesoes").show();
                    $("#integridade-cultanea-lesoes").focus();
                }
            }
        });

        $("#dialog-ausencia-lesoes").dialog({
            autoOpen: false,
            modal: true,
            width: 750,
            buttons: {
                "Ok": function () {
                    $(this).dialog("close");
                    $("#com-lesoes").show();
                    $("#integridade-cultanea-lesoes").focus();
                }
            }
        });

        $(".itc").change(function(){
            var paciente = $(this).attr('paciente'),
                inicio = $(this).attr('inicio'),
                fim = $(this).attr('fim');

            if($(this).val() == 's') {
                $.ajax({
                    type: "GET",
                    url: "/adm/secmed/?action=buscar-prescricao-curativos-prorrogacao-planserv",
                    data: {paciente: paciente, inicio: inicio, fim: fim},
                    success: function (response) {
                        if(response === '1') {
                            $("#dialog-presenca-lesoes").dialog("open");
                        } else {
                            $("#dialog-ausencia-lesoes").dialog("open");
                        }
                    }
                });
            } else {
                $("#com-lesoes").children('textarea').val('');
                $("#com-lesoes").hide();
            }
        });

        <?php else: ?>

        $(".itc").change(function(){
            if($(this).val() == 's') {
                $("#com-lesoes").show();
            } else {
                $("#com-lesoes").children('textarea').val('');
                $("#com-lesoes").hide();
            }
        });

        <?php endif; ?>

        $(".atb").change(function(){
            if($(this).val() == 's') {
                $("#atb").show();
            } else {
                $("#atb").children('input').val('');
                $("#atb").hide();
            }
        });

        $(".antifungico").change(function(){
            if($(this).val() == 's') {
                $("#antifungico").show();
            } else {
                $("#antifungico").children('input').val('');
                $("#antifungico").hide();
            }
        });
    });
</script>

</body>
</html>