<?php require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>
<head>
    <meta charset="UTF-8">
    <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php'); ?>
    <link rel="stylesheet" href="/utils/global.css"/>
    <style type='text/css'>
        .planserv {
            font-family: Times, "Times New Roman", sans-serif;
            font-size: 14px;
        }

        .planserv td {
            border: 1px solid rgb(84,141,212);
            font-family: Times, "Times New Roman", sans-serif;
            font-size: 14px;
        }

        .planserv tr {
            border: 0 !important;
        }

        .planserv input {
            margin-bottom: 5px;
            margin-top: -10px;
            border: 1.5px solid rgb(84,141,212);
        }

        .planserv textarea {
            margin-left: 2px;
            margin-top: 2px;
            border: 1.5px solid rgb(84,141,212);
        }

        .no-border-top {
            border-top: none !important;
            border-top-style: none !important;
        }

        .row-periodo {
            height: 20px;
            background-color: rgb(84,141,212);
        }

        .row-section {
            text-align: center;
            height: 20px;
            background-color: rgb(84,141,212);
            color: #ffffff;
        }

        .row-title {
            height: 80px;
        }

        .row-title td {
            border: 0px !important;
            font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
            font-size: 22px !important;
            color: rgb(84,141,212);
        }

        .collumn-description {
            height: 20px;
            background-color: rgb(219,229,241);
        }

        .label-especialidade {
            font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
            font-size: 16px !important;
            font-weight: bold;
            color: rgb(84,141,212);
        }

        #fonoterapia-qtd,
        #fisioterapia-qtd,
        #deambula-auxilio,
        #com-lesoes,
        #atb,
        #antifungico {
            display: none;
        }
    </style>
</head>
<div id="content">
    <div id="right">
        <table class="planserv" cellspacing="0" cellpadding="0" align="center" width="765">
            <tbody>
            <tr>
                <td colspan="12" valign="top" >
                    <table cellpadding="0" cellspacing="0" align="center" width="100%">
                        <tbody>
                        <tr class="row-title">
                            <td width="10%" rowspan="1" align="center" valign="middle">
                                <img src="../../../utils/logo_ficha_curativo.jpg" width="60" height="60"/>
                            </td>
                            <td width="65%" rowspan="3" align="center" valign="middle">ATENÇÃO DOMICILIAR - PERMANÊNCIA</td>
                            <td width="25%" rowspan="3" align="center" valign="middle">
                                <img src="../../../utils/logos/<?= $logo ?>" width="201" />
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>

            <!---------------------------------------------------------------------------------------->
            <tr>
                <td class="row-periodo" colspan="8" valign="top" >
                    <b>PERÍODO:</b>
                    <?= $inicio ?>
                    a
                    <?= $fim ?>
                </td>
            </tr>
            <tr>
                <td colspan="6" valign="middle">
                    <p>Beneficiário</p>
                    <?= $cabecalho['paciente'] ?>
                </td>
                <td colspan="2" valign="top" >
                    <p>Matrícula</p>
                    <?= $cabecalho['matricula'] ?>
                </td>
            </tr>
            <tr>
                <td colspan="6" valign="top" >
                    <p>Diagnóstico</p>
                    <?= $cabecalho['diagnostico'] ?>
                </td>
                <td colspan="2" valign="top" >
                    <p>Idade</p>
                    <?= $cabecalho['idade'] ?> ano(s)
                </td>
            </tr>
            <tr>
                <td colspan="8" valign="top" >
                    <p>Admissão</p>
                    <?= isset($response['admissao']) && !empty($response['admissao']) ? \DateTime::createFromFormat('Y-m-d', $response['admissao'])->format('d/m/Y') : "" ?>
                </td>
            </tr>
            <tr>
                <td colspan="8" valign="top" >
                    <p>Regime</p>
                    <?= $response['modalidade'] ?>
                </td>
            </tr>
            <tr>
                <td colspan="8" valign="top" >
                    <p>Critério Planserv para manutenção (Soma)</p>
                    <?= $response['criterio'] ?>
                </td>
            </tr>

            <!---------------------------------------------------------------------------------------->

            <tr>
                <td colspan="8" valign="top" ><p><b>TERAPIAS</b>:</p>
                    <p>
                        <?= $response['terapia_fonoterapia'] != 0 ?
                            "☑ FONOTERAPIA ({$response['terapia_fonoterapia']} X/SEMANA)" :
                            "□ FONOTERAPIA (____X/SEMANA)"
                        ?>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <?= $response['terapia_fisioterapia'] != 0 ?
                            "☑ FISIOTERAPIA ({$response['terapia_fisioterapia']} X/SEMANA)" :
                            "□ FISIOTERAPIA (____X/SEMANA)"
                        ?>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <?= $response['terapia_o2'] == 's' ? "☑ O2" : "□ O2" ?>
                    </p>
                </td>
            </tr>

            <!---------------------------------------------------------------------------------------->

            <tr>
                <td colspan="2" valign="top" ><p><b>DIETA</b></p>
                    <p>
                        <?= $response['dieta'] == 'art' ? "☑" : "□" ?> Artesanal
                        <?= $response['dieta'] == 'ind' ? "☑" : "□" ?> Industrializada
                        <?= $response['dieta'] == 'mis' ? "☑" : "□" ?> Mista
                    </p>
                </td>
                <td colspan="6" valign="top" ><p><b>VIA</b></p>
                    <p>
                        <?= $response['via'] == 'oral' ? "☑" : "□" ?> Oral
                        <?= $response['via'] == 'sne' ? "☑" : "□" ?> SNE
                        <?= $response['via'] == 'gtm' ? "☑" : "□" ?> GTM
                        <?= $response['via'] == 'jej' ? "☑" : "□" ?> JEJUNO
                        <?= $response['via'] == 'bi' ? "☑" : "□" ?> BI
                        <?= $response['via'] == 'grav' ? "☑" : "□" ?> Gravitacional
                    </p>
                </td>
            </tr>

            <!---------------------------------------------------------------------------------------->

            <tr>
                <td colspan="2" valign="top" align="left" ><p><b>DEAMBULA</b></p>
                    <p><?= $response['deambula'] == 'ss' ? "☑" : "□" ?> SIM (sem auxílio)</p>

                    <p>
                        <?= $response['deambula'] == 'sc' ?
                            "☑ SIM (com auxílio de <u>{$response['deambula_auxilio']}</u>)" :
                            "□ SIM (com auxílio de ________________)" ?>
                    </p>

                    <p><?= $response['deambula'] == 'n' ? "☑" : "□" ?> NÃO</p>
                </td>
                <td colspan="3" valign="top" ><p><b>DRENOS/CATETER/OSTOMIAS</b></p>
                    <p><?= $response['drenos'] == 'n' ? "☑" : "□" ?> Ausentes</p>
                    <p><?= $response['drenos'] == 's' ? "☑" : "□" ?> Presentes</p>
                    <p>FAMÍLIA APTA?
                        <?= $response['familia_apta'] == 's' ? "☑" : "□" ?> SIM
                        <?= $response['familia_apta'] == 'n' ? "☑" : "□" ?> NÃO
                    </p>
                </td>
                <td colspan="3" valign="top" ><p><b>INTEGRIDADE CUTÂNEA: </b></p>
                    <p><?= $response['integridade_cultanea'] == 'n' ? "☑" : "□" ?> Íntegra </p>
                    <p><?= $response['integridade_cultanea'] == 's' ? "☑" : "□" ?> Com lesões:</p>
                    <?= stripslashes($response['lesoes']) ?>
                </td>
            </tr>

            <!---------------------------------------------------------------------------------------->

            <tr>
                <td colspan="8" valign="top" >
                    <p>
                        ATB: <?= $response['atb'] == 'n' ? "☑" : "□" ?> NÃO
                        <?= $response['atb'] == 's' ? "☑ SIM <u>{$response['atb_descricao']}</u>" : "□ SIM_____________" ?>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        ANTIFUNGICO: <?= $response['antifungico'] == 'n' ? "☑" : "□" ?> NÃO
                        <?= $response['antifungico'] == 's' ? "☑ SIM <u>{$response['antifungico_descricao']}</u>" : "□ SIM_____________" ?>
                    </p>

                    <p>
                        Previsão de término:
                        <?=
                        $response['previsao_termino_atb'] != '0000-00-00' ?
                            \DateTime::createFromFormat('Y-m-d', $response['previsao_termino_atb'])->format('d/m/Y') :
                            ""
                        ?>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        Previsão de término:
                        <?=
                        $response['previsao_termino_antifungico'] != '0000-00-00' ?
                            \DateTime::createFromFormat('Y-m-d', $response['previsao_termino_antifungico'])->format('d/m/Y') :
                            ""
                        ?>
                    </p>
                </td>
            </tr>

            <!---------------------------------------------------------------------------------------->

            <tr>
                <td class="row-section" colspan="8" valign="top" ><p><b>AVALIAÇÃO CLÍNICA</b></p></td>
            </tr>

            <!---------------------------------------------------------------------------------------->

            <tr>
                <td colspan="8" valign="top" >
                    <p>Evolução <span class="label-especialidade">MÉDICA</span></p>
                    <?php
                    if($response['evolucao_medica'] != ''):
                        ?>
                        <span class="label-especialidade">JUSTIFICATIVA:</span> <br>
                        <?= stripslashes($response['evolucao_medica']) ?>
                    <?php else: ?>
                        <span class="label-especialidade">QUADRO CLÍNICO:</span> <br>
                        <?= stripslashes($response['quadro_clinico']) ?><br>
                        <span class="label-especialidade">MODALIDADE DE ATENDIMENTO ATUAL:</span> <br>
                        <?= stripslashes($response['regime_atual']) ?> <br>
                        <span class="label-especialidade">INDICAÇÃO TÉCNICA ATUAL:</span> <br>
                        <?= stripslashes($response['indicacao_tecnica']) ?>
                    <?php endif; ?>
                </td>
            </tr>
            <tr class="no-border-top">
                <td class="no-border-top" colspan="3" valign="top" > </td>
                <td valign="top" >
                    <p>Data da Visita</p>
                    <?= $response['data_visita_medica'] != '0000-00-00' ?
                        \DateTime::createFromFormat('Y-m-d', $response['data_visita_medica'])->format('d/m/Y'):
                        ''?>
                </td>
                <td colspan="3" valign="top" >
                    <p>MÉDICO</p>
                    <?= $response['medico'] ?>
                </td>
                <td valign="top" >
                    <p>CRM</p>
                    <?= $response['crm'] ?>
                </td>
            </tr>

            <!---------------------------------------------------------------------------------------->

            <tr>
                <td colspan="8" valign="top" >
                    <p>Evolução <span class="label-especialidade">de ENFERMAGEM</span></p>
                    <?= stripslashes($response['evolucao_enfermagem']) ?>
                </td>
            </tr>
            <tr class="no-border-top" >
                <td class="no-border-top" colspan="3" valign="top" > </td>
                <td valign="top" >
                    <p>Data da Visita</p>
                    <?=  $response['data_visita_enfermagem'] != '0000-00-00' ?
                        \DateTime::createFromFormat('Y-m-d', $response['data_visita_enfermagem'])->format('d/m/Y'):
                        ''?>
                </td>
                <td colspan="3" valign="top" >
                    <p>ENFERMEIRO</p>
                    <?= $response['enfermeiro'] ?>
                </td>
                <td valign="top" >
                    <p>COREN</p>
                    <?= $response['coren'] ?>
                </td>
            </tr>

            <!---------------------------------------------------------------------------------------->

            <tr>
                <td colspan="8" valign="top" >
                    <p>Evolução <span class="label-especialidade">NUTRICIONAL</span></p>
                    <?= stripslashes($response['evolucao_nutricao']) ?>
                </td>
            </tr>
            <tr class="no-border-top">
                <td class="no-border-top" colspan="3" valign="top" > </td>
                <td valign="top" >
                    <p>Data da Visita</p>
                    <?= $response['data_visita_nutricao'] != '0000-00-00' ?
                        \DateTime::createFromFormat('Y-m-d', $response['data_visita_nutricao'])->format('d/m/Y'):
                        ''?>
                </td>
                <td colspan="3" valign="top" >
                    <p>NUTRICIONISTA</p>
                    <?= $response['nutricionista'] ?>
                </td>
                <td valign="top" >
                    <p>CRN</p>
                    <?= $response['crn'] ?>
                </td>
            </tr>

            <!---------------------------------------------------------------------------------------->

            <tr>
                <td colspan="8" valign="top" >
                    <p>Evolução <span class="label-especialidade">FISIOTERÁPICA</span></p>
                    <?= stripslashes($response['evolucao_fisioterapia']) ?>
                </td>
            </tr>
            <tr class="no-border-top">
                <td class="no-border-top" colspan="3" valign="top" > </td>
                <td valign="top" >
                    <p>Data da Visita</p>
                    <?= $response['data_visita_fisioterapia'] != '0000-00-00' ?
                        \DateTime::createFromFormat('Y-m-d', $response['data_visita_fisioterapia'])->format('d/m/Y'):
                        ''?>
                </td>
                <td colspan="3" valign="top" >
                    <p>FISIOTERAPEUTA</p>
                    <?= $response['fisioterapeuta'] ?>
                </td>
                <td valign="top" >
                    <p>CREFITTO</p>
                    <?= $response['crefitto'] ?>
                </td>
            </tr>

            <!---------------------------------------------------------------------------------------->

            <tr>
                <td colspan="8" valign="top" >
                    <p>Evolução <span class="label-especialidade">FONOTERÁPICA</span></p>
                    <?= stripslashes($response['evolucao_fonoaudiologia']) ?>
                </td>
            </tr>
            <tr class="no-border-top">
                <td class="no-border-top" colspan="3" valign="top" > </td>
                <td valign="top" >
                    <p>Data da Visita</p>
                    <?= $response['data_visita_fonoaudiologia'] != '0000-00-00' ?
                        \DateTime::createFromFormat('Y-m-d', $response['data_visita_fonoaudiologia'])->format('d/m/Y'):
                        ''?>
                </td>
                <td colspan="3" valign="top" >
                    <p>FONOAUDIÓLOGO</p>
                    <?= $response['fonoaudiologo'] ?>
                </td>
                <td valign="top" >
                    <p>CRFa</p>
                    <?= $response['crfa'] ?>
                </td>
            </tr>

            <!---------------------------------------------------------------------------------------->

            <tr>
                <td class="row-section" colspan="8" valign="top" ><p><b>SOLICITAÇÕES PARA O PERÍODO</b></p></td>
            </tr>
            <tr >
                <td class="collumn-description" valign="top" ><p>MODALIDADE</p></td>
                <td colspan="2" valign="top" > <?= stripslashes($response['solicitacoes_modalidade']) ?></td>
                <td colspan="2" class="collumn-description" valign="top" ><p>FISIOTERAPIA</p></td>
                <td colspan="4" valign="top" > <?= stripslashes($response['solicitacoes_fisioterapia']) ?></td>
            </tr>
            <tr>
                <td class="collumn-description" valign="top" ><p>FONOTERAPIA</p></td>
                <td colspan="2" valign="top" > <?= stripslashes($response['solicitacoes_fonoterapia']) ?></td>
                <td colspan="2" class="collumn-description" valign="top" ><p>DIETAS/S.O.</p></td>
                <td colspan="4" valign="top" > <?= stripslashes($response['solicitacoes_dietas']) ?></td>
            </tr>
            <tr>
                <td class="collumn-description" valign="top" ><p>CURATIVOS</p></td>
                <td colspan="2" valign="top" > <?= stripslashes($response['solicitacoes_curativos']) ?></td>
                <td colspan="2" class="collumn-description" valign="top" ><p>OXIGENOTERAPIA</p></td>
                <td colspan="4" valign="top" > <?= stripslashes($response['solicitacoes_oxigenoterapia']) ?></td>
            </tr>
            <tr>
                <td class="collumn-description" valign="top" ><p>EQUIPAMENTOS</p></td>
                <td colspan="2" valign="top" > <?= stripslashes($response['solicitacoes_equipamentos']) ?></td>
                <td colspan="2" class="collumn-description" valign="top" ><p>ATB/MED ALTO CUSTO</p></td>
                <td colspan="4" valign="top" > <?= stripslashes($response['solicitacoes_atb_med']) ?></td>
            </tr>
            <tr>
                <td class="collumn-description" valign="top" ><p>VISITA ENF.</p></td>
                <td colspan="2" valign="top" ><?= strip_tags(stripslashes($response['solicitacoes_enfermagem'])) ?></td>
                <td colspan="2" class="collumn-description" valign="top" ><p>VISITA NUTRICIONISTA</p></td>
                <td colspan="4" valign="top" ><?= strip_tags(stripslashes($response['solicitacoes_nutricao'])) ?></td>
            </tr>
            <tr>
                <td class="collumn-description" valign="top" ><p>VISITA MEDICO</p></td>
                <td colspan="8" valign="top" ><?= strip_tags(stripslashes($response['solicitacoes_medico'])) ?></td>
            </tr>
            </tbody>
        </table>
        <br>
        <center>
            <button
                    name="gerar-doc-ficha-prorrogacao"
                    id="gerar-doc-ficha-prorrogacao"
                    prorrogacao="<?= $prorrogacaoId ?>"
                    class='ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only'
                    role='button'
                    type="button"
                    aria-disabled='false'>
                <span class='ui-button-text'>Gerar .doc</span>
            </button>
            <button
                    name="voltar"
                    id="voltar"
                    paciente="<?= $response['paciente_id'] ?>"
                    class='ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only'
                    role='button'
                    type="button"
                    aria-disabled='false'>
                <span class='ui-button-text'>Voltar</span>
            </button>
        </center>
    </div>
    <div id="left">
        <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
    </div>
</div>

<script type="text/javascript">
    $(function($){
        $("#gerar-doc-ficha-prorrogacao").click(function(){
            var prorrogacao = $(this).attr('prorrogacao');
            window.location.href = '?action=gerar-doc-prorrogacao-planserv&prorrogacao=' + prorrogacao;
        });

        $("#voltar").click(function(){
            var paciente = $(this).attr('paciente');
            window.location.href = '?action=prorrogacao-planserv&id=' + paciente;
        });
    });
</script>

</body>
</html>