<?php require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>
<head>
  <meta charset="UTF-8">
  <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php'); ?>
	<link rel="stylesheet" type="text/css" href="/utils/reports.css">
	<link rel="stylesheet" type="text/css" href="/utils/jquery/css/chosen/chosen.css">
</head>
  <div id="content">
    <div id="right">
      <center><h1>Histórico de Mudança de Modalidade Por Paciente</h1></center>
      <br><br><br>
			<form method="post" action="/adm/secmed/?type=relatorio-modalidade-paciente">
				<div id="search" style="position: relative; float: left; margin: 0 auto;">
					<div class="full negrito">
						<label class="label negrito">Paciente: </label>
						<select name="paciente" data-placeholder="Selecione um paciente..." id="paciente-relatorio" required="required">
							<option selected value="">Todos</option>
							<?php
							foreach($pacientes as $paciente):
								?>
								<option <?= (isset($fetch['idClientes']) && ($fetch['idClientes'] == $paciente['idClientes'])) ? "selected" : "" ?>
									value="<?= $paciente['idClientes'] ?>">
									(<?= $paciente['codigo'] ?>) <?= $paciente['nome'] ?>
								</option>
							<?php endforeach; ?>
						</select>
					</div>
					<div class="half">
						<label class="label negrito">Período: </label>
						<input type="date" name="periodo_inicio" value="<?= isset($periodo_inicio) && !empty($periodo_inicio) ? $periodo_inicio : "" ?>"> -
						<input type="date" name="periodo_fim" value="<?= isset($periodo_fim) && !empty($periodo_fim) ? $periodo_fim : "" ?>">
					</div>
				</div>
				<center style="position: relative; float: left; width: 100%; margin-top: 20px;">
					<button type="submit" class='ui-button ui-widget ui-corner-all ui-button-text-only ui-state-hover' id="buscar">
						<span class='ui-button-text'>Buscar</span>
					</button>
				</center>
      </form>
			<?php
				if(isset($response)):
			?>
			<hr id="separator">
			<center class="negrito" id="search-results">
				Exibindo resultados para:
				<span class="italico">
					<?php
						echo substr_replace(array_reduce($buscandoPor, function($buffer, $piece){
							return $buffer .= $piece . "/";
						}), "", -1);
					?>
				</span>
			</center>
			<div id="response">
				<table class='mytable' width='100%' >
					<thead>
						<tr>
							<th width="">MODALIDADE</th>
							<th>RELATORIO <small>(ONDE A MUDANÇA FOI EFETUADA)</small></th>
							<th>DATA DA MUDANÇA</th>
							<th>TEMPO DE PERMANÊNCIA NA MODALIDADE</th>
						</tr>
					</thead>
					<tbody>
						<?php
						$aux = $response;
						$count = count($response);
							if($count > 0){
								foreach($response as $key => $data):
						?>
						<tr>
							<td><?= $data['modalidade'] ?></td>
							<td><?= $data['source'] ?></td>
							<td><?= $data['data_mudanca'] ?></td>
							<td>
								<?php
									if($count > ($key+1)) {
										$prev = new DateTime($data['data_mudanca_unformated']);
										$next = new DateTime($aux[$key + 1]['data_mudanca_unformated']);
										$interval_days = $prev->diff ($next)->d;
										$interval_hours = $prev->diff ($next)->h;
										$interval = $prev->diff ($next);
										echo $interval_days < 1 ? $interval_hours . ' horas' : $interval->format('%a dias');
									}else{
										echo 'Modalidade Atual';
									}
								?>
							</td>
						</tr>
						<?php
								endforeach;
							}else{
						?>
						<tr>
							<td colspan="4" align="center"><strong>Nenhum resultado foi encontrado!</strong></td>
						</tr>
						<?php
							}
						?>
					</tbody>
				</table>
			</div>
			<?php
				endif;
			?>
    </div>
    <div id="left">
      <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
    </div>
  </div>
	<script type="text/javascript" src="/utils/jquery/js/chosen.jquery.min.js"></script>
	<script type="text/javascript">
		$(function($){
			$('#paciente-relatorio').chosen();
		});
	</script>
  </body>
  </html>