    <!-- POR GÊNERO -->

    <table class='mytable' width='100%' >
        <thead align="center">
        <tr>
            <th colspan="8"><h2>Relat&oacute;rio Epidemiol&oacute;gico - Per&iacute;odo: <?= $inicio->format('d/m/Y') ?> &agrave; <?= $fim->format('d/m/Y') ?></h2></th>
        </tr>
        <tr>
            <th colspan="2">QUANTIDADE DE PACIENTES ATENDIDOS POR G&Ecirc;NERO</th>
        </tr>
        <tr>
            <th width="50%">G&Ecirc;NERO</th>
            <th width="50%">QUANTIDADE</th>
        </tr>
        </thead>
        <tbody align="center">
        <?php
        $total = 0;
        if(count($response['genero']) > 0):
            foreach($response['genero'] as $key => $data):
                $total += $data;
                ?>
                <tr>
                    <td><?= $key ?></td>
                    <td><?= $data ?></td>
                </tr>
                <?php
            endforeach;
            ?>
            <tr>
                    <td align="right">TOTAL:</td>
                    <td><?= $total ?></td>
            </tr>
        <?php
        else:
            ?>
            <tr>
                <td colspan="2" align="center"><strong>Nenhum resultado foi encontrado!</strong></td>
            </tr>
        <?php endif; ?>
        </tbody>
    </table>
    <br><br>

    <!-- POR FAIXA ETÁRIA -->

    <table class='mytable' width='100%' >
        <thead align="center">
        <tr>
            <th colspan="2">QUANTIDADE DE PACIENTES ATENDIDOS POR FAIXA ET&Aacute;RIA</th>
        </tr>
        <tr>
            <th width="50%">FAIXA ET&Aacute;RIA</th>
            <th width="50%">QUANTIDADE</th>
        </tr>
        </thead>
        <tbody align="center">
        <?php
        $total = 0;
        if(count($response['faixaetaria']) > 0):
            foreach($response['faixaetaria'] as $key => $data):
                $total += $data;
                ?>
                <tr>
                    <td><?= $key ?></td>
                    <td><?= $data ?></td>
                </tr>
                <?php
            endforeach;
        ?>
            <tr>
                    <td align="right">TOTAL:</td>
                    <td><?= $total ?></td>
            </tr>
        <?php
        else:
            ?>
            <tr>
                <td colspan="2" align="center"><strong>Nenhum resultado foi encontrado!</strong></td>
            </tr>
            <?php
        endif;
        ?>
        </tbody>
    </table>
    <br><br>

    <!-- POR MODALIDADE -->

    <table class='mytable' width='100%' >
        <thead align="center">
        <tr>
            <th colspan="2">QUANTIDADE DE PACIENTES ATENDIDOS POR MODALIDADE</th>
        </tr>
        <tr>
            <th width="50%">MODALIDADE</th>
            <th width="50%">QUANTIDADE</th>
        </tr>
        </thead>
        <tbody align="center">
        <?php
        $total = 0;
        if(count($response['modalidade']) > 0):
            foreach($response['modalidade'] as $key => $data):
                $total += $data;
                ?>
                <tr>
                    <td><?= utf8_decode($key) ?></td>
                    <td><?= $data ?></td>
                </tr>
                <?php
            endforeach;
        ?>
            <tr>
                    <td align="right">TOTAL:</td>
                    <td><?= $total ?></td>
            </tr>
        <?php
        else:
            ?>
            <tr>
                <td colspan="2" align="center"><strong>Nenhum resultado foi encontrado!</strong></td>
            </tr>
            <?php
        endif;
        ?>
        </tbody>
    </table>
    <br><br>

    <!-- POR STATUS -->

    <table class='mytable' width='100%' >
        <thead align="center">
        <tr>
            <th colspan="2">QUANTIDADE DE PACIENTES ATENDIDOS POR STATUS</th>
        </tr>
        <tr>
            <th width="50%">STATUS</th>
            <th width="50%">QUANTIDADE</th>
        </tr>
        </thead>
        <tbody align="center">
        <?php
        $total = 0;
        if(count($response['status']) > 0):
            foreach($response['status'] as $key => $data):
                $total += $data;
                ?>
                <tr>
                    <td><?= utf8_decode($key) ?></td>
                    <td><?= $data ?></td>
                </tr>
                <?php
            endforeach;
        ?>
            <tr>
                    <td align="right">TOTAL:</td>
                    <td><?= $total ?></td>
            </tr>
        <?php
        else:
            ?>
            <tr>
                <td colspan="2" align="center"><strong>Nenhum resultado foi encontrado!</strong></td>
            </tr>
            <?php
        endif;
        ?>
        </tbody>
    </table>
    <br><br>

    <!-- PACIENTES SEM DATA DE NASCIMENTO -->

    <table class='mytable' width='100%' >
        <thead align="center">
        <tr>
            <th colspan="2">PACIENTES SEM DATA DE NASCIMENTO NO SISTEMA</th>
        </tr>
        <tr>
            <th>CÓDIGO</th>
            <th>NOME</th>
        </tr>
        </thead>
        <tbody align="center">
        <?php
        if(count($response['semNascimento']) > 0):
            foreach($response['semNascimento'] as $key => $data):
                ?>
                <tr>
                    <td>
                        <input type="hidden" name="response[semNascimento][<?= $key ?>]" value="<?= $data ?>">
                        <?= $key ?>
                    </td>
                    <td><?= $data ?></td>
                </tr>
                <?php
            endforeach;
        else:
            ?>
            <tr>
                <td colspan="2" align="center"><strong>Nenhum resultado foi encontrado!</strong></td>
            </tr>
        <?php endif; ?>
        </tbody>
    </table>
    <br><br>

    <!-- PACIENTES SEM MODALIDADE -->

    <table class='mytable' width='100%' >
        <thead align="center">
        <tr>
            <th colspan="2">PACIENTES SEM MODALIDADE NO SISTEMA</th>
        </tr>
        <tr>
            <th>CÓDIGO</th>
            <th>NOME</th>
        </tr>
        </thead>
        <tbody align="center">
        <?php
        if(count($response['semModalidade']) > 0):
            foreach($response['semModalidade'] as $key => $data):
                ?>
                <tr>
                    <td>
                        <input type="hidden" name="response[semModalidade][<?= $key ?>]" value="<?= $data ?>">
                        <?= $key ?>
                    </td>
                    <td><?= $data ?></td>
                </tr>
                <?php
            endforeach;
        else:
            ?>
            <tr>
                <td colspan="2" align="center"><strong>Nenhum resultado foi encontrado!</strong></td>
            </tr>
        <?php endif; ?>
        </tbody>
    </table>
