<?php require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>
<head>
	<meta charset="UTF-8">
	<?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php'); ?>
	<link rel="stylesheet" type="text/css" href="/utils/reports.css">
	<link rel="stylesheet" type="text/css" href="/utils/jquery/css/chosen/chosen.css">
</head>
<div id="content">
	<div id="right">
		<center><h1>Relatório Epidemiológico</h1></center>
		<br><br><br>
		<form method="post" action="/adm/secmed/?action=relatorio-epidemiologico">
			<div id="search" style="position: relative; float: left; margin: 0 auto;">
				<div class="half">
					<label class="label negrito">Período: </label>
					<input type="date" name="periodo_inicio" value="<?= $inicio->format('Y-m-d') ?>"> -
					<input type="date" name="periodo_fim" value="<?= $fim->format('Y-m-d') ?>">
				</div>
			</div>
			<center style="position: relative; float: left; width: 100%; margin-top: 20px;">
				<button type="submit" class='ui-button ui-widget ui-corner-all ui-button-text-only ui-state-hover' id="buscar">
					<span class='ui-button-text'>Buscar</span>
				</button>
			</center>
		</form>
		<?php
		if(isset($response)):
			?>
			<hr id="separator">
		<form method="post" action="/adm/secmed/?action=excel-relatorio-epidemiologico" target="_blank">
			<input type="hidden" name="periodo_inicio" value="<?= $inicio->format('Y-m-d') ?>">
			<input type="hidden" name="periodo_fim" value="<?= $fim->format('Y-m-d') ?>">
			<button type="submit"
				style="position: relative; float: right;"
				class='ui-button ui-widget ui-corner-all ui-button-text-only ui-state-hover'
				id="excel">
				<span class='ui-button-text'>Exportar para Excel</span>
			</button>

			<div id="response">

				<!-- POR GÊNERO -->

				<table class='mytable' width='100%' >
					<thead align="center">
					<tr>
						<th colspan="2">QUANTIDADE DE PACIENTES ATENDIDOS POR GÊNERO</th>
					</tr>
					<tr>
						<th width="50%">GÊNERO</th>
						<th width="50%">QUANTIDADE</th>
					</tr>
					</thead>
					<tbody align="center">
					<?php
					$total = 0;
					if(count($response['genero']) > 0):
						foreach($response['genero'] as $key => $data):
							$total += $data;
							?>
							<tr>
								<td>
									<input type="hidden" name="response[genero][<?= $key ?>]" value="<?= $data ?>">
									<?= $key ?>
								</td>
								<td><?= $data ?></td>
							</tr>
							<?php
						endforeach;
					?>
							<tr>
								<td align="right">TOTAL:</td>
								<td><?= $total ?></td>
							</tr>
        			<?php
					else:
					?>
						<tr>
							<td colspan="2" align="center"><strong>Nenhum resultado foi encontrado!</strong></td>
						</tr>
					<?php endif; ?>
					</tbody>
				</table>
				<br><br>
				<!-- POR FAIXA ETÁRIA -->

				<table class='mytable' width='100%' >
					<thead align="center">
					<tr>
						<th colspan="2">QUANTIDADE DE PACIENTES ATENDIDOS POR FAIXA ETÁRIA</th>
					</tr>
					<tr>
						<th width="50%">FAIXA ETÁRIA</th>
						<th width="50%">QUANTIDADE</th>
					</tr>
					</thead>
					<tbody align="center">
					<?php
					$total = 0;
					if(count($response['faixaetaria']) > 0):
						foreach($response['faixaetaria'] as $key => $data):
							$total += $data;
							?>
							<tr>
								<td>
									<input type="hidden" name="response[faixaetaria][<?= $key ?>]" value="<?= $data ?>">
									<?= $key ?>
								</td>
								<td><?= $data ?></td>
							</tr>
							<?php
						endforeach;
					?>
            <tr>
                <td align="right">TOTAL:</td>
                <td><?= $total ?></td>
            </tr>
        <?php
					else:
						?>
						<tr>
							<td colspan="2" align="center"><strong>Nenhum resultado foi encontrado!</strong></td>
						</tr>
						<?php
					endif;
					?>
					</tbody>
				</table>
				<br><br>
				<!-- POR MODALIDADE -->

				<table class='mytable' width='100%' >
					<thead align="center">
					<tr>
						<th colspan="2">QUANTIDADE DE PACIENTES ATENDIDOS POR MODALIDADE</th>
					</tr>
					<tr>
						<th width="50%">MODALIDADE</th>
						<th width="50%">QUANTIDADE</th>
					</tr>
					</thead>
					<tbody align="center">
					<?php
					$total = 0;
					if(count($response['modalidade']) > 0):
						foreach($response['modalidade'] as $key => $data):
							$total += $data;
							?>
							<tr>
								<td>
									<input type="hidden" name="response[modalidade][<?= utf8_encode($key) ?>]" value="<?= $data ?>">
									<?= utf8_encode($key) ?>
								</td>
								<td><?= $data ?></td>
							</tr>
							<?php
						endforeach;
					?>
            <tr>
                <td align="right">TOTAL:</td>
                <td><?= $total ?></td>
            </tr>
        <?php
					else:
						?>
						<tr>
							<td colspan="2" align="center"><strong>Nenhum resultado foi encontrado!</strong></td>
						</tr>
						<?php
					endif;
					?>
					</tbody>
				</table>
				<br><br>
				<!-- POR STATUS -->

				<table class='mytable' width='100%' >
					<thead align="center">
					<tr>
						<th colspan="2">QUANTIDADE DE PACIENTES ATENDIDOS POR STATUS</th>
					</tr>
					<tr>
						<th width="50%">STATUS</th>
						<th width="50%">QUANTIDADE</th>
					</tr>
					</thead>
					<tbody align="center">
					<?php
					$total = 0;
					if(count($response['status']) > 0):
						foreach($response['status'] as $key => $data):
							$total += $data;
							?>
							<tr>
								<td>
									<input type="hidden" name="response[status][<?= utf8_encode($key) ?>]" value="<?= $data ?>">
									<?= utf8_encode($key) ?>
								</td>
								<td><?= $data ?></td>
							</tr>
							<?php
						endforeach;
					?>
            <tr>
                <td align="right">TOTAL:</td>
                <td><?= $total ?></td>
            </tr>
        <?php
					else:
						?>
						<tr>
							<td colspan="2" align="center"><strong>Nenhum resultado foi encontrado!</strong></td>
						</tr>
						<?php
					endif;
					?>
					</tbody>
				</table>
				<br><br>

				<!-- PACIENTES SEM DATA DE NASCIMENTO -->

				<table class='mytable' width='100%' >
					<thead align="center">
					<tr>
						<th colspan="2">PACIENTES SEM DATA DE NASCIMENTO NO SISTEMA</th>
					</tr>
					<tr>
						<th>CÓDIGO</th>
						<th>NOME</th>
					</tr>
					</thead>
					<tbody align="center">
					<?php
					if(count($response['semNascimento']) > 0):
						foreach($response['semNascimento'] as $key => $data):
							?>
							<tr>
								<td>
									<input type="hidden" name="response[semNascimento][<?= $key ?>]" value="<?= $data ?>">
									<?= $key ?>
								</td>
								<td><?= $data ?></td>
							</tr>
							<?php
						endforeach;
					else:
						?>
						<tr>
							<td colspan="2" align="center"><strong>Nenhum resultado foi encontrado!</strong></td>
						</tr>
					<?php endif; ?>
					</tbody>
				</table>
				<br><br>

				<!-- PACIENTES SEM MODALIDADE -->

				<table class='mytable' width='100%' >
					<thead align="center">
					<tr>
						<th colspan="2">PACIENTES SEM MODALIDADE NO SISTEMA</th>
					</tr>
					<tr>
						<th>CÓDIGO</th>
						<th>NOME</th>
					</tr>
					</thead>
					<tbody align="center">
					<?php
					if(count($response['semModalidade']) > 0):
						foreach($response['semModalidade'] as $key => $data):
							?>
							<tr>
								<td>
									<input type="hidden" name="response[semModalidade][<?= $key ?>]" value="<?= $data ?>">
									<?= $key ?>
								</td>
								<td><?= $data ?></td>
							</tr>
							<?php
						endforeach;
					else:
						?>
						<tr>
							<td colspan="2" align="center"><strong>Nenhum resultado foi encontrado!</strong></td>
						</tr>
					<?php endif; ?>
					</tbody>
				</table>
			</div>
		</form>
			<?php
		endif;
		?>
	</div>
	<div id="left">
		<?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
	</div>
</div>
<script type="text/javascript" src="/utils/jquery/js/chosen.jquery.min.js"></script>
<script type="text/javascript">
	$(function($){
		$('#paciente-relatorio').chosen();
	});
</script>
</body>
</html>