.table-managerial-values {
    .show-line {
        display: block;
    }
    .hidden-line {
        display: none;
    }
    .mvtable {
        .level-1,
        .level-2,
        .level-3,
        .level-4 {
            font-size: 12px;
        }

        .level-1 {
            font-size: 12px;

        }

        .level-2 {
            td .cell-p {
                padding-left: 7px;
                margin: 0;
            }
            background: #E4E4E4;
            height: 35px;
        }

        .level-3 {
            td .cell-p {
                padding-left: 15px;
                font-size: 11px;
            }
            background: #F3F3F3;
            height: 35px;
        }

        .level-4 {
            td .cell-p {
                padding-left: 50px;
            }
            background: #F3F3F3;
            height: 30px;
        }

        .level-5 {

        }

    }
td.mvheadcol.cell-one.cell-four {
    background:#F3F3F3;
}
.cell-one_yellow {
    background: #ffcc5c;
}
.cell-one_green {
    background:#accdae;
}
.cell-one_blue {
    background: #9abedd;
}

}
.sub-percentage {
    width: 50px;
}