<?php require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>
<head>
    <meta charset="UTF-8">
    <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php'); ?>
    <link rel="stylesheet" type="text/css" href="/utils/reports.css">
    <link rel="stylesheet" type="text/css" href="/utils/jquery/css/chosen/chosen.css">
</head>
<div id="content">
    <div id="right">
        <center><h1>Relatório de Itens Vencidos</h1></center>
        <br><br><br>
        <form method="post" action="/logistica/relatorios/?action=form-relatorio-itens-vencidos">
            <p>
                <strong>Período:</strong><br>
                <input type="date" required name="periodo_inicio" value="<?= isset($periodoInicio) && !empty($periodoInicio) ? $periodoInicio : "" ?>"> -
                <input type="date" required name="periodo_fim" value="<?= isset($periodoFim) && !empty($periodoFim) ? $periodoFim : "" ?>">
            </p>
            <p>
                <strong>UR:</strong><br>
                <select name="ur" id="urs" style="width: 300px;">
                    <option value="">Selecione...</option>
                    <?php foreach($urs as $ur): ?>
                        <option <?= isset($urBusca) && $urBusca === $ur['id'] ? "selected" : "" ?> value="<?= $ur['id'] ?>"><?= strtoupper($ur['nome']) ?></option>
                    <?php endforeach; ?>
                </select>
            </p>
            <p>
                <strong>Laboratório:</strong><br>
                <input type="text" name="laboratorio" size="36" value="<?= isset($laboratorio) && !empty($laboratorio) ? $laboratorio : "" ?>" />

            </p>
            <p>
                <strong>Tipo:</strong><br>
                <select name="tipo" id="tipo" style="width: 300px;">
                    <option <?= isset($tipo) && $tipo == '' ? 'selected' : '' ?> selected value="">Todos</option>
                    <option <?= isset($tipo) && $tipo == '0' ? 'selected' : '' ?> value="0">Medicamentos</option>
                    <option <?= isset($tipo) && $tipo == '1' ? 'selected' : '' ?> value="1">Materiais</option>
                    <option <?= isset($tipo) && $tipo == '3' ? 'selected' : '' ?> value="3">Dietas</option>
                </select>
            </p>
            <p id="buscar-por-item" style="display: <?= isset($buscaItem) && !empty($buscaItem) ? 'block' : 'none' ?>;">
                <strong>Item:</strong><br>
                <input type="text" name="busca_item" id="busca-item" size="80" value="<?= isset($buscaItem) && !empty($buscaItem) ? $buscaItem : "" ?>" />
                <input type="hidden" name="item" id="item" value="<?= isset($item) && !empty($item) ? $item : "" ?>">
            </p>
            <p>
                <strong>Mostrar apenas:</strong><br>
                <select name="mostrar[]" multiple required data-placeholder="Escolha pelo menos uma opção..." id="mostrar" style="width: 300px;">
                    <option <?= !isset($mostrar) || in_array('red', $mostrar) ? 'selected' : '' ?> value="red" style="background: #cd0a0a; color: #000;">Vencidos</option>
                    <option <?= !isset($mostrar) || in_array('orange', $mostrar) ? 'selected' : '' ?> value="orange" style="background: #eb9316; color: #000;">Itens com menos de 1 mês para vencer</option>
                    <option <?= !isset($mostrar) || in_array('gold', $mostrar) ? 'selected' : '' ?> value="gold" style="background: #f8da4e; color: #000;">Itens entre 1 mês e 6 meses para vencer</option>
                    <option <?= !isset($mostrar) || in_array('black', $mostrar) ? 'selected' : '' ?> value="black" style="background: #000; color: #FFF;">Itens entre 6 meses e 1 ano para vencer</option>
                    <option <?= !isset($mostrar) || in_array('gray', $mostrar) ? 'selected' : '' ?> value="gray" style="background: #7d7a7a; color: #000;">Itens com mais de 1 ano para vencer</option>
                </select>
            </p>
            <div style="position: relative; float: left; width: 100%; margin-top: 10px;">
                <button type="submit" class='ui-button ui-widget ui-corner-all ui-button-text-only ui-state-hover' id="buscar">
                    <span class='ui-button-text'>Buscar</span>
                </button>
            </div>
        </form>
        <?php if(isset($response)): ?>
            <a  href="/logistica/relatorios/?action=excel-relatorio-itens-vencidos&inicio=<?= $periodoInicio ?>&fim=<?= $periodoFim ?>&ur=<?= $urBusca ?>&laboratorio=<?= $laboratorio ?>&tipo=<?= $tipo ?>&item=<?= $item ?>&mostrar=<?= implode('-', $mostrar) ?>"
                target="_blank"
                style="position: relative; float: right;"
                class='ui-button ui-widget ui-corner-all ui-button-text-only ui-state-hover'
                id="buscar">
                <span class='ui-button-text'>Exportar para Excel</span>
            </a>
            <hr id="separator">
            <div id="response">
                <p>
                    LEGENDA: <br>
                    <b>ESTOQUE = ENTRADA + DEVOLUÇÃO - SAÍDA - SAÍDA INTERNA</b>
                </p>

                <?php if(in_array('red', $mostrar)): ?>
                <!--ITENS VENCIDOS-->
                <div   class="col-md-12" style="overflow: auto">

                <label style="float: left; padding-top: 20px;">
                    Total de <b><?= $count['red'] ?></b> <?= $tipoItem ?> encontrados.
                </label>
                <table class='mytable' width='100%' >
                    <thead>
                    <tr>
                        <th align="center" colspan="12">ITENS VENCIDOS</th>
                    </tr>
                    <tr>
                        <th>LABORATÓRIO</th>
                        <th>NOME DO ITEM</th>
                        <th>PRINCÍPIO ATIVO</th>
                        <th>TIPO</th>
                        <th>ATIVO?</th>
                        <th>LOTE</th>
                        <th>ESTOQUE</th>
                        <th align="center">DATA DA ENTRADA</th>
                        <th align="center">VALIDADE</th>
                        <th align="center">SITUAÇÃO</th>
                        <th align="center">CUSTO UNI</th>
                        <th align="center">CUSTO TOTAL</th>
                    </tr>
                    </thead>
                    <tbody>
                    <?php
                    if($count['red'] > 0):
                        foreach($red as $data):
                            $dataEntrada = \DateTime::createFromFormat('Y-m-d', $data['dataEntrada']);
                            $validade = \DateTime::createFromFormat('Y-m-d', $data['VALIDADE']);
                            $diffValidade = $now->diff($validade);
                            $vencidos = sprintf('Vencidos há %s dia(s)', $diffValidade->days);
                            $validade = $validade->format('d/m/Y');
                            $estoque = ($data['qtd'] + $data['qtdEntradaUr'] + $data['qtdDevolucao']) - ($data['qtdSaida'] + $data['qtdSaidaInterna']);
                            $totalRed += $estoque * $data['custo'];

                            ?>
                            <tr style="background: #cd0a0a">
                                <td><?= $data['laboratorio'] ?></td>
                                <td><?= $data['nomeItem'] ?></td>
                                <td><?= $data['principioAtivo'] ?></td>
                                <td><?= $data['tipoItem'] ?></td>
                                <td><?= $data['ativo'] ?></td>
                                <td><?= $data['LOTE'] ?></td>
                                <td><?= $data['estoque'] ?></td>
                                <td align="center"><?= $dataEntrada->format('d/m/Y') ?></td>
                                <td align="center"><?= $data['VALIDADE'] != '0000-00-00' ? $validade : 'Item sem validade no sistema' ?></td>
                                <td align="center"><?= $data['VALIDADE'] != '0000-00-00' ? $vencidos : '-' ?></td>
                                <td align="center"><?= \App\Helpers\StringHelper::currencyFormat($data['custo'])?></td>
                                <td align="center"><?= \App\Helpers\StringHelper::currencyFormat($data['custo'] * $estoque)?></td>
                            </tr>
                        <?php endforeach; ?>
                        <tr >
                            <td colspan="11" align="right"><b>Custo Total dos Itens:</b></td>
                             <td align="center"><b><?= \App\Helpers\StringHelper::currencyFormat($totalRed)?></b></td>
                        </tr>
                    <?php else: ?>
                        <tr>
                            <td colspan="10" align="center"><strong>Nenhum resultado foi encontrado!</strong></td>
                        </tr>
                    <?php endif; ?>
                    </tbody>
                </table>
                </div>
                <br>
                <?php endif; ?>

                <?php if(in_array('orange', $mostrar)): ?>
                <!--ITENS COM 1 MÊS OU MENOS PARA VENCER-->

                <div   class="col-md-12" style="overflow: auto">
                    <label style="float: left; padding-top: 20px;">
                    Total de <b><?= $count['orange'] ?></b> <?= $tipoItem ?> encontrados.
                </label>
               
                <table class='mytable' width='100%' >
                    <thead>
                    <tr>
                        <th align="center" colspan="12">ITENS COM 1 MÊS OU MENOS PARA VENCER</th>
                    </tr>
                    <tr>
                        <th>LABORATÓRIO</th>
                        <th>NOME DO ITEM</th>
                        <th>PRINCÍPIO ATIVO</th>
                        <th>TIPO</th>
                        <th>ATIVO?</th>
                        <th>LOTE</th>
                        <th>ESTOQUE</th>
                        <th align="center">DATA DA ENTRADA</th>
                        <th align="center">VALIDADE</th>
                        <th align="center">SITUAÇÃO</th>
                        <th align="center">CUSTO UNI</th>
                        <th align="center">CUSTO TOTAL</th>
                    </tr>
                    </thead>
                    <tbody>
                    <?php
                    if($count['orange'] > 0):
                        foreach($orange as $data):
                            $dataEntrada = \DateTime::createFromFormat('Y-m-d', $data['dataEntrada']);
                            $validade = \DateTime::createFromFormat('Y-m-d', $data['VALIDADE']);
                            $diffValidade = $now->diff($validade);
                            $venceEm = sprintf('Vence em %s dia(s)', $diffValidade->days);
                            $validade = $validade->format('d/m/Y');
                            $estoque = ($data['qtd'] + $data['qtdEntradaUr'] + $data['qtdDevolucao']) - ($data['qtdSaida'] + $data['qtdSaidaInterna']);
                            $totalOrange += $estoque * $data['custo'];
                            ?>
                            <tr style="background: #eb9316">
                                <td><?= $data['laboratorio'] ?></td>
                                <td><?= $data['nomeItem'] ?></td>
                                <td><?= $data['principioAtivo'] ?></td>
                                <td><?= $data['tipoItem'] ?></td>
                                <td><?= $data['ativo'] ?></td>
                                <td><?= $data['LOTE'] ?></td>
                                <td><?= $data['estoque'] ?></td>
                                <td align="center"><?= $dataEntrada->format('d/m/Y') ?></td>
                                <td align="center"><?= $data['VALIDADE'] != '0000-00-00' ? $validade : 'Item sem validade no sistema' ?></td>
                                <td align="center"><?= $data['VALIDADE'] != '0000-00-00' ? $venceEm: '-' ?></td>
                                <td align="center"><?= \App\Helpers\StringHelper::currencyFormat($data['custo'])?></td>
                                <td align="center"><?= \App\Helpers\StringHelper::currencyFormat($data['custo'] * $estoque)?></td>
                            </tr>
                        <?php endforeach; ?>
                        <tr >
                            <td colspan="11" align="right"><b>Custo Total dos Itens:</b></td>
                            <td align="center"><b><?= \App\Helpers\StringHelper::currencyFormat($totalOrange)?></b></td>
                        </tr>
                    <?php else: ?>
                        <tr>
                            <td colspan="12" align="center"><strong>Nenhum resultado foi encontrado!</strong></td>
                        </tr>
                    <?php endif; ?>
                    </tbody>
                </table>
                </div>
                <br>
                <?php endif; ?>

                <?php if(in_array('gold', $mostrar)): ?>
                <!--ITENS ENTRE 1 E 6 MESES PARA VENCER-->

                <div   class="col-md-12" style="overflow: auto">
                    <label style="float: left; padding-top: 20px;">
                    Total de <b><?= $count['gold'] ?></b> <?= $tipoItem ?> encontrados.
                </label>

                <table class='mytable' width='100%' >
                    <thead>
                    <tr>
                        <th align="center" colspan="12">ITENS ENTRE 1 E 6 MESES PARA VENCER</th>
                    </tr>
                    <tr>
                        <th>LABORATÓRIO</th>
                        <th>NOME DO ITEM</th>
                        <th>PRINCÍPIO ATIVO</th>
                        <th>TIPO</th>
                        <th>ATIVO?</th>
                        <th>LOTE</th>
                        <th>ESTOQUE</th>
                        <th align="center">DATA DA ENTRADA</th>
                        <th align="center">VALIDADE</th>
                        <th align="center">SITUAÇÃO</th>
                        <th align="center">CUSTO UNI</th>
                        <th align="center">CUSTO TOTAL</th>
                    </tr>
                    </thead>
                    <tbody>
                    <?php
                    if($count['gold'] > 0):
                        foreach($gold as $data):
                            $dataEntrada = \DateTime::createFromFormat('Y-m-d', $data['dataEntrada']);
                            $validade = \DateTime::createFromFormat('Y-m-d', $data['VALIDADE']);
                            $diffValidade = $now->diff($validade);
                            $venceEm = sprintf('Vence em aproximadamente %s mês(es)', $diffValidade->m);
                            $validade = $validade->format('d/m/Y');
                            $estoque = ($data['qtd'] + $data['qtdEntradaUr'] + $data['qtdDevolucao']) - ($data['qtdSaida'] + $data['qtdSaidaInterna']);
                            $totalGold += $estoque * $data['custo'];
                            ?>
                            <tr style="background: #f8da4e">
                                <td><?= $data['laboratorio'] ?></td>
                                <td><?= $data['nomeItem'] ?></td>
                                <td><?= $data['principioAtivo'] ?></td>
                                <td><?= $data['tipoItem'] ?></td>
                                <td><?= $data['ativo'] ?></td>
                                <td><?= $data['LOTE'] ?></td>
                                <td><?= $data['estoque'] ?></td>
                                <td align="center"><?= $dataEntrada->format('d/m/Y') ?></td>
                                <td align="center"><?= $data['VALIDADE'] != '0000-00-00' ? $validade : 'Item sem validade no sistema' ?></td>
                                <td align="center"><?= $data['VALIDADE'] != '0000-00-00' ? $venceEm: '-' ?></td>
                                <td align="center"><?= \App\Helpers\StringHelper::currencyFormat($data['custo'])?></td>
                                <td align="center"><?= \App\Helpers\StringHelper::currencyFormat($data['custo'] * $estoque)?></td>
                            </tr>
                        <?php endforeach; ?>
                        <tr >
                            <td colspan="11" align="right"><b>Custo Total dos Itens:</b></td>
                            <td align="center"><b><?= \App\Helpers\StringHelper::currencyFormat($totalGold)?></b></td>
                        </tr>
                    <?php else: ?>
                        <tr>
                            <td colspan="12" align="center"><strong>Nenhum resultado foi encontrado!</strong></td>
                        </tr>
                    <?php endif; ?>
                    </tbody>
                </table>
                </div>
                <br>
                <?php endif; ?>

                <?php if(in_array('black', $mostrar)): ?>
                <!--ITENS COM ATÉ 6 MESES PARA VENCER-->

                <div   class="col-md-12" style="overflow: auto">
                <label style="float: left; padding-top: 20px;">
                    Total de <b><?= $count['black'] ?></b> <?= $tipoItem ?> encontrados.
                </label>

                <table class='mytable' width='100%' >
                    <thead>
                    <tr>
                        <th align="center" colspan="12">ITENS COM ATÉ 6 MESES PARA VENCER</th>
                    </tr>
                    <tr>
                        <th>LABORATÓRIO</th>
                        <th>NOME DO ITEM</th>
                        <th>PRINCÍPIO ATIVO</th>
                        <th>TIPO</th>
                        <th>ATIVO?</th>
                        <th>LOTE</th>
                        <th>ESTOQUE</th>
                        <th align="center">DATA DA ENTRADA</th>
                        <th align="center">VALIDADE</th>
                        <th align="center">SITUAÇÃO</th>
                        <th align="center">CUSTO UNI</th>
                        <th align="center">CUSTO TOTAL</th>
                    </tr>
                    </thead>
                    <tbody>
                    <?php
                    if($count['black'] > 0):
                        foreach($black as $data):
                            $dataEntrada = \DateTime::createFromFormat('Y-m-d', $data['dataEntrada']);
                            $validade = \DateTime::createFromFormat('Y-m-d', $data['VALIDADE']);
                            $diffValidade = $now->diff($validade);
                            $venceEm = sprintf('Vence em aproximadamente %s meses', $diffValidade->m);
                            $validade = $validade->format('d/m/Y');
                            $estoque = ($data['qtd'] + $data['qtdEntradaUr'] + $data['qtdDevolucao']) - ($data['qtdSaida'] + $data['qtdSaidaInterna']);
                            $totalBlack += $estoque * $data['custo'];
                            ?>
                            <tr>
                                <td><?= $data['laboratorio'] ?></td>
                                <td><?= $data['nomeItem'] ?></td>
                                <td><?= $data['principioAtivo'] ?></td>
                                <td><?= $data['tipoItem'] ?></td>
                                <td><?= $data['ativo'] ?></td>
                                <td><?= $data['LOTE'] ?></td>
                                <td><?= $data['estoque'] ?></td>
                                <td align="center"><?= $dataEntrada->format('d/m/Y') ?></td>
                                <td align="center"><?= $data['VALIDADE'] != '0000-00-00' ? $validade : 'Item sem validade no sistema' ?></td>
                                <td align="center"><?= $data['VALIDADE'] != '0000-00-00' ? $venceEm: '-' ?></td>
                                <td align="center"><?= \App\Helpers\StringHelper::currencyFormat($data['custo'])?></td>
                                <td align="center"><?= \App\Helpers\StringHelper::currencyFormat($data['custo'] * $estoque)?></td>
                            </tr>
                        <?php endforeach; ?>
                        <tr >
                            <td colspan="11" align="right"><b>Custo Total dos Itens:</b></td>
                            <td align="center"><b><?= \App\Helpers\StringHelper::currencyFormat($totalBlack)?></b></td>
                        </tr>
                    <?php else: ?>
                        <tr>
                            <td colspan="12" align="center"><strong>Nenhum resultado foi encontrado!</strong></td>
                        </tr>
                    <?php endif; ?>
                    </tbody>
                </table>
                </div>
                <br>
                <?php endif; ?>

                <?php if(in_array('gray', $mostrar)): ?>
                <!--ITENS COM MAIS DE 1 ANO PARA VENCER-->

                <div   class="col-md-12" style="overflow: auto">
                <label style="float: left; padding-top: 20px;">
                    Total de <b><?= $count['gray'] ?></b> <?= $tipoItem ?> encontrados.
                </label>

                <table class='mytable' width='100%' >
                    <thead>
                    <tr>
                        <th align="center" colspan="12">ITENS COM MAIS DE 1 ANO PARA VENCER</th>
                    </tr>
                    <tr>
                        <th>LABORATÓRIO</th>
                        <th>NOME DO ITEM</th>
                        <th>PRINCÍPIO ATIVO</th>
                        <th>TIPO</th>
                        <th>ATIVO?</th>
                        <th>LOTE</th>
                        <th>ESTOQUE</th>
                        <th align="center">DATA DA ENTRADA</th>
                        <th align="center">VALIDADE</th>
                        <th align="center">SITUAÇÃO</th>
                        <th align="center">CUSTO UNI</th>
                        <th align="center">CUSTO TOTAL</th>
                    </tr>
                    </thead>
                    <tbody>
                    <?php
                    if($count['gray'] > 0):
                        foreach($gray as $data):
                            $dataEntrada = \DateTime::createFromFormat('Y-m-d', $data['dataEntrada']);
                            $validade = \DateTime::createFromFormat('Y-m-d', $data['VALIDADE']);
                            $diffValidade = $now->diff($validade);
                            $venceEm = sprintf('Vence em aproximadamente %s ano(s)', $diffValidade->y);
                            $validade = $validade->format('d/m/Y');
                            $estoque = ($data['qtd'] + $data['qtdEntradaUr'] + $data['qtdDevolucao']) - ($data['qtdSaida'] + $data['qtdSaidaInterna']);
                            $totalGray += $estoque * $data['custo'];
                            ?>
                            <tr style="background: #7d7a7a">
                                <td><?= $data['laboratorio'] ?></td>
                                <td><?= $data['nomeItem'] ?></td>
                                <td><?= $data['principioAtivo'] ?></td>
                                <td><?= $data['tipoItem'] ?></td>
                                <td><?= $data['ativo'] ?></td>
                                <td><?= $data['LOTE'] ?></td>
                                <td><?= $data['estoque'] ?></td>
                                <td align="center"><?= $dataEntrada->format('d/m/Y') ?></td>
                                <td align="center"><?= $data['VALIDADE'] != '0000-00-00' ? $validade : 'Item sem validade no sistema' ?></td>
                                <td align="center"><?= $data['VALIDADE'] != '0000-00-00' ? $venceEm: '-' ?></td>
                                <td align="center"><?= \App\Helpers\StringHelper::currencyFormat($data['custo'])?></td>
                                <td align="center"><?= \App\Helpers\StringHelper::currencyFormat($data['custo'] * $estoque)?></td>
                            </tr>
                        <?php endforeach; ?>
                        <tr >
                            <td colspan="11" align="right"><b>Custo Total dos Itens:</b></td>
                            <td align="center"><b><?= \App\Helpers\StringHelper::currencyFormat($totalGray)?></b></td>
                        </tr>
                    <?php else: ?>
                        <tr>
                            <td colspan="12" align="center"><strong>Nenhum resultado foi encontrado!</strong></td>
                        </tr>
                    <?php endif; ?>
                    </tbody>
                </table>
                </div>
                <?php endif; ?>

                <?php if($count['nV'] > 0): ?>
                <!--ITENS SEM DATA DE VALIDADE-->

                <div   class="col-md-12" style="overflow: auto">
                <label style="float: left; padding-top: 20px;">
                    Total de <b><?= $count['nV'] ?></b> <?= $tipoItem ?> encontrados.
                </label>

                <table class='mytable' width='100%' >
                    <thead>
                    <tr>
                        <th align="center" colspan="12">ITENS SEM DATA DE VALIDADE NO SISTEMA</th>
                    </tr>
                    <tr>
                        <th>LABORATÓRIO</th>
                        <th>NOME DO ITEM</th>
                        <th>PRINCÍPIO ATIVO</th>
                        <th>TIPO</th>
                        <th>ATIVO?</th>
                        <th>LOTE</th>
                        <th>ESTOQUE</th>
                        <th align="center">DATA DA ENTRADA</th>
                        <th align="center">VALIDADE</th>
                        <th align="center">SITUAÇÃO</th>
                        <th align="center">CUSTO UNI</th>
                        <th align="center">CUSTO TOTAL</th>
                    </tr>
                    </thead>
                    <tbody>
                    <?php
                    foreach($nV as $data):
                        $dataEntrada = \DateTime::createFromFormat('Y-m-d', $data['dataEntrada']);
                        $validade = \DateTime::createFromFormat('Y-m-d', $data['VALIDADE']);
                        $validade = $validade->format('d/m/Y');
                        $estoque = ($data['qtd'] + $data['qtdEntradaUr'] + $data['qtdDevolucao']) - ($data['qtdSaida'] + $data['qtdSaidaInterna']);
                        $total += $estoque * $data['custo'];
                        ?>
                        <tr>
                            <td><?= $data['laboratorio'] ?></td>
                            <td><?= $data['nomeItem'] ?></td>
                            <td><?= $data['principioAtivo'] ?></td>
                            <td><?= $data['tipoItem'] ?></td>
                            <td><?= $data['ativo'] ?></td>
                            <td><?= $data['LOTE'] ?></td>
                            <td><?= $data['estoque'] ?></td>
                            <td align="center"><?= $dataEntrada->format('d/m/Y') ?></td>
                            <td align="center"><?= 'Item sem validade no sistema' ?></td>
                            <td align="center"><?= '-' ?></td>
                            <td align="center"><?= \App\Helpers\StringHelper::currencyFormat($data['custo'])?></td>
                            <td align="center"><?= \App\Helpers\StringHelper::currencyFormat($data['custo'] * $estoque)?></td>
                        </tr>
                    <?php endforeach; ?>
                    <tr >
                        <td colspan="11" align="right"><b>Custo Total dos Itens:</b></td>
                        <td align="center"><b><?= \App\Helpers\StringHelper::currencyFormat($total)?></b></td>
                    </tr>
                    </tbody>
                </table>
                </div>
                <?php endif; ?>
            </div>
            <?php
        endif;
        ?>
    </div>
    <div id="left">
        <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
    </div>
</div>
<script type="text/javascript" src="/logistica/relatorios/js/main.js?v=1"></script>
</body>
</html>