<table class='mytable' align="center" width='100%' >
    <thead>
    <tr>
        <th width="1200" colspan="10"><h2>Relat&oacute;rio de Itens Vencidos - Per&iacuteodo: <?= $inicio->format('d/m/Y') ?> &agrave <?= $fim->format('d/m/Y') ?></h2></th>
    </tr>
    <tr>
        <th width="1200" colspan="10">
        LEGENDA: <br>
        <b>ESTOQUE = ENTRADA + DEVOLUCAO - SAIDA - SAIDA INTERNA</b>
        </th>
    </tr>
    <?php if(in_array('red', $mostrar)): ?>
    <thead>
    <tr>
        <th align="center" colspan="10">ITENS VENCIDOS</th>
    </tr>
    <tr>
        <th>LABORATÓRIO</th>
        <th>NOME DO ITEM</th>
        <th>PRINCÍPIO ATIVO</th>
        <th>TIPO</th>
        <th>ATIVO?</th>
        <th>LOTE</th>
        <th>ESTOQUE</th>
        <th align="center">DATA DA ENTRADA</th>
        <th align="center">VALIDADE</th>
        <th align="center">SITUAÇÃO</th>
        <th align="center">CUSTO UNI</th>
        <th align="center">CUSTO TOTAL</th>
    </tr>
    </thead>
    <tbody>
    <?php
    if($count['red'] > 0):
        foreach($red as $data):
            $dataEntrada = \DateTime::createFromFormat('Y-m-d', $data['dataEntrada']);
            $validade = \DateTime::createFromFormat('Y-m-d', $data['VALIDADE']);
            $diffValidade = $now->diff($validade);
            $vencidos = sprintf('Vencidos há %s dia(s)', $diffValidade->days);
            $validade = $validade->format('d/m/Y');
            $estoque = ($data['qtd'] + $data['qtdEntradaUr'] + $data['qtdDevolucao']) - ($data['qtdSaida'] + $data['qtdSaidaInterna']);
            $totalRed += $estoque * $data['custo'];
            ?>
            <tr style="background: #cd0a0a">
                <td><?= $data['laboratorio'] ?></td>
                <td><?= $data['nomeItem'] ?></td>
                <td><?= $data['principioAtivo'] ?></td>
                <td><?= $data['tipoItem'] ?></td>
                <td><?= $data['ativo'] ?></td>
                <td><?= $data['LOTE'] ?></td>
                <td><?= $data['estoque'] ?></td>
                <td align="center"><?= $dataEntrada->format('d/m/Y') ?></td>
                <td align="center"><?= $data['VALIDADE'] != '0000-00-00' ? $validade : 'Item sem validade no sistema' ?></td>
                <td align="center"><?= $data['VALIDADE'] != '0000-00-00' ? $vencidos : '-' ?></td>
                <td align="center"><?= \App\Helpers\StringHelper::currencyFormat($data['custo'])?></td>
                <td align="center"><?= \App\Helpers\StringHelper::currencyFormat($data['custo'] * $estoque)?></td>
            </tr>
        <?php endforeach; ?>
        <tr >
            <td colspan="11" align="right"><b>Custo Total dos Itens:</b></td>
            <td align="center"><b><?= \App\Helpers\StringHelper::currencyFormat($totalRed)?></b></td>
        </tr>
    <?php else: ?>
        <tr>
            <td colspan="10" align="center"><strong>Nenhum resultado foi encontrado!</strong></td>
        </tr>
    <?php endif; ?>
    </tbody>
    <?php endif; ?>

    <?php if(in_array('orange', $mostrar)): ?>
        <!--ITENS COM 1 MES OU MENOS PARA VENCER-->
        <thead>
        <tr>
            <th align="center" colspan="10">ITENS COM 1 MÊS OU MENOS PARA VENCER</th>
        </tr>
        <tr>
            <th>LABORATÓRIO</th>
            <th>NOME DO ITEM</th>
            <th>PRINCÍPIO ATIVO</th>
            <th>TIPO</th>
            <th>ATIVO?</th>
            <th>LOTE</th>
            <th>ESTOQUE</th>
            <th align="center">DATA DA ENTRADA</th>
            <th align="center">VALIDADE</th>
            <th align="center">SITUAÇÃO</th>
            <th align="center">CUSTO UNI</th>
            <th align="center">CUSTO TOTAL</th>
        </tr>
        </thead>
        <tbody>
        <?php
        if($count['orange'] > 0):
            foreach($orange as $data):
                $dataEntrada = \DateTime::createFromFormat('Y-m-d', $data['dataEntrada']);
                $validade = \DateTime::createFromFormat('Y-m-d', $data['VALIDADE']);
                $diffValidade = $now->diff($validade);
                $venceEm = sprintf('Vence em %s dia(s)', $diffValidade->days);
                $validade = $validade->format('d/m/Y');
                $estoque = ($data['qtd'] + $data['qtdEntradaUr'] + $data['qtdDevolucao']) - ($data['qtdSaida'] + $data['qtdSaidaInterna']);
                $totalOrange += $estoque * $data['custo'];
                ?>
                <tr style="background: #eb9316">
                    <td><?= $data['laboratorio'] ?></td>
                    <td><?= $data['nomeItem'] ?></td>
                    <td><?= $data['principioAtivo'] ?></td>
                    <td><?= $data['tipoItem'] ?></td>
                    <td><?= $data['ativo'] ?></td>
                    <td><?= $data['LOTE'] ?></td>
                    <td><?= $data['estoque'] ?></td>
                    <td align="center"><?= $dataEntrada->format('d/m/Y') ?></td>
                    <td align="center"><?= $data['VALIDADE'] != '0000-00-00' ? $validade : 'Item sem validade no sistema' ?></td>
                    <td align="center"><?= $data['VALIDADE'] != '0000-00-00' ? $venceEm: '-' ?></td>
                    <td align="center"><?= \App\Helpers\StringHelper::currencyFormat($data['custo'])?></td>
                    <td align="center"><?= \App\Helpers\StringHelper::currencyFormat($data['custo'] * $estoque)?></td>
                </tr>
            <?php endforeach; ?>
            <tr >
                <td colspan="11" align="right"><b>Custo Total dos Itens:</b></td>
                <td align="center"><b><?= \App\Helpers\StringHelper::currencyFormat($totalOrange)?></b></td>
            </tr>
        <?php else: ?>
            <tr>
                <td colspan="10" align="center"><strong>Nenhum resultado foi encontrado!</strong></td>
            </tr>
        <?php endif; ?>
        </tbody>
    <?php endif; ?>

    <?php if(in_array('gold', $mostrar)): ?>
        <!--ITENS ENTRE 1 E 6 MESES PARA VENCER-->
        <thead>
        <tr>
            <th align="center" colspan="10">ITENS ENTRE 1 E 6 MESES PARA VENCER</th>
        </tr>
        <tr>
            <th>LABORATÓRIO</th>
            <th>NOME DO ITEM</th>
            <th>PRINCÍPIO ATIVO</th>
            <th>TIPO</th>
            <th>ATIVO?</th>
            <th>LOTE</th>
            <th>ESTOQUE</th>
            <th align="center">DATA DA ENTRADA</th>
            <th align="center">VALIDADE</th>
            <th align="center">SITUAÇÃO</th>
            <th align="center">CUSTO UNI</th>
            <th align="center">CUSTO TOTAL</th>
        </tr>
        </thead>
        <tbody>
        <?php
        if($count['gold'] > 0):
            foreach($gold as $data):
                $dataEntrada = \DateTime::createFromFormat('Y-m-d', $data['dataEntrada']);
                $validade = \DateTime::createFromFormat('Y-m-d', $data['VALIDADE']);
                $diffValidade = $now->diff($validade);
                $venceEm = sprintf('Vence em aproximadamente %s mês(es)', $diffValidade->m);
                $validade = $validade->format('d/m/Y');
                $estoque = ($data['qtd'] + $data['qtdEntradaUr'] + $data['qtdDevolucao']) - ($data['qtdSaida'] + $data['qtdSaidaInterna']);
                $totalGold += $estoque * $data['custo'];
                ?>
                <tr style="background: #f8da4e">
                    <td><?= $data['laboratorio'] ?></td>
                    <td><?= $data['nomeItem'] ?></td>
                    <td><?= $data['principioAtivo'] ?></td>
                    <td><?= $data['tipoItem'] ?></td>
                    <td><?= $data['ativo'] ?></td>
                    <td><?= $data['LOTE'] ?></td>
                    <td><?= $data['estoque'] ?></td>
                    <td align="center"><?= $dataEntrada->format('d/m/Y') ?></td>
                    <td align="center"><?= $data['VALIDADE'] != '0000-00-00' ? $validade : 'Item sem validade no sistema' ?></td>
                    <td align="center"><?= $data['VALIDADE'] != '0000-00-00' ? $venceEm: '-' ?></td>
                    <td align="center"><?= \App\Helpers\StringHelper::currencyFormat($data['custo'])?></td>
                    <td align="center"><?= \App\Helpers\StringHelper::currencyFormat($data['custo'] * $estoque)?></td>
                </tr>
            <?php endforeach; ?>
            <tr >
                <td colspan="11" align="right"><b>Custo Total dos Itens:</b></td>
                <td align="center"><b><?= \App\Helpers\StringHelper::currencyFormat($totalGold)?></b></td>
            </tr>
        <?php else: ?>
            <tr>
                <td colspan="10" align="center"><strong>Nenhum resultado foi encontrado!</strong></td>
            </tr>
        <?php endif; ?>
        </tbody>
    <?php endif; ?>

    <?php if(in_array('black', $mostrar)): ?>
        <!--ITENS COM ATE 6 MESES PARA VENCER-->
        <thead>
        <tr>
            <th align="center" colspan="10">ITENS COM ATÉ 6 MESES PARA VENCER</th>
        </tr>
        <tr>
            <th>LABORATÓRIO</th>
            <th>NOME DO ITEM</th>
            <th>PRINCÍPIO ATIVO</th>
            <th>TIPO</th>
            <th>ATIVO?</th>
            <th>LOTE</th>
            <th>ESTOQUE</th>
            <th align="center">DATA DA ENTRADA</th>
            <th align="center">VALIDADE</th>
            <th align="center">SITUAÇÃO</th>
            <th align="center">CUSTO UNI</th>
            <th align="center">CUSTO TOTAL</th>
        </tr>
        </thead>
        <tbody>
        <?php
        if($count['black'] > 0):
            foreach($black as $data):
                $dataEntrada = \DateTime::createFromFormat('Y-m-d', $data['dataEntrada']);
                $validade = \DateTime::createFromFormat('Y-m-d', $data['VALIDADE']);
                $diffValidade = $now->diff($validade);
                $venceEm = sprintf('Vence em aproximadamente %s meses', $diffValidade->m);
                $validade = $validade->format('d/m/Y');
                $estoque = ($data['qtd'] + $data['qtdEntradaUr'] + $data['qtdDevolucao']) - ($data['qtdSaida'] + $data['qtdSaidaInterna']);
                $totalBlack += $estoque * $data['custo'];
                ?>
                <tr>
                    <td><?= $data['laboratorio'] ?></td>
                    <td><?= $data['nomeItem'] ?></td>
                    <td><?= $data['principioAtivo'] ?></td>
                    <td><?= $data['tipoItem'] ?></td>
                    <td><?= $data['ativo'] ?></td>
                    <td><?= $data['LOTE'] ?></td>
                    <td><?= $data['estoque'] ?></td>
                    <td align="center"><?= $dataEntrada->format('d/m/Y') ?></td>
                    <td align="center"><?= $data['VALIDADE'] != '0000-00-00' ? $validade : 'Item sem validade no sistema' ?></td>
                    <td align="center"><?= $data['VALIDADE'] != '0000-00-00' ? $venceEm: '-' ?></td>
                    <td align="center"><?= \App\Helpers\StringHelper::currencyFormat($data['custo'])?></td>
                    <td align="center"><?= \App\Helpers\StringHelper::currencyFormat($data['custo'] * $estoque)?></td>
                </tr>
            <?php endforeach; ?>
            <tr >
                <td colspan="11" align="right"><b>Custo Total dos Itens:</b></td>
                <td align="center"><b><?= \App\Helpers\StringHelper::currencyFormat($totalBlack)?></b></td>
            </tr>
        <?php else: ?>
            <tr>
                <td colspan="10" align="center"><strong>Nenhum resultado foi encontrado!</strong></td>
            </tr>
        <?php endif; ?>
        </tbody>
    <?php endif; ?>

    <?php if(in_array('gray', $mostrar)): ?>
        <!--ITENS COM MAIS DE 1 ANO PARA VENCER-->
        <thead>
        <tr>
            <th align="center" colspan="10">ITENS COM MAIS DE 1 ANO PARA VENCER</th>
        </tr>
        <tr>
            <th>LABORATÓRIO</th>
            <th>NOME DO ITEM</th>
            <th>PRINCÍPIO ATIVO</th>
            <th>TIPO</th>
            <th>ATIVO?</th>
            <th>LOTE</th>
            <th>ESTOQUE</th>
            <th align="center">DATA DA ENTRADA</th>
            <th align="center">VALIDADE</th>
            <th align="center">SITUAÇÃO</th>
            <th align="center">CUSTO UNI</th>
            <th align="center">CUSTO TOTAL</th>
        </tr>
        </thead>
        <tbody>
        <?php
        if($count['gray'] > 0):
            foreach($gray as $data):
                $dataEntrada = \DateTime::createFromFormat('Y-m-d', $data['dataEntrada']);
                $validade = \DateTime::createFromFormat('Y-m-d', $data['VALIDADE']);
                $diffValidade = $now->diff($validade);
                $venceEm = sprintf('Vence em aproximadamente %s ano(s)', $diffValidade->y);
                $validade = $validade->format('d/m/Y');
                $estoque = ($data['qtd'] + $data['qtdEntradaUr'] + $data['qtdDevolucao']) - ($data['qtdSaida'] + $data['qtdSaidaInterna']);
                $totalGray += $estoque * $data['custo'];
                ?>
                <tr style="background: #7d7a7a">
                    <td><?= $data['laboratorio'] ?></td>
                    <td><?= $data['nomeItem'] ?></td>
                    <td><?= $data['principioAtivo'] ?></td>
                    <td><?= $data['tipoItem'] ?></td>
                    <td><?= $data['ativo'] ?></td>
                    <td><?= $data['LOTE'] ?></td>
                    <td><?= $data['estoque'] ?></td>
                    <td align="center"><?= $dataEntrada->format('d/m/Y') ?></td>
                    <td align="center"><?= $data['VALIDADE'] != '0000-00-00' ? $validade : 'Item sem validade no sistema' ?></td>
                    <td align="center"><?= $data['VALIDADE'] != '0000-00-00' ? $venceEm: '-' ?></td>
                    <td align="center"><?= \App\Helpers\StringHelper::currencyFormat($data['custo'])?></td>
                    <td align="center"><?= \App\Helpers\StringHelper::currencyFormat($data['custo'] * $estoque)?></td>
                </tr>
            <?php endforeach; ?>
            <tr >
                <td colspan="11" align="right"><b>Custo Total dos Itens:</b></td>
                <td align="center"><b><?= \App\Helpers\StringHelper::currencyFormat($totalGray)?></b></td>
            </tr>
        <?php else: ?>
            <tr>
                <td colspan="10" align="center"><strong>Nenhum resultado foi encontrado!</strong></td>
            </tr>
        <?php endif; ?>
        </tbody>
    <?php endif; ?>

    <?php if($count['nV'] > 0): ?>
    <!--ITENS SEM DATA DE VALIDADE-->
        <thead>
        <tr>
            <th align="center" colspan="10">ITENS SEM DATA DE VALIDADE NO SISTEMA</th>
        </tr>
        <tr>
            <th>LABORATÓRIO</th>
            <th>NOME DO ITEM</th>
            <th>PRINCÍPIO ATIVO</th>
            <th>TIPO</th>
            <th>ATIVO?</th>
            <th>LOTE</th>
            <th>ESTOQUE</th>
            <th align="center">DATA DA ENTRADA</th>
            <th align="center">VALIDADE</th>
            <th align="center">SITUAÇÃO</th>
            <th align="center">CUSTO UNI</th>
            <th align="center">CUSTO TOTAL</th>
        </tr>
        </thead>
        <tbody>
        <?php
        foreach($nV as $data):
            $dataEntrada = \DateTime::createFromFormat('Y-m-d', $data['dataEntrada']);
            $validade = \DateTime::createFromFormat('Y-m-d', $data['VALIDADE']);
            $validade = $validade->format('d/m/Y');
            $estoque = ($data['qtd'] + $data['qtdEntradaUr'] + $data['qtdDevolucao']) - ($data['qtdSaida'] + $data['qtdSaidaInterna']);
            $total += $estoque * $data['custo'];
            ?>
            <tr>
                <td><?= $data['laboratorio'] ?></td>
                <td><?= $data['nomeItem'] ?></td>
                <td><?= $data['principioAtivo'] ?></td>
                <td><?= $data['tipoItem'] ?></td>
                <td><?= $data['ativo'] ?></td>
                <td><?= $data['LOTE'] ?></td>
                <td><?= $data['estoque'] ?></td>
                <td align="center"><?= $dataEntrada->format('d/m/Y') ?></td>
                <td align="center"><?= 'Item sem validade no sistema' ?></td>
                <td align="center"><?= '-' ?></td>
                <td align="center"><?= \App\Helpers\StringHelper::currencyFormat($data['custo'])?></td>
                <td align="center"><?= \App\Helpers\StringHelper::currencyFormat($data['custo'] * $estoque)?></td>
            </tr>
        <?php endforeach; ?>
        <tr >
            <td colspan="11" align="right"><b>Custo Total dos Itens:</b></td>
            <td align="center"><b><?= \App\Helpers\StringHelper::currencyFormat($total)?></b></td>
        </tr>
        </tbody>
<?php endif; ?>
</table>
