<?php require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>

<head>
    <meta charset="UTF-8">
    <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php');?>
    <link rel="stylesheet" type="text/css" href="/utils/reports.css">
    <link rel="stylesheet" href="/utils/bootstrap-3.3.6-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/utils/jquery/css/toggle/toggle.css" />
    <link rel="stylesheet" href="/utils/bootstrap-3.3.6-dist/css/chosen.bootstrap.min.css" />
    <link rel="stylesheet" href="/utils/font-awesome-4.7.0/css/font-awesome.css" />
    <link rel="stylesheet" type="text/css" href="/components/cid-10/css/typeahead.css">
</head>
<div id="content">
    <div id="right">
        <form method="post" class="form-horizontal" action="?action=configuracao-retencoes">
            <?php
            $display = "none";
            if (isset($_GET['msg']) && !empty($_GET['msg'])) {
                $msg = base64_decode($_GET['msg']);
                $display = "block";
                $class = "alert-danger";
                if (isset($_GET['type']) && $_GET['type'] == 's') {
                    $class = "alert-success";
                }
            }
            ?>

            <div style="display:<?= $display ?> " class="alert <?= $class ?>">
                <strong>
                    <?= $msg ?></strong>
            </div>
            <div class="col-xs-6">
                <div class="panel panel-default">
                    <div class="panel-heading clearfix">
                        <h3 class="panel-title pull-left">
                            <i class="fa fa-cog"></i>
                            Contas de Retenções (Desembolsos)
                        </h3>
                    </div>

                    <div class="panel-body">
                        <div id="div-salvar-config-retencoes-desembolso">
                            <div class="form-group">
                                <label for="iss-conta" class="col-xs-1 control-label">ISS:</label>
                                <div class="col-xs-9 col-xs-offset-1">
                                    <input type="text" name="conta[desembolso][iss]" id="iss-conta-desembolso" tipo="iss" tipo-mov="desembolso" size="100" class="form-control buscar-ipcf-retencao" value="<?= $response['desembolso']['desc_iss'] ?>">
                                    <input type="hidden" name="conta[desembolso][iss_id]" id="iss-id-conta-desembolso" class="id-conta" value="<?= $response['desembolso']['iss'] ?>">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="ir-conta" class="col-xs-1 control-label">IR:</label>
                                <div class="col-xs-9 col-xs-offset-1">
                                    <input type="text" name="conta[desembolso][ir]" id="ir-conta-desembolso" tipo="ir" tipo-mov="desembolso" size="100" class="form-control buscar-ipcf-retencao" value="<?= $response['desembolso']['desc_ir'] ?>">
                                    <input type="hidden" name="conta[desembolso][ir_id]" id="ir-id-conta-desembolso" class="id-conta" value="<?= $response['desembolso']['ir'] ?>">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="pis-conta" class="col-xs-1 control-label">PIS:</label>
                                <div class="col-xs-9 col-xs-offset-1">
                                    <input type="text" name="conta[desembolso][pis]" id="pis-conta-desembolso" tipo="pis" tipo-mov="desembolso" size="100" class="form-control buscar-ipcf-retencao" value="<?= $response['desembolso']['desc_pis'] ?>">
                                    <input type="hidden" name="conta[desembolso][pis_id]" id="pis-id-conta-desembolso" class="id-conta" value="<?= $response['desembolso']['pis'] ?>">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="cofins-conta" class="col-xs-1 control-label">COFINS:</label>
                                <div class="col-xs-9 col-xs-offset-1">
                                    <input type="text" name="conta[desembolso][cofins]" id="cofins-conta-desembolso" tipo="cofins" tipo-mov="desembolso" size="100" class="form-control buscar-ipcf-retencao" value="<?= $response['desembolso']['desc_cofins'] ?>">
                                    <input type="hidden" name="conta[desembolso][cofins_id]" id="cofins-id-conta-desembolso" class="id-conta" value="<?= $response['desembolso']['cofins'] ?>">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="csll-conta" class="col-xs-1 control-label">CSLL:</label>
                                <div class="col-xs-9 col-xs-offset-1">
                                    <input type="text" name="conta[desembolso][csll]" id="csll-conta-desembolso" tipo="csll" tipo-mov="desembolso" size="100" class="form-control buscar-ipcf-retencao" value="<?= $response['desembolso']['desc_csll'] ?>">
                                    <input type="hidden" name="conta[desembolso][csll_id]" id="csll-id-conta-desembolso" class="id-conta" value="<?= $response['desembolso']['csll'] ?>">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="pcc-conta" class="col-xs-1 control-label">PCC:</label>
                                <div class="col-xs-9 col-xs-offset-1">
                                    <input type="text" name="conta[desembolso][pcc]" id="pcc-conta-desembolso" tipo="pcc" tipo-mov="desembolso" size="100" class="form-control buscar-ipcf-retencao" value="<?= $response['desembolso']['desc_pcc'] ?>">
                                    <input type="hidden" name="conta[desembolso][pcc_id]" id="pcc-id-conta-desembolso" class="id-conta" value="<?= $response['desembolso']['pcc'] ?>">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="pcc-conta" class="col-xs-1 control-label">INSS:</label>
                                <div class="col-xs-9 col-xs-offset-1">
                                    <input type="text" name="conta[desembolso][inss]" id="inss-conta-desembolso" tipo="inss" tipo-mov="desembolso" size="100" class="form-control buscar-ipcf-retencao" value="<?= $response['desembolso']['desc_inss'] ?>">
                                    <input type="hidden" name="conta[desembolso][inss_id]" id="inss-id-conta-desembolso" class="id-conta" value="<?= $response['desembolso']['inss'] ?>">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="panel panel-default">
                    <div class="panel-heading clearfix">
                        <h3 class="panel-title pull-left">
                            <i class="fa fa-cog"></i>
                            Contas de Retenções (Recebimentos)
                        </h3>
                    </div>

                    <div class="panel-body">
                        <div id="div-salvar-config-retencoes-recebimento">
                            <div class="form-group">
                                <label for="iss-conta" class="col-xs-1 control-label">ISS:</label>
                                <div class="col-xs-9 col-xs-offset-1">
                                    <input type="text" name="conta[recebimento][iss]" id="iss-conta-recebimento" tipo="iss" tipo-mov="recebimento" size="100" class="form-control buscar-ipcf-retencao" value="<?= $response['recebimento']['desc_iss'] ?>">
                                    <input type="hidden" name="conta[recebimento][iss_id]" id="iss-id-conta-recebimento" class="id-conta" value="<?= $response['recebimento']['iss'] ?>">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="ir-conta" class="col-xs-1 control-label">IR:</label>
                                <div class="col-xs-9 col-xs-offset-1">
                                    <input type="text" name="conta[recebimento][ir]" id="ir-conta-recebimento" tipo="ir" tipo-mov="recebimento" size="100" class="form-control buscar-ipcf-retencao" value="<?= $response['recebimento']['desc_ir'] ?>">
                                    <input type="hidden" name="conta[recebimento][ir_id]" id="ir-id-conta-recebimento" class="id-conta" value="<?= $response['recebimento']['ir'] ?>">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="pis-conta" class="col-xs-1 control-label">PIS:</label>
                                <div class="col-xs-9 col-xs-offset-1">
                                    <input type="text" name="conta[recebimento][pis]" id="pis-conta-recebimento" tipo="pis" tipo-mov="recebimento" size="100" class="form-control buscar-ipcf-retencao" value="<?= $response['recebimento']['desc_pis'] ?>">
                                    <input type="hidden" name="conta[recebimento][pis_id]" id="pis-id-conta-recebimento" class="id-conta" value="<?= $response['recebimento']['pis'] ?>">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="cofins-conta" class="col-xs-1 control-label">COFINS:</label>
                                <div class="col-xs-9 col-xs-offset-1">
                                    <input type="text" name="conta[recebimento][cofins]" id="cofins-conta-recebimento" tipo="cofins" tipo-mov="recebimento" size="100" class="form-control buscar-ipcf-retencao" value="<?= $response['recebimento']['desc_cofins'] ?>">
                                    <input type="hidden" name="conta[recebimento][cofins_id]" id="cofins-id-conta-recebimento" class="id-conta" value="<?= $response['recebimento']['cofins'] ?>">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="csll-conta" class="col-xs-1 control-label">CSLL:</label>
                                <div class="col-xs-9 col-xs-offset-1">
                                    <input type="text" name="conta[recebimento][csll]" id="csll-conta-recebimento" tipo="csll" tipo-mov="recebimento" size="100" class="form-control buscar-ipcf-retencao" value="<?= $response['recebimento']['desc_csll'] ?>">
                                    <input type="hidden" name="conta[recebimento][csll_id]" id="csll-id-conta-recebimento" class="id-conta" value="<?= $response['recebimento']['csll'] ?>">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="pcc-conta" class="col-xs-1 control-label">PCC:</label>
                                <div class="col-xs-9 col-xs-offset-1">
                                    <input type="text" name="conta[recebimento][pcc]" id="pcc-conta-recebimento" tipo="pcc" tipo-mov="recebimento" size="100" class="form-control buscar-ipcf-retencao" value="<?= $response['recebimento']['desc_pcc'] ?>">
                                    <input type="hidden" name="conta[recebimento][pcc_id]" id="pcc-id-conta-recebimento" class="id-conta" value="<?= $response['recebimento']['pcc'] ?>">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="pcc-conta" class="col-xs-1 control-label">INSS:</label>
                                <div class="col-xs-9 col-xs-offset-1">
                                    <input type="text" name="conta[recebimento][inss]" id="inss-conta-recebimento" tipo="inss" tipo-mov="recebimento" size="100" class="form-control buscar-ipcf-retencao" value="<?= $response['recebimento']['desc_inss'] ?>">
                                    <input type="hidden" name="conta[recebimento][inss_id]" id="inss-id-conta-recebimento" class="id-conta" value="<?= $response['recebimento']['inss'] ?>">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-6">
                <div class="panel panel-default">
                    <div class="panel-heading clearfix">
                        <h3 class="panel-title pull-left">
                            <i class="fa fa-calendar"></i>
                            Vencimentos das Retenções (Desembolsos)
                            <br>
                            <small>* Dia do Mês</small>
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div id="div-vencimentos-desembolsos">
                            <div class="form-group">
                                <label for="pis-conta" class="col-xs-1 control-label">ISS:</label>
                                <div class="col-xs-5 col-xs-offset-1">
                                    <input type="number" min="0" max="31" name="vencimento[desembolso][iss]" id="vencimento-desembolso-iss" maxlength="2" class="form-control validar-dia-vencimento" value="<?= $response['vencimento']['desembolso']['iss'] ?>">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="pis-conta" class="col-xs-1 control-label">IR:</label>
                                <div class="col-xs-5 col-xs-offset-1">
                                    <input type="number" min="0" max="31" name="vencimento[desembolso][ir]" id="vencimento-desembolso-ir" maxlength="2" class="form-control validar-dia-vencimento" value="<?= $response['vencimento']['desembolso']['ir'] ?>">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="pis-conta" class="col-xs-1 control-label">PIS:</label>
                                <div class="col-xs-5 col-xs-offset-1">
                                    <input type="number" min="0" max="31" name="vencimento[desembolso][pis]" id="vencimento-desembolso-pis" maxlength="2" class="form-control validar-dia-vencimento" value="<?= $response['vencimento']['desembolso']['pis'] ?>">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="pis-conta" class="col-xs-1 control-label">COFINS:</label>
                                <div class="col-xs-5 col-xs-offset-1">
                                    <input type="number" min="0" max="31" name="vencimento[desembolso][cofins]" id="vencimento-desembolso-cofins" maxlength="2" class="form-control validar-dia-vencimento" value="<?= $response['vencimento']['desembolso']['cofins'] ?>">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="pis-conta" class="col-xs-1 control-label">CSLL:</label>
                                <div class="col-xs-5 col-xs-offset-1">
                                    <input type="number" min="0" max="31" name="vencimento[desembolso][csll]" id="vencimento-desembolso-csll" maxlength="2" class="form-control validar-dia-vencimento" value="<?= $response['vencimento']['desembolso']['csll'] ?>">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="pcc-conta" class="col-xs-1 control-label">PCC:</label>
                                <div class="col-xs-5 col-xs-offset-1">
                                    <input type="number" min="0" max="31" name="vencimento[desembolso][pcc]" id="vencimento-desembolso-pcc" maxlength="2" class="form-control validar-dia-vencimento" value="<?= $response['vencimento']['desembolso']['pcc'] ?>">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="pis-conta" class="col-xs-1 control-label">INSS:</label>
                                <div class="col-xs-5 col-xs-offset-1">
                                    <input type="number" min="0" max="31" name="vencimento[desembolso][inss]" id="vencimento-desembolso-inss" maxlength="2" class="form-control validar-dia-vencimento" value="<?= $response['vencimento']['desembolso']['inss'] ?>">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-6">
                <div class="panel panel-default">
                    <div class="panel-heading clearfix">
                        <h3 class="panel-title pull-left">
                            <i class="fa fa-calendar"></i>
                            Vencimentos das Retenções (Recebimentos)
                            <br>
                            <small>* Dia do Mês</small>
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div id="div-vencimentos-recebimentos">
                            <div class="form-group">
                                <label for="pis-conta" class="col-xs-1 control-label">ISS:</label>
                                <div class="col-xs-5 col-xs-offset-1">
                                    <input type="number" min="0" max="31" name="vencimento[recebimento][iss]" id="vencimento-recebimento-iss" maxlength="2" class="form-control validar-dia-vencimento" value="<?= $response['vencimento']['recebimento']['iss'] ?>">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="pis-conta" class="col-xs-1 control-label">IR:</label>
                                <div class="col-xs-5 col-xs-offset-1">
                                    <input type="number" min="0" max="31" name="vencimento[recebimento][ir]" id="vencimento-recebimento-ir" maxlength="2" class="form-control validar-dia-vencimento" value="<?= $response['vencimento']['recebimento']['ir'] ?>">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="pis-conta" class="col-xs-1 control-label">PIS:</label>
                                <div class="col-xs-5 col-xs-offset-1">
                                    <input type="number" min="0" max="31" name="vencimento[recebimento][pis]" id="vencimento-recebimento-pis" maxlength="2" class="form-control validar-dia-vencimento" value="<?= $response['vencimento']['recebimento']['pis'] ?>">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="pis-conta" class="col-xs-1 control-label">COFINS:</label>
                                <div class="col-xs-5 col-xs-offset-1">
                                    <input type="number" min="0" max="31" name="vencimento[recebimento][cofins]" id="vencimento-recebimento-cofins" maxlength="2" class="form-control validar-dia-vencimento" value="<?= $response['vencimento']['recebimento']['cofins'] ?>">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="pis-conta" class="col-xs-1 control-label">CSLL:</label>
                                <div class="col-xs-5 col-xs-offset-1">
                                    <input type="number" min="0" max="31" name="vencimento[recebimento][csll]" id="vencimento-recebimento-csll" maxlength="2" class="form-control validar-dia-vencimento" value="<?= $response['vencimento']['recebimento']['csll'] ?>">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="pcc-conta" class="col-xs-1 control-label">PCC:</label>
                                <div class="col-xs-5 col-xs-offset-1">
                                    <input type="number" min="0" max="31" name="vencimento[recebimento][pcc]" id="vencimento-recebimento-pcc" maxlength="2" class="form-control validar-dia-vencimento" value="<?= $response['vencimento']['recebimento']['pcc'] ?>">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="pis-conta" class="col-xs-1 control-label">INSS:</label>
                                <div class="col-xs-5 col-xs-offset-1">
                                    <input type="number" min="0" max="31" name="vencimento[recebimento][inss]" id="vencimento-recebimento-inss" maxlength="2" class="form-control validar-dia-vencimento" value="<?= $response['vencimento']['recebimento']['inss'] ?>">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 text-center">
                <div class="form-group">
                    <button type="submit" id="salvar-config-retencoes" class='btn btn-primary'>
                        Salvar
                    </button>
                    <a href="/financeiros/?op=plano-contas" class='btn btn-warning'>
                        Voltar
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript" src="/utils/bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/utils/jquery/summernote/summernote.js"></script>
<script type="text/javascript" src="/utils/jquery/summernote/lang/summernote-pt-BR.js"></script>
<script type="text/javascript" src="/financeiros/retencoes/templates/configuracao-retencoes/js/main.js?v=1"></script>
<script type="text/javascript" src="/utils/jquery/js/validar_campos.js"></script>
<script type="text/javascript" src="/utils/jquery/js/bootstrap-toggle.min.js"></script>
<script type="text/javascript" src="/components/cid-10/js/typeahead.js?v=1"></script>
<div id="left">
    <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
</div>

</body>

</html>