<?php require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>
<head>
    <meta charset="UTF-8">
    <script src="/enfermagem/enfermagem.js?v=15.1" type="text/javascript"></script>
    <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php'); ?>
</head>
<div id="content">
    <div id="right">
        <form action="/enfermagem/prescricao/index.php" method="post" id="form-gerenciar-presc-enf">
            <center><h1>Prescrições de Enfermagem</h1></center>

            <br>
            <input type="hidden" name="query" value="buscar-prescricao">
            <div id="div-gerenciar-prescricao-enf">
                <?php
                $enfermagem->pacientes($_POST);
                $enfermagem->periodo($_POST);
                ?>
                <p>
                <div>
                    <label for='carater'><b>Carater:</b></label>
                    <select id = 'carater' name = 'carater'>
                        <option value='-1' selected >Selecione </option>
                        <?php

                        foreach($caraterPrescricaoEnfermagem as $g1) {
                            ?>
                            <option value='<?php echo $g1['id'] ?>'><?php echo $g1['nome'] ?> </option>
                            <?php
                        }
                        ?>
                    </select>
                </div
                </p>
                <p>
                    <button type='button' id='buscar-prescricoes-enf' class='ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only ui-state-hover'
                            role='button' aria-disabled='false' >
                        <span class='ui-button-text'>Buscar</span>
                    </button>
                    <?php if (
                        isset($_SESSION['permissoes']['enfermagem']
                        ['enfermagem_prescricao_enfermagem']
                        ['enfermagem_prescricao_enfermagem_novo']) ||
                        $_SESSION['adm_user'] == '1'
                    ): ?>
                        <button id='nova-prescricao-enf' type='button' class='ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only ui-state-hover'
                                role='button' aria-disabled='false' >
                            <span class='ui-button-text'>Nova</span>
                        </button>
                    <?php endif; ?>
                </p>
            </div>

        </form>
        <div id="dialog-usar-para-nova-prescricao" id-presc title="Usar para nova prescrição">
            <br/>
            <fieldset style='width:375px;text-align:center;'><legend><b>Per&iacute;odo</b></legend>
                DE.<input type='text' id='inicio-div' value= '' maxlength='10' size='10' class='OBG inicio-periodo' />.
                AT&Eacute; <input type='text' id='fim-div' value=' ' maxlength='10' size='10' class='OBG fim-periodo' /></fieldset>
        </div>
        <div id="lista-prescricoes">
            <?php if(isset($_POST) && !empty($_POST)): ?>
                <table class="mytable" width="100%">
                    <thead>
                    <tr>
                        <th ><b>Paciente</b></th >
                        <th><b>Enfermeiro</b></th >
                        <th><b>Caráter</b></th >
                        <th><b>Data</b></th>
                        <th><b>Período</b></th>
                        <th></th>
                    </tr>
                    </thead>

                    <?php
                    if(count($listaPrescricao) > 0):
                        foreach($listaPrescricao as $presc):
                            ?>
                            <tr width="100%">
                                <td width="25%"><?php echo $presc['paciente'] ?></td >
                                <td  width="25%"><?php echo $presc['usuario'] ?></td >
                                <td  width="10%"><?php echo $presc['caraterNome'] ?></td >
                                <td  width="15%"><?php echo $presc['dataPt'] ?></td >
                                <td  width="18%"><?php echo $presc['inicioPt'] ?> até <?php echo $presc['fimPt'] ?></td >
                                <td width="7%">
                                    <img src="/utils/fichas_24x24.png" width="16" title="Visualizar Prescrição de Enfermagem"
                                         class="visualizar-presc-enf" data-id-prescricao="<?php echo $presc['id'] ?>"  border="0">
                                    <?php if (
                                        isset($_SESSION['permissoes']['enfermagem']
                                        ['enfermagem_prescricao_enfermagem']
                                        ['enfermagem_prescricao_enfermagem_usar_para_nova']) ||
                                        $_SESSION['adm_user'] == '1'
                                    ): ?>
                                        <img src="/utils/prescricao_16x16.png" width="16" title="Usar Para Nova Prescrição de Enfermagem"
                                             class="usar-para-nova-presc-enf" data-id-prescricao="<?php echo $presc['id'] ?>"  border="0">
                                    <?php endif; ?>
                                </td >
                            </tr>
                            <?php
                        endforeach;
                    else:
                        ?>
                        <tr width="100%">
                            <td align="center" colspan="5">Nenhuma prescrição foi encontrada!</td >
                        </tr>
                        <?php
                    endif;
                    ?>
                </table>
            <?php endif; ?>

        </div>

    </div>
    <div id="left">
        <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
    </div>
</div>
</body>
</html>
