<style type='text/css'>
	table, td {
		border: 1px solid rgb(84,141,212);
		font-family: Times, "Times New Roman", sans-serif;
		font-size: 14px;
	}
	.row-title {
		height: 80px;
	}
	.row-title td {
		border: 0px !important;
		font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
		font-size: 22px !important;
		color: rgb(84,141,212);
	}
	.row-section {
		height: 20px;
		background-color: rgb(84,141,212);
		color: #ffffff;
	}
	.row-subsection {
		height: 20px;
		background-color: rgb(184,204,228);
	}
	.collumn-description {
		height: 20px;
		background-color: rgb(219,229,241);
	}
</style>
<?php
$initial = 0;
$offset = 0;
for($i = 1; $i <= $response['prescricao']['num_paginas']; $i++):
	$offset += 4;
?>
<table cellspacing="0" cellpadding="0" align="center" width="765">
	<tbody>
	<tr>
		<td colspan="12" valign="top" >
			<table cellpadding="0" cellspacing="0" align="center" width="100%">
				<tbody>
				<tr class="row-title">
					<td width="10%" rowspan="1" align="center" valign="middle">
						<img src="../../../utils/logo_ficha_curativo.jpg" width="60" height="60"/>
					</td>
					<td width="65%" rowspan="3" align="center" valign="middle">ATENÇÃO DOMICILIAR - CURATIVOS</td>
					<td width="25%" rowspan="3" align="center" valign="middle">
						<img src="../../../utils/logos/<?= $logo ?>" width="201" />
					</td>
				</tr>
				</tbody>
			</table>
		</td>
	</tr>
	<tr>
		<td colspan="8" valign="middle">
			<p>Beneficiário</p>
			<?= $paciente['nome'] ?>
		</td>
		<td colspan="2" valign="top" >
			<p>Idade</p>
			<?php
				$idade = \DateTime::createFromFormat('Y-m-d', $paciente['nascimento'])->diff(new \DateTime())->y;
				echo sprintf('%d ano%s', $idade, ($idade > 1 ? "s" : "") );
			?>
		</td>
		<td colspan="2" valign="top" >
			<p>Diagnóstico</p>
			<?= $paciente['diagnostico'] ?>
		</td>
	</tr>
	<tr>
		<td colspan="3" valign="top" >
			<p>Admissão</p>
			<?= \DateTime::createFromFormat('Y-m-d H:i:s', $admissao['DATA_ADMISSAO'])->format('d/m/Y à\s H:i:s') ?>
		</td>
		<td colspan="5" valign="top" >
			<p>Regime</p>
			<?= $modalidade['modalidade'] ?>
		</td>
		<td colspan="4" valign="top">
			<p>Período Solicitado</p>
			<?php
				$inicio = \DateTime::createFromFormat('Y-m-d', $response['prescricao']['inicio'])->format('d/m/Y');
				$fim 		= \DateTime::createFromFormat('Y-m-d', $response['prescricao']['fim'])->format('d/m/Y');
				echo sprintf('%s a %s', $inicio, $fim);
			?>
		</td>
	</tr>
	<tr>
		<td colspan="12" valign="middle" align="center" class="row-section" ><b>AVALIAÇÃO DA(S) FERIDA(S)</b></td>
	</tr>
	<tr>
		<td colspan="2" class="collumn-description" >Localização</td>
		<?= array_reduce(array_slice($response['feridas']['localizacao'], $initial, $offset), $getCols)	?>
	</tr>
	<tr>
		<td colspan="2" class="collumn-description" >Data inicial do tratamento</td>
		<?= array_reduce(array_slice($response['feridas']['data_inicial'], $initial, $offset), $getCols)	?>
		<td valign="top" > </td>
	</tr>
	<tr>
		<td colspan="2" class="collumn-description">
			Tamanho <br>
			(largura, altura e profundidade)
		</td>
		<?= array_reduce(array_slice($response['feridas']['tamanho'], $initial, $offset), $getCols)	?>
	</tr>
	<tr>
		<td colspan="2" class="collumn-description">Comprometimento tecidual (estágio/grau)</td>
		<?= array_reduce(array_slice($response['feridas']['comprometimento'], $initial, $offset), $getCols)	?>
	</tr>
	<tr>
		<td colspan="2" class="collumn-description">Tipo de tecido</td>
		<?= array_reduce(array_slice($response['feridas']['tipo_tecido'], $initial, $offset), $getCols)	?>
	</tr>
	<tr>
		<td colspan="2" class="collumn-description">Presença de infecção</td>
		<?= array_reduce(array_slice($response['feridas']['presenca_infeccao'], $initial, $offset), $getCols)	?>
	</tr>
	<tr>
		<td colspan="2" class="collumn-description">Exsudato</td>
		<?= array_reduce(array_slice($response['feridas']['exsudato'], $initial, $offset), $getCols)	?>
	</tr>
	<tr>
		<td colspan="12" valign="middle" align="center" class="row-section"><b>CONDUTA ATUAL</b></td>
	</tr>
	<tr>
		<td colspan="12" valign="middle" align="center" class="row-subsection"><b>Cobertura Primária</b></td>
	</tr>
	<tr>
		<td colspan="2" class="collumn-description">Produto</td>
		<?= array_reduce(array_slice($response['feridas']['conduta_atual']['produtos'], $initial, $offset), $getCols)	?>
	</tr>
	<tr>
		<td colspan="2" class="collumn-description">Quantidade</td>
		<?= array_reduce(array_slice($response['feridas']['conduta_atual']['qtd'], $initial, $offset), $getCols)	?>
	</tr>
	<tr>
		<td colspan="2" class="collumn-description">Periodicidade de troca</td>
		<?= array_reduce(array_slice($response['feridas']['conduta_atual']['periodicidade'], $initial, $offset), $getCols)	?>
	</tr>
	<tr>
		<td colspan="2" class="collumn-description">Responsável</td>
		<?= array_reduce(array_slice($response['feridas']['conduta_atual']['profissional'], $initial, $offset), $getCols)	?>
	</tr>
	<tr>
		<td colspan="12" valign="middle" align="center" class="row-section"><b>PRESCRIÇÃO PARA O PERÍODO</b></td>
	</tr>
	<tr>
		<td colspan="12" valign="middle" align="center" class="row-subsection"><b>Cobertura Primária</b></td>
	</tr>
	<tr>
		<td colspan="2" class="collumn-description">Produto</td>
		<?= array_reduce(array_slice($response['feridas']['cobertura_primaria']['produtos'], $initial, $offset), $getCols)	?>
	</tr>
	<tr>
		<td colspan="2" class="collumn-description">Quantidade</td>
		<?= array_reduce(array_slice($response['feridas']['cobertura_primaria']['qtd'], $initial, $offset), $getCols)	?>
	</tr>
	<tr>
		<td colspan="2" class="collumn-description">Periodicidade de troca</td>
		<?= array_reduce(array_slice($response['feridas']['cobertura_primaria']['periodicidade'], $initial, $offset), $getCols)	?>
	</tr>
	<tr>
		<td colspan="2" class="collumn-description">Responsável</td>
		<?= array_reduce(array_slice($response['feridas']['cobertura_primaria']['profissional'], $initial, $offset), $getCols)	?>
	</tr>
	<tr>
		<td colspan="12" valign="middle" align="center" class="row-subsection"><b>Cobertura Secundária</b></td>
	</tr>
	<tr>
		<td colspan="2" class="collumn-description">Produto</td>
		<?= array_reduce(array_slice($response['feridas']['cobertura_secundaria']['produtos'], $initial, $offset), $getCols)	?>
	</tr>
	<tr>
		<td colspan="2" class="collumn-description">Quantidade</td>
		<?= array_reduce(array_slice($response['feridas']['cobertura_secundaria']['qtd'], $initial, $offset), $getCols)	?>
	</tr>
	<tr>
		<td colspan="2" class="collumn-description">Periodicidade de troca</td>
		<?= array_reduce(array_slice($response['feridas']['cobertura_secundaria']['periodicidade'], $initial, $offset), $getCols)	?>
	</tr>
	<tr>
		<td colspan="2" class="collumn-description">Responsável</td>
		<?= array_reduce(array_slice($response['feridas']['cobertura_secundaria']['profissional'], $initial, $offset), $getCols)	?>
	</tr>
	<tr>
		<td colspan="12" valign="middle" align="center" class="row-section"><b>PREVISÃO DE ALTA?</b></td>
	</tr>
	<tr>
		<td colspan="12" valign="middle" align="center" class="row-section"><b>EVOLUÇÃO</b></td>
	</tr>
	<tr>
		<td colspan="12" valign="top" >&nbsp;</td>
	</tr>
	<tr>
		<td colspan="12" valign="top" >&nbsp;</td>
	</tr>
	<tr>
		<td colspan="12" valign="top" >&nbsp;</td>
	</tr>
	<tr>
		<td colspan="12" valign="top" >&nbsp;</td>
	</tr>
	<tr>
		<td colspan="12" valign="top" >&nbsp;</td>
	</tr>
	<tr>
		<td colspan="12" valign="top" >&nbsp;</td>
	</tr>
	<tr>
		<td colspan="12" valign="top" >&nbsp;</td>
	</tr>
	<tr>
		<td colspan="12" valign="top" >&nbsp;</td>
	</tr>
	<tr>
		<td colspan="12" valign="top" >&nbsp;</td>
	</tr>
	<tr>
		<td colspan="12" valign="top" >&nbsp;</td>
	</tr>
	<tr>
		<td colspan="9">
			<p>Profissional solicitante</p>
			<?= $response['prescricao']['profissional'] ?>
		</td>
		<td colspan="3">
			<p>COREN</p>
			&nbsp;
		</td>
	</tr>
	<tr>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	</tbody>
</table>
<?php endfor ?>
