<?php
$id = session_id();
if(empty($id))
  session_start();
include_once('../../../validar.php');
include_once('../../../utils/mpdf/mpdf.php');
include_once('../../../db/config.php');
?>
    <table border='1' width='100%' style='border:1px solid #000;border-collapse:collapse;'>

          <tr>
            <td width='40%' rowspan='3' colspan='3' >
                <img src='../../../utils/logo.jpg' width='30%' style='align:center' />
              <br/>
            </td>
             <td width=20% colspan='5'>Prescrição Enfermagem 11/03/205 Huginho</td>
              <td rowspan='3' colspan='2' >
                                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              </td>
         </tr>
         <tr>
             <td colspan='5'><b>Cuidador: TESTE TI </b></td>
         </tr>
         <tr>
             <td colspan='5' >
                   <b>Profissional: </b>
             </td>
          </tr>
          <tr>
            <td colspan='3' >Prescrição Semanal</td>
            <td colspan='7'>Aprazamento</td>
          </tr>
      <?php
      for($d = 0; $d < 7; $d++){
        $dia_coluna = "&nbsp;";
        $dia = $date->format("Y-m-d");

        if(($mes_atual == substr($dia,5,2)) && ($date <= $fim_periodo_prescrito)){
          $dia_coluna = $date->format("d/m/Y");

          $inicio_periodo_prescrito->modify("+1 day");
        }
        if($tip != "-1"){
          $dias .= "<th width=10%>{$dia_coluna}</th>";
          $date->modify("+1 day");
        }
      }
      ?>
    </table>
