<?php require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>
<head xmlns="http://www.w3.org/1999/html">
	<meta charset="UTF-8">
	<script type="text/javascript" src="/utils/jquery/js/easyTooltip.js"></script>
	<script src="/enfermagem/enfermagem.js?v=17" type="text/javascript"></script>
	<?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php'); ?>
</head>
<div id="content">
	<div id="right">
		<center><h1>Nova Prescrição de Curativo</h1></center>
		<br>
		<?php $paciente->cabecalho($id_paciente) ?>
		<div id="div-prescrever-curativos">
			<form action="/enfermagem/prescricao/index.php" onsubmit="return validar_form()" method="post">
				<p>
					<input type="hidden" value="<?php echo $id_paciente ?>" name="paciente">
					<input type="hidden" value="salvar-prescricao-curativo" name="query">
					<input type="hidden" value="1" id="j" name="j">
        	<span id="data-presc-enf">
						<b>Período da Prescrição:</b>
					 	<input type='text' name='inicio' value='<?php echo $inicio ?>' maxlength='10' size='10' class='OBG inicio-periodo prescricao-inicio' />
						ATÉ
					 	<input type='text' name='fim' value='<?php echo $fim ?>' maxlength='10' size='10' class='OBG fim-periodo prescricao-fim' />
						<b>Caráter:</b>
						<select name="carater" id="select-carater-prescricao" class="carater OBG">
							<option value="-1">Selecione um carater para a prescrição...</option>
							<?php	foreach ($carateres as $carater): ?>
								<option value="<?= $carater['id'] ?>"><?= $carater['nome'] ?></option>
							<?php	endforeach;	?>
						</select>
					</span>
				</p>
				<div class="feridas" data-ord="1">
					<div class="container" style="border:1px solid;background-color:#EEEEEE; ">
						<div>
							<img class="remover-ferida"
									 src="/utils/delete.png"
									 title="Remover Ferida"
									 style="position: relative; float: right"
									 border="0">
						</div>
						<center>
							<div class="ui-state-highlight" style="margin-top: 5px;">
								<strong>LOCAL DA FERIDA</strong>
							</div>
							<p>
								<select name="local_ferida[]" class="local-ferida OBG">
									<option value="-1">Selecione um local para a ferida...</option>
									<?php	foreach ($locais_feridas as $local): ?>
										<option value="<?= $local['ID'] ?>" lado="<?= $local['LADO'] ?>"><?= $local['LOCAL'] ?></option>
									<?php	endforeach;	?>
								</select>
							</p>
							<div class="lado" style="display: none;">
								<h3>Lado:</h3>
								<p>
									<select name='lado_ferida[]' class="lado-ferida">
										<option value='-1'>SELECIONE...</option>
										<option value='1'>DIREITO</option>
										<option value='2'>ESQUERDO</option>
									</select>
								</p>
							</div>
							<div>
								<strong>Justificativa:   </strong>
								<textarea name="justificativa[]" class="justificativa OBG" cols="43" rows="3"></textarea>
							</div>
						</center>

						<!-- Cobertura Primária -->
						<center>
							<div class="ui-state-highlight">
								<strong>COBERTURA PRIMÁRIA</strong>
							</div>
						</center>
						<p>
							<strong>Curativo: </strong>
							<input type="text"
										 size="82"
										 name="cp_buscar_curativo"
										 ord="1"
										 data-catalogo-id=""
										 data-item-name=""
										 class="ui-autocomplete-input cp-buscar-curativo"
										 style="margin-left: 28px;"
										 autocomplete="off"
										 role="textbox"
										 aria-autocomplete="list"
										 aria-haspopup="true">
						</p>
						<p>
							<strong>Quantidade: </strong>
							<input type="text" maxlength="4" size="4" name="cp_qtd_item" class="cp-qtd-item" style="margin-left: 9px;">
							<strong>Frequência: </strong>
							<select name="cp_frequencia" class="cp-frequencia" style="margin-left: 5px;">
								<option value="-1">SELECIONE...</option>
								<?php	foreach($frequencias as $frequencia):	?>
									<option value="<?php echo $frequencia['id']?>" frequencia-qtd="<?php echo $frequencia['qtd']?>">
										<?php echo $frequencia['frequencia']?>
									</option>
								<?php endforeach; ?>
							</select>
							<strong>Período: </strong>
							<input type='text'
										 name='cp_inicio'
										 value='<?php echo $inicio ?>'
										 maxlength='10'
										 size='10'
										 class='inicio-periodo prescricao-inicio cp-inicio' />
							a
							<input type='text'
										 name='cp_fim'
										 value='<?php echo $fim ?>'
										 maxlength='10'
										 size='10'
										 class='fim-periodo prescricao-fim cp-fim' />
						</p>
						<p>
							<strong>Observações: </strong>
							<textarea name="cp_obs" class="cp-obs" cols="43" rows="3"></textarea>
							<button id='cp-adicionar-cobertura'
									type="button"
									class='ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only ui-state-hover cp-adicionar-cobertura'
									role='button'
									style="margin-left: 49px; bottom: 23px; width: 229px; height: 55px;"
									aria-disabled='false' >
								<span class='ui-button-text'>Adicionar +</span>
							</button>
						</p>

						<!-- Itens da cobertura primária -->
						<div class="cp-table-itens" data-ord="1">
							<center>
								<h3><strong style="color: #8B0000;">ITENS DA COBERTURA PRIMÁRIA</strong></h3>
							</center>
							<table width="100%" class="mytable">
								<thead>
									<th width="30%">ITEM</th>
									<th width="25%">PERÍODO</th>
									<th width="10%">QUANTIDADE</th>
									<th width="35%">APRAZAMENTO</th>
								</thead>
								<tbody>
								</tbody>
							</table>
						</div>

						<!-- Cobertura Secundária -->
						<center style="margin-top: 30px;">
							<div class="ui-state-highlight">
								<strong>COBERTURA SECUNDÁRIA</strong>
							</div>
						</center>
						<p>
							<strong>Curativo: </strong>
							<input type="text"
										 size="82"
										 name="cs_buscar_curativo"
										 ord="1"
										 data-catalogo-id=""
										 data-item-name=""
										 class="ui-autocomplete-input cs-buscar-curativo"
										 style="margin-left: 28px;"
										 autocomplete="off"
										 role="textbox"
										 aria-autocomplete="list"
										 aria-haspopup="true">
						</p>
						<p>
							<strong>Quantidade: </strong>
							<input type="text" maxlength="4" size="4" name="cs_qtd_item" class="cs-qtd-item" style="margin-left: 9px;">
							<strong>Frequência: </strong>
							<select name="cs_frequencia" class="cs-frequencia" style="margin-left: 5px;">
								<option value="-1">SELECIONE...</option>
								<?php	foreach($frequencias as $frequencia):	?>
									<option value="<?php echo $frequencia['id']?>" frequencia-qtd="<?php echo $frequencia['qtd']?>">
										<?php echo $frequencia['frequencia']?>
									</option>
								<?php endforeach; ?>
							</select>
							<strong>Período: </strong>
							<input type='text'
										 name='cs_inicio'
										 value='<?php echo $inicio ?>'
										 maxlength='10'
										 size='10'
										 class='inicio-periodo prescricao-inicio cs-inicio' />
							a
							<input type='text'
										 name='cs_fim'
										 value='<?php echo $fim ?>'
										 maxlength='10'
										 size='10'
										 class='fim-periodo prescricao-fim cs-fim' />
						<p>
							<strong>Observações: </strong>
							<textarea name="cs_obs" class="cs-obs" cols="43" rows="3"></textarea>

							<button id='cs-adicionar-cobertura'
											type="button"
											class='ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only ui-state-hover cs-adicionar-cobertura'
											role='button'
											style="margin-left: 49px; bottom: 23px; width: 229px; height: 55px;"
											aria-disabled='false' >
								<span class='ui-button-text'>Adicionar +</span>
							</button>
						</p>

						<!-- Itens da cobertura secundária -->
						<div class="cs-table-itens" data-ord="1">
							<center>
								<h3><strong style="color: #8B0000;">ITENS DA COBERTURA SECUNDÁRIA</strong></h3>
							</center>
							<table width="100%" class="mytable">
								<thead>
									<th width="30%">ITEM</th>
									<th width="25%">PERÍODO</th>
									<th width="10%">QUANTIDADE</th>
									<th width="35%">APRAZAMENTO</th>
								</thead>
								<tbody>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<center>
					<p>
						<button class='ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only ui-state-hover adicionar-ferida'
										type="button"
										role='button'
										aria-disabled='false' >
							<span class='ui-button-text'>Adicionar Ferida</span>
						</button>
					</p>
				</center>
				<br>
                <br>

				<p>
                    <a href="/enfermagem/prescricao/?action=curativo" class='ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only ui-state-hover'>
                        <span class='ui-button-text'>Voltar</span>
                    </a>
					<button id='salvar-prescricao-curativo' class='ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only ui-state-hover'
									type="submit"
									role='button'
									aria-disabled='false' >
						<span class='ui-button-text'>Salvar</span>
					</button>
				</p>
			</form>
		</div>
	</div>
	<div id="left">
		<?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
	</div>
</div>
<script type="text/javascript">

	function validar_form(){
		var v = true;
		if(!validar_campos("div-prescrever-curativos"))
			v = false;
		return v;
	}

	function validar_campos(div) {
		$(".error").removeClass("error");
		var ok = true, flag_itens = true, flag_aprazamento = true, flag_qtd = true, flag_inicio = true, flag_fim = true,
			inicio = new Date($("input[name='inicio']").val().split("/").reverse().join(",")),
			fim = new Date($("input[name='fim']").val().split("/").reverse().join(",")),
			inicio_item = '', fim_item = '';

		$("#" + div + " .OBG").each(function (i) {
			if ($(this).val() == "" || $(this).val() == "-1") {
				ok = false;
				$(this).addClass("error");
				$(this).attr('style', 'border:3px solid red;');
			} else {
				$(this).attr('style', 'border: 1px solid #000;');
			}
		});

		$(".cp-table-itens tbody").each(function () {
			if ($(this).children('tr').length == 0) {
				ok = false;
				flag_itens = false;
			}
		});

		$(".cp_qtd, .cs_qtd").each(function () {
			if ($(this).val() == '' || $(this).val() < 1) {
				$(this).addClass("error");
				$(this).attr('style', 'border:3px solid red;');
				flag_qtd = false;
				ok = false;
			} else {
				$(this).attr('style', 'border: 1px solid #000;');
			}
		});

		$(".cp_aprazamento, .cs_aprazamento").each(function () {
			if ($(this).val() == '00:00') {
				$(this).addClass("error");
				$(this).attr('style', 'border:3px solid red;');
				flag_aprazamento = false;
				ok = false;
			} else {
				$(this).attr('style', 'border: 1px solid #000;');
			}
		});

		$(".cp_inicio_item, .cs_inicio_item").each(function () {
			inicio_item = new Date($(this).val().split("/").reverse().join(","));
			if(inicio_item < inicio){
				$(this).addClass("error");
				$(this).attr('style', 'border:3px solid red;');
				ok = false;
				flag_inicio = false;
			}else {
				$(this).attr('style', 'border: 1px solid #000;');
			}
		});

		$(".cp_fim_item, .cs_fim_item").each(function () {
			fim_item = new Date($(this).val().split("/").reverse().join(","));
			if(fim_item > fim){
				$(this).addClass("error");
				$(this).attr('style', 'border:3px solid red;');
				ok = false;
				flag_fim = false;
			}else {
				$(this).attr('style', 'border: 1px solid #000;');
			}
		});

		if(!flag_inicio && !flag_fim){
			alert('Alguma data dos itens da prescrição está fora do intervalo da data da prescrição!');
		}


		if(!flag_itens){
			alert('Alguma ferida da prescrição ainda não possui curativos!');
		}

		if(!flag_qtd){
			alert('Você esqueceu de colocar a quantidade de algum item!');
		}

		if(!flag_aprazamento){
			alert('Você esqueceu de aprazar corretamente algum item!');
		}

		return ok;
	}
</script>
</body>
</html>