<?php require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>
<head xmlns="http://www.w3.org/1999/html">
  <meta charset="UTF-8">
  <script src="/enfermagem/enfermagem.js?v=16" type="text/javascript"></script>
  <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php'); ?>
</head>
<div id="content">
  <div id="right">
    <center><h1>Nova Prescrição de Enfermagem</h1></center>
    <br>
     <?php $paciente->cabecalho($idPaciente) ?>
      <div id="dialog-imprimir-prescricao-cuidados" style="display: none;" title='Aviso!'>
          <center>
              <h3>Prescrição salva com sucesso!</h3>
              <h4>Deseja imprimir essa prescrição?</h4>
          </center>
      </div>
    <div id="div-prescrever-cuidados">

      <p>
        <input type="hidden" value="<?php echo $idPaciente ?>" id="idPaciente">
        <span id="data-presc-enf">
          <b>Período da Prescrição:</b>
         <input type='text' name='inicio' value='<?php echo $inicio ?>' maxlength='10' size='10' class='OBG inicio-periodo' />
          ATÉ
         <input type='text' name='fim' value='<?php echo $fim ?>' maxlength='10' size='10' class='OBG fim-periodo' />
        </span>

      </p>
      <p>
      <div>
        <label for='carater'><b>Carater da Prescrição:</b></label>
        <select id = 'carater' name = 'carater'>
          <?php
           foreach($caraterPrescricaoEnfermagem as $c) {
                 $selectedCarater = $carater == $c['id'] ? 'selected':'';
            ?>
            <option value='<?php echo $c['id'] ?>' <?php echo $selectedCarater ?> ><?php echo $c['nome'] ?> </option>
          <?php
          }
          ?>
        </select>
      </div
      </p>
      <br>
      <?php
      $idGrupo = 0;
      foreach($allCuidados as $g1) {
        if ($g1['presc_enf_grupo_id'] != $idGrupo) {
          ?>
          <div id="grupo0<?php echo $g1['presc_enf_grupo_id'] ?>-cuidado" style="border:1px dashed;background-color:#EEEEEE; ">
            <b> GRUPO <?php echo $g1['grupo'] ?>:</b>
            <div width='100%' class="grupo-<?php echo $g1['presc_enf_grupo_id'] ?>">
              <p>
               <span>
                 <label>
                   <b>Cuidado: </b>
                 </label>
                  <select id="sel-grupo0<?php echo $g1['presc_enf_grupo_id'] ?>-cuidado" style='width:200px' >
                  <option value='-1'>Selecione</option>

        <?php
           foreach($allCuidados as $g2){
              if($g2['presc_enf_grupo_id'] == $g1['presc_enf_grupo_id']){
        ?>
                <option value="<?php echo $g2['id']?>"><?php echo $g2['item']?></option>
        <?php
              }
           }
        ?>
              </select>
            </span>
            &nbsp; &nbsp; &nbsp;
            <span>
              <label>
                <b>Frequencia: </b>
              </label>
              <select id="sel-grupo0<?php echo $g1['presc_enf_grupo_id'] ?>-frequencia">
                <option value="-1" data-qtd=''>Selecione</option>
                <?php
                   foreach($allFrequencia as $frequencia){
                 ?>
                <option value="<?php echo $frequencia['id']?>" data-qtd="<?php echo $frequencia['qtd']?>">
                  <?php echo $frequencia['frequencia']?>
                </option>

              <?php  }  ?>
              </select>
            </span>
            <span>
              <button
                       data-grupo ="<?php echo $g1['presc_enf_grupo_id']?>"
                       class='ui-button ui-widget ui-state-default ui-corner-all
                             ui-button-text-only ui-state-hover add-cuidado-presc-enf'
                      role='button' aria-disabled='false' >
                <span class='ui-button-text'>+</span>
              </button>
            </span>
           </p>
          </div>
        </div>
        <br>
        <div id="div-grupo-<?php echo $g1['presc_enf_grupo_id']?>">

            <?php if(isset($itensPrescEnf)){
                foreach ($itensPrescEnf as $itens) {
                    if($itens['idGrupo'] == $g1['presc_enf_grupo_id']){
                        ?>
                        </br>
                        <div class='dados'>
                            <span>
                                <img align='lefth' class='rem-item-presc-enf' src='../../../utils/delete_16x16.png' title='Remover' border='0'>
                            </span>
                            <span>
                                <label>
                                   <b>Cuidado: </b>
                                 </label>
                                <select name="sel-cuidado" class="COMBO_OBG" style='width:200px' >
                                    <option value='-1'>Selecione</option>
                                    <?php
                                    $aprazamento =0;
                                       foreach($allCuidados as $g2){
                                          if($g2['presc_enf_grupo_id'] == $g1['presc_enf_grupo_id']){
                                          $selectedCuidado = $itens['presc_enf_cuidados_id'] == $g2['id'] ? 'selected':'';
                                          $aprazamento = $itens['presc_enf_cuidados_id'] == $g2['id'] ? $itens['aprazamento'] : $aprazamento;

                                    ?>
                                            <option value="<?php echo $g2['id']?>" <?=$selectedCuidado?>><?php echo $g2['item'] ?></option>
                                    <?php
                                          }
                                       }

                                    ?>
                                  </select>

                            </span>

                            <span>
                                 <label>
                                    <b>Frequencia: </b>
                                  </label>
                                  <select name="sel-frequencia" class="COMBO_OBG">
                                    <option value="-1" data-qtd=''>Selecione</option>
                                    <?php
                                    $qtdAprazamento =0;

                                       foreach($allFrequencia as $frequencia){
                                        $selectedFrequencia = $itens['frequencia_id'] == $frequencia['id'] ? 'selected':'';
                                        $qtdAprazamento = $itens['frequencia_id'] == $frequencia['id'] ? $frequencia['qtd'] : $qtdAprazamento;



                                     ?>
                                    <option value="<?php echo $frequencia['id']?>" <?=$selectedFrequencia?> data-qtd="<?php echo $frequencia['qtd'] ?>">
                                      <?php echo $frequencia['frequencia'] ?>
                                    </option>

                                  <?php  }  ?>
                                  </select>
                            </span>
                            <span>
                                <label>De </label><input class='data COMBO_OBG' name='inicio-item' value='<?=$inicio?>'>
                                <label>Até</label> <input class='data COMBO_OBG' name='fim-item' value='<?=$fim?>'>
                            </span>

                            <?php

                             $aprazamento = explode(" ",$aprazamento);
                             $horas = '';

                                 if(!empty($aprazamento)){
                                         foreach($aprazamento as $ap){

                                            if(!empty($ap))
                                             $horas[]= $ap;

                                         }
                                 }
                             $auxHoras = 0;
                                if(!empty($qtdAprazamento)){ ?>
                                    <div class='aprazamento' item=''>
                                        <span><b>Aprazamento: </b></span>
                                        </br>
                                        <span>
                                       <?php $qtdFre = 1;
                                        for ($i = 1; $i <= $qtdAprazamento; $i++) {
                                            ?>
                                            <input type='time' class='horaAprazamento OBG' size='4' maxlength='5' value="<?=$horas[$auxHoras]?>" />&nbsp;
                                           <?php if ($i % 10 == 0) { ?>
                                                 </span></br></br><span>
                                           <?php  }
                                            $auxHoras++;
                                         }
                                           ?>

                                      </span>
                                    </div>

                            <?php } ?>


                        </div>

                <?php
                    }


                }
            }?>

        </div>
        <br>
        <?php $idGrupo = $g1['presc_enf_grupo_id'];
        }

      }?>
      <p>
        <button id='salvar-prescricoes-enf' empresa-id='<?=$responsePaciente['empresa']?>'  class='ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only ui-state-hover'
                role='button' aria-disabled='false' >
          <span class='ui-button-text'>Salvar</span>
        </button>
      </p>
    </div>


    <div id="lista-prescricoes">

    </div>

  </div>
  <div id="left">
    <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
  </div>
</div>
</body>
</html>