<?php require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>
<head>
    <meta charset="UTF-8">
    <script src="/enfermagem/enfermagem.js?v=28" type="text/javascript"></script>
    <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php'); ?>
</head>
<div id="content">
    <div id="right">
        <form action="/enfermagem/prescricao/index.php" method="get" id="form-gerenciar-presc-enf">
            <center><h1>Prescrições de Curativos</h1></center>
            <br>
            <?php
            if(isset($_GET['msg']) && !empty($_GET['msg'])){
                $msg = base64_decode(filter_input(INPUT_GET, 'msg', FILTER_SANITIZE_STRING));
            }
            ?>
            <center><h4 style="color: #772233"><?= $msg !== '' ? $msg : '' ?></h4></center>
            <br>
            <input type="hidden" name="query" value="buscar-prescricao-curativo">
            <div id="div-gerenciar-prescricao-enf">
                <?php
                $enfermagem->pacientes($_GET);
                $enfermagem->periodo($_GET);
                ?>
                <p>
                    <button type='button' id='buscar-prescricoes-enf' class='ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only ui-state-hover'
                            role='button' aria-disabled='false' >
                        <span class='ui-button-text'>Buscar</span>
                    </button>
                    <?php if(
                        (
                            isset($_SESSION['permissoes']['enfermagem']
                            ['enfermagem_prescricao_curativo']
                            ['enfermagem_prescricao_curativo_novo'])
                            ) || $_SESSION["adm_user"] == "1") { ?>
                        <button id='nova-prescricao-curativo' type='button' class='ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only ui-state-hover'
                                role='button' aria-disabled='false' >
                            <span class='ui-button-text'>Nova</span>
                        </button>
                    <?php } ?>
                </p>
            </div>
        </form>
        <div id="lista-prescricoes">
            <?php if(isset($_GET['pacientes']) && !empty($_GET['pacientes'])): ?>
                <table class="mytable" width="100%">
                    <thead>
                    <tr>
                        <th><b>Paciente</b></th >
                        <th><b>Enfermeiro</b></th >
                        <th><b>Tipo</b></th >
                        <th><b>Data</b></th>
                        <th><b>Período</b></th>
                        <th><b>Opções</b></th>
                    </tr>
                    </thead>

                    <?php
                    $count_presc = count($listaPrescricao);
                    $i = $count_presc;
                    $now = new \DateTime();
                    if($count_presc > 0):
                        foreach($listaPrescricao as $presc):
                            $data_limite = \DateTime::createFromFormat('Y-m-d H:i:s', $presc['registered_at']);
                            $diff = $data_limite->diff($now)->h;
                            $periodo = sprintf(
                                '%s até %s',
                                \DateTime::createFromFormat('Y-m-d', $presc['inicio'])->format('d/m/Y'),
                                \DateTime::createFromFormat('Y-m-d', $presc['fim'])->format('d/m/Y')
                            );
                            ?>
                            <tr width="100%">
                                <td width="30%"><?php echo $presc['cliente'] ?></td>
                                <td width="15%">
                                    <?php
                                    echo $presc['enfermeiro'] .
                                        (
                                        $presc['updated'] == null ?
                                            "" :
                                            " <br><strong>(Atualizado por: {$presc['updated']})</strong>"
                                        )
                                    ;
                                    ?>
                                </td>
                                <td width="10%"><?php echo \App\Models\Sistema\CaraterPrescricao::getById($presc['carater'])['nome'] ?></td >
                                <td width="20%"><?php echo \DateTime::createFromFormat('Y-m-d H:i:s', $presc['registered_at'])->format('d/m/Y à\s H:i:s') ?></td>
                                <td width="15%"><?php echo $periodo ?></td >
                                <td width="15%">
                                    <img src="/utils/fichas_24x24.png" width="16"
                                         style="cursor: pointer;"
                                         title="Visualizar essa Prescrição de Curativo"
                                         class="visualizar-presc-curativo"
                                         data-id-prescricao="<?php echo $presc['id'] ?>"
                                         border="0">
                                    <?php
                                    if (
                                        $count_presc === $i &&
                                        ( isset($_SESSION['permissoes']['enfermagem']
                                            ['enfermagem_prescricao_curativo']
                                            ['enfermagem_prescricao_curativo_cancelar']) ||
                                            $_SESSION["adm_user"] == "1"
                                        )
                                    ):
                                        ?>
                                        <img src="/utils/nova_avaliacao_24x24.png" width="16"
                                             style="cursor: pointer;"
                                             title="Usar essa Prescrição de Curativo como Nova"
                                             class="usar-nova-presc-curativo"
                                             data-id-prescricao="<?php echo $presc['id'] ?>"
                                             border="0">
                                        <?php
                                    endif;
                                    if (
                                    (
                                        $diff <= 24 && ($_SESSION['modenf'] ==  1 ||
                                            isset($_SESSION['permissoes']['enfermagem']
                                            ['enfermagem_prescricao_curativo']
                                            ['enfermagem_prescricao_curativo_editar'])
                                        )
                                        || $_SESSION["adm_user"] == "1")
                                    ):
                                        ?>
                                        <img src="/utils/edit_24x24.png" width="16"
                                             style="cursor: pointer;"
                                             title="Editar essa Prescrição de Curativo"
                                             class="editar-presc-curativo"
                                             data-id-prescricao="<?php echo $presc['id'] ?>"
                                             border="0">
                                        <?php
                                    endif;
                                    if(
                                    (
                                        $presc['profissional'] == $_SESSION['id_user'] &&
                                        isset($_SESSION['permissoes']['enfermagem']
                                        ['enfermagem_prescricao_curativo']
                                        ['enfermagem_prescricao_curativo_cancelar'])
                                    ) || $_SESSION['adm_user'] == 1):
                                    ?>
                                    <img src="/utils/excluir.png" width="16"
                                         style="cursor: pointer;"
                                         title="Cancelar essa Prescrição de Curativo"
                                         class="cancelar-presc-curativo"
                                         data-id-prescricao="<?php echo $presc['id'] ?>"
                                         border="0">
                                </td >
                                <?php endif ?>
                            </tr>
                            <?php
                            $i--;
                        endforeach;
                    else:
                        ?>
                        <tr width="100%">
                            <td align="center" colspan="5">Nenhuma prescrição foi encontrada!</td >
                        </tr>
                        <?php
                    endif;
                    ?>
                </table>
            <?php endif; ?>
        </div>
    </div>
    <div id="left">
        <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
    </div>
</div>
</body>
</html>
