<?php require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>
<head>
	<meta charset="UTF-8">
	<script src="/enfermagem/enfermagem.js?v=27" type="text/javascript"></script>
	<?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php'); ?>
</head>
<div id="content">
	<div id="right">
		<div>
			<center><h1>Visualizar Prescrição de Curativo</h1></center>
			<br>
			<?php $paciente->cabecalho($response['prescricao']['paciente'],$response['prescricao']['empresa_rel'],$response['prescricao']['plano_rel']) ?>
			<br>
			<center>
				<b>
					Feito por:
					<?= $response['prescricao']['profissional'] ?>
					período de
					<?= \DateTime::createFromFormat('Y-m-d', $response['prescricao']['inicio'])->format('d/m/Y') ?>
					até
					<?= \DateTime::createFromFormat('Y-m-d', $response['prescricao']['fim'])->format('d/m/Y') ?>
					Caráter:
					<?=$response['prescricao']['carater'];?>
				</b>
			</center>
		</div>
		<div style="border:solid 1px" class="zebrado2">
			<?php foreach($response['feridas'] as $ferida): ?>
			<div>
				<?= "<span><strong><i>" . strip_tags($ferida['local']) . ' ' . strip_tags($ferida['lado']) . "</i></strong></span>" ?>
				<br>
				<span>
					<strong>Justificativa:</strong>
					<br>
					<i><?=$ferida['justificativa'] ?></i>

				</span>
				<br>
				<strong>
					<u>Cobertura Primária:</u>
				</strong>
				<ul>
					<?php
						foreach($response['cp_itens'][$ferida['id']] as $itens):
					?>
						<li>
							<?= $itens['item_name'] ?>
							<ul>
								<li><strong>Quantidade: </strong><?= $itens['qtd'] ?></li>
								<li><strong>Frequência: </strong><?= $itens['frequencia_descricao'] ?></li>
								<li>
									<strong>Período: </strong>
									<?= sprintf(
										'%s à %s',
										\DateTime::createFromFormat('Y-m-d', $itens['inicio'])->format('d/m/Y'),
										\DateTime::createFromFormat('Y-m-d', $itens['fim'])->format('d/m/Y')
									)	?>
								</li>
								<li><strong>Observações: </strong><?= stripslashes($itens['obs']) ?></li>
								<li><strong>Aprazamento: </strong><?= $itens['aprazamento'] ?></li>
							</ul>
						</li>
					<?php
						endforeach;
					?>
				</ul>

				<strong>
					<u>Cobertura Secundária:</u>
				</strong>

				<ul>
					<?php
						foreach($response['cs_itens'][$ferida['id']] as $itens):
					?>
						<li>
							<?= $itens['item_name'] ?>
							<ul>
								<li><strong>Quantidade: </strong><?= $itens['qtd'] ?></li>
								<li><strong>Frequência: </strong><?= $itens['frequencia_descricao'] ?></li>
								<li>
									<strong>Período: </strong>
									<?= sprintf(
										'%s à %s',
										\DateTime::createFromFormat('Y-m-d', $itens['inicio'])->format('d/m/Y'),
										\DateTime::createFromFormat('Y-m-d', $itens['fim'])->format('d/m/Y')
									)	?>
								</li>
								<li><strong>Observações: </strong><?= stripslashes($itens['obs']) ?></li>
								<li><strong>Aprazamento: </strong><?= $itens['aprazamento'] ?></li>
							</ul>
						</li>
					<?php
					endforeach;
					?>
				</ul>
			</div>
			<?php endforeach; ?>
		</div>
		<br>
        <a href="/enfermagem/prescricao/?action=curativo" class='ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only ui-state-hover'>
            <span class='ui-button-text'>Voltar</span>
        </a>
        <button caminho='<?= $caminho ?>' empresa-relatorio='<?= !empty($response['prescricao']['empresa']) ? $response['prescricao']['empresa'] : $response['prescricao']['empresaCliente'] ?>' class='escolher-empresa-gerar-documento ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only ui-state-hover'  role='button' aria-disabled='false'>
            <span class='ui-button-text'>
                Imprimir
            </span>
        </button>
	</div>
</div>
<div id="left">
	<?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
</div>
</div>
</body>
</html>