
<?php require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>
<head>
    <meta charset="UTF-8">
    <script src="/enfermagem/enfermagem.js?v=15" type="text/javascript"></script>
    <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php'); ?>
</head>
<div id="content">
    <div id="right">
        <div>
            <center><h1> Visualizar Prescrição de Enfermagem</h1></center>
            <br>
            <?php $paciente->cabecalho($itensPrescEnf[0]['cliente_id'],$itensPrescEnf[0]['empresa_presc'],$itensPrescEnf[0]['plano_presc']) ?>
            <br>
            <center>
                <b>Feito por:
                    <?php echo $itensPrescEnf[0]['nome']?>
                    período de
                    <?php echo $itensPrescEnf[0]['inicioPt']?>
                    até
                    <?php echo $itensPrescEnf[0]['fimPt']?>
                    Caráter:
                    <?php echo $itensPrescEnf[0]['caraterNome']?>
                </b>
            </center>
        </div>
        <div style="border:solid 1px" class="zebrado">
            <?php foreach($itensPrescEnf as $itens){ ?>
                <p>
                <span>
                  <?php echo "<b>".$itens['grupo'].":</b> ".$itens['obs']?>
                </span>
                    </br>
                    <span>
                 <b>Aprazamento:</b>
                        <?php echo $itens['aprazamento']?>
               </span>
                </p>
            <?php } ?>
        </div>
        <br>
        <a href="/enfermagem/prescricao/?action=prescricao" class='ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only ui-state-hover'>
            <span class='ui-button-text'>Voltar</span>
        </a>

        <button caminho='<?= $caminho ?>' empresa-relatorio='<?= empty($itensPrescEnf[0]['empresaRel']) ? $itensPrescEnf[0]['empresaRel'] : $itensPrescEnf[0]['empresaCliente'] ?>' class='escolher-empresa-gerar-documento ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only ui-state-hover'  role='button' aria-disabled='false'>
            <span class='ui-button-text'>
                Imprimir
            </span>
        </button>
    </div>
</div>
<div id="left">
    <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
</div>
</div>
</body>
</html>