<div class="row">
    <div class="col-lg-12">
        <div class="form-group">
            <label class="control-label" for="buscar-cid-10">CID 10:</label>
            <input name="buscar_cid_10" id="buscar-cid-10" class="form-control" size="80" type="text">
            <input name="cid" id="cid" type="hidden">
        </div>
    </div>
</div>
