<style type="text/css">
    ol.steps li {
        padding: 10px;
    }
    ol.steps img {
        border: 1px solid #000000;
    }
</style>

<ul id="topo-tutorial"> <h4>Tutoriais presentes nessa página:</h4>
    <li><a href="#consultar">Consultar Exames</li>
    <li><a href="#novo">Novo Exame</li>
</ul>

<br>

<center><h1 id="consultar">Tutorial: Exames > Consultar Exames</h1></center>

<ol class="steps">
    <li> <b>Acessando:</b> <br>
        Para acessar as novas rotinas de <b>Exames</b>, basta clicar no menu <b>Exames</b> no Menu Lateral
        e logo em seguida clicar em <b>Consultar Exames</b> ou <b>Novo Exame</b>, conforme a imagem abaixo.
        <br>
        <img src="/tutorial/medico/exames/imgs/exame-consultar1.png" width="900">
    </li>
    <li> <b>Filtros:</b> <br>
        A rotina <b>Consultar Exames</b> traz vários filtros a serem utilizados sob o critério do usuário, sendo eles:
        <ul>
            <li>Período (Período em que o exame foi cadastrado)</li>
            <li>Paciente</li>
            <li>Exames (quais os exames que foram solicitados. Ex.: Cálcio, Ácido Úrico, etc. )</li>
            <li>Tipo (Todos, Somentes os Eletivos ou Somente os Emergenciais)</li>
        </ul>
        Após escolher os filtros, basta clicar em <b>Buscar</b> para que o sistema procure os resultados compatíveis.
        <br>
        <img src="/tutorial/medico/exames/imgs/exame-consultar2.png" width="900">
    </li>
    <li> Resultados da busca: <br>
        Logo abaixo dos filtros, o resultado da busca será exibido mostrando:
        <ul>
            <li>O total de resultados obtidos</li>
            <li>Coluna 1: Nome do paciente, usuário que cadastrou, período, tipo e observação</li>
            <li>Coluna 2: Exames solicitados</li>
            <li>
                Coluna 3: Link para os arquivos enviados (digitalização dos exames), podendo também
                excluir um arquivo já anexado
            </li>
            <li>Coluna 4: Opções (Anexar mais arquivos ou cancelar o exame)</li>
        </ul>
        <br>
        <img src="/tutorial/medico/exames/imgs/exame-consultar3.png" width="900">
    </li>
    <li> <b>Anexando mais arquivos:</b> <br>
        Ao clicar no botão <b>Anexar</b>, a janela de seleção de arquivos do sistema operacional irá aparecer
        e será possível anexar quantos arquivos forem necessários. O sistema irá trazer uma miniatura dos arquivos,
        o nome atual dos arquivos, tamanho em MegaBytes e um campo para Renomear os mesmos. Após prencher o campo é
        só clicar em <b>Enviar</b>.
        <br>
        <img src="/tutorial/medico/exames/imgs/exame-consultar4.png" width="900">
    </li>
    <li> <b>Excluindo arquivos ou Exames:</b> <br>
        Para excluir um Exame ou apenas um arquivo, basta clicar no seu respectivo botão de excluir (representado
        por um <b>X</b>), sendo o botão de excluir arquivos situado ao lado do link do mesmo e o botão de Excluir
        Exame na última coluna.
        <br>
        <img src="/tutorial/medico/exames/imgs/exame-consultar5.png" width="900">
    </li>
    <li> <b>Prescrevendo uma Aditiva Laboratorial:</b> <br>
        Clicando no botão <b>Prescrever</b> irá abrir uma janela no sistema, onde será possível definir um período
        para uma nova <b>Prescrição Aditiva Laboratorial</b>.
        <br>
        <img src="/tutorial/medico/exames/imgs/exame-consultar6.png" width="900">
        <br>
        Após escolher o período, basta clicar em <b>Iniciar</b> para encaminhado para a tela de nova prescrição.
        <br>
        <img src="/tutorial/medico/exames/imgs/exame-consultar7.png" width="900">
        <br>
        Quando um Exame possuir uma aditiva associada, uma linha será mostrada descrevendo os dados da prescrição.
        <br>
        <img src="/tutorial/medico/exames/imgs/exame-consultar8.png" width="900">
    </li>
</ol>

<center><h1 id="novo">Tutorial: Exames > Novo Exame</h1></center>

<ol class="steps">
    <li> <b>Cadastro:</b> <br>
        A rotina <b>Novo Exame</b> traz alguns campos a serem preenchidos (Imagem 1):
        <ul>
            <li>Período (Período em que o exame foi solicitado)</li>
            <li>Paciente</li>
            <li>CID 10</li>
            <li>Exames (quais os exames que foram solicitados. Ex.: Cálcio, Ácido Úrico, etc. )</li>
            <li>Tipo (Eletivo ou Emergencial)</li>
            <li>Observação</li>
        </ul>
        Todos os campos exceto <b>Observação</b> são de caráter obrigatório.<br>
        Após preencher todos os campos necessários, basta clicar no botão <b>Salvar</b> para salvar o exame.
        Assim que for salvo, uma mensagem de sucesso será exibida, os campos estarão vazios e disponíveis para
        que um novo exame seja submetido (Imagem 2).
        <br>
        <img src="/tutorial/medico/exames/imgs/exame-novo1.png" width="900">
        <br>
        <img src="/tutorial/medico/exames/imgs/exame-novo2.png" width="900">
    </li>
</ol>

<br>

<a href="#topo-tutorial">Voltar ao topo</a>
