<?php require ($_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php'); ?>
<head>
    <meta charset=UTF-8>
    <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php'); ?>
    <link rel=stylesheet type=text/css href=/utils/reports.css>
    <link rel=stylesheet type=text/css href=/utils/jquery/css/chosen/chosen.css>
</head>


<div id="content">
    <div id="right">
        <center><h1>Relatório de não Conformidades</h1></center>
        <br><br>

        <br>
        <form
            method = "post"
            onsubmit="return teste();"
            id = "fazer-nao-conformidade"
            action="/auditoria/relatorios/?action=busca-condensada-relatorio-nao-conformidades">

            <p>
                <strong>UR:</strong><br>
                <select name="ur[]" id="urs" multiple data-placeholder="Selecione uma ou mais UR's..." style="width: 600px;">
                    <?php foreach($urs as $ur): ?>
                        <option <?= isset($urBusca) && in_array($ur['id'], $urBusca) ? "selected" : "" ?> value="<?= $ur['id'] ?>"><?= strtoupper($ur['nome']) ?></option>
                    <?php endforeach; ?>
                </select>
            </p>
            <p>
                <strong>Período:</strong><br>
                <input type="date"  class="OBG" id='inicio' name="periodo_inicio" value="<?= isset($periodoInicio) && !empty($periodoInicio) ? $periodoInicio : "" ?>"> -
                <input type="date"   class="OBG" id='fim' name="periodo_fim" value="<?= isset($periodoFim) && !empty($periodoFim) ? $periodoFim : "" ?>">
            </p>
            <div style="position: relative; float: left; width: 100%; margin-top: 10px;">
                <button type="submit" class='ui-button ui-widget ui-corner-all ui-button-text-only ui-state-hover' id="fazer">
                    <span class='ui-button-text'>Gerar</span>
                </button>
            </div>
        </form>
        <br>
        <br/>
        <br/>
        <?if(isset($msg) &&  !empty($msg)){?>
        <center><?=$msg?></center>
        <?}?>

        <?php if(isset($itensRelatorio) && !empty($itensRelatorio)) {?>

            <div>

                <form
                    method = "post"
                    onsubmit="return teste();"
                    id = "fazer-nao-conformidade"
                    action="/auditoria/relatorios/?action=relatorio-nao-conformidades-excel-condensado">
                    <p>
                    <div style="position: relative; float: left; width: 100%; margin-top: 10px;">
                        <?php foreach ($urBusca as $ur): ?>
                            <input name="ur[]" value="<?= $ur ?>" type="hidden">
                        <?php endforeach; ?>
                        <input name="periodo_inicio" value="<?=$periodoInicio?>" type="hidden">
                        <input name="periodo_fim" value="<?=$periodoFim?>" type="hidden">
                        <button type="submit" class='ui-button ui-widget ui-corner-all ui-button-text-only ui-state-hover' id="fazer">
                            <span class='ui-button-text'>Gerar Planilha Excel</span>
                        </button>
                    </div>
                    </p>
                </form>
                <form
                    method = "post"
                    onsubmit="return teste();"
                    id = "fazer-nao-conformidade"
                    action="/auditoria/relatorios/?action=relatorio-nao-conformidades-enviar-email">
                    <p>
                    <div style="position: relative; float: left; width: 100%; margin-top: 10px;">
                        <input name="ur" value="<?=$urBusca?>" type="hidden">
                        <input name="periodo_inicio" value="<?=$periodoInicio?>" type="hidden">
                        <input name="periodo_fim" value="<?=$periodoFim?>" type="hidden">
                        <button type="submit" class='ui-button ui-widget ui-corner-all ui-button-text-only ui-state-hover' >
                            <span class='ui-button-text'>Enviar por Email</span>
                        </button>
                    </div>
                    </p>
                </form>
                <br>
                <br/>
                <br/>
            <table width="100%" class="mytable">
                <thead>
                <tr>
                    <th>USUARIO</th>
                    <th>PACIENTE</th>
                    <th>UR</th>
                    <th>INICIO</th>
                    <th>FIM</th>
                    <th>TOPICO</th>
                    <th>ITEM</th>
                    <th>JUSTIFICATIVA</th>
                    <th>PROFISSIONAIS</th>
                    <th>FINALIZADO</th>
                </tr>
                </thead>
                <?php foreach($itensRelatorio as $item){
                    $inicio =  DateTime::createFromFormat('Y-m-d', $item['inicio'])->format('d/m/Y');
                    $fim =  DateTime::createFromFormat('Y-m-d', $item['fim'])->format('d/m/Y');
                    $finalizado ='Não';
                    if(!empty($item['finalizado_at']) && $item['finalizado_at'] != '0000-00-00 00:00:00'){
                        $finalizado =  DateTime::createFromFormat('Y-m-d H:i:s', $item['finalizado_at'])->format('d/m/Y');

                    }
                    ?>
                    <tr>
                        <td> <?= $item['usuario'] ?> </td>
                        <td> (<?= $item['codigoPaciente'] ?>) <?= $item['paciente'] ?> </td>
                        <td> <?= $item['empresa'] ?> </td>
                        <td> <?= $inicio ?> </td>
                        <td> <?= $fim ?> </td>
                        <td> <?= $item['topico'] ?> </td>
                        <td> <?= $item['item'] ?> </td>
                        <td> <?= $item['justificativa'] ?> </td>
                        <td> <?= $profissionais[$item['idRelatorioItem']] ?> </td>
                        <td><?=$finalizado ?></td>
                    </tr>
                <?}?>
            </table>
        </div>
        <?}?>
    </div>
    <div id="left">
        <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
    </div>
</div>
<script type="text/javascript">


        function teste(){

            var inicio       =  $('#inicio').val();
            var fim          =  $('#fim').val();
            var urs          =  $('#urs').val();

            if(inicio == '' || fim == '' || urs == '' ){
                alert("Os campos  UR e Período são obrigatorios. ")
                return false;

            }
            return true;



        }
        $('#pacientes').chosen({search_contains: true});
        $('#urs').chosen();



</script>

</body>
</html>