<?php require ($_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php'); ?>
<head>
    <meta charset=UTF-8>
    <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php'); ?>
    <link rel=stylesheet type=text/css href=/utils/reports.css>
    <link rel=stylesheet type=text/css href=/utils/jquery/css/chosen/chosen.css>
    <link rel=stylesheet type=text/css href=/utils/bootstrap-3.3.6-dist/css/bootstrap.css>
</head>

<div id="content">
    <div id="right">
        <div id="dialog-aviso" title="Avisos"></div>
        <center><h1>Relatar Não Conformidades</h1></center>
        <br><br><br>
        <p>
            <strong>Paciente:</strong><br>
            <select
                    name="paciente"
                    id="pacientes"
                    class="COMBO_OBG"
                <?=isset($disabled) && !empty($disabled) ? $disabled : "";?>
                    style="width: 400px;">
                <option value="">Selecione...</option>
                <?php foreach($pacientes as $paciente): ?>
                    <option <?= isset($pacienteId) && $pacienteId === $paciente['idClientes'] ? "selected" : "" ?> value="<?= $paciente['idClientes'] ?>">(<?= $paciente['codigo'] ?>) <?= strtoupper($paciente['nome']) ?></option>
                <?php endforeach; ?>
            </select>
        </p>
        <p>
            <strong>UR:</strong><br>
            <select name="ur" id="urs" style="width: 300px;">
                <option value="">Selecione...</option>
                <?php foreach($urs as $ur): ?>
                    <option <?= isset($empresaId) && $empresaId === $ur['id'] ? "selected" : "" ?> value="<?= $ur['id'] ?>"><?= strtoupper($ur['nome']) ?></option>
                <?php endforeach; ?>
            </select>
        </p>
        <p>
            <strong>Período:</strong><br>
            <input type="text"  class="OBG" id='periodo_inicio' data-provide="datepicker" name="periodo_inicio" value="<?= isset($periodoInicio) && !empty($periodoInicio) ? $periodoInicio : "" ?>"> -
            <input type="text"   class="OBG" id='periodo_fim' data-provide="datepicker" name="periodo_fim" value="<?= isset($periodoFim) && !empty($periodoFim) ? $periodoFim : "" ?>">
        </p>
        <br>


        <div id="relatorio-nao-conformidade" >
            <ul><? foreach($topicoRelatorioNaoConformidade as $topico){?>
                    <li><a href='#div-<? echo $topico['id']; ?>'><span class="topicos" attrId="<?=$topico['id']?>" attrLabel="<?=$topico['item'];?>"><? echo $topico['item'];?></span></a></li>
                <? } ?>
            </ul>

            <? foreach($conteudoRelatorioNaoConformidade as $conteudo){ ?>
                <div id='div-<? echo $conteudo['id']; ?>' class='tab-presc' qtd='' title='' tipo='<? echo $conteudo['id']; ?>' >
                    <center><h3><? echo $conteudo['topico']; ?></h3></center>
                    <br>
                    <div>
                        <? foreach($conteudo['justificativa'] as $justificativa){ ?>
                            <div>
                                <input type="radio"
                                       name='topico-<?echo $conteudo['id'] ?>'
                                       id="topico-<?echo $conteudo['id'] ?>-<?echo $justificativa['id'] ?>"
                                       value="<? echo $justificativa['id'] ?>"
                                       topico-label = "<? echo $conteudo['topico']; ?>"
                                       justificativa-label = "<? echo $justificativa['justificativa']?>"
                                       topico = "<? echo  $conteudo['id'] ?>"
                                       obg = "<?=$justificativa['obrigatorio']?>"
                                >
                                <label for="topico-<?echo $conteudo['id'] ?>-<?echo $justificativa['id'] ?>">
                                    <? echo $justificativa['justificativa'] ?>
                                </label>
                            </div>

                        <? }?>
                    </div>

                    <p>
                        <label for="justificativa-<?echo $conteudo['id'] ?>" ><b>Justificativa:</b></label>
                        <textarea id="justificativa-<?echo $conteudo['id'] ?>" class="form-control" name="justificativa-<?echo $conteudo['id'] ?>"></textarea>
                    </p>
                    <div style="width: 100%; height: 205px !important; position: relative; float: left;">
                        <label for="profissionais-<?echo $conteudo['id'] ?>" ><b>Profissionais:</b></label><br>
                        <div style="width: 100%; height: 55px !important; position: relative; float: left;">
                            <select name='profissionais-<?echo $conteudo['id'] ?>[]'
                                    multiple
                                    class="chosen-select profissionais"
                                    id="profissionais-<?echo $conteudo['id'] ?>"
                                    style="width: 600px; max-height: 150px;"
                                    data-placeholder="Selecione o(s) profissional(is)...">
                                <?php foreach ($profissionais as $profissional): ?>
                                    <option value="<?= $profissional['id'] ?>"><?= mb_strtoupper($profissional['descricao'], 'UTF8') ?></option>
                                <?php endforeach; ?>
                            </select>
                        </div>
                    </div>
                    <br>
                    <p>
                        <button  class='ui-button ui-widget ui-corner-all ui-button-text-only ui-state-hover adicionar'
                                 id="adionar-<?echo $conteudo['id']?>" tipo='<?echo $conteudo['id']?>'>
                            <span class='ui-button-text'>Adicionar</span>
                        </button>
                    </p>

                </div>
            <?}?>

            <?if(isset($relatorioId) && !empty($relatorioId)){
                $action = '/auditoria/relatorios/?action=update-relatorio-nao-conformidades';
            }else{
                $action = '/auditoria/relatorios/?action=salvar-relatorio-nao-conformidades';
            }?>

            <form>

                <input type="hidden" name="inicio" id="inicio" value="<?= isset($periodoInicio) && !empty($periodoInicio) ? $periodoInicio : "" ?>">
                <input type="hidden" name="fim" id="fim" value="<?= isset($periodoFim) && !empty($periodoFim) ? $periodoFim : "" ?>">
                <input type="hidden" name="paciente" id='paciente' value="<?= isset($pacienteId) && !empty($pacienteId) ? $pacienteId : "" ?>">
                <input type="hidden" name="empresa" id="empresa" value="<?= isset($empresaId) && !empty($empresaId) ? $empresaId : "" ?>">
                <input type="hidden" name="relatorio-id"  value="<?= isset($relatorioId) && !empty($relatorioId) ? $relatorioId : "" ?>">
                <div>
                    <table class='mytable' width='100%' id="tab-relatorio-nao-conformidades">
                        <thead>
                        <tr>
                            <th align="center"> Itens do Relatório de não conformidades</th>
                            <th>Profissionais</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        <? $aux =0; ?>
                        <?if(isset($itensRelatorio) && !empty($itensRelatorio)){
                            foreach($itensRelatorio as  $item){
                                $topicoLabel = $item['topico'];
                                $itemLabel = $item['item'];
                                $topicoId = $item['relatorio_nao_conformidade_topico'];
                                $itemId = $item['relatorio_nao_conformidade_justificativa'];
                                $justificativa = $item['justificativa'];
                                $idRelatorioItem = $item['idRelatorioItem'];
                                $idReferencia = $item['item_referencia'];
                                $status = $item['status'];
                                $aux++;
                                ?>
                                <tr class='item-adicionado' tipo="normal" aux="<?=$aux?>">
                                    <td>
                                        <?if(empty($idReferencia)){?>

                                            <img src="/utils/delete_24x24.png" width="16"
                                                 style="cursor: pointer;"
                                                 title="Remover"
                                                 border="0"
                                                 class="esconder">
                                        <?}?>
                                        <b><?=$topicoLabel?>:</b>   <?=$itemLabel?>
                                        <input type='hidden' name = 'item[<?=$aux?>][topico]' value = '<?=$topicoId?>'>
                                        <input type='hidden' name = 'item[<?=$aux?>][item]' value = '<?=$itemId?>'>
                                        <input type='hidden' name = 'item[<?=$aux?>][id]' value = '<?= $idRelatorioItem?>'>
                                        <input type='hidden' name = 'item[<?=$aux?>][remover]' value = 'N'>
                                        <input type='hidden' name = 'item[<?=$aux?>][idReferencia]' value ='<?=$idReferencia?>' >
                                        <b> Justificativa:</b><br>
                                        <textarea name = 'item[<?=$aux?>][justificativa]'><?=$justificativa?></textarea>
                                    </td>
                                    <td><?=$profissionaisItem[$item['idRelatorioItem']]?></td>
                                    <td>
                                        <select name='item[<?=$aux?>][status]' class="status">
                                            <?if($status == 'NOVO'){?>
                                                <option value="NOVO">NOVO</option>
                                            <?}else{?>
                                                <option></option>
                                                <option value="RESOLVIDO" <?= isset($status) && $status === 'RESOLVIDO' ? "selected" : "" ?> >RESOLVIDO</option>
                                                <option value="MANTIDO" <?= isset($status) && $status === 'MANTIDO' ? "selected" : "" ?> >MANTIDO</option>
                                            <?}?>
                                        </select>
                                    </td>
                                </tr>
                            <?    }
                        }?>


                    </table>
                </div>
                <p>
                    <input type="hidden" name="acao" id="acao" value="">
                    <button  id="salvar" class='ui-button ui-widget ui-corner-all ui-button-text-only ui-state-hover '
                             url='<?=$action?>'
                             acao="salvar"
                             type="button">
                        <span class='ui-button-text'>Salvar</span>
                    </button>
                    <button  id="finalizar" class='ui-button ui-widget ui-corner-all ui-button-text-only ui-state-hover '
                             url='<?=$action?>'
                             acao="finalizar"
                             type="button">
                        <span class='ui-button-text'>Finalizar</span>
                    </button>
                </p>
            </form>
            <input type="hidden" id="aux-input" value="<?=$aux ?>">

        </div>

    </div>
    <div id="left">
        <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
    </div>
</div>

<script type="text/javascript" src="/auditoria/relatorios/templates/nao-conformidade/js/main.js?v=4"></script>

</body>
</html>