<?php require ($_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php'); ?>
<head>
    <meta charset=UTF-8>
    <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php'); ?>
    <link rel=stylesheet type=text/css href=/utils/reports.css>
    <link rel=stylesheet type=text/css href=/utils/jquery/css/chosen/chosen.css>
</head>


<div id="content">
    <div id="right">
        <div id="dialog-reabrir" title="Reabrir relatório de Não Conformidades" idRelatorio="">
            <textarea name="justificativa" id="justificativa" colspan="100"></textarea>
        </div>
        <?php
            $title = "Gerenciar Não Conformidades";
            $from = isset($_GET['from']) ? $_GET['from'] : '';
            if(isset($_GET['from']) && $_GET['from'] == 'enfermagem') {
                $title = "Relatório de Não Conformidades";
            }
        ?>
        <center><h1><?= $title ?></h1></center>
        <br><br><br>
        <form
            method = "post"
            onsubmit="return validar();"
            id = "fazer-nao-conformidade"
            action="/auditoria/relatorios/?action=relatorio-nao-conformidades-gerenciar&from=<?= $from ?>">
            <p>
                <strong>Paciente:</strong><br>
                <select name="paciente" id="pacientes" class="COMBO_OBG" style="width: 400px;">
                    <option value="">Selecione...</option>
                    <?php foreach($pacientes as $paciente): ?>
                        <option <?= isset($pacienteBusca) && $pacienteBusca === $paciente['idClientes'] ? "selected" : "" ?> value="<?= $paciente['idClientes'] ?>">(<?= $paciente['codigo'] ?>) <?= strtoupper($paciente['nome']) ?></option>
                    <?php endforeach; ?>
                </select>
            </p>
            <p>
                <strong>UR:</strong><br>
                <?php

                $idUr = 'urs';
                if($_SESSION['empresa_principal'] != 1){
                    $idUr = '';
                    ?>
                    <span><?=$_SESSION["nome_empresa"]?></span>
                    <input type='hidden'  name="ur" id="" value= <?=$_SESSION['empresa_principal']?> >
                <?php
                }else{?>
                <select  name="ur" id="<?=$idUr?>" style="width: 300px;">
                    <option value="">Selecione...</option>
                    <?php foreach($urs as $ur): ?>
                        <option <?= isset($empresaBusca) && $empresaBusca === $ur['id'] ? "selected" : "" ?> value="<?= $ur['id'] ?>"><?= strtoupper($ur['nome']) ?></option>
                    <?php endforeach; ?>
                </select>
                <?}?>
            </p>
            <p>
                <strong>Período:</strong><br>
                <input type="date"  required class="OBG" id='inicio' name="periodo_inicio" value="<?= isset($periodoInicio) && !empty($periodoInicio) ? $periodoInicio : "" ?>"> -
                <input type="date"   required class="OBG" id='fim' name="periodo_fim" value="<?= isset($periodoFim) && !empty($periodoFim) ? $periodoFim : "" ?>">
            </p>
            <div style="position: relative; float: left; width: 100%; margin-top: 10px;">
                <button type="submit" class='ui-button ui-widget ui-corner-all ui-button-text-only ui-state-hover' id="fazer">
                    <span class='ui-button-text'>Pesquisar</span>
                </button>
            </div>
        </form>

        <div>
            <?if(isset($itensRelatorios)){
                if(empty($itensRelatorios)){ ?>
                    <p>
                        <center><span><b>Não foi encontrado nenhum registro para a busca.</b></span></center>
                    </p>
                <? } else{ ?>
                <br/>
                <br/>
                <br/>
                <br/>
                    <table width="100%" class="mytable">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>USUARIO</th>
                            <th>PACIENTE</th>
                            <th>UR</th>
                            <th>INICIO</th>
                            <th>FIM</th>
                            <th>DATA</th>
                            <th colspan="3">Ações</th>

                        </tr>
                        </thead>
                        <?php
                            foreach($itensRelatorios as $item){
                                $inicio =  DateTime::createFromFormat('Y-m-d', $item['inicio'])->format('d/m/Y');
                                $fim =  DateTime::createFromFormat('Y-m-d', $item['fim'])->format('d/m/Y');
                                $data =  DateTime::createFromFormat('Y-m-d H:i:s', $item['data'])->format('d/m/Y à\s H:i:s');
                        ?>
                            <tr>
                                <td>#<?= $item['id'] ?></td>
                                <td><?= $item['usuario'] ?></td>
                                <td>(<?= $item['codigoPaciente'] ?>) <?= $item['paciente'] ?></td>
                                <td><?= $item['empresa'] ?></td>
                                <td><?= $inicio ?></td>
                                <td><?= $fim ?></td>
                                <td><?= $data ?></td>
                                <?php if($_SESSION['empresa_principal'] != 1){
                                                    ?>
                                  <td colspan="3">
                                        <a href='?action=relatorio-nao-conformidades-visualizar&id=<?=$item['id'];?>' target="_blank">
                                            <img src="/utils/fichas_24x24.png" width="16"
                                                         style="cursor: pointer;"
                                                         title="Visualizar"
                                                         border="0">
                                        </a>

								</td>
								<?php }else{?>
                                <td>
                                    <a href='?action=relatorio-nao-conformidades-visualizar&id=<?=$item['id'];?>' target="_blank">
                                        <img src="/utils/fichas_24x24.png" width="16"
                                                     style="cursor: pointer;"
                                                     title="Visualizar"
                                                     border="0">
                                    </a>

								</td>
								<? if($item['finalizado_at'] != '0000-00-00 00:00:00' && !empty($item['finalizado_at'])){ ?>
								<td >

                                    <img src="/utils/redimensionar.png" width="16"
                                                 style = "cursor: pointer;"
                                                 title = "Reabrir relatório finalizado."
                                                 border = "0"
                                                 idItem = '<?=$item['id'];?>'
                                                 class ='reabrir'>

								</td>
								<td>
                                    <a href='?action=relatorio-nao-conformidades-usar-para-novo&id=<?=$item['id'];?>'>
                                        <img src="/utils/prescricao_24x24.png" width="16"
                                                     style="cursor: pointer;"
                                                     title="Usar para novo relatório"
                                                     border="0">
                                    </a>
								</td>

								<?}else{?>
								 <td>
                                    <a href='?action=relatorio-nao-conformidades-editar&id=<?=$item['id'];?>'>
                                        <img src="/utils/edit_24x24.png" width="16"
                                                     style="cursor: pointer;"
                                                     title="Editar"
                                                     border="0">
                                    </a>
								</td>
                                <td>

                                        <img src="/utils/delete_24x24.png" id-relatorio="<?=$item['id'];?>" width="16"
                                                     style="cursor: pointer;"
                                                     class = 'cancelar'
                                                     title="Cancelar"
                                                     border="0">

                                </td>
                                <?}
                                }?>
                            </tr>
                        <?}?>
                    </table>
                <? }

            }?>
        </div>
    </div>
    <div id="left">
        <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
    </div>
</div>
<script type="text/javascript">


        function validar(){

            var inicio = $('#inicio').val();
            var fim = $('#fim').val();
            if( inicio == '' || fim == ''){
                alert("Período é obrigatório. ");
                return false;

            }
            return true;



        }

        $("#dialog-reabrir").dialog({
            autoOpen: false,
            modal: true,
            width: 500,
            buttons: {
                "Voltar": function () {
                    $('#dialog-reabrir').attr('idRelatorio','');
                    $('#justificativa').val('');
                    $(this).dialog("close");
                },
                "Confirmar": function () {

                    if($('#justificativa').val() !='') {
                        var id = $('#dialog-reabrir').attr('idRelatorio');
                        var justificativa = $('#justificativa').val();

                        $.post('?action=reabrir-relatorio-nao-conformidades',
                            {id: id,
                            justificativa: justificativa},
                            function (r) {

                                if (isNumber(r)) {

                                    $('#dialog-reabrir').attr('idRelatorio','');
                                    $('#justificativa').val('');
                                    $('#dialog-reabrir').dialog('close');
                                    window.location.reload();

                                    return;
                                } else {
                                    alert(r);
                                    return false;
                                }
                            });
                    }else{
                        alert('Você deve adiconar uma justificativa.');
                    }
                }
            }
        });

        $('.reabrir').click(function(){
            var idRelatorio = $(this).attr('idItem');
            $('#dialog-reabrir').attr('idRelatorio',idRelatorio);
            $('#dialog-reabrir').dialog('open');


        });

        $('#pacientes').chosen({search_contains: true});
        $('#urs').chosen();

        $('.cancelar').click(function(){
            var id = $(this).attr('id-relatorio');
            var vm =  $(this);

            if(confirm('Deseja realmente remover o item?')) {


                $.post('?action=relatorio-nao-conformidades-cancelar',
                    {id: id},
                    function (r) {

                        if (isNumber(r)) {
                            vm.parent().parent().remove();
                            alert('item cancelado');
                            return;
                        } else {
                            alert(r);
                            return false;
                        }
                    });
            }



        });
        function isNumber(n) {
            return !isNaN(parseFloat(n)) && isFinite(n);
        }



</script>

</body>
</html>