<table >
    <tr><td colspan="8"><b><?=htmlentities($titulo)?></b></td></tr>
    <tr></tr>
    <tr style="background: #DCDCDC">
        <th>USUARIO</th>
        <th>PACIENTE</th>
        <th>UR</th>
        <th>INICIO</th>
        <th>FIM</th>
        <th>TOPICO</th>
        <th>ITEM</th>
        <th>JUSTIFICATIVA</th>
        <th>PROFISSIONAIS</th>
        <th>COMENTARIO</th>
    </tr>
    <? $aux= 2;
    foreach($itensRelatorio as $item){
        $inicio =  DateTime::createFromFormat('Y-m-d', $item['inicio'])->format('d/m/Y');
        $fim =  DateTime::createFromFormat('Y-m-d', $item['fim'])->format('d/m/Y');
        $cor = '';
        if( $aux % 2 != 0){
            $cor = "style='background: #F5F5F5'";
        }
        $aux++;
        ?>
    <tr <?=$cor?>>
        <td style="text-align:initial"> <?=htmlentities($item['usuario']);?> </td>
        <td> (<?= $item['codigoPaciente'] ?>) <?=htmlentities($item['paciente']);?> </td>
        <td> <?=htmlentities($item['empresa']);?> </td>
        <td> <?=$inicio;?> </td>
        <td> <?=$fim;?> </td>
        <td> <?=htmlentities($item['topico']);?> </td>
        <td> <?=htmlentities($item['item']);?> </td>
        <td> <?=htmlentities($item['justificativa']);?> </td>
        <td> <?=htmlentities($profissionais[$item['idRelatorioItem']])?> </td>
        <td> <?= isset($comentarios[$item['idRelatorioItem']]) ? $comentarios[$item['idRelatorioItem']] : '' ?></td>
    </tr>
    <?}?>
</table>
