<?php require ($_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php'); ?>
<head>
    <meta charset=UTF-8>
    <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php'); ?>
    <link rel=stylesheet type=text/css href=/utils/reports.css>

</head>
<div id="content">
    <div id="right">

        <center><h1>Visualizar Não Conformidades</h1></center>
        <form method="post"
              id="fazer-nao-conformidade"
              action="/auditoria/relatorios/?action=relatorio-nao-conformidades-excel">
            <p>
            <div style="position: relative; float: left; width: 50%; margin-top: 10px;">
                <input name="id-relatorio" value="<?=$idRelatorio?>" type="hidden">
                <button type="submit" class='ui-button ui-widget ui-corner-all ui-button-text-only ui-state-hover' id="fazer">
                    <span class='ui-button-text'>Gerar Planilha Excel</span>
                </button>
                <a href="/auditoria/relatorios/?action=relatorio-nao-conformidades-gerenciar" class='ui-button ui-widget ui-corner-all ui-button-text-only ui-state-hover'>
                    <span class='ui-button-text'>Voltar</span>
                </a>
            </div>
            </p>
        </form>
        <div id="dialog-add-comentario" title="Adicionar comentário" id-item="">
            <p><b>Comentário</b></p>
            <textarea id="texto-comentario" name="texto-comentario" cols="70" rows="5"></textarea>
        </div>
        </br>
        </br>
        </br>

            <?php
            $aux =0;
            foreach($itensRelatorio as $item){
                $inicio =  DateTime::createFromFormat('Y-m-d', $item['inicio'])->format('d/m/Y');
                $fim =  DateTime::createFromFormat('Y-m-d', $item['fim'])->format('d/m/Y');
                $finalizado ='Não';
                if(!empty($item['finalizado_at']) && $item['finalizado_at'] != '0000-00-00 00:00:00'){
                    $finalizado =  DateTime::createFromFormat('Y-m-d H:i:s', $item['finalizado_at'])->format('d/m/Y');
                }
            if($aux % 2 == 0){
                $bgColor = 'white';

            } else {
                $bgColor = '#dcdcdc';

            }

           if($aux == 0){
            ?>

        <table width ='100%'>
            <tr>
                <td cospan ='2'> <b>Paciente: </b>(<?= $item['codigoPaciente'] ?>) <?= $item['paciente'] ?></td>

            </tr>
            <tr>
                <td width ='50%'><b>Feito por: </b> <?= $item['usuario'] ?></td>
                <td width ='50%'><b>Período:</b> <?= $inicio ?> -  <?= $fim ?></td>

            </tr>
            <tr>
                <td width ='50%'><b>Empresa: </b><?= $item['empresa'] ?></td>
                <td width ='50%'><b>Finalizado: </b><?= $finalizado?></td>

            </tr>

        </table>
        <br>

            <table width="100%" class="mytable">
                <thead>
                <tr>
                    <th align="center" colspan="2">RESULTADO</th>
                </tr>
                </thead>

        <?php }
        $aux++; ?>
                <tr bgcolor="<?= $bgColor ?>">
                    <td width="50%">
                        <p><b>TOPICO:</b> <?= $item['topico'] ?></p>
                        <p><b>ITEM:</b> <?= $item['item'] ?> </p>
                        <p><b>JUSTIFICATIVA:</b> <?= $item['justificativa'] ?></p>
                        <p><b>PROFISSIONAIS:</b> <?= $profissionais[$item['idRelatorioItem']] ?></p>
                        <p><b>STATUS:</b> <?= $item['status'] ?>  </p>
                    </td>
                    <td width="50%">
                        <?php if($finalizado != 'Não'){ ?>
                        <p>
                            <b>Comentários</b>
                            <img src="/utils/PNG/Add.png"  style='cursor: pointer;' class='add-comentario'
                                 id-item ="<?= $item['idRelatorioItem'] ?>" title="Adicionar Comentário" width="15px">

                        </p>
                        <p>
                            <span id="comentarios_<?= $item['idRelatorioItem'] ?>">
                                <?php
                                if(!empty($comentariosRelatorio)){
                                    foreach($comentariosRelatorio as $comentario){
                                        if($item['idRelatorioItem'] == $comentario['relatorio_nao_conformidade_item_id']){


                                           ?>
                                            <p id='comentario-id-<?=$comentario['id'] ?>'>
                                                <b>
                                                    <?php if($comentario['idUsuarios'] == $_SESSION['id_user'] ){ ?>
                                                     <img src='/utils/delete.png' style='cursor: pointer;'  class='remover-comentario'
                                                     id-comentario ='<?=$comentario['id'] ?>' title='Excluir Comentário' width='15px'>
                                                    <?}?>


                                                    <?=$comentario['nome'] ?> em <?=$comentario['data'] ?>- </b><?=$comentario['comentario'] ?></p>

                                        <?php }
                                }

                                }
                                 ?>

                            </span>

                        </p>
                        <?php } ?>


                    </td>
                </tr>
            <?}?>
        </table>
    </div>
    <div id="left">
        <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
    </div>
</div>
<script type="text/javascript" src="/auditoria/relatorios/templates/nao-conformidade/js/main.js?v=3"></script>
</body>
</html>