<?php require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>

<head>
    <meta charset="UTF-8">
    <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php');?>
    <link rel="stylesheet" type="text/css" href="/utils/reports.css">
    <link rel="stylesheet" href="/utils/bootstrap-3.3.6-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/utils/jquery/css/toggle/toggle.css" />
    <link rel="stylesheet" href="/utils/bootstrap-3.3.6-dist/css/chosen.bootstrap.min.css" />
    <link rel="stylesheet" href="/utils/font-awesome-4.7.0/css/font-awesome.css" />
    <link rel="stylesheet" href="/utils/jquery/summernote/summernote.css" />
</head>
<div id="content">
    <div id="right">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title pull-left" style="padding-top: 7.5px;">
                    <i class="fa fa-list-alt " aria-hidden="true"></i> Formulário Condensado
                    <?= $titulo_formulario ?></b>
                </h3>
            </div>

            <?php
            $display = "none";
            if (isset($_GET['msg']) && !empty($_GET['msg'])) {
                $msg = base64_decode($_GET['msg']);
                $display = "block";
                $class = "alert-danger";
                if (isset($_GET['type']) && $_GET['type'] == 's') {
                    $class = "alert-success";
                }
            }
            ?>

            <div style="display:<?= $display ?> " class="alert <?= $class ?>">
                <strong>
                    <?= $msg ?></strong>
            </div>

            <div class="panel-body">
                <form method="post" action="?action=formulario-condensado">
                    <input type="hidden" name="empresa_id" id="empresa-id" value="">
                    <input type="hidden" name="convenio_id" id="convenio-id" value="">

                    <input type="hidden" name="tipo_formulario" id="tipo-formulario" value="<?= $_GET['tipo'] ?>">
                    <div id="div-salvar-formulario-condensado">
                        <div class="row">
                            <div class="col-xs-12">
                                <table class="table table-condensed table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th colspan="2">Informações sobre o paciente</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="col-xs-4"><b>Período</b></td>
                                            <td class="col-xs-8"><b>Paciente</b></td>
                                        </tr>
                                        <tr>
                                            <td class="col-xs-4">
                                                <input type="date" name="inicio" id="inicio" class="" value="<?= $response['inicio'] ?>">
                                                à
                                                <input type="date" name="fim" id="fim" class="" value="<?= $response['fim'] ?>">
                                            </td>
                                            <td class="col-xs-8">
                                                <div class="col-xs-10">
                                                    <select name="paciente" class="chosen-select OBG_CHOSEN form-control"
                                                        id='paciente' required>
                                                        <option value="">Selecione...</option>
                                                        <?php foreach ($pacientes as $paciente): ?>
                                                        <option <?=isset($pacienteId) &&
                                                            $pacienteId===$paciente['idClientes'] ? "selected" : "" ?>
                                                            value="<?= $paciente['idClientes'] ?>">
                                                            (<?= $paciente['codigo'] ?>) <?= strtoupper($paciente['nome']) ?>
                                                        </option>
                                                        <?php endforeach; ?>
                                                    </select>
                                                </div>
                                                <div class="col-xs-2">
                                                    <button class="btn btn-primary" id="buscar-dados-paciente" type="button"
                                                        title="Buscar Informações do Paciente">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-xs-4"><b>Gênero</b></td>
                                            <td class="col-xs-8"><b>Idade</b></td>
                                        </tr>
                                        <tr>
                                            <td class="col-xs-4" id="genero"></td>
                                            <td class="col-xs-8" id="idade"></td>
                                        </tr>
                                        <tr>
                                            <td class="col-xs-4"><b>Unidade Regional</b></td>
                                            <td class="col-xs-8"><b>Convênio</b></td>
                                        </tr>
                                        <tr>
                                            <td class="col-xs-4" id="unidade-regional"></td>
                                            <td class="col-xs-8" id="convenio-paciente"></td>
                                        </tr>
                                        <tr>
                                            <td class="col-xs-4"><b>Matrícula</b></td>
                                            <td class="col-xs-8"><b>Modalidade</b></td>
                                        </tr>
                                        <tr>
                                            <td class="col-xs-4" id="matricula"></td>
                                            <td class="col-xs-8" id="modalidade">
                                                <select name="modalidade_id" id="modalidade-id" class="form-control">
                                                    <option value="">Selecione...</option>
                                                    <option value="1">Assistencia Domiciliar / Serviços Pontuais</option>
                                                    <option value="2">Internação Domiciliar 6h</option>
                                                    <option value="3">Internação Domiciliar 12h</option>
                                                    <option value="4">Internação Domiciliar 24h com respirador</option>
                                                    <option value="5">Internação Domiciliar 24h sem respirador</option>
                                                </select>

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <br>
                        <div class="panel panel-default">
                            <div class="panel-heading clearfix">
                                <h3 class="panel-title pull-left" style="padding-top: 7.5px;">
                                    <i class="fa fa-list-alt " aria-hidden="true"></i> Dietas</b>
                                </h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <label for="dieta">Dieta:</label>
                                        <select name="dieta" class="form-control" id='dieta'>
                                            <option value="">Selecione...</option>
                                            <option value="1">Artesanal</option>
                                            <option value="2">Industrializada</option>
                                            <option value="3">Mista</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-6">
                                        <label for="dieta_via">Via:</label>
                                        <select name="dieta_via" class="form-control" id='dieta_via'>
                                            <option value="">Selecione...</option>
                                            <option value="1">Oral</option>
                                            <option value="2">SNE</option>
                                            <option value="3">GTT</option>
                                            <option value="3">Jejuno</option>
                                            <option value="3">BI</option>
                                            <option value="3">Gravitacional</option>
                                        </select>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <label for="dieta-nome">Nome da Dieta:</label>
                                        <input type="text" name="dieta_nome" id="dieta-nome" class="form-control">
                                    </div>
                                    <div class="col-xs-6">
                                        <label for="dieta-adm">Administração da Dieta:</label>
                                        <textarea name="dieta_adm" id="dieta-adm" class="form-control"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="panel panel-default">
                            <div class="panel-heading clearfix">
                                <h3 class="panel-title pull-left" style="padding-top: 7.5px;">
                                    <i class="fa fa-list-alt " aria-hidden="true"></i> Oxigenoterapia</b>
                                </h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <label for="oxigenoterapia">Oxigenoterapia:</label>
                                        <select name="oxigenoterapia" class="form-control" id='oxigenoterapia'>
                                            <option value="">Selecione...</option>
                                            <option value="1">Concentrador</option>
                                            <option value="2">Torpedo O²</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-6">
                                        <label for="vazao">Vazão:</label>
                                        <select name="vazao" class="form-control" id='vazao'>
                                            <option value="">Selecione...</option>
                                            <option value="1">1 L/M</option>
                                            <option value="2">2 L/M</option>
                                            <option value="3">3 L/M</option>
                                            <option value="4">4 L/M</option>
                                            <option value="5">5 L/M</option>
                                            <option value="6">Acima de 5 L/M</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="panel panel-default">
                            <div class="panel-heading clearfix">
                                <h3 class="panel-title pull-left" style="padding-top: 7.5px;">
                                    <i class="fa fa-list-alt " aria-hidden="true"></i> Deambula / Drenos</b>
                                </h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <label for="deambula">Deambula:</label>
                                        <select name="deambula" class="form-control" id='deambula'>
                                            <option value="">Selecione...</option>
                                            <option value="1">Sim, sem auxílio</option>
                                            <option value="2">Sim, com auxílio</option>
                                            <option value="3">Não</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-6">
                                        <label for="drenos">Drenos/Cateteres/Estomias:</label>
                                        <select name="drenos" class="form-control" id='drenos'>
                                            <option value="">Selecione...</option>
                                            <option value="1">Sim, família apta</option>
                                            <option value="2">Sim, família não apta</option>
                                            <option value="3">Não</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="panel panel-default">
                            <div class="panel-heading clearfix">
                                <h3 class="panel-title pull-left" style="padding-top: 7.5px;">
                                    <i class="fa fa-list-alt " aria-hidden="true"></i> Equipamentos</b>
                                </h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="col-xs-3">
                                            <label>
                                                <input name="equipamentos[]" id='equipamentos-cama-completa' type="checkbox"
                                                    data-toggle="toggle" data-on="Sim" data-off="Não" data-onstyle="success"
                                                    data-offstyle="danger" data-size="small" class="bt-toggle equipamentos" value="1">
                                                Cama Completa
                                            </label>
                                        </div>
                                        <div class="col-xs-3">
                                            <label>
                                                <input name="equipamentos[]" id='equipamentos-cadeira-de-rodas' type="checkbox"
                                                    data-toggle="toggle" data-on="Sim" data-off="Não" data-onstyle="success"
                                                    data-offstyle="danger" data-size="small" class="bt-toggle equipamentos" value="2">
                                                Cadeira de Rodas
                                            </label>
                                        </div>
                                        <div class="col-xs-3">
                                            <label>
                                                <input name="equipamentos[]" id='equipamentos-cadeira-higienica' type="checkbox"
                                                    data-toggle="toggle" data-on="Sim" data-off="Não" data-onstyle="success"
                                                    data-offstyle="danger" data-size="small" class="bt-toggle equipamentos" value="3">
                                                Cadeira Higiênica
                                            </label>
                                        </div>
                                        <div class="col-xs-3">
                                            <label>
                                                <input name="equipamentos[]" id='equipamentos-cama-eletrica' type="checkbox"
                                                    data-toggle="toggle" data-on="Sim" data-off="Não" data-onstyle="success"
                                                    data-offstyle="danger" data-size="small" class="bt-toggle equipamentos" value="4">
                                                Cama Elétrica
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="col-xs-3">
                                            <label>
                                                <input name="equipamentos[]" id='equipamentos-nebulizador' type="checkbox"
                                                    data-toggle="toggle" data-on="Sim" data-off="Não" data-onstyle="success"
                                                    data-offstyle="danger" data-size="small" class="bt-toggle equipamentos" value="5">
                                                Nebulizador
                                            </label>
                                        </div>
                                        <div class="col-xs-3">
                                            <label>
                                                <input name="equipamentos[]" id='equipamentos-aspirador' type="checkbox"
                                                    data-toggle="toggle" data-on="Sim" data-off="Não" data-onstyle="success"
                                                    data-offstyle="danger" data-size="small" class="bt-toggle equipamentos" value="6">
                                                Aspirador
                                            </label>
                                        </div>
                                        <div class="col-xs-3">
                                            <label>
                                                <input name="equipamentos[]" id='equipamentos-glicosimetro' type="checkbox"
                                                    data-toggle="toggle" data-on="Sim" data-off="Não" data-onstyle="success"
                                                    data-offstyle="danger" data-size="small" class="bt-toggle equipamentos" value="7">
                                                Glicosímetro
                                            </label>
                                        </div>
                                        <div class="col-xs-3">
                                            <label>
                                                <input name="equipamentos[]" id='equipamentos-bi' type="checkbox"
                                                    data-toggle="toggle" data-on="Sim" data-off="Não" data-onstyle="success"
                                                    data-offstyle="danger" data-size="small" class="bt-toggle equipamentos" value="8">
                                                Bomba de Infusão
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="col-xs-3">
                                            <label>
                                                <input name="equipamentos[]" id='equipamentos-oximetro' type="checkbox"
                                                    data-toggle="toggle" data-on="Sim" data-off="Não" data-onstyle="success"
                                                    data-offstyle="danger" data-size="small" class="bt-toggle equipamentos" value="9">
                                                Oxímetro
                                            </label>
                                        </div>
                                        <div class="col-xs-3">
                                            <label>
                                                <input name="equipamentos[]" id='equipamentos-bi-pap' type="checkbox"
                                                    data-toggle="toggle" data-on="Sim" data-off="Não" data-onstyle="success"
                                                    data-offstyle="danger" data-size="small" class="bt-toggle equipamentos" value="10">
                                                Bipap
                                            </label>
                                        </div>
                                        <div class="col-xs-3">
                                            <label>
                                                <input name="equipamentos[]" id='equipamentos-nobreak' type="checkbox"
                                                    data-toggle="toggle" data-on="Sim" data-off="Não" data-onstyle="success"
                                                    data-offstyle="danger" data-size="small" class="bt-toggle equipamentos" value="11">
                                                Nobreak
                                            </label>
                                        </div>
                                        <div class="col-xs-3">
                                            <label>
                                                <input name="equipamentos[]" id='equipamentos-respirador' type="checkbox"
                                                    data-toggle="toggle" data-on="Sim" data-off="Não" data-onstyle="success"
                                                    data-offstyle="danger" data-size="small" class="bt-toggle equipamentos" value="12">
                                                Respirador
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="col-xs-3">
                                            <label>
                                                <input name="equipamentos[]" id='equipamentos-suporte-soro' type="checkbox"
                                                    data-toggle="toggle" data-on="Sim" data-off="Não" data-onstyle="success"
                                                    data-offstyle="danger" data-size="small" class="bt-toggle equipamentos" value="13">
                                                Suporte de Soro
                                            </label>
                                        </div>
                                        <div class="col-xs-3">
                                            <label>
                                                <input name="equipamentos[]" id='equipamentos-recarga-torpedo' type="checkbox"
                                                    data-toggle="toggle" data-on="Sim" data-off="Não" data-onstyle="success"
                                                    data-offstyle="danger" data-size="small" class="bt-toggle equipamentos" value="14">
                                                Recarga Torpedo
                                            </label>
                                        </div>
                                        <div class="col-xs-3">
                                            <label>
                                                <input name="equipamentos[]" id='equipamentos-andador' type="checkbox"
                                                    data-toggle="toggle" data-on="Sim" data-off="Não" data-onstyle="success"
                                                    data-offstyle="danger" data-size="small" class="bt-toggle equipamentos" value="15">
                                                Andador
                                            </label>
                                        </div>
                                        <div class="col-xs-3">
                                            <label>
                                                <input name="equipamentos[]" id='equipamentos-colchao-pneumatico' type="checkbox"
                                                    data-toggle="toggle" data-on="Sim" data-off="Não" data-onstyle="success"
                                                    data-offstyle="danger" data-size="small" class="bt-toggle equipamentos" value="16">
                                                Colchão Pneumático
                                            </label>
                                        </div>
                                        <div class="col-xs-3">
                                            <label>
                                                <input name="equipamentos[]" id='equipamentos-outros' type="checkbox"
                                                    data-toggle="toggle" data-on="Sim" data-off="Não" data-onstyle="success"
                                                    data-offstyle="danger" data-size="small" class="bt-toggle equipamentos" value="17">
                                                Outros
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row" id="combo-outros-equipamentos" style="display: none;">
                                    <div class="col-xs-12">
                                        <label for="equipamentos-outros-texto">Outros equipamentos:</label>
                                        <textarea name="equipamentos_outros" id="equipamentos-outros-texto" class="form-control"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="panel panel-default">
                            <div class="panel-heading clearfix">
                                <h3 class="panel-title pull-left" style="padding-top: 7.5px;">
                                    <i class="fa fa-list-alt " aria-hidden="true"></i> Pele</b>
                                </h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-xs-4">
                                        <label for="integridade-cutanea">Integridade Cutânea:</label>
                                        <select name="integridade_cutanea" class="form-control" id='integridade-cutanea'>
                                            <option value="">Selecione...</option>
                                            <option value="1">Íntegra</option>
                                            <option value="2">Com lesão</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-8" id="combo-tipo-lesao" style="display: none;">
                                        <label for="drenos">Tipo de Lesão:</label>
                                        <br>
                                        <div class="col-xs-6">
                                            <label>
                                                <input name="tipo_lesao[]" id='tipo-lesao-lpp' type="checkbox"
                                                    data-toggle="toggle" data-on="Sim" data-off="Não" data-onstyle="success"
                                                    data-offstyle="danger" data-size="small" class="bt-toggle" value="1">
                                                LPP
                                            </label>
                                        </div>
                                        <div class="col-xs-6">
                                            <label>
                                                <input name="tipo_lesao[]" id='tipo-lesao-ulcera-venosa' type="checkbox"
                                                    data-toggle="toggle" data-on="Sim" data-off="Não" data-onstyle="success"
                                                    data-offstyle="danger" data-size="small" class="bt-toggle" value="2">
                                                Úlcera Venosa
                                            </label>
                                        </div>
                                        <div class="col-xs-6">
                                            <label>
                                                <input name="tipo_lesao[]" id='tipo-lesao-ulcera-diabetica' type="checkbox"
                                                    data-toggle="toggle" data-on="Sim" data-off="Não" data-onstyle="success"
                                                    data-offstyle="danger" data-size="small" class="bt-toggle" value="3">
                                                Úlcera Diabética
                                            </label>
                                        </div>
                                        <div class="col-xs-6">
                                            <label>
                                                <input name="tipo_lesao[]" id='tipo-lesao-lesao-oncologica' type="checkbox"
                                                    data-toggle="toggle" data-on="Sim" data-off="Não" data-onstyle="success"
                                                    data-offstyle="danger" data-size="small" class="bt-toggle" value="4">
                                                Lesão Oncológica
                                            </label>
                                        </div>
                                        <div class="col-xs-6">
                                            <label>
                                                <input name="tipo_lesao[]" id='tipo-lesao-fo' type="checkbox"
                                                    data-toggle="toggle" data-on="Sim" data-off="Não" data-onstyle="success"
                                                    data-offstyle="danger" data-size="small" class="bt-toggle" value="5">
                                                FO
                                            </label>
                                        </div>
                                        <div class="col-xs-6">
                                            <label>
                                                <input name="tipo_lesao[]" id='tipo-lesao-queimadura' type="checkbox"
                                                    data-toggle="toggle" data-on="Sim" data-off="Não" data-onstyle="success"
                                                    data-offstyle="danger" data-size="small" class="bt-toggle" value="6">
                                                Queimadura
                                            </label>
                                        </div>
                                        <div class="col-xs-6">
                                            <label>
                                                <input name="tipo_lesao[]" id='tipo-lesao-deiscencia-fo' type="checkbox"
                                                    data-toggle="toggle" data-on="Sim" data-off="Não" data-onstyle="success"
                                                    data-offstyle="danger" data-size="small" class="bt-toggle" value="7">
                                                Deiscencia FO
                                            </label>
                                        </div>
                                        <div class="col-xs-6">
                                            <label>
                                                <input name="tipo_lesao[]" id='tipo-lesao-dermatite-incontinencia' type="checkbox"
                                                    data-toggle="toggle" data-on="Sim" data-off="Não" data-onstyle="success"
                                                    data-offstyle="danger" data-size="small" class="bt-toggle" value="8">
                                                Dermatite incontinência
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading clearfix">
                                <h3 class="panel-title pull-left" style="padding-top: 7.5px;">
                                    <i class="fa fa-list-alt " aria-hidden="true"></i> Antibiótico</b>
                                </h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <label for="atb">Faz uso de Antibiótico?</label>
                                        <br>
                                        <input name="atb" id='atb-nao' type="hidden" class="atb" value="0">
                                        <input name="atb" id='atb' type="checkbox" data-toggle="toggle" data-on="Sim"
                                            data-off="Não" data-onstyle="success" data-offstyle="danger" data-size="small"
                                            class="bt-toggle atb" value="1">
                                    </div>
                                    <div class="col-xs-9" id="combo-atb" style="display: none">
                                        <div class="col-xs-4">
                                            <label for="atb-inicio">Nome:</label>
                                            <input type="text" name="atb_nome" class="form-control" id='atb-nome'>
                                        </div>
                                        <div class="col-xs-4">
                                            <label for="atb-inicio">Início:</label>
                                            <input type="date" name="atb_inicio" class="form-control" id='atb-inicio'>
                                        </div>
                                        <div class="col-xs-4">
                                            <label for="atb-previsao-termino">Previsão de Término:</label>
                                            <input type="date" name="atb_previsao_termino" class="form-control" id='atb-previsao-termino'>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading clearfix">
                                <h3 class="panel-title pull-left" style="padding-top: 7.5px;">
                                    <i class="fa fa-list-alt " aria-hidden="true"></i> Antifúngico</b>
                                </h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <label for="antifungico">Faz uso de antifúngico?</label>
                                        <br>
                                        <input name="antifungico" id='antifungico-nao' type="hidden" value="0">
                                        <input name="antifungico" id='antifungico' type="checkbox" data-toggle="toggle"
                                            data-on="Sim" data-off="Não" data-onstyle="success" data-offstyle="danger"
                                            data-size="small" class="bt-toggle antifungico" value="1">
                                    </div>
                                    <div class="col-xs-9" id="combo-antifungico" style="display: none;">
                                        <div class="col-xs-4">
                                            <label for="atb-inicio">Nome:</label>
                                            <input type="text" name="antifungico_nome" class="form-control" id='antifungico-nome'>
                                        </div>
                                        <div class="col-xs-4">
                                            <label for="antifungico-inicio">Início:</label>
                                            <input type="date" name="antifungico_inicio" class="form-control" id='antifungico-inicio'>
                                        </div>
                                        <div class="col-xs-4">
                                            <label for="antifungico-previsao-termino">Previsão de Término:</label>
                                            <input type="date" name="antifungico_previsao_termino" class="form-control"
                                                id='antifungico-previsao-termino'>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading clearfix">
                                <h3 class="panel-title pull-left" style="padding-top: 7.5px;">
                                    <i class="fa fa-list-alt " aria-hidden="true"></i> Evolução Médica</b>
                                </h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <label for="evolucao-medica">Evolução</label>
                                        <textarea name="evolucao_medica[evolucao]" id="evolucao-medica" cols="30" class="form-control summernote"
                                            rows="10"></textarea>
                                        <input type="hidden" name="evolucao_medica[id]" id="evolucao-medica-id">
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-xs-3">
                                        <label for="evolucao-medica-data-visita">Data da Visita:</label>
                                        <input type="date" name="evolucao_medica[data_visita]" id="evolucao-medica-data-visita"
                                            class="form-control">
                                    </div>
                                    <div class="col-xs-6">
                                        <label for="evolucao-medica-profissional">Médico(a):</label>
                                        <input type="text" name="evolucao_medica[profissional]" id="evolucao-medica-profissional"
                                            class="form-control">
                                    </div>
                                    <div class="col-xs-3">
                                        <label for="evolucao-medica-conselho">CRM:</label>
                                        <input type="text" name="evolucao_medica[conselho]" id="evolucao-medica-conselho"
                                            class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading clearfix">
                                <h3 class="panel-title pull-left" style="padding-top: 7.5px;">
                                    <i class="fa fa-list-alt " aria-hidden="true"></i> Evolução de Enfermagem</b>
                                </h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <label for="evolucao-enfermagem">Evolução</label>
                                        <textarea name="evolucao_enfermagem[evolucao]" id="evolucao-enfermagem" cols="30" class="form-control summernote" rows="10"></textarea>
                                        <input type="hidden" name="evolucao_enfermagem[id]" id="evolucao-enfermagem-id">
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-xs-3">
                                        <label for="evolucao-enfermagem-data-visita">Data da Visita:</label>
                                        <input type="date" name="evolucao_enfermagem[data_visita]" id="evolucao-enfermagem-data-visita"
                                            class="form-control">
                                    </div>
                                    <div class="col-xs-6">
                                        <label for="evolucao-enfermagem-profissional">Enfermeiro(a):</label>
                                        <input type="text" name="evolucao_enfermagem[profissional]" id="evolucao-enfermagem-profissional"
                                            class="form-control">
                                    </div>
                                    <div class="col-xs-3">
                                        <label for="evolucao-enfermagem-conselho">COREN:</label>
                                        <input type="text" name="evolucao_enfermagem[conselho]" id="evolucao-enfermagem-conselho"
                                            class="form-control">
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-xs-12 feridas">

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading clearfix">
                                <h3 class="panel-title pull-left" style="padding-top: 7.5px;">
                                    <i class="fa fa-list-alt " aria-hidden="true"></i> Evolução de Fisioterapia</b>
                                </h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <label for="evolucao-fisioterapia">Evolução</label>
                                        <textarea name="evolucao_fisioterapia[evolucao]" id="evolucao-fisioterapia"
                                            cols="30" class="form-control summernote" rows="10"></textarea>
                                        <input type="hidden" name="evolucao_fisioterapia[id]" id="evolucao-fisioterapia-id">
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-xs-3">
                                        <label for="evolucao-fisioterapia-data-visita">Data da Visita:</label>
                                        <input type="date" name="evolucao_fisioterapia[data_visita]" id="evolucao-fisioterapia-data-visita"
                                            class="form-control">
                                    </div>
                                    <div class="col-xs-6">
                                        <label for="evolucao-fisioterapia-profissional">Fisioterapeuta:</label>
                                        <input type="text" name="evolucao_fisioterapia[profissional]" id="evolucao-fisioterapia-profissional"
                                            class="form-control">
                                    </div>
                                    <div class="col-xs-3">
                                        <label for="evolucao-fisioterapia-conselho">CREFITO:</label>
                                        <input type="text" name="evolucao_fisioterapia[conselho]" id="evolucao-fisioterapia-conselho"
                                            class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading clearfix">
                                <h3 class="panel-title pull-left" style="padding-top: 7.5px;">
                                    <i class="fa fa-list-alt " aria-hidden="true"></i> Evolução de Fonoaudiologia</b>
                                </h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <label for="evolucao-fonoaudiologia">Evolução</label>
                                        <textarea name="evolucao_fonoaudiologia[evolucao]" id="evolucao-fonoaudiologia"
                                            cols="30" class="form-control summernote" rows="10"></textarea>
                                        <input type="hidden" name="evolucao_fonoaudiologia[id]" id="evolucao-fonoaudiologia-id">
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-xs-3">
                                        <label for="evolucao-fonoaudiologia-data-visita">Data da Visita:</label>
                                        <input type="date" name="evolucao_fonoaudiologia[data_visita]" id="evolucao-fonoaudiologia-data-visita"
                                            class="form-control">
                                    </div>
                                    <div class="col-xs-6">
                                        <label for="evolucao-fonoaudiologia-profissional">Fonoaudiólogo(a):</label>
                                        <input type="text" name="evolucao_fonoaudiologia[profissional]" id="evolucao-fonoaudiologia-profissional"
                                            class="form-control">
                                    </div>
                                    <div class="col-xs-3">
                                        <label for="evolucao-fonoaudiologia-conselho">CRFa:</label>
                                        <input type="text" name="evolucao_fonoaudiologia[conselho]" id="evolucao-fonoaudiologia-conselho"
                                            class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading clearfix">
                                <h3 class="panel-title pull-left" style="padding-top: 7.5px;">
                                    <i class="fa fa-list-alt " aria-hidden="true"></i> Evolução Nutricional</b>
                                </h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <label for="evolucao-nutricao">Evolução</label>
                                        <textarea name="evolucao_nutricao[evolucao]" id="evolucao-nutricao" cols="30"
                                            class="form-control summernote" rows="10"></textarea>
                                        <input type="hidden" name="evolucao_nutricao[id]" id="evolucao-nutricao-id">
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-xs-3">
                                        <label for="evolucao-nutricao-data-visita">Data da Visita:</label>
                                        <input type="date" name="evolucao_nutricao[data_visita]" id="evolucao-nutricao-data-visita"
                                            class="form-control">
                                    </div>
                                    <div class="col-xs-6">
                                        <label for="evolucao-nutricao-profissional">Nutricionista:</label>
                                        <input type="text" name="evolucao_nutricao[profissional]" id="evolucao-nutricao-profissional"
                                            class="form-control">
                                    </div>
                                    <div class="col-xs-3">
                                        <label for="evolucao-nutricao-conselho">CRN:</label>
                                        <input type="text" name="evolucao_nutricao[conselho]" id="evolucao-nutricao-conselho"
                                            class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading clearfix">
                                <h3 class="panel-title pull-left" style="padding-top: 7.5px;">
                                    <i class="fa fa-list-alt " aria-hidden="true"></i> Evolução Psicologia</b>
                                </h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <label for="evolucao-psicologia">Evolução</label>
                                        <textarea name="evolucao_psicologia[evolucao]" id="evolucao-psicologia" cols="30"
                                            class="form-control summernote" rows="10"></textarea>
                                        <input type="hidden" name="evolucao_psicologia[id]" id="evolucao-psicologia-id">
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-xs-3">
                                        <label for="evolucao-psicologia-data-visita">Data da Visita:</label>
                                        <input type="date" name="evolucao_psicologia[data_visita]" id="evolucao-psicologia-data-visita"
                                            class="form-control">
                                    </div>
                                    <div class="col-xs-6">
                                        <label for="evolucao-psicologia-profissional">Psicólogo(a):</label>
                                        <input type="text" name="evolucao_psicologia[profissional]" id="evolucao-psicologia-profissional"
                                            class="form-control">
                                    </div>
                                    <div class="col-xs-3">
                                        <label for="evolucao-psicologia-conselho">CRP:</label>
                                        <input type="text" name="evolucao_psicologia[conselho]" id="evolucao-psicologia-conselho"
                                            class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <?php if ($_GET['tipo'] == 'p'): ?>
                        <div class="panel panel-default">
                            <div class="panel-heading clearfix">
                                <h3 class="panel-title pull-left" style="padding-top: 7.5px;">
                                    <i class="fa fa-list-alt " aria-hidden="true"></i> PAD</b>
                                </h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <table class="table table-condensed table-striped">
                                            <tbody>
                                                <tr>
                                                    <td width="20%"><b>Modalidade</b></td>
                                                    <td colspan="2">
                                                        <textarea name="pad[modalidade]" id="pad-modalidade" cols="30"
                                                            rows="5" class="form-control"></textarea>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="20%"><b>Médico</b></td>
                                                    <td>
                                                        <select name="pad[medico][cuidados]" id="pad-cuidados-medico"
                                                            class="form-control cuidados">
                                                            <option value="">Selecione...</option>
                                                            <?php foreach (\App\Models\Sistema\CuidadosEspeciais::getCuidadosEspeciaisByGrupo([1]) as $cuidado): ?>
                                                            <option value="<?= $cuidado['id'] ?>">
                                                                <?= $cuidado['cuidado'] ?>
                                                            </option>
                                                            <?php endforeach; ?>
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <select name="pad[medico][frequencia]" id="pad-frequencia-medico"
                                                            class="form-control  frequencia">
                                                            <option value="">Selecione...</option>
                                                            <?php foreach ($frequencias as $frequencia): ?>
                                                            <option value="<?= $frequencia['id'] ?>">
                                                                <?= $frequencia['frequencia'] ?>
                                                            </option>
                                                            <?php endforeach; ?>
                                                        </select>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="20%"><b>Enfermeiro</b></td>
                                                    <td>
                                                        <select name="pad[enfermagem][cuidados]" id="pad-cuidados-enfermagem"
                                                            class="form-control cuidados">
                                                            <option value="">Selecione...</option>
                                                            <?php foreach (\App\Models\Sistema\CuidadosEspeciais::getCuidadosEspeciaisByGrupo([2]) as $cuidado): ?>
                                                            <option value="<?= $cuidado['id'] ?>">
                                                                <?= $cuidado['cuidado'] ?>
                                                            </option>
                                                            <?php endforeach; ?>
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <select name="pad[enfermagem][frequencia]" id="pad-frequencia-enfermagem"
                                                            class="form-control frequencia">
                                                            <option value="">Selecione...</option>
                                                            <?php foreach ($frequencias as $frequencia): ?>
                                                            <option value="<?= $frequencia['id'] ?>">
                                                                <?= $frequencia['frequencia'] ?>
                                                            </option>
                                                            <?php endforeach; ?>
                                                        </select>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="20%"><b>Técnico de Enfermagem</b></td>
                                                    <td>
                                                        <select name="pad[tecnico][cuidados]" id="pad-cuidados-tecnico"
                                                            class="form-control cuidados">
                                                            <option value="">Selecione...</option>
                                                            <?php foreach (\App\Models\Sistema\CuidadosEspeciais::getCuidadosEspeciaisByGrupo([3]) as $cuidado): ?>
                                                            <option value="<?= $cuidado['id'] ?>">
                                                                <?= $cuidado['cuidado'] ?>
                                                            </option>
                                                            <?php endforeach; ?>
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <select name="pad[tecnico][frequencia]" id="pad-frequencia-tecnico"
                                                            class="form-control frequencia">
                                                            <option value="">Selecione...</option>
                                                            <?php foreach ($frequencias as $frequencia): ?>
                                                            <option value="<?= $frequencia['id'] ?>">
                                                                <?= $frequencia['frequencia'] ?>
                                                            </option>
                                                            <?php endforeach; ?>
                                                        </select>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="20%"><b>Fisioterapia Motora</b></td>
                                                    <td>
                                                        <select name="pad[fisio-motora][cuidados]" id="pad-cuidados-fisio-motora"
                                                            class="form-control cuidados">
                                                            <option value="">Selecione...</option>
                                                            <?php foreach (\App\Models\Sistema\CuidadosEspeciais::getCuidadosEspeciaisByGrupo([4]) as $cuidado): ?>
                                                            <option value="<?= $cuidado['id'] ?>">
                                                                <?= $cuidado['cuidado'] ?>
                                                            </option>
                                                            <?php endforeach; ?>
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <select name="pad[fisio-motora][frequencia]" id="pad-frequencia-fisio-motora"
                                                            class="form-control frequencia">
                                                            <option value="">Selecione...</option>
                                                            <?php foreach ($frequencias as $frequencia): ?>
                                                            <option value="<?= $frequencia['id'] ?>">
                                                                <?= $frequencia['frequencia'] ?>
                                                            </option>
                                                            <?php endforeach; ?>
                                                        </select>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="20%"><b>Fisioterapia Respiratória</b></td>
                                                    <td>
                                                        <select name="pad[fisio-resp][cuidados]" id="pad-cuidados-fisio-resp"
                                                            class="form-control cuidados">
                                                            <option value="">Selecione...</option>
                                                            <?php foreach (\App\Models\Sistema\CuidadosEspeciais::getCuidadosEspeciaisByGrupo([5]) as $cuidado): ?>
                                                            <option value="<?= $cuidado['id'] ?>">
                                                                <?= $cuidado['cuidado'] ?>
                                                            </option>
                                                            <?php endforeach; ?>
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <select name="pad[fisio-resp][frequencia]" id="pad-frequencia-fisio-resp"
                                                            class="form-control frequencia">
                                                            <option value="">Selecione...</option>
                                                            <?php foreach ($frequencias as $frequencia): ?>
                                                            <option value="<?= $frequencia['id'] ?>">
                                                                <?= $frequencia['frequencia'] ?>
                                                            </option>
                                                            <?php endforeach; ?>
                                                        </select>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="20%"><b>Fonoterapia</b></td>
                                                    <td>
                                                        <select name="pad[fono][cuidados]" id="pad-cuidados-fono" class="form-control cuidados">
                                                            <option value="">Selecione...</option>
                                                            <?php foreach (\App\Models\Sistema\CuidadosEspeciais::getCuidadosEspeciaisByGrupo([7]) as $cuidado): ?>
                                                            <option value="<?= $cuidado['id'] ?>">
                                                                <?= $cuidado['cuidado'] ?>
                                                            </option>
                                                            <?php endforeach; ?>
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <select name="pad[fono][frequencia]" id="pad-frequencia-fono"
                                                            class="form-control frequencia">
                                                            <option value="">Selecione...</option>
                                                            <?php foreach ($frequencias as $frequencia): ?>
                                                            <option value="<?= $frequencia['id'] ?>">
                                                                <?= $frequencia['frequencia'] ?>
                                                            </option>
                                                            <?php endforeach; ?>
                                                        </select>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="20%"><b>Psicólogo</b></td>
                                                    <td>
                                                        <select name="pad[psico][cuidados]" id="pad-cuidados-psico"
                                                            class="form-control cuidados">
                                                            <option value="">Selecione...</option>
                                                            <?php foreach (\App\Models\Sistema\CuidadosEspeciais::getCuidadosEspeciaisByGrupo([8]) as $cuidado): ?>
                                                            <option value="<?= $cuidado['id'] ?>">
                                                                <?= $cuidado['cuidado'] ?>
                                                            </option>
                                                            <?php endforeach; ?>
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <select name="pad[psico][frequencia]" id="pad-frequencia-psico"
                                                            class="form-control frequencia">
                                                            <option value="">Selecione...</option>
                                                            <?php foreach ($frequencias as $frequencia): ?>
                                                            <option value="<?= $frequencia['id'] ?>">
                                                                <?= $frequencia['frequencia'] ?>
                                                            </option>
                                                            <?php endforeach; ?>
                                                        </select>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="20%"><b>Nutricionista</b></td>
                                                    <td>
                                                        <select name="pad[nutri][cuidados]" id="pad-cuidados-nutri"
                                                            class="form-control cuidados">
                                                            <option value="">Selecione...</option>
                                                            <?php foreach (\App\Models\Sistema\CuidadosEspeciais::getCuidadosEspeciaisByGrupo([6]) as $cuidado): ?>
                                                            <option value="<?= $cuidado['id'] ?>">
                                                                <?= $cuidado['cuidado'] ?>
                                                            </option>
                                                            <?php endforeach; ?>
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <select name="pad[nutri][frequencia]" id="pad-frequencia-nutri"
                                                            class="form-control frequencia">
                                                            <option value="">Selecione...</option>
                                                            <?php foreach ($frequencias as $frequencia): ?>
                                                            <option value="<?= $frequencia['id'] ?>">
                                                                <?= $frequencia['frequencia'] ?>
                                                            </option>
                                                            <?php endforeach; ?>
                                                        </select>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <?php endif; ?>
                        <br>
                        <br>
                        <div class="col-xs-12 text-center">
                            <div class="form-group">
                                <button type="submit" id="salvar-formulario-condensado" class='btn btn-primary'>
                                    Salvar
                                </button>
                                <a href="/adm/secmed/?action=formulario-condensado-listar" class='btn btn-warning'>
                                    Cancelar
                                </a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/utils/bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/utils/jquery/summernote/summernote.js"></script>
<script type="text/javascript" src="/utils/jquery/summernote/lang/summernote-pt-BR.js"></script>
<script type="text/javascript" src="/adm/secmed/templates/formulario-condensado/js/main.js?v=2.4"></script>
<script type="text/javascript" src="/utils/jquery/js/validar_campos.js"></script>
<script type="text/javascript" src="/utils/jquery/js/bootstrap-toggle.min.js"></script>
<div id="left">
    <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
</div>

</body>

</html>