<link rel="stylesheet" href="/utils/bootstrap-3.3.6-dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="/utils/bootstrap-3.3.6-dist/css/chosen.bootstrap.min.css" />
<link rel="stylesheet" href="/utils/font-awesome-4.7.0/css/font-awesome.css" />

<img src='<?= $_SERVER['DOCUMENT_ROOT'] . '/..utils/logos/' .  $responseEmpresa['logo'] ?>' width='100'> <br>
<table class="table table-condensed table-striped table-bordered">
    <tbody>
    <tr>
        <th colspan="3"><strong>INFORMAÇÕES SOBRE O PACIENTE</strong></th>
    </tr>
    <tr>
        <td class="col-xs-6"><strong>PERÍODO</strong></td>
        <td class="col-xs-6" colspan="2"><b>PACIENTE</b></td>
    </tr>
    <tr>
        <td class="col-xs-6">
            <?= $response['inicio'] ?>
            à
            <?= $response['fim'] ?>
        </td>
        <td class="col-xs-6" colspan="2">
            <?= $response['paciente'] ?>
        </td>
    </tr>
    <tr>
        <td class="col-xs-6"><b>GÊNERO</b></td>
        <td class="col-xs-6" colspan="2"><b>IDADE</b></td>
    </tr>
    <tr>
        <td class="col-xs-6" id="genero"><?= $response['genero'] ?></td>
        <td class="col-xs-6" colspan="2" id="idade"><?= $response['idade'] ?></td>
    </tr>
    <tr>
        <td class="col-xs-6"><b>UNIDADE REGIONAL</b></td>
        <td class="col-xs-6" colspan="2"><b>CONVÊNIO</b></td>
    </tr>
    <tr>
        <td class="col-xs-6" id="unidade-regional"><?= $response['nomeempresa'] ?></td>
        <td class="col-xs-6" colspan="2" id="convenio-paciente"><?= $response['nomeplano'] ?></td>
    </tr>
    <tr>
        <td class="col-xs-6"><b>MATRÍCULA</b></td>
        <td class="col-xs-6" colspan="2"><b>MODALIDADE</b></td>
    </tr>
    <tr>
        <td class="col-xs-6" id="matricula"><?= $response['matricula'] ?></td>
        <td class="col-xs-6" colspan="2" id="modalidade"><?= $response['modalidade'] ?></td>
    </tr>
    <tr>
        <td class="col-xs-6">DIETA</td>
        <td class="col-xs-6" colspan="2">VIA</td>
    </tr>
    <tr>
        <td class="col-xs-6">
            ( <?= $response['dieta'] == '1' ? 'x' : '' ?> ) Artesanal
            ( <?= $response['dieta'] == '2' ? 'x' : '' ?> ) Industrializada
            ( <?= $response['dieta'] == '3' ? 'x' : '' ?> ) Mista
        </td>
        <td class="col-xs-6" colspan="2">
            ( <?= $response['dieta_via'] == '1' ? 'x' : '' ?> ) Oral
            ( <?= $response['dieta_via'] == '2' ? 'x' : '' ?> ) SNE
            ( <?= $response['dieta_via'] == '3' ? 'x' : '' ?> ) GTT
            ( <?= $response['dieta_via'] == '4' ? 'x' : '' ?> ) Jejuno
            ( <?= $response['dieta_via'] == '5' ? 'x' : '' ?> ) BI
            ( <?= $response['dieta_via'] == '6' ? 'x' : '' ?> ) Gravitacional
        </td>
    </tr>
    <tr>
        <td class="col-xs-6">NOME DA DIETA</td>
        <td class="col-xs-6" colspan="2">ADMINISTRAÇÃO DA DIETA</td>
    </tr>
    <tr>
        <td class="col-xs-6">
            <?= $response['dieta_nome'] ?>
        </td>
        <td class="col-xs-6" colspan="2">
            <?= $response['dieta_adm'] ?>
        </td>
    </tr>
    <tr>
        <td class="col-xs-6">OXIGENOTERAPIA</td>
        <td class="col-xs-6" colspan="2">VAZÃO</td>
    </tr>
    <tr>
        <td class="col-xs-6">
            ( <?= $response['oxigenoterapia'] == '1' ? 'x' : '' ?> ) Concentrador
            ( <?= $response['oxigenoterapia'] == '2' ? 'x' : '' ?> ) Torpedo de O²
        </td>
        <td class="col-xs-6" colspan="2">
            ( <?= $response['oxigenoterapia_vazao'] == '1' ? 'x' : '' ?> ) 1 L/M
            ( <?= $response['oxigenoterapia_vazao'] == '2' ? 'x' : '' ?> ) 2 L/M
            ( <?= $response['oxigenoterapia_vazao'] == '3' ? 'x' : '' ?> ) 3 L/M
            ( <?= $response['oxigenoterapia_vazao'] == '4' ? 'x' : '' ?> ) 4 L/M
            ( <?= $response['oxigenoterapia_vazao'] == '5' ? 'x' : '' ?> ) 5 L/M
            ( <?= $response['oxigenoterapia_vazao'] == '6' ? 'x' : '' ?> ) ACIMA DE 5 L/M
        </td>
    </tr>
    <tr>
        <td class="col-xs-6">DEAMBULA</td>
        <td class="col-xs-6" colspan="2">DRENO / CATETERES / OSTOMIAS</td>
    </tr>
    <tr>
        <td class="col-xs-6">
            ( <?= $response['deambula'] == '1' ? 'x' : '' ?> ) Sim. sem auxílio
            ( <?= $response['deambula'] == '2' ? 'x' : '' ?> ) Sim, com auxílio
            ( <?= $response['deambula'] == '3' ? 'x' : '' ?> ) Não
        </td>
        <td class="col-xs-6" colspan="2">
            ( <?= $response['drenos_cateteres_ostomias'] == '1' ? 'x' : '' ?> ) Sim. família apta
            ( <?= $response['drenos_cateteres_ostomias'] == '2' ? 'x' : '' ?> ) Sim, família não apta
            ( <?= $response['drenos_cateteres_ostomias'] == '3' ? 'x' : '' ?> ) Não
        </td>
    </tr>
    <tr>
        <td class="col-xs-12" colspan="3">EQUIPAMENTOS</td>
    </tr>
    <tr>
        <td class="col-xs-12" colspan="3">
            <div class="col-xs-3">
                ( <?= in_array('1', $equipamentos) ? 'x' : '' ?> ) Cama Completa
                ( <?= in_array('2', $equipamentos) ? 'x' : '' ?> ) Cama de Rodas
                ( <?= in_array('3', $equipamentos) ? 'x' : '' ?> ) Cadeira Higiênica
                ( <?= in_array('4', $equipamentos) ? 'x' : '' ?> ) Cama Elétrica
            </div>
            <div class="col-xs-3">
                ( <?= in_array('5', $equipamentos) ? 'x' : '' ?> ) Nebulizador
                ( <?= in_array('6', $equipamentos) ? 'x' : '' ?> ) Aspirador
                ( <?= in_array('7', $equipamentos) ? 'x' : '' ?> ) Glicosímetro
                ( <?= in_array('8', $equipamentos) ? 'x' : '' ?> ) BI
            </div>
            <div class="col-xs-3">
                ( <?= in_array('9', $equipamentos) ? 'x' : '' ?> ) Oxímetro
                ( <?= in_array('10', $equipamentos) ? 'x' : '' ?> ) BI-pap
                ( <?= in_array('11', $equipamentos) ? 'x' : '' ?> ) Nobreak
                ( <?= in_array('12', $equipamentos) ? 'x' : '' ?> ) Respirador
            </div>
            <div class="col-xs-3">
                ( <?= in_array('13', $equipamentos) ? 'x' : '' ?> ) Suporte de Soro
                ( <?= in_array('14', $equipamentos) ? 'x' : '' ?> ) Recarga Torpedo
                ( <?= in_array('15', $equipamentos) ? 'x' : '' ?> ) Andador
                ( <?= in_array('16', $equipamentos) ? 'x' : '' ?> ) Colchão Pneumático
            </div>
            <div class="col-xs-12">
                ( <?= in_array('17', $equipamentos) ? 'x' : '' ?> ) Outros: <?= $response['equipamentos_outros'] ?>
            </div>
        </td>
    </tr>
    <tr>
        <td class="col-xs-6">INTEGRIDADE CUTÂNEA</td>
        <td class="col-xs-6" colspan="2">TIPO DA LESÃO</td>
    </tr>
    <tr>
        <td class="col-xs-6">
            ( <?= $response['integridade_cutanea'] == '1' ? 'x' : '' ?> ) Íntegra
            ( <?= $response['integridade_cutanea'] == '2' ? 'x' : '' ?> ) Com lesão
        </td>
        <td class="col-xs-6">
            <div class="col-xs-6">
                ( <?= in_array('1', $tipos_lesao) ? 'x' : '' ?> ) LPP
                ( <?= in_array('2', $tipos_lesao) ? 'x' : '' ?> ) Úlcera Venosa
                ( <?= in_array('3', $tipos_lesao) ? 'x' : '' ?> ) Úlcera Diabética
                ( <?= in_array('4', $tipos_lesao) ? 'x' : '' ?> ) Lesão Oncológica
            </div>
            <div class="col-xs-6">
                ( <?= in_array('5', $tipos_lesao) ? 'x' : '' ?> ) FO
                ( <?= in_array('6', $tipos_lesao) ? 'x' : '' ?> ) Queimadura
                ( <?= in_array('7', $tipos_lesao) ? 'x' : '' ?> ) Deiscencia FO
                ( <?= in_array('8', $tipos_lesao) ? 'x' : '' ?> ) Dermatite incontinência
            </div>
        </td>
    </tr>
    <tr>
        <td class="col-xs-6">ANTIBIÓTICO</td>
        <td class="col-xs-6" colspan="2">PREVISÃO DE TÉRMINO</td>
    </tr>
    <tr>
        <td class="col-xs-6">
            ( <?= $response['atb'] == '1' ? 'x' : '' ?> ) Sim
            ( <?= $response['atb'] == '0' ? 'x' : '' ?> ) Não
        </td>
        <?php if($response['atb'] == '1'): ?>
        <td class="col-xs-6" colspan="2">
            <?= $response['atb_inicio'] ?> à
            <?= $response['atb_previsao_termino'] ?>
        </td>
        <?php endif; ?>
    </tr>
    <tr>
        <td class="col-xs-6">ANTIFÚNGICO</td>
        <td class="col-xs-6" colspan="2">PREVISÃO DE TÉRMINO</td>
    </tr>
    <tr>
        <td class="col-xs-6">
            ( <?= $response['antifungico'] == '1' ? 'x' : '' ?> ) Sim
            ( <?= $response['antifungico'] == '0' ? 'x' : '' ?> ) Não
        </td>
        <?php if($response['antifungico'] == '1'): ?>
        <td class="col-xs-6" colspan="2">
            <?= $response['antifungico_inicio'] ?> à
            <?= $response['antifungico_previsao_termino'] ?>
        </td>
        <?php endif; ?>
    </tr>
    <tr>
        <td colspan="3" class="col-xs-12">EVOLUÇÃO MÉDICA</td>
    </tr>
    <tr>
        <td colspan="3" class="col-xs-12"><?= $response['evolucao_medica']['evolucao'] ?></td>
    </tr>
    <tr>
        <td class="col-xs-4">Data da Visita: <?= $response['evolucao_medica']['data_visita'] ?></td>
        <td class="col-xs-4">Médico(a): <?= $response['evolucao_medica']['profissional'] ?></td>
        <td class="col-xs-4">CRM: <?= $response['evolucao_medica']['numero_conselho'] ?></td>
    </tr>
    <tr>
        <td colspan="3" class="col-xs-12">EVOLUÇÃO DE ENFERMAGEM</td>
    </tr>
    <tr>
        <td colspan="3" class="col-xs-12"><?= $response['evolucao_enfermagem']['evolucao'] ?></td>
    </tr>
    <tr>
        <td class="col-xs-4">Data da Visita: <?= $response['evolucao_enfermagem']['data_visita'] ?></td>
        <td class="col-xs-4">Enfermeiro(a): <?= $response['evolucao_enfermagem']['profissional'] ?></td>
        <td class="col-xs-4">COREN: <?= $response['evolucao_enfermagem']['numero_conselho'] ?></td>
    </tr>
    </tbody>
</table>
<div style="page-break-before: always;"></div>
<table class="table table-condensed table-striped table-bordered">
    <tbody>
    <tr>
        <td colspan="3" class="col-xs-12">FOTOS DA LESÃO</td>
    </tr>
    <tr>
        <td colspan="3" class="col-xs-12">
            <?php foreach ($response['imagens_lesoes'] as $imagens_lesoes): ?>
                <div class="col-xs-4">
                    <div class="thumbnail">
                        <img src="<?= $_SERVER['DOCUMENT_ROOT'] . '/' . $imagens_lesoes['path'] ?>" alt="<?= $imagens_lesoes['LOCAL'] ?>" width="150px" />
                        <div class="caption text-center">
                            <h6><?= $imagens_lesoes['LOCAL'] ?></h6>
                        </div>
                    </div>
                </div>
            <?php endforeach; ?>
        </td>
    </tr>
    <tr>
        <td colspan="3" class="col-xs-12">EVOLUÇÃO DE FISIOTERAPIA</td>
    </tr>
    <tr>
        <td colspan="3" class="col-xs-12"><?= $response['evolucao_fisioterapia']['evolucao'] ?></td>
    </tr>
    <tr>
        <td class="col-xs-4">Data da Visita: <?= $response['evolucao_fisioterapia']['data_visita'] ?></td>
        <td class="col-xs-4">Fisioterapeuta: <?= $response['evolucao_fisioterapia']['profissional'] ?></td>
        <td class="col-xs-4">CREFITO: <?= $response['evolucao_fisioterapia']['numero_conselho'] ?></td>
    </tr>
    <tr>
        <td colspan="3" class="col-xs-12">EVOLUÇÃO DE FONOAUDIÓLOGO</td>
    </tr>
    <tr>
        <td colspan="3" class="col-xs-12"><?= $response['evolucao_fonoaudiologia']['evolucao'] ?></td>
    </tr>
    <tr>
        <td class="col-xs-4">Data da Visita: <?= $response['evolucao_fonoaudiologia']['data_visita'] ?></td>
        <td class="col-xs-4">Fonoaudiólogo(a): <?= $response['evolucao_fonoaudiologia']['profissional'] ?></td>
        <td class="col-xs-4">CRFa: <?= $response['evolucao_fonoaudiologia']['numero_conselho'] ?></td>
    </tr>
    <tr>
        <td colspan="3" class="col-xs-12">EVOLUÇÃO DE NUTRICIONAL</td>
    </tr>
    <tr>
        <td colspan="3" class="col-xs-12"><?= $response['evolucao_nutricao']['evolucao'] ?></td>
    </tr>
    <tr>
        <td class="col-xs-4">Data da Visita: <?= $response['evolucao_nutricao']['data_visita'] ?></td>
        <td class="col-xs-4">Nutricionista: <?= $response['evolucao_nutricao']['profissional'] ?></td>
        <td class="col-xs-4">CRN: <?= $response['evolucao_nutricao']['numero_conselho'] ?></td>
    </tr>
    <tr>
        <td colspan="3" class="col-xs-12">EVOLUÇÃO PSICÓLOGO</td>
    </tr>
    <tr>
        <td colspan="3" class="col-xs-12"><?= $response['evolucao_psicologia']['evolucao'] ?></td>
    </tr>
    <tr>
        <td class="col-xs-4">Data da Visita: <?= $response['evolucao_psicologia']['data_visita'] ?></td>
        <td class="col-xs-4">Psicólogo(a): <?= $response['evolucao_psicologia']['profissional'] ?></td>
        <td class="col-xs-4">CRP: <?= $response['evolucao_psicologia']['numero_conselho'] ?></td>
    </tr>
    </tbody>
</table>
<?php if($response['tipo_formulario'] == 'p'): ?>
<br>
<table class="table table-condensed table-striped table-bordered">
    <tbody>
    <tr>
        <td colspan="3" class="col-xs-12">PAD</td>
    </tr>
    <tr>
        <td class="col-xs-6">Modalidade</td>
        <td colspan="2" class="col-xs-6"><?= $response['pad']['modalidade'] ?></td>
    </tr>
    <tr>
        <td class="col-xs-4">Médico</td>
        <td class="col-xs-4"><?= $response['pad']['medico_cuidado'] ?></td>
        <td class="col-xs-4"><?= $response['pad']['medico_frequencia'] ?></td>
    </tr>
    <tr>
        <td class="col-xs-4">Enfermeiro</td>
        <td class="col-xs-4"><?= $response['pad']['enfermagem_cuidado'] ?></td>
        <td class="col-xs-4"><?= $response['pad']['enfermagem_frequencia'] ?></td>
    </tr>
    <tr>
        <td class="col-xs-4">Técnico de Enfermagem</td>
        <td class="col-xs-4"><?= $response['pad']['tecnico_cuidado'] ?></td>
        <td class="col-xs-4"><?= $response['pad']['tecnico_frequencia'] ?></td>
    </tr>
    <tr>
        <td class="col-xs-4">Fisoterapia Motora</td>
        <td class="col-xs-4"><?= $response['pad']['fisio_motora_cuidado'] ?></td>
        <td class="col-xs-4"><?= $response['pad']['fisio_motora_frequencia'] ?></td>
    </tr>
    <tr>
        <td class="col-xs-4">Fisioterapia Respiratória</td>
        <td class="col-xs-4"><?= $response['pad']['fisio_resp_cuidado'] ?></td>
        <td class="col-xs-4"><?= $response['pad']['fisio_resp_frequencia'] ?></td>
    </tr>
    <tr>
        <td class="col-xs-4">Fonoterapia</td>
        <td class="col-xs-4"><?= $response['pad']['fono_cuidado'] ?></td>
        <td class="col-xs-4"><?= $response['pad']['fono_frequencia'] ?></td>
    </tr>
    <tr>
        <td class="col-xs-4">Psicólogo</td>
        <td class="col-xs-4"><?= $response['pad']['psico_cuidado'] ?></td>
        <td class="col-xs-4"><?= $response['pad']['psico_frequencia'] ?></td>
    </tr>
    <tr>
        <td class="col-xs-4">Nutricionista</td>
        <td class="col-xs-4"><?= $response['pad']['nutri_cuidado'] ?></td>
        <td class="col-xs-4"><?= $response['pad']['nutri_frequencia'] ?></td>
    </tr>
    </tbody>
</table>
<?php endif; ?>