<?php require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>
<head>
    <meta charset="UTF-8">
    <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php');?>
    <link rel="stylesheet" type="text/css" href="/utils/reports.css">
    <link rel="stylesheet" href="/utils/bootstrap-3.3.6-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/utils/jquery/css/toggle/toggle.css" />
    <link rel="stylesheet" href="/utils/bootstrap-3.3.6-dist/css/chosen.bootstrap.min.css" />
    <link rel="stylesheet" href="/utils/font-awesome-4.7.0/css/font-awesome.css" />
</head>
<div id="content">
    <div id="right">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title pull-left" style="padding-top: 7.5px;">
                    <i class="fa fa-list-alt " aria-hidden="true"></i> Visualizar Formulário Condensado <?= $titulo_formulario ?></b>
                </h3>
            </div>

            <div class="panel-body">
                <input type="hidden" name="relatorio_id" id="relatorio-id" value="">
                <div id="div-salvar-formulario-condensado">
                    <div class="row">
                        <div class="col-xs-12">
                            <table class="table table-condensed table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th colspan="2">Informações sobre o paciente</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="col-xs-4"><b>Período</b></td>
                                    <td class="col-xs-8"><b>Paciente</b></td>
                                </tr>
                                <tr>
                                    <td class="col-xs-4">
                                        <?= $response['inicio'] ?>
                                        à
                                        <?= $response['fim'] ?>
                                    </td>
                                    <td class="col-xs-8">
                                        <?= $response['paciente'] ?>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-xs-4"><b>Gênero</b></td>
                                    <td class="col-xs-8"><b>Idade</b></td>
                                </tr>
                                <tr>
                                    <td class="col-xs-4" id="genero"><?= $response['genero'] ?></td>
                                    <td class="col-xs-8" id="idade"><?= $response['idade'] ?></td>
                                </tr>
                                <tr>
                                    <td class="col-xs-4"><b>Unidade Regional</b></td>
                                    <td class="col-xs-8"><b>Convênio</b></td>
                                </tr>
                                <tr>
                                    <td class="col-xs-4" id="unidade-regional"><?= $response['nomeempresa'] ?></td>
                                    <td class="col-xs-8" id="convenio-paciente"><?= $response['nomeplano'] ?></td>
                                </tr>
                                <tr>
                                    <td class="col-xs-4"><b>Matrícula</b></td>
                                    <td class="col-xs-8"><b>Modalidade</b></td>
                                </tr>
                                <tr>
                                    <td class="col-xs-4" id="matricula"><?= $response['matricula'] ?></td>
                                    <td class="col-xs-8" id="modalidade"><?= $response['modalidade'] ?></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <br>
                    <div class="panel panel-default">
                        <div class="panel-heading clearfix">
                            <h3 class="panel-title pull-left" style="padding-top: 7.5px;">
                                <i class="fa fa-list-alt " aria-hidden="true"></i> Dietas</b>
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-6">
                                    <label for="dieta">Dieta:</label>
                                    <select name="dieta" class="form-control" id='dieta' disabled>
                                        <option value="">Selecione...</option>
                                        <option <?= $response['dieta'] == '1' ? 'selected' : '' ?> value="1">Artesanal</option>
                                        <option <?= $response['dieta'] == '2' ? 'selected' : '' ?> value="2">Industrializada</option>
                                        <option <?= $response['dieta'] == '3' ? 'selected' : '' ?> value="3">Mista</option>
                                    </select>
                                </div>
                                <div class="col-xs-6">
                                    <label for="dieta_via">Via:</label>
                                    <select name="dieta_via" class="form-control" id='dieta_via' disabled>
                                        <option value="">Selecione...</option>
                                        <option <?= $response['dieta_via'] == '1' ? 'selected' : '' ?> value="1">Oral</option>
                                        <option <?= $response['dieta_via'] == '2' ? 'selected' : '' ?> value="2">SNE</option>
                                        <option <?= $response['dieta_via'] == '3' ? 'selected' : '' ?> value="3">GTT</option>
                                        <option <?= $response['dieta_via'] == '4' ? 'selected' : '' ?> value="3">Jejuno</option>
                                        <option <?= $response['dieta_via'] == '5' ? 'selected' : '' ?> value="3">BI</option>
                                        <option <?= $response['dieta_via'] == '6' ? 'selected' : '' ?> value="3">Gravitacional</option>
                                    </select>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-xs-6">
                                    <label for="dieta-nome">Nome da Dieta:</label>
                                    <input type="text" name="dieta_nome" id="dieta-nome" class="form-control" value="<?= $response['dieta_nome'] ?>" disabled>
                                </div>
                                <div class="col-xs-6">
                                    <label for="dieta-adm">Administração da Dieta:</label>
                                    <textarea name="dieta_adm" id="dieta-adm" class="form-control" disabled><?= $response['dieta_adm'] ?></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="panel panel-default">
                        <div class="panel-heading clearfix">
                            <h3 class="panel-title pull-left" style="padding-top: 7.5px;">
                                <i class="fa fa-list-alt " aria-hidden="true"></i> Oxigenoterapia</b>
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-6">
                                    <label for="oxigenoterapia">Oxigenoterapia:</label>
                                    <select name="oxigenoterapia" class="form-control" id='oxigenoterapia' disabled>
                                        <option value="">Selecione...</option>
                                        <option <?= $response['oxigenoterapia'] == '1' ? 'selected' : '' ?> value="1">Concentrador</option>
                                        <option <?= $response['oxigenoterapia'] == '2' ? 'selected' : '' ?> value="2">Torpedo O²</option>
                                    </select>
                                </div>
                                <div class="col-xs-6">
                                    <label for="vazao">Vazão:</label>
                                    <select name="vazao" class="form-control" id='vazao' disabled>
                                        <option value="">Selecione...</option>
                                        <option <?= $response['oxigenoterapia_vazao'] == '1' ? 'selected' : '' ?> value="1">1 L/M</option>
                                        <option <?= $response['oxigenoterapia_vazao'] == '2' ? 'selected' : '' ?> value="2">2 L/M</option>
                                        <option <?= $response['oxigenoterapia_vazao'] == '3' ? 'selected' : '' ?> value="3">3 L/M</option>
                                        <option <?= $response['oxigenoterapia_vazao'] == '4' ? 'selected' : '' ?> value="4">4 L/M</option>
                                        <option <?= $response['oxigenoterapia_vazao'] == '5' ? 'selected' : '' ?> value="5">5 L/M</option>
                                        <option <?= $response['oxigenoterapia_vazao'] == '6' ? 'selected' : '' ?> value="6">Acima de 5 L/M</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="panel panel-default">
                        <div class="panel-heading clearfix">
                            <h3 class="panel-title pull-left" style="padding-top: 7.5px;">
                                <i class="fa fa-list-alt " aria-hidden="true"></i> Deambula / Drenos</b>
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-6">
                                    <label for="deambula">Deambula:</label>
                                    <select name="deambula" class="form-control" id='deambula' disabled>
                                        <option value="">Selecione...</option>
                                        <option <?= $response['deambula'] == '1' ? 'selected' : '' ?> value="1">Sim, sem auxílio</option>
                                        <option <?= $response['deambula'] == '2' ? 'selected' : '' ?> value="2">Sim, com auxílio</option>
                                        <option <?= $response['deambula'] == '3' ? 'selected' : '' ?> value="3">Não</option>
                                    </select>
                                </div>
                                <div class="col-xs-6">
                                    <label for="drenos">Drenos/Cateteres/Estomias:</label>
                                    <select name="drenos" class="form-control" id='drenos' disabled>
                                        <option value="">Selecione...</option>
                                        <option <?= $response['drenos_cateteres_ostomias'] == '1' ? 'selected' : '' ?> value="1">Sim, família apta</option>
                                        <option <?= $response['drenos_cateteres_ostomias'] == '2' ? 'selected' : '' ?> value="2">Sim, família não apta</option>
                                        <option <?= $response['drenos_cateteres_ostomias'] == '3' ? 'selected' : '' ?> value="3">Não</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="panel panel-default">
                        <div class="panel-heading clearfix">
                            <h3 class="panel-title pull-left" style="padding-top: 7.5px;">
                                <i class="fa fa-list-alt " aria-hidden="true"></i> Equipamentos</b>
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="col-xs-3">
                                        <label>
                                            <input name="equipamentos[]"
                                                   id='equipamentos-cama-completa'
                                                   disabled
                                                   type="checkbox"
                                                <?= in_array('1', $equipamentos) ? 'checked' : '' ?>
                                                   data-toggle="toggle"
                                                   data-on="Sim"
                                                   data-off="Não"
                                                   data-onstyle="success"
                                                   data-offstyle="danger"
                                                   data-size="small"
                                                   class="bt-toggle"
                                                   value="1">
                                            Cama Completa
                                        </label>
                                    </div>
                                    <div class="col-xs-3">
                                        <label>
                                            <input name="equipamentos[]"
                                                   id='equipamentos-cadeira-de-rodas'
                                                   disabled
                                                <?= in_array('2', $equipamentos) ? 'checked' : '' ?>
                                                   type="checkbox"
                                                   data-toggle="toggle"
                                                   data-on="Sim"
                                                   data-off="Não"
                                                   data-onstyle="success"
                                                   data-offstyle="danger"
                                                   data-size="small"
                                                   class="bt-toggle"
                                                   value="2">
                                            Cadeira de Rodas
                                        </label>
                                    </div>
                                    <div class="col-xs-3">
                                        <label>
                                            <input name="equipamentos[]"
                                                   id='equipamentos-cadeira-higienica'
                                                   disabled
                                                <?= in_array('3', $equipamentos) ? 'checked' : '' ?>
                                                   type="checkbox"
                                                   data-toggle="toggle"
                                                   data-on="Sim"
                                                   data-off="Não"
                                                   data-onstyle="success"
                                                   data-offstyle="danger"
                                                   data-size="small"
                                                   class="bt-toggle"
                                                   value="3">
                                            Cadeira Higiênica
                                        </label>
                                    </div>
                                    <div class="col-xs-3">
                                        <label>
                                            <input name="equipamentos[]"
                                                   id='equipamentos-cama-eletrica'
                                                   disabled
                                                <?= in_array('4', $equipamentos) ? 'checked' : '' ?>
                                                   type="checkbox"
                                                   data-toggle="toggle"
                                                   data-on="Sim"
                                                   data-off="Não"
                                                   data-onstyle="success"
                                                   data-offstyle="danger"
                                                   data-size="small"
                                                   class="bt-toggle"
                                                   value="4">
                                            Cama Elétrica
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="col-xs-3">
                                        <label>
                                            <input name="equipamentos[]"
                                                   id='equipamentos-nebulizador'
                                                   disabled
                                                <?= in_array('5', $equipamentos) ? 'checked' : '' ?>
                                                   type="checkbox"
                                                   data-toggle="toggle"
                                                   data-on="Sim"
                                                   data-off="Não"
                                                   data-onstyle="success"
                                                   data-offstyle="danger"
                                                   data-size="small"
                                                   class="bt-toggle"
                                                   value="5">
                                            Nebulizador
                                        </label>
                                    </div>
                                    <div class="col-xs-3">
                                        <label>
                                            <input name="equipamentos[]"
                                                   id='equipamentos-aspirador'
                                                   disabled
                                                <?= in_array('6', $equipamentos) ? 'checked' : '' ?>
                                                   type="checkbox"
                                                   data-toggle="toggle"
                                                   data-on="Sim"
                                                   data-off="Não"
                                                   data-onstyle="success"
                                                   data-offstyle="danger"
                                                   data-size="small"
                                                   class="bt-toggle"
                                                   value="6">
                                            Aspirador
                                        </label>
                                    </div>
                                    <div class="col-xs-3">
                                        <label>
                                            <input name="equipamentos[]"
                                                   id='equipamentos-glicosimetro'
                                                   disabled
                                                <?= in_array('7', $equipamentos) ? 'checked' : '' ?>
                                                   type="checkbox"
                                                   data-toggle="toggle"
                                                   data-on="Sim"
                                                   data-off="Não"
                                                   data-onstyle="success"
                                                   data-offstyle="danger"
                                                   data-size="small"
                                                   class="bt-toggle"
                                                   value="7">
                                            Glicosímetro
                                        </label>
                                    </div>
                                    <div class="col-xs-3">
                                        <label>
                                            <input name="equipamentos[]"
                                                   id='equipamentos-bi'
                                                   disabled
                                                <?= in_array('8', $equipamentos) ? 'checked' : '' ?>
                                                   type="checkbox"
                                                   data-toggle="toggle"
                                                   data-on="Sim"
                                                   data-off="Não"
                                                   data-onstyle="success"
                                                   data-offstyle="danger"
                                                   data-size="small"
                                                   class="bt-toggle"
                                                   value="8">
                                            BI
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="col-xs-3">
                                        <label>
                                            <input name="equipamentos[]"
                                                   id='equipamentos-oximetro'
                                                   disabled
                                                <?= in_array('9', $equipamentos) ? 'checked' : '' ?>
                                                   type="checkbox"
                                                   data-toggle="toggle"
                                                   data-on="Sim"
                                                   data-off="Não"
                                                   data-onstyle="success"
                                                   data-offstyle="danger"
                                                   data-size="small"
                                                   class="bt-toggle"
                                                   value="9">
                                            Oxímetro
                                        </label>
                                    </div>
                                    <div class="col-xs-3">
                                        <label>
                                            <input name="equipamentos[]"
                                                   id='equipamentos-bi-pap'
                                                   disabled
                                                <?= in_array('10', $equipamentos) ? 'checked' : '' ?>
                                                   type="checkbox"
                                                   data-toggle="toggle"
                                                   data-on="Sim"
                                                   data-off="Não"
                                                   data-onstyle="success"
                                                   data-offstyle="danger"
                                                   data-size="small"
                                                   class="bt-toggle"
                                                   value="10">
                                            BI-pap
                                        </label>
                                    </div>
                                    <div class="col-xs-3">
                                        <label>
                                            <input name="equipamentos[]"
                                                   id='equipamentos-nobreak'
                                                   disabled
                                                <?= in_array('11', $equipamentos) ? 'checked' : '' ?>
                                                   type="checkbox"
                                                   data-toggle="toggle"
                                                   data-on="Sim"
                                                   data-off="Não"
                                                   data-onstyle="success"
                                                   data-offstyle="danger"
                                                   data-size="small"
                                                   class="bt-toggle"
                                                   value="11">
                                            Nobreak
                                        </label>
                                    </div>
                                    <div class="col-xs-3">
                                        <label>
                                            <input name="equipamentos[]"
                                                   id='equipamentos-respirador'
                                                   disabled
                                                <?= in_array('12', $equipamentos) ? 'checked' : '' ?>
                                                   type="checkbox"
                                                   data-toggle="toggle"
                                                   data-on="Sim"
                                                   data-off="Não"
                                                   data-onstyle="success"
                                                   data-offstyle="danger"
                                                   data-size="small"
                                                   class="bt-toggle"
                                                   value="12">
                                            Respirador
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="col-xs-3">
                                        <label>
                                            <input name="equipamentos[]"
                                                   id='equipamentos-suporte-soro'
                                                   disabled
                                                <?= in_array('13', $equipamentos) ? 'checked' : '' ?>
                                                   type="checkbox"
                                                   data-toggle="toggle"
                                                   data-on="Sim"
                                                   data-off="Não"
                                                   data-onstyle="success"
                                                   data-offstyle="danger"
                                                   data-size="small"
                                                   class="bt-toggle"
                                                   value="13">
                                            Suporte de Soro
                                        </label>
                                    </div>
                                    <div class="col-xs-3">
                                        <label>
                                            <input name="equipamentos[]"
                                                   id='equipamentos-recarga-torpedo'
                                                   disabled
                                                <?= in_array('14', $equipamentos) ? 'checked' : '' ?>
                                                   type="checkbox"
                                                   data-toggle="toggle"
                                                   data-on="Sim"
                                                   data-off="Não"
                                                   data-onstyle="success"
                                                   data-offstyle="danger"
                                                   data-size="small"
                                                   class="bt-toggle"
                                                   value="14">
                                            Recarga Torpedo
                                        </label>
                                    </div>
                                    <div class="col-xs-3">
                                        <label>
                                            <input name="equipamentos[]"
                                                   id='equipamentos-andador'
                                                   disabled
                                                <?= in_array('15', $equipamentos) ? 'checked' : '' ?>
                                                   type="checkbox"
                                                   data-toggle="toggle"
                                                   data-on="Sim"
                                                   data-off="Não"
                                                   data-onstyle="success"
                                                   data-offstyle="danger"
                                                   data-size="small"
                                                   class="bt-toggle"
                                                   value="15">
                                            Andador
                                        </label>
                                    </div>
                                    <div class="col-xs-3">
                                        <label>
                                            <input name="equipamentos[]"
                                                   id='equipamentos-colchao-pneumatico'
                                                   disabled
                                                <?= in_array('16', $equipamentos) ? 'checked' : '' ?>
                                                   type="checkbox"
                                                   data-toggle="toggle"
                                                   data-on="Sim"
                                                   data-off="Não"
                                                   data-onstyle="success"
                                                   data-offstyle="danger"
                                                   data-size="small"
                                                   class="bt-toggle"
                                                   value="16">
                                            Colchão Pneumático
                                        </label>
                                    </div>
                                    <div class="col-xs-3">
                                        <label>
                                            <input name="equipamentos[]"
                                                   id='equipamentos-outros'
                                                   disabled
                                                <?= in_array('16', $equipamentos) ? 'checked' : '' ?>
                                                   type="checkbox"
                                                   data-toggle="toggle"
                                                   data-on="Sim"
                                                   data-off="Não"
                                                   data-onstyle="success"
                                                   data-offstyle="danger"
                                                   data-size="small"
                                                   class="bt-toggle"
                                                   value="17">
                                            Outros
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row" id="combo-outros-equipamentos" style="display: <?= in_array('17', $equipamentos) ? 'block' : 'none' ?>">
                                <div class="col-xs-12">
                                    <label for="equipamentos-outros-texto">Outros equipamentos:</label>
                                    <textarea name="equipamentos_outros" id="equipamentos-outros-texto" class="form-control"><?= $response['equipamentos_outros'] ?></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="panel panel-default">
                        <div class="panel-heading clearfix">
                            <h3 class="panel-title pull-left" style="padding-top: 7.5px;">
                                <i class="fa fa-list-alt " aria-hidden="true"></i> Pele</b>
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-4">
                                    <label for="integridade-cutanea">Integridade Cutânea:</label>
                                    <select name="integridade_cutanea" class="form-control" id='integridade-cutanea' disabled>
                                        <option value="">Selecione...</option>
                                        <option <?= $response['integridade_cutanea'] == '1' ? 'selected' : '' ?> value="1">Íntegra</option>
                                        <option <?= $response['integridade_cutanea'] == '2' ? 'selected' : '' ?> value="2">Com lesão</option>
                                    </select>
                                </div>
                                <div class="col-xs-8">
                                    <label for="drenos">Tipo de Lesão:</label>
                                    <br>
                                    <div class="col-xs-6">
                                        <label>
                                            <input name="tipo_lesao[]"
                                                   id='tipo-lesao-lpp'
                                                   disabled
                                                <?= in_array('1', $tipos_lesao) ? 'checked' : '' ?>
                                                   type="checkbox"
                                                   data-toggle="toggle"
                                                   data-on="Sim"
                                                   data-off="Não"
                                                   data-onstyle="success"
                                                   data-offstyle="danger"
                                                   data-size="small"
                                                   class="bt-toggle"
                                                   value="1">
                                            LPP
                                        </label>
                                    </div>
                                    <div class="col-xs-6">
                                        <label>
                                            <input name="tipo_lesao[]"
                                                   id='tipo-lesao-ulcera-venosa'
                                                   disabled
                                                <?= in_array('2', $tipos_lesao) ? 'checked' : '' ?>
                                                   type="checkbox"
                                                   data-toggle="toggle"
                                                   data-on="Sim"
                                                   data-off="Não"
                                                   data-onstyle="success"
                                                   data-offstyle="danger"
                                                   data-size="small"
                                                   class="bt-toggle"
                                                   value="2">
                                            Úlcera Venosa
                                        </label>
                                    </div>
                                    <div class="col-xs-6">
                                        <label>
                                            <input name="tipo_lesao[]"
                                                   id='tipo-lesao-ulcera-diabetica'
                                                   disabled
                                                <?= in_array('3', $tipos_lesao) ? 'checked' : '' ?>
                                                   type="checkbox"
                                                   data-toggle="toggle"
                                                   data-on="Sim"
                                                   data-off="Não"
                                                   data-onstyle="success"
                                                   data-offstyle="danger"
                                                   data-size="small"
                                                   class="bt-toggle"
                                                   value="3">
                                            Úlcera Diabética
                                        </label>
                                    </div>
                                    <div class="col-xs-6">
                                        <label>
                                            <input name="tipo_lesao[]"
                                                   id='tipo-lesao-lesao-oncologica'
                                                   disabled
                                                <?= in_array('4', $tipos_lesao) ? 'checked' : '' ?>
                                                   type="checkbox"
                                                   data-toggle="toggle"
                                                   data-on="Sim"
                                                   data-off="Não"
                                                   data-onstyle="success"
                                                   data-offstyle="danger"
                                                   data-size="small"
                                                   class="bt-toggle"
                                                   value="4">
                                            Lesão Oncológica
                                        </label>
                                    </div>
                                    <div class="col-xs-6">
                                        <label>
                                            <input name="tipo_lesao[]"
                                                   id='tipo-lesao-fo'
                                                   disabled
                                                <?= in_array('5', $tipos_lesao) ? 'checked' : '' ?>
                                                   type="checkbox"
                                                   data-toggle="toggle"
                                                   data-on="Sim"
                                                   data-off="Não"
                                                   data-onstyle="success"
                                                   data-offstyle="danger"
                                                   data-size="small"
                                                   class="bt-toggle"
                                                   value="5">
                                            FO
                                        </label>
                                    </div>
                                    <div class="col-xs-6">
                                        <label>
                                            <input name="tipo_lesao[]"
                                                   id='tipo-lesao-queimadura'
                                                   disabled
                                                <?= in_array('6', $tipos_lesao) ? 'checked' : '' ?>
                                                   type="checkbox"
                                                   data-toggle="toggle"
                                                   data-on="Sim"
                                                   data-off="Não"
                                                   data-onstyle="success"
                                                   data-offstyle="danger"
                                                   data-size="small"
                                                   class="bt-toggle"
                                                   value="6">
                                            Queimadura
                                        </label>
                                    </div>
                                    <div class="col-xs-6">
                                        <label>
                                            <input name="tipo_lesao[]"
                                                   id='tipo-lesao-deiscencia-fo'
                                                   disabled
                                                <?= in_array('7', $tipos_lesao) ? 'checked' : '' ?>
                                                   type="checkbox"
                                                   data-toggle="toggle"
                                                   data-on="Sim"
                                                   data-off="Não"
                                                   data-onstyle="success"
                                                   data-offstyle="danger"
                                                   data-size="small"
                                                   class="bt-toggle"
                                                   value="7">
                                            Deiscencia FO
                                        </label>
                                    </div>
                                    <div class="col-xs-6">
                                        <label>
                                            <input name="tipo_lesao[]"
                                                   id='tipo-lesao-dermatite-incontinencia'
                                                   disabled
                                                <?= in_array('8', $tipos_lesao) ? 'checked' : '' ?>
                                                   type="checkbox"
                                                   data-toggle="toggle"
                                                   data-on="Sim"
                                                   data-off="Não"
                                                   data-onstyle="success"
                                                   data-offstyle="danger"
                                                   data-size="small"
                                                   class="bt-toggle"
                                                   value="8">
                                            Dermatite incontinência
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading clearfix">
                            <h3 class="panel-title pull-left" style="padding-top: 7.5px;">
                                <i class="fa fa-list-alt " aria-hidden="true"></i> Antibiótico</b>
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-4">
                                    <label for="atb">Faz uso de Antibiótico?</label>
                                    <br>
                                    <input name="atb"
                                           id='atb-nao'
                                           type="hidden"
                                           value="0">
                                    <input name="atb"
                                           id='atb'
                                           disabled
                                        <?= $response['atb'] == '1' ? 'checked' : '' ?>
                                           type="checkbox"
                                           data-toggle="toggle"
                                           data-on="Sim"
                                           data-off="Não"
                                           data-onstyle="success"
                                           data-offstyle="danger"
                                           data-size="small"
                                           class="bt-toggle"
                                           value="1">
                                </div>
                                <div class="col-xs-8">
                                    <div class="col-xs-4">
                                        <label for="atb-previsao-termino">Previsão de Término:</label>
                                        <input type="date" name="atb_previsao_termino" class="form-control" id='atb-previsao-termino' value="<?= $response['atb_previsao_termino'] ?>" disabled>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading clearfix">
                            <h3 class="panel-title pull-left" style="padding-top: 7.5px;">
                                <i class="fa fa-list-alt " aria-hidden="true"></i> Antifúngico</b>
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-4">
                                    <label for="antifungico">Faz uso de antifúngico?</label>
                                    <br>
                                    <input name="antifungico"
                                           id='antifungico-nao'
                                           type="hidden"
                                           value="0">
                                    <input name="antifungico"
                                           id='antifungico'
                                           disabled
                                        <?= $response['antifungico'] == '1' ? 'checked' : '' ?>
                                           type="checkbox"
                                           data-toggle="toggle"
                                           data-on="Sim"
                                           data-off="Não"
                                           data-onstyle="success"
                                           data-offstyle="danger"
                                           data-size="small"
                                           class="bt-toggle"
                                           value="1">
                                </div>
                                <div class="col-xs-8" id="combo-antifungico" style="display: <?= $response['antifungico'] == '1' ? 'block' : 'none' ?>">
                                    <div class="col-xs-4">
                                        <label for="antifungico-inicio">Previsão de Término:</label>
                                        <input type="date" name="antifungico_inicio" class="form-control" id='antifungico-inicio' value="<?= $response['antifungico_inicio'] ?>" disabled>
                                    </div>
                                    <div class="col-xs-4">
                                        <label for="antifungico-previsao-termino">Previsão de Término:</label>
                                        <input type="date" name="antifungico_previsao_termino" class="form-control" id='antifungico-previsao-termino' value="<?= $response['antifungico_previsao_termino'] ?>" disabled>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading clearfix">
                            <h3 class="panel-title pull-left" style="padding-top: 7.5px;">
                                <i class="fa fa-list-alt " aria-hidden="true"></i> Evolução Médica</b>
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-12">
                                    <label for="evolucao-medica">Evolução</label>
                                    <?= preg_replace("/<([a-z][a-z0-9]*)[^>]*?(\/?)>/i",'<$1$2>', htmlspecialchars_decode(stripslashes($response['evolucao_medica']['evolucao']))) ?>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-xs-3">
                                    <label for="evolucao-medica-data-visita">Data da Visita:</label>
                                    <input type="date" name="evolucao_medica[data_visita]" id="evolucao-medica-data-visita" class="form-control" value="<?= $response['evolucao_medica']['data_visita'] ?>" disabled>
                                </div>
                                <div class="col-xs-6">
                                    <label for="evolucao-medica-profissional">Médico(a):</label>
                                    <input type="text" name="evolucao_medica[profissional]" id="evolucao-medica-profissional" class="form-control" value="<?= $response['evolucao_medica']['profissional'] ?>" disabled>
                                </div>
                                <div class="col-xs-3">
                                    <label for="evolucao-medica-conselho">CRM:</label>
                                    <input type="text" name="evolucao_medica[conselho]" id="evolucao-medica-conselho" class="form-control" value="<?= $response['evolucao_medica']['numero_conselho'] ?>" disabled>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading clearfix">
                            <h3 class="panel-title pull-left" style="padding-top: 7.5px;">
                                <i class="fa fa-list-alt " aria-hidden="true"></i> Evolução de Enfermagem</b>
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-12">
                                    <label for="evolucao-enfermagem">Evolução</label>
                                    <?= preg_replace("/<([a-z][a-z0-9]*)[^>]*?(\/?)>/i",'<$1$2>', htmlspecialchars_decode(stripslashes($response['evolucao_enfermagem']['evolucao']))) ?>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-xs-3">
                                    <label for="evolucao-enfermagem-data-visita">Data da Visita:</label>
                                    <input type="date" name="evolucao_enfermagem[data_visita]" id="evolucao-enfermagem-data-visita" class="form-control" value="<?= $response['evolucao_enfermagem']['data_visita'] ?>" disabled>
                                </div>
                                <div class="col-xs-6">
                                    <label for="evolucao-enfermagem-profissional">Enfermeiro(a):</label>
                                    <input type="text" name="evolucao_enfermagem[profissional]" id="evolucao-enfermagem-profissional" class="form-control" value="<?= $response['evolucao_enfermagem']['profissional'] ?>" disabled>
                                </div>
                                <div class="col-xs-3">
                                    <label for="evolucao-enfermagem-conselho">COREN:</label>
                                    <input type="text" name="evolucao_enfermagem[conselho]" id="evolucao-enfermagem-conselho" class="form-control" value="<?= $response['evolucao_enfermagem']['numero_conselho'] ?>" disabled>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-xs-12 feridas">
                                    <?php foreach ($response['imagens_lesoes'] as $imagens_lesoes): ?>
                                        <div class="col-xs-4">
                                            <div class="thumbnail">
                                                <a href="/viewer_image.php?path=<?= $imagens_lesoes['path'] ?>" target="_blank">
                                                    <img src="/<?= $imagens_lesoes['path'] ?>" alt="<?= $imagens_lesoes['LOCAL'] ?>" width="150px" />
                                                </a>
                                                <div class="caption text-center">
                                                    <h6><?= $imagens_lesoes['LOCAL'] ?></h6>
                                                </div>
                                            </div>
                                        </div>
                                    <?php endforeach; ?>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading clearfix">
                            <h3 class="panel-title pull-left" style="padding-top: 7.5px;">
                                <i class="fa fa-list-alt " aria-hidden="true"></i> Evolução de Fisioterapia</b>
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-12">
                                    <label for="evolucao-fisioterapia">Evolução</label>
                                    <?= preg_replace("/<([a-z][a-z0-9]*)[^>]*?(\/?)>/i",'<$1$2>', htmlspecialchars_decode(stripslashes($response['evolucao_fisioterapia']['evolucao']))) ?>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-xs-3">
                                    <label for="evolucao-fisioterapia-data-visita">Data da Visita:</label>
                                    <input type="date" name="evolucao_fisioterapia[data_visita]" id="evolucao-fisioterapia-data-visita" class="form-control" value="<?= $response['evolucao_fisioterapia']['data_visita'] ?>" disabled>
                                </div>
                                <div class="col-xs-6">
                                    <label for="evolucao-fisioterapia-profissional">Fisioterapeuta:</label>
                                    <input type="text" name="evolucao_fisioterapia[profissional]" id="evolucao-fisioterapia-profissional" class="form-control" value="<?= $response['evolucao_fisioterapia']['profissional'] ?>" disabled>
                                </div>
                                <div class="col-xs-3">
                                    <label for="evolucao-fisioterapia-conselho">CREFITO:</label>
                                    <input type="text" name="evolucao_fisioterapia[conselho]" id="evolucao-fisioterapia-conselho" class="form-control" value="<?= $response['evolucao_fisioterapia']['numero_conselho'] ?>" disabled>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading clearfix">
                            <h3 class="panel-title pull-left" style="padding-top: 7.5px;">
                                <i class="fa fa-list-alt " aria-hidden="true"></i> Evolução de Fonoaudiologia</b>
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-12">
                                    <label for="evolucao-fonoaudiologia">Evolução</label>
                                    <?= preg_replace("/<([a-z][a-z0-9]*)[^>]*?(\/?)>/i",'<$1$2>', htmlspecialchars_decode(stripslashes($response['evolucao_fonoaudiologia']['evolucao']))) ?>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-xs-3">
                                    <label for="evolucao-fonoaudiologia-data-visita">Data da Visita:</label>
                                    <input type="date" name="evolucao_fonoaudiologia[data_visita]" id="evolucao-fonoaudiologia-data-visita" class="form-control" value="<?= $response['evolucao_fonoaudiologia']['data_visita'] ?>" disabled>
                                </div>
                                <div class="col-xs-6">
                                    <label for="evolucao-fonoaudiologia-profissional">Fonoaudiólogo(a):</label>
                                    <input type="text" name="evolucao_fonoaudiologia[profissional]" id="evolucao-fonoaudiologia-profissional" class="form-control" value="<?= $response['evolucao_fonoaudiologia']['profissional'] ?>" disabled>
                                </div>
                                <div class="col-xs-3">
                                    <label for="evolucao-fonoaudiologia-conselho">CRFa:</label>
                                    <input type="text" name="evolucao_fonoaudiologia[conselho]" id="evolucao-fonoaudiologia-conselho" class="form-control" value="<?= $response['evolucao_fonoaudiologia']['numero_conselho'] ?>" disabled>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading clearfix">
                            <h3 class="panel-title pull-left" style="padding-top: 7.5px;">
                                <i class="fa fa-list-alt " aria-hidden="true"></i> Evolução Nutricional</b>
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-12">
                                    <label for="evolucao-nutricao">Evolução</label>
                                    <?= preg_replace("/<([a-z][a-z0-9]*)[^>]*?(\/?)>/i",'<$1$2>', htmlspecialchars_decode(stripslashes($response['evolucao_nutricao']['evolucao']))) ?>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-xs-3">
                                    <label for="evolucao-nutricao-data-visita">Data da Visita:</label>
                                    <input type="date" name="evolucao_nutricao[data_visita]" id="evolucao-nutricao-data-visita" class="form-control" value="<?= $response['evolucao_nutricao']['data_visita'] ?>" disabled>
                                </div>
                                <div class="col-xs-6">
                                    <label for="evolucao-nutricao-profissional">Nutricionista:</label>
                                    <input type="text" name="evolucao_nutricao[profissional]" id="evolucao-nutricao-profissional" class="form-control" value="<?= $response['evolucao_nutricao']['profissional'] ?>" disabled>
                                </div>
                                <div class="col-xs-3">
                                    <label for="evolucao-nutricao-conselho">CRN:</label>
                                    <input type="text" name="evolucao_nutricao[conselho]" id="evolucao-nutricao-conselho" class="form-control" value="<?= $response['evolucao_nutricao']['numero_conselho'] ?>" disabled>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading clearfix">
                            <h3 class="panel-title pull-left" style="padding-top: 7.5px;">
                                <i class="fa fa-list-alt " aria-hidden="true"></i> Evolução Psicologia</b>
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-12">
                                    <label for="evolucao-psicologia">Evolução</label>
                                    <?= preg_replace("/<([a-z][a-z0-9]*)[^>]*?(\/?)>/i",'<$1$2>', htmlspecialchars_decode(stripslashes($response['evolucao_psicologia']['evolucao']))) ?>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-xs-3">
                                    <label for="evolucao-psicologia-data-visita">Data da Visita:</label>
                                    <input type="date" name="evolucao_psicologia[data_visita]" id="evolucao-psicologia-data-visita" class="form-control" value="<?= $response['evolucao_psicologia']['data_visita'] ?>" disabled>
                                </div>
                                <div class="col-xs-6">
                                    <label for="evolucao-psicologia-profissional">Psicólogo(a):</label>
                                    <input type="text" name="evolucao_psicologia[profissional]" id="evolucao-psicologia-profissional" class="form-control" value="<?= $response['evolucao_psicologia']['profissional'] ?>" disabled>
                                </div>
                                <div class="col-xs-3">
                                    <label for="evolucao-psicologia-conselho">CRP:</label>
                                    <input type="text" name="evolucao_psicologia[conselho]" id="evolucao-psicologia-conselho" class="form-control" value="<?= $response['evolucao_psicologia']['numero_conselho'] ?>" disabled>
                                </div>
                            </div>
                        </div>
                    </div>

                    <?php if($response['tipo_formulario'] == 'p'): ?>
                        <div class="panel panel-default">
                            <div class="panel-heading clearfix">
                                <h3 class="panel-title pull-left" style="padding-top: 7.5px;">
                                    <i class="fa fa-list-alt " aria-hidden="true"></i> PAD</b>
                                </h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <table class="table table-condensed table-striped">
                                            <tbody>
                                            <tr>
                                                <td width="20%"><b>Modalidade</b></td>
                                                <td colspan="2">
                                                    <textarea name="pad[modalidade]" id="pad-modalidade" cols="30" rows="5" class="form-control" disabled><?= $response['pad']['modalidade'] ?></textarea>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="20%"><b>Médico</b></td>
                                                <td>
                                                    <select name="pad[medico][cuidados]" id="pad-cuidados-medico" class="form-control" disabled>
                                                        <option value="">Selecione...</option>
                                                        <?php foreach (\App\Models\Sistema\CuidadosEspeciais::getCuidadosEspeciaisByGrupo([1]) as $cuidado): ?>
                                                            <option <?= $response['pad']['medico_cuidados_especiais_id'] == $cuidado['id'] ? 'selected' : '' ?> value="<?= $cuidado['id'] ?>"><?= $cuidado['cuidado'] ?></option>
                                                        <?php endforeach; ?>
                                                    </select>
                                                </td>
                                                <td>
                                                    <select name="pad[medico][frequencia]" id="pad-frequencia-medico" class="form-control" disabled>
                                                        <option value="">Selecione...</option>
                                                        <?php foreach ($frequencias as $frequencia): ?>
                                                            <option <?= $response['pad']['medico_frequencia_id'] == $frequencia['id'] ? 'selected' : '' ?> value="<?= $frequencia['id'] ?>"><?= $frequencia['frequencia'] ?></option>
                                                        <?php endforeach; ?>
                                                    </select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="20%"><b>Enfermeiro</b></td>
                                                <td>
                                                    <select name="pad[enfermagem][cuidados]" id="pad-cuidados-enfermagem" class="form-control" disabled>
                                                        <option value="">Selecione...</option>
                                                        <?php foreach (\App\Models\Sistema\CuidadosEspeciais::getCuidadosEspeciaisByGrupo([2]) as $cuidado): ?>
                                                            <option <?= $response['pad']['enfermagem_cuidados_especiais_id'] == $cuidado['id'] ? 'selected' : '' ?> value="<?= $cuidado['id'] ?>"><?= $cuidado['cuidado'] ?></option>
                                                        <?php endforeach; ?>
                                                    </select>
                                                </td>
                                                <td>
                                                    <select name="pad[enfermagem][frequencia]" id="pad-frequencia-enfermagem" class="form-control" disabled>
                                                        <option value="">Selecione...</option>
                                                        <?php foreach ($frequencias as $frequencia): ?>
                                                            <option <?= $response['pad']['enfermagem_frequencia_id'] == $frequencia['id'] ? 'selected' : '' ?> value="<?= $frequencia['id'] ?>"><?= $frequencia['frequencia'] ?></option>
                                                        <?php endforeach; ?>
                                                    </select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="20%"><b>Técnico de Enfermagem</b></td>
                                                <td>
                                                    <select name="pad[tecnico][cuidados]" id="pad-cuidados-tecnico" class="form-control" disabled>
                                                        <option value="">Selecione...</option>
                                                        <?php foreach (\App\Models\Sistema\CuidadosEspeciais::getCuidadosEspeciaisByGrupo([3]) as $cuidado): ?>
                                                            <option <?= $response['pad']['tecnico_enfermagem_cuidados_especiais_id'] == $cuidado['id'] ? 'selected' : '' ?> value="<?= $cuidado['id'] ?>"><?= $cuidado['cuidado'] ?></option>
                                                        <?php endforeach; ?>
                                                    </select>
                                                </td>
                                                <td>
                                                    <select name="pad[tecnico][frequencia]" id="pad-frequencia-tecnico" class="form-control" disabled>
                                                        <option value="">Selecione...</option>
                                                        <?php foreach ($frequencias as $frequencia): ?>
                                                            <option <?= $response['pad']['tecnico_enfermagem_frequencia_id'] == $frequencia['id'] ? 'selected' : '' ?> value="<?= $frequencia['id'] ?>"><?= $frequencia['frequencia'] ?></option>
                                                        <?php endforeach; ?>
                                                    </select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="20%"><b>Fisioterapia Motora</b></td>
                                                <td>
                                                    <select name="pad[fisio-motora][cuidados]" id="pad-cuidados-fisio-motora" class="form-control" disabled>
                                                        <option value="">Selecione...</option>
                                                        <?php foreach (\App\Models\Sistema\CuidadosEspeciais::getCuidadosEspeciaisByGrupo([4]) as $cuidado): ?>
                                                            <option <?= $response['pad']['fisioterapia_motora_cuidados_especiais_id'] == $cuidado['id'] ? 'selected' : '' ?> value="<?= $cuidado['id'] ?>"><?= $cuidado['cuidado'] ?></option>
                                                        <?php endforeach; ?>
                                                    </select>
                                                </td>
                                                <td>
                                                    <select name="pad[fisio-motora][frequencia]" id="pad-frequencia-fisio-motora" class="form-control" disabled>
                                                        <option value="">Selecione...</option>
                                                        <?php foreach ($frequencias as $frequencia): ?>
                                                            <option <?= $response['pad']['fisioterapia_motora_frequencia_id'] == $frequencia['id'] ? 'selected' : '' ?> value="<?= $frequencia['id'] ?>"><?= $frequencia['frequencia'] ?></option>
                                                        <?php endforeach; ?>
                                                    </select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="20%"><b>Fisioterapia Respiratória</b></td>
                                                <td>
                                                    <select name="pad[fisio-resp][cuidados]" id="pad-cuidados-fisio-resp" class="form-control" disabled>
                                                        <option value="">Selecione...</option>
                                                        <?php foreach (\App\Models\Sistema\CuidadosEspeciais::getCuidadosEspeciaisByGrupo([5]) as $cuidado): ?>
                                                            <option <?= $response['pad']['fisioterapia_respiratoria_cuidados_especiais_id'] == $cuidado['id'] ? 'selected' : '' ?> value="<?= $cuidado['id'] ?>"><?= $cuidado['cuidado'] ?></option>
                                                        <?php endforeach; ?>
                                                    </select>
                                                </td>
                                                <td>
                                                    <select name="pad[fisio-resp][frequencia]" id="pad-frequencia-fisio-resp" class="form-control" disabled>
                                                        <option value="">Selecione...</option>
                                                        <?php foreach ($frequencias as $frequencia): ?>
                                                            <option <?= $response['pad']['fisioterapia_respiratoria_frequencia_id'] == $frequencia['id'] ? 'selected' : '' ?> value="<?= $frequencia['id'] ?>"><?= $frequencia['frequencia'] ?></option>
                                                        <?php endforeach; ?>
                                                    </select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="20%"><b>Fonoterapia</b></td>
                                                <td>
                                                    <select name="pad[fono][cuidados]" id="pad-cuidados-fono" class="form-control" disabled>
                                                        <option value="">Selecione...</option>
                                                        <?php foreach (\App\Models\Sistema\CuidadosEspeciais::getCuidadosEspeciaisByGrupo([7]) as $cuidado): ?>
                                                            <option <?= $response['pad']['fonoterapia_cuidados_especiais_id'] == $cuidado['id'] ? 'selected' : '' ?> value="<?= $cuidado['id'] ?>"><?= $cuidado['cuidado'] ?></option>
                                                        <?php endforeach; ?>
                                                    </select>
                                                </td>
                                                <td>
                                                    <select name="pad[fono][frequencia]" id="pad-frequencia-fono" class="form-control" disabled>
                                                        <option value="">Selecione...</option>
                                                        <?php foreach ($frequencias as $frequencia): ?>
                                                            <option <?= $response['pad']['fonoterapia_frequencia_id'] == $frequencia['id'] ? 'selected' : '' ?> value="<?= $frequencia['id'] ?>"><?= $frequencia['frequencia'] ?></option>
                                                        <?php endforeach; ?>
                                                    </select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="20%"><b>Psicólogo</b></td>
                                                <td>
                                                    <select name="pad[psico][cuidados]" id="pad-cuidados-psico" class="form-control" disabled>
                                                        <option value="">Selecione...</option>
                                                        <?php foreach (\App\Models\Sistema\CuidadosEspeciais::getCuidadosEspeciaisByGrupo([8]) as $cuidado): ?>
                                                            <option <?= $response['pad']['psicologo_cuidados_especiais_id'] == $cuidado['id'] ? 'selected' : '' ?> value="<?= $cuidado['id'] ?>"><?= $cuidado['cuidado'] ?></option>
                                                        <?php endforeach; ?>
                                                    </select>
                                                </td>
                                                <td>
                                                    <select name="pad[psico][frequencia]" id="pad-frequencia-psico" class="form-control" disabled>
                                                        <option value="">Selecione...</option>
                                                        <?php foreach ($frequencias as $frequencia): ?>
                                                            <option <?= $response['pad']['psicologo_frequencia_id'] == $frequencia['id'] ? 'selected' : '' ?> value="<?= $frequencia['id'] ?>"><?= $frequencia['frequencia'] ?></option>
                                                        <?php endforeach; ?>
                                                    </select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="20%"><b>Nutricionista</b></td>
                                                <td>
                                                    <select name="pad[nutri][cuidados]" id="pad-cuidados-nutri" class="form-control" disabled>
                                                        <option value="">Selecione...</option>
                                                        <?php foreach (\App\Models\Sistema\CuidadosEspeciais::getCuidadosEspeciaisByGrupo([6]) as $cuidado): ?>
                                                            <option <?= $response['pad']['nutricionista_cuidados_especiais_id'] == $cuidado['id'] ? 'selected' : '' ?> value="<?= $cuidado['id'] ?>"><?= $cuidado['cuidado'] ?></option>
                                                        <?php endforeach; ?>
                                                    </select>
                                                </td>
                                                <td>
                                                    <select name="pad[nutri][frequencia]" id="pad-frequencia-nutri" class="form-control" disabled>
                                                        <option value="">Selecione...</option>
                                                        <?php foreach ($frequencias as $frequencia): ?>
                                                            <option <?= $response['pad']['nutricionista_frequencia_id'] == $frequencia['id'] ? 'selected' : '' ?> value="<?= $frequencia['id'] ?>"><?= $frequencia['frequencia'] ?></option>
                                                        <?php endforeach; ?>
                                                    </select>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <?php endif; ?>
                    <br>
                    <br>
                    <div class="col-xs-12 text-center">
                        <div class="form-group">
                            <a href="/adm/secmed/?action=formulario-condensado-listar" class='btn btn-warning'>
                                Voltar
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/utils/bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/adm/secmed/templates/formulario-condensado/js/main.js?v=2.4"></script>
<script type="text/javascript" src="/utils/jquery/js/validar_campos.js"></script>
<script type="text/javascript" src="/utils/jquery/js/bootstrap-toggle.min.js"></script>
<div id="left">
    <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
</div>

</body>
</html>