<style type="text/css">
    ol.steps li {
        padding: 10px;
    }
    ol.steps img {
        border: 1px solid #000000;
    }
</style>
<center><h1>Tutorial: Suspender Medicamentos</h1></center>

<ol class="steps">
    <li> <b>Acessando:</b> <br>
        Para acessar a nova rotina de suspensão de medicamentos, basta clicar em <b>Médicos</b> no Menu
        e logo em seguida clicar em <b>Suspender Itens em Prescrições Ativas</b>, conforme a imagem abaixo.
        <br>
        <img src="/tutorial/medico/suspender-medicamentos/imgs/susp1.png" width="900">
    </li>
    <li> <b>Escolhendo o paciente:</b> <br>
        A rotina traz uma lista com todos os pacientes <b>Novos</b> e <b>Ativos/Autorizados</b> do
        Sistema. Ao clicar na lista e selecionar um paciente, o sistema automaticamente trará
        todas as prescrições <b>ativas (Periódicas, Aditivas e Aditivas de Avaliação)</b> do respectivo
        paciente.
        <br>
        <img src="/tutorial/medico/suspender-medicamentos/imgs/susp2.png" width="900">
    </li>
    <li> Visualizando uma prescrição: <br>
        A partir da escolha do paciente, você pode clicar na devida prescrição que deseja suspender um item,
        escolher um item da lista ou buscar o mesmo digitando na busca e selecionar.
        <br>
        <img src="/tutorial/medico/suspender-medicamentos/imgs/susp3.png" width="900">
    </li>
    <li> <b>Suspendendo itens:</b> <br>
        Você pode selecionar vários itens de quantas prescrições quiser e suspendê-los de uma vez, se for o
        caso. Ao selecionar o(s) item(ns), basta clicar em <b>Suspender</b>.
        <br>
        <img src="/tutorial/medico/suspender-medicamentos/imgs/susp4.png" width="900">
    </li>
    <li> <b>Conferindo os itens selecionados e salvando:</b> <br>
        Após clicar em <b>Suspender</b> o sistema irá gerar uma lista com os itens selecionados.
        Essa lista será segmentada por prescrição e período, sendo possível alterar esses períodos das
        prescrições e dos próprios itens. É possível também desistir da suspensão de um item, clicando
        no <b>X</b> que aparece antes da descrição do item. Após efetuar todas as mudanças desejadas,
        basta clicar no botão <b>Salvar</b> para finalizar.
        <br>
        <img src="/tutorial/medico/suspender-medicamentos/imgs/susp5.png" width="900">
    </li>
    <li> <b>Considerações finais:</b> <br>
        Para cada prescrição com itens suspensos, <b>o sistema irá gerar o mesmo número de prescrições
            aditivas</b>, respeitando os períodos definidos pelo médico. Para conferir tais prescrições aditivas,
        basta ir em <b>Médicos > Prescrições</b> e buscar o respectivo paciente. <br>
        Vale salientar também que não será mais possível suspender itens através da rotina de novas
        prescrições.
    </li>
</ol>
