<table class='mytable' width='100%' >
    <thead>
    <tr>
        <th colspan="8"><h2>Relat&oacute;rio de Faturamento Enviado - Per&iacute;odo: <?= $inicio->format('d/m/Y') ?> &agrave; <?= $fim->format('d/m/Y') ?></h2></th>
    </tr>
    <tr>
        <th>AUDITOR(A)</th>
        <th>PACIENTE</th>
        <th>CONVENIO</th>
        <th>UR</th>
        <th align="center">PER&Iacute;ODO DA FATURA</th>
        <th align="center">DATA DO ENVIO</th>
        <th align="center">PROT. ENVIO</th>
        <th align="center">MODALIDADE</th>
        <th>VALOR FATURADO</th>
    </tr>
    </thead>
    <tbody>
    <?php
    if($count > 0):
        $total = 0;
        foreach($response as $data):
            $total += $data['valor'];
            $dataEnvio = DateTime::createFromFormat('Y-m-d H:i:s', $data['dataEnvio'])->format('d/m/Y');
            ?>
            <tr>
                <td><?= strtoupper($data['auditor']) ?></td>
                <td><?= strtoupper($data['paciente']) ?></td>
                <td><?= strtoupper(utf8_decode($data['convenio'])) ?></td>
                <td><?= strtoupper($data['ur']) ?></td>
                <td align="center"><?= $data['inicio'] . ' A ' . $data['fim'] ?></td>
                <td align="center"><?= $dataEnvio ?></td>
                <td align="center"><?= $data['protocolo_envio']?></td>
                <td align="center"><?= $data['remocao'] == "S" ? htmlentities("Remoção") : $data['modalidade']  ?></td>
                <td align="right">R$ <?= number_format($data['valor'], 2, ',', '.') ?></td>
            </tr>
        <?php endforeach; ?>
        <tr style="border-top: 1px solid #000">
            <td colspan="7" align="right"><strong>Total:</strong></td>
            <td align="right"><strong>R$ <?= number_format($total, 2, ',', '.') ?></strong></td>
        </tr>
    <?php else: ?>
        <tr>
            <td colspan="13" align="center"><strong>Nenhum resultado foi encontrado!</strong></td>
        </tr>
    <?php endif; ?>
    </tbody>
</table>