<?php require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>
<head>
    <meta charset="UTF-8">
    <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php'); ?>
    <link rel="stylesheet" type="text/css" href="/utils/reports.css">
    <link rel="stylesheet" href="/utils/bootstrap-3.3.6-dist/css/bootstrap.min.css" />
    <script src="/utils/bootstrap-3.3.6-dist/js/bootstrap.min.js" ></script>
    <link rel="stylesheet" href="/utils/font-awesome-4.7.0/css/font-awesome.css" />
    <!--<link rel="stylesheet" type="text/css" href="/utils/reports.css">
    <link rel="stylesheet" type="text/css" href="/utils/jquery/css/chosen/chosen.css">-->
</head>
<div id="content">
    <div id="right">
        <center><h1>Importar Contas a Pagar IW</h1></center>
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title pull-left" style="padding-top: 7.5px;">
                    <i class="fa fa-search" aria-hidden="true"></i>
                    Selecione o arquivo para ser importado.
                </h3>
               
            </div>
            <div class="panel-body">
                <form method="post" action="/financeiros/importar-conta-pagar-iw/?action=importar-conta-pagar-iw" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-xs-6">
                        <label for="">Unidade Regional</label>
                        <span id='sp_empresa_busca' >
                        <select class='empresa form-control' name='empresa' required>
                        <option value="" selected> Selecione </option>
                            <?php foreach($filiais as $f){?>
                                  <option value="<?=$f['id']?>"> <?=$f['nome']?> </option>
                            <?php } ?>
                        </select>
                        </span>
                    </div> 
                    <div class="col-xs-6">
                        <div class="form-group">  
                            <label>Selecione o arquivo:</label>                      
                            <input type="file" name='conta_pagar_iw' >                               
                        </div>                      
                       
                    </div>  
                </div>  
                <br>
                <div class="row">
                        <div class="form-group text-center">
                            <input class="btn btn-sm btn-primary " type="submit" value="Upload">
                        </div>
                </div>
                            
                </form>
            </div>
            
        </div>
        <?php if(isset($response)){ ?>
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title pull-left" style="padding-top: 7.5px;">
                        <i class="fa fa-upload" aria-hidden="true"></i>
                        Resultado da Importação.
                    </h3>               
                </div>
                <div class="panel-body">                              
                    <?php if(isset($response['insert']) && !empty($response['insert'])){?>
                        <div class="alert alert-success" role="alert">
                            <?php foreach($response['insert'] as $insert){?>
                                <li><?=$insert?></li>
                            <?php } ?>
                        </div>
                    <?php } ?>
                    <?php if(isset($response['jaCadastrada']) && !empty($response['jaCadastrada'])){?>
                        <div class="alert alert-warning" role="alert">
                            <?php foreach($response['jaCadastrada'] as $jaCadastrada){?>
                                <li><?=$jaCadastrada?></li>
                            <?php } ?>
                        </div>
                    <?php } ?>
                    <?php if(isset($response['error']) && !empty($response['error'])){?>
                        <div class="alert alert-danger" role="alert">
                            <?php foreach($response['error'] as $error){?>
                                <li><?=$error?></li>
                            <?php } ?>
                        </div>
                    <?php } ?>                
                </div>
            </div>
        <?php } ?>


        
    </div>
    <div id="left">
        <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
    </div>
</div>
<script type="text/javascript" src="/financeiros/fatura-imposto/js/main.js?v=1.2"></script>
<script type="text/javascript" src="/utils/jquery/js/chosen.jquery.min.js"></script>
<script type="text/javascript" src="/utils/jquery/js/voltar.js"></script>
<script type="text/javascript" src="/utils/jquery/js/validar_campos.js"></script>

</body>
</html>