<?php
if(isset($response)):
    if(empty($response)):
        ?>
        <h4 class="text-center">Nenhum resultado encontrado.</h4>
        <?php
    else:
        ?>
        <table>
            <tr>
                <th colspan="9">
                    Entradas de
                    <?= $inicio->format('d/m/Y') ?> &agrave;
                    <?= $fim->format('d/m/Y') ?>
                </th>
            </tr>
        </table>
        <?php
        if($tipoRelatorio == 'S'):
            ?>
            <table class='table table-striped'>
                <thead>
                <tr>
                    <th width="30%">Item</th>
                    <th width="30%">Fornecedor</th>
                    <th>Data da Entrada</th>
                    <th>Quantidade</th>
                    <th>Valor</th>
                </tr>
                </thead>
                <tbody>
                <?php
                foreach($response as $row):
                    ?>
                    <tr>
                        <td><?= htmlentities(strip_tags($row['item'])) ?></td>
                        <td><?= htmlentities($row['razaoSocial']) ?></td>
                        <td><?= \DateTime::createFromFormat('Y-m-d', $row['dataEntrada'])->format('d/m/Y') ?></td>
                        <td><?= $row['qtd'] ?></td>
                        <td><?= \App\Helpers\StringHelper::currencyFormat($row['valor']) ?></td>
                    </tr>
                    <?php
                endforeach;
                ?>
                </tbody>
            </table>
            <?php
        else:
            foreach($response as $tr => $row):
                ?>
                <table class='table table-striped'>
                    <thead>
                    <tr>
                        <th>TR</th>
                        <th>Numero da Nota</th>
                        <th>Fornecedor</th>
                        <th>Valor da Nota</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><?= $tr ?></td>
                        <td><?= $row['numeroNota'] ?></td>
                        <td><?= htmlentities($row['fornecedor']) ?></td>
                        <td><?= $row['valorNota'] ?></td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th width="50%">Item</th>
                                    <th>Data da Entrada</th>
                                    <th>Lote</th>
                                    <th>Quantidade</th>
                                    <th>Custo</th>
                                </tr>
                                </thead>
                                <?php foreach ($row['itens'] as $item): ?>
                                    <tr>
                                        <td><?= htmlentities(strip_tags($item['item'])) ?></td>
                                        <td><?= \DateTime::createFromFormat('Y-m-d', $item['dataEntrada'])->format('d/m/Y') ?></td>
                                        <td><?= $item['lote'] ?></td>
                                        <td><?= $item['qtd'] ?></td>
                                        <td><?= $item['custo'] ?></td>
                                    </tr>
                                <?php endforeach; ?>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <hr style="border: 1px dotted black">
                <?php
            endforeach;
        endif;
    endif;
endif;