<?php require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>
<head>
    <meta charset="UTF-8">
    <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php'); ?>
    <link rel="stylesheet" type="text/css" href="/utils/reports.css">
    <link rel="stylesheet" href="/utils/bootstrap-3.3.6-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/utils/font-awesome-4.7.0/css/font-awesome.css" />
</head>
<div id="content">
    <div id="right">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title pull-left" style="padding-top: 7.5px;">
                    <i class="fa fa-search" aria-hidden="true"></i> Buscar Notas de Entrada
                </h3>
            </div>
            <div class="panel-body">
                <form method="post" action="/logistica/relatorios/?action=relatorio-notas-entrada">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for="periodo">Fornecedor:</label>
                                <select name="fornecedor" class="form-control chosen-select" style="width: 100%;">
                                    <option value="">TODOS</option>
                                    <?php foreach($fornecedores as $fornecedor): ?>
                                        <option <?= isset($fornecedorBusca) && $fornecedorBusca === $fornecedor['idFornecedores'] ? "selected" : "" ?> value="<?= $fornecedor['idFornecedores'] ?>"><?= strtoupper($fornecedor['razaoSocial']) ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </div>
                    </div>

                    <?php if($_SESSION['empresa_principal'] == '1'): ?>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for="periodo">UR:</label>
                                <select name="ur" class="form-control chosen-select" style="width: 100%;">
                                    <option value="">TODOS</option>
                                    <?php foreach($urs as $ur): ?>
                                        <option <?= isset($urBusca) && $urBusca === $ur['id'] ? "selected" : "" ?> value="<?= $ur['id'] ?>"><?= strtoupper($ur['nome']) ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </div>
                    </div>
                    <?php endif; ?>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="periodo">Inicio:</label>
                                <input name="inicio" type="date" class="form-control" value='<?= isset($inicio)  ? $inicio : "" ?>' required>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="periodo">Fim:</label>
                                <input name="fim" type="date" class="form-control" value='<?= isset($fim) ? $fim : "" ?>' required>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="radio">
                                <label for="tipo-relatorio-0">
                                    <input type="radio" <?= isset($tipoRelatorio) && $tipoRelatorio == 'S' ? 'checked' : '' ?> name="tipo_relatorio" id="tipo-relatorio-0" value="S" checked>
                                    Sintético <small>(Item, Fornecedor, Data da Entrada, Quantidade e Custo)</small>
                                </label>
                            </div>
                            <div class="radio">
                                <label for="tipo-relatorio-1">
                                    <input type="radio" <?= isset($tipoRelatorio) && $tipoRelatorio == 'A' ? 'checked' : '' ?> name="tipo_relatorio" id="tipo-relatorio-1" value="A">
                                    Analítico <small>(Dados da Nota, Itens da Nota, Fornecedor, Data da Entrada, Quantidade, Custo e Lote)</small>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <div class="form-group">
                                <button type="submit"  class='ui-button ui-widget ui-corner-all ui-button-text-only ui-state-hover' >
                                    <span class='ui-button-text'>Pesquisar</span>
                                </button>
                                &nbsp;&nbsp;
                                <button id='' type='button' class='voltar_ ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only ui-state-hover'
                                        role='button' aria-disabled='false' >
                                    <span class='ui-button-text'>Voltar</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-12">
                <?php
                if(isset($response)):
                    if(empty($response)):
                        ?>
                        <h4 class="text-center">Nenhum resultado encontrado.</h4>
                        <?php
                    else:
                        ?>
                        <h5 style="color: darkred;"><strong>* O relatório é ordenado pela data de entrada mais recente.</strong></h5>
                        <a href="/logistica/relatorios/?action=excel-relatorio-notas-entrada&inicio=<?= $inicio ?>&fim=<?= $fim ?>&fornecedor=<?= $fornecedorBusca ?>&ur=<?= $urBusca ?>&tiporelatorio=<?= $tipoRelatorio ?>"
                           target="_blank"
                           style="float: right;"
                           title="Exportar para Planilha Excel">
                            <img src="/utils/new-icons/excel-2013.ico" width="32">
                        </a>
                        <?php
                        if($tipoRelatorio == 'S'):
                            ?>
                            <table class='table table-striped'>
                                <thead>
                                <tr>
                                    <th width="30%">Item</th>
                                    <th width="30%">Fornecedor</th>
                                    <th>Data da Entrada</th>
                                    <th>Quantidade</th>
                                    <th>Valor</th>
                                </tr>
                                </thead>
                                <tbody>
                                <?php
                                foreach($response as $row):
                                    ?>
                                    <tr>
                                        <td><?= $row['item'] ?></td>
                                        <td><?= $row['razaoSocial'] ?></td>
                                        <td><?= \DateTime::createFromFormat('Y-m-d', $row['dataEntrada'])->format('d/m/Y') ?></td>
                                        <td><?= $row['qtd'] ?></td>
                                        <td><?= \App\Helpers\StringHelper::currencyFormat($row['valor']) ?></td>
                                    </tr>
                                    <?php
                                endforeach;
                                ?>
                                </tbody>
                            </table>
                            <?php
                        else:
                            foreach($response as $tr => $row):
                                ?>
                                <table class='table table-striped'>
                                    <thead>
                                    <tr>
                                        <th>TR</th>
                                        <th>Número da Nota</th>
                                        <th>Fornecedor</th>
                                        <th>Valor da Nota</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td><?= $tr ?></td>
                                        <td><?= $row['numeroNota'] ?></td>
                                        <td><?= $row['fornecedor'] ?></td>
                                        <td><?= $row['valorNota'] ?></td>
                                    </tr>
                                    <tr>
                                        <td colspan="4">
                                            <table class="table table-striped">
                                                <thead>
                                                <tr>
                                                    <th width="50%">Item</th>
                                                    <th>Data da Entrada</th>
                                                    <th>Lote</th>
                                                    <th>Quantidade</th>
                                                    <th>Custo</th>
                                                </tr>
                                                </thead>
                                                <?php foreach ($row['itens'] as $item): ?>
                                                    <tr>
                                                        <td><?= $item['item'] ?></td>
                                                        <td><?= \DateTime::createFromFormat('Y-m-d', $item['dataEntrada'])->format('d/m/Y') ?></td>
                                                        <td><?= $item['lote'] ?></td>
                                                        <td><?= $item['qtd'] ?></td>
                                                        <td><?= $item['custo'] ?></td>
                                                    </tr>
                                                <?php endforeach; ?>
                                            </table>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <hr style="border: 1px dotted black">
                                <?php
                            endforeach;
                        endif;
                    endif;
                endif;
                ?>
            </div>
        </div>
    </div>

    <div id="left">
        <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
    </div>
</div>
<script type="text/javascript" src="/remocao/js/main.js?v=2.1"></script>
<script type="text/javascript" src="/utils/jquery/js/voltar.js"></script>
</body>
</html>