<table>
    <tr>
        <td colspan="5"  ><font size="5"><?php echo htmlentities('Relatórios Assistenciais')?></font></td>
    </tr>
    <tr>
        <td><b>Unidade: </b><?php echo htmlentities($urNome)?></td>
        <td><b><?php echo htmlentities('Período')?>:</b><?php echo htmlentities($inicio)?> - <?=$fim?></td>
        <td><b><?php echo htmlentities('Área')?>: </b> <?php echo htmlentities($areaNome)?></td>
        <td><b>Tipo:</b> <?php echo htmlentities($tipoNome)?></td>
        <td><b>Plano:</b><?php echo htmlentities($labelPlano)?></b></td>
    </tr>
    <tr>
        <td colspan="3" ><b><?php echo htmlentities('Usuário')?>: </b><?php echo htmlentities($usuario)?></td>
        <td colspan="2"><b>Data:</b> <?=$dataHora?></td>
    </tr>
</table>

<table class='mytable' width='100%' >
    <thead>
    <tr>
        <td colspan="5"><?php echo htmlentities('*Data em que o relatório/prescrição foi lançado no sistema.')?></td>
    </tr>
    <tr>
        <th>PACIENTE </th>
        <th align="center"><?php echo htmlentities('PERÍODO')?></th>
        <th align="center">DATA*</th>
        <th align="center">PROFISSIONAL</th>
        <th align="center">TIPO</th>
    </tr>
    </thead>
    <tbody>
    <?php $i = 1;
    foreach($response['avaliacao'] as $resp){
        if($i % 2 == 0){
            $bgColor = 'white';
        } else {
            $bgColor = '#dcdcdc';
        }
        $i++ ?>
        <tr bgcolor="<?= $bgColor ?>" >
            <td><?=htmlentities($resp['paciente'])?></td>
            <td><?=htmlentities($resp['data_pt'])?></td>
            <td><?=htmlentities($resp['data_sistema'])?></td>
            <td><?=htmlentities($resp['nomeUsuario'])?></td>
            <td><?=htmlentities($resp['tipoDocumento'])?></td>
        </tr>
    <?php } ?>
    <?php foreach($response['evolucao'] as $resp){
        if($i % 2 == 0){
            $bgColor = 'white';
        } else {
            $bgColor = '#dcdcdc';
        }
        $i++ ?>
        <tr bgcolor="<?= $bgColor ?>" >
            <td><?=htmlentities($resp['paciente'])?></td>
            <td><?=htmlentities($resp['data_pt'])?></td>
            <td><?=htmlentities($resp['data_sistema'])?></td>
            <td><?=htmlentities($resp['nomeUsuario'])?></td>
            <td><?=htmlentities($resp['tipoDocumento'])?></td>
        </tr>
    <?php } ?>
    <?php foreach($response['prorrogacao'] as $resp){
        if($i % 2 == 0){
            $bgColor = 'white';
        } else {
            $bgColor = '#dcdcdc';
        }
        $i++ ?>
        <tr bgcolor="<?= $bgColor ?>" >
            <td><?=htmlentities($resp['paciente'])?></td>
            <td><?=htmlentities($resp['data_pt'])?></td>
            <td><?=htmlentities($resp['data_sistema'])?></td>
            <td><?=htmlentities($resp['nomeUsuario'])?></td>
            <td><?=htmlentities($resp['tipoDocumento'])?></td>
        </tr>
    <?php } ?>
    <?php foreach($response['alta'] as $resp){
        if($i % 2 == 0){
            $bgColor = 'white';
        } else {
            $bgColor = '#dcdcdc';
        }
        $i++ ?>
        <tr bgcolor="<?= $bgColor ?>" >
            <td><?=htmlentities($resp['paciente'])?></td>
            <td><?=htmlentities($resp['data_pt'])?></td>
            <td><?=htmlentities($resp['data_sistema'])?></td>
            <td><?=htmlentities($resp['nomeUsuario'])?></td>
            <td><?=htmlentities($resp['tipoDocumento'])?></td>
        </tr>
    <?php } ?>
    <?php foreach($response['encaminhamento'] as $resp){
        if($i % 2 == 0){
            $bgColor = 'white';
        } else {
            $bgColor = '#dcdcdc';
        }
        $i++ ?>
        <tr bgcolor="<?= $bgColor ?>" >
            <td><?=htmlentities($resp['paciente'])?></td>
            <td><?=htmlentities($resp['data_pt'])?></td>
            <td><?=htmlentities($resp['data_sistema'])?></td>
            <td><?=htmlentities($resp['nomeUsuario'])?></td>
            <td><?=htmlentities($resp['tipoDocumento'])?></td>
        </tr>
    <?php } ?>
    <?php foreach($response['prescricao_enf'] as $resp){
        if($i % 2 == 0){
            $bgColor = 'white';
        } else {
            $bgColor = '#dcdcdc';
        }
        $i++ ?>
        <tr bgcolor="<?= $bgColor ?>" >
            <td><?=htmlentities($resp['paciente'])?></td>
            <td><?=htmlentities($resp['data_pt'])?></td>
            <td><?=htmlentities($resp['data_sistema'])?></td>
            <td><?=htmlentities($resp['nomeUsuario'])?></td>
            <td><?=htmlentities($resp['tipoDocumento'])?></td>
        </tr>
    <?php } ?><?php foreach($response['prescricao_curativo'] as $resp){
        if($i % 2 == 0){
            $bgColor = 'white';
        } else {
            $bgColor = '#dcdcdc';
        }
        $i++ ?>
        <tr bgcolor="<?= $bgColor ?>" >
            <td><?=htmlentities($resp['paciente'])?></td>
            <td><?=htmlentities($resp['data_pt'])?></td>
            <td><?=htmlentities($resp['data_sistema'])?></td>
            <td><?=htmlentities($resp['nomeUsuario'])?></td>
            <td><?=htmlentities($resp['tipoDocumento'])?></td>
        </tr>
    <?php } ?>
    <?php foreach($response['prescricao'] as $resp){
        if($i % 2 == 0){
            $bgColor = 'white';
        } else {
            $bgColor = '#dcdcdc';
        }
        $i++ ?>
        <tr bgcolor="<?= $bgColor ?>" >
            <td><?=htmlentities($resp['paciente'])?></td>
            <td><?=htmlentities($resp['data_pt'])?></td>
            <td><?=htmlentities($resp['data_sistema'])?></td>
            <td><?=htmlentities($resp['nomeUsuario'])?></td>
            <td><?=htmlentities($resp['tipoDocumento'])?> (<?=$resp['tipoPresc']?>)</td>
        </tr>
    <?php } ?>
    <?php foreach($response['aditivo'] as $resp){
        if($i % 2 == 0){
            $bgColor = 'white';
        } else {
            $bgColor = '#dcdcdc';
        }
        $i++ ?>
        <tr bgcolor="<?= $bgColor ?>" >
            <td><?=htmlentities($resp['paciente'])?></td>
            <td><?=htmlentities($resp['data_pt'])?></td>
            <td><?=htmlentities($resp['data_sistema'])?></td>
            <td><?=htmlentities($resp['nomeUsuario'])?></td>
            <td><?=htmlentities($resp['tipoDocumento'])?> (<?=$resp['tipoPresc']?>)</td>

        </tr>
    <?php } ?>
    <?php foreach($response['deflagrado'] as $resp){
        if($i % 2 == 0){
            $bgColor = 'white';
        } else {
            $bgColor = '#dcdcdc';
        }
        $i++ ?>
        <tr bgcolor="<?= $bgColor ?>" >
            <td><?=htmlentities($resp['paciente'])?></td>
            <td><?=htmlentities($resp['data_pt'])?></td>
            <td><?=htmlentities($resp['data_sistema'])?></td>
            <td><?=htmlentities($resp['nomeUsuario'])?></td>
            <td><?=htmlentities($resp['tipoDocumento'])?> (<?=$resp['tipoPresc']?>)</td>

        </tr>
    <?php } ?>

    </tbody>
</table>




