<?php include_once('../validar.php');
require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>
<head>
    <meta charset="UTF-8">
    <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php'); ?>
    <link rel="stylesheet" type="text/css" href="/utils/jquery/css/chosen/chosen.css">
    <link rel="stylesheet" href="/utils/global.css"/>
    <!--	<link rel="stylesheet" type="text/css" href="/exames/css/dropzone.css">-->
</head>
<div id="content">
    <div id="right">
        <center><h1>Relatórios Assistenciais</h1></center>
        <form method="post" action="/relatorios/?medico-enfermagem-ur=pesquisar">
            <div class="form-input100" >
                <p><strong>Período:</strong></p>
                <input type="text" class="data OBG" name="inicio" value="<?= (isset($data['inicio']) ? $data['inicio'] : '') ?>"> -
                <input type="text" class="data OBG" name="fim" value="<?= (isset($data['fim']) ? $data['fim'] : '') ?>">
            </div>
            <?php if($_SESSION['empresa_principal'] == 1 ){ ?>
                <div class="form-input100" >
                    <p><strong>Empresa:</strong></p>
                    <select name="empresa" class="chosen-select OBG_CHOSEN" style="width: 400px;" required>
                        <option value="">Selecione...</option>
                        <option <?= isset($data['empresa']) && $data['empresa'] === 'T' ? "selected" : "" ?>
                            value="T">TODAS</option>


                        <?php foreach($empresas as $empresa):
                                if(in_array($empresa['id'],array(11,2,5,4,7))) { ?>

                                    <option <?= isset($data['empresa']) && $data['empresa'] === $empresa['id'] ? "selected" : "" ?>
                                        value="<?= $empresa['id'] ?>"><?= mb_strtoupper($empresa['nome'], 'UTF-8') ?></option>
                                    <?php
                                 }
                                 endforeach; ?>
                    </select>
                </div>
            <?php }else{ ?>
                <div class="form-input100" >

                    <input name="empresa" type="hidden" value="<?=$_SESSION['empresa_principal']?>" />
                </div>

            <?php } ?>
            <div class="form-input100" >
                <p><strong>Planos:</strong></p>
                <select name="plano" class="chosen-select " style="width: 400px;" >
                    <option value="">Selecione...</option>

                    <?php foreach($planos as $pl):
                        if(in_array($empresa['id'],array(11,2,5,4,7))) { ?>

                            <option <?= isset($data['plano']) && $data['plano'] === $pl['id'] ? "selected" : "" ?>
                                value="<?= $pl['id'] ?>"><?= mb_strtoupper($pl['nome'], 'UTF-8') ?></option>
                            <?php
                        }
                    endforeach; ?>
                </select>
            </div>
            <div class="form-input100" >
                <p><strong>Área:</strong></p>
                <select name="area" class="chosen-select OBG_CHOSEN" style="width: 800px;" required placeholder="Selecione ...">
                    <option value="">Selecione...</option>
                    <?php foreach($lista['area'] as $key => $area): ?>
                        <option <?=  isset($key) && $data['area'] === $key ? "selected" : "" ?> value="<?= $key ?>"><?= mb_strtoupper($area,'UTF-8') ?></option>
                    <?php endforeach; ?>
                </select>
            </div>
            <div class="form-input100" >
                <p><strong>Tipo Relatório:</strong></p>
                <select name="tipo[]" class="chosen-select OBG_CHOSEN" style="width: 800px;" multiple data-placeholder="Selecione ...">
                    <?php foreach($lista['tipo_relatorio'] as $key => $tipo): ?>
                        <option <?= isset($key) && in_array($key, $data['tipo']) ? "selected" : "" ?> value="<?= $key ?>"><?=mb_strtoupper($tipo,'UTF-8')  ?></option>
                    <?php endforeach; ?>
                </select>
            </div>
            <div class="form-input100" >
                <button type="submit"  id='pesquisar-relatorios-assistenciais' class='ui-button ui-widget ui-corner-all ui-button-text-only ui-state-hover'>
                    <span class='ui-button-text'>Buscar</span>
                </button>
            </div>
        </form>
        <div>
            <center>
                <h3>
                    <?php if(isset($msgErro) && !empty($msgErro)) {
                        echo $msgErro;
                    }
                    ?>
                </h3>
            </center>
        </div>

        <?php if(isset($response) && empty($response)) { ?>
            <div>
                <center>
                    <h3>
                        Nenhum item encontrado para os filtros selecionados.
                    </h3>
                </center>
            </div>
        <?php  }else{?>
            <small>* Data em que o relatório/prescrição foi lançado no sistema.</small>
            <br>
        <?php if(isset($data) && !empty($data['inicio'])) {

                $array = implode('x',$data['tipo']);
                ?>

            <a  href="/relatorios/?medico-enfermagem-ur=exportar-excel&inicio=<?= $data['inicio'] ?>&fim=<?= $data['fim'] ?>&ur=<?= $data['empresa'] ?>&area=<?= $data['area'] ?>&tipo=<?= $array ?>&plano=<?= $data['plano'] ?>"
                target="_blank"
                style="position: relative; float: right;"
                class='ui-button ui-widget ui-corner-all ui-button-text-only ui-state-hover'
                id="buscar">
                <span class='ui-button-text'>Exportar para Excel</span>
            </a>
           <?php }?>
            <table class='mytable' width='100%' >
                <thead>
                <tr>
                    <th>PACIENTE </th>
                    <th align="center">PERÍODO</th>
                    <th align="center">DATA*</th>
                    <th align="center">PROFISSIONAL</th>
                    <th align="center">TIPO</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <?php $i = 1;
                foreach($response['avaliacao'] as $resp){
                    if($i % 2 == 0){
                        $bgColor = 'white';
                    } else {
                        $bgColor = '#dcdcdc';
                    }
                    $i++ ?>
                    <tr bgcolor="<?= $bgColor ?>" >
                        <td><?=$resp['paciente']?></td>
                        <td><?=$resp['data_pt']?></td>
                        <td><?=$resp['data_sistema']?></td>
                        <td><?=$resp['nomeUsuario']?></td>
                        <td><?=$resp['tipoDocumento']?></td>
                        <td>
                            <?php if($data['area'] == 'M'){ ?>
                                <a target="_blank" href="../medico/?view=paciente_med&act=capmed&id=<?=$resp['ID']?>">
                                    <img src="../../utils/fichas_24x24.png" title="Ficha de Avaliação Médica" border="0">
                                </a>
                            <?php }else if($data['area'] == 'E'){?>
                                <a target="_blank" href="../enfermagem/?view=editaravaliacaoenfermagem&id=<?=$resp['ID']?>&v=1">
                                    <img src="../../utils/fichas_24x24.png" title="Ficha de Avaliação Enfermagem" border="0">
                                </a>

                            <?php }?>
                        </td>
                    </tr>
                <?php } ?>
                <?php foreach($response['evolucao'] as $resp){
                    if($i % 2 == 0){
                        $bgColor = 'white';
                    } else {
                        $bgColor = '#dcdcdc';
                    }
                    $i++ ?>
                    <tr bgcolor="<?= $bgColor ?>" >
                        <td><?=$resp['paciente']?></td>
                        <td><?=$resp['data_pt']?></td>
                        <td><?=$resp['data_sistema']?></td>
                        <td><?=$resp['nomeUsuario']?></td>
                        <td><?=$resp['tipoDocumento']?></td>
                        <td>
                            <?php if($data['area'] == 'M'){ ?>
                                <a target="_blank" href="../medico/?view=paciente_med&act=fichaevolucao&id=<?=$resp['ID']?>">
                                    <img src="../../utils/fichas_24x24.png" title="Ficha de Evolução Médica" border="0">
                                </a>
                            <?php }else if($data['area'] == 'E'){?>
                                <a target="_blank" href="../enfermagem/?view=editarevolucaoenfermagem&id=<?=$resp['ID']?>&v=1">
                                    <img src="../../utils/fichas_24x24.png" title="Ficha de Evolução Enfermagem" border="0">
                                </a>

                            <?php }?>
                        </td>

                    </tr>
                <?php } ?>
                <?php foreach($response['prorrogacao'] as $resp){
                    if($i % 2 == 0){
                        $bgColor = 'white';
                    } else {
                        $bgColor = '#dcdcdc';
                    }
                    $i++ ?>
                    <tr bgcolor="<?= $bgColor ?>" >
                        <td><?=$resp['paciente']?></td>
                        <td><?=$resp['data_pt']?></td>
                        <td><?=$resp['data_sistema']?></td>
                        <td><?=$resp['nomeUsuario']?></td>
                        <td><?=$resp['tipoDocumento']?></td>
                        <td>
                        <?php if($data['area'] == 'M'){ ?>
                            <a target="_blank" href="../medico/?view=visualizar_rel_prorrogacao&id=<?=$resp['paciente_id']?>&idr=<?=$resp['ID']?>">
                                <img src="../../utils/fichas_24x24.png" title="Ficha de Prorrogação Médica" border="0">
                            </a>
                        <?php }else if($data['area'] == 'E'){?>
                            <a target="_blank" href="../enfermagem/?view=visualizar_rel_prorrogacao&id=<?=$resp['paciente_id']?>&idr=<?=$resp['ID']?>">
                                <img src="../../utils/fichas_24x24.png" title="Ficha de Prorrogação Enfermagem" border="0">
                            </a>

                        <?php }?>
                        </td>

                    </tr>
                <?php } ?>
                <?php foreach($response['alta'] as $resp){
                    if($i % 2 == 0){
                        $bgColor = 'white';
                    } else {
                        $bgColor = '#dcdcdc';
                    }
                    $i++ ?>
                    <tr bgcolor="<?= $bgColor ?>" >
                        <td><?=$resp['paciente']?></td>
                        <td><?=$resp['data_pt']?></td>
                        <td><?=$resp['data_sistema']?></td>
                        <td><?=$resp['nomeUsuario']?></td>
                        <td><?=$resp['tipoDocumento']?></td>
                        <td>
                            <?php if($data['area'] == 'M'){ ?>
                                <a target="_blank" href="../medico/?view=visualizar_rel_alta&id=<?=$resp['paciente_id']?>&idr=<?=$resp['ID']?>">
                                    <img src="../../utils/fichas_24x24.png" title="Ficha de Alta Médica" border="0">
                                </a>
                            <?php }else if($data['area'] == 'E'){?>
                                <a target="_blank" href="../enfermagem/?view=visualizar_rel_alta&id=<?=$resp['paciente_id']?>&idr=<?=$resp['ID']?>">
                                    <img src="../../utils/fichas_24x24.png" title="Ficha de Alta Enfermagem" border="0">
                                </a>

                            <?php }?>
                        </td>
                    </tr>
                <?php } ?>
                <?php foreach($response['encaminhamento'] as $resp){
                    if($i % 2 == 0){
                        $bgColor = 'white';
                    } else {
                        $bgColor = '#dcdcdc';
                    }
                    $i++ ?>
                    <tr bgcolor="<?= $bgColor ?>" >
                        <td><?=$resp['paciente']?></td>
                        <td><?=$resp['data_pt']?></td>
                        <td><?=$resp['data_sistema']?></td>
                        <td><?=$resp['nomeUsuario']?></td>
                        <td><?=$resp['tipoDocumento']?></td>
                        <td>
                            <?php if($data['area'] == 'M'){ ?>
                                <a target="_blank" href="../medico/?view=visualizar_rel_intercorrencia&id=<?=$resp['paciente_id']?>&idr=<?=$resp['ID']?>">
                                    <img src="../../utils/fichas_24x24.png" title="Ficha de Intercorrência médica" border="0">
                                </a>

                            <?php }?>
                        </td>
                    </tr>

                <?php } ?>
                <?php foreach($response['prescricao_enf'] as $resp){
                    if($i % 2 == 0){
                        $bgColor = 'white';
                    } else {
                        $bgColor = '#dcdcdc';
                    }
                    $i++ ?>
                    <tr bgcolor="<?= $bgColor ?>" >
                        <td><?=$resp['paciente']?></td>
                        <td><?=$resp['data_pt']?></td>
                        <td><?=$resp['data_sistema']?></td>
                        <td><?=$resp['nomeUsuario']?></td>
                        <td><?=$resp['tipoDocumento']?></td>
                        <td>
                                <a target="_blank" href="../enfermagem/prescricao/index.php?action=visualizar&idPresc=<?=$resp['ID']?>">
                                    <img src="../../utils/fichas_24x24.png" title="Prescrição cuidados Enfermagem" border="0">
                                </a>
                        </td>

                    </tr>
                <?php } ?><?php foreach($response['prescricao_curativo'] as $resp){
                    if($i % 2 == 0){
                        $bgColor = 'white';
                    } else {
                        $bgColor = '#dcdcdc';
                    }
                    $i++ ?>
                    <tr bgcolor="<?= $bgColor ?>" >
                        <td><?=$resp['paciente']?></td>
                        <td><?=$resp['data_pt']?></td>
                        <td><?=$resp['data_sistema']?></td>
                        <td><?=$resp['nomeUsuario']?></td>
                        <td><?=$resp['tipoDocumento']?></td>
                        <td>
                            <a target="_blank" href="../enfermagem/prescricao/index.php?action=visualizar-prescricao-curativo&prescricao=<?=$resp['ID']?>">
                                <img src="../../utils/fichas_24x24.png" title="Prescrição Curativo Enfermagem" border="0">
                            </a>
                        </td>

                    </tr>
                <?php } ?>
                <?php foreach($response['prescricao'] as $resp){
                    if($i % 2 == 0){
                        $bgColor = 'white';
                    } else {
                        $bgColor = '#dcdcdc';
                    }
                    $i++ ?>
                    <tr bgcolor="<?= $bgColor ?>" >
                        <td><?=$resp['paciente']?></td>
                        <td><?=$resp['data_pt']?></td>
                        <td><?=$resp['data_sistema']?></td>
                        <td><?=$resp['nomeUsuario']?></td>
                        <td><?=$resp['tipoDocumento']?> (<?=$resp['tipoPresc']?>)</td>
                        <td>
                            <a target="_blank" href="../medico/?view=detalhes&p=<?=$resp['ID']?>&idp=<?=$resp['paciente_id']?>">
                                <img src="../../utils/fichas_24x24.png" title="Prescrição" border="0">
                            </a>
                        </td>


                    </tr>
                <?php } ?>
                <?php foreach($response['aditivo'] as $resp){
                    if($i % 2 == 0){
                        $bgColor = 'white';
                    } else {
                        $bgColor = '#dcdcdc';
                    }
                    $i++ ?>
                    <tr bgcolor="<?= $bgColor ?>" >
                        <td><?=$resp['paciente']?></td>
                        <td><?=$resp['data_pt']?></td>
                        <td><?=$resp['data_sistema']?></td>
                        <td><?=$resp['nomeUsuario']?></td>
                        <td><?=$resp['tipoDocumento']?> </td>
                        <td>
                            <?php if($data['area'] == 'M'){ ?>
                                <a target="_blank" href="../medico/?view=visualizar_relatorio_aditivo&id=<?=$resp['paciente_id']?>&idr=<?=$resp['ID']?>">
                                    <img src="../../utils/fichas_24x24.png" title="Aditivo" border="0">
                                </a>
                            <?php }else if($data['area'] == 'E'){?>
                                <a target="_blank" href="../enfermagem/?view=visualizar_rel_aditivo&id=<?=$resp['paciente_id']?>&idr=<?=$resp['ID']?>">
                                    <img src="../../utils/fichas_24x24.png" title="Aditivo" border="0">
                                </a>
                            <?php }?>
                        </td>
                    </tr>
                <?php } ?>
                <?php foreach($response['deflagrado'] as $resp){
                    if($i % 2 == 0){
                        $bgColor = 'white';
                    } else {
                        $bgColor = '#dcdcdc';
                    }
                    $i++ ?>
                    <tr bgcolor="<?= $bgColor ?>" >
                        <td><?=$resp['paciente']?></td>
                        <td><?=$resp['data_pt']?></td>
                        <td><?=$resp['data_sistema']?></td>
                        <td><?=$resp['nomeUsuario']?></td>
                        <td><?=$resp['tipoDocumento']?> (<?=$resp['tipoPresc']?>)</td>
                        <td>
                            <?php if($data['area'] == 'M'){ ?>
                                <a target="_blank" href="../medico/?view=visualizar-rel-deflagrado&id=<?=$resp['paciente_id']?>&idr=<?=$resp['ID']?>">
                                    <img src="../../utils/fichas_24x24.png" title="Deflagrado" border="0">
                                </a>
                            <?php }else if($data['area'] == 'E'){?>
                                <a target="_blank" href="../enfermagem/?view=visualizar_rel_deflagrado&id=<?=$resp['paciente_id']?>&idr=<?=$resp['ID']?>">
                                    <img src="../../utils/fichas_24x24.png" title="Deflagrado" border="0">
                                </a>
                            <?php }?>
                        </td>
                    </tr>
                <?php } ?>

                </tbody>
            </table>

        <?php }       ?>

        <br>
        <div class="col-lg-12">
            <button id='' type='button' class='voltar_ ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only ui-state-hover'
                    role='button' aria-disabled='false' >
                <span class='ui-button-text'>Voltar</span>
            </button>
        </div>
    </div>
    <div id="left">
        <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
    </div>
</div>
<script type="text/javascript" src="/relatorios/js/medico-enfermagem-ur/main.js?v=1"></script>
<script type="text/javascript" src="/utils/jquery/js/voltar.js"></script>

</body>
</html>