<?php require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>
<head>
    <meta charset="UTF-8">
    <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php');?>
    <link rel="stylesheet" type="text/css" href="/utils/reports.css">
    <link rel="stylesheet" href="/utils/bootstrap-3.3.6-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/utils/font-awesome-4.7.0/css/font-awesome.css" />
</head>
<div id="content">
    <div id="right">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title pull-left" style="padding-top: 7.5px;">
                    <i class="fa fa-list-alt " aria-hidden="true"></i> Atualizar Categorias de Materiais</b>
                </h3>
            </div>

            <?php
            $display = "none";
            if(isset($_GET['msg']) && !empty($_GET['msg'])) {
                $msg = $_GET['msg'];
                $type = $_GET['type'];
                $display = "block";
                $class = "alert-danger";
                if ($type == 's') {
                    $class = "alert-success";
                }
            }
            ?>

            <div style="display:<?= $display ?> " class="alert <?= $class ?>">
                <strong><?= $msg ?></strong>
            </div>

            <div class="panel-body">
                <form method="post" action="?action=editar-categorias-materiais">
                    <div id="div-salvar-categoria">
                        <div class="row">
                            <div class="col-lg-12">
                                <label for="nome">Categoria do Material:</label>
                                <input id="nome" name="nome" class="form-control col-lg-6" required="required" value="<?= $data['ITEM'] ?>" type="text">
                                <input name="id" value="<?= $data['ID'] ?>" type="hidden">
                            </div>
                        </div>
                        <br>
                        <br>
                        <div class="col-lg-12 text-center">
                            <div class="form-group">
                                <button type="submit" id="editar-categoria" class='btn btn-primary' >
                                    Salvar
                                </button>
                                <a href="/logistica/configuracoes-sistema/?action=listar-categorias-materiais" class='btn btn-warning' >
                                    Cancelar
                                </a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="left">
    <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
</div>
</body>
</html>
