<?php require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>
<head>
    <meta charset="UTF-8">
    <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php'); ?>
    <link rel="stylesheet" type="text/css" href="/utils/reports.css">
    <link rel="stylesheet" href="/utils/bootstrap-3.3.6-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/utils/font-awesome-4.7.0/css/font-awesome.css" />
</head>
<div id="content">
    <div id="right">
        <div class="row">
            <div class="col-lg-12">
                <div class="btn-group pull-right">
                    <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <i class="fa fa-plus" aria-hidden="true"></i> Nova
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu label-success" aria-labelledby="dropdownMenu1">
                        <li><a href="?action=categorias-materiais" target="_blank">Categoria</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <br>
        <div class="panel panel-primary panel-group">
            <div class="panel-heading clearfix">
                <h3 class="panel-title" style="padding-top: 7.5px;">
                    <a data-toggle="collapse"
                       class="pull-left"
                       title="Clique para visualizar os filtros da busca"
                       href="#filtros-categoria">
                        <i class="fa fa-search" aria-hidden="true"></i> Buscar Categorias de Materiais (Filtros)
                    </a>
                    <a data-toggle="collapse"
                       title="Clique para visualizar os filtros da busca"
                       href="#filtros-categoria">
                        <i class="fa fa-caret-square-o-up pull-right switch-plus-minus" aria-hidden="true"></i>
                    </a>
                </h3>
            </div>
            <div class="panel-body panel-collapse collapse" id="filtros-categoria">
                <form method="post" action="/logistica/configuracoes-sistema/?action=listar-categorias-materiais&limit=50&page=1">
                    <div class="alert alert-info">
                        <i class="fa fa-info-circle"></i> Para buscar <b>Todas as categorias</b>, deixe os campos em branco.
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for="nome">Descrição da Categoria:</label>
                                <input type="text"
                                       name="nome"
                                       class="form-control col-lg-6"
                                       id='nome'
                                       value="<?= isset($data['nome']) ? $data['nome'] : "" ?>">
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="text-center">
                            <button type="submit" class='btn btn-primary' >
                                <span class='ui-button-text'>Pesquisar</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-12">
                <?php
                //print_r($response);
                if(isset($response)):
                    if(count($response->data) == 0): ?>
                        <h4 class="text-center">Nenhuma categoria encontrada.</h4>
                        <?php
                    else:
                        if(is_object($response)): ?>
                            <div class="pull-right">
                                <?= $paginator->createLinks($links, 'pagination pagination-sm', 'listar-categorias-materiais') ?>
                            </div>
                            <table class='table table-responsive table-striped table-hover'>
                                <thead>
                                <th width="90%">Descrição</th>
                                <th>Ações</th>
                                </thead>
                                <?php
                                foreach($response->data as $row):
                                    ?>
                                    <tr id="<?= $row['ID'] ?>">
                                        <td><?= mb_strtoupper($row['ITEM'], 'UTF8') ?></td>
                                        <td>
                                            <div class="dropup pull-right">
                                                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                                    Opções
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li class="dropdown-header"><b>Ações</b></li>
                                                    <li><a href="/logistica/configuracoes-sistema/?action=editar-categorias-materiais&id=<?= $row['ID'] ?>" target="_blank">Editar</a></li>
                                                    <li><a href="#" class="excluir-categoria" nome-categoria="<?= mb_strtoupper($row['ITEM'], 'UTF8') ?>" categoria-id="<?= $row['ID'] ?>">Excluir</a></li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                <?php endforeach; ?>
                            </table>
                            <div class="pull-right">
                                <?= $paginator->createLinks($links, 'pagination pagination-sm', 'listar-categorias-materiais') ?>
                            </div>
                        <?php else: ?>
                            <span class="text-center"><b><?= $response ?></b></span>
                            <?php
                        endif;
                    endif;
                endif;
                ?>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade"
     id="modal-bloquear-usuario"
     tabindex="-1"
     role="dialog"
     data-backdrop="static"
     data-keyboard="false"
     aria-labelledby="modalBloquearLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="modalBloquearLabel"></h4>
            </div>
            <div class="modal-body">
                <form name="form_bloquear" id="form-bloquear">
                    <input type="hidden" name="usuario_id" id="usuario-id" value="">
                    <input type="hidden" name="nome_usuario" id="nome-usuario" value="">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label class="control-label" for="qtd-item">Bloquear em *:</label>
                                <input type="date" name="data_bloqueio" id="data-bloqueio" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label class="control-label" for="qtd-item">Motivo do Bloqueio *:</label>
                                <textarea name="motivo_bloqueio" id="motivo-bloqueio" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" id="salvar-bloqueio">Bloquear</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<div id="left">
    <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
</div>
<script type="text/javascript" src="/utils/bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/utils/jquery/js/bootstrap-toggle.min.js"></script>
<script type="text/javascript" src="/logistica/configuracoes-sistema/js/list.js?v=1"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $(".panel-group .collapse.in").each(function(){
            $(this)
                .siblings(".panel-heading")
                .find(".fa.switch-plus-minus")
                .addClass("fa-caret-square-o-down")
                .removeClass("fa-caret-square-o-up");
        });

        $(".panel-group .collapse").on('show.bs.collapse', function(){
            $(this)
                .parent()
                .find(".fa.switch-plus-minus")
                .removeClass("fa-caret-square-o-up")
                .addClass("fa-caret-square-o-down");
        }).on('hide.bs.collapse', function(){
            $(this)
                .parent()
                .find(".fa.switch-plus-minus")
                .removeClass("fa-caret-square-o-down")
                .addClass("fa-caret-square-o-up");
        });
    });
</script>
</body>
</html>