<?php require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>
<head>
    <meta charset="UTF-8">
    <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php'); ?>
    <link rel="stylesheet" type="text/css" href="/utils/reports.css">
    <link rel="stylesheet" type="text/css" href="/utils/jquery/css/chosen/chosen.css">
</head>
<div id="content">
    <div id="right">
        <center><h1>Relatório de Retenções</h1></center>
        <br><br><br>
        <form method="post" action="/financeiros/relatorios/?action=form-relatorio-retencoes">
            <p>
                <strong>Período:</strong><br>
                <input type="date" required name="periodo_inicio" value="<?= isset($periodoInicio) && !empty($periodoInicio) ? $periodoInicio : "" ?>"> -
                <input type="date" required name="periodo_fim" value="<?= isset($periodoFim) && !empty($periodoFim) ? $periodoFim : "" ?>">
            </p>

            <p>
                <strong>Fornecedor:</strong><br>
                <select name="filters[fornecedor]" id="fornecedores">
                    <option value="">Selecione...</option>
                    <?php foreach($fornecedores as $fornecedor): ?>
                        <option <?= isset($fornecedorBusca) && $fornecedorBusca === $fornecedor['idFornecedores'] ? "selected" : "" ?> value="<?= $fornecedor['idFornecedores'] ?>"><?= $fornecedor['nome'] ?></option>
                    <?php endforeach; ?>
                </select>
            </p>
            <p>
                <strong>UR:</strong><br>
                <select name="filters[ur]" id="urs">
                    <option value="">Selecione...</option>
                    <?php foreach($urs as $ur): ?>
                        <option <?= $urBusca === $ur['id'] ? "selected" : "" ?> value="<?= $ur['id'] ?>"><?= $ur['nome'] ?></option>
                    <?php endforeach; ?>
                </select>
            </p>
            <center style="position: relative; float: left; width: 100%; margin-top: 20px;">
                <button type="submit" class='ui-button ui-widget ui-corner-all ui-button-text-only ui-state-hover' id="buscar">
                    <span class='ui-button-text'>Buscar</span>
                </button>
                &nbsp;&nbsp;
                <button id='' type='button' class='voltar_ ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only ui-state-hover'
                        role='button' aria-disabled='false' >
                    <span class='ui-button-text'>Voltar</span>
                </button>
            </center>
        </form>
        <?php
        if(isset($response)):
            ?>
            <a  href="/financeiros/relatorios/?action=excel-relatorio-retencoes&inicio=<?= $periodoInicio ?>&fim=<?= $periodoFim ?>&fornecedor=<?= $fornecedorBusca ?>&ur=<?= $urBusca ?>"
                target="_blank"
                style="position: relative; float: right;"
                class='ui-button ui-widget ui-corner-all ui-button-text-only ui-state-hover'
                id="buscar">
                <span class='ui-button-text'>Exportar para Excel</span>
            </a>
            <hr id="separator">
            <div id="response">
                <table class='mytable' width='100%' >
                    <thead>
                    <tr>
                        <th width="">TR</th>
                        <th>Nº. DOC.</th>
                        <th>FORNECEDOR</th>
                        <th>ISSQN</th>
                        <th>PIS</th>
                        <th>COFINS</th>
                        <th>CSLL</th>
                        <th>IR</th>
                        <th>PCC</th>
                        <th>INSS</th>
                        <th>SUBTOTAL RETENÇÕES</th>
                        <th>VALOR BRUTO</th>
                        <th>VALOR LÍQUIDO</th>
                    </tr>
                    </thead>
                    <tbody>
                    <?php
                    $totalRetencoesPeriodo = 0;
                    if(count($response) > 0):
                        foreach($response as $data):
                            $totalRetencoes = array_sum(array_slice($data, 3, 7));
                            $retencoes = array_map(function($data){
                                return number_format($data, 2, ',', '.');
                            }, array_slice($data, 3, 7));
                            $valorLiquido = $data['valor'] - $totalRetencoes;
                            $totalRetencoesPeriodo += $totalRetencoes;
                            ?>
                            <tr>
                                <td><?= $data['idNotas'] ?></td>
                                <td><?= $data['codigo'] ?></td>
                                <td><?= $data['fornecedor'] ?></td>
                                <td><?= $retencoes['ISSQN'] ?></td>
                                <td><?= $retencoes['PIS'] ?></td>
                                <td><?= $retencoes['COFINS'] ?></td>
                                <td><?= $retencoes['CSLL'] ?></td>
                                <td><?= $retencoes['IR'] ?></td>
                                <td><?= $retencoes['PCC'] ?></td>
                                <td><?= $retencoes['INSS'] ?></td>
                                <td><?= number_format($totalRetencoes, 2, ',', '.') ?></td>
                                <td><?= number_format($data['valor'], 2, ',', '.') ?></td>
                                <td><?= number_format($valorLiquido, 2, ',', '.') ?></td>
                            </tr>
                        <?php endforeach; ?>
                        <tr>
                            <td colspan="10" align="right"><strong>Total de Retenções: </strong></td>
                            <td align="left"><strong><?= number_format($totalRetencoesPeriodo, 2, ',', '.') ?></strong></td>
                            <td colspan="2" align="right"></td>
                        </tr>
                    <?php else: ?>
                        <tr>
                            <td colspan="13" align="center"><strong>Nenhum resultado foi encontrado!</strong></td>
                        </tr>
                    <?php endif; ?>
                    </tbody>
                </table>
            </div>
            <?php
        endif;
        ?>
    </div>
    <div id="left">
        <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
    </div>
</div>
<script type="text/javascript" src="/utils/jquery/js/chosen.jquery.min.js"></script>
<script type="text/javascript" src="/utils/jquery/js/voltar.js"></script>
<script type="text/javascript">
    $(function($){
        $('#fornecedores, #urs').chosen();
    });
</script>
</body>
</html>