<?php require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>
<head>
    <meta charset="UTF-8">
    <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php'); ?>
    <link rel="stylesheet" type="text/css" href="/utils/reports.css">
    <link rel="stylesheet" href="/utils/bootstrap-3.3.6-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/utils/font-awesome-4.7.0/css/font-awesome.css" />
</head>
<div id="content">
    <div id="right">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title pull-left" style="padding-top: 7.5px;">
                    <i class="fa fa-search" aria-hidden="true"></i> Buscar Simulações Realizadas
                </h3>
            </div>
            <div class="panel-body">
                <form method="post" action="/financeiros/relatorios/?action=relatorio-simulacoes-realizadas">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for="periodo">Paciente:</label>
                                <select name="paciente" class="form-control chosen-select" style="width: 100%;">
                                    <option value="">TODOS</option>
                                    <?php foreach($pacientes as $paciente): ?>
                                        <option <?= isset($pacienteBusca) && $pacienteBusca === $paciente['idClientes'] ? "selected" : "" ?> value="<?= $paciente['idClientes'] ?>">(<?= $paciente['codigo'] ?>) <?= strtoupper($paciente['nome']) ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="periodo">Convênio:</label>
                                <select name="convenio" class="form-control chosen-select" style="width: 100%;">
                                    <option value="">TODOS</option>
                                    <?php foreach($convenios as $convenio): ?>
                                        <option <?= isset($convenioBusca) && $convenioBusca === $convenio['id'] ? "selected" : "" ?> value="<?= $convenio['id'] ?>"><?= strtoupper($convenio['nome']) ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="periodo">UR:</label>
                                <select name="ur" class="form-control chosen-select" style="width: 100%;">
                                    <option value="">TODOS</option>
                                    <?php foreach($urs as $ur): ?>
                                        <option <?= isset($urBusca) && $urBusca === $ur['id'] ? "selected" : "" ?> value="<?= $ur['id'] ?>"><?= strtoupper($ur['nome']) ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="periodo">Inicio:</label>
                                <input name="inicio" type="date" class="form-control" value='<?= isset($inicio)  ? $inicio : "" ?>' required>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="periodo">Fim:</label>
                                <input name="fim" type="date" class="form-control" value='<?= isset($fim) ? $fim : "" ?>' required>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <div class="form-group">
                                <button type="submit"  class='ui-button ui-widget ui-corner-all ui-button-text-only ui-state-hover' >
                                    <span class='ui-button-text'>Pesquisar</span>
                                </button>
                                &nbsp;&nbsp;
                                <button id='' type='button' class='voltar_ ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only ui-state-hover'
                                        role='button' aria-disabled='false' >
                                    <span class='ui-button-text'>Voltar</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-12">
                <?php
                if(isset($response)):
                    if(empty($response)):
                        ?>
                        <h4 class="text-center">Nenhuma simulação encontrada.</h4>
                        <?php
                    else:
                        ?>
                        <a href="/financeiros/relatorios/?action=excel-relatorio-simulacoes-realizadas&inicio=<?= $inicio ?>&fim=<?= $fim ?>&paciente=<?= $pacienteBusca ?>&convenio=<?= $convenioBusca ?>&ur=<?= $urBusca ?>"
                           target="_blank"
                           style="float: right;"
                           title="Exportar para Planilha Excel">
                            <img src="/utils/new-icons/excel-2013.ico" width="32">
                        </a>
                        <table class='table table-striped'>
                            <thead>
                            <tr>
                                <th>Paciente</th>
                                <th>Convênio</th>
                                <th>UR</th>
                                <th style="color: darkorange;">Laranjas</th>
                                <th style="color: darkgreen;">Verdes</th>
                                <th style="color: darkred;">Vermelhos</th>
                            </tr>
                            </thead>
                            <?php
                                foreach($response as $dados => $simulacoes):
                                    $dados = explode('-', $dados);
                                ?>
                                <tr>
                                    <td><?= $dados[0] ?></td>
                                    <td><?= $dados[1] ?></td>
                                    <td><?= strtoupper($dados[2]) ?></td>
                                    <td><?= isset($simulacoes['laranja']) ? $simulacoes['laranja'] : 0 ?></td>
                                    <td><?= isset($simulacoes['verde']) ? $simulacoes['verde'] : 0 ?></td>
                                    <td><?= isset($simulacoes['vermelho']) ? $simulacoes['vermelho'] : 0 ?></td>
                                </tr>
                            <?php endforeach; ?>
                        </table>
                        <?php
                    endif;
                endif;
                ?>
            </div>
        </div>
    </div>

    <div id="left">
        <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
    </div>
</div>
<script type="text/javascript" src="/remocao/js/main.js?v=2.1"></script>
<script type="text/javascript" src="/utils/jquery/js/voltar.js"></script>
</body>
</html>