<?php
if(isset($response)):
    if(empty($response)):
        ?>
        <h4 class="text-center">Nenhuma simulação encontrada.</h4>
        <?php
    else:
        ?>
        <table class='table table-striped'>
            <thead>
            <tr>
                <th colspan="9">
                    Simula&ccedil;&otilde;es Realizadas de
                    <?= $inicio->format('d/m/Y') ?> &agrave;
                    <?= $fim->format('d/m/Y') ?>
                </th>
            </tr>
            <tr>
                <th>Paciente</th>
                <th>Conv&ecirc;nio</th>
                <th>UR</th>
                <th style="color: darkorange;">Laranjas</th>
                <th style="color: darkgreen;">Verdes</th>
                <th style="color: darkred;">Vermelhos</th>
            </tr>
            </thead>
            <?php
            foreach($response as $dados => $simulacoes):
                $dados = explode('-', $dados);
                ?>
                <tr>
                    <td><?= $dados[0] ?></td>
                    <td><?= $dados[1] ?></td>
                    <td><?= strtoupper($dados[2]) ?></td>
                    <td><?= isset($simulacoes['laranja']) ? $simulacoes['laranja'] : 0 ?></td>
                    <td><?= isset($simulacoes['verde']) ? $simulacoes['verde'] : 0 ?></td>
                    <td><?= isset($simulacoes['vermelho']) ? $simulacoes['vermelho'] : 0 ?></td>
                </tr>
            <?php endforeach; ?>
        </table>
        <?php
    endif;
endif;
?>
