<table class='mytable' width='100%' >
    <thead>
    <tr>
        <td colspan="12"><h1><?= htmlentities('Relatório de Retenções - Período: ') . $inicio->format('d/m/Y') . ' - '. $fim->format('d/m/Y') ?></h1></td>
    </tr>
    <tr>
        <th width="">TR</th>
        <th>No. DOC.</th>
        <th>FORNECEDOR</th>
        <th>ISSQN</th>
        <th>PIS</th>
        <th>COFINS</th>
        <th>CSLL</th>
        <th>IR</th>
        <th>PCC</th>
        <th>INSS</th>
        <th><?= htmlentities('SUBTOTAL RETENÇÕES') ?></th>
        <th>VALOR BRUTO</th>
        <th><?= htmlentities('VALOR LÍQUIDO') ?></th>
    </tr>
    </thead>
    <tbody>
    <?php
    $totalRetencoesPeriodo = 0;
    if(count($response) > 0):
        foreach($response as $data):
            $totalRetencoes = array_sum(array_slice($data, 3, 7));
            $retencoes = array_map(function($data){
                return number_format($data, 2, ',', '.');
            }, array_slice($data, 3, 7));
            $valorLiquido = $data['valor'] - $totalRetencoes;
            $totalRetencoesPeriodo += $totalRetencoes;
            ?>
            <tr>
                <td><?= $data['idNotas'] ?></td>
                <td><?= $data['codigo'] ?></td>
                <td><?= $data['fornecedor'] ?></td>
                <td><?= $retencoes['ISSQN'] ?></td>
                <td><?= $retencoes['PIS'] ?></td>
                <td><?= $retencoes['COFINS'] ?></td>
                <td><?= $retencoes['CSLL'] ?></td>
                <td><?= $retencoes['IR'] ?></td>
                <td><?= $retencoes['PCC'] ?></td>
                <td><?= $retencoes['INSS'] ?></td>
                <td><?= number_format($totalRetencoes, 2, ',', '.') ?></td>
                <td><?= number_format($data['valor'], 2, ',', '.') ?></td>
                <td><?= number_format($valorLiquido, 2, ',', '.') ?></td>
            </tr>
        <?php endforeach; ?>
        <tr>
            <td colspan="10" align="right"><strong><?= htmlentities('Total de Retenções:') ?></strong></td>
            <td align="left"><strong><?= number_format($totalRetencoesPeriodo, 2, ',', '.') ?></strong></td>
            <td colspan="2" align="right"></td>
        </tr>
    <?php else: ?>
        <tr>
            <td colspan="13" align="center"><strong>Nenhum resultado foi encontrado!</strong></td>
        </tr>
    <?php endif; ?>
    </tbody>
</table>