<?php require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>
<head>
    <meta charset="UTF-8">
    <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php'); ?>
    <link rel="stylesheet" type="text/css" href="/utils/reports.css">
    <link rel="stylesheet" href="/utils/bootstrap-3.3.6-dist/css/bootstrap.min.css" />
    <script src="/utils/bootstrap-3.3.6-dist/js/bootstrap.min.js" ></script>
    <link rel="stylesheet" href="/utils/font-awesome-4.7.0/css/font-awesome.css" />
</head>
<div id="content">
    <div id="right">
        <center><h1>Criar Fatura de <?= $tipo_titulo ?></h1></center>
        <br>
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title pull-left" style="padding-top: 7.5px;">
                    <i class="fa fa-search" aria-hidden="true"></i> Pesquisar Parcelas Pendentes
                </h3>
            </div>
            <div class="panel-body" id="div-pesquisar-impostos-retidos-pendentes">
                <form id="form-impostos-retidos-pendentes">
                    <input type="hidden" id="tipo-nota" value="<?= $tipo ?>">
                    <div class="row">
                        <div class="col-xs-7">
                            <label for="fornecedor">Fornecedor:</label>
                            <select name="fornecedor" id="fornecedor" class="form-control chosen-select" >
                                <option value="" selected>Selecione...</option>
                                <?php foreach($fornecedores as $fornecedor): 
                                $inativo = $fornecedor['ATIVO'] == "N" ? '(INATIVO)': '';
                                $styleInativo = $fornecedor['ATIVO'] == "N" ? 'red': '';
                                $cpfCnpjFornecedor = $fornecedor['FISICA_JURIDICA'] == 1 ? $fornecedor['cnpj'] : $fornecedor['CPF'];
                                
                            ?>
                                    <option value="<?= $fornecedor['idFornecedores'] ?>" style="color:<?=$styleInativo?>"><?= $inativo.' '.$cpfCnpjFornecedor.'-'.strtoupper($fornecedor['fornecedor']) ?></option>
                                <?php endforeach; ?>
                            </select>
                        </div>
                        <div class="col-xs-5">
                            <label for="tipo-documento-financeiro">Tipo:</label>
                            <select name="tipo_documento_financeiro" id="tipo-documento-financeiro" class="form-control chosen-select">
                                <option value="" selected>Selecione...</option>
                                <?php foreach($tiposDocumentoFinanceiro as $tipoDocFin):
                                    if($tipoDocFin['id'] <> 25):?>
                                if($tipoDocFin['id'] <> 25)
                                    <option value="<?= $tipoDocFin['id'] ?>"><?= strtoupper($tipoDocFin['sigla']) ?> - <?= strtoupper($tipoDocFin['descricao']) ?> </option>
                                    <?php endif;
                                    endforeach; ?>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3">
                            <label for="tr-parcela">TR:</label>
                            <input type="number" name="tr_parcela" id="tr-parcela" class="form-control">
                        </div>
                        <div class="col-xs-3">
                            <label for="num-nota">N° Documento:</label>
                            <input type="text" name="num_nota" id="num-nota" value='<?= isset($num_nota)  ? $num_nota : "" ?>' class="form-control">
                        </div>
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label for="inicio">Vencimento Real Inicio:</label>
                                <input name="inicio" id="inicio" type="date" class="form-control" value='<?= isset($inicio)  ? $inicio : "" ?>' required>
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label for="fim">Vencimento Real Fim:</label>
                                <input name="fim"  id="fim" type="date" class="form-control" value='<?= isset($fim)  ? $fim : "" ?>' required>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 text-center">
                        <div  class="btn btn-primary" id="pesquisar-impostos-retidos-pendentes">
                            <span class='ui-button-text'>Buscar</span>
                        </div>
                        &nbsp;&nbsp;
                        <a  href="/financeiros/fatura-imposto/?action=index-fatura-imposto"
                            style="color: white;"
                            class='btn btn-warning' >
                            Voltar
                        </a>
                    </div>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <table class='table table-striped table-bordered' width='100%' >
                    <thead>
                    <tr>
                        <th></th>
                        <th>N° Documento</th>
                        <th>Fornecedor</th>
                        <th>Vencimento</th>
                        <th>Vencimento Real</th>
                        <th align="center">Tipo</th>
                        <th>Valor</th>
                    </tr>
                    </thead>
                    <tbody id="tbody-fatura-nota">
                    <tr>
                        <td id="info-fatura-nota" colspan="7" style="text-align: center">
                            Use a <b>Busca</b> para encontrar as parcelas que deseja aglutinar na fatura!
                        </td>
                    </tr>
                    </tbody>
                    <tfooter>
                        <tr>
                            <td colspan="6" style="text-align: right">
                                <input type="hidden" id="valor-total" value="0.00">
                                Total:
                            </td>
                            <td style="text-align: left" id="valor-total-text">
                                R$ 0,00
                            </td>
                        </tr>
                        <tr>
                            <td colspan="7" style="text-align: center">
                                <button class="btn btn-success" id="dados-nota-aglutinacao" role="button" type="button">
                                    Finalizar
                                </button>
                            </td>
                        </tr>
                    </tfooter>
                </table>
            </div>
        </div>

        <hr id="separator">
        <?php require __DIR__ . '/modal-associar-impostos.phtml' ?>
        <?php require __DIR__ . '/modal-dados-nota.phtml' ?>
        <hr id="separator">
    </div>
    <div id="left">
        <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
    </div>
</div>
<script type="text/javascript" src="/utils/jquery/js/jquery.maskedinput-1.3.js"></script>
<script type="text/javascript" src="/financeiros/fatura-imposto/js/main.js?v=1.6"></script>
<script type="text/javascript" src="/utils/jquery/js/chosen.jquery.min.js"></script>
<script type="text/javascript" src="/utils/jquery/js/voltar.js"></script>
<script type="text/javascript" src="/utils/jquery/js/validar_campos.js"></script>
<script type="text/javascript" src="/utils/bower_components/moment/moment.js"></script>
<script type="text/javascript" src="/utils/jquery/js/validar_vencimento_real.js?v=1.4"></script>


</body>
</html>