<?php require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>
<head>
    <meta charset="UTF-8">
    <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php'); ?>
    <link rel="stylesheet" type="text/css" href="/utils/reports.css">
    <link rel="stylesheet" href="/utils/bootstrap-3.3.6-dist/css/bootstrap.min.css" />
    <script src="/utils/bootstrap-3.3.6-dist/js/bootstrap.min.js" ></script>
    <link rel="stylesheet" href="/utils/font-awesome-4.7.0/css/font-awesome.css" />
    <!--<link rel="stylesheet" type="text/css" href="/utils/reports.css">
    <link rel="stylesheet" type="text/css" href="/utils/jquery/css/chosen/chosen.css">-->
</head>
<div id="content">
    <div id="right">
        <center><h1>Faturas de Aglutinação</h1></center>
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title pull-left" style="padding-top: 7.5px;">
                    <i class="fa fa-search" aria-hidden="true"></i>
                    Pesquisar Faturas de Aglutinação
                </h3>
                <?php if(isset($_SESSION['permissoes']['financeiro']['financeiro_conta_pagar_receber']['financeiro_conta_pagar_receber_fatura_aglutinacao']['financeiro_conta_pagar_receber_fatura_aglutinacao_nova']) || $_SESSION['adm_user'] == 1) { ?>
                <div class="btn-group pull-right">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Nova Fatura
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="/financeiros/fatura-imposto/?action=criar-fatura-imposto&tipo=S" target="_blank">Saída</a></li>
                        <li><a href="/financeiros/fatura-imposto/?action=criar-fatura-imposto&tipo=E" target="_blank">Entrada</a></li>
                    </ul>
                </div>
                <?php }?>
            </div>
            <div class="panel-body" id="div-pesquisar-faturas-previsao-cadastrada">
                <form method="post" action="/financeiros/fatura-imposto/?action=pesquisar-notas-aglutinacao">
                    <div class="row">
                        <div class="col-xs-6">
                            <label for="fornecedor">Fornecedor:</label>
                            <select name="fornecedor" id="fornecedor" class="form-control OBG_CHOSEN chosen-select" >
                                <option value="" selected>Selecione...</option>
                                <?php foreach($fornecedores as $fornecedor):                                 
                               
                                    $inativo = $fornecedor['ATIVO'] == "N" ? '(INATIVO)': '';
                                    $styleInativo = $fornecedor['ATIVO'] == "N" ? 'red': '';
                                    $cpfCnpjFornecedor = $fornecedor['FISICA_JURIDICA'] == 1 ? $fornecedor['cnpj'] : $fornecedor['CPF'];
                                    
                                ?>
                                    <option <?= isset($filtros['fornecedor']) && $filtros['fornecedor'] === $fornecedor['idFornecedores'] ? "selected" : "" ?> value="<?= $fornecedor['idFornecedores'] ?>" style="color:<?=$styleInativo?>"><?= $inativo.' '.$cpfCnpjFornecedor.'-'.strtoupper($fornecedor['nome']) ?></option>
                                <?php endforeach; ?>
                            </select>
                        </div>
                        <div class="col-xs-6">
                            <label for="tipo-documento-financeiro">Tipo:</label>
                            <select name="tipo_documento" id="tipo-documento-financeiro" class="form-control OBG_CHOSEN chosen-select">
                                <option value="" selected>Selecione...</option>
                                <?php foreach($tiposDocumentoFinanceiro as $tipoDocFin): ?>
                                    <option <?= isset($filtros['tipo_documento']) && $filtros['tipo_documento'] === $tipoDocFin['id'] ? "selected" : "" ?> value="<?= $tipoDocFin['id'] ?>"><?= strtoupper($tipoDocFin['sigla']) ?> - <?= strtoupper($tipoDocFin['descricao']) ?> </option>
                                <?php endforeach; ?>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label for="competencia-inicio">Competência Inicio:</label>
                                <input name="competencia_inicio" id="competencia-inicio" type="text" class="form-control mes-ano" value='<?= isset($filtros['competencia_inicio'])  ? $filtros['competencia_inicio'] : "" ?>'>
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label for="competencia-fim">Competência Fim:</label>
                                <input name="competencia_fim"  id="competencia-fim" type="text" class="form-control mes-ano" value='<?= isset($filtros['competencia_fim'])  ? $filtros['competencia_fim'] : "" ?>'>
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label for="inicio">Emissão Inicio:</label>
                                <input name="inicio" id="inicio" type="date" class="form-control" value='<?= isset($filtros['inicio'])  ? $filtros['inicio'] : "" ?>'>
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label for="fim">Emissão Fim:</label>
                                <input name="fim"  id="fim" type="date" class="form-control" value='<?= isset($filtros['fim'])  ? $filtros['fim'] : "" ?>'>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 text-center">
                        <button type="submit" class="btn btn-primary" id="pesquisar-faturas-aglutinadas">
                            <span class='ui-button-text'>Pesquisar</span>
                        </button>
                        &nbsp;&nbsp;
                        <a  href="/financeiros"
                            style="color: white;"
                            class='btn btn-warning' >
                            Voltar
                        </a>
                    </div>
                </form>
                <br>

            </div>
        </div>

        <div class="row">
            <?php if(!empty($response)): ?>
                <div class="col-xs-12">
                    <div style="overflow: auto;">
                        <table class='table table-striped table-bordered' width='100%'>
                            <thead>
                            <tr>
                                <th>N° Documento</th>
                                <th>Fornecedor</th>
                                <th>Valor</th>
                                <th>Emissão</th>
                                <th>Competência</th>
                                <th>Natureza</th>
                                <th>Tipo</th>
                                <th>Tipo Documento</th>
                                <th>Empresa</th>
                                <th>Status</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody id="tbody-fatura-nota">
                            <?php foreach($response as $resp): ?>
                                <tr>
                                    <td><?= $resp['codigo'] ?></td>
                                    <td><?= $resp['nome_fornecedor'] ?></td>
                                    <td><?= number_format($resp['valor'], 2, ',', '.') ?></td>
                                    <td><?= $resp['data_emissao'] ?></td>
                                    <td><?= \DateTime::createFromFormat('Y-m', $resp['data_competencia'])->format('m/Y') ?></td>
                                    <td><?= $resp['N4'] ?></td>
                                    <td><?= $resp['tipo_NF'] ?></td>
                                    <td><?= $resp['sigla'] ?></td>
                                    <td><?= $resp['ur'] ?></td>
                                    <td><?= $resp['status'] ?></td>
                                    <td>
                                        <div class="dropdown">
                                            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                                                Opções
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-right">
                                                <li>
                                                    <a href="#" id="visualizar-parcelas-aglutinadas" id-nota-aglutinacao="<?= $resp['idNotas'] ?>">
                                                        <i class='fa fa-list'></i>
                                                        Visualizar Parcelas Aglutinadas
                                                    </a>
                                                </li>
                                                <?php if($resp['status'] != 'Processada'): ?>
                                                    <li>
                                                    <?php if(isset($_SESSION['permissoes']['financeiro']['financeiro_conta_pagar_receber']['financeiro_conta_pagar_receber_fatura_aglutinacao']['financeiro_conta_pagar_receber_fatura_aglutinacao_excluir']) || $_SESSION['adm_user'] == 1) { ?>

                                                        <a href="#" id="desfazer-nota-aglutinacao" id-nota-aglutinacao="<?= $resp['idNotas'] ?>">
                                                            <i class='fa fa-times'></i>
                                                            Desfazer Aglutinação
                                                        </a>
                                                    <?php }?>
                                                    </li>
                                                <?php endif; ?>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            <?php endforeach; ?>
                            </tbody>
                        </table>
                    </div>
                </div>
                <?php require __DIR__ . '/modal-visualizar-parcelas.phtml' ?>
            <?php else:?>
                <div class="col-xs-12 text-center alert alert-danger">
                    Nenhuma Fatura encontrada para os filtros escolhidos.
                </div>
            <?php endif; ?>
        </div>
    </div>
    <div id="left">
        <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
    </div>
</div>
<script type="text/javascript" src="/financeiros/fatura-imposto/js/main.js?v=1.3"></script>
<script type="text/javascript" src="/utils/bower_components/moment/moment.js"></script>
<script type="text/javascript" src="/utils/jquery/js/chosen.jquery.min.js"></script>
<script type="text/javascript" src="/utils/jquery/js/voltar.js"></script>
<script type="text/javascript" src="/utils/jquery/js/validar_campos.js"></script>

</body>
</html>