<style>
    .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
        background-color: #eee;
    }
</style>
<div class="modal fade" id="modal-visualizar-parcelas" tabindex="-1" role="dialog" aria-labelledby="modalAddItemLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="modalAddItemLabel">Parcelas Aglutinadas</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-md-12">
                        <div id="response"  class="col-md-12" style="overflow: auto">
                            <table class='table table-striped table-hover table-bordered' width='100%' >
                                <thead>
                                <tr>
                                    <th class="text-center">N° Documento</th>
                                    <th class="text-center">Parcela N°</th>
                                    <th class="text-center">UR</th>
                                    <th class="text-center">Fornecedor</th>
                                    <th class="text-center">Data da Emissão</th>
                                    <th class="text-center">Vencimento</th>
                                    <th class="text-center">Valor</th>
                                    <th class="text-center">Tipo</th>
                                </tr>
                                </thead>
                                <tbody id="tbody-parcelas-result">

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
