<!-- Modal -->
<?php
$fechamento_caixa = \App\Controllers\FechamentoCaixa::getFechamentoCaixa();
$interval = new \DateInterval('P1D');
$data_fechamento_obj = \DateTime::createFromFormat('Y-m-d', $fechamento_caixa['data_fechamento'])->add($interval);
$data_fechamento = $data_fechamento_obj->format('Y-m-d');
$competencia = (new \DateTime())->format('m/Y');
?>
<div class="modal fade" id="modal-dados-nota" tabindex="-1" role="dialog" aria-labelledby="modalDadosNotaLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="modalDadosNotaLabel">Dados da Nota</h4>
            </div>
            <div class="modal-body form-horizontal">
                <div id="div-dados-nota-aglutinacao">
                    <input type="hidden" id="data-fechamento" value="<?= $data_fechamento ?>">
                    <div class="form-group">
                        <div class="col-md-2">
                            <label for="competencia">Competência</label>
                        </div>
                        <div class="col-md-4">
                            <input name="competencia" maxlength="7" id="competencia" type="text" class="form-control mes-ano OBG" value='<?= $competencia ?>' required>
                        </div>
                        <div class="col-md-2">
			                <label>Forma Pagamento</label>
                        </div>
                        <div class="col-md-4">
                            <select id='select_forma_pagamento' required name='select_forma_pagamento' class='select_small OBG_CHOSEN  chosen-select form-control'>    
                            <option value="" >Selecione...</option>    
                            <?php foreach($aplicacoes as $ap): ?>
                                    <option value="<?= $ap['id'] ?>">
                                        <?= mb_strtoupper($ap['forma'], 'UTF-8')?> 
                                    </option>
                                <?php endforeach; ?>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2">
                            <label for="">Tipo do Doc.</label>
                        </div>
                        <div class="col-md-4">
                            <select name="tipo_documento_nota"
                                    id="tipo-documento-nota"
                                    class="form-control OBG_CHOSEN chosen-select">
                                <option value="" selected>Selecione...</option>
                                <?php foreach($tiposDocumentoFinanceiro as $tipoDocFin): ?>
                                    <option value="<?= $tipoDocFin['id'] ?>">
                                        <?= strtoupper($tipoDocFin['sigla']) ?> - <?= strtoupper($tipoDocFin['descricao']) ?>
                                    </option>
                                <?php endforeach; ?>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label for="">Nº da Nota</label>
                        </div>
                        <div class="col-md-4">
                            <input type="text" name="numero_nota" id="numero-nota" class="form-control OBG">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2">
                            <label for="">Natureza</label>
                        </div>
                        <div class="col-md-10">
                            <select name="natureza_nota"
                                    id="natureza-nota"
                                    data-placeholder="Selecione a natureza da nota..."
                                    class="form-control chosen-select OBG_CHOSEN">
                                <option disabled selected value="">Selecione a natureza da nota...</option>
                                <?php foreach ($naturezas as $grupo => $natureza): ?>
                                    <optgroup label="<?= $grupo ?>">
                                        <?php foreach ($natureza as $item): ?>
                                            <option tipo="<?= $item['N1'] ?>" value="<?= $item['ID'] ?>">
                                                <?= str_replace('.', '', $item['COD_N4']) ?> -
                                                <?= $item['N4'] ?>
                                            </option>
                                        <?php endforeach; ?>
                                    </optgroup>
                                <?php endforeach; ?>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2">
                            <label for="">Fornecedor</label>
                        </div>
                        <div class="col-md-10">
                            <select name="fornecedor_nota"
                                    id="fornecedor-nota"
                                    data-placeholder="Selecione a fornecedor da nota..."
                                    class="form-control chosen-select OBG_CHOSEN">
                                <option disabled selected value="">Selecione a fornecedor da nota...</option>
                                <?php foreach($fornecedoresAtivos as $fornecedor): ?>
                                    <option value="<?= $fornecedor['idFornecedores'] ?>"><?= strtoupper($fornecedor['fornecedor']) ?></option>
                                <?php endforeach; ?>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2">
                            <label for="">Unidade Regional</label>
                        </div>
                        <div class="col-md-10">
                            <select name="ur_nota"
                                    id="ur-nota"
                                    data-placeholder="Selecione a UR da nota..."
                                    class="form-control chosen-select OBG_CHOSEN">
                                <option disabled selected value="">Selecione a ur da nota...</option>
                                <?php foreach($unidades as $unidade): ?>
                                    <option value="<?= $unidade['id'] ?>"><?= strtoupper($unidade['nome']) ?></option>
                                <?php endforeach; ?>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2">
                            <label for="">Data da Emissão</label>
                        </div>
                        <div class="col-md-4">
                            <input type="date" name="data_emissao" min="<?= $data_fechamento ?>" id="data-emissao" class="form-control OBG" value="<?= $hoje ?>">
                        </div>
                        <div class="col-md-2">
                            <label for="">Data do Venc.</label>
                        </div>
                        <div class="col-md-4">
                            <input type="date" name="data_vencimento" id="data-vencimento" class="form-control OBG">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2">
                            <label for="">Data do Venc Real.</label>
                        </div>
                        <div class="col-md-4">
                            <input type="date" name="data_vencimento_real" id="data-vencimento-real" class="form-control OBG">
                        </div>
                        <div class="col-md-2">
                            <label for="">Centro de Custo</label>
                        </div>
                        <div class="col-md-4">
                            <select name="assinatura"
                                    id="assinatura"
                                    data-placeholder="Selecione o setor..."
                                    class="form-control chosen-select OBG_CHOSEN">
                                <option disabled selected value="">Selecione o centro de custo...</option>
                                <?php foreach($assinaturas as $assinatura): ?>
                                    <option <?= isset($response['ASSINATURA']) && $response['ASSINATURA'] == $assinatura['ID']  ? "selected": "" ?> value="<?= $assinatura['ID'] ?>"><?= mb_strtoupper($assinatura['DESCRICAO'],'UTF-8') ?></option>
                                <?php endforeach; ?>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2">
                            <label for="">Descrição</label>
                        </div>
                        <div class="col-md-10">
                            <textarea name="descricao" id="descricao" style="text-transform: uppercase" cols="10" rows="3" class="form-control OBG"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12 text-center">
                            <button type="button" class="btn btn-success" id="criar-nota-aglutinacao">Salvar</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning cancelar-dados-nota-aglutinacao" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
