<?php require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>
<head>
    <meta charset="UTF-8">
    <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php');?>
    <link rel="stylesheet" type="text/css" href="/utils/reports.css">
    <link rel="stylesheet" href="/utils/bootstrap-3.3.6-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/utils/jquery/css/toggle/toggle.css" />
    <link rel="stylesheet" href="/utils/bootstrap-3.3.6-dist/css/chosen.bootstrap.min.css" />
    <link rel="stylesheet" href="/utils/font-awesome-4.7.0/css/font-awesome.css" />
    <link rel="stylesheet" href="/utils/jquery/summernote/summernote.css" />
</head>
<div id="content">
    <div id="right">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title pull-left" style="padding-top: 7.5px;">
                    <i class="fa fa-list-alt " aria-hidden="true"></i> <?= $titulo_formulario ?></b>
                </h3>
            </div>

            <?php
            $display = "none";
            if(isset($_GET['msg']) && !empty($_GET['msg'])) {
                $display = "block";
                $class = "alert-danger";
                $msg = base64_decode($_GET['msg']);
                if ($_GET['type'] == 's') {
                    $class = "alert-success";
                }
            }
            ?>

            <div style="display:<?= $display ?> " class="alert <?= $class ?>">
                <strong><?= $msg ?></strong>
            </div>

            <div class="panel-body">
                <form method="post" action="?action=salvar-relatorio-prestador">
                    <input type="hidden" name="empresa_id" id="empresa-id" value="">
                    <input type="hidden" name="convenio_id" id="convenio-id" value="">
                    <input type="hidden" name="tipo" id="tipo-relatorio" value="<?= $_GET['tipo'] ?>">
                    <div id="div-salvar-relatorio-prestador">
                        <div class="row">
                            <div class="col-xs-12">
                                <table class="table table-condensed table-striped table-bordered">
                                    <thead>
                                    <tr>
                                        <th colspan="2">Informações sobre o paciente</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td class="col-xs-6"><b>Período</b></td>
                                        <td class="col-xs-6"><b>Paciente</b></td>
                                    </tr>
                                    <tr>
                                        <td class="col-xs-6">
                                            <input type="date" name="inicio" id="inicio" class="" value="<?= $response['inicio'] ?>" required>
                                            à
                                            <input type="date" name="fim" id="fim" class="" value="<?= $response['fim'] ?>" required>
                                        </td>
                                        <td class="col-xs-6">
                                            <select name="paciente" class="chosen-select OBG_CHOSEN form-control" id='paciente' required>
                                                <option value="">Selecione...</option>
                                                <?php foreach($pacientes as $paciente): ?>
                                                    <option <?= isset($pacienteId) && $pacienteId === $paciente['id'] ? "selected" : "" ?> value="<?= $paciente['id'] ?>">(<?= $paciente['codigo'] ?>) <?= strtoupper($paciente['nome']) ?></option>
                                                <?php endforeach; ?>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-xs-6"><b>Gênero</b></td>
                                        <td class="col-xs-6"><b>Idade</b></td>
                                    </tr>
                                    <tr>
                                        <td class="col-xs-6" id="genero"></td>
                                        <td class="col-xs-6" id="idade"></td>
                                    </tr>
                                    <tr>
                                        <td class="col-xs-6"><b>Unidade Regional</b></td>
                                        <td class="col-xs-6"><b>Convênio</b></td>
                                    </tr>
                                    <tr>
                                        <td class="col-xs-6" id="unidade-regional"></td>
                                        <td class="col-xs-6" id="convenio-paciente"></td>
                                    </tr>
                                    <tr>
                                        <td class="col-xs-6"><b>Matrícula</b></td>
                                        <td class="col-xs-6"><b>Modalidade</b></td>
                                    </tr>
                                    <tr>
                                        <td class="col-xs-6" id="matricula"></td>
                                        <td class="col-xs-6" id="modalidade"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <br>
                        <div class="panel panel-default">
                            <div class="panel-heading clearfix">
                                <h3 class="panel-title pull-left" style="padding-top: 7.5px;">
                                    <i class="fa fa-list-alt " aria-hidden="true"></i> Evolução</b>
                                </h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <label for="evolucao">Evolução</label>
                                        <textarea name="evolucao" id="evolucao" cols="30" class="form-control OBG summernote" style="height: 50px;" rows="10" required></textarea>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-xs-3">
                                        <label for="evolucao-data-visita">Data da Visita:</label>
                                        <input type="date" name="data_visita" id="evolucao-data-visita" class="form-control OBG" required>
                                    </div>
                                    <div class="col-xs-6">
                                        <label for="evolucao-profissional"><?= $labelsPrestador['profissional'] ?>:</label>
                                        <input type="text" name="profissional" id="evolucao-profissional" class="form-control OBG" required>
                                    </div>
                                    <div class="col-xs-3">
                                        <label for="evolucao-conselho"><?= $labelsPrestador['conselho'] ?>:</label>
                                        <input type="text" name="conselho" id="evolucao-conselho" class="form-control OBG" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <br>
                        <div class="col-xs-12 text-center">
                            <div class="form-group">
                                <button type="submit" id="salvar-relatorio-prestador" class='btn btn-primary'>
                                    Salvar
                                </button>
                                <a href="/prestador/?action=listar-form" class='btn btn-warning'>
                                    Cancelar
                                </a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/utils/bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/utils/jquery/summernote/summernote.js"></script>
<script type="text/javascript" src="/utils/jquery/summernote/lang/summernote-pt-BR.js"></script>
<script type="text/javascript" src="/prestador/js/main.js?v=2"></script>
<script type="text/javascript" src="/utils/jquery/js/validar_campos.js"></script>
<script type="text/javascript" src="/utils/jquery/js/bootstrap-toggle.min.js"></script>
<div id="left">
    <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
</div>

</body>
</html>