<?php require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>
<head>
    <meta charset="UTF-8">
    <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php'); ?>
    <link rel="stylesheet" type="text/css" href="/utils/reports.css">
    <link rel="stylesheet" href="/utils/bootstrap-3.3.6-dist/css/bootstrap.min.css" />
    <script src="/utils/bootstrap-3.3.6-dist/js/bootstrap.min.js" ></script>
    <link rel="stylesheet" href="/utils/font-awesome-4.7.0/css/font-awesome.css" />
</head>
<div id="content">
    <div id="right">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title pull-left" style="padding-top: 7.5px;">
                    <i class="fa fa-search" aria-hidden="true"></i> Listar Prorrogações e Deflagrados
                </h3>
                <div class="btn-group pull-right">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        + Novo Relatório
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="?action=prestador-form&tipo=p" target="_blank">Prorrogação</a></li>
                        <li><a href="?action=prestador-form&tipo=d" target="_blank">Deflagrado</a></li>
                    </ul>
                </div>
            </div>
            <div class="panel-body" id="div-buscar-relatorio-prestador">
                <form method="post" action="?action=listar-relatorios-prestador">
                    <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="paciente">Paciente:</label>
                                    <select name="paciente" class="chosen-select OBG_CHOSEN form-control" id='paciente' required>
                                        <option value="">Selecione...</option>
                                        <?php foreach($pacientes as $paciente): ?>
                                            <option <?= isset($data['paciente']) && $data['paciente'] === $paciente['id'] ? "selected" : "" ?> value="<?= $paciente['id'] ?>">(<?= $paciente['codigo'] ?>) <?= strtoupper($paciente['nome']) ?></option>
                                        <?php endforeach; ?>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="tipo-relatorio">Tipo Relatório:</label>
                                    <select id="tipo-relatorio" name="tipo_relatorio" class="OBG form-control" >
                                        <option selected <?= isset($data['tipo_relatorio']) && $data['tipo_relatorio'] === 'p' ? "selected" : "" ?> value="p">Prorrogação</option>
                                        <option <?= isset($data['tipo_relatorio']) && $data['tipo_relatorio'] === 'd' ? "selected" : "" ?> value="d">Deflagrado</option>
                                    </select>
                                </div>
                            </div>
                    </div>
                    <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="periodo">Inicio:</label>
                                    <input name="inicio" type="date" class="form-control" value='<?= isset($data['inicio'])  ? $data['inicio'] : "" ?>' required>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="periodo">Fim:</label>
                                    <input name="fim" type="date" class="form-control" value='<?= isset($data['fim'])  ? $data['fim'] : "" ?>' required>
                                </div>
                            </div>
                    </div>
                    <div class='row'>
                    <div class="col-lg-12 text-center">
                            <div class="form-group">
                                <button type="submit" class='btn btn-primary' id="buscar-relatorio-prestador" >
                                    Pesquisar
                                </button>
                            </div>
                        </div>
                    </div>                      
                    
                </form>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-12">
                <?php
                if(isset($relatorios)):
                    if(empty($relatorios)) : ?>
                        <h4 class="text-center">Nenhum relatório encontrado.</h4>
                    <?php
                    else:
                        if(is_array($relatorios)): ?>
                            <table class='table'>
                                <thead>
                                <th>Paciente</th>
                                <th>Tipo</th>
                                <th>Período</th>
                                <th>Criado Em</th>
                                <th></th>
                                </thead>
                                <?php
                                foreach($relatorios as $row):
                                    $tipoRelatorio = $row['tipo_relatorio'] == 'p' ? 'Prorrogação' : 'Deflagrado';
                                    $inicio = \DateTime::createFromFormat('Y-m-d', $row['inicio'])->format('d/m/Y');
                                    $fim = \DateTime::createFromFormat('Y-m-d', $row['fim'])->format('d/m/Y');
                                    $criadoEm = \DateTime::createFromFormat('Y-m-d H:i:s', $row['created_at'])->format('d/m/Y à\s H:i:s');
                                    ?>
                                    <tr>
                                        <td><?= $row['paciente'] ?></td>
                                        <td><?= $tipoRelatorio ?></td>
                                        <td><?= $inicio ?> à <?= $fim ?></td>
                                        <td><?= $criadoEm ?></td>
                                        <td>
                                            <div class="btn-group">
                                                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                    Ações
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                                    <li><a href="/prestador/?action=prestador-visualizar&id=<?= $row['id'] ?>" target="_blank">Visualizar</a></li>
                                                    <?php if($row['emitido'] == 0): ?>
                                                    <li><a href="/prestador/?action=prestador-form-editar&id=<?= $row['id'] ?>" target="_blank">Editar</a></li>
                                                    <?php endif; ?>
                                                </ul>
                                            </div>
                                            <!--<a target="_blank" href="/prestador/?action=cancelar-relatorio&id=<?/*=$row['id'] */?>" style="width: 120px;color: white !important;" class="btn btn-primary" title="Cancelar Relatório">
                                            <i class="glyphicon glyphicon-list-alt"></i>
                                            Cancelar
                                        </a>-->
                                        </td>
                                    </tr>
                                <?php endforeach; ?>
                            </table>
                        <?php else: ?>
                            <span class="text-center"><b><?=$response ?></b></span>
                        <?php
                        endif;
                    endif;
                endif;
                ?>
            </div>
        </div>
    </div>

    <div id="left">
        <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
    </div>
</div>

<script type="text/javascript" src="/utils/jquery/js/validar_campos.js"></script>
<script type="text/javascript" src="/prestador/js/main.js?v=1"></script>
</body>
</html>