<?php require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>
<head>
 <meta charset="UTF-8">
 <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php'); ?>
 <link rel="stylesheet" type="text/css" href="/utils/reports.css">
</head>
<div id="content">
 <div id="right">
   <p><a href='/prestador/?action=listar-form'>Listar Prorrogações e Deflagrados</a></p>
   <p><a href='/prestador/?action=prestador-form&tipo=p'>Prorrogar Paciente</a></p>
   <p><a href='/prestador/?action=prestador-form&tipo=d'>Deflagrado de Paciente</a></p>

 </div>
 <div id="left">
  <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
 </div>
</div>
</body>
</html>