<?php require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>
<head>
    <meta charset="UTF-8">
    <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php');?>
    <link rel="stylesheet" type="text/css" href="/utils/reports.css">
    <link rel="stylesheet" href="/utils/bootstrap-3.3.6-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/utils/jquery/css/toggle/toggle.css" />
    <link rel="stylesheet" href="/utils/bootstrap-3.3.6-dist/css/chosen.bootstrap.min.css" />
    <link rel="stylesheet" href="/utils/font-awesome-4.7.0/css/font-awesome.css" />
</head>
<div id="content">
    <div id="right">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title pull-left" style="padding-top: 7.5px;">
                    <i class="fa fa-list-alt " aria-hidden="true"></i> Visualizar <?= $titulo_formulario ?></b>
                </h3>
            </div>

            <div class="panel-body">
                <div id="div-salvar-formulario-condensado">
                    <div class="row">
                        <div class="col-xs-12">
                            <table class="table table-condensed table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th colspan="2">Informações sobre o paciente</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="col-xs-6"><b>Período</b></td>
                                    <td class="col-xs-6"><b>Paciente</b></td>
                                </tr>
                                <tr>
                                    <td class="col-xs-6">
                                        <?= $response['inicio'] ?>
                                        à
                                        <?= $response['fim'] ?>
                                    </td>
                                    <td class="col-xs-6">
                                        <?= $response['paciente'] ?>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-xs-6"><b>Gênero</b></td>
                                    <td class="col-xs-6"><b>Idade</b></td>
                                </tr>
                                <tr>
                                    <td class="col-xs-6" id="genero"><?= $response['genero'] ?></td>
                                    <td class="col-xs-6" id="idade"><?= $response['idade'] ?></td>
                                </tr>
                                <tr>
                                    <td class="col-xs-6"><b>Unidade Regional</b></td>
                                    <td class="col-xs-6"><b>Convênio</b></td>
                                </tr>
                                <tr>
                                    <td class="col-xs-6" id="unidade-regional"><?= $response['nomeempresa'] ?></td>
                                    <td class="col-xs-6" id="convenio-paciente"><?= $response['nomeplano'] ?></td>
                                </tr>
                                <tr>
                                    <td class="col-xs-6"><b>Matrícula</b></td>
                                    <td class="col-xs-6"><b>Modalidade</b></td>
                                </tr>
                                <tr>
                                    <td class="col-xs-6" id="matricula"><?= $response['matricula'] ?></td>
                                    <td class="col-xs-6" id="modalidade"><?= $response['modalidade'] ?></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <br>
                    <div class="panel panel-default">
                        <div class="panel-heading clearfix">
                            <h3 class="panel-title pull-left" style="padding-top: 7.5px;">
                                <i class="fa fa-list-alt " aria-hidden="true"></i> Evolução</b>
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-12">
                                    <?= htmlspecialchars_decode(stripslashes($response['evolucao'])) ?>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-xs-3">
                                    <label for="evolucao-data-visita">Data da Visita:</label>
                                    <input type="date" name="data_visita" id="evolucao-data-visita" class="form-control" value="<?= $response['data_visita'] ?>" disabled>
                                </div>
                                <div class="col-xs-6">
                                    <label for="evolucao-profissional"><?= $labelsPrestador['profissional'] ?>:</label>
                                    <input type="text" name="profissional" id="evolucao-profissional" class="form-control" value="<?= $response['profissional'] ?>" disabled>
                                </div>
                                <div class="col-xs-3">
                                    <label for="evolucao-conselho"><?= $labelsPrestador['conselho'] ?>:</label>
                                    <input type="text" name="conselho" id="evolucao-conselho" class="form-control" value="<?= $response['conselho_regional'] ?>" disabled>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="col-xs-12 text-center">
                        <div class="form-group">
                            <a href="/prestador/?action=listar-form" class='btn btn-warning'>
                                Voltar
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/utils/bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/prestador/js/main.js?v=1"></script>
<script type="text/javascript" src="/utils/jquery/js/validar_campos.js"></script>
<script type="text/javascript" src="/utils/jquery/js/bootstrap-toggle.min.js"></script>
<div id="left">
    <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
</div>

</body>
</html>