$btn_color_blue : #337AB7;

.square-button {
  border-radius: 0;
  box-shadow: none;
  padding: 10px 15px;
  font-size: 16px;
}

.square-button-blue {
  background: $btn_color_blue;
  border: 1px solid $btn_color_blue;
  color: #FFF;
}

.full-screen {
  position: fixed;
  background-color: #FFF;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  transition: all 0.3s;
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
  padding: 15px;
}

.report__button-full-screen {
  background: #0b559b;
  color: #FFF;
  border: none;
  padding: 5px 15px;
}

.button-show-line {
  button {
    background: #0b559b;
    color: #FFF;
    border: none;
    height: 19px;
    width: 20px;
    font-size: 20px;
    display: flex;
    align-items: center;
    font-weight: 700;
  }
}

#outerdiv.not-full-screen {
  position: relative;
  top: 0;
  left: 0;
  right: 5em;
}
#outerdiv.full-screen.report {
  position: fixed;
  top: 0;
  left: 0;
  right: 5em;
  width: 100%;
  overflow-y: auto;

  .headcol {
    left: 17px;
    border-left: none;
  }

}
#innerdiv {
  overflow-x:auto;
  margin-left: 30em;
  overflow-y:visible;
  padding-bottom:1px;
}