<select name="paciente" class="chosen-select OBG_CHOSEN paciente" style="width: 400px;" <?php echo $required; ?> >
    <?php
    $condicaoTodos = '';
    if($todos == 'S'){
        $condicaoTodos = '<option  value="T">TODOS</option>';

    }

    ?>
    <option selected disabled value="">Selecione...</option>
    <?php
    echo $condicaoTodos;
    $i = 0;
    $grupo = "";
    foreach($pacientes as $paciente):
        if($grupo != $paciente['optgroup']):
            if($i > 0):
                $var .= "</optgroup>";
            endif;
            echo "<optgroup label='::: " . ucfirst($paciente['optgroup']) . " :::'>";
            $grupo = $paciente['optgroup'];
        endif;
        $selected = '';
        if((isset($_GET['paciente']) && $_GET['paciente'] === $paciente['id']) || $pacienteId === $paciente['id']){
            $selected = 'selected';
        }

        ?>

        <option operadora="<?= $paciente['operadora'] ?>" <?=$selected?> value="<?= $paciente['id'] ?>">(<?= $paciente['codigo'] ?>) <?= strtoupper($paciente['nome']) ?></option>
        <?php
        $i++;
    endforeach;
    echo "</optgroup>";
    ?>
</select>