<!-- Modal -->
<div class="modal fade" id="modal-estornar-parcela" tabindex="-1" role="dialog" aria-labelledby="modalEstornarParcelaLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="modalEstornarParcelaLabel">Estornar Parcela</h4>
            </div>
            <div class="modal-body form-horizontal">
                <div id="div-estornar-parcela">
                    <div class="form-group">
                        <div class="col-md-4">
                            <label for="">Valor do Estorno</label>
                            <input type="text" name="valor_estorno" class="form-control valor text-right" id="valor-estorno" value="0,00">
                            <input type="hidden" name="valor_original" id="valor-original-parcela" value="">
                        </div>
                        <div class="col-md-8">
                            <label for="">Conta</label>
                            <input type="hidden" name="parcela_id" id="parcela-id-estornar" value="">
                            <select name="conta" id="conta" class="form-control OBG_CHOSEN chosen-select">
                                <option value="" selected disabled>Selecione uma conta...</option>
                                <?php foreach($contas = App\Models\Financeiro\ContaBancaria::getContasBancariasByURs($_SESSION['empresa_user']) as $conta): ?>
                                    <option value="<?= $conta['id'] ?>">
                                        <?= $conta['forma'] ?> - <?= $conta['abreviacao'] ?> - <?= $conta['agencia'] ?> - <?= $conta['conta'] ?> - <?= $conta['ur'] ?>
                                    </option>
                                <?php endforeach; ?>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            <label for="">Data do Agendamento</label>
                            <input type="date" name="data_agendamento" class="form-control" id="data-agendamento" value="">
                        </div>
                        <div class="col-md-4">
                            <label for="">Data do Estorno</label>
                            <input type="date" name="data_estorno" class="form-control" id="data-estorno" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12 text-center">
                            <button type="button" class="btn btn-success" id="salvar-estornar-parcela">Salvar</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
