
<html>
<head>
    <link rel='stylesheet' href='/adm/secmed/templates/formulario-condensado/css/pdf.css'>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
</head>
<body>
    <table  class='table'>
        <tr>
            <td class='col-xs-2 text-left'>
                <img width='120' height='70' src='/var/www/sismederi//utils/logo-planserv.jpg'>
            </td>
            <td class='col-xs-8 text-center'>
                <h1>Prorrogação</h1>
            </td>
            <td class='col-xs-2' >
                <img width='120'  height='70' src='/var/www/sismederi//utils/logos/padrao_10.jpg'> 
            </td>
        </tr>
    </table><table class='table table-condensed table-striped table-bordered'>
    <tbody>
    <tr>
        <td colspan='3'><strong>INFORMAÇÕES SOBRE O PACIENTE</strong></td>
    </tr>
    <tr>
        <td class='col-xs-6'><strong>PERÍODO</strong></td>
        <td class='col-xs-6' colspan='2'><b>PACIENTE</b></td>
    </tr>
    <tr>
        <td class='col-xs-6'>
            01/11/2018
            à
            30/11/2018
        </td>
        <td class='col-xs-6' colspan='2'>
            Acsa Aryelle Neves da Silva Costa
        </td>
    </tr>
    <tr>
        <td class='col-xs-6'><b>GÊNERO</b></td>
        <td class='col-xs-6' colspan='2'><b>IDADE</b></td>
    </tr>
    <tr>
        <td class='col-xs-6' id='genero'>Feminino</td>
        <td class='col-xs-6' colspan='2' id='idade'>10</td>
    </tr>
    <tr>
        <td class='col-xs-6'><b>UNIDADE REGIONAL</b></td>
        <td class='col-xs-6' colspan='2'><b>CONVÊNIO</b></td>
    </tr>
    <tr>
        <td class='col-xs-6' id='unidade-regional'>Mederi Feira de Santana</td>
        <td class='col-xs-6' colspan='2' id='convenio-paciente'>PLANSERV CREDENCIADO LIMINAR</td>
    </tr>
    <tr>
        <td class='col-xs-6'><b>MATRÍCULA</b></td>
        <td class='col-xs-6' colspan='2'><b>MODALIDADE</b></td>
    </tr>
    <tr>
        <td class='col-xs-6' id='matricula'>57022623520038</td>
        <td class='col-xs-6' colspan='2' id='modalidade'>Internação Domiciliar 24h sem respirador</td>
    </tr>
    <tr>
        <td class='col-xs-6'><b>DIETA</b></td>
        <td class='col-xs-6' colspan='2'><b>VIA</b></td>
    </tr>
    <tr>
        <td class='col-xs-6'>
            ( x ) Artesanal
            (  ) Industrializada
            (  ) Mista
        </td>
        <td class='col-xs-6' colspan='2'>
            ( x ) Oral
            (  ) SNE
            (  ) GTT
            (  ) Jejuno
            (  ) BI
            (  ) Gravitacional
        </td>
    </tr>
    <tr>
        <td class='col-xs-6'><b>NOME DA DIETA</b></td>
        <td class='col-xs-6' colspan='2'><b>ADMINISTRAÇÃO DA DIETA</b></td>
    </tr>
    <tr>
        <td class='col-xs-6'>
            teste1
        </td>
        <td class='col-xs-6' colspan='2'>
            teste2
        </td>
    </tr>
    <tr>
        <td class='col-xs-6'><b>OXIGENOTERAPIA</b></td>
        <td class='col-xs-6' colspan='2'><b>VAZÃO</b></td>
    </tr>
    <tr>
        <td class='col-xs-6'>
            (  ) Concentrador
            (  ) Torpedo de O²
        </td>
        <td class='col-xs-6' colspan='2'>
            (  ) 1 L/M
            (  ) 2 L/M
            (  ) 3 L/M
            (  ) 4 L/M
            (  ) 5 L/M
            (  ) ACIMA DE 5 L/M
        </td>
    </tr>
    <tr>
        <td class='col-xs-6'><b>DEAMBULA</b></td>
        <td class='col-xs-6' colspan='2'><b>DRENO / CATETERES / OSTOMIAS</b></td>
    </tr>
    <tr>
        <td class='col-xs-6'>
            (  ) Sim. sem auxílio
            (  ) Sim, com auxílio
            (  ) Não
        </td>
        <td class='col-xs-6' colspan='2'>
            (  ) Sim. família apta
            (  ) Sim, família não apta
            (  ) Não
        </td>
    </tr>
    <tr>
        <td class='col-xs-12' colspan='3'><b>EQUIPAMENTOS</b></td>
    </tr>
    <tr>
        <td class='col-xs-6'>
            <div class='col-xs-3'>
                (  ) Cama Completa
                (  ) Cadeira de Rodas
                (  ) Cadeira Higiênica
                (  ) Cama Elétrica
            </div>
            <div class='col-xs-3'>
                ( x ) Nebulizador
                ( x ) Aspirador
                ( x ) Glicosímetro
                (  ) BI
            </div>
        </td>
        <td class='col-xs-6' colspan='2'>
            <div class='col-xs-3'>
                ( x ) Oxímetro
                (  ) BI-pap
                (  ) Nobreak
                (  ) Respirador
            </div>
            <div class='col-xs-3'>
                ( x ) Suporte de Soro
                ( x ) Recarga Torpedo
                (  ) Andador
                (  ) Colchão Pneumático
            </div>
        </td>
    </tr>
    <tr>
        <td class='col-xs-12' colspan='3'>
            <div class='col-xs-12'>
                (  ) Outros: 
            </div>
        </td>
    </tr>
    <tr>
        <td class='col-xs-6'><b>INTEGRIDADE CUTÂNEA</b></td>
        <td class='col-xs-6' colspan='2'><b>TIPO DA LESÃO</b></td>
    </tr>
    <tr>
        <td class='col-xs-6'>
            (  ) Íntegra
            (  ) Com lesão
        </td>
        <td class='col-xs-6'>
            <div class='col-xs-6'>
                (  ) LPP
                (  ) Úlcera Venosa
                (  ) Úlcera Diabética
                (  ) Lesão Oncológica
            </div>
            <div class='col-xs-6'>
                (  ) FO
                (  ) Queimadura
                (  ) Deiscencia FO
                (  ) Dermatite incontinência
            </div>
        </td>
    </tr>
    <tr>
        <td class='col-xs-6'><b>ANTIBIÓTICO</b></td>
        <td class='col-xs-6' colspan='2'><b>PERÍODO</b></td>
    </tr>
    <tr>
        <td class='col-xs-6'>
            (  ) Sim
            ( x ) Não
        </td><td class='col-xs-6' colspan='2'></td></tr>
    <tr>
        <td class='col-xs-6'><b>ANTIFÚNGICO</b></td>
        <td class='col-xs-6' colspan='2'><b>PERÍODO</b></td>
    </tr>
    <tr>
        <td class='col-xs-6'>
            (  ) Sim
            ( x ) Não
        </td><td class='col-xs-6' colspan='2'></td></tr>
</tbody>
</table>
<div style='page-break-before: always;'></div>
<table class='table  table-bordered'>
    <tbody>
    <tr>
        <td colspan='3' class='col-xs-12'><b>EVOLUÇÃO MÉDICA</b></td>
    </tr>
    <tr>
        <td colspan='2' class='col-xs-10'>PACIENTE PREMATURA DE 32 SEM, CARDIOPATA- PCA E ESTENOSE DA ARTÉRIA PULMONAR- E NEUROPATA SECUNDÁRIO A ENCEFALOPATIA HIPÓXICO ISQUÊMICA, APRESENTA ATRASO NO DESENVOLVIMENTO NEUROPSICOMOTOR, MANTENDO - SE EN MELHORA IMPORTANTE, SENTANDO SEM APOIO E APRESENTANDO CONTROLE DA COLUNA CERVICAL E TÓRACO LOMBAR. PARA ADMINISTRAÇÃO DE DIETA E MEDICAMENTOS, FAZ USO DE GTM. PACIENTE NECESSITA DOS SERVIÇOS DE FONOAUDIOLOGIA E FISIOTERAPIA DEVIDO SUA PATOLOGIA DE BASE E ATRASO NO DESENVOLVIMENTO, ALEM DO RISCO DE BRONCOASPIRAÇÃO. DIURESE E DEJEÇÕES PRESENTES, NO PADRÃO HABITUAL NA MAIOR PARTE DO TEMPO. DURANTE ESTE ÚLTIMO PERÍODO, APRESENTOU INTERCORRENCIAS DE ITU, COM FEBRE NÃO MENSURADA, SENDO REMOVIDA PARA HEC. PARA AVALIAÇÃO DIAGNOSTICA.FORAM SOLICITADOS EXAMES COM INFECTOLOGISTA. PACIENTE COM ESTABILIDADE DO QUADRO CLÍNICO, EM VISTA DA DIMINUIÇÃO DAS INTERCORRÊNCIAS, ESTÁ INDICADO GERENCIAMENTO, PORÉM MANTIDO ID DE 24 POR DETERMINAÇÃO DE LIMINAR JUDICIAL.</td>
        <td width='10%' class='col-xs-2' align='center' valign='middle'>
            <img width='100' height='70' src='/var/www/sismederi//utils/assinaturas/ft30-05-2017_194940.jpg'>
        </td>
    </tr>
    <tr>
        <td class='col-xs-4'><b>Data da Visita:</b> 30/09/2018</td>
        <td class='col-xs-4'><b>Médico(a):</b> Dra. Camila de Almeida Araujo</td>
        <td class='col-xs-4'><b>CRM:</b> (CRM: 26831)</td>
    </tr>
    <tr>
        <td colspan='3' class='col-xs-12'><b>EVOLUÇÃO DE ENFERMAGEM</b></td>
    </tr>
    <tr>
        <td colspan='2' class='col-xs-10'>Paciente Menor, DM de encefalopatia, convulsões e correção cirúrgica de refluxo esofágico. Evolui estável ,ativa,agitada com piora no periodo noturno, sendo necessário em alguns momentos uso de medicações por via IM, com maior sustentação de tronco devido estímulos de fisioterapia, porem deglutição ainda prejudicada com episódios de engasgos, eupneica sob VE, extremidades oxigenadas. Ao exame físico: couro cabeludo limpo e integro, mucosa ocular normocrômicas. Pescoço com mobilidade preservada. Tórax simétrico, AP: limpa . Abdômen flácido, indolor à palpação, em uso  Button, com  hiperemia em periborda mantido uso de proteção com gaze, menor agitada e fica puxando dispositivo gerando assim a hiperemia local. Diurese presentes em fraldas, apresentando obstipação, dejeções presente com auxilio de  lactulona CPM. Sem relato de crises, porém apresentando com frequência pico febril  sem uma causa definida sendo medicada com dipirona e ibuprofeno, realizado exames laboratórias e utilizado ATB pra tratar ITU no mês de Setembro. Enfermeiro mensal e ID 24 horas.</td>
        <td width='10%' class='col-xs-2' align='center' valign='middle'>
            <img width='100' height='70' src='/var/www/sismederi//utils/assinaturas/ft13-03-2018_181155.jpg'>
        </td>
    </tr>
    <tr>
        <td class='col-xs-4'><b>Data da Visita:</b> 26/09/2018</td>
        <td class='col-xs-4'><b>Enfermeiro(a):</b> Enfa. Samara Lima</td>
        <td class='col-xs-4'><b>COREN:</b> (COREN: 501197)</td>
    </tr>
    </tbody>
    </table>
    
    <table class='table'>
    <tbody>
    <tr>
        <td colspan='3' class='col-xs-12' align='center'><b>FOTOS DA LESÃO</b></td>
    </tr>
    <tr>
        <td colspan='3' class='col-xs-12'> 
    </tbody>
    </table>
    <table class='table  table-bordered'>
    <tbody>
    <tr>
        <td colspan='3' class='col-xs-12'><b>EVOLUÇÃO DE FISIOTERAPIA</b></td>
    </tr>
    <tr>
        <td colspan='2' width='90%' class='col-xs-10'>Criança, sexo F, 9 anos, vitima de hipóxia cerebral. Evolui lúcida, colaborativo, agitada, eupenica, afebril. Apresenta-se parcialmente restrita ao leito, totalmente dependente nas AVD’s, ADM’s limitantes, FM diminuída globalmente.  Apresenta boa expansibilidade torácica, APulmonar: MV presente com discretos roncos, PMV superficial, tosse débil acumulando secreção
PLANO TERAPÊUTICO - É necessário 5 sessões por semana de fisioterapia motora visando minimizar evolução clínica como: atrofia muscular, rigidez articular, perda de força muscular e fisioterapia respiratória 5 sessões por semana pois paciente apresenta risco de broncoaspiração, ITR e insuficiência respiratória. 
</td>
        <td width='10%' class='col-xs-2' align='center' valign='middle'>
            <img width='100' height='70' src='/var/www/sismederi//utils/assinaturas/ft02-10-2018_155410.jpg'>
        </td>
    </tr>
    <tr>
        <td class='col-xs-4'><b>Data da Visita:</b> 08/10/2018</td>
        <td class='col-xs-4'><b>Fisioterapeuta:</b> CESAR CLAYTON DE FREITAS BITTENCOURT</td>
        <td class='col-xs-4'><b>CREFITO:</b> 59352</td>
    </tr>
    
    <tr>
        <td colspan='3' class='col-xs-12'><b>EVOLUÇÃO DE FONOAUDIÓLOGO</b></td>
    </tr>
    <tr>
        <td colspan='2' class='col-xs-10'>Paciente Acsa Aryelle Neve da Silva Costa evolui em internamento hospitalar domiciliar com diagnóstico cardiopatia com PCA,  estenose da artéria pulmonar, neuropatia e disfagia, evolui clinicamente estável, afebril, eupnéica em VE ao AA e dieta via GTM e via oral. 
A terapêutica tem como objetivo evitar broncoaspiração de saliva, deglutição espontânea de saliva. São utilizados manuseio digital laríngeo, estímulos táteis-térmicos-gustativos não nutritivos e nutritivos intra-oral, estimulo à deglutição de pastoso, alongamento de musculatura orofacial e cintura escapular. Paciente fica menos sialorreica, secreção clara e fluida. Presença de tosse, engasgos, regurgitação com a deglutição de saliva. Sem intercorrências no período apresentando evolução quanto a deglutição de saliva.  Paciente possui mímica facial,resiste ao toque, apresenta contrações musculares voluntárias e involuntárias sempre verbaliza quando ouve música e as vezes quando conversa com ela. Nos treinos VO, está tendo boa aceitação (? 60 ml dieta pastosa). Sem intercorrências durante os treinos, presença de tosse/engasgo passou a deglutir parte da dieta, colocando em menor quantidade a dieta para fora da cavidade oral (cuspindo) apresentando boa aceitação.
Orientações: Realizar higiene oral 3x ao dia 
Conduta: 
?	Manter dieta via GTM exclusiva, com treinamento via oral (? 20 ml dieta pastosa) com dieta artesanal pastosa no horário das 12 horas e da 18 horas.
Solicitação: manutenção de fonoterapia 5x semanal, com objetivo de estimular a deglutição espontânea de saliva, melhorar sensibilidade intra-oral, força e mobilidade de OFA’s e proteção de VAI’s estimular e otimizar a deglutição na consistência pastosa para oferta VO e prazer alimentar.
</td>
        <td width='10%' class='col-xs-2' align='center' valign='middle'>
            <img width='100' height='70' src='/var/www/sismederi//utils/assinaturas/ft02-10-2018_155635.jpg'>
        </td>
    </tr>
    <tr>
        <td class='col-xs-4'><b>Data da Visita:</b> 30/09/2018</td>
        <td class='col-xs-4'><b>Fonoaudiólogo(a):</b> Nelsimara Magalhães Silva</td>
        <td class='col-xs-4'><b>CRFa:</b> CRFa 4-9997</td>
    </tr>
    <tr>
        <td colspan='3' class='col-xs-12'><b>EVOLUÇÃO DE NUTRICIONAL</b></td>
    </tr>
    <tr>
        <td colspan='2' class='col-xs-10'></td>
        <td width='10%' class='col-xs-2' align='center' valign='middle'>
            
        </td>
    </tr>
    <tr>
        <td class='col-xs-4'><b>Data da Visita:</b> </td>
        <td class='col-xs-4'><b>Nutricionista:</b> </td>
        <td class='col-xs-4'><b>CRN:</b> </td>
    </tr>
    <tr>
        <td colspan='3' class='col-xs-12'><b>EVOLUÇÃO PSICÓLOGO</b></td>
    </tr>
    <tr>
        <td colspan='2' class='col-xs-10'></td>
        <td width='10%' class='col-xs-2' align='center' valign='middle'>
            
        </td>
    </tr>
    <tr>
        <td class='col-xs-4'><b>Data da Visita:</b> </td>
        <td class='col-xs-4'><b>Psicólogo(a):</b> </td>
        <td class='col-xs-4'><b>CRP:</b> </td>
    </tr>
    </tbody>
</table><br>
<table class='table table-condensed table-striped table-bordered'>
    <tbody>
    <tr>
        <td colspan='3' class='col-xs-12'><b>PAD</b></td>
    </tr>
    <tr>
        <td class='col-xs-6'><b>Modalidade</b></td>
        <td colspan='2' class='col-xs-6'></td>
    </tr>
    <tr>
        <td class='col-xs-4'><b>Médico</b></td>
        <td class='col-xs-4'></td>
        <td class='col-xs-4'></td>
    </tr>
    <tr>
        <td class='col-xs-4'><b>Enfermeiro</b></td>
        <td class='col-xs-4'></td>
        <td class='col-xs-4'></td>
    </tr>
    <tr>
        <td class='col-xs-4'><b>Técnico de Enfermagem</b></td>
        <td class='col-xs-4'></td>
        <td class='col-xs-4'></td>
    </tr>
    <tr>
        <td class='col-xs-4'><b>Fisoterapia Motora</b></td>
        <td class='col-xs-4'></td>
        <td class='col-xs-4'></td>
    </tr>
    <tr>
        <td class='col-xs-4'><b>Fisioterapia Respiratória</b></td>
        <td class='col-xs-4'></td>
        <td class='col-xs-4'></td>
    </tr>
    <tr>
        <td class='col-xs-4'><b>Fonoterapia</b></td>
        <td class='col-xs-4'></td>
        <td class='col-xs-4'></td>
    </tr>
    <tr>
        <td class='col-xs-4'><b>Psicólogo</b></td>
        <td class='col-xs-4'></td>
        <td class='col-xs-4'></td>
    </tr>
    <tr>
        <td class='col-xs-4'><b>Nutricionista</b></td>
        <td class='col-xs-4'></td>
        <td class='col-xs-4'></td>
    </tr>
    </tbody>
</table>
</body>
</html>