<head>
    <meta charset="UTF-8">    
    
    <script src="/utils/bootstrap-3.3.6-dist/js/bootstrap.min.js" ></script>
    
</head>

<table border=1 cellspacing=0 cellpadding=2 bordercolor="666633" width='100%'>
    <tr bgcolor='#EEEEEE'>
        <td colspan='9' style = "font-size:20px"><b>Relatório Contas Emitidas a <?= $titulo?></b></td>
    </tr>
    <tr>
        <td colspan='3'><b>Emitidas entre:</b> <?= $inicio?> até <?= $fim?></td>
        <td colspan='3'><b>Competência entre:</b> <?=$competencia_inicio?> até <?=$competencia_fim?></td>
        <td colspan='3'><b>Inserida entre:</b> <?=$inserida_inicio?> até <?=$inserida_fim?></td>
        <td colspan='3'><b>Somente as que reteram impostos?</b> <?= $reteveImposto?></td>        
    </tr>
    <tr>
    <td colspan='9'><b>Tipo documento financeiro:</b> <?= $tipoDocFin?></td>
    </tr>
    <tr>        
        <td colspan='6'><b>Emitido por:</b> <?= $emitidoPor?></td>
        <td colspan='3'><b>Emitido em:</b> <?= $emitidoEm?></td>
    </tr>
    <tr>        
        <td colspan='9'><b>Observação:</b>  Relatório não traz PA, RA, Contas Aglutinadas e Impostos Retidos.</td>
        
    </tr>
   
    
</table>
<br>
<br>

<table border=1 cellspacing=0 cellpadding=2 bordercolor="666633" width='100%'>
<thead>
    <tr bgcolor='#cccccc'>
        <th>CPF/CNPJ</th>
        <th>Fornecedor</th>
        <th>Cidade</th>
        <th>N° Nota</th>
        <th>TR</th>
        <th>UR</th>
        <th>Tipo</th>
        <th>Competência</th>
        <th>Emissão</th>
        <th>Inserida</th>
        <th>Venc. Real</th>
        <th>Valor Bruto</th>
        <th>Valor Liquido</th>
        <th>Valor Produto</th>
        <th>IR</th>
        <th>PIS</th>
        <th>COFINS</th>
        <th>CSLL</th>
        <th>PCC</th>
        <th>ISS</th>
        <th>INSS</th>
        <th>Natureza Principal</th>
                                      
    </tr>
</thead>
<tbody id="tbody-bordero">
<?php 
$cont = 0;
foreach($response as  $resp):
    if( $cont % 2 == 0 ){
        $cor = '';
    }else{
        $cor="bgcolor='#EEEEEE'";
    } 
    $cont++;?>
    <tr <?=$cor?>>
        <td>
            <?= $resp['CNPJ_CPF'] ?>
        </td>
        <td>
            <?= $resp['NOME_FORNECEDOR_CLIENTE'] ?>
        </td>
        <td>
            <?= $resp['cidade'] ?>
        </td>
        <td>
            <?= $resp['NumNota'] ?>
        </td>
        <td>
            <?= $resp['TR'] ?>
        </td>
        <td>
            <?= $resp['Empresa'] ?>
        </td>
        <td>
            <?= $resp['TIPO_DOCUMENTO_SIGLA'] ?>
        </td>
        <td>
            <? echo implode("/",array_reverse(explode("-",$resp['data_competencia']))); ?>
        </td>
        <td>
            <?= $resp['DATA_EMISSAO_NOTA'] ?>
        </td>
        <td>
            <?= $resp['DATA_INSERIDA_NOTA'] ?>
        </td>
        <td>
            <?= $resp['primeiro_vencimento_real'] ?>
        </td>
        <td >
            R$ <?= number_format($resp['valorBruto'], 2, ',', '.') ?>
        </td>
        <td >
            R$ <?= number_format($resp['valorLiquido'], 2, ',', '.') ?>
        </td>
        <td >
            R$ <?= number_format($resp['VAL_PRODUTOS'], 2, ',', '.') ?>
        </td>
        <td >
            R$ <?= number_format($resp['IR'], 2, ',', '.') ?>
        </td>
        <td >
            R$ <?= number_format($resp['PIS'], 2, ',', '.') ?>
        </td>
        <td >
            R$ <?= number_format($resp['COFINS'], 2, ',', '.') ?>
        </td>
        <td >
            R$ <?= number_format($resp['CSLL'], 2, ',', '.') ?>
        </td>
        <td >
            R$ <?= number_format($resp['PCC'], 2, ',', '.') ?>
        </td>
        <td >
            R$ <?= number_format($resp['ISSQN'], 2, ',', '.') ?>
        </td>
        <td >
            R$ <?= number_format($resp['INSS'], 2, ',', '.') ?>
        </td>
        <td>
            <?= $resp['naturezaPrincipal'] ?>
        </td>        
        
    </tr>
<?php endforeach; ?>
</tbody>
</table>
<?php if($data['exibir_rateio'] == 'S'){?>
<br>
<br>

<table border=1 cellspacing=0 cellpadding=2 bordercolor="666633" width='100%'>
<thead>
    <tr bgcolor='#cccccc'>
       <th colspan='5'> Rateio baseado no Valor Produto/Serviço das Notas</th>
    </tr>
    <tr bgcolor='#cccccc'>
        <th>N° Nota</th>
        <th>TR</th>
        <th>Valor Produto/Serviço</th>
        <th>Valor Rateio</th>        
        <th>Natureza</th>
    </tr>    
</thead>
<?php
$cont =0;
 foreach($rateio as $r ){ 
     
    if( $cont % 2 == 0 ){
        $cor = '';
    }else{
        $cor="bgcolor='#EEEEEE'";
    } 
    $cont++;
    ?>
    <tr>
        <td><?=$r['NumNota']?></td>
        <td><?=$r['TR']?></td>
        <td>R$ <?= number_format($r['VAL_PRODUTOS'], 2, ',', '.') ?></td>
        <td>R$ <?= number_format($r['valor'], 2, ',', '.') ?></td>
        <td><?=$r['conta']?></td>
    </tr>
    <?php } ?>
</table>
<?php } ?>