<?php require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>
<head>
    <meta charset="UTF-8">
    <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php'); ?>
    <link rel="stylesheet" type="text/css" href="/utils/reports.css">
    <link rel="stylesheet" href="/utils/bootstrap-3.3.6-dist/css/bootstrap.min.css" />
    <script src="/utils/bootstrap-3.3.6-dist/js/bootstrap.min.js" ></script>
    <link rel="stylesheet" href="/utils/font-awesome-4.7.0/css/font-awesome.css" />
</head>
<div id="content">
    <div id="right">

        <center><h1>Relatório Contas Emitidas a <?=$titulo?></h1></center>
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title pull-left" style="padding-top: 7.5px;">
                    <i class="fa fa-search" aria-hidden="true"></i>
                    Pesquisar Contas Emitidas
                </h3>
            </div>
            <div class="panel-body" id="div-pesquisar-notas-emitidas">
                <div class='col-xs-12 alert-info alert'>
                    <i class="fa fa-info-circle" aria-hidden="true"></i>
                    Relatório não traz PA, RA, PR, Contas Aglutinadas e Impostos Retidos.
                </div>
                <form method ='GET' id="form-pesquisar-notas-emitidas" action="/financeiros/relatorios/">
                    <div class="row">
                        <input type='hidden' name='action' value="pesquisar-notas-emitidas"/>
                        <input type='hidden' name='tipo_nota' value="<?=$tipoNota?>"/>
                        <div class="col-xs-6">
                            <label for="tipo_documento_financeiro">Tipo:</label>
                            <select name="tipo_documento_financeiro[]" multiple id="tipo_documento_financeiro"  class="form-control chosen-select" data-placeholder="Selecione um tipo..." >
                                <option value=''> TODOS</option>
                                <?php foreach($tipoDocumentoFinanceiro as $tipo): ?>                                  
                                    <option <?=isset($data['tipo_documento_financeiro']) && in_array($tipo['id'] , $data['tipo_documento_financeiro'] ) ? "selected" : "" ?> value="<?=$tipo['id'] ?>">
                                        <?=$tipo['sigla']?>
                                    </option>
                                <?php endforeach; ?>
                            </select>
                        </div>
                        <div class="col-xs-6">
                            <label for="reteve_imposto">Somente as que reteram impostos?</label>
                            <select name="reteve_imposto" id="reteve_imposto"  class="form-control " >
                                <option <?= isset($data['reteve_imposto']) && $data['reteve_imposto'] == 'S' ? "selected" : "" ?> value="S">Sim</option>
                                <option <?= isset($data['reteve_imposto']) && $data['reteve_imposto'] == 'N' ? "selected" : "" ?> value="N">Não</option>

                            </select>
                        </div>


                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="">Data Emissão de:</label>
                                <input name="inicio" id="inicio" type="date" required class="form-control OBG col-xs-6" value='<?= isset($data['inicio']) ? $data['inicio'] : '' ?>'>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="">Data Emissão até:</label>
                                <input name="fim" id="fim" type="date"  required class="form-control OBG col-xs-6" value='<?= isset($data['fim']) ? $data['fim'] : '' ?>'>

                            </div>
                        </div>
                       
        
        <div class="col-xs-6">
            <label>Competência de</label>
            <input type='text' name='competencia_inicio' id='competencia_inicio' class="form-control mes-ano" maxlength='10' size='10' value='<?= isset($data['competencia_inicio']) ? $data['competencia_inicio'] : '' ?>' />
        </div>
        <div class="col-xs-6">
            <label>Competência até</label>
            <input type='text' name='competencia_fim' id='competencia_fim' class="form-control mes-ano" maxlength='10' size='10' value='<?= isset($data['competencia_fim']) ? $data['competencia_fim'] : '' ?>' />
        </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="">Inserida de:</label>
                    <input name="inserida_inicio" id="inserida-inicio" type="date"  class="form-control  col-xs-6" value='<?= isset($data['inserida_inicio']) ? $data['inserida_inicio'] : '' ?>'>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="">Inserida até:</label>
                    <input name="inserida_fim" id="inserida-fim" type="date"   class="form-control  col-xs-6" value='<?= isset($data['inserida_fim']) ? $data['inserida_fim'] : '' ?>'>

                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="exibir-rateio">Exibir Rateio?</label>
                    <select name="exibir_rateio" id="exibir-rateio"  class="form-control " >
                    <option <?= isset($data['exibir_rateio']) && $data['exibir_rateio'] == 'N' ? "selected" : "" ?> value="N">Não</option>
                        <option <?= isset($data['exibir_rateio']) && $data['exibir_rateio'] == 'S' ? "selected" : "" ?> value="S">Sim</option>
                        
                    </select>
                    
                </div>
            </div>


                    </div>
                    <br>

                    <div class="col-xs-12 text-center">
                        <button  id="pesquisar-notas-emitidas" class="btn btn-primary" >
                            <span class='ui-button-text'>Pesquisar</span>
                        </button>
                        &nbsp;&nbsp;
                        <a  href="/financeiros"
                            style="color: white;"
                            class='btn btn-warning' >
                            Voltar
                        </a>
                    </div>
                </form>
                <br>
            </div>
        </div>

        <div class="row">
            <?php if(!empty($response)): ?>
                <div class="col-xs-12">
                    <div class="col-xs-12 text-right">
                        <a  href="/financeiros/relatorios/?action=excel-relatorio-notas-emitidas&inicio=<?= $data['inicio'] ?>&fim=<?= $data['fim'] ?>&reteve_imposto=<?= $data['reteve_imposto'] ?>&tipo_documento_financeiro_string=<?= $data['tipo_documento_financeiro_string'] ?>&tipo_nota=<?= $tipoNota?>&competencia_inicio=<?=$data['competencia_inicio_db']?>&competencia_fim=<?=$data['competencia_fim_db']?>&inserida_inicio=<?= $data['inserida_inicio'] ?>&inserida_fim=<?= $data['inserida_fim'] ?>&exibir_rateio=<?=$data['exibir_rateio']?>"
                            target="_blank"
                            style="position: relative; float: right;"
                            class='btn btn-success'>
                            <i class="fa fa-file-excel-o"></i> Exportar Excel
                        </a>

                    </div>
                    <div class="col-xs-12 div-notas-emitidas" style="overflow: auto; height: 500px !important;">
                        <table class='table table-striped table-bordered' width='100%'>
                            <thead>
                            <tr>
                                <th>CPF/CNPJ</th>
                                <th>Fornecedor</th>
                                <th>Cidade Forn.</th>
                                <th>N° Nota</th>
                                <th>TR</th>
                                <th>UR</th>
                                <th>Tipo</th>
                                <th>Competência</th>
                                <th>Emissão</th>
                                <th>Inserida</th>
                                <th>Venc. Real</th>
                                <th>Valor Bruto</th>
                                <th>Valor Liquido</th>
                                <th>Valor Produto</th>
                                <th>IR</th>
                                <th>PIS</th>
                                <th>COFINS</th>
                                <th>CSLL</th>
                                <th>PCC</th>
                                <th>ISS</th>
                                <th>INSS</th>
                                <th>Natureza Principal</th>
                                <?php  if($data['exibir_rateio'] == 'S'){ ?>
                                <th>Rateio</th>
                                <?php }?>
                            </tr>
                            </thead>
                            <tbody id="tbody-bordero">
                            <?php foreach($response as  $resp):?>
                                
                                <tr>
                                    <td>
                                        <?= $resp['CNPJ_CPF'] ?>
                                    </td>
                                    <td>
                                        <?= $resp['NOME_FORNECEDOR_CLIENTE'] ?>
                                    </td>
                                    <td>
                                        <?= $resp['cidade'] ?>
                                    </td>
                                    <td>
                                        <?= $resp['NumNota'] ?>
                                    </td>
                                    <td>
                                        <?= $resp['TR'] ?>
                                    </td>
                                    <td>
                                        <?= $resp['Empresa'] ?>
                                    </td>
                                    <td>
                                        <?= $resp['TIPO_DOCUMENTO_SIGLA'] ?>
                                    </td>
                                    <td>
                                        <? echo implode("/",array_reverse(explode("-",$resp['data_competencia']))); ?>
                                    </td>
                                    <td>
                                        <?= $resp['DATA_EMISSAO_NOTA'] ?>
                                    </td>
                                    <td>
                                        <?= $resp['DATA_INSERIDA_NOTA'] ?>
                                    </td>
                                    <td>
                                        <?= $resp['primeiro_vencimento_real'] ?>
                                    </td>
                                    <td >
                                        R$ <?= number_format($resp['valorBruto'], 2, ',', '.') ?>
                                    </td>
                                    <td >
                                        R$ <?= number_format($resp['valorLiquido'], 2, ',', '.') ?>
                                    </td>
                                    <td >
                                        R$ <?= number_format($resp['VAL_PRODUTOS'], 2, ',', '.') ?>
                                    </td>
                                    <td >
                                        R$ <?= number_format($resp['IR'], 2, ',', '.') ?>
                                    </td>
                                    <td >
                                        R$ <?= number_format($resp['PIS'], 2, ',', '.') ?>
                                    </td>
                                    <td >
                                        R$ <?= number_format($resp['COFINS'], 2, ',', '.') ?>
                                    </td>
                                    <td >
                                        R$ <?= number_format($resp['CSLL'], 2, ',', '.') ?>
                                    </td>
                                    <td >
                                        R$ <?= number_format($resp['PCC'], 2, ',', '.') ?>
                                    </td>
                                    <td >
                                        R$ <?= number_format($resp['ISSQN'], 2, ',', '.') ?>
                                    </td>
                                    <td >
                                        R$ <?= number_format($resp['INSS'], 2, ',', '.') ?>
                                    </td>
                                    <td>
                                        <?= $resp['naturezaPrincipal'] ?>
                                    </td>
                                    <?php  if($data['exibir_rateio'] == 'S'){ ?>
                                    <td>
                                        <?php foreach($rateio[$resp['TR']] as $r ){ ?>

                                            <li style="font-size: 10px;">
                                                R$ <?= number_format($r['valor'], 2, ',', '.') ?>
                                                - 
                                                <?=$r['conta']?>
                                            </li>
                                            <hr>

                                        <?php } ?>
                                    </td>
                                    <?php } ?>

                                </tr>
                            <?php endforeach; ?>
                            </tbody>
                        </table>

                    </div>
                </div>
                <br>
                <!-- <div class="col-xs-12 text-center">
                    <a  href="/financeiros/relatorios/?action=excel-relatorio-notas-emitidas&inicio=<?= $data['inicio'] ?>&fim=<?= $data['fim'] ?>&reteve_imposto=<?= $data['reteve_imposto'] ?>&tipo_documento_financeiro=<?= $data['tipo_documento_financeiro'] ?>&tipo_nota=<?= $tipoNota?>"
                        target="_blank"
                        style="position: relative; float: right;"
                        class='btn btn-success'
                    >
                        <i class="fa fa-file-excel-o"></i> Exportar Excel
                    </a>
                </div> -->

            <?php else:?>
                <div class="col-xs-12 text-center">
                    <div class="alert alert-warning">
                        <b>Nenhum conta encontrada para os filtros escolhidos.</b>
                    </div>
                </div>
            <?php endif; ?>
        </div>
    </div>
    <div id="left">
        <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
    </div>
</div>
<script type="text/javascript" src="/utils/jquery/js/jquery.maskedinput-1.3.js"></script>
<script type="text/javascript" src="/utils/bower_components/moment/moment.js"></script>
<script type="text/javascript" src="/utils/jquery/js/chosen.jquery.min.js"></script>
<script type="text/javascript" src="/utils/jquery/js/validar_campos.js"></script>
<script type="text/javascript" src="/financeiros/relatorios/templates/notas/js/main.js?v=1"></script>
</body>
</html>