.modal-financial-table-input-value {
  margin: 15px 0 15px 0;
  padding: 10px;
  border: 1px solid #cdcdcd;
  display: flex;
  flex-flow: column;

  .modal-table-button {
    .modal-table-button__btn-cancel {
      margin-left: 160px;
      width: 120px;
      background: #cdcdcd;
      color: #0b559b;
    }

    .modal-table-button__btn {
      margin-left: 10px;
      width: 120px;
    }
  }

  .modal-form {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5px;

    .modal-form__label {
      width: 160px;
      display: flex;
      flex-wrap: wrap;

      .span-block-radio-button {
        width: 40px;
      }

      .span-block-label {
        width: calc(100% - 40px);
        font-size: 14px;
        margin-top: 3px;
      }
    }

    .modal-form__value {
      width: calc(100% - 160px);

      input, select {
        border-radius: 0;
        border: 1px solid #cdcdcd;
      }
    }

  }

  .modal-table-input-value-perc__field {
    display: flex;

    .form__field-value {
      flex: 4;
    }

    .form__field-perc {
      flex: 3;
    }

    .form__field-value-perc {
      flex: 10;
    }
  }

  .modal-table-input-value__select-title {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5px;

    .modal-form__label {
      width: 160px;
      padding-left: 15px;
      padding-top: 5px;
    }
    .modal-form__value {
      width: calc(100% - 160px);
    }
  }
}

