<?php require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>
<head>

    <meta charset="UTF-8">
    <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php');?>
    <link rel="stylesheet" type="text/css" href="/utils/reports.css">
    <link rel="stylesheet" href="/utils/bootstrap-3.3.6-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/utils/jquery/css/selectize/selectize.bootstrap3.css" />
    <link rel="stylesheet" href="/utils/jquery/css/toggle/toggle.css" />
    <link rel="stylesheet" href="/utils/bootstrap-3.3.6-dist/css/chosen.bootstrap.min.css" />
    <link rel="stylesheet" href="/utils/font-awesome-4.7.0/css/font-awesome.css" />
</head>
<div id="content">
    <div id="right">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title pull-left" style="padding-top: 7.5px;">
                    <i class="fa fa-list-alt " aria-hidden="true"></i> Cadastrar Ocorrência</b>
                </h3>
            </div>

            <?php
            $display = "none";
            if(isset($msg) && !empty($msg)) {
                $display = "block";
                $class = "alert-danger";
                if ($type == 's') {
                    $class = "alert-success";
                }
            }
            ?>

            <div style="display:<?= $display ?> " class="alert <?= $class ?>">
                <strong><?= $msg ?></strong>
            </div>

            <div class="panel-body">
                <form method="post" action="?action=ocorrencia" enctype="multipart/form-data">
                    <div id="div-salvar-ocorrencia">
                        <div class="row">
                            <div class="col-xs-4">
                                <label for="demandatario">Demandatário:</label>
                                <select name="demandatario" class="form-control" id='demandatario' required>
                                    <option value="">Selecione...</option>
                                    <option value="1">Familia/Cuidador</option>
                                    <option value="2">Profissional Interno</option>
                                    <option value="3">Profissional Prestador</option>
                                    <option value="4">Operadora/Contratante</option>
                                </select>
                            </div>
                            <div class="col-xs-4">
                                <label for="contato">Nome:</label>
                                <input id="contato" name="contato" class="form-control" required="required" type="text">
                            </div>
                            <div class="col-xs-4">
                                <label for="telefone-contato">Telefone:</label>
                                <input id="telefone-contato" name="telefone_contato" class="telefone form-control" required type="text" maxlength="16">
                            </div>
                        </div>
                        <br>
                        <div class="row">

                            <div class="col-xs-4">
                                <label for="ocorrencia-paciente">Ocorrência para paciente?</label>
                                <br>
                                <input name="ocorrencia_paciente"
                                       type="hidden"
                                       value="0">
                                <input name="ocorrencia_paciente"
                                       id='ocorrencia-paciente'
                                       checked
                                       type="checkbox"
                                       data-toggle="toggle"
                                       data-on="Sim"
                                       data-off="Não"
                                       data-onstyle="success"
                                       data-offstyle="danger"
                                       data-size="small"
                                       value="1">
                            </div>
                            <div class="col-xs-8" id="paciente-combo">
                                <label for="paciente">Paciente:</label>
                                <select name="paciente" id="paciente" class="chosen-select">
                                    <option value="">Selecione...</option>
                                    <?php foreach($pacientes as $paciente): ?>
                                        <option value="<?= $paciente['id'] ?>">(<?= $paciente['codigo'] ?>) <?= strtoupper($paciente['nome']) ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-xs-4">
                                <label for="data-ocorrencia">Data do Evento:</label>
                                <input name="data_ocorrencia" id='data-ocorrencia' type="date" class="form-control" required>
                            </div>
                            <div class="col-xs-4">
                                <label for="hora-ocorrencia">Hora do Evento</label>
                                <input name="hora_ocorrencia" id='hora-ocorrencia' type="time" class="form-control" required>
                            </div>
                            <div class="col-xs-4">
                                <label for="tipo-contato">Tipo de Contato:</label>
                                <select name="tipo_contato" class="form-control" id='tipo-contato' required>
                                    <option value="">Selecione...</option>
                                    <option value="1">Ocorrência</option>
                                    <option value="2">Chamada pró-ativa</option>
                                    <option value="3">Chamada recebida</option>
                                </select>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-xs-4">
                                <label for="classificacao">Classificação:</label>
                                <select name="classificacao" class="chosen-select OBG_CHOSEN" id='classificacao' required>
                                    <option value="">Selecione...</option>
                                    <?php foreach($classificacoes as $classificao): ?>
                                        <option value="<?= $classificao['id'] ?>"> <?= mb_strtoupper($classificao['classificacao'],'UTF8') ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                            <div class="col-xs-8">
                                <label for="subclassificacao">Subclassificação:</label>
                                <select name="subclassificacao" data-placeholder="Escolha uma subclassificação..." class="chosen-select" id='subclassificacao'>

                                </select>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-xs-12">
                                <label for="descricao">Descrição:</label>
                                <textarea class="form-control" required name="descricao" id="descricao"></textarea>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-xs-6">
                                <label for="arquivos">Arquivo(s):</label>
                                <input type="file" class="form-control" name="arquivos[]" multiple id="arquivos">
                                <small class="text-muted">Se existirem arquivos que ajudem no entendimento da ocorrência.</small>
                            </div>
                            <div class="col-xs-6">
                                <label for="ur">UR(s) responsável(is):</label>
                                <select name="ur[]" data-placeholder="Selecione as URS..."
                                        class="chosen-select OBG_CHOSEN_MULTIPLE" multiple required>
                                    <?php foreach($urs as $ur): ?>
                                        <option value="<?= $ur['id'] ?>"><?= strtoupper($ur['nome']) ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-xs-4">
                                <label for="encaminhamento">Encaminhamento:</label>
                                <select name="encaminhamento" class="form-control" id='encaminhamento' required>
                                    <option value="">Selecione...</option>
                                    <option value="1">Interno</option>
                                    <option value="2">Externo</option>
                                </select>
                            </div>
                            <div class="col-xs-4" id="nome-encaminhamento-combo">
                                <label for="nome-encaminhamento">Para quem será encaminhado?</label>
                                <input name="nome_encaminhamento" id='nome-encaminhamento' type="text" class="form-control">
                            </div>
                            <div class="col-xs-4" id="email-encaminhamento-combo">
                                <label for="email-encaminhamento">Para quais emails?</label>
                                <select multiple="multiple"
                                        style="height: 200px;"
                                        name="email_encaminhamento[]"
                                        data-placeholder="Informe os emails a serem notificados..."
                                        id="email-encaminhamento"
                                        class="form-control selectize">
                                </select>
                            </div>
                            <div class="col-xs-4" id="setor-encaminhamento-combo">
                                <label for="setor">Setores:</label>
                                <select name="setor[]" data-placeholder="Selecione os setores..." multiple
                                        class="chosen-select form-control " id='setor'>
                                    <?php foreach($setores as $setor): ?>
                                        <option value="<?= $setor['id'] ?>"><?= mb_strtoupper($setor['setor'],'UTF8') ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <label for="prioridade">Prioridade:</label>
                                <select name="prioridade" class="form-control col-xs-6" id='prioridade' required>
                                    <option value="">Selecione...</option>
                                    <option value="ALTA">Alta</option>
                                    <option value="MEDIA">Média</option>
                                    <option value="BAIXA">Baixa</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <? if(count($setoresUsuario) > 1 || count($ursUsuario) > 1 ){?>
                                <br>
                                <div  class="alert alert-warning col-md-12 text-center">
                                    <? if(count($setoresUsuario) > 1){?>
                                        <span class="glyphicon glyphicon-exclamation-sign"></span>
                                        <strong>Aviso! </strong> Você faz parte de mais de um setor, indique qual setor está dando origem a essa demanda.<br>
                                    <?}
                                     if(count($ursUsuario) > 1) {?>
                                        <span class="glyphicon glyphicon-exclamation-sign"></span>
                                        <strong>Aviso! </strong> Você faz parte de mais de uma Unidade Regional, indique qual Unidade está dando origem a essa demanda.
                                    <?}?>
                                </div>
                                <? }
                            if(count($setoresUsuario) > 1){?>
                                    <div class="col-xs-6" id="setor-origem">
                                        <label for="setor_origem">Setor de origem:</label>
                                        <select name="setor_origem" data-placeholder="Selecione o setor..."
                                                class="chosen-select form-control OBG_CHOSEN" id='setor_origem'>
                                            <option value=""></option>
                                            <?php foreach($setoresUsuario as $s): ?>
                                                <option value="<?= $s['setor_id'] ?>"><?= mb_strtoupper($s['setor'],'UTF8') ?></option>
                                            <?php endforeach; ?>
                                        </select>
                                    </div>

                                <? }else{?>
                                    <input type="hidden" name="setor_origem" value="<?=$setoresUsuario[0]['setor_id']?>">
                                <?}
                                if(count($ursUsuario) > 1){
                                    ?>
                                    <div class="col-xs-6" id="setor-origem">
                                        <label for="ur_origem">Unidade de origem:</label>
                                        <select name="ur_origem" data-placeholder="Selecione a unidade..."
                                                class="chosen-select form-control OBG_CHOSEN" id='ur_origem'>
                                            <option value=""></option>
                                            <?php foreach($ursUsuario as $urUser): ?>
                                                <option value="<?= $urUser['id'] ?>"><?= mb_strtoupper($urUser['nome'],'UTF8') ?></option>
                                            <?php endforeach; ?>
                                        </select>
                                    </div>

                                <? }else{?>
                                    <input type="hidden" name="ur_origem" value="<?=$ursUsuario[0]['id']?>">
                                <?}?>
                        </div>
                        <br>
                        <br>
                        <div class="col-xs-12 text-center">
                            <div class="form-group">
                                <button type="submit" id="salvar-ocorrencia" class='btn btn-primary' >
                                    Salvar
                                </button>
                                <a href="/ocorrencia/?action=listar-ocorrencias" class='btn btn-warning' >
                                    Cancelar
                                </a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/remocao/js/jquery.mask.min.js"></script>
<script type="text/javascript" src="/utils/bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/ocorrencia/js/main.js?v=1.5"></script>
<script type="text/javascript" src="/utils/jquery/js/validar_campos.js"></script>
<script type="text/javascript" src="/utils/jquery/js/bootstrap-toggle.min.js"></script>
<script type="text/javascript" src="/utils/jquery/js/selectize/selectize.js"></script>
<div id="left">
    <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
</div>

</body>
</html>