<?php require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>
<head>
    <meta charset="UTF-8">
    <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php'); ?>
    <link rel="stylesheet" type="text/css" href="/utils/reports.css">
    <link rel="stylesheet" href="/utils/bootstrap-3.3.6-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/utils/jquery/css/toggle/toggle.css" />
    <link rel="stylesheet" href="/utils/bootstrap-3.3.6-dist/css/chosen.bootstrap.min.css" />
    <link rel="stylesheet" href="/utils/font-awesome-4.7.0/css/font-awesome.css" />
    <style type="text/css">
        ul.tag-list li {
            list-style: none;
        }
        .tag-list li {
            font-size: 10px;
            background-color: #f3f3f4;
            padding: 5px 12px;
            color: inherit;
            border-radius: 2px;
            border: 1px solid #e7eaec;
            margin-right: 5px;
            margin-top: 5px;
            display: block;
        }
    </style>
</head>
<div id="content">
    <div id="right">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Ocorrências<h1>
        </div>
    </div>
        <div class="row">
            <div class="col-md-12">
                <div class="btn-group pull-right">
                    <button class="btn btn-success" onclick="window.open('?action=ocorrencia', '_blank');">
                        <i class="fa fa-plus" aria-hidden="true"></i> Nova Ocorrência
                    </button>
                </div>
            </div>
        </div>
        <br>
        <div class="panel panel-primary panel-group">
            <div data-toggle="collapse"
                 title="Clique para visualizar os filtros da busca"
                 href="#filtros-ocorrencia" class="panel-heading clearfix"
                 style="cursor: pointer;">
                <h3 class="panel-title pull-left" style="padding-top: 7.5px;">
                    <i class="fa fa-search" aria-hidden="true"></i> Buscar Ocorrências (Filtros)
                </h3>
                <h5>
                    <i class="fa fa-caret-square-o-up pull-right switch-plus-minus" aria-hidden="true"></i>
                </h5>
            </div>
            <div class="panel-body panel-collapse collapse" id="filtros-ocorrencia">
                <form method="post" action="/ocorrencia/?action=listar-ocorrencias">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="status">Status:</label>
                                <select name="status" class="form-control" id='status'>
                                    <option value="">Todos</option>
                                    <option <?= $data['status'] == 'Em Aberto' ? "selected" : "" ?> value="Em Aberto">Em Aberto</option>
                                    <option <?= $data['status'] == 'Resolvido' ? "selected" : "" ?> value="Resolvido">Resolvido</option>
                                    <option <?= $data['status'] == 'Desativada' ? "selected" : "" ?> value="Desativada">Desativada</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="paciente">Paciente:</label>
                                <select name="paciente" class="chosen-select OBG_CHOSEN form-control" id='paciente'>
                                    <option value="">Todos</option>
                                    <?php foreach($pacientes as $paciente): ?>
                                        <option <?= isset($data['paciente']) && $data['paciente'] === $paciente['id'] ? "selected" : "" ?> value="<?= $paciente['id'] ?>">(<?= $paciente['codigo'] ?>) <?= mb_strtoupper($paciente['nome'], 'UTF8') ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </div>

                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="ur">UR:</label>
                                <select name="ur[]" multiple class="chosen-select form-control" id='ur' data-placeholder="Selecione as URs...">
                                    <?php foreach($urs as $ur): ?>
                                        <option <?= isset($data['ur']) && in_array($ur['id'], $data['ur']) ? "selected" : "" ?> value="<?= $ur['id'] ?>"><?= strtoupper($ur['nome']) ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </div>

                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="paciente">Solicitado por:</label>
                                <select name="solicitado_por" class="form-control" id='solicitado-por'>
                                    <option <?= isset($data['solicitado_por']) && $data['solicitado_por'] == '1' ? 'selected' : '' ?> value="1">Qualquer pessoa</option>
                                    <option <?= isset($data['solicitado_por']) && $data['solicitado_por'] == '2' ? 'selected' : '' ?> value="2">Por mim</option>
                                    <option <?= isset($data['solicitado_por']) && $data['solicitado_por'] == '3' ? 'selected' : '' ?> value="3">Pelo(s) meu(s) setor(es)</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="setor">Setor(es) de destino:</label>
                                <select name="setor[]" multiple class="chosen-select form-control" id='setor' data-placeholder="Selecione os setores...">
                                    <?php foreach($setores as $setor): ?>
                                        <option value="<?= $setor['id'] ?>"><?= mb_strtoupper($setor['setor'],'UTF8') ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </div>

                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="classificacao">Classificação:</label>
                                <select name="classificacao" class="chosen-select form-control" id='classificacao'>
                                    <option value="">Todos</option>
                                    <?php foreach($classificacoes as $classificacao): ?>
                                        <option <?= isset($data['classificacao']) && $data['classificacao'] === $classificacao['id'] ? "selected" : "" ?> value="<?= $classificacao['id'] ?>"><?= mb_strtoupper($classificacao['classificacao'], 'UTF8')  ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </div>

                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="subclassificacao">Subclassificação:</label>
                                <select name="subclassificacao" data-placeholder="Todos" class="chosen-select" id='subclassificacao'>
                                </select>
                            </div>
                        </div>

                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="tipo-contato">Tipo de Contato:</label>
                                <select name="tipo_contato" class="form-control" id='tipo-contato'>
                                    <option value="">Todos</option>
                                    <option value="1">Ocorrência</option>
                                    <option value="2">Chamada pró-ativa</option>
                                    <option value="3">Chamada recebida</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="prioridade">Prioridade:</label>
                                <select name="prioridade" class="form-control" id='prioridade'>
                                    <option value="">Todos</option>
                                    <option value="ALTA">Alta</option>
                                    <option value="MEDIA">Media</option>
                                    <option value="BAIXA">Baixa</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="periodo">Início:</label>
                                <input name="inicio" type="date" class="form-control" value='<?= isset($data['inicio'])  ? $data['inicio'] : "" ?>' >
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="periodo">Fim:</label>
                                <input name="fim" type="date" class="form-control" value='<?= isset($data['fim'])  ? $data['fim'] : "" ?>' >
                            </div>
                        </div>

                        <div class="col-xs-12 text-center">
                            <div class="form-group">
                                <button type="submit" class='ui-button ui-widget ui-corner-all ui-button-text-only ui-state-hover' >
                                    <span class='ui-button-text'>Pesquisar</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-xs-12">
                <?php
                if(isset($ocorrencias)):
                    if(empty($ocorrencias)) : ?>
                        <h4 class="text-center">Nenhuma ocorrência encontrada.</h4>
                        <?php
                    else:
                        if(is_array($ocorrencias)):
                            foreach($ocorrencias as $ocorrencia):
                                $dataOcorrencia = \DateTime::createFromFormat('Y-m-d', $ocorrencia['data_ocorrencia'])->format('d/m/Y');
                                $dataFinalizado = ($ocorrencia['finalizado_em'] != '' && $ocorrencia['finalizado_em'] != '0000-00-00 00:00:00')  ?
                                    \DateTime::createFromFormat('Y-m-d H:i:s', $ocorrencia['finalizado_em'])->format('d/m/Y à\s H:i') :
                                    '';
                                $dataDesativada = ($ocorrencia['deleted_at'] != '' && $ocorrencia['deleted_at'] != '0000-00-00 00:00:00')  ?
                                    \DateTime::createFromFormat('Y-m-d H:i:s', $ocorrencia['deleted_at'])->format('d/m/Y à\s H:i') :
                                    '';
                                $criadoEm = \DateTime::createFromFormat('Y-m-d H:i:s', $ocorrencia['created_at'])->format('d/m/Y \à\s H:i');

                                $apresentacao = "
                                    <b>#{$ocorrencia['id']}</b>
                                    em <b>{$criadoEm}</b>
                                    por <b>{$ocorrencia['criadoPor']} <i>({$ocorrencia['nome_setor']})</i></b>";

                                if($ocorrencia['ocorrencia_paciente'] == '1') {
                                    $nomes = explode(' ', mb_strtoupper($ocorrencia['paciente_nome'], 'UTF8'));
                                    $nomePaciente = count($nomes) > 1 ? $nomes[0] . ' ' . $nomes[1] : mb_strtoupper($ocorrencia['paciente_nome'], 'UTF8');
                                    $apresentacao =  "
                                        <b>#{$ocorrencia['id']}</b>
                                        para o paciente <b>{$nomePaciente}</b>
                                        em <b>{$criadoEm}</b>
                                        por <b>{$ocorrencia['criadoPor']} <i>({$ocorrencia['nome_setor']})</i></b>";
                                }

                                switch ($ocorrencia['prioridade']){
                                    case 'ALTA':
                                        $panelClass = 'panel-danger';
                                        $badgeClass = 'red';
                                        break;
                                    case 'MEDIA':
                                        $panelClass = 'panel-warning';
                                        $badgeClass = 'orange';
                                        break;
                                    default:
                                        $panelClass = 'panel-default';
                                        $badgeClass = 'darkgrey';
                                        break;
                                }
                                $botaoFinalizar = '';
                                $resolver = '';
                                $resolvido = '';
                                $desativada = '';
                                $botaoReabrir = '';

                                if(
                                    $ocorrencia['status'] == 'Em Aberto'

                                ):
                                    $ursEnvolvidas ='';
                                    foreach($ocorrencia['urs'] as $ur){
                                        $ursEnvolvidas[] = $ur['empresa_id'];
                                    }
                                    if($ocorrencia['created_by'] == $_SESSION['id_user'] || $_SESSION['adm_user'] == 1
                                        || ($_SESSION['empresa_principal'] == $ocorrencia['ur_origem'] && $_SESSION['adm_ur'] == 1)):
                                        $botaoFinalizar = <<<HTML
<div class="btn-group btn-group-xs pull-left" style="margin-right: 10px; margin-top: -5px;">
    <button class="btn btn-xs btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Ações
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li>
            <a class="resolver" ocorrencia="{$ocorrencia['id']}">
                <span class="fa fa-check-square"></span>
                Marcar como resolvido
            </a>
        </li>
        <li>
            <a class="desativar" ocorrencia="{$ocorrencia['id']}">
                <span class="fa fa-warning"></span>
                Desativar
            </a>
        </li>
    </ul>
</div>
HTML;
                                    elseif($_SESSION['empresa_principal'] == $ocorrencia['ur_origem'] ):
                                        $auxSetor = 0;
                                        if(in_array($ocorrencia['setor_origem'],$_SESSION['user_setores'])){
                                            $botaoFinalizar = <<<HTML
<div class="btn-group btn-group-xs pull-left" style="margin-right: 10px; margin-top: -5px;">
    <button class="btn btn-xs btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Ações
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li>
            <a class="resolver label-success" ocorrencia="{$ocorrencia['id']}">
                <span class="fa fa-check-square"></span>
                Marcar como resolvido
            </a>
        </li>
        <li>
            <a class="desativar label-warning" ocorrencia="{$ocorrencia['id']}">
                <span class="fa fa-warning"></span>
                Desativar
            </a>
        </li>
    </ul>
</div>
HTML;
                                            $auxSetor++;
                                        }
                                    endif;

                                    $resolver = <<<HTML
<div style="vertical-align: middle;" class="status-ocorrencia-{$ocorrencia['id']} small pull-left">
{$botaoFinalizar}
 </div>
HTML;
                                elseif($ocorrencia['status'] == 'Resolvido'):
                                    $botaoReabrir = '';
                                    if($ocorrencia['created_by'] == $_SESSION['id_user'] || $_SESSION['adm_user'] == 1
                                        || ($_SESSION['empresa_principal'] == $ocorrencia['ur_origem'] && $_SESSION['adm_ur'] == 1)):
                                        $botaoReabrir = <<<HTML
<div class="btn-group btn-group-xs pull-left" style="margin-right: 10px; margin-top: -5px;">
    <button class="btn btn-xs btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Ações
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li>
            <a class="reabrir" ocorrencia="{$ocorrencia['id']}">
                <span class="fa  fa-undo"></span>
                Reabrir
            </a>
        </li>
        
    </ul>
</div>
HTML;
                                    elseif($_SESSION['empresa_principal'] == $ocorrencia['ur_origem'] ):
                                        if(in_array($ocorrencia['setor_origem'],$_SESSION['user_setores'])){
                                            $botaoReabrir = <<<HTML
<div class="btn-group btn-group-xs pull-left" style="margin-right: 10px; margin-top: -5px;">
    <button class="btn btn-xs btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Ações
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li>
            <a class="reabrir" ocorrencia="{$ocorrencia['id']}">
                <span class="fa fa-undo"></span>
                Reabrir
            </a>
        </li>
        
    </ul>
</div>
HTML;
                                        }
                                    endif;

                                    $resolvido = <<<HTML
<div style="vertical-align: middle;" class="status-ocorrencia-{$ocorrencia['id']} pull-right">
    Finalizado  em <b>{$dataFinalizado}</b> por <b>{$ocorrencia['finalizadoPor']}</b>
</div>
HTML;
                                elseif($ocorrencia['status'] == 'Desativada'):
                                    $desativada = <<<HTML
<div style="vertical-align: middle;" class="status-ocorrencia-{$ocorrencia['id']} pull-right">
   Desativada em <b>{$dataDesativada}</b> por <b>{$ocorrencia['desativadaPor']}</b>
</div>
HTML;
                                endif; ?>
                                <?php if(count($ocorrencia['respostas']) > 0): ?>
                                <div class="row" id="div-resposta-<?= $ocorrencia['id'] ?>">
                                    <div class="col-xs-12 text-right">
                                            <span class="label label-success pull-right">
                                                                <?= count($ocorrencia['respostas']) ?> Resposta(s)
                                            </span>
                                    </div>
                                </div>
                            <?php endif; ?>


                                <div class="panel-group" id="accordion-<?= $ocorrencia['id'] ?>">
                                    <div class="panel <?= $panelClass ?>">
                                        <div class="panel-heading ocorrencias" style="cursor: pointer;">
                                            <div class="pull-left">
                                                <?= $resolver ?>
                                                <?= $botaoReabrir ?>
                                            </div>
                                            <h4 data-toggle="collapse"
                                                title="Clique para visualizar mais informações"
                                                data-parent="#accordion-<?= $ocorrencia['id'] ?>"
                                                data-target="#ocorrencia-<?= $ocorrencia['id'] ?>"
                                                class="panel-title"
                                                style="font-size: 85%;">
                                                <?= $apresentacao ?>
                                                <div class="pull-right">
                                                    <span class="fa fa-caret-square-o-up switch-plus-minus col-xs-offset-10"></span>
                                                </div>
                                                <?= $resolvido ?>
                                                <?= $desativada ?>
                                            </h4>
                                        </div>
                                        <div id="ocorrencia-<?= $ocorrencia['id'] ?>" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <div class="col-xs-6">
                                                    <p><b>Demandatário: </b><?= $lists['demandatario'][$ocorrencia['demandatario']] ?></p>
                                                    <p><b>Contato: </b><?= $ocorrencia['contato'] ?></p>
                                                    <p><b>Telefone: </b><?= $ocorrencia['telefone_contato'] ?></p>
                                                    <p>
                                                        <b>Prioridade:</b>
                                                        <span style="color: <?= $badgeClass ?>"><?= ucfirst(strtolower($ocorrencia['prioridade'])) ?></span>
                                                    </p>
                                                    <?php if($ocorrencia['ocorrencia_paciente'] == '1'): ?>
                                                        <p><b>Paciente: </b><?= mb_strtoupper($ocorrencia['paciente_nome'], 'UTF8') ?></p>
                                                    <?php endif; ?>
                                                    <p><b>Data/Hora: </b><?= $dataOcorrencia ?> às <?= $ocorrencia['hora_ocorrencia'] ?></p>
                                                    <p><b>Tipo de Contato: </b><?= $lists['tipo_contato'][$ocorrencia['tipo_contato']] ?></p>
                                                </div>
                                                <div class="col-xs-6">
                                                    <p><b>Classificação: </b><?= $ocorrencia['descClassificacao'] ?></p>
                                                    <p><b>Subclassificação: </b><?= $ocorrencia['desSubclassificacao'] ?></p>
                                                    <p>
                                                        <b>UR(s): </b>
                                                    <ul>
                                                        <?php foreach ($ocorrencia['urs'] as $ur): ?>
                                                            <li>
                                                                <?= mb_strtoupper($ur['ur'], 'UTF8') ?>
                                                            </li>
                                                        <?php endforeach; ?>
                                                    </ul>
                                                    </p>
                                                    <p>
                                                        <b>Encaminhado para: </b>
                                                        <?php
                                                        if($ocorrencia['encaminhamento'] == '2'):
                                                            echo $ocorrencia['encaminhamento_nome'];
                                                        else:
                                                        ?>
                                                    <ul> Setores:
                                                        <?php foreach ($ocorrencia['setores'] as $setor): ?>
                                                            <li>
                                                                <?= $setor['setor'] ?>
                                                            </li>
                                                        <?php endforeach; ?>
                                                    </ul>
                                                    <?php endif; ?>
                                                    </p>
                                                </div>
                                                <div class="col-xs-12">
                                                    <hr>
                                                    <p>
                                                    <h5><b>Descrição da ocorrência:</b></h5>
                                                    </p>
                                                    <blockquote class="default">
                                                        <p>
                                                            <?= $ocorrencia['descricao'] ?>
                                                        </p>
                                                        <?php if(count($ocorrencia['arquivos']) > 0): ?>
                                                            <div>
                                                                <ul>
                                                                    <?php
                                                                    foreach ($ocorrencia['arquivos'] as $arquivos):
                                                                        $nomeArquivo = explode('/', $arquivos['full_path']);
                                                                        $nomeArquivo = end($nomeArquivo);
                                                                        $fullPath = explode('storage', $arquivos['full_path']);
                                                                        $fullPath = '/storage' . $fullPath[1];
                                                                        ?>
                                                                        <li>
                                                                            <a href="<?= $fullPath ?>" target="_blank">
                                                                                <?= $nomeArquivo ?>
                                                                            </a>
                                                                        </li>
                                                                    <?php endforeach; ?>
                                                                </ul>
                                                            </div>
                                                        <?php endif; ?>
                                                    </blockquote>
                                                </div>

                                                <?php if($ocorrencia['status'] != 'Em Aberto'): ?>
                                                    <div class="col-xs-12"> <hr></div>
                                                    <div class="col-xs-12">
                                                        <label>Houve retorno para casa?</label>
                                                        <?= $ocorrencia['retorno_hc'] == 0 ? 'Não' : 'Sim' ?>
                                                    </div>


                                                    <?if($ocorrencia['retorno_hc'] == 1):?>
                                                        <div class="col-xs-12 " >
                                                            <label>Descreva:</label>
                                                            <?= $ocorrencia['descricao'] ?>
                                                        </div>
                                                        <?php
                                                    endif;
                                                endif;
                                                ?>

                                                <?php if($ocorrencia['status'] == 'Em Aberto'): ?>
                                                    <div class="row">
                                                        <div class="row pull-right">
                                                            <div class="col-xs-12">
                                                                <button type="button" ocorrencia="<?= $ocorrencia['id'] ?>" class='btn btn-primary responder'>
                                                                    Responder
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <br>

                                                <?php endif; ?>
                                                <div class="row">
                                                    <div class="col-xs-12">
                                                        <br>
                                                        <div class="panel-group responder-<?= $ocorrencia['id'] ?>" style="display: none;" id="accordion">
                                                            <div class="panel panel-default">
                                                                <div class="panel-heading">
                                                                    <h4 class="panel-title">
                                                                        <b>Responder </b>
                                                                    </h4>
                                                                </div>
                                                                <div class="panel-body">
                                                                    <form action="" enctype="multipart/form-data" class="responder-ocorrencia-form">
                                                                        <div class="row">
                                                                            <div class="col-xs-12">
                                                                                <label>Resposta:</label>
                                                                                <textarea name="resposta" rows="5" id="resposta" class="form-control"></textarea>
                                                                            </div>
                                                                        </div>
                                                                        <br>
                                                                        <div class="row">
                                                                            <div class="col-xs-6">
                                                                                <label>Sugerir como resolvido?</label>
                                                                                <input name="sugerir_resolvido"
                                                                                       id='sugerir-resolvido'
                                                                                       type="checkbox"
                                                                                       data-toggle="toggle"
                                                                                       data-on="Sim"
                                                                                       data-off="Não"
                                                                                       data-onstyle="success"
                                                                                       data-offstyle="warning"
                                                                                       data-size="small"
                                                                                       value="1">
                                                                            </div>
                                                                            <div class="col-xs-6">
                                                                                <label for="arquivos">Arquivo(s):</label>
                                                                                <input type="file" class="form-control arquivos" multiple name="arquivos[]">
                                                                                <small class="text-muted">Se existirem arquivos que ajudem no entendimento da ocorrência.</small>
                                                                            </div>
                                                                        </div>
                                                                        <br>
                                                                        <div class="row text-center">
                                                                            <div class="col-xs-12">
                                                                                <button type="button" ocorrencia="<?= $ocorrencia['id'] ?>" class='btn btn-primary enviar-resposta'>
                                                                                    Enviar
                                                                                </button>
                                                                                <button type="button" ocorrencia="<?= $ocorrencia['id'] ?>" class='btn btn-warning cancelar-resposta'>
                                                                                    Cancelar
                                                                                </button>
                                                                            </div>
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="panel-group" id="accordion">
                                                        <div class="panel panel-default">
                                                            <div class="panel-heading">
                                                                <h4 class="panel-title">
                                                                    <b>Respostas </b>
                                                                    <?php if(count($ocorrencia['respostas']) > 0): ?>
                                                                        <span class="label label-warning pull-right">
                                                        <?= count($ocorrencia['respostas']) ?> mensagem(ns)
                                                    </span>
                                                                    <?php endif; ?>
                                                                </h4>
                                                            </div>
                                                            <div class="panel-body">
                                                                <div class="col-xs-12">
                                                                    <div class="ibox float-e-margins">
                                                                        <div class="ibox-content">
                                                                            <div>
                                                                                <div class="feed-activity-list" id="respostas-<?= $ocorrencia['id'] ?>">
                                                                                    <?php
                                                                                    if(count($ocorrencia['respostas']) > 0):
                                                                                        foreach ($ocorrencia['respostas'] as $resposta):
                                                                                            $dataHoraResposta = \DateTime::createFromFormat('Y-m-d H:i:s', $resposta['created_at']);
                                                                                            $dataHoraRespostaFormated = $dataHoraResposta->format('d/m/Y à\s H:i:s');
                                                                                            \Moment\Moment::setLocale('pt_BR');
                                                                                            $fromNow = (new \Moment\Moment($dataHoraResposta->format('U')))->fromNow()->getRelative();
                                                                                            ?>
                                                                                            <div class="feed-element">
                                                                                                <div class="media-body">
                                                                                                    <small class="pull-right"><?= $fromNow ?></small>
                                                                                                    <strong><?= $resposta['nome_usuario'] ?></strong>
                                                                                                    <p style="width: 90%;">
                                                                                                        <?= $resposta['resposta'] ?>
                                                                                                    </p>
                                                                                                    <p style="width: 90%;">
                                                                                                        <label>Sugerir como resolvido? <?= $resposta['sugerido_resolvido'] == 0 ? 'Não' : 'Sim' ?></label>
                                                                                                    </p>
                                                                                                    <small class="text-muted"><?= $dataHoraRespostaFormated ?></small>
                                                                                                    <div class="arquivos-resposta-ocorrencia">
                                                                                                        <ul>
                                                                                                            <?php
                                                                                                            foreach ($ocorrencia['arquivos_respostas'] as $arquivos):
                                                                                                                if($arquivos['resposta_id'] == $resposta['id']):
                                                                                                                    $nomeArquivo = explode('/', $arquivos['full_path']);
                                                                                                                    $nomeArquivo = end($nomeArquivo);
                                                                                                                    $fullPath = explode('storage', $arquivos['full_path']);
                                                                                                                    $fullPath = '/storage' . $fullPath[1];
                                                                                                                    ?>
                                                                                                                    <li>
                                                                                                                        <a href="<?= $fullPath ?>" target="_blank">
                                                                                                                            <?= $nomeArquivo ?>
                                                                                                                        </a>
                                                                                                                    </li>
                                                                                                                    <?php
                                                                                                                endif;
                                                                                                            endforeach;
                                                                                                            ?>
                                                                                                        </ul>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                            <hr>
                                                                                            <?php
                                                                                        endforeach;
                                                                                    else:
                                                                                        ?>
                                                                                        <div class="feed-element">
                                                                                            <div class="sem-respostas text-center">
                                                                                                Nenhuma resposta enviada até o momento!
                                                                                            </div>
                                                                                        </div>
                                                                                    <?php endif; ?>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel-group" id="resolver-<?= $ocorrencia['id'] ?>" style="display: none;">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <b>Marcar como Resolvido </b>
                                            </h4>
                                        </div>
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <label>Houve retorno para casa?</label>
                                                    <input name="retorno_hc"
                                                           class ='retorno-hc'
                                                           type="checkbox"
                                                           data-toggle="toggle"
                                                           data-on="Sim"
                                                           data-off="Não"
                                                           data-onstyle="success"
                                                           data-offstyle="warning"
                                                           data-size="small"
                                                           value="1">
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12 descricao-qualidade-retorno-combo" style="display: none;">
                                                    <label>Descreva:</label>
                                                    <textarea name="descricao_qualidade_retorno" rows="5" id="" class="form-control descricao-qualidade-retorno"></textarea>
                                                </div>
                                            </div>
                                            <div class="row pull-right">
                                                <div class="col-xs-12">
                                                    <button type="button" ocorrencia="<?= $ocorrencia['id'] ?>" class='btn btn-primary finalizar'>
                                                        Finalizar
                                                    </button>
                                                    <button type="button" ocorrencia="<?= $ocorrencia['id'] ?>" class='btn btn-warning cancelar-resolver'>
                                                        Cancelar
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <?php endforeach; ?>
                        <?php else: ?>
                            <span class="text-center"><b><?= $ocorrencias ?></b></span>
                            <?php
                        endif;
                    endif;
                endif;
                ?>
            </div>
        </div>
    </div>
</div>

<div id="left">
    <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
</div>
<script type="text/javascript" src="/utils/bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/utils/jquery/js/bootstrap-toggle.min.js"></script>
<script type="text/javascript" src="/utils/bower_components/moment/moment.js"></script>
<script type="text/javascript" src="/ocorrencia/js/pt-br.js"></script>
<script type="text/javascript" src="/ocorrencia/js/list.js?v=4"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $(".panel-group .collapse.in").each(function(){
            $(this)
                .siblings(".panel-heading")
                .find(".fa.switch-plus-minus")
                .addClass("fa-caret-square-o-down")
                .removeClass("fa-caret-square-o-up");
        });

        $(".panel-group .collapse").on('show.bs.collapse', function(){
            $(this)
                .parent()
                .find(".fa.switch-plus-minus")
                .removeClass("fa-caret-square-o-up")
                .addClass("fa-caret-square-o-down");
        }).on('hide.bs.collapse', function(){
            $(this)
                .parent()
                .find(".fa.switch-plus-minus")
                .removeClass("fa-caret-square-o-down")
                .addClass("fa-caret-square-o-up");
        });
    });
</script>
</body>
</html>