<script type="text/javascript" src="/faturamento/modal-add-item-faturamento/js/main.js?v=2.8"></script>
<script type="text/javascript" src="/faturamento/modal-add-item-faturamento/js/typeahead.js?v=1.3"></script>