<?php require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>
<head>
  <meta charset="UTF-8">
  <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php'); ?>
	<link rel="stylesheet" type="text/css" href="/utils/reports.css">
	<link rel="stylesheet" type="text/css" href="/utils/jquery/css/chosen/chosen.css">
</head>
  <div id="content">
    <div id="right">
      <center><h1>Buscar Parcelas a Pagar/Receber - <?= $_SESSION['nome_empresa'] ?></h1></center>
      <br><br><br>
			<form method="post" action="/financeiros/contas/?type=buscar-contas-ur">
				<div id="search" style="position: relative; float: left; margin: 0 auto;">
                    <div class="full">
                        <label class="label negrito">Tipo: </label>
                        <label class="">
                            <input type="radio" checked id="tipo-0" name="tipo" <?= isset($tipo) && $tipo == '0' ? "checked" : "" ?> value="0">
                            A Receber
                        </label>
                        <label class="">
                            <input type="radio" name="tipo" id="tipo-1" <?= isset($tipo) && $tipo == '1' ? "checked" : "" ?> value="1">
                            A Pagar
                        </label>
                    </div>
					<div class="half">
						<label class="label negrito">TR: </label>
						<input type="text" name="tr" size="10" placeholder="E.g.: 12345" value="<?= isset($tr) && !empty($tr) ? $tr : "" ?>">
						<small class="italico negrito"> *Caso a busca seja feita pela TR, os demais campos abaixo serão desconsiderados.</small>
					</div>
					<div class="half">
						<label class="label negrito">Nº da Nota: </label>
						<input type="text" name="num_nota" size="10" placeholder="E.g.: 12345" value="<?= isset($num_nota) && !empty($num_nota) ? $num_nota : "" ?>">
					</div>

					<div class="half">
						<label class="label negrito">Descricao da Nota: </label>
						<input type="text" name="descricao_nota" size="40" placeholder="E.g.: Pagamento de conta de energia"
									 value="<?= isset($descricao_nota) && !empty($descricao_nota) ? $descricao_nota : "" ?>">
					</div>

					<div class="half">
						<label class="label negrito">Status: </label>
						<select name="status_nota" id="status-nota-relatorio">
							<option selected value="">Todos</option>
							<option <?= (isset($status_nota) && ($status_nota == "Cancelada")) ? "selected" : "" ?> value="Cancelada">Cancelada</option>
							<option <?= (isset($status_nota) && ($status_nota == "Inconsistente")) ? "selected" : "" ?> value="Inconsistente">Inconsistente</option>
							<option <?= (isset($status_nota) && ($status_nota == "Pendente")) ? "selected" : "" ?> value="Pendente">Pendente</option>
							<option <?= (isset($status_nota) && ($status_nota == "Processada")) ? "selected" : "" ?> value="Processada">Processada</option>
						</select>
					</div>
					<div class="half">
						<label class="label negrito">Valor (R$): </label>
						<input type="text" name="valor" id="valor" size="10" value="<?= isset($valor) && !empty($valor) ? $valor : "" ?>">
						<input type="button" name="limpar" id="limpar" value="Limpar">
					</div>

					<div class="half">
						<label class="label negrito">Data de Vencimento: </label>
						<input type="date" name="vencimento_inicio" value="<?= isset($vencimento_inicio) && !empty($vencimento_inicio) ? $vencimento_inicio : "" ?>"> -
						<input type="date" name="vencimento_fim" value="<?= isset($vencimento_fim) && !empty($vencimento_fim) ? $vencimento_fim : "" ?>">
					</div>
					<div class="half negrito">
						<label class="label">Data de Pagamento: </label>
						<input type="date" name="pagamento_inicio" value="<?= isset($pagamento_inicio) && !empty($pagamento_inicio) ? $pagamento_inicio : "" ?>"> -
						<input type="date" name="pagamento_fim" value="<?= isset($pagamento_fim) && !empty($pagamento_fim) ? $pagamento_fim : "" ?>">
					</div>

					<div class="full negrito">
						<label class="label">Data de Entrada: </label>
						<input type="date" name="entrada_inicio" value="<?= isset($entrada_inicio) && !empty($entrada_inicio) ? $entrada_inicio : "" ?>"> -
						<input type="date" name="entrada_fim" value="<?= isset($entrada_fim) && !empty($entrada_fim) ? $entrada_fim : "" ?>">
					</div>
					<div class="full negrito">
						<label class="label negrito">Fornecedor: </label>
						<select name="fornecedor" id="fornecedor-relatorio">
							<option selected value="">Todos</option>
							<?php
								foreach($fornecedores as $fornecedor):
							?>
									<option <?= (isset($fetch['idFornecedores']) && ($fetch['idFornecedores'] == $fornecedor['idFornecedores'])) ? "selected" : "" ?>
										value="<?= $fornecedor['idFornecedores'] ?>">
										<?= $fornecedor['razaoSocial'] ?>
									</option>
							<?php endforeach; ?>
						</select>
					</div>
				</div>
				<center style="position: relative; float: left; width: 100%; margin-top: 20px;">
					<button type="submit" class='ui-button ui-widget ui-corner-all ui-button-text-only ui-state-hover' id="buscar">
						<span class='ui-button-text'>Buscar</span>
					</button>
					&nbsp;&nbsp;&nbsp;&nbsp;
					<button id=''  type="button" class=' voltar_ ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only ui-state-hover' role='button' aria-disabled='false' ><span class='ui-button-text'>Voltar</span></button>
				</center>
      </form>
			<?php
				if(isset($response)):
			?>
			<hr id="separator">
			<center class="negrito" id="search-results">
				Exibindo resultados para:
				<span class="italico">
					<?php
						echo substr_replace(array_reduce($buscandoPor, function($buffer, $piece){
							return $buffer .= $piece . "/";
						}), "", -1);
					?>
				</span>
			</center>
			<div id="response">
				<table class='mytable' width='100%' >
					<thead>
						<tr>
							<th>DATA PGTO</th>
							<th>VENCIMENTO</th>
							<th>FORNECEDOR</th>
							<th>UR</th>
							<th>STATUS</th>
							<th>TR</th>
							<th>VALOR</th>
							<th>DETALHAMENTO</th>
						</tr>
					</thead>
					<tbody>
						<?php
							$total = 0;
							if(count($response) > 0){
								foreach($response as $data):
									$total += $data['valor'];
						?>
						<tr>
							<td><?= $data['datapagamento'] ?></td>
							<td><?= $data['datavencimento'] ?></td>
							<td><?= $data['razaoSocial'] ?></td>
							<td><?= $data['UR'] ?></td>
							<td><?= $data['status'] ?></td>
							<td><?= $data['TR'] ?></td>
							<td>R$ <?= number_format($data['valor'], 2, ',', '.') ?></td>
							<td><?= $data['status'] == 'Cancelada' ? '' : "<a href=/financeiros/?op=notas&act=detalhes&idNotas={$data['idNota']}><img src='/utils/details_16x16.png' title='Detalhes' border='0'></a>"; ?></td>
						</tr>
						<?php
								endforeach;
						?>
						<tr bgcolor="#e6e6fa">
							<td colspan="6" align="right"><strong>Total: </strong></td>
							<td align="center"><strong>R$ <?= number_format($total, 2, ',', '.') ?></strong></td>
							<td align="center"></td>
						</tr>
						<?php
							}else{
						?>
						<tr>
							<td colspan="8" align="center"><strong>Nenhum resultado foi encontrado!</strong></td>
						</tr>
						<?php
							}
						?>
					</tbody>
				</table>
			</div>
			<?php
				endif;
			?>
    </div>
    <div id="left">
      <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
    </div>
  </div>
	<script type="text/javascript" src="/utils/jquery/js/chosen.jquery.min.js"></script>
	<script type="text/javascript" src="/utils/jquery/js/jquery.price_format.1.8.js"></script>
	<script type="text/javascript">
		$(function($){
			$('#status-nota-relatorio').chosen();
			$('#fornecedor-relatorio').chosen();
			$(".voltar_").click(function(event) {
				event.preventDefault();
				history.back(1);
			});

			$("#valor").priceFormat({
				prefix: '',
				centsSeparator: ',',
				thousandsSeparator: '.'
			});

			$("#limpar").click(function(){
				$("#search input[name='valor']").val("");
			});
		});
	</script>
  </body>
  </html>