<?php require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>
<head>
    <meta charset="UTF-8">
    <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php'); ?>
    <link rel="stylesheet" type="text/css" href="/utils/reports.css">
    <link rel="stylesheet" href="/utils/bootstrap-3.3.6-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/utils/bootstrap-3.3.6-dist/css/chosen.bootstrap.min.css" />
    <link rel="stylesheet" href="/utils/font-awesome-4.7.0/css/font-awesome.css" />
</head>
<div id="content">
    <div id="right">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title pull-left" style="padding-top: 7.5px;">
                    <i class="fa fa-search" aria-hidden="true"></i> Custos de Equipamentos por Fornecedor
                </h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="fornecedor">Fornecedor:</label>
                            <select name="fornecedor" chosen id="fornecedor" class="chosen-select form-control fornecedor-busca">
                                <option value="">Selecione...</option>
                                <?php foreach($fornecedores as $fornecedor): ?>
                                    <option <?= isset($fornecedorId) && $fornecedorId === $fornecedor['idFornecedores'] ? "selected" : "" ?> value="<?= $fornecedor['idFornecedores'] ?>"><?= strtoupper($fornecedor['razaoSocial']) ?></option>
                                <?php endforeach; ?>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <table class="table table-responsive table-striped table-hover" id="equipamentos-fornecedor">
                                <thead>
                                <tr>
                                    <th>Descrição</th>
                                    <th>Unidade</th>
                                    <th>Custo</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td colspan="3" align="center"><b>Escolha um fornecedor para começar...</b></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="form-group">
                            <button type="submit" id="salvar-equipamentos-fornecedor" class='ui-button ui-widget ui-corner-all ui-button-text-only ui-state-hover' >
                                <span class='ui-button-text'>Atualizar</span>
                            </button>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <button  class=' voltar_ btn btn-primary' role='button' aria-disabled='false' ><span class='ui-button-text'>Voltar</span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="left">
        <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
    </div>
</div>
<script src="/utils/bootstrap-3.3.6-dist/js/bootstrap.min.js" ></script>
<script type="text/javascript" src="/financeiros/fornecedor/js/main.js?v=1.3"></script>
</body>
</html>