<?php require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>
<head>
 <meta charset="UTF-8">
 <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php'); ?>
 <link rel="stylesheet" type="text/css" href="/utils/reports.css">
</head>
<div id="content">
 <div id="right">
   <p><a href='/financeiros/fornecedor/?action=gerenciar-email-fornecedor-equipamento-form'>Gerenciar E-mails dos Fornecedores de Equipamentos</a></p>
   <p><a href='/financeiros/fornecedor/?action=equipamentos-fornecedor-form'>Cadastrar Custo de Equipamentos por Fornecedor</a></p>

 </div>
 <div id="left">
  <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
 </div>
</div>
</body>
</html>