<?php require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>
<head>
    <meta charset="UTF-8">
    <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php'); ?>
    <link rel="stylesheet" type="text/css" href="/utils/reports.css">
    <link rel="stylesheet" href="/utils/bootstrap-3.3.6-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/utils/bootstrap-3.3.6-dist/css/chosen.bootstrap.min.css" />
    <link rel="stylesheet" href="/utils/font-awesome-4.7.0/css/font-awesome.css" />
</head>
<div id="content">
    <div id="right">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title pull-left" style="padding-top: 7.5px;">
                    <i class="fa fa-archive" aria-hidden="true"></i> Gerenciar E-mails dos Fornecedores de Equipamentos
                </h3>
            </div>
            <div class="panel-body">
                <form id="form-gerenciar-email-fornecedor-equipamento">
                <div class="row">
                    <div class="alert-info alert">
                        <b>Escolha um fornecedor para visualizar os e-mails já cadastrados para ele.</b>

                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="fornecedor">Fornecedor:</label>
                            <select name="fornecedor"  class="chosen-select form-control OBG_CHOSEN fornecedor-busca-email">
                                <option value="" selected >Selecione...</option>
                                <?php foreach($fornecedores as $fornecedor): ?>
                                    <option <?= isset($fornecedorId) && $fornecedorId === $fornecedor['idFornecedores'] ? "selected" : "" ?> value="<?= $fornecedor['idFornecedores'] ?>"><?= strtoupper($fornecedor['razaoSocial']) ?></option>
                                <?php endforeach; ?>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <div class="panel panel-default" id="panel-adicionar-email">
                                <div class="panel-heading clearfix" >
                                    <div class="col-md-10">
                                        <h3 class="panel-title pull-left" style="padding-top: 7.5px;">
                                            <i class="fa fa-plus" aria-hidden="true"></i> Adicionar novos E-mails:
                                        </h3>
                                    </div>
                                    <div class="btn btn-primary col-md-2" id='adicionar-novo-email-fornecedor'>
                                        <i class="fa fa-plus"  aria-hidden="true"></i>
                                        Adicionar
                                    </div>
                                </div>
                                <div class="panel-body">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" >
                    <div class="col-lg-12">
                        <div class="form-group" id="div-emails-cadastrados">
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="form-group">
                            <div class="btn btn-primary" id="salvar-novo-email">
                                <span class='ui-button-text'>Salvar</span>
                            </div>                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <button  class=' voltar_ btn btn-primary' role='button' aria-disabled='false' ><span class='ui-button-text'>Voltar</span></button>
                        </div>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>

    <div id="left">
        <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
    </div>
</div>
<script src="/utils/bootstrap-3.3.6-dist/js/bootstrap.min.js" ></script>
<script type="text/javascript" src="/utils/jquery/js/validar_campos.js"></script>
<script type="text/javascript" src="/financeiros/fornecedor/js/main.js?v=1.4"></script>

</body>
</html>