<?php require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>
<head>
    <meta charset="UTF-8">
    <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php'); ?>
    <link rel="stylesheet" type="text/css" href="/utils/reports.css">
    <link rel="stylesheet" type="text/css" href="/utils/jquery/css/chosen/chosen.css">
    <link rel="stylesheet" href="/utils/global.css"/>
</head>
<div id="content">
    <div id="right">
        <center><h1>Editar Entrada de Produtos</h1></center>
        <br>
        <?php
        $display = "none";
        $class = "";
        if(isset($_GET['msg']) && !empty($_GET['msg'])) {
            $msg = base64_decode($_GET['msg']);
            $type = $_GET['type'];
            if ($type === 's') {
                $display = "block";
                $class = "success";
            } else {
                $display = "block";
                $class = "failed";
            }
        }
        ?>
        <div style="display:<?= $display ?>" class="msg <?= $class ?>">
            <strong><?= $msg ?></strong>
        </div>
        <form method="post" action="/logistica/notas/?action=editar-entrada-produtos" id="form-busca">
            <p>
                <strong>Período:</strong><br>
                <input type="date" required name="periodo_inicio" value="<?= isset($periodoInicio) && !empty($periodoInicio) ? $periodoInicio : "" ?>"> -
                <input type="date" required name="periodo_fim" value="<?= isset($periodoFim) && !empty($periodoFim) ? $periodoFim : "" ?>">
            </p>
            <p>
                <strong>Fornecedores:</strong><br>
                <select name="fornecedor" class="fornecedor">
                    <option value="">Selecione...</option>
                    <?php foreach($fornecedores as $fornecedor): ?>
                        <option <?= isset($fornecedorBusca) && $fornecedorBusca === $fornecedor['idFornecedores'] ? "selected" : "" ?> value="<?= $fornecedor['idFornecedores'] ?>"><?= strtoupper($fornecedor['razaoSocial']) ?></option>
                    <?php endforeach; ?>
                </select>
            </p>
            <p>
                <strong>Item:</strong><br>
                <input type="text" name="busca_item" class="busca-item-editar-entrada" size="80" value="<?= isset($buscaItem) && !empty($buscaItem) ? $buscaItem : "" ?>" />
                <input type="hidden" name="item" class="item" value="<?= isset($item) && !empty($item) ? $item : "" ?>">
            </p>
            <div style="position: relative; float: left; width: 100%; margin-top: 10px;">
                <button type="submit" class='ui-button ui-widget ui-corner-all ui-button-text-only ui-state-hover' id="buscar">
                    <span class='ui-button-text'>Buscar</span>
                </button>
                <button type="reset" class='ui-button ui-widget ui-corner-all ui-button-text-only ui-state-hover' id="reset">
                    <span class='ui-button-text'>Limpar</span>
                </button>
            </div>
        </form>
        <?php if(isset($response)): ?>
            <hr id="separator">
            <div id="response">
                <form method="post" action="/logistica/notas/?action=atualizar-entrada-produtos">
                    <label style="float: left; padding-top: 20px;">
                        Total de <b><?= $count ?></b> entradas encontradas.
                    </label>
                    <table class='mytable font8'>
                        <thead>
                        <tr align="center">
                            <th>DATA DA ENTRADA</th>
                            <th>FORNECEDOR</th>
                            <th>LABORATÓRIO</th>
                            <th>NOME DO ITEM</th>
                            <th>TIPO</th>
                            <th>ATIVO?</th>
                            <th>LOTE</th>
                            <th>QUANTIDADE</th>
                            <th>VALIDADE</th>
                            <th>VALOR</th>
                        </tr>
                        </thead>
                        <tbody>
                        <?php
                        if($count > 0):
                            foreach($response as $data):
                                $dataEntrada = \DateTime::createFromFormat('Y-m-d', $data['dataEntrada']);
                        ?>
                                <tr>
                                    <td align="center"><?= $dataEntrada->format('d/m/Y') ?></td>
                                    <td><?= $data['razaoSocial'] ?></td>
                                    <td align="center"><?= $data['laboratorio'] ?></td>
                                    <td>
                                        <input type="text" style="font-size:10px;" name="busca_item" class="busca-item-editar-entrada" value="<?= $data['nomeItem'] ?>" />
                                        <input type="hidden" name="item[<?= $data['idEntrada'] ?>]" class="item" value="<?= $data['idItem'] ?>">
                                        <input type="hidden" name="item_anterior[<?= $data['idEntrada'] ?>]" class="item_anterior" value="<?= $data['idItem'] ?>">
                                    </td>
                                    <td align="center"><?= $data['tipoItem'] ?></td>
                                    <td align="center"><?= $data['ativo'] ?></td>
                                    <td align="center">
                                        <input type="text" class='font8'
                                               name="lote[<?= $data['idEntrada'] ?>]" style="width: 60px;font-size:10px;" value="<?= $data['LOTE'] ?>">
                                        <input type="hidden" name="lote_anterior[<?= $data['idEntrada'] ?>]" value="<?= $data['LOTE'] ?>">
                                    </td>
                                    <td align="center">
                                        <input type="text" style="width: 30px;font-size:10px" name="qtd[<?= $data['idEntrada'] ?>]" size="5" value="<?= $data['qtd'] ?>">
                                        <input type="hidden" name="qtd_anterior[<?= $data['idEntrada'] ?>]" value="<?= $data['qtd'] ?>">
                                    </td>
                                    <td align="center">
                                        <input type="date" style="width: 125pxfont-size:10px;" name="validade[<?= $data['idEntrada'] ?>]" value="<?= $data['VALIDADE'] ?>">
                                        <input type="hidden" name="validade_anterior[<?= $data['idEntrada'] ?>]" value="<?= $data['VALIDADE'] ?>">
                                    </td>
                                    <td align="center">
                                        <input type="text" style="width: 50px;font-size:10px;" class='valor' name="valor[<?= $data['idEntrada'] ?>]" value="<?= number_format($data['valor'], 2, ',', '.'); ?>">
                                        <input type="hidden" name="valor_anterior[<?= $data['idEntrada'] ?>]" value="<?= $data['valor'] ?>">
                                    </td>
                                </tr>
                            <?php endforeach; ?>
                        <?php else: ?>
                            <tr>
                                <td colspan="10" align="center"><strong>Nenhum resultado foi encontrado!</strong></td>
                            </tr>
                        <?php endif; ?>
                        </tbody>
                    </table>
                    <br>
                    <div style="position: relative; float: left; width: 100%; margin-top: 10px;">
                        <button type="submit" class='ui-button ui-widget ui-corner-all ui-button-text-only ui-state-hover' id="buscar">
                            <span class='ui-button-text'>Atualizar Entrada(s)</span>
                        </button>
                    </div>
                </form>
            </div>
            <?php endif; ?>
        </div>
    </div>
    <div id="left">
        <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
    </div>
</div>
<script type="text/javascript" src="/logistica/notas/js/editar_entrada.js?v=1.1"></script>
</body>
</html>