<?php require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>
<head>
    <meta charset="UTF-8">
    <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php'); ?>
    <link rel="stylesheet" href="/utils/global.css"/>
</head>
<div id="content">
    <center id="right">
        <center><h1>Entrada de Nota de Compra de Produtos</h1></center>
        <br>
        <?php
        $display = "none";
        if(isset($_GET['msg']) && !empty($_GET['msg'])) {
            $msg = base64_decode($_GET['msg']);
            $type = $_GET['type'];
            if ($type === 's') {
                $display = "block";
                $class = "success";
            } else {
                $display = "block";
                $class = "failed";
            }
        }

        $readonly = "";
        if(isset($response) && is_array($response)) {
            $readonly = "readonly";
        }
        ?>
        <div style="display:<?= $display ?>" class="msg <?= $class ?>">
            <strong><?= $msg ?></strong>
        </div>

        <div id="div-xml-nota" title="Importar Nota">
            <form action="/logistica/notas/?action=entrada-produtos" method="post" enctype="multipart/form-data">
                <div style="width:53px;float:left;display:table;padding-right:10px;">
                    <label><b>Arquivo:</b></label>
                </div>
                <div style="display:table;width:200px;padding-right:100px;">
                    <input name="xml" type="file"/>
                </div>
                <br/>
                <button id="enviar_xml_nota" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only ui-state-hover" type="submit" role="button" aria-disabled="false">
                    <span class="ui-button-text" id="enviar_xml_nota">Enviar</span>
                </button>
            </form>
        </div>
        <div>
            <button id="xml_nota" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only ui-state-hover" type="submit" role="button" aria-disabled="false">
                <span class="ui-button-text">Importar XML</span>
            </button>
        </div>
        <?php if(isset($response) && !is_array($response)): ?>
            <div class="error-xml">
                <?= $response ?>
            </div>
        <?php endif; ?>
        <form method="post" action="/logistica/notas/?action=salvar-entrada-produtos" onsubmit="return validar_form()">
            <div class="form-input100" >
                <p><strong>Fornecedor</strong></p>
                <select name="fornecedor" class="fornecedor">
                    <option value="">Selecione um fornecedor...</option>
                    <?php foreach($fornecedores as $fornecedor): ?>
                        <option <?= isset($response) && is_array($response) ? ($fornecedor['idFornecedores'] == $response['fornecedorId'] ? 'selected' : '') : ''  ?> value="<?= $fornecedor['idFornecedores'] ?>"><?= $fornecedor['razaoSocial'] ?></option>
                    <?php endforeach; ?>
                </select>
                <a href="/financeiros/?op=fornecedor&act=novo"
                   target="_blank"
                   class="ui-button ui-widget ui-corner-all ui-button-text-only ui-state-hover">
                    <span style="height: 15px;" class='ui-button-text'>Novo Fornecedor *</span>
                </a>
                <br />
                <b>* Após cadastrar o novo fornecedor, recarregue a página para que o mesmo apareça no menu acima.</b>
            </div>
            <div class="form-input100" >
                <p><strong>Chave de Acesso</strong></p>
                <input type="text" <?= $readonly ?> name="chave_acesso" size="44" maxlength="44" value="<?= isset($response) && is_array($response) ? $response['chaveAcesso'] : '' ?>">
            </div>
            <div class="form-input100" >
                <p><strong>Tipo de Documento</strong></p>
                <input type="text" <?= $readonly ?> name="tipo_documento" size="50" maxlength="50" required="required" value="<?= isset($response) && is_array($response) ? $response['tipoDocumento'] : '' ?>">
            </div>
            <div class="form-input100" >
                <p><strong>Nº da Nota</strong></p>
                <input type="text" <?= $readonly ?> name="num_nota" size="10" maxlength="50" required="required" value="<?= isset($response) && is_array($response) ? $response['numeroNota'] : '' ?>">
            </div>
            <div class="form-input100" >
                <p><strong>Data Emissão</strong></p>
                <input type="date" <?= $readonly ?> name="emissao" class="emissao" size="10" maxlength="10" required="required" value="<?= isset($response) && is_array($response) ? $response['dataEmissao'] : '' ?>">
            </div>
            <div class="form-input100" >
                <p><strong>Descrição</strong></p>
                <input type="text" name="descricao" size="100" maxlength="100" readonly="readonly" value="COMPRA MAT/MED">
            </div>
            <div class="form-input100" >
                <p><strong>Outras Despesas</strong></p>
                <input type="text" <?= $readonly ?> name="outras_despesas" id="outras-despesas" size="10" maxlength="11" value="<?= isset($response) && is_array($response) ? $response['outrasDespesas'] : '0,00' ?>">
            </div>
            <br /><br />

            <fieldset>
                <legend><b>Lançar Produtos</b></legend>
                <br />
                <?php if(!isset($response) || !is_array($response)): ?>
                <input id='busca-entrada-equipamento' type='checkbox' /> <b>Marque se o item for um Equipamento!</b>
                <input id='tipo-busca' tipo='' type='hidden'/>
                <div class="form-input100" >
                    <p>
                        <strong>Buscar item</strong>
                    </p>
                    <input type='text' name='busca-item' id='busca-item' size='80' />
                </div>
                <div class="form-input100" >
                    <p>
                        <strong>Lote / Nº. de Série</strong>
                        <strong style="margin-left: 105px;">Quantidade</strong>
                        <strong style="margin-left: 150px;">Subtotal</strong>
                        <strong style="margin-left: 90px;">Validade</strong>
                    </p>
                    <input type='text' name='lote' id='lote' size='20' />
                    <input style="margin-left: 50px;" type='number' name='qtd' id='qtd' size='10' maxlength="10" value="0" />
                    <input style="margin-left: 50px;" type='text' name='valor_unitario' id='valor-unitario' size='10' maxlength="10" value="0" />
                    <input style="margin-left: 50px;" type='date' name='validade' id='validade' size='10' maxlength="10" />
                </div>
                <div class="form-input100" >
                    <p>
                        <strong>Tipo Aquisição</strong>
                        <strong style="margin-left: 128px;">CFOP</strong>
                        <strong style="margin-left: 188px;">Desconto (%)</strong>
                        <strong style="margin-left: 63px;">Número de Patrimônio</strong>
                    </p>
                    <select name="tipo_aquisicao" id="tipo-aquisicao">
                        <option value="1" selected="selected">Comprado</option>
                        <option value="2">Alugado</option>
                    </select>
                    <input style="margin-left: 123px;" type='number' name='cfop' id='cfop' size='10' maxlength="4" />
                    <input style="margin-left: 50px;" type='text' name='desconto' id='desconto' size='10' maxlength="10" value="0" />
                    <input style="margin-left: 50px;" type='text' name='referencia' id='referencia' size='10' maxlength="50" />
                </div>
                <br />
                <div class="form-input100" >
                    <button type="button" class='ui-button ui-widget ui-corner-all ui-button-text-only ui-state-hover' id="incluir-produto">
                        <span class='ui-button-text'>Incluir +</span>
                    </button>
                </div>
                <?php endif; ?>

                <!-- Produtos a serem inseridos -->
                <center>
                    <h3><strong style="color: #8B0000;">PRODUTOS</strong></h3>
                </center>
                <div class="produtos">
                    <table width="100%" class="mytable">
                        <thead>
                        <tr>
                            <th width="20%">ITEM</th>
                            <th width="15%">LOTE/Nº SÉRIE</th>
                            <th width="10%">QUANTIDADE</th>
                            <th width="10%">VL. UNIT.</th>
                            <th width="10%">VALIDADE</th>
                            <th width="15%">TIPO AQUISIÇÃO</th>
                            <th width="5%">CFOP</th>
                            <th width="5%">DESCONTO</th>
                            <th width="15%">Nº PATRIM.</th>
                            <th width="5%">SUBTOTAL</th>
                        </tr>
                        </thead>
                        <tbody>
                        <?php
                        if(isset($response) && is_array($response)):
                            $i = 0;
                            foreach ($response['produto'] as $key => $produto):
                                $loteControle = str_replace(' ', '', $produto['lote']);
                                $key = explode('-', $key);
                                $key = $key[0];
                        ?>
                            <tr <?= $produto['nomeItem'] != '' ? '' : 'style="background: #b81900"' ?>>
                                <td width="20%">
                                    <input type="hidden" class="controle" value="<?= ($produto['lote'] != '' ? $loteControle : $i) ?>">
                                    <?php if($produto['nomeItem'] == ''): ?>
                                        <input type="text" name="busca-item-xml" class="busca-item-xml" size="40" />
                                        <input type="hidden" name="tipo[]" class="tipo_produto" value="">
                                        <input type="hidden" name="ean[]" class="ean_produto" value="<?= $produto['ean'] ?>">
                                        <input type="hidden" name="cprod[]" class="cprod_produto" value="<?= $produto['cProd'] ?>">
                                    <?php else: ?>
                                        (<?= $key ?>) <?= $produto['nomeItem'] ?>
                                        <input type="hidden" name="tipo[<?= $key . '-' . ($produto['lote'] != '' ? $loteControle : $i) ?>]" class="tipo_produto" value="<?= $produto['tipo'] ?>">
                                        <input type="hidden" name="ean[<?= $key . '-' . ($produto['lote'] != '' ? $loteControle : $i) ?>]" class="ean_produto" value="<?= $produto['ean'] ?>">
                                        <input type="hidden" name="cprod[<?= $key . '-' . ($produto['lote'] != '' ? $loteControle : $i) ?>]" class="cpro_produto" value="<?= $produto['cProd'] ?>">
                                    <?php endif; ?>
                                </td>
                                <td width="15%">
                                    <?php
                                        if($produto['lote'] == ''):
                                            if($produto['nomeItem'] != ''):
                                    ?>
                                                <input type="text" name="lote[<?= $key . '-' . ($produto['lote'] != '' ? $loteControle : $i) ?>]" class="lote_produto">
                                    <?php
                                            else:
                                    ?>
                                                <input type="text" name="lote[]" class="lote_produto">
                                    <?php
                                            endif;
                                        else:
                                            echo $produto['lote'];
                                            if($produto['nomeItem'] != ''):
                                    ?>
                                                <input type="hidden" name="lote[<?= $key . '-' . ($produto['lote'] != '' ? $loteControle : $i) ?>]" class="lote_produto" value="<?= $produto['lote'] ?>">
                                    <?php
                                            else:
                                    ?>
                                                <input type="hidden" name="lote[]" class="lote_produto" value="<?= $produto['lote'] ?>">
                                    <?php
                                            endif;
                                        endif;
                                    ?>
                                </td>
                                <td width="10%">
                                    <?php
                                    if($produto['nomeItem'] != ''):
                                        ?>
                                        <input type="text" name="qtd[<?= $key . '-' . ($produto['lote'] != '' ? $loteControle : $i) ?>]" size="4" class="qtd_produto" value="<?= $produto['qtd'] ?>" required>
                                        <?php
                                    else:
                                        ?>
                                        <input type="text" name="qtd[]" size="4" class="qtd_produto" value="<?= $produto['qtd'] ?>" required>
                                        <?php
                                    endif;
                                    ?>
                                </td>
                                <td width="10%">
                                    <label class="vlunitario">
                                        <?= number_format($produto['vUnit'], 2, ',', '.') ?>
                                    </label>
                                    <?php if($produto['nomeItem'] != ''): ?>
                                        <input type="hidden" size="8" name="vl_unitario[<?= $key . '-' . ($produto['lote'] != '' ? $loteControle : $i) ?>]" class="vl_unitario_produto" value="<?= $produto['vUnit'] ?>">
                                        <?php
                                    else:
                                        ?>
                                        <input type="hidden" size="8" name="vl_unitario[]" class="vl_unitario_produto" value="<?= $produto['vUnit'] ?>">
                                        <?php
                                    endif;
                                    ?>
                                </td>
                                <td width="10%">
                                    <?php
                                    if($produto['validade'] == ''):
                                        if($produto['nomeItem'] != ''):
                                            ?>
                                            <input type="date" name="validade[<?= $key . '-' . ($produto['lote'] != '' ? $loteControle : $i) ?>]" class="validade_produto">
                                    <?php
                                        else:
                                    ?>
                                            <input type="date" name="validade[]" class="validade_produto">
                                    <?php
                                        endif;
                                    else:
                                        echo \DateTime::createFromFormat('Y-m-d', $produto['validade'])->format('d/m/Y');
                                        if($produto['nomeItem'] != ''):
                                            ?>
                                            <input type="hidden" name="validade[<?= $key . '-' . ($produto['lote'] != '' ? $loteControle : $i) ?>]" class="validade_produto" value="<?= $produto['validade'] ?>">
                                            <?php
                                        else:
                                            ?>
                                            <input type="hidden" name="validade[]" class="validade_produto" value="<?= $produto['validade'] ?>">
                                            <?php
                                        endif;
                                    endif;
                                    ?>
                                </td>
                                <td width="15%">
                                    COMPRADO
                                    <?php
                                    if($produto['nomeItem'] != ''):
                                        ?>
                                        <input type="hidden" name="tipo_aquisicao[<?= $key . '-' . ($produto['lote'] != '' ? $loteControle : $i) ?>]" class="tipo_aquisicao_produto" value="1">
                                        <?php
                                    else:
                                        ?>
                                        <input type="hidden" name="tipo_aquisicao[]" class="tipo_aquisicao_produto" value="1">
                                        <?php
                                    endif;
                                    ?>
                                </td>
                                <td width="5%">
                                    <?php
                                    echo $produto['CFOP'];
                                    if($produto['nomeItem'] != ''):
                                        ?>
                                        <input type="hidden" name="cfop[<?= $key . '-' . ($produto['lote'] != '' ? $loteControle : $i) ?>]" class="cfop_produto" value="1">
                                        <?php
                                    else:
                                        ?>
                                        <input type="hidden" name="cfop[]" class="cfop_produto" value="1">
                                        <?php
                                    endif;
                                    ?>
                                </td>
                                <td width="5%">
                                    <?php
                                    echo $produto['desconto'] . ' %';
                                    if($produto['nomeItem'] != ''):
                                        ?>
                                        <input type="hidden" name="desconto[<?= $key . '-' . ($produto['lote'] != '' ? $loteControle : $i) ?>]" class="desconto_produto" value="0.00">
                                        <?php
                                    else:
                                        ?>
                                        <input type="hidden" name="desconto[]" class="desconto_produto" value="0.00">
                                        <?php
                                    endif;
                                    ?>
                                </td>
                                <td width="15%">
                                    <?php
                                    if($produto['nomeItem'] != ''):
                                        ?>
                                        <input type="hidden" name="referencia[<?= $key . '-' . ($produto['lote'] != '' ? $loteControle : $i) ?>]" class="referencia_produto" value="">
                                        <?php
                                    else:
                                        ?>
                                        <input type="hidden" name="referencia[]" class="referencia_produto" value="">
                                        <?php
                                    endif;
                                    ?>
                                </td>
                                <td width="5%" class="subtotal">
                                    <?= number_format($produto['subtotal'], 2, ',', '.') ?>
                                </td>
                            </tr>
                        <?php
                                $i++;
                            endforeach;
                        endif;
                        ?>
                        </tbody>
                    </table>
                </div>
                <br />
                <div style="float: right">
                    <b>Total dos itens: <label id="total-produtos-label">R$ <?= isset($response) && is_array($response) ? number_format($response['total'], 2, ',', '.') : '0,00' ?></label></b>
                    <input type="hidden" name="total_produtos" id="total-produtos" value="<?= isset($response) && is_array($response) ? $response['total'] : 0.00 ?>" />
                </div>
            </fieldset>
            <br>
            <div style="position:relative; float: right;">
                <h2><strong>Total da Nota: <label id="total-nota-label">R$ <?= isset($response) && is_array($response) ? number_format($response['totalNota'], 2, ',', '.') : '0,00' ?></label></strong></h2>
            </div>
            <div style="position:relative; float: left; width: 100%; margin-top: 20px;">
                <table align="center" class='mytable' width="800">
                    <thead>
                    <tr align="center">
                        <th colspan="4">PARCELAS</th>
                    </tr>
                    <tr align="center">
                        <th>TR PARCELA</th>
                        <th>VENCIMENTO</th>
                        <th>CÓDIGO BARRAS</th>
                        <th>VALOR</th>
                    </tr>
                    </thead>
                    <tbody class="parcelas">
                    <tr align="center">
                        <td>
                            <img align="left" class="del_parcela"  src="/utils/delete_16x16.png" title="Remover" border="0"/>
                            <input type="number" name="tr_parcela[]" class="tr_parcela" required value="1" size="5" />
                        </td>
                        <td><input name="vencimento[]" class="vencimento" value="<?= (new \DateTime())->format('Y-m-d') ?>" required type="date" maxlength="10" size="10" /></td>
                        <td><input type="text" maxlength="128" size="20" name="codigo_barras[]" /></td>
                        <td><input name="valor_parcela[]" class="valor OBG valor_parcela" value="0,00" required type="text" size="10" style="text-align:right" /></td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <th colspan="4"></th>
                    </tr>
                    </tfoot>
                </table>
                <div>
                    <center>
                        <button
                            id="add_parcela"
                            type="button"
                            style="margin-top: 10px;"
                            class="ui-button ui-widget ui-corner-all ui-button-text-only ui-state-hover">
                            <span class="ui-button-text">Adicionar Parcela</span>
                        </button>
                    </center>
                </div>
                <br />
                <center>
                    <button type="submit" class="ui-button ui-widget ui-corner-all ui-button-text-only ui-state-hover" id="salvar-operadora">
                        <span class="ui-button-text">Salvar</span>
                    </button>
                </center>
            </div>
        </form>
</div>
<div id="left">
    <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
</div>
<script type="text/javascript" src="/logistica/notas/js/main.js?v=7.2"></script>
</body>
</html>