<?php require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>
<head>
    <meta charset="UTF-8">
    <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php'); ?>
    <link rel="stylesheet" type="text/css" href="/utils/reports.css">
    <link rel="stylesheet" type="text/css" href="/utils/jquery/css/chosen/chosen.css">
</head>
<div id="content">
    <div id="right">
        <p>
            <a href='/logistica/notas/?action=entrada-produtos'> Entrada em Estoque (Fornecedores)</a>
        </p>
        <p>
            <a href='/logistica/notas/?action=editar-entrada-produtos'> Editar Entradas</a>
        </p>
    </div>
    <div id="left">
        <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
    </div>
</div>
<script type="text/javascript" src="/logistica/notas/js/editar_entrada.js?v=1"></script>
</body>
</html>