<head>
    <meta charset="UTF-8">    
    
    <script src="/utils/bootstrap-3.3.6-dist/js/bootstrap.min.js" ></script>
    
</head>

<table border=1 cellspacing=0 cellpadding=2 bordercolor="666633" width='100%'>
    <tr bgcolor='#EEEEEE'>
        <td colspan='9' style = "font-size:20px"><b>Relatório de Juros e Descontos</b></td>
    </tr>
    <tr>
        <td colspan='3'><b>Processamento de:</b> <?= $inicio?> até <?= $fim?></td>        
        <td colspan='3'><b>Tipo nota?</b> <?= $tipoNota?></td>   
        <td colspan='3'></td>       
    </tr>
    <tr>
    
    <tr>        
        <td colspan='6'><b>Emitido por:</b> <?= $emitidoPor?></td>
        <td colspan='3'><b>Emitido em:</b> <?= $emitidoEm?></td>
    </tr>
   
   
    
</table>
<br>
<br>

<table border=1 cellspacing=0 cellpadding=2 bordercolor="666633" width='100%'>
<thead>
    <tr bgcolor='#cccccc'>
    <th>TR</th>
    <th>Tipo</th>
    <th>Juros</th>
    <th>Encargos Financeiro.</th>
     <th>Tarifas Adicionais</th>
    <th>Desconto</th>
    <th>Tarifa Cartão de Crédito</th>
    <th>Data Pagamento</th>
    <th>Fornecedor</th>
    <th>Natureza Principal</th>
    <th>Empresa Principal</th>
    <th>Setor</th>                                   
    </tr>
</thead>
<tbody id="tbody-bordero">
<?php 
$cont = 0;
foreach($parcelas as  $p):
    if( $cont % 2 == 0 ){
        $cor = '';
    }else{
        $cor="bgcolor='#EEEEEE'";
    } 
    $cont++;?>
    <tr <?=$cor?>>
    
                                <td>
                                    <?=$p['TR']?>                                   
                                </td>
                                <td>                                    
                                    <?=$p['tipo_nota']?>                        
                                </td>
                                <td>
                                     <?=number_format($p['juros'], 2, ',', '.')?>                                    
                                </td>
                                <td>
                                     <?=number_format($p['encargos'], 2, ',', '.')?>                                    
                                </td>
                                <td>
                                     <?=number_format($p['tarifas'], 2, ',', '.')?>                                    
                                </td>
                                <td>
                                     <?=number_format($p['desconto'], 2, ',', '.')?>                                    
                                </td>
                                <td>
                                     <?=number_format($p['tarifa_cartao'], 2, ',', '.')?>                                    
                                </td>
                                <td>
                                     <?=$p['data_processada']?>                                    
                                </td>
                                <td  > 
                                     <?=$p['fornecedor']?>                                   
                                </td>
                                <td >
                                     <?=$p['natureza_principal']?>                                    
                                </td>
                                <td >
                                    <?=$p['empresa_nota']?>
                                </td>
                                <td >
                                    <?=implode('<br>',$p['setor_empresa'])?>
                                </td>
                                
                            
        
    </tr>
<?php endforeach; ?>
</tbody>
</table>