<?php require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>
<head>
    <meta charset="UTF-8">
    <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php'); ?>
    <link rel="stylesheet" type="text/css" href="/utils/reports.css">
    <link rel="stylesheet" href="/utils/bootstrap-3.3.6-dist/css/bootstrap.min.css" />
    <script src="/utils/bootstrap-3.3.6-dist/js/bootstrap.min.js" ></script>
    <link rel="stylesheet" href="/utils/font-awesome-4.7.0/css/font-awesome.css" />
</head>
<div id="content">
    <div id="right">
        <center><h1>Saldos das Contas Bancárias</h1></center>
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title pull-left" style="padding-top: 7.5px;">
                    <i class="fa fa-search" aria-hidden="true"></i>
                    Pesquisar Saldos
                </h3>
            </div>
            <div class="panel-body" id="div-pesquisar-saldos-contas-bancarias">
                <form method="post" id="form-pesquisa-saldos-contas-bancarias" action="/financeiros/relatorios/?action=saldos-contas-bancarias">
                    <div class="row">
                        <div class="col-xs-9">
                            <label for="contas">Conta(s):</label>
                            <select name="contas[]" id="conta" multiple class="form-control chosen-select" data-placeholder="Selecione uma ou mais contas..." >
                                <?php foreach($contas as $conta): ?>
                                    <option <?= isset($filtros['contas']) && in_array($conta['id'], $filtros['contas']) ? "selected" : "" ?> value="<?= $conta['id'] ?>">
                                        <?= $conta['forma'] ?> - <?= $conta['abreviacao'] ?> - <?= $conta['agencia'] ?> - <?= $conta['conta'] ?> - <?= $conta['ur'] ?>
                                    </option>
                                <?php endforeach; ?>
                            </select>
                        </div>
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label for="inicio">Data:</label>
                                <input name="data_saldo" id="data-saldo" type="date" class="form-control OBG" value='<?= isset($filtros['data_saldo']) ? $filtros['data_saldo'] : $hoje ?>'>
                            </div>
                        </div>
                    </div>
                    <br>

                    <div class="col-xs-12 text-center">
                        <button type="submit" id="pesquisar-saldos-contas-bancarias" class="btn btn-success" >
                            <i class="fa fa-search"></i> Pesquisar
                        </button>
                        &nbsp;&nbsp;
                        <a  href="/financeiros"
                            style="color: white;"
                            class='btn btn-warning' >
                            <i class="fa fa-undo"></i> Voltar
                        </a>
                        &nbsp;&nbsp;
                        <a  href="/financeiros/index-tables.php"
                            target="_blank"
                            style="color: white;"
                            class='btn btn-primary' >
                            <i class="fa fa-refresh"></i> Sincronizar
                        </a>
                    </div>
                </form>
                <br>
            </div>
        </div>

        <div class="row">
            <?php if(!empty($response)): ?>
                <div class="col-xs-12">
                    <div class="div-saldo-contas-bancarias">
                        <form id="form-saldo-contas-bancarias">
                            <input type="hidden" name="data_saldo" value="<?= $filtros['data_saldo'] ?>">
                            <table class='table table-striped table-bordered' width='100%'>
                                <thead>
                                <tr>
                                    <th>Conta</th>
                                    <th>Saldo Inicial</th>
                                    <th>Entradas</th>
                                    <th>Saídas</th>
                                    <th>Saldo Disponível</th>
                                </tr>
                                </thead>
                                <tbody id="tbody-bordero">
                                <?php
                                foreach($response['anterior'] as $key => $resp):
                                    $saldoAnterior = $resp['saldoAnterior'];
                                    $saldoAtual = $response['atual'][$key]['saldoAtual'] == 0.00 ?
                                        $saldoAnterior :
                                        $saldoAnterior + $response['atual'][$key]['saldoAtual'];
                                    $colorAnterior = $saldoAnterior < 0 ? 'style="color: red"' : '';
                                    $colorAtual = $saldoAtual < 0 ? 'style="color: red"' : '';
                                    ?>
                                    <tr>
                                        <td>
                                            <?= $resp['conta'] ?>
                                        </td>
                                        <td <?= $colorAnterior ?>>
                                            <input type="hidden" name="<?= $resp['ID'] ?>[saldoAnterior]" value="<?= $saldoAnterior ?>">
                                            R$ <?= number_format($saldoAnterior, 2, ',', '.') ?>
                                        </td>
                                        <td>
                                            <input type="hidden" name="<?= $resp['ID'] ?>[entradas]" value="<?= $response['atual'][$key]['entradas'] ?>">
                                            R$ <?= number_format($response['atual'][$key]['entradas'], 2, ',', '.') ?>
                                        </td>
                                        <td>
                                            <input type="hidden" name="<?= $resp['ID'] ?>[saidas]" value="<?= $response['atual'][$key]['saidas'] ?>">
                                            R$ <?= number_format($response['atual'][$key]['saidas'], 2, ',', '.') ?>
                                        </td>
                                        <td <?= $colorAtual ?>>
                                            <input type="hidden" name="<?= $resp['ID'] ?>[saldoAtual]" value="<?= $saldoAtual ?>">
                                            R$ <?= number_format($saldoAtual, 2, ',', '.') ?>
                                        </td>
                                    </tr>
                                <?php endforeach; ?>
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>
                <br>
                <?php if(isset($_SESSION['permissoes']['financeiro']['financeiro_conta_bancaria']['financeiro_conta_bancaria_consultar_saldos']) || $_SESSION['adm_user'] == 1): ?>
                    <div class="col-xs-12 text-center">
                        <button type="button" id="salvar-saldos-contas-bancarias" class="btn btn-success" >
                            <i class="fa fa-save"></i> Salvar
                        </button>
                    </div>
                <?php endif; ?>
            <?php else:?>
                <div class="col-xs-12 text-center">
                    <div class="alert alert-warning">
                        <b>Nenhum saldo encontrado para os filtros escolhidos.</b>
                    </div>
                </div>
            <?php endif; ?>
        </div>
    </div>
    <div id="left">
        <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
    </div>
</div>
<script type="text/javascript" src="/utils/jquery/js/chosen.jquery.min.js"></script>
<script type="text/javascript" src="/financeiros/relatorios/templates/saldo-contas-bancarias/js/main.js?v=1"></script>
</body>
</html>