<?php require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>
<head>
    <meta charset="UTF-8">
    <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php'); ?>
    <link rel="stylesheet" type="text/css" href="/utils/reports.css">
    <link rel="stylesheet" href="/utils/bootstrap-3.3.6-dist/css/bootstrap.min.css" />
    <script src="/utils/bootstrap-3.3.6-dist/js/bootstrap.min.js" ></script>
    <link rel="stylesheet" href="/utils/font-awesome-4.7.0/css/font-awesome.css" />
</head>
<div id="content">
    <div id="right">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title pull-left" style="padding-top: 7.5px;">
                    <i class="fa fa-search" aria-hidden="true"></i> Pesquisar Paciente a Faturar</b>
                </h3>
            </div>
            <div class="panel-body">
                <form method="post" action="/faturamento/relatorios/?action=form-relatorio-pacientes-faturar">
                    <div class="row" id="div-pesquisar-fatura">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label class="control-label" for="operadora">Operadora:</label>
                                <select name="operadora[]" multiple data-placeholder="Selecione uma ou mais operadoras..." class="form-control chosen-select OBG_CHOSEN ">
                                    <?php  foreach($operadoras as $p): ?>
                                        <option <?= isset($data['operadora']) && in_array($p['ID'], $data['operadora']) ? 'selected': '' ?> value="<?= $p['ID'] ?>" > <?= mb_strtoupper($p['NOME'],'UTF-8') ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="periodo">Inicio:</label>
                                <input name="inicio" type="date" class="form-control OBG" value='<?= isset($data['inicio']) ? $data['inicio'] : "" ?>' required>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="periodo">Fim:</label>
                                <input name="fim" type="date" class="form-control OBG" value='<?= isset($data['fim']) ? $data['fim'] : "" ?>' required>
                            </div>
                        </div>

                        <div class="col-lg-12 text-center">
                            <div class="form-group">
                                <button type="submit" class='btn btn-primary'>
                                    Buscar
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <br>
        <?php if(isset($response)): ?>
            <br>
            <hr>
            <? if(empty($response)): ?>
                <div class="alert alert-warning" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" ></span>
                    Nenhum paciente foi encontrado.
                </div>
            <? else: ?>
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th align="center" class="col-md-6">Paciente</th>
                        <th align="center" class="col-md-3">Convênio</th>
                        <th align="center" class="col-md-3">UR</th>
                    </tr>
                    </thead>
                    <tbody>
                    <?php foreach($response as $r): ?>
                        <tr>
                            <td>
                                <?= mb_strtoupper($r['nome'], 'UTF8') ?>
                            </td>
                            <td>
                                <?= mb_strtoupper($r['nomeplano'], 'UTF8') ?>
                            </td>
                            <td class="text">
                                <?= mb_strtoupper($r['nome_empresa'], 'UTF8') ?>
                            </td>
                        </tr>
                    <?php endforeach; ?>
                    </tbody>
                </table>
            <?php endif;
        endif;
        ?>
    </div>
</div>
<div id="left">
    <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
</div>
</div>

<script type="text/javascript" src="/faturamento/consenso/js/main.js?v=3"></script>
<script type="text/javascript" src="/utils/jquery/js/validar_campos.js"></script>


</body>
</html>