
<html>
<head>
    <link rel='stylesheet' href='/adm/secmed/templates/formulario-condensado/css/pdf.css'>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
</head>
<body>
    <table  class='table'>
    <tr>
    <td class='col-xs-2 text-left'>
    <img width='150'  height='80' src='/var/www/sismederi//utils/logos/padrao_10.jpg'> 
    </td>
    <td class='col-xs-10 text-center'><h1>Prorrogação</h1></td>
    
    </tr>
    </table><table class='table table-condensed table-striped table-bordered'>
    <tbody>
    <tr>
        <td colspan='3'><strong>INFORMAÇÕES SOBRE O PACIENTE</strong></td>
    </tr>
    <tr>
        <td class='col-xs-6'><strong>PERÍODO</strong></td>
        <td class='col-xs-6' colspan='2'><b>PACIENTE</b></td>
    </tr>
    <tr>
        <td class='col-xs-6'>
            01/11/2018
            à
            30/11/2018
        </td>
        <td class='col-xs-6' colspan='2'>
            Huguinho
        </td>
    </tr>
    <tr>
        <td class='col-xs-6'><b>GÊNERO</b></td>
        <td class='col-xs-6' colspan='2'><b>IDADE</b></td>
    </tr>
    <tr>
        <td class='col-xs-6' id='genero'>Masculino</td>
        <td class='col-xs-6' colspan='2' id='idade'>6</td>
    </tr>
    <tr>
        <td class='col-xs-6'><b>UNIDADE REGIONAL</b></td>
        <td class='col-xs-6' colspan='2'><b>CONVÊNIO</b></td>
    </tr>
    <tr>
        <td class='col-xs-6' id='unidade-regional'>Mederi Feira de Santana</td>
        <td class='col-xs-6' colspan='2' id='convenio-paciente'>CASSI</td>
    </tr>
    <tr>
        <td class='col-xs-6'><b>MATRÍCULA</b></td>
        <td class='col-xs-6' colspan='2'><b>MODALIDADE</b></td>
    </tr>
    <tr>
        <td class='col-xs-6' id='matricula'>,</td>
        <td class='col-xs-6' colspan='2' id='modalidade'>Internação Domiciliar 24h sem respirador</td>
    </tr>
    <tr>
        <td class='col-xs-6'><b>DIETA</b></td>
        <td class='col-xs-6' colspan='2'><b>VIA</b></td>
    </tr>
    <tr>
        <td class='col-xs-6'>
            (  ) Artesanal
            (  ) Industrializada
            (  ) Mista
        </td>
        <td class='col-xs-6' colspan='2'>
            (  ) Oral
            (  ) SNE
            (  ) GTT
            (  ) Jejuno
            (  ) BI
            (  ) Gravitacional
        </td>
    </tr>
    <tr>
        <td class='col-xs-6'><b>NOME DA DIETA</b></td>
        <td class='col-xs-6' colspan='2'><b>ADMINISTRAÇÃO DA DIETA</b></td>
    </tr>
    <tr>
        <td class='col-xs-6'>
            
        </td>
        <td class='col-xs-6' colspan='2'>
            
        </td>
    </tr>
    <tr>
        <td class='col-xs-6'><b>OXIGENOTERAPIA</b></td>
        <td class='col-xs-6' colspan='2'><b>VAZÃO</b></td>
    </tr>
    <tr>
        <td class='col-xs-6'>
            (  ) Concentrador
            (  ) Torpedo de O²
        </td>
        <td class='col-xs-6' colspan='2'>
            (  ) 1 L/M
            (  ) 2 L/M
            (  ) 3 L/M
            (  ) 4 L/M
            (  ) 5 L/M
            (  ) ACIMA DE 5 L/M
        </td>
    </tr>
    <tr>
        <td class='col-xs-6'><b>DEAMBULA</b></td>
        <td class='col-xs-6' colspan='2'><b>DRENO / CATETERES / OSTOMIAS</b></td>
    </tr>
    <tr>
        <td class='col-xs-6'>
            (  ) Sim. sem auxílio
            (  ) Sim, com auxílio
            (  ) Não
        </td>
        <td class='col-xs-6' colspan='2'>
            (  ) Sim. família apta
            (  ) Sim, família não apta
            (  ) Não
        </td>
    </tr>
    <tr>
        <td class='col-xs-12' colspan='3'><b>EQUIPAMENTOS</b></td>
    </tr>
    <tr>
        <td class='col-xs-6'>
            <div class='col-xs-3'>
                (  ) Cama Completa
                (  ) Cadeira de Rodas
                (  ) Cadeira Higiênica
                (  ) Cama Elétrica
            </div>
            <div class='col-xs-3'>
                (  ) Nebulizador
                (  ) Aspirador
                (  ) Glicosímetro
                (  ) BI
            </div>
        </td>
        <td class='col-xs-6' colspan='2'>
            <div class='col-xs-3'>
                (  ) Oxímetro
                (  ) BI-pap
                (  ) Nobreak
                (  ) Respirador
            </div>
            <div class='col-xs-3'>
                (  ) Suporte de Soro
                (  ) Recarga Torpedo
                (  ) Andador
                (  ) Colchão Pneumático
            </div>
        </td>
    </tr>
    <tr>
        <td class='col-xs-12' colspan='3'>
            <div class='col-xs-12'>
                (  ) Outros: 
            </div>
        </td>
    </tr>
    <tr>
        <td class='col-xs-6'><b>INTEGRIDADE CUTÂNEA</b></td>
        <td class='col-xs-6' colspan='2'><b>TIPO DA LESÃO</b></td>
    </tr>
    <tr>
        <td class='col-xs-6'>
            (  ) Íntegra
            (  ) Com lesão
        </td>
        <td class='col-xs-6'>
            <div class='col-xs-6'>
                (  ) LPP
                (  ) Úlcera Venosa
                (  ) Úlcera Diabética
                (  ) Lesão Oncológica
            </div>
            <div class='col-xs-6'>
                (  ) FO
                (  ) Queimadura
                (  ) Deiscencia FO
                (  ) Dermatite incontinência
            </div>
        </td>
    </tr>
    <tr>
        <td class='col-xs-6'><b>ANTIBIÓTICO</b></td>
        <td class='col-xs-6' colspan='2'><b>PERÍODO</b></td>
    </tr>
    <tr>
        <td class='col-xs-6'>
            (  ) Sim
            ( x ) Não
        </td><td class='col-xs-6' colspan='2'></td></tr>
    <tr>
        <td class='col-xs-6'><b>ANTIFÚNGICO</b></td>
        <td class='col-xs-6' colspan='2'><b>PERÍODO</b></td>
    </tr>
    <tr>
        <td class='col-xs-6'>
            (  ) Sim
            ( x ) Não
        </td><td class='col-xs-6' colspan='2'></td></tr>
</tbody>
</table>
<div style='page-break-before: always;'></div>
<table class='table  table-bordered'>
    <tbody>
    <tr>
        <td colspan='3' class='col-xs-12'><b>EVOLUÇÃO MÉDICA</b></td>
    </tr>
    <tr>
        <td colspan='2' class='col-xs-10'></td>
        <td width='10%' class='col-xs-2' align='center' valign='middle'>
            <img width='100' height='70' src='/var/www/sismederi//utils/assinaturas/ft26-10-2018_183803.jpg'>
        </td>
    </tr>
    <tr>
        <td class='col-xs-4'><b>Data da Visita:</b> 18/10/2018</td>
        <td class='col-xs-4'><b>Médico(a):</b> Thiago Mascarenhas</td>
        <td class='col-xs-4'><b>CRM:</b> (CRM: 1234567-1)</td>
    </tr>
    <tr>
        <td colspan='3' class='col-xs-12'><b>EVOLUÇÃO DE ENFERMAGEM</b></td>
    </tr>
    <tr>
        <td colspan='2' class='col-xs-10'></td>
        <td width='10%' class='col-xs-2' align='center' valign='middle'>
            <img width='100' height='70' src='/var/www/sismederi//utils/assinaturas/ft26-10-2018_183803.jpg'>
        </td>
    </tr>
    <tr>
        <td class='col-xs-4'><b>Data da Visita:</b> 18/10/2018</td>
        <td class='col-xs-4'><b>Enfermeiro(a):</b> Thiago Mascarenhas</td>
        <td class='col-xs-4'><b>COREN:</b> (CRM: 1234567-1)</td>
    </tr>
    </tbody>
    </table>
    
    <table class='table'>
    <tbody>
    <tr>
        <td colspan='3' class='col-xs-12' align='center'><b>FOTOS DA LESÃO</b></td>
    </tr>
    <tr>
        <td colspan='3' class='col-xs-12'><tr><td class='col-xs-4' style='margin-bottom: 5px;'>
                <div class='thumbnail text-center'>
                    <img width='150px' src='/var/www/sismederi//storage/feridas_enfermagem/1539886958_Captura_de_tela_de_2018_05_15_10_32_56.png'>
                    <div class='caption'>
                        <br>
                        <h6><b>1. TROCANTER D</b></h6>
                    </div>
                </div>
            
            </td><td class='col-xs-4' style='margin-bottom: 5px;'>
                <div class='thumbnail text-center'>
                    <img width='150px' src='/var/www/sismederi//storage/feridas_enfermagem/1539886955_Captura_de_tela_de_2018_02_28_11_51_08.png'>
                    <div class='caption'>
                        <br>
                        <h6><b>2. TROCANTER D</b></h6>
                    </div>
                </div>
            
            </td><td class='col-xs-4' style='margin-bottom: 5px;'>
                <div class='thumbnail text-center'>
                    <img width='150px' src='/var/www/sismederi//storage/feridas_enfermagem/1539886949_Captura_de_tela_de_2018_01_03_11_32_18.png'>
                    <div class='caption'>
                        <br>
                        <h6><b>3. GTO</b></h6>
                    </div>
                </div>
            
            </td></tr><tr><td class='col-xs-4' style='margin-bottom: 5px;'>
                <div class='thumbnail text-center'>
                    <img width='150px' src='/var/www/sismederi//storage/feridas_enfermagem/1539886943_Captura_de_tela_de_2018_02_23_11_11_25.png'>
                    <div class='caption'>
                        <br>
                        <h6><b>4. GTO</b></h6>
                    </div>
                </div>
            
            </td><td class='col-xs-4' style='margin-bottom: 5px;'>
                <div class='thumbnail text-center'>
                    <img width='150px' src='/var/www/sismederi//storage/feridas_enfermagem/1539886936_Captura_de_tela_de_2018_01_31_16_26_37.png'>
                    <div class='caption'>
                        <br>
                        <h6><b>5. TROCANTER E</b></h6>
                    </div>
                </div>
            
            </td><td class='col-xs-4' style='margin-bottom: 5px;'>
                <div class='thumbnail text-center'>
                    <img width='150px' src='/var/www/sismederi//storage/feridas_enfermagem/1539886933_Captura_de_tela_de_2018_01_03_10_08_07.png'>
                    <div class='caption'>
                        <br>
                        <h6><b>6. TROCANTER E</b></h6>
                    </div>
                </div>
            
            </td></tr> 
    </tbody>
    </table>
    <table class='table  table-bordered'>
    <tbody>
    <tr>
        <td colspan='3' class='col-xs-12'><b>EVOLUÇÃO DE FISIOTERAPIA</b></td>
    </tr>
    <tr>
        <td colspan='2' width='90%' class='col-xs-10'></td>
        <td width='10%' class='col-xs-2' align='center' valign='middle'>
            <img width='100' height='70' src='/var/www/sismederi//utils/assinaturas/ft26-10-2018_183903.jpg'>
        </td>
    </tr>
    <tr>
        <td class='col-xs-4'><b>Data da Visita:</b> 17/10/2018</td>
        <td class='col-xs-4'><b>Fisioterapeuta:</b> teste123a</td>
        <td class='col-xs-4'><b>CREFITO:</b> 12124a</td>
    </tr>
    
    <tr>
        <td colspan='3' class='col-xs-12'><b>EVOLUÇÃO DE FONOAUDIÓLOGO</b></td>
    </tr>
    <tr>
        <td colspan='2' class='col-xs-10'></td>
        <td width='10%' class='col-xs-2' align='center' valign='middle'>
            
        </td>
    </tr>
    <tr>
        <td class='col-xs-4'><b>Data da Visita:</b> </td>
        <td class='col-xs-4'><b>Fonoaudiólogo(a):</b> </td>
        <td class='col-xs-4'><b>CRFa:</b> </td>
    </tr>
    <tr>
        <td colspan='3' class='col-xs-12'><b>EVOLUÇÃO DE NUTRICIONAL</b></td>
    </tr>
    <tr>
        <td colspan='2' class='col-xs-10'></td>
        <td width='10%' class='col-xs-2' align='center' valign='middle'>
            
        </td>
    </tr>
    <tr>
        <td class='col-xs-4'><b>Data da Visita:</b> 30/11/2018</td>
        <td class='col-xs-4'><b>Nutricionista:</b> TESTE</td>
        <td class='col-xs-4'><b>CRN:</b> 1111</td>
    </tr>
    <tr>
        <td colspan='3' class='col-xs-12'><b>EVOLUÇÃO PSICÓLOGO</b></td>
    </tr>
    <tr>
        <td colspan='2' class='col-xs-10'></td>
        <td width='10%' class='col-xs-2' align='center' valign='middle'>
            
        </td>
    </tr>
    <tr>
        <td class='col-xs-4'><b>Data da Visita:</b> </td>
        <td class='col-xs-4'><b>Psicólogo(a):</b> </td>
        <td class='col-xs-4'><b>CRP:</b> </td>
    </tr>
    </tbody>
</table><br>
<table class='table table-condensed table-striped table-bordered'>
    <tbody>
    <tr>
        <td colspan='3' class='col-xs-12'><b>PAD</b></td>
    </tr>
    <tr>
        <td class='col-xs-6'><b>Modalidade</b></td>
        <td colspan='2' class='col-xs-6'></td>
    </tr>
    <tr>
        <td class='col-xs-4'><b>Médico</b></td>
        <td class='col-xs-4'>Visita Médico Home Care </td>
        <td class='col-xs-4'>1 vez ao mês</td>
    </tr>
    <tr>
        <td class='col-xs-4'><b>Enfermeiro</b></td>
        <td class='col-xs-4'></td>
        <td class='col-xs-4'></td>
    </tr>
    <tr>
        <td class='col-xs-4'><b>Técnico de Enfermagem</b></td>
        <td class='col-xs-4'></td>
        <td class='col-xs-4'></td>
    </tr>
    <tr>
        <td class='col-xs-4'><b>Fisoterapia Motora</b></td>
        <td class='col-xs-4'></td>
        <td class='col-xs-4'></td>
    </tr>
    <tr>
        <td class='col-xs-4'><b>Fisioterapia Respiratória</b></td>
        <td class='col-xs-4'></td>
        <td class='col-xs-4'></td>
    </tr>
    <tr>
        <td class='col-xs-4'><b>Fonoterapia</b></td>
        <td class='col-xs-4'></td>
        <td class='col-xs-4'></td>
    </tr>
    <tr>
        <td class='col-xs-4'><b>Psicólogo</b></td>
        <td class='col-xs-4'></td>
        <td class='col-xs-4'></td>
    </tr>
    <tr>
        <td class='col-xs-4'><b>Nutricionista</b></td>
        <td class='col-xs-4'></td>
        <td class='col-xs-4'></td>
    </tr>
    </tbody>
</table>
</body>
</html>