<?php include_once('../validar.php');
require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>
<head>
	<meta charset="UTF-8">
	<?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php'); ?>
	<link rel="stylesheet" type="text/css" href="/utils/jquery/css/chosen/chosen.css">
	<link rel="stylesheet" href="/utils/global.css"/>
	<!--	<link rel="stylesheet" type="text/css" href="/exames/css/dropzone.css">-->
	<link rel="stylesheet" type="text/css" href="/utils/dropzone-4.3.0/dist/dropzone.css">
</head>
<div id="content">
	<div id="right">
		<center><h1>Consultar Exames</h1></center>
		<form method="post" action="/exames/?action=exames-consultar">
			<div class="form-input100" >
				<p><strong>Período:</strong></p>
				<input type="text" class="data" name="inicio" value="<?= (isset($data['inicio']) ? $data['inicio'] : null) ?>"> -
				<input type="text" class="data" name="fim" value="<?= (isset($data['fim']) ? $data['fim'] : null) ?>">
			</div>
			<div class="form-input100" id="validar-paciente" >
				<p><strong>Paciente:</strong></p>
                <?php \App\Models\Administracao\Paciente::getPacienteStatusComponent(false,null,$pacienteId,null) ?>
			</div>
			<div class="form-input100" >
				<p><strong>Exames:</strong></p>
				<select name="exames[]" class="chosen-select" style="width: 800px;" multiple data-placeholder="Selecione os exames solicitados...">
					<?php foreach($exames as $exame): ?>
						<option <?= isset($data['exames']) && in_array($exame['id'], $data['exames']) ? "selected" : "" ?> value="<?= $exame['id'] ?>"><?= strtoupper($exame['descricao']) ?></option>
					<?php endforeach; ?>
				</select>
			</div>
			<div class="form-input100" >
				<p><strong>Tipo:</strong></p>
				<input type="radio" checked name="tipo" class="tipo" id="todos" value="todos" <?= isset($data['tipo']) && $data['tipo'] === 'todos' ? "checked" : "" ?>> <label for="todos">Todos</label> -
				<input type="radio" name="tipo" class="tipo" id="eletivo" value="el" <?= isset($data['tipo']) && $data['tipo'] === 'el' ? "checked" : "" ?>> <label for="eletivo">Eletivos</label> -
				<input type="radio" name="tipo" class="tipo" id="emergencial" value="em" <?= isset($data['tipo']) && $data['tipo'] === 'em' ? "checked" : "" ?>> <label for="emergencial">Emergenciais</label>
			</div>
			<div class="form-input100" >
				<button type="submit" id='buscar-exame' class='ui-button ui-widget ui-corner-all ui-button-text-only ui-state-hover'>
					<span class='ui-button-text'>Buscar</span>
				</button>
			</div>
		</form>
		<!-- div que gera tela de prescrição-->
		<div id="pre-prescricao" title='Criar Prescrição Aditiva'>
			<form method='post' action='../medico/?view=prescricoes'>
				<fieldset>
					<legend><b>Paciente:</b></legend>
					<span id="span-nome-paciente"></span>
				</fieldset>
				<!--			<p><b>Paciente: </b><span id="span-nome-paciente"></span></p>-->
				<input type='hidden' name='paciente' id='pre-prescricao-paciente' value=''/>
				<input type='hidden' name='antigas' id='pre-prescricao-antiga' value=''/>
				<input type='hidden' name='manter_data' id='pre-prescricao-manter-data' value=''/>
				<input type='hidden' name='idexame' id='pre-prescricao-idexame' value=''/>
				<input type='hidden'  name='tipo' id="pre-prescricao-tipo"  value='3'  />
				<br/>
				<fieldset style='width:340px;text-align:center;'>
					<legend>
						<b>Período</b>
					</legend>
					DE
					<input type='text' name='inicio' value=''  maxlength='10' size='10' class='OBG inicio-periodo'  >
					ATÉ <input type='text' name='fim' value=''  maxlength='10' size='10' class='OBG fim-periodo'  >
				</fieldset>
				<br/>
				<button id='iniciarprescricao' tipo='' class='validacao_periodo ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only' role='button' aria-disabled='false' >
					<span class='ui-button-text'>Iniciar</span>
				</button>
			</form>
		</div>
		<!-- não pode ser removida utilizada no js-->
		<div id="div-parent">
		</div>

		<div id="div-template" class="file-row template">
			<div class="file-row template" id="template">
				<!-- This is used as the file preview template -->
				<div>
					<span class="preview"><img data-dz-thumbnail /></span>
				</div>
				<div>
					<p class="name" data-dz-name></p>
					<strong class="error text-danger" data-dz-errormessage></strong>
					<strong class="success" data-dz-successmessage></strong>
				</div>
				<div>
					<p class="size" data-dz-size></p>
					<div class="progress dz-progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
						<div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress></div>
					</div>
				</div>
				<div><label><b>Renomear Arquivo</b></label>
					<input name="renomear-arquivo" class="renomear" type="text">
				</div>
				<div>
					<button class="btn btn-primary start" idExame="">
						<i class="glyphicon glyphicon-upload"></i>
						<span>Enviar</span>
					</button>
					<button data-dz-remove class="btn btn-danger delete">
						<i class="glyphicon glyphicon-trash"></i>
						<span>Remover</span>
					</button>
				</div>
			</div>
		</div>
		<?php
		if(isset($response)):
			?>
			<br>
			<label style="float: left; padding-top: 20px;">
				Total de <b><?= $count ?></b> exames encontrados.
			</label>

			<div id="response">
				<table class='mytable' width='100%' >
					<thead>
					<tr>
						<th>PACIENTE </th>
						<th align="center">EXAMES SOLICITADOS</th>
						<th align="center">ARQUIVOS</th>
						<th align="center">OPÇÃO</th>
					</tr>
					</thead>
					<tbody>
					<?php
					if($count > 0):
						foreach($response['exames'] as $id => $data):

							if(false != $data):
								$periodoExame = sprintf(
									"De %s a %s",
									DateTime::createFromFormat('Y-m-d', $data['inicio'])->format('d/m/Y'),
									DateTime::createFromFormat('Y-m-d', $data['fim'])->format('d/m/Y')
								);
								$tags = implode(', ', $response['tags'][$id]);
								$tipo = $data['tipo'] == 'el' ? 'Eletivos' : 'Emergenciais';

								?>
								<tr>
									<td>
										<p><b>Paciente: </b><?= $data['nomePaciente'] ?></p>
										<p><b>CID: </b><?= $data['cid'] ?></p>
										<p><b>Usuário: </b><?= $data['usuario'] ?></p>
										<p><b>Período: </b><?= $periodoExame ?></p>
										<p><b>Tipo: </b><?= $tipo ?></p>
										<p><b>Observação: </b><?=$data['observacao']?></p>
									<td align="center"><?= $tags ?></td>
									<td align="">
										<ul>
											<?php
											if(count($response['files'][$id]) > 0):
												foreach ($response['files'][$id] as $file):
													$pathPieces = explode('/', $file['path']);
													$extensions = ['jpg', 'jpeg', 'png'];
													$extension = explode('.', end($pathPieces));
													$path = $file['path'];
													$viewer = in_array(end($extension), $extensions) ? App\Helpers\Storage::getImageUrlWithViewer($path) . "&src=exames" : '/' . $path;
													?>
													<p>
														<?php if($_SESSION['id_user'] == 393 || $_SESSION['adm_user'] == 1 ) { ?>

														<img width="16" src="/utils/delete_16x16.png" id-arquivo="<?= $file['id'] ?>" class="excluir-arquivo" title="Excluir Arquivo">
														<?php } ?>
													<a href="<?= $viewer ?>" target="_blank">
															<?= end($pathPieces); ?>
														</a>
													</p>
													<?php
												endforeach;
											endif;
											?>
										</ul>
									</td>
									<td align="center">
										<p>
											<button type="button" data-idExame ="<?=$data['id']?>" class="submit-upload fileinput-button">Anexar</button>
										</p>
										<?php  if($_SESSION['id_user'] == 393 || $_SESSION['adm_user'] == 1 || $_SESSION["tipo_user"] == 'medico') { ?>
											<p>
												<button
													class='ui-button ui-widget ui-corner-all ui-button-text-only ui-state-hover prescrever'
													role='button' aria-disabled='false'
													idPaciente = '<?=$data['paciente'] ?>'
													nomePaciente = '<?=$data['nomePaciente'] ?>'
													idExame = "<?=$data['id']?>"
												>
													<span class='ui-button-text'>Prescrever</span>
												</button>
											</p>
										<?php }
										if($_SESSION['id_user'] == 393 || $_SESSION['adm_user'] == 1 ) { ?>
											<p>
												<img width="16" src="/utils/excluir.png" id-exame= "<?= $id ?>" class="excluir" title="Excluir Exame">
											</p>
										<?php } ?>
									</td>
								</tr>
								<tr id="tr-<?=$data['id']?>" >
									<td colspan="4" id="exame-<?=$data['id']?>">
										<div class="table table-striped table-upload"  id="previews-<?=$data['id']?>"></div>
									</td>
								</tr>
								<?php
							endif;
							?>
							<tr>
								<td colspan="4">
									<?php

									foreach($response['prescricoes'][$id] as $presc):
										?>
										<p><?=$presc ?></p>

									<?php endforeach ?>
								</td>
							</tr>
							<?php
						endforeach;
					else:
						?>
						<tr>
							<td colspan="13" align="center"><strong>Nenhum resultado foi encontrado!</strong></td>
						</tr>
					<?php endif; ?>
					</tbody>
				</table>
			</div>
		<?php endif; ?>
	</div>
	<div id="left">
		<?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
	</div>
</div>
<script type="text/javascript" src="/exames/js/main.js?v=5.2.7"></script>
<script src="/exames/js/dropzone.js?v=8.4"></script>
<script src="/utils/dropzone-4.3.0/dist/dropzone.js?v=3"></script>

</body>
</html>