<?php require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>
<head>
	<meta charset="UTF-8">
	<?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php'); ?>
	<link rel="stylesheet" type="text/css" href="/utils/jquery/css/chosen/chosen.css">
	<link rel="stylesheet" href="/utils/global.css"/>
	<link rel="stylesheet" type="text/css" href="/exames/css/dropzone.css">
	<link rel="stylesheet" type="text/css" href="../../components/cid-10/css/typeahead.css">
</head>
<div id="content">
	<div id="right">
		<?php
		$msg = !isset($msg) ? $_GET['msg'] : $msg;
		$type = !isset($type) ? $_GET['type'] : $type;
		$display = "none";
		if(isset($msg) && !empty($msg)) {
			if ($type === 's') {
				$display = "block";
				$class = "success";
			} else {
				$display = "block";
				$class = "failed";
			}
		}
		$displayJust = isset($data['tipo']) && $data['tipo'] === 'em' ? "block" : "none";
		?>
		<center><h1>Novo Exame</h1></center>
		<br>
		<div style="display:<?= $display ?>" class="msg <?= $class ?>">
			<strong><?= base64_decode($msg) ?></strong>
		</div>
		<div id="div-criar-exame">
		<form method="post" enctype="multipart/form-data" action="/exames/?action=exames-salvar">
			<div class="form-input100" >
				<p><strong>Período:</strong></p>
				<input type="text" class="data OBG" name="inicio" value="<?= (isset($data['inicio']) ? $data['inicio'] : null) ?>" required> -
				<input type="text" class="data OBG" name="fim" value="<?= (isset($data['fim']) ? $data['fim'] : null) ?>" required>
			</div>
			<div class="form-input100" >
				<p><strong>Paciente:</strong></p>
				<?php \App\Models\Administracao\Paciente::getPacienteStatusComponent([1, 4]) ?>
			</div>

            <?php require __DIR__ . '/../../components/cid-10/input-bootstrapless.phtml' ?>

            <div class="form-input100" >
                <p><strong>Coleta:</strong></p>
                <select name="coleta" class="chosen-select coleta OBG_CHOSEN" style="width: 800px;" required data-placeholder="Selecione quem irá realizar a coleta...">
                    <option value="L" selected>Laboratório</option>
                    <option value="E">Enfermeiro(a) Plantonista Mederi</option>
                </select>
            </div>
			<div class="form-input100" >
				<p><strong>Exames:</strong></p>
				<select name="exames[]" class="chosen-select exames OBG_CHOSEN" style="width: 800px;" required multiple data-placeholder="Selecione os exames solicitados...">
					<option value="" selected></option>
					<?php foreach($exames as $exame): ?>
						<option <?= isset($data['exames']) && in_array($exame['id'], $data['exames']) ? "selected" : "" ?> value="<?= $exame['id'] ?>"><?= strtoupper($exame['descricao']) ?></option>
					<?php endforeach; ?>
				</select>
			</div>
			<div class="form-input100" >
				<p><strong>Tipo:</strong></p>
				<input type="radio" checked name="tipo" class="tipo" id="eletivo" value="el" <?= isset($data['tipo']) && $data['tipo'] === 'el' ? "checked" : "" ?>> <label for="eletivo">Eletivo</label> -
				<input type="radio" name="tipo" class="tipo" id="emergencial" value="em" <?= isset($data['tipo']) && $data['tipo'] === 'em' ? "checked" : "" ?>> <label for="emergencial">Emergencial</label>
			</div>
			<div class="form-input100" id="just-emergencial-box" style="display: <?= $displayJust ?>;">
				<p><strong>Justificativa (Caso emergencial):</strong></p>
				<textarea  name="justificativa_emergencial" id="justificativa" cols="80" rows="5"><?= isset($data['justificativa_emergencial']) ? $data['justificativa_emergencial'] : "" ?></textarea>
			</div>
			<div class="form-input100">
				<p><strong>Observação:</strong></p>
				<textarea name="observacao" cols="80" required rows="5"><?= isset($data['observacao']) ? $data['observacao'] : "" ?></textarea>
			</div>

			<div class="form-input100" >
				<button type="submit" class='ui-button ui-widget ui-corner-all ui-button-text-only ui-state-hover' id="salvar-exame" >
					<span class='ui-button-text'>Salvar</span>
				</button>
			</div>
		</form>
		</div>
	</div>
	<div id="left">
		<?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
	</div>
</div>
<script type="text/javascript" src="/exames/js/main.js?v=1.2"></script>
<?php require __DIR__ . '/../../components/cid-10/input-js.phtml' ?>
</body>
</html>