
<?php
include_once('../validar.php');
require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>
<head>
    <meta charset="UTF-8">
    <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php'); ?>
    <link rel="stylesheet" type="text/css" href="/utils/reports.css">
</head>
<div id="content">
    <div id="right">
        <div>
        <center><h1>Exames</h1></center>
        </div>
        <p>
            <a href='/exames/?action=exames-consultar'> Consultar Exames</a>
        </p>
        <?php  if(($_SESSION['modmed'] == 1 && $_SESSION["tipo_user"] == 'medico') || $_SESSION['adm_user'] == 1) { ?>
        <p>
            <a href='/exames/?action=exames-novo'> Novo Exame</a>
        </p>
        <?php } ?>
    </div>
    <div id="left">
        <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
        <br>
       <!--  <div class="box">

            <div id='calculadora'></div>
        </div> -->
    </div>
</div>

</body>
</html>