<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th width="20%" align="center">Tipo</th>
            <th width="70%" align="center">Item</th>
            <th width="10%" align="center">Quantidade</th>
        </tr>
    </thead>
    <tbody class="itens-added">
    <?php
    if(count($itens) > 0):
        foreach ($itens as $item):
            ?>
            <tr> 
               <td> 
                <span title="Remover Item" style="font-size: 6px" class="btn btn-danger remover-item-add-item glyphicon glyphicon-remove"></span>
                   <?= $lists['tipo_item'][$item['tipo']] ?>  </td>
               <td> 

                   <?= $item['item'] ?>
                <input name="catalogo_id[]" type="hidden" value="<?=$item['catalogo_id']?>">
                <input name="tiss[]" type="hidden" value="<?=$item['tiss'] ?>">
                <input name="tipo[]" type="hidden" value="<?=$item['tipo']?>">
                <input name="quantidade[]" type="hidden" value="<?= $item['qtd'] ?>">
               </td>
               <td>  <?= $item['qtd'] ?></td>
               </tr>

            <?php
        endforeach;
    endif; ?>
    </tbody>
</table>