<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th width="20%" align="center">Tipo</th>
            <th width="70%" align="center">Item</th>
            <th width="10%" align="center">Quantidade</th>
        </tr>
    </thead>
    <tbody class="itens-added">

    </tbody>
</table>