<!-- Modal -->
<div class="modal fade" id="modal-add-item" tabindex="-1" role="dialog" aria-labelledby="modalAddItemLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="modalAddItemLabel">Adicionar Itens</h4>
            </div>
            <div class="modal-body">
               <div class="row">
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label class="control-label" for="tipo-item">Tipo:</label>
                            <select id="tipo-item" name="tipo_item" class="form-control">
                                <option selected value="0">Medicamento</option>
                                <option value="1">Material</option>
                                <option value="3">Dieta</option>
                                <option value="5">Equipamento</option>
                            </select>
                        </div>
                    </div>
<!--                </div>-->
<!--                <div class="row">-->
                    <div class="col-lg-8">
                        <div class="form-group">
                            <label class="control-label " for="buscar-item">Buscar:</label>
                            <input name="buscar_item" id="buscar-item" class="form-control col-lg-12" size="80" type="text">
                        </div>
                    </div>
<!--                </div>-->
<!--                <div class="row">-->
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label class="control-label" for="qtd-item">Quantidade:</label>
                            <input name="qtd_item" id="qtd-item" class="form-control" type="number">
                        </div>
                    </div>
<!--                </div>-->
<!--                <div class="row">-->
                    <div class="col-lg-12 text-center">
                        <button type="button" class="btn btn-success" id="adicionar-item">Adicionar Item +</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Pronto!</button>
            </div>
        </div>
    </div>
</div>