<?php require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>
<head>
    <meta charset="UTF-8">
    <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php'); ?>
    <link rel="stylesheet" type="text/css" href="/utils/reports.css">
    <link rel="stylesheet" type="text/css" href="/utils/jquery/css/chosen/chosen.css">
</head>
<div id="content">
    <div id="right">
        <center><h1>Relatório de Evoluções</h1></center>
        <br><br><br>
        <form method="post" action="/enfermagem/relatorios/?action=form-relatorio-evolucoes">
            <p>
                <strong>Período:</strong><br>
                <input type="date" required name="periodo_inicio" value="<?= isset($periodoInicio) && !empty($periodoInicio) ? $periodoInicio : "" ?>"> -
                <input type="date" required name="periodo_fim" value="<?= isset($periodoFim) && !empty($periodoFim) ? $periodoFim : "" ?>">
            </p>
            <?php if($_SESSION['empresa_principal'] == '11' || $_SESSION['empresa_principal'] == '1'): ?>
            <p>
                <strong>UR:</strong><br>
                <select name="ur" id="urs" style="width: 300px;">
                    <option value="">Selecione...</option>
                    <?php foreach($urs as $ur): ?>
                        <option <?= isset($urBusca) && $urBusca === $ur['id'] ? "selected" : "" ?> value="<?= $ur['id'] ?>"><?= strtoupper($ur['nome']) ?></option>
                    <?php endforeach; ?>
                </select>
            </p>
            <?php endif; ?>
            <div style="position: relative; float: left; width: 100%; margin-top: 10px;">
                <button type="submit" class='ui-button ui-widget ui-corner-all ui-button-text-only ui-state-hover' id="buscar">
                    <span class='ui-button-text'>Buscar</span>
                </button>
            </div>
        </form>
        <?php
        if(isset($response)):
            ?>
            <label style="float: left; padding-top: 20px;">
                Total de <b><?= $count ?></b> evoluções.
            </label>
            <a  href="/enfermagem/relatorios/?action=excel-relatorio-evolucoes&inicio=<?= $periodoInicio ?>&fim=<?= $periodoFim ?>&ur=<?= $urBusca ?>"
                target="_blank"
                style="position: relative; float: right;"
                class='ui-button ui-widget ui-corner-all ui-button-text-only ui-state-hover'
                id="buscar">
                <span class='ui-button-text'>Exportar para Excel</span>
            </a>
            <hr id="separator">
            <div id="response">
                <table class='mytable' width='100%' >
                    <thead>
                    <tr>
                        <th>PACIENTE</th>
                        <th>ENFERMEIRO(A)</th>
                        <?php
                            if($urBusca != ''):
                        ?>
                        <th>UR</th>
                        <?php endif; ?>
                        <th align="center">DATA DA VISITA</th>
                        <th align="center">DATA DO RELATÓRIO NO SISTEMA</th>
                        <th align="center">VISUALIZAR</th>
                    </tr>
                    </thead>
                    <tbody>
                    <?php
                    if($count > 0):
                        foreach($response as $data):
                            $dataVisita = DateTime::createFromFormat('Y-m-d', $data['dataVisita'])->format('d/m/Y');
                            $dataSistema = DateTime::createFromFormat('Y-m-d H:i:s', $data['dataSistema'])->format('d/m/Y à\s H:i:s');
                            ?>
                            <tr>
                                <td><?= $data['paciente'] ?></td>
                                <td><?= $data['enfermeiro'] ?></td>
                                <?php
                                    if($urBusca != ''):
                                ?>
                                    <td><?= $data['empresa'] ?></td>
                                <?php endif; ?>
                                <td align="center"><?= $dataVisita ?></td>
                                <td align="center"><?= $dataSistema ?></td>
                                <td align="center">
                                    <a href="/enfermagem/?view=editarevolucaoenfermagem&id=<?= $data['ID'] ?>&v=1" target="_blank">
                                        <img width="16" src="/utils/fichas_24x24.png">
                                    </a>
                                </td>
                            </tr>
                        <?php endforeach; ?>
                    <?php else: ?>
                        <tr>
                            <td colspan="13" align="center"><strong>Nenhum resultado foi encontrado!</strong></td>
                        </tr>
                    <?php endif; ?>
                    </tbody>
                </table>
            </div>
            <?php
        endif;
        ?>
    </div>
    <div id="left">
        <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
    </div>
</div>
<script type="text/javascript" src="/utils/jquery/js/chosen.jquery.min.js"></script>
<script type="text/javascript">
    $(function($){
        if($('#urs').length == 1) {
            $('#urs').chosen();
        }
    });
</script>
</body>
</html>