<?php require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>
<head>
    <meta charset="UTF-8">
    <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php'); ?>
    <link rel="stylesheet" type="text/css" href="/utils/reports.css">
    <link rel="stylesheet" href="/utils/bootstrap-3.3.6-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/utils/font-awesome-4.7.0/css/font-awesome.css" />
</head>
<div id="content">
    <div id="right">
        <h2 class="text-center">Cadastrar Evento/APH</h2>
        <form>
            <!-- DADOS DO SOLICITANTE-->
            <br>
            <fieldset>
                <legend><i class="fa fa-handshake-o" aria-hidden="true"></i> Dados do Solicitante</legend>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="solicitante">Nome:</label>
                            <input id="solicitante" name="solicitante" class="OBG form-control" required="required" type="text">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="telefone-solicitante">Telefone:</label>
                            <input id="telefone-solicitante" name="telefone-solicitante" class="OBG telefone form-control" required type="text" maxlength="16">
                        </div>
                    </div>
                </div>
            </fieldset>
            <br>


            <br>
            <fieldset>
                <legend><i class="fa fa-ambulance" aria-hidden="true"></i> Dados do Evento/APH</legend>
                <div class="row">
                    <div class="col-lg-4" style="padding-left: 0 !important;">
                        <div class="form-group">
                            <label class="control-label col-lg-12 " for="data-evento-aph">Data e Hora do Evento/APH:</label>
                            <div class="col-lg-7">
                                <input name="data-evento-aph" id='data-evento-aph' type="text" class="form-control OBG data-evento">
                            </div>
                            <div class="col-lg-5">
                                <input name="hora-evento-aph" id='hora-evento-aph' type="time" class="form-control hora OBG">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="tipo-servico">Tipo do serviço:</label>
                            <select id="tipo-servico" style="background-color:transparent;" name="tipo-servico" class="OBG form-control" required>
                                <option value="">Selecione</option>
                                <option value="EV">Evento</option>
                                <option value="APH">APH</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="publico-alvo">Público alvo:</label>
                            <select id="publico-alvo" style="background-color:transparent;" name="publico-alvo" class="OBG form-control" required>
                                <option value="">Selecione</option>
                                <option value="A">Adulto</option>
                                <option value="I">Infaltil</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="endereco">Endereço:</label>
                            <input id="endereco" name="endereco" type="text" class="OBG form-control" required>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="control-label" for="cidade">Cidade:</label>
                            <select name="cidade" class="form-control chosen-select OBG_CHOSEN">
                                <option selected disabled value="">Selecione...</option>
                                <?php  foreach($cidades as $c): ?>
                                    <option  value="<?= $c['ID'] ?>" > <?= mb_strtoupper($c['NOME'],'UTF-8') ?> (<?=strtoupper($c['UF'])?>)</option>
                                <?php endforeach; ?>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="complemento">Complemento:</label>
                            <input id="complemento" name="complemento" type="text" class=" form-control" required>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="form-group">
                            <label class="control-label" for="observacao">Observação:</label>
                            <textarea name="observacao"  id="observacao" class="form-control"></textarea>
                        </div>
                    </div>
                </div>
            </fieldset>
            <div id="row">
                <div class="col-lg-12 text-center ">
                    <button type="button" id="salvar-evento-aph" class='ui-button ui-widget ui-corner-all ui-button-text-only ui-state-hover' >
                        <span class='ui-button-text'>Salvar</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div id="left">
        <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
    </div>
</div>

<script type="text/javascript" src="/eventos_aph/js/jquery.mask.min.js"></script>
<script type="text/javascript" src="/eventos_aph/js/main.js?v=1"></script>
</body>
</html>