<?php require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>
<head>
 <meta charset="UTF-8">
 <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php'); ?>
 <link rel="stylesheet" type="text/css" href="/utils/reports.css">
</head>
<div id="content">
 <div id="right">
        <p>
        <a href='/eventos_aph/?action=form-eventos-aph'>Cadastrar Evento/APH</a>
        </p>
        <p>
        <a href='/eventos_aph/?action=pesquisar-evento-aph'> Pesquisar Evento/APH</a>
        </p>
 </div>
 <div id="left">
  <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
 </div>
</div>
</body>
</html>