<?php require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>
<head>
 <meta charset="UTF-8">
 <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php'); ?>
 <link rel="stylesheet" type="text/css" href="/utils/reports.css">
 <link rel="stylesheet" href="/utils/bootstrap-3.3.6-dist/css/bootstrap.min.css" />
 <script src="/utils/bootstrap-3.3.6-dist/js/bootstrap.min.js" ></script>
 <link rel="stylesheet" href="/utils/font-awesome-4.7.0/css/font-awesome.css" />
</head>
<div id="content">
 <div id="right">
     <div class="panel panel-default">
         <div class="panel-heading clearfix">
             <h3 class="panel-title pull-left" style="padding-top: 7.5px;">
                 <i class="fa fa-search" aria-hidden="true"></i> Buscar Evento/APH
             </h3>
             <div class="btn-group pull-right">
                 <button class="btn btn-success " type="button"  aria-haspopup="true" aria-expanded="true">
                     <a href="?action=form-eventos-aph" target="_blank">+ Novo Evento/APH</a>

                 </button>

             </div>
         </div>
         <div class="panel-body">
             <form method="post" action="/eventos_aph/?action=pesquisar-evento-aph">
                 <div class="row">
                     <div class="col-lg-6">
                         <div class="form-group">
                             <label for="solicitante">Solicitante:</label>
                             <input id="solicitante" name="solicitante" class=" form-control"  type="text">
                         </div>
                     </div>
                     <div class="col-lg-6">
                         <div class="form-group">
                             <label for="tipo-servico">Tipo do serviço:</label>
                             <select id="tipo-servico" style="background-color:transparent;" name="tipo-servico" class="OBG form-control" required>
                                 <option value="">SELECIONE</option>
                                 <option <?= isset($tipoServico) && $tipoServico === 'EV' ? "selected" : "" ?> value="EV">EVENTOS</option>
                                 <option <?= isset($tipoServico) && $tipoServico === 'APH' ? "selected" : "" ?> value="APH">APH</option>
                                 <option <?= isset($tipoServico) && $tipoServico === 'T' ? "selected" : "" ?> value="T">TODOS</option>
                             </select>
                         </div>
                     </div>


                     <div class="col-lg-6">
                         <div class="form-group">
                             <label for="periodo">Inicio:</label>
                             <input name="inicio" type="text" class="form-control data-evento" value='<?= isset($inicio)  ? $inicio : "" ?>' required>
                         </div>
                     </div>
                     <div class="col-lg-6">
                         <div class="form-group">
                             <label for="periodo">Fim:</label>
                             <input name="fim" type="text" class="form-control data-evento" value='<?= isset($fim)  ? $fim : "" ?>' required>
                         </div>
                     </div>

                     <div class="col-lg-12 text-center">
                         <div class="form-group">
                             <button type="submit"  class='ui-button ui-widget ui-corner-all ui-button-text-only ui-state-hover' >
                                 <span class='ui-button-text'>Pesquisar</span>
                             </button>
                         </div>
                     </div>
                 </div>
             </form>
         </div>
     </div>
     <br>
     <div class="row">
        <div class="col-lg-12">
            <?php
                if(isset($dadosEvento)):
                    if(empty($dadosEvento)) : ?>
                    <h4 class="text-center">Nenhum Evento/APH encontrado.</h4>
                <?php
                    else:
                        if(is_array($dadosEvento)): ?>
                        <table class='table'>
                            <thead>
                                <th colspan='2'>Evento/APH</th>
                                <th></th>
                            </thead>
                            <?php foreach($dadosEvento as $dados): ?>
                                <tr>
                                    <td>
                                        <p><b>Solicitante: </b><?=$dados['solicitante'] ?></p>
                                        <p><b>Tipo Serviço: </b><?=$dados['descricao_tipo_servico'] ?></p>
                                        <p><b>Público Alvo: </b><?=$dados['descricao_publico_alvo'] ?></p>

                                    </td>
                                    <td>
                                        <p><b>Data do Evento: </b><?= $dados['data_BR']." - ".$dados['hora'] ?></p>
                                        <p><b>Cadastrado por: </b><?=$dados['nome_criador'] ?></p>
                                        <p><b>Endereço: </b><?=$dados['endereco'] ?></p>
                                    </td>
                                    <td>
                                        <?php if(is_null($dados['finalizado_por'])): ?>
                                            <p>
                                                <a href="/eventos_aph/?action=finalizar-evento-aph&id=<?=$dados['id'] ?>" style="width: 120px;color: white !important;" class="btn btn-success" title="Finalizar">
                                                    <i class="fa fa-check"></i> Finalizar
                                                </a>
                                            </p>
                                        <?php else: ?>
                                            <p><strong>Evento/APH Finalizado!</strong></p>
                                            <p>
                                                <b>Finalizada em: </b>
                                                <i class="fa fa-calendar"></i>
                                                <?= DateTime::createFromFormat('Y-m-d H:i:s', $dados['finalizado_em'])->format('d/m/Y H:i:s') ?>
                                            </p>
                                        <?php endif; ?>
                                        <p>
                                            <a target="_blank" href="/eventos_aph/?action=visualizar-evento-aph&id=<?=$dados['id'] ?>" style="width: 120px;color: white !important;" class="btn btn-primary" title="Visualizar Remoção">
                                                <i class="glyphicon glyphicon-list-alt"></i>
                                                Visualizar
                                           </a>
                                        </p>
                                        <p>
                                            <button class="btn btn-danger cancelar" style="width: 120px"  id-evento-aph="<?=$dados['id'] ?>">
                                                <i class="fa fa-close "></i>
                                                Cancelar
                                            </button>
                                        </p>
                                    </td>
                                </tr>
                            <?php endforeach; ?>
                        </table>
                    <?php else: ?>
                        <span class="text-center"><b><?=$dados ?></b></span>
                    <?php
                        endif;
                    endif;
                endif;
            ?>
        </div>
     </div>
 </div>

 <div id="left">
  <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
 </div>
</div>
<script type="text/javascript" src="/eventos_aph/js/main.js?v=2.2"></script>
</body>
</html>