<?php require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>
<head>
    <meta charset="UTF-8">
    <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php'); ?>
    <link rel="stylesheet" type="text/css" href="/utils/reports.css">
    <link rel="stylesheet" href="/utils/bootstrap-3.3.6-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/utils/font-awesome-4.7.0/css/font-awesome.css" />
</head>
<div id="content">
    <div id="right">
        <fieldset style='width:95%;'>
            <legend><i class="fa fa-handshake-o" aria-hidden="true"></i> Dados do Solicitante</legend>
            <div class="row">
                <div class="col-lg-6">
                    <label class="col-sm-12 control-label text-uppercase">Nome: </label>
                    <div class="col-sm-12 text-capitalize">
                        <p><?= $dados['solicitante'] ?></p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <label class="col-sm-12 control-label text-uppercase">Telefone: </label>
                    <div class="col-sm-12">
                        <p><?= $dados['telefone'] ?></p>
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset style='width:95%;'>
            <legend><i class="fa fa-ambulance" aria-hidden="true"></i> Dados do Evento/APH</legend>
            <div class="row">
                <div class="col-lg-6">

                    <label class="col-sm-12 control-label text-uppercase">Data do Evento/APH: </label>
                    <div class="col-sm-12 text-capitalize">
                        <p><?=$dados['data_BR']." ".$dados['hora']  ?></p>
                    </div>


                </div>
                <div class="col-lg-6">
                    <label class="col-sm-12 control-label text-uppercase">Tipo do serviço: </label>
                    <div class="col-sm-12 text-capitalize">
                        <p><?= $dados['descricao_tipo_servico'] ?></p>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-lg-6">
                    <label class="col-sm-12 control-label text-uppercase">Público alvo: </label>
                    <div class="col-sm-12 text-capitalize">
                        <p><?= $dados['descricao_publico_alvo'] ?></p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <label class="col-sm-12 control-label text-uppercase">Cidade: </label>
                    <div class="col-sm-12 text-capitalize">
                        <p><?= $dados['descricao_cidade'] ?></p>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-lg-6">
                    <label class="col-sm-12 control-label text-uppercase">Endereço: </label>
                    <div class="col-sm-12 text-capitalize">
                        <p><?= $dados['endereco'] ?></p>
                    </div>

                </div>

                <div class="col-lg-6">
                    <label class="col-sm-12 control-label text-uppercase">Complemento: </label>
                    <div class="col-sm-12 text-capitalize">
                        <p><?= $dados['complemento'] ?></p>
                    </div>
                </div>
            </div>
            <?php if(!empty($dados['observacao'])){?>
            <div class="row">
                <div class="col-lg-12">
                    <label class="col-sm-12 control-label text-uppercase">Observação Cadastro: </label>
                    <div class="col-sm-12 text-capitalize">
                        <p><?= $dados['observacao'] ?></p>
                    </div>

                </div>
            </div>
            <?}?>


        </fieldset>



        <?php if(empty($dados['finalizado_por'])) {?>
            <div class="row col-lg-12">
                <span class="alert-danger col-lg-12 text-center">Evento/APH ainda não foi finalizado!!!</span>
            </div>

        <? }else { ?>
        <fieldset style='width:95%;'>
            <legend><i class="fa fa-check-circle" aria-hidden="true"></i> Dados Finais</legend>
            <div class="row">
                <div class="col-lg-6">
                    <label class="col-sm-12 control-label text-uppercase">Cliente: </label>
                    <div class="col-sm-12 text-capitalize">
                        <p><?= $dadosFornecedor['nome'] ?></p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <label class="col-sm-12 control-label text-uppercase">Termino do Evento/APH: </label>
                    <div class="col-sm-12 text-capitalize">
                        <p><?=$dados['data_termino_BR']." ".$dados['hora_termino']  ?></p>
                    </div>

                </div>


            </div>
            <div class="row">
                <div class="col-lg-6">
                    <label class="col-sm-12 control-label text-uppercase">Unidade Regional: </label>
                    <div class="col-sm-12 text-capitalize">
                        <p><?= $empresa['nome'] ?></p>
                    </div>

                </div>
                <div class="col-lg-6">
                    <label class="col-sm-12 control-label text-uppercase">Evento/APH será cobrada?</label>
                    <div class="col-sm-12 text-capitalize">
                        <p><?= $dados['descricao_sera_cobrada'] ?></p>
                    </div>
                </div>

            </div>

            <?php if($dados['sera_cobrado'] == 'N' ){ ?>

                <div class="row">
                    <div class="col-lg-12">

                        <label class="col-sm-12 control-label text-uppercase">Motivo de não ser cobrada: </label>
                        <div class="col-sm-12 text-capitalize">
                            <p><?=$dados['justificativa_nao_cobrar']?></p>
                        </div>
                    </div>
                </div>

            <?}?>

            <div class="row">

                <div class="col-lg-6">
                    <label class="col-sm-12 control-label text-uppercase">Valor: </label>
                    <div class="col-sm-12 text-capitalize">
                        <p><?= \App\Helpers\StringHelper::currencyFormat($dados['valor']) ?></p>
                    </div>

                </div>
                <div class="col-lg-6">
                    <label class="col-sm-12 control-label text-uppercase">Outros custos: </label>
                    <div class="col-sm-12 text-capitalize">
                        <p><?= \App\Helpers\StringHelper::currencyFormat($dados['outros_custos']) ?></p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <label class="col-sm-12 control-label text-uppercase">Médico: </label>
                    <div class="col-sm-12 text-capitalize">
                        <p><?= $dados['medico'] ?></p>
                    </div>

                </div>
                <div class="col-lg-6">
                    <label class="col-sm-12 control-label text-uppercase">Valor Médico: </label>
                    <div class="col-sm-12 text-capitalize">
                        <p><?= \App\Helpers\StringHelper::currencyFormat($dados['valor_medico']) ?></p>
                    </div>
                </div>
            </div>

             <div class="row">
                <div class="col-lg-6">
                    <label class="col-sm-12 control-label text-uppercase">Enfermeio: </label>
                    <div class="col-sm-12 text-capitalize">
                        <p><?= $dados['enfermeiro'] ?></p>
                    </div>

                </div>
                <div class="col-lg-6">
                    <label class="col-sm-12 control-label text-uppercase">Valor Enfermeio: </label>
                    <div class="col-sm-12 text-capitalize">
                        <p><?= \App\Helpers\StringHelper::currencyFormat($dados['valor_enfermeiro']) ?></p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <label class="col-sm-12 control-label text-uppercase">Técnico: </label>
                    <div class="col-sm-12 text-capitalize">
                        <p><?= $dados['tecnico'] ?></p>
                    </div>

                </div>
                <div class="col-lg-6">
                    <label class="col-sm-12 control-label text-uppercase">Valor do Técnico: </label>
                    <div class="col-sm-12 text-capitalize">
                        <p><?= \App\Helpers\StringHelper::currencyFormat($dados['valor_tecnico']) ?></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <label class="col-sm-12 control-label text-uppercase">Condutor: </label>
                    <div class="col-sm-12 text-capitalize">
                        <p><?= $dados['condutor'] ?></p>
                    </div>

                </div>
                <div class="col-lg-6">
                    <label class="col-sm-12 control-label text-uppercase">Valor do Condutor: </label>
                    <div class="col-sm-12 text-capitalize">
                        <p><?= \App\Helpers\StringHelper::currencyFormat($dados['valor_condutor']) ?></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <label class="col-sm-12 control-label text-uppercase">Recebido: </label>
                    <div class="col-sm-12 text-capitalize">
                        <p><?=$lists['sim_nao'][$dados['recebido']] ?></p>
                    </div>

                </div>
                <div class="col-lg-6">
                    <label class="col-sm-12 control-label text-uppercase">Forma de Pagamento: </label>
                    <div class="col-sm-12 text-capitalize">
                        <p> <?= $dados['recebido'] == 'S' ? $lists['forma_pagamento'][$dados['forma_pagamento']] : 'Nenhuma' ?></p>
                    </div>
                </div>
            </div>
            <?php if($dados['recebido'] == 'S'){ ?>
            <div class="row">
                <div class="col-lg-6">
                    <label class="col-sm-12 control-label text-uppercase">Conta Recebido: </label>
                    <div class="col-sm-12 text-capitalize">
                        <p><?=$resultContaBancaria['nome_conta']?></p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <label class="col-sm-12 control-label text-uppercase">Recebido em: </label>
                    <div class="col-sm-12 text-capitalize">
                        <p><?=$dados['data_recebido_BR']?></p>
                    </div>
                </div>

            </div>
            <?php }?>

            <?php if(!empty($dados['observacao_final'])){?>
            <div class="row">
                <div class="col-lg-12">
                    <label class="col-sm-12 control-label text-uppercase">Observação Final: </label>
                    <div class="col-sm-12 text-capitalize">
                        <p><?= $dados['observacao_final'] ?></p>
                    </div>

                </div>
            </div>
            <?}?>
        </fieldset>


            <fieldset style='width:95%;'>
                <legend><i class="fa fa-briefcase" aria-hidden="true"></i> Itens utilizados durante a remoção</legend>
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th width="20%" align="center">Tipo</th>
                        <th width="70%" align="center">Item</th>
                        <th width="10%" align="center">Quantidade</th>
                    </tr>
                    </thead>
                    <tbody class="itens-added">
                    <?php
                    if(count($itens) > 0):
                        foreach ($itens as $item):
                            ?>
                            <tr>
                                <td><?= $lists['tipo_item'][$item['tipo']] ?></td>
                                <td><?= $item['item'] ?></td>
                                <td><?= $item['qtd'] ?></td>
                            </tr>
                            <?php
                        endforeach;
                    else:
                        ?>
                        <tr>
                            <td colspan="3" align="center">Nenhum item foi utilizado na remoção!</td>
                        </tr>
                    <?php endif; ?>
                    </tbody>
                </table>
            </fieldset>
        </div>
    </div>
    <?php } ?>
</div>
<div id="left">
    <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
</div>
</div>
<script type="text/javascript" src="/remocao/js/main.js?v=2.1"></script>
</body>
</html>