table.form {
    width: 100%;
    text-align: left;
}

table.form tr td {
    padding: 2px;
    vertical-align: top;
}

.outras-despesas input, .outras-despesas select,
.procedimentos input, .procedimentos select {
    width: 97%;
}

.descricao {
    width: 40%;
}

.codigo {
    width: 7%;
}

.procedimentos .quantidade {
    width: 4%;
}

.error-message {
    font-size: 0.8em;
    color: red;
}

.tree,
.tree ul {
    font:normal normal 13px/1.4 Segoe,"Segoe UI",Calibri,Helmet,FreeSans,Sans-Serif;
    margin:0;
    padding:0;
    list-style:none;
}
.tree ul {
    margin-left:1em;
    position:relative;
}

.tree ul ul {margin-left:.5em}

.tree ul:before {
    content:"";
    display:block;
    width:0;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    border-left:1px solid;
}
li.income{
    color:#00CC00;
}
li.expense{
    color:#800000;
}
li.blue{
    color:#0044CC;
}
li.purple{
    color:#eea236;
}
li.green{
    color: darkgreen;
}
li.orange{
    color: orangered;
}
li.yellow{
    color: greenyellow;
}
li.brown{
    color: saddlebrown;
}
.tree li {
    margin:0;
    padding:0 1.5em;
    line-height:2em;
    font-weight:bold;
    position:relative;
}
.tree ul li:before {
    content:"";
    display:block;
    width:10px;
    height:0;
    border-top:1px solid;
    margin-top:-1px;
    position:absolute;
    top:1em;
    left:0;
}
.tree ul li:last-child:before {
    background:white;
    height:auto;
    top:1em;
    bottom:0;
}
div.opcoes{
    display: block;
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: 20px;
}
div.cabecalho-nivel{
    display: block;
    position: relative;
    float: left;
    width: 100%;
    margin-left: 71px;
}
div.cabecalho-nivel > span {
    font-size: 10px;
}
div.cabecalho-nivel > span.descricao-nivel {
    margin-left: 190px;
}
span.tooltips {
    display: block;
}
span.tips {
    visibility: hidden;
    margin-left: 10px;
    padding: 0 4px 0 4px;
    border: solid 1px #464646;
    border-radius: 4px;
}
span.tooltips:hover > span.tips {
    visibility: visible;
}
span.tips a:hover{
    color: #b2b2ff;
}
div.msg {
    width: 100%;
    position: relative;
    float: left;
    text-align: center;
    font-size: 12px;
    margin-bottom: 20px;
}
div.local-msg {
    width: 100%;
    position: relative;
    float: left;
    text-align: left;
    font-size: 12px;
    margin-bottom: 20px;
}
.success {
    color: #006400;
    background-color: #C0FFC0;
}
.failed {
    color: #AA0000;
    background-color: #FDCCCC;
}
.warning {
    color: #000;
    background-color: #EEA236;
}

.form-input100 {
    position: relative;
    float: left;
    width: 100%;
    margin: 0 0 5px 0;
}

.form-input100 button {
    margin: 10px 0 0 0;
}

