.negrito{
    font-weight: bold;
}
.italico{
    font-style: italic;
}
.half{
    position: relative;
    float: left;
    min-width: 50%;
    padding: 10px 0 0 10px;
}
.full{
    position: relative;
    float: left;
    width: 100%;
    padding: 10px 0 0 10px;
}
.label{
    position: relative;
    float: left;
    width: 130px;
    text-align: right;
    padding-right: 5px;
}
.teste{

    float: left;
    width: 50%;
    text-align: left;
    padding-right: 5px;
}
#separator{
    position: relative;
    float: left;
    width: 100%;
    margin-top: 20px;
}
#search-results{
    position: relative;
    float: left;
    width: 100%;
    margin-top: 20px;
}
#response{
    position: relative;
    float: left;
    width: 100%;
    padding-top: 20px;
}
.chosen-select .single {
    height: 34px !important;
    overflow-y: auto;
}
.padding-inter-lines {
    line-height: 3.5;
}
