html,body{margin:0;padding:0}
body{font: 85%/1.3 TrebuchetMS,Arial,sans-serif;
    text-align: left;background: #fff;padding-bottom:20px}
a{ color: #0066B3; background: inherit; text-decoration: none;}


h1 { font: bold 2.1em Arial, Arial, Sans-Serif; color: #8B0000 }
h2 { font: bold 1.1em Arial, Arial, Sans-Serif; padding: 0; margin: 0; }

.img_icon_menu{
	width:35px;
	padding-left:5px;
}

.img_icon_menu_usu{
	width:38px;
	vertical-align: top;
	padding-left:5px;
	padding-right:10px;
}
#texto_menu{
	font-family: verdana;
	font-size: 10px;
}
.linha_menu{
	border-bottom: 1px dashed #cccccc;

}
/*div#header{
  width:100%;
  overflow:hidden;
  background-color: #ffffff;
 !* -moz-border-radius: 10px;
  border-radius: 0px;
  -webkit-border-radius: 10px;*!
  padding: 10px;
  -webkit-box-shadow: 0px 0px 10px #cccccc;
  -moz-box-shadow: 0px 0px 10px #cccccc;
  box-shadow: 0px 0px 10px #cccccc;
!*   background: #f0f0f0; *!
}*/
div#header {
    padding: 10px;
    background-color: transparent;
    /*background-image: -webkit-linear-gradient(left,#980013 0%,#df0009 100%);*/
    background-image: -webkit-linear-gradient(left,white 0%,#00a189 100%);
    /*background-image: -o-linear-gradient(left,#980013 0%,#df0009 100%);*/
    background-image: -o-linear-gradient(left,white 0%,#00a189 100%);
    /*background-image: linear-gradient(to right,#980013 0%,#df0009 100%);*/
    background-image: linear-gradient(to right,white 0%,#00a189 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff23b7e5', endColorstr='#ff51c6ea', GradientType=1);
}
div#header h1{width:770px;margin:0 auto;text-align:left}
div#menu{width:800px;margin:0 auto;text-align:left;align:left}
div#header h1{padding: 0px 0 0px;color: #000000}

ul#nav,ul#nav li{
  list-style-type:none;
  margin:0;
  padding:0
}
ul#nav {
  float:right;
  font-size: 80%
}
ul#nav li{
  float:left;
  margin-left: 1px;
  text-align: center
}
ul#nav a{
  float:left;
  width: 95px;
  padding: 5px 0;
  color: #000000;
  text-decoration:none;
  border: 1px solid #b1b2a8;
  background: #edeee0; /* old browsers */
  background: -moz-linear-gradient(top, #edeee0 0%, #f6f7f0 50%, #edeee0 100%); /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#edeee0), color-stop(50%,#f6f7f0), color-stop(100%,#edeee0)); /* webkit */
  /*background: #9bffff;
  border-top : 1px solid #fff;
  border-left : 1px solid #fff;
  border-right : 1px solid #fff;*/
}
ul#nav a:hover{
  background: #fff;
  color: #000
}
ul#nav li.activelink a,ul#nav li.activelink a:hover{
  background: #FFF;
  color: #003
}

#right {
	float: right;
	width: 76%;
	padding: 1em;
	margin-bottom: 1.2em;
	text-align: justify;
 	background-color: #FFFFFF;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	padding: 10px;
	-webkit-box-shadow: 0px 0px 10px #cccccc;
	-moz-box-shadow: 0px 0px 10px #cccccc;
	box-shadow: 0px 0px 10px #cccccc;
/* 	background: #eee; */
}

a:visited {
    color: #8B0000;
    text-decoration: none
}

#left {
	float: left;
	width: 20%;
	margin: 0 0 10px 0;

}

#left .box {
	padding: 0em;
	margin: 0 0 0 0;
	/*background-color: #edeee0;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-border-radius: 10px;*/
	padding: 0px;
	-webkit-box-shadow: 0px 0px 10px #cccccc;
	-moz-box-shadow: 0px 0px 10px #cccccc;
	box-shadow: 0px 0px 10px #cccccc;
/* 	background : #FFF6BF; */
}


#content {
    font: 95%/1.3 TrebuchetMS,Arial,sans-serif;
    margin: 0 auto;
    padding: 15px;
    /*background: #FFDAB9;*/
}

table.mytable,select{
  text-transform: uppercase;
}


table.mytable {
	font: 80% Verdana, Arial, Helvetica, sans-serif;
	color: #000;
	text-align: left;
	border-collapse: collapse;
	border: 1px solid #666666;
	border-top: none;
}
table.mytable td b {
    font-weight: bold;
}
table.mytable a {
	text-decoration: underline;
}
table.mytable a:visited {
	text-decoration: none;
}
table.mytable tr.odd {
	background-color: #ebf3ff;
}
table.mytable tr a {
	color: #000000;
}
table.mytable tr:hover a {
	color: #ffffff;
}
table.mytable tr:hover, table.mytable tr.odd:hover {
	background-color: #87CEEB;
	color: #000000;
}
table.mytable caption {
	height: 45px;
	line-height: 44px;
	color: #60634E;
	font-weight: bold;
	text-align: center;
	width: 100%;
	margin: 0;
	padding: 0;
	margin-left: -1px;
	background: #ffffff url(captop.jpg) repeat-x;
	background-position: 50% top;
	border-left: 2px solid #616161;
	border-right: 2px solid #616161;
}
table.mytable thead th {
	font-size: 105%;
	color: #000;
	background: #ffffff url(tbar.gif) repeat-x;
	height: 33px;
}
table.mytable thead th:hover {
	background: #ffffff url(tbov.gif) repeat-x;

}
table.mytable tr {
	vertical-align: top;
}
table.mytable tr, table.mytable th, table.mytable td {
	padding: .75em;
}
table.mytable td {
	border-left: 1px solid #dadada;
	vertical-align: middle;
}
table.mytable tfoot tr {
	background: #fff url(bbar.gif) repeat-x;
}
table.mytable tfoot td,table.mytable tfoot th{
	color: #000;
	border: 0px;
}

/*#easyTooltip{*/
	/*padding:5px 10px;*/
	/*border:1px solid #195fa4;*/
	/*background:#195fa4 url(tbar.gif) repeat-x;*/
	/*color:#000;*/
        /*font-size: 9pt;*/
        /*font-weight: bold;*/
	/*}*/

/*#easyTooltip2 h4, #easyTooltip2 p{*/
	/*margin:.25em 0;*/
	/*}*/
#easyTooltip{
    margin:0 10px 1em 0;
    width:250px;
    padding:8px;
    background:#fcfcfc;
    border:1px solid #e1e1e1;
    line-height:130%;
}
#easyTooltip h3{
    margin:0 0 .5em 0;
    font:13px Arial, Helvetica, sans-serif;
    text-transform:uppercase;
}
#easyTooltip p{
    margin:0 0 .5em 0;
}
#easyTooltip img{
    background:#fff;
    padding:1px;
    border:1px solid #e1e1e1;
    float:left;
    margin-right:10px;
}

#item{display:none;}

button.bpaciente {
    background-image: url('/utils/paciente_48x48.png'); /* 16x16 px */
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    height: 48px;
    padding-left: 48px;
    vertical-align: middle;
}
button.bpaciente_prioridade {
    background-image: url('/utils/paciente_prioridade_48x48.png'); /* 16x16 px */
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    height: 48px;
    padding-left: 48px;
    vertical-align: middle;
}

button.bpacote {
    background-image: url('/utils/pacote_48x40.png'); /* 16x16 px */
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    height: 48px;
    padding-left: 48px;
    vertical-align: middle;
}

button.bpacote {
    background-image: url('/utils/pacote_48x40.png'); /* 16x16 px */
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    height: 48px;
    padding-left: 48px;
    vertical-align: middle;
}

button.bpacote_pedido{
    background-image: url('/utils/pacote_48x40.png'); /* 16x16 px */
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    height: 48px;
    padding-left: 48px;
    vertical-align: middle;
}

button.bpedido{
    background-image: url('/utils/caixa.png'); /* 16x16 px */
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    height: 48px;
    padding-left: 48px;
    vertical-align: middle;
}

button.pedido_condensado{
    background-image: url('/utils/pacote_48x40.png'); /* 16x16 px */
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    height: 48px;
    padding-left: 48px;
    vertical-align: middle;
}

button.bpedido-gerenciar{
    background-image: url('/utils/caixa.png'); /* 16x16 px */
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    height: 48px;
    padding-left: 48px;
    vertical-align: middle;
}

button.entrada_pedido{
    background-image: url('/utils/caixa.png'); /* 16x16 px */
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    height: 48px;
    padding-left: 48px;
    vertical-align: middle;
}

button.bpacotePaciente {
    background-image: url('/utils/pacote_48x40.png'); /* 16x16 px */
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    height: 48px;
    padding-left: 48px;
    vertical-align: middle;
}

button.aceite {
    background-image: url('/utils/aceitar.png'); /* 16x16 px */
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    height: 24px;
    padding-left: 24px;
    vertical-align: middle;
}

button.PTodos {
    background-image: url('/utils/warning_black.png'); /* 16x16 px */
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    height: 24px;
    padding-left: 16px;
    vertical-align: middle;
}
button.RPTodos {
    background-image: url('/utils/warning.png'); /* 16x16 px */
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    height: 24px;
    padding-left: 16px;
    vertical-align: middle;
}

button.negar{
    background-image: url('/utils/negar.png'); /* 16x16 px */
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    height: 24px;
    padding-left: 24px;
    vertical-align: middle;
}

button.aceitePB {
    background-image: url('/utils/aceitarPB.png'); /* 16x16 px */
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    height: 24px;
    padding-left: 24px;
    vertical-align: middle;
}

button.negarPB{
    background-image: url('/utils/negarPB.png'); /* 16x16 px */
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    height: 24px;
    padding-left: 24px;
    vertical-align: middle;
}

button.bpasta {
    background-image: url('/utils/pasta_72x72.png'); /* 72x72 px */
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    height: 72px;
    padding-left: 72px;
    vertical-align: middle;
}

.ui-autocomplete {
	max-height: 200px;
	overflow-y: auto;
	/* prevent horizontal scrollbar */
	overflow-x: hidden;
	/* add padding to account for vertical scrollbar */
	padding-right: 20px;
}
/* IE 6 doesn't support max-height
* we use height instead, but this forces the menu to always be this tall
*/
* html .ui-autocomplete {
		height: 100px;
}
#left .box a{ color: #000000; background: inherit; text-decoration: none;}
#left .box a:visited{ color: #000000; background: inherit; text-decoration: none;}

.riscar-palavra{
    text-decoration: line-through;
}

.text-green{
 color:green;
}

.text-red{
    color:red;
}
.text-white{
    color:white;
}

.add-kit,.add-med,.add-die,.add-mat,.botao_relatorio,#add-item{
    cursor:pointer;
}
.select_small{
    background-color:transparent;
    font-size:10px;
    max-width:150px

}
.select_small_2{
    background-color:transparent;
    font-size:10px;
    max-width:300px

}
.cancelar_entrada{
     background: none;
     border: none;
     color: #0066ff;
     text-decoration: underline;
     cursor: pointer;
}

.block-no-internet {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 9999;
}

.modal-no-internet {
    display:none;
    /* some styles to position the modal at the center of the page */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    text-align: center;

    /* needed styles for the overlay */
    z-index: 4999; /* keep on top of other elements on the page */
}

.modal-no-internet-content {
    color: rgb(255, 11, 11);
    font-size: 7em;
    margin-top: 150px;
}
.alergia{
    text-align: center;
    text-transform: uppercase;
}
table.font10{
    font-size: 10px;

}
table.font8{
    font-size: 8px;

}

.vermelho{
background: #ff0000;
}
.verde{
background: #00ff00;
}
.laranja{
background: #FFA824;

}

.branco{
   backgro:#FFFFFF;
}

.icon-inline {
    float: left; margin-right: 5px;
}

.ui-autocomplete-label {
    font-weight: bold;
    padding: .2em .4em;
    margin: .8em 0 .2em;
    line-height: 1.5;
  }
  
  .outro-alinhado-topo{
      vertical-align:top;
      word-wrap: break-word;
  }

.zebrado p {
    padding: 5px;
    margin: 5px;
}

.zebrado2 div {
    padding: 5px;
    margin: 5px;
}

.zebrado p:nth-child(2n+1) {
    background-color: #eeeeee;
}

.zebrado2 div:nth-child(2n+1) {
    background-color: #eeeeee;
}

img.image-ferida-thumb {
    width: 150px;
    margin: 10px;
    border: 2px solid #ddd;
}

a.image-ferida-thumb {
    display: block;
    padding-left: 10px;
    cursor: pointer;
}

.table-ferida-imagem tr td {
    vertical-align: top;
    border-left: 0px;
}
[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}

.backgrounSienna{
    background-color : #FF8247;
}

.wrapword{
    white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
    white-space: -webkit-pre-wrap; /*Chrome & Safari */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    white-space: pre-wrap;       /* css-3 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    word-break: break-all;
    white-space: normal;
}

.enviadosGreen {
    border-left: 5px solid green;
    list-style-type: none;
    padding-left: 5px;
}
.enviadosGreen li {
    padding: 5px;
}

.ajusteOrange {
    border-left: 5px solid orange;
    list-style-type: none;
    padding-left: 5px;
}
.ajusteOrange li {
    padding: 5px;
}

#ui-datepicker-div select.ui-datepicker-month {
    color: #333 !important
}

.pix:before{
   content: "\❖"
}


