table.form {
    width: 100%;
    text-align: left;
}

table.form tr td {
    padding: 2px;
    vertical-align: top;
}

.outras-despesas input, .outras-despesas select,
.procedimentos input, .procedimentos select {
    width: 97%;
}

.descricao {
    width: 40%;
}

.codigo {
    width: 7%;
}

.procedimentos .quantidade {
    width: 4%;
}

.error-message {
    font-size: 0.8em;
    color: red;
}