<?php require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>
<head>
    <meta charset="UTF-8">
    <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php'); ?>
    <link rel="stylesheet" type="text/css" href="/utils/reports.css">
    <link rel="stylesheet" href="/utils/bootstrap-3.3.6-dist/css/bootstrap.min.css" />
    <script src="/utils/bootstrap-3.3.6-dist/js/bootstrap.min.js" ></script>
    <link rel="stylesheet" href="/utils/font-awesome-4.7.0/css/font-awesome.css" />
</head>
<div id="content">
    <div id="right">
        <center><h1><?=$acaoTitulo?> Conta de <?= $tipo_titulo ?></h1></center>
        <br>
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title pull-left" style="padding-top: 7.5px;">
                    <i class="fa fa-search" aria-hidden="true"></i> <?=$acaoTitulo?> Conta Antecipada
                </h3>
            </div>

            <div class="panel-body" id="div-form-conta-antecipada">
                <form id="form-conta-antecipada">
                    <input type="hidden" id="tipo-nota" name="tipo_nota" value="<?= $tipo ?>">
                    <?if($acaoTitulo == 'Editar' && isset($response)){?>
                        <input type="hidden"  name="nota_id" value="<?= $response['idNotas']?>">
                    <?}?>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="competencia">Competência:</label>
                            <input name="competencia" maxlength="7" id="competencia" type="text" class="form-control mes-ano OBG" value='<?= isset($response['data_competencia'])  ? \DateTime::createFromFormat('Y-m',$response['data_competencia'])->format('m/Y') : $competencia ?>' required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="data-emissao">Data Emissão:</label>
                            <input type="date" name="data_emissao" min="<?= $data_fechamento ?>" id="data-emissao" class="form-control OBG" required value="<?=  isset($response['dataEntrada'])  ? $response['dataEntrada'] :$hoje ?>">
                        </div>
                        <div class="col-md-6">
                            <label for="">Tipo do Doc.</label>
                            <select name="tipo_documento_nota"
                                    id="tipo-documento-nota"
                                    class="form-control OBG_CHOSEN chosen-select">
                                <option value="" selected>Selecione...</option>
                                <?php foreach($tiposDocumentoFinanceiro as $tipoDocFin): ?>
                                    <option <?= isset($response['tipo_documento_financeiro_id']) && $response['tipo_documento_financeiro_id'] == $tipoDocFin['id']  ? "selected" : "" ?> value="<?= $tipoDocFin['id'] ?>">
                                        <?= strtoupper($tipoDocFin['sigla']) ?> - <?= strtoupper($tipoDocFin['descricao']) ?>
                                    </option>
                                <?php endforeach; ?>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="valor">Valor:</label>
                            <input type="text" name="valor" class="form-control OBG valor" required value="<?=  isset($response['valor'])  ? $response['valor'] :'' ?>">

                        </div>
                        <div class="col-md-6">
                            <label for="data-emissao">Cod. Barras:</label>
                            <input type="text" name="cod_barras"  class="form-control "  value="<?=  isset($response['codBarras'])  ? $response['codBarras'] :'' ?>">

                        </div>


                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="fornecedor">Fornecedor:</label>
                            <select name="fornecedor_nota" id="fornecedor" class="form-control chosen-select OBG_CHOSEN" >
                                <option value="" selected>Selecione...</option>
                                <?php foreach($fornecedores as $fornecedor): 
                                    $cpfCnpjFornecedor = $fornecedor['FISICA_JURIDICA'] == 1 ? $fornecedor['cnpj'] : $fornecedor['CPF'];
                                    ?>
                                    <option <?= isset($response['codFornecedor']) && $response['codFornecedor'] == $fornecedor['idFornecedores']  ? "selected": "" ?> value="<?= $fornecedor['idFornecedores'] ?>"><?= $cpfCnpjFornecedor.' '.strtoupper($fornecedor['fornecedor']) ?></option>
                                <?php endforeach; ?>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label for="">Natureza</label>
                            <select name="natureza_nota"
                                    id="natureza-nota"
                                    data-placeholder="Selecione a natureza da nota..."
                                    class="form-control chosen-select OBG_CHOSEN">
                                <option disabled selected value="">Selecione a natureza da nota...</option>
                                <?php foreach ($naturezas as $grupo => $natureza): ?>
                                    <optgroup label="<?= $grupo ?>">
                                        <?php foreach ($natureza as $item): 
                                            if(in_array($item['ID'], $naturerezasAntecipadas[$tipo])):?>
                                            <option <?= isset($response['natureza_movimentacao']) && $response['natureza_movimentacao'] == $item['ID']  ? "selected": "" ?> tipo="<?= $item['N1'] ?>" value="<?= $item['ID'] ?>">
                                                <?= str_replace('.', '', $item['COD_N4']) ?> -
                                                <?= $item['N4'] ?>
                                            </option>
                                            <?php endif; ?>
                                        <?php endforeach; ?>
                                    </optgroup>
                                <?php endforeach; ?>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="">Nº da Nota</label>
                            <input type="text" name="numero_nota" id="numero-nota" value = "<?= isset($response['codigo']) ? $response['codigo'] : "" ?>" class="form-control OBG">
                        </div>
                        <div class="col-md-6">
                            <label for="">Unidade Regional</label>
                            <select name="ur_nota"
                                    id="ur-nota"
                                    data-placeholder="Selecione a UR da nota..."
                                    class="form-control chosen-select OBG_CHOSEN">
                                <option disabled selected value="">Selecione a ur da nota...</option>
                                <?php foreach($unidades as $unidade): ?>
                                    <option <?= isset($response['empresa']) && $response['empresa'] == $unidade['id']  ? "selected": "" ?> value="<?= $unidade['id'] ?>"><?= strtoupper($unidade['nome']) ?></option>
                                <?php endforeach; ?>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="origem">Origem:</label>
                            <select name="origem" id="origem" class="form-control chosen-select OBG_CHOSEN" >
                                <option value="" selected>Selecione...</option>
                                <?php foreach($origens as $origem): ?>
                                    <option <?= isset($response['origem']) && $response['origem'] == $origem['id']  ? "selected": "" ?> value="<?= $origem['id'] ?>"><?= strtoupper($origem['nome_conta']) ?></option>
                                <?php endforeach; ?>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label for="forma_pagamento">Forma Pagamento:</label>
                            <select name="forma_pagamento" id="forma_pagamento" class="form-control chosen-select OBG_CHOSEN" >
                                <option value="" selected>Selecione...</option>
                                <?php foreach($aplicacoes as $aplicacao): ?>
                                    <option <?= isset($response['aplicacao']) && $response['aplicacao'] == $aplicacao['id']  ? "selected": "" ?> value="<?= $aplicacao['id'] ?>"><?= mb_strtoupper($aplicacao['forma'],'UTF-8') ?></option>
                                <?php endforeach; ?>
                            </select>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-6">
                            <label for="">Centro de Custo</label>
                            <select name="assinatura"
                                    id="assinatura"
                                    data-placeholder="Selecione o setor..."
                                    class="form-control chosen-select OBG_CHOSEN">
                                <option disabled selected value="">Selecione o centro de custo...</option>
                                <?php foreach($assinaturas as $assinatura): ?>
                                    <option <?= isset($response['ASSINATURA']) && $response['ASSINATURA'] == $assinatura['ID']  ? "selected": "" ?> value="<?= $assinatura['ID'] ?>"><?= mb_strtoupper($assinatura['DESCRICAO'],'UTF-8') ?></option>
                                <?php endforeach; ?>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label for="">Descrição</label>
                            <textarea name="descricao" style="text-transform: uppercase" id="descricao" cols="10" rows="3"  class="form-control OBG" required><?= isset($response['descricao'])  ? $response['descricao'] : "" ?></textarea>
                        </div>
                    </div>
                    <br>
                    <div class="row">

                        <div class="col-md-12 text-center">
                            <?if(isset($response) && $acaoTitulo == 'Editar'){ ?>
                                <div  class="btn btn-primary" id="editar-conta-antecipada">
                                    <span class='ui-button-text'>Editar</span>
                                </div>

                            <? }else{?>
                                <div  class="btn btn-primary" id="salvar-conta-antecipada">
                                    <span class='ui-button-text'>Salvar</span>
                                </div>
                            <? }?>
                            &nbsp;&nbsp;
                            <a  href="/financeiros/contas-antecipadas/?action=index-conta-antecipada"
                                style="color: white;"
                                class='btn btn-warning' >
                                Voltar
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>


    </div>
    <div id="left">
        <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
    </div>
</div>
<script type="text/javascript" src="/utils/jquery/js/jquery.maskedinput-1.3.js"></script>
<script type="text/javascript" src="/financeiros/contas-antecipadas/js/main.js?v=1.5"></script>
<script type="text/javascript" src="/utils/jquery/js/chosen.jquery.min.js"></script>
<script type="text/javascript" src="/utils/jquery/js/voltar.js"></script>
<script type="text/javascript" src="/utils/jquery/js/validar_campos.js"></script>
<script type="text/javascript" src="/utils/bower_components/moment/moment.js"></script>
<script type="text/javascript" src="/utils/jquery/js/validar_vencimento_real.js?v=1.4"></script>


</body>
</html>