<?php

use App\Helpers\StringHelper;
use Operam\Helpers\Str;

require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>
<head>
    <meta charset="UTF-8">
    <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php'); ?>
    <link rel="stylesheet" type="text/css" href="/utils/reports.css">
    <link rel="stylesheet" href="/utils/bootstrap-3.3.6-dist/css/bootstrap.min.css" />
    <script src="/utils/bootstrap-3.3.6-dist/js/bootstrap.min.js" ></script>
    <link rel="stylesheet" href="/utils/font-awesome-4.7.0/css/font-awesome.css" />
</head>
<div id="content">
    <div id="right">
        <center><h1><?=$acaoTitulo?> Conta de <?= $tipo_titulo ?></h1></center>
        <br>
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title pull-left" style="padding-top: 7.5px;">
                    <i class="fa fa-search" aria-hidden="true"></i> <?=$acaoTitulo?> Conta Antecipada
                </h3>
            </div>           
            <div class="panel-body" id="div-form-conta-antecipada"> 
            <?php if(isset($_SESSION['permissoes']['financeiro']['financeiro_conta_pagar_receber']['financeiro_conta_pagar_receber_antecipada']['financeiro_conta_pagar_receber_antecipada_nova']) || $_SESSION['adm_user'] == 1) { ?>             
                <div class="row">
                        <div class="col-md-6">
                            <label for="competencia">Competência:</label>
                            <input name="competencia" maxlength="7" id="competencia" type="text" class=" mes-ano OBG" value='<?= $response['data_competencia']?>' required>
                            <button  class="btn btn-primary" id="editar-competencia" id-nota="<?= $response['idNotas']?>">
                            <span class='ui-button-text'>Editar Competência</span>
                        </button>
                    
                        </div>
                    </div>
                <?php  }else{ ?>
                <div class="row">
                        <div class="col-md-6">                            
                                <label for="">Competência:</label>
                                <?=$response['data_competencia']?>                        
                        </div> 
            </div>
            <?php } ?>
                    <div class="row">
                        <div class="col-md-6">                            
                                <label for="data-emissao">Data Emissão:</label>
                                <?=$response['data_emissao']?>                        
                        </div>                                             
                        <div class="col-md-6">
                            <label for="">Tipo do Doc.:</label>     
                            <?=$response['tipoDocFin']?>                  
                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">                            
                                <label for="valor">Valor:</label>
                                <?=$response['valorFormatoBr']?>                           
                        </div>  
                        <div class="col-md-6">                            
                                <label for="data-emissao">Cod. Barras:</label>
                                <?=$response['codBarras']?>                                                           
                        </div>                                              
                        
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="fornecedor">Fornecedor:</label>
                            <?=$response['fornecedor']?> 
                        </div>
                        <div class="col-md-6">
                            <label for="">Natureza:</label>                       
                            <?=$response['natureza']?> 
                        </div>                        
                    </div>                    
                    <div class="row">                        
                        <div class="col-md-6">
                            <label >Nº da Nota:</label>                        
                            <?=$response['codigo']?> 
                        </div>
                        <div class="col-md-6">
                            <label for="">Unidade Regional:</label>                       
                            <?=$response['empresa']?> 
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="origem">Origem:</label>
                            <?=$response['origem']?> 
                        </div>  
                        <div class="col-md-6">
                            <label for="forma_pagamento">Forma Pagamento:</label>
                            <?=$response['aplicacao']?> 
                        </div>                        
                    </div> 
                    <?if($response['CONCILIADO'] == 'S'){?>
                    <div class="row"> 
                        <div class="col-md-6">                    
                            <label>Conciliado:</label>
                            Sim
                        </div>
                        <div class="col-md-6">
                            <label for="">Data Conciliado:</label>                       
                            <?=$response['data_conciliado_BR']?> 
                        </div>
                    </div> 
                    <?}?>
                    <div class="row">                    
                        
                        <div class="col-md-6">
                            <label for="">Centro de Custo:</label>                       
                            <?=$response['assinatura']?> 
                        </div>
                    </div>                 
                    <div class="row">
                        <div class="col-md-12">
                            <label for="">Descrição:</label> 
                            <?=$response['descricao']?>                   
                        </div>
                    </div>  
                    <br>                 
                                   
                </div>
            </div>  
            <?php if(isset($responseCompensacao) && !empty($responseCompensacao)){?>
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title pull-left" style="padding-top: 7.5px;">
                        <i class='fa fa-handshake-o' aria-hidden="true"></i> Compensações.
                    </h3>
                </div>           
                <div class="panel-body" > 
                    <div>
                        <table class='table table-striped table-bordered' width='100%' >
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>N° Documento</th>
                                    <th>Fornecedor</th>
                                    <th>Data Emissão</th>
                                    <th>Tipo</th>
                                    <th>Valor</th>                                    
                                    <th>Vencimento Real</th>
                                </tr>
                            </thead>
                            <tbody>
                                <?php foreach($responseCompensacao as $resp): ?>
                                        <tr>
                                            <td>
                                            <button title='Cancelar Compensação' type='button' role='button' id-compensacao = "<?=$resp['id']?>" class='btn btn-danger cancelar-compensacao'>
                                                <i class='fa fa-times'></i>
                                            </button>
                                            </td>
                                            <td><?= $resp['codNota'] ?></td>
                                            <td><?= $resp['nome_fornecedor'] ?></td>
                                            <td><?= $resp['dataEntrada'] ?></td>
                                            <td><?= $resp['sigla'] ?></td>
                                            <td><?= StringHelper::currencyFormat($resp['valor']) ?></td>                                            
                                            <td><?= $resp['vencimento_real'] ?></td>                                           
                                            
                                        </tr>
                                <?php endforeach;?>                   
                            
                            </tbody>                    
                        </table>
                    </div>

                </div>
            </div>
            <?php }
             if(isset($responseBaixa) && !empty($responseBaixa)){?>
                <div class="panel panel-default">
                    <div class="panel-heading clearfix">
                        <h3 class="panel-title pull-left" style="padding-top: 7.5px;">
                        <i class='fa fa-check-circle-o' aria-hidden="true"></i> Baixas
                        </h3>
                    </div>           
                    <div class="panel-body" > 
                        <div>
                            <table class='table table-striped table-bordered' width='100%' >
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Valor </th>
                                        <th>Data</th>
                                        <th>Conta</th>
                                        <th>Forma</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    <?php foreach($responseBaixa as $resp): ?>
                                            <tr>
                                                <td>
                                                <?php 
                                                if(isset($_SESSION['permissoes']['financeiro']
                                                    ['financeiro_conta_pagar_receber']['financeiro_conta_pagar_receber_baixar']
                                                    ['financeiro_conta_pagar_receber_baixar_cancelar']) || $_SESSION['adm_user'] == 1) { 

                                                    if($resp['conciliado'] == 'N' && $dataFechamentoBd < $resp['data_pagamento']){ ?>
                                                    <button title='Cancelar Baixa' type='button' role='button' id-baixa = "<?=$resp['id']?>" class='btn btn-danger cancelar-baixa'>
                                                        <i class='fa fa-times'></i>
                                                    </button>
                                                    <?php }
                                                    }?>
                                                
                                                </td>
                                                <td><?= StringHelper::currencyFormat($resp['valor']) ?></td>
                                                <td><?= StringHelper::parseDateformatDBToStringBR($resp['data_pagamento'])?></td>
                                                <td><?= $resp['nome_conta'] ?></td>
                                                <td><?= $resp['forma'] ?></td>                                                                                   
                                                
                                            </tr>
                                    <?php endforeach;?>                   
                                
                                </tbody>                    
                            </table>
                        </div>

                    </div>
                </div>
            <?php } ?>
            <br>
            <div class="row">
                    <div class="col-md-12 text-center">                    
                        
                        <a  href="/financeiros/contas-antecipadas/?action=index-conta-antecipada"
                            style="color: white;"
                            class='btn btn-warning' >
                            Voltar
                        </a>
                    </div>
            </div>           
        </div>
        
    </div>
    <div id="left">
        <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
    </div>
</div>
<script type="text/javascript" src="/financeiros/contas-antecipadas/js/main.js?v=1.4"></script>
<script type="text/javascript" src="/utils/jquery/js/chosen.jquery.min.js"></script>
<script type="text/javascript" src="/utils/jquery/js/voltar.js"></script>
<script type="text/javascript" src="/utils/jquery/js/validar_campos.js"></script>
<script type="text/javascript" src="/utils/bower_components/moment/moment.js"></script>
<script type="text/javascript" src="/utils/jquery/js/validar_vencimento_real.js?v=1.4"></script>


</body>
</html>