<link rel="stylesheet" href="/utils/bootstrap-3.3.6-dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="/utils/font-awesome-4.7.0/css/font-awesome.css" />
<div id='dialog-status' title='Status do paciente' cod='' ></div>
<div id='dialog-modalidade' title='Modalidade do paciente' cod='' ></div>
<div id='dialog-opcao-enfermagem' title='Opções Enfermagem' cod='' ></div>
<div id='dialog-opcao-medica' title='Opções Médica' cod='' ></div>
<div id='dialog-opcao-secmed' title='Opções Secmed' cod='' ></div>

<?php
$central = ($_SESSION['empresa_principal'] == 1 || $_SESSION['empresa_principal'] == 9 || $_SESSION['empresa_principal'] == 10);
?>

<div ng-controller='PacienteController as pc'>
    <div class="container col-sm-12">
        <fieldset class="form-group row">
            <legend><b>Buscar Pacientes</b></legend>

            <label for="nome-codigo" class="col-sm-12">Buscar pelo nome ou código:</label>
            <div class="col-sm-8">
                <input type="search"
                       ng-model="pc.search"
                       id="nome-codigo"
                       ng-keyup="pc.getPacientesListByNameCod()"
                       ng-trim="false"
                       class="form-control">
                <small style="color: grey;">Digite no mínimo 3 caracteres para iniciar a busca. Ex.: Ana</small>
            </div>
            <div class="form-check col-sm-4">
                <label class="form-check-label">
                    <input type="checkbox" ng-model="todos" ng-click="pc.todos()" class="form-check-input">
                    Todos
                </label>
            </div>

            <label for="status-paciente" class="col-sm-12">Status do Paciente:</label>
            <div class="col-sm-12">
                <select ng-cloak
                        ng-model="selectStatusPaciente"
                        ng-change="pc.getPacientesList(1)"
                        ng-disabled="todos"
                        class="form-control"
                        id="status-paciente"
                <!--ng-options="status.status as status.status | uppercase
                            for status in pc.statusPaciente
                            track by status.id"-->>
                <option ng-repeat="status in pc.statusPaciente" value="{{ status.id }}">{{ status.status | Capitalize }}</option>
                </select>
            </div>
            <?php //if($central){ ?>

            <label for="unidade-regional" class="col-sm-12">Unidade Regional:</label>
            <div class="col-sm-12">
                <select ng-cloak
                        id="unidade-regional"
                        class="form-control"
                        ng-change="pc.getPacientesList(1)"
                        ng-disabled="todos"
                        ng-model="pc.searchValue.empresa">
                    <option ng-repeat="ur in pc.urs" value="{{ ur.id }}">{{ ur.nome }}</option>
                </select>
            </div>
            <?php //} ?>

            <label for="liminar" class="col-sm-12">Liminar:</label>
            <div class="col-sm-12">
                <select ng-cloak
                        id="liminar"
                        class="form-control"
                        ng-change="pc.getPacientesList(1)"
                        ng-disabled="todos"
                        ng-model="pc.searchValue.liminar">
                    <option></option>
                    <option value='0'>Não</option>
                    <option value='1'>Sim</option>
                </select>
            </div>

            <label for="convenio" class="col-sm-12">Convênio:</label>
            <div class="col-sm-12">
                <select ng-cloak
                        id="convenio"
                        class="form-control"
                        ng-disabled="todos"
                        ng-change="pc.getPacientesList(1)"
                        ng-model="pc.searchValue.convenio">
                    <option ng-repeat="plano in pc.planos" value="{{ plano.id }}">{{ plano.nome }}</option>
                </select>
            </div>
        </fieldset>
    </div>

    <a ng-show="pc.pacientes.length > 0" href='imprimir.php?busca={{ pc.search }}&status={{ selectStatusPaciente }}&empresa={{ pc.searchValue.empresa }}&convenio={{ pc.searchValue.convenio }}&liminar={{ pc.searchValue.liminar }}' target="_blank">
        <i class="glyphicon glyphicon-print"></i> Imprimir lista
    </a>

    <div id="saving"
         ng-cloak
         ng-show="pc.pacientes.length > 0"
         class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only ui-state-default"
         style="
                 position: relative;
                 float: right;
                 width: 260px;
                 height: 20px;
                 display: block;
                 background-color: #fff;
                 border: 1px solid #000;
                 border-radius: 2px;
                 -webkit-box-shadow: -3px 1px 3px 0px rgba(50, 50, 50, 0.71);
                 -moz-box-shadow:    -3px 1px 3px 0px rgba(50, 50, 50, 0.71);
                 box-shadow:         -3px 1px 3px 0px rgba(50, 50, 50, 0.71);">
        <span style="vertical-align: middle; color: #8B0000;">Listando {{ pc.total_pacientes || '0' }} de {{ pc.total_count || 0 }} pacientes.</span>
    </div>

    <br>
    <table class='table table-responsive table-striped table-hover' id="lista-pacientes" width='100%'>
        <thead>
        <tr>
            <th><b>Código/Paciente</b></th>
            <th><b>Status</b></th>
            <th align="center"><b>Op. Medica</b></th>
            <th align="center"><b>Op. Enfermagem</b></th>
            <th align="center"><b>CID</b></th>
            <th align="center"><b>% Cadastro</b></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-show="pc.pacientes.length <= 0">
            <td colspan="7" ng-cloak style="text-align:center;">{{pc.message}}</td>
        </tr>
        <tr ng-cloak
            dir-paginate="paciente in pc.pacientes | itemsPerPage:pc.itemsPerPage"
            total-items="pc.total_count">
            <td>
                <label ng-cloak>
                    ({{ paciente.codigo }}) {{ paciente.nome }}
                </label>
                <label uib-tooltip="Em {{ paciente.data }} por {{ paciente.usuario }}: {{ paciente.ultima_observacao }}"
                       ng-show="paciente.ultima_observacao !== ''">
                    <img src='../../utils/details.png' width='16' height='16' title='{{ paciente.ultima_observacao }}' />
                </label>
            </td>
            <td align="center">{{ paciente.status }}</td>
            <td align="center">
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                        Opções
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header"><b>Fichas</b></li>
                        <li><a href="../medico/?view=paciente_med&act=listcapmed&id={{ paciente.id }}" target="_blank">Avaliação</a></li>
                        <li><a href="../medico/?view=paciente_med&act=listfichaevolucao&id={{ paciente.id }}" target="_blank">Evolução</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header"><b>Relatórios</b></li>
                        <li><a href="../medico/?view=relatorio&opcao=1&id={{ paciente.id }}" target="_blank">Alta Médica</a></li>
                        <li><a href="../medico/?view=relatorio&opcao=2&id={{ paciente.id }}" target="_blank">Aditivo</a></li>
                        <li><a href="../medico/?view=relatorio&opcao=3&id={{ paciente.id }}" target="_blank">Prorrogação</a></li>
                        <li><a href="../medico/?view=relatorio&opcao=4&id={{ paciente.id }}" target="_blank">Intercorrência</a></li>
                        <li><a href="../medico/?view=relatorio&opcao=5&id={{ paciente.id }}" target="_blank">Deflagrado</a></li>
                    </ul>
                </div>
            </td>
            <td align="center">
                <div class="dropdown">
                    <button class="btn btn-danger dropdown-toggle" type="button" data-toggle="dropdown">
                        Opções
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header"><b>Fichas</b></li>
                        <li><a href="../enfermagem/?view=listavaliacaenfermagem&id={{ paciente.id }}" target="_blank">Avaliação</a></li>
                        <li><a href="../enfermagem/?view=listevolucaoenfermagem&id={{ paciente.id }}" target="_blank">Evolução</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header"><b>Relatórios</b></li>
                        <li><a href="../enfermagem/?view=relatorio&opcao=1&id={{ paciente.id }}" target="_blank">Alta Enfermagem</a></li>
                        <li><a href="../enfermagem/?view=relatorio&opcao=2&id={{ paciente.id }}" target="_blank">Aditivo</a></li>
                        <li><a href="../enfermagem/?view=relatorio&opcao=3&id={{ paciente.id }}" target="_blank">Prorrogação</a></li>
                        <li><a href="../enfermagem/?view=relatorio&opcao=4&id={{ paciente.id }}" target="_blank">Relatório de Visita Semanal</a></li>
                        <li><a href="../enfermagem/?view=relatorio&opcao=5&id={{ paciente.id }}" target="_blank">Deflagrado</a></li>
                    </ul>
                </div>
            </td>
            <td align="center" colspan="5">
                <div class="dropdown">
                    <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown">
                        Opções
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li class="dropdown-header"><b>Cadastro</b></li>
                        <li><a href="?adm=paciente&act=editar&id={{ paciente.id }}" target="_blank">Editar</a></li>
                        <li><a href="?adm=paciente&act=show&id={{ paciente.id }}" target="_blank">Detalhes</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header"><b>Fichas</b></li>
                        <li><a href="?adm=relatorios&opcao=1&id={{ paciente.id }}" target="_blank">Admissão</a></li>
                        <li><a href="?adm=relatorios&opcao=2&id={{ paciente.id }}" target="_blank">Histórico de Status</a></li>
                        <li><a href="?adm=relatorios&opcao=3&id={{ paciente.id }}" target="_blank">Histórico de Plano e Liminar</a></li>
                        <li><a href="/adm/secmed/?type=relatorio-modalidade-paciente{{ paciente.id }}" target="_blank">Histórico de Mudança de Modalidade</a></li>
                        <li><a href="/adm/secmed/?action=prorrogacao-planserv&id={{ paciente.id }}" target="_blank">Prorrogação Planserv</a></li>
                        <?php if($central): ?>
                            <li class="divider"></li>
                            <li class="dropdown-header"><b>Ações</b></li>
                            <li><a href="/adm/secmed/?action=buscar-orcamentos-autorizacao&paciente={{ paciente.id }}" target="_blank">Autorizações</a></li>
                            <li><a href="/enfermagem/relatorios/?action=procedimentos-gtm&paciente={{ paciente.id }}" target="_blank">Procedimentos em GTM</a></li>
                            <li><a href="#" class='statusp' cod='{{ paciente.id }}' ur='{{ paciente.empresa }}'>Mudar status do paciente</a></li>
                            <li><a href="#" class='modhc' cod='{{ paciente.id }}'>Mudar modalidade do paciente</a></li>
                        <?php endif; ?>
                        <li class="divider"></li>
                        <li><a class="modal-autorizacao-mensal" paciente-id="{{ paciente.id }}" convenio="{{ paciente.convenio }}">Autorização de Serviços</a></li>
                    </ul>
                </div>
            </td>
            <td colspan="2">
                <uib-progressbar class="progress-striped active" animate="true" max="100" value="paciente.porcentagem" type="success">
                    <i style="color: #000 !important;">
                        <span count-to="{{ paciente.porcentagem | number }}" duration="1" count-from="{{countFrom}}">{{ paciente.porcentagem | number }}</span> %
                    </i>
                </uib-progressbar>
            </td>
        </tr>
        </tbody>
    </table>

    <dir-pagination-controls
            ng-show="pc.pacientes.length > 0"
            max-size="5"
            direction-links="true"
            boundary-links="true"
            on-page-change="pc.getPacientesList(newPageNumber)"></dir-pagination-controls>

    <div class="modal fade"
         id="modal-autorizacao-servicos"
         tabindex="-1"
         role="dialog"
         data-backdrop="static"
         data-keyboard="false"
         paciente-id=""
         convenio=""
         aria-labelledby="modalAutorizacaoServicos">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="modalAutorizacaoServicos">Buscar Autorização de Serviços</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <label class="control-label col-xs-12" for="status-geral">Período:</label>
                        <div class="col-xs-12">
                            <div class="form-inline">
                                <div class="form-group">
                                    <input type="date" name="inicio_autorizacao" id="inicio-autorizacao" class="form-control"> -
                                </div>
                                <div class="form-group">
                                    <input type="date" name="fim_autorizacao" id="fim-autorizacao" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <label class="control-label" for="status-geral">Tipo do Documento:</label>
                            <select name="tipo_documento" class="form-control" id='tipo-documento'>
                                <option selected value="T">Todos</option>
                                <option value="A">Avaliação</option>
                                <option value="P">Prorrogação</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success consultar-autorizacao-periodo">Gerar Planilha de Serviços</button>
                    <button type="button" class="btn btn-warning" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/adm/secmed/templates/autorizacao/js/autorizacao-ur.js?v=1"></script>
<script src="/utils/bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>
<script src="/utils/angular/angular-1.5.6.min.js"></script>
<script src="/utils/angular/ui-bootstrap-1.2.5.min.js"></script>
<script src="/utils/angular/angular-local-storage.js"></script>
<script src="/app/js/app.js?v=1"></script>
<script src="/app/js/modules/paciente.js?v=3"></script>
<script src="/app/js/modules/statusPaciente.js?v=2"></script>
<script src="/app/js/modules/planos.js?v=1"></script>
<script src="/app/js/modules/urs.js?v=1"></script>
<script src="/app/js/controllers/paciente.js?v=11"></script>
<script src="/app/js/shared/services/paciente.js?v=3"></script>
<script src="/app/js/shared/services/statusPaciente.js?v=2"></script>
<script src="/app/js/shared/services/planos.js?v=1"></script>
<script src="/app/js/shared/services/urs.js?v=1"></script>
<script src="/app/js/shared/filters/admin/busca.filter.js?v=2"></script>
<script src="/app/js/shared/directive/dirPagination.js?v=1"></script>