<?php
if(isset($response)):
    if(empty($response)):
        ?>
        <h4 class="text-center"><?= htmlentities('Nenhum resultado encontrado. Caso você não pertença a Central você só pode
            verificar as saídas da sua Unidade Regional.')?>
        </h4>
        <?php
    else:
        ?>
<table class='table table-striped' border="2px">
    <thead>
    <tr align="center" bgcolor="#778899">
        <th colspan="<?=$colspanTitulo?>" ><?= htmlentities('Relatório de Saída por Remessa') ?></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td colspan="<?=$colspan1?>" ><b><?= htmlentities('Usuário:')?> </b><?=htmlentities($nomeUsuario)?></td>
        <td colspan="<?=$colspan2?>" ><b>Em: </b><?=$agora?></td>
    </tr>
    <tr>
        <td colspan="<?=$colspan1?>" ><b>Paciente: </b><?=htmlentities($nomePaciente)?></td>
        <td colspan="<?=$colspan2?>" ><b><?= htmlentities('Opção:')?> </b><?=htmlentities($nomeOpcao)?></td>
    </tr>
    <tr>
        <td colspan="<?=$colspan2?>" ><b><?= htmlentities('Início:')?> </b><?=$inicioBr2?></td>
        <td colspan="<?=$colspan2?>" ><b>Fim: </b><?=$fimBr2?></td>
        <td colspan="<?=$colspan3?>" ><b>Remessa: </b><?=$remessa?></td>
    </tr>

    </tbody>
</table>
        <br>
        <br>


        <table class='table table-striped' border="2px">
            <thead bgcolor="#778899">
            <tr>
                <th>REMESSA</th>
                <th>DATA</th>
                <th ><?=htmlentities('TIPO SAÍDA')?></th>
                <th><?=htmlentities('DESTINATÁRIO')?></th>
                <?php
                if($opcao == 'A'){ ?>
                    <th>ITEM</th>
                    <th>ITEM TIPO</th>
                    <th>QUANTIDADE</th>
                    <?php
                }
                ?>
            </tr>
            </thead>
            <tbody>
            <?php
            foreach($response as $row):
                ?>
                <tr>
                    <td><?= $row['remessa'] ?></td>
                    <td><?= \DateTime::createFromFormat('Y-m-d', $row['data'])->format('d/m/Y'); ?></td>
                    <td><?= htmlentities(mb_strtoupper($row['tipo_saida'], 'UTF-8')) ?></td>
                    <td><?= htmlentities(mb_strtoupper($row['paciente_empresa'], 'UTF-8')) ?></td>
                    <?php if($opcao == 'A'){ ?>
                        <td><?= htmlentities(mb_strtoupper($row['nome'], 'UTF-8'))?></td>
                        <td><?= htmlentities(mb_strtoupper($row['tipo_item'], 'UTF-8'))?></td>
                        <td><?= $row['qtd']?></td>

                        <?php
                    }
                    ?>


                </tr>
                <?php
            endforeach;
            ?>
            </tbody>
        </table>
        <?php
    endif;
endif;
?>
