<?php require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>
<head>
    <meta charset="UTF-8">
    <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php'); ?>
    <link rel="stylesheet" type="text/css" href="/utils/reports.css">
    <link rel="stylesheet" href="/utils/bootstrap-3.3.6-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/utils/font-awesome-4.7.0/css/font-awesome.css" />
</head>
<div id="content">
    <div id="right">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title pull-left" style="padding-top: 7.5px;">
                    <i class="fa fa-search" aria-hidden="true"></i> Buscar saídas por remessas.
                </h3>
            </div>
            <div class="panel-body">
                <form method="post" action="/logistica/relatorios/?action=relatorio-saida-remessa">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for="paciente">Paciente:</label>
                                <select class="form-control chosen-select" name="paciente" >
                                    <option value="" >Selecione</option>
                                    <?php
                                    foreach($pacientes as $p):

                                        ?>
                                        <option <?= isset($paciente) && $paciente == $p['id'] ? 'selected' : '' ?> value="<?=$p['id']?>"><?=mb_strtoupper($p['nome'], 'UTF-8')?></option>
                                        <?php
                                    endforeach;
                                    ?>
                                </select>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="remessa">Código Remessa:</label>
                                <input name="remessa" type="text" class="form-control" value='<?= isset($remessa)  ? $remessa : "" ?>' >
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="tipo">Opção:</label>
                                <select class="form-control" name="opcao">
                                    <option value="C" <?= isset($opcao) && $opcao == 'C' ? 'selected' : ''; ?>>Condensado</option>
                                    <option value="A" <?= isset($opcao) && $opcao == 'A' ? 'selected' : ''; ?>>Analítico</option>
                                </select>
                            </div>
                        </div>
                    </div>



                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="periodo">Inicio:</label>
                                <input name="inicio" type="date" class="form-control" value='<?= isset($inicio)  ? $inicio : "" ?>' >
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="periodo">Fim:</label>
                                <input name="fim" type="date" class="form-control" value='<?= isset($fim) ? $fim : "" ?>' >
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <div class="form-group">
                                <button type="submit" class='ui-button ui-widget ui-corner-all ui-button-text-only ui-state-hover' >
                                    <span class='ui-button-text'>Pesquisar</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-12">
                <?php
                if(isset($response)):
                    if(empty($response)):
                        ?>
                        <h4 class="text-center">Nenhum resultado encontrado. Caso você não pertença a Central você só pode
                            verificar as saídas da sua Unidade Regional.
                        </h4>
                        <?php
                    else:
                        ?>

                        <a href="/logistica/relatorios/?action=excel-relatorio-saida-remessa&inicio=<?= $inicio ?>&fim=<?= $fim ?>&paciente=<?= $paciente ?>&remessa=<?= $remessa ?>&opcao=<?= $opcao ?>"
                           target="_blank"
                           style="float: right;"
                           title="Exportar para Planilha Excel">
                            <img src="/utils/new-icons/excel-2013.ico" width="32">
                        </a>
                        <table class='table table-striped'>
                            <thead>
                            <tr>
                                <th>REMESSA</th>
                                <th>DATA</th>
                                <th >TIPO SAÍDA</th>
                                <th>DESTINATÁRIO</th>
                                <?php
                                if($opcao == 'A'){ ?>
                                    <th>ITEM</th>
                                    <th>ITEM TIPO</th>
                                    <th>QUANTIDADE</th>
                                <?php
                                    }
                                ?>
                            </tr>
                            </thead>
                            <tbody>
                            <?php
                            foreach($response as $row):
                                ?>
                                <tr>
                                    <td><?= $row['remessa'] ?></td>
                                    <td><?= \DateTime::createFromFormat('Y-m-d', $row['data'])->format('d/m/Y'); ?></td>
                                    <td><?= mb_strtoupper($row['tipo_saida'], 'UTF-8') ?></td>
                                    <td><?= mb_strtoupper($row['paciente_empresa'], 'UTF-8') ?></td>
                                    <?php if($opcao == 'A'){ ?>
                                    <td><?= mb_strtoupper($row['nome'], 'UTF-8')?></td>
                                    <td><?= mb_strtoupper($row['tipo_item'], 'UTF-8')?></td>
                                    <td><?= $row['qtd']?></td>
                                    <?php
                                    }
                                    ?>
                                </tr>
                                <?php
                            endforeach;
                            ?>
                            </tbody>
                        </table>
                        <?php
                    endif;
                endif;
                ?>
            </div>
        </div>
    </div>

    <div id="left">
        <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
    </div>
</div>
<script type="text/javascript" src="/remocao/js/main.js?v=2.1"></script>
</body>
</html>