.modal-form {
  .modal-window {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.25);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1001;
    transition: all 0.3s;
    visibility: visible;
    opacity: 1;
    pointer-events: auto;

    & > div {
      width: 600px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 2em;
      background: #ffffff;
    }

    header {
      font-weight: bold;
    }

    h1 {
      font-size: 150%;
      margin: 0 0 15px;
    }
  }

  .modal-close {
    color: #aaa;
    line-height: 50px;
    font-size: 80%;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 70px;
    text-decoration: none;

    &:hover {
      color: black;
    }
  }

  .container {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .modal-window div:not(:last-of-type) {
    margin-bottom: 15px;
  }

  small {
    color: #aaa;
  }

  .btn {
    background-color: #fff;
    padding: 1em 1.5em;
    border-radius: 3px;
    text-decoration: none;

    i {
      padding-right: 0.3em;
    }
  }
}

.modal-form__bg {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .6);
  z-index: 1000;
  overflow: hidden !important;
}
//
//html,
//body {
//  height: 100%;
//  overflow: hidden !important;
//}


