<?php require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>
<head>
    <meta charset="UTF-8">
    <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php'); ?>
    <link rel="stylesheet" type="text/css" href="/utils/reports.css">
    <link rel="stylesheet" href="/utils/bootstrap-3.3.6-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/utils/font-awesome-4.7.0/css/font-awesome.css" />
</head>
<div id="content">
    <div id="right">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title pull-left" style="padding-top: 7.5px;">
                    <i class="glyphicon glyphicon-plus" aria-hidden="true"></i> Novo custo extra.
                </h3>
            </div>
            <div class="panel-body">
                <div id="div-adicionar-custo-extra">
                    <div class="row">
                        <div class="col-lg-12">
                            <label class="control-label" for="custo-extra"><b>ITEM:</b></label>
                            <input class="form-control OBG col-lg-6" name="custo-extra" id="custo-extra" required />
                        </div>

                        <div class="col-lg-12 text-center " style="padding-top: 7.5px;">
                            <button id="salvar-custo-extra" class='ui-button ui-widget ui-corner-all ui-button-text-only ui-state-hover' >
                                <span class='ui-button-text'>Salvar</span>
                            </button>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <br>
        <?php if(isset($custosExtras) && !empty($custosExtras)) {?>
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title pull-left" style="padding-top: 7.5px;">
                    <i class="glyphicon glyphicon-list-alt" aria-hidden="true"></i>Custos extras cadastrados.
                </h3>
            </div>
            <div class="panel-body">
                <div id="div-adicionar-custo-extra">
                    <div class="row">
                        <ul class="list-group">


                        <?php foreach($custosExtras as $custo){ ?>
                            <li class="col-lg-12  form-group list-group-item">

                                <label class="control-label container-fluid text-capitalize col-lg-10"><b><?php echo $custo['nome'] ?></b></label>
                                <?php if($custo['status'] == 'A'){?>
                                    <button  class='btn btn-danger text-right col-lg-2
                                    desativar-custo-extra ' item="<?=$custo['id']?>" >
                                        <span class='ui-button-text'>Desativar</span>
                                     </button>

                               <?php }else{ ?>
                                    <button  class='text-left btn btn-success col-lg-2
                                    ativar-custo-extra' item="<?=$custo['id']?>" >
                                        <span class='ui-button-text'>Ativar</span>
                                    </button>
                               <?php }?>

                            </li>


                        <?php } ?>
                        </ul>
                    </div>

                </div>

            </div>
        </div>

        <?php }else{ ?>
            <div class="control-label text-center col-lg-12">
               <strong>Nenhum custo extra foi cadastrado.</strong>
            </div>

        <?php } ?>

        <div class="col-lg-12">
            <button id='' type='button' class='voltar_ ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only ui-state-hover'
                    role='button' aria-disabled='false' >
                <span class='ui-button-text'>Voltar</span>
            </button>
        </div>


    </div>

    <div id="left">
        <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
    </div>
</div>
<script src="/utils/bootstrap-3.3.6-dist/js/bootstrap.min.js" ></script>
<script type="text/javascript" src="/financeiros/custos-extras/js/main.js"></script>
<script type="text/javascript" src="/utils/jquery/js/voltar.js"></script>
</body>
</html>