<?php require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>
<head>
    <meta charset="UTF-8">
    <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php'); ?>
    <link rel="stylesheet" href="/utils/global.css"/>
</head>
<div id="content">
    <div id="right">
        <center><h1>Menu Padronização Medicamento</h1></center>
        <p><a href="../PadronizarMedicamento/?action=principio-ativo-inserir">Inserir Princípio Ativo</a></p>
        <p><a href="../PadronizarMedicamento/?action=principio-ativo-editar">Editar Princípio Ativo</a></p>


    </div>
    <div id="left">
        <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
    </div>
</div>

</body>
</html>