<?php require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>
<head>
    <meta charset="UTF-8">
    <script src="/logistica/logistica.js?v=16" type="text/javascript"></script>
    <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php'); ?>
    <link rel="stylesheet" href="/utils/global.css"/>
</head>
<div id="content">
    <div id="right">
        <center><h1>Princípio Ativo</h1></center>
        <fieldset>
            <legend><b>Observação faça a busca para verificar se princípio já existe, antes de inserir ou edita-ló.</b></legend>
            <label for="buscar-principio"><b>Buscar:</b></label>
            <input type="text"
                   size="30"
                   name="buscar_principio"
                   ord="1"
                   data-principio-id=""
                   data-item-name=""
                   class="ui-autocomplete-input buscar-principio"
                   style="margin-left: 28px;"
                   autocomplete="off"
                   role="textbox"
                   aria-autocomplete="list"
                   aria-haspopup="true"
                   id='buscar-principio'>
        </fieldset>
        <form action="?action=inserir-principio-ativo" method="post">
            <p>
                <fieldset>
                    <legend>
                        <label for="novo-principio-ativo">
                            <b>Inserir Princípio Ativo</b>
                        </label>
                    </legend>
                    <input type="text" id='novo-principio-ativo' name='novo-principio-ativo'>
                    <input type="hidden" name="query" value='inserir'>
                    <br>
                    <br>
                    <p>
                        <span class="<?php if(!empty($mensagem)) echo $mensagem['style'];?> ">
                            <b><?php if(!empty($mensagem))
                                    echo $mensagem['text'];
                                ?>
                            </b>
                        </span>
                    </p>
                    <button type='submit' id='inserir-principio-ativo' class='ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only ui-state-hover'
                            role='button' aria-disabled='false' >
                        <span class='ui-button-text'>Inserir</span>
                    </button>
                </fieldset>
            </p>
        </form>
    </div>
    <div id="left">
        <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
    </div>
</div>

</body>
</html>