<table class='mytable' width='100%' >
<thead>
<tr>
    <td colspan="5"  align="center" ><b><font size="5"><?php echo htmlentities('Relatório Saída Antibiótico para Paciente')?></font></b></b></td>
</tr>
<tr>
    <th align="center">PACIENTE </th>
    <th align="center">ITEM</th>
    <th align="center"><?php echo htmlentities('PRINCÍPIO')?></th>
    <th align="center"><?php echo htmlentities('LABORATÓRIO')?></th>
    <th align="center"><?php echo htmlentities('GENÉRICO')?></th>
    <th align="center"><?php echo htmlentities('DATA SAÍDA')?></th>
    <th align="center">QUANTIDADE</th>
</tr>
</thead>
<tbody>
<?php $i = 1;
foreach($response as $resp){
    if($i % 2 == 0){
        $bgColor = 'white';
    } else {
        $bgColor = '#dcdcdc';
    }
    $i++;
    $generico = 'Não informado';
    if($resp['GENERICO'] == 'N'){
        $generico = 'Não';

    }elseif($resp['GENERICO'] == 'S'){
        $generico = 'Sim';

    }


    ?>
    <tr bgcolor="<?= $bgColor ?>" >
        <td><?php echo htmlentities($resp['nome'])?></td>
        <td><?php echo htmlentities($resp['item'])?></td>
        <td><?php echo htmlentities($resp['principio'])?></td>
        <td><?php echo htmlentities($resp['Laboratorio'])?></td>
        <td><?php echo htmlentities($generico)?></td>
        <td><?php echo htmlentities($resp['dataSaida'])?></td>
        <td><?=$resp['qtd']?></td>
    </tr>
<?php } ?>

</tbody>
</table>




