<?php include_once('../validar.php');
require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>
<head>
    <meta charset="UTF-8">
    <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php'); ?>
    <link rel="stylesheet" type="text/css" href="/utils/jquery/css/chosen/chosen.css">
    <link rel="stylesheet" href="/utils/global.css"/>
    <!--	<link rel="stylesheet" type="text/css" href="/exames/css/dropzone.css">-->
</head>
<div id="content">
    <div id="right">
        <center><h1>Saída de Antibióticos para Paciente</h1></center>
        <form method="post" action="/relatorios/?saida-antibiotico-paciente=pesquisar">
            <div class="form-input100" >
                <p><strong>Paciente:</strong></p>
                <?php \App\Models\Administracao\Paciente::getPacienteStatusComponent(false,'S') ?>
            </div>
            <div class="form-input100" >
                <p><strong>Período:</strong></p>
                <input type="text" class="data OBG" name="inicio" value="<?= (isset($filters['inicio']) ? $filters['inicio'] : '') ?>"> -
                <input type="text" class="data OBG" name="fim" value="<?= (isset($filters['fim']) ? $filters['fim'] : '') ?>">
            </div>

            <div class="form-input100" >
                <button type="submit"  id='pesquisar-saida-antibiotico-paciente' class='ui-button ui-widget ui-corner-all ui-button-text-only ui-state-hover'>
                    <span class='ui-button-text'>Buscar</span>
                </button>
            </div>
        </form>
        <div>
            <center>
                <h3>
                    <?php if(isset($msgErro) && !empty($msgErro)) {
                        echo $msgErro;
                    }
                    ?>
                </h3>
            </center>
        </div>

        <?php if(isset($response) && empty($response)) { ?>
            <div>
                <center>
                    <h3>
                        Nenhum item encontrado para os filtros selecionados.
                    </h3>
                </center>
            </div>
        <?php  }else{?>

            <br>
        <?php if(isset($filters) && !empty($filters['inicio'])) {

                $array = implode('x',$filters['tipo']);
                ?>

            <a  href="/relatorios/?saida-antibiotico-paciente=exportar-excel&inicio=<?= $filters['inicio'] ?>&fim=<?= $filters['fim'] ?>&paciente=<?= $filters['paciente'] ?>"
                target="_blank"
                style="position: relative; float: right;"
                class='ui-button ui-widget ui-corner-all ui-button-text-only ui-state-hover'
                id="buscar">
                <span class='ui-button-text'>Exportar para Excel</span>
            </a>
           <?php }?>
            <table class='mytable' width='100%' >
                <thead>
                <tr>
                    <th>PACIENTE </th>
                    <th align="center">ITEM</th>
                    <th align="center">DATA SAÍDA</th>
                    <th align="center">QUANTIDADE</th>

                </tr>
                </thead>
                <tbody>
                <?php $i = 1;
                foreach($response as $resp){
                    if($i % 2 == 0){
                        $bgColor = 'white';
                    } else {
                        $bgColor = '#dcdcdc';
                    }
                    $i++;
                    $generico = 'Não informado';
                    if($resp['GENERICO'] == 'N'){
                        $generico = 'Não';

                    }elseif($resp['GENERICO'] == 'S'){
                        $generico = 'Sim';

                    }


                    ?>
                    <tr bgcolor="<?= $bgColor ?>" >
                        <td><?=$resp['nome']?></td>
                        <td>
                            <p><b>Item: </b> <?=$resp['item']?></p>
                            <p><b>Princípio: </b> <?=$resp['principio']?></p>
                            <p><b>Laboratório: </b> <?=$resp['Laboratorio']?></p>
                            <p><b>Genérico: </b> <?=$generico?></p>
                        </td>
                        <td><?=$resp['dataSaida']?></td>
                        <td><?=$resp['qtd']?></td>
                    </tr>
                <?php } ?>

                </tbody>
            </table>

        <?php }       ?>


    </div>
    <div id="left">
        <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
    </div>
</div>
<script type="text/javascript" src="/relatorios/js/saida-antibiotico-paciente/main.js?v=1"></script>

</body>
</html>