<?php require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>
<head>
    <meta charset="UTF-8">
    <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php'); ?>
    <link rel="stylesheet" type="text/css" href="/utils/reports.css">
    <link rel="stylesheet" href="/utils/bootstrap-3.3.6-dist/css/bootstrap.min.css" />
    <script src="/utils/bootstrap-3.3.6-dist/js/bootstrap.min.js" ></script>
    <link rel="stylesheet" href="/utils/font-awesome-4.7.0/css/font-awesome.css" />
    <style type="text/css">
        .modal-dialog {
            width: 960px;
        }
    </style>
</head>
<div id="content">
    <div id="right">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title pull-left" style="padding-top: 7.5px;">
                    <i class="fa fa-search" aria-hidden="true"></i> Buscar Orçamentos/Relatórios</b>
                </h3>
            </div>
            <div class="panel-body">
                <form method="post" action="/adm/secmed/?action=pesquisar-orcamento-relatorio-autorizacao-auditoria">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="tipo">Paciente:</label>
                                <select name="paciente" class="chosen-select OBG_CHOSEN form-control" id='paciente'>
                                    <option value="">Todos</option>
                                    <?php foreach($pacientes as $paciente): ?>
                                        <option <?= isset($pacienteId) && $pacienteId == $paciente['id'] ? 'selected' : '' ?> value="<?= $paciente['id'] ?>">(<?= $paciente['codigo'] ?>) <?= mb_strtoupper($paciente['nome'], 'UTF8') ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="tipo">UR:</label>
                                <select name="ur" class="chosen-select OBG_CHOSEN form-control" id='ur'>
                                    <option value="">Todos</option>
                                    <?php foreach($urs as $ur): ?>
                                        <option <?= isset($urId) && $urId == $ur['id'] ? 'selected' : '' ?> value="<?= $ur['id'] ?>"><?= mb_strtoupper($ur['nome'], 'UTF8') ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="tipo">Tipo do Orçamento:</label>
                                <select name="tipo" class="form-control" id='tipo'>
                                    <option value="">Todos</option>
                                    <option <?= isset($tipo) && $tipo == 1 ? 'selected' : '' ?> value="1">Orçamento Inicial</option>
                                    <option <?= isset($tipo) && $tipo == 2 ? 'selected' : '' ?> value="2">Orçamento de Prorrogação</option>
                                    <option <?= isset($tipo) && $tipo == 3 ? 'selected' : '' ?> value="3">Orçamento Aditivo</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="tipo">Status da Autorização:</label>
                                <select name="status" class="form-control" id='status'>
                                    <option <?= isset($status) && $status == '' ? 'selected' : '' ?> value="">Todos</option>
                                    <option <?= isset($status) && $status == '0' ? 'selected' : '' ?> value="0">Sem autorização / Pendente</option>
                                    <option <?= isset($status) && $status == 1 ? 'selected' : '' ?> value="1">Autorizado</option>
                                    <option <?= isset($status) && $status == 2 ? 'selected' : '' ?> value="2">Autorizado Parcial</option>
                                    <option <?= isset($status) && $status == 3 ? 'selected' : '' ?> value="3">Negado</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="periodo">Inicio:</label>
                                <input name="inicio" type="date" class="form-control" value='<?= isset($periodoInicio)  ? $periodoInicio : "" ?>' required>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="periodo">Fim:</label>
                                <input name="fim" type="date" class="form-control" value='<?= isset($periodoFim)  ? $periodoFim : "" ?>' required>
                            </div>
                        </div>

                        <div class="col-xs-12 text-center">
                            <div class="form-group">
                                <button type="submit"  class='ui-button ui-widget ui-corner-all ui-button-text-only ui-state-hover' >
                                    <span class='ui-button-text'>Pesquisar</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-xs-12">
                <?php
                if(isset($response)):
                    if(empty($response)) : ?>
                        <h4 class="text-center">Nenhum item encontrado.</h4>
                        <?php
                    else:
                        if(is_array($response)): ?>
                            <table class='table table-striped table-bordered'>
                                <thead>
                                <th>Paciente</th>
                                <th>Tipo do Item</th>
                                <th>Status Geral</th>
                                <th>Período</th>
                                <th align="center">Ações</th>
                                </thead>
                                <?php
                                foreach($response as $row):
                                    $inicio = \DateTime::createFromFormat('Y-m-d', $row['inicio'])->format('d/m/Y');
                                    $fim = \DateTime::createFromFormat('Y-m-d', $row['fim'])->format('d/m/Y');
                                    ?>
                                    <tr id="<?= $row['item_id'] ?>">
                                        <td>
                                            <?= $row['paciente'] ?>
                                        </td>
                                        <td class="text-center">
                                            <?= $row['tipo_item'] ?>
                                        </td>
                                        <td class="label-status-geral text-center">
                                            <?= $row['label_status_geral'] ?>
                                        </td>
                                        <td class="text-center">
                                            <?= $inicio ?> à <?= $fim ?>
                                        </td>
                                        <td class="botao-autorizar" align="center">
                                            <?php if($row['status_geral'] != ''): ?>
                                                <button id="button-<?= $row['item_id'] ?>"
                                                        title="Visualizar Autorizações"
                                                        class="btn btn-success visualizar-itens-autorizacao"
                                                        tipo="<?= $row['tipo_item'] ?>"
                                                        carater="<?= $row['carater'] ?>"
                                                        tipo-primario="<?= $row['tipo_primario'] ?>"
                                                        status-geral="<?= $row['status_geral'] ?>"
                                                        item="<?= $row['item_id'] ?>"
                                                        autorizacao-id="<?= $row['autorizacao_id'] ?>"
                                                        inicio="<?= $row['inicio'] ?>"
                                                        fim="<?= $row['fim'] ?>"
                                                        paciente-form="<?= $pacienteId ?>"
                                                        ur-form="<?= $urId ?>"
                                                        tipo-form="<?= $tipo ?>"
                                                        status-form="<?= $status ?>"
                                                        periodo="<?= $inicio ?> à <?= $fim ?>">
                                                    <i class="fa fa-search"></i>
                                                </button>
                                                <button id="button-comentarios-<?= $row['item_id'] ?>"
                                                        title="Comentários"
                                                        class="btn btn-primary listar-comentarios-autorizacao"
                                                        item="<?= $row['item_id'] ?>"
                                                        autorizacao-id="<?= $row['autorizacao_id'] ?>"
                                                        usuario-id="<?= $_SESSION['id_user'] ?>"
                                                        periodo="<?= $inicio ?> à <?= $fim ?>"
                                                        inicio="<?= $row['DATA_INICIO'] ?>"
                                                        fim="<?= $row['DATA_FIM'] ?>">
                                                    <i class="fa fa-comment-o"></i>
                                                </button>
                                            <?php else: ?>
                                                <label style="color: #5da423">
                                                    <?= $row['tipo_primario'] == 'orcamento' ? 'Orçamento Sem Autorização' : 'Relatório Sem Autorização' ?>
                                                </label>
                                            <?php endif; ?>
                                        </td>
                                    </tr>
                                <?php endforeach; ?>
                            </table>
                        <?php else: ?>
                            <span class="text-center"><b><?= $response ?></b></span>
                            <?php
                        endif;
                    endif;
                endif;
                ?>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade"
         id="modal-visualizar-autorizacao"
         tabindex="-1"
         role="dialog"
         data-backdrop="static"
         data-keyboard="false"
         aria-labelledby="modalAutorizarLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="modalAutorizarLabel">Visualizar Autorização</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label class="control-label" for="status-geral">Status da Autorização:</label>
                                <select name="status_geral" disabled id="status-geral" class="form-control">
                                    <option value="1">Autorizado</option>
                                    <option value="2">Autorizado Parcial</option>
                                    <option value="3">Negado</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <!--<form name="form-arquivos-extras" id="form-arquivos-extras-autorizacao" action="/adm/secmed/?action=salvar-arquivos-extras-autorizacao" method="post" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label class="control-label" for="arquivos-autorizacao">Arquivos da Autorização:</label>
                                    <input name="arquivos_extras_autorizacao[]" class="form-control" type="file" multiple>
                                    <input name="autorizacao_id" id="autorizacao-id-arquivos" type="hidden" value="">
                                    <input name="paciente" id="paciente-form" type="hidden" value="">
                                    <input name="ur" id="ur-form" type="hidden" value="">
                                    <input name="tipo" id="tipo-form" type="hidden" value="">
                                    <input name="status" id="status-form" type="hidden" value="">
                                    <input name="inicio" id="inicio-form" type="hidden" value="">
                                    <input name="fim" id="fim-form" type="hidden" value="">
                                </div>
                            </div>

                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label class="control-label" for="qtd-item">Data de Autorização do(s) Arquivo(s):</label>
                                    <input name="data_autorizacao_arquivo" class="form-control" id="data-autorizacao-arquivo" type="date" value="">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 text-center">
                                <button type="submit" class="btn btn-primary" id="enviar-arquivo-extra-autorizacao">Enviar Arquivos</button>
                            </div>
                        </div>
                    </form>-->
                    <hr>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group" id="arquivos-upload-autorizacao">

                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-xs-12">
                            <table class="table table-responsive table-bordered table-hover table-striped lista-itens-autorizar">
                                <thead>
                                <tr>
                                    <th>Item</th>
                                    <th align="center">Qtd. Solicitada</th>
                                    <th>Tipo</th>
                                    <th align="center">Qtd. Autorizado</th>
                                    <th>Status</th>
                                    <th>Data Autorização</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Comentários -->
    <div class="modal fade"
         id="modal-comentarios"
         tabindex="-1"
         role="dialog"
         data-backdrop="static"
         data-keyboard="false"
         aria-labelledby="modalComentarioLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="modalAutorizarLabel">Comentários</h4>
                </div>
                <div class="modal-body">
                    <form name="form-comentarios" id="form-comentarios" action="/adm/secmed/?action=salvar-comentario-autorizacao" method="post" enctype="multipart/form-data">
                        <input type="hidden" name="item_id" class="item-id" value="">
                        <input type="hidden" name="autorizacao_id" class="autorizacao-id" value="">

                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label class="control-label" for="comentario">Comentar:</label>
                                    <textarea name="comentario" id="comentario" class="form-control"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 text-center">
                                <button type="button" class="btn btn-success" id="salvar-comentario">Salvar Comentário</button>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="feed-activity-list" id="comentarios-autorizacao" style="overflow: auto; overflow-x: hidden;">

                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>

    <div id="left">
        <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
    </div>
</div>
<script type="text/javascript" src="/utils/moment/moment.js"></script>
<script type="text/javascript" src="/adm/secmed/templates/autorizacao/js/pt-br.js"></script>
<script type="text/javascript" src="/adm/secmed/templates/autorizacao/js/main.js?v=2.3"></script>
</body>
</html>