<?php require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>
<head>
    <meta charset="UTF-8">
    <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php'); ?>
    <link rel="stylesheet" type="text/css" href="/utils/reports.css">
    <link rel="stylesheet" href="/utils/bootstrap-3.3.6-dist/css/bootstrap.min.css" />
    <script src="/utils/bootstrap-3.3.6-dist/js/bootstrap.min.js" ></script>
    <link rel="stylesheet" href="/utils/font-awesome-4.7.0/css/font-awesome.css" />
    <style type="text/css">
        .modal-dialog {
            width: 960px;
        }
    </style>
</head>
<div id="content">
    <div id="right">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title pull-left" style="padding-top: 7.5px;">
                    <i class="fa fa-search" aria-hidden="true"></i> Planilha de Serviços</b>
                </h3>
            </div>
            <div class="panel-body">
                <form method="post" action="/adm/secmed/?action=autorizacao-ur">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="tipo">Paciente:</label>
                                <select name="paciente" class="chosen-select form-control" id='paciente'>
                                    <option selected value="T">Todos</option>
                                    <?php foreach($pacientes as $paciente): ?>
                                        <option <?= isset($pacienteId) && $pacienteId == $paciente['id'] ? 'selected' : '' ?> value="<?= $paciente['id'] ?>">(<?= $paciente['codigo'] ?>) <?= mb_strtoupper($paciente['nome'], 'UTF8') ?></option>
                                    <?php endforeach; ?>
                                </select>
                                <input name="ur" type="hidden" value="T">
                            </div>
                        </div>
                    </div>
                    <?php if($_SESSION['empresa_principal'] == '1'): ?>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="tipo">UR:</label>
                                    <select name="ur" class="chosen-select form-control" id='ur'>
                                        <option selected value="T">Todos</option>
                                        <?php foreach($urs as $ur): ?>
                                            <option <?= isset($urId) && $urId == $ur['id'] ? 'selected' : '' ?> value="<?= $ur['id'] ?>"><?= mb_strtoupper($ur['nome'], 'UTF8') ?></option>
                                        <?php endforeach; ?>
                                    </select>
                                </div>
                            </div>
                        </div>
                    <?php endif; ?>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="tipo">Plano:</label>
                                <select name="plano" class="chosen-select form-control" id='plano'>
                                    <option selected value="T">Todos</option>
                                    <?php foreach($planos as $plano): ?>
                                        <option <?= isset($planoId) && $planoId == $plano['id'] ? 'selected' : '' ?> value="<?= $plano['id'] ?>"><?= mb_strtoupper($plano['nome'], 'UTF8') ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </div>

                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="tipo">Tipo de Documento:</label>
                                <select name="tipo_documento" class="form-control" id='tipo_documento'>
                                    <option selected value="T">Todos</option>
                                    <?php foreach($tiposDocumentos as $key => $tiposDocumento): ?>
                                        <option <?= isset($tipoDocumento) && $tipoDocumento == $key ? 'selected' : '' ?> value="<?= $key ?>"><?= $tiposDocumento ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="periodo">Inicio:</label>
                                <input name="inicio" type="date" class="form-control" value='<?= isset($inicio)  ? $inicio : "" ?>' required>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="periodo">Fim:</label>
                                <input name="fim" type="date" class="form-control" value='<?= isset($fim)  ? $fim : "" ?>' required>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <div class="form-group">
                                <button type="submit" class='ui-button ui-widget ui-corner-all ui-button-text-only ui-state-hover' >
                                    <span class='ui-button-text'>Pesquisar</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-info">
                    <i class="fa fa-info-circle"></i> Para visualizar a <strong>planilha completa</strong>, clique no botão abaixo correspondente ao <strong>Excel</strong> <img src="/utils/new-icons/excel-2013.ico" width="16">.
                </div>
                <?php
                if(isset($response)):
                    if(empty($response)) : ?>
                        <h4 class="text-center">Nenhum item encontrado.</h4>
                        <?php
                    else:
                        if(is_array($response)): ?>
                            <a href="/adm/secmed/?action=autorizacao-ur-excel&inicio=<?= $inicio ?>&fim=<?= $fim ?>&paciente=<?= $pacienteId ?>&ur=<?= $urId ?>&plano=<?= $planoId ?>&tipo_documento=<?= $tipoDocumento ?>"
                               target="_blank"
                               style="float: right;"
                               title="Exportar para Planilha Excel">
                                <img src="/utils/new-icons/excel-2013.ico" width="32">
                            </a>
                            <table class='table table-striped table-bordered' width="100%" style="max-height: 200px !important; overflow-x: scroll;">
                                <thead>
                                <tr>
                                    <th>Paciente</th>
                                    <!--<th>Convênio</th>-->
                                    <th>Méd.</th>
                                    <th>Enf.</th>
                                    <th>Técnico</th>
                                    <th>Fisio. Motora</th>
                                    <th>Fisio. Resp.</th>
                                    <th>Fono.</th>
                                    <th>Nutrição</th>
                                    <th>Psicólogo</th>
                                </tr>
                                </thead>
                                <tbody>
                                <?php
                                $cont = 1;
                                foreach($response as $row):
                                    $dataAdmissao = $row['dataAdmissao'] != '0000-00-00 00:00:00' || $row['dataAdmissao'] != '' ? \DateTime::createFromFormat('Y-m-d H:i:s', $row['dataAdmissao'])->format('d/m/Y') : '-';
                                    $inicio = \DateTime::createFromFormat('Y-m-d', $row['inicio'])->format('d/m/Y');
                                    $fim = \DateTime::createFromFormat('Y-m-d', $row['fim'])->format('d/m/Y');
                                    ?>
                                    <tr id="<?= $cont ?>">
                                        <td><?= mb_strtoupper($row['paciente'], 'UTF8') ?></td>
                                        <!--<td><?/*= mb_strtoupper($row['convenio'], 'UTF8') */?></td>-->
                                        <td><?= $row['aut_medico'] ?></td>
                                        <td><?= $row['aut_enfermagem'] ?></td>
                                        <td><?= $row['aut_tecnico'] ?></td>
                                        <td><?= $row['aut_fisio_motora'] ?></td>
                                        <td><?= $row['aut_fisio_resp'] ?></td>
                                        <td><?= $row['aut_fono'] ?></td>
                                        <td><?= $row['aut_nutricao'] ?></td>
                                        <td><?= $row['aut_psicologo'] ?></td>
                                    </tr>
                                    <?php
                                    $cont++;
                                endforeach;
                                ?>
                                </tbody>
                            </table>
                        <?php else: ?>
                            <span class="text-center"><b><?= $response ?></b></span>
                            <?php
                        endif;
                    endif;
                endif;
                ?>
            </div>
        </div>
    </div>

    <div id="left">
        <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
    </div>
</div>
<script type="text/javascript" src="/adm/secmed/templates/autorizacao/js/autorizacao-ur.js?v=1"></script>
</body>
</html>