<?php require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>
<head>
    <meta charset="UTF-8">
    <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php'); ?>
    <link rel="stylesheet" type="text/css" href="/utils/reports.css">
    <link rel="stylesheet" type="text/css" href="/utils/jquery/css/filestyle/jquery-filestyle.min.css">
    <link rel="stylesheet" href="/utils/bootstrap-3.3.6-dist/css/bootstrap.min.css" />
    <script src="/utils/bootstrap-3.3.6-dist/js/bootstrap.min.js" ></script>
    <link rel="stylesheet" href="/utils/font-awesome-4.7.0/css/font-awesome.css" />
    <style type="text/css">
        .modal-dialog {
            width: 960px;
        }
    </style>
</head>
<div id="content">
    <div id="right">
        <?php
        $display = "none";
        if(isset($msg) && !empty($msg)) {
            if ($type === 's') {
                $display = "block";
                $class = "alert-success";
            } else {
                $display = "block";
                $class = "alert-danger";
            }
        }
        ?>
        <div style="display:<?= $display ?>" class="alert <?= $class ?>">
            <strong><?= $msg ?></strong>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title pull-left" style="padding-top: 7.5px;">
                    <i class="fa fa-search" aria-hidden="true"></i> Buscar Orçamentos/Relatórios</b>
                </h3>
            </div>
            <div class="panel-body">
                <form method="post" action="/adm/secmed/?action=pesquisar-orcamento-relatorio-autorizacao&paciente=<?= $paciente ?>">
                    <input type="hidden" name="paciente_id" value="<?= $paciente ?>">
                    <input type="hidden" name="operadora_id" value="<?= $operadora ?>">
                    <div class="row">
                        <div class="col-lg-12">
                            <table class="table table-bordered table-responsive table-striped">
                                <tbody>
                                <tr>
                                    <td><b>PACIENTE</b></td>
                                    <td><b>SEXO</b></td>
                                </tr>
                                <tr>
                                    <td><?= $cabecalho['paciente'] ?></td>
                                    <td><?= $cabecalho['sexo'] ?></td>
                                </tr>

                                <tr>
                                    <td><b>IDADE</b></td>
                                    <td><b>UNIDADE REGIONAL</b></td>
                                </tr>
                                <tr>
                                    <td><?= $cabecalho['nascimento'] ?> (<?= $cabecalho['idade'] ?> anos) </td>
                                    <td><?= $cabecalho['empresa'] ?></td>
                                </tr>

                                <tr>
                                    <td><b>CONVÊNIO</b></td>
                                    <td><b>MATRÍCULA</b></td>
                                </tr>
                                <tr>
                                    <td><?= mb_strtoupper($cabecalho['convenio'], 'UTF8') ?></td>
                                    <td><?= mb_strtoupper($cabecalho['matricula'], 'UTF8') ?></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for="tipo">Filtrar por:</label>
                                <select name="tipo" class="form-control" id='tipo'>
                                    <option value="">Todos</option>
                                    <?php if($operadora['operadora_id'] == 11): ?>
                                        <option <?= isset($tipo) && $tipo == 1 ? 'selected' : '' ?> value="1">Fichas de Avaliação</option>
                                        <option <?= isset($tipo) && $tipo == 2 ? 'selected' : '' ?> value="2">Relatórios de Prorrogação</option>
                                    <?php else: ?>
                                        <option <?= isset($tipo) && $tipo == 1 ? 'selected' : '' ?> value="1">Orçamento Inicial</option>
                                        <option <?= isset($tipo) && $tipo == 2 ? 'selected' : '' ?> value="2">Orçamento de Prorrogação</option>
                                        <option <?= isset($tipo) && $tipo == 3 ? 'selected' : '' ?> value="3">Orçamento Aditivo</option>
                                    <?php endif; ?>
                                </select>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="periodo">Inicio:</label>
                                <input name="inicio" type="date" class="form-control" value='<?= isset($periodoInicio)  ? $periodoInicio : "" ?>' required>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="periodo">Fim:</label>
                                <input name="fim" type="date" class="form-control" value='<?= isset($periodoFim)  ? $periodoFim : "" ?>' required>
                            </div>
                        </div>

                        <div class="col-lg-12 text-center">
                            <div class="form-group">
                                <button type="submit"  class='ui-button ui-widget ui-corner-all ui-button-text-only ui-state-hover' >
                                    <span class='ui-button-text'>Pesquisar</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-12">
                <?php
                if(isset($response)):
                    if(empty($response)) : ?>
                        <h4 class="text-center">Nenhum item encontrado.</h4>
                        <?php
                    else:
                        if(is_array($response)): ?>
                            <table class='table'>
                                <thead>
                                <th>Tipo do Item</th>
                                <th>Status Geral</th>
                                <th>Período</th>
                                <th>Ações</th>
                                </thead>
                                <?php
                                foreach($response as $row):
                                    $inicio = \DateTime::createFromFormat('Y-m-d', $row['inicio'])->format('d/m/Y');
                                    $fim = \DateTime::createFromFormat('Y-m-d', $row['fim'])->format('d/m/Y');
                                    ?>
                                    <tr id="<?= $row['item_id'] ?>">
                                        <td>
                                            <?= $row['tipo_item'] ?>
                                        </td>
                                        <td class="label-status-geral">
                                            <?= $row['label_status_geral'] ?>
                                        </td>
                                        <td>
                                            <?= $inicio ?> à <?= $fim ?>
                                        </td>
                                        <td class="botao-autorizar">
                                            <?php if($row['status_geral'] != '1'): ?>
                                                <button id="button-<?= $row['item_id'] ?>"
                                                        title="Lançar Autorizações"
                                                        class="btn btn-success listar-itens-autorizacao"
                                                        tipo="<?= $row['tipo_item'] ?>"
                                                        carater="<?= $row['carater'] ?>"
                                                        tipo-primario="<?= $row['tipo_primario'] ?>"
                                                        status-geral="<?= $row['status_geral'] ?>"
                                                        item="<?= $row['item_id'] ?>"
                                                        autorizacao-id="<?= $row['autorizacao_id'] ?>"
                                                        periodo="<?= $inicio ?> à <?= $fim ?>"
                                                        origem-orcamento="<?= $row['tag_prescricao'] ?>"
                                                        origem-orcamento-id="<?= $row['prescricao_id'] ?>"
                                                        plano-id="<?= $row['PLANO_ID'] ?>"
                                                        inicio="<?= $row['DATA_INICIO'] ?>"
                                                        fim="<?= $row['DATA_FIM'] ?>">
                                                    <i class="fa fa-check-square-o"></i>
                                                </button>
                                            <?php else: ?>
                                                <button id="button-anexar-extras-<?= $row['item_id'] ?>"
                                                        class="btn btn-warning anexar-arquivos-extras-autorizacao"
                                                        title="Anexar mais Arquivos"
                                                        item="<?= $row['item_id'] ?>"
                                                        autorizacao-id="<?= $row['autorizacao_id'] ?>"
                                                        tipo="<?= $row['tipo_item'] ?>"
                                                        paciente="<?= $paciente ?>"
                                                        inicio-form="<?= $periodoInicio ?>"
                                                        fim-form="<?= $periodoFim ?>">
                                                    <i class="fa fa-paperclip"></i>
                                                </button>
                                                <!--<label style="color: #5da423">
                                                    <?php/*= $row['tipo_primario'] == 'orcamento' ? 'Orçamento Autorizado' : 'Relatório Autorizado' */?>
                                                </label>-->
                                            <?php endif; ?>
                                            <button id="button-comentarios-<?= $row['item_id'] ?>"
                                                    class="btn btn-primary listar-comentarios-autorizacao"
                                                    title="Comentários"
                                                    item="<?= $row['item_id'] ?>"
                                                    autorizacao-id="<?= $row['autorizacao_id'] ?>"
                                                    usuario-id="<?= $_SESSION['id_user'] ?>"
                                                    periodo="<?= $inicio ?> à <?= $fim ?>"
                                                    inicio="<?= $row['DATA_INICIO'] ?>"
                                                    fim="<?= $row['DATA_FIM'] ?>">
                                                <span class="badge">
                                                    <small>
                                                        <?= isset($comentarios[$row['item_id']]) ? $comentarios[$row['item_id']] : 0 ?>
                                                    </small>
                                                </span>
                                                <i class="fa fa-comment-o"></i>
                                            </button>
                                        </td>
                                    </tr>
                                <?php endforeach; ?>
                            </table>
                        <?php else: ?>
                            <span class="text-center"><b><?= $response ?></b></span>
                            <?php
                        endif;
                    endif;
                endif;
                ?>
            </div>
        </div>
    </div>

    <!-- Modal Autorizações -->
    <div class="modal fade"
         id="modal-autorizar-item"
         tabindex="-1"
         role="dialog"
         data-backdrop="static"
         data-keyboard="false"
         aria-labelledby="modalAutorizarLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="modalAutorizarLabel">Autorizar Itens</h4>
                </div>
                <div class="modal-body">
                    <form name="form-autorizacao" id="form-autorizacao" action="/adm/secmed/?action=salvar-autorizacao" method="post" enctype="multipart/form-data">
                        <input type="hidden" name="paciente" id="paciente-id" value="">
                        <input type="hidden" name="carater" id="carater" value="">
                        <input type="hidden" name="item_id" id="item-id" value="">
                        <input type="hidden" name="autorizacao_id" id="autorizacao-id" value="">
                        <input type="hidden" name="documento-origem-orcamento" id="documento-origem-orcamento" value=""/>
                        <input type="hidden" name="id-documento-origem-orcamento" id="id-documento-origem-orcamento" value=""/>
                        <input type="hidden" name="plano_id" id="plano-id" value="">
                        <input type="hidden" name="inicio" id="inicio" value="">
                        <input type="hidden" name="fim" id="fim" value="">


                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="control-label" for="qtd-item">Status da Autorização:</label>
                                    <select name="status_geral" required="true" id="status-geral" class="form-control">
                                        <option readonly value="">Selecione...</option>
                                        <option value="1">Autorizado</option>
                                        <option value="2">Autorizado Parcial</option>
                                        <option value="3">Negado</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="control-label" for="arquivos-autorizacao">Arquivos da Autorização:</label>
                                    <input name="arquivos_autorizacao[]" id="arquivos-autorizacao" class="form-control" type="file" multiple>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="control-label" for="qtd-item">Data de Autorização do(s) Arquivo(s):</label>
                                    <input name="data_autorizacao_arquivo" class="form-control" id="data-autorizacao-arquivo" type="date" value="">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group" id="arquivos-upload-autorizacao">

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <button type="button" class="btn btn-primary acao-lote" tipo="1">Autorizar em Lote</button>
                                <button type="button" class="btn btn-warning acao-lote" tipo="2">Parcial em Lote</button>
                                <button type="button" class="btn btn-danger acao-lote" tipo="3">Negar em Lote</button>
                            </div>
                            <div class="col-lg-6">
                                <label class="col-sm-3 col-form-label">Data da Autorização em Lote:</label>
                                <div class="form-group col-lg-6">
                                    <input name="data_autorizacao_lote" class="form-control" id="data-autorizacao-lote" type="date" value="">
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 10px;">
                            <div class="col-lg-12">
                                <table class="table table-responsive table-bordered table-hover table-striped lista-itens-autorizar">
                                    <thead>
                                    <tr>
                                        <th><input type="checkbox" class="check-all"></th>
                                        <th>Item</th>
                                        <th>Qtd. Solicitada / Autorizada</th>
                                        <th>Tipo</th>
                                        <th>Qtd. Autorizado</th>
                                        <th>Status</th>
                                        <th>Data Autorização</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 text-center">
                                <button type="button" class="btn btn-success" id="salvar-autorizacao">Salvar Autorização</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Comentários -->
    <div class="modal fade"
         id="modal-comentarios"
         tabindex="-1"
         role="dialog"
         data-backdrop="static"
         data-keyboard="false"
         aria-labelledby="modalComentarioLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="modalAutorizarLabel">Comentários</h4>
                </div>
                <div class="modal-body">
                    <form name="form-comentarios" id="form-comentarios" action="/adm/secmed/?action=salvar-comentario-autorizacao" method="post" enctype="multipart/form-data">
                        <input type="hidden" name="item_id" class="item-id" value="">
                        <input type="hidden" name="autorizacao_id" class="autorizacao-id" value="">
                        <input type="hidden" name="usuario_id" class="usuario-id" value="<?= $_SESSION['id_user'] ?>">

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="control-label" for="comentario">Comentar:</label>
                                    <textarea name="comentario" id="comentario" class="form-control"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 text-center">
                                <button type="button" class="btn btn-success" id="salvar-comentario">Salvar Comentário</button>
                            </div>
                        </div>
                        <hr>

                        <div class="row">
                            <div class="col-xs-10 col-xs-offset-1">
                                <div class="feed-activity-list" id="comentarios-autorizacao" style="overflow: auto; overflow-x: hidden;">

                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Arquivos Extras -->
    <div class="modal fade"
         id="modal-arquivos-extras"
         tabindex="-1"
         role="dialog"
         data-backdrop="static"
         data-keyboard="false"
         aria-labelledby="modalArquivosLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="modalAutorizarLabel">Anexar Arquivos</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <label class="control-label" for="">Arquivos Anexados:</label><br>
                            <div class="form-group" id="arquivos-anexados-autorizacao">

                            </div>
                        </div>
                    </div>
                    <form name="form-arquivos-extras" id="form-arquivos-extras-autorizacao" action="/adm/secmed/?action=salvar-arquivos-extras-autorizacao" method="post" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label class="control-label" for="">Anexar:</label>
                                    <input name="arquivos_extras_autorizacao[]" class="form-control" type="file" multiple>
                                    <input name="autorizacao_id" id="autorizacao-id-arquivos" type="hidden" value="">
                                    <input name="paciente" id="paciente-form" type="hidden" value="">
                                    <input name="tipo" id="tipo-form" type="hidden" value="">
                                    <input name="inicio" id="inicio-form" type="hidden" value="">
                                    <input name="fim" id="fim-form" type="hidden" value="">
                                </div>
                            </div>

                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label class="control-label" for="qtd-item">Data de Autorização do(s) Arquivo(s):</label>
                                    <input name="data_autorizacao_arquivo" class="form-control" id="data-autorizacao-arquivo-extra" type="date" value="">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 text-center">
                                <button type="submit" class="btn btn-primary" id="enviar-arquivo-extra-autorizacao">Enviar Arquivos</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>

    <div id="left">
        <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
    </div>
</div>
<script type="text/javascript" src="/utils/jquery/js/filestyle/jquery-filestyle.min.js"></script>
<script type="text/javascript" src="/utils/moment/moment.js"></script>
<script type="text/javascript" src="/adm/secmed/templates/autorizacao/js/pt-br.js"></script>
<script type="text/javascript" src="/adm/secmed/templates/autorizacao/js/main.js?v=3.4"></script>
</body>
</html>