<?php
if(isset($response)):
    if(empty($response)) : ?>
        <h4 class="text-center">Nenhum item encontrado.</h4>
        <?php
    else:
        if(is_array($response)): ?>
            <table class='table table-responsive table-striped table-hover'>
                <thead>
                <tr>
                    <th colspan="19">
                        Autoriza&ccedil;&otilde;es para o período de
                        <?= $inicio->format('d/m/Y') ?> &agrave;
                        <?= $fim->format('d/m/Y') ?>
                    </th>
                </tr>
                <tr>
                    <th>Relat&oacute;rio</th>
                    <th>C&oacute;digo</th>
                    <th>Paciente</th>
                    <th>Conv&ecirc;nio</th>
                    <th>Inscri&ccedil;&atilde;o</th>
                    <th>Data da Admiss&atilde;o</th>
                    <th>Endere&ccedil;o</th>
                    <th>Contato</th>
                    <th>Modalidade</th>
                    <th>M&eacute;dico</th>
                    <th>Enfermagem</th>
                    <th>T&eacute;cnico</th>
                    <th>Fisio. Motora</th>
                    <th>Fisio. Resp.</th>
                    <th>Fono.</th>
                    <th>Nutri&ccedil;&atilde;o</th>
                    <th>Psic&oacute;logo</th>
                    <th>Autoriza&ccedil;&atilde;o</th>
                </tr>
                </thead>
                <?php
                $cont = 1;
                foreach($response as $key => $row):
                    $dataAdmissao = \DateTime::createFromFormat('Y-m-d H:i:s', $row['dataAdmissao'])->format('d/m/Y');
                    $inicio = \DateTime::createFromFormat('Y-m-d', $row['inicio'])->format('d/m/Y');
                    $fim = \DateTime::createFromFormat('Y-m-d', $row['fim'])->format('d/m/Y');
                    ?>
                    <tr id="<?= $cont ?>">
                        <td><?= utf8_decode($row['relatorio']) ?></td>
                        <td><?= $row['codigo'] ?></td>
                        <td><?= utf8_decode($row['paciente']) ?></td>
                        <td><?= utf8_decode($row['convenio']) ?></td>
                        <td><?= utf8_decode($row['inscricao']) ?></td>
                        <td><?= $dataAdmissao ?></td>
                        <td><?= utf8_decode($row['endereco']) ?></td>
                        <td><?= utf8_decode($row['contato']) ?></td>
                        <td><?= utf8_decode($row['modalidade']) ?></td>
                        <td><?= utf8_decode($row['aut_medico']) ?></td>
                        <td><?= utf8_decode($row['aut_enfermagem']) ?></td>
                        <td><?= utf8_decode($row['aut_tecnico']) ?></td>
                        <td><?= utf8_decode($row['aut_fisio_motora']) ?></td>
                        <td><?= utf8_decode($row['aut_fisio_resp']) ?></td>
                        <td><?= utf8_decode($row['aut_fono']) ?></td>
                        <td><?= utf8_decode($row['aut_nutricao']) ?></td>
                        <td><?= utf8_decode($row['aut_psicologo']) ?></td>
                        <td>
                            <?= $inicio ?> &agrave; <?= $fim ?>
                        </td>
                    </tr>
                    <?php
                    $cont++;
                endforeach;
                ?>
            </table>
        <?php else: ?>
            <span class="text-center"><b><?= $response ?></b></span>
            <?php
        endif;
    endif;
endif;
?>