<table class='mytable' width='100%' >
    <thead>
    <tr>
        <th colspan="4"><h2>Relat&oacute;rio de Pedidos - Per&iacute;odo: <?= $inicio->format('d/m/Y') ?> &agrave; <?= $fim->format('d/m/Y') ?></h2></th>
    </tr>
    <tr>
        <th align="center" colspan="2">RESULTADO</th>
    </tr>
    </thead>
    <tbody>
    <?php
    $i = 1;
    if($count > 0):
        foreach($response as $data):
            $dataSaida = DateTime::createFromFormat('Y-m-d', $data['data'])->format('d/m/Y');
            if($i % 2 == 0){
                $bgColor = 'white';
                $situacaoColor = $data['liberado'] == 1 ? 'green' : '#b22222';
            } else {
                $bgColor = '#dcdcdc';
                $situacaoColor = $data['liberado'] == 1 ? '#00f200' : '#843534';
            }
    ?>
            <tr bgcolor="<?= $bgColor ?>">
                <td width="50%">
                    <p>
                        <b>Paciente:</b> <?= utf8_decode($data['paciente']) ?>
                    </p>
                    <p>
                        <b>Item:</b> <?= utf8_decode($data['nome']) ?>
                    </p>
                    <p>
                        <b>Tipo:</b> <?= $data['tipoItem'] ?>
                    </p>
                    <p>
                        <b>Quantidade:</b> <?= $data['qtd'] ?>
                    </p>
                    <?php
                    if($data['auditado'] == null || $data['auditado'] == '0000-00-00 00:00:00'):
                        ?>
                        <p>
                            <b>Situa&ccedil;&atilde;o:</b> Não Auditado
                        </p>
                    <?php else: ?>
                        <p>
                            <b>Situa&ccedil;&atilde;o:</b>
                            <label style="color: <?= $situacaoColor ?>">
                                <?= $data['liberado'] == 1 ? 'Item Liberado' : 'Item Negado' ?>
                            </label>
                        </p>
                        <?php
                    endif;
                    if($tipoRelatorio == 'analitico'):
                        ?>
                        <p>
                            <b>Justificativa Avulsa:</b> <?= utf8_decode($data['justAvulsa']) ?>
                        </p>
                        <p>
                            <b>Justificativa Negado:</b> <?= utf8_decode($data['justNegItem']) ?>
                        </p>
                    <?php endif; ?>
                </td>
                <td width="50%">
                    <p>
                        <b>Sa&iacute;da em:</b> <?= $dataSaida ?>
                    </p>
                    <p>
                        <b>Lote:</b> <?= $data['LOTE'] ?>
                    </p>
                    <p>
                        <b>Tipo Solicita&ccedil;&atilde;o:</b> <?= utf8_decode($data['tipoSolicitacao']) . $data['imediata'] ?>
                    </p>
                    <p>
                        <b>Per&iacute;odo:</b> <?= $data['periodo'] ?>
                    </p>
                    <?php if($tipoRelatorio == 'analitico'): ?>
                        <p>
                            <b>Auditor(a):</b> <?= utf8_decode($data['auditora']) ?>
                        </p>
                    <?php endif; ?>
                </td>
            </tr>
            <?php $i++; endforeach; ?>
    <?php else: ?>
        <tr>
            <td colspan="13" align="center"><strong>Nenhum resultado foi encontrado!</strong></td>
        </tr>
    <?php endif; ?>
    </tbody>
</table>