<?php require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>
<head>
    <meta charset="UTF-8">
    <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php'); ?>
    <link rel="stylesheet" type="text/css" href="/utils/reports.css">
    <link rel="stylesheet" type="text/css" href="/utils/jquery/css/chosen/chosen.css">
</head>
<div id="content">
    <div id="right">
        <center><h1>Relatório de Pedidos</h1></center>
        <br><br><br>
        <form method="post" action="/auditoria/relatorios/?action=form-relatorio-saidas">
            <p>
                <strong>Período:</strong><br>
                <input type="date" required name="periodo_inicio" value="<?= isset($periodoInicio) && !empty($periodoInicio) ? $periodoInicio : "" ?>"> -
                <input type="date" required name="periodo_fim" value="<?= isset($periodoFim) && !empty($periodoFim) ? $periodoFim : "" ?>">
            </p>
            <p>
                <strong>Filtrar por:</strong><br>
                <input type='radio' class='tipo-busca-saida' checked name='tipo_busca' opcao="Paciente" value='paciente' /> Paciente
                <input type='radio' class='tipo-busca-saida' name='tipo_busca' id-item = '' opcao="Medicamento" value='med' /> Medicamento
                <input type='radio' class='tipo-busca-saida' name='tipo_busca' id-item = '' opcao="Material" value='mat' /> Material
                <input type='radio' class='tipo-busca-saida' name='tipo_busca' id-item = '' opcao="Dieta" value='die' /> Dieta
                <input type='radio' class='tipo-busca-saida' name='tipo_busca' id-item = '' opcao="Equipamento" value='eqp' /> Equipamento
                <input type='radio' class='tipo-busca-saida' name='tipo_busca' id-item = '' opcao="Unidade Regional" value='ur' /> Unidade Regional
                <div class="combo" id="combo-paciente">
                    <strong>Paciente:</strong><br>
                    <select name="paciente" class="chosen-select" id="pacientes" style="width: 400px;">
                        <option selected disabled value="">Selecione...</option>
                        <?php foreach($pacientes as $paciente): ?>
                            <option <?= isset($pacienteBusca) && $pacienteBusca === $paciente['idClientes'] ? "selected" : "" ?> value="<?= $paciente['idClientes'] ?>">(<?= $paciente['codigo'] ?>) <?= strtoupper($paciente['nome']) ?></option>
                        <?php endforeach; ?>
                    </select>
                    <br>
                    <span id="paciente-vazio" style="color: #b81900; font-weight: bold; display: none;">Você precisa escolher um paciente!</span>
                </div>
                <div class="combo" id="combo-ur">
                    <strong>UR:</strong><br>
                    <select name="ur" class="chosen-select" id="urs" style="width: 300px;">
                        <option selected disabled value="">Selecione...</option>
                        <?php foreach($urs as $ur): ?>
                            <option <?= isset($urBusca) && $urBusca === $ur['id'] ? "selected" : "" ?> value="<?= $ur['id'] ?>"><?= strtoupper($ur['nome']) ?></option>
                        <?php endforeach; ?>
                    </select>
                    <br>
                    <span id="ur-vazio" style="color: #b81900; font-weight: bold; display: none;">Você precisa escolher uma UR!</span>
                </div>
                <div class="combo" id="combo-item">
                    <strong id="label-item"></strong><br>
                    <select name="item" class="chosen-select" id="item" style="width: 800px;">
                    </select>
                    <br>
                    <span id="item-vazio" style="color: #b81900; font-weight: bold; display: none;">Você precisa escolher um item!</span>
                </div>
            </p>
            <p>
                <strong>Tipo de Relatório:</strong><br>
                <input type="radio" id="tipo-relatorio-analitico" checked <?= isset($tipoRelatorio) && $tipoRelatorio == 'analitico' ? "checked" : "" ?> name="tipo_relatorio" value="analitico"> <label for="tipo-relatorio-analitico">Analítico</label>
                <!--<input type="radio" id="tipo-relatorio-sintetico" <?/*= isset($tipoRelatorio) && $tipoRelatorio == 'sintetico' ? "checked" : "" */?> name="tipo_relatorio" value="sintetico"> <label for="tipo-relatorio-sintetico">Sintético</label>-->
            </p>
            <div style="position: relative; float: left; width: 100%; margin-top: 10px;">
                <button type="submit" class='ui-button ui-widget ui-corner-all ui-button-text-only ui-state-hover' id="buscar">
                    <span class='ui-button-text'>Buscar</span>
                </button>
            </div>
        </form>
        <?php
        if(isset($response)):
            ?>
            <label style="float: left; padding-top: 20px;">
                Total de <b><?= $count ?></b> pedidos.
            </label>
            <a  href="/auditoria/relatorios/?action=excel-relatorio-saidas&inicio=<?= $periodoInicio ?>&fim=<?= $periodoFim ?>&ur=<?= $urBusca ?>&paciente=<?= $pacienteBusca ?>&tipo=<?= $tipoBusca ?>&item=<?= $itemBusca ?>&tiporelatorio=<?= $tipoRelatorio ?>"
                target="_blank"
                style="position: relative; float: right;"
                class='ui-button ui-widget ui-corner-all ui-button-text-only ui-state-hover'
                id="buscar">
                <span class='ui-button-text'>Exportar para Excel</span>
            </a>
            <hr id="separator">
            <div id="response">
                <table class='mytable' width='100%' >
                    <thead>
                    <tr>
                        <th align="center" colspan="2">RESULTADO</th>
                    </tr>
                    </thead>
                    <tbody>
                    <?php
                    $i = 1;
                    if($count > 0):
                        foreach($response as $data):
                            $dataSaida = DateTime::createFromFormat('Y-m-d', $data['data'])->format('d/m/Y');
                            if($i % 2 == 0){
                                $bgColor = 'white';
                                $situacaoColor = $data['liberado'] == 1 ? 'green' : '#b22222';
                            } else {
                                $bgColor = '#dcdcdc';
                                $situacaoColor = $data['liberado'] == 1 ? '#00f200' : '#843534';
                            }
                    ?>
                            <tr bgcolor="<?= $bgColor ?>">
                                <td width="50%">
                                    <p>
                                        <b>Paciente:</b> <?= $data['paciente'] ?>
                                    </p>
                                    <p>
                                        <b>Item:</b> <?= $data['nome'] ?>
                                    </p>
                                    <p>
                                        <b>Tipo:</b> <?= $data['tipoItem'] ?>
                                    </p>
                                    <p>
                                        <b>Quantidade:</b> <?= $data['qtd'] ?>
                                    </p>
                                    <?php
                                        if($data['auditado'] == null || $data['auditado'] == '0000-00-00 00:00:00'):
                                    ?>
                                    <p>
                                        <b>Situação:</b> Não Auditado
                                    </p>
                                    <?php else: ?>
                                    <p>
                                        <b>Situação:</b>
                                        <label style="color: <?= $situacaoColor ?>">
                                            <?= $data['liberado'] == 1 ? 'Item Liberado' : 'Item Negado' ?>
                                        </label>
                                    </p>
                                    <?php
                                        endif;
                                        if($tipoRelatorio == 'analitico'):
                                    ?>
                                        <p>
                                            <b>Justificativa Avulsa:</b> <?= $data['justAvulsa'] ?>
                                        </p>
                                        <p>
                                            <b>Justificativa Negado:</b> <?= $data['justNegItem'] ?>
                                        </p>
                                    <?php endif; ?>
                                </td>
                                <td width="50%">
                                    <p>
                                        <b>Saída em:</b> <?= $dataSaida ?>
                                    </p>
                                    <p>
                                        <b>Lote:</b> <?= $data['LOTE'] ?>
                                    </p>
                                    <p>
                                        <b>Tipo Solicitação:</b> <?= $data['tipoSolicitacao'] . $data['imediata'] ?>
                                    </p>
                                    <p>
                                        <b>Período:</b> <?= $data['periodo'] ?>
                                    </p>
                                    <?php if($tipoRelatorio == 'analitico'): ?>
                                        <p>
                                            <b>Auditor(a):</b> <?= $data['auditora'] ?>
                                        </p>
                                    <?php endif; ?>
                                </td>
                            </tr>
                        <?php $i++; endforeach; ?>
                    <?php else: ?>
                        <tr>
                            <td colspan="13" align="center"><strong>Nenhum resultado foi encontrado!</strong></td>
                        </tr>
                    <?php endif; ?>
                    </tbody>
                </table>
            </div>
            <?php
        endif;
        ?>
    </div>
    <div id="left">
        <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
    </div>
</div>
<script type="text/javascript" src="/utils/jquery/js/chosen.jquery.min.js"></script>
<script type="text/javascript" src="/auditoria/relatorios/templates/saidas/js/main.js?v=1.1"></script>
<script type="text/javascript">
    $(function ($) {
        <?php if(isset($tipoBusca) && $tipoBusca == 'med'): ?>
            $(".tipo-busca-saida[opcao='Medicamento']").attr('id-item',<?=$itemBusca?>).trigger('click').trigger('change');
        <?php elseif (isset($tipoBusca) && $tipoBusca == 'mat'): ?>
            $(".tipo-busca-saida[opcao='Material']").attr('id-item',<?=$itemBusca?>).trigger('click').trigger('change');
        <?php elseif (isset($tipoBusca) && $tipoBusca == 'die'): ?>
            $(".tipo-busca-saida[opcao='Dieta']").attr('id-item',<?=$itemBusca?>).trigger('click').trigger('change');
        <?php elseif (isset($tipoBusca) && $tipoBusca == 'eqp'): ?>
            $(".tipo-busca-saida[opcao='Equipamento']").attr('id-item',<?=$itemBusca?>).trigger('click').trigger('change');
        <?php elseif (isset($tipoBusca) && $tipoBusca == 'ur'): ?>
            $(".tipo-busca-saida[opcao='Unidade Regional']").trigger('click').trigger('change');
        <?php endif; ?>
    });
</script>
</body>
</html>