<?php
if(isset($response)):
    if(empty($response)) :
        ?>
        <h4 class="text-center">Nenhum aluguel encontrado.</h4>
        <?php
    else:
        ?>
        <table class='table'>
            <thead>
            <tr>
                <th colspan="9">
                    Equipamentos Alugados de
                    <?= $inicio->format('d/m/Y') ?> &agrave;
                    <?= $fim->format('d/m/Y') ?>
                </th>
            </tr>
            <tr>
                <th>Tombo</th>
                <th>Paciente</th>
                <th>Empresa</th>
                <th>Admiss&atilde;o</th>
                <th>Fornecedor</th>
                <th>Descri&ccedil;&atilde;o do Equip.</th>
                <th>Situa&ccedil;&atilde;o</th>
                <th>Valor Aluguel</th>
                <th>Dias Aluguel</th>
                <th>Total</th>
            </tr>
            </thead>
            <tbody>
            <?php
            $inicioFiltro = $inicio;
            $fimFiltro = $fim;
            foreach($response as $data):
                if($data['DATA_FIM'] != '0000-00-00 00:00:00'):
                    $inicioAluguel = new \DateTime($data['DATA_INICIO']);
                    $fimAluguel = new \DateTime($data['DATA_FIM']);

                    $diasAluguel = $inicioAluguel->diff($fimAluguel > $fimFiltro ? $fimFiltro : $fimAluguel)->days +1;
                    if($inicioFiltro < $inicioAluguel):
                        $diasAluguel = $inicioAluguel->diff($fimAluguel > $fimFiltro ? $fimFiltro : $fimAluguel)->days +1;
                    elseif($inicioFiltro > $inicioAluguel):
                        $diasAluguel = $inicioFiltro->diff($fimAluguel > $fimFiltro ? $fimFiltro : $fimAluguel)->days +1;
                    endif;
                else:
                    $inicioAluguel = new \DateTime($data['DATA_INICIO']);

                    $diasAluguel = $inicioFiltro->diff($fimFiltro)->days +1;
                    if($inicioFiltro < $inicioAluguel):
                        $diasAluguel = $inicioAluguel->diff($fimFiltro)->days +1;
                    elseif($inicioFiltro > $inicioAluguel):
                        $diasAluguel = $inicioFiltro->diff($fimFiltro)->days +1;
                    endif;
                endif;

                $valorAluguel = $diasAluguel * $data['valor_aluguel'];
                ?>

                <tr>
                    <td><?= htmlentities($data['tombo']) ?></td>
                    <td><?= htmlentities($data['paciente']) ?></td>
                    <td><?= htmlentities($data['ur']) ?></td>
                    <td><?= $data['admissao'] ?></td>
                    <td><?= $data['empresa'] != '' ? htmlentities($data['empresa']) : 'SEM FORNECEDOR' ?></td>
                    <td><?= htmlentities($data['equipamento']) ?></td>
                    <td><?= $data['situacao'] ?></td>
                    <td><?= $data['valor_aluguel'] != '' ? number_format($data['valor_aluguel'], 2, ',', '') : 'SEM CUSTO CADASTRADO' ?></td>
                    <td><?= $diasAluguel ?></td>
                    <td><?= $data['valor_aluguel'] != '' ? number_format($valorAluguel, 2, ',', '') : 'SEM CUSTO CADASTRADO' ?></td>
                </tr>
            <?php endforeach; ?>
            </tbody>
        </table>
        <?php
    endif;
endif;
?>