<?php require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>
<head>
    <meta charset="UTF-8">
    <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php'); ?>
    <link rel="stylesheet" type="text/css" href="/utils/reports.css">
    <link rel="stylesheet" href="/utils/bootstrap-3.3.6-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/utils/bootstrap-3.3.6-dist/css/chosen.bootstrap.min.css" />
    <link rel="stylesheet" href="/utils/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
    <link rel="stylesheet" href="/utils/font-awesome-4.7.0/css/font-awesome.css" />
</head>
<div id="content">
    <div id="right">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title pull-left" style="padding-top: 7.5px;">
                    <i class="fa fa-search" aria-hidden="true"></i> Relatório de Aluguel de Equipamentos
                </h3>
            </div>
            <div class="panel-body">
                <form method="post" action="/logistica/relatorios/?action=relatorio-aluguel-equipamentos">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for="paciente">Paciente: </label>
                                <select name="paciente" chosen class="chosen-select form-control" id='paciente'>
                                    <option value="">Selecione...</option>
                                    <?php foreach($pacientes as $paciente): ?>
                                        <option <?= isset($pacienteId) && $pacienteId == $paciente['idClientes'] ? "selected" : "" ?> value="<?= $paciente['idClientes'] ?>">(<?= $paciente['codigo'] ?>) <?= strtoupper($paciente['nome']) ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for="fornecedor">Fornecedor:</label>
                                <select name="fornecedor" chosen id="fornecedor" class="chosen-select form-control">
                                    <option value="">Selecione...</option>
                                    <?php foreach($fornecedores as $fornecedor): ?>
                                        <option <?= isset($fornecedorId) && $fornecedorId === $fornecedor['idFornecedores'] ? "selected" : "" ?> value="<?= $fornecedor['idFornecedores'] ?>"><?= strtoupper($fornecedor['razaoSocial']) ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for="equipamento">Equipamento:</label>
                                <select name="equipamento" chosen id="equipamento" class="chosen-select form-control">
                                    <option value="">Selecione...</option>
                                    <?php foreach($equipamentos as $equipamento): ?>
                                        <option <?= isset($equipamentoId) && $equipamentoId === $equipamento['id'] ? "selected" : "" ?> value="<?= $equipamento['id'] ?>"><?= strtoupper($equipamento['item']) ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for="urs">UR:</label>
                                <select name="ur" id="urs" style="width: 300px;">
                                    <option value="">Selecione...</option>
                                    <?php foreach($urs as $ur): ?>
                                        <option <?= isset($urId) && $urId  === $ur['id'] ? "selected" : "" ?> value="<?= $ur['id'] ?>"><?= strtoupper($ur['nome']) ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group has-feedback has-feedback-right">
                                <label for="periodo">Inicio:</label>
                                <input name="inicio" type="text" class="bstrap-datepicker form-control" value='<?= isset($inicio)  ? $inicio : "" ?>' required>
                                <i class="glyphicon glyphicon-calendar form-control-feedback"></i>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group has-feedback has-feedback-right">
                                <label for="periodo">Fim:</label>
                                <input name="fim" type="text" class="bstrap-datepicker form-control" value='<?= isset($fim) ? $fim : "" ?>' required>
                                <i class="glyphicon glyphicon-calendar form-control-feedback"></i>
                            </div>
                        </div>
                        <div class="col-lg-12 text-center">
                            <div class="form-group">
                                <button type="submit" class='ui-button ui-widget ui-corner-all ui-button-text-only ui-state-hover' >
                                    <span class='ui-button-text'>Pesquisar</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-12">
                <?php
                if(isset($response)):
                    if(empty($response)) :
                        ?>
                        <h4 class="text-center">Nenhum aluguel encontrado.</h4>
                        <?php
                    else:
                        ?>
                        <a href="/logistica/relatorios/?action=excel-relatorio-aluguel-equipamentos&inicio=<?= $inicioBD ?>&fim=<?= $fimBD ?>&paciente=<?= $pacienteId ?>&fornecedor=<?= $fornecedorId ?>&equipamento=<?= $equipamentoId ?>&ur=<?= $urId ?>"
                           target="_blank"
                           style="float: right;"
                           title="Exportar para Planilha Excel">
                            <img src="/utils/new-icons/excel-2013.ico" width="32">
                        </a>
                        <table class='table table-striped table-responsive table-hover small'>
                            <thead>
                            <tr>
                                <th>Tombo</th>
                                <th>Paciente</th>
                                <th>Admissão</th>
                                <th>Fornecedor</th>
                                <th>Descrição do Equip.</th>
                                <th>Situação</th>
                                <th>Valor Aluguel</th>
                                <th>Dias Aluguel</th>
                                <th>Total</th>
                            </tr>
                            </thead>
                            <tbody>
                            <?php
                            $inicioFiltro = new \DateTime($inicioUrl);
                            $fimFiltro = new \DateTime($fimUrl);
                            foreach($response as $data):
                                if($data['DATA_FIM'] != '0000-00-00 00:00:00'):
                                    $inicioAluguel = new \DateTime($data['DATA_INICIO']);
                                    $fimAluguel = new \DateTime($data['DATA_FIM']);

                                    $diasAluguel = $inicioAluguel->diff($fimAluguel > $fimFiltro ? $fimFiltro : $fimAluguel)->days +1;
                                    if($inicioFiltro < $inicioAluguel):
                                        $diasAluguel = $inicioAluguel->diff($fimAluguel > $fimFiltro ? $fimFiltro : $fimAluguel)->days +1;
                                    elseif($inicioFiltro > $inicioAluguel):
                                        $diasAluguel = $inicioFiltro->diff($fimAluguel > $fimFiltro ? $fimFiltro : $fimAluguel)->days +1;
                                    endif;
                                else:
                                    $inicioAluguel = new \DateTime($data['DATA_INICIO']);

                                    $diasAluguel = $inicioFiltro->diff($fimFiltro)->days +1;
                                    if($inicioFiltro < $inicioAluguel):
                                        $diasAluguel = $inicioAluguel->diff($fimFiltro)->days +1;
                                    elseif($inicioFiltro > $inicioAluguel):
                                        $diasAluguel = $inicioFiltro->diff($fimFiltro)->days +1;
                                    endif;
                                endif;

                                $valorAluguel = $diasAluguel * $data['valor_aluguel'];
                            ?>

                            <tr>
                                <td><?= $data['tombo'] ?></td>
                                <td><?= $data['paciente'] ?></td>
                                <td><?= $data['admissao'] ?></td>
                                <td><?= $data['empresa'] != '' ? $data['empresa'] : 'SEM FORNECEDOR' ?></td>
                                <td><?= $data['equipamento'] ?></td>
                                <td><?= $data['situacao'] ?></td>
                                <td><?= $data['valor_aluguel'] != '' ? App\Helpers\StringHelper::currencyFormat($data['valor_aluguel']) : 'SEM CUSTO CADASTRADO' ?></td>
                                <td><?= $diasAluguel ?></td>
                                <td><?= $data['valor_aluguel'] != '' ? App\Helpers\StringHelper::currencyFormat($valorAluguel) : 'SEM CUSTO CADASTRADO' ?></td>
                            </tr>
                            <?php endforeach; ?>
                            </tbody>
                        </table>
                        <?php
                    endif;
                endif;
                ?>
            </div>
        </div>
    </div>

    <div id="left">
        <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
    </div>
</div>

<script src="/utils/bower_components/moment/moment.js" ></script>
<script src="/utils/bower_components/moment/locale/pt-br.js" ></script>
<script src="/utils/bootstrap-3.3.6-dist/js/bootstrap.min.js" ></script>
<script src="/utils/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js" ></script>
<script type="text/javascript" src="/logistica/relatorios/js/main.js?v=2.2"></script>
</body>
</html>