<table class='mytable' width='100%' >
    <thead>
    <tr>
       <th colspan="5"><h2>Relat&oacute;rio de Evolu&ccedil;&otilde;es - Per&iacute;odo: <?= $inicio->format('d/m/Y') ?> &agrave; <?= $fim->format('d/m/Y') ?></h2></th>
    </tr>
    <tr>
        <th>PACIENTE</th>
        <th>M&Eacute;DICO</th>
        <?php
        if($urBusca != ''):
            ?>
            <th>UR</th>
        <?php endif; ?>
        <th align="center">DATA DA VISITA</th>
        <th align="center">DATA DO RELAT&Oacute;RIO NO SISTEMA</th>
    </tr>
    </thead>
    <tbody>
    <?php
    if($count > 0):
        foreach($response as $data):
            $dataVisita = DateTime::createFromFormat('Y-m-d H:i:s', $data['dataVisita'])->format('d/m/Y \A\S H:i:s');
            $dataSistema = DateTime::createFromFormat('Y-m-d H:i:s', $data['dataSistema'])->format('d/m/Y \A\S H:i:s');
            ?>
            <tr>
                <td><?= htmlentities(strtoupper($data['paciente'])) ?></td>
                <td><?= htmlentities(strtoupper($data['medico'])) ?></td>
                <?php
                if($urBusca != ''):
                    ?>
                    <td><?= htmlentities(strtoupper($data['empresa'])) ?></td>
                <?php endif; ?>
                <td align="center"><?= $dataVisita ?></td>
                <td align="center"><?= $dataSistema ?></td>
            </tr>
        <?php endforeach; ?>
    <?php else: ?>
        <tr>
            <td colspan="13" align="center"><strong>Nenhum resultado foi encontrado!</strong></td>
        </tr>
    <?php endif; ?>
    </tbody>
</table>