.calendar {
  height: 100px;
  width: 100%;
  display: flex;
  margin-top: 20px; 
}

.calendar__date-label {
  font-weight: normal;
  font-size: 16px;
  color: #2e2a2a;
}
.calendar__date-start-input {
  background: #FFF;
  width: 80%;
  border: 1px solid #cdcdcd;
  padding: 10px;
  .react-date-picker__wrapper {
    border: none;
    color: #2e2a2a;
  }
}

.calendar__date-start {
 width: calc(50% - 120px);
}
.calendar__date {
  display: flex;
  flex-flow: column;
}
.calendar__date-end {
  display: flex;
  width: calc(50%-120px); 
}
.calendar__button {
  display: flex;
  width: 150px;
  flex-flow: column;
  justify-content: center;
}
.calendar__button-setting.btn.btn-primary.btn-lg {
  border-radius: 0;
  padding: 10px;
  margin-left: 20px;
}
.calendar__date-start-label, .calendar__date-start-input {
width: 100%;
}
div.calendar__date-end-input {
  width: 100%;
  border: 1px solid #cdcdcd;
  padding: 10px;
  margin-left: 10px;
  
  .react-date-picker__wrapper {
    border: none;
    color: #2e2a2a;
  }
}
#show_calendar {
  display: flex;
  flex-direction: row;

  #startDate {
    
    display: flex;
    flex-direction: column;
    margin-right: 10px;  
  }
  #endDate {
    display: flex;
    
    flex-direction: column;
    margin-left: 100px;
  }
  label {
    margin-left: 10px;
  }
}