<?php require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>
<head>
    <meta charset="UTF-8">
    <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php'); ?>
    <link rel="stylesheet" type="text/css" href="/utils/jquery/css/chosen/chosen.css">
    <link rel="stylesheet" type="text/css" href="/utils/global.css"/>
</head>
<div id="content">
    <div id="right">
        <center><h1>Suspender Itens em Prescrições Ativas</h1></center>
        <br>
        <?php
        $display = "none";
        if(isset($_GET['msg']) && !empty($_GET['msg'])) {
            $msg = base64_decode($_GET['msg']);
            $type = $_GET['type'];
            if ($type === 's') {
                $display = "block";
                $class = "success";
            } else {
                $display = "block";
                $class = "failed";
            }
        }
        ?>
        <div style="display:<?= $display ?>" class="msg <?= isset($class) ? $class : "" ?>">
            <strong><?= $msg ?></strong>
        </div>
        <p>
            <strong>Paciente:</strong><br>
            <select name="paciente" id="pacientes" style="width: 400px;">
                <option value="" selected disabled>Selecione um paciente para começar...</option>
                <?php foreach($pacientes as $paciente): ?>
                    <option <?= isset($pacienteBusca) && $pacienteBusca === $paciente['id'] ? "selected" : "" ?> value="<?= $paciente['id'] ?>">(<?= $paciente['codigo'] ?>) <?= strtoupper($paciente['nome']) ?></option>
                <?php endforeach; ?>
            </select>
        </p>
        <div id="loading"></div>
        <div id="bloco-itens-ativos" style="display: none;">
        </div>
        <p>
            <button type="button" class='ui-button ui-widget ui-corner-all ui-button-text-only ui-state-hover' id="suspender">
                <span class='ui-button-text'>Suspender +</span>
            </button>
        </p>
        <form method="post" action="/medico/prescricao/?action=suspender-itens-prescricoes" enctype="application/x-www-form-urlencoded">
            <hr id="separator">
            <div id="response" style="display: none;">
                <input type="hidden" name="paciente" value="" id="paciente-id">
            </div>
            <p id="botao-salvar" style="display: none;">
                <button type="submit" class='ui-button ui-widget ui-corner-all ui-button-text-only ui-state-hover' id="suspender">
                    <span class='ui-button-text'>Salvar</span>
                </button>
            </p>
        </form>
    </div>
    <div id="left">
        <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
    </div>
</div>
<script type="text/javascript" src="/utils/jquery/js/chosen.jquery.min.js"></script>
<script type="text/javascript" src="/medico/prescricao/js/prescricao.js"></script>
</body>
</html>