<?php require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>
<head>
  <meta charset="UTF-8">
  <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php'); ?>
  <link rel="stylesheet" href="/utils/global.css"/>
</head>
  <div id="content">
    <div id="right">
      <center><h1>Exportação Arquivo Domínio Sistemas</h1></center>
      <br><br><br>
			<form method="post" action="/financeiros/dominio-sistemas/">
				<div style="position: relative; float: left; width: 35%">
					<p><strong>Período</strong></p>
					<input type="date" name="inicio" id="inicio" required="required"> -
					<input type="date" name="fim" id="fim" required="required"> <br><br>
				</div>
				<div style="position: relative; float: left; margin-left: 30px; width: 60%">
					<p><strong>Tipo de Arquivo</strong></p>
					Baixa 	 <input type="radio" name="tipo" id="tipo_0" class="radiogroup" value="baixa" checked required="required">
					Inclusão <input type="radio" name="tipo" id="tipo_1" class="radiogroup"  value="inclusao" required="required">
				</div>
				<br><br><br>
        <div style="position: relative; float: left; width: 100%">
          <button type="submit" class='ui-button ui-widget ui-corner-all ui-button-text-only ui-state-hover' id="exportar">
            <span class='ui-button-text'>Exportar</span>
          </button>
          &nbsp;&nbsp;
          <button id='' type = 'button' class=' voltar_ ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only ui-state-hover'
                  role='button' aria-disabled='false' ><span class='ui-button-text'>Voltar</span></button>

        </div>
      </form>
    </div>
    <div id="left">
      <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
    </div>
    <script type="text/javascript" src="/utils/jquery/js/voltar.js"></script>
  </div>
  </body>
  </html>