<head>
    <link rel='stylesheet' type='text/css' href='/utils/reports.css'>
    <link rel='stylesheet' href='/utils/bootstrap-3.3.6-dist/css/bootstrap.min.css' />
    <link rel="stylesheet" href="/utils/font-awesome-5.0.7/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/adm/secmed/templates/planos-de-saude/css/typeahead.css">
    <style type="text/css">
        tr.vacenter td {
            vertical-align: middle !important;
        }

        tr.trheader td {
            font-weight: bold;
            text-align: center;
        }

        .centerth th {
            text-align: center !important;
        }
    </style>
</head>

<center><h3>Planos de Sa&uacute;de <?= $modo == 'editar' ? '(' . $row['nome'] . ')' : '' ?></h3></center>
<br>
<br>
<br>

<div id='div-plano'>
    <div class="tabbable boxed parentTabs">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#info" data-toggle="tab">
                    <i class="fa fa-info-circle"></i>
                    <strong>Cadastro</strong>
                </a>
            </li>
            <li>
                <a href="#equipamentos-servicos" data-toggle="tab">
                    <i class="fa fa-dollar-sign"></i>
                    <strong>Tabela</strong>
                </a>
            </li>
            <li>
                <a href="#materiais" data-toggle="tab">
                    <i class="fa fa-syringe"></i>
                    <strong>Materiais</strong>
                </a>
            </li>
            <li>
                <a href="#medicamentos" data-toggle="tab">
                    <i class="fa fa-pills"></i>
                    <strong>Medicamentos</strong>
                </a>
            </li>
            <li>
                <a href="#dietas" data-toggle="tab">
                    <i class="fa fa-utensils"></i>
                    <strong>Dietas</strong>
                </a>
            </li>
            <li>
                <a href="#equipamentos" data-toggle="tab">
                    <i class="fa fa-wheelchair"></i>
                    <strong>Equipamentos</strong>
                </a>
            </li>
            <!--<li>
                <a href="#servicos" data-toggle="tab">
                    <i class="fa fa-user-md"></i>
                    <strong>Serviços</strong>
                </a>
            </li>-->
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade active in" id="info">
                <div class="tabbable">
                    <div class="tab-content">
                        <?php
                        require $_SERVER['DOCUMENT_ROOT'] . '/adm/secmed/templates/planos-de-saude/editar/plano-cadastro-form.phtml';
                        ?>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade in" id="equipamentos-servicos">
                <div class="tabbable">
                    <div class="tab-content">
                        <?php
                        require $_SERVER['DOCUMENT_ROOT'] . '/adm/secmed/templates/planos-de-saude/editar/plano-equipamento-servico-form.phtml';
                        ?>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade in" id="materiais">
                <div class="tabbable">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#por-grupo-material" data-toggle="tab">
                                <i class="fa fa-archive"></i> Por Grupo
                            </a>
                        </li>
                        <li>
                            <a href="#por-item-material" data-toggle="tab">
                                <i class="fa fa-clone"></i> Por item
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content nav-materiais">
                        <div class="tab-pane fade active in" id="por-grupo-material">
                            <?php
                            require $_SERVER['DOCUMENT_ROOT'] . '/adm/secmed/templates/planos-de-saude/editar/regras-fluxo/regra-fluxo-material/regra-grupo.phtml';
                            ?>
                        </div>
                        <div class="tab-pane fade" id="por-item-material">
                            <?php
                            require $_SERVER['DOCUMENT_ROOT'] . '/adm/secmed/templates/planos-de-saude/editar/regras-fluxo/regra-fluxo-material/regra-item.phtml';
                            ?>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="medicamentos">
                <div class="tabbable">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#por-grupo-medicamento" data-toggle="tab">
                                <i class="fa fa-archive"></i> Por Grupo
                            </a>
                        </li>
                        <li>
                            <a href="#por-item-medicamento" data-toggle="tab">
                                <i class="fa fa-clone"></i> Por item
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade active in" id="por-grupo-medicamento">
                            <?php
                            require $_SERVER['DOCUMENT_ROOT'] . '/adm/secmed/templates/planos-de-saude/editar/regras-fluxo/regra-fluxo-medicamento/regra-grupo.phtml';
                            ?>
                        </div>
                        <div class="tab-pane fade" id="por-item-medicamento">
                            <?php
                            require $_SERVER['DOCUMENT_ROOT'] . '/adm/secmed/templates/planos-de-saude/editar/regras-fluxo/regra-fluxo-medicamento/regra-item.phtml';
                            ?>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="dietas">
                <div class="tabbable">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#por-grupo-dieta" data-toggle="tab">
                                <i class="fa fa-archive"></i> Por Grupo
                            </a>
                        </li>
                        <li>
                            <a href="#por-item-dieta" data-toggle="tab">
                                <i class="fa fa-clone"></i> Por item
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade active in" id="por-grupo-dieta">
                            <?php
                            require $_SERVER['DOCUMENT_ROOT'] . '/adm/secmed/templates/planos-de-saude/editar/regras-fluxo/regra-fluxo-dieta/regra-grupo.phtml';
                            ?>
                        </div>
                        <div class="tab-pane fade" id="por-item-dieta">
                            <?php
                            require $_SERVER['DOCUMENT_ROOT'] . '/adm/secmed/templates/planos-de-saude/editar/regras-fluxo/regra-fluxo-dieta/regra-item.phtml';
                            ?>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="equipamentos">
                <div class="tabbable">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#por-grupo-equipamento" data-toggle="tab">
                                <i class="fa fa-archive"></i> Por Grupo
                            </a>
                        </li>
                        <li>
                            <a href="#por-item-equipamento" data-toggle="tab">
                                <i class="fa fa-clone"></i> Por item
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade active in" id="por-grupo-equipamento">
                            <?php
                            require $_SERVER['DOCUMENT_ROOT'] . '/adm/secmed/templates/planos-de-saude/editar/regras-fluxo/regra-fluxo-equipamento/regra-grupo.phtml';
                            ?>
                        </div>
                        <div class="tab-pane fade" id="por-item-equipamento">
                            <?php
                            require $_SERVER['DOCUMENT_ROOT'] . '/adm/secmed/templates/planos-de-saude/editar/regras-fluxo/regra-fluxo-equipamento/regra-item.phtml';
                            ?>
                        </div>
                    </div>
                </div>
            </div>

            <!--<div class="tab-pane fade" id="servicos">
                <div class="tabbable">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#por-grupo-servico" data-toggle="tab">
                                <i class="fa fa-archive"></i> Por Grupo
                            </a>
                        </li>
                        <li>
                            <a href="#por-item-servico" data-toggle="tab">
                                <i class="fa fa-clone"></i> Por item
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade active in" id="por-grupo-servico">
                            <?php
/*                            require $_SERVER['DOCUMENT_ROOT'] . '/adm/secmed/templates/planos-de-saude/editar/regras-fluxo/regra-fluxo-servico/regra-grupo.phtml';
                            */?>
                        </div>
                        <div class="tab-pane fade" id="por-item-servico">
                            <?php
/*                            require $_SERVER['DOCUMENT_ROOT'] . '/adm/secmed/templates/planos-de-saude/editar/regras-fluxo/regra-fluxo-servico/regra-item.phtml';
                            */?>
                        </div>
                    </div>
                </div>
            </div>-->
        </div>
    </div>
    <div class='form-group text-center'>
        <hr class="divider">
        <button id='<?= $target ?>' class='btn btn-primary'>Salvar</button>
    </div
</div>
</div>

<script src='/adm/secmed/templates/planos-de-saude/js/main.js?v=4' type='text/javascript'></script>
<script src='/adm/secmed/templates/planos-de-saude/js/typeahead.js' type='text/javascript'></script>
<script type='text/javascript' src='/utils/bootstrap-3.3.6-dist/js/bootstrap.min.js'></script>
