<br>
<div class='row'>
    <div class='col-xs-6'>
        <label for='plano'>Nome do plano:</label>
        <input type='text' cod='<?= $id ?>' name='plano' id='plano' value="<?= $modo == 'editar' ? $row['nome'] : '' ?>" class='OBG form-control' />
    </div>
    <div class='col-xs-3'>
        <label for='registro_ans'>Registro ANS:</label>
        <input type='text' cod='<?= $id ?>' name='registro_ans' id='registro_ans' value="<?= $modo == 'editar' ? $row['registro_ans'] : '' ?>" class=' form-control' />
    </div>
    <div class='col-xs-3'>
        <label for='ano_contrato'>Ano de contrato:</label>
        <input type='text' name='ano_contrato' id='ano_contrato' value="<?= $modo == 'editar' ? $row['ano_contrato'] : '' ?>" class='OBG ano form-control' />
    </div>
</div>
<br>
<div class="row">
    <div class="col-xs-12">
        <div class="alert alert-info">
            <i class="fa fa-info-circle"></i>
            Caso Genérico igual <strong>SIM</strong>, o sistema não irá reter
            na prescrição médica, nas solicitações de enfermagem e na saída da logística,
            os medicamentos que forem genéricos ou que não possuírem genéricos.
        </div>
    </div>
</div>

<div class='row'>
    <div class='col-xs-6'>
        <?= $this->operadoras(($modo == 'editar' ? $row_op[0] : null), null, 'COMBO_OBG') ?>
    </div>
    <div class='col-xs-3'>
        <label for='iss'>Imposto ISS:</label>
        <input type='text' class='valor OBG form-control' value="<?= $iss ?>" name='iss' id='iss' size='4'/>
    </div>
    <div class='col-xs-3'>
        <label for='tipo_medicamento'>Utilizar medicamento: </label>
        <select name='tipo_medicamento' id='tipo_medicamento' class='OBG form-control'>
            <option value='' >Selecione</option>
            <option value='T' <?= $row['tipo_medicamento'] == 'T' ? "selected" : "" ?>>Todos</option>
            <option value='G' <?= $row['tipo_medicamento'] == 'G' ? "selected" : "" ?>>Genérico</option>
        </select>
    </div>
</div>

<br>
<fieldset>
    <legend>
        <i class='fa fa-percent'></i> Reajustar valores:
    </legend>
    <div class='row'>
        <div class='col-xs-6'>
            <div class='form-group'>
                <label for='plano'>Data de último reajuste:</label>
                <input type='text' name='data_reajuste' readonly class='form-control' value='<?= $modo == 'editar' ? $dataReajuste : '' ?>' />
            </div>
        </div>
        <div class='col-xs-6'>
            <div class='form-group'>
                <label for='registro_ans'>Percentual de último reajuste:</label>
                <input type='text' readonly name='percentual_ultimo_reajuste' value='<?= $modo == 'editar' ? $percentual_reajuste : '' ?>' class='form-control valor' />
            </div>
        </div>
    </div>

    <div class='row'>
        <div class='col-xs-12'>
            <button type='button' class='btn btn-success col-md-offset-5' id='calcular-novo-valor'>
                <i class='fa fa-calculator'></i>
                Calcular
            </button>
            <button type='button' class='btn btn-primary' id='retornar-valor-anterior'>
                <i class='fa fa-undo'></i>
                Voltar ao Valor Original
            </button>
        </div>
    </div>
</fieldset>