<br>
<div class="row">
    <div class="col-xs-12">
        <button id='add-item-plano' class='btn btn-primary'>Adicionar +</button>
    </div>
</div>
<br>
<div class="row">
    <div class="col-xs-12">
        <table class='table table-bordered table-striped' id='tabela-item-plano' width=100% >
            <thead>
            <tr>
                <th></th>
                <th><b>Item</b></th>
                <th><b>Item Tabela Mederi</b></th>
                <th><b>Cód. Plano</b></th>
                <th><b>Valor (R$)</b></th>
            </tr>
            </thead>
            <?php
            $num_rows = mysql_num_rows($rsValoresCobranca);
            if($num_rows > 0):
                while($row = mysql_fetch_array($rsValoresCobranca)):
                    foreach($row AS $key => $value) { $row[$key] = stripslashes($value); }
                    $valor = number_format($row['valor'], 2, ',', '.');
                    $cor = !$cor;

                    ?>
                    <tr class='editar-item-plano' editado='0'>
                        <td class='contador' cont='1'>
                            <img align='right' class='rem-item' id-item='<?= $modo == 'editar' ? $row['cod'] : '' ?>'  src='../utils/delete_16x16.png' title='Remover' border='0'>
                        </td>
                        <td>
                            <input name='item' class='OBG form-control' value="<?= $row['DESC_COBRANCA_PLANO'] ?>" style='font-size:10px;' size='40%' />
                        </td>
                        <td>
                            <?= $this->item_cobrancaplanos($row['idCobranca']) ?>
                        </td>
                        <td>
                            <input type='text' class='form-control' name='cod_plano' value="<?= $row['COD_COBRANCA_PLANO'] ?>" style='font-size:10px;'  />
                        </td>
                        <td>
                            <input type='text' id-item='<?= $row['cod'] ?>' valor-anterior='<?= $valor ?>'  class='valor item form-control' value='<?= $valor ?>' style='font-size:10px;' />
                        </td>
                    </tr>
                    <?php
                endwhile;
            else:
                ?>
                <tr>
                    <td colspan='6'><b>Nenhum item foi encontrado!</b></td>
                </tr>
            <?php endif; ?>
        </table>
    </div>
</div>