<?php require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>
<head>
    <meta charset="UTF-8">
    <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php'); ?>
    <link rel="stylesheet" href="/utils/global.css"/>
</head>
<div id="content">
    <div id="right">
        <center><h1>Ferramenta para ajustar estoque.</h1></center>
        <form method="post" action="/logistica/FerramentaAjusteEstoque/?action=buscaItem" >
        <p>
            <b>Buscar por: </b>
            <select style='background-color:transparent;' name="tipo">
                <option value='0' <?isset($tipo) && $tipo === 0 ? "selected" : ""?>>Medicamento</option>
            </select>
        </p>
        <p>
            <b>Item:</b>
            <input type='text' name='nome_item' id='nome_item' required value="<?= isset($item) && !empty($item) ? $item : "" ?>"/>
        </p>

        <button
            id='pesquisa-item'
            class='ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only ui-state-hover'
            role='button'
            aria-disabled='false'>
            <span class='ui-button-text'>
                Pesquisar
            </span>
        </button>
        </form>

    <?if(isset($arrayItem) && !empty($arrayItem)){?>
    <br>
        <div id="div-item">
        <form>
        <table class='mytable' width='100%' id="tab-relatorio-nao-conformidades">
            <thead>
            <tr>
                <th align="center"> Itens </th>
                <th>Estoque(CENTRAL)</th>
                <th>Quantidade</th>
                <th>Lote</th>
                <th>Validade</th>
            </tr>
            </thead>
            <?php
            $aux = 0;
            foreach($arrayItem as  $item):
                $nome = $item['nomeItem'];
                $estoque = $item['estoque'];
                $catalogoId = $item['ID'];
                $background = $aux % 2 != 0 ? 'bgcolor="#a9a9a9"' : '';
                $aux++;
                    ?>
                    <tr class='item' tipo="normal" aux="<?=$aux?>" <?=$background?>>
                        <td>
                            <img src='/utils/fraction_64x64.png' width='16' class='fracionar' catalogo="<?=$catalogoId?>" style='cursor: pointer;' title='Fracionar'>
                            <input type='hidden' name = 'item[<?=$aux?>][catalogoId]' value = '<?=$catalogoId?>'>

                            <?=$nome?>
                        </td>
                        <td>
                            <?=$estoque?>
                        </td>
                        <td>
                            <input type='number' name = 'item[<?=$aux?>][quantidade]'  value = ''>
                        </td>
                        <td>
                            <input type='text' name = 'item[<?=$aux?>][lote]'  value = ''>
                        </td>
                        <td>
                            <input type='date' name = 'item[<?=$aux?>][validade]'   value = ''>
                        </td>
                    </tr>
                <?php endforeach; ?>
            <input type='hidden' name = 'aux' id="aux" value = '<?=$aux?>'>
        </table>
        <br>
        <button
            id='salvar'
            class='ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only ui-state-hover'
            type='button'
            aria-disabled='false'>
            <span class='ui-button-text'>
                Salvar
            </span>
        </button>
    </form>
    </div>
    <?}?>
    </div>
</div>
    <div id="left">
        <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
    </div>
</div>

<script type="text/javascript" src="/logistica/FerramentaAjusteEstoque/js/main.js?v=2"></script>

</body>
</html>