<div id="container-item-equipamento">
    <div class='row'>
        <div class='col-xs-12'>
            <label>Regra Primária:</label>
            <select name="regra_primaria" container-target="container-item-equipamento" class="form-control regra-primaria">
                <option <?= $regras['equipamento']['item']['regra_primaria'] == '1' ? 'selected="selected"' : '' ?> value="1">
                    <strong>LIBERAR</strong> todos os itens, com exceção de...
                </option>
                <option <?= $regras['equipamento']['item']['regra_primaria'] == '2' ? 'selected="selected"' : '' ?> value="2">
                    <strong>BLOQUEAR</strong> todos os itens, com exceção de...
                </option>
            </select>
        </div>
    </div>
    <br>
    <!--FORMULARIO DE ADIÇÃO DE REGRAS-->
    <div class="row">
        <div class="col-xs-9">
            <label>Item</label>
            <input type="text" name="buscar_item" opcao="2" tipo="5" class="form-control col-xs-12 buscar-item">
        </div>
        <div class="col-xs-3">
            <label>Caráter</label>
            <select name="carater" class="form-control carater">
                <option value="1">Todos</option>
                <option value="2">Periódica</option>
                <option value="3">Aditivo</option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-3">
            <label>Tipo de Validação</label>
            <select name="tipo_validacao" container-target="container-item-equipamento" class="form-control tipo-validacao">
                <option value="">-</option>
                <option value="1">Binária</option>
                <option value="2">Condicional</option>
            </select>
        </div>
        <div class="col-xs-3">
            <label>Campo</label>
            <select name="campo" container-target="container-item-equipamento" disabled class="form-control campo">
                <option value="">-</option>
                <option value="1">Preço</option>
                <option value="2">Quantidade</option>
                <!--<option value="3">Custo</option>-->
            </select>
        </div>
        <div class="col-xs-3">
            <label>Operador</label>
            <select name="operador" disabled class="form-control operador">
                <option value="">-</option>
                <option value="1">=</option>
                <option value="2">></option>
                <option value="3">>=</option>
                <option value="4"><</option>
                <option value="5"><=</option>
            </select>
        </div>
        <div class="col-xs-3">
            <label>Valor de Referência</label>
            <input type="text" name="valor_referencia" disabled class="form-control numeric valor-referencia">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-xs-12 text-center">
            <button type="button" class="btn btn-primary add-regra" container-target="container-item-equipamento" title="Adicionar regra">
                <i class="fa fa-plus-circle"></i> Adicionar Regra
            </button>
        </div>
    </div>

    <br>

    <form id="form-regras-fluxo">
        <div class='row'>
            <div class='col-xs-12'>
                <table class='table table-bordered table-responsive regras-fluxo' container-target="container-item-equipamento">
                    <thead>
                    <tr>
                        <th class="text-center">
                            <input type="checkbox" class="marcar-todos" container-target="container-item-equipamento" title="Marcar todos">
                        </th>
                        <th>Item</th>
                        <th>Caráter</th>
                        <th>Campo</th>
                        <th>Operador</th>
                        <th>Valor de Referência</th>
                        <th class="text-center">
                            <button type="button" class="btn btn-danger remover-regra-selecionados" container-target="container-item-equipamento" title="Remover Selecionados">
                                <i class="fa fa-times-circle"></i>
                            </button>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <?php
                    if(count($regras['equipamento']['item']['itens']) > 0):
                        foreach ($regras['equipamento']['item']['itens'] as $regra):
                            $bgcolor = $regras['equipamento']['item']['regra_primaria'] == '1' ? '#f08080' : '#90ee90';
                            $campo = $regra['campo_comparacao'] != '' ? $regra['campo_comparacao'] : '-';
                            $operador = $regra['operador'] != '' ? $regra['operador'] : '-';
                            if($regra['valor_referencia'] != 0) {
                                $valor_referencia = $regra['campo_comparacao'] == '1' || $regra['campo_comparacao'] == '3' ?
                                    'R$ ' . number_format($regra['valor_referencia'], 2, ',', '.') :
                                    $regra['valor_referencia'];
                            } else {
                                $valor_referencia = '-';
                            }
                            ?>
                            <tr class="vacenter" bgcolor="<?= $bgcolor ?>">
                                <td align="center">
                                    <input type="checkbox" class="marcar-remover">
                                </td>
                                <td>
                                    <?= $regra['nome_item'] ?>
                                    <input type="hidden" name="regra_primaria[]" value="<?= $regras['equipamento']['item']['regra_primaria'] ?>" class="regra-primaria-fluxo">
                                    <input type="hidden" name="regra_fluxo_item[]" value="<?= $regra['item_id'] ?>" class="regra-fluxo-item">
                                    <input type="hidden" name="regra_fluxo_opcao[]" value="2" class="regra-fluxo-opcao">
                                    <input type="hidden" name="regra_fluxo_tipo[]" value="5" class="regra-fluxo-tipo">
                                </td>
                                <td> <?= ucfirst($regra['tipo_solicitacao']) ?>
                                    <input type="hidden" name="regra_fluxo_carater[]" value="<?= $regra['tipo_solicitacao'] ?>" class="regra-fluxo-carater"></td>
                                <td>
                                    <?= $campos[$campo] ?>
                                    <input type="hidden" name="regra_fluxo_tipo_validacao[]" value="<?= $regra['tipo_validacao'] ?>" class="regra-fluxo-tipo-validacao">
                                    <input type="hidden" name="regra_fluxo_campo[]" value="<?= $regra['campo_comparacao'] ?>" class="regra-fluxo-campo">
                                </td>
                                <td>
                                    <?= $operadores[$operador] ?>
                                    <input type="hidden" name="regra_fluxo_operador[]" value="<?= $regra['operador'] ?>" class="regra-fluxo-operador"></td>
                                <td>
                                    <?= $valor_referencia ?>
                                    <input type="hidden" name="regra_fluxo_valor_referencia[]" value="<?= $regra['valor_referencia'] ?>" class="regra-fluxo-valor-referencia">
                                </td>
                                <td align="center">
                                    <button type="button" class="btn btn-danger remover-regra" container-target="container-item-equipamento" title="Remover">
                                        <i class="fa fa-times-circle"></i>
                                    </button>
                                </td>
                            </tr>
                            <?php
                        endforeach;
                    else:
                        ?>
                        <tr align="center" class="nenhuma-regra">
                            <td colspan="10">
                                <strong>Nenhuma regra adicionada.</strong>
                            </td>
                        </tr>
                    <?php endif; ?>
                    </tbody>
                </table>
            </div>
        </div>
    </form>
</div>