.cell-one {
  display: flex;
  flex-direction: row;
  justify-content: space-between;


  .cell__button {
    display: flex;
    margin-left: 10px;
  }

  .cell-button__btn-plus {
    background: #538CCE;
    margin-right: 2px;
  }

  .cell-button__btn-remove {
    background: #b76363;
    margin-right: 2px;
  }


  .cell-button__btn {
    background: #308949;

  }

  .cell-button__btn,
  .cell-button__btn-remove,
  .cell-button__btn-plus {
    border: none;
    width: 21px;
    height: 22px;
    color: #FFF;
    display: flex;
    font-weight: 700;
    justify-content: center;
    align-items: center;
  }

  .td__btn {
    width: 30px;
  }
  .td__percentage {
    width: 40px;
    text-align: right;
  }
  .cell {
    width: calc(100% - 70px);
    display: flex;
    justify-content: space-between;
  }
}



.cell-one {
  background: #accdae;
  &.cell-one_0 {
    background: #9abedd;
  }
}

.cell-tow {
  background: #E4E4E4;
}

.cell-tree {
  background: #F3F3F3;
}
