<?php require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>

<head>
    <meta charset="UTF-8">
    <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php');?>
    <link rel="stylesheet" type="text/css" href="/utils/reports.css">
    <link rel="stylesheet" href="/utils/bootstrap-3.3.6-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/utils/jquery/css/toggle/toggle.css" />
    <link rel="stylesheet" href="/utils/bootstrap-3.3.6-dist/css/chosen.bootstrap.min.css" />
    <link rel="stylesheet" href="/utils/font-awesome-4.7.0/css/font-awesome.css" />
    <link rel="stylesheet" type="text/css" href="/components/cid-10/css/typeahead.css">
</head>
<div id="content">
    <div id="right">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title pull-left" style="padding-top: 7.5px;">
                    <img src='/utils/logos/logo-esus.png' width='50' height='50' />
                    Ficha de Atendimento Domiciliar
                </h3>
            </div>

            <?php
            $display = "none";
            if (isset($_GET['msg']) && !empty($_GET['msg'])) {
                $msg = base64_decode($_GET['msg']);
                $display = "block";
                $class = "alert-danger";
                if (isset($_GET['type']) && $_GET['type'] == 's') {
                    $class = "alert-success";
                }
            }
            ?>

            <div style="display:<?= $display ?> " class="alert <?= $class ?>">
                <strong><?= $msg ?></strong>
            </div>

            <div class="panel-body">
                <form method="post" action="?action=ficha-atendimento-domiciliar">
                    <div id="div-salvar-ficha-atendimento-domiciliar">
                        <div class="panel panel-default">
                            <div class="panel-heading clearfix">
                                <h3 class="panel-title pull-left" style="padding-top: 7.5px;">
                                    <i class="fa fa-list-alt " aria-hidden="true"></i> Informações Gerais</b>
                                </h3>
                            </div>
                            <table class="table table-striped">
                                <tbody>
                                <tr>
                                    <td><b>NOME</b></td>
                                    <td><b>IDADE</b></td>
                                </tr>
                                <tr>
                                    <td>(<?= $paciente['codigo'] ?>) <?= $paciente['nome'] ?></td>
                                    <td><?= $idade ?></td>
                                </tr>
                                <tr>
                                    <td><b>UNIDADE REGIONAL</b></td>
                                    <td><b>MATRÍCULA</b></td>
                                </tr>
                                <tr>
                                    <td><?= $paciente['ur'] ?></td>
                                    <td><?= $paciente['NUM_MATRICULA_CONVENIO'] ?></td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-xs-4">
                                        <label>CNS do Paciente:</label>
                                        <input type="hidden" name="paciente" id='paciente' value="<?= $response['paciente'] ?>" required>
                                        <input type="text" name="paciente_cns" id="paciente-cns" maxlength="15" class="form-control" required value="<?= $paciente['NUM_MATRICULA_CONVENIO'] ?>">
                                    </div>
                                    <div class="col-xs-4">
                                        <label>Data de Nascimento:</label>
                                        <input type="date" name="data_nascimento" id="data_nascimento" class="form-control" required value="<?= $nascimento->format('Y-m-d') ?>">
                                    </div>
                                    <div class="col-xs-4">
                                        <label>Sexo:</label>
                                        <select name="sexo" class="form-control" id='sexo' required>
                                            <option value="">Selecione...</option>
                                            <option <?= $paciente['sexo'] == '0' ? 'selected' : '' ?> value="0">Masculino</option>
                                            <option <?= $paciente['sexo'] == '1' ? 'selected' : '' ?> value="1">Feminino</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <label>Profissional:</label>
                                        <input name="buscar_pessoa_fisica" id="buscar-pessoa-fisica" class="form-control" size="120" type="text" required>
                                        <input name="profissional_nome" type="hidden" class="OBG" id='profissional-nome' value="" required>
                                        <input name="profissional_cpf" type="hidden" class="OBG" id='profissional-cpf' value="" required>
                                        <input name="profissional_cns" type="hidden" class="OBG" id='profissional-cns' value="" required>
                                        <input name="profissional_cbo" type="hidden" class="OBG" id='profissional-cbo' value="" required>
                                        <input name="profissional_ator_id" type="hidden" class="OBG" id='profissional-ator-id' value="" required>
                                        <input name="profissional_ine" type="hidden" id='profissional-ine' value="">
                                        <input name="profissional_cnes" type="hidden" class="OBG" id='profissional-cnes' value="" required>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <label>Local do Atendimento:</label>
                                        <select name="local_atendimento" class="form-control" id='local-atendimento' required>
                                            <option value="">Selecione...</option>
                                            <?php foreach ($locaisAtendimento as $localAtendimento): ?>
                                                <option <?= $localAtendimento['id'] == '4' ? 'selected' : '' ?> value="<?= $localAtendimento['id'] ?>"><?= $localAtendimento['descricao'] ?></option>
                                            <?php endforeach; ?>
                                        </select>
                                    </div>
                                    <div class="col-xs-6">
                                        <label>Modalidade AD:</label>
                                        <select name="modalidade" class="form-control" id='modalidade' required>
                                            <option value="">Selecione...</option>
                                            <option value="1">AD 1</option>
                                            <option value="2">AD 2</option>
                                            <option value="3">AD 3</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-6">
                                        <label>Tipo de Atendimento:</label>
                                        <select name="tipo_atendimento" class="form-control" id='tipo-atendimento' required>
                                            <option value="">Selecione...</option>
                                            <?php foreach ($tiposAtendimento as $tipoAtendimento): ?>
                                                <option <?= $tipoAtendimento['codigo'] == '7' ? 'selected' : '' ?> value="<?= $tipoAtendimento['codigo'] ?>"><?= $tipoAtendimento['descricao'] ?></option>
                                            <?php endforeach; ?>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading clearfix">
                                <h3 class="panel-title pull-left" style="padding-top: 7.5px;">
                                    <i class="fa fa-list-alt " aria-hidden="true"></i>
                                    Data(s) da(s) Visita(s)
                                    <button class="btn btn-sm btn-primary add-data-visita" type="button" role="button" title="Adicionar">
                                        <i class="fa fa-plus-circle"></i>
                                    </button>
                                </h3>
                            </div>
                            <div class="panel-body">
                                <div class="alert alert-info">
                                    <i class="fa fa-info-circle"></i> Se você desejar que as informações se repliquem por várias visitas,
                                    adicione uma ou mais datas de visita clicando no <i class="fa fa-plus-circle"></i>.
                                </div>
                                <div class="row data-visita-div">
                                    <div class="col-xs-6">
                                        <label>Data da Visita:</label>
                                        <input type="date" name="data_visita[]" class="form-control data-visita OBG" required value="<?= $response['data_visita'] ?>">
                                        <label>Turno:</label>
                                        <select name="turno[]" class="form-control" id='turno' required>
                                            <option value="">Selecione...</option>
                                            <?php foreach ($turnos as $turno): ?>
                                                <option value="<?= $turno['id'] ?>"><?= mb_strtoupper($turno['descricao'], 'UTF8') ?></option>
                                            <?php endforeach; ?>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading clearfix">
                                <h3 class="panel-title pull-left" style="padding-top: 7.5px;">
                                    <i class="fa fa-list-alt " aria-hidden="true"></i> Condições Avaliadas</b>
                                </h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <table class="table table-responsive" style="border: 0;">
                                            <tbody>
                                            <tr>
                                                <?php
                                                $i = 1;
                                                foreach ($condicoesAvaliadas as $index => $condicoesAvaliada):
                                                    $keys = array_keys($condicoesAvaliadas);
                                                    $colspan = $index == end($keys) && $i % 2 != 0 ? 'colspan="2"' : '';
                                                    ?>
                                                    <td <?= $colspan ?>>
                                                        <input name="condicoes_avaliadas[]" id='condicoes-avaliadas-<?= $condicoesAvaliada['id'] ?>' type="checkbox"
                                                               data-toggle="toggle" data-on="Sim" data-off="Não" data-onstyle="success"
                                                               data-offstyle="danger" data-size="small" class="bt-toggle condicoes-avaliadas" value="<?= $condicoesAvaliada['id'] ?>">
                                                        <?= $condicoesAvaliada['descricao'] ?>
                                                    </td>
                                                    <?php
                                                    echo $i % 2 == 0 ? '</tr><tr>' : '';
                                                    $i++;
                                                endforeach;
                                                ?>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col-xs-12">
                                        <label>CID10:</label>
                                        <input name="buscar_cid_10" id="buscar-cid-10" cid10="" descricao="" class="form-control" size="90" type="text">
                                        <button class="btn btn-sm btn-primary add-cid-10" type="button" role="button" title="Adicionar">
                                            <i class="fa fa-plus-circle"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <table class="table table-responsive table-bordered table-striped">
                                            <thead>
                                            <tr>
                                                <th width="5%"></th>
                                                <th width="10%">CID10</th>
                                                <th>DESCRIÇÃO</th>
                                            </tr>
                                            </thead>
                                            <tbody class="cid-10-itens">
                                            <?php if($paciente['diagnostico'] != ''): ?>
                                            <tr>
                                                <td>
                                                        <button class="btn btn-sm btn-danger remove-cid-10" type="button" role="button" title="Remover">
                                                            <i class="fa fa-times-circle"></i>
                                                        </button>
                                                </td>
                                                <td>
                                                    <?= $paciente['diagnostico'] ?>
                                                    <input name="cid10[]" type="hidden" value="<?= $paciente['diagnostico'] ?>">
                                                </td>
                                                <td><?= mb_strtoupper($paciente['descricao_cid10'], 'UTF8') ?></td>
                                            </tr>
                                            <?php endif; ?>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col-xs-12">
                                        <label>CIAP2:</label>
                                        <select name="ciap2[]" data-placeholder="Selecione uma ou mais opções..." class="form-control chosen-select" multiple id='ciap2'>
                                            <?php foreach ($ciaps as $ciap): ?>
                                                <option value="<?= $ciap['co_ciap'] ?>"><?= $ciap['ds_ciap'] ?></option>
                                            <?php endforeach; ?>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading clearfix">
                                <h3 class="panel-title pull-left" style="padding-top: 7.5px;">
                                    <i class="fa fa-list-alt " aria-hidden="true"></i> Procedimentos</b>
                                </h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <table class="table table-responsive" style="border: 0;">
                                            <tbody>
                                            <?php
                                            $i = 1;
                                            foreach ($procedimentos as $index => $procedimento):
                                                $keys = array_keys($procedimentos);
                                                $colspan = $index == end($keys) && $i % 2 != 0 ? 'colspan="2"' : '';
                                                ?>
                                                <td <?= $colspan ?>>
                                                    <input name="procedimentos[]" id='procedimentos-<?= $procedimento['id'] ?>' type="checkbox"
                                                           data-toggle="toggle" data-on="Sim" data-off="Não" data-onstyle="success"
                                                           data-offstyle="danger" data-size="small" class="bt-toggle procedimentos" value="<?= $procedimento['id'] ?>">
                                                    <?= $procedimento['descricao'] ?>
                                                </td>
                                                <?php
                                                echo $i % 2 == 0 ? '</tr><tr>' : '';
                                                $i++;
                                            endforeach;
                                            ?>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <h4 style="margin-left: 15px;">Outros Procedimentos</h4>
                                    <div class="col-xs-12">
                                        <label>Código SIGTAP:</label>
                                        <input name="buscar_sigtap" id="buscar-sigtap" sigtap="" codigo="" descricao="" class="form-control" size="80" type="text">
                                        <button class="btn btn-sm btn-primary add-sigtap" type="button" role="button" title="Adicionar">
                                            <i class="fa fa-plus-circle"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <table class="table table-responsive table-bordered table-striped">
                                            <thead>
                                            <tr>
                                                <th width="5%"></th>
                                                <th width="20%">CODIGO SIGTAP</th>
                                                <th>DESCRIÇÃO</th>
                                            </tr>
                                            </thead>
                                            <tbody class="sigtap-itens">
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading clearfix">
                            <h3 class="panel-title pull-left" style="padding-top: 7.5px;">
                                <i class="fa fa-list-alt " aria-hidden="true"></i> Conduta/Desfecho</b>
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-12">
                                    <select name="conduta_desfecho" class="form-control" id='conduta-desfecho' required>
                                        <option value="">Selecione...</option>
                                        <option value="7">Permanência</option>
                                        <option value="3">Alta Administrativa</option>
                                        <option value="1">Alta Clínica</option>
                                        <option value="9">Óbito</option>
                                        <optgroup label="Encaminhamento">
                                            <option value="2">Atenção Básica (AD 1)</option>
                                            <option value="4">Serviço de Urgência e Emergência</option>
                                            <option value="5">Serviço de Internação Hspitalar</option>
                                        </optgroup>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 text-center">
                        <div class="form-group">
                            <button type="submit" id="salvar-ficha-atendimento-domiciliar" class='btn btn-primary'>
                                Salvar
                            </button>
                            <a href="/adm/secmed/esus/?action=buscar-ficha-atendimento-domiciliar" class='btn btn-warning'>
                                Cancelar
                            </a>
                        </div>
                    </div>
            </div>
            </form>
        </div>
    </div>
</div>
</div>
<script type="text/javascript" src="/utils/bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/utils/jquery/summernote/summernote.js"></script>
<script type="text/javascript" src="/utils/jquery/summernote/lang/summernote-pt-BR.js"></script>
<script type="text/javascript" src="/adm/esus/templates/ficha-atendimento-domiciliar/js/main.js?v=1.2"></script>
<script type="text/javascript" src="/utils/jquery/js/validar_campos.js"></script>
<script type="text/javascript" src="/utils/jquery/js/bootstrap-toggle.min.js"></script>
<script type="text/javascript" src="/components/cid-10/js/typeahead.js?v=1"></script>
<div id="left">
    <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
</div>

</body>

</html>