<?php require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>

<head>
    <meta charset="UTF-8">
    <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php');?>
    <link rel="stylesheet" type="text/css" href="/utils/reports.css">
    <link rel="stylesheet" href="/utils/bootstrap-3.3.6-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/utils/jquery/css/toggle/toggle.css" />
    <link rel="stylesheet" href="/utils/bootstrap-3.3.6-dist/css/chosen.bootstrap.min.css" />
    <link rel="stylesheet" href="/utils/font-awesome-4.7.0/css/font-awesome.css" />
    <link rel="stylesheet" type="text/css" href="/components/cid-10/css/typeahead.css">
</head>
<div id="content">
    <div id="right">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title pull-left" style="padding-top: 7.5px;">
                    <img src='/utils/logos/logo-esus.png' width='50' height='50' />
                    Ficha de Atendimento Domiciliar <?= $subtitle ?>
                </h3>
            </div>

            <?php
            $display = "none";
            if (isset($_GET['msg']) && !empty($_GET['msg'])) {
                $msg = base64_decode($_GET['msg']);
                $display = "block";
                $class = "alert-danger";
                if (isset($_GET['type']) && $_GET['type'] == 's') {
                    $class = "alert-success";
                }
            }
            ?>

            <div style="display:<?= $display ?> " class="alert <?= $class ?>">
                <strong>
                    <?= $msg ?></strong>
            </div>

            <div class="panel-body">
                <form method="post" action="?action=ficha-atendimento-domiciliar-editar">
                    <div id="div-salvar-ficha-atendimento-domiciliar">
                        <div class="panel panel-default">
                            <div class="panel-heading clearfix">
                                <h3 class="panel-title pull-left" style="padding-top: 7.5px;">
                                    <i class="fa fa-list-alt " aria-hidden="true"></i> Informações Gerais</b>
                                </h3>
                            </div>
                            <table class="table table-striped">
                                <tbody>
                                <tr>
                                    <td><b>NOME</b></td>
                                    <td><b>IDADE</b></td>
                                </tr>
                                <tr>
                                    <td>(<?= $paciente['codigo'] ?>) <?= $paciente['nome'] ?></td>
                                    <td><?= $idade ?></td>
                                </tr>
                                <tr>
                                    <td><b>UNIDADE REGIONAL</b></td>
                                    <td><b>MATRÍCULA</b></td>
                                </tr>
                                <tr>
                                    <td><?= $paciente['ur'] ?></td>
                                    <td><?= $paciente['NUM_MATRICULA_CONVENIO'] ?></td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-xs-4">
                                        <label>CNS do Paciente:</label>
                                        <input type="hidden" name="ficha_id" id='ficha_id' value="<?= $fichaId ?>" required>
                                        <input type="hidden" name="mode" id='mode' value="<?= $modo ?>" required>
                                        <input type="hidden" name="paciente" id='paciente' value="<?= $response['paciente_id'] ?>" required>
                                        <input type="text" name="paciente_cns" id="paciente-cns" maxlength="15" class="form-control" <?= $disabled ?> required value="<?= $response['paciente_cns'] ?>">
                                    </div>
                                    <div class="col-xs-4">
                                        <label>Data de Nascimento:</label>
                                        <input type="date" name="data_nascimento" id="data_nascimento" class="form-control" <?= $disabled ?> required value="<?= $response['data_nascimento'] ?>">
                                    </div>
                                    <div class="col-xs-4">
                                        <label>Sexo:</label>
                                        <select name="sexo" class="form-control" id='sexo' <?= $disabled ?> required>
                                            <option value="">Selecione...</option>
                                            <option <?= $response['sexo'] == '0' ? 'selected' : '' ?> value="0">Masculino</option>
                                            <option <?= $response['sexo'] == '1' ? 'selected' : '' ?> value="1">Feminino</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <label>Profissional:</label>
                                        <input name="buscar_pessoa_fisica" id="buscar-pessoa-fisica" class="form-control" size="120" type="text" <?= $disabled ?> value="<?= $response['value'] ?>" required>
                                        <input name="profissional_nome" type="hidden" class="OBG" id='profissional-nome' value="<?= $response['profissional_nome'] ?>" required>
                                        <input name="profissional_cpf" type="hidden" class="OBG" id='profissional-cpf' value="<?= $response['profissional_cpf'] ?>" required>
                                        <input name="profissional_cns" type="hidden" class="OBG" id='profissional-cns' value="<?= $response['profissional_cns'] ?>" required>
                                        <input name="profissional_cbo" type="hidden" class="OBG" id='profissional-cbo' value="<?= $response['profissional_cbo'] ?>" required>
                                        <input name="profissional_ator_id" type="hidden" class="OBG" id='profissional-ator-id' value="<?= $response['profissional_ator_id'] ?>" required>
                                        <input name="profissional_ine" type="hidden" id='profissional-ine' value="<?= $response['profissional_ine'] ?>">
                                        <input name="profissional_cnes" type="hidden" class="OBG" id='profissional-cnes' value="<?= $response['profissional_cnes'] ?>" required>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <label>Local do Atendimento:</label>
                                        <select name="local_atendimento" class="form-control" id='local-atendimento' <?= $disabled ?> required>
                                            <option value="">Selecione...</option>
                                            <?php foreach ($locaisAtendimento as $localAtendimento): ?>
                                                <option <?= $localAtendimento['id'] == $response['local_atendimento'] ? 'selected' : '' ?> value="<?= $localAtendimento['id'] ?>"><?= $localAtendimento['descricao'] ?></option>
                                            <?php endforeach; ?>
                                        </select>
                                    </div>
                                    <div class="col-xs-6">
                                        <label>Modalidade AD:</label>
                                        <select name="modalidade" class="form-control" id='modalidade' <?= $disabled ?> required>
                                            <option value="">Selecione...</option>
                                            <option <?= $response['modalidade'] == '1' ? 'selected' : '' ?> value="1">AD 1</option>
                                            <option <?= $response['modalidade'] == '2' ? 'selected' : '' ?> value="2">AD 2</option>
                                            <option <?= $response['modalidade'] == '3' ? 'selected' : '' ?> value="3">AD 3</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-6">
                                        <label>Tipo de Atendimento:</label>
                                        <select name="tipo_atendimento" class="form-control" id='tipo-atendimento' <?= $disabled ?> required>
                                            <option value="">Selecione...</option>
                                            <?php foreach ($tiposAtendimento as $tipoAtendimento): ?>
                                                <option <?= $tipoAtendimento['codigo'] == $response['tipo_atendimento'] ? 'selected' : '' ?> value="<?= $tipoAtendimento['codigo'] ?>"><?= $tipoAtendimento['descricao'] ?></option>
                                            <?php endforeach; ?>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading clearfix">
                                <h3 class="panel-title pull-left" style="padding-top: 7.5px;">
                                    <i class="fa fa-list-alt " aria-hidden="true"></i>
                                    Data da Visita
                                </h3>
                            </div>
                            <div class="panel-body">
                                <div class="row data-visita-div">
                                    <div class="col-xs-6">
                                        <label>Data da Visita:</label>
                                        <input type="date" name="data_visita" class="form-control data-visita OBG" <?= $disabled ?> required value="<?= $response['data_visita'] ?>">
                                    </div>
                                    <div class="col-xs-6">
                                        <label>Turno:</label>
                                        <select name="turno" class="form-control" id='turno' <?= $disabled ?> required>
                                            <option value="">Selecione...</option>
                                            <?php foreach ($turnos as $turno): ?>
                                                <option <?= $turno['id'] == $response['turno'] ? 'selected' : '' ?> value="<?= $turno['id'] ?>"><?= mb_strtoupper($turno['descricao'], 'UTF8') ?></option>
                                            <?php endforeach; ?>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading clearfix">
                                <h3 class="panel-title pull-left" style="padding-top: 7.5px;">
                                    <i class="fa fa-list-alt " aria-hidden="true"></i> Condições Avaliadas</b>
                                </h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <table class="table table-responsive" style="border: 0;">
                                            <tbody>
                                            <tr>
                                                <?php
                                                $i = 1;
                                                foreach ($condicoesAvaliadas as $index => $condicoesAvaliada):
                                                    $keys = array_keys($condicoesAvaliadas);
                                                    $colspan = $index == end($keys) && $i % 2 != 0 ? 'colspan="2"' : '';
                                                    ?>
                                                    <td <?= $colspan ?>>
                                                        <input name="condicoes_avaliadas[]" id='condicoes-avaliadas-<?= $condicoesAvaliada['id'] ?>' type="checkbox"
                                                               data-toggle="toggle" data-on="Sim" data-off="Não" data-onstyle="success" <?= $disabled ?>
                                                               data-offstyle="danger" data-size="small" class="bt-toggle condicoes-avaliadas"
                                                            <?= isset($response['condicoes_avaliadas']) && in_array($condicoesAvaliada['id'], $response['condicoes_avaliadas']) ? 'checked' : '' ?> value="<?= $condicoesAvaliada['id'] ?>">
                                                        <?= $condicoesAvaliada['descricao'] ?>
                                                    </td>
                                                    <?php
                                                    echo $i % 2 == 0 ? '</tr><tr>' : '';
                                                    $i++;
                                                endforeach;
                                                ?>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col-xs-12">
                                        <label>CID10:</label>
                                        <input name="buscar_cid_10" id="buscar-cid-10" cid10="" descricao="" <?= $disabled ?> class="form-control" size="90" type="text">
                                        <?php if($disabled == ''): ?>
                                            <button class="btn btn-sm btn-primary add-cid-10" type="button" role="button" title="Adicionar">
                                                <i class="fa fa-plus-circle"></i>
                                            </button>
                                        <?php endif; ?>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <table class="table table-responsive table-bordered table-striped">
                                            <thead>
                                            <tr>
                                                <th width="5%"></th>
                                                <th width="10%">CID10</th>
                                                <th>DESCRIÇÃO</th>
                                            </tr>
                                            </thead>
                                            <tbody class="cid-10-itens">
                                            <?php
                                            if(isset($response['cid10'])):
                                                foreach ($response['cid10'] as $cid10):
                                                    ?>
                                                    <tr>
                                                        <td>
                                                            <?php if($disabled == ''): ?>
                                                                <button class="btn btn-sm btn-danger remove-cid-10" type="button" role="button" title="Remover">
                                                                    <i class="fa fa-times-circle"></i>
                                                                </button>
                                                            <?php endif; ?>
                                                        </td>
                                                        <td>
                                                            <?= $cid10['cid10'] ?>
                                                            <input name="cid10[]" type="hidden" value="<?= $cid10['cid10'] ?>">
                                                        </td>
                                                        <td><?= mb_strtoupper($cid10['descricao'], 'UTF8') ?></td>
                                                    </tr>
                                                <?php
                                                endforeach;
                                            endif;
                                            ?>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col-xs-12">
                                        <label>CIAP2:</label>
                                        <select name="ciap2[]" data-placeholder="Selecione uma ou mais opções..." <?= $disabled ?> class="form-control chosen-select" multiple id='ciap2'>
                                            <?php foreach ($ciaps as $ciap): ?>
                                                <option <?= isset($response['ciap2']) && in_array($ciap['co_ciap'], $response['ciap2']) ? 'selected' : '' ?> value="<?= $ciap['co_ciap'] ?>"><?= $ciap['ds_ciap'] ?></option>
                                            <?php endforeach; ?>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading clearfix">
                                <h3 class="panel-title pull-left" style="padding-top: 7.5px;">
                                    <i class="fa fa-list-alt " aria-hidden="true"></i> Procedimentos</b>
                                </h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <table class="table table-responsive" style="border: 0;">
                                            <tbody>
                                            <?php
                                            $i = 1;
                                            foreach ($procedimentos as $index => $procedimento):
                                                $keys = array_keys($procedimentos);
                                                $colspan = $index == end($keys) && $i % 2 != 0 ? 'colspan="2"' : '';
                                                ?>
                                                <td <?= $colspan ?>>
                                                    <input name="procedimentos[]" id='procedimentos-<?= $procedimento['id'] ?>' type="checkbox"
                                                           data-toggle="toggle" data-on="Sim" data-off="Não" data-onstyle="success" <?= $disabled ?>
                                                           data-offstyle="danger" data-size="small" class="bt-toggle procedimentos"
                                                        <?= isset($response['procedimentos']) && in_array($procedimento['id'], $response['procedimentos']) ? 'checked' : '' ?> value="<?= $procedimento['id'] ?>">
                                                    <?= $procedimento['descricao'] ?>
                                                </td>
                                                <?php
                                                echo $i % 2 == 0 ? '</tr><tr>' : '';
                                                $i++;
                                            endforeach;
                                            ?>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <h4 style="margin-left: 15px;">Outros Procedimentos</h4>
                                    <div class="col-xs-12">
                                        <label>Código SIGTAP:</label>
                                        <input name="buscar_sigtap" id="buscar-sigtap" sigtap="" codigo="" descricao="" <?= $disabled ?> class="form-control" size="80" type="text">
                                        <?php if($disabled == ''): ?>
                                            <button class="btn btn-sm btn-primary add-sigtap" type="button" role="button" title="Adicionar">
                                                <i class="fa fa-plus-circle"></i>
                                            </button>
                                        <?php endif; ?>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <table class="table table-responsive table-bordered table-striped">
                                            <thead>
                                            <tr>
                                                <th width="5%"></th>
                                                <th width="20%">CODIGO SIGTAP</th>
                                                <th>DESCRIÇÃO</th>
                                            </tr>
                                            </thead>
                                            <tbody class="sigtap-itens">
                                            <?php
                                            if(isset($response['outros_procedimentos'])):
                                                foreach ($response['outros_procedimentos'] as $sigtap):
                                                    ?>
                                                    <tr>
                                                        <td>
                                                            <?php if($disabled == ''): ?>
                                                                <button class="btn btn-sm btn-danger remove-sigtap" type="button" role="button" title="Remover">
                                                                    <i class="fa fa-times-circle"></i>
                                                                </button>
                                                            <?php endif; ?>
                                                        </td>
                                                        <td>
                                                            <?= $sigtap['codigo'] ?>
                                                            <input name="sigtap[]" type="hidden" value="<?= $sigtap['sigtap_id'] ?>">
                                                        </td>
                                                        <td><?= mb_strtoupper($sigtap['descricao'], 'UTF8') ?></td>
                                                    </tr>
                                                <?php
                                                endforeach;
                                            endif;
                                            ?>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading clearfix">
                            <h3 class="panel-title pull-left" style="padding-top: 7.5px;">
                                <i class="fa fa-list-alt " aria-hidden="true"></i> Conduta/Desfecho</b>
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-12">
                                    <select name="conduta_desfecho" <?= $disabled ?> class="form-control" id='conduta-desfecho' required>
                                        <option value="">Selecione...</option>
                                        <option <?= $response['conduta_desfecho'] == '7' ? 'selected' : '' ?> value="7">Permanência</option>
                                        <option <?= $response['conduta_desfecho'] == '3' ? 'selected' : '' ?> value="3">Alta Administrativa</option>
                                        <option <?= $response['conduta_desfecho'] == '1' ? 'selected' : '' ?> value="1">Alta Clínica</option>
                                        <option <?= $response['conduta_desfecho'] == '9' ? 'selected' : '' ?> value="9">Óbito</option>
                                        <optgroup label="Encaminhamento">
                                            <option <?= $response['conduta_desfecho'] == '2' ? 'selected' : '' ?> value="2">Atenção Básica (AD 1)</option>
                                            <option <?= $response['conduta_desfecho'] == '4' ? 'selected' : '' ?> value="4">Serviço de Urgência e Emergência</option>
                                            <option <?= $response['conduta_desfecho'] == '5' ? 'selected' : '' ?> value="5">Serviço de Internação Hspitalar</option>
                                        </optgroup>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 text-center">
                        <div class="form-group">
                            <?php if($disabled == ''): ?>
                                <button type="submit" id="salvar-ficha-atendimento-domiciliar" class='btn btn-primary'>
                                    Salvar
                                </button>
                            <?php endif; ?>
                            <a href="/adm/secmed/esus/?action=buscar-ficha-atendimento-domiciliar" class='btn btn-warning'>
                                Cancelar
                            </a>
                        </div>
                    </div>
            </div>
            </form>
        </div>
    </div>
</div>
</div>
<script type="text/javascript" src="/utils/bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/utils/jquery/summernote/summernote.js"></script>
<script type="text/javascript" src="/utils/jquery/summernote/lang/summernote-pt-BR.js"></script>
<script type="text/javascript" src="/adm/esus/templates/ficha-atendimento-domiciliar/js/main.js?v=1.2"></script>
<script type="text/javascript" src="/utils/jquery/js/validar_campos.js"></script>
<script type="text/javascript" src="/utils/jquery/js/bootstrap-toggle.min.js"></script>
<script type="text/javascript" src="/components/cid-10/js/typeahead.js?v=1"></script>
<div id="left">
    <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
</div>
</body>
</html>
