<?php require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>
<head>
    <meta charset="UTF-8">
    <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php'); ?>
    <link rel="stylesheet" type="text/css" href="/utils/reports.css">
    <link rel="stylesheet" href="/utils/bootstrap-3.3.6-dist/css/bootstrap.min.css" />
    <script src="/utils/bootstrap-3.3.6-dist/js/bootstrap.min.js" ></script>
    <link rel="stylesheet" href="/utils/font-awesome-4.7.0/css/font-awesome.css" />
    <style type="text/css">
        .modal-dialog {
            width: 960px;
        }
    </style>
</head>
<div id="content">
    <div id="right">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title pull-left" style="padding-top: 7.5px;">
                    <img src='/utils/logos/logo-esus.png' width='50' height='50' /> (ESUS) Buscar Fichas de Atendimento Domiciliar
                </h3>
            </div>
            <div class="panel-body" id="div-buscar-ficha-atendimendo-domiciliar">
                <form method="post" action="/adm/esus/?action=buscar-ficha-atendimento-domiciliar">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="paciente">Paciente:</label>
                                <select name="paciente" class="chosen-select form-control" id='paciente'>
                                    <option value="">Selecione...</option>
                                    <?php foreach($pacientes as $paciente): ?>
                                        <option <?= isset($data['paciente']) && $data['paciente'] === $paciente['id'] ? "selected" : "" ?> value="<?= $paciente['id'] ?>">(<?= $paciente['codigo'] ?>) <?= strtoupper($paciente['nome']) ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="periodo">Inicio:</label>
                                <input name="inicio" id="inicio" type="date" class="form-control" value='<?= isset($data['inicio'])  ? $data['inicio'] : "" ?>' required>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="periodo">Fim:</label>
                                <input name="fim" id="fim" type="date" class="form-control" value='<?= isset($data['fim'])  ? $data['fim'] : "" ?>' required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <div class="form-group">
                                <button type="submit" class='btn btn-primary' id="buscar-ficha-atendimento-domiciliar">
                                    <i class="fa fa-search"></i> Pesquisar
                                </button>
                                <button type="button" role="button" class='btn btn-success' id="nova-ficha-atendimento-domiciliar">
                                    <i class="fa fa-plus-square-o"></i> Novo
                                </button>
                                <button type="button" role="button" class='btn btn-success' id="xml-ficha-atendimento-domiciliar">
                                    <i class="fa fa-file-zip-o"></i> Gerar Lote XML
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-12">
                <?php
                if(isset($response)):
                    if(empty($response)) : ?>
                        <h4 class="text-center">Nenhum ficha de atendimento encontrada.</h4>
                    <?php
                    else:
                        if(is_array($response)): ?>
                            <table class='table'>
                                <thead>
                                <tr>
                                    <th>Paciente/CNS</th>
                                    <th>Profissional</th>
                                    <th>Data Visita/Turno</th>
                                    <th>Criado Em</th>
                                    <th>Criado Por</th>
                                    <th>Emitido</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <?php
                                foreach($response as $row):
                                    $dataVisita = \DateTime::createFromFormat('Y-m-d', $row['data_visita'])->format('d/m/Y');
                                    $criadoEm = \DateTime::createFromFormat('Y-m-d H:i:s', $row['created_at'])->format('d/m/Y à\s H:i:s');
                                    ?>
                                    <tr id="tr-ficha-<?= $row['id'] ?>">
                                        <td><?= $row['paciente'] ?> - <?= $row['paciente_cns'] ?></td>
                                        <td><small><?= $row['profissional'] ?></small></td>
                                        <td><?= $dataVisita ?> / <?= $turnos[$row['turno']] ?></td>
                                        <td><?= $criadoEm ?></td>
                                        <td><?= $row['criado_por'] ?></td>
                                        <td style="color: <?= $row['emitido_xml'] == '0' ? '#ff8c00' : '#006400' ?>">
                                            <b><?= $row['emitido_xml'] == '0' ? 'Não' : 'Sim' ?></b>
                                        </td>
                                        <td>
                                            <div class="btn-group">
                                                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                    Ações
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu pull-left" style="left: 0;" aria-labelledby="dropdownMenu1">
                                                    <li><a href="/adm/esus/?action=ficha-atendimento-domiciliar-editar&id=<?= $row['id'] ?>&mode=v" target="_blank"><i class="fa fa-eye"></i> Visualizar</a></li>
                                                    <li><a href="/adm/esus/?action=ficha-atendimento-domiciliar-editar&id=<?= $row['id'] ?>&mode=e" target="_blank"><i class="fa fa-edit"></i> Editar</a></li>
                                                    <li><a href="#" class="excluir-ficha-atendimento" ficha-id="<?= $row['id'] ?>"><i class="fa fa-times-circle-o"></i> Excluir</a></li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                <?php endforeach; ?>
                            </table>
                        <?php else: ?>
                            <span class="text-center"><b><?=$response ?></b></span>
                        <?php
                        endif;
                    endif;
                endif;
                ?>
            </div>
        </div>

        <!-- Modal Autorizações -->
        <div class="modal fade"
             id="modal-ficha-atendimento"
             tabindex="-1"
             role="dialog"
             data-backdrop="static"
             data-keyboard="false"
             aria-labelledby="modalAutorizarLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="modalAutorizarLabel">Autorizar Itens</h4>
                    </div>
                    <div class="modal-body">
                        <form name="form-modal-ficha-atendimento" id="form-modal-ficha-atendimento" action="/adm/esus/?action=lote-xml" target="_blank" method="post">
                            <input type="hidden" name="inicio" id="inicio-modal" value="">
                            <input type="hidden" name="fim" id="fim-modal" value="">
                            <div class="row" style="margin-top: 10px;">
                                <div class="col-lg-12">
                                    <table class="table table-responsive table-bordered table-hover table-striped lista-fichas-atendimento">
                                        <thead>
                                        <tr>
                                            <th><input type="checkbox" checked class="check-all"></th>
                                            <th>Paciente/CNS</th>
                                            <th>Profissional</th>
                                            <th>Data Visita/Turno</th>
                                            <th>Criado Em</th>
                                            <th>Criado Por</th>
                                            <th>Emitido</th>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 text-center">
                                    <button type="submit" class="btn btn-success" id="gerar-lote-xml">Gerar Lote</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-warning" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="left">
        <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
    </div>
</div>
<script type="text/javascript" src="/utils/jquery/js/validar_campos.js"></script>
<script type="text/javascript" src="/adm/esus/templates/ficha-atendimento-domiciliar/js/main.js?v=1.2"></script>
<script type="text/javascript" src="/components/cid-10/js/typeahead.js?v=1"></script>
</body>
</html>