.loading {
    text-align: center;
    min-height: calc(100vh - 220px);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    .component-load__text {
        margin: 0 0 0 13px;
    }
}