<?php require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>
<head>

    <meta charset="UTF-8">
    <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php');?>
    <link rel="stylesheet" type="text/css" href="/utils/reports.css">
    <link rel="stylesheet" href="/utils/bootstrap-3.3.6-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/utils/jquery/css/toggle/toggle.css" />
    <link rel="stylesheet" href="/utils/bootstrap-3.3.6-dist/css/chosen.bootstrap.min.css" />
    <link rel="stylesheet" href="/utils/font-awesome-4.7.0/css/font-awesome.css" />

    <style type="text/css">
        .tree,
        .tree ul {
            font:normal normal 13px/1.4 Segoe,"Segoe UI",Calibri,Helmet,FreeSans,Sans-Serif;
            margin:0;
            padding:0;
            list-style:none;
        }
        .tree ul {
            margin-left:1em;
            position:relative;
        }

        .tree ul ul {margin-left:.5em}

        .tree ul:before {
            content:"";
            display:block;
            width:0;
            position:absolute;
            top:0;
            bottom:0;
            left:0;
            border-left:1px solid;
        }
        li.income{
            color:#00CC00;
        }
        li.expense{
            color:#800000;
        }
        li.blue{
            color:#0044CC;
        }
        li.purple{
            color:#eea236;
        }
        .tree li {
            margin:0;
            padding:0 1.5em;
            line-height:2em;
            font-weight:bold;
            position:relative;
        }
        .tree ul li:before {
            content:"";
            display:block;
            width:10px;
            height:0;
            border-top:1px solid;
            margin-top:-1px;
            position:absolute;
            top:1em;
            left:0;
        }
        .tree ul li:last-child:before {
            background:white;
            height:auto;
            top:1em;
            bottom:0;
        }
    </style>
</head>
<div id="content">
    <div id="right">
        <form method="post" action="?action=usuario-editar">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title pull-left" style="padding-top: 7.5px;">
                        <i class="fa fa-list-alt " aria-hidden="true"></i> Cadastrar Usuário</b>
                    </h3>
                </div>

                <?php
                $display = "none";
                if(isset($_GET['msg']) && !empty($_GET['msg'])) {
                    $msg = $_GET['msg'];
                    $type = $_GET['type'];
                    $display = "block";
                    $class = "alert-danger";
                    if ($type == 's') {
                        $class = "alert-success";
                    }
                }
                ?>

                <div style="display:<?= $display ?> " class="alert <?= $class ?>">
                    <strong><?= $msg ?></strong>
                </div>

                <input id="id" name="id" type="hidden" value="<?= $usuario['idUsuarios'] ?>">

                <div class="panel-body">
                    <div id="div-salvar-usuario">
                        <div class="row">
                            <div class="col-lg-6">
                                <label for="nome">Nome:</label>
                                <input id="nome" name="nome" class="form-control OBG" required="required" type="text" value="<?= $usuario['nome'] ?>">
                            </div>
                            <div class="col-lg-6">
                                <label for="login">Login:</label>
                                <input id="login" name="login" class="form-control OBG" required type="text" value="<?= $usuario['login'] ?>">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-lg-6">
                                <label for="senha">Senha:</label>
                                <div class="input-group">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" id="gerar-senha" type="button" title="Gerar senha">
                                            Gerar Senha
                                        </button>
                                    </span>
                                    <input id="senha" name="senha" class="form-control " type="password">
                                </div>
                                <small id="senha-gerador" style="display: none;" class="form-text text-muted">12124ABC</small>
                            </div>
                            <div class="col-lg-6">
                                <label for="confirmar">Confirmar Senha:</label>
                                <input id="confirmar" name="confirmar" class="form-control " type="password">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-lg-6">
                                <label for="conselho_regional">Conselho Regional:</label>
                                <select name="conselho_regional" class="form-control" id='conselho_regional'>
                                    <option value="">Selecione...</option>
                                    <?php foreach($conselhos as $conselho): ?>
                                        <option <?= isset($usuario['conselho_regional_id']) && $usuario['conselho_regional_id'] == $conselho['id'] ? "selected" : "" ?> value="<?= $conselho['id'] ?>"><?= strtoupper($conselho['conselho']) . " (" . $conselho['sigla'] . ")" ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                            <div class="col-lg-6">
                                <label for="num-registro">Número do Registro:</label>
                                <input id="num-registro" name="num_registro" class="form-control" type="text" value="<?= $usuario['numero_conselho_regional'] ?>">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-lg-6">
                                <label for="empresa-principal">Empresa Principal:</label>
                                <select name="empresa_principal" class="chosen-select form-control OBG_CHOSEN" id='empresa-principal' data-placeholder="Selecione uma ou mais URs...">
                                    <option value="">Selecione...</option>
                                    <?php foreach($urs as $ur): ?>
                                        <option <?= isset($usuario['empresa']) && $ur['id'] == $usuario['empresa'] ? "selected" : "" ?> value="<?= $ur['id'] ?>"><?= strtoupper($ur['nome']) ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                            <div class="col-lg-6">
                                <label for="ur">Empresas:</label>
                                <select name="ur[]" multiple class="chosen-select form-control " id='ur' data-placeholder="Selecione uma ou mais URs...">
                                    <?php foreach($urs as $ur): ?>
                                        <option
                                            <?= $ur['id'] == $usuario['empresa'] ? "disabled" : "" ?>
                                            <?= isset($usuario['empresas']) && in_array($ur['id'], $usuario['empresas']) ? "selected" : "" ?> value="<?= $ur['id'] ?>"><?= strtoupper($ur['nome']) ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-lg-6">
                                <label for="perfil">Perfil:</label>
                                <select name="perfil" class="form-control OBG" id='perfil' required>
                                    <option value="">Selecione...</option>
                                    <option <?= $usuario['tipo'] == 'administrativo' ? "selected" : "" ?> value="administrativo">Administrativo</option>
                                    <option <?= $usuario['tipo'] == 'enfermagem' ? "selected" : "" ?> value="enfermagem">Enfermagem</option>
                                    <option <?= $usuario['tipo'] == 'financeiro' ? "selected" : "" ?> value="financeiro">Financeiro</option>
                                    <option <?= $usuario['tipo'] == 'faturamento' ? "selected" : "" ?> value="faturamento">Faturamento</option>
                                    <option <?= $usuario['tipo'] == 'logistica' ? "selected" : "" ?> value="logistica">Logística</option>
                                    <option <?= $usuario['tipo'] == 'medico' ? "selected" : "" ?> value="medico">Médico</option>
                                    <option <?= $usuario['tipo'] == 'nutricao' ? "selected" : "" ?> value="nutricao">Nutrição</option>
                                    <option <?= $usuario['tipo'] == 'fisioterapia' ? "selected" : "" ?> value="fisioterapia">Fisioterapia</option>
                                    <option <?= $usuario['tipo'] == 'servico_social' ? "selected" : "" ?> value="servico_social">Serviço Social</option>
                                    <option <?= $usuario['tipo'] == 'fonoaudiologia' ? "selected" : "" ?> value="fonoaudiologia">Fonoaudiologia</option>
                                    <option <?= $usuario['tipo'] == 'psicologia' ? "selected" : "" ?> value="psicologia">Psicologia</option>
                                </select>
                            </div>
                            <div class="col-lg-6">
                                <label for="acesso">Acesso:</label>
                                <select name="acesso[]" multiple data-placeholder="Selecione uma ou mais acessos..." class="chosen-select OBG_CHOSEN_MULTIPLE form-control" id='acesso' required>
                                    <option <?= $usuario['modadm'] == '1' ? "selected" : "" ?> value="modadm">Administrativo</option>
                                    <option <?= $usuario['modaud'] == '1' ? "selected" : "" ?> value="modaud">Auditoria</option>
                                    <option <?= $usuario['modenf'] == '1' ? "selected" : "" ?> value="modenf">Enfermagem</option>
                                    <option <?= $usuario['modfin'] == '1' ? "selected" : "" ?> value="modfin">Financeiro</option>
                                    <option <?= $usuario['modfat'] == '1' ? "selected" : "" ?> value="modfat">Faturamento</option>
                                    <option <?= $usuario['modlog'] == '1' ? "selected" : "" ?> value="modlog">Logística</option>
                                    <option <?= $usuario['modmed'] == '1' ? "selected" : "" ?> value="modmed">Médico</option>
                                    <option <?= $usuario['modnutri'] == '1' ? "selected" : "" ?> value="modnutri">Nutrição</option>
                                    <option <?= $usuario['modrem'] == '1' ? "selected" : "" ?> value="modrem">Remoção/SAC</option>
                                    <option <?= $usuario['modfisio'] == '1' ? "selected" : "" ?> value="modfisio">Fisioterapia</option>
                                    <option <?= $usuario['modserv'] == '1' ? "selected" : "" ?> value="modserv">Serviço Social</option>
                                    <option <?= $usuario['modfono'] == '1' ? "selected" : "" ?> value="modfono">Fonoaudiologia</option>
                                    <option <?= $usuario['modpsico'] == '1' ? "selected" : "" ?> value="modpsico">Psicologia</option>
                                </select>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-lg-12">
                                <label for="setor">Setor:</label>
                                <select name="setor[]" class="chosen-select form-control" multiple id='setor' >
                                    <option value="">Selecione o setor...</option>
                                    <?php foreach($setores as $setor):
                                        ?>
                                        <option <?= isset($usuario['setores']) && in_array($setor['id'],$usuario['setores']) ? "selected" : "" ?> value="<?= $setor['id'] ?>"><?= mb_strtoupper($setor['setor'],'UTF8') ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-lg-3">
                                <label for="adm-ur">Adm. UR?</label>
                                <br>
                                <input name="adm_ur"
                                       type="hidden"
                                       value="0">
                                <input name="adm_ur"
                                       id='adm-ur'
                                       type="checkbox"
                                       class="checkbox-toggle"
                                       data-toggle="toggle"
                                       data-on="Sim"
                                       data-off="Não"
                                       data-onstyle="success"
                                       data-offstyle="danger"
                                       data-size="small"
                                       <?= $usuario['ADM_UR'] == '1' ? "checked" : "" ?>
                                       value="1">
                            </div>
                            <div class="col-lg-3">
                                <label for="adm-geral">Adm. Geral?</label>
                                <br>
                                <input name="adm_geral"
                                       type="hidden"
                                       value="0">
                                <input name="adm_geral"
                                       id='adm-geral'
                                       type="checkbox"
                                       class="checkbox-toggle"
                                       data-toggle="toggle"
                                       data-on="Sim"
                                       data-off="Não"
                                       data-onstyle="success"
                                       data-offstyle="danger"
                                       data-size="small"
                                       <?= $usuario['adm'] == '1' ? "checked" : "" ?>
                                       value="1">
                            </div>
                            <div class="col-lg-3">
                                <label for="padronizar">Padroniza Medicamento?</label>
                                <br>
                                <input name="padronizar"
                                       type="hidden"
                                       value="0">
                                <input name="padronizar"
                                       id='padronizar'
                                       type="checkbox"
                                       class="checkbox-toggle"
                                       data-toggle="toggle"
                                       data-on="Sim"
                                       data-off="Não"
                                       data-onstyle="success"
                                       data-offstyle="danger"
                                       data-size="small"
                                       <?= $usuario['permissao_padronizar_medicamento'] == 'S' ? "checked" : "" ?>
                                       value="1">
                            </div>
                            <div class="col-lg-3">
                                <label for="prestador">Prestador?</label>
                                <br>
                                <input name="prestador"
                                       type="hidden"
                                       value="0">
                                <input name="prestador"
                                       id='prestador'
                                       type="checkbox"
                                       class="checkbox-toggle"
                                       data-toggle="toggle"
                                       data-on="Sim"
                                       data-off="Não"
                                       data-onstyle="success"
                                       data-offstyle="danger"
                                       data-size="small"
                                       <?= $usuario['prestador'] == '1' ? "checked" : "" ?>
                                       value="1">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title pull-left" style="padding-top: 7.5px;">
                        <i class="fa fa-key" aria-hidden="true"></i> Permissões do Sistema</b>
                    </h3>
                </div>

                <div class="panel-body">
                    <div class="row">
                        <ul class="tree">
                            <?php foreach ($areas as $area): ?>
                                <li>
                                    <input name="areas[]"
                                           id='pai-<?= $area['id'] ?>'
                                           type="checkbox"
                                           class="checkbox-toggle pai"
                                           data-toggle="toggle"
                                           data-on="Sim"
                                           data-off="Não"
                                           data-onstyle="success"
                                           data-offstyle="danger"
                                           data-size="small"
                                           <?= in_array($area['id'], $usuario['areas']) ? "checked" : "" ?>
                                           value="<?= $area['id'] ?>">
                                    <label for="pai-<?= $area['id'] ?>"><?= $area['descricao'] ?></label>
                                    <?php if(count($area['permissoes']) > 0): ?>
                                        <ul>
                                            <span style="margin-left: 10px; font-style: italic;"><b>Permissões:</b></span>
                                            <?php foreach ($area['permissoes'] as $permissao): ?>
                                                <li>
                                                    <input name="permissoes[]"
                                                           id='permissao-<?= $filho['id'] ?>'
                                                           type="checkbox"
                                                           class="checkbox-toggle permissoes"
                                                           idpai="<?= $area['id'] ?>"
                                                           data-toggle="toggle"
                                                           data-on="Sim"
                                                           data-off="Não"
                                                           data-onstyle="success"
                                                           data-offstyle="danger"
                                                           data-size="small"
                                                           <?= in_array($permissao['id'], $usuario['permissoes']) ? "checked" : "" ?>
                                                           value="<?= $permissao['id'] ?>">
                                                    <label for="permissao-<?= $permissao['acao'] ?>">
                                                        <?= $permissao['descricao'] ?>
                                                    </label>
                                                </li>
                                            <?php endforeach; ?>
                                        </ul>
                                        <?php
                                    endif;
                                    if(count($area['filhos']) > 0): ?>
                                        <ul>
                                            <?php foreach ($area['filhos'] as $filho): ?>
                                                <li>
                                                    <input name="areas[]"
                                                           id='filho-<?= $filho['id'] ?>'
                                                           type="checkbox"
                                                           class="checkbox-toggle filho"
                                                           idpai="<?= $area['id'] ?>"
                                                           data-toggle="toggle"
                                                           data-on="Sim"
                                                           data-off="Não"
                                                           data-onstyle="success"
                                                           data-offstyle="danger"
                                                           data-size="small"
                                                           <?= in_array($filho['id'], $usuario['areas']) ? "checked" : "" ?>
                                                           value="<?= $filho['id'] ?>">
                                                    <label for="filho-<?= $filho['nome'] ?>"><?= $filho['descricao'] ?></label>
                                                    <?php if(count($filho['permissoes']) > 0): ?>
                                                        <ul>
                                                            <span style="margin-left: 10px;"><b>Permissões:</b></span>
                                                        <?php foreach ($filho['permissoes'] as $permissao): ?>
                                                            <li>
                                                                <input name="permissoes[]"
                                                                       id='permissao-<?= $filho['id'] ?>'
                                                                       type="checkbox"
                                                                       class="checkbox-toggle permissoes"
                                                                       idpai="<?= $filho['id'] ?>"
                                                                       data-toggle="toggle"
                                                                       data-on="Sim"
                                                                       data-off="Não"
                                                                       data-onstyle="success"
                                                                       data-offstyle="danger"
                                                                       data-size="small"
                                                                       <?= in_array($permissao['id'], $usuario['permissoes']) ? "checked" : "" ?>
                                                                       value="<?= $permissao['id'] ?>">
                                                                <label for="permissao-<?= $permissao['acao'] ?>"><?= $permissao['descricao'] ?></label>
                                                            </li>
                                                            <?php endforeach; ?>
                                                        </ul>
                                                    <?php
                                                    endif;
                                                    if(count($filho['filhos']) > 0): ?>
                                                        <ul>
                                                            <?php foreach ($filho['filhos'] as $subfilho): ?>
                                                                <li>
                                                                    <input name="areas[]"
                                                                           id='subfilho-<?= $subfilho['id'] ?>'
                                                                           type="checkbox"
                                                                           class="checkbox-toggle subfilho"
                                                                           idpai="<?= $filho['id'] ?>"
                                                                           idraiz="<?= $area['id'] ?>"
                                                                           data-toggle="toggle"
                                                                           data-on="Sim"
                                                                           data-off="Não"
                                                                           data-onstyle="success"
                                                                           data-offstyle="danger"
                                                                           data-size="small"
                                                                           <?= in_array($subfilho['id'], $usuario['areas']) ? "checked" : "" ?>
                                                                           value="<?= $subfilho['id'] ?>">
                                                                    <label for="subfilho-<?= $subfilho['id'] ?>"><?= $subfilho['descricao'] ?></label>
                                                                    <?php if(count($subfilho['permissoes']) > 0): ?>
                                                                        <ul>
                                                                            <span style="margin-left: 19px; font-style: italic;"><b>Permissões:</b></span>
                                                                            <?php foreach ($subfilho['permissoes'] as $permissao): ?>
                                                                                <li>
                                                                                    <input name="permissoes[]"
                                                                                           id='permissao-<?= $filho['id'] ?>'
                                                                                           type="checkbox"
                                                                                           class="checkbox-toggle permissoes"
                                                                                           idpai="<?= $subfilho['id'] ?>"
                                                                                           data-toggle="toggle"
                                                                                           data-on="Sim"
                                                                                           data-off="Não"
                                                                                           data-onstyle="success"
                                                                                           data-offstyle="danger"
                                                                                           data-size="small"
                                                                                           <?= in_array($permissao['id'], $usuario['permissoes']) ? "checked" : "" ?>
                                                                                           value="<?= $permissao['id'] ?>">
                                                                                    <label for="permissao-<?= $permissao['acao'] ?>"><?= $permissao['descricao'] ?></label>
                                                                                </li>
                                                                            <?php endforeach; ?>
                                                                        </ul>
                                                                    <?php endif; ?>
                                                                </li>
                                                            <?php endforeach; ?>
                                                        </ul>
                                                    <?php endif; ?>
                                                </li>
                                            <?php endforeach; ?>
                                        </ul>
                                    <?php endif; ?>
                                </li>
                            <?php endforeach; ?>
                        </ul>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div class="col-lg-12 text-center">
                <div class="form-group">
                    <a href="/adm/usuario/?action=listar-usuarios" class='btn btn-warning' >
                        Cancelar
                    </a>
                    <button type="submit" id="salvar-usuario" class='btn btn-primary' >
                        Salvar
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript" src="/utils/bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/adm/usuario/js/main.js?v=1"></script>
<script type="text/javascript" src="/utils/jquery/js/validar_campos.js"></script>
<script type="text/javascript" src="/utils/jquery/js/bootstrap-toggle.min.js"></script>
<div id="left">
    <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
</div>

</body>
</html>