<?php require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>
<head>
    <meta charset="UTF-8">
    <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php'); ?>
    <link rel="stylesheet" type="text/css" href="/utils/reports.css">
    <link rel="stylesheet" href="/utils/bootstrap-3.3.6-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/utils/jquery/css/toggle/toggle.css" />
    <link rel="stylesheet" href="/utils/bootstrap-3.3.6-dist/css/chosen.bootstrap.min.css" />
    <link rel="stylesheet" href="/utils/font-awesome-4.7.0/css/font-awesome.css" />
    <style type="text/css">
        ul.tag-list li {
            list-style: none;
        }
        .tag-list li {
            font-size: 10px;
            background-color: #f3f3f4;
            padding: 5px 12px;
            color: inherit;
            border-radius: 2px;
            border: 1px solid #e7eaec;
            margin-right: 5px;
            margin-top: 5px;
            display: block;
        }
    </style>
</head>
<div id="content">
    <div id="right">
        <div class="row">
            <div class="col-lg-12">
                <div class="btn-group pull-right">
                    <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <i class="fa fa-plus" aria-hidden="true"></i> Novo
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu label-success" aria-labelledby="dropdownMenu1">
                        <li><a href="?action=usuario" target="_blank">Usuário</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <br>
        <div class="panel panel-primary panel-group">
            <div class="panel-heading clearfix">
                <h3 class="panel-title" style="padding-top: 7.5px;">
                    <a data-toggle="collapse"
                       class="pull-left"
                       title="Clique para visualizar os filtros da busca"
                       href="#filtros-usuario">
                        <i class="fa fa-search" aria-hidden="true"></i> Buscar Usuários (Filtros)
                    </a>
                    <a data-toggle="collapse"
                       title="Clique para visualizar os filtros da busca"
                       href="#filtros-usuario">
                        <i class="fa fa-caret-square-o-up pull-right switch-plus-minus" aria-hidden="true"></i>
                    </a>
                </h3>
            </div>
            <div class="panel-body panel-collapse collapse" id="filtros-usuario">
                <form method="post" action="/adm/usuario/?action=listar-usuarios&limit=50&page=1">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="nome">Nome:</label>
                                <input type="text"
                                       name="nome"
                                       class="form-control"
                                       id='nome'
                                       value="<?= isset($data['nome']) ? $data['nome'] : "" ?>">
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="login">Login:</label>
                                <input type="text"
                                       name="login"
                                       class="form-control"
                                       id='login'
                                       value="<?= isset($data['login']) ? $data['login'] : "" ?>">
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="status">Status:</label>
                                <select name="status" class="form-control" id='status'>
                                    <option value="">Todos</option>
                                    <option <?= isset($data['status']) && $data['status'] == '1' ? "selected" : "" ?> value="1">Ativo</option>
                                    <option <?= isset($data['status']) && $data['status'] == '2' ? "selected" : "" ?> value="2">Inativo</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="ur">UR:</label>
                                <select name="ur[]" multiple class="chosen-select form-control" id='ur' data-placeholder="Selecione uma ou mais URs...">
                                    <?php foreach($urs as $ur): ?>
                                        <option <?= isset($data['ur']) && in_array($ur['id'], $data['ur']) ? "selected" : "" ?> value="<?= $ur['id'] ?>"><?= strtoupper($ur['nome']) ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="perfis">Perfis:</label>
                                <select name="perfis[]" multiple class="chosen-select form-control" id='perfis' data-placeholder="Selecione um ou mais perfis...">
                                    <option <?= isset($data['perfis']) && in_array('modadm', $data['perfis']) ? "selected" : "" ?> value="modadm">Administrativo</option>
                                    <option <?= isset($data['perfis']) && in_array('modmed', $data['perfis']) ? "selected" : "" ?> value="modmed">Médico</option>
                                    <option <?= isset($data['perfis']) && in_array('modenf', $data['perfis']) ? "selected" : "" ?> value="modenf">Enfermagem</option>
                                    <option <?= isset($data['perfis']) && in_array('modaud', $data['perfis']) ? "selected" : "" ?> value="modaud">Auditoria</option>
                                    <option <?= isset($data['perfis']) && in_array('modfin', $data['perfis']) ? "selected" : "" ?> value="modfin">Financeiro</option>
                                    <option <?= isset($data['perfis']) && in_array('modfat', $data['perfis']) ? "selected" : "" ?> value="modfat">Faturamento</option>
                                    <option <?= isset($data['perfis']) && in_array('modlog', $data['perfis']) ? "selected" : "" ?> value="modlog">Logística</option>
                                    <option <?= isset($data['perfis']) && in_array('modrem', $data['perfis']) ? "selected" : "" ?> value="modrem">Remoções</option>
                                    <option <?= isset($data['perfis']) && in_array('modnutri', $data['perfis']) ? "selected" : "" ?> value="modnutri">Nutrição</option>
                                    <option <?= isset($data['perfis']) && in_array('modfisio', $data['perfis']) ? "selected" : "" ?> value="modfisio">Fisioterapia</option>
                                    <option <?= isset($data['perfis']) && in_array('modserv', $data['perfis']) ? "selected" : "" ?> value="modserv">Serviço Social</option>
                                    <option <?= isset($data['perfis']) && in_array('modfono', $data['perfis']) ? "selected" : "" ?> value="modfono">Fonoaudiologia</option>
                                    <option <?= isset($data['perfis']) && in_array('modpsico', $data['perfis']) ? "selected" : "" ?> value="modpsico">Psicologia</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="conselho_regional">Conselho Regional:</label>
                                <select name="conselho_regional" class="form-control" id='conselho_regional'>
                                    <option value="">Todos</option>
                                    <?php foreach($conselhos as $conselho): ?>
                                        <option <?= isset($data['conselho']) && in_array($conselho['id'], $data['conselho']) ? "selected" : "" ?> value="<?= $conselho['id'] ?>"><?= strtoupper($conselho['conselho']) . " (" . $conselho['sigla'] . ")" ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="padronizar">Permissão para padronizar medicamento?</label>
                                <br>
                                <input name="padronizar"
                                       type="hidden"
                                       value="0">
                                <input name="padronizar"
                                       id='padronizar'
                                       type="checkbox"
                                       data-toggle="toggle"
                                       data-on="Sim"
                                       data-off="Não"
                                       data-onstyle="success"
                                       data-offstyle="danger"
                                       data-size="small"
                                    <?= isset($data['padronizar']) && $data['padronizar'] == '1' ? "checked" : "" ?>
                                       value="1">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="prestador">Prestador?</label>
                                <br>
                                <input name="prestador"
                                       type="hidden"
                                       value="0">
                                <input name="prestador"
                                       id='prestador'
                                       type="checkbox"
                                       data-toggle="toggle"
                                       data-on="Sim"
                                       data-off="Não"
                                       data-onstyle="success"
                                       data-offstyle="danger"
                                       data-size="small"
                                    <?= isset($data['prestador']) && $data['prestador'] == '1' ? "checked" : "" ?>
                                       value="1">
                            </div>
                        </div>

                        <div class="col-lg-12 text-center">
                            <div class="form-group">
                                <button type="submit" class='btn btn-primary' >
                                    <span class='ui-button-text'>Pesquisar</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-12">
                <?php
                //print_r($response);
                if(isset($response)):
                    if(count($response->data) == 0): ?>
                        <h4 class="text-center">Nenhum usuário encontrado.</h4>
                        <?php
                    else:
                        if(is_object($response)): ?>
                            <div class="pull-right">
                                <?= $paginator->createLinks($links, 'pagination pagination-sm', 'listar-usuarios') ?>
                            </div>
                            <table class='table table-responsive table-striped table-hover'>
                                <thead>
                                <th>Login</th>
                                <th>Nome</th>
                                <th width="20%">Unidade Regional</th>
                                <th>ADM</th>
                                <th>Perfil</th>
                                <th width="10%">Ativo?</th>
                                <th>Ações</th>
                                </thead>
                                <?php
                                foreach($response->data as $row):
                                    $blocked = \DateTime::createFromFormat('Y-m-d', $row['block_at']) < (new \DateTime());
                                    ?>
                                    <tr>
                                        <td><?= $row['login'] ?></td>
                                        <td><?= mb_strtoupper($row['nome'], 'UTF8') ?></td>
                                        <td>
                                            <h5>
                                                <label class="label label-primary" style="width: 160px;">
                                                    <?= mb_strtoupper($row['nempresa'], 'UTF8') ?>
                                                </label>
                                            </h5>
                                            <?php foreach ($response->empresas[$row['idUsuarios']] as $empresas): ?>
                                                <h5>
                                                    <label class="label label-info" style="width: 160px;">
                                                        <?= mb_strtoupper($empresas['empresa'], 'UTF8') ?>
                                                    </label>
                                                </h5>
                                            <?php endforeach; ?>
                                        </td>
                                        <td><?= $row['adm'] == '1' ? 'Sim' : 'Não' ?></td>
                                        <td><?= ucfirst($row['tipo']) ?></td>
                                        <td id="status-<?= $row['idUsuarios'] ?>"><?= $blocked ? '<span class="fa fa-user-times"></span> Não' : '<span class="fa fa-user"></span> Sim' ?></td>

                                        <td>
                                            <div class="dropup pull-right">
                                                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                                    Opções
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li class="dropdown-header"><b>Ações</b></li>
                                                    <li><a href="/adm/usuario/?action=usuario-editar&usuario=<?= $row['idUsuarios'] ?>" target="_blank">Editar</a></li>
                                                    <?php if(!$blocked): ?>
                                                        <li id="ativo-inativo-<?= $row['idUsuarios'] ?>"><a href="#" class="bloquear-usuario" nome-usuario="<?= mb_strtoupper($row['nome'], 'UTF8') ?>" usuario-id="<?= $row['idUsuarios'] ?>">Bloquear</a></li>
                                                    <?php else: ?>
                                                        <li id="ativo-inativo-<?= $row['idUsuarios'] ?>"><a href="#" class="ativar-usuario" nome-usuario="<?= mb_strtoupper($row['nome'], 'UTF8') ?>" usuario-id="<?= $row['idUsuarios'] ?>">Ativar</a></li>
                                                    <?php endif; ?>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                <?php endforeach; ?>
                            </table>
                            <div class="pull-right">
                                <?= $paginator->createLinks($links, 'pagination pagination-sm', 'listar-usuarios') ?>
                            </div>
                        <?php else: ?>
                            <span class="text-center"><b><?= $response ?></b></span>
                            <?php
                        endif;
                    endif;
                endif;
                ?>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade"
     id="modal-bloquear-usuario"
     tabindex="-1"
     role="dialog"
     data-backdrop="static"
     data-keyboard="false"
     aria-labelledby="modalBloquearLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="modalBloquearLabel"></h4>
            </div>
            <div class="modal-body">
                <form name="form_bloquear" id="form-bloquear">
                    <input type="hidden" name="usuario_id" id="usuario-id" value="">
                    <input type="hidden" name="nome_usuario" id="nome-usuario" value="">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label class="control-label" for="qtd-item">Bloquear em *:</label>
                                <input type="date" name="data_bloqueio" id="data-bloqueio" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label class="control-label" for="qtd-item">Motivo do Bloqueio *:</label>
                                <textarea name="motivo_bloqueio" id="motivo-bloqueio" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" id="salvar-bloqueio">Bloquear</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<div id="left">
    <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
</div>
<script type="text/javascript" src="/utils/bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/utils/jquery/js/bootstrap-toggle.min.js"></script>
<script type="text/javascript" src="/adm/usuario/js/list.js?v=1"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $(".panel-group .collapse.in").each(function(){
            $(this)
                .siblings(".panel-heading")
                .find(".fa.switch-plus-minus")
                .addClass("fa-caret-square-o-down")
                .removeClass("fa-caret-square-o-up");
        });

        $(".panel-group .collapse").on('show.bs.collapse', function(){
            $(this)
                .parent()
                .find(".fa.switch-plus-minus")
                .removeClass("fa-caret-square-o-up")
                .addClass("fa-caret-square-o-down");
        }).on('hide.bs.collapse', function(){
            $(this)
                .parent()
                .find(".fa.switch-plus-minus")
                .removeClass("fa-caret-square-o-down")
                .addClass("fa-caret-square-o-up");
        });
    });
</script>
</body>
</html>