<?php require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>
<head>
    <meta charset="UTF-8">
    <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php'); ?>
    <link rel="stylesheet" type="text/css" href="/utils/reports.css">
    <link rel="stylesheet" href="/utils/bootstrap-3.3.6-dist/css/bootstrap.min.css" />
    <script src="/utils/bootstrap-3.3.6-dist/js/bootstrap.min.js" ></script>
    <link rel="stylesheet" href="/utils/font-awesome-4.7.0/css/font-awesome.css" />
</head>
<div id="content">
    <div id="right">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title pull-left" style="padding-top: 7.5px;">
                    <i class="fa fa-search" aria-hidden="true"></i> Buscar Formulários Condensados
                </h3>
                <div class="btn-group pull-right">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        + Novo Formulário Condensado
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="?action=formulario-condensado&tipo=p" target="_blank">Prorrogação</a></li>
                        <li><a href="?action=formulario-condensado&tipo=d" target="_blank">Deflagrado</a></li>
                    </ul>
                </div>
            </div>
            <div class="panel-body" id="div-buscar-formulario-condensado">
                <form method="post" action="/adm/secmed/?action=formulario-condensado-listar">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="paciente">Paciente:</label>
                                <select name="paciente" class="chosen-select OBG_CHOSEN form-control" id='paciente'>
                                    <option value="">Selecione...</option>
                                    <?php foreach($pacientes as $paciente): ?>
                                        <option <?= isset($data['paciente']) && $data['paciente'] === $paciente['idClientes'] ? "selected" : "" ?> value="<?= $paciente['idClientes'] ?>">(<?= $paciente['codigo'] ?>) <?= strtoupper($paciente['nome']) ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="tipo-formulario">Tipo de Formulário:</label>
                                <select id="tipo-formulario" name="tipo_formulario" class="OBG form-control" >
                                    <option selected <?= isset($data['tipo_formulario']) && $data['tipo_formulario'] === 'p' ? "selected" : "" ?> value="p">Prorrogação</option>
                                    <option <?= isset($data['tipo_formulario']) && $data['tipo_formulario'] === 'd' ? "selected" : "" ?> value="d">Deflagrado</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="periodo">Inicio:</label>
                                <input name="inicio" type="date" class="form-control" value='<?= isset($data['inicio'])  ? $data['inicio'] : "" ?>' required>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="periodo">Fim:</label>
                                <input name="fim" type="date" class="form-control" value='<?= isset($data['fim'])  ? $data['fim'] : "" ?>' required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <div class="form-group">
                                <button type="submit" class='btn btn-primary' id="buscar-formulario-condensado">
                                    Pesquisar
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-12">
                <?php
                if(isset($formularios)):
                    if(empty($formularios)) : ?>
                        <h4 class="text-center">Nenhum formulário condensado encontrado.</h4>
                    <?php
                    else:
                        if(is_array($formularios)): ?>
                            <table class='table'>
                                <thead>
                                <th>Paciente</th>
                                <th>Tipo de Formulário</th>
                                <th>Período</th>
                                <th>Criado Em</th>
                                <th></th>
                                </thead>
                                <?php
                                foreach($formularios as $row):
                                    $tipoFormulario = $row['tipo_formulario'] == 'p' ? 'Prorrogação' : 'Deflagrado';
                                    $inicio = \DateTime::createFromFormat('Y-m-d', $row['inicio'])->format('d/m/Y');
                                    $fim = \DateTime::createFromFormat('Y-m-d', $row['fim'])->format('d/m/Y');
                                    $criadoEm = \DateTime::createFromFormat('Y-m-d H:i:s', $row['created_at'])->format('d/m/Y à\s H:i:s');
                                    ?>
                                    <tr>
                                        <td><?= $row['paciente'] ?></td>
                                        <td><?= $tipoFormulario ?></td>
                                        <td><?= $inicio ?> à <?= $fim ?></td>
                                        <td><?= $criadoEm ?></td>
                                        <td>
                                            <div class="btn-group">
                                                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                    Ações
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu pull-left" style="left: 0;" aria-labelledby="dropdownMenu1">
                                                    <li><a href="/adm/secmed/?action=formulario-condensado-visualizar&id=<?= $row['id'] ?>" target="_blank">Visualizar</a></li>
                                                    <li><a href="/adm/secmed/?action=formulario-condensado-form-editar&id=<?= $row['id'] ?>" target="_blank">Editar</a></li>
                                                    <li><a class="escolher-empresa-gerar-documento-condensado" caminho="/adm/secmed/?action=formulario-condensado-imprimir&id=<?= $row['id'] ?>&tipo=<?= $row['tipo_formulario'] ?>" empresa-relatorio="<?= $row['ur_id'] ?>" href="#">Imprimir</a></li>
                                                    <!--<li><a href="/adm/secmed/?action=formulario-condensado-marcar-emitido&id=<?/*= $row['id'] */?>" target="_blank">Marcar como Emitido</a></li>
                                                 <li><a href="/adm/secmed/?action=formulario-condensado-cancelar&id=<?/*= $row['id'] */?>" target="_blank">Cancelar</a></li>-->
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                <?php endforeach; ?>
                            </table>
                        <?php else: ?>
                            <span class="text-center"><b><?=$response ?></b></span>
                        <?php
                        endif;
                    endif;
                endif;
                ?>
            </div>
        </div>

        <div id='dialog-escolher-empresa-gerar-documento-condensado' caminho='' title='Escolha qual empresa deve sair no documento' style="display: none;">
            <div id='div-escolher-empresa-gerar-documento-condensado'>
                <p>
                    <label for='select-escolher-empresa-gerar-documento'>Empresas</label> <br>
                    <select id='select-escolher-empresa-gerar-documento' class="empresa-impressao">
                        <option value='-1'>Selecione...</option>
                        <?php foreach($responseEmpresas as $empresa): ?>
                            <option value='<?= $empresa['id'] ?>' logo='<?= $empresa['logo'] ?>' nome-empresa='<?= $empresa['nome'] ?>'><?= $empresa['nome'] ?></option>";
                        <?php endforeach; ?>
                    </select>
                </p>
                <p>
                    <label for='titulo-gerar-documento'>Título da Impressão</label> <br>
                    <select id='titulo-gerar-documento'>
                        <option value='<?= base64_encode('Relatório Condensado') ?>'>Relatório Condensado</option>
                        <option value='<?= base64_encode('Formulário Condensado ') ?>'>Formulário Condensado</option>
                    </select>
                </p>
            </div>
        </div>
    </div>

    <div id="left">
        <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
    </div>
</div>
<script type="text/javascript" src="/utils/jquery/js/validar_campos.js"></script>
<script type="text/javascript" src="/utils/jquery/summernote/summernote.js"></script>
<script type="text/javascript" src="/utils/jquery/summernote/lang/summernote-pt-BR.js"></script>
<script type="text/javascript" src="/adm/secmed/templates/formulario-condensado/js/main.js?v=3"></script>
</body>
</html>