.square-button {
  border-radius: 0;
  box-shadow: none;
  padding: 10px 15px;
  font-size: 16px; }

.square-button-blue {
  background: #337AB7;
  border: 1px solid #337AB7;
  color: #FFF; }

.full-screen {
  position: fixed;
  background-color: #FFF;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  transition: all 0.3s;
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
  padding: 15px; }

.report__button-full-screen {
  background: #0b559b;
  color: #FFF;
  border: none;
  padding: 5px 15px; }

.button-show-line button {
  background: #0b559b;
  color: #FFF;
  border: none;
  height: 19px;
  width: 20px;
  font-size: 20px;
  display: flex;
  align-items: center;
  font-weight: 700; }

#outerdiv.not-full-screen {
  position: relative;
  top: 0;
  left: 0;
  right: 5em; }

#outerdiv.full-screen.report {
  position: fixed;
  top: 0;
  left: 0;
  right: 5em;
  width: 100%;
  overflow-y: auto; }
  #outerdiv.full-screen.report .headcol {
    left: 17px;
    border-left: none; }

#innerdiv {
  overflow-x: auto;
  margin-left: 30em;
  overflow-y: visible;
  padding-bottom: 1px; }
.loading {
  text-align: center;
  min-height: calc(100vh - 220px);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%; }
  .loading .component-load__text {
    margin: 0 0 0 13px; }
html,
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0; }

* {
  box-sizing: border-box; }

.long {
  background: yellow;
  letter-spacing: 1em; }

.report {
  /* .body-tr-td.body-row-1-cell-1.headcol.headcol__one.headcol__one_0 {
    background: #9abedd;
  } */ }
  .report .headcol {
    /* position: relative; */
    border-top: 1px solid #79a26d; }
    .report .headcol .head__col-box {
      display: flex;
      flex-wrap: wrap;
      align-items: center; }
      .report .headcol .head__col-box .head__col-name {
        width: calc(100% - 20px);
        text-align: left;
        padding-left: 20px; }
      .report .headcol .head__col-box .head__col-name__blue {
        background: red; }
      .report .headcol .head__col-box div:first-child {
        width: 20px; }
  .report .report__header-column-1 {
    background: #00a189; }
    .report .report__header-column-1 .report__head-th-1 {
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      border-bottom: none;
      background: #fff;
      text-align: left; }
    .report .report__header-column-1 th {
      text-align: center; }
  .report .report__header-column-2 {
    background: #0b559b; }
    .report .report__header-column-2 .report__head-th-2 {
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      border-top: none;
      background: #fff;
      height: 39px;
      text-align: left; }
    .report .report__header-column-2 th {
      color: #fff;
      text-align: center; }
  .report .report__level-one_blue {
    background: #9abedd; }
  .report .report__level-one_green {
    background: #accdae; }
  .report .report__level-one_yellow {
    background: #ffcc5c; }
  .report .line_0 {
    background: #9abedd; }
  .report .headcol__one_blue {
    background-color: #9abedd; }
  .report .headcol__one_green {
    background-color: #accdae; }
  .report .headcol__one_yellow {
    background-color: #ffcc5c; }
  .report .headcol__one {
    background: #accdae; }
  .report .headcol__tow {
    background: #e4e4e4; }
  .report .headcol__tree {
    background: #f3f3f3; }
  .report .headcol__four {
    background: #F5F5DC; }
  .report .report__level-tow {
    background: #e4e4e4; }
    .report .report__level-tow .body-row-level-tow {
      padding-left: 25px; }
  .report .report__level-tree {
    background: #f3f3f3; }
    .report .report__level-tree .body-row-level-tre {
      padding-left: 80px; }
  .report .report__level-four {
    background: #F5F5DC; }
  .report .report__body-line-1-column-1 td:first-child {
    width: 400px; }
  .report .hidden-line {
    display: none; }
  .report .color__red {
    color: #862b2b; }
  .report .color__blue {
    color: #0b559b; }

.select__filial {
  position: relative;
  height: 100px; }
  .select__filial .filial__child {
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 55%;
    right: 0; }

div.css-yk16xz-control {
  max-width: 400px; }

.selectButtom {
  position: relative;
  height: 40px;
  padding: 5px 5px;
  margin: 22px 0px 22px 10px;
  font-weight: bold;
  outline: none;
  border: none;
  background: #00a189; }

.report__header-column-1 {
  height: 41px;
  position: -webkit-sticky;
  position: sticky;
  margin: 0;
  top: 0;
  z-index: 1; }

.report__header-column-1 > th.monthHeader {
  background-color: #00a189;
  color: #fff; }

.report__header-column-2 {
  height: 41px;
  position: -webkit-sticky;
  position: sticky;
  top: 40px;
  z-index: 1; }

.report__header-column-2 > th.actionHeader {
  background-color: #0b559b;
  color: #fff; }

th.report__head-th-1 {
  position: -webkit-sticky;
  position: sticky;
  width: 400px;
  top: 0;
  z-index: 1;
  left: 0; }

th.report__head-th-2 {
  position: -webkit-sticky;
  position: sticky;
  color: black !important;
  width: 400px;
  z-index: 1;
  left: 0; }

#dropDonwTableMenu {
  display: inline-block;
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  width: 400px;
  z-index: 0; }

#outerdivReport {
  height: 60vh;
  overflow: auto; }

#outerdivReport.full-screen.report {
  padding: 0px;
  height: 100%;
  left: 0; }
  #outerdivReport.full-screen.report th.monthHeader {
    border-right: 2px solid white; }
  #outerdivReport.full-screen.report th.actionHeader {
    border-right: 2px solid white; }
.report .btn-level, .btn-level {
  background: #aaaaaa;
  color: #444;
  border: none;
  padding: 5px 10px;
  border-left: 1px solid #79a26d; }
#export {
  padding: 10px;
  background: #0b559b;
  margin-bottom: 3px;
  color: #fff;
  border: none;
  outline: none; }
.head {
  background-color: #00a189;
  text-align: center;
  color: white; }

#date {
  white-space: nowrap; }
.table-financial-budget .table .level-1,
.table-financial-budget .table .level-2,
.table-financial-budget .table .level-3 {
  height: 39px; }

.table-financial-budget .table .level-1_green {
  background: #accdae; }

.table-financial-budget .table .level-1_blue {
  background: #9abedd; }

.table-financial-budget .table .level-1_yellow {
  background: #ffcc5c; }

#outerdiv.table-financial-budget.full-screen {
  padding-top: 0;
  padding-left: 0; }

#outerdiv.table-financial-budget.not-full-screen {
  height: 60vh; }
  #outerdiv.table-financial-budget.not-full-screen .headcol {
    left: 0; }

#FinancialTableHead, #FinancialTableHead > th#FinancialTableHeadMonth, th#FinancialTableHeadButtons {
  background-color: #FFF;
  position: -webkit-sticky;
  position: sticky;
  top: 0; }

#FinancialTableHead, #FinancialTableHead > th#FinancialTableHeadMonth {
  z-index: 1; }

th#FinancialTableHeadButtons {
  z-index: 2;
  left: 0; }

.table-financial-budget {
  overflow: auto; }
  .table-financial-budget .first-column {
    width: 300px; }
  .table-financial-budget p {
    margin: 0; }
  .table-financial-budget .table tbody tr td {
    vertical-align: inherit; }
  .table-financial-budget .table tbody tr td.headcol.cell-one {
    position: -webkit-sticky;
    position: sticky;
    left: 0; }
  .table-financial-budget .tr-th-header.headcol,
  .table-financial-budget .headcol.cell-one {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
  .table-financial-budget th.first-column.tr-th-header.headcol {
    width: 400px; }
  .table-financial-budget .headcol {
    position: absolute;
    width: 400px;
    top: auto;
    border-top: 1px solid #79a26d; }
    .table-financial-budget .headcol .head__col-box {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: center; }
      .table-financial-budget .headcol .head__col-box .head__col-name {
        width: calc(100% - 20px);
        text-align: left;
        padding-left: 20px; }
      .table-financial-budget .headcol .head__col-box div:first-child {
        width: 20px; }
    .table-financial-budget .headcol.first-column-level-one div:first-child {
      position: relative;
      left: -8px; }

/* style.css*/
@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3); }
  50% {
    opacity: 1; } }
@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3); }
  50% {
    opacity: 1; } }

.zoomIn {
  -webkit-animation-name: zoomIn;
          animation-name: zoomIn; }

@-webkit-keyframes zoomOut {
  from {
    opacity: 1; }
  50% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3); }
  to {
    opacity: 0; } }

@keyframes zoomOut {
  from {
    opacity: 1; }
  50% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3); }
  to {
    opacity: 0; } }
.calendar {
  height: 100px;
  width: 100%;
  display: flex;
  margin-top: 20px; }

.calendar__date-label {
  font-weight: normal;
  font-size: 16px;
  color: #2e2a2a; }

.calendar__date-start-input {
  background: #FFF;
  width: 80%;
  border: 1px solid #cdcdcd;
  padding: 10px; }
  .calendar__date-start-input .react-date-picker__wrapper {
    border: none;
    color: #2e2a2a; }

.calendar__date-start {
  width: calc(50% - 120px); }

.calendar__date {
  display: flex;
  flex-flow: column; }

.calendar__date-end {
  display: flex;
  width: calc(50%-120px); }

.calendar__button {
  display: flex;
  width: 150px;
  flex-flow: column;
  justify-content: center; }

.calendar__button-setting.btn.btn-primary.btn-lg {
  border-radius: 0;
  padding: 10px;
  margin-left: 20px; }

.calendar__date-start-label, .calendar__date-start-input {
  width: 100%; }

div.calendar__date-end-input {
  width: 100%;
  border: 1px solid #cdcdcd;
  padding: 10px;
  margin-left: 10px; }
  div.calendar__date-end-input .react-date-picker__wrapper {
    border: none;
    color: #2e2a2a; }

#show_calendar {
  display: flex;
  flex-direction: row; }
  #show_calendar #startDate {
    display: flex;
    flex-direction: column;
    margin-right: 10px; }
  #show_calendar #endDate {
    display: flex;
    flex-direction: column;
    margin-left: 100px; }
  #show_calendar label {
    margin-left: 10px; }
.modal-financial-table-input-value {
  margin: 15px 0 15px 0;
  padding: 10px;
  border: 1px solid #cdcdcd;
  display: flex;
  flex-flow: column; }
  .modal-financial-table-input-value .modal-table-button .modal-table-button__btn-cancel {
    margin-left: 160px;
    width: 120px;
    background: #cdcdcd;
    color: #0b559b; }
  .modal-financial-table-input-value .modal-table-button .modal-table-button__btn {
    margin-left: 10px;
    width: 120px; }
  .modal-financial-table-input-value .modal-form {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5px; }
    .modal-financial-table-input-value .modal-form .modal-form__label {
      width: 160px;
      display: flex;
      flex-wrap: wrap; }
      .modal-financial-table-input-value .modal-form .modal-form__label .span-block-radio-button {
        width: 40px; }
      .modal-financial-table-input-value .modal-form .modal-form__label .span-block-label {
        width: calc(100% - 40px);
        font-size: 14px;
        margin-top: 3px; }
    .modal-financial-table-input-value .modal-form .modal-form__value {
      width: calc(100% - 160px); }
      .modal-financial-table-input-value .modal-form .modal-form__value input, .modal-financial-table-input-value .modal-form .modal-form__value select {
        border-radius: 0;
        border: 1px solid #cdcdcd; }
  .modal-financial-table-input-value .modal-table-input-value-perc__field {
    display: flex; }
    .modal-financial-table-input-value .modal-table-input-value-perc__field .form__field-value {
      flex: 4; }
    .modal-financial-table-input-value .modal-table-input-value-perc__field .form__field-perc {
      flex: 3; }
    .modal-financial-table-input-value .modal-table-input-value-perc__field .form__field-value-perc {
      flex: 10; }
  .modal-financial-table-input-value .modal-table-input-value__select-title {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5px; }
    .modal-financial-table-input-value .modal-table-input-value__select-title .modal-form__label {
      width: 160px;
      padding-left: 15px;
      padding-top: 5px; }
    .modal-financial-table-input-value .modal-table-input-value__select-title .modal-form__value {
      width: calc(100% - 160px); }
.modal-form .modal-window {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.25);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1001;
  transition: all 0.3s;
  visibility: visible;
  opacity: 1;
  pointer-events: auto; }
  .modal-form .modal-window > div {
    width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2em;
    background: #ffffff; }
  .modal-form .modal-window header {
    font-weight: bold; }
  .modal-form .modal-window h1 {
    font-size: 150%;
    margin: 0 0 15px; }

.modal-form .modal-close {
  color: #aaa;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none; }
  .modal-form .modal-close:hover {
    color: black; }

.modal-form .container {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh; }

.modal-form .modal-window div:not(:last-of-type) {
  margin-bottom: 15px; }

.modal-form small {
  color: #aaa; }

.modal-form .btn {
  background-color: #fff;
  padding: 1em 1.5em;
  border-radius: 3px;
  text-decoration: none; }
  .modal-form .btn i {
    padding-right: 0.3em; }

.modal-form__bg {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1000;
  overflow: hidden !important; }
.table-managerial-values .mvtable .level-1,
.table-managerial-values .mvtable .level-2,
.table-managerial-values .mvtable .level-3 {
  height: 39px; }

.table-managerial-values .mvtable .level-1_green {
  background: #accdae; }

.table-managerial-values .mvtable .level-1_blue {
  background: #9abedd; }

.table-managerial-values .mvtable .level-1_yellow {
  background: #ffcc5c; }

#containerDiv.table-managerial-values.full-screen {
  padding-top: 0;
  padding-left: 0; }

#containerDiv.table-managerial-values.not-full-screen {
  height: 60vh; }

#MVTableHead, #MVTableHead > th#MvTableHeadMonth, th#MvTableHeadButtons {
  background-color: #FFF;
  position: -webkit-sticky;
  position: sticky;
  top: 0; }

#MVTableHead, #MvTableHead > th#MvTableHeadMonth {
  z-index: 1; }

th#MvTableHeadButtons {
  z-index: 2;
  left: 0; }

.table-managerial-values {
  overflow-x: auto; }
  .table-managerial-values .mvfirst-column {
    width: 300px; }
  .table-managerial-values p {
    margin: 0; }
  .table-managerial-values .mvtable tbody tr td {
    vertical-align: inherit; }
  .table-managerial-values .mvtable tbody tr td.mvheadcol.cell-one {
    position: -webkit-sticky;
    position: sticky;
    left: 0; }
  .table-managerial-values .tr-th-mvheader.mvheadcol,
  .table-managerial-values .mvheadcol.cell-one {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
  .table-managerial-values th.mvfirst-column.tr-th-mvheader.mvheadcol {
    width: 400px; }
  .table-managerial-values .mvheadcol {
    width: 400px;
    border-top: 1px solid #79a26d; }
    .table-managerial-values .mvheadcol .head__col-box {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: center; }
      .table-managerial-values .mvheadcol .head__col-box .head__col-name {
        width: calc(100% - 20px);
        text-align: left;
        padding-left: 20px; }
      .table-managerial-values .mvheadcol .head__col-box div:first-child {
        width: 20px; }
    .table-managerial-values .mvheadcol.mvfirst-column-level-one div:first-child {
      position: relative;
      left: -8px; }

/* style.css*/
@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3); }
  50% {
    opacity: 1; } }
@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3); }
  50% {
    opacity: 1; } }

.zoomIn {
  -webkit-animation-name: zoomIn;
          animation-name: zoomIn; }

@-webkit-keyframes zoomOut {
  from {
    opacity: 1; }
  50% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3); }
  to {
    opacity: 0; } }

@keyframes zoomOut {
  from {
    opacity: 1; }
  50% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3); }
  to {
    opacity: 0; } }
.table-financial-budget .show-line {
  display: block; }

.table-financial-budget .hidden-line {
  display: none; }

.table-financial-budget .table .level-1,
.table-financial-budget .table .level-2,
.table-financial-budget .table .level-3,
.table-financial-budget .table .level-4 {
  font-size: 12px; }

.table-financial-budget .table .level-1 {
  font-size: 12px; }

.table-financial-budget .table .level-2 {
  background: #E4E4E4;
  height: 35px; }
  .table-financial-budget .table .level-2 td .cell-p {
    padding-left: 7px;
    margin: 0; }

.table-financial-budget .table .level-3 {
  background: #F3F3F3;
  height: 35px; }
  .table-financial-budget .table .level-3 td .cell-p {
    padding-left: 15px;
    font-size: 11px; }

.table-financial-budget .table .level-4 {
  background: #F3F3F3;
  height: 30px; }
  .table-financial-budget .table .level-4 td .cell-p {
    padding-left: 50px; }

.table-financial-budget td.headcol.cell-one.cell-four {
  background: #F3F3F3; }

.table-financial-budget .cell-one_yellow {
  background: #ffcc5c; }

.table-financial-budget .cell-one_green {
  background: #accdae; }

.table-financial-budget .cell-one_blue {
  background: #9abedd; }

.sub-percentage {
  width: 50px; }
.table-managerial-values .show-line {
  display: block; }

.table-managerial-values .hidden-line {
  display: none; }

.table-managerial-values .mvtable .level-1,
.table-managerial-values .mvtable .level-2,
.table-managerial-values .mvtable .level-3,
.table-managerial-values .mvtable .level-4 {
  font-size: 12px; }

.table-managerial-values .mvtable .level-1 {
  font-size: 12px; }

.table-managerial-values .mvtable .level-2 {
  background: #E4E4E4;
  height: 35px; }
  .table-managerial-values .mvtable .level-2 td .cell-p {
    padding-left: 7px;
    margin: 0; }

.table-managerial-values .mvtable .level-3 {
  background: #F3F3F3;
  height: 35px; }
  .table-managerial-values .mvtable .level-3 td .cell-p {
    padding-left: 15px;
    font-size: 11px; }

.table-managerial-values .mvtable .level-4 {
  background: #F3F3F3;
  height: 30px; }
  .table-managerial-values .mvtable .level-4 td .cell-p {
    padding-left: 50px; }

.table-managerial-values td.mvheadcol.cell-one.cell-four {
  background: #F3F3F3; }

.table-managerial-values .cell-one_yellow {
  background: #ffcc5c; }

.table-managerial-values .cell-one_green {
  background: #accdae; }

.table-managerial-values .cell-one_blue {
  background: #9abedd; }

.sub-percentage {
  width: 50px; }
.cell-entry-field .cell-entry-field__input {
  border-radius: 0;
  width: 100%;
  height: 100%;
  padding: 2.5px 10px; }
.cell-entry-field .cell-entry-field__input {
  border-radius: 0;
  width: 100%;
  height: 100%;
  padding: 2.5px 10px; }
.cell-one {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .cell-one .cell__button {
    display: flex;
    margin-left: 10px; }
  .cell-one .cell-button__btn-plus {
    background: #538CCE;
    margin-right: 2px; }
  .cell-one .cell-button__btn-remove {
    background: #b76363;
    margin-right: 2px; }
  .cell-one .cell-button__btn {
    background: #308949; }
  .cell-one .cell-button__btn,
  .cell-one .cell-button__btn-remove,
  .cell-one .cell-button__btn-plus {
    border: none;
    width: 21px;
    height: 22px;
    color: #FFF;
    display: flex;
    font-weight: 700;
    justify-content: center;
    align-items: center; }
  .cell-one .td__btn {
    width: 30px; }
  .cell-one .td__percentage {
    width: 40px;
    text-align: right; }
  .cell-one .cell {
    width: calc(100% - 70px);
    display: flex;
    justify-content: space-between; }

.cell-one {
  background: #accdae; }
  .cell-one.cell-one_0 {
    background: #9abedd; }

.cell-tow {
  background: #E4E4E4; }

.cell-tree {
  background: #F3F3F3; }
.cell-one {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .cell-one .cell__button {
    display: flex;
    margin-left: 10px; }
  .cell-one .cell-button__btn-plus {
    background: #538CCE;
    margin-right: 2px; }
  .cell-one .cell-button__btn-remove {
    background: #b76363;
    margin-right: 2px; }
  .cell-one .cell-button__btn {
    background: #308949; }
  .cell-one .cell-button__btn,
  .cell-one .cell-button__btn-remove,
  .cell-one .cell-button__btn-plus {
    border: none;
    width: 21px;
    height: 22px;
    color: #FFF;
    display: flex;
    font-weight: 700;
    justify-content: center;
    align-items: center; }
  .cell-one .td__btn {
    width: 30px; }
  .cell-one .td__percentage {
    width: 40px;
    text-align: right; }
  .cell-one .cell {
    width: calc(100% - 70px);
    display: flex;
    justify-content: space-between; }

.cell-one {
  background: #accdae; }
  .cell-one.cell-one_0 {
    background: #9abedd; }

.cell-tow {
  background: #E4E4E4; }

.cell-tree {
  background: #F3F3F3; }

/*# sourceMappingURL=app.css.map*/