<tr bgcolor="#5f9ea0">
    <td colspan="5">ESCORE DE KATZ</td>
</tr>
<tr>
    <td>&nbsp;</td>
    <td colspan="2" align="center" bgcolor="grey">INDEPENDÊNCIA<br><small><strong>1 PONTO</strong></small></td>
    <td align="center" colspan="2" bgcolor="grey">DEPENDÊNCIA<br><small><strong>0 PONTO</strong></small></td>
</tr>
<tr>
    <td bgcolor="grey">ATIVIDADES</td>
    <td colspan="2" align="left">
            <?=
            (
                $scoreNead != "" &&
                isset($scoreNead["katz"]["atividades"]) &&
                $scoreNead["katz"]["atividades"] == "1" ? "<img src='../../../utils/processada_16x16.jpg' width='12'>" : "<img src='../../../utils/cancelada_16x16.jpg' width='12'>"
            )
            ?>
        <label for="atividades-0">SEM SUPERVISÃO, ORIENTAÇÃO OU ASSISTÊNCIA PESSOAL.</label>
    </td>
    <td colspan="2" align="left">
            <?=
            (
                $scoreNead != "" &&
                isset($scoreNead["katz"]["atividades"]) &&
                $scoreNead["katz"]["atividades"] == "0" ? "<img src='../../../utils/processada_16x16.jpg' width='12'>" : "<img src='../../../utils/cancelada_16x16.jpg' width='12'>"
            )
            ?>
        <label for="atividades-1">COM SUPERVISÃO, ORIENTAÇÃO OU ASSISTÊNCIA PESSOAL OU CUIDADO INTEGRAL.</label>
    </td>
</tr>
<tr>
    <td bgcolor="grey">BANHAR-SE</td>
    <td colspan="2" align="left">
            <?=
            (
                $scoreNead != "" &&
                isset($scoreNead["katz"]["banho"]) &&
                $scoreNead["katz"]["banho"] == "1" ? "<img src='../../../utils/processada_16x16.jpg' width='12'>" : "<img src='../../../utils/cancelada_16x16.jpg' width='12'>"
            )
            ?>
        <label for="banho-0">
            BANHA-SE COMPLETAMENTE OU NECESSITA DE AUXÍLIO SOMENTE PARA LAVAR UMA PARTE DO CORPO,
            COMO AS COSTAS, GENITAIS OU UMA EXTREMIDADE INCAPACITADA.
        </label>
    </td>
    <td align="left" colspan="2">
            <?=
            (
                $scoreNead != "" &&
                isset($scoreNead["katz"]["banho"]) &&
                $scoreNead["katz"]["banho"] == "0" ? "<img src='../../../utils/processada_16x16.jpg' width='12'>" : "<img src='../../../utils/cancelada_16x16.jpg' width='12'>"
            )
            ?>
        <label for="banho-1">
            NECESSITA DE AJUDA PARA BANHAR-SE EM MAIS DE UMA PARTE DO CORPO, ENTRAR E SAIR DO CHUVEIRO OU BANHEIRA
            OU REQUER ASSISTÊNCIA TOTAL NO BANHO.
        </label>
    </td>
</tr>
<tr>
    <td bgcolor="grey">VESTIR-SE</td>
    <td colspan="2" align="left">
            <?=
            (
                $scoreNead != "" &&
                isset($scoreNead["katz"]["vestir"]) &&
                $scoreNead["katz"]["vestir"] == "1" ? "<img src='../../../utils/processada_16x16.jpg' width='12'>" : "<img src='../../../utils/cancelada_16x16.jpg' width='12'>"
            )
            ?>
        <label for="vestir-0">
            PEGA AS ROUPAS DO ARMÁRIO E VESTE AS ROUPAS ÍNTIMAS EXTERNAS E CINTOS. PODE RECEBER AJUDAR
            PARA AMARRAR OS SAPATOS.
        </label>
    </td>
    <td align="left" colspan="2">
            <?=
            (
                $scoreNead != "" &&
                isset($scoreNead["katz"]["vestir"]) &&
                $scoreNead["katz"]["vestir"] == "0" ? "<img src='../../../utils/processada_16x16.jpg' width='12'>" : "<img src='../../../utils/cancelada_16x16.jpg' width='12'>"
            )
            ?>
        <label for="vestir-1">
            NECESSITA DE AJUDA PARA VESTIR-SE OU NECESSITA SER COMPLETAMENTE VESTIDO.
        </label>
    </td>
</tr>
<tr>
    <td bgcolor="grey">IR AO BANHEIRO</td>
    <td colspan="2" align="left">
            <?=
            (
                $scoreNead != "" &&
                isset($scoreNead["katz"]["banheiro"]) &&
                $scoreNead["katz"]["banheiro"] == "1" ? "<img src='../../../utils/processada_16x16.jpg' width='12'>" : "<img src='../../../utils/cancelada_16x16.jpg' width='12'>"
            )
            ?>
        <label for="banheiro-0">
            DIRIGE-SE AO BANHEIRO, ENTRA E SAI DO MESMO, ARRUMA SUAS PRÓPRIAS ROUPAS, LIMPA A ÁREA
            GENITAL SEM AJUDA.
        </label>
    </td>
    <td align="left" colspan="2">
            <?=
            (
                $scoreNead != "" &&
                isset($scoreNead["katz"]["banheiro"]) &&
                $scoreNead["katz"]["banheiro"] == "0" ? "<img src='../../../utils/processada_16x16.jpg' width='12'>" : "<img src='../../../utils/cancelada_16x16.jpg' width='12'>"
            )
            ?>
        <label for="banheiro-1">
            NECESSITA DE AJUDA PARA IR AO BANHEIRO, LIMPAR-SE OU USA URINOL OU COMADRE.
        </label>
    </td>
</tr>
<tr>
    <td bgcolor="grey">TRANSFERÊNCIA</td>
    <td colspan="2" align="left">
            <?=
            (
                $scoreNead != "" &&
                isset($scoreNead["katz"]["transferencia"]) &&
                $scoreNead["katz"]["transferencia"] == "1" ? "<img src='../../../utils/processada_16x16.jpg' width='12'>" : "<img src='../../../utils/cancelada_16x16.jpg' width='12'>"
            )
            ?>
        <label for="transferencia-0">
            SENTA-SE, DEITA-SE E SE LEVANTA DA CAMA OU CADEIRA SEM AJUDA. EQUIPAMENTOS MECÂNICOS DE AJUDA
            SÃO ACEITÁVEIS.
        </label>
    </td>
    <td align="left" colspan="2">
            <?=
            (
                $scoreNead != "" &&
                isset($scoreNead["katz"]["transferencia"]) &&
                $scoreNead["katz"]["transferencia"] == "0" ? "<img src='../../../utils/processada_16x16.jpg' width='12'>" : "<img src='../../../utils/cancelada_16x16.jpg' width='12'>"
            )
            ?>
        <label for="transferencia-1">
            NECESSITA DE AJUDA PARA SENTAR-SE, DEITAR-SE OU SE LEVANTAR DA CAMA OU CADEIRA.
        </label>
    </td>
</tr>
<tr>
    <td bgcolor="grey">CONTINÊNCIA</td>
    <td colspan="2" align="left">
            <?=
            (
                $scoreNead != "" &&
                isset($scoreNead["katz"]["continencia"]) &&
                $scoreNead["katz"]["continencia"] == "1" ? "<img src='../../../utils/processada_16x16.jpg' width='12'>" : "<img src='../../../utils/cancelada_16x16.jpg' width='12'>"
            )
            ?>
        <label for="continencia-0">
            TEM COMPLETO CONTROLE SOBRE SUAS ELIMINAÇÕES (URINAR E EVACUAR).
        </label>
    </td>
    <td align="left" colspan="2">
            <?=
            (
                $scoreNead != "" &&
                isset($scoreNead["katz"]["continencia"]) &&
                $scoreNead["katz"]["continencia"] == "0" ? "<img src='../../../utils/processada_16x16.jpg' width='12'>" : "<img src='../../../utils/cancelada_16x16.jpg' width='12'>"
            )
            ?>
        <label for="continencia-1">
            É PARCIAL OU TOTALMENTE INCONTINENTE DO INTESTINO OU BEXIGA.
        </label>
    </td>
</tr>
<tr>
    <td bgcolor="grey">ALIMENTAÇÃO</td>
    <td colspan="2" align="left">
            <?=
            (
                $scoreNead != "" &&
                isset($scoreNead["katz"]["alimentacao"]) &&
                $scoreNead["katz"]["alimentacao"] == "1" ? "<img src='../../../utils/processada_16x16.jpg' width='12'>" : "<img src='../../../utils/cancelada_16x16.jpg' width='12'>"
            )
            ?>
        <label for="alimentacao-0">
            LEVA A COMIDA DO PRATO À BOCA SEM AJUDA. PREPARAÇÃO DA COMIDA PODE SER FEITA POR OUTRA PESSOA.
        </label>
    </td>
    <td align="left" colspan="2">
            <?=
            (
                $scoreNead != "" &&
                isset($scoreNead["katz"]["alimentacao"]) &&
                $scoreNead["katz"]["alimentacao"] == "0" ? "<img src='../../../utils/processada_16x16.jpg' width='12'>" : "<img src='../../../utils/cancelada_16x16.jpg' width='12'>"
            )
            ?>
        <label for="alimentacao-1">
            NECESSITA DE AJUDA PARCIAL OU TOTAL COM A ALIMENTAÇÃO OU REQUER ALIMENTAÇÃO PARENTERAL.
        </label>
    </td>
</tr>
<tr>
    <td align="center" colspan="5" style="font-size: 14px !important;">
        PONTUAÇÃO KATZ: <strong id="pontuacao-katz" pontuacao="0"><?= $totalKatz ?></strong>
    </td>
</tr>
<tr bgcolor="#5f9ea0">
    <td colspan="5">CLASSIFICAÇÃO KATZ</td>
</tr>
<tr>
    <td colspan="2" align="center">
        5 OU 6 - INDEPENDENTE
    </td>
    <td colspan="2" align="center">
        3 OU 4 - DEPENDÊNCIA PARCIAL
    </td>
    <td align="center">
        1 OU 2 - DEPENDENTE TOTAL
    </td>
</tr>
