<hr>
<table class="mytable" width="100%">
    <thead>
    <tr>
        <th align="center" colspan="5">Tabela de Avaliação para Planejamento de Atenção Domiciliar - NEAD<sup>2016<sup></th>
    </tr>
    </thead>
    <?php require __DIR__ . "/../score-nead-2016/katz-table-score-print.phtml"; ?>
    <tr bgcolor="#5f9ea0">
        <td colspan="5">GRUPO 1 - ELEGIBILIDADE</td>
    </tr>
    <tr bgcolor="grey">
        <td colspan="2">ELEGIBILIDADE AO ATENDIMENTO DOMICILIAR</td>
        <td align="center" bgcolor="#228b22">SIM</td>
        <td align="center" colspan="2">NÃO</td>
    </tr>
    <tr>
        <td colspan="2">Apresenta cuidador em período integral?</td>
        <td align="center">
            <?=
            (
                $scoreNead != "" &&
                isset($scoreNead["grupos"]["cuidado_periodo_integral"]) &&
                $scoreNead["grupos"]["cuidado_periodo_integral"] == "1" ? "<img src='../../../utils/processada_16x16.jpg' width='12'>" : "<img src='../../../utils/cancelada_16x16.jpg' width='12'>"
            )
            ?>
        </td>
        <td align="center" colspan="2">
            <?=
            (
                $scoreNead != "" &&
                isset($scoreNead["grupos"]["cuidado_periodo_integral"]) &&
                $scoreNead["grupos"]["cuidado_periodo_integral"] == "0" ? "<img src='../../../utils/processada_16x16.jpg' width='12'>" : "<img src='../../../utils/cancelada_16x16.jpg' width='12'>"
            )
            ?>
        </td>
    </tr>
    <tr>
        <td colspan="2">O domicílio é livre de risco?</td>
        <td align="center">
            <?=
            (
                $scoreNead != "" &&
                isset($scoreNead["grupos"]["domicilio_livre_risco"]) &&
                $scoreNead["grupos"]["domicilio_livre_risco"] == "1" ? "<img src='../../../utils/processada_16x16.jpg' width='12'>" : "<img src='../../../utils/cancelada_16x16.jpg' width='12'>"
            )
            ?>
        </td>
        <td align="center" colspan="2">
            <?=
            (
                $scoreNead != "" &&
                isset($scoreNead["grupos"]["domicilio_livre_risco"]) &&
                $scoreNead["grupos"]["domicilio_livre_risco"] == "0" ? "<img src='../../../utils/processada_16x16.jpg' width='12'>" : "<img src='../../../utils/cancelada_16x16.jpg' width='12'>"
            )
            ?>
        </td>
    </tr>
    <tr>
        <td colspan="2">Existe algum impedimento para se deslocar até a rede credenciada?</td>
        <td align="center">
            <?=
            (
                $scoreNead != "" &&
                isset($scoreNead["grupos"]["impedimento_rede_credenciada"]) &&
                $scoreNead["grupos"]["impedimento_rede_credenciada"] == "1" ? "<img src='../../../utils/processada_16x16.jpg' width='12'>" : "<img src='../../../utils/cancelada_16x16.jpg' width='12'>"
            )
            ?>
        </td>
        <td align="center" colspan="2">
            <?=
            (
                $scoreNead != "" &&
                isset($scoreNead["grupos"]["impedimento_rede_credenciada"]) &&
                $scoreNead["grupos"]["impedimento_rede_credenciada"] == "0" ? "<img src='../../../utils/processada_16x16.jpg' width='12'>" : "<img src='../../../utils/cancelada_16x16.jpg' width='12'>"
            )
            ?>
        </td>
    </tr>
    <tr bgcolor="grey" align="center">
        <td colspan="5">
            Se responder <strong>"NÃO"</strong> a qualquer uma das questões acima,
            considerar contraindicar Atenção Domiciliar.
        </td>
    </tr>
    <tr bgcolor="#5f9ea0">
        <td colspan="5">GRUPO 2 - CRITÉRIOS PARA A INDICAÇÃO IMEDIATA DE INTERNAÇÃO DOMICILIAR</td>
    </tr>
    <tr>
        <td rowspan="2">&nbsp;</td>
        <td align="center" bgcolor="grey" colspan="4">PERFIL DE INTERNAÇÃO DOMICILIAR</td>
    </tr>
    <tr>
        <td align="center" bgcolor="#228b22">24 HORAS</td>
        <td align="center" bgcolor="#228b22">12 HORAS</td>
        <td align="center" bgcolor="#228b22" colspan="2">ATENDIMENTO DOMICILIAR / OUTROS PROGRAMAS</td>
    </tr>
    <tr>
        <td>ALIMENTAÇÃO PARENTERAL</td>
        <td align="center">
            <?=
            (
                $scoreNead != "" &&
                isset($scoreNead["grupos"]["alimentacao_parenteral"]) &&
                $scoreNead["grupos"]["alimentacao_parenteral"] == "0" ? "<img src='../../../utils/processada_16x16.jpg' width='12'>" : "<img src='../../../utils/cancelada_16x16.jpg' width='12'>"
            )
            ?>
            <label for="alimentacao-parenteral-0">Por mais de 12 horas/dia</label>
        </td>
        <td align="center">
            <?=
            (
                $scoreNead != "" &&
                isset($scoreNead["grupos"]["alimentacao_parenteral"]) &&
                $scoreNead["grupos"]["alimentacao_parenteral"] == "1" ? "<img src='../../../utils/processada_16x16.jpg' width='12'>" : "<img src='../../../utils/cancelada_16x16.jpg' width='12'>"
            )
            ?>
            <label for="alimentacao-parenteral-1">Até 12 horas/dia</label>
        </td>
        <td align="center" colspan="2">
            <?=
            (
                $scoreNead != "" &&
                isset($scoreNead["grupos"]["alimentacao_parenteral"]) &&
                $scoreNead["grupos"]["alimentacao_parenteral"] == "2" ? "<img src='../../../utils/processada_16x16.jpg' width='12'>" : "<img src='../../../utils/cancelada_16x16.jpg' width='12'>"
            )
            ?>
            <label for="alimentacao-parenteral-2">Não utiliza</label>
        </td>
    </tr>
    <tr>
        <td>ASPIRAÇÃO DE TRAQUEOSTOMIA / VIAS AÉREAS INFERIORES</td>
        <td align="center">
            <?=
            (
                $scoreNead != "" &&
                isset($scoreNead["grupos"]["aspiracao"]) &&
                $scoreNead["grupos"]["aspiracao"] == "0" ? "<img src='../../../utils/processada_16x16.jpg' width='12'>" : "<img src='../../../utils/cancelada_16x16.jpg' width='12'>"
            )
            ?>
            <label for="aspiracao-0">Mais de 5 vezes/dia</label>
        </td>
        <td align="center">
            <?=
            (
                $scoreNead != "" &&
                isset($scoreNead["grupos"]["aspiracao"]) &&
                $scoreNead["grupos"]["aspiracao"] == "1" ? "<img src='../../../utils/processada_16x16.jpg' width='12'>" : "<img src='../../../utils/cancelada_16x16.jpg' width='12'>"
            )
            ?>
            <label for="aspiracao-1">Até 5 vezes/dia</label>
        </td>
        <td align="center" colspan="2">
            <?=
            (
                $scoreNead != "" &&
                isset($scoreNead["grupos"]["aspiracao"]) &&
                $scoreNead["grupos"]["aspiracao"] == "2" ? "<img src='../../../utils/processada_16x16.jpg' width='12'>" : "<img src='../../../utils/cancelada_16x16.jpg' width='12'>"
            )
            ?>
            <label for="aspiracao-2">Não utiliza</label>
        </td>
    </tr>
    <tr>
        <td>VENTILAÇÃO MECÂNICA CONTÍNUA INVASIVA OU NÃO</td>
        <td align="center">
            <?=
            (
                $scoreNead != "" &&
                isset($scoreNead["grupos"]["ventilacao_mecanica"]) &&
                $scoreNead["grupos"]["ventilacao_mecanica"] == "0" ? "<img src='../../../utils/processada_16x16.jpg' width='12'>" : "<img src='../../../utils/cancelada_16x16.jpg' width='12'>"
            )
            ?>
            <label for="ventilacao-mecanica-0">Por mais de 12 horas/dia</label>
        </td>
        <td align="center">
            <?=
            (
                $scoreNead != "" &&
                isset($scoreNead["grupos"]["ventilacao_mecanica"]) &&
                $scoreNead["grupos"]["ventilacao_mecanica"] == "1" ? "<img src='../../../utils/processada_16x16.jpg' width='12'>" : "<img src='../../../utils/cancelada_16x16.jpg' width='12'>"
            )
            ?>
            <label for="ventilacao-mecanica-1">Até 12 horas/dia</label>
        </td>
        <td align="center" colspan="2">
            <?=
            (
                $scoreNead != "" &&
                isset($scoreNead["grupos"]["ventilacao_mecanica"]) &&
                $scoreNead["grupos"]["ventilacao_mecanica"] == "2" ? "<img src='../../../utils/processada_16x16.jpg' width='12'>" : "<img src='../../../utils/cancelada_16x16.jpg' width='12'>"
            )
            ?>
            <label for="ventilacao-mecanica-2">Não utiliza</label>
        </td>
    </tr>
    <tr>
        <td>MEDICAÇÃO PARENTERAL OU HIPODERMÓCLISE</td>
        <td align="center" colspan="2">
            <?=
            (
                $scoreNead != "" &&
                isset($scoreNead["grupos"]["medicacao_hipodermoclise"]) &&
                $scoreNead["grupos"]["medicacao_hipodermoclise"] == "0" ? "<img src='../../../utils/processada_16x16.jpg' width='12'>" : "<img src='../../../utils/cancelada_16x16.jpg' width='12'>"
            )
            ?>
            <label for="medicacao-hipodermoclise-0">Mais de 4 vezes/dia</label>
        </td>
        <td align="center" colspan="2">
            <?=
            (
                $scoreNead != "" &&
                isset($scoreNead["grupos"]["medicacao_hipodermoclise"]) &&
                $scoreNead["grupos"]["medicacao_hipodermoclise"] == "2" ? "<img src='../../../utils/processada_16x16.jpg' width='12'>" : "<img src='../../../utils/cancelada_16x16.jpg' width='12'>"
            )
            ?>
            <label for="medicacao-hipodermoclise-2">Até 4 vezes/dia</label>
        </td>
    </tr>
    <tr bgcolor="grey" align="center">
        <td colspan="5">
            Para indicação de Planejamento de Atenção Domiciliar (P.A.D.),
            <strong>considerar a maior complexidade assinalada</strong>, ainda que uma única vez.
        </td>
    </tr>

    <tr bgcolor="#5f9ea0">
        <td colspan="5">GRUPO 3- CRITÉRIOS DE APOIO PARA INDICAÇÃO DE PLANEJAMENTO DE ATENÇÃO DOMICILIAR</td>
    </tr>
    <?php
    $scores = \App\Models\Administracao\Score::getScoreByGrupo($grupo);
    $score = [];
    $i = 0;
    $grupoId = 0;
    $totalGrupo3 =0;
    foreach ($scores as $row) {
        if($grupoId != $row["GRUPO_ID"]){
            $grupoId = $row["GRUPO_ID"];
            $i = 0;
        }
        $score[$row["grupo"]][$i]["grupo_id"] = $row["GRUPO_ID"];
        $score[$row["grupo"]][$i]["item_id"] = $row["ID"];
        $score[$row["grupo"]][$i]["descricao"] = $row["DESCRICAO"];
        $score[$row["grupo"]][$i]["peso"] = $row["PESO"];
        $score[$row["grupo"]][$i]["qtd"] = $row["QTD"];

        $i++;
    }

    $colspan = false;
    $j = 1;
    foreach($score as $nome => $grupo):
        $i = 0;
        $colspan = false;
        ?>
        <tr>
            <td bgcolor="grey"><?= $nome ?></td>
            <?php
            foreach($grupo as $item) :
                if($item["qtd"] == "3" && $i == 2) {
                    $colspan = true;
                    $colN = 2;
                }
                if($item["qtd"] == "2" && $i == 1) {
                    $colspan = true;
                    $colN = 3;
                }
                $descricaoTratada = strtolower(\App\Helpers\StringHelper::removeAcentosViaEReg($nome, true));
                $descricaoTratada = preg_replace('/[^\da-z]/i', "", $descricaoTratada);
                $slices = explode(" ", $descricaoTratada);
                $radioId = implode("-", $slices) . "-" . $item["item_id"];
                $radioName = implode("_", $slices);
                ?>
                <td align="center" <?= ($colspan ? "colspan='{$colN}'" : "") ?>>
                    <?=
                    (
                        $scoreNead != "" &&
                        isset($scoreNead["grupos"][$radioName]) &&
                        $scoreNead["grupos"][$radioName] == $item["peso"] ? "<img src='../../../utils/processada_16x16.jpg' width='12'>" : "<img src='../../../utils/cancelada_16x16.jpg' width='12'>"

                    )
                    ?>
                    <label for="<?= $radioId ?>"><?= $item["descricao"] ?></label>
                </td>
                <?php
                if($scoreNead != "" &&  isset($scoreNead["grupos"][$radioName]) && $scoreNead["grupos"][$radioName] == $item["peso"]){
                    $totalGrupo3 += $item["peso"];
                };
                $i++;
            endforeach;
            $j++;
            ?>
        </tr>
    <?php endforeach; ?>

    <tr>
        <td align="center" colspan="5" style="font-size: 14px !important;">
            PONTUAÇÃO FINAL: <strong id="pontuacao-nead-2016" pontuacao="0"><?= $totalGrupo3 ?></strong>
        </td>
    </tr>
    <tr bgcolor="#5f9ea0">
        <td colspan="5">CLASSIFICAÇÃO DO PACIENTE</td>
    </tr>
    <tr>
        <td style="border-right: none !important;">Até 5 pontos</td>
        <td colspan="2" style="border-left: none !important;">
            Considerar procedimentos pontuais exclusivos ou outros programas: <br>
            <?= ($classificacao_paciente != "" && isset($classificacao_paciente) && $classificacao_paciente == "0" ? "<img src='../../../utils/processada_16x16.jpg' width='12'>" : "<img src='../../../utils/cancelada_16x16.jpg' width='12'>" ) ?>
            <label for="cp-curativos">Curativos<strong></strong></label>
            <?= ($classificacao_paciente != "" && isset($classificacao_paciente) && $classificacao_paciente == "1" ? "<img src='../../../utils/processada_16x16.jpg' width='12'>" : "<img src='../../../utils/cancelada_16x16.jpg' width='12'>" ) ?>
            <label for="cp-medicacoes">Medicações Parenterais<strong></strong></label>
            <?= ($classificacao_paciente != "" && isset($classificacao_paciente) && $classificacao_paciente == "2" ? "<img src='../../../utils/processada_16x16.jpg' width='12'>" : "<img src='../../../utils/cancelada_16x16.jpg' width='12'>" ) ?>
            <label for="cp-outros">Outros Programas <strong></strong></label>
        </td>
        <td style="border-right: none !important;">De 12 a 17 pontos</td>
        <td colspan="2" style="border-left: none !important;">
            Considerar <strong>Internação Domiciliar 12h</strong>
        </td>
    </tr>
    <tr>
        <td style="border-right: none !important;">De 6 a 11 pontos</td>
        <td colspan="2" style="border-left: none !important;">
            Considerar <strong>Atendimento Domiciliar Multiprofissional</strong>
            (inclui procedimentos pontuais, desde que não exclusivos)
        </td>
        <td style="border-right: none !important;">18 ou mais pontos</td>
        <td colspan="2" style="border-left: none !important;">
            Considerar <strong>Internação Domiciliar 24h</strong>
        </td>
    </tr>
</table>
<hr>
