<style type="text/css">
    div.msg {
        width: 100%;
        position: relative;
        float: left;
        text-align: center;
        font-size: 12px;
        margin-bottom: 20px;
    }
    .failed {
        color: #AA0000;
        background-color: #FDCCCC;
    }
    .warning {
        color: #000;
        background-color: #EEA236;
    }
</style>
<br>
<hr>
<br>
<div class="ui-state-highlight" style="padding: 2px">
    <center><strong>No Score NEAD<sup>2016</sup>, para desmarcar um item, dê um duplo-click nele. </strong></center>
</div>
<br>
<?php
$relatorio_text = $tipo_relatorio == 'avaliacaoenfermagem' ? ' de Enfermagem' : 'Médica';
if(($tipo_relatorio == 'capmedica' || $tipo_relatorio == 'avaliacaoenfermagem') && $hasAvaliacao): ?>
    <div class="msg <?= $classAlert ?>">
        <strong>Baseado em Score NEAD<sup>2016</sup> da Avaliação <?= $relatorio_text ?> criada por <?= $criadoPor ?> há <?= $tempoCriadoTxt ?>.</strong>
    </div>
    <br>
<?php endif; ?>
<table class='mytable' width='100%'>
    <thead>
    <tr>
        <th align='center' colspan='5'>Tabela de Avaliação para Planejamento de Atenção Domiciliar - NEAD<sup>2016</sup></th>
    </tr>
    </thead>
    <?php require __DIR__ . '/../score-nead-2016/katz-table-score.phtml'; ?>
    <tr bgcolor='#5f9ea0'>
        <td colspan='5'>GRUPO 1 - ELEGIBILIDADE</td>
    </tr>
    <tr bgcolor='grey'>
        <td colspan='2'>ELEGIBILIDADE AO ATENDIMENTO DOMICILIAR</td>
        <td align='center' bgcolor='#228b22'>SIM</td>
        <td align='center' colspan='2'>NÃO</td>
    </tr>
    <tr>
        <td colspan='2'>Apresenta cuidador em período integral?</td>
        <td align='center'>
            <input  type='radio'
                    name='cuidado_periodo_integral'
                    id='cuidador-periodo-integral-0'
                    <?=
                    (
                        $scoreNead != '' &&
                        isset($scoreNead['grupos']['cuidado_periodo_integral']) &&
                        $scoreNead['grupos']['cuidado_periodo_integral'] == '1' ? "checked" : ""
                    )
                    ?>
                    class='cuidador-periodo-integral grupo1'
                    value='1'>
        </td>
        <td align='center' colspan='2'>
            <input  type='radio'
                    name='cuidado_periodo_integral'
                    id='cuidador-periodo-integral-1'
                    <?=
                    (
                        $scoreNead != '' &&
                        isset($scoreNead['grupos']['cuidado_periodo_integral']) &&
                        $scoreNead['grupos']['cuidado_periodo_integral'] == '0' ? "checked" : ""
                    )
                    ?>
                    class='cuidador-periodo-integral grupo1'
                    value='0'>
        </td>
    </tr>
    <tr>
        <td colspan='2'>O domicílio é livre de risco?</td>
        <td align='center'>
            <input  type='radio'
                    name='domicilio_livre_risco'
                    id='domicilio-livre-risco-0'
                    <?=
                    (
                        $scoreNead != '' &&
                        isset($scoreNead['grupos']['domicilio_livre_risco']) &&
                        $scoreNead['grupos']['domicilio_livre_risco'] == '1' ? "checked" : ""
                    )
                    ?>
                    class='domicilio-livre-risco grupo1'
                    value='1'>
        </td>
        <td align='center' colspan='2'>
            <input  type='radio'
                    name='domicilio_livre_risco'
                    id='domicilio-livre-risco-1'
                    <?=
                    (
                        $scoreNead != '' &&
                        isset($scoreNead['grupos']['domicilio_livre_risco']) &&
                        $scoreNead['grupos']['domicilio_livre_risco'] == '0' ? "checked" : ""
                    )
                    ?>
                    class='domicilio-livre-risco grupo1'
                    value='0'>
        </td>
    </tr>
    <tr>
        <td colspan='2'>Existe algum impedimento para se deslocar até a rede credenciada?</td>
        <td align='center'>
            <input  type='radio'
                    name='impedimento_rede_credenciada'
                    id='impedimento-rede-credenciada-0'
                    <?=
                    (
                        $scoreNead != '' &&
                        isset($scoreNead['grupos']['impedimento_rede_credenciada']) &&
                        $scoreNead['grupos']['impedimento_rede_credenciada'] == '1' ? "checked" : ""
                    )
                    ?>
                    class='impedimento-rede-credenciada grupo1'
                    value='1'>
        </td>
        <td align='center' colspan='2'>
            <input  type='radio'
                    name='impedimento_rede_credenciada'
                    id='impedimento-rede-credenciada-1'
                    <?=
                    (
                        $scoreNead != '' &&
                        isset($scoreNead['grupos']['impedimento_rede_credenciada']) &&
                        $scoreNead['grupos']['impedimento_rede_credenciada'] == '0' ? "checked" : ""
                    )
                    ?>
                    class='impedimento-rede-credenciada grupo1'
                    value='0'>
        </td>
    </tr>
    <tr bgcolor='grey' align='center'>
        <td colspan='5'>
            Se responder <strong>"NÃO"</strong> a qualquer uma das questões acima,
            considerar contraindicar Atenção Domiciliar.
        </td>
    </tr>
    <tr bgcolor='#5f9ea0'>
        <td colspan='5'>GRUPO 2 - CRITÉRIOS PARA A INDICAÇÃO IMEDIATA DE INTERNAÇÃO DOMICILIAR</td>
    </tr>
    <tr>
        <td rowspan='2'>&nbsp;</td>
        <td align='center' bgcolor='grey' colspan='4'>PERFIL DE INTERNAÇÃO DOMICILIAR</td>
    </tr>
    <tr>
        <td align='center' bgcolor='#228b22'>24 HORAS</td>
        <td align='center' bgcolor='#228b22'>12 HORAS</td>
        <td align='center' bgcolor='#228b22' colspan='2'>ATENDIMENTO DOMICILIAR / OUTROS PROGRAMAS</td>
    </tr>
    <tr>
        <td>ALIMENTAÇÃO PARENTERAL</td>
        <td align='center'>
            <input  type='radio'
                    name='alimentacao_parenteral'
                    id='alimentacao-parenteral-0'
                    <?=
                    (
                        $scoreNead != '' &&
                        isset($scoreNead['grupos']['alimentacao_parenteral']) &&
                        $scoreNead['grupos']['alimentacao_parenteral'] == '0' ? "checked" : ""
                    )
                    ?>
                    class='alimentacao-parenteral grupo2'
                    value='0'>
            <label for='alimentacao-parenteral-0'>Por mais de 12 horas/dia</label>
        </td>
        <td align='center'>
            <input  type='radio'
                    name='alimentacao_parenteral'
                    id='alimentacao-parenteral-1'
                    <?=
                    (
                        $scoreNead != '' &&
                        isset($scoreNead['grupos']['alimentacao_parenteral']) &&
                        $scoreNead['grupos']['alimentacao_parenteral'] == '1' ? "checked" : ""
                    )
                    ?>
                    class='alimentacao-parenteral grupo2'
                    value='1'>
            <label for='alimentacao-parenteral-1'>Até 12 horas/dia</label>
        </td>
        <td align='center' colspan='2'>
            <input  type='radio'
                    name='alimentacao_parenteral'
                    id='alimentacao-parenteral-2'
                    <?=
                    (
                        $scoreNead != '' &&
                        isset($scoreNead['grupos']['alimentacao_parenteral']) &&
                        $scoreNead['grupos']['alimentacao_parenteral'] == '2' ? "checked" : ""
                    )
                    ?>
                    class='alimentacao-parenteral grupo2'
                    value='2'>
            <label for='alimentacao-parenteral-2'>Não utiliza</label>
        </td>
    </tr>
    <tr>
        <td>ASPIRAÇÃO DE TRAQUEOSTOMIA / VIAS AÉREAS INFERIORES</td>
        <td align='center'>
            <input  type='radio'
                    name='aspiracao'
                    id='aspiracao-0'
                    <?=
                    (
                        $scoreNead != '' &&
                        isset($scoreNead['grupos']['aspiracao']) &&
                        $scoreNead['grupos']['aspiracao'] == '0' ? "checked" : ""
                    )
                    ?>
                    class='aspiracao grupo2'
                    value='0'>
            <label for='aspiracao-0'>Mais de 5 vezes/dia</label>
        </td>
        <td align='center'>
            <input  type='radio'
                    name='aspiracao'
                    id='aspiracao-1'
                    <?=
                    (
                        $scoreNead != '' &&
                        isset($scoreNead['grupos']['aspiracao']) &&
                        $scoreNead['grupos']['aspiracao'] == '1' ? "checked" : ""
                    )
                    ?>
                    class='aspiracao grupo2'
                    value='1'>
            <label for='aspiracao-1'>Até 5 vezes/dia</label>
        </td>
        <td align='center' colspan='2'>
            <input  type='radio'
                    name='aspiracao'
                    id='aspiracao-2'
                    <?=
                    (
                        $scoreNead != '' &&
                        isset($scoreNead['grupos']['aspiracao']) &&
                        $scoreNead['grupos']['aspiracao'] == '2' ? "checked" : ""
                    )
                    ?>
                    class='aspiracao grupo2'
                    value='2'>
            <label for='aspiracao-2'>Não utiliza</label>
        </td>
    </tr>
    <tr>
        <td>VENTILAÇÃO MECÂNICA CONTÍNUA INVASIVA OU NÃO</td>
        <td align='center'>
            <input  type='radio'
                    name='ventilacao_mecanica'
                    id='ventilacao-mecanica-0'
                    <?=
                    (
                        $scoreNead != '' &&
                        isset($scoreNead['grupos']['ventilacao_mecanica']) &&
                        $scoreNead['grupos']['ventilacao_mecanica'] == '0' ? "checked" : ""
                    )
                    ?>
                    class='ventilacao-mecanica grupo2'
                    value='0'>
            <label for='ventilacao-mecanica-0'>Por mais de 12 horas/dia</label>
        </td>
        <td align='center'>
            <input  type='radio'
                    name='ventilacao_mecanica'
                    id='ventilacao-mecanica-1'
                    <?=
                    (
                        $scoreNead != '' &&
                        isset($scoreNead['grupos']['ventilacao_mecanica']) &&
                        $scoreNead['grupos']['ventilacao_mecanica'] == '1' ? "checked" : ""
                    )
                    ?>
                    class='ventilacao-mecanica grupo2'
                    value='1'>
            <label for='ventilacao-mecanica-1'>Até 12 horas/dia</label>
        </td>
        <td align='center' colspan='2'>
            <input  type='radio'
                    name='ventilacao_mecanica'
                    id='ventilacao-mecanica-2'
                    <?=
                    (
                        $scoreNead != '' &&
                        isset($scoreNead['grupos']['ventilacao_mecanica']) &&
                        $scoreNead['grupos']['ventilacao_mecanica'] == '2' ? "checked" : ""
                    )
                    ?>
                    class='ventilacao-mecanica grupo2'
                    value='2'>
            <label for='ventilacao-mecanica-2'>Não utiliza</label>
        </td>
    </tr>
    <tr>
        <td>MEDICAÇÃO PARENTERAL OU HIPODERMÓCLISE</td>
        <td align='center' colspan='2'>
            <input  type='radio'
                    name='medicacao_hipodermoclise'
                    id='medicacao-hipodermoclise-0'
                    <?=
                    (
                        $scoreNead != '' &&
                        isset($scoreNead['grupos']['medicacao_hipodermoclise']) &&
                        $scoreNead['grupos']['medicacao_hipodermoclise'] == '0' ? "checked" : ""
                    )
                    ?>
                    class='medicacao-hipodermoclise grupo2'
                    value='0'>
            <label for='medicacao-hipodermoclise-0'>Mais de 4 vezes/dia</label>
        </td>
        <td align='center' colspan='2'>
            <input  type='radio'
                    name='medicacao_hipodermoclise'
                    id='medicacao-hipodermoclise-2'
                    <?=
                    (
                        $scoreNead != '' &&
                        isset($scoreNead['grupos']['medicacao_hipodermoclise']) &&
                        $scoreNead['grupos']['medicacao_hipodermoclise'] == '2' ? "checked" : ""
                    )
                    ?>
                    class='medicacao-hipodermoclise grupo2'
                    value='2'>
            <label for='medicacao-hipodermoclise-2'>Até 4 vezes/dia</label>
        </td>
    </tr>
    <tr bgcolor='grey' align='center'>
        <td colspan='5'>
            Para indicação de Planejamento de Atenção Domiciliar (P.A.D.),
            <strong>considerar a maior complexidade assinalada</strong>, ainda que uma única vez.
        </td>
    </tr>

    <tr bgcolor='#5f9ea0'>
        <td colspan='5'>GRUPO 3 - CRITÉRIOS DE APOIO PARA INDICAÇÃO DE PLANEJAMENTO DE ATENÇÃO DOMICILIAR</td>
    </tr>
    <?php
    $scores = \App\Models\Administracao\Score::getScoreByGrupo($grupo);
    $score = [];
    $i = 0;
    $grupoId = 0;
    foreach ($scores as $row) {
        if($grupoId != $row['GRUPO_ID']){
            $grupoId = $row['GRUPO_ID'];
            $i = 0;
        }
        $score[$row['grupo']][$i]['grupo_id'] = $row['GRUPO_ID'];
        $score[$row['grupo']][$i]['item_id'] = $row['ID'];
        $score[$row['grupo']][$i]['descricao'] = $row['DESCRICAO'];
        $score[$row['grupo']][$i]['peso'] = $row['PESO'];
        $score[$row['grupo']][$i]['qtd'] = $row['QTD'];
        $i++;
    }

    $colspan = false;
    $j = 1;
    $totalGrupo3 =0;
    foreach($score as $nome => $grupo):
        $i = 0;
        $colspan = false;
        $cor = $j % 2 == 0 ? 'grey' : 'white';
        ?>
        <tr bgcolor='<?= $cor ?>'>
            <td bgcolor='grey'><?= $nome ?></td>
            <?php
            foreach($grupo as $item) :
                if($item['qtd'] == '3' && $i == 2) {
                    $colspan = true;
                    $colN = 2;
                }
                if($item['qtd'] == '2' && $i == 1) {
                    $colspan = true;
                    $colN = 3;
                }
                $descricaoTratada = strtolower(\App\Helpers\StringHelper::removeAcentosViaEReg($nome, true));
                $descricaoTratada = preg_replace('/[^\da-z]/i', '', $descricaoTratada);
                $slices = explode(' ', $descricaoTratada);
                $radioId = implode('-', $slices) . '-' . $item['item_id'];
                $radioName = implode('_', $slices);
                ?>
                <td align='center' <?= ($colspan ? "colspan='{$colN}'" : '') ?>>
                    <input  type='radio'
                            name='<?= $radioName ?>'
                            id='<?= $radioId ?>'
                            <?=
                            (
                                $scoreNead != '' &&
                                isset($scoreNead['grupos'][$radioName]) &&
                                $scoreNead['grupos'][$radioName] == $item['peso'] ? "checked" : ""
                            )
                            ?>
                            class='nead2016 grupo3'
                            grupoid='<?= $item['grupo_id'] ?>'
                            itemid='<?= $item['item_id'] ?>'
                            peso='<?= $item['peso'] ?>'>
                    <label for='<?= $radioId ?>'><?= $item['descricao'] ?></label>
                </td>
                <?php
                if($scoreNead != "" &&  isset($scoreNead["grupos"][$radioName]) && $scoreNead["grupos"][$radioName] == $item["peso"]){
                    $totalGrupo3 += $item["peso"];
                };
                $i++;
            endforeach;
            $j++;
            ?>
        </tr>
    <?php endforeach; ?>

    <tr>
        <td align='center' colspan='5' style='font-size: 14px !important;'>
            PONTUAÇÃO FINAL: <strong id='pontuacao-nead-2016' pontuacao='0'><?= $totalGrupo3 ?></strong>
        </td>
    </tr>
    <tr bgcolor='#5f9ea0'>
        <td colspan='5'>CLASSIFICAÇÃO DO PACIENTE</td>
    </tr>
    <tr>
        <td style='border-right: none !important;'>Até 5 pontos</td>
        <td colspan='2' style='border-left: none !important;'>
            Considerar procedimentos pontuais exclusivos ou outros programas: <br>
            <input type='radio' name="classificacao_paciente" <?= ($classificacao_paciente != '' && isset($classificacao_paciente) && $classificacao_paciente == '0' ? "checked" : "" ) ?> class='classificacao-paciente' value='0' id='cp-curativos'>
            <label for='cp-curativos'>Curativos<strong></strong></label>
            <input type='radio' name="classificacao_paciente" <?= ($classificacao_paciente != '' && isset($classificacao_paciente) && $classificacao_paciente == '1' ? "checked" : "" ) ?> class='classificacao-paciente' value='1' id='cp-medicacoes'>
            <label for='cp-medicacoes'>Medicações Parenterais<strong></strong></label>
            <input type='radio' name="classificacao_paciente" <?= ($classificacao_paciente != '' && isset($classificacao_paciente) && $classificacao_paciente == '2' ? "checked" : "" ) ?> class='classificacao-paciente' value='2' id='cp-outros'>
            <label for='cp-outros'>Outros Programas <strong></strong></label>
        </td>
        <td style='border-right: none !important;'>De 12 a 17 pontos</td>
        <td colspan='2' style='border-left: none !important;'>
            Considerar <strong>Internação Domiciliar 12h</strong>
        </td>
    </tr>
    <tr>
        <td style='border-right: none !important;'>De 6 a 11 pontos</td>
        <td colspan='2' style='border-left: none !important;'>
            Considerar <strong>Atendimento Domiciliar Multiprofissional</strong>
            (inclui procedimentos pontuais, desde que não exclusivos)
        </td>
        <td style='border-right: none !important;'>18 ou mais pontos</td>
        <td colspan='2' style='border-left: none !important;'>
            Considerar <strong>Internação Domiciliar 24h</strong>
        </td>
    </tr>
</table>
<p id="parecer-nead2016"></p>
<hr>
