<?php require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>
<head>
    <meta charset="UTF-8">
    <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php'); ?>
    <link rel="stylesheet" href="/utils/global.css"/>
    <link rel="stylesheet" type="text/css" href="/utils/reports.css">
    <link rel="stylesheet" href="/utils/bootstrap-3.3.6-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/utils/font-awesome-4.7.0/css/font-awesome.css" />
</head>
<div id="content">
    <div id="right">
        <?php
        $display = "none";

        if(isset($_GET['msg']) && !empty($_GET['msg'])) {
            if ($_GET['type'] == 's') {
                $display = "block";
                $class = "success";
            } else {
                $display = "block";
                $class = "failed";
            }
        }
        ?>
        <div class="text-center"><h1>(Planserv) Plano Terapêutico Tratamento de Feridas </h1></div>
        <div style="display:<?= $display ?>" class="msg <?= $class ?>">
            <strong><?= base64_decode($_GET['msg']) ?></strong>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title pull-left" style="padding-top: 7.5px;">
                    <i class="fa fa-search" aria-hidden="true"></i> Buscar
                </h3>
                <?php
                if($_SESSION['adm_user'] == 1 || $_SESSION['permissoes']['enfermagem']['enfermagem_relatorio']
                    ['enfermagem_relatorio_plano_tratamento_ferida']
                    ['enfermagem_relatorio_plano_tratamento_ferida_novo']): ?>
                <div class="btn-group pull-right">
                    <a class="btn btn-success" href="/enfermagem/planserv/?action=feridas-novo">
                        + Novo
                    </a>
                </div>
                <?php endif; ?>
            </div>
            <div class="panel-body">
                <form method="post" action="/enfermagem/planserv/?action=feridas-listar">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for="paciente">Paciente:</label>
                                <select name="paciente" required class="chosen-select OBG_CHOSEN form-control" id='paciente'>
                                    <option value="">Selecione...</option>
                                    <?php foreach($pacientes as $paciente): ?>
                                        <option <?= isset($pacienteId) && $pacienteId === $paciente['idClientes'] ? "selected" : "" ?> value="<?= $paciente['idClientes'] ?>">(<?= $paciente['codigo'] ?>) <?= strtoupper($paciente['nome']) ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="periodo">Inicio:</label>
                                <input name="inicio" type="date" class="form-control" value='<?= isset($inicio)  ? $inicio : "" ?>' required>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="periodo">Fim:</label>
                                <input name="fim" type="date" class="form-control" value='<?= isset($fim)  ? $fim : "" ?>' required>
                            </div>
                        </div>

                        <div class="col-lg-12 text-center">
                            <div class="form-group">
                                <button type="submit" class='ui-button ui-widget ui-corner-all ui-button-text-only ui-state-hover' >
                                    <span class='ui-button-text'>Pesquisar</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-12">
                <?php
                if(isset($response)):
                    if(empty($response)): ?>
                        <h4 class="text-center">Nenhum resultado encontrado.</h4>
                        <?php
                    else:
                        if(is_array($response)): ?>
                            <table class='table'>
                                <thead>
                                <tr>
                                    <th>Paciente</th>
                                    <th>Criado por</th>
                                    <th>Período</th>
                                    <th>Criado em</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <?php
                                foreach($response as $rsp):
                                    $inicio = \DateTime::createFromFormat('Y-m-d', $rsp['inicio'])->format('d/m/Y');
                                    $fim = \DateTime::createFromFormat('Y-m-d', $rsp['fim'])->format('d/m/Y');
                                    $criadoEm = \DateTime::createFromFormat('Y-m-d H:i:s', $rsp['created_at'])->format('d/m/Y à\s H:i:s');
                                    ?>
                                    <tr>
                                        <td><?= $rsp['paciente_nome'] ?></td>
                                        <td><?= $rsp['usuario'] ?></td>
                                        <td><?= $inicio ?> à <?= $fim ?></td>
                                        <td><?= $criadoEm ?></td>
                                        <td>
                                            <?php if( $_SESSION['adm_user'] == 1 || $_SESSION['adm_user'] == 1 || $_SESSION['permissoes']['enfermagem']['enfermagem_relatorio']
                                                ['enfermagem_relatorio_plano_tratamento_ferida']
                                                ['enfermagem_relatorio_plano_tratamento_editar']): ?>
                                            <a href="/enfermagem/planserv/?action=feridas-editar&id=<?= $rsp['id'] ?>" title="Editar">
                                                <i class="glyphicon glyphicon-edit"></i>
                                            </a>
                                            <?php endif;
                                            if(   $_SESSION['adm_user'] == 1 || $_SESSION['permissoes']['enfermagem']['enfermagem_relatorio']
                                            ['enfermagem_relatorio_plano_tratamento_ferida']
                                            ['enfermagem_relatorio_plano_tratamento_ferida_usar_para_nova']):?>
                                            <a href="/enfermagem/planserv/?action=feridas-usar-para-nova&id=<?= $rsp['id'] ?>" title="Usar Para Nova">
                                                <i class="glyphicon glyphicon-file"></i>
                                            </a>
                                            <?php endif; ?>
                                            <a target="_blank" href="/enfermagem/planserv/?action=imprimir-plano-feridas&id=<?= $rsp['id'] ?>" title="Imprimir">
                                                <i class="glyphicon glyphicon-print"></i>
                                            </a>
                                        </td>
                                    </tr>
                                <?php endforeach; ?>
                            </table>
                            <?php
                        endif;
                    endif;
                endif;
                ?>
            </div>
        </div>
    </div>
    <div id="left">
        <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
    </div>
</div>

<script src="/utils/bootstrap-3.3.6-dist/js/bootstrap.min.js" ></script>
<script type="text/javascript" >
    $(function () {
        $(".chosen-select").chosen({search_contains: true});
    });
</script>

</body>
</html>