<?php require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>
<head>
    <meta charset="UTF-8">
    <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php'); ?>
    <link rel="stylesheet" href="/utils/bootstrap-3.3.6-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/utils/font-awesome-4.7.0/css/font-awesome.css" />
    <style type='text/css'>
        .planserv {
            font-family: Times, "Times New Roman", sans-serif;
            font-size: 14px;
            border: 1px solid rgb(84,141,212);
        }

        .planserv td {
            font-family: Times, "Times New Roman", sans-serif;
            font-size: 14px;
            padding-left: 2px;
            padding-right: 2px;
            border-bottom: 1px solid rgb(84,141,212);
        }

        .planserv input {
            margin-bottom: 5px;
            margin-top: -10px;
            border: 1.5px solid rgb(84,141,212);
        }

        .planserv textarea {
            margin-left: 2px;
            margin-top: 2px;
            border: 1.5px solid rgb(84,141,212);
        }

        .row-periodo {
            height: 20px;
            background-color: rgb(84,141,212);
        }

        .row-section {
            text-align: center;
            height: 20px;
            background-color: rgb(84,141,212);
            color: #ffffff;
        }

        .row-title {
            height: 80px;
        }

        .row-title td {
            font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
            font-size: 22px !important;
            color: rgb(84,141,212);
        }

        .collumn-description {
            height: 20px;
            background-color: rgb(219,229,241);
        }

        .label-especialidade {
            font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
            font-size: 16px !important;
            font-weight: bold;
            color: rgb(84,141,212);
        }

        #tipo-isolamento,
        #doencas-sistemicas,
        #microorganismo-descricao,
        #dialog-sem-evo-enf,
        .lado {
            display: none;
        }

        label {
            font-weight: bold;
            margin-top: 5px;
            margin-bottom: -5px;
        }

        .options {
            margin-left: 10px;
        }

        .have-border td {
            border: 1px solid rgb(84,141,212);
            border-collapse: collapse;
        }

        #mostrar-menu {
            cursor: pointer;
        }

        .success {
            color: #006400;
            background-color: #C0FFC0;
        }

        .failed {
            color: #AA0000;
            background-color: #FDCCCC;
        }

        .warning {
            color: #000;
            background-color: #EEA236;
        }
    </style>
</head>
<div id="content">
    <div id="right">

        <a href="?action=feridas" id="mostrar-menu">
            &larr; Voltar
        </a>

        <br>

        <?php
        $display = "none";

        if(isset($msg) && !empty($msg)) {
            if ($type == 's') {
                $display = "block";
                $class = "success";
            } else {
                $display = "block";
                $class = "failed";
            }
        }
        ?>
        <div style="text-align: center; display:<?= $display ?> " class="msg <?= $class ?>">
            <strong><?= $msg ?></strong>
        </div>
        <form method="post" action="?action=feridas-salvar">
            <input type="hidden" name="evolucao_enf" id="evolucao-enf" value="0">
            <input type="hidden" name="evolucao_med" id="evolucao-med" value="0">
            <table class="planserv" cellspacing="0" cellpadding="0" align="center" width="100%">
                <tbody>
                <tr>
                    <td colspan="12" valign="top" >
                        <table cellpadding="0" cellspacing="0" align="center" width="100%">
                            <tbody>
                            <tr class="row-title">
                                <td width="10%" rowspan="1" align="center" valign="middle">
                                    <img src="../../../utils/logo_ficha_curativo.jpg" width="60" height="60"/>
                                </td>
                                <td width="65%" rowspan="6" align="center" valign="middle">NOVO PLANO TERAPÊUTICO TRATAMENTO DE FERIDAS</td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>

                <!---------------------------------------------------------------------------------------->
                <tr>
                    <td class="row-periodo" colspan="8" valign="top" align="center" >
                        <label>Paciente</label>
                    </td>
                </tr>
                <td colspan="8" valign="middle">
                    <p><label>Paciente:</label></p>
                    <select name="paciente" id="paciente-dados" required class="chosen-select form-control">
                        <option  selected value="">Selecione...</option>
                        <?php foreach($pacientes as $paciente): ?>
                            <option value="<?= $paciente['idClientes'] ?>">(<?= $paciente['codigo'] ?>) <?= strtoupper($paciente['nome']) ?></option>
                        <?php endforeach; ?>
                    </select>
                </td>

                <tr>
                    <td class="row-periodo" colspan="8" valign="top" align="center" >
                        <label>1. Identificação do Prestador</label>
                    </td>
                </tr>
                <tr>
                    <td colspan="3" valign="middle">
                        <p><label>Prestador:</label></p> Mederi Saúde Domiciliar
                    </td>
                    <td colspan="2" valign="top" >
                        <p><label>Telefone:</label></p> (75) 3022-9156
                    </td>
                    <td colspan="3" valign="top" >
                        <p><label>Email:</label></p> saad@mederi.com.br
                    </td>
                </tr>
                <tr>
                    <td class="row-periodo" colspan="8" valign="top" align="center" >
                        <label>2. Identificação do Médico Assistente e Enfermeiro Especialista</label>
                    </td>
                </tr>
                <tr>
                    <td colspan="8" valign="middle">
                        <p><label>Nome do Médico:</label></p>
                        <select name="medico" id="medico" required class="chosen-select form-control">
                            <option selected value="">Selecione...</option>
                            <?php
                                foreach($usuariosMed as $medico):
                                    $cremeb = $medico['conselho_regional'] != '' ? "(CREMEB: {$medico['conselho_regional']}) " : '';
                                ?>
                                <option value="<?= $medico['idUsuarios'] ?>"><?= $cremeb . strtoupper($medico['nome']) ?></option>
                            <?php endforeach; ?>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="8" valign="top" >
                        <p><label>Nome do Enfermeiro:</label></p>
                        <select name="enfermeiro" id="enfermeiro" required class="chosen-select form-control">
                            <option  selected value="">Selecione...</option>
                            <?php
                            foreach($usuariosEnf as $enfermeiro):
                                $coren = $enfermeiro['conselho_regional'] != '' ? "(COREN: {$enfermeiro['conselho_regional']}) " : '';
                                ?>
                                <option value="<?= $enfermeiro['idUsuarios'] ?>"><?= $coren . strtoupper($enfermeiro['nome']) ?></option>
                            <?php endforeach; ?>
                        </select>
                    </td>
                </tr>

                <tr>
                    <td class="row-periodo" colspan="8" valign="top" align="center" >
                        <label>3. Dados do Beneficiário</label>
                    </td>
                </tr>
                <tr>
                    <td colspan="8" valign="top" >
                        <p><label>Data Nasc:</label></p>
                        <span id="data-nasc">-</span>
                    </td>
                </tr>
                <tr>
                    <td colspan="6" valign="top" >
                        <p>
                            <label>Modalidade de Atendimento:</label>
                            <select name="modalidade_atendimento" class="form-control">
                                <option value="">Selecione...</option>
                                <option value="1">Hospitalar</option>
                                <option value="2">Ambulatorial</option>
                                <option selected value="3">Domiciliar</option>
                            </select>

                            <label>Isolamento:</label>
                            <select name="isolamento" id="isolamento" class="form-control">
                                <option value="">Selecione...</option>
                                <option value="1">Sim</option>
                                <option value="2">Não</option>
                            </select>
                        <div id="tipo-isolamento">
                            <label>Tipo:</label>
                            <textarea name="isolamento_descricao" class="form-control" cols="60" rows="3"></textarea>
                        </div>
                        </p>
                    </td>
                    <td colspan="2" valign="top" >
                        <p>
                            <label>Deambula:</label>
                            <select name="deambula" class="form-control">
                                <option value="">Selecione...</option>
                                <option value="1">Sim</option>
                                <option value="2">Não</option>
                            </select>
                        </p>
                    </td>
                </tr>

                <tr>
                    <td valign="top" >
                        <p><label>Idade:</label></p>
                        <span id="idade">-</span>
                    </td>
                    <td colspan="2" valign="top" >
                        <p><label>Sexo:</label></p>
                        <span id="sexo">-</span>
                    </td>
                    <td valign="top" >
                        <p><label>Peso:</label></p>
                        <input type="text" name="peso" class="form-control">
                    </td>
                    <td colspan="2" valign="top" >
                        <p><label>Altura:</label></p>
                        <input type="text" name="altura" class="form-control">
                    </td>
                    <td colspan="2" valign="top" >
                        <p><label>Data de Admissão:</label></p>
                        <span id="data-admissao">-</span>
                    </td>
                </tr>

                <tr>
                    <td class="row-periodo" colspan="8" valign="top" align="center" >
                        <label>4. Histórico do Paciente</label>
                    </td>
                </tr>
                <tr>
                    <td colspan="4" valign="middle">
                        <p>
                            <label>Diagnóstico de Base:</label>
                            <textarea name="diagnostico_base" required id="diagnostico-base" class="form-control" cols="80" rows="3"></textarea>
                        </p>
                    </td>
                    <td colspan="4" valign="top" >
                        <p>
                            <label>CID:</label>
                            <textarea name="cid" id="cid" required class="form-control" cols="80" rows="3"></textarea>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td colspan="8" valign="top" >
                        <p>
                            <label>Doenças Sistêmicas Associadas:</label>
                            <select name="doencas_sistemicas[]" data-placeholder="Selecione uma ou várias opções..." class="form-control chosen-select" multiple>
                                <option readonly value="">Selecione...</option>
                                <option value="1">Hipertensão</option>
                                <option value="2">Vasculopatia</option>
                                <option value="3">Neoplasias</option>
                                <option value="4">Cardiopatia</option>
                                <option value="5">Diabetes</option>
                                <option value="6">Pneumonia</option>
                                <option value="7">Alergias</option>
                                <option value="8">Cirúrgica</option>
                            </select>
                            <span class="options" id="doencas-sistemicas">Quais: </span>
                            <textarea name="outras_doencas_sistemicas" class="form-control" cols="80" rows="3"></textarea>
                            <br>

                            <label>Tempo da Ferida:</label>
                            <textarea name="tempo_ferida" class="form-control" cols="80" rows="3"></textarea>
                            <br>

                            <label>Tratamento Atual:</label>
                            <select name="tratamento_atual" class="form-control">
                                <option value="">Selecione...</option>
                                <option value="1">Câmara Hiperbárica</option>
                                <option value="2">Coberturas Especiais</option>
                            </select>
                            <br>

                            <label>Tipos de Coberturas:</label>
                            <textarea name="tipos_coberturas" class="form-control" cols="80" rows="3"></textarea>
                            <br>

                            <label>Tempo de Uso:</label>
                            <textarea name="tempo_uso" class="form-control" cols="80" rows="3"></textarea>

                            <label>Frequência de Troca:</label>
                            <textarea name="frequencia_troca" class="form-control" cols="80" rows="3"></textarea>
                            <br>

                            <label>Infecção:</label>
                            <select name="infeccao" id="infeccao" class="form-control">
                                <option value="">Selecione...</option>
                                <option value="1">Sim</option>
                                <option value="2">Não</option>
                                <option value="3">Microorganismo</option>
                            </select>
                            <div id="microorganismo-descricao">
                                <label>Descrição:</label>
                                <textarea name="microorganismo" id="microorganismo" class="form-control" cols="80" rows="3"></textarea>
                            </div>

                        <label>Incontinência:</label>
                        <select name="incontinencia[]" multiple data-placeholder="Selecione..." class="chosen-select form-control">
                            <option value="1">Urinária</option>
                            <option value="2">Fecal</option>
                        </select>
                        </p>
                    </td>
                </tr>

                <tr>
                    <td class="row-periodo" colspan="8" valign="top" align="center" >
                        <label>5. Avaliação e Evolução da Ferida</label>
                    </td>
                </tr>
                <tr>
                    <td colspan="12" valign="top" >
                        <table cellpadding="0" cellspacing="0" align="center" width="100%">
                            <tbody>
                            <tr class="have-border">
                                <td colspan="6" valign="top" >
                                    <p>
                                        <label>Data de Avaliação:</label>
                                        <span id="data-avaliacao">-</span>
                                    </p>
                                </td>
                            </tr>

                            <tr class="have-border">
                                <td width="20%" valign="top" >
                                    <p>
                                        <label>Localização:</label>
                                    </p>
                                </td>
                                <td>
                                    <select name="locais[]" id="locais-0" class="form-control locais">
                                        <option selected value="">Selecione...</option>
                                        <?php foreach($locais as $local): ?>
                                            <option lado="<?= $local['LADO'] ?>" value="<?= $local['ID'] ?>"><?= ($local['LOCAL']) ?></option>
                                        <?php endforeach; ?>
                                    </select>
                                    <br>
                                    <select name="lado[]" id="lado-0" class="form-control lado">
                                        <option selected value="">Selecione...</option>
                                        <option value="1">DIREITO</option>
                                        <option value="2">ESQUERDO</option>
                                    </select>
                                </td>
                                <td>
                                    <select name="locais[]" id="locais-1" class="form-control locais">
                                        <option selected value="">Selecione...</option>
                                        <?php foreach($locais as $local): ?>
                                            <option lado="<?= $local['LADO'] ?>" value="<?= $local['ID'] ?>"><?= ($local['LOCAL']) ?></option>
                                        <?php endforeach; ?>
                                    </select>
                                    <br>
                                    <select name="lado[]" id="lado-1" class="form-control lado">
                                        <option selected value="">Selecione...</option>
                                        <option value="1">DIREITO</option>
                                        <option value="2">ESQUERDO</option>
                                    </select>
                                </td>
                                <td>
                                    <select name="locais[]" id="locais-2" class="form-control locais">
                                        <option selected value="">Selecione...</option>
                                        <?php foreach($locais as $local): ?>
                                            <option lado="<?= $local['LADO'] ?>" value="<?= $local['ID'] ?>"><?= ($local['LOCAL']) ?></option>
                                        <?php endforeach; ?>
                                    </select>
                                    <br>
                                    <select name="lado[]" id="lado-2" class="form-control lado">
                                        <option selected value="">Selecione...</option>
                                        <option value="1">DIREITO</option>
                                        <option value="2">ESQUERDO</option>
                                    </select>
                                </td>
                                <td>
                                    <select name="locais[]" id="locais-3" class="form-control locais">
                                        <option selected value="">Selecione...</option>
                                        <?php foreach($locais as $local): ?>
                                            <option lado="<?= $local['LADO'] ?>" value="<?= $local['ID'] ?>"><?= ($local['LOCAL']) ?></option>
                                        <?php endforeach; ?>
                                    </select>
                                    <br>
                                    <select name="lado[]" id="lado-3" class="form-control lado">
                                        <option selected value="">Selecione...</option>
                                        <option value="1">DIREITO</option>
                                        <option value="2">ESQUERDO</option>
                                    </select>
                                </td>
                                <td>
                                    <select name="locais[]" id="locais-4" class="form-control locais">
                                        <option selected value="">Selecione...</option>
                                        <?php foreach($locais as $local): ?>
                                            <option lado="<?= $local['LADO'] ?>" value="<?= $local['ID'] ?>"><?= ($local['LOCAL']) ?></option>
                                        <?php endforeach; ?>
                                    </select>
                                    <br>
                                    <select name="lado[]" id="lado-4" class="form-control lado">
                                        <option selected value="">Selecione...</option>
                                        <option value="1">DIREITO</option>
                                        <option value="2">ESQUERDO</option>
                                    </select>
                                </td>
                            </tr>

                            <tr class="have-border">
                                <td valign="top" >
                                    <p>
                                        <label>Etiologia da Lesão:</label>
                                    </p>
                                </td>
                                <td>
                                    <select name="etiologia[]" id="etiologia-0" class="form-control feridas-0">
                                        <option  selected value="">Selecione...</option>
                                        <?php foreach($etiologias as $etiologia): ?>
                                            <option value="<?= $etiologia['id'] ?>"><?= ($etiologia['descricao']) ?></option>
                                        <?php endforeach; ?>
                                    </select>
                                </td>
                                <td>
                                    <select name="etiologia[]" id="etiologia-1" class="form-control feridas-1">
                                        <option  selected value="">Selecione...</option>
                                        <?php foreach($etiologias as $etiologia): ?>
                                            <option value="<?= $etiologia['id'] ?>"><?= ($etiologia['descricao']) ?></option>
                                        <?php endforeach; ?>
                                    </select>
                                </td>
                                <td>
                                    <select name="etiologia[]" id="etiologia-2" class="form-control feridas-2">
                                        <option  selected value="">Selecione...</option>
                                        <?php foreach($etiologias as $etiologia): ?>
                                            <option value="<?= $etiologia['id'] ?>"><?= ($etiologia['descricao']) ?></option>
                                        <?php endforeach; ?>
                                    </select>
                                </td>
                                <td>
                                    <select name="etiologia[]" id="etiologia-3" class="form-control feridas-3">
                                        <option  selected value="">Selecione...</option>
                                        <?php foreach($etiologias as $etiologia): ?>
                                            <option value="<?= $etiologia['id'] ?>"><?= ($etiologia['descricao']) ?></option>
                                        <?php endforeach; ?>
                                    </select>
                                </td>
                                <td>
                                    <select name="etiologia[]" id="etiologia-4" class="form-control feridas-4">
                                        <option selected value="">Selecione...</option>
                                        <?php foreach($etiologias as $etiologia): ?>
                                            <option value="<?= $etiologia['id'] ?>"><?= ($etiologia['descricao']) ?></option>
                                        <?php endforeach; ?>
                                    </select>
                                </td>
                            </tr>

                            <tr>
                                <td class="collumn-description" colspan="8" valign="top" align="center" >
                                    <label>Características e Leito de Ferida</label>
                                </td>
                            </tr>

                            <tr class="have-border" style="height: 55px; vertical-align: middle;">
                                <td valign="middle" >
                                    <p>
                                        <label>Comprimento (cm)</label>
                                    </p>
                                </td>
                                <td>
                                    <div><input type="number" step="any" min="0" name="comprimento[]" id="comprimento-0" class="form-control feridas-0"></div>
                                </td>
                                <td>
                                    <div><input type="number" step="any" min="0" name="comprimento[]" id="comprimento-1" class="form-control feridas-1"></div>
                                </td>
                                <td>
                                    <div><input type="number" step="any" min="0" name="comprimento[]" id="comprimento-2" class="form-control feridas-2"></div>
                                </td>
                                <td>
                                    <div><input type="number" step="any" min="0" name="comprimento[]" id="comprimento-3" class="form-control feridas-3"></div>
                                </td>
                                <td>
                                    <div><input type="number" step="any" min="0" name="comprimento[]" id="comprimento-4" class="form-control feridas-4"></div>
                                </td>
                            </tr>

                            <tr class="have-border" style="height: 55px; vertical-align: middle;">
                                <td valign="middle">
                                    <p>
                                        <label>Largura (cm)</label>
                                    </p>
                                </td>
                                <td>
                                    <div><input type="number" step="0.01" min="0" name="largura[]" id="largura-0" class="form-control feridas-0"></div>
                                </td>
                                <td>
                                    <div><input type="number" step="0.01" min="0" name="largura[]" id="largura-1" class="form-control feridas-1"></div>
                                </td>
                                <td>
                                    <div><input type="number" step="0.01" min="0" name="largura[]" id="largura-2" class="form-control feridas-2"></div>
                                </td>
                                <td>
                                    <div><input type="number" step="0.01" min="0" name="largura[]" id="largura-3" class="form-control feridas-3"></div>
                                </td>
                                <td>
                                    <div><input type="number" step="0.01" min="0" name="largura[]" id="largura-4" class="form-control feridas-4"></div>
                                </td>
                            </tr>

                            <tr class="have-border" style="height: 60px; vertical-align: middle;">
                                <td valign="middle" >
                                    <p>
                                        <label>Profundidade (cm)</label>
                                    </p>
                                </td>
                                <td>
                                    <div><input type="number" step="0.01" min="0" name="profundidade[]" id="profundidade-0" class="form-control feridas-0"></div>
                                </td>
                                <td>
                                    <div><input type="number" step="0.01" min="0" name="profundidade[]" id="profundidade-1" class="form-control feridas-1"></div>
                                </td>
                                <td>
                                    <div><input type="number" step="0.01" min="0" name="profundidade[]" id="profundidade-2" class="form-control feridas-2"></div>
                                </td>
                                <td>
                                    <div><input type="number" step="0.01" min="0" name="profundidade[]" id="profundidade-3" class="form-control feridas-3"></div>
                                </td>
                                <td>
                                    <div><input type="number" step="0.01" min="0" name="profundidade[]" id="profundidade-4" class="form-control feridas-4"></div>
                                </td>
                            </tr>

                            <tr class="have-border">
                                <td valign="top" >
                                    <p>
                                        <label>Descolamento (S/N)</label>
                                    </p>
                                </td>
                                <td>
                                    <select name="descolamento[]" id="descolamento-0" class="form-control feridas-0">
                                        <option selected value="">Selecione...</option>
                                        <option value="1">Sim</option>
                                        <option value="2">Não</option>
                                    </select>
                                </td>
                                <td>
                                    <select name="descolamento[]" id="descolamento-1" class="form-control feridas-1">
                                        <option selected value="">Selecione...</option>
                                        <option value="1">Sim</option>
                                        <option value="2">Não</option>
                                    </select>
                                </td>
                                <td>
                                    <select name="descolamento[]" id="descolamento-2" class="form-control feridas-2">
                                        <option selected value="">Selecione...</option>
                                        <option value="1">Sim</option>
                                        <option value="2">Não</option>
                                    </select>
                                </td>
                                <td>
                                    <select name="descolamento[]" id="descolamento-3" class="form-control feridas-3">
                                        <option selected value="">Selecione...</option>
                                        <option value="1">Sim</option>
                                        <option value="2">Não</option>
                                    </select>
                                </td>
                                <td>
                                    <select name="descolamento[]" id="descolamento-4" class="form-control feridas-4">
                                        <option selected value="">Selecione...</option>
                                        <option value="1">Sim</option>
                                        <option value="2">Não</option>
                                    </select>
                                </td>
                            </tr>

                            <tr class="have-border">
                                <td valign="top" >
                                    <p>
                                        <label>Tecido de Granulação (S/N)</label>
                                    </p>
                                </td>
                                <td>
                                    <select name="tecido_granulacao[]" id="tecido-granulacao-0" class="form-control feridas-0">
                                        <option selected value="">Selecione...</option>
                                        <option value="1">Sim</option>
                                        <option value="2">Não</option>
                                    </select>
                                </td>
                                <td>
                                    <select name="tecido_granulacao[]" id="tecido-granulacao-1" class="form-control feridas-1">
                                        <option selected value="">Selecione...</option>
                                        <option value="1">Sim</option>
                                        <option value="2">Não</option>
                                    </select>
                                </td>
                                <td>
                                    <select name="tecido_granulacao[]" id="tecido-granulacao-2" class="form-control feridas-2">
                                        <option selected value="">Selecione...</option>
                                        <option value="1">Sim</option>
                                        <option value="2">Não</option>
                                    </select>
                                </td>
                                <td>
                                    <select name="tecido_granulacao[]" id="tecido-granulacao-3" class="form-control feridas-3">
                                        <option selected value="">Selecione...</option>
                                        <option value="1">Sim</option>
                                        <option value="2">Não</option>
                                    </select>
                                </td>
                                <td>
                                    <select name="tecido_granulacao[]" id="tecido-granulacao-4" class="form-control feridas-4">
                                        <option selected value="">Selecione...</option>
                                        <option value="1">Sim</option>
                                        <option value="2">Não</option>
                                    </select>
                                </td>
                            </tr>

                            <tr class="have-border">
                                <td valign="top" >
                                    <p>
                                        <label>Tecido de Esfacelo (S/N)</label>
                                    </p>
                                </td>
                                <td>
                                    <select name="tecido_esfacelo[]" id="tecido-esfacelo-0" class="form-control feridas-0">
                                        <option selected value="">Selecione...</option>
                                        <option value="1">Sim</option>
                                        <option value="2">Não</option>
                                    </select>
                                </td>
                                <td>
                                    <select name="tecido_esfacelo[]" id="tecido-esfacelo-1" class="form-control feridas-1">
                                        <option selected value="">Selecione...</option>
                                        <option value="1">Sim</option>
                                        <option value="2">Não</option>
                                    </select>
                                </td>
                                <td>
                                    <select name="tecido_esfacelo[]" id="tecido-esfacelo-2" class="form-control feridas-2">
                                        <option selected value="">Selecione...</option>
                                        <option value="1">Sim</option>
                                        <option value="2">Não</option>
                                    </select>
                                </td>
                                <td>
                                    <select name="tecido_esfacelo[]" id="tecido-esfacelo-3" class="form-control feridas-3">
                                        <option selected value="">Selecione...</option>
                                        <option value="1">Sim</option>
                                        <option value="2">Não</option>
                                    </select>
                                </td>
                                <td>
                                    <select name="tecido_esfacelo[]" id="tecido-esfacelo-4" class="form-control feridas-4">
                                        <option selected value="">Selecione...</option>
                                        <option value="1">Sim</option>
                                        <option value="2">Não</option>
                                    </select>
                                </td>
                            </tr>

                            <tr class="have-border">
                                <td valign="top" >
                                    <p>
                                        <label>Tecido de Fibrina (S/N)</label>
                                    </p>
                                </td>
                                <td>
                                    <select name="tecido_fibrina[]" id="tecido-fibrina-0" class="form-control feridas-0">
                                        <option selected value="">Selecione...</option>
                                        <option value="1">Sim</option>
                                        <option value="2">Não</option>
                                    </select>
                                </td>
                                <td>
                                    <select name="tecido_fibrina[]" id="tecido-fibrina-1" class="form-control feridas-1">
                                        <option selected value="">Selecione...</option>
                                        <option value="1">Sim</option>
                                        <option value="2">Não</option>
                                    </select>
                                </td>
                                <td>
                                    <select name="tecido_fibrina[]" id="tecido-fibrina-2" class="form-control feridas-2">
                                        <option selected value="">Selecione...</option>
                                        <option value="1">Sim</option>
                                        <option value="2">Não</option>
                                    </select>
                                </td>
                                <td>
                                    <select name="tecido_fibrina[]" id="tecido-fibrina-3" class="form-control feridas-3">
                                        <option selected value="">Selecione...</option>
                                        <option value="1">Sim</option>
                                        <option value="2">Não</option>
                                    </select>
                                </td>
                                <td>
                                    <select name="tecido_fibrina[]" id="tecido-fibrina-4" class="form-control feridas-4">
                                        <option selected value="">Selecione...</option>
                                        <option value="1">Sim</option>
                                        <option value="2">Não</option>
                                    </select>
                                </td>
                            </tr>

                            <tr class="have-border">
                                <td valign="top" >
                                    <p>
                                        <label>Tecido Necrótico (S/N)</label>
                                    </p>
                                </td>
                                <td>
                                    <select name="tecido_necrotico[]" id="tecido-necrotico-0" class="form-control feridas-0">
                                        <option selected value="">Selecione...</option>
                                        <option value="1">Sim</option>
                                        <option value="2">Não</option>
                                    </select>
                                </td>
                                <td>
                                    <select name="tecido_necrotico[]" id="tecido-necrotico-1" class="form-control feridas-1">
                                        <option selected value="">Selecione...</option>
                                        <option value="1">Sim</option>
                                        <option value="2">Não</option>
                                    </select>
                                </td>
                                <td>
                                    <select name="tecido_necrotico[]" id="tecido-necrotico-2" class="form-control feridas-2">
                                        <option selected value="">Selecione...</option>
                                        <option value="1">Sim</option>
                                        <option value="2">Não</option>
                                    </select>
                                </td>
                                <td>
                                    <select name="tecido_necrotico[]" id="tecido-necrotico-3" class="form-control feridas-3">
                                        <option selected value="">Selecione...</option>
                                        <option value="1">Sim</option>
                                        <option value="2">Não</option>
                                    </select>
                                </td>
                                <td>
                                    <select name="tecido_necrotico[]" id="tecido-necrotico-4" class="form-control feridas-4">
                                        <option selected value="">Selecione...</option>
                                        <option value="1">Sim</option>
                                        <option value="2">Não</option>
                                    </select>
                                </td>
                            </tr>

                            <tr class="have-border">
                                <td valign="top" >
                                    <p>
                                        <label>Exposição Tendão/Vaso/Osso (S/N)</label>
                                    </p>
                                </td>
                                <td>
                                    <select name="exposicao[]" id="exposicao-0" class="form-control feridas-0">
                                        <option selected value="">Selecione...</option>
                                        <option value="1">Sim</option>
                                        <option value="2">Não</option>
                                    </select>
                                </td>
                                <td>
                                    <select name="exposicao[]" id="exposicao-1" class="form-control feridas-1">
                                        <option selected value="">Selecione...</option>
                                        <option value="1">Sim</option>
                                        <option value="2">Não</option>
                                    </select>
                                </td>
                                <td>
                                    <select name="exposicao[]" id="exposicao-2" class="form-control feridas-2">
                                        <option selected value="">Selecione...</option>
                                        <option value="1">Sim</option>
                                        <option value="2">Não</option>
                                    </select>
                                </td>
                                <td>
                                    <select name="exposicao[]" id="exposicao-3" class="form-control feridas-3">
                                        <option selected value="">Selecione...</option>
                                        <option value="1">Sim</option>
                                        <option value="2">Não</option>
                                    </select>
                                </td>
                                <td>
                                    <select name="exposicao[]" id="exposicao-4" class="form-control feridas-4">
                                        <option selected value="">Selecione...</option>
                                        <option value="1">Sim</option>
                                        <option value="2">Não</option>
                                    </select>
                                </td>
                            </tr>

                            <tr>
                                <td class="collumn-description" colspan="8" valign="top" align="center" >
                                    <label>Exsudato/Odor</label>
                                </td>
                            </tr>

                            <tr class="have-border">
                                <td valign="top" >
                                    <p>
                                        <label>Tipo de Exsudato</label>
                                    </p>
                                </td>
                                <td>
                                    <select name="tipo_exsudato[]" id="tipo-exsudato-0" class="form-control feridas-0">
                                        <option selected value="">Selecione...</option>
                                        <?php foreach($tiposExsudato as $tipo): ?>
                                            <option value="<?= $tipo['id'] ?>"><?= ($tipo['descricao']) ?></option>
                                        <?php endforeach; ?>
                                    </select>
                                </td>
                                <td>
                                    <select name="tipo_exsudato[]" id="tipo-exsudato-1" class="form-control feridas-1">
                                        <option selected value="">Selecione...</option>
                                        <?php foreach($tiposExsudato as $tipo): ?>
                                            <option value="<?= $tipo['id'] ?>"><?= ($tipo['descricao']) ?></option>
                                        <?php endforeach; ?>
                                    </select>
                                </td>
                                <td>
                                    <select name="tipo_exsudato[]" id="tipo-exsudato-2" class="form-control feridas-2">
                                        <option selected value="">Selecione...</option>
                                        <?php foreach($tiposExsudato as $tipo): ?>
                                            <option value="<?= $tipo['id'] ?>"><?= ($tipo['descricao']) ?></option>
                                        <?php endforeach; ?>
                                    </select>
                                </td>
                                <td>
                                    <select name="tipo_exsudato[]" id="tipo-exsudato-3" class="form-control feridas-3">
                                        <option selected value="">Selecione...</option>
                                        <?php foreach($tiposExsudato as $tipo): ?>
                                            <option value="<?= $tipo['id'] ?>"><?= ($tipo['descricao']) ?></option>
                                        <?php endforeach; ?>
                                    </select>
                                </td>
                                <td>
                                    <select name="tipo_exsudato[]" id="tipo-exsudato-4" class="form-control feridas-4">
                                        <option selected value="">Selecione...</option>
                                        <?php foreach($tiposExsudato as $tipo): ?>
                                            <option value="<?= $tipo['id'] ?>"><?= ($tipo['descricao']) ?></option>
                                        <?php endforeach; ?>
                                    </select>
                                </td>
                            </tr>

                            <tr class="have-border">
                                <td valign="top" >
                                    <p>
                                        <label>Volume do Exsudato</label>
                                    </p>
                                </td>
                                <td>
                                    <select name="volume_exsudato[]" id="volume-exsudato-0" class="form-control feridas-0">
                                        <option selected value="">Selecione...</option>
                                        <?php foreach($volumesExsudato as $volume): ?>
                                            <option value="<?= $volume['id'] ?>"><?= ($volume['descricao']) ?></option>
                                        <?php endforeach; ?>
                                    </select>
                                </td>
                                <td>
                                    <select name="volume_exsudato[]" id="volume-exsudato-1" class="form-control feridas-1">
                                        <option selected value="">Selecione...</option>
                                        <?php foreach($volumesExsudato as $volume): ?>
                                            <option value="<?= $volume['id'] ?>"><?= ($volume['descricao']) ?></option>
                                        <?php endforeach; ?>
                                    </select>
                                </td>
                                <td>
                                    <select name="volume_exsudato[]" id="volume-exsudato-2" class="form-control feridas-2">
                                        <option selected value="">Selecione...</option>
                                        <?php foreach($volumesExsudato as $volume): ?>
                                            <option value="<?= $volume['id'] ?>"><?= ($volume['descricao']) ?></option>
                                        <?php endforeach; ?>
                                    </select>
                                </td>
                                <td>
                                    <select name="volume_exsudato[]" id="volume-exsudato-3" class="form-control feridas-3">
                                        <option selected value="">Selecione...</option>
                                        <?php foreach($volumesExsudato as $volume): ?>
                                            <option value="<?= $volume['id'] ?>"><?= ($volume['descricao']) ?></option>
                                        <?php endforeach; ?>
                                    </select>
                                </td>
                                <td>
                                    <select name="volume_exsudato[]" id="volume-exsudato-4" class="form-control feridas-4">
                                        <option selected value="">Selecione...</option>
                                        <?php foreach($volumesExsudato as $volume): ?>
                                            <option value="<?= $volume['id'] ?>"><?= ($volume['descricao']) ?></option>
                                        <?php endforeach; ?>
                                    </select>
                                </td>
                            </tr>

                            <tr class="have-border">
                                <td valign="top" >
                                    <p>
                                        <label>Odor (S/N)</label>
                                    </p>
                                </td>
                                <td>
                                    <select name="odor[]" id="odor-0" class="form-control feridas-0">
                                        <option selected value="">Selecione...</option>
                                        <option value="1">Sim</option>
                                        <option value="2">Não</option>
                                    </select>
                                </td>
                                <td>
                                    <select name="odor[]" id="odor-1" class="form-control feridas-1">
                                        <option selected value="">Selecione...</option>
                                        <option value="1">Sim</option>
                                        <option value="2">Não</option>
                                    </select>
                                </td>
                                <td>
                                    <select name="odor[]" id="odor-2" class="form-control feridas-2">
                                        <option selected value="">Selecione...</option>
                                        <option value="1">Sim</option>
                                        <option value="2">Não</option>
                                    </select>
                                </td>
                                <td>
                                    <select name="odor[]" id="odor-3" class="form-control feridas-3">
                                        <option selected value="">Selecione...</option>
                                        <option value="1">Sim</option>
                                        <option value="2">Não</option>
                                    </select>
                                </td>
                                <td>
                                    <select name="odor[]" id="odor-4" class="form-control feridas-4">
                                        <option selected value="">Selecione...</option>
                                        <option value="1">Sim</option>
                                        <option value="2">Não</option>
                                    </select>
                                </td>
                            </tr>

                            <tr>
                                <td class="collumn-description" colspan="8" valign="top" align="center" >
                                    <label>Margens da Ferida/Borda</label>
                                </td>
                            </tr>

                            <tr class="have-border">
                                <td valign="top" >
                                    <p>
                                        <label>Cor</label>
                                    </p>
                                </td>
                                <td>
                                    <select name="cor[]" id="cor-0" class="form-control feridas-0">
                                        <option selected value="">Selecione...</option>
                                        <?php foreach($coresBorda as $cor): ?>
                                            <option value="<?= $cor['id'] ?>"><?= ($cor['descricao']) ?></option>
                                        <?php endforeach; ?>
                                    </select>
                                </td>
                                <td>
                                    <select name="cor[]" id="cor-1" class="form-control feridas-1">
                                        <option selected value="">Selecione...</option>
                                        <?php foreach($coresBorda as $cor): ?>
                                            <option value="<?= $cor['id'] ?>"><?= ($cor['descricao']) ?></option>
                                        <?php endforeach; ?>
                                    </select>
                                </td>
                                <td>
                                    <select name="cor[]" id="cor-2" class="form-control feridas-2">
                                        <option selected value="">Selecione...</option>
                                        <?php foreach($coresBorda as $cor): ?>
                                            <option value="<?= $cor['id'] ?>"><?= ($cor['descricao']) ?></option>
                                        <?php endforeach; ?>
                                    </select>
                                </td>
                                <td>
                                    <select name="cor[]" id="cor-3" class="form-control feridas-3">
                                        <option selected value="">Selecione...</option>
                                        <?php foreach($coresBorda as $cor): ?>
                                            <option value="<?= $cor['id'] ?>"><?= ($cor['descricao']) ?></option>
                                        <?php endforeach; ?>
                                    </select>
                                </td>
                                <td>
                                    <select name="cor[]" id="cor-4" class="form-control feridas-4">
                                        <option selected value="">Selecione...</option>
                                        <?php foreach($coresBorda as $cor): ?>
                                            <option value="<?= $cor['id'] ?>"><?= ($cor['descricao']) ?></option>
                                        <?php endforeach; ?>
                                    </select>
                                </td>
                            </tr>

                            <tr class="have-border">
                                <td valign="top" >
                                    <p>
                                        <label>Edema (S/N)</label>
                                    </p>
                                </td>
                                <td>
                                    <select name="edema[]" id="edema-0" class="form-control feridas-0">
                                        <option selected value="">Selecione...</option>
                                        <option value="1">Sim</option>
                                        <option value="2">Não</option>
                                    </select>
                                </td>
                                <td>
                                    <select name="edema[]" id="edema-1" class="form-control feridas-1">
                                        <option selected value="">Selecione...</option>
                                        <option value="1">Sim</option>
                                        <option value="2">Não</option>
                                    </select>
                                </td>
                                <td>
                                    <select name="edema[]" id="edema-2" class="form-control feridas-2">
                                        <option selected value="">Selecione...</option>
                                        <option value="1">Sim</option>
                                        <option value="2">Não</option>
                                    </select>
                                </td>
                                <td>
                                    <select name="edema[]" id="edema-3" class="form-control feridas-3">
                                        <option selected value="">Selecione...</option>
                                        <option value="1">Sim</option>
                                        <option value="2">Não</option>
                                    </select>
                                </td>
                                <td>
                                    <select name="edema[]" id="edema-4" class="form-control feridas-4">
                                        <option selected value="">Selecione...</option>
                                        <option value="1">Sim</option>
                                        <option value="2">Não</option>
                                    </select>
                                </td>
                            </tr>

                            <tr class="have-border">
                                <td valign="top" >
                                    <p>
                                        <label>Maceração (S/N)</label>
                                    </p>
                                </td>
                                <td>
                                    <select name="maceracao[]" id="maceracao-0" class="form-control feridas-0">
                                        <option selected value="">Selecione...</option>
                                        <option value="1">Sim</option>
                                        <option value="2">Não</option>
                                    </select>
                                </td>
                                <td>
                                    <select name="maceracao[]" id="maceracao-1" class="form-control feridas-1">
                                        <option selected value="">Selecione...</option>
                                        <option value="1">Sim</option>
                                        <option value="2">Não</option>
                                    </select>
                                </td>
                                <td>
                                    <select name="maceracao[]" id="maceracao-2" class="form-control feridas-2">
                                        <option selected value="">Selecione...</option>
                                        <option value="1">Sim</option>
                                        <option value="2">Não</option>
                                    </select>
                                </td>
                                <td>
                                    <select name="maceracao[]" id="maceracao-3" class="form-control feridas-3">
                                        <option selected value="">Selecione...</option>
                                        <option value="1">Sim</option>
                                        <option value="2">Não</option>
                                    </select>
                                </td>
                                <td>
                                    <select name="maceracao[]" id="maceracao-4" class="form-control feridas-4">
                                        <option selected value="">Selecione...</option>
                                        <option value="1">Sim</option>
                                        <option value="2">Não</option>
                                    </select>
                                </td>
                            </tr>

                            <tr class="have-border">
                                <td valign="top" >
                                    <p>
                                        <label>Bordas (Regular/Irregular)</label>
                                    </p>
                                </td>
                                <td>
                                    <select name="bordas[]" id="bordas-0" class="form-control feridas-0">
                                        <option selected value="">Selecione...</option>
                                        <option value="1">Regular</option>
                                        <option value="2">Irregular</option>
                                    </select>
                                </td>
                                <td>
                                    <select name="bordas[]" id="bordas-1" class="form-control feridas-1">
                                        <option selected value="">Selecione...</option>
                                        <option value="1">Regular</option>
                                        <option value="2">Irregular</option>
                                    </select>
                                </td>
                                <td>
                                    <select name="bordas[]" id="bordas-2" class="form-control feridas-2">
                                        <option selected value="">Selecione...</option>
                                        <option value="1">Regular</option>
                                        <option value="2">Irregular</option>
                                    </select>
                                </td>
                                <td>
                                    <select name="bordas[]" id="bordas-3" class="form-control feridas-3">
                                        <option selected value="">Selecione...</option>
                                        <option value="1">Regular</option>
                                        <option value="2">Irregular</option>
                                    </select>
                                </td>
                                <td>
                                    <select name="bordas[]" id="bordas-4" class="form-control feridas-4">
                                        <option selected value="">Selecione...</option>
                                        <option value="1">Regular</option>
                                        <option value="2">Irregular</option>
                                    </select>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </td>
                </tr>

                <tr>
                    <td class="row-periodo" colspan="8" valign="top" align="center" >
                        <label>6. Plano Terapêutico para utilização da Atual Cobertura Especial</label>
                    </td>
                </tr>
                <tr>
                    <td colspan="12" valign="top" >
                        <table cellpadding="0" cellspacing="0" align="center" width="100%">
                            <tbody>
                            <tr class="have-border">
                                <td colspan="6" valign="top" >
                                    <p>
                                        <label>Previsão de início:</label>
                                    </p>
                                    <input type="date" name="inicio_plano" class="form-control" required>
                                </td>
                            </tr>

                            <tr class="have-border">
                                <td colspan="6" valign="top" >
                                    <p>
                                        <label>Previsão de término:</label>
                                    </p>
                                    <input type="date" name="fim_plano" class="form-control" required>
                                </td>
                            </tr>

                            <tr class="have-border">
                                <td colspan="6" valign="top" >
                                    <p>
                                        <label>Justificativa para solicitação:</label>
                                        <textarea class="form-control" name="justificativa_solicitacao" cols="80" rows="5" required></textarea>
                                    </p>
                                </td>
                            </tr>

                            <tr>
                                <td class="collumn-description" colspan="8" valign="top" align="center" >
                                    <label>Cobertura Primária</label>
                                </td>
                            </tr>

                            <tr class="have-border" style="height: 60px; vertical-align: middle;">
                                <td valign="top">
                                    <p>
                                        <label>Produto</label>
                                    </p>
                                </td>
                                <td>
                                    <input type="text"
                                           size="82"
                                           name="cp_buscar_curativo"
                                           ord="1"
                                           class="ui-autocomplete-input cp-buscar-curativo form-control"
                                           autocomplete="off"
                                           role="textbox"
                                           aria-autocomplete="list"
                                           aria-haspopup="true">
                                    <input type="hidden" name="catalogo_id[cp][]" id="catalogo-id-cp-0" class="catalogo-id">
                                </td>
                                <td>
                                    <input type="text"
                                           size="82"
                                           name="cp_buscar_curativo"
                                           ord="1"
                                           data-catalogo-id=""
                                           data-item-name=""
                                           class="ui-autocomplete-input cp-buscar-curativo form-control"
                                           autocomplete="off"
                                           role="textbox"
                                           aria-autocomplete="list"
                                           aria-haspopup="true">
                                    <input type="hidden" name="catalogo_id[cp][]" id="catalogo-id-cp-1" class="catalogo-id">
                                </td>
                                <td>
                                    <input type="text"
                                           size="82"
                                           name="cp_buscar_curativo"
                                           ord="1"
                                           data-catalogo-id=""
                                           data-item-name=""
                                           class="ui-autocomplete-input cp-buscar-curativo form-control"
                                           autocomplete="off"
                                           role="textbox"
                                           aria-autocomplete="list"
                                           aria-haspopup="true">
                                    <input type="hidden" name="catalogo_id[cp][]" id="catalogo-id-cp-2" class="catalogo-id">
                                </td>
                                <td>
                                    <input type="text"
                                           size="82"
                                           name="cp_buscar_curativo"
                                           ord="1"
                                           data-catalogo-id=""
                                           data-item-name=""
                                           class="ui-autocomplete-input cp-buscar-curativo form-control"
                                           autocomplete="off"
                                           role="textbox"
                                           aria-autocomplete="list"
                                           aria-haspopup="true">
                                    <input type="hidden" name="catalogo_id[cp][]" id="catalogo-id-cp-3" class="catalogo-id">
                                </td>
                                <td>
                                    <input type="text"
                                           size="82"
                                           name="cp_buscar_curativo"
                                           ord="1"
                                           data-catalogo-id=""
                                           data-item-name=""
                                           class="ui-autocomplete-input cp-buscar-curativo form-control"
                                           autocomplete="off"
                                           role="textbox"
                                           aria-autocomplete="list"
                                           aria-haspopup="true">
                                    <input type="hidden" name="catalogo_id[cp][]" id="catalogo-id-cp-4" class="catalogo-id">
                                </td>
                            </tr>

                            <tr class="have-border" style="height: 60px; vertical-align: middle;">
                                <td valign="top" width="20%">
                                    <p>
                                        <label>Tamanho</label>
                                    </p>
                                </td>
                                <td>
                                    <input type="text" readonly class="form-control cp-0" id="tamanho-cp-0" name="tamanho[cp][]">
                                </td>
                                <td>
                                    <input type="text" readonly class="form-control cp-1" id="tamanho-cp-1" name="tamanho[cp][]">
                                </td>
                                <td>
                                    <input type="text" readonly class="form-control cp-2" id="tamanho-cp-2" name="tamanho[cp][]">
                                </td>
                                <td>
                                    <input type="text" readonly class="form-control cp-3" id="tamanho-cp-3" name="tamanho[cp][]">
                                </td>
                                <td>
                                    <input type="text" readonly class="form-control cp-4" id="tamanho-cp-4" name="tamanho[cp][]">
                                </td>
                            </tr>

                            <tr class="have-border" style="height: 60px; vertical-align: middle;">
                                <td valign="top">
                                    <p>
                                        <label>Quantidade</label>
                                    </p>
                                </td>
                                <td>
                                    <input type="number" readonly class="form-control cp-0" id="quantidade-cp-0" name="quantidade[cp][]">
                                </td>
                                <td>
                                    <input type="number" readonly class="form-control cp-1" id="quantidade-cp-1" name="quantidade[cp][]">
                                </td>
                                <td>
                                    <input type="number" readonly class="form-control cp-2" id="quantidade-cp-2" name="quantidade[cp][]">
                                </td>
                                <td>
                                    <input type="number" readonly class="form-control cp-3" id="quantidade-cp-3" name="quantidade[cp][]">
                                </td>
                                <td>
                                    <input type="number" readonly class="form-control cp-4" id="quantidade-cp-4" name="quantidade[cp][]">
                                </td>
                            </tr>

                            <tr class="have-border">
                                <td valign="top">
                                    <p>
                                        <label>Período de troca</label>
                                    </p>
                                </td>
                                <td>
                                    <select name="frequencia[cp][]" readonly id="frequencia-cp-0" class="form-control cp-0">
                                        <option selected value="">Selecione...</option>
                                        <?php foreach($frequencias as $frequencia): ?>
                                            <option value="<?= $frequencia['id'] ?>"><?= ($frequencia['frequencia']) ?></option>
                                        <?php endforeach; ?>
                                    </select>
                                </td>
                                <td>
                                    <select name="frequencia[cp][]" readonly id="frequencia-cp-1" class="form-control cp-1">
                                        <option selected value="">Selecione...</option>
                                        <?php foreach($frequencias as $frequencia): ?>
                                            <option value="<?= $frequencia['id'] ?>"><?= ($frequencia['frequencia']) ?></option>
                                        <?php endforeach; ?>
                                    </select>
                                </td>
                                <td>
                                    <select name="frequencia[cp][]" readonly id="frequencia-cp-2" class="form-control cp-2">
                                        <option selected value="">Selecione...</option>
                                        <?php foreach($frequencias as $frequencia): ?>
                                            <option value="<?= $frequencia['id'] ?>"><?= ($frequencia['frequencia']) ?></option>
                                        <?php endforeach; ?>
                                    </select>
                                </td>
                                <td>
                                    <select name="frequencia[cp][]" readonly id="frequencia-cp-3" class="form-control cp-3">
                                        <option selected value="">Selecione...</option>
                                        <?php foreach($frequencias as $frequencia): ?>
                                            <option value="<?= $frequencia['id'] ?>"><?= ($frequencia['frequencia']) ?></option>
                                        <?php endforeach; ?>
                                    </select>
                                </td>
                                <td>
                                    <select name="frequencia[cp][]" readonly id="frequencia-cp-4" class="form-control cp-4">
                                        <option selected value="">Selecione...</option>
                                        <?php foreach($frequencias as $frequencia): ?>
                                            <option value="<?= $frequencia['id'] ?>"><?= ($frequencia['frequencia']) ?></option>
                                        <?php endforeach; ?>
                                    </select>
                                </td>
                            </tr>

                            <tr>
                                <td class="collumn-description" colspan="8" valign="top" align="center" >
                                    <label>Cobertura Secundária</label>
                                </td>
                            </tr>

                            <tr class="have-border" style="height: 60px; vertical-align: middle;">
                                <td valign="top">
                                    <p>
                                        <label>Produto</label>
                                    </p>
                                </td>
                                <td>
                                    <input type="text"
                                           size="82"
                                           name="cs_buscar_curativo"
                                           ord="1"
                                           data-catalogo-id=""
                                           data-item-name=""
                                           class="ui-autocomplete-input cs-buscar-curativo form-control"
                                           autocomplete="off"
                                           role="textbox"
                                           aria-autocomplete="list"
                                           aria-haspopup="true">
                                    <input type="hidden" name="catalogo_id[cs][]" id="catalogo-id-cs-0" class="catalogo-id">
                                </td>
                                <td>
                                    <input type="text"
                                           size="82"
                                           name="cs_buscar_curativo"
                                           ord="1"
                                           data-catalogo-id=""
                                           data-item-name=""
                                           class="ui-autocomplete-input cs-buscar-curativo form-control"
                                           autocomplete="off"
                                           role="textbox"
                                           aria-autocomplete="list"
                                           aria-haspopup="true">
                                    <input type="hidden" name="catalogo_id[cs][]" id="catalogo-id-cs-1" class="catalogo-id">
                                </td>
                                <td>
                                    <input type="text"
                                           size="82"
                                           name="cs_buscar_curativo"
                                           ord="1"
                                           data-catalogo-id=""
                                           data-item-name=""
                                           class="ui-autocomplete-input cs-buscar-curativo form-control"
                                           autocomplete="off"
                                           role="textbox"
                                           aria-autocomplete="list"
                                           aria-haspopup="true">
                                    <input type="hidden" name="catalogo_id[cs][]" id="catalogo-id-cs-2" class="catalogo-id">
                                </td>
                                <td>
                                    <input type="text"
                                           size="82"
                                           name="cs_buscar_curativo"
                                           ord="1"
                                           data-catalogo-id=""
                                           data-item-name=""
                                           class="ui-autocomplete-input cs-buscar-curativo form-control"
                                           autocomplete="off"
                                           role="textbox"
                                           aria-autocomplete="list"
                                           aria-haspopup="true">
                                    <input type="hidden" name="catalogo_id[cs][]" id="catalogo-id-cs-3" class="catalogo-id">
                                </td>
                                <td>
                                    <input type="text"
                                           size="82"
                                           name="cs_buscar_curativo"
                                           ord="1"
                                           data-catalogo-id=""
                                           data-item-name=""
                                           class="ui-autocomplete-input cs-buscar-curativo form-control"
                                           autocomplete="off"
                                           role="textbox"
                                           aria-autocomplete="list"
                                           aria-haspopup="true">
                                    <input type="hidden" name="catalogo_id[cs][]" id="catalogo-id-cs-4" class="catalogo-id">
                                </td>
                            </tr>

                            <tr class="have-border" style="height: 60px; vertical-align: middle;">
                                <td valign="top" width="20%">
                                    <p>
                                        <label>Tamanho</label>
                                    </p>
                                </td>
                                <td>
                                    <input type="text" readonly class="form-control cs-0" id="tamanho-cs-0" name="tamanho[cs][]">
                                </td>
                                <td>
                                    <input type="text" readonly class="form-control cs-1" id="tamanho-cs-1" name="tamanho[cs][]">
                                </td>
                                <td>
                                    <input type="text" readonly class="form-control cs-2" id="tamanho-cs-2" name="tamanho[cs][]">
                                </td>
                                <td>
                                    <input type="text" readonly class="form-control cs-3" id="tamanho-cs-3" name="tamanho[cs][]">
                                </td>
                                <td>
                                    <input type="text" readonly class="form-control cs-4" id="tamanho-cs-4" name="tamanho[cs][]">
                                </td>
                            </tr>

                            <tr class="have-border" style="height: 60px; vertical-align: middle;">
                                <td valign="top">
                                    <p>
                                        <label>Quantidade</label>
                                    </p>
                                </td>
                                <td>
                                    <input type="number" readonly class="form-control cs-0" id="quantidade-cs-0" name="quantidade[cs][]">
                                </td>
                                <td>
                                    <input type="number" readonly class="form-control cs-1" id="quantidade-cs-1" name="quantidade[cs][]">
                                </td>
                                <td>
                                    <input type="number" readonly class="form-control cs-2" id="quantidade-cs-2" name="quantidade[cs][]">
                                </td>
                                <td>
                                    <input type="number" readonly class="form-control cs-3" id="quantidade-cs-3" name="quantidade[cs][]">
                                </td>
                                <td>
                                    <input type="number" readonly class="form-control cs-4" id="quantidade-cs-4" name="quantidade[cs][]">
                                </td>
                            </tr>

                            <tr class="have-border">
                                <td valign="top">
                                    <p>
                                        <label>Período de troca</label>
                                    </p>
                                </td>
                                <td>
                                    <select name="frequencia[cs][]" readonly id="frequencia-cs-0" class="form-control cs-0">
                                        <option selected value="">Selecione...</option>
                                        <?php foreach($frequencias as $frequencia): ?>
                                            <option value="<?= $frequencia['id'] ?>"><?= ($frequencia['frequencia']) ?></option>
                                        <?php endforeach; ?>
                                    </select>
                                </td>
                                <td>
                                    <select name="frequencia[cs][]" readonly id="frequencia-cs-1" class="form-control cs-1">
                                        <option selected value="">Selecione...</option>
                                        <?php foreach($frequencias as $frequencia): ?>
                                            <option value="<?= $frequencia['id'] ?>"><?= ($frequencia['frequencia']) ?></option>
                                        <?php endforeach; ?>
                                    </select>
                                </td>
                                <td>
                                    <select name="frequencia[cs][]" readonly id="frequencia-cs-2" class="form-control cs-2">
                                        <option selected value="">Selecione...</option>
                                        <?php foreach($frequencias as $frequencia): ?>
                                            <option value="<?= $frequencia['id'] ?>"><?= ($frequencia['frequencia']) ?></option>
                                        <?php endforeach; ?>
                                    </select>
                                </td>
                                <td>
                                    <select name="frequencia[cs][]" readonly id="frequencia-cs-3" class="form-control cs-3">
                                        <option selected value="">Selecione...</option>
                                        <?php foreach($frequencias as $frequencia): ?>
                                            <option value="<?= $frequencia['id'] ?>"><?= ($frequencia['frequencia']) ?></option>
                                        <?php endforeach; ?>
                                    </select>
                                </td>
                                <td>
                                    <select name="frequencia[cs][]" readonly id="frequencia-cs-4" class="form-control cs-4">
                                        <option  selected value="">Selecione...</option>
                                        <?php foreach($frequencias as $frequencia): ?>
                                            <option value="<?= $frequencia['id'] ?>"><?= ($frequencia['frequencia']) ?></option>
                                        <?php endforeach; ?>
                                    </select>
                                </td>
                            </tr>

                            <tr>
                                <td class="collumn-description" colspan="8" valign="top" align="center" >
                                    <label>Desbridamento</label>
                                </td>
                            </tr>

                            <tr class="have-border">
                                <td valign="top" >
                                    <p>
                                        <label>Instrumental (S/N)</label>
                                    </p>
                                </td>
                                <td>
                                    <select name="instrumental[]" id="instrumental-0" class="form-control feridas-0">
                                        <option  selected value="">Selecione...</option>
                                        <option value="1">Sim</option>
                                        <option value="2">Não</option>
                                    </select>
                                </td>
                                <td>
                                    <select name="instrumental[]" id="instrumental-1" class="form-control feridas-1">
                                        <option  selected value="">Selecione...</option>
                                        <option value="1">Sim</option>
                                        <option value="2">Não</option>
                                    </select>
                                </td>
                                <td>
                                    <select name="instrumental[]" id="instrumental-2" class="form-control feridas-2">
                                        <option  selected value="">Selecione...</option>
                                        <option value="1">Sim</option>
                                        <option value="2">Não</option>
                                    </select>
                                </td>
                                <td>
                                    <select name="instrumental[]" id="instrumental-3" class="form-control feridas-3">
                                        <option  selected value="">Selecione...</option>
                                        <option value="1">Sim</option>
                                        <option value="2">Não</option>
                                    </select>
                                </td>
                                <td>
                                    <select name="instrumental[]" id="instrumental-4" class="form-control feridas-4">
                                        <option  selected value="">Selecione...</option>
                                        <option value="1">Sim</option>
                                        <option value="2">Não</option>
                                    </select>
                                </td>
                            </tr>

                            <tr class="have-border">
                                <td valign="top" >
                                    <p>
                                        <label>Cirúrgico (S/N)</label>
                                    </p>
                                </td>
                                <td>
                                    <select name="cirurgico[]" id="cirurgico-0" class="form-control feridas-0">
                                        <option  selected value="">Selecione...</option>
                                        <option value="1">Sim</option>
                                        <option value="2">Não</option>
                                    </select>
                                </td>
                                <td>
                                    <select name="cirurgico[]" id="cirurgico-1" class="form-control feridas-1">
                                        <option selected value="">Selecione...</option>
                                        <option value="1">Sim</option>
                                        <option value="2">Não</option>
                                    </select>
                                </td>
                                <td>
                                    <select name="cirurgico[]" id="cirurgico-2" class="form-control feridas-2">
                                        <option  selected value="">Selecione...</option>
                                        <option value="1">Sim</option>
                                        <option value="2">Não</option>
                                    </select>
                                </td>
                                <td>
                                    <select name="cirurgico[]" id="cirurgico-3" class="form-control feridas-3">
                                        <option  selected value="">Selecione...</option>
                                        <option value="1">Sim</option>
                                        <option value="2">Não</option>
                                    </select>
                                </td>
                                <td>
                                    <select name="cirurgico[]" id="cirurgico-4" class="form-control feridas-4">
                                        <option  selected value="">Selecione...</option>
                                        <option value="1">Sim</option>
                                        <option value="2">Não</option>
                                    </select>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </td>
                </tr>

                <tr>
                    <td class="row-periodo" colspan="8" valign="top" align="center" >
                        <label>7. Informações Complementares</label>
                    </td>
                </tr>

                <tr>
                    <td colspan="8" valign="middle">
                        <textarea name="informacoes_complementares" class="form-control" cols="80" rows="5"></textarea>
                    </td>
                </tr>

                </tbody>
            </table>
            <br>
            <button
                    name="salvar-plano-feridas"
                    class='ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only'
                    role='button'
                    id="salvar-plano-feridas"
                    type="submit">
                <span class='ui-button-text'>Salvar</span>
            </button>
        </form>
    </div>
    <div id="left">
        <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
    </div>
</div>

<div id="dialog-sem-evo-enf" title="Aviso!">
    <p>Esse paciente não possui evolução de enfermagem! Deseja continuar?</p>
</div>

<script type="text/javascript" src="/enfermagem/planserv/templates/plano-feridas/js/main.js?v=1"></script>

</body>
</html>