<?php require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>
<head>
    <meta charset="UTF-8">
    <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php'); ?>
    <link rel="stylesheet" type="text/css" href="/utils/reports.css">
    <link rel="stylesheet" href="/utils/bootstrap-3.3.6-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/utils/font-awesome-4.7.0/css/font-awesome.css" />
</head>

<style type="text/css">
    #form-encaminhamento-conduta,
    #queixa-outros-secao,
    #conduta-medica-secao,
    #remocao-secao {
        display: none;
    }
</style>

<div id="content">
    <div id="right">
        <h2 class="text-center">Encaminhamento SAC - Médico (<span class="text-capitalize"><?php echo $tipoEncaminhamento; ?></span>)</h2>
        <form id="form-encaminhamento-atendimento">
            <!-- DADOS DO SOLICITANTE-->
            <input type="hidden" name="tipo" value="<?php echo $tipoEncaminhamento; ?>" />
            <br>
            <fieldset id="dados-atendimento-secao">
                <legend><i class="fa fa-phone" aria-hidden="true"></i> Dados do Atendimento </legend>
                <div class="row">
                    <?php if($tipoEncaminhamento == 'interno'){ ?>
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="paciente">Paciente:</label>
                            <select name="paciente" class="chosen-select OBG_CHOSEN form-control" id='paciente'>
                                <option value="">Selecione...</option>
                                <?php foreach($pacientes as $paciente): ?>
                                    <option value="<?= $paciente['id'] ?>">(<?= $paciente['codigo'] ?>) <?= mb_strtoupper($paciente['nome'], 'UTF8') ?></option>
                                <?php endforeach; ?>
                            </select>
                        </div>
                    </div>
                    <?php } else{?>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for="contrato">Contrato:</label>

                                <select name="contrato" class="chosen-select OBG_CHOSEN form-control" id='contrato'>
                                    <option value="">Selecione...</option>
                                    <?php foreach($contratos as $c): ?>
                                        <option value="<?= $c['id'] ?>"> <?= mb_strtoupper($c['nome'], 'UTF8') ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for="nome-paciente">Paciente:</label>
                                <input type="text" class=" OBG form-control" name="nome-paciente" id="nome-paciente" />

                            </div>
                        </div>

                    <?php }?>
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="queixas">Queixa(s):</label>
                            <select name="queixas[]" multiple data-placeholder="Selecione uma ou várias opções..." class="chosen-select OBG_CHOSEN_MULTIPLE form-control" id='queixas'>
                                <?php foreach($tipos_queixa as $tipo_queixa): ?>
                                    <option value="<?= $tipo_queixa['id'] ?>"><?= mb_strtoupper($tipo_queixa['descricao'], 'UTF8') ?></option>
                                <?php endforeach; ?>
                            </select>
                        </div>
                    </div>

                    <div class="col-lg-12" id="queixa-outros-secao">
                        <div class="form-group">
                            <label for="queixa-outros">Qual a outra queixa?</label>
                            <textarea name="queixa_outros" rows="3" class="form-control" id='queixa-outros'></textarea>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="problemas-relatados">Problema(s) relatado(s):</label>
                            <textarea name="problemas_relatados" rows="5" class="form-control OBG" id='problemas-relatados'></textarea>
                        </div>
                    </div>
                </div>

                <div id="row">
                    <div class="col-lg-12 text-center">
                        <button type="button" id="gerar-protocolo" class="ui-button ui-widget ui-corner-all ui-button-text-only ui-state-hover">
                            <span class='ui-button-text'>Informar Conduta</span>
                        </button>
                    </div>
                </div>
            </fieldset>
        </form>

        <form id="form-encaminhamento-conduta">
            <div class="row">
                <div class="col-lg-12">
                    <h2 style="background-color: #61b000;" class="text-center" id="protocolo"></h2>
                </div>
            </div>
            <input type="hidden" name="protocolo" id="protocolo-id" value="">
            <fieldset id="conduta-adotada-secao">
                <legend><i class="fa fa-medkit" aria-hidden="true"></i> Conduta Adotada</legend>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="conduta">Conduta:</label>
                            <select name="conduta" class="form-control OBG" id='conduta' required>
                                <option value="">Selecione...</option>
                                <option value="1">Orientado</option>
                                <option value="2">Visita In Loco</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="medico">Médico Plantonista:</label>
                            <select name="medico" required class="form-control chosen-select">
                                <option selected value="">Selecione...</option>
                                <?php
                                foreach($usuariosMed as $medico):
                                    $cremeb = $medico['conselho_regional'] != '' ? "(CREMEB: {$medico['conselho_regional']}) " : '';
                                    ?>
                                    <option value="<?= $medico['idUsuarios'] ?>"><?= $cremeb . strtoupper($medico['nome']) ?></option>
                                <?php endforeach; ?>
                            </select>
                        </div>
                    </div>

                    <div class="col-lg-12" id="remocao-secao">
                        <div class="form-group">
                            <label for="houve-remocao">Houve Remoção?</label>
                            <select name="houve_remocao" class="form-control" id='houve-remocao' required>
                                <option value="">Selecione...</option>
                                <option value="1">Sim</option>
                                <option value="2">Não</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-lg-12" id="conduta-medica-secao">
                        <div class="form-group">
                            <label for="conduta-medica">Conduta Médica adotada durante o atendimento:</label>
                            <textarea name="conduta_medica" rows="5" class="form-control" required id='conduta-medica'></textarea>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="status-encaminhamento">Situação do Atendimento:</label>
                            <select name="status_encaminhamento" class="form-control OBG" id='status-encaminhamento' required>
                                <option value="">Selecione...</option>
                                <option value="1">Finalizado</option>
                                <option value="2">Em Aberto</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div id="row">
                    <div class="col-lg-12 text-center">
                        <button type="button" id="salvar-conduta" class='ui-button ui-widget ui-corner-all ui-button-text-only ui-state-hover' >
                            <span class='ui-button-text'>Salvar</span>
                        </button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div id="left">
        <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
    </div>
</div>

<script type="text/javascript" src="/sac/templates/encaminhamento/js/main.js"></script>

</body>
</html>