<?php require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>
<head>
    <meta charset="UTF-8">
    <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php'); ?>
    <link rel="stylesheet" type="text/css" href="/utils/reports.css">
    <link rel="stylesheet" href="/utils/bootstrap-3.3.6-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/utils/font-awesome-4.7.0/css/font-awesome.css" />
</head>

<style type="text/css">
    #queixa-outros-secao,
    #conduta-medica-secao,
    #remocao-secao {
        display: none;
    }
</style>

<div id="content">
    <div id="right">
        <h2 class="text-center">Encaminhamento SAC - Médico (Interno)</h2>
        <br>
        <fieldset id="dados-atendimento-secao">
            <legend><i class="fa fa-phone" aria-hidden="true"></i> Dados do Atendimento </legend>
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        <label for="tipo">Tipo:</label>
                        <span class="text-capitalize"><?= $response['tipo'] ?></span>

                    </div>
                </div>
                <?php if($response['tipo'] == 'externo'){?>
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="contrato">Contrato:</label>
                            <span class="text-capitalize"><?= $response['contrato'] ?></span>
                        </div>
                    </div>
                <?php } ?>
                <div class="col-lg-12">
                    <div class="form-group">
                        <label for="paciente">Paciente:</label>
                        <?= $response['nome_paciente'] ?>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="form-group">
                        <label for="queixas">Queixa(s):</label>
                        <?= $response['queixas'] ?>
                    </div>
                </div>

                <?php if($response['queixa_outros'] != ''): ?>
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="queixa-outros">Qual a outra queixa?</label>
                            <?= $response['queixa_outros'] ?>
                        </div>
                    </div>
                <?php endif; ?>

                <div class="col-lg-12">
                    <div class="form-group">
                        <label for="problemas-relatados">Problema(s) relatado(s):</label>
                        <?= $response['problema_relatado'] ?>
                    </div>
                </div>
            </div>
        </fieldset>

        <form id="form-encaminhamento-conduta">
            <input type="hidden" name="protocolo" id="protocolo-id" value="<?= $response['id'] ?>">
            <fieldset id="conduta-adotada-secao">
                <legend><i class="fa fa-medkit" aria-hidden="true"></i> Conduta Adotada</legend>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="conduta">Conduta:</label>
                            <select name="conduta" class="form-control OBG" id='conduta' required>
                                <option value="">Selecione...</option>
                                <option <?= $response['conduta'] == '1' ? 'selected' : '' ?> value="1">Orientado</option>
                                <option <?= $response['conduta'] == '2' ? 'selected' : '' ?> value="2">Visita In Loco</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="medico">Médico Plantonista:</label>
                            <select name="medico" required class="form-control">
                                <option selected value="">Selecione...</option>
                                <?php
                                foreach($usuariosMed as $medico):
                                    $cremeb = $medico['conselho_regional'] != '' ? "(CREMEB: {$medico['conselho_regional']}) " : '';
                                    ?>
                                    <option <?= isset($response['medico_plantonista']) && $response['medico_plantonista'] == $medico['idUsuarios'] ? 'selected' : '' ?> value="<?= $medico['idUsuarios'] ?>"><?= $cremeb . strtoupper($medico['nome']) ?></option>
                                <?php endforeach; ?>
                            </select>
                        </div>
                    </div>

                    <div class="col-lg-12" id="remocao-secao" style="display: <?= $response['conduta'] == '2' ? 'block !important;' : 'none !important;' ?>">
                        <div class="form-group">
                            <label for="houve-remocao">Houve Remoção?</label>
                            <select name="houve_remocao" class="form-control" id='houve-remocao' required>
                                <option value="">Selecione...</option>
                                <option <?= $response['remocao'] == '1' ? 'selected' : '' ?> value="1">Sim</option>
                                <option <?= $response['remocao'] == '2' ? 'selected' : '' ?> value="2">Não</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-lg-12" id="conduta-medica-secao" style="display: <?= $response['conduta'] == '1' ? 'block !important;' : 'none !important;' ?>">
                        <div class="form-group">
                            <label for="conduta-medica">Conduta Médica adotada durante o atendimento:</label>
                            <textarea name="conduta_medica" rows="5" class="form-control" required id='conduta-medica'><?= $response['conduta_medica'] ?></textarea>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="status-encaminhamento">Situação do Atendimento:</label>
                            <select name="status_encaminhamento" class="form-control OBG" id='status-encaminhamento' required>
                                <option value="">Selecione...</option>
                                <option <?= $response['status_encaminhamento'] == '1' ? 'selected' : '' ?> value="1">Finalizado</option>
                                <option <?= $response['status_encaminhamento'] == '2' ? 'selected' : '' ?> value="2">Em Aberto</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div id="row">
                    <div class="col-lg-12 text-center">
                        <button type="button" id="atualizar-conduta" class='ui-button ui-widget ui-corner-all ui-button-text-only ui-state-hover' >
                            <span class='ui-button-text'>Salvar</span>
                        </button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div id="left">
        <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
    </div>
</div>

<script type="text/javascript" src="/sac/templates/encaminhamento/js/main.js"></script>

</body>
</html>