<?php require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>
<head>
    <meta charset="UTF-8">
    <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php'); ?>
    <link rel="stylesheet" type="text/css" href="/utils/reports.css">
    <link rel="stylesheet" href="/utils/bootstrap-3.3.6-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/utils/font-awesome-4.7.0/css/font-awesome.css" />
</head>

<div id="content">
    <div id="right">
        <h2 class="text-center">Encaminhamento SAC - Médico</h2>
        <br>
        <div class="col-lg-6">
            <fieldset id="dados-atendimento-secao">
                <legend><i class="fa fa-phone" aria-hidden="true"></i> Dados do Atendimento </legend>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="tipo">Tipo:</label>
                            <span class="text-capitalize"><?= $response['tipo'] ?></span>

                        </div>
                    </div>
                    <?php if($response['tipo'] == 'externo'){?>
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="contrato">Contrato:</label>
                            <span class="text-capitalize"><?= $response['contrato'] ?></span>
                        </div>
                    </div>
                    <?php } ?>
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="paciente">Paciente:</label>
                            <?= $response['nome_paciente'] ?>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="queixas">Queixa(s):</label>
                            <?= $response['queixas'] ?>
                        </div>
                    </div>

                    <?php if($response['queixa_outros'] != ''): ?>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for="queixa-outros">Qual a outra queixa?</label>
                                <?= $response['queixa_outros'] ?>
                            </div>
                        </div>
                    <?php endif; ?>

                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="problemas-relatados">Problema(s) relatado(s):</label>
                            <?= $response['problema_relatado'] ?>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="col-lg-6">
            <fieldset id="conduta-adotada-secao">
                <legend><i class="fa fa-medkit" aria-hidden="true"></i> Conduta Adotada</legend>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="conduta">Conduta:</label>
                            <?= $response['conduta'] == '1' ? 'Orientado' : 'Visita in Loco' ?>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="medico">Médico Plantonista:</label>
                            <?= $response['medico_plantonista'] != '' ? $response['medico'] : '-' ?>
                        </div>
                    </div>

                    <?php if($response['conduta'] == '2'): ?>
                        <div class="col-lg-12" id="remocao-secao">
                            <div class="form-group">
                                <label for="houve-remocao">Houve Remoção?</label>
                                <?= $response['remocao'] == '1' ? 'Sim' : 'Não' ?>
                            </div>
                        </div>
                    <?php endif; ?>

                    <?php if($response['conduta'] == '1'): ?>
                        <div class="col-lg-12" id="conduta-medica-secao" style="display: <?= $response['conduta'] == '1' ? 'block !important;' : 'none !important;' ?>">
                            <div class="form-group">
                                <label for="conduta-medica">Conduta Médica adotada durante o atendimento:</label>
                                <?= $response['conduta_medica'] ?>
                            </div>
                        </div>
                    <?php endif; ?>

                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="status-encaminhamento">Situação do Atendimento:</label>
                            <?= $response['status_encaminhamento'] == '1' ? 'Finalizado' : 'Em Aberto' ?>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>

    </div>

    <div id="left">
        <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
    </div>
</div>

</body>
</html>