<?php require $_SERVER['DOCUMENT_ROOT'] . '/cabecalho.php' ?>
<head>
    <meta charset="UTF-8">
    <?php require_once($_SERVER['DOCUMENT_ROOT'] . '/cabecalho_fim.php'); ?>
    <link rel="stylesheet" type="text/css" href="/utils/reports.css">
    <link rel="stylesheet" href="/utils/bootstrap-3.3.6-dist/css/bootstrap.min.css" />
    <script src="/utils/bootstrap-3.3.6-dist/js/bootstrap.min.js" ></script>
    <link rel="stylesheet" href="/utils/font-awesome-4.7.0/css/font-awesome.css" />
    <style type="text/css">
        .modal-dialog {
            width: 960px;
        }
    </style>
</head>
<div id="content">
    <div id="right">
        <?php if(isset($msgErro) && !empty($msgErro)){?>
        <div class="alert alert-danger ">
            <strong class="glyphicon-info-sign glyphicon"></strong>
            Aconteceu algo de errado, entre em contato com o TI.
        </div>
        <?php } ?>
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title pull-left" style="padding-top: 7.5px;">
                    <i class="fa fa-search" aria-hidden="true"></i> Buscar Encaminhamentos Realizados</b>
                </h3>
                <div class="btn-group pull-right">
                    <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        + Novo Encaminhamento
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu label-success" aria-labelledby="dropdownMenu1">
                        <li><a href="?action=encaminhamento-novo&tipo=interno">Interno</a></li>
                        <li><a href="?action=encaminhamento-novo&tipo=externo">Externo</a></li>
                    </ul>
                </div>
            </div>
            <div class="panel-body">
                <form method="post" action="/sac/?action=buscar-lista-encaminhamentos">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for="select-tipo">Tipo:</label>
                                <select name="select-tipo" class="chosen-select form-control" id="select-tipo" >
                                    <option  <?= isset($tipo) && $tipo === 't' ? "selected" : "" ?> value="t">Todos</option>
                                    <option <?= isset($tipo) && $tipo === 'interno' ? "selected" : "" ?>  value="interno">Interno</option>
                                    <option <?= isset($tipo) && $tipo === 'externo' ? "selected" : "" ?>  value="externo">Externo</option>

                                </select>
                            </div>
                        </div>
                        <div class="col-lg-12 sumir " id="div-paciente">
                            <div class="form-group">
                                <label for="paciente">Paciente:</label>
                                <select name="paciente" class="chosen-select form-control" id='paciente'>
                                    <option value="">Selecione...</option>
                                    <?php foreach($pacientes as $paciente): ?>
                                        <option <?= isset($pacienteId) && $pacienteId === $paciente['id'] ? "selected" : "" ?> value="<?= $paciente['id'] ?>">(<?= $paciente['codigo'] ?>) <?= strtoupper($paciente['nome']) ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-12 sumir " id="div-contrato">
                            <div class="form-group">
                                <label for="contrato">Contrato:</label>
                                <select name="contrato" class="chosen-select form-control" id='contrato'>
                                    <option value="">Selecione...</option>
                                    <?php foreach($contratos as $c): ?>
                                        <option <?= isset($contratoId) && $contratoId === $c['id'] ? "selected" : "" ?> value="<?= $c['id'] ?>"> <?= mb_strtoupper($c['nome'], 'UTF8')  ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="periodo">Inicio:</label>
                                <input name="inicio" type="date" class="form-control" value='<?= isset($inicio)  ? $inicio : "" ?>' required>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="periodo">Fim:</label>
                                <input name="fim" type="date" class="form-control" value='<?= isset($fim)  ? $fim : "" ?>' required>
                            </div>
                        </div>

                        <div class="col-lg-12 text-center">
                            <div class="form-group">
                                <button type="submit"  class='ui-button ui-widget ui-corner-all ui-button-text-only ui-state-hover' >
                                    <span class='ui-button-text'>Pesquisar</span>
                                </button>
                                <button id="" type="button" class="voltar_ ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only ui-state-hover" role="button" aria-disabled="false">
                                    <span class="ui-button-text">Voltar</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-12">
                <?php
                if(isset($response)):
                    if(empty($response)) : ?>
                        <h4 class="text-center">Nenhum item encontrado.</h4>
                        <?php
                    else:
                        if(is_array($response)): ?>
                            <table class='table'>
                                <thead>
                                <th>Protocolo</th>
                                <th>Paciente</th>
                                <th>Tipo</th>
                                <th>Status</th>

                                <th>Identificação</th>
                                <th>Ações</th>
                                </thead>
                                <?php
                                foreach($response as $row):
                                    $inicio = \DateTime::createFromFormat('Y-m-d H:i:s', $row['inicio'])->format('d/m/Y à\s H:i:s');

                                    if($row['fim'] != null && $row['fim'] != '0000-00-00 00:00:00') {
                                        $fim = \DateTime::createFromFormat('Y-m-d H:i:s', $row['fim'])->format('d/m/Y à\s H:i:s');
                                    } else {
                                        $fim = "-";
                                    }
                                    $atualizado = '';
                                    $status = '<b style="color: orangered">Em Aberto</b>';
                                    $label = '';
                                    $DataHora = '';
                                    if($row['data_hora'] != null && $row['data_hora'] != '0000-00-00 00:00:00') {
                                        $atualizado = \DateTime::createFromFormat('Y-m-d H:i:s', $row['data_hora'])->format('d/m/Y à\s H:i:s');

                                        $label = '<b>Atualizado por</b>';
                                        $DataHora = ' em '.$atualizado;

                                    }
                                    if($row['status_encaminhamento'] == '1'){
                                        $status = '<b style="color: green">Finalizado</b>';
                                        $label = '<b>Finalizado por</b>';
                                        $DataHora = ' em '.$fim;
                                    }

                                    ?>
                                    <tr>
                                        <td>ECM-<?= $row['id'] ?></td>
                                        <td><?= $row['nome_paciente'] ?></td>

                                        <td>
                                            <span class="text-capitalize"><?= $row['tipo']?></span>
                                            <br>
                                            <?= $row['contrato']?>
                                        </td>
                                        <td><?= $status ?></td>

                                        <td>
                                            <b>Criado por</b> <?= $row['criado_por'] ?> em <?= $inicio ?>
                                            <br>
                                            <b><?=$label ?></b> <?= $row['atualizado_por'] ?> <?= $DataHora ?>
                                        </td>

                                        <td>
                                            <div class="dropup pull-right">
                                                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                                    Opções
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li class="dropdown-header"><b>Ações</b></li>
                                                    <li><a href="/sac/?action=visualizar-encaminhamento&ecm=<?= $row['id'] ?>" target="_blank">Visualizar</a></li>
                                                    <?php if($row['status_encaminhamento'] == '2' || $row['status_encaminhamento'] == ''): ?>
                                                        <li><a href="/sac/?action=atualizar-encaminhamento&ecm=<?= $row['id'] ?>">Atualizar Atendimento</a></li>
                                                    <?php endif; ?>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                <?php endforeach; ?>
                            </table>
                        <?php else: ?>
                            <span class="text-center"><b><?= $response ?></b></span>
                            <?php
                        endif;
                    endif;
                endif;
                ?>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade"
         id="modal-autorizar-item"
         tabindex="-1"
         role="dialog"
         data-backdrop="static"
         data-keyboard="false"
         aria-labelledby="modalDadosLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="modalAutorizarLabel">Dados do Encaminhamento</h4>
                </div>
                <div class="modal-body">
                    <form name="form-autorizacao" id="form-autorizacao" action="/adm/secmed/?action=salvar-autorizacao" method="post" enctype="multipart/form-data">
                        <input type="hidden" name="paciente" id="paciente-id" value="">
                        <input type="hidden" name="carater" id="carater" value="">
                        <input type="hidden" name="item_id" id="item-id" value="">
                        <input type="hidden" name="autorizacao_id" id="autorizacao-id" value="">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="control-label" for="qtd-item">Status da Autorização:</label>
                                    <select name="status_geral" required="true" id="status-geral" class="form-control">
                                        <option readonly value="">Selecione...</option>
                                        <option value="1">Autorizado</option>
                                        <option value="2">Autorizado Parcial</option>
                                        <option value="3">Negado</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="control-label" for="qtd-item">Arquivos da Autorização:</label>
                                    <input name="arquivos_autorizacao[]" id="arquivos-autorizacao" class="form-control" type="file" multiple>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group" id="arquivos-upload-autorizacao">

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <button type="button" class="btn btn-primary" id="autorizar-lote">Autorizar em Lote</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <table class="table table-responsive table-bordered table-hover table-striped lista-itens-autorizar">
                                    <thead>
                                    <tr>
                                        <th><input type="checkbox" class="check-all"></th>
                                        <th>Item</th>
                                        <th>Qtd. Solicitada</th>
                                        <th>Tipo</th>
                                        <th>Qtd. Autorizado</th>
                                        <th>Status</th>
                                        <th>Data Autorização</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 text-center">
                                <button type="button" class="btn btn-success" id="salvar-autorizacao">Salvar Autorização</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>

    <div id="left">
        <?php include($_SERVER['DOCUMENT_ROOT'] . '/painel_login.php'); ?>
    </div>
</div>
<script type="text/javascript" src="/utils/moment/moment.js"></script>
<script type="text/javascript" src="/sac/templates/encaminhamento/js/main.js?v=1"></script>
</body>
</html>